ul{
    list-style: none;
    height: 20rem;
    overflow: auto;
}
.scroll-overflow{
    max-height: 20rem;
    overflow: auto;
}
li{
    margin-bottom: 5px;
}

nz-checkbox-group >>> label{
    display: block;
}

nz-time-picker, nz-select, nz-date-picker{
    width:100% !important;
}
.space-btm{
    margin-bottom:1rem;
}

.space-top{
    margin-top:1rem;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin:0;
}
li.selected{
    background:#cae9ff;
}
ul{
height:fit-content;
   overflow: hidden !important;

  
}
ul.program-list li{
    padding: 2px 2px;
    font-size: 12px;
    cursor: pointer;   
    height:fit-content;
    overflow: hidden !important;
  
}
h5.available{
    color: #50c550;
    margin: 5px;
}
h5.unavailable{
    color: #ff4949;
    margin: 5px;
}
textarea{
    height:20rem;
}



.scroll-overflow > nz-radio-group label{
    margin-bottom:5px;
    display:block;
}

.main-block{
    border: 1px solid #d9d9d9;
    padding: 5px 10px 5px 10px;
    margin-left :20px;
    margin-right :20px;
}

.inner-block{
    border: 1px solid #d9d9d9;
    padding: 5px 5px 5px 5px;
    margin:5px;
}

  
 :host ::ng-deep .ant-modal .ant-modal-header {
    background-color: #F18805 !important;
    
  }

.custom-modal-style {
    background-color: transparent !important;
   
}
.list-block{
    margin-top:1rem; 
    height:200px; 
    overflow:auto;
}

.list-block2{
    
    height:220px; 
    overflow:auto;

}

.line{
    border-top: 1px solid #c5c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
}