<div class="col-md-12">
    <ng-container *ngIf="results?.length > 0">
        <table class="table table-compact table-controls">
            <thead>
                <tr>
                    <th class="left">Window User</th>
                    <th>TRACCS User</th>    
                    <th>Date</th>   
                    <th>Detail</th>     
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <td class="left">{{ result.user | uppercase  }}</td>
                    <td>{{ result.traccsUser | uppercase }}</td>
                    <td>{{ result.date }}</td>
                    <td>{{ result.detail }}</td>
                    <td>
                        <i class="material-icons edit" (click)="updateReminder(reminder);dbAction=1">edit</i>
                        <i class="material-icons delete" (click)="deleteReminder(reminder)">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <intake-no-data [data]="results?.length"></intake-no-data> 
</div>