<div class="col-md-12 dataset-group">
    <div>
        <div><label for="">Program</label></div>
        <div>{{ result?.program }}</div>
    </div>
    <div>
        <div><label for="">Funding Source</label></div>
        <div>{{ result?.funding }}</div>
    </div>
    <div>
        <div><label for="">TRACCS Activity Code</label></div>
        <div>{{ result?.traccsActivityCode }}</div>
    </div>
    <div>
        <div><label for="">Dataset this Activity will report under</label></div>
        <div>{{ result?.dataSetActivity }}</div>
    </div>
    <div>
        <div><label for="">Dataset Group</label></div>
        <div>{{ result?.dataSetGroup }}</div>
    </div>
    <div>
        <div><label for="">Activity Code(for Dataset Reporting Purposes)</label></div>
        <div>{{ result?.activityCode }}</div>
    </div>
    <div>
        <div><label for="">Carer(for Dataset Reporting Purposes)</label></div>
        <div>{{ result?.carer }}</div>
    </div>
    <div>
        <div><label for="">Service Outler ID(for CSTDA)</label></div>
        <div>{{ result?.serviceOutlet }}</div>
    </div>
</div>