<div>
    <ng-container>
        <div class="note-detail" *ngFor="let result of results">
            <div>
                <section><b>{{ result.creator }}</b></section>
                <div>{{ result.date }} | {{ result.time }}</div>
            </div>
            <div>{{ result.detail }}</div>
        </div>
    </ng-container>
    <intake-no-data [data]="results?.length"></intake-no-data> 
</div>