<div class="col-md-12w">
    <ng-container *ngIf="results?.length > 0">
        <table class="table table-compact table-controls">
            <thead>
                <tr>
                    <th class="left" style="width: 5rem;">Completed</th>
                    <th>Task</th>            
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <td class="left"><checkbox [ngModel]="result.comp"></checkbox></td>
                    <td>{{ result.task }}</td>
                    <td>
                        <i class="material-icons edit" (click)="updateReminder(reminder);dbAction=1">edit</i>
                        <i class="material-icons delete" (click)="deleteReminder(reminder)">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <intake-no-data [data]="results?.length"></intake-no-data> 
</div>