<nz-select nzAllowClear nzShowSearch *ngIf="!loadComponent" nzServerSearch [nzPlaceHolder]="'Suburb/Postcode'" [ngModel]="innerValue" [nzShowArrow]="false" [nzFilterOption]="true" (nzOnSearch)="search($event)" [nzDropdownMatchSelectWidth]="false"
     (ngModelChange)="select($event)">
         
    <nz-option *ngFor="let list of lists" [nzValue]="format(list)" [nzLabel]="format(list)"></nz-option>    
    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
    </nz-option>
</nz-select>

<nz-spin nzSimple *ngIf="loadComponent" [nzSize]="'small'"></nz-spin>