<div class="container" style="float:right">
    <div [formGroup]="filterFormGroup" nz-row style="border-bottom: 1px solid #e5e5e5;">
        
            <div class="inline">
                <span>Display Last</span> <nz-input-number formControlName="display" nzSize="small"  [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
            </div>
            <div class="inline">
                <label nz-checkbox *ngIf="!(tabs == 'OPNOTES') && !(tabs == 'CASENOTES') && !(tabs == 'INCIDENTS')" formControlName="archiveDocs"><span>Include Archived Documents</span></label> 
            </div>
            <div class="inline">
                <label nz-checkbox *ngIf="!(tabs == 'OPNOTES') && !(tabs == 'CASENOTES') && !(tabs == 'INCIDENTS')" formControlName="acceptedQuotes"><span>Include Accepted Quotes</span></label>  
            </div>

            <div class="inline">
                <label nz-checkbox *ngIf="tabs == 'CASENOTES'" formControlName="includeArchivedNotes"><span>Include Archived Notes</span></label>  
            </div>

            <div class="inline">
                <label nz-checkbox *ngIf="tabs == 'INCIDENTS'" formControlName="includeClosedIncidents"><span>Include Closed Incidents</span></label>  
            </div>

            <div class="inline">
                <label nz-checkbox formControlName="allDates"><span>All Dates</span></label>  
            </div>
            <div class="inline" *ngIf="!(filterFormGroup.get('allDates').value)">
                <nz-date-picker formControlName="startDate" [nzSize]="'small'" [nzFormat]="dateFormat" [nzPlaceHolder]="'Start Date'"></nz-date-picker>
            </div>
            <div class="inline" *ngIf="!(filterFormGroup.get('allDates').value)">
                <nz-date-picker formControlName="endDate" [nzSize]="'small'" [nzFormat]="dateFormat" [nzPlaceHolder]="'End Date'"></nz-date-picker>
            </div>
        
    </div>

    <div nz-row nzGutter="16">

        <div nz-col nzSpan="4" class="filter-icons">
            <div>
                <div class="inline">
                    <i nz-icon nzType="diff" [class.selected]="openFilter" nzTheme="outline" (click)="openFilter = !openFilter"></i>
                </div>
                <div class="inline">
                    <i nz-icon nzType="fullscreen" nzTheme="outline" (click)="deleteFilter = !deleteFilter"></i>
                </div>
                <div class="inline">
                    <i nz-icon nzType="form" nzTheme="outline" (click)="viewFilter = !viewFilter"></i>
                </div>
            </div>
        </div>

        <div nz-col nzSpan="6" *ngIf="openFilter" class="filter-icons" [formGroup]="filterFormGroup" >
            <nz-select nzAllowClear nzPlaceHolder="Limit To"  [(ngModel)]="tabs" formControlName="limitTo"  (ngModelChange)="change($event)"   >
                <nz-option *ngFor="let tab of LIMIT_TABS" [nzValue]="tab"    [nzLabel]="tab"></nz-option>
            </nz-select>
        </div>

        <div nz-col nzSpan="8" *ngIf="openFilter" class="filter-icons" [formGroup]="filterFormGroup">
            <!-- <input nz-input placeholder="Starting With" /> -->
            <ng-select 
                formControlName="startingWith"
                [items]="filterValues" 
                [virtualScroll]="true"
                [dropdownPosition]="'bottom'"
                [clearable]="false"
                [closeOnSelect]="true"
                [addTag]="true"
                [clearable]="true"                
                [nzLoading]="loading"
                (change)="limitChange($event)"
                >
                <nz-option *ngFor="let tab of filterValues" [nzValue]="tab" [nzLabel]="tab" >{{tab}}</nz-option>
              
            </ng-select>
        </div>

        <div nz-col nzSpan="5" *ngIf="openFilter" class="filter-icons">
            <button nz-button nzType="primary" (click)="apply()">Apply</button>
            <button nz-button nzType="danger" (click)="clear()">Close</button>
        </div>
       

    </div>
     <div *ngIf="filteritems.length>0 && openFilter" style="display:block; max-height:10vh; overflow:auto; margin-top:10; margin-left:110px">
        <ul >
            <li *ngFor="let item of filteritems">{{ item }}</li>
        </ul>
    </div> 
</div>