.inline{
    display:inline-block;
    margin-right: 8px;
    margin-bottom:8px;
}
span{
    font-size:11px;
    margin-right:1rem;
}
i{
    font-size: 1.5rem;
    cursor:pointer;
}
i:not(.selected):hover{
    color:#c74848;
}
.filter-icons{
    margin-top: 10px;
}
nz-select{
    width:100%;
}
button{
    margin-right:5px;
}   
.selected{
    color:#00da25;
}
.container{
    min-width: 50rem;
}

.ng-dropdown-panel {
    min-width: 100%;
}