<div class="col-md-12 space-wrapper pad">
    <div class="col-md-6" [formGroup]="alertGroup">
        <div class="form-group" style="margin-top: 15px;">
            <label for="">Health & Safety Alerts</label>
            <i class="material-icons ins-save" (click)="updateHealthAlert()"> save </i>
            <textarea name="" id="" cols="30" rows="10" formControlName="safetyAlert"></textarea>
        </div>
    </div>
    <div class="col-md-6" [formGroup]="alertGroup">
        <div class="form-group" style="margin-top: 15px;">
            <label for="">Roster Alerts</label>
            <i class="material-icons ins-save" (click)="updateRosterAlert()"> save </i>
            <textarea name="" id="" cols="30" rows="10" formControlName="rosterAlert"></textarea>
        </div>
    </div>
    <div class="col-md-12"> 
        <div class="form-group">
                <button class="add" (click)="addCompetencyModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Competency</button>
                <table class="table table-compact table-design table-controls">
                    <thead>
                        <tr>
                            <th class="index">#</th>
                            <th>Competency</th>
                            <th>Mandatory</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let competency of competencies; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ competency?.competency }}</td>
                            <td><checkbox [ngModel]="competency.mandatory" [disabled]="true"></checkbox></td>
                            <td>{{ competency?.notes }}</td>      
                            <td>
                                <i class="material-icons edit" (click)="updatecompetency(competency);dbAction=1">edit</i>
                                <i class="material-icons delete" (click)="deletecompetency(competency)">delete</i>
                            </td>        
                    </tbody>
                </table>
                <intake-no-data [loading]="loading" [data]="competencies?.length"></intake-no-data>
        </div>
    </div>  
</div>

<bs-modal class="disableOverFlow" #addCompetencyModal (onShow)="resetGroup()">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">Add Goal</h4>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" [formGroup]="competencyGroup">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="add_pos_positionID">Staff Competencies</label>
                        <select *ngIf="dbAction == 0" class="margin-space" formControlName="competencyValue" >
                            <option [value]=""></option>
                            <option *ngFor="let competency of competenciesListArr" [value]="competency">{{ competency }}</option>                  
                        </select>
                        <input *ngIf="dbAction == 1" type="text" formControlName="competencyValue" disabled>
                    </div>
                </div>    
                <div class="col-md-3">
                    <label for="mname">Mandatory</label>
                    <checkbox formControlName="mandatory"></checkbox>
                </div> 
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Notes</label>
                        <textarea name="" id="" cols="30" rows="10" formControlName="notes"></textarea>
                    </div>
                </div>
            </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="competencyProcess();addCompetencyModal.close()">Save</button>
            <button type="button" class="btn btn-danger" (click)="addCompetencyModal.close()">Cancel</button>
        </bs-modal-footer>
    </bs-modal>