
<div class="col-md-8 space-wrapper pad">
    <button class="add" (click)="addBranchModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Branch</button>
    <table class="table table-compact table-design table-controls">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Branch</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of branches; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ branch?.branch }}</td>
                <td>{{ branch?.notes }}</td>
                <td>
                    <i class="material-icons edit" (click)="updatebranch(branch);dbAction=1">edit</i>
                    <i class="material-icons delete" (click)="deletebranch(branch)">delete</i>
                </td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [loading]="loading" [data]="branches?.length"></intake-no-data>
</div>

<bs-modal class="disableOverFlow" #addBranchModal (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Add Approved Branches</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="branchGroup">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_positionID">Branch</label>
                    <select *ngIf="dbAction == 0" class="margin-space" formControlName="branch">
                        <option [value]=""></option>
                        <option *ngFor="let branch of branchesList" [value]="branch">{{ branch }}</option>                  
                    </select>
                    <input *ngIf="dbAction == 1" type="text" formControlName="branch" disabled>
                </div>
            </div>           
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_notes">Notes</label>
                    <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" [disabled]="!branchGroup.valid" (click)="branchProcess();addBranchModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="addBranchModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>