<div class="col-md-12 space-wrapper pad">
    <button class="add" (click)="addConsentModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Consent</button>
    <table class="table table-compact table-design table-controls">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Consent</th>
                <th>Expiry</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consent of consents; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ consent?.consent }}</td>
                <td>{{ consent?.expiryDate | date: 'dd/MM/y'}}</td>
                <td>{{ consent?.notes }}</td>
                <td>
                    <i class="material-icons edit" (click)="updateconsentmodal(consent);dbAction=1">edit</i>
                    <i class="material-icons delete" (click)="deleteconsent(consent)">delete</i>
                </td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [loading]="loading" [data]="consents?.length"></intake-no-data>
</div>

<bs-modal class="disableOverFlow" #addConsentModal (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Add Consent</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="consentGroup">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add_pos_positionID">Expiry Date</label>
                    <datepicker formControlName="expiryDate"></datepicker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add_pos_positionID">Consent</label>
                    <select *ngIf="dbAction == 0" class="margin-space" formControlName="consent">
                        <option [value]=""></option>
                        <option *ngFor="let list of lists" [value]="list">{{ list }}</option>                  
                    </select>
                    <input *ngIf="dbAction == 1" type="text" formControlName="consent" disabled>
                </div>
            </div>           
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_notes">Notes</label>
                    <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" [disabled]="consentGroup.value.consent == ''" (click)="consentProcess();addConsentModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="addConsentModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>