<div class="col-md-12 space-wrapper pad noselect">
    <button (click)="addOpenProcess()" class="add" [disabled]="isAuthorized"><i class="material-icons insert">add</i>Add
        Funding</button>
    <table class="table table-compact table-design selectable">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Source</th>
                <th>Program</th>
                <th>Status</th>
                <th>Case Manager</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fund of funding; let i = index" (dblclick)="updateDetails(fund)">
                <td>{{ i + 1 }}</td>
                <td>{{ fund?.source }}</td>
                <td>{{ fund?.program }}</td>
                <td>{{ fund?.status }}</td>
                <td>{{ fund?.cm }}</td>
                <td>{{ fund?.details }}</td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [data]="funding?.length"></intake-no-data>
</div>

<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'xl'">
    <h3 class="modal-title">Package/Program Details</h3>
    <div class="modal-body">
        <div class="flexy-container" style="font-size: 11px;font-weight: 100;" [formGroup]="packageDetailsGroup">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink (click)="changeTabView.next(1)">Package Details</button>

                    <clr-tab-content *clrIfActive="tab === 1">
                        <div style="padding:20px 0">
                            <div class="col-md-7">
                                <div class="form-inline">
                                    <label for="" class="nth-20">Name/ID</label>
                                    <select-custom class="nth-80" *ngIf="dropDowns.programs?.length > 0"
                                        formControlName="program" [lists]="dropDowns.programs"></select-custom>
                                </div>
                            </div>
                            <hr>

                            <div class="col-md-12 one-line">
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Type</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.types?.length > 0"
                                        formControlName="packageType" [lists]="dropDowns.types"></select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Status</label>
                                    <select-custom class="nth-50" formControlName="programStatus"
                                        [lists]="dropDowns.statuses">
                                    </select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Expire Using</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.expireUsing?.length > 0"
                                        formControlName="expireUsing" [lists]="dropDowns.expireUsing">
                                    </select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Priority</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.priorities?.length > 0"
                                        formControlName="priority" [lists]="dropDowns.priorities"></select-custom>
                                </div>
                            </div>

                            <hr>

                            <div class="col-md-12 one-line">
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Amount</label>
                                    <input class="nth-50" type="text" formControlName="quantity">
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Cost Type</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.costTypes?.length > 0"
                                        formControlName="itemUnit" [lists]="dropDowns.costTypes"></select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Per Unit</label>
                                    <select-custom *ngIf="dropDowns.perUnit?.length > 0" formControlName="perUnit"
                                        [lists]="dropDowns.perUnit"></select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Period</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.periods?.length > 0"
                                        formControlName="timeUnit" [lists]="dropDowns.periods"></select-custom>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50 align-right">Claimed</label>
                                    <select-custom class="nth-50" *ngIf="dropDowns.length?.length > 0"
                                        formControlName="period" [lists]="dropDowns.length"></select-custom>
                                </div>
                            </div>

                            <hr>

                            <div class="col-md-12">
                                <div class="grid-wrapper" style="grid-gap: 7rem;">
                                    <div class="grid-row">
                                        <div class="form-group">
                                            <label for="">Alert Type</label>
                                            <select-custom *ngIf="dropDowns.alerts?.length > 0"
                                                formControlName="aP_CostType" [lists]="dropDowns.alerts">
                                            </select-custom>
                                        </div>
                                    </div>
                                    <div class="grid-row">
                                        <div>
                                            <div class="clr-checkbox-wrapper">
                                                <input type="checkbox" id="pBal" name="checkbox-basic" value="option1"
                                                    class="clr-checkbox">
                                                <label for="pBal">Package Balance</label>
                                            </div>
                                            <div class="clr-checkbox-wrapper">
                                                <input type="checkbox" id="recU" name="checkbox-basic" value="option1"
                                                    class="clr-checkbox">
                                                <label for="recU">Recurrant Usage</label>
                                            </div>
                                        </div>
                                        <div class="one-line">
                                            <div class="form-group">
                                                <label for="" class="nth-50 align-right">Period</label>
                                                <select-custom *ngIf="dropDowns.length?.length > 0"
                                                    formControlName="period" [lists]="dropDowns.length">
                                                </select-custom>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="nth-50 align-right">Commencing</label>
                                                <datepicker></datepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-row">
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Allowed</label>
                                            <input type="text" class="nth-50">
                                        </div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Yellow Alert</label>
                                            <input type="text" class="nth-50" formControlName="aP_YellowQty">
                                        </div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Green Alert</label>
                                            <input type="text" class="nth-50" formControlName="aP_OrangeQty">
                                        </div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Red Alert</label>
                                            <input type="text" class="nth-50" formControlName="aP_RedQty">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="grid-wrapper">
                                    <div>
                                        <label for="">Contibutions And Contingencies</label>
                                    </div>
                                    <div class="grid-row">
                                        <div>
                                            <div class="display-table">
                                                <div>
                                                    <div></div>
                                                    <div>Daily</div>
                                                    <div>Monthly</div>
                                                </div>
                                                <div>
                                                    <div>Basic Care Fee:</div>
                                                    <div><input type="text"></div>
                                                    <div><input type="text"></div>
                                                </div>
                                                <div>
                                                    <div>Income Tested Fee:</div>
                                                    <div><input type="text"></div>
                                                    <div><input type="text"></div>
                                                </div>
                                                <div>
                                                    <div>Top Up Fee:</div>
                                                    <div><input type="text"></div>
                                                    <div><input type="text"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Contingency</label>
                                            <input type="text" class="nth-50">
                                        </div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Per Day Building To</label>
                                            <input type="text" class="nth-50">
                                        </div>
                                        <div class="form-inline">
                                            <label for="" class="nth-50">Currently Banked</label>
                                            <input type="text" class="nth-50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12 one-line">
                                <div class="form-inline">
                                    <label for="" class="nth-50">Start Of Current Package/Funding</label>
                                    <datepicker formControlName="startDate"></datepicker>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50">Package Term</label>
                                    <input type="text" class="nth-50">
                                </div>
                            </div>
                            <div class="col-md-12 one-line">
                                <div class="form-inline">
                                    <label for="" class="nth-50">End Of Current Funding/Placement</label>
                                    <datepicker formControlName="expiryDate"></datepicker>
                                </div>
                                <div class="form-inline">
                                    <label for="" class="nth-50">Reminder Date</label>
                                    <datepicker formControlName="reminderDate"></datepicker>
                                </div>
                            </div>
                        </div>
                    </clr-tab-content>

                </clr-tab>
                <clr-tab>
                    <button clrTabLink (click)="changeTabView.next(2)">Supplements/Fees</button>
                    <clr-tab-content *clrIfActive="tab === 2">
                        <div style="padding-top:20px;">
                            <div class="col-md-6">
                                <div class="form-group fund-wrap">
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="demen" name="checkbox-basic" value="option1"
                                            class="clr-checkbox" [(ngModel)]="checkBoxArrays[0].checked"
                                            (ngModelChange)="mainCheckBox($event, 0)"
                                            [ngModelOptions]="{standalone: true}" />
                                        <label for="demen">Dementia/Cognition/Veterans Supplement</label>
                                    </div>
                                    <clr-checkbox-container>
                                        <clr-checkbox-wrapper
                                            *ngFor="let d of checkBoxArrays | splitArr: 1: 5 ; let i = index">
                                            <input type="checkbox" clrCheckbox name="dementias" [checked]="d.checked"
                                                (change)="change(1,5);d.checked =!d.checked" [disabled]="d.disabled" />
                                            <label [class.disabled]="d.disabled">Level {{ i + 1 }}</label>
                                        </clr-checkbox-wrapper>
                                    </clr-checkbox-container>
                                </div>
                                <div class="form-group fund-wrap">
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="oxy" name="checkbox-basic" value="option1"
                                            class="clr-checkbox" [(ngModel)]="checkBoxArrays[5].checked"
                                            (ngModelChange)="mainCheckBox($event, 5)"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="oxy">Oxygen Supplement</label>
                                    </div>
                                </div>
                                <div class="form-group fund-wrap">
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="feed" name="checkbox-basic" value="option1"
                                            class="clr-checkbox" [(ngModel)]="checkBoxArrays[6].checked"
                                            (ngModelChange)="mainCheckBox($event, 6)"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="feed">Enteral Feeding Supplement</label>
                                    </div>
                                    <clr-checkbox-container>
                                        <clr-checkbox-wrapper
                                            *ngFor="let d of checkBoxArrays | splitArr: 7: 9 ; let i = index">
                                            <input type="checkbox" clrCheckbox name="dementias" [checked]="d.checked"
                                                (change)="change(7,9);d.checked =!d.checked" [disabled]="d.disabled" />
                                            <label
                                                [class.disabled]="d.disabled">{{ i == 0 ? 'Bolus' : 'No-Bolus' }}</label>
                                        </clr-checkbox-wrapper>
                                    </clr-checkbox-container>
                                </div>
                                <div class="form-group fund-wrap">
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="each" name="checkbox-basic" value="option1"
                                            class="clr-checkbox" [(ngModel)]="checkBoxArrays[9].checked"
                                            (ngModelChange)="mainCheckBox($event, 9)"
                                            [ngModelOptions]="{standalone: true}">
                                        <label for="each">EACHD Top up Supplement</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group fund-wrap">
                                    <div>
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="home" name="checkbox-basic" value="option1"
                                                class="clr-checkbox" [(ngModel)]="checkBoxArrays[10].checked"
                                                (ngModelChange)="mainCheckBox($event, 10)"
                                                [ngModelOptions]="{standalone: true}">
                                            <label for="home">Home Care Viability Supplement</label>
                                        </div>
                                    </div>
                                    <clr-checkbox-container>
                                        <clr-checkbox-wrapper
                                            *ngFor="let d of checkBoxArrays | splitArr: 11: 18 ; let i = index">
                                            <input type="checkbox" clrCheckbox name="dementias" [checked]="d.checked"
                                                (change)="change(11,18);d.checked =!d.checked"
                                                [disabled]="d.disabled" />
                                            <label [class.disabled]="d.disabled">MMM {{ i + 1 }}</label>
                                        </clr-checkbox-wrapper>
                                    </clr-checkbox-container>
                                </div>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink (click)="changeTabView.next(3)">Related Documents</button>
                    <clr-tab-content *clrIfActive="tab === 3">
                        <div style="margin-top:1rem">
                            <clr-tabs>
                                <clr-tab>
                                    <button clrTabLink (click)="changeDocView.next(1)">Quoted Plans</button>
                                    <clr-tab-content>
                                        <div>
                                            <table class="table table-compact table-design table-controls">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Quote #</th>
                                                        <th>Name</th>
                                                        <th>Quote Type</th>
                                                        <th>St</th>
                                                        <th>Valid From</th>
                                                        <th>Valid To</th>
                                                        <th>Created</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let carePlan of carePlanArray; let i = index">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>{{ carePlan.quoteNumber }}</td>
                                                        <td>{{ carePlan?.name }}</td>
                                                        <td>{{ carePlan.planType }}</td>
                                                        <td>{{ carePlan?.st }}</td>
                                                        <td>{{ carePlan.startDate | date: 'dd-MM-yyyy'  }}</td>
                                                        <td>{{ carePlan.endDate | date: 'dd-MM-yyyy'  }}</td>
                                                        <td>{{ carePlan.created }}</td>
                                                        <td>
                                                            <i class="material-icons edit">edit</i>
                                                            <i class="material-icons delete">delete</i>
                                                        </td>
                                                </tbody>
                                            </table>
                                            <intake-no-data [data]="carePlanArray?.length"></intake-no-data>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>
                                <clr-tab>
                                    <button clrTabLink (click)="changeDocView.next(2)">Accepted Plans</button>
                                    <clr-tab-content>
                                        <div>
                                            <table class="table table-compact table-design table-controls">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Plan Type</th>
                                                        <th>St</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Created</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let carePlan of carePlanArray; let i = index">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>{{ carePlan?.name }}</td>
                                                        <td>{{ carePlan.planType }}</td>
                                                        <td>{{ carePlan?.st }}</td>
                                                        <td>{{ carePlan.startDate | date: 'dd/MM/yyyy' }}</td>
                                                        <td>{{ carePlan.endDate | date: 'dd/MM/yyyy' }}</td>
                                                        <td>{{ carePlan.created }}</td>
                                                        <td>
                                                            <i class="material-icons edit">edit</i>
                                                            <i class="material-icons delete">delete</i>
                                                        </td>
                                                </tbody>
                                            </table>
                                            <intake-no-data [data]="carePlanArray?.length"></intake-no-data>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>
                                <clr-tab>
                                    <button clrTabLink (click)="changeDocView.next(3)">Other Documents</button>
                                    <clr-tab-content>
                                        <div>
                                            <table class="table table-compact table-design table-controls">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Document Name</th>
                                                        <th>Created</th>
                                                        <th>St</th>
                                                        <th>Care Domain</th>
                                                        <th>Discipline</th>
                                                        <th>Class</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let carePlan of carePlanArray; let i = index">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>{{ carePlan?.fileName }}</td>
                                                        <td>{{ carePlan.created }}</td>
                                                        <td>{{ carePlan?.st }}</td>
                                                        <td>{{ carePlan.modified }}</td>
                                                        <td>{{ carePlan.name }}</td>
                                                        <td>{{ carePlan.startDate }}</td>
                                                        <td>
                                                            <i class="material-icons edit">edit</i>
                                                            <i class="material-icons delete">delete</i>
                                                        </td>
                                                </tbody>
                                            </table>
                                            <intake-no-data [data]="carePlanArray?.length"></intake-no-data>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>

                            </clr-tabs>
                        </div>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink (click)="changeTabView.next(4)">Statement of Credits And Usage</button>
                    <clr-tab-content *clrIfActive="tab === 4">
                        <div class="col-md-12 wrap-scroll">
                            <table class="table table-compact table-noborder package-table">
                                <thead>
                                    <tr>
                                        <th class="left">Description</th>
                                        <th>Date</th>
                                        <th>Usage Details</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let tab of carePlanArray">
                                        <tr>
                                            <td class="left">
                                                <p class="package-header">{{ tab?.key }}</p>
                                            </td>
                                        </tr>
                                        <tr class="table-content" *ngFor="let samp of tab?.value">
                                            <td class="left">{{samp?.Description}}</td>
                                            <td>{{samp?.Date}}</td>
                                            <td>{{ samp.UsageDetails }}</td>
                                            <td>{{samp?.Amount | currency: 'USD' }}</td>
                                        </tr>

                                    </ng-container>
                                </tbody>
                            </table>
                            <intake-no-data [data]="carePlanArray?.length"></intake-no-data>
                        </div>
                    </clr-tab-content>
                </clr-tab>

            </clr-tabs>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="openModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    </div>

</clr-modal>