
<div class="col-md-12 space-wrapper pad">
    <button class="add" (click)="addGoalModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Goal</button>
    <table class="table table-compact table-design table-controls">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Anticipated Date</th>
                <th>Last Review</th>
                <th>Completed</th>
                <th>%</th>
                <th style="width:20rem">Goals</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let goal of goals; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ goal?.achievementDate  | date: 'dd/MM/y' }}</td>
                <td>{{ goal?.lastReviewed | date: 'd/M/yyyy' }}</td>
                <td>{{ goal?.dateAchieved  | date: 'dd/MM/y' }}</td>
                <td>{{ goal?.achievement }}</td>
                <td>{{ goal?.goal }}</td>
                <td>
                    <i class="material-icons edit" (click)="updategoal(goal);dbAction=1">edit</i>
                    <i class="material-icons delete" (click)="delete(goal)">delete</i>
                </td>
            </tr>
        </tbody>
    </table>    
    <intake-no-data [loading]="loading" [data]="goals?.length"></intake-no-data>
</div>


<bs-modal class="disableOverFlow" #addGoalModal [size]="'lg'" (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Add Goal</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="goalGroup">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_positionID">Goal</label>
                    <select *ngIf="dbAction == 0" class="margin-space" formControlName="goal" >
                        <option [value]=""></option>
                        <option *ngFor="let goals of goalsArr" [value]="goals">
                            <div class="option-wrap">{{ (goals.length>100)? (goals | slice:0:80)+'..':(goals)   }}</div>
                        </option>                  
                    </select>
                    <input *ngIf="dbAction == 1" type="text" formControlName="goal" disabled>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Anticipated Date</label>
                    <datepicker formControlName="achievementDate"></datepicker>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Last Reviewed</label>
                    <datepicker formControlName="lastReviewed"></datepicker>
                </div>
            </div>       
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Date Achievement</label>
                    <datepicker formControlName="dateAchieved"></datepicker>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Achievement Index</label>
                    <select class="margin-space" formControlName="achievementIndex">
                        <option [value]=""></option>
                        <option *ngFor="let achievement of achievementIndexArr" [value]="achievement">{{ achievement }}</option>                  
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Percent Achieved</label>
                    <input type="number" onKeyPress="if(this.value.length==3) return false;" formControlName="achievement" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_notes">Notes</label>
                    <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">        
        <button type="button" class="btn btn-default" (click)="addGoalModal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!goalGroup.valid" (click)="goalProcess();addGoalModal.close()">Save</button>
    </bs-modal-footer>
</bs-modal>