<div class="col-md-12">
        <div class="col-md-8 space-wrapper pad">
            <button class="add" (click)="userGroupModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Defined Group</button>
            <h4>User Defined Group/Types</h4>          
            <table class="table table-compact table-design table-controls">
                <thead>
                    <tr>
                        <th class="index">#</th>
                        <th>Group</th>
                        <th>Mobile Alert</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let type of groupTypes; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ type?.group }}</td>
                        <td>
                            <checkbox [ngModel]="type.mobileAlert" [disabled]="true"></checkbox>
                        </td>
                        <td>{{ type?.notes }}</td>
                        <td>
                            <i class="material-icons edit" (click)="updateUserGroup(type);dbAction=1">edit</i>
                            <i class="material-icons delete" (click)="deleteUserGroup(type)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <intake-no-data [loading]="loading" [data]="groupTypes?.length"></intake-no-data>
        </div>

        <div class="col-md-8 space-wrapper">
            <button class="add" (click)="preferencesModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Recipient Preference</button>
            <h4>Recipient Preferences</h4>
            <table class="table table-compact table-design table-controls">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Preference</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let preference of groupPreferences; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ preference?.preference }}</td>
                        <td>{{ preference?.notes }}</td>
                        <td>
                            <i class="material-icons edit" (click)="updatePreference(preference);dbAction=1">edit</i>
                            <i class="material-icons delete" (click)="deletePreference(preference)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <intake-no-data [loading]="loading" [data]="groupPreferences?.length"></intake-no-data>
        </div>
</div>

<bs-modal #userGroupModal (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">
            <ng-container *ngIf="dbAction == 0">Add </ng-container>
            <ng-container *ngIf="dbAction == 0">Update </ng-container>
            User Group
        </h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="userGroupForm">

            <div class="form-group col-md-6">
                <label for="add_pos_positionID">Group</label>
                <select *ngIf="dbAction == 0" class="margin-space" formControlName="group">
                    <option [value]=""></option>
                    <option *ngFor="let groups of dropDowns?.userGroups" [value]="groups">{{ groups }}</option>                  
                </select>
                <input *ngIf="dbAction == 1" type="text" formControlName="group" disabled>
            </div>          
            <div class="form-group col-md-6">
                <label for="mname">Display Alert on Mobile App</label>
                <checkbox formControlName="alert"></checkbox>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_notes">Notes</label>
                    <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" [disabled]="!userGroupForm.valid" (click)="userGroupProcess();userGroupModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="userGroupModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #preferencesModal (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">
            <ng-container *ngIf="dbAction == 0">Add </ng-container>
            <ng-container *ngIf="dbAction == 0">Update </ng-container>
                Recipient Preferences
        </h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="preferenceForm">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_positionID">Preference</label>
                    <select *ngIf="dbAction == 0" class="margin-space" formControlName="preference">
                        <option [value]=""></option>
                        <option *ngFor="let preference of dropDowns?.preferences" [value]="preference">{{ preference }}</option>                  
                    </select>
                    <input *ngIf="dbAction == 1" type="text" formControlName="preference" disabled>
                </div>
            </div>           
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_notes">Notes</label>
                    <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" [disabled]="!preferenceForm.valid" (click)="preferenceProcess();preferencesModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="preferencesModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>