<div class="home-wrapper">
    <div class="col-md-1">
        <ul class="bullet-none">
            <li routerLink="branches" routerLinkActive="active-tab"><span><i class="material-icons"> store </i> <b>Branches</b></span></li>
            <li routerLink="funding" routerLinkActive="active-tab"><span><i class="material-icons"> attach_money </i> <b>Funding</b></span></li>
            <li routerLink="goals" routerLinkActive="active-tab"><span><i class="material-icons"> school </i> <b>Goals</b></span></li>
            <li routerLink="plans" routerLinkActive="active-tab"><span><i class="material-icons"> today </i> <b>Plans</b></span></li>
            <!-- <li routerLink="care-plan" routerLinkActive="active-tab"><span>Care Plans</span></li> -->
            <li routerLink="services" routerLinkActive="active-tab"><span><i class="material-icons"> child_care </i> <b>Services</b></span></li>
            <!-- <li routerLink="placements" routerLinkActive="active-tab"><span>Placements</span></li> -->
            <li routerLink="staff" routerLinkActive="active-tab"><span><i class="material-icons"> person_pin </i> <b>Staff</b></span></li>
            <li routerLink="alerts" routerLinkActive="active-tab"><span><i class="material-icons"> add_alert </i> <b>Alerts</b></span></li>
            <li routerLink="consents" routerLinkActive="active-tab"><span><i class="material-icons"> confirmation_number </i> <b>Consents</b></span></li>
            <li routerLink="groups" routerLinkActive="active-tab"><span><i class="material-icons"> group </i> <b>Groups</b></span></li>
        </ul>
    </div>
    <div class="col-md-11">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>