<div class="col-md-12">
        <option-controls></option-controls>
</div>
<div class="col-md-12 space-wrapper">
    <table class="table table-compact table-design">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Carer</th>
                <th>Start</th>
                <th>End</th>
                <th>Referral</th>
                <th>ATC</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let placement of placements; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ placement?.type }}</td>
                <td>{{ placement?.carer }}</td>
                <td>{{ placement?.startDate | date: 'd/M/yyyy'  }}</td>
                <td>{{ placement?.endDate | date: 'd/M/yyyy' }}</td>
                <td>{{ placement?.referral }}</td>
                <td>{{ placements?.atc }}</td>
                <td>{{ placements?.notes }}</td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [loading]="loading" [data]="placements?.length"></intake-no-data>
</div>