
<div class="col-md-12 space-wrapper pad">
    <button class="add" (click)="addPlanModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Plan</button>
    <table class="table table-compact table-design">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Name/Description</th>
                <th>Plan Type</th>
                <th>St</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Filename</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of plans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ plan?.carePlan }}</td>
                <td>{{ plan?.planType }}</td>
                <td>{{ plan?.st }}</td>
                <td>{{ plan?.startDate | date: 'd/M/yyyy' }}</td>
                <td>{{ plan?.endDate | date: 'd/M/yyyy' }}</td>
                <td>{{ plan?.created }}</td>
                <td>{{ plan?.modified }}</td>
                <td>{{ plan?.filename }}</td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [loading]="loading" [data]="plans?.length"></intake-no-data>
</div>

<bs-modal class="disableOverFlow" #addPlanModal (onShow)="resetGroup()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Add Goal</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="planGroup">
            
            <div class="form-group col-md-3">        
                <label for="">Notes</label>
                <input type="text" formControlName="id"/>    
            </div>
    
        
            <div class="form-group col-md-9">
                <label for="add_pos_positionID">Plan Type</label>
                <select *ngIf="dbAction == 0" class="margin-space" formControlName="planType" >
                    <option [value]=""></option>
                    <option *ngFor="let plan of carePlanArr" [value]="plan">
                        <div class="option-wrap">{{ plan }}</div>
                    </option>                  
                </select>
                <input *ngIf="dbAction == 1" type="text" disabled>
            </div>
       
 
            <div class="form-group col-md-6">
                <label for="add_pos_positionID">Care Domain</label>
                <select *ngIf="dbAction == 0" class="margin-space" formControlName="careDomain" >
                    <option [value]=""></option>
                    <option *ngFor="let domain of careDomainArr" [value]="domain">
                        <div class="option-wrap">{{ domain  }}</div>
                    </option>                  
                </select>
                <input *ngIf="dbAction == 1" type="text" disabled>
            </div>
        
        
            <div class="form-group col-md-6">
                <label for="add_pos_positionID">Discipline</label>
                <select *ngIf="dbAction == 0" class="margin-space" formControlName="discipline" >
                    <option [value]=""></option>
                    <option *ngFor="let dicipline of diciplineArr" [value]="dicipline">
                        <div class="option-wrap">{{ dicipline }}</div>
                    </option>                  
                </select>
                <input *ngIf="dbAction == 1" type="text" disabled>
            </div>
                 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_positionID">Program</label>
                    <select *ngIf="dbAction == 0" class="margin-space" formControlName="program">
                        <option [value]=""></option>
                        <option *ngFor="let program of programsArr" [value]="program">
                            <div class="option-wrap">{{ program }}</div>
                        </option>                  
                    </select>
                    <input *ngIf="dbAction == 1" type="text" disabled>
                </div>
            </div>         

            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Start Date</label>
                    <datepicker formControlName="startDate"></datepicker>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Sign Off Date</label>
                    <datepicker formControlName="signOffDate"></datepicker>
                </div>
            </div>       
            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_pos_positionID">Review Date</label>
                    <datepicker formControlName="reviewDate"></datepicker>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="add_pos_positionID">Reminder Text</label>
                    <input type="text" formControlName="reminder">
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="planProcess();addPlanModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="addPlanModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>