<div class="col-md-12 space-wrapper pad">
    <button class="add" (click)="addServiceModal.open();resetGroup();billtoDropDown();dbAction=0"><i class="material-icons insert">add</i>Add Service</button>
    <table class="table table-compact table-design table-controls">
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Activity</th>
                <th>Funded Under</th>
                <th>Status</th>
                <th>Service Profile</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ service?.activity }}</td>
                <td>{{ service?.funding }}</td>
                <td>{{ service?.status }}</td>
                <td>{{ service?.serviceProfile }}</td>
                <td>
                    <i class="material-icons edit" (click)="updateservice(service);dbAction=1">edit</i>
                    <i class="material-icons delete" (click)="deleteservice(consent)">delete</i>
                </td>
            </tr>
        </tbody>
    </table>
    <intake-no-data [loading]="loading" [data]="services?.length"></intake-no-data>
</div>

<clr-modal class="disableOverFlow" #addServiceModal  [clrModalSize]="'xl'">
        <h3 class="modal-title">
            Add Service Information
        </h3>
        <div class="modal-body">
            <div class="col-md-12" [formGroup]="serviceGroup">
                <div class="col-md-6">                  
                    <div class="group-wrap">
                        <div class="form-group col-md-6">
                            <label>Status</label>
                            <select class="margin-space" formControlName="status">
                                <option [value]=""></option>
                                <option *ngFor="let status of statusArr" [value]="status">{{ status }}</option>                  
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mname">Include Case Management</label>
                            <checkbox formControlName="includeCase"></checkbox>
                        </div>                   
                        <div class="form-group col-md-6">
                            <label>Program</label>
                            <select class="margin-space" formControlName="program" (change)="programChange($event.target.value)">
                                <option [value]=""></option>
                                <option *ngFor="let program of programsArr" [value]="program">{{ program }}</option>                  
                            </select>                        
                        </div>
                        <div class="form-group col-md-6">
                            <label>Activity</label>
                            <select class="margin-space" formControlName="activity">
                                <option [value]=""></option>
                                <option *ngFor="let activity of activityArr" [value]="activity">{{ activity }}</option>                  
                            </select>
                        </div>           
                    </div>       
                </div>
                <div class="col-md-3">
                    <div class="group-wrap">
                        <div class="form-group col-md-6">
                            <label for="mname">Frequency</label>
                            <input type="text" formControlName="frequency" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mname">Duration</label>
                            <input type="text" formControlName="duration" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="mname">Period</label>
                            <select class="margin-space" formControlName="period">
                                <option [value]=""></option>
                                <option *ngFor="let period of periodArr" [value]="period">{{ period }}</option>                  
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="group-wrap">
                            <div class="form-group col-md-6">
                                <label for="mname">Type</label>
                                <input type="text" formControlName="frequency" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mname">Amount</label>
                                <input type="text" formControlName="duration" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="mname"></label>
                                <select class="margin-space" formControlName="period">
                                    <option [value]=""></option>
                                    <option *ngFor="let period of periodArr" [value]="period">{{ period }}</option>                  
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12" [formGroup]="serviceGroup">
                <div class="col-md-7">
                    <div class="group-wrap">
                        <div class="form-group col-md-12">
                           <label for="add_pos_notes">Service Competencies</label>
                           <i _ngcontent-c4="" class="material-icons add-i" (click)="competencyDropDown();addCompetencyModal.open()"> add </i>
                           <div>
                                <table id="imptTable" class="table table-compact table-controls margin-none">
                                    <thead>
                                        <tr>
                                            <th class="left col-md-5">Competency</th>
                                            <th class="col-md-5">Mandatory</th>
                                            <th class="col-md-2" style="height: 28px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="competencies">
                                        <tr *ngFor="let competency of serviceGroup.get('competencies')['controls'];let idx = index" [formGroupName]="idx">
                                            <td  class="left col-md-5">{{ competency.value.name }}</td>
                                            <td class="col-md-5"><checkbox formControlName="recurring"></checkbox></td>
                                            <td class="col-md-2">
                                                <i class="material-icons delete" (click)="deleteCompetency(competency.value.name)">delete</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="add_pos_notes">Service Notes</label>
                            <textarea name="" id="add_pos_notes" cols="30" rows="10" style="height:2.8rem" formControlName="notes"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="mname">Auto Insert Notes to Roster</label>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox formControlName="autoInsertNotes" [disabled]="excludeNDIADisable" style="display:inline-block;margin-left:10px"/>
                                <label></label>
                            </clr-checkbox-wrapper>
                            <!-- <checkbox formControlName="autoInsertNotes" style="display:inline-block;margin-left:10px"></checkbox> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-wrap">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label for="mname">Use Special Pricing</label>
                                <clr-checkbox-wrapper>
                                    <input type="checkbox" clrCheckbox formControlName="specialPricing" (ngModelChange)="pricingChange($event)" />
                                    <label></label>
                                </clr-checkbox-wrapper>
                                <!-- <checkbox formControlName="specialPricing" (ngModelChange)="pricingChange($event)"></checkbox> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="group-wrap">
                                <div class="form-group col-md-12">
                                    <label for="mname">Bill Unit</label>
                                    <select class="margin-space" formControlName="billUnit">
                                        <option [value]=""></option>
                                        <option *ngFor="let unit of billUnitArr" [value]="unit">{{ unit }}</option>                  
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="mname">Bill To</label>
                                    <select class="margin-space" formControlName="billTo">
                                        <option [value]=""></option>
                                        <option *ngFor="let billto of billToArr" [value]="billto">{{ billto }}</option>                  
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">GST</label>
                                    <clr-checkbox-wrapper>
                                        <input type="checkbox" clrCheckbox formControlName="gst" [disabled]="gstDisable" />
                                        <label></label>
                                    </clr-checkbox-wrapper>
                                    <!-- <checkbox formControlName="gst" [disabled]="gstDisable"></checkbox> -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">Amount</label>
                                    <input type="text" formControlName="amount" />
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="mname">Exlude from NDIA Price Updates</label>
                                    <clr-checkbox-wrapper>
                                        <input type="checkbox" clrCheckbox formControlName="excludeNDIA" [disabled]="excludeNDIADisable" />
                                        <label></label>
                                    </clr-checkbox-wrapper>
                                    <!-- <checkbox formControlName="excludeNDIA" [disabled]="excludeNDIADisable"></checkbox> -->
                                </div>
                            </div>
                        </div>
                       <div class="col-md-12">
                           
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">       
            <button type="button" class="btn btn-default" (click)="addServiceModal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="serviceProcess()">Save</button>
        </div>
    </clr-modal>




    <clr-modal [clrModalSize]="'sm'" #addCompetencyModal >
        <h3 class="modal-title">
           Add Competency
        </h3>
        <div class="modal-body">
            <div class="form-group">
                <select class="margin-space" [(ngModel)]="selectedCompetency">
                    <option [value]=""></option>
                    <option *ngFor="let competency of competenciesArr" [value]="competency.description">{{ competency.description }}</option>                  
                </select>                    
            </div>            
        </div>
        <div class="modal-footer">            
            <button type="button" class="btn btn-default" (click)="addCompetencyModal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="addCompetency(selectedCompetency)">Save</button>
        </div>
    </clr-modal>