<div class="col-md-12">
    <div class="col-md-10 space-wrapper pad">    
        
        <button class="add" (click)="addStaffModal.open();dbAction=0;whatstaff=0"><i class="material-icons insert">add</i>Add Excluded Staff</button>
        <table class="table table-compact table-design table-controls">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of excludedStaff; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ staff?.name }}</td>
                    <td>{{ staff?.notes }}</td>
                    <td>
                        <i class="material-icons edit" (click)="updatestaff(staff);dbAction=1">edit</i>
                        <i class="material-icons delete" (click)="deletestaff(staff)">delete</i>
                    </td>  
                </tr>
            </tbody>
        </table>
        <intake-no-data [loading]="loading" [data]="excludedStaff?.length"></intake-no-data>
    </div>
    <div class="col-md-10 space-wrapper pad">
        
        <button class="add" (click)="addStaffModal.open();dbAction=0;whatstaff=1"><i class="material-icons insert">add</i>Add Approved Staff</button>
        <table class="table table-compact table-design table-controls">
            <thead>
                <tr>
                    <th class="index">#</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of includedStaff; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ staff?.name }}</td>
                    <td>{{ staff?.notes }}</td>
                    <td>
                        <i class="material-icons edit" (click)="updatestaff(staff);dbAction=1">edit</i>
                        <i class="material-icons delete" (click)="deletestaff(staff)">delete</i>
                    </td>  
                </tr>
            </tbody>
        </table>
        <intake-no-data [loading]="loading" [data]="includedStaff?.length"></intake-no-data>
    </div>

</div>

<bs-modal class="disableOverFlow" #addStaffModal (onShow)="resetGroup()">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">
                <ng-container><span *ngIf="dbAction ==0">Add </span><span *ngIf="dbAction==1">Update </span></ng-container>
                <ng-container><span *ngIf="whatstaff ==0">Excluded </span><span *ngIf="whatstaff==1">Approved </span></ng-container> Staff
            </h4>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" [formGroup]="staffGroup">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="add_pos_positionID">Staff Account Name</label>
                        <select *ngIf="dbAction == 0" class="margin-space" formControlName="name" >
                            <option [value]=""></option>
                            <option *ngFor="let staff of staffListArr" [value]="staff">
                                {{ staff }}
                            </option>                  
                        </select>
                        <input *ngIf="dbAction == 1" type="text" formControlName="name" disabled>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="add_pos_notes">Notes</label>
                        <textarea name="" id="add_pos_notes" cols="30" rows="10" formControlName="notes"></textarea>
                    </div>
                </div>
            </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" [disabled]="!staffGroup.valid" (click)="staffProcess();addStaffModal.close()">Save</button>
            <button type="button" class="btn btn-danger" (click)="addStaffModal.close()">Cancel</button>
        </bs-modal-footer>
    </bs-modal>