<div class="action-wrap">
    <button [class.approved]="in_data?.approved" (click)="showOption()">
        <i class="material-icons settings">settings</i>
        <i class="material-icons vert">more_vert</i>
    </button>
    <div [hidden]="!show.show" class="options">
        <ul>
            <li *ngIf="status == 0" (click)="outData(false,'start')">Start Job</li>
            <li *ngIf="status == 1" (click)="outData(false,'end')">End Job</li>
            <li *ngIf="!in_data?.approved" class="claimVar" (click)="outData(true,'claim')">Claim Variation</li>
            <li *ngIf="disableBtns?.allowTravelEntry == 'True'" (click)="outData(true,'tclaim')">Travel Claim</li>
            <li *ngIf="disableBtns?.allowRosterNoteEntry == 'True'" (click)="outData(true,'rnote')">Roster Note</li>
            <li *ngIf="disableBtns?.allowIncidentEntry == 'True'" (click)="outData(true,'rincident')">Record Incident</li>
            <li *ngIf="disableBtns?.allowOPNote == 'True'" (click)="outData(true,'opnote')">OP Note</li>
            <li *ngIf="disableBtns?.allowCaseNote == 'True'" (click)="outData(true,'casenote')">Case Note</li>
        </ul>    
        <!-- <ul>
            <li (click)="outData(true,'claim')">Claim Variation</li>
            <li (click)="outData(true,'tclaim')">Travel Claim</li>
            <li (click)="outData(true,'rnote')">Roster Note</li>
            <li (click)="outData(true,'rincident')">Record Incident</li>
            <li (click)="outData(true,'opnote')">OP Note</li>
            <li (click)="outData(true,'casenote')">Case Note</li>
        </ul>     -->
    </div>
</div>
