<clr-tree-node [(clrSelected)]="selected">
    Permissions
    <ng-template [clrIfExpanded]="true">
        <clr-tree-node
                *ngFor="let permission of permissions"
                [(clrSelected)]="permission.selected">
            {{permission.type}}
            <ng-template [(clrIfExpanded)]="permission.expanded">
                <clr-tree-node *ngFor="let right of permission.rights" [(clrSelected)]="right.enable">
                    {{right.name}}
                </clr-tree-node>
            </ng-template>
        </clr-tree-node>
    </ng-template>
</clr-tree-node>