<table class="table table-noborder table-compact" *ngIf="source">
    <thead>
        <tr>
           <td *ngFor="let column of columns">{{ column }}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of source">
            <td *ngFor="let data of list | keys">
                {{ data.value }}
            </td>
        </tr>
    </tbody>
</table>