<div>
    <input [(ngModel)]="value" class="checkbox-custom" type="checkbox">
    <label class="checkbox-custom-label" [class.disabled]="disabled" *ngIf="!value" (click)="value = disabled ? false : true"></label>
    <label class="checkbox-custom-label-checked" [class.disabled]="disabled" *ngIf="value" (click)="value = disabled ? true : false"></label>
    <span (click)="highlight()">
        <ng-content></ng-content>
    </span>
</div>