<div>
    <div class="col-md-9" [formGroup]="kindetailsGroup">
        <div class="col-md-9">
            <div class="form-group form-group-flex">
                <label>Type</label>
                <input type="text" id="aForm_1" formControlName="type" style="text-transform:uppercase">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Name</label>
                <input type="text" id="aForm_1" formControlName="name">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Address 1</label>
                <input type="text" id="aForm_1" formControlName="address1">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Address 2</label>
                <input type="text" id="aForm_1" formControlName="address2">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Suburb</label>
                <suburb formControlName="suburbcode"></suburb>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-flex">
                <label>Phone 1</label>
                <!-- <input type="text" id="aForm_1" formControlName="phone1"> -->
                <phonefax formControlName="phone1"></phonefax>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-flex">
                <label>Phone 2</label>
                <phonefax formControlName="phone2"></phonefax>
                <!-- <input type="text" id="aForm_1" formControlName="phone2"> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-flex">
                <label>Mobile</label>
                <phonefax formControlName="mobile"></phonefax>
                <!-- <input type="text" id="aForm_1" formControlName="mobile"> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-flex">
                <label>Fax</label>
                <phonefax formControlName="fax"></phonefax>
                <!-- <input type="text" id="aForm_1" formControlName="fax"> -->
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Email</label>
                <input type="email" id="aForm_1" formControlName="email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-flex">
                <label>List Order</label>
                <input type="text" id="aForm_1" formControlName="listOrder">
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox" style="margin:0">
                    <input type="checkbox" id="update_contact_oni1" formControlName="oni1" (change)="oniProcess($event.target.checked,'oni1',kindetailsGroup)">
                    <label for="update_contact_oni1">ONI Person 1</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox" style="margin:0">
                    <input type="checkbox" id="update_contact_oni2" formControlName="oni2" (change)="oniProcess($event.target.checked,'oni2',kindetailsGroup)">
                    <label for="update_contact_oni2">ONI Person 2</label>
                </div>
            </div>
        </div> -->
        <div class="col-md-12">
            <div class="form-group form-group-flex">
                <label>Notes</label>
                <textarea name="" id="" cols="30" rows="10" formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-icon btn-primary btn-sm" title="Update Contact" (click)="update()">Save</button>
        <button type="button" class="btn btn-icon btn-danger btn-sm" title="Delete Contact" (click)="delete()"> Delete</button>
    </div>
</div>