<div class="drag-wrapper">
    <div class="drag-outer" [class.gwapo]="onEnter" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" >
        <i class="material-icons download-pic"> get_app </i>
        <div class="col-md-12">
            <div class="drag-title" *ngIf="errors?.length == 0">
                <span>{{ displayString }}</span>
                <input type="file" name="file" id="file" multiple="multiple" (change)="onChange($event)">
                <div *ngIf="fileArr?.length == 0"><label for="file">BROWSE</label></div>
                <div *ngIf="fileArr?.length > 0"><b *ngIf="!standalone" (click)="upload()">Upload All</b> <span *ngIf="!standalone"> | </span> <b (click)="clear(true)">Clear</b> </div>
            </div>
            <div class="drag-title" *ngIf="errors?.length > 0">Only 5 files are allowed per upload. <b (click)="clear(true)">Clear</b></div>
        </div>
    </div>
    <div style="max-width:12rem;margin:0 auto;">
      <ul *ngIf="fileArr?.length > 0">
        <ng-container *ngFor="let file of fileArr">
          <li>
            <div style="display:flex">
              <div class="filetype-logo" [style.background-position]="getPositionImg(file)"></div>
              <div class="file-name">
                <div>{{ file.name | fileNameFilter }}</div>
                <div>{{ file.size | fileSizeFilter }}</div>
              </div>
              <div style="display: flex; align-items: center;">
                <a *ngIf="file.fileIsAlreadyUploaded" href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs">
                  <clr-icon shape="exclamation-triangle" class="warning"></clr-icon>
                  <span class="tooltip-content">File will override the current copy</span>
                </a>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
      <div class="progress success"  style="font-size:1px" *ngIf="fileArr?.length > 0">
        <progress max="100" [value]="uploadProgress" data-displayval="0"></progress>
      </div>
      <div *ngIf="uploadReady" style="text-align:center">
        <span class="spinner spinner-md">
          Loading...
        </span>
      </div>
    </div>
</div>
