<clr-header class="header header-3" [ngStyle]="bgColor">
    <div class="branding">
        <a class="nav-link" (click)="toHome()">
            <div class="logo-header"></div>
            <!-- <span class="title">Traccs {{ view }}</span> -->
        </a>
    </div>
    <!-- <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
            <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
        </div> -->
    <div class="header-actions" style="position:relative">
        <button class="nav-icon btn-logout" (click)="open = !open">
            <i class="material-icons"> person_outline </i>
            <i class="material-icons"> expand_more </i>
        </button>
        <div class="dropdowns" *ngIf="open">
            <ul>
                <li *ngIf="ifClientAdmin" (click)="toLoginSessions()">Login Sessions</li>
                <li *ngIf="ifClientManager" (click)="toBelongsTo();open=false">Client Members</li>
                <li (click)="toUserSettings();open=false">User Settings</li>
                <li (click)="logout()">Logout</li>
            </ul>
            <!-- <span clrDropdownItem (click)="toBelongsTo()">Client Members</span>
                    <span (click)="logout()" clrDropdownItem>Log out</span> -->
        </div>
    </div>
</clr-header>