<div class="alert alert-info" style="margin-bottom:24px;padding:0" *ngIf="!loading && data == 0">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
                {{ message }}
            </div>
        </div>
    </div>
</div>
<div class="loading" *ngIf="loading" style="text-align:center;margin-top:15px;position:relative">
    <span class="spinner spinner-md">
        Loading...
    </span>
</div>