<div class="month-container">
    <input type="text" (click)="show = !show" [ngModel]="value | date: 'MMM - yyyy'" readonly />
    <i class="material-icons" (click)="show = !show"> date_range </i>
    <div *ngIf="show" class="month-wrapper">
        <div class="form-month">
            <button (click)="changeMonth('d')"><clr-icon shape="angle"></clr-icon></button>
            <p class="title">{{ value | date: 'MMM' }}</p>
            <button (click)="changeMonth('i')"><clr-icon class="spin-down" shape="angle"></clr-icon></button>
        </div>
        <div class="form-month">
            <button (click)="changeYear('d')"><clr-icon shape="angle"></clr-icon></button>
            <p class="title">{{ value | date: 'yyyy'}}</p>
            <button (click)="changeYear('i')"><clr-icon class="spin-down" shape="angle"></clr-icon></button>
        </div>
    </div>
</div>