<div>
    <ul>
        <li><i class="material-icons add" (click)="add()"> add </i></li>
        <li><i class="material-icons update" (click)="edit()"> edit </i></li>
        <li><i class="material-icons erase" (click)="delete()"> delete </i></li>
    </ul>
</div>