<div class="paginate-container noSelect">
    <div class="paginate-pageNo">{{ total }} total</div>
    <div class="paginate-controls">
        <ul>
            <li><i class="material-icons" (click)="fPage()" > first_page </i></li>
            <li><i class="material-icons" (click)="dec()"> chevron_left </i> </li>
            <li *ngFor="let page of pagesArr" [class.active]="currentPage == page" (click)="currPage(page)"><a>{{ page }}</a></li>
            <li><i class="material-icons" (click)="inc()"> chevron_right </i></li>
            <li><i class="material-icons" (click)="lPage()"> last_page </i></li>
        </ul>
    </div>
</div>