<nav class="profile-edit">
    <i class="material-icons" *ngIf="Role !== 1"  (click)="edit()"> edit </i>
    <i class="material-icons" (click)="pass()"> lock_open </i>
</nav>
<div class="photo-wrap col-md-12">
    <!-- class="profile" [style.backgroundImage]="backgroundImage"  -->
    <div class="photoContainer" [class.alert-show]="alertShow" (mouseover)="alertShow=true" (mouseleave)="alertShow=false">
        <div>
            <img [src]="backgroundImage || ''" alt="" (error)="errorUrl($event)">
        </div>
        <div class="prof-alert" (click)="profilePictureChange()">
            <i class="material-icons"> photo_camera </i>
            Upload
        </div>
    </div>
</div>

<!-- Start Container If Recipient or Staff-->
<div *ngIf="Role !== 1" style="display:inline-block">
    <div class="col-md-12">
        <div class="col-sm-12 col-md-1 col-xs-2">
            <div class="form-group">              
                <label for="formFields_1">Title</label>
                <div>{{ user?.title || '-' }}</div>   
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-5">
            <div class="form-group">
                <label for="formFields_1">Lastname</label>
                <div>{{ user?.surnameOrg || user?.lastName ||'-' }}</div>   
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-5">
            <div class="form-group">
                <label for="formFields_1">Firstname</label>
                <div>{{ user?.firstName || '-' }}</div>   
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-xs-6">
            <div class="form-group">
                <label for="formFields_1">Middlename</label>
                <div>{{ user?.middleNames || '-' }}</div>   
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-sm-12 col-md-3 col-xs-6">
            <div class="form-group">
                <label for="formFields_1">Gender</label>
                <div>{{ user?.gender || '-' }}</div>   
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-6">
            <div class="form-group">
                <label for="formFields_1">Birthdate</label>
                <div *ngIf="user?.dateOfBirth != null || user?.dob != null">{{ user?.dateOfBirth || user?.dob | date: 'dd / MM / yyyy' }}</div> 
                <div *ngIf="user?.dateOfBirth == null && user?.dob == null">-</div>  
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-6" *ngIf="source?.view == 'recipient'">
            <div class="form-group">
                <label for="formFields_1">Case Manager</label>
                <div>{{ user?.recipient_Coordinator || '-' }} <i class="material-icons email" data-toggle="tooltip" data-placement="top" title="Email Coordinator" (click)="emailCoordinatorModal = true"> email </i></div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="form-group">
                <label for="formFields_1">Addresses</label>
                <table class="table table-compact">
                    <thead>
                        <tr>
                            <th class="left">Description</th>
                            <th class="left">Address</th>
                            <th class="left">Suburb</th>
                            <th>Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let address of addresses">
                            <td class="left"><span *ngIf="address?.primaryAddress" class="badge badge-blue">|</span>{{ address.description | removefirstlast  }}</td>
                            <td class="left">{{ address.address1 }}</td>
                            <td class="left">{{ address.suburb }}</td>
                            <td>{{ address.postCode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-10 col-xs-12">
            <div class="form-group">
                <label for="formFields_1">Contacts</label>
                <table class="table table-compact"> 
                        <thead>
                            <tr>
                                <th class="left">Type</th>
                                <th class="left">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contacts">
                                <td class="left"><span *ngIf="contact?.primaryPhone" class="badge badge-blue">|</span>{{ contact.type | removefirstlast }}</td>
                                <td class="left">{{ contact.detail }}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<!---END Container-->


<!-- Administrator Container-->
<div *ngIf="Role === 1">
    <div class="col-md-12">
        <div class="col-md-6 col-xs-6">
            <div class="sampl1">
                    <div class="col-md-12">
                        <i class="material-icons edit edit-main" (click)="updateProfileModal = true;patchTheseValuesInForm()"> colorize </i>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Record ID</label>
                            <div>{{ user?.uniqueID || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Title</label>
                            <div>{{ user?.title || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Preferred</label>
                            <div>{{ user?.preferredName || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Firstname</label>
                            <div>{{ user?.firstName || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Middlename</label>
                            <div>{{ user?.middleNames || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Lastname</label>
                            <div>{{ user?.lastName || user?.surnameOrg || '-' }}</div>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Gender</label>
                            <div>{{ user?.gender || '-' }}</div>   
                        </div>
                    </div>            
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="formFields_1">Birthdate</label>
                            <div>{{ user?.dob || user?.dateOfBirth | date: 'dd / MM / yyyy' || '-' }}</div>   
                        </div>
                    </div>
            </div>

            <div class="sampl1" *ngIf="source?.view == 'staff'">
                    <div class="col-md-12">
                        <i class="material-icons edit edit-main" (click)="updateNotesModal= true;patchTheseValuesInForm()"> colorize </i>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Preferred Availability/Notes</label>
                            <textarea name="" id="">{{ user?.contactIssues}}</textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formFields_1">Cald Status</label>
                                <div class="ellipsis-overflow">{{ user?.caldStatus || '-' }}</div>   
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formFields_1">Indigenous Status</label>
                                <div class="ellipsis-overflow">{{ user?.cstda_Indiginous || '-' }}</div>   
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formFields_1">Primary Disability</label>
                                <div class="ellipsis-overflow">{{ user?.cstda_DisabilityGroup || '-' }}</div>   
                            </div>
                        </div>      
                    </div>
                </div>
        </div>

        <div class="col-md-6 col-xs-6" *ngIf="source?.view == 'staff'">
            <div class="sampl1">
                <div class="col-md-12">
                    <i class="material-icons edit edit-main" (click)="updateWorkProfileModal=true;patchTheseValuesInForm()"> colorize </i>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Type</label>
                        <div>{{ user?.category || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Staff #</label>
                        <div>{{ user?.stf_Code || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Branch/Department</label>
                        <div>{{ user?.stf_Department || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Job Category</label>
                        <div>{{ user?.staffGroup || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Admin Category</label>
                        <div>{{ user?.subCategory || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Team/Area</label>
                        <div>{{ user?.staffTeam || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Coordinator/Manager</label>
                        <div>{{ user?.pan_Manager || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Service Region</label>
                        <div>{{ user?.serviceRegion || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Grid No</label>
                        <div>{{ user?.ubdMap || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Drivers License</label>
                        <div>{{ user?.dLicence || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">MV Reg</label>
                        <div>{{ user?.vRegistration || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Rating</label>
                        <div><ratings [(ngModel)]="user.rating" [readOnly]="true"></ratings></div>   
                    </div>
                </div>    
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">N Registration#</label>
                        <div>{{ user?.nRegistration || '-' }}</div>   
                    </div>
                </div>    
            </div>        
        </div>

        <div class="col-md-6 col-xs-6" *ngIf="source?.view == 'recipient'">
            <div class="sampl1">
                <div class="col-md-12">
                    <i class="material-icons edit edit-main" (click)="updateWorkProfileModal=true;patchTheseValuesInForm()"> colorize </i>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">File #1</label>
                        <div>{{ user?.agencyIdReportingCode || '-' }}</div>   
                    </div>
                </div>     
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">File #2</label>
                        <div>{{ user?.urNumber || '-' }}</div>   
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Admitting Branch</label>
                        <div>{{ user?.branch || '-' }}</div>   
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Service Region/Main Category</label>
                        <div>{{ user?.agencyDefinedGroup || '-' }}</div>   
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Sub Category</label>
                        <div>{{ user?.ubdMap || '-' }}</div>   
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Primary Case Manager</label>
                        <div>{{ user?.recipient_Coordinator || '-' }}</div>   
                    </div>
                </div>       
            </div>               
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-12">
                <div class="sampl1">
                        <div class="col-md-12">
                            <i class="material-icons edit edit-main" (click)="updateContactsAddressesModal.open()"> colorize </i>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label for="formFields_1">Addresses</label>
                                    <table class="table table-compact">
                                        <thead>
                                            <tr>
                                                <th class="left">Description</th>
                                                <th>Address</th>
                                                <th>Suburb</th>
                                                <th>Postcode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let address of addresses">
                                                <td class="left"><span *ngIf="address?.primaryAddress" class="badge badge-blue">|</span>{{ address.description | removefirstlast  }}</td>
                                                <td>{{ address.address1 }}</td>
                                                <td>{{ address.suburb }}</td>
                                                <td>{{ address.postCode }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ng-container *ngIf="addresses?.length == 0">
                                        <div class="alert alert-info alert-sm" role="alert">
                                            <div class="alert-items">
                                                <div class="alert-item static">
                                                    <div class="alert-icon-wrapper">
                                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                    </div>
                                                    <span class="alert-text">
                                                        No Addresses Available
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="formFields_1">Contacts</label>
                                    <table class="table table-compact"> 
                                        <thead>
                                            <tr>
                                                <th class="left">Type</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contact of contacts">
                                                <td class="left"><span *ngIf="contact?.primaryPhone" class="badge badge-blue">|</span>{{ contact.type | removefirstlast }}</td>
                                                <td>{{ contact.detail }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ng-container *ngIf="contacts?.length == 0">
                                        <div class="alert alert-info alert-sm" role="alert">
                                            <div class="alert-items">
                                                <div class="alert-item static">
                                                    <div class="alert-icon-wrapper">
                                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                    </div>
                                                    <span class="alert-text">
                                                        No Contacts Available
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                </div>
                <div class="col-md-6" *ngIf="source?.view == 'recipient'">
                    <div class="sampl1 col-md-12">               
                        <div class="form-group">
                            <button class="add" style="margin-bottom:10px" (click)="caseStaffModal.open();dbAction=0"><i class="material-icons insert">add</i>Add Case Staff</button>
                            <table class="table table-compact table-design table-controls"> 
                                <thead>
                                    <tr>
                                        <th class="left">Name</th>
                                        <th>Program</th>
                                        <th>Contacts</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="user?.casestaff">
                                    <tr *ngFor="let staff of user?.casestaff">
                                        <td class="left">{{ staff.firstName }} {{ staff.lastName }}</td>
                                        <td>{{ staff.program }}</td>
                                        <td>{{ staff.contact }}</td>
                                        <td>
                                            <i class="material-icons edit" (click)="updatecasestaff(staff);dbAction=1">edit</i>
                                            <i class="material-icons delete" (click)="deletecasestaff(staff)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>     
                            <intake-no-data [data]="user.casestaff?.length"></intake-no-data>
                        </div>        
                    </div>
                </div>
                <div class="col-md-6" *ngIf="source?.view == 'recipient'">
                    <div class="col-md-12 sampl1">
                        <clr-tabs>
                                <clr-tab>
                                    <button clrTabLink (click)="changeTabView.next(1)"><span class="badge badge-info">|</span>Contact Issues</button>
                                    <clr-tab-content *clrIfActive="tab === 1">
                                        <div>
                                            <button class="add" style="margin-top:10px" [disabled]="!contactIssueGroup.dirty" (click)="saveCi()"><clr-icon shape="hard-disk"></clr-icon> Save</button>
                                        </div>
                                        <div [formGroup]="contactIssueGroup">
                                            <textarea name="" id="" cols="30" rows="10" class="alerts" formControlName="value" placeholder="Add Issues..."></textarea>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>
                                <clr-tab>
                                    <button clrTabLink (click)="changeTabView.next(2)"><span class="badge badge-danger">|</span>Roster Alerts</button>
                                    <clr-tab-content *clrIfActive="tab === 2">
                                        <div>
                                            <button class="add" style="margin-top:10px" [disabled]="!rosterAlertGroup.dirty" (click)="saveRoa()"><clr-icon shape="hard-disk"></clr-icon> Save</button>
                                        </div>
                                        <div [formGroup]="rosterAlertGroup">
                                            <textarea name="" id="" cols="30" rows="10" class="alerts" formControlName="value" placeholder="Add Roster Alerts..."></textarea>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>
                                <clr-tab>
                                    <button clrTabLink (click)="changeTabView.next(3)"><span class="badge badge-success">|</span>Runsheet Alerts</button>
                                    <clr-tab-content *clrIfActive="tab === 3">
                                        <div>
                                            <button class="add" style="margin-top:10px" [disabled]="!runsheetAlertGroup.dirty" (click)="saveRua()"><clr-icon shape="hard-disk"></clr-icon> Save</button>
                                        </div>
                                        <div [formGroup]="runsheetAlertGroup">
                                            <textarea name="" id="" cols="30" rows="10" class="alerts" formControlName="value" placeholder="Add Runsheet Alerts..."></textarea>
                                        </div>
                                    </clr-tab-content>
                                </clr-tab>                      
                        </clr-tabs>
                    </div>
                </div>
        </div>
    </div>

</div>
<!-- END Container-->



<!---
    Start of Modal Elements
--->
<clr-modal [(clrModalOpen)]="updateProfileModal">
    <h3 class="modal-title">Update Profile</h3>
    <div class="modal-body">
            <div class="col-md-12" [formGroup]="userForm"> 
                <div class="col-md-12 row">                
                    <div class="col-md-4 col-md-offset-4">
                        <label for="mname">Preferred Name</label>
                        <input type="text" id="mname" formControlName="preferredName" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-4">
                        <label for="lname">Lastname *</label>
                        <input type="text" id="lname" formControlName="surnameOrg" autocomplete="off" >
                    </div>
                    <div class="col-md-4">
                        <label for="fname">Firstname *</label>
                        <input type="text" id="fname" formControlName="firstName" autocomplete="off">
                    </div>            
                    <div class="col-md-4">
                        <label for="mname">Middlename</label>
                        <input type="text" id="mname" formControlName="middleNames" autocomplete="off">
                    </div>     
    
                </div>
                <div class="col-md-12 row">    
                    <div class="col-md-3">
                        <label for="formFields_1">Title</label>
                        <select class="margin-space" formControlName="title">
                            <option *ngFor="let title of titlesArr" [value]="title">{{ title }}</option>
                        </select>
                    </div>                
                    <div class="col-md-5">
                        <label for="formFields_1">Gender *</label>
                        <select formControlName="gender">
                            <option *ngFor="let gender of genderArr">{{ gender }}</option>
                        </select>
                    </div>              
                </div>
                <div class="col-md-12 row">                
                    <div class="col-md-8">
                        <label for="formFields_1">Birthdate *</label>
                        <select class="bdate" formControlName="year" (ngModelChange)="dateChange()">
                            <option *ngFor="let year of years">{{ year }}</option>
                        </select>
                        <select class="bdate" formControlName="month" (ngModelChange)="dateChange()">
                            <option *ngFor="let month of months">{{ month }}</option>
                        </select>
                        <select class="bdate" formControlName="day">
                            <option *ngFor="let day of days">{{ day }}</option>
                        </select>
                    </div>           
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="updateProfileModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveProfile();updateProfileModal = false">Save</button>
    </div>
</clr-modal>

<!-- 
<bs-modal #updateProfileModal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Update Profile</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="userForm"> 
            <div class="col-md-12 row">                
                <div class="col-md-4 col-md-offset-4">
                    <label for="mname">Preferred Name</label>
                    <input type="text" id="mname" formControlName="preferredName" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <label for="lname">Lastname *</label>
                    <input type="text" id="lname" formControlName="surnameOrg" autocomplete="off" >
                </div>
                <div class="col-md-4">
                    <label for="fname">Firstname *</label>
                    <input type="text" id="fname" formControlName="firstName" autocomplete="off">
                </div>            
                <div class="col-md-4">
                    <label for="mname">Middlename</label>
                    <input type="text" id="mname" formControlName="middleNames" autocomplete="off">
                </div>     

            </div>
            <div class="col-md-12 row">    
                <div class="col-md-3">
                    <label for="formFields_1">Title</label>
                    <select class="margin-space" formControlName="title">
                        <option *ngFor="let title of titlesArr" [value]="title">{{ title }}</option>
                    </select>
                </div>                
                <div class="col-md-5">
                    <label for="formFields_1">Gender *</label>
                    <select formControlName="gender">
                        <option *ngFor="let gender of genderArr">{{ gender }}</option>
                    </select>
                </div>              
            </div>
            <div class="col-md-12 row">                
                <div class="col-md-8">
                    <label for="formFields_1">Birthdate *</label>
                    <select class="bdate" formControlName="year" (ngModelChange)="dateChange()">
                        <option *ngFor="let year of years">{{ year }}</option>
                    </select>
                    <select class="bdate" formControlName="month" (ngModelChange)="dateChange()">
                        <option *ngFor="let month of months">{{ month }}</option>
                    </select>
                    <select class="bdate" formControlName="day">
                        <option *ngFor="let day of days">{{ day }}</option>
                    </select>
                </div>           
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-info" (click)="updateProfileModal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveProfile();updateProfileModal.close()">Save</button>
    </bs-modal-footer>
</bs-modal> -->


<clr-modal [(clrModalOpen)]="updateWorkProfileModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">Update Profile</h3>
    <div class="modal-body">
            <div class="col-md-12" [formGroup]="userForm">        
                    <div class="col-md-12 row">
                        <ng-container *ngIf="source?.view == 'recipient'">
                            <div class="form-group col-md-4">
                                <label for="mname">File #1</label>
                                <input type="text" id="mname" formControlName="file1" maxlength="50" autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="mname">File #2</label>
                                <input type="text" id="mname" formControlName="file2" maxlength="20" autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="mname">Sub Category</label>
                                <input type="text" id="mname" formControlName="subCategory" autocomplete="off" maxlength="5">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fname">Admitting Branch</label>
                                <select formControlName="branch">
                                    <option [value]=""></option>
                                    <option *ngFor="let branch of dropDowns?.branchesArr" [value]="branch">{{ branch }}</option>
                                </select>
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="fname">Service Region/Main Category</label>
                                <select formControlName="serviceRegion">
                                    <option [value]=""></option>
                                    <option *ngFor="let region of dropDowns?.serviceRegionArr" [value]="region">{{ region }}</option>
                                </select>
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="fname">Primary Case Manager</label>
                                <select formControlName="casemanager">
                                    <option [value]=""></option>
                                    <option *ngFor="let manager of dropDowns?.managerArr" [value]="manager">{{ manager }}</option>
                                </select>
                            </div>  
                        </ng-container>
                       <ng-container *ngIf="source?.view == 'staff'">
                            <div class="form-group col-md-4">
                                <label for="lname">Type</label>
                                <select formControlName="type">
                                    <option *ngFor="let types of typesArr">{{ types }}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fname">Branch</label>
                                <select formControlName="stf_Department">
                                    <option *ngFor="let branch of dropDowns?.branchesArr">{{ branch }}</option>
                                </select>
                            </div>            
                            <div class="form-group col-md-4">
                                <label for="mname">Job Category</label>
                                <select formControlName="jobCategory">
                                    <option *ngFor="let jobs of dropDowns?.jobCategoryArr">{{ jobs }}</option>
                                </select>
                            </div>     
                            <div class="form-group col-md-4">
                                <label for="mname">Admin Category</label>
                                <select formControlName="adminCategory">
                                    <option *ngFor="let admin of dropDowns?.adminCategoryArr">{{ admin }}</option>
                                </select>
                            </div>   
                            <div class="form-group col-md-4">
                                <label for="mname">Team/Area</label>
                                <select formControlName="team">
                                    <option *ngFor="let team of dropDowns?.teamArr">{{ team }}</option>
                                </select>
                            </div>   
                            <div class="form-group col-md-4">
                                <label for="mname">Coordinator/Manager</label>
                                <select formControlName="casemanager">
                                    <option *ngFor="let manager of dropDowns?.managerArr">{{ manager }}</option>
                                </select>
                            </div>  
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label for="mname">Service Region</label>
                                <select formControlName="serviceRegion">
                                    <option *ngFor="let gender of dropDowns?.serviceRegionArr">{{ gender }}</option>
                                </select>
                            </div>
                            <div style="margin-top:1rem">
                                <div class="col-md-6">
                                    <div class="form-group col-md-6">
                                        <label for="mname">Grid No</label>
                                        <input type="text" id="mname" formControlName="gridNo" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">Drivers License</label>
                                        <input type="text" id="mname" formControlName="dLicense" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">MV Registration</label>
                                        <input type="text" id="mname" formControlName="mvReg" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">N Registration</label>
                                        <input type="text" id="mname" formControlName="nReg" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-6">
                                        <label for="mname">Has Caseload</label>
                                        <checkbox formControlName="isCaseLoad"></checkbox>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">Is Rosterable</label>
                                        <checkbox formControlName="isRosterable"></checkbox>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">Email Timesheet</label>
                                        <checkbox formControlName="isEmail"></checkbox>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="mname">Star Rating</label>                              
                                        <ratings formControlName="rating"></ratings>
                                    </div>
                                </div>
                            </div>
                       </ng-container>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="updateWorkProfileModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveProfile();updateWorkProfileModal = false">Save</button>
    </div>
</clr-modal>

<!-- <bs-modal #updateWorkProfileModal [size]="'lg'">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">Update Profile</h4>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" [formGroup]="userForm">        
                <div class="col-md-12 row">
                    <ng-container *ngIf="source?.view == 'recipient'">
                        <div class="form-group col-md-4">
                            <label for="mname">File #1</label>
                            <input type="text" id="mname" formControlName="file1" maxlength="50" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mname">File #2</label>
                            <input type="text" id="mname" formControlName="file2" maxlength="20" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mname">Sub Category</label>
                            <input type="text" id="mname" formControlName="subCategory" autocomplete="off" maxlength="5">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fname">Admitting Branch</label>
                            <select formControlName="branch">
                                <option [value]=""></option>
                                <option *ngFor="let branch of dropDowns?.branchesArr" [value]="branch">{{ branch }}</option>
                            </select>
                        </div>  
                        <div class="form-group col-md-4">
                            <label for="fname">Service Region/Main Category</label>
                            <select formControlName="serviceRegion">
                                <option [value]=""></option>
                                <option *ngFor="let region of dropDowns?.serviceRegionArr" [value]="region">{{ region }}</option>
                            </select>
                        </div>  
                        <div class="form-group col-md-4">
                            <label for="fname">Primary Case Manager</label>
                            <select formControlName="casemanager">
                                <option [value]=""></option>
                                <option *ngFor="let manager of dropDowns?.managerArr" [value]="manager">{{ manager }}</option>
                            </select>
                        </div>  
                    </ng-container>
                   <ng-container *ngIf="source?.view == 'staff'">
                        <div class="form-group col-md-4">
                            <label for="lname">Type</label>
                            <select formControlName="type">
                                <option *ngFor="let types of typesArr">{{ types }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fname">Branch</label>
                            <select formControlName="stf_Department">
                                <option *ngFor="let branch of dropDowns?.branchesArr">{{ branch }}</option>
                            </select>
                        </div>            
                        <div class="form-group col-md-4">
                            <label for="mname">Job Category</label>
                            <select formControlName="jobCategory">
                                <option *ngFor="let jobs of dropDowns?.jobCategoryArr">{{ jobs }}</option>
                            </select>
                        </div>     
                        <div class="form-group col-md-4">
                            <label for="mname">Admin Category</label>
                            <select formControlName="adminCategory">
                                <option *ngFor="let admin of dropDowns?.adminCategoryArr">{{ admin }}</option>
                            </select>
                        </div>   
                        <div class="form-group col-md-4">
                            <label for="mname">Team/Area</label>
                            <select formControlName="team">
                                <option *ngFor="let team of dropDowns?.teamArr">{{ team }}</option>
                            </select>
                        </div>   
                        <div class="form-group col-md-4">
                            <label for="mname">Coordinator/Manager</label>
                            <select formControlName="casemanager">
                                <option *ngFor="let manager of dropDowns?.managerArr">{{ manager }}</option>
                            </select>
                        </div>  
                        <div class="form-group col-md-4 col-md-offset-4">
                            <label for="mname">Service Region</label>
                            <select formControlName="serviceRegion">
                                <option *ngFor="let gender of dropDowns?.serviceRegionArr">{{ gender }}</option>
                            </select>
                        </div>
                        <div style="margin-top:1rem">
                            <div class="col-md-6">
                                <div class="form-group col-md-6">
                                    <label for="mname">Grid No</label>
                                    <input type="text" id="mname" formControlName="gridNo" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">Drivers License</label>
                                    <input type="text" id="mname" formControlName="dLicense" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">MV Registration</label>
                                    <input type="text" id="mname" formControlName="mvReg" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">N Registration</label>
                                    <input type="text" id="mname" formControlName="nReg" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-6">
                                    <label for="mname">Has Caseload</label>
                                    <checkbox formControlName="isCaseLoad"></checkbox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">Is Rosterable</label>
                                    <checkbox formControlName="isRosterable"></checkbox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">Email Timesheet</label>
                                    <checkbox formControlName="isEmail"></checkbox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mname">Star Rating</label>                              
                                    <ratings formControlName="rating"></ratings>
                                </div>
                            </div>
                        </div>
                   </ng-container>
                </div>
            </div>
        </bs-modal-body>
        <bs-modal-footer>
            <button type="button" class="btn btn-info" (click)="updateWorkProfileModal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveProfile();updateWorkProfileModal.close()">Save</button>
        </bs-modal-footer>
</bs-modal> -->


<bs-modal #updateContactsAddressesModal [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">{{ viewModal?.Title}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" style="min-height:5rem"> 
            <div *ngIf="viewModal.View == 1">
                <form [formGroup]="addressForm">
                    <div class="col-md-12 row">
                            <div class="col-md-12">
                                    <h5 for="formFields_1">Addresses
                                         <span class="add-options">
                                                <i class="material-icons add-i" (click)="addAddressModal.open()"> add </i>                                                  
                                         </span>
                                    </h5>
                                    <table class="table table-compact table-noborder">
                                            <thead>
                                                <tr>
                                                    <th style="width:1rem"></th>
                                                    <th class="left">Description</th>
                                                    <th style="width:10rem" class="left">Address</th>
                                                    <th style="width:10rem" class="left">Postcode, Suburb, State</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="addresses">                                               
                                                <tr *ngFor="let address of addressForm.get('addresses')['controls']; let i = index" [formGroupName]="i">
                                                    <td>
                                                       <checkbox  [(ngModel)]="address.value.primaryAddress" (ngModelChange)="addressChange(address.value.primaryAddress,address.value)" [ngModelOptions]="{standalone: true}"></checkbox>
                                                    </td>
                                                    <td class="left">                                                      
                                                        <select formControlName="description">
                                                            <option *ngFor="let _add of addressType; index as i " [ngValue]="_add">{{ _add }}</option>
                                                        </select>
                                                    </td>
                                                    <td class="left"><input type="text" formControlName="address1" /></td>
                                                    <td class="left">
                                                        <suburb formControlName="pcodesuburb"></suburb>
                                                    </td>     
                                                    <td style="text-align: left">
                                                        <i class="material-icons delete-i" (click)="alertModalOpen=true; deleteSelected = { data: address, option: 'address'}"> remove </i>                                                           
                                                    </td>                          
                                                </tr>                                         
                                            </tbody>
                                        </table>
                                        <ng-container *ngIf="addresses?.length == 0">
                                            <div class="alert alert-info alert-sm" role="alert">
                                                <div class="alert-items">
                                                    <div class="alert-item static">
                                                        <div class="alert-icon-wrapper">
                                                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                        </div>
                                                        <span class="alert-text">
                                                            No Addresses!
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                            </div>     
                        </div>
                </form>
                <form [formGroup]="contactForm">            
                    <div class="col-md-12 row">
                            <div class="col-md-10">
                                    <h5 for="formFields_1">Contacts
                                        <span class="add-options"><i class="material-icons add-i" (click)="addContactsModal.open()"> add </i></span>
                                    </h5>
                                    <table class="table table-compact table-noborder">
                                        <thead>
                                            <tr>
                                                <th style="width:1rem"></th>
                                                <th class="left">Type</th>
                                                <th class="left">Detail</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="contacts">                                            
                                            <tr *ngFor="let contact of contactForm.get('contacts')['controls']; let idx  = index"  [formGroupName]="idx ">     
                                                <td>
                                                    <checkbox  [(ngModel)]="contact.value.primaryPhone" (ngModelChange)="contactChange(contact.value.primaryPhone,contact.value)" [ngModelOptions]="{standalone: true}"></checkbox>
                                                </td>                                      
                                                <td class="left">
                                                    <select formControlName="type">
                                                        <option *ngFor="let _cont of contactType;index as i" [value]="_cont">{{ _cont }}</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" formControlName="detail" /></td>
                                                <td style="text-align: left"> 
                                                    <i class="material-icons delete-i" (click)="alertModalOpen = true; deleteSelected = { data: contact, option: 'contact'}"> remove </i>                                                    
                                                </td>
                                            </tr>                                          
                                        </tbody>
                                    </table>
                                    <ng-container *ngIf="contacts?.length == 0">
                                        <div class="alert alert-info alert-sm" role="alert">
                                            <div class="alert-items">
                                                <div class="alert-item static">
                                                    <div class="alert-icon-wrapper">
                                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                    </div>
                                                    <span class="alert-text">
                                                        No Contacts!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                      
                    </div>
                </form>
            </div>    
        </div>
    </bs-modal-body>
    <bs-modal-footer>        
        <button type="button" class="btn btn-outline" (click)="updateContactsAddressesModal.close();">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveProfile();">Save</button>
    </bs-modal-footer>
</bs-modal>




<clr-modal [class.no-overflow]="viewModal.View == 2" [(clrModalOpen)]="editModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{ viewModal?.Title}}</h3>
    <div class="modal-body">
      
        <clr-alert [class.alert-notify]="resultToast?.success" class="alert-pos" [clrAlertType]="'alert-success'">
            <div class="alert-item">
                <span class="alert-text">
                    Saved Changes!
                </span>
            </div>
        </clr-alert>

        <clr-alert *ngIf="resultToast?.fail" class="alert-pos" [clrAlertType]="'alert-danger'">
            <div class="alert-item">
                <span class="alert-text">
                    Changes saved!
                </span>
            </div>
        </clr-alert>

        <div *ngIf="viewModal.View == 1">
                <form *ngIf="user" [formGroup]="userForm">
      
                        <div class="col-md-12 row">      
                            <div class="col-md-1">
                                <label for="formFields_1">Title</label>
                                <select style="width:2rem" class="margin-space" formControlName="title" (ngModelChange)="dateChange($event)">
                                    <option *ngFor="let title of titles" [value]="title">{{ title }}</option>
                                </select>
                            </div>                          
                            <div class="col-md-4">
                                <label for="lname">Lastname *</label>
                                <input type="text" id="lname" formControlName="surnameOrg" autocomplete="off" >
                            </div>
                            <div class="col-md-4">
                                <label for="fname">Firstname *</label>
                                <input type="text" id="fname" formControlName="firstName" autocomplete="off">
                            </div>            
                            <div class="col-md-3">
                                <label for="mname">Middlename</label>
                                <input type="text" id="mname" formControlName="middleNames" autocomplete="off">
                            </div>        
                        </div>
                        <div class="col-md-12 row">                                
                            <div class="col-md-3">
                                <label for="formFields_1">Gender *</label>
                                <select formControlName="gender">
                                    <option *ngFor="let gender of genderArr">{{ gender }}</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label for="formFields_1">Birthdate *</label>
                                <select class="margin-space bdate" formControlName="year" (ngModelChange)="dateChange($event)">
                                    <option *ngFor="let year of years">{{ year }}</option>
                                </select>
                                <select class="margin-space bdate" formControlName="month" (ngModelChange)="dateChange($event)">
                                    <option *ngFor="let month of months">{{ month }}</option>
                                </select>
                                <select class="margin-space bdate" formControlName="day">
                                    <option *ngFor="let day of days">{{ day }}</option>
                                </select>
                            </div>     
                            <div class="col-md-4" *ngIf="source?.sysmgr">
                                <label for="formFields_1">Case Manager *</label>
                                <select formControlName="casemanager">
                                    <option *ngFor="let case of casemanagers">{{ case }}</option>
                                </select>
                            </div>        
                        </div>
                        <!-- <div class="col-md-12 row">
                            <div class="col-md-4">
                                <label for="formFields_1">File #1</label>
                                <input type="text" id="lname" formControlName="file1" autocomplete="off" >
                            </div>
                            <div class="col-md-4">
                                <label for="formFields_1">File #2</label>
                                <input type="text" id="lname" formControlName="file2" autocomplete="off" >
                            </div>
                            <div class="col-md-4">
                                <label for="formFields_1">Sub Category</label>
                                <input type="text" id="lname" formControlName="subCategory" autocomplete="off" >
                            </div>                                          
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <label for="formFields_1">Admitting Branch</label>
                                <select formControlName="branch">
                                    <option value=""></option>
                                    <option *ngFor="let branch of branches">{{ branch }}</option>
                                </select>
                            </div>        
                            <div class="col-md-4">
                                <label for="formFields_1">Mobility</label>
                                <select formControlName="gender">
                                    <option *ngFor="let gender of genderArr">{{ gender }}</option>
                                </select>
                            </div>    
                        </div>                        -->
                </form>
                <form [formGroup]="addressForm">
                        <div class="col-md-12 row">
                                <div class="col-md-12">
                                        <label for="formFields_1">Address
                                             <span class="add-options">
                                                    <i class="material-icons add-i" (click)="addAddress()"> add </i>                                                  
                                             </span>
                                        </label>
                                        <table class="table table-compact table-noborder">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1rem"></th>
                                                        <th class="left">Description</th>
                                                        <th class="left">Address</th>
                                                        <th class="left">Postcode, Suburb, State</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="addresses">                                               
                                                    <tr *ngFor="let address of addressForm.get('addresses')['controls']; let i = index" [formGroupName]="i">
                                                        <td>
                                                           <checkbox  [(ngModel)]="address.value.primaryAddress" (ngModelChange)="addressChange(address.value.primaryAddress,address.value)" [ngModelOptions]="{standalone: true}"></checkbox>
                                                        </td>
                                                        <td class="left">                                                      
                                                            <select formControlName="description">
                                                                <option *ngFor="let _add of addressType; index as i " [ngValue]="_add">{{ _add }}</option>
                                                            </select>
                                                        </td>
                                                        <td class="left"><input type="text" formControlName="address1" /></td>
                                                        <td class="left">
                                                            <suburb formControlName="pcodesuburb"></suburb>
                                                        </td>     
                                                        <td>
                                                            <i class="material-icons delete-i" (click)="alertModalOpen=true; deleteSelected = { data: address, option: 'address'}"> remove </i>                                                           
                                                        </td>                          
                                                    </tr>                                         
                                                </tbody>
                                            </table>
                                            <ng-container *ngIf="addresses?.length == 0">
                                                <div class="alert alert-info alert-sm" role="alert">
                                                    <div class="alert-items">
                                                        <div class="alert-item static">
                                                            <div class="alert-icon-wrapper">
                                                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                            </div>
                                                            <span class="alert-text">
                                                                No Addresses!
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                </div>     
                            </div>
                    </form>
                    <form [formGroup]="contactForm">
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                <label for="formFields_1">Contact
                                    <span class="add-options">
                                        <i class="material-icons add-i" (click)="addContact()"> add </i>
                                    </span>
                                </label>
                                <table class="table table-compact table-noborder">
                                    <thead>
                                        <tr>
                                            <th style="width:1rem"></th>
                                            <th class="left">Type</th>
                                            <th class="left">Detail</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="contacts">                                            
                                        <tr *ngFor="let contact of contactForm.get('contacts')['controls']; let idx  = index"  [formGroupName]="idx ">     
                                            <td>
                                                <checkbox  [(ngModel)]="contact.value.primaryPhone" (ngModelChange)="contactChange(contact.value.primaryPhone,contact.value)" [ngModelOptions]="{standalone: true}"></checkbox>
                                            </td>                                      
                                            <td class="left">
                                                <select formControlName="type">
                                                    <option *ngFor="let _cont of contactType;index as i" [value]="_cont">{{ _cont }}</option>
                                                </select>
                                            </td>
                                            <td><input type="text" formControlName="detail" /></td>
                                            <td>
                                                <i class="material-icons delete-i" (click)="alertModalOpen=true;deleteSelected = { data: contact, option: 'contact'}"> remove </i>                                                    
                                            </td>
                                        </tr>                                          
                                    </tbody>
                                </table>
                                <ng-container *ngIf="contacts?.length == 0">
                                    <div class="alert alert-info alert-sm" role="alert">
                                        <div class="alert-items">
                                            <div class="alert-item static">
                                                <div class="alert-icon-wrapper">
                                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                </div>
                                                <span class="alert-text">
                                                    No Contacts!
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </form>
        </div>

        <div *ngIf="viewModal.View == 2">
            <ng-container *ngIf="viewModal.Option == 'contact'">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label for="formFields_1">Type</label>
                            <select [(ngModel)]="newContact.Type">
                                <option *ngFor="let _cont of contactType;index as i">{{ _cont }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-group">
                            <label for="formFields_1">Detail</label>
                            <input type="text" [(ngModel)]="newContact.Detail">
                        </div>
                    </div>
            </ng-container>
            <ng-container *ngIf="viewModal.Option == 'address'">
                    <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                <label for="formFields_1">Description</label>
                                <select [(ngModel)]="newAddress.Description">
                                    <option *ngFor="let _add of addressType;index as i">{{ _add }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="formFields_1">Postcode, Suburb</label>
                                <suburb [(ngModel)]="newAddress.Suburb"></suburb>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label for="formFields_1">Address</label>
                                <input type="text" [(ngModel)]="newAddress.Address1">
                            </div>
                        </div>
            </ng-container>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="alertModalOpen">
    <h3 class="modal-title">Delete {{ deleteSelected?.option}}</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete this {{ deleteSelected?.option}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="alertModalOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete();alertModalOpen = false">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="profilePictureOpen" [clrModalSize]="'lg'">
    <h3 class="modal-title">Profile Picture</h3>
    <div class="modal-body">
        <div class="col-md-12" *ngIf="profilePictureOpen">
          <div>
            <img-cropper [src]="src" [user]="this.user.uniqueID" [role]="this.token.role" (imgBLOB)="imgBLOB($event)"></img-cropper>
            <intake-no-data [loading]="loadUrl"></intake-no-data>
            <input type="file" id="file" (change)="onChangeUploadTemp($event)">
            <div><label for="file" class="upload-pic">Upload photo</label></div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="profilePictureOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="changeProfile()">Ok</button>
    </div>
</clr-modal>

<!-- <bs-modal #alertModal>
    <bs-modal-header [showDismiss]="true">
        <h3 class="modal-title">Delete {{ deleteSelected?.option}}</h3>
    </bs-modal-header>
    <bs-modal-body>
        <p>Are you sure you want to delete this {{ deleteSelected?.option}}?</p>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="delete();alertModal.close()">Yes</button>
        <button type="button" class="btn btn-danger-outline" (click)="alertModal.close()">No</button>
    </bs-modal-footer>
</bs-modal> -->

<bs-modal #addAddressModal class="no-overflow">
    <bs-modal-header [showDismiss]="true">
        <h3 class="modal-title">Add Address</h3>
    </bs-modal-header>
    <bs-modal-body>
        <div [formGroup]="addressGroup">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formFields_1">Description</label>
                    <select formControlName="description">
                        <option [value]=""></option>
                        <option *ngFor="let _add of addressType" [value]="_add">{{ _add }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label for="formFields_1">Postcode & Suburb</label>
                        <suburb formControlName="suburb"></suburb>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formFields_1">Address</label>
                        <input type="text" formControlName="address" autocomplete="off">
                    </div>
                </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="saveAddress();addAddressModal.close()">Yes</button>
        <button type="button" class="btn btn-danger-outline" (click)="addAddressModal.close()">No</button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #addContactsModal>
    <bs-modal-header [showDismiss]="true">
        <h3 class="modal-title">Add Contacts</h3>
    </bs-modal-header>
    <bs-modal-body>
        <div [formGroup]="contactGroup">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="formFields_1">Type</label>
                    <select formControlName="type">
                        <option [value]=""></option>
                        <option *ngFor="let _cont of contactType;index as i" [value]="_cont">{{ _cont }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="formFields_1">Detail</label>
                    <input type="text" formControlName="detail">
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="saveContact();addContactsModal.close()">Yes</button>
        <button type="button" class="btn btn-danger-outline" (click)="addContactsModal.close()">No</button>
    </bs-modal-footer>
</bs-modal>

<clr-modal [(clrModalOpen)]="updateNotesModal">
    <h3 class="modal-title">Update Notes and Statuses</h3>
    <div class="modal-body">
            <div class="col-md-12" [formGroup]="notesGroup">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formFields_1">Cald Status</label>
                        <select formControlName="caldStatus">
                            <option [value]=""></option>
                            <option *ngFor="let status of caldStatuses" [value]="status">{{ status }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formFields_1">Indigenous Status</label>
                        <select formControlName="indigStatus">
                            <option [value]=""></option>
                            <option *ngFor="let _cont of dropDowns?.indigenousArr" [value]="_cont">{{ _cont }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formFields_1">Primary Disability</label>
                        <select formControlName="primaryDisability">
                            <option [value]=""></option>
                            <option *ngFor="let _cont of dropDowns?.disabilitiesArr" [value]="_cont">{{ _cont }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Preferred Availability/Notes</label>
                        <textarea name="" id="" formControlName="notes"></textarea>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="updateNotesModal=false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveNotes();updateNotesModal=false">Save</button>
    </div>
</clr-modal>

<!-- <bs-modal #updateNotesModal>
    <bs-modal-header [showDismiss]="true">
        <h3 class="modal-title">Update Notes and Statuses</h3>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="notesGroup">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formFields_1">Cald Status</label>
                    <select formControlName="caldStatus">
                        <option [value]=""></option>
                        <option *ngFor="let status of caldStatuses" [value]="status">{{ status }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formFields_1">Indigenous Status</label>
                    <select formControlName="indigStatus">
                        <option [value]=""></option>
                        <option *ngFor="let _cont of dropDowns?.indigenousArr" [value]="_cont">{{ _cont }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formFields_1">Primary Disability</label>
                    <select formControlName="primaryDisability">
                        <option [value]=""></option>
                        <option *ngFor="let _cont of dropDowns?.disabilitiesArr" [value]="_cont">{{ _cont }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Preferred Availability/Notes</label>
                    <textarea name="" id="" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">        
        <button type="button" class="btn btn-info" (click)="updateNotesModal.close()">No</button>
        <button type="button" class="btn btn-primary" (click)="saveNotes();updateNotesModal.close()">Yes</button>
    </bs-modal-footer>
</!--> 

<clr-modal [(clrModalOpen)]="changePasswordModal">
    <h3 class="modal-title">Edit Password</h3>
    <div class="modal-body">
        <div class="col-md-12 row">
            <div class="col-md-4" *ngIf="Role > 1">
                <label for="oldPass">Old *</label>
                <input type="password" id="oldPass" [(ngModel)]="oldPass" placeholder="*******" autocomplete="off" >
            </div>
            <div class="col-md-4">
                <label for="newPass">New *</label>
                <input type="password" id="newPass" [(ngModel)]="newPass"  placeholder="*******" autocomplete="off" >
            </div>
            <div class="col-md-4">
                <label for="reType">Retype *</label>
                <input type="password" id="reType" [(ngModel)]="reType"  placeholder="*******" autocomplete="off" >
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="changePasswordModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="changePass()">Save</button>
    </div>
</clr-modal>

<bs-modal #caseStaffModal (onShow)="populatecaseStaffModal()">
    <bs-modal-header [showDismiss]="true">
        <h3 class="modal-title">Case Staff</h3>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" [formGroup]="caseStaffGroup">
            <div class="form-group">
                <label for="">Coordinator</label>
                <select name="" id="" *ngIf="dbAction == 0" formControlName="coordinator">
                    <option value=""></option>
                    <option value="" *ngFor="let coordinator of casestaffpopulateObj?.coordinators" [value]="coordinator.id">{{ coordinator.name | uppercase }}</option>
                </select>
                <input *ngIf="dbAction == 1" type="text" formControlName="name" disabled>
            </div>
            <div class="form-group">
                <label for="">Program</label>
                <select name="" id="" formControlName="program">
                    <option value=""></option>
                    <option value="" *ngFor="let program of casestaffpopulateObj?.programs" [value]="program">{{ program }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Notes</label>
                <textarea name="" id="" cols="30" rows="10" formControlName="notes"></textarea>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="saveCaseStaff();caseStaffModal.close()">Yes</button>
        <button type="button" class="btn btn-danger-outline" (click)="caseStaffModal.close()">No</button>
    </bs-modal-footer>
</bs-modal>


<clr-modal [(clrModalOpen)]="emailCoordinatorModal">
    <h3 class="modal-title">Email Coordinator</h3>
    <div class="modal-body">
        <div class="col-md-12" [formGroup]="emailCoordinatorGroup">
            <div class="form-group">
                <label for="">Subject</label>
                <input type="text" formControlName="subject" />
            </div>
            <div class="form-group">
                <label for=""></label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Email..." formControlName="content"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="emailCoordinatorModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="email()">Send</button>
    </div>
</clr-modal>