<div *ngIf="format === 'simple'">
    <div class="search">
        <input type="text" placeholder="SEARCH RECIPIENT.." [(ngModel)]="inputSearch" (input)="inputChange$.next($event.target.value)"> 
        <div *ngIf="!hideFilter">
            <clr-toggle-wrapper >
                <input type="checkbox" clrToggle value="option1" name="options" [ngModel]="showFilter" (ngModelChange)="filterToggleChange($event)"/>
                <label *ngIf="!showFilter">Show Filter</label>   <label *ngIf="showFilter">Hide Filter</label>
            </clr-toggle-wrapper>        
        </div>
    </div>

    <div *ngIf="!showFilter" class="qs-container">
        <div class="table-mark">
            <div class="table-title">
                <div style="flex: 2">Provider</div>
                <div>Gender</div>
                <div>Age</div>
                <div style="flex:2">Rating</div>
                <div>KM</div>
            </div>
            <div class="table-body" [style.max-height]="height + 'rem'">
                <div class="table-data" *ngFor="let result of results;let i = index" (click)="selected(i)" [class.selected]="i == selectedIndex">
                    <div style="flex: 2">{{ result.firstName }}</div>
                    <div>
                        <span class="badge badge-info" *ngIf="result.gender == 1">`</span>
                        <span class="badge badge-pink" *ngIf="result.gender == 0">`</span>
                        <span class="badge" *ngIf="result.gender == -1">`</span>
                    </div>
                    <div>{{ result.age || "-" }}</div>
                    <div style="flex:2"><ratings [readOnly]="true" [ngModel]="result.rating"></ratings></div>
                    <div>{{ result.km }}</div>
                </div>
            </div>
        </div>

        <intake-no-data [data]="results?.length"></intake-no-data>        
    </div>

    <div *ngIf="showFilter" class="qs-container" [formGroup]="filterListGroup">
        <div class="filter-container">
            <div class="col-md-12">
                <label for="">Branches</label>
                <dropdown-report formControlName="branches" [SQLSTATICLIST]="populateList?.branches"></dropdown-report>           
            </div>
            <div class="col-md-12">
                <label for="">Teams</label>
                <dropdown-report formControlName="teams" [SQLSTATICLIST]="populateList?.teams"></dropdown-report>        
            </div>
            <div class="col-md-12">
                <label for="">Roles</label>
                <dropdown-report formControlName="roles" [SQLSTATICLIST]="populateList?.roles"></dropdown-report>        
            </div>
        </div>
    </div>
</div>
