<div>
    <input type="text" placeholder="{{ placeholder }}" [(ngModel)]="searchString" (keyup.enter)="search()" (focus)="show = true"  style="text-transform:uppercase"/>

    <i class="material-icons swap" (click)="swap()">swap_calls</i>
    <ul *ngIf="show">
        <li *ngIf="loading">Loading...</li>
       <ng-container *ngIf="!loading">
            <li *ngFor="let item of items" (click)="pick(item)">{{ item }}</li>
       </ng-container>
    </ul>
</div>