<div class="search-container" *ngIf="showSeach">
    <input type="text" [placeholder]="type == 'r' ? 'Enter Recipient' : 'Enter Staff'" [ngModel]="search" (ngModelChange)="textChanges.next($event)" (focus)="openScroll()" style="text-transform: uppercase">
    <div class="list-scroll" [hidden]="!(show && lists?.length > 0)" >
        <ul>
            <cdk-virtual-scroll-viewport itemSize="30"  [style.height]="height" style="max-height:10rem" minBufferPx="1200" maxBufferPx="1200" >
                <ng-container  *cdkVirtualFor="let list of lists;let i = index">
                    <li [class.active]="search === list?.accountNo" (click)="selected(i)">{{ list.accountNo }}</li>
                </ng-container>            
            </cdk-virtual-scroll-viewport>
        </ul>
    </div>
</div>
<intake-no-data [loading]="!showSeach"></intake-no-data>