<div class="search-container">
    <input type="text" [(ngModel)]="value" (ngModelChange)="modelChange($event)" (focus)="focus()" placeholder="Search Recipient...">
    <i class="material-icons" (click)="show = !show"> group </i>
    <ul *ngIf="show && results?.length > 0">
        <li *ngFor="let result of results" (click)="selected(result.accountNo)">            
            {{result.accountNo}}            
        </li>
    </ul>
</div>