<clr-vertical-nav class="side-container" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1" *ngIf="hide">
        <section class="nav-group collapsible" *ngIf="role == 'PORTAL CLIENT' || role == 'CLIENT MANAGER'">
                <a clrVerticalNavLink routerLink="/client/profile" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                    Profile
                </a>
                <a clrVerticalNavLink routerLink="/client/notes" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="text"></clr-icon>
                    Notes
                </a>
                <a clrVerticalNavLink routerLink="/client/package" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="library"></clr-icon>
                    Package
                </a>
                <a clrVerticalNavLink routerLink="/client/booking" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="bookmark"></clr-icon>
                    Booking
                </a>
                <a clrVerticalNavLink routerLink="/client/calendar" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
                    Calendar
                </a>
                <a clrVerticalNavLink routerLink="/client/history" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="history"></clr-icon>
                    History
                </a>
                <a clrVerticalNavLink routerLink="/client/preferences" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="list"></clr-icon>
                    Preferences
                </a>
                <a clrVerticalNavLink routerLink="/client/timesheet" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="attachment"></clr-icon>
                    Manage Services
                </a>
                <a clrVerticalNavLink routerLink="/client/document" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="folder-open"></clr-icon>
                    Document
                </a>
        </section>        
        <section class="nav-group collapsible" *ngIf="role == 'SERVICE PROVIDER'">
                <a clrVerticalNavLink routerLink="/provider/profile" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                    Profile
                </a>
                <a clrVerticalNavLink routerLink="/provider/package" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="pinboard"></clr-icon>
                    Timesheet
                </a>
                <a clrVerticalNavLink routerLink="/provider/calendar" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
                    Calendar
                </a>
                <a clrVerticalNavLink routerLink="/provider/history" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="history"></clr-icon>
                    History
                </a>
                <a clrVerticalNavLink (click)="emit('leave')">
                    <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
                    Leave Application
                </a>
                <a clrVerticalNavLink routerLink="/provider/document">
                    <clr-icon clrVerticalNavIcon shape="folder-open"></clr-icon>
                    Document
                </a>
        </section>
        <section class="nav-group collapsible" *ngIf="role == 'ADMIN USER'">
                <a clrVerticalNavLink routerLink="/admin/daymanager" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
                    Day Manager
                </a>
                <a clrVerticalNavLink routerLink="/admin/recipients" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
                    Recipients
                    <ul>
                        <li>sample</li>
                    </ul>
                </a>
                <a clrVerticalNavLink routerLink="/admin/staff" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="user" class="has-badge"></clr-icon>
                    Staff
                </a>
                <a clrVerticalNavLink routerLink="/admin/rosters" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="view-cards"></clr-icon>
                    Rosters
                </a>
                <a clrVerticalNavLink routerLink="/admin/timesheet" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="pinboard"></clr-icon>
                    Timesheets
                </a>
                <a clrVerticalNavLink routerLink="/admin/attendance" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="clock"></clr-icon>
                    Time & Attendance
                </a>
                <a clrVerticalNavLink routerLink="/admin/reports"  routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
                    Reports
                </a>
                <a clrVerticalNavLink routerLink="/admin/landing"  routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
                    Configuration
                </a>
        </section>
</clr-vertical-nav>



<!-- 

<nav class="sidenav" *ngIf="role">
    <section class="sidenav-content">
        <section class="nav-group">


            <ul class="nav-list" *ngIf="role == 'PORTAL CLIENT'">               
                <li><a class="nav-link" routerLink="/client/profile" routerLinkActive="active"><i class="material-icons"> person </i> <span>Profile</span></a></li>
                <li><a class="nav-link" routerLink="/client/package" routerLinkActive="active"><i class="material-icons"> book </i> <span>Package</span></a></li>
                <li><a class="nav-link" routerLink="/client/booking" routerLinkActive="active"><i class="material-icons"> event </i> <span>Booking</span></a></li>
                <li><a class="nav-link" routerLink="/client/calendar" routerLinkActive="active"><i class="material-icons"> calendar_today </i> <span>Calendar</span></a></li>
                <li><a class="nav-link" routerLink="/client/history" routerLinkActive="active"><i class="material-icons"> history </i> <span>History</span></a></li>
                <li><a class="nav-link" routerLink="/client/preferences" routerLinkActive="active"><i class="material-icons"> card_giftcard </i> <span>Preferences</span></a></li>
                <li><a class="nav-link" routerLink="/client/timesheet" routerLinkActive="active"><i class="material-icons"> build </i> <span>Manage Services</span></a></li>
            </ul>
            <ul class="nav-list" *ngIf="role == 'SERVICE PROVIDER'">
                <li><a class="nav-link" routerLink="/provider/profile" routerLinkActive="active" ><i class="material-icons">person</i> <span>Profile</span></a></li>
                <li><a class="nav-link"routerLink="/provider/package" routerLinkActive="active"><i class="material-icons"> dvr </i> <span>Timesheet</span></a></li>
                <li><a class="nav-link" routerLink="/provider/calendar" routerLinkActive="active"><i class="material-icons"> calendar_today </i> <span>Calendar</span></a></li>
                <li><a class="nav-link" routerLink="/provider/history" routerLinkActive="active"><i class="material-icons"> history </i> <span>History</span></a></li>
                <li><a class="nav-link" (click)="leaveEvent()"><i class="material-icons"> exit_to_app </i> <span>Leave Application</span></a></li>
            </ul>



            <ul class="nav-list" *ngIf="role == 'PORTAL CLIENT'">               
                    <li>
                        <a class="nav-link" routerLink="/client/profile" routerLinkActive="active">
                            <i class="material-icons"> person </i>
                            <span class="tooltiptext">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/package" routerLinkActive="active">
                            <i class="material-icons"> book </i>
                            <span class="tooltiptext">Package</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/booking" routerLinkActive="active">
                            <i class="material-icons"> bookmarks </i>
                            <span class="tooltiptext">Booking</span>                            
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/calendar" routerLinkActive="active">
                            <i class="material-icons"> event </i>
                            <span class="tooltiptext">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/history" routerLinkActive="active">
                            <i class="material-icons"> history </i>
                        <span class="tooltiptext">History</span>
                    </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/preferences" routerLinkActive="active">
                            <i class="material-icons"> card_giftcard </i>
                            <span class="tooltiptext">Preferences</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/client/timesheet" routerLinkActive="active">
                            <i class="material-icons"> build </i>
                            <span class="tooltiptext">Manage Services</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-list" *ngIf="role == 'SERVICE PROVIDER'">
                    <li>
                        <a class="nav-link" routerLink="/provider/profile" routerLinkActive="active">
                            <i class="material-icons">person</i>
                            <span class="tooltiptext">Profile</span>    
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> dvr </i>
                            <span class="tooltiptext">Package</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/provider/calendar" routerLinkActive="active">
                            <i class="material-icons"> calendar_today </i>
                            <span class="tooltiptext">Calendar</span>
                        </a></li>
                    <li>
                        <a class="nav-link" routerLink="/provider/history" routerLinkActive="active">
                            <i class="material-icons"> history </i>
                            <span class="tooltiptext">History</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" (click)="leaveEvent()">
                            <i class="material-icons"> exit_to_app </i>
                            <span class="tooltiptext">Leave Application</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-list" *ngIf="role == 'ADMIN USER'">
                    <li>
                        <a class="nav-link" routerLink="/provider/profile" routerLinkActive="active">
                            <i class="material-icons"> date_range </i>
                            <span class="tooltiptext">Day Manager</span>    
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> people </i>
                            <span class="tooltiptext">Recipients</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons">person</i>
                            <span class="tooltiptext">Staff</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> contact_mail </i>
                            <span class="tooltiptext">Rosters</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> receipt </i>
                            <span class="tooltiptext">Timesheets</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> query_builder </i>
                            <span class="tooltiptext">Time & Attendance</span> 
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"routerLink="/provider/package" routerLinkActive="active">
                            <i class="material-icons"> bug_report </i>
                            <span class="tooltiptext">Reports</span> 
                        </a>
                    </li>
                </ul>
        </section>                
    </section>
</nav>

 -->

<!-- 


<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            Normal
        </a>
        <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            Electric
        </a>
        <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
            Poison
        </a>
        <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
            Grass
        </a>
        <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
            Fighting
        </a>
        <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
            Credit
        </a>
</clr-vertical-nav>


 -->
