
<div>
    <input type="text" [(ngModel)]="value" 
            (blur)="onBlur()" 
            (ngModelChange)="change(value)" autocomplete="palong" />
    <ul class="list" *ngIf="show && lists.length > 0">
        <li *ngFor="let list of lists;index as i" (click)="select(i)">
             {{list?.suburb}}, {{ list?.state}} <b>{{ list?.postcode }}</b></li>
    </ul>
</div>
