<div class="time-container">
    <input type="text" [ngModel]="(value == null || value == '') ?  '00:00' : value | date: 'HH:mm'" readonly>
    <i class="material-icons timer" (click)="show = !show"> timer </i>
    <div *ngIf="show" class="month-wrapper">
        <div class="form-month">
            <button (click)="changeHour('i')"><i class="material-icons"> keyboard_arrow_up </i></button>
            <p class="title">{{ value | date: 'HH' }}</p>
            <button (click)="changeHour('d')"><i class="material-icons"> keyboard_arrow_down </i></button>
        </div>
        <div class="colon">
            <p class="title">:</p>
        </div>
        <div class="form-month">
            <button (click)="changeMinute('i')"><i class="material-icons"> keyboard_arrow_up </i></button>
            <p class="title">{{ value | date:'mm' }}</p>
            <button (click)="changeMinute('d')"><i class="material-icons"> keyboard_arrow_down </i></button>
        </div>
    </div>
</div>