﻿<div class="container-fluid" *ngIf="printObject">
  <div class="print">
    <button class="btn btn-primary" (click)="print()">Print</button>
  </div>
  <div class="profile-wrapper">
    <article class="profile">
      <div style="width:60%;float:left">
        <h4>{{ printObject.user.Title }} {{ printObject.user.FirstName }} {{ printObject.user.MiddleName }} {{ printObject.user.SurnameOrg }}</h4>
      </div>
      <div style="width:40%;float:left" *ngIf="printObject.address.length > 0">
        <h5>Address</h5>
        <div *ngFor="let add of printObject.address">
          <strong>({{add.Description | removefirstlast }})</strong><span>{{ add.Address1}} {{ add.Suburb}} {{ add.Postcode }}</span>
        </div>
      </div>
    </article>
    <article class="package">
      <h4>PACKAGE DETAILS</h4>
      <div>
        <strong>Program Code: {{ printObject.programcode }}</strong>
      </div>
      <div>
        <strong>Statement Period: {{ printObject.fdate }} to {{ printObject.ldate }}</strong>
      </div>
    </article>
  </div>

  <div class="package-wrapper">
    <article class="note">
      <p><strong>Note:</strong> This statement includes an amount for government contribution and basic daily fee that may not have been paid at the date of issue. Please refer to your invoice for any outstanding amounts.</p>
    </article>
    <article>
      <ul id="balances">
        <li>
          <p>Opening Balance</p>
          <p>{{ printObject.openingBalance.Balance | currency:'USD':true:'1.2-2'}}</p>
        </li>
        <li *ngFor="let balance of printObject.addBalances">
          <p>{{ balance.ItemName }}</p>
          <p>{{ balance.ItemTotal | currency:'USD':true:'1.2-2' }}</p>
        </li>
        <li *ngFor="let balance of printObject.subBalances">
          <p>{{ balance.ItemName }}</p>
          <p>{{ balance.ItemTotal | currency:'USD':true:'1.2-2' }}</p>
        </li>
        <li>
          <p>Closing Balance</p>
          <p>{{ printObject.closingBalance.Balance | currency:'USD':true:'1.2-2'}}</p>
        </li>
        <li>
          <p>Contingency Balance</p>
          <p>{{ printObject.closingBalance.BankedContingency | currency:'USD':true:'1.2-2'}}</p>
        </li>
        <li class="total">
          <p>Total Available Balance</p>
          <p>{{ printObject.closingBalance.BankedContingency +  printObject.closingBalance.Balance | currency:'USD':true:'1.2-2' }}</p>
        </li>
      </ul>
    </article>
    <article class="data-table">
      <div id="statements" class="col-md-12" style="margin:2em 0">
        <div class="divTable divTableClient">
          <div class="divTableBody divTableBodyClient">
            <div class="divTableRow divTableRowClient header">
              <div class="divCell" style="width:25% !important">Description</div>
              <div class="divCell">Date</div>
              <div class="divCell">Quantity</div>
              <div class="divCell">Unit Price</div>
              <div class="divCell">Amount</div>
            </div>
            <ng-container *ngFor="let statement of printObject.statements | keys">
              <div style="width: 100%; min-width: 25em;">
                <h5><span style="font-weight:600">{{ statement.value[0].ItemGroup  }}</span></h5>
              </div>
              <div *ngFor="let data of statement.value" class="divTableRow divTableRowClient content">
                <div class="divCell">{{ data.BillText  }}</div>
                <div class="divCell">{{ data.Date }}</div>
                <div class="divCell">{{ data.BillQuant }}</div>
                <div class="divCell">{{ data.UnitBillRate | currency:'USD':true:'.2-2' }}</div>
                <div class="divCell">{{ data.ServiceCharge | currency:'USD':true:'.2-2' }}</div>
              </div>
              <div class="divTableRow divTableRowClient content total">
                <div class="divCell"></div>
                <div class="divCell"></div>
                <div class="divCell"></div>
                <div class="divCell total">Sub Total</div>
                <div class="divCell total">{{ getTotal(statement.value) | currency:'USD':true:'.2-2' }}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>