<!--<div>
    <img-cropper [src]="src"></img-cropper>
</div>-->

<!-- <div>hoy</div>


<a href="/StaticFiles/hello.pdf" target="_blank" >click me!</a>

<button (click)="generatePdf()">sample</button> -->

<div class="form-group">
    <label for="">Sample</label>
    <phonefax [(ngModel)]="hello"></phonefax>
</div>
<div class="form-group">
        {{ hello }}
</div>