<div nz-row nzGutter="16">
  <div nz-col nzSpan="18">
    <div style="padding: 5px;">
      <h4>Clinical History</h4>

      <button class="btn bg-dark-blue" (click)="generatePdf()">Print</button>
    </div>
  </div>
</div>
