.title{
    margin:0 0 1rem 0;
}
.list-group{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.space-btm{
    margin-bottom:1rem;
}
.primary{
    color:#1790ff !important;
}
.primary-icon{
    color: gainsboro;
    font-size: 1.4rem;
    cursor:pointer;
}
.close{
    margin-bottom:10px;
}
.close i{
    float:right;
    color:#9d9d9d;
    cursor:pointer;
}
.close i:hover{
    color:#151515;
}
.ref-form{
    padding: 1rem;
    border-bottom: 1px solid rgb(230 230 230);
}
nz-checkbox-group >>> label{
    display:block;
}
::ng-deep .ant-picker {
    width: 100% !important;
}