<nz-modal [nzWidth]="1200" [nzStyle]="{ top: '20px' }" [(nzVisible)]="open" [nzTitle]="'Add Staff'" (nzOnCancel)="handleCancel()" [nzMaskClosable]="false">
    <div class="flexy">
        
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Type & Personal Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Address Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Contact Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Other Details & Administration" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Other Contacts" nzDescription=""></nz-step>
            
            <nz-step class="mini" nzTitle="Date Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Note Details" nzDescription=""></nz-step>
            
            <nz-step class="mini" nzTitle="Competencies" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Followups" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
            <!-- <nz-step class="mini" nzTitle="Other Required Info" nzDescription=""></nz-step> -->
        </nz-steps>
        
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
        <div class="steps-content" >
            
            <div nz-row *ngIf="current == 0" [formGroup]="staffForm" nzGutter="8">
                
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Type</label>
                    </div>
                    <div nz-col nzSpan="10" class="form-group">
                        <nz-select class="nzselect-min" formControlName="type" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="" style="width: 100%;">
                            <nz-option *ngFor="let d of typesArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                
                
                
                <ng-container *ngIf="staffForm.get('type').value === 'BROKERAGE ORGANISATION' || staffForm.get('type').value === 'SUNDRY BROKERAGE SUPPLIER'">
                    <div nz-col nzSpan="24" class="form-group">
                        <nz-radio-group formControlName="orgType">
                            <label nz-radio [ngStyle]="style" nzValue="Individual">Individual</label>
                            <label nz-radio [ngStyle]="style" nzValue="Organisation">Organisation</label>
                        </nz-radio-group>
                    </div>
                </ng-container>
                
                
                <!-- <div nz-col nzSpan="16"> -->
                    <ng-container *ngIf="!(staffForm.get('orgType').value === 'Organisation') && staffForm.get('type').value != null" [formGroup]="staffForm">
                        
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="3" class="form-group text-left">
                                <label for="">Gender</label>
                            </div>
                            <div nz-col nzSpan="10" class="form-group">
                                <nz-select formControlName="gender" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzPlaceHolder="Select an Incident Type"  style="width: 100%;">
                                    <nz-option *ngFor="let d of genderArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="3" class="form-group text-left">
                                <label for="">Birthdate</label>
                            </div>
                            <div nz-col nzSpan="10" class="form-group">
                                <!-- <nz-date-picker 
                                formControlName="birthDate" 
                                (nzOnOpenChange)="dateOpenChange($event)" 
                                [nzDefaultPickerValue]="defaultDate" 
                                [nzFormat]="dateFormat" 
                                [nzAllowInput]="true" style="width:100%;">
                            </nz-date-picker> -->
                            
                            
                            <nz-date-picker 
                            formControlName="birthDate"
                            [nzFormat]="dateFormat"
                            [nzAllowInput]="true"
                            (ngModelChange)="dateChange($event)"
                            (nzOnOpenChange)="dateOpenChange($event)"
                            style="width:100%;">
                        </nz-date-picker>
                    </div>
                </div>
                
                
                
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Surname</label>
                    </div>
                    <div nz-col nzSpan="10" class="form-group">
                        <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Firstname</label>
                    </div>
                    <div nz-col nzSpan="10" class="form-group">
                        <input type="text" formControlName="firstName" class="text-upper" nz-input>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Preferred</label>
                    </div>
                    <div nz-col nzSpan="10" class="form-group">
                        <input type="text" formControlName="preferred" class="text-upper" nz-input>
                    </div>
                    
                </div>
                <div nz-col nzSpan="24" style="margin-top:1rem;">
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Account Name</label>
                    </div>
                    <div nz-col nzSpan="10" class="form-group">
                        <input type="text" formControlName="accountNo" nz-input />
                        
                        <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                        <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                    </div>
                    
                </div>
            </ng-container>
            
            <ng-container *ngIf="(staffForm.get('orgType').value === 'Organisation') && staffForm.get('type').value != null" [formGroup]="staffForm">
                <div nz-row nzGutter="24">
                    <div nz-col nzSpan="3" class="form-group text-left">
                        <label for="">Organisation Name</label>
                    </div>
                    <div nz-col nzSpan="12" class="form-group">
                        <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>  
                    </div>
                    <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                    <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                </div>                   
            </ng-container>
        <!-- </div> -->
    </div>
    
    <!-- <div *ngIf="current == 1">
        
        <ng-container *ngIf="!(staffForm.get('orgType').value === 'Organisation' && staffForm.get('type').value != null )" [formGroup]="staffForm">
            <div nz-row nzGutter="24">
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <nz-select formControlName="gender" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select an Incident Type" >
                            <nz-option *ngFor="let d of genderArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Birthdate</label>
                        <nz-date-picker formControlName="birthDate" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>
            </div>
            <div nz-row nzGutter="24">
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Surname</label>
                        <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>
                    </div>
                </div>
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Firstname</label>
                        <input type="text" formControlName="firstName" class="text-upper" nz-input>
                    </div>
                </div>
            </div>
            <div nz-row style="margin-top:1rem;">
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Account Name</label>
                        <input type="text" formControlName="accountNo" class="text-upper" nz-input>
                    </div>
                    <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                    <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="(staffForm.get('orgType').value === 'Organisation' && staffForm.get('type').value != null )" [formGroup]="staffForm">
            <div nz-row nzGutter="24">
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Organisation Name</label>
                        <input type="text" formControlName="surnameOrg" class="text-upper" nz-input>                                
                    </div>
                    <nz-alert *ngIf="accountTaken == false" nzType="success" nzMessage="Account Valid"></nz-alert>
                    <nz-alert *ngIf="accountTaken" nzType="error" nzMessage="Account Taken"></nz-alert>
                </div>
            </div>                   
        </ng-container>
        
    </div> -->
    
    <div *ngIf="current == 1" [formGroup]="staffForm">
        
        <div class="width-55">
            <button class="botton success title" (click)="addAddress()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add Addresses</button>
            
            <div nz-row class="list-group" nzGutter="24" formArrayName="addressForm" *ngFor="let staff of staffForm.get('addressForm')['controls']; let i = index;">
                <div nz-col nzSpan="2">
                    <i nz-icon class="primary-icon" [class.primary]="staff.value.primary" (click)="addressIsPrimary(i)">
                        <svg>
                            <path
                            d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                            />
                        </svg>
                    </i>
                </div>
                <div nz-col nzSpan="22">
                    <ng-container [formGroupName]="i">
                        
                        <div nz-col nzSpan="12">
                            <nz-select style="width:100%;margin-bottom:10px" formControlName="type" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Type" >
                                <nz-option *ngFor="let d of addressType" [nzLabel]="d" [nzValue]="d"></nz-option>
                            </nz-select>
                        </div>
                        
                        <div nz-col class="form-group" nzSpan="24">
                            <input type="text" formControlName="address1" autocomplete="new-password" placeholder="Address" oninput="this.value = this.value.toUpperCase()" nz-input>
                        </div>
                        
                        <div nz-col nzSpan="24">
                            <suburb [placeholder]="'Suburb/Postcode'" formControlName="suburb"></suburb>
                        </div>
                        
                    </ng-container>
                </div>                        
            </div>
        </div>
        
    </div>
    
    <div *ngIf="current == 2" [formGroup]="staffForm">
        
        <div class="width-55">
            <button class="botton success title" (click)="addContact()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add Contacts</button>
            
            
            
            <div nz-row class="list-group" nzGutter="22" formArrayName="contactForm" *ngFor="let staff of staffForm.get('contactForm')['controls']; let i = index;">            
                
                <div nz-col nzSpan="2">
                    <i nz-icon class="primary-icon" [class.primary]="staff.value.primary" (click)="contactIsPrimary(i)">
                        <svg>
                            <path
                            d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                            />
                        </svg>
                    </i>
                </div>
                
                <div nz-col nzSpan="22">
                    <ng-container [formGroupName]="i">
                        <div nz-col nzSpan="12">
                            <nz-select style="width:100%" formControlName="contacttype" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Type" >
                                <nz-option *ngFor="let d of contactType" [nzLabel]="d" [nzValue]="d"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="12">
                            <input type="text" *ngIf="!isMobile(staff.value.contacttype) && !isPhoneFax(staff.value.contacttype)" formControlName="contact" placeholder="Details" nz-input>
                            <app-phonefax *ngIf="isMobile(staff.value.contacttype)" [isMobile]="true" formControlName="contact"></app-phonefax>
                            <app-phonefax *ngIf="isPhoneFax(staff.value.contacttype)" formControlName="contact"></app-phonefax>
                        </div>     
                    </ng-container>  
                </div>                           
            </div>
        </div>
        
    </div>
    
    <div *ngIf="current == 3" [formGroup]="staffForm">
        
        <div nz-row>
            <div nz-col nzSpan="20">
                
                <div nz-col nzSpan="5" class="form-group">
                    <label for="">Commencement Date</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-date-picker formControlName="commencementDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                
                
                
                
                <!-- <div class="form-group">
                    <label for="">Commencement Date</label>
                    <nz-date-picker formControlName="commencementDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div> -->
                
                <div nz-col nzSpan="5" class="form-group">
                    <label for="">Branch</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-select style="width:100%" formControlName="branch" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a BRANCH" >
                        <nz-option *ngFor="let d of branchesArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                
                
                <!-- <div class="form-group">
                    <label for="">Branch</label>
                    <nz-select style="width:100%" formControlName="branch" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a BRANCH" >
                        <nz-option *ngFor="let d of branchesArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div> -->
                
                
                <div nz-col nzSpan="5" class="form-group">
                    <label for="">Job Category</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-select style="width:100%" formControlName="jobCategory" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Category" >
                        <nz-option *ngFor="let d of jobCategoryArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                <!-- <div class="form-group">
                    <label for="">Job Category</label>
                    <nz-select style="width:100%" formControlName="jobCategory" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Category" >
                        <nz-option *ngFor="let d of jobCategoryArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div> -->
                
                
                <div nz-col nzSpan="5" class="form-group">
                    <label for="">Staff Manager</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-select style="width:100%" formControlName="manager" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Coordinator/Manager " >
                        <nz-option *ngFor="let d of managerArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                <!-- <div class="form-group">
                    <label for="">Staff Manager</label>
                    <nz-select style="width:100%" formControlName="manager" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Coordinator/Manager " >
                        <nz-option *ngFor="let d of managerArr" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div> -->
                <div nz-col nzSpan="5" class="form-group">
                    <label for="">Activity</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-select style="width:100%" formControlName="activity" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Activity" >
                        <nz-option *ngFor="let d of activities" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                <!-- <div class="form-group">
                    <label for="">Activity</label>
                    <nz-select style="width:100%" formControlName="activity" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Activity" >
                        <nz-option *ngFor="let d of activities" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div> -->
                
            </div>
        </div>                
    </div>
    
    <div *ngIf="current == 4" [formGroup]="staffForm">
        <button class="botton success" (click)="addOtherContacts()">Add Other Contacts</button>
        
        
        <div [formGroup]="staffForm">
            <div nz-row formArrayName="otherContactsForm" *ngFor="let item of staffForm.get('otherContactsForm')['controls']; let i = index;">
                
                <div nz-col nzSpan="20" class="ref-form" [formGroupName]="i">
                    
                    <div class="close"><i nz-icon nzType="close" nzTheme="outline" (click)="deleteOther(i)"></i></div>
                    
                    <!--                         
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div class="form-group">
                                <label for="">Contact Group</label>
                                <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="contactGroup" (ngModelChange)="contactGroupChange(staffForm.get('otherContactsForm')['controls'],i)" nzShowSearch nzAllowClear
                                nzPlaceHolder="Select a Contact Group">
                                <nz-option *ngFor="let d of contactGroups" [nzLabel]="d" [nzValue]="d"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div> -->
                
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="form-group text-left">
                        <label for="">Contact Group</label>
                    </div>
                    <div nz-col nzSpan="16" class="form-group">
                        <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="contactGroup" (ngModelChange)="contactGroupChange(staffForm.get('otherContactsForm')['controls'],i)" nzShowSearch nzAllowClear
                        nzPlaceHolder="Select a Contact Group">
                        <nz-option *ngFor="let d of contactGroups" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Type</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <nz-select formControlName="type" nzShowSearch nzAllowClear style="width:100%">
                        <nz-option *ngFor="let d of staffForm.get('otherContactsForm')?.controls[i]?.get('contactList')?.value" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Name</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <ng-container *ngIf="staffForm.get('otherContactsForm')?.controls[i]?.get('type')?.value != 'DOCTORS'">
                        <input nz-input formControlName="name" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                    </ng-container>
                    <ng-container *ngIf="staffForm.get('otherContactsForm')?.controls[i]?.get('type')?.value == 'DOCTORS'">
                        <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="name" (ngModelChange)="doctorChange(staffForm.get('otherContacts')['controls'],i, $event)" nzShowSearch nzAllowClear nzPlaceHolder="Select a Doctor">
                            <nz-option *ngFor="let d of doctors" [nzLabel]="d.name" [nzValue]="d"></nz-option>
                        </nz-select>
                    </ng-container>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Address 1</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Address 2</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <input nz-input formControlName="address2" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                </div>
            </div>
            
            
            <!-- <div nz-row nzGutter="12">
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Type</label>
                        
                        <nz-select formControlName="type" nzShowSearch nzAllowClear style="width:100%">
                            <nz-option *ngFor="let d of staffForm.get('otherContactsForm')?.controls[i]?.get('contactList')?.value" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                
                <div nz-col nzSpan="15">
                    <div class="form-group">
                        <label for="">Name</label>
                        <ng-container *ngIf="staffForm.get('otherContactsForm')?.controls[i]?.get('type')?.value != 'DOCTORS'">
                            <input nz-input formControlName="name" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                        </ng-container>
                        <ng-container *ngIf="staffForm.get('otherContactsForm')?.controls[i]?.get('type')?.value == 'DOCTORS'">
                            <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="name" (ngModelChange)="doctorChange(staffForm.get('otherContacts')['controls'],i, $event)" nzShowSearch nzAllowClear nzPlaceHolder="Select a Doctor">
                                <nz-option *ngFor="let d of doctors" [nzLabel]="d.name" [nzValue]="d"></nz-option>
                            </nz-select>
                        </ng-container>
                    </div>
                </div>
            </div> -->
            
            
            <!-- <div nz-row nzGutter="12">
                <div nz-col nzSpan="24">
                    <div class="form-group">
                        <label for="">Address 1</label>
                        <input nz-input formControlName="address1" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                </div>
                
                <div nz-col nzSpan="24">
                    <div class="form-group">
                        <label for="">Address 2</label>
                        <input nz-input formControlName="address2" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" />
                    </div>
                </div>
            </div> -->
            
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Suburb</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <suburb formControlName="suburb"></suburb>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Email</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <input nz-input formControlName="email" autocomplete="nofill" />
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    
                    <label for="">Phone 1</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <app-phonefax formControlName="phone1"></app-phonefax>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Phone 1</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <app-phonefax formControlName="phone2"></app-phonefax>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Mobile</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4" class="form-group text-left">
                    <label for="">Fax</label>
                </div>
                <div nz-col nzSpan="16" class="form-group">
                    <app-phonefax formControlName="fax"></app-phonefax>
                </div>
            </div>
            
            
            
            <!-- <div nz-row nzGutter="12">
                <div nz-col nzSpan="24">
                    <div class="form-group">
                        <label for="">Suburb</label>
                        <suburb formControlName="suburb"></suburb>
                    </div>
                </div>
                
                <div nz-col nzSpan="24">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input nz-input formControlName="email" autocomplete="nofill" />
                    </div>
                </div>
            </div>
            
            <div nz-row nzGutter="12">
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Phone 1</label>
                        <app-phonefax formControlName="phone1"></app-phonefax>
                    </div>
                </div>
                
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Phone 2</label>
                        <app-phonefax formControlName="phone2"></app-phonefax>
                    </div>
                </div>
            </div> -->
            
            <!-- <div nz-row nzGutter="12">
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Mobile</label>
                        <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                    </div>
                </div>
                
                <div nz-col nzSpan="12">
                    <div class="form-group">
                        <label for="">Fax</label>
                        <app-phonefax formControlName="fax"></app-phonefax>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
</div>
</div>

<div *ngIf="current == 5" [formGroup]="staffForm" style="width:25rem">
    <div nz-row [nzGutter]="8" class="space-btm">
        <div nz-col nzSpan="8">
            <nz-date-picker [nzFormat]="dateFormat" formControlName="date" [nzFormat]="dateFormat" [nzPlaceHolder]="'Referral Date'"></nz-date-picker>
        </div>                        
    </div>
    <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="8">
            <nz-time-picker formControlName="time" [nzPlaceHolder]="'Time'" nzFormat="HH:mm"></nz-time-picker>
        </div>
        <div nz-col nzSpan="8">
            <nz-time-picker formControlName="timeSpent" [nzMinuteStep]="15" [nzPlaceHolder]="'Time Spent'" nzFormat="HH:mm"></nz-time-picker>
        </div>
    </div>
</div>

<div *ngIf="current == 6" >
    <div nz-col nzSpan="24">
        <div class="form-group" [formGroup]="staffForm">
            <nz-radio-group formControlName="radioGroup">
                <label nz-radio [nzValue]="'HRNOTE'">HR NOTE</label>
                <label nz-radio [nzValue]="'OPNOTE'">OP NOTE</label>
            </nz-radio-group>
            
            <textarea rows="4" nz-input formControlName="notes" style="margin:15px 0"></textarea>
        </div>
    </div>
</div>

<div *ngIf="current == 7" [formGroup]="staffForm">
    <label for="">Competencies</label>
    <nz-checkbox-group [(ngModel)]="notifCompetenciesGroup" (ngModelChange)="competencyChange(notifCompetenciesGroup)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
    <nz-alert nzType="warning" *ngIf="notifCompetenciesGroup?.length == 0" nzMessage="No Competencies"></nz-alert>
</div>

<div *ngIf="current == 8" [formGroup]="staffForm">
    <label for="">Notifications</label>
    <nz-checkbox-group [(ngModel)]="notifCheckBoxes" (ngModelChange)="notifChange(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
    <nz-alert nzType="warning" *ngIf="notifCheckBoxes?.length == 0" nzMessage="No Notifications"></nz-alert>
</div>

<div *ngIf="current == 9" [formGroup]="staffForm">
    <label for="">Followups</label>
    <nz-checkbox-group [(ngModel)]="notifFollowUpGroup" (ngModelChange)="followupChange(notifFollowUpGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
    <nz-alert nzType="warning" *ngIf="notifFollowUpGroup?.length == 0" nzMessage="No Followups"></nz-alert>
</div>

<div *ngIf="current == 10" [formGroup]="staffForm">
    <label for="">Documents</label>
    <nz-checkbox-group [(ngModel)]="notifDocumentsGroup" (ngModelChange)="docChange(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
    <nz-alert nzType="warning" *ngIf="notifDocumentsGroup?.length == 0" nzMessage="No Documents"></nz-alert>
</div>

<div *ngIf="current == 11" [formGroup]="staffForm">
    <label for="">Other Required Info</label>
    <div *ngFor="let l of datalist"> 
        <a [href]="l.link" target="_blank">{{l.form}}</a>
    </div>
    <nz-alert nzType="warning" *ngIf="datalist?.length == 0" nzMessage="No Other Infos"></nz-alert>               
</div>

</div>

</div>
<div *nzModalFooter>
    <ng-container>
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>Previous</span>
        </button>
        <!-- *ngIf="current < 3" [disabled]="!nextRequired" -->
        <button nz-button nzType="default" (click)="next()" *ngIf="current < 11" [disabled]="!nextRequired">
            <span>Next</span>
        </button>
        <button nz-button nzType="primary" [nzLoading]="postLoad" (click)="save()" *ngIf="current == 11" >
            <span>Done</span>
        </button>
    </ng-container>
</div>
</nz-modal>