nz-select{
    width: 25%;
    min-width: 18rem;
}

nz-select >>> div.ant-select-selection{
    /* border-radius: 15px; */
}

nz-select >>> input[type="text"]{
    text-transform: "uppercase";
}

button{
    margin-left:0.1rem;
}

.recordHeaderMainButtons{
    display: inline;
    width: 32px;
    height: 32px;
}