<div style="display: flex; flex-wrap: nowrap;">
<nz-select nzShowSearch nzAllowClear [nzLoading]="loading" [nzPlaceHolder]="viewResult()" [nzMaxTagCount]="1000"
    [(ngModel)]="searchModel" (ngModelChange)="change($event)"  >
    <nz-option *ngFor="let l of lists" [nzLabel]="l" [nzValue]="l"></nz-option>
</nz-select>

<button nz-button nzType="primary" class="recordHeaderMainButtons"  nz-tooltip [nzTooltipTitle]="view == 0 ? 'Switch to Recipient' : 'Switch to Staff'" (click)="switch()"><i nz-icon nzType="swap"></i></button>

</div>