<div class="col-md-offset-1 col-md-10" style="margin-top:15px">
        <ng-template #modalContent let-close="close">
                <div class="modal-header">
                    <h5 class="modal-title">Event action occurred</h5>
                    <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                    Action:
                    <pre>{{ modalData?.action }}</pre>
                    </div>
                    <div>
                    Event:
                    <pre>{{ modalData?.event | json }}</pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                </div>
                </ng-template>
              
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary btn-prov-calendar"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="dateChanged($event,view);activeDayIsOpen = false">
                      Previous
                    </div>
                    <div
                      class="btn btn-outline-secondary"
                      mwlCalendarToday
                      [(viewDate)]="viewDate">
                      Today
                    </div>
                    <div
                      class="btn btn-primary btn-prov-calendar"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="dateChanged($event,view);activeDayIsOpen = false">
                      Next
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary btn-prov-calendar"
                      (click)="view = 'month';dateChanged(viewDate)"
                      [class.active]="view === 'month'">
                      Month
                    </div>
                    <div
                      class="btn btn-primary btn-prov-calendar"
                      (click)="view = 'week';dateChanged(viewDate)"
                      [class.active]="view === 'week'">
                      Week
                    </div>
                    <div
                      class="btn btn-primary btn-prov-calendar"
                      (click)="view = 'day';dateChanged(viewDate)"
                      [class.active]="view === 'day'">
                      Day
                    </div>
                  </div>
                </div>
              </div>
              
              <br>
            
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
              </div>
            
            <!--   
              <h3>
                Edit events
                <button
                  class="btn btn-primary pull-right"
                  (click)="addEvent()">
                  Add new
                </button>
                <div class="clearfix"></div>
              </h3>
              
              <table class="table table-bordered">
              
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Primary color</th>
                    <th>Secondary color</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th>Remove</th>
                  </tr>
                </thead>
              
                <tbody>
                  <tr *ngFor="let event of events; let index = index">
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="event.title"
                        (keyup)="refresh.next()">
                    </td>
                    <td>
                      <input
                        type="color"
                        [(ngModel)]="event.color.primary"
                        (change)="refresh.next()">
                    </td>
                    <td>
                      <input
                        type="color"
                        [(ngModel)]="event.color.secondary"
                        (change)="refresh.next()">
                    </td>
                    <td>
                      <mwl-demo-utils-date-time-picker
                        [(ngModel)]="event.start"
                        (ngModelChange)="refresh.next()"
                        placeholder="Not set">
                      </mwl-demo-utils-date-time-picker>
                    </td>
                    <td>
                      <mwl-demo-utils-date-time-picker
                        [(ngModel)]="event.end"
                        (ngModelChange)="refresh.next()"
                        placeholder="Not set">
                      </mwl-demo-utils-date-time-picker>
                    </td>
                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="events.splice(index, 1); refresh.next()">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              
              </table> -->
</div>

<bs-modal #roster>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Roster Details</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" *ngIf="rosterData">
            <div class="col-md-offset-3 col-md-3 form-group">
                <label for="">Start Time</label>
                <input type="text" [ngModel]="rosterData.startTime" disabled>
            </div>
            <div class="col-md-3 form-group">
                <label for="">End Time</label>
                <input type="text" [ngModel]="rosterData.endTime" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="">Client Code</label>
                <input type="text" [ngModel]="rosterData.client" disabled>
            </div>
            <div class="col-md-6 form-group">
                <label for="">Carer Code</label>
                <input type="text" [ngModel]="rosterData.carer"disabled>
            </div>
            <div class="col-md-12 form-group">
                <label for="">Service Type</label>
                <input type="text" [ngModel]="rosterData.service"disabled>
            </div>
            <div class="col-md-12  form-group">
                <label for="formFields_1">Addresses</label>
                <table class="table table-compact">
                    <thead>
                        <tr>
                            <th class="left">Description</th>
                            <th>Address</th>
                            <th>Suburb</th>
                            <th>Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let address of addresses">
                            <td class="left"><span *ngIf="address?.primaryAddress" class="badge badge-blue">|</span>{{ address.description | removefirstlast  }}</td>
                            <td>{{ address.address1 }}</td>
                            <td>{{ address.suburb }}</td>
                            <td>{{ address.postcode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 form-group">
              <label for="">Notes</label>
              <textarea readonly [ngModel]="rosterData?.notes"></textarea>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="roster.close()">Ok</button>
    </bs-modal-footer>
</bs-modal>