<div>
        <div>
            <div class="col-md-2 col-xs-6 col-fl">
                <div class="form-group">
                    <label>Start Date *</label>
                    <datepicker [(ngModel)]="sDate" (ngModelChange)="dateStream.next($event)"></datepicker>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-fl">
                <div class="form-group">
                    <label>End Date *</label>
                    <datepicker [(ngModel)]="eDate" (ngModelChange)="dateStream.next($event)"></datepicker>
                </div>
            </div>
            <div class="col-md-8 col-xs-12 web-first">
              <clr-toggle-wrapper style="float: right;margin:1rem 0">
                <input type="checkbox" clrToggle value="option1" name="options" (change)="hideNotes = !hideNotes"/>
                <label>Toggle Notes</label>
              </clr-toggle-wrapper>              
            </div>            
        </div>
        <div style="margin-bottom:1rem">
                <div class="web-first">
                    <table class="table table-compact">
                        <thead>
                            <tr>
                                <th>Shift/Booking No</th>
                                <th>Date</th>
                                <th style="width:3rem">Start Time</th>
                                <th style="width:3rem">End Time</th>
                                <th style="width:3rem">Duration</th>
                                <th>Recipient or Location</th>
                                <th>Activity</th>
                                <th>Pay Type</th>
                                <th>Pay Quantity</th>
                                <th style="width:2rem">App</th>
                                <th style="width:15rem" *ngIf="hideNotes">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ts of timesheets" [class.unapprove]="!ts.approved" [class.approve]="ts.approved">
                                <td>{{ ts.shiftbookNo}}</td>
                                <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ ts.activity_Time.end_Time | date: 'HH:mm' }}</td>
                                <td>{{ ts.activity_Time.calculated_Duration}}</td>
                                <td>{{ ts.recipientLocation}}</td>
                                <td>{{ ts.activity.name }}</td>
                                <td>{{ ts.payType.paytype }}</td>
                                <td>{{ ts.pay.quantity | number: '1.2-2' }}</td>
                                <td>  
                                    <div>
                                        <input type="checkbox" [(ngModel)]="ts.approved" disabled>
                                    </div>
                                </td>
                                <td *ngIf="hideNotes">{{ ts.note }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="timesheets.length == 0 && !loading" class="alert alert-info">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <div class="alert-text">
                                No Data
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading" *ngIf="loading">
                    <span class="spinner spinner-md">
                        Loading...
                    </span>
                </div>


                <div class="mobile-first">
                    <div class="stackview">
                        <clr-stack-view>            
                            <clr-stack-block [clrSbExpanded]="true" *ngFor="let ts of finalList">
                                <clr-stack-label>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</clr-stack-label>
                                <clr-stack-content>{{ ts.activity_Time.start_time | date: 'HH:mm' }} ({{ ts.activity_Time.calculated_Duration}})</clr-stack-content>
                                <clr-stack-block>
                                    <clr-stack-label>Recipient or Location</clr-stack-label>
                                    <clr-stack-content>{{ ts.recipientLocation}}</clr-stack-content>
                                </clr-stack-block>
                                <clr-stack-block>
                                    <clr-stack-label>Activity</clr-stack-label>
                                    <clr-stack-content>{{ ts.activity.name}}</clr-stack-content>
                                </clr-stack-block>                        
                                <clr-stack-block>
                                    <clr-stack-label>Pay Type</clr-stack-label>
                                    <clr-stack-content>{{ ts.payType.paytype }}</clr-stack-content>
                                </clr-stack-block>
                                <clr-stack-block>
                                    <clr-stack-label>Pay Quantity</clr-stack-label>
                                    <clr-stack-content>{{ ts.pay.quantity | number: '1.2-2' }}</clr-stack-content>
                                </clr-stack-block>
                                <clr-stack-block>
                                    <clr-stack-label>Notes</clr-stack-label>
                                    <clr-stack-content>{{ ts.note}}</clr-stack-content>
                                </clr-stack-block>
                            </clr-stack-block>  
                          
                        </clr-stack-view>
                        <paginate  *ngIf="timesheets?.length > 0" [list]="timesheets" (outList)="gwapo($event)"></paginate>
                    </div>
                </div>
        </div>
</div>
