<clr-main-container class="main-container">
    <headernav></headernav>
    <div class="content-container">
        <sidenav class="side" (EmitValue)="emitOutput($event)"></sidenav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>       
    </div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="leaveShow" class="no-overflow">
    <h3 class="modal-title">Leave Application</h3>
    <div class="modal-body">
        <div class="col-md-12">
            <div [formGroup]="leaveForm">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">       
                        <label for="formFields_1">Start Date *</label>
                        <datepicker formControlName="StartDate" [DPrevDays]="true"></datepicker>        
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">                 
                        <label for="formFields_1">End Date *</label>
                        <datepicker formControlName="EndDate" [DPrevDays]="true"></datepicker>            
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">
                        <label for="formFields_1">Leave Types*</label>
                        <select formControlName="Leave" class="leaves">
                            <option *ngFor="let leave of leaves">{{ leave }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">
                        <label for="">Notes</label>
                        <textarea formControlName="Notes" style="height:3rem" placeholder="Enter note here.."></textarea>
                    </div>
                </div>

                <div class="col-md-12" style="text-align:center" *ngIf="loading">
                    <span class="spinner spinner-md">
                            Loading...
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveLeave()">Save</button>
        <button type="button" class="btn btn-danger-outline" (click)="leaveShow = false">Cancel</button>
    </div>
</clr-modal>