<div class="col-md-12" #scrollMe>
    <div class="date-period">
        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="">Pay Period</label>
                <span class="logo-period"> {{ payPeriod?.payperiod }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Date Duration</label>
                <span class="logo-period"> {{ payPeriod?.sDate }} — {{ payPeriod?.eDate }}</span>
            </div>
        </div>
        <div class="col-md-4 total-time">
            <div class="form-group">
                <label for="">Total Time</label>
                <span class="logo-period"> {{ totalTime | number : '1.2-2' }}  ({{ totalHoursMinutes }})</span>
            </div>
        </div>
    </div>
    <div class="web-first" style="margin-bottom: 1rem;">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th style="width:0rem"></th>
                    <th class="clickable" (click)="sort('shiftbookNo')"><i class="material-icons" [class.desc]="columns.shift"> arrow_drop_down </i> Shift No</th>
                    <th class="clickable" (click)="sort('activityDate')"><i class="material-icons" [class.desc]="columns.date"> arrow_drop_down </i>Date</th>
                    <th class="clickable"(click)="sort('start')"><i class="material-icons" [class.desc]="columns.start"> arrow_drop_down </i>Start</th>
                    <th class="clickable"(click)="sort('end')"><i class="material-icons" [class.desc]="columns.end"> arrow_drop_down </i>End</th>
                    <th class="clickable" (click)="sort('duration')"><i class="material-icons" [class.desc]="columns.duration"> arrow_drop_down </i>Duration</th>
                    <th>Claimed Start</th>
                    <th>Claimed End</th>
                    <th class="clickable" (click)="sort('recipient')"><i class="material-icons" [class.desc]="columns.recipient"> arrow_drop_down </i>Recipient or Location</th>
                    <th class="clickable" (click)="sort('activity')"><i class="material-icons" [class.desc]="columns.activity"> arrow_drop_down </i>Activity</th>
                    <th>Notes</th>
                    <th><button class="submit sub-unsub-btn" (click)="submitAll(timesheets)">Submit All</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ts of timesheets; let i=index">
                    <td>                      
                        <action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action>
                    </td>
                    <td>{{ ts?.shiftbookNo }}</td>
                    <td>{{ ts?.activityDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ ts?.start | date: 'HH:mm' }}</td>
                    <td>{{ ts?.end | date: 'HH:mm' }}</td>
                    <td>{{ ts?.duration }}</td>
                    <td>{{ ts?.claimStart | date: 'HH:mm' }}</td>
                    <td>{{ ts?.claimEnd | date: 'HH:mm' }}</td>
                    <td>{{ ts?.recipient }}</td>
                    <td>{{ ts?.activity }}</td>
                    <td>{{ ts?.note }}</td>
                    <td>
                        <ng-container *ngIf="ts.rosterType == 9">
                            <p class="claim-container">
                                <span class="badge travel">Travel Claim </span>                               
                            </p>
                            <p class="claim-container">
                                <span class="badge badge-1">{{ ts.km }} KM</span>
                                <span class="odometer"><i class="material-icons"> directions_car </i> {{ts.startKM }} → {{ts.endKM}}</span>
                            </p>                           
                        </ng-container>

                        <ng-container *ngIf="ts.rosterType == 5">
                            <span class="badge travel-time">Travel Time</span>
                        </ng-container>

                        <ng-container *ngIf="!(ts.rosterType == 5 || ts.rosterType == 9)">                            
                            <button class="submit sub-unsub-btn" *ngIf="!ts.submitted" (click)="confirmSubmit(ts)">Submit</button>
                            <button class="unsubmit sub-unsub-btn" *ngIf="ts.submitted" (click)="confirmSubmit(ts)">Un-Submit</button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <intake-no-data [data]="inTimesheets?.length"></intake-no-data>
        <paginate *ngIf="inTimesheets?.length > 0" [list]="inTimesheets" (outList)="gwapo($event)"></paginate>
    </div>

    <div class="mobile-first">
        <div class="timeline">
                <div class="container right" *ngFor="let ts of timesheets; let i=index" [class.jobstart]="ts.status == 1" [class.jobfinish]="ts.status == 2">
                    <div class="content">
                        <h4>{{ ts?.start | date: 'HH:mm' }} - {{ ts?.end | date: 'HH:mm' }}</h4>
                        <action class="options" [in_data]="ts" [disableBtns]="settings" [status]="ts.status" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action>
                        <div class="ts-title">
                          
                            <div class="pp"><i class="material-icons"> person_pin </i> {{ ts?.recipient }}</div>
                            <div class="pp"><i class="material-icons"> create_new_folder </i> {{ts?.activity}}</div>
                         
                        </div>
                        <div class="form-group">
                            <label for="">Notes</label>
                            <div class="ts-note">
                                {{ts?.note}}
                            </div>
                        </div>
                    </div>
                </div>               
        </div>
    </div>

</div>


<clr-modal [(clrModalOpen)]="show" class="no-overflow">
    <h3 class="modal-title">{{ pickedAction?.title }}</h3>
    <div class="modal-body">
            <div class="col-md-12" *ngIf="pickedAction?.option == 'tclaim' ">
                    <div class="row tclaim">
                        <i class="material-icons"> card_travel </i>
                        <span [class.pref]="!travelDefault.TravelType" class="option">Travel Between</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="toggle_5" [(ngModel)]="travelDefault.TravelType" >
                            <label for="toggle_5"></label>
                        </div>
                        <span [class.pref]="travelDefault.TravelType" class="option">Travel Within</span>
                    </div>
                    <div class="row tclaim">
                        <i class="material-icons"> attach_money </i>
                        <span [class.pref]="!travelDefault.ChargeType" class="option">Don't Charge Client</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="toggle_6" [(ngModel)]="travelDefault.ChargeType" >
                            <label for="toggle_6"></label>
                        </div>
                        <span [class.pref]="travelDefault.ChargeType" class="option">Charge Client</span>
                    </div>
                    <div class="row tclaim">
                        <i class="material-icons"> directions_car </i>
                        <span [class.pref]="!travelDefault.VehicleType" class="option">Owned Vehicle</span>
                        <div class="toggle-switch">
                            <input type="checkbox" id="toggle_7" [(ngModel)]="travelDefault.VehicleType"  >
                            <label for="toggle_7"></label>
                        </div>
                        <span [class.pref]="travelDefault.VehicleType" class="option">Agency Vehicle</span>
                    </div>
                    <div class="row tclaim-var">
                        <div class="form-group col-md-offset-2 col-md-4 col-xs-6">
                            <label for="">Start KM</label>
                            <input type="number" [(ngModel)]="travelDefault.StartKM">
                        </div>
                        <div class="form-group col-md-4 col-xs-6">
                                <label for="">End KM</label>
                                <input type="number" [(ngModel)]="travelDefault.EndKM">
                        </div>
                        <div class="form-group col-md-offset-2 col-md-8">
                                <label for="">Notes</label>
                                <textarea [(ngModel)]="travelDefault.Notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="pickedAction?.option == 'claim' ">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="">Job ID</label>
                            <span>{{ pickedAction?.value.shiftbookNo }}</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Date</label>
                            <span>{{ pickedAction?.value.activityDate | date:'dd/MM/yyyy'  }}</span>
                        </div>
                        <div class="form-group col-md-offset-1 col-md-5">
                            <label>Status</label>
                            <span *ngIf="pickedAction?.value.approved"><span class="badge badge-success">|</span> Approved</span>
                            <span  *ngIf="!(pickedAction?.value.approved)"><span class="badge badge-danger">|</span>  Unapproved</span>                
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="">Start Time</label>
                            <timepicker [(ngModel)]="pickedAction.value.activityTime.start_time" (ngModelChange)="computeTime()"></timepicker>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">End Time</label>
                            <timepicker [(ngModel)]="pickedAction.value.activityTime.end_Time" (ngModelChange)="computeTime()"></timepicker>
                        </div>
                        <div class="form-group col-md-offset-1 col-md-4">
                            <label>Duration</label>
                            <span>{{ timeDuration }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="pickedAction?.option == 'rnote' ">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="">Roster Details</label>
                            <textarea [(ngModel)]="rosternote" name="description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="pickedAction?.option == 'opnote' ">
                
                    <div class="form-group col-md-4">
                        <label for="">Job ID</label>
                        <span>{{ pickedAction?.value.shiftbookNo }}</span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Recipient/Location</label>
                        <span>{{ pickedAction?.value.recipient }}</span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">OP Details</label>
                        <textarea [(ngModel)]="opnote" name="description" required></textarea>
                    </div>
                
                </div>
                <div class="col-md-12" *ngIf="pickedAction?.option == 'casenote' ">                           
                    <div class="form-group col-md-4">
                        <label for="">Job ID</label>
                        <span>{{ pickedAction?.value.shiftbookNo }}</span>
                    </div>     
                    <div class="form-group col-md-4">
                        <label for="">Recipient/Location</label>
                        <span>{{ pickedAction?.value.recipient }}</span>
                    </div>
                    <div class="col-md-12">
                        <label for="">Case Details</label>
                        <textarea [(ngModel)]="casenote" name="description" required></textarea>
                    </div>          
                </div>
                <div class="col-md-12" *ngIf="pickedAction?.option == 'rincident'" [formGroup]="rosterIncidentForms">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="incidenttype">Incident Type</label>
                            <select formControlName="incidentType">
                                <option selected value=""></option>
                                <option *ngFor="let type of incidentTypes">{{ type }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Incident Severity</label>
                            <select formControlName="incidentSeverity">
                                <option selected value=""></option>
                                <option *ngFor="let severity of incidentSeverity">{{ severity }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">Incident Location</label>
                            <select formControlName="incidentLocation">
                                <option selected value=""></option>
                                <option *ngFor="let location of incidentLocation | async">{{ location }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>No Recipient Involved</label>
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox value="option2" name="options" formControlName="boolRecipient" />                               
                            </clr-checkbox-wrapper>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-md-12">
                            <label for="">Incident Detail</label>
                            <textarea formControlName="incidentDetail" name="description" required></textarea>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="show = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save(pickedAction)">Ok</button>
    </div>
</clr-modal>


<!-- <clr-modal>
    <h3 class="modal-title">{{ pickedAction?.title }}</h3>
    <div class="modal-body">
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save(pickedAction)">Save</button>
        <button type="button" class="btn btn-danger-outline" (click)="show = false">Cancel</button>
    </div>
</clr-modal> -->

<bs-modal #claimvariation>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">
                <i class="material-icons ">
                        done_outline
                        </i>
            Submit Confirmation</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12 pad">
            Do you want to save the change?
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="submitClaim()">Save</button>
        <button type="button" class="btn btn-danger-outline" (click)="claimvariation.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>


