 
  @font-face {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    src: url('/assets/fonts/segoeui.ttf');   
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:  'Times New Roman';
    font-size: large;
}
 nz-select {
    margin-right: 8px;
    width: 200px;
}
.ant-form-item{
    margin:0;
}

.form-group label.info{
    font-weight: 500;
    font-size: 1rem;
    color: #46535f;

}
h2{
    margin-bottom:2rem;
}
h3{
    color: #828282;
}
/* nz-table{
    margin-top:15px;
} */
::ng-deep .ant-tabs-tab-active {
   
    color: #002060 !important;
    font-weight: bold !important;
  }
  ::ng-deep .ant-tabs-ink-bar {
    background-color: #fff !important;
  }
a:hover{
    text-decoration: underline;
}
.edit-btn{
    position: absolute;
    right: 0rem;
    top: -1rem;
    z-index: 1;
}
.right-btns{
    float: right;
    margin: 10px;
}
.right-btns > *{
    margin-left:10px;
}
nz-select{
    width:100%;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
}
.form-row > div.form-group{
    margin-bottom:3rem;
}

nz-descriptions >>> div table tbody tr:nth-child(odd) td span{
    font-weight: 500;
}

td{
    padding: 0px;
}
.divider{
    padding: 1rem;
    margin-bottom:1rem;
}
.sec-highlight{    
    background: #f7f7f7;
}
.divider > i{
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 1.1rem;
    cursor:pointer;
    color:#979797;
    z-index:5;
}
.divider > i:hover{
    color:#383838;
}
i.icon{
    float: left;
    margin-top: 4px;
    margin-right: 1rem;
    font-size: 14px;
    color: #215097;
}
.form-group{
    position:relative;
}
.form-group > span{
    margin-left: 2rem;
}
ul{
    list-style:none;
}
ul li{
    margin-top:15px;
}
ul li b{
    color: #7FC4FD;
    font-size:11px;
}
.highlight{
    font-weight:600;
}
.highlight i{
    float: left;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #004165;
}
.options{
    float:right;
}
.options i{
    cursor:pointer;
    margin-left: 10px;
}
.add{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    color: #fff !important;
    background: #56db79;
    padding: 2px;
    cursor:pointer;
}

/* image  */
img{
    position: absolute;
    max-width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.prof-alert{
    position: absolute;
    color: #fff;
    bottom: 0;
    top: 0;
    padding-top:16px;
    right: 0;
    left: 0;
    font-size:10px;
    background: #00416599;
    opacity:1;
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 0.2s;
    cursor:pointer;
    text-align: center;

}
.prof-active{
    background-color: white;
    color: #71a1ce;
    font-size: 20px;
    text-transform: uppercase;
    height:30px;
    width:110px;
    text-align: center;
    font-weight: 500;
    padding:3px;
    border: 0.5px solid #e4e2e0;
    border-radius: 0 0 5px 5px; /* Top corners are 0 (no rounding), bottom corners are 5px */
    column-rule-color: #dbdee2;
}
.green-budget{
    background-color:  #16c206;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    height :60px;
    width:110px;
    text-align: center;
    font-weight: 900;
    margin-top: 3px;
    padding-top:15px;
    border: 1px solid #16c206;
    border-radius: 5px;
}
.red-budget{
    background-color:  #df0808;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    height :60px;
    width:110px;
    text-align: center;
    font-weight: 900;
    margin-top: 3px;
    padding-top:15px;
    border: 1px solid #df0808;
    border-radius: 5px;

}
.yellow-budget{
    background-color:  #ecee61;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    height :60px;
    width:110px;
    text-align: center;
    font-weight: 900;
    margin-top: 3px;
    padding-top:15px;
    border: 1px solid #ecee61;
    border-radius: 5px;

}

.prof-budget{
    background-color:  #F18805;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    height :60px;
    width:110px;
    text-align: center;
    font-weight: 900;
    margin-top: 3px;
    padding-top:15px;
    border: 1px solid #F18805;
    border-radius: 5px;

}
.prof-alert i {
    display:block;
    font-size:18px;
    height: 150px;
    width: 150px;;
}

.avatar-container{
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
    /* margin-bottom:1rem; */
    /* width: 64px; */
    /* height: 64px; */

    width: 110px;
    height: 110px;
    border-radius: 3px 3px 0 0; /* Top corners are 0 (no rounding), bottom corners are 5px */
    /* z-index:10; */
}

.avatar-container nz-avatar{
    width: 4rem;
    -webkit-box-shadow: 0 2px 9px -1px #777;
    -moz-box-shadow: 0 2px 9px -1px #777;
    box-shadow: 0 2px 9px -1px #777;
}
.avatar-container a{
    cursor:inherit;
}

.avatar-container.alert-show .prof-alert{
    transition: 0.1s;
    transition-timing-function: ease-out;
    
    transform: translateY(0);
    opacity: 1;
}

input[type="file"]{
    opacity: 0;
    height: 0;
    position: absolute;
}
label.upload-pic{
    color: #2e9aff;
    font-size: 12px;
    font-weight: bolder;
}
label.upload-pic:hover{
    text-decoration:underline;
    cursor:pointer;
}
.primary{
    color:#1790ff;
}
.recordid-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #515151;
    margin: 0 !important;
}
.active-programs{
    background: #919191;
    color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
    margin-right: 4px;
}
.status-wrapper{
    color: #fff;
    border-radius: 10px;
    background: #85b9d5;
    padding: 5px 10px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 10px 0;
}

div > label {
    margin-bottom: 0px !important;
    font-weight:700px !important;
}
.contact-adress-box{
    display:flex;
    flex-direction: row;
    border: 0.5px solid #e8e9eb;
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    padding: 5px;
    
}
.basic-detail-box{
  
   
    margin-right: -10px;
    margin-top: -5px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.basic-detail-box label {
    margin-left:1px;
}
input{
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.min-btn{
    background-color: #002060;
    color: white;
    border: 1px solid #002060 ;
    border-radius: 5px;
    margin: 1px;
    padding:2px;
    height: 30px;
    width:30px;
    font : 'Segoe UI';
    font-size: 12px; 
    text-transform: uppercase;
}
.min-btn-orange{
    background-color: #F18805;
    color: white;
    border: 1px solid #F18805 ;
    border-radius: 5px;
    margin: 1px;
    padding:2px;
    height: 30px;
    width:30px;
    font : 'Segoe UI';
    font-size: 12px; 
    text-transform: uppercase;
}
.contact-info-box{
    display:flex;
    flex-direction: column;
    height: 5rem;
    border: 1px solid #eeebeb;
    width: fit-content;
    /* padding-left: 5px; */
    text-align: justify;
    
}

.contact-info-box2{
    display:flex;
    flex-direction: column;
    height: 5rem;
    border: 1px solid #eeebeb;    
    width: 100%;  
    padding-left: 3px;
    margin-left: 2px;
}
.contact-info-box2 nz-table td{
    padding: 1px !important;
}
.adress-box{
    height: 6rem;
    border: 1px solid;
}

.info-label{
    font : 'Segoe UI';
    font-size: 14px;
    margin:0 0 0px;  
    text-wrap: nowrap;
    padding-left: 5px;
}

.selecteditem{
    border: 1px solid #1f2020;
    background-color: #c1d8ee;
}
.selecteditem:hover{
    background-color:#85B9D5 !important;
}
.selecteditem td:hover{
    background-color: #85B9D5 !important;
}
.selecteditem:focus{
    background-color:#85B9D5 !important;
}
.selecteditem td:focus{
    background-color: #85B9D5 !important;
}

.header{
    background-color: #fff;
    border-color: #dfe1e1;
    color: #191818;
    padding: 5px;
    text-transform: uppercase;
    
} 
div.form-group {
    margin-bottom: 5px;
    
}
#titleforstaff ::ng-deep .ant-select-selection{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.text-right{
    text-align:right;
}
::ng-deep .ant-modal-title {
    color: #fff; /* Change to your desired color */
    font-family: 'Segoe UI';
    font-weight:700;
    text-align:center;
  }
  /* ::ng-deep .ant-modal .ant-modal-header {
    background-color: #85B9D5 !important;
    
  } */

  .ant-table-tbody>tr.ant-table-row:hover>td{
    background-color:transparent;
  } 

  .contact-info-box2 ::ng-deep .ant-table-tbody > tr:nth-child(odd) {
    background-color: #e6f7ff; /* Light blue for odd rows */
  }
  .contact-info-box2 ::ng-deep .ant-table-tbody > tr:nth-child(even) {
    background-color: #FFFFFF; /* White for even rows */
  }

