
   
   .main{
    display: flex;
    flex-direction: row;
   }
   .sidebar{
    display: flex;
    flex-direction: column;
    padding:5px; 
    border-right: 1px solid #ededed;
    height: calc(90vh - 50px);
    overflow: auto; 
    font-size: 10px;
    min-width: 12vw !important;

   }
   .tbl-main{
    display:flex; 
    flex-direction:row;
    overflow-y: auto;
    overflow-x: auto;
    min-width: 75vw !important;
    
   }
   .main-body{
    display: flex;
    flex-direction: column;
    
    width: 90vw;
    height: calc(100vh - 50px);
   }
   .dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  'Segoe UI';
    color: white;
    background-color: #85B9D5;
 }

 .box{
    display: flex;
    flex-direction: row;   
    border: 1px solid #e5e5e5;
    border-radius: 5px;
 }

 .rectangle{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
 }
    nz-checkbox-group ::ngdeep  label {
        display: block;
        padding: 2px ;
        font-size: 12px;
    }
    .checkbox-group{
        margin:8px;
        
    }
    .checkbox-group label{
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
    .selected{
        background-color: #1079c9;
        color: white;
    }
   
    i{
        font-size:1.2rem;
        margin-right:1rem;
        cursor:pointer;
        color:#c1c1c1;
    }
    i:hover{
        color:#4d4d4d;
    }
    nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-body{
      padding:0;
  }
  nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
      padding:0;
  }
  ul{
      list-style: none;
      padding: 5px 0 5px 15px;
      margin: 0;
  }
  li {
      padding: 4px 0 4px 10px;
      font-size: 13px;
      position:relative;
      cursor:pointer;
  }
  li:hover{
      background:#f2f2f2;
  }
  li i {
      float:right;
      margin-right:7px;
  }
  hr{
      border: none;
      height: 1px;
      background: #e5e5e5;
      margin: 2px 0;
  }
  li > ul{
      position: absolute;
      display:none;         
      right: -192px;
      padding: 2px 5px;
      background: #fff;
      top: -6px;
      width: 192px;
      transition: all 0.5s ease 3s;
  }
  li:hover > ul{           
      display:block;
      transition: all 0.5s ease 0s;
  }

  .rectangle{
    margin-top: 10px;     
    padding: 10px; 
    padding-left: 5px; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 5px;  
    border-color: rgb(236, 236, 236);
}
.vehicleBox{
    display:flex; flex-direction:column; 
    border : 1px solid #446677; 
    border-radius: 5px; 
    width: 53vw;
    padding:10px
}
.tripBox{
    display:flex; 
    flex-direction:row;
    align-items: center;
    justify-content: space-between; 
    border : 1px solid #e2e7e9; 
    border-radius: 5px; 
    width: 50vw;
    padding:10px;
    margin-top :10px;
}

table th  {  
    background-color:#85B9D5 !important;  
    border:1px solid #cfdcea;
    font-size: 0.80rem;
    text-align: center;
    color: white;  
    max-width: 8vw;
    min-width: 2vw; 
    }
td{
    font-size: 0.70rem;
    text-wrap: wrap;   
    padding: 2px;
    color: black;
    text-align: center;
    border:1px solid #cfdcea ;
    font-family: 'Segoe UI';
    padding-left: 2px !important; 
    padding-right: 2px !important;   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8vw; 
    min-width: 2vw;    
    
   }
   
table tbody tr.active  {  
  background-color:#6496b6 !important;  
  color: white;  
}   

.even{
    background-color:#e5f1f8;
    color: black;   
    
}
 /* tr:nth-child(odd) {
    background-color:#e5f1f8;
    color: black;  
    
 }  */
 
 /* tr:nth-child(even) {
    background-color: whitesmoke;
    color: black; 
    
 }  */

 


   table {
    /* border:1px solid #bec1c2; */
    border-radius: 5px;
    /* border-collapse: separate ; */   
    margin-top: 5px;
    overflow-x: auto;
    overflow-y: auto;
    
 }

 
 .btn-darkorange {
  
    background-color: #f18805;
    color: #fff;
    padding: 10px;
    border-color: #f18805;
    border-radius: 5px;
}

.conf-header {
    background-color: #85B9D5;
    color: #fff;
    padding: 10px;
    border-color: #85B9D5;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Segoe UI'
   
}