<div class="main">
    <!-- <shiftdetail (timesheetDone)="shiftChanged($event)"></shiftdetail> -->
    <shiftdetail (timesheetDone)="shiftChanged($event)"></shiftdetail>
    <ng-container #dynamicCancelShift></ng-container>
    <ng-container #dynamicContainerRecipientexternal></ng-container>

    <div class="main-body">
        <div class="dashboard">
            <label class="conf-header" style="margin-top: 5px; width:20vw">Transport Dashboard</label>
            <i nz-icon nzType="{{lblButton}}" nzTheme="outline" (click)="open()" style="color: white;"></i>
            <i nz-icon nzType="sync" nzTheme="outline" style="color: white;" (click)="reload()"></i>
            <i nz-icon nzType="printer" nzTheme="outline" style="color: white;" (click)="generatePdf()"></i>

            <label class="btn-darkorange" style="margin-top: 5px; text-align: center; width:180px">Total Trip Days:
                {{totalDays}}</label>
        </div>
        <nz-spin nzSimple *ngIf="loadingPending" style="margin: 100px; text-align: center; z-index :2"></nz-spin>
        <div style="display: flex; flex-direction: row; width:85vw" *ngIf="!loadingPending">
            <div *ngIf="visible" class="sidebar">

                <div>
                    <nz-date-picker [(ngModel)]="date" [nzFormat]="dateFormat2"
                        (ngModelChange)="reload()"></nz-date-picker>

                </div>

                <div>
                    <div class="checkbox-group">
                        <label nz-checkbox [(ngModel)]="allCheckedVehicles" (ngModelChange)="updateAllVehicles()"
                            [nzIndeterminate]="indeterminateVehicles">All Vehicles/Areas</label>

                        <nz-checkbox-group [(ngModel)]="Vehicles"
                            (ngModelChange)="updateSingleCheckedVehicles()"></nz-checkbox-group>
                    </div>
                </div>
                <div>
                    <div class="checkbox-group">
                        <label nz-checkbox [(ngModel)]="allCheckedBranches" (ngModelChange)="updateAllBranches()"
                            [nzIndeterminate]="indeterminateBranch">All Branches</label>

                        <nz-checkbox-group [(ngModel)]="branches"
                            (ngModelChange)="updateSingleCheckedBranches()"></nz-checkbox-group>
                    </div>
                </div>


                <div>
                    <div class="checkbox-group">
                        <label nz-checkbox [(ngModel)]="allCheckedCoordinators"
                            (ngModelChange)="updateAllCoordinators()" [nzIndeterminate]="indeterminateCoordinators">All
                            Coordinators</label>

                        <nz-checkbox-group [(ngModel)]="coordinators"
                            (ngModelChange)="updateSingleCheckedCoordinators()"></nz-checkbox-group>
                    </div>
                </div>

                <!-- <div>
                    <div class="checkbox-group">
                        <label nz-checkbox [(ngModel)]="allCheckedCategories" (ngModelChange)="updateAllCategories()"
                            [nzIndeterminate]="indeterminateCategories">All Categories</label>

                        <nz-checkbox-group [(ngModel)]="categories"
                            (ngModelChange)="updateSingleCheckedCategories()"></nz-checkbox-group>
                    </div>
                </div> -->

            </div>
            <div class="tbl-main">
               
                <!-- <nz-table #basicTable   [nzData]="dataSet" [nzSize]="'default'" nzShowPagination="false"               
                [nzLoading]="loadingPending" [nzBordered]="true" [nzScroll]="{ x: '60vw', y: '80vh' }" > -->

               

                <div style="display:flex; flex-direction: column;">
                    <table>
                        <thead>
                            <tr style="height: 40px;  font-size: 0.75rem; font-weight: bold; text-align: center;"  >
                                <th style="width:3vw">Job#</th>
                                <th style="width:8vw" >Driver</th>
                                <th style="width:8vw">Code</th>
                                <th style="width:3vw">P/up</th>
                                <th style="width:3vw">Apt</th>
                                <th style="width:7vw">Name</th>
                                <th style="width:3vw">Gdr</th>
                                <th style="width:2vw">PU</th>
                                <th style="width:10vw">PickUp From</th>
                                <th style="width:2vw">Do</th>
                                <th style="width:10vw">Take To</th>
                                <th style="width:5vw">Phone</th>
                                <th style="width:5vw">Mob</th>
                                <th style="width:10vw">R-VEH..</th>
                                <th style="width:10vw">Info/Remarks</th> 
                            </tr>
                        </thead>
                        </table>

                        <nz-spin nzSimple *ngIf="loadingData" style="margin: 100px; text-align: center; z-index :2"></nz-spin>

                    <div *ngFor="let vehicle of Vehicles; let ind = index;"
                        style="display:flex; flex-direction: column;">

                        <div style="display:block" *ngIf="!loadingData">
                          
                            <table>
                                <thead> </thead>
                                <tbody>
                                    <tr *ngIf="vehicle.list2.length>0">
                                        <td colspan="15">
                                            <div style="display:flex; flex-direction:row;"
                                                *ngIf="this.dataSet.length>0">
                                                <i *ngIf="Vehicles[ind].display" nz-icon nzType="minus-square"
                                                    nzTheme="outline" (click)="toggleTable(ind)"></i>
                                                <i *ngIf="!Vehicles[ind].display" nz-icon nzType="plus-square"
                                                    nzTheme="outline" (click)="toggleTable(ind)"></i>
                                                <label>{{vehicle.label}}</label>
                                            </div>
                                        </td>
                                    </tr>


                                    <tr *ngFor="let data of vehicle.list;let i = index;" 
                                        style="height: 40px;  padding: 5px" (contextmenu)="rightClickMenu($event, rMenu, data,i, ind)"
                                        (dblclick)="mousedblclick($event,data)" (click)="RecordClicked($event, data, i, ind)"
                                        [class.even]="i%2==0 && i!=selectedindex "
                                        [class.selected]="(i==selectedindex && selected.length<2 && mainSelectedindex==ind) || selectedRecords.indexOf(data)>-1">

                                            <td style="width:3vw">{{data.recordNo}}</td>
                                            <td style="width:8vw">{{data.driver}}</td>
                                            <td style="width:8vw">{{data.code}}</td>
                                            <td style="width:3vw">{{data.pickup || '     '}}</td>
                                            <td style="width:3vw">{{data.appt || '     '}}</td>
                                            <td style="width:7vw">{{data.name}}</td>
                                            <td style="width:3vw">{{data.gdr}}</td>
                                            <td style="width:2vw">{{data.puGridRef || '   '}}</td>
                                            <td style="width:10vw">{{data.pickupFrom}}</td>
                                            <td style="width:2vw">{{data.doGridRef || '   '}}</td>
                                            <td style="width:10vw">{{data.takeTo}}</td>
                                            <td style="width:5vw">{{data.phone}}</td>
                                            <td style="width:5vw">{{data.mob}}</td>
                                            <td style="width:10vw">{{data.rVehicle}}</td>
                                            <td style="width:10vw">Roster: {{data.remarks}}</td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<nz-modal class="options" [nzStyle]="{ top: '50px', left :'150px' }" [(nzVisible)]="optionMenuDisplayed"
    nzTitle="Transport" (nzOnCancel)="optionMenuDisplayed = false" [nzWidth]="'20vw'"
    style="background-color: #002060; margin-top: 5px; color: white; ">

    <div style="background-color: #fff; margin-top: 5px; ">
        <nz-dropdown-menu #rMenu="nzDropdownMenu">
        
         

        <ul nz-menu>
            <li nz-menu-item (click)="menu.next(1)">Create Booking</li>
            <li nz-menu-item (click)="menu.next(2)">Cancel Job/Booking</li>
            <li nz-menu-item (click)="menu.next(3)">View Map</li>
            <li nz-menu-item (click)="menu.next(4)">Get Directions/Distance</li>
            <li nz-menu-item (click)="menu.next(5)">Plan Pickups</li>
            <li nz-menu-item (click)="menu.next(6)">Plan DropOffs</li>
            <hr/>
            <li nz-menu-item (click)="menu.next(7)">Allocate Vehicle</li>
            <li nz-menu-item (click)="menu.next(8)">Allocate Driver</li>
            <li nz-menu-item (click)="menu.next(9)">Autoset Return Vehicle</li>
               <hr/>
            <li nz-menu-item (click)="menu.next(10)">Set Pickup Time </li>
            <li nz-menu-item (click)="menu.next(11)">Set Appointment Time</li>
            <li nz-menu-item (click)="menu.next(12)">Set Trip Duration</li>
            <li nz-menu-item (click)="menu.next(13)">Set Pickup Area Code</li>
            <li nz-menu-item (click)="menu.next(14)">Set Take To Area Code</li>
            <li nz-menu-item (click)="menu.next(15)">Set Mobility Code</li>
               <hr/>
            <li nz-menu-item (click)="menu.next(16)">Nominate Return Vehicle </li>
            <li nz-menu-item (click)="menu.next(17)">Change Remarks </li>
               <hr/>
            <li nz-menu-item (click)="menu.next(18)">View Booking Detail </li>
            <li nz-menu-item (click)="menu.next(19)">View Recipient Detail </li>
               <hr/>
            <li nz-menu-item (click)="menu.next(20)">Delete (Selected Record/s) </li>
        </ul>
    </nz-dropdown-menu>
    

<nz-modal [nzStyle]="{ top: '15px' }" hasBackdrop [nzWidth]="450" [(nzVisible)]="AddRosterModel" nzTitle="Transport "
    (nzOnCancel)="cancelDMRoster()">
    <div class="flexy" style="min-height:20rem;">
        <!-- <dm-roster  [loadRoster]="loadingRoster" (RosterDone)="load_rosters()"  (reLoadGrid)="reLoadGridRosterModel()" ></dm-roster>     -->

        <ng-container #dynamicRoster></ng-container>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="cancelDMRoster()">OK</button>
        <button nz-button nzType="default" (click)="cancelDMRoster()">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '100px' }" [nzWidth]="nzWidth" [(nzVisible)]="TransportModal" nzTitle="{{TransportLabel}}"
    (nzOnCancel)="TransportModal = false">

    <div class="flexy" style="min-height:15rem;">




        <div>
            <div class="box">
                <div>
                    <i nz-icon nzType="calendar" [nzTheme]="'outline'" style="font-size: 32px;"></i>
                </div>
                <div style="font-size: 18px; font-weight: bold;">
                    {{TransportLabel}}
                </div>

            </div>

            <div class="rectangle">


                <div class="form-group">
                    <label for="" *ngIf="nzSelectedIndex==10">Pickup Time</label>
                    <label for="" *ngIf="nzSelectedIndex==11">Appointment Time</label>
                    <label for="" *ngIf="nzSelectedIndex==12">Trip Duration</label>
                    <nz-time-picker [(ngModel)]="defaultStartTime" [ngModelOptions]="{standalone: true}"
                        nzFormat="HH:mm"></nz-time-picker>
                </div>

                <div nz-col nzSpan="6" *ngIf="nzSelectedIndex==1">
                    <div class="form-group">
                        <label for="">End Time</label>
                        <nz-time-picker [(ngModel)]="defaultEndTime" [ngModelOptions]="{standalone: true}"
                            nzFormat="HH:mm"></nz-time-picker>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="menuAction()">OK</button>
        <button nz-button nzType="default" (click)="TransportModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '100px' }" [nzWidth]="nzWidth" [(nzVisible)]="TransportModal2" nzTitle="{{TransportLabel}}"
    (nzOnCancel)="TransportModal2 = false">

    <div class="flexy" style="min-height:15rem;">

        <div>
            <div class="box">
                <div>
                    <i nz-icon nzType="calendar" [nzTheme]="'outline'" style="font-size: 32px;"></i>
                </div>
                <div style="font-size: 18px; font-weight: bold;">
                    {{TransportLabel}}
                </div>

            </div>
            <div class="rectangle">

                <div *ngIf="nzSelectedIndex>=13 || nzSelectedIndex>=14">
                    <input nz-input type="'text" [(ngModel)]="modelValue" maxlength="5" />
                </div>

                <div *ngIf="nzSelectedIndex==15 ">
                    <input nz-input type="'text" [(ngModel)]="modelValue" />
                </div>
            </div>

        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="menuAction()">OK</button>
        <button nz-button nzType="default" (click)="TransportModal2=false">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '50px' }" [nzWidth]="nzWidth" [(nzVisible)]="ShowVehicleList" nzTitle="Transport"
    (nzOnCancel)="ShowVehicleList = false">

    <div class="flexy" style="min-height:55vh;">

        <nz-table #fixedTable nzVirtualScroll [nzData]="Vehicles" [nzSize]="'default'"
            [nzScroll]="{ x: '22vw', y: '55vh' }" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th style="width:50;">Select a Vehicle</th>
                </tr>
            </thead>
            <tbody>

                <ng-template nz-virtual-scroll let-data let-index="index">

                    <tr style="height: 30px;" (click)="onItemSelected(data.label)"
                        (dblclick)="onItemdbclicked($event,data.label)">

                        <td>{{data.label}}</td>


                    </tr>

                </ng-template>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="menuAction()">OK</button>
        <button nz-button nzType="default" (click)="ShowVehicleList=false">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '50px' }" [nzWidth]="nzWidth" [(nzVisible)]="ShowDriverList" nzTitle="Transport"
    (nzOnCancel)="ShowDriverList = false">

    <div class="flexy" style="min-height:55vh;">

        <nz-table #fixedTable nzVirtualScroll [nzData]="lstDrivers" [nzSize]="'default'"
            [nzScroll]="{ x: '22vw', y: '55vh' }" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th style="width:50;">Select Driver</th>
                </tr>
            </thead>
            <tbody>

                <ng-template nz-virtual-scroll let-data let-index="index">

                    <tr style="height: 30px;" (click)="onItemSelectedDriver(data.accountNo)"
                        (dblclick)="onItemdbclickedDriver($event,data.accountNo)">

                        <td>{{data.accountNo}}</td>


                    </tr>

                </ng-template>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="menuAction()">OK</button>
        <button nz-button nzType="default" (click)="ShowDriverList=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '50px' }" [nzWidth]="'55vw'" [(nzVisible)]="changeRemarks" nzTitle="NOTES for"
    (nzOnCancel)="changeRemarks = false">

    <div class="flexy" style="min-height:50vh; ">
        <div class="vehicleBox" [formGroup]="VehicleForm">

            <div style="padding: 10px; display:flex; flex-direction:row">

                <div style=" display:flex; flex-direction:row">
                    <label for="priority" style="width:100px">Priority : </label>
                    <nz-select nzShowSearch nzAllowClear formControlName="priority" [nzDropdownMatchSelectWidth]="false"
                        style="width:10rem">
                        <nz-option *ngFor="let list of lstPriority" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>

                    <label for="mobility" style="margin-left:10px;  width:70px">Mobility :</label>
                    <nz-select nzShowSearch nzAllowClear formControlName="mobility" [nzDropdownMatchSelectWidth]="false"
                        style="width:10rem">
                        <nz-option *ngFor="let list of lstMobility" [nzValue]="list.mobilityCode"
                            [nzLabel]="list.mobilityCode"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div style="padding-left: 10px; display:flex; flex-direction:row">
                <div style=" display:flex; flex-direction:column">
                    <div style="display:flex; flex-direction:row">
                        <label for="pickUpFrom" style="width:100px">PiCkUp From : </label>
                        <nz-select nzShowSearch nzAllowClear formControlName="pickUpFrom"
                            [nzDropdownMatchSelectWidth]="false" style="width:28rem">
                            <nz-option *ngFor="let list of lstAddress" [nzValue]="list.address"
                                [nzLabel]="list.address"></nz-option>
                        </nz-select>
                    </div>
                    <div style="margin-top: 5px; display:flex; flex-direction:row">
                        <label for="takeTo" style="width:100px">Take To : </label>
                        <nz-select nzShowSearch nzAllowClear formControlName="takeTo"
                            [nzDropdownMatchSelectWidth]="false" style="width:28rem">
                            <nz-option *ngFor="let list of lstAddress" [nzValue]="list.address"
                                [nzLabel]="list.address"></nz-option>
                        </nz-select>
                    </div>

                </div>
                <div style=" display:flex;  height:75px; margin-left: 5px">
                    <label
                        style="padding-left: 2px; padding-top:20px; width:30px; text-align: center; background-color: rgb(241, 156, 53); color:white ">SW
                    </label>
                </div>
                <div style="padding-left: 5px;  display:flex; flex-direction:column">
                    <div style="display:flex; flex-direction:row">
                        <label for="puZone" style="padding-left: 10px; width:80px">Pu/Zone : </label>
                        <input placeholder="Zone" type="text" nz-input formControlName="puZone" style="width:5rem" />
                    </div>

                    <div style="margin-top: 5px; display:flex; flex-direction:row">
                        <label for="doZone" style="padding-left: 10px; width:80px">Pu/Zone : </label>
                        <input placeholder="Zone" type="text" nz-input formControlName="doZone" style="width:5rem" />
                    </div>
                </div>
            </div>
            <div
                style="padding-left: 5px;  display:flex; flex-direction:row; align-items: center; justify-content :centre">
                <div style="display:flex; flex-direction:row">
                    <label for="appttime" style="padding-left: 10px; width:100px">Apptmt Time : </label>
                    <nz-time-picker formControlName="appttime" nzFormat="HH:mm"
                        style="margin-left: 5px; width:120px"></nz-time-picker>
                </div>

                <div style="margin-top: 5px; display:flex; flex-direction:row">
                    <label for="returnVehicle" style="padding-left: 10px; width:120px">Return Vehicle : </label>
                    <nz-select nzShowSearch nzAllowClear formControlName="returnVehicle"
                        [nzDropdownMatchSelectWidth]="false" style="width:13rem">
                        <nz-option *ngFor="let list of Vehicles" [nzValue]="list.label"
                            [nzLabel]="list.label"></nz-option>
                    </nz-select>

                </div>
            </div>
            <div class="tripBox">
                <div style="display:flex; flex-direction:row">
                    <label for="startOdo" style="padding-left: 10px; ">Start ODO : </label>
                    <input placeholder="KM" type="text" nz-input formControlName="startOdo" style="width:5rem" />
                </div>

                <div style="margin-top: 5px; display:flex; flex-direction:row">
                    <label for="endOdo" style="padding-left: 10px; padding-right: 5px; ">End ODO : </label>
                    <input placeholder="KM" type="text" nz-input formControlName="endOdo" style="width:5rem" />
                </div>

                <div style="margin-top: 5px; display:flex; flex-direction:row">
                    <label for="tripKm" style="padding-left: 10px; padding-right: 5px; ">Trip KM : </label>
                    <input placeholder="KM" type="text" nz-input formControlName="tripKm" style="width:5rem" />
                </div>

                <div style="margin-top: 5px; display:flex; flex-direction:row">
                    <label for="deadKm" style="padding-left: 10px; padding-right: 5px; ">Ded KM : </label>
                    <input placeholder="KM" type="text" nz-input formControlName="deadKm" style="width:5rem" />
                </div>
            </div>
            <div class="tripBox">
                <!-- <angular-editor placeholder="Roster Alerts"  formControlName="notes" [config]="editorConfig"></angular-editor> -->
                <textarea rows="10" placeholder="Roster Alerts" nz-input formControlName="notes"></textarea>
            </div>
        </div>


    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="setRemarks()">OK</button>
        <button nz-button nzType="default" (click)="changeRemarks=false">Cancel</button>
    </div>
</nz-modal>
<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
        <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>                
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
        </div>
        
    </nz-drawer>
</div>