

<!--<nz-modal [nzWidth]="1200" [nzStyle]="{ top: '20px' }" [(nzVisible)]="open" [nzTitle]="'Add Incident'" (nzAfterClose)="handleCancel()" (nzOnCancel)="handleCancel()">-->
    <nz-modal [nzWidth]="1200" [nzStyle]="{ top: '20px' }" [(nzVisible)]="open" [nzTitle]="addEdit == 1 ? 'Edit Incident' : 'Add Incident'" (nzAfterClose)="handleCancel()" (nzOnCancel)="handleCancel()">
        <div class="flexy">
    
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step [hidden]="hideIncidentType" class="mini" nzTitle="Incident Type" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Step 1" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Step 2" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Step 3" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Step 4-5" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Step 6-7" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Office Use" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Ongoing Notes" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
            </nz-steps>
    
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
    
            <div class="steps-content" [formGroup]="incidentForm">

                <div *ngIf="current == 0">
                    <div class="form-group">
                        <label for="">Program</label>
                        <nz-select class="nzselect-min" formControlName="program" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Program" >
                            <nz-option *ngFor="let d of listPrograms" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label for="">Service Type</label>
                        <nz-select class="nzselect-min" formControlName="serviceType" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select a Service Type" >
                            <nz-option *ngFor="let d of listServiceTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label for="">Incident Type</label>
                        <nz-select class="nzselect-min" formControlName="incidentType" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select an Incident Type" >
                            <nz-option *ngFor="let d of listIncidentTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
    
                <div *ngIf="current == 1">
                    <!-- <app-incident-profile [(ngModel)]="user" (EMITVALUES)="EMITVALUES()" [ngModelOptions]="{standalone: true}"></app-incident-profile> -->
                    <div>
                        <div nz-row nzGutter="32">
                            <div nz-col nzSpan="24">
                                <h4>Subject Details</h4>
                                <div class="pad-15">
                                    <div nz-row nzGutter="8" [formGroup]="incidentForm">
                                        <div nz-col nzSpan="12">
                                            <div class="form-group-inline">
                                                <label for="">Subject Name</label>
                                                <div><input type="text" formControlName="accountNo" nz-input></div>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="">Case Manager</label>
                                                <div>
                                                    <nz-select class="nzselect-min" formControlName="recipient" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear>
                                                        <nz-option *ngFor="let d of listStaff" [nzLabel]="d.accountNo" [nzValue]="d.accountNo"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="">Birthdate</label>
                                                <div><nz-date-picker formControlName="dob" [nzFormat]="dateFormat"></nz-date-picker>   </div>
                                            </div>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <div class="form-group-inline">
                                                <label for="">Current Address</label>
                                                <div><input type="text" formControlName="primaryAddress" nz-input></div>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="">Phone</label>
                                                <div><input type="text" formControlName="primaryPhone" nz-input></div>
                                            </div>
                                        </div>
                                    </div>                
                                </div>
                            </div>
                        </div>
                    
                        <div nz-row [formGroup]="incidentForm">
                            <div nz-col nzSpan="12" class="pad-15">
                                <label for="">Gender</label>
                                <div>
                                    <nz-radio-group formControlName="gender">
                                        <label nz-radio nzValue="male">Male</label>
                                        <label nz-radio nzValue="female">Female</label>
                                    </nz-radio-group>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <label for="">Organisation</label>
                                <div class="pad-15">
                                    <nz-radio-group formControlName= "organisation">
                                        <div nz-row>
                                            <div nz-col nzSpan="14">
                                                <div>
                                                    <label nz-radio nzValue="3">Aged Care Funded</label>
                                                </div>
                                                <div>
                                                    <label nz-radio nzValue="2">Member of Community</label>
                                                </div>
                                                <div>
                                                    <label nz-radio nzValue="4">Block Funded</label>
                                                </div>
                                            </div>
                                            <div nz-col nzSpan="10" >
                                                <div  >
                                                    <label nz-radio nzValue="0">Agency Staff</label>
                                                </div>
                                                <div >
                                                    <label nz-radio nzValue="1">NDIS Participant</label>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-radio-group>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div nz-row nzGutter="32">
                            <div nz-col nzSpan="24">
                                <h4>Step 1: When did the incident occur?</h4>
                                <div class="pad-15" [formGroup]="incidentForm">
                                    <div nz-row nzGutter="16">
                                        <div nz-col nzSpan="12">
                                            <div class="form-group">
                                                <label for="">Date of Incident</label>
                                                <nz-date-picker formControlName="dateOfIncident" [nzFormat]="dateFormat"></nz-date-picker>   
                                            </div>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <div class="form-group">                                               
                                                <div nz-row nzGutter="16">
                                                    <div nz-col nzSpan="11">
                                                        <label for="">Start Time</label>
                                                        <div nz-col nzSpan="9">
                                                            <nz-time-picker formControlName="startTimeOfIncident" [nzMinuteStep]="5" [nzPlaceHolder]="'Start Time'" nzFormat="HH:mm"></nz-time-picker>
                                                        </div>
                                                    </div>
                                                    <div nz-col nzSpan="11">
                                                        <label for="">End Time</label>
                                                        <div nz-col nzSpan="9">
                                                            <nz-time-picker formControlName="endTimeOfIncident" [nzMinuteStep]="5" [nzPlaceHolder]="'End Time'" nzFormat="HH:mm"  ></nz-time-picker>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzGutter="16">
                                        <div nz-col nzSpan="24">
                                            <div class="form-group">
                                                <label for="">Reported By</label>
                                                <nz-select class="nzselect-min" formControlName="reportedBy" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select an Incident Type" >
                                                    <nz-option *ngFor="let d of listStaff" [nzLabel]="d.accountNo" [nzValue]="d.accountNo"></nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div *ngIf="current == 2" [formGroup]="incidentForm">
                    <div nz-row>
                        <div nz-col nzSpan="8" class="options">
                            <div>
                                <label nz-checkbox formControlName="incident14" >Medication not given/taken as prescribed</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident17">Wrong medication dose given to client</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident2">Physical Injury</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident7">Criminal Activity</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident8">Inappropriate Sexual Behavior</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident9">Property Damage</label>
                            </div>                        
                            <div>
                                <label nz-checkbox formControlName="incident22">Financial</label>
                            </div>                
                        </div>
                        <div nz-col nzSpan="8" class="options">
                            <div>
                                <label nz-checkbox formControlName="incident15">Medication was given to wrong client</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident18">Medication given at wrong time</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident1">Death</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident11">Emergency situation</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident3">Motor Vehicle Accident</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident4">Sexual Assault</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident20">Physical</label>
                            </div>
                        </div>
                        <div nz-col nzSpan="8" class="options">
                            <div>
                                <label nz-checkbox formControlName="incident16">Wrong medication was given to client</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident19">Medication given by the wrong route</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident6">Service User Missing</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident12">Theft or Fraud</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident5">Negative interaction with others</label>
                            </div>
                            <div>
                                <label nz-checkbox formControlName="incident10">Emotional</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24" class="options">
                            <div>
                                <label nz-checkbox formControlName="incident21">Alleged aggressive behaviour by the carer, member of the public or service worker</label>
                            </div>
                            <div style="display: flex;">
                                <label nz-checkbox formControlName="incident13">Other</label>  <textarea style="width: 35rem; height: 30px;" formControlName="other" nz-input nzSize="small"></textarea>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzGutter="24">
                        <div nz-col nzSpan="22">
                            <label for="">Incident Summary</label>
                            <textarea rows="4" formControlName="summary" nz-input ></textarea>
                        </div>
                       
                    </div>
                    <div nz-row nzGutter="24" style="height: 10px;">                        
                        <div nz-col nzSpan="22" >
                            <label for="">Incident Description</label>
                            <textarea rows="12"  formControlName="description" nz-input ></textarea>
                       </div>
                    </div>
                    
                </div>
    
                <div *ngIf="current == 3" [formGroup]="incidentForm">
                    <div nz-row nzGutter="32">
                        <div nz-col nzSpan="24"><h4>Step 3: Who was involved?</h4></div>
                        <div nz-col nzSpan="8">
                            <button (click)="clearStaff()" nzSize="small" class="btn-staff" nz-button nzType="danger">Unselect All </button>
                            <div class="staff-wrapper">
                                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                                    <div nz-row>
                                        <div nz-col nzSpan="24" *ngFor="let staff of listStaff">
                                            <label nz-checkbox [nzValue]="staff.accountNo" [(ngModel)]="staff.checked" [ngModelOptions]="{standalone: true}">{{ staff.accountNo }}</label>
                                        </div>
                                    </div>
                                </nz-checkbox-wrapper> 
                            </div>
                        </div>
                        <div nz-col nzSpan="16">
                            <div nz-row nzGutter="32" style="margin-bottom:3px">
                                <div nz-col nzSpan="24"><h4> OTHER WITNESS </h4></div>
                                <div nz-col nzSpan="9">
                                    <input  nz-input placeholder="Name" class="capitalize" formControlName="name" />
                                </div>
                                <div nz-col nzSpan="9">
                                    <input  nz-input placeholder="Relationship" class="capitalize" formControlName="relationship" />
                                </div>
                                <div nz-col nzSpan="6">
                                    <button nzSize="small" (click)="addRelationShip()" class="btn-staff" nz-button>Add</button>
                                </div>
                            </div>
                            <div nz-row>                            
                                <div nz-col="24">
                                    <div class="staff-wrapper">
                                        <nz-checkbox-wrapper style="width:100%" [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                                            <div nz-row *ngFor="let d of listNewPeople;let i = index"> 
                                                <div nz-col nzSpan="21">
                                                    <label class="new-relationship" nz-checkbox [nzValue]="d.staff" [(ngModel)]="d.checked" [ngModelOptions]="{standalone: true}">
                                                        <span> {{ d.staff }} </span> <span>{{ d.relationship }}</span>
                                                    </label>
                                                </div>
                                                <div nz-col nzSpan="3"><i (click)="deleteListNewPeople(i)" nz-icon nzType="close" nzTheme="outline"></i></div>
                                            </div>
                                        </nz-checkbox-wrapper>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div nz-col nzSpan="24">
                            <div class="form-group space-top">
                                <label for="">Comments</label>
                                <textarea rows="4" formControlName="commentsStaff" nz-input ></textarea>                               
                            </div>
                        </div>
                    </div>
    
                    <div nz-row>
    
                    </div>
                </div>
    
                <div *ngIf="current == 4" [formGroup]="incidentForm">
                    <div nz-row nzGutter="32">
                        <div nz-col nzSpan="24">
                            <h4>Step 4: Where did it happen?</h4>
                            <div class="form-group pad-15">
                                <label for="">Be specific about the area/location (e.g in the kitchen near the fridge)</label>
                                <input style="width: 100%;" formControlName="step4" nz-input />
                            </div>
                        </div>
                    </div>
                    <div nz-row nzGutter="32">
                        <div nz-col>
                            <h4>Step 5: What occurred leading up to the incident?</h4>
                        </div>
                        <div nz-col class="pad-15">
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Describe the mood of the person (describe what you could see or hear)</label>
                                    <textarea rows="4" formControlName="step51" nz-input ></textarea>                               
                                </div>
                           </div>
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">What activity were you doing right before the incident occured? (e.g any change to routine, any)</label>
                                    <textarea rows="4" formControlName="step52" nz-input ></textarea>
                                </div>                           
                           </div>
                           <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Any environment irritants or other identifiable patterns or triggers that you observed prior to</label>
                                    <textarea  formControlName="step53" rows="4" nz-input ></textarea>
                                </div>                            
                            </div>
                            <div nz-col nzSpan="12">
                                <div class="form-group">
                                    <label for="">Any other relevant information that could have contributed to the incident?</label>
                                    <textarea rows="4" formControlName="step54" nz-input ></textarea>
                                </div>                           
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <div *ngIf="current == 5">
                    <div nz-row nzGutter="32">
                        <div nz-col nzSpan="24">
                            <h4>Step 6: Follow up Actions and Strategies?</h4>
                            <div nz-row class="form-group pad-15" [formGroup]="incidentForm">
                                <h5 for="">Who was contacted in regards to the incident? Include date & time. Select all appropriate.</h5>
                                <div nz-col nzSpan="12">
                                    <div class="margin-btm-10">
                                        <label formControlName="strat61" nz-checkbox >Ambulance</label>
                                    </div>
                                    <div class="margin-btm-10">
                                        <label formControlName="strat63" nz-checkbox >Dial a Doctor</label>
                                    </div>
                                    <div class="margin-btm-10">
                                        <label formControlName="strat65" nz-checkbox >Registered Nurse</label>
                                    </div>
                                    <div class="margin-btm-10">
                                        <label formControlName="strat67" nz-checkbox >Poisons Information</label>
                                    </div>
                                    <div style="display: flex;">
                                        <label formControlName="strat69" nz-checkbox >Other Specify</label> <textarea style="width: 15rem; height: 30px;" formControlName="otherspecify" nz-input nzSize="small"></textarea>
                                    </div>
                                </div>
                                <div nz-col nzSpan="12">
                                    <div class="margin-btm-10">
                                        <label formControlName="strat62" nz-checkbox >Client Service Facilitator</label>
                                    </div>
                                    <div class="margin-btm-10">
                                        <label formControlName="strat64" nz-checkbox >Client Service Planner</label>
                                    </div>
                                    <div class="margin-btm-10">
                                        <label formControlName="strat66" nz-checkbox >Regional Community Services Manager</label>
                                    </div>
                                    <div>
                                        <label formControlName="strat68" nz-checkbox >Police</label>
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="form-group pad-15">
                                <h5>Relevant information after the incident. Brief points only</h5>
                                <textarea rows="4" formControlName="step61" nz-input ></textarea>
                            </div>
                        </div>                    
                    </div>
    
                    <div nz-row nzGutter="32">                                   
                        <div nz-col>
                            <h4>Step 7: Supervisor Comments</h4>
                            <div nz-row class="pad-15">
                                <h5>What has been implemented to prevent this, or a similar incident from occuring in the future</h5>
                                <textarea rows="4" formControlName="step7" nz-input ></textarea>
                            </div>
                        </div>            
                    </div>
    
                </div>
    
    
                <div *ngIf="current == 6">
                    <div nz-row nzGutter="32">                                   
                        <div nz-col [formGroup]="incidentForm">
                            <h4>Supervisor - Office Use Only</h4>
                            <div nz-row class="pad-15">
                                <div nz-col nzSpan="9">
                                    <div class="check-oneline">
                                        <label for="">Incident has been entered into TRACCS</label>
                                        <label nz-checkbox formControlName="officeUse1">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">Received within 24 hours</label>
                                        <label nz-checkbox formControlName="officeUse2" >Yes</label>
                                    </div>
                                </div>
                                <div nz-col nzOffset="1" nzSpan="12">
                                   <div class="form-group">
                                       <label for="">Report entered on TRACCS by (Name)</label>
                                       <input type="text" formControlName="reportEnter" nz-input />
                                   </div>
                                </div>
                            </div>
                        </div>            
                    </div>
    
                    <div nz-row nzGutter="32">                                   
                        <div nz-col [formGroup]="incidentForm">
                            <h4>Is this a reportable Incident to the Commission?</h4>
                            <div nz-row class="pad-15">
                                <div nz-col nzSpan="9">
                                    <div class="check-oneline">
                                        <label for="">Complete the 5 day notification form</label>
                                        <label nz-checkbox formControlName="officeUse3">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">Age Care Complaints Commission</label>
                                        <label nz-checkbox formControlName="officeUse5">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">NDIS Commission</label>
                                        <label nz-checkbox formControlName="officeUse4">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">Uploaded Incident</label>
                                        <label nz-checkbox formControlName="officeUse6">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">Reportable Incident</label>
                                        <label nz-checkbox formControlName="officeUse8">Yes</label>
                                    </div>
                                </div>
                                <div nz-col nzOffset="1" nzSpan="12">
                                    <div class="form-group">
                                        <label for="">Community Service Facilitator</label>
                                        <input formControlName="communityService" type="text" nz-input />
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
    
                    <div nz-row nzGutter="32">                                   
                        <div nz-col>
                            <h4>Management</h4>
                            <div nz-row class="pad-15">
                                <div nz-col nzSpan="9">
                                    <div class="check-oneline">
                                        <label for="">Review Incident</label>
                                        <label nz-checkbox formControlName="officeUse9">Yes</label>
                                    </div>
                                    <div class="check-oneline">
                                        <label for="">Closed Incident on TRACCS</label>
                                        <label nz-checkbox formControlName="officeUse7" nzdisabled  >Yes</label>
                                    </div>
                                </div>
                                <div nz-col nzOffset="1" nzSpan="12">
                                    <div class="form-group">
                                        <label for="">Regional Community Service Manager</label>
                                        <input type="text" formControlName="regionalComm" nz-input />
                                    </div>
                                    <div class="form-group">
                                        <label for="">Comments if required</label>
                                        <textarea rows="4" formControlName="comments" nz-input ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
    
                </div>

                <div *ngIf="current == 7">
                    <div nz-row nzGutter="32">
                        <div nz-col nzSpan="24">
                            <button class="botton success" (click)="showNoteModal()" style="margin-left: 15px;">Add Note</button>
                            <button nz-button nzType="primary" (click)="showPrintModal()" style="float: right;margin-right: 15px;"> <i nz-icon nzType="file-pdf"></i> Print </button>
                            <div nz-row class="form-group pad-15" [formGroup]="incidentForm">
                                <div class="overflow-list">
                                    <div formArrayName="incidentNotes" *ngFor="let item of incidentForm.get('incidentNotes')['controls']; let i = index;">
                                        <ng-container [formGroupName]="i">
                                            <div class="note-list">
                                                <h4>{{ getDate(item.controls.detailDate.value) }} <span class="time">{{ getTime(item.controls.detailDate.value) }}</span></h4>
                                                <div class="creator">Created By: {{ item.controls.creator.value || '-' }}</div>
                                                <div>{{ item.controls.detail.value }}</div>
                                            </div>
                                        </ng-container>
                                    </div>   
                                </div>                             
                            </div>
                            <div nz-row class="form-group pad-15">
                              
                            </div>
                        </div>                    
                    </div>   
                </div>

                <div *ngIf="current == 8">
                    <div nz-row nzGutter=32>
                        <div nz-col nzSpan="24">
                            <div class="notif-wrapper">
                                <h4>Mandatory Incident Notifications</h4>
                                <div nz-col nzSpan="24" *ngFor="let staff of incidentmandatoryNotifications">
                                    <label nz-checkbox  [nzValue]="staff" [(ngModel)]="staff.checked" [ngModelOptions]="{standalone: true}">{{staff}}</label>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="24">
                            <div class="notif-wrapper">
                                <h4>Optional Incident Notifications</h4>
                                <div nz-col nzSpan="24" *ngFor="let staff of incidentnonmandatoryNotifications">
                                    <label nz-checkbox  [nzValue]="staff" [(ngModel)]="staff.checked" [ngModelOptions]="{standalone: true}">{{staff}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="current == 9">
                    <div nz-row nzGutter=32>
                        <div nz-col nzSpan="24">
                            <app-incident-documents [(ngModel)]="incidentDocument" [ngModelOptions]="{standalone: true}"></app-incident-documents>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button class="pos-left" nz-button nzType="primary" (click)="save()" *ngIf="current > 0">
                    <span>Save</span>
                </button>
                <button nz-button nzType="default" (click)="pre()" *ngIf="(current > 0 && operation?.process == 'ADD') || (current > 1 && operation?.process == 'UPDATE')">
                    <span>Previous</span>
                </button>
                <!-- [disabled]="!nextRequired" -->
                <button nz-button nzType="default" (click)="next()" [disabled]="!(current < 9)">
                    <span>Next</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>



<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="'Add Note'" (nzOnCancel)="handleNoteCancel()" nzWidth="800" [nzStyle]="{ top: '20px' }">
    <div nz-row nzGutter="16" [formGroup]="noteFormGroup">
        <div nz-col nzSpan="7" [formGroup]="noteFormGroup">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Category</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select class="full-width" nzAllowClear formControlName="category" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of dlist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Program</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select class="full-width" nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of alist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Discipline</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select class="full-width" nzAllowClear formControlName="discipline" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of blist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Care Domain</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select class="full-width" nzAllowClear formControlName="careDomain" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of clist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-col nzSpan="14">
            <div nz-row nzGutter="32" [formGroup]="noteFormGroup">
                <div nz-col nzSpan="12" class="form-group">
                    <label for="">Reminder Date</label>
                    <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="12" class="form-group">
                    <label formControlName="publishToApp" class="chk" nz-checkbox>Publish To Mobile App</label>
                </div>
            </div>
            <div nz-row>
                <div class="form-group" [formGroup]="noteFormGroup">
                    <nz-radio-group formControlName="restrictionsStr">
                        <label nz-radio nzValue="public">Public</label>
                        <label nz-radio nzValue="workgroup">Workgroup Only</label>
                        <label nz-radio nzValue="restrict">Restrict To</label>
                    </nz-radio-group>
                </div>
            </div>
            <div nz-row class="overflow-list" *ngIf="noteFormGroup.get('restrictionsStr').value == 'restrict'">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="restrictionsLog($event)">
                    <div nz-row *ngFor="let list of mlist; let i = index">
                        <div class="chkboxes" nz-col nzOffset="2" nzSpan="22"><label nz-checkbox
                                [nzValue]="list">{{ list }}</label></div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div nz-row [formGroup]="noteFormGroup">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleNoteCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveNote()" >Add</button>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="reportModal" [nzTitle]="'Incident Notes'" (nzOnCancel)="handleReportCancel()" nzWidth="800" [nzStyle]="{ top: '20px' }">
    <div nz-row nzGutter="16" [formGroup]="noteSearchForm">
        <div nz-row nzJustify class="mrg-btm">
            <div nz-col nzSpan="4" class="text-right pad-r-5">
                <label nzFor="Start Date">Start Date : </label>
            </div>
            <div nz-col nzSpan="18">
                <nz-date-picker  formControlName="start_date" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm">
            <div nz-col nzSpan="4" class="text-right pad-r-5">
                <label nzFor="End Date">End Date : </label>
            </div>
            <div nz-col nzSpan="18">
                <nz-date-picker  formControlName="end_date" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleReportCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOkTop()" >print</button>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>