<div class="col-md-12 home-wrapper">
    <div class="col-md-2">
            <ul class="bullet-none">
                <li routerLink="diagnosis" routerLinkActive="active-tab"><span>Diagnosis</span></li>
                <li routerLink="procedures" routerLinkActive="active-tab"><span>Procedures</span></li>
                <li routerLink="medications" routerLinkActive="active-tab"><span>Medications</span></li>
                <li routerLink="reminders" routerLinkActive="active-tab"><span>Reminders</span></li>
                <li routerLink="alerts" routerLinkActive="active-tab"><span>Alerts</span></li>
                <li routerLink="notes" routerLinkActive="active-tab"><span>Notes</span></li>
            </ul>
    </div>
    <div class="col-md-10">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>