<div class="search-container">
    <ng-select
            [virtualScroll]="true"
            [dropdownPosition]="'bottom'"
            [clearable]="false"
            [closeOnSelect]="true"
            (focus)="isOpen=true"
            [isOpen]="isOpen"
            [classList]="classes"
            (change)="change($event)"
            [(ngModel)]="searchModel">
                <ng-option *ngFor="let list of lists" [value]="list">{{ list?.accountNo }}</ng-option>
        </ng-select>

  <i [classList]="iconClasses" nz-icon nzType="phone" nzTheme="outline" (click)="phoneModal=true" nz-tooltip nzTooltipTitle="Phone Search"></i>
</div>

<nz-modal [(nzVisible)]="phoneModal" nzTitle="Phone Search" [nzFooter]="modalFooter" (nzOnCancel)="clearPhoneModal()">
    <div nz-row>
        <input nz-input placeholder="Phone #" [(ngModel)]="phoneSearch"  (keyup.enter)="searchPhone()" />
        <button nz-button nzType="primary" (click)="searchPhone()" nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>

    <div nz-row>
        <ul *ngIf="listPhoneRecipientsList?.length > 0">
            <li *ngFor="let list of listPhoneRecipientsList;let i = index" (click)="selected(i)" [class.selected]="selectedIndex == i">{{ list.accountNo}}</li>
        </ul>
    </div>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="clearPhoneModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="gotoRecipient()">Select</button>
    </ng-template>
</nz-modal>
