nz-select {
    width: 25%;
    min-width: 18rem;
  }
  ng-select >>> div div div input {
    text-transform: uppercase !important;
  }
  
  div {
    display: flex;
  }
  
  div.search-container ng-select {
    flex: 90%;
    z-index: 1;
  }
  
  div.search-container i {
    flex: 10%;
    font-size: 1.1rem;
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #dadada;
    border-radius: 7px;
    cursor: pointer;
    color: #afafaf;
  }
  
  /* div.search-container label.viewAll{
      margin-left:5rem;
  }  */
  div.search-containeri:hover {
    background: #ececec;
    border-color: #cacaca;
    color: #5d5d5d;
  }
  
  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    overflow: auto;
    max-height: 13rem;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #d2d2d2;
    cursor: pointer;
  }
  
  li:not(.selected):hover {
    background-color: #efefef;
  }
  
  li:last-child {
    border: 0;
  }
  
  button {
    margin-left: 10px;
  }
  
  .selected {
    background: #d2d2d2;
  }
  
  .special-btns {
    font-size: 13px;
    height: 1.7rem;
  }
  
  
  ul.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 8rem;
  }
  
  ul.sub-menu li {
    font-size: 12px;
    padding: 5px 15px;
  }
  
  ul.sub-menu li:hover:not(.disabled) {
    color: black;
    background: #edf9ff;
  }
  
  .special {
    position: relative;
  }
  
  .special > div {
    position: absolute;
    top: 35px;
    left: 11px;
    z-index: 100;
    background: #fff;
  }
  
  .hide {
    display: none;
  }
  
  .switch {
    padding: 6px 10px;
    margin-left: 10px;
    background: #85b9d5;
    color: #fff;
    border-radius: 5px;
    width: 12rem;
  }
  
  .switch > div > span {
    width: 5rem;
    text-align: center;
    margin: 3px 10px;
    font-weight: 500;
  }
  
  nz-switch >>> button.ant-switch-checked {
    background-color: #85b9d5 !important;
  }
  ng-select.ng-dropdown-panel-items-full-length >>> .ng-select-container {
    border-radius: 0px !important;
  }
  
  ng-select.ng-dropdown-panel-items-full-length >>> .ng-dropdown-panel .ng-dropdown-panel-items {
    min-height: 82.9vh !important;
    max-height: 82.9vh !important;
  }
  
  .phone-search {
    border:unset;
    position: absolute;
    z-index: 2;
    right: 0;
    color: green !important;
    border:unset !important;
  }
  ng-select >>> .ng-select-container > span.ng-arrow-wrapper > span.ng-arrow {
    display: none !important;
  }
  