
<nz-modal [nzWidth]="600" [(nzVisible)]="isVisible" nzTitle="Add New Document"
    (nzOnCancel)="isVisible=false" [nzMask]="true" [nzMaskClosable]="false"  [nzClosable]="true">
    <div class="flexy" style="min-height:5rem; ">
    <div [formGroup]="inputForm" style="min-width:500px; ">
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Name</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <input nz-input formControlName="title" />
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Discipline</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="discipline" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of disciplines" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Program</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="program" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of programs" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Care Domain</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="caredomain" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of caredomains" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Classification</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="classification" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of classifications" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Category</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="category" nzAllowClear nzPlaceHolder="category" style="width:100%">
                        <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label >Reminder Date</label>
            </div>
            <div nz-col nzSpan="6">

                <div class="form-group" >
                    <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <div nz-col nzSpan="10" >

                <div class="form-group">
                    <label nz-checkbox formControlName="publishToApp" style="padding-left: 8px">Publish To App</label>
                </div>
            </div> 
         

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label >Reminder Text</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <input nz-input formControlName="reminderText" />
                </div>

            </div>

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label >Document Notes</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <textarea rows="4" nz-input formControlName="notes"></textarea>
                </div>
            </div>
        </div>


    </div>

</div>
    <div *nzModalFooter>      
     <button nz-button nzType="default" class="btnlightblue" (click)=" save()">Save</button>
       
    </div>
</nz-modal>