<div nz-layout>
    <div class="center-menu">
        <div  class="header">
            <div id="block0" style="display: block; width: 55vw; margin: auto;  ">
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 0">
                    <label (click)="tabFindChange(0)"> General Setup </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 1">
                    <label (click)="tabFindChange(1)"> Document Management </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 2">
                    <label (click)="tabFindChange(2)"> Incidents </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 3">
                    <label (click)="tabFindChange(3)"> Recipient </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 4">
                    <label (click)="tabFindChange(4)"> Staff </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 5">
                    <label (click)="tabFindChange(5)"> Others </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 7">
                    <label (click)="tabFindChange(7)"> System Administration </label>
                </div>
                <div class="tab-title" [class.fade-in-text]="tabFindIndex === 6">
                    <label (click)="tabFindChange(6)"> Program/Services/Items </label>
                </div>
            </div>
            <div class="main-box">
                <div *ngIf="tabFindIndex == 0">
                    <div nz-col [nzSpan]="24">
                        <div nz-col [nzSpan]="8">
                            <ul nz-menu nzMode="horizontal">
                                <li nz-menu-item >
                                    <div class="text-center conf-header mrg-btm">
                                        ADDRESS & CONTACT TYPES
                                    </div>
                                    
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click)=view(10) id="btn-Systm-AddressTypes">
                                            Address Types
                                        </button>
                                    </div>
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click)="view(8)" id="btn-Systm-ContactGroups"    >
                                            Contact Groups
                                        </button>
                                    </div>
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click)="view(9)" id="btn-Systm-ContactTypes"    >
                                            Contact Types
                                        </button>
                                    </div>
                                    
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click)=view(11) id="btn-Systm-PhoneEmailTypes"    >
                                            PHONE/EMAIL TYPES
                                        </button>
                                    </div>

                                    <div>                                        
                                        <button nz-button class="custom-btn" nzType="default" (click)="view(18)" id="btn-r-transport-address"    >
                                            TRANSPORT Addresses
                                        </button> 
                                    </div>

                                    <div>                                        
                                        <button nz-button class="custom-btn" nzType="default" (click)="view(17)" id="btn-r-medicaladdress"     >
                                            MEDICAL Addresses
                                        </button> 
                                    </div>
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click)=view(102) id="btn-r-other-contact-detail">
                                            OTHER CONTACT Addresses
                                        </button>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="text-center conf-header mrg-btm">
                                        SERVICE DELIVERY
                                    </div>
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default"  (click) = "view(58)"  id="btn-case-notes_cat"   >
                                            SERVICE NOTE CATEGORIES
                                        </button>
                                    </div>
                                    <div>
                                        <button nz-button class="custom-btn" nzType="default" (click) = "view(49)" id="btn-recipient-groups"    >
                                            SERVICE TASKS
                                        </button>
                                    </div> 
                                    <!-- <div>
                                        <div>
                                            <button nz-button class="custom-btn" nzType="default"  (click)="view(2)" id="btn-Systm-CDClaimRates"    >
                                                CDC Claim Rates
                                            </button>
                                        </div>
                                        <div>
                                            <button nz-button class="custom-btn" nzType="default"  (click)="view(3)" id="btn-Systm-CDCTargetGroups"    >
                                                CDC Target Groups
                                            </button>
                                        </div>
                                        <div>
                                            <button nz-button class="custom-btn" nzType="default" (click)="view(5)"  id="btn-Systm-ActivityBudgetGroups"    >
                                                Activity Budget Groups
                                            </button>
                                        </div>
                                        <div>
                                            <button nz-button class="custom-btn" nzType="default" (click)="view(6)" id="btn-Systm-Budgets"    >
                                                Budgets
                                            </button>
                                        </div>
                                        <div>
                                            -->
                                        </li>                
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item>
                                            <div class="text-center conf-header mrg-btm">
                                                DEMOGRAPHICS & HOLIDAYS 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)=view(13) id="btn-Systm-gender"    >
                                                    GENDER
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(14)" id="btn-system-financial-class"   >
                                                    FINANCIAL CLASSIFICAIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)=view(12) id="btn-Systm-Occupations"    >
                                                    OCCUPATIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)=view(13) id="btn-Systm-Religions"    >
                                                    RELIGIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(15)" id="btn-system-Postcodes"   >
                                                    SUBURB & POSTCODES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click)="view(1)" id="btn-Systm-FundingRegions">
                                                    FUNDING REGIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(16)" id="btn-system-Holidays">
                                                    PUBLIC HOLIDAYS
                                                </button>
                                            </div>
                                            <!-- <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(92)" id="btn-distribution-list">
                                                    Custom Datasets
                                                </button>
                                            </div>
                                            -->
                                        </li>
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item>
                                            <div class="text-center conf-header-darkorange mrg-btm">
                                                WORKFLOW LISTS
                                            </div> 
                                            
                                            <!-- <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(20)" id="btn-distribution-list">
                                                    Distribution Lists
                                                </button>
                                            </div> -->
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(93)" id="btn-system-Holidays">
                                                    APP CHECKLISTS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button  disabled class="custom-btn" nzType="default" [routerLink]="['/admin/configuration/workflow', 'extradata']" id="btn-distribution-list">
                                                    Custom Data Lists 
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button  class="custom-btn" nzType="default" (click)="view(91)" id="btn-distribution-list"   >
                                                    Notification Lists
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button  class="custom-btn" nzType="default" [routerLink]="['/admin/configuration/workflow', 'documents']" id="btn-distribution-list">
                                                    Document Lists
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button  class="custom-btn" nzType="default" [routerLink]="['/admin/configuration/workflow', 'followups']" id="btn-distribution-list">
                                                    Followup Lists
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button  class="custom-btn" nzType="default" [routerLink]="['/admin/configuration/workflow', 'followups']" id="btn-distribution-list">
                                                    Export Scripts
                                                </button>
                                            </div>
                                            
                                            <!-- <div>
                                                <button nz-button class="custom-btn" nzType="default" [routerLink]="['/admin/workflow', 'competency']" id="btn-distribution-list"   >
                                                    Staff Competencies Lists 
                                                </button>
                                            </div> -->
                                            <!-- <div class="text-center conf-header-orange">
                                                TRANSPORT <br> MEDICAL COSTS
                                            </div>
                                            <strong></strong>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(17)" id="btn-r-refferallist"     >
                                                    Medical Contacts
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(18)" id="btn-r-refferallist"    >
                                                    Destination Address
                                                </button> 
                                            </div>  -->
                                        </li>
                                    </ul>
                                </div>
                            </div>         
                        </div>
                        <div *ngIf="tabFindIndex == 1">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                GENERAL 
                                            </div>                                        
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view (31)" id="btn-add-change-template"   >
                                                    REGISTER DOCUMENT TEMPLATES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(29)" id="btn-filling-classification"   >
                                                    FILING CLASSIFICATIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(30)" id="btn-filling-categories"   >
                                                    DOCUMENT CATEGORIES
                                                </button>
                                            </div>                                                                  
                                        </li>                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 2">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                GENERAL 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(24)" id="btn-incident-trigger"   >
                                                    INCIDENT TRIGGERS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(25)" id="btn-staff-incident-type"  >
                                                    INCIDENT TYPES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(23)" id="btn-incident-sub-cat"  >
                                                    INCIDENT SUB CATEGORIES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(26)" id="btn-incident-loc_cat"  >
                                                    INCIDENT LOCATION CATEGORIES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(21)" id="btn-inital-list"    >
                                                    INITIAL ACTIONS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(22)" id="btn-ongoing-action"    >
                                                    ONGOING ACTIONS
                                                </button>
                                            </div>                                    
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(27)" id="btn-reciepient-incident-note_cat"  >
                                                    CLIENT INCIDENT NOTE CATEGORIES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(28)" id="btn-staff-incident-note_cat"  >
                                                    STAFF INCIDENT NOTE CATEGORIES
                                                </button>
                                            </div>          
                                        </li>                  
                                    </ul>
                                </div>   
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 3">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                ADMIN 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(38)" id="btn-recipient-consents">
                                                    RECIPIENT CONSENTS
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(47)" id="btn-reci-prefrence"  >
                                                    RECIPIENT PREFERENCES
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(46)" id="btn-user-def-reminders"  >
                                                    REMINDER TYPES
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm">
                                                REPORTING CATEGORIES 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(57)" id="btn-clinical-note-cat"    >
                                                    Admitting Priorities
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(44)" id="btn-discharge-reasons"  >
                                                    Discharge Reasons
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(60)" id="btn-op-notes_cat"   >
                                                    Lifecycle Events
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) ="view(32)" id="btn-recipient-cat"   >
                                                    Recipient Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(45)" id="btn-refferal-reasons-presenting"  >
                                                    Refferal Reasons
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(59)" id="btn-op-notes_cat"   >
                                                    Referral Sources
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) ="view(33)" id="btn-recipient-groups"    >
                                                    <!-- Categories -->
                                                    Communication group
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) ="view(34)" id="btn-recipient-group"    >
                                                    Minor Categories
                                                </button>
                                            </div>
                                        </li>                  
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                CLIENT NOTE & PLANS
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(41)" id="btn-case-notes_cat"   >
                                                    Case Notes Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(40)" id="btn-clinical-note-cat"    >
                                                    Clinical Note Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(42)" id="btn-op-notes_cat"   >
                                                    OP Notes Categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(76)">
                                                    Service Notes Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(39)"   id="btn-recipient-goals"  >
                                                    Plan Types
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(37)"   id="btn-recipient-goals"  >
                                                    Goals of Care
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm">
                                                ACCOUNTING
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) ="view(35)" id="btn-recipient-billing-cycle"    >
                                                    Billing Cycles
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(36)" id="btn-debtor-term"    >
                                                    Debtor Terms
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header conf-header-darkorange mrg-btm">
                                                CLINICAL
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(43)" id="btn-care-domains"   >
                                                    Care Domains
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(56)" id="btn-clinical-alert"    >
                                                    Clinical Alert Types
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(55)" id="btn-clinical-reminders"    >
                                                    Clinical Reminder Types
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(50)" id="btn-recipient-group"    >
                                                    Health Conditions
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(51)" id="btn-medications"    >
                                                    Medications
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(53)" id="btn-medical-dignosis"    >
                                                    Medical Diagnosis
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(54)" id="btn-medical-prodedure"    >
                                                    Medical Procedures
                                                </button>
                                            </div>  
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(48)" id="btn-recipient-cat"   >
                                                    Mobility Codes
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(52)" id="btn-nursing-dignosis"    >
                                                    Nursing Diagnosis
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(52)" id="btn-vacination-types"    >
                                                    Vaccination Types
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm" style="line-height:1.5;">
                                                HCP
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(4)"  id="btn-Systm-PackagePurposeStatement"    >
                                                    Package Purpose
                                                </button>
                                            </div>
                                        </li>                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 4">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="12">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                GENERAL
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(19)" id="btn-Systm-programeCordinates"    >
                                                    Managers/Coordinators
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(61)" id="btn-staff-job-cat"   >
                                                    Job Categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(72)">
                                                    Reminder/Alerts
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(58)"  id="btn-case-notes_cat"   >
                                                    Service Note Categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(75)">
                                                    Staff Preferences
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(63)">
                                                    Staff Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(65)">
                                                    Teams
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(73)">
                                                    Work Diciplines
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm">
                                                APP
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(58)"  id="btn-case-notes_cat"   >
                                                    SHIFT REPORT CATEGORIES
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header-darkorange mrg-btm">
                                                HR & COMPETENCIES 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(62)" id="btn-admin-cat"   >
                                                    Admin role Categories
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(69)">
                                                    Competencies
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(68)">
                                                    Competency Groups
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(70)">
                                                    HR Note Categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(71)">
                                                    OP Note categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(71)">
                                                    Practice Supervision Note Categories
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(74)">
                                                    Leave Descriptions
                                                </button>
                                            </div>
                                            <div> 
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(75)">
                                                    Staff Preferences
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header-darkorange mrg-btm">
                                                Award
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(101)">
                                                    AWARD SETUP
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(66)">
                                                    Award Levels
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(64)">
                                                    Positions
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(82)" id="btn-pay-types"    >
                                                    Pay Types
                                                </button>
                                            </div>
                                            <!-- <div>
                                                <button nz-button class="custom-btn" nzType="default"  (click) = "view(67)">
                                                    Award Details
                                                </button>
                                            </div> -->
                                        </li>
                                    </ul>
                                </div>            
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 5">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                GENERAL 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(79)" id="btn-other-equipmets"   >
                                                    Equipment
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(77)" id="btn-vehicles"    >
                                                    Vehicles
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(80)" id="btn-center-faci-outlet"    >
                                                    Center/Facilities/Outlets
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click) = "view(78)" id="btn-activity-groups"    >
                                                    Activity Groups
                                                </button>
                                            </div>
                                        </li>                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 6">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="12">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                PACKAGES/PROGRAMS 
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(83)" id="btn-prog-packg"    >
                                                    Program & Packages
                                                </button>
                                            </div>  
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(81)" id="btn-funding-sources"    >
                                                    Funding Sources
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(5)"  id="btn-Systm-ActivityBudgetGroups"    >
                                                    Budget Groups
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(6)" id="btn-Systm-Budgets"    >
                                                    Budgets
                                                </button>
                                            </div>                                                            
                                        </li>                  
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <ul nz-menu nzMode="horizontal">
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                CLIENT SERVICES AND ABSENCES
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(87)" id="btn-item-case-manag">
                                                    Case Management  &  Client Admin
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(85)" id="btn-item-consumable">
                                                    Item/Consumables
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(86)" id="btn-item-menu-meals">
                                                    Meal/Menus
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(89)" id="btn-staff-admin-activi">
                                                    Recipient Absences
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(84)" id="btn-services"   >
                                                    Services
                                                </button>
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm">
                                                STAFF ACTIVITIES
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(88)" id="btn-staff-admin-activi">
                                                    Staff Administration
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                        <div *ngIf="tabFindIndex == 7">
                            <div nz-col [nzSpan]="24">
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal" >
                                        <li nz-menu-item >
                                            <div class="text-center conf-header mrg-btm">
                                                GENERAL 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(94)" id="btn-registraion-detail">
                                                    LICENSE REGISTRATION
                                                </button> 
                                            </div>   
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(95)" id="btn-desktop-logged">
                                                    Logged On Desktop Users
                                                </button> 
                                            </div> 
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(96)" id="btn-mobile-logged">
                                                    Logged On APP Users
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(98)" id="btn-webkiosk-logged">
                                                    Logged On Portal Users
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(97)" id="btn-system-nbr">
                                                    System Numbers
                                                </button> 
                                            </div>
                                            <br>
                                            <div class="text-center conf-header mrg-btm">
                                                DATABASE
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-db-mangr"   >
                                                    Database Manager
                                                </button> 
                                            </div>
                                        </li>                  
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal" >
                                        <li nz-menu-item >
                                            <div class="text-center conf-header-darkorange mrg-btm">
                                                UTILITIES
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-clear-roster-lock"   >
                                                    Clear Roster Locks
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-purge-agedroster-log"   >
                                                    Purge Aged Roster Histories
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-purge-attendance-log"   >
                                                    Purge Aged Time & Attendance
                                                </button> 
                                            </div>  
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-purge-audit-trail"   >
                                                    Purge Audit Trail
                                                </button> 
                                            </div>
                                            
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-purge-alert-audit"   >
                                                    Purge Alerts Audit
                                                </button> 
                                            </div>
                                            <div>                                        
                                                <button nz-button class="custom-btn" nzType="default" disabled id="btn-mta-log"   >
                                                    Reset MTA ERROR Log File
                                                </button> 
                                            </div>                                                                                                   
                                        </li>                  
                                    </ul>
                                </div>
                                <div nz-col [nzSpan]="8">
                                    <ul nz-menu nzMode="horizontal" >
                                        <li nz-menu-item >
                                            <div class="text-center conf-header-darkorange mrg-btm">
                                                COMPANY
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn"  (click)="view(90)" id="btn-Systm-Companies" >
                                                    Companies
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(0)" id="btn-Systm-Branches">
                                                    Branches
                                                </button>
                                            </div>
                                            <div>
                                                <button nz-button class="custom-btn" nzType="default" (click)="view(7)" id="btn-Systm-user-details"    >
                                                    TRACCS USERS
                                                </button>
                                            </div>                                                                                     
                                        </li>                  
                                    </ul>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>      
            </div>  
            <!-- // registration modal -->
            <div>
                <nz-modal [(nzVisible)]="licenseRegistrationOpen" nzTitle="License Registration" (nzOnCancel)="LisenceRegistrationhandleCancel()"  nzWidth="930">
                    <div nz-row [nzGutter]="8"  *ngIf="licenseRegForm" [formGroup]="licenseRegForm">
                        <div nz-col class="gutter-row" nzSpan="12">
                            <nz-card [nzSize]="'small'" nzTitle="License For TRACCS Desktop Applications" class="mrg-btm">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Company">Company :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas1" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Registartion">Registartion :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas2" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Unlock Key">Unlock Key :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas3" />
                                    </div>
                                </div> 
                                <div class="modalFooter text-right">
                                    <button nz-button class="custom-btn" nzType="primary" class="btn" (click)="saveRegistration(1)">OK</button>
                                </div>               
                            </nz-card>
                            <nz-card [nzSize]="'small'" nzTitle="License For Mobile/Provider Portal" >
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Company">Company :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas4" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Registartion">Registartion :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas5" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Unlock Key">Unlock Key :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas6" />
                                    </div>
                                </div>
                                <div class="modalFooter text-right">
                                    <button nz-button class="custom-btn" nzType="primary" class="btn" (click)="saveRegistration(2)">OK</button>
                                </div>               
                            </nz-card>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="12">
                            <nz-card [nzSize]="'small'" nzTitle="License For TRACCS Client Portal Licenses" >
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Company">Company :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas7" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Registartion">Registartion :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas8" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="9" class="text-right pad-r-5">
                                        <label for="Unlock Key">Unlock Key :</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input [nzSize]="'small'" nz-input placeholder="" formControlName="adamas9" />
                                    </div>
                                </div>
                                <div class="modalFooter text-right">
                                    <button nz-button class="custom-btn" nzType="primary" class="btn" (click)="saveRegistration(3)">OK</button>
                                </div>               
                            </nz-card>
                        </div>
                    </div>    
                    <div *nzModalFooter>
                        <ng-template #modalFooter> 
                            <div class="modalFooter">
                                <button nz-button class="custom-btn" nzType="primary" class="btn" (click)="handleCancelTop()">Cancel</button>
                            </div>               
                        </ng-template>
                    </div>        
                </nz-modal>
            </div>
            <!-- // registration modal -->
            <div>
                <nz-modal
                [(nzVisible)]="systemNumbersOpen"
                nzTitle="Set System Numbers"
                (nzOnCancel)="systemNumberHandleCancel()"
                nzWidth="530"
                >
                <div nz-row [nzGutter]="8" id="systemNumber" *ngIf="systemNumbersForm" [formGroup]="systemNumbersForm">
                    <div nz-col nzSpan="24">
                        <nz-card [nzSize]="'small'" class="mrg-btm">
                            <div nz-row class="form-group">
                                <div nz-col nzSpan="8" class="form-label">
                                    <label for="Timesheet">Timesheet:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <input [nzSize]="'small'" nz-input placeholder="" formControlName="tsheetID" />
                                </div>
                            </div>
                            <div nz-row class="form-group">
                                <div nz-col nzSpan="8" class="form-label">
                                    <label for="Invoice Number">Invoice Number:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <input [nzSize]="'small'" nz-input placeholder="" formControlName="invoice" />
                                </div>
                            </div>
                            <div nz-row class="form-group">
                                <div nz-col nzSpan="8" class="form-label">
                                    <label for="Staff Number">Staff Number:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <input [nzSize]="'small'" nz-input placeholder="" formControlName="carerID"/>
                                </div>
                            </div>
                            <div nz-row class="form-group">
                                <div nz-col nzSpan="8" class="form-label">
                                    <label for="Recipient">Recipient:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <input [nzSize]="'small'" nz-input placeholder="" formControlName="customerID" />
                                </div>
                            </div>
                            <div nz-row class="form-group">
                                <div nz-col nzSpan="8" class="form-label">
                                    <label for="Batch Number">Batch Number:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <input [nzSize]="'small'" nz-input placeholder="" formControlName="batch"/>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
                
                <div *nzModalFooter>
                    <div nz-row>
                        <div nz-col nzSpan="24" class="text-right">
                            <button nz-button class="btn ant-btn ant-btn-primary" nzType="primary" (click)="saveSystemNumber()">Save</button>
                        </div>
                    </div>
                </div>
            </nz-modal>
            
        </div>
        
        
        
    </div>
    
    <!-- AHSAN --><app-show-award-list [open]="showAwardList"></app-show-award-list><!-- AHSAN -->
    
    <!--MUFEED-->
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="1280" height="650"  ></iframe> 
        </div>    
    </nz-drawer>
    <!--Mufeed-->
    
    