<div nz-row>
    <form nz-form nz-col nzSpan="10" [formGroup]="leaveForm" (ngSubmit)="submitForm()">

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Date Range</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Date range is invalid!">
                <nz-range-picker [nzFormat]="dateFormat" formControlName="dates" (ngModelChange)="validateDate()">
                </nz-range-picker>
            </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Leave Types</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Leave Type is required!">
                <nz-select formControlName="leaveTypes" nzAllowClear nzPlaceHolder="">
                    <nz-option *ngFor="let leave of leaveTypes" [nzValue]="leave" [nzLabel]="leave"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Notes</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Note is required!">
                <textarea formControlName="notes" rows="4" nz-input></textarea>
            </nz-form-control>
        </nz-form-item>    
    
    
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" *ngIf="!loading">Apply Leave</button>
                <button nz-button nzType="primary" *ngIf="loading" nzLoading><i nz-icon
                        nzType="poweroff"></i>Loading</button>
            </nz-form-control>
        </nz-form-item>
    
    </form>
</div>

<div nz-row>
    <nz-table #basicTable 
    nzSize="small" 
    [nzVirtualItemSize]="54" 
    [nzFrontPagination]="false" 
    [nzLoading]="loading" 
    [nzShowPagination]="false" 
    [nzData]="timesheets" 
    [nzScroll]="{  y: '77vh' }" >
    <thead>
        <tr>
            <th nzWidth="300px">Leave Type</th>
            <th nzWidth="100px">Start Date</th>
            <th nzWidth="100px">End Date</th>
            <th nzWidth="300px">Notes</th>
            <th nzWidth="100px">Reminder Date</th>
            <th nzWidth="100px">Approved</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let data of basicTable.data;let i = index">
                <td nzWidth="300px">{{ data.leaveType }}</td>
                <td nzWidth="100px">{{ data.startDate | date: 'dd/MM/yyyy' }}</td>
                <td nzWidth="100px">{{ data.endDate |  date: 'dd/MM/y' }}</td>
                <td nzWidth="300px">{{ data.notes }}</td>
                <td nzWidth="100px">{{ data.reminderDate}}</td>
                <td nzWidth="100px">
                    <label nz-checkbox nzDisabled [ngModel]="data.approved" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                </td>    
            </tr>
    </tbody>
</nz-table>
</div>