<div class="header">
   
    </div>
        <div class="container">
           
            <div class="well well-sm">
                <div class="row report-names">
                    <div class="col-md-6">
                        <span>Selected ActiveReports Report:</span>
                        <select id="arReports" class="combobox" #arReportsCombo [(ngModel)]="arReportInfo">
                            <option value="None">
                                None
                            </option>
                            <ng-template ngFor let-item [ngForOf]="arItems">
                                <optgroup *ngIf="item.reports" label="{{item.name}}">
                                    <option *ngFor="let report of item.reports" [value]="report.fileName">
                                        {{report.reportName}}
                                    </option>
                                </optgroup>
                            </ng-template>
                        </select>
                    </div>
                </div>
            <wj-report-viewer #reportViewer [serviceUrl]="serviceUrl" [filePath]="filePath" [reportName]="reportName" [paginated]="paginated" ></wj-report-viewer>
        </div>
    