<div>
  <div class="selected-container" (click)="show = true">
    <ng-container>
      <div class="selected" *ngFor="let list of selectedList;let i=index">{{ list?.name }} 
        <clr-icon shape="times" (click)="remove(i)"></clr-icon>
      </div>
    </ng-container>
  </div>
  <ul *ngIf="show">
    <li *ngFor="let list of lists|async;let i=index">
      <div>
          <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="options" required value="option2" [(ngModel)]="list.status" (click)="onSelect($event,i)"/>
              <label>{{ list?.name }}</label>
          </clr-checkbox-wrapper>
      </div>
    </li>
  </ul>
</div>