ul{
    list-style: none;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    margin-top: 1px;
    max-height: 6rem;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    z-index: 10;
}

ul li{
    padding:3px 5px;
    cursor:pointer;
}

ul li:hover{
    background: #f5f5f5;
}

.selected{
    display: inline-flex;
    margin: 3px 5px 0 0;
    background-color: #e0e0e0;
    border-radius: 2px;
    padding: 4px;
    line-height: 1;
    font-size:10px;
}

.selected clr-icon{
    margin-left:7px;
    cursor:pointer;
    height: 10px;
}

.selected clr-icon:hover{
    color: #4e3a3a;
    transform: scale(1.5);
}

clr-checkbox-wrapper label{
    margin:0;
    font-size:12px;
}

.selected-container{
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 0 5px;
    height:1.8rem;
    overflow:auto;
}