<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div style="height: 75vh;">
        <div *ngIf="inputForm" [formGroup]="inputForm" style="width: 100%;">
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="8">
                    <p style="font-weight:bold; font-size: large; text-align: left; margin-top: 5px;"> Close Date </p>
                </div>
                <div nz-col nzSpan="16">
                    <div nz-row nzJustify class="mrg-btm">
                        <nz-date-picker nzPlaceHolder="Close Date" formControlName="dtpEndDate"
                            [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <label nz-checkbox [(ngModel)]="chkBlockFunded" (ngModelChange)="checkedStatus(11)"
                            [ngModelOptions]="{standalone: true}" style="margin-top: 5px;">All Block Funded</label>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <label nz-checkbox [(ngModel)]="chkIndividualPackages" (ngModelChange)="checkedStatus(12)"
                            [ngModelOptions]="{standalone: true}" style="margin-top: 5px;">All Individual
                            Packages</label>
                        <label nz-checkbox [(ngModel)]="chkNonCDCPackages" (ngModelChange)="checkedStatus(13)"
                            [disabled]="lockNonCDCPackages == true" [ngModelOptions]="{standalone: true}"
                            style="margin-top: 5px;">NON CDC Packages</label>
                        <label nz-checkbox [(ngModel)]="chkCDCPackages" (ngModelChange)="checkedStatus(14)"
                            [disabled]="lockCDCPackages == true" [ngModelOptions]="{standalone: true}"
                            style="margin-top: 5px;">CDC Packages</label>
                    </div>
                </div>
            </div>

            <nz-divider style="margin-top: 8px; margin-bottom: 8px;" nzText="" nzOrientation="left">
            </nz-divider>

            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="4">
                    <p style="font-weight:bold; font-size: large;"> Funding Bodies </p>
                </div>
                <div nz-col nzSpan="3" class="text-right pad-r-5">
                    <label for="Name" style="margin-top: 5px; font-size: 11pt;">All Fundings</label>
                    <div nz-col style="text-align: right;">
                        <button nz-button nzType="primary" class="uns-button" (click)="uncheckAll(1)">
                            Un-Select All
                        </button>
                    </div>
                </div>
                <div nz-col nzSpan="1" style="text-align: center;">
                    <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(1)"
                        [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                </div>
                <div>
                    <div nz-col nzSpan="16" class="mrg-btm">
                        <div nz-row style="line-height: 4pc;">
                            <div nz-col>
                                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '230px' }"
                                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                    [nzLoading]="loading" [nzData]="tableData">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event,1)">
                                                    <!-- <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked" (change)="fetchAll($event)"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div> -->
                                                    <div nz-row *ngFor="let list of fundingList; let i = index">
                                                        <label nz-checkbox [disabled]="lockFunding == true"
                                                            [nzValue]="list.description" [(ngModel)]="list.checked"
                                                            [ngModelOptions]="{standalone: true}">{{
                                                            list.description }}</label>
                                                    </div>
                                                </nz-checkbox-wrapper>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
            </nz-divider>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="4">
                    <p style="font-weight:bold; font-size: large;"> Programs </p>
                </div>
                <div nz-col nzSpan="3" class="text-right pad-r-5">
                    <label for="Name" style="margin-top: 5px; font-size: 11pt;">All Programs</label>
                    <div nz-col style="text-align: right;">
                        <button nz-button nzType="primary" class="uns-button" (click)="uncheckAll(2)">
                            Un-Select All
                        </button>
                    </div>
                </div>
                <div nz-col nzSpan="1" style="text-align: center;">
                    <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                        [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                </div>
                <div>
                    <div nz-col nzSpan="16" class="mrg-btm">
                        <div nz-row style="line-height: 4pc;">
                            <div nz-col>
                                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '350px' }"
                                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                    [nzLoading]="loading" [nzData]="tableData">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event,2)">
                                                    <div nz-row *ngFor="let list of programList; let i = index">
                                                        <label nz-checkbox [disabled]="lockProgram == true"
                                                            [nzValue]="list.ppName" [(ngModel)]="list.checked"
                                                            [ngModelOptions]="{standalone: true}">{{
                                                            list.ppName }}</label>
                                                    </div>
                                                </nz-checkbox-wrapper>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="21">
                    <p style="margin: 0px;"></p>
                </div>
                <div nz-col nzSpan="2">
                    <button nz-button nzType="primary" class="sav-button" (click)="checkValidation()">
                        Ok
                    </button>
                </div>
            </div> -->
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="checkValidation()" class="btn"> OK </button>
        </ng-container>
    </div>

</nz-modal>