.orange-text{
    font-size: 14px;
    text-align: left;
    margin-left: 2%;
    color:#f18805;
    margin-top: 10%;
  }
.tab {
  display: block;
  border: 2px solid #85B9D5;
  border-radius: 5px;
  background-color: white;
  height: 75vh;
  /* width: 99vh; */
  padding: 10px;
  margin-top: -15px;
  overflow-y: auto;
}
.btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #85B9D5;
  color: white;
  padding: 5px 7px;
  border-radius: 7px !important;
  text-align: center !important;
  width: 100px !important;
  font-size: 14px;
  font-family: Segoe UI;
  font-weight: bold;
}
.btn2 {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #85B9D5;
  color: white;
  padding: 5px 7px;
  border-radius: 7px !important;
  text-align: center !important;
  width: 100px !important;
  font-size: 12px;
  font-family: Segoe UI;
  font-weight: bold;
  margin-bottom: 3px;
}
.orange-text{
  font-size: 14px;
  text-align: left;
  margin-left: 2%;
  color:#f18805;
  margin-top: 10%;
}
.lineHeight{
  line-height: 30px;
}
.inline > .title{
    font-size:12px;
    margin-right:5px;
}
.accountMargins{
  line-height: 30px;
  text-align: right;
  margin-right: 5px;
}

nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
  line-height: 24px;
  background: #fff;
  height: 25px;
  border-radius: 15px 15px 0 0;
  margin: 0 0px 0 0;
  text-align: center;
  border-color: #85B9D5;
}

nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active {
  background: #85B9D5;
  color: #fff;
}
nz-container>>>nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
  min-width: auto;
}
nz-tabset>>>.ant-tabs-bar {
  border-bottom: 0px;
}