<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="964" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" nzTitle="Payroll/Timesheet Update" (nzOnCancel)="handleCancel()">
    <div style="height: 78vh;">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'"
            [nzTabBarGutter]="2">
            <nz-tab nzTitle="General">
                <div nz-row nz-col nzSpan="24" class="tab">
                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;">Timesheet Date</p>
                        </div>
                        <div nz-col nzSpan="6" style="text-align: center;">
                            <p>Date to Appear on Timesheets</p>
                        </div>
                        <div nz-col nzSpan="4" style="margin-left: 10px;">
                            <nz-date-picker [nzPlaceHolder]="'Timesheet Date'" formControlName="timesheetDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <!-- <div style="height: 14pc;" nz-row></div> -->

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-size: large;">Dates</p>
                        </div>
                        <div nz-col nzSpan="7" style="text-align: right;">
                            <label style="margin-top: 5px;"> Include All Dates </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox formControlName="chkAllDates" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: right; margin-left: 8px;">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="1">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: left;">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value" [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <!-- <div nz-col nzSpan="24" style="margin-bottom:0.3rem" style="background-color:#A4A4A4;">
                            <p style="margin: 0px;"><b>Click Start to commence Update with the selected options ....</b>
                            </p>
                        </div> -->

                    <div style="height: 12pc;" nz-row></div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <!-- <div nz-col nzSpan="24" style="margin-bottom:0.3rem" style="background-color:#A4A4A4;">
                            <p style="margin: 0px;"><b>Anticipated Completion ....</b></p>
                        </div> 

                        <div style="height: 4pc;" nz-row></div>

                        <nz-divider style="margin-top: 3px;" nzText="" nzOrientation="left"></nz-divider>

                        <div nz-row>
                            <div nz-col nzSpan="21"></div>
                        <div nz-col nzSpan="3">
                            <button nz-button nzType="primary" (click)="startDebUpdate()"
                                style="font-size: 14pt; height: 2.5pc; width: 8pc; float: right;"> Start </button>
                        </div>
                        </div> -->
                </div>
            </nz-tab>

            <nz-tab nzTitle="Branches & Funding">
                <div class="tab">
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Branches </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Branches </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allBranchesChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '220px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <!-- <tr>
                                                <td>
                                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event , null)">
                                                    <div nz-row *ngFor="let list of branchList; let i = index">
                                                        <label nz-checkbox [nzValue]="list.description" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.description }}</label>
                                                    </div>
                                                </nz-checkbox-wrapper> -->
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row *ngFor="let list of branchList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBranches == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Funding </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Funding Sources
                            </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(5)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(5)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '230px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,5)">
                                                            <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [disabled]="lockFunding == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.fundingType }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Categories </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Categories </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '230px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox [disabled]="lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nz-tab>
            <nz-tab nzTitle="Programs">
                <div class="tab">
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Programs </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Programs </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '642px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox [disabled]="lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.programName }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Staff">
                <div class="tab">
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Staff </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Staff </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(4)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allStaffsChecked" (ngModelChange)="checkAll(4)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '642px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,4)">
                                                            <div nz-row *ngFor="let list of staffList; let i = index">
                                                                <label nz-checkbox [disabled]="lockStaff == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.accountNumber }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Interfaces">
                <div class="tab">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="10">
                            <p style="font-weight:bold; font-size: large;"> Payroll Interface Options </p>
                        </div>
                        <div nz-col nzSpan="4" style="margin-top: 5px;">
                            <label nz-checkbox formControlName="chkCreateExportFile">Create Export File</label>
                        </div>
                        <div nz-col nzSpan="5" style="margin-top: 5px; text-align: right;">
                            <label> Invoice Prefix If Applicable :</label>
                        </div>
                        <div nz-col nzSpan="1" style="margin-left: 2px;">
                            <input nz-input formControlName="invPrefix" (keypress)="onKeyPress($event)" />
                        </div>
                    </div>
                    <div nz-row nzJustify style="margin-bottom:0.4rem">
                        <div nz-col nzSpan="10">
                            <label> </label>
                        </div>
                        <div nz-col nzSpan="8">
                            <label nz-checkbox formControlName="chkAwardInterExport">Use Award Interpreted Export
                                File</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox
                                formControlName="chkExportZeroValueLines">Include
                                Services/Shifts with 0 value</label>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label nz-checkbox formControlName="chkIncludeRecipientAdmin">Include Services/Shifts with
                                Activity coded as
                                RECIPIENT ADMINISTRATION</label>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label nz-checkbox formControlName="chkIncludeADMINPaytype">Include Services/Shifts with Pay
                                Type coded as
                                ADMIN</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 10px; margin-bottom: 15px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div style="height: 432px;">
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="8">
                                <label style="margin-top: 4px;">3rd Party Payroll Package : </label>
                            </div>
                            <div nz-col nzSpan="6">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="selectedPackage"
                                    nzPlaceHolder="" [nzDisabled]="!this.inputForm.get('chkCreateExportFile').value"
                                    nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                    <nz-option *ngFor="let etype of PayrollPackage" [nzLabel]="etype" [nzValue]="etype">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'ABM'"
                            nzValue="ABM">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Default Account :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" formControlName="inputDefaultAccount" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Default Project :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" formControlName="inputDefaultProject" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Default Acitivity :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" formControlName="inputDefaultActivity" />
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'ATTACHE'" nzValue="ATTACHE">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Normal Pay Type :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="normalPayType"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of normalPayType" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Allowance Type :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="allowanceType"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of allowanceType" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Superannuation Type :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="superannuationType"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of superannuationType" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Include Activity Code :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkIncActivityCode"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Use Activity Cost Account (if available):</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkActCostAcc"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Prefix GL With Alt GL :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkPrefixGL"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'AURION'" nzValue="AURION">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Use Staff # instead of Position ID :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkStaffNumberPosID"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Use Activity Cost Account (if available) :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkUseActCostAcct"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Export Extra Check Columns :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkExpExtChkColumn"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'CHRIS21'" nzValue="CHRIS21">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Include Cost Center in export file :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkIncCostCenter"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'CIM'"
                            nzValue="CIM">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>GL Location :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="glLocation"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of glLocation" [nzLabel]="value" [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>GL Pay Account :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="glPayAccount"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of glPayAccount" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>GL Cost Center :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="glCostCenter"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of glCostCenter" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'EASYTIME'" nzValue="EASYTIME">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Use TRACCS Pay Type :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkUseTraccsPayType"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Use TRACCS Cost Account :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkUseTraccsCostAcc"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'MYOB'" nzValue="MYOB">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Include Activity Code :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkMyObIncActCode" nzDisabled></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Include Billing Text :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkIncBillingText" nzDisabled></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>4 Decimal Qty :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chk4DecimalQty"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'NELLER-PRECEDA'" nzValue="NELLER-PRECEDA">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label></label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="payrunGroupCode"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of payrunGroupCode" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Pay Frequency Selection :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="payFreqSel"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of payFreqSel" [nzLabel]="value" [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Auto Pay Required :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkAutoPayRequried"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Generate Std Add/Ded :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkGenerateStd"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Generate Occupational Super :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkGenerateOccupational"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'WAGE EASY PAYROLL'"
                            nzValue="WAGE EASY PAYROLL">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Export Job Numbers :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <label nz-checkbox formControlName="chkExportJobNum"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label>Department Code Selection :</label>
                                </div>
                                <div nz-col nzSpan="10">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="departCodeSel"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of departCodeSel" [nzLabel]="value"
                                            [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-row>
                            <div nz-col nzSpan="20">
                                <label style="font-size: 12pt;">Location and Name of
                                    Export File
                                    :</label>
                            </div>
                            <div nz-col nzSpan="1">
                                <p></p>
                            </div>
                            <div nz-col nzSpan="2">
                                <button nz-button nzType="default" class="btn2"> Save Setting </button>
                            </div>
                        </div>
                        <!-- <div nz-row>
                            <div nz-col nzSpan="25">
                                <input nz-input placeholder="" />
                                <button nz-button nzType="default" (click)="selectSavePath()">Select Save Path</button>
                            </div>
                        </div> -->
                        <div nz-row>
                            <div nz-col nzSpan="25">
                                <nz-input-group>
                                    <input nz-input placeholder="Enter path" style="width: 95%;" formControlName="selectedDirectoryPath"/>
                                    <button nz-button nzType="default" (click)="selectSavePath()">...</button>
                                </nz-input-group>
                            </div>
                        </div>
                        
                        <style>
                            .input-button {
                                border-left: none; 
                                border-radius: 0;  
                                height: 100%;      
                            }
                        </style>
                        
                        
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Update History">
                <div class="tab">
                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="18">
                            <p style="font-weight:bold; font-size: large;"> Batch History </p>
                        </div>
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label nz-checkbox>Expand Detail</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '574px' }" nzBordered [nzShowPagination]="false"
                        [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                        <thead>
                            <tr>
                                <th style="width: 10%;" class="left">OperatorID</th>
                                <th style="width: 20%;" class="left">BatchDate</th>
                                <th style="width: 10%;" class="left">BatchNumber</th>
                                <th style="width: 60%;" class="left">BatchDetail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of batchHistoryList;let i = index;">
                                <td style="width: 10%;" class="left">{{ data.operatorID }} </td>
                                <td style="width: 20%;" class="left">{{ data.batchDate }} </td>
                                <td style="width: 10%;" class="left">{{ data.batchNumber }} </td>
                                <td style="width: 60%;" class="left">{{ data.batchDetail }} </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Export Type">
                <div class="tab">
                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;"> Other Selection Options </p>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>

                    <div style="height: 3pc;" nz-row></div>

                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="4">
                            <p style="margin: 0px;"></p>
                        </div>
                        <div nz-col nzSpan="8">
                            <label nz-checkbox formControlName="chkStaffPays">Update Staff Services :</label>
                        </div>
                    </div>
                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="4">
                            <p style="margin: 0px;"></p>
                        </div>
                        <div nz-col nzSpan="8">
                            <label nz-checkbox formControlName="chkPayBrokerage">Update Brokered Services :</label>
                        </div>
                    </div>
                    <div style="height: 3pc;" nz-row></div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="startProcess()" class="btn"> Start </button>
        </ng-container>
    </div>
</nz-modal>

<ng-template #easytimeModalBranchName>
    <div>
        <label for="easytimeBranchName">Enter the Branch Name for Easytime Reporting:</label>
        <input id="easytimeBranchName" nz-input [(ngModel)]="inputEasyTimeBranch" placeholder="Enter Branch Name" />
    </div>
</ng-template>

<ng-template #easytimeModalTimesheetId>
    <div>
        <label for="easytimeTimesheetId">Enter the Easytime Timesheet ID for this update:</label>
        <input id="easytimeTimesheetId" nz-input [(ngModel)]="inputEasyTimeTimesheetID"
            placeholder="Enter Timesheet ID" />
    </div>
</ng-template>