<nz-modal [(nzVisible)]="isVisible" [nzMask]="true" [nzMaskClosable]="false" nzTitle="Pay Integrity Check"
    (nzOnCancel)="handleCancel()" nzWidth="96%" [nzStyle]="{ top: '10px' }">

    <div style="height: 81vh; display: flex; flex-direction: column;">
        <div *ngIf="inputForm" [formGroup]="inputForm" style="flex: 0 0 auto; padding: 10px;">
            <div nz-row nz-col nzSpan="24" style="margin-bottom: 10px; align-items: center; display: flex;">
                <div nz-col nzSpan="2" style="text-align: right;">
                    <button nz-button nzType="default" class="btn1" style="margin-bottom: 5px;" (click)="generatePdf()">
                        Print
                    </button>
                </div>
                <div nz-col nzSpan="2" style="text-align: right; margin-right: 4px;">
                    <label style="margin-top: 5px;"> Use Master</label>
                    <!-- <label nz-checkbox [(ngModel)]="chkMaster" (ngModelChange)="loadPayIntegrity()"
              [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>  -->
                </div>
                <div nz-col nzSpan="1" style="text-align: left;">
                    <label nz-checkbox formControlName="chkMaster" style="margin-top: 5px;"></label>
                </div>
                <div nz-col nzSpan="5" style="display: flex; justify-content: space-between; align-items: center;">
                    <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                        [nzDisabled]="this.inputForm.get('chkMaster').value" [nzFormat]="dateFormat"
                        style="flex: 1; margin-right: 5px;"></nz-date-picker>
                    <span style="margin: 0 5px;">to</span>
                    <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate"
                        [nzDisabled]="this.inputForm.get('chkMaster').value" [nzFormat]="dateFormat"
                        style="flex: 1; margin-left: 5px;"></nz-date-picker>
                </div>
                <div nz-col nzSpan="4" style="text-align: center;">
                    <button nz-button nzType="default" class="btn1" (click)="loadPayIntegrity()">Start</button>
                    <!-- <button nz-button nzType="default" class="btn1" style="margin-bottom: 5px;"
                  (click)="loadPayIntegrity()"> Start </button> -->
                </div>
                <div nz-col nzSpan="10" style="text-align: center;">
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24"
            style="flex: 1 1 auto; overflow-y: auto; padding: 10px; border-top: 1px solid #d9d9d9;">
            <!-- <nz-table #basicTable [nzScroll]="{ y: 'calc(81vh - 130px)', x: '1200px' }" nzBordered
                [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="payIntegrityList" class="custom-table">
                <thead>
                    <tr>
                        <th nzWidth="160px">Error Type</th>
                        <th nzWidth="120px">Created By</th>
                        <th nzWidth="120px">Editor</th>
                        <th nzWidth="100px">Shift#</th>
                        <th nzWidth="120px">Status</th>
                        <th nzWidth="120px">Category</th>
                        <th nzWidth="120px">Branch</th>
                        <th nzWidth="160px">Staff</th>
                        <th nzWidth="120px">Date</th>
                        <th nzWidth="120px">Start Time</th>
                        <th nzWidth="160px">Program</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of payIntegrityList; let i = index">
                        <td>{{ data.errorType }}</td>
                        <td>{{ data.createdBy }}</td>
                        <td>{{ data.editer }}</td>
                        <td>{{ data.shiftNumber }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.category }}</td>
                        <td>{{ data.branch }}</td>
                        <td>{{ data.staff }}</td>
                        <td>{{ data.date | date: 'dd/MM/y' }}</td>
                        <td>{{ data.startTime }}</td>
                        <td>{{ data.program }}</td>
                    </tr>
                </tbody>
            </nz-table> -->
            <nz-table #basicTable [nzBordered]="true" [nzShowPagination]="true" [nzSize]="'small'"
                [nzFrontPagination]="true" [nzLoading]="loading" [nzData]="payIntegrityList" [nzPageSize]="10"
                [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzShowTotal]="totalTemplate"
                class="custom-table">
                <ng-template #totalTemplate let-total>
                    Total {{ total }} records
                </ng-template>
                <thead>
                    <tr>
                        <th nzWidth="160px">Error Type</th>
                        <th nzWidth="120px">Created By</th>
                        <th nzWidth="120px">Editor</th>
                        <th nzWidth="100px">Shift#</th>
                        <th nzWidth="120px">Status</th>
                        <th nzWidth="120px">Category</th>
                        <th nzWidth="120px">Branch</th>
                        <th nzWidth="160px">Staff</th>
                        <th nzWidth="120px">Date</th>
                        <th nzWidth="120px">Start Time</th>
                        <th nzWidth="160px">Program</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr
                        *ngFor="let data of payIntegrityList | slice:(basicTable.nzPageIndex - 1) * basicTable.nzPageSize : basicTable.nzPageIndex * basicTable.nzPageSize; let i = index"> -->
                    <tr
                        *ngFor="let data of payIntegrityList let i = index">
                        <td>{{ data.errorType }}</td>
                        <td>{{ data.createdBy }}</td>
                        <td>{{ data.editer }}</td>
                        <td>{{ data.shiftNumber }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.category }}</td>
                        <td>{{ data.branch }}</td>
                        <td>{{ data.staff }}</td>
                        <td>{{ data.date | date: 'dd/MM/y' }}</td>
                        <td>{{ data.startTime }}</td>
                        <td>{{ data.program }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>
</nz-modal>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>