<nz-modal [nzCentered]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex; height: 30vh;">
        <div *ngIf="inputForm" [formGroup]="inputForm" style="width: 100%;">
            <div nz-row nzJustify class="mrg-btm" style="margin-top: 1pc;">
                <div nz-col nzSpan="8">
                    <h3 style="text-align: right; margin-right: 14px; margin-top: 4px;"> Current Pay Period End Date:
                    </h3>
                </div>
                <div nz-col nzSpan="6">
                    <nz-date-picker nzPlaceHolder="Period End Date" [(ngModel)]="payPeriodEndDate"
                        (ngModelChange)="checkedStatus()" [ngModelOptions]="{standalone: true}"
                        [disabled]="lockpayPeriodEndDate == true" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="8">
                    <h3 style="text-align: right; margin-right: 14px; margin-top: 4px;"> Viewing Date Range: </h3>
                </div>
                <!-- style="border: solid; border-color: black; border-width: 0.3PC;" -->
                <div nz-col nzSpan="6">
                    <nz-date-picker nzPlaceHolder="Start Date" [(ngModel)]="tSheetFirstServiceDate"
                        (ngModelChange)="checkedStatus()" [ngModelOptions]="{standalone: true}"
                        [disabled]="locktSheetFirstServiceDate == true" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="2">
                    <p style="text-align: center; margin-top: 5px;"> To </p>
                </div>
                <div nz-col nzSpan="6">
                    <nz-date-picker nzPlaceHolder="End Date" [(ngModel)]="tSheetLastServiceDate"
                        (ngModelChange)="checkedStatus()" [ngModelOptions]="{standalone: true}"
                        [disabled]="locktSheetLastServiceDate == true" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <!-- <div nz-row nzJustify class="mrg-btm" style="margin-top: 4pc;">
                <div nz-col nzSpan="14">
                    <p style="margin: 0px;"></p>
                </div>
                <div nz-col nzSpan="4">
                    <button nz-button nzType="primary" class="sav-button" [disabled]="lockChangeButton == true"
                        (click)="checkValidation()">
                        Change
                    </button>
                </div>
                <div nz-col nzSpan="4">
                    <button nz-button nzType="primary" class="sav-button" [disabled]="lockSaveButton == true"
                        (click)="closeRosterPeriod()">
                        Save
                    </button>
                </div>
            </div> -->
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" [disabled]="lockChangeButton == true" (click)="checkValidation()"
                class="btn"> Change </button>
            <button nz-button nzType="default" [disabled]="lockSaveButton == true" (click)="closeRosterPeriod()"
                class="btn"> Save </button>
        </ng-container>
    </div>

</nz-modal>