<nz-modal [nzCentered]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="600" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex; height: 14vh;">
        <div style="width: 100%;">
            <div nz-row>
                <div nz-col nzSpan="2" *ngIf="inputForm">
                </div>
                <div nz-col nzSpan="20" [formGroup]="inputForm">
                    <div style="height: 0.5pc;" nz-row></div>
                    <h3 style="color:#1890FF;">Select Batch Detail from List:</h3>
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="selectedBatch" nzPlaceHolder="" nzShowSearch nzAllowClear
                        style="width:100%;">
                        <nz-option *ngFor="let list of batchList" [nzLabel]="list.batchDetail" [nzValue]="list.batchDetail"> 
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="2">
                </div>
            </div>
            <!-- <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="18">
                    <p style="margin: 0px;"></p>
                </div>
                <div nz-col nzSpan="4">
                    <button nz-button nzType="primary" (click)="rollBack()"
                        style="font-size: 14pt; margin-top: 24px; height: 2.4pc; width: 8pc; float: right;"> Rollback
                    </button>
                </div>
            </div> -->
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="rollBack()" class="btn"> Rollback </button>
        </ng-container>
    </div>

</nz-modal>