<nz-modal [(nzVisible)]="isVisible" [nzCentered]="true" [nzMask]="true" [nzMaskClosable]="false"
    nzTitle="UNAPPROVED SHIFTS" (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
    <div style="height: 82vh;">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div style="margin-bottom: 10px;">
                    <button nz-button nzType="default" class="btn1" (click)="generatePdf()" style="margin-bottom: 5px;">
                        <i nz-icon nzType="file-pdf"></i> Print
                    </button>
                </div>
                <div style="flex-grow: 1; overflow: auto;">
                    <nz-table #basicTable [nzScroll]="{ y: '72vh', x: '100%' }" nzBordered [nzShowPagination]="false"
                        [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData"
                        class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 25%;" class="left">Staff</th>
                                <th style="width: 30%;" class="left">Recipient</th>
                                <th style="width: 10%;" class="left">Date</th>
                                <th style="width: 10%;" class="left">Start Time</th>
                                <th style="width: 25%;" class="left">Service Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of unapprovedWorkHoursList;let i = index;">
                                <td style="width: 25%;" class="left">{{ data.staff }} </td>
                                <td style="width: 30%;" class="left">{{ data.recipient }} </td>
                                <td style="width: 10%;" class="left">{{ data.date | date: 'dd/MM/yyyy' }} </td>
                                <td style="width: 10%;" class="left">{{ data.startTime }} </td>
                                <td style="width: 25%;" class="left">{{ data.serviceType }} </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>
</nz-modal>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>