
.orange-text{
    font-size: 14px;
    text-align: left;
    margin-left: 2%;
    color:#f18805;
    margin-top: 10%;
  }
.tab {
  display: block;
  border: 2px solid #85B9D5;
  border-radius: 5px;
  background-color: white;
  height: 24vh;
  padding: 5px;
  margin-top: -28px;
  overflow-y: auto;
  width: auto;
}
.btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #85B9D5;
  color: white;
  padding: 5px 7px;
  border-radius: 7px !important;
  text-align: center !important;
  width: 100px !important;
  font-size: 14px;
  font-family: Segoe UI;
  font-weight: bold;
}
.btn1 {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #85B9D5;
  color: white;
  padding: 5px 7px;
  border-radius: 7px !important;
  text-align: center !important;
  width: 100px !important;
  font-size: 14px;
  font-family: Segoe UI;
}
.orange-text{
  font-size: 14px;
  text-align: left;
  margin-left: 2%;
  color:#f18805;
  margin-top: 10%;
}

nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
  line-height: 24px;
  background: #fff;
  height: 25px;
  border-radius: 15px 15px 0 0;
  margin: 0 0px 0 0;
  text-align: center;
  border-color: #85B9D5;
}

nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active {
  background: #85B9D5;
  color: #fff;
}
nz-container>>>nz-tabset>>>div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
  min-width: auto;
}
nz-tabset>>>.ant-tabs-bar {
  border-bottom: 0px;
}