<clr-wizard #wizard [(clrWizardOpen)]="open">
    <clr-wizard-title> </clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="accept()">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!programTicked" (clrWizardPageCustomButton)="doCustomClick($event)">
        <ng-template clrPageTitle>Program - ({{ user?.code }})</ng-template>
        <div>
            <div class="col-md-12">
                <div>
                    <div class="clr-form-control">
                        <div class="clr-control-container clr-control-inline">
                            <div class="clr-radio-wrapper">
                                <input type="radio" id="vertical-radio1" name="referralType" value="1" [(ngModel)]="referralType"
                                    (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                <label for="vertical-radio1" class="clr-control-label">NDIA Referral</label>
                            </div>
                            <div class="clr-radio-wrapper">
                                <input type="radio" id="vertical-radio2" name="referralType" value="2" [(ngModel)]="referralType"
                                    (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                <label for="vertical-radio2" class="clr-control-label">HCP Referral</label>
                            </div>
                            <div class="clr-radio-wrapper">
                                <input type="radio" id="vertical-radio3" name="referralType" value="3" [(ngModel)]="referralType"
                                    (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                <label for="vertical-radio3" class="clr-control-label">DEX Referral</label>
                            </div>
                            <div class="clr-radio-wrapper">
                                <input type="radio" id="vertical-radio4" name="referralType" value="4" [(ngModel)]="referralType"
                                    (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                <label for="vertical-radio4" class="clr-control-label">OTHER</label>
                            </div>
                        </div>
                    </div>

                    <div class="program-container">
                        <ng-container *ngIf="IsNDIAorHCP()">
                            <div class="clr-radio-wrapper" *ngFor="let program of programs;let i= index">
                                <input type="radio" [id]="'v'+i" name="radio-full" class="clr-radio" [value]="program" (change)="programCheckedChange(program,i)">
                                <label [for]="'v'+i" class="clr-control-label">{{program.program}}</label>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!IsNDIAorHCP()">
                            <div class="clr-checkbox-wrapper" *ngFor="let program of programs;let i= index">
                                <input type="checkbox" [id]="'vc' + i" name="checkbox-full" [value]="program" [(ngModel)]="program.status" class="clr-checkbox" (ngModelChange)="programCheckedChange(program.program)">
                                <label [for]="'vc' + i" class="clr-control-label">{{program.program}}</label>
                            </div>
                        </ng-container>
                    </div>

                   <div *ngIf="showPackageTemplate">
                        <div class="template-container" [class.error]="errorPackageCode" [class.success]="errorPackageCode == false">
                            <input type="text" [(ngModel)]="packageCode" placeholder="Enter template" />
                            <span>This text is auto generated: click to edit</span>
                        </div>
                        <div *ngIf="errorPackageCode" style="width:12rem" class="alert alert-danger" role="alert">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        Package already exists
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="loadIfPackageExist" class="loader">
                            <span class="spinner spinner-sm">
                                Loading...
                            </span>
                        </div>
                   </div>
                </div>
            </div>
        </div>

        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
            <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
        </ng-template>

    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Other Details</ng-template>
        <div>
            <div class="col-md-12">
                <div class="form-group" [formGroup]="referralGroup">
                    <label for="">Referral Source</label>
                    <select formControlName="referralSource">
                        <option [value]=""></option>
                        <option *ngFor="let referral of referralVariables?.referralSourceArr" [value]="referral.Description">
                            {{ referral.Description }}</option>
                    </select>
                </div>
                <div class="form-group" [formGroup]="referralGroup">
                    <label for="">Referral Code</label>
                    <select formControlName="referralCode">
                        <option [value]=""></option>
                        <option *ngFor="let referral of referralVariables?.referralCodeArr" [value]="referral">
                            {{ referral }}</option>
                    </select>
                </div>
                <div class="form-group" [formGroup]="referralGroup">
                    <label for="">Referral Type</label>
                    <select formControlName="referralType">
                        <option [value]=""></option>
                        <option *ngFor="let referral of referralVariables?.referralTypeArr" [value]="referral.Activity">
                            {{ referral.Activity }}</option>
                    </select>
                </div>
            </div>
        </div>
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageCustomButton)="nextCustomClick($event)">
        <ng-template clrPageTitle>Date Details</ng-template>
        <div [formGroup]="referralGroup">
            <div class="col-md-12">
                <div class="form-group col-md-8">
                    <label for="">Referral Date</label>
                    <datepicker formControlName="date"></datepicker>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label for="">Time</label>
                    <timepicker [formControl]="referralGroup.controls['time']" [interval]="5"></timepicker>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Time Spent</label>
                    <timepicker [formControl]="referralGroup.controls['timeSpent']" [interval]="5"></timepicker>
                </div>
            </div>
        </div>

        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
            <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
            <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
        </ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
        <ng-template clrPageTitle>Note Details</ng-template>
        <div>
            <div class="col-md-12">
                <div class="val-options" style="flex:1">
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio [value]="0" name="options" [(ngModel)]="noteNumber"
                            (ngModelChange)="noteChangeEvent(0)" />
                        <label>CASE NOTE</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio [value]="1" name="options" [(ngModel)]="noteNumber"
                            (ngModelChange)="noteChangeEvent(1)" />
                        <label>OP NOTE</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio [value]="2" name="options" [(ngModel)]="noteNumber"
                            (ngModelChange)="noteChangeEvent(2)" />
                        <label>CLINICAL NOTE</label>
                    </clr-radio-wrapper>
                </div>
                <div style="flex:3" [formGroup]="referralGroup">
                    <textarea style="height:8rem" formControlName="notes"></textarea>
                </div>
                <div class="form-group col-md-6" [formGroup]="referralGroup">
                    <label for="">Case Note Category</label>
                    <select formControlName="noteCategory">
                        <option [value]=""></option>
                        <option *ngFor="let note of noteArray" [value]="note">{{ note }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6" [formGroup]="referralGroup">
                    <label for="">Publish To Mobile App</label>
                    <div>
                        <div class="clr-checkbox-wrapper">
                            <input type="checkbox" id="pta" formControlName="publishToApp" name="checkbox-full" value="pta" class="clr-checkbox">
                            <label for="pta" class="clr-control-label"></label>
                        </div>
                        <!-- <checkbox formControlName="publishToApp"></checkbox> -->
                    </div>
                </div>
            </div>
        </div>
    </clr-wizard-page>
    <clr-wizard-page #myFinishPage 
        clrWizardPagePreventDefault="true"
        (clrWizardPageOnCommit)="onCommit()"
        (clrWizardPageOnCancel)="doCancel()"
        (clrWizardPagePrevious)="goBack()">
        <ng-template clrPageTitle>Reminders</ng-template>
        <div>
            <div class="col-md-12" [formGroup]="referralGroup">
                <div class="form-group">
                    <label for="">Reminder Date</label>
                    <datepicker formControlName="reminderDate"></datepicker>
                </div>
                <div class="form-group">
                    <label for="">TRACCS Reminder To</label>
                    <select formControlName="reminderTo">
                        <option [value]=""></option>
                        <option *ngFor="let reminder of whatOptionVar?.reminderToArr" [value]="reminder">{{ reminder.Name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Email Notification To</label>
                    <select formControlName="notifTo">
                        <option [value]=""></option>
                        <option *ngFor="let program of emailToArray" [value]="program">{{ program }}</option>
                    </select>
                </div>
            </div>
        </div>

    </clr-wizard-page>
</clr-wizard>