.clr-form-control{
    margin:0;
}

.program-container{
    max-height: 6rem;
    margin-top: 10px;
    overflow: auto;
    padding: 1rem 0 0 2rem;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.program-container div{
    padding: 3px 0;
}

.template-container{
    width: 12rem;
    border-radius: 3px;
    padding: 5px 5px 15px 0;
    margin-top: 2rem;
}

.template-container.error{
    background: #ffc9c9;
    border: 1px solid #ff9393;
}

.template-container.success{
    background: #c9ffcd;
    border: 1px solid #2edf2e;
}

.template-container span{
    font-size: 10px;
    font-style: italic;
    line-height: 0;
    padding: 0 5px;
    float: left;
    margin-top: 5px;
    color: #c4176f;
}
.template-container input{
    border:0;
    background:none;
}

.loader{
    position: relative;
    display: inline-block;
}
.loader span{
    left: 10px;
}
select{
    height: 1.3rem;
    cursor: pointer;
}