/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css"; /* Import styles of the component */
@import '~material-design-icons/iconfont/material-icons.css';
/* Angular Calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Bootstrap CSS Only*/
/* @import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";  */

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";


/* @import "../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin"; */

/* @import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css'; */

@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

/* @import "./sass/styles.scss"; */

@font-face { font-family: 'Segoe Italic'; src: url("/assets/fonts/segoeuii.eot"); src: local("☺"), url("/assets/fonts/segoeuii.woff") format("woff"), url("/assets/fonts/segoeuii.ttf") format("truetype"), url("/assets/fonts/segoeuii.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI'; src: url("/assets/fonts/segoeui.eot"); src: local("☺"), url("/assets/fonts/segoeui.ttf") format("woff"), url("/assets/fonts/segoeui.tff") format("truetype"), url("/assets/fonts/segoeui.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Light'; src: url("/assets/fonts/segoeuil.eot"); src: local("☺"), url("/assets/fonts/segoeuil.woff") format("woff"), url("/assets/fonts/segoeuil.ttf") format("truetype"), url("/assets/fonts/segoeuil.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Bold'; src: url("/assets/fonts/segoeuib.eot"); src: local("☺"), url("/assets/fonts/segoeuib.woff") format("woff"), url("/assets/fonts/segoeuib.tff") format("truetype"), url("/assets/fonts/segoeuib.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Segoe UI Semibold'; src: url("/assets/fonts/seguisb.eot"); src: local("☺"), url("/assets/fonts/seguisb.woff") format("woff"), url("/assets/fonts/seguisb.ttf") format("truetype"), url("/assets/fonts/seguisb.svg") format("svg"); font-weight: normal; font-style: normal; }

