<div class="noselect">
    <div class="date-title">
        <div [ngStyle]="gwapo"></div>
        <div [ngStyle]="gwapo" *ngFor="let day of days">
            <div>{{ day.dateObj | date: 'EEEEEE' }}</div>
            <div>{{ day.dateObj | date: 'd' }}</div>
        </div>
    </div>
    <div class="date-body">
        <div class="date" *ngFor="let time of times">
            <div class="tsk time-value" [ngStyle]="gwapo" [class.zeroMin]="time.isZeroMin">{{ filterTime(time.timeObj) }}</div>
            <div class="tsk" droppable [hasValue]="hahays" (newTime)="heller($event)" [ngStyle]="gwapo" [attr.day]="day.day" [attr.time]="time.time" *ngFor="let day of days"></div>
        </div>
        <div class="date-time" (pointerdown)="documentDown($event)">
            <div class="tsk" [ngStyle]="gwapo"></div>
            <div class="tsk" [ngStyle]="gwapo" *ngFor="let day of days">
                <div style="position:relative" >                                                       
                    <ng-container *ngFor="let val of value | rosterdmz: day">                                                            
                        <a class="date-data" style="display:block" (pointerdown)="pointerDown($event, val)" [ngStyle]="computeDimensions(val)">
                            <span>{{ val.carerCode }}</span>
                        </a>                                                        
                    </ng-container>                                                       
                </div>
            </div>
        </div>
    </div>
</div>