<div nz-row>
    <div nz-col nzSpan="24" style="margin-left:10px">
        <!-- <button class="botton" (click)="showAddModal()">Add Branch</button> -->
        <label for="">Medical Diagnosis</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">
  
            <button class="btnlevel2navy"
                *ngIf="getPermisson(51) == '1'   "
                (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy"
                *ngIf="getPermisson(52) == '1' "  
                (click)="showEditModal(activeRowData,selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange"
                *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(2,{})">Del</button>
                <button class="btnlevel2navy"                
                (click)="generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
  
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
            <thead>
                <tr>
                    <th class="left" style="width:10%;">ICDCODE</th>              
                    <th style="width:100%">Description</th>
                    <!-- <th style="width:70%">Information</th> -->
                    <!-- <th class="action">Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"  [class.selected]="i==selectedRowIndex"
                (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(activeRowData,selectedRowIndex)" (contextmenu)="contextMenu($event, menu, data)">
                    <td class="left" style="width:10%">{{ data.action  }}</td>                 
                    <td >{{ data.description }}</td>
                    <!-- <td style="width:70%">{{ data.action }}</td> -->
                    <!-- <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete the branch?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)">Delete</a>
                    </td> -->
                </tr>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="menuclick($event,1)"> <span nz-icon nzType="edit" nzTheme="outline"></span>Edit Record</li>
                      <li nz-menu-item (click)="menuclick($event,2)"><span nz-icon nzType="delete" nzTheme="outline"></span>Delete Record</li>
                      <li nz-menu-divider></li>
                      <li nz-menu-item (click)="menuclick($event,3)"><span nz-icon nzType="printer" nzTheme="outline"></span>Print</li>
                      <li nz-menu-item (click)="menuclick($event,4)"><span nz-icon nzType="close" nzTheme="outline"></span>Close</li>
                    </ul>
                  </nz-dropdown-menu>
            </tbody>
        </nz-table>
    </div>
  </div>
  
  <nz-modal [(nzVisible)]="modalOpen" [nzTitle]="form_title" (nzOnCancel)="handleCancel()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div [formGroup]="inputForm">
      <div nz-row>
        <div class="form-group">
            <label for="">NANDA Code</label>
            <nz-select formControlName="description" nzAllowClear [nzDropdownMatchSelectWidth]="false">
              <nz-option *ngFor="let d of items" [nzValue]="d.description" [nzLabel]="d.description">
              </nz-option>
            </nz-select>
        </div>
    </div>
        <div nz-row>
          
          <div class="form-group">
            <label for="">User Code:</label>
            <input  nz-input formControlName="code"/>
        </div> 
  
        </div>
        <div nz-row>
          
          <div class="form-group">
            <label for="">ICD10/NANDA</label>
            <input  nz-input formControlName="action"/>
        </div> 
  
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" class="btnlightorange" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" class="btnlightblue" (click)="save()" [nzLoading]="loading">Accept</button>
    </div>
  </nz-modal>
  
  <nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showList" nzTitle="Select a Nursing Diagnosis"
      (nzOnCancel)="showList = false" [nzWidth]="400" [nzMask]="true" [nzMaskClosable]="false"
      [nzClosable]="true">
      <div class="flexy" style="min-height:8rem; ">
          <div style=" align-items: center; ">
              <div *ngIf="showList">
                  <div style="width: 340px;">
                      <nz-input-group [nzSuffix]="suffixIconSearch">
                          <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Item')"
                              placeholder="input search text" (change)="onTextChangeEvent($event,'Item')" />
                      </nz-input-group>
                      <ng-template #suffixIconSearch>
                          <i nz-icon nzType="search"></i>
                      </ng-template>
                      <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
                  </div>
                  <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                      [nzLoading]="loading2" [nzData]="items" style="height: 680px; width: 340px;"
                      [nzScroll]="{ y: '660px'}">
                      <thead>
  
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of items;let i = index;" (click)="onItemClick(data, i)"
                              (dblclick)="onItemDbClick(data,i)" [class.selected]="HighlightRow==i">
                              <td class="left">
                                  {{ data.description  }} - {{ data.code }}
  
                              </td>
                          </tr>
                      </tbody>
                  </nz-table>
  
              </div>
          </div>
      </div>
      <div *nzModalFooter style="display:flex; flex-direction:row">
        <button nz-button nzType="default"  class="btnlightblue">Print</button>
        <button nz-button nzType="default"  class="btnlightblue">Export</button>
        <div style="margin-left:50px"></div>
        <button nz-button nzType="default" (click)="showList=false" class="btnlightorange" >Cancel</button>
        <button nz-button nzType="default" class="btnlightblue"
            (click)="showConfirm()">OK</button>
  
         
      </div>
  </nz-modal>
  <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>            
  <div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
  </div>    
  </nz-drawer>