<nz-modal [(nzVisible)]="open" [nzStyle]="{ top: '20px' }" [nzWidth]="900" [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()" [nzCloseIcon]="customCloseIcon" [nzMask]="true" [nzMaskClosable]="false"
    [nzClosable]="true">
    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" style="color:#fff; text-align:left; cursor:pointer">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="9"></div>
            <div nz-col nzSpan="4" class="title">
                <label for="">Add New Referral</label>
            </div>
            <div nz-col nzSpan="10"></div>

        </div>
    </ng-template>
    <ng-template #customCloseIcon>
        <i nz-icon nzType="close" nzTheme="outline" style="color: #fff;"></i>
    </ng-template>
    <div nz-row>
        <div class="flexy">

            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Profile Information" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Administration" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Contact Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Address Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="GP Details" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Contacts" nzDescription=""></nz-step>

                <!-- <nz-step class="mini" nzTitle="NDIA/MAC/DVA ID Number" nzDescription=""></nz-step> -->



                <!-- <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Followups" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Other Required Info" nzDescription=""></nz-step> -->
            </nz-steps>

            <nz-divider class="full-height" nzType="vertical"></nz-divider>

            <div class="steps-content">

                <div nz-row *ngIf="current == 0" [formGroup]="referralGroup">

                    <div nz-row nzGutter="16">

                        <div nz-col nzSpan="5">

                            <label>Surname <span class="asterisk_input"> </span> </label>

                        </div>
                        <div class="form-group" nz-col nzSpan=12>
                            <input nz-input (keypress)="onKeyPress($event)" placeholder="Surname" #sample
                                formControlName="lastname" autocomplete="nofill"
                                oninput="this.value = this.value.toUpperCase()" />

                        </div>
                    </div>
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="5">

                            <label> First Name <span class="asterisk_input"> </span></label>

                        </div>
                        <div class="form-group" nz-col nzSpan=12>
                            <input nz-input (keypress)="onKeyPress($event)" placeholder="Firstname"
                                formControlName="firstname" autocomplete="nofill"
                                oninput="this.value = this.value.toUpperCase()" />

                        </div>
                    </div>
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="5">

                            <label> Middle Name</label>

                        </div>
                        <div class="form-group" nz-col nzSpan=12>
                            <input nz-input (keypress)="onKeyPress($event)" placeholder="Middlename"
                                formControlName="middlename" autocomplete="nofill"
                                oninput="this.value = this.value.toUpperCase()" />
                        </div>
                    </div>



                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="5">
                            <label>Gender
                                <span class="asterisk_input"> </span>
                            </label>


                        </div>
                        <div class="form-group" nz-col nzSpan="12">
                            <nz-select nzAllowClear nzPlaceHolder="Gender" formControlName="gender">
                                <nz-option *ngFor="let l of genderArr" [nzLabel]="l" [nzValue]="l"></nz-option>
                            </nz-select>

                        </div>
                    </div>


                    <div nz-row nzGutter="16">

                        <div nz-col nzSpan="5">
                            <label>
                                Date of Birth
                                <span class="asterisk_input"> </span>
                            </label>

                        </div>
                        <div nz-col nzSpan=12>
                            <div class="form-group">
                                <nz-date-picker nzPlaceHolder="Birthdate" (nzOnOpenChange)="dateOpenChange($event)"
                                    formControlName="dob" [nzFormat]="dateFormat"
                                    [nzDefaultPickerValue]="defaultDate"></nz-date-picker>

                            </div>
                        </div>
                    </div>

                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="5">
                            <label for="">NDIA/MAC/DVA</label>

                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">

                                <input nz-input formControlName="ndisNumber" autocomplete="nofill"
                                    oninput="this.value = this.value.toUpperCase()" />

                            </div>
                        </div>
                    </div>
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="5">
                            <label>Title</label>

                        </div>
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <nz-select nzAllowClear nzPlaceHolder="Title" formControlName="title">
                                    <nz-option *ngFor="let l of titlesArr" [nzLabel]="l" [nzValue]="l"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>

                    <div class="account-name" *ngIf="referralGroup.get('accountNo').value != '' && showEdit == null"
                        [class.error]="accountTaken">
                        <span [class.available]="accountTaken == false">{{ referralGroup.get('accountNo').value
                            }}</span>
                        <span class="edit" (click)="showEdit = true">Edit</span>
                    </div>
                    <div class="account-name" *ngIf="showEdit">
                        <input type="text" [class.available]="accountTaken == false" [class.error]="accountTaken"
                            nz-input formControlName="accountNo" class="accountStr" />
                        <i nz-icon nzType="close" nzTheme="outline" class="cancel-edit" (click)="showEdit = null"></i>
                        <nz-spin *ngIf="loadingGenerateAccount" nzSimple [nzSize]="'small'"></nz-spin>
                    </div>
                    <div class="message" *ngIf="accountTaken && !loadingGenerateAccount" [class.error]="accountTaken">
                        Account is taken</div>
                    <div class="message" *ngIf="accountTaken == false && !loadingGenerateAccount"
                        [class.error]="accountTaken">Account is available</div>
                </div>
                <div nz-row *ngIf="current == 1">
                    
                    <div nz-col nzSpan="24" [formGroup]="referralGroup" nzGutter="16" style="margin-top:30px;">
                        <div nz-row  class="form-group" >
                            <div nz-col nzSpan="6">
                                <label for="">Branch <span class="asterisk_input"> </span> </label>
                            </div>
                            <div nz-col nzSpan="17">
                                <nz-select nzAllowClear nzPlaceHolder="Branch" formControlName="branch">
                                    <nz-option *ngFor="let l of branches" [nzLabel]="l" [nzValue]="l"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="form-group" >
                            <div nz-col nzSpan="6">
                                <label for="">Agency Category <span class="asterisk_input"> </span> </label>
                            </div>
                            <div nz-col nzSpan="17">
                                <nz-select nzAllowClear nzPlaceHolder="Agency Category"
                                    formControlName="agencyDefinedGroup">
                                    <nz-option *ngFor="let l of agencies" [nzLabel]="l" [nzValue]="l"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="form-group">
                            <div nz-col nzSpan="6">
                                <label for="">Case Manager <span class="asterisk_input"> </span> </label>
                            </div>
                            <div nz-col nzSpan="17">
                                <nz-select nzAllowClear nzPlaceHolder="Case Manager"
                                    formControlName="recipientCoordinator">
                                    <nz-option *ngFor="let l of managers;let i = index" [nzLabel]="l.description"
                                        [nzValue]="l.description"></nz-option>
                                </nz-select>
                            </div>
                        </div>

                        <div nz-row class="form-group">
                            <div nz-col nzSpan="6">
                                <label for="">Presenting Issue / Referral Reasons <span class="asterisk_input"> </span>
                                </label>
                            </div>
                            <div nz-col nzSpan="17">
                                <nz-select nzAllowClear nzPlaceHolder="Referral Reasons"
                                    formControlName="ReferalReasons">
                                    <nz-option *ngFor="let l of lstReferalReasons;let i = index"
                                        [nzLabel]="l.description" [nzValue]="l.description"></nz-option>
                                </nz-select>
                            </div>
                        </div>


                    </div>
                    <div nz-col nzSpan="1"></div>
                </div>
                <div nz-row *ngIf="current == 2">
                    <button class="botton success" (click)="addContact()">Add Contact</button>

                    <div [formGroup]="referralGroup">
                        <div nz-row nzGutter="16" formArrayName="contacts">
                            <!--    *ngFor="let item of referralGroup.get('contacts')['controls']; let i = index;" -->
                            <nz-tabset style="margin-top:10px; " [(nzSelectedIndex)]="index">
                                <nz-tab *ngFor="let item of referralGroup.get('contacts')['controls']; let i = index; "
                                    [nzTitle]="contactsTabs[i].title" (nzClick)="view(i)">

                                    <div class="ref-form" [formGroupName]="i">

                                        <div nz-row>
                                            <div nz-col nzSpan="3"
                                                *ngIf="referralGroup.get('contacts').value.length  > 1">
                                                <i nz-icon class="primary-icon" [class.primary]="item.value.primary"
                                                    (click)="contactIsPrimary(i)">
                                                    <svg>
                                                        <path
                                                            d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z" />
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="close" *ngIf="referralGroup.get('contacts').value.length  > 1">
                                                <i nz-icon nzType="close" nzTheme="outline" (click)="deleteCont(i)"></i>
                                            </div>
                                        </div>
                                        <div nz-row>
                                            <div nz-col nzSpan="9">
                                                <label for="">Type <span class="asterisk_input"> </span> </label>
                                                <nz-radio-group formControlName="contacttype"
                                                    (ngModelChange)="contactTypeChange(i)">
                                                    <label nz-radio nzValue="MOBILE">Mobile</label>
                                                    <label nz-radio nzValue="EMAIl">Email</label>
                                                    <label nz-radio nzValue="HOME">Home</label>
                                                    <label nz-radio nzValue="WORK">Work</label>
                                                </nz-radio-group>
                                            </div>
                                            <div nz-col nzSpan="12">
                                                <label for="">Detail</label>
                                                <app-phonefax *ngIf="isPhoneNumber(item)"
                                                    [isMobile]="item.value.contacttype == 'MOBILE'"
                                                    formControlName="contact"></app-phonefax>
                                                <input nz-input *ngIf="!isPhoneNumber(item)" formControlName="contact"
                                                    autocomplete="nofill" />

                                            </div>
                                        </div>
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                        </div>
                    </div>

                </div>

                <div nz-row *ngIf="current == 3">
                    <button class="botton success" (click)="addAddress()">Add Address</button>

                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="addresses">
                            <!-- *ngFor=""-->
                            <nz-tabset style="margin-top:10px; " [(nzSelectedIndex)]="index">
                                <nz-tab *ngFor="let item of referralGroup.get('addresses')['controls']; let i = index; "
                                    [nzTitle]="addressTabs[i].title" (nzClick)="view(i)">

                                    <div class="ref-form" [formGroupName]="i">


                                        <div nz-row>
                                            <div nz-col nzSpan="24">

                                                <div nz-row nzGutter="16">
                                                    <div class="form-group" nz-col nzSpan="4">
                                                        <label for="">Description</label>
                                                    </div>
                                                    <div class="form-group" nz-col nzSpan="16">
                                                        <nz-select nzAllowClear nzPlaceHolder="Description"
                                                            formControlName="type">
                                                            <nz-option *ngFor="let _add of addressType" [nzLabel]="_add"
                                                                [nzValue]="_add"></nz-option>
                                                        </nz-select>
                                                    </div>


                                                    <div nz-col nzSpan="2"
                                                        *ngIf="referralGroup.get('addresses').value.length  > 1">
                                                        <i nz-icon class="primary-icon"
                                                            [class.primary]="item.value.primary"
                                                            (click)="addressIsPrimary(i)">
                                                            <svg>
                                                                <path
                                                                    d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z" />
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <div nz-col nzSpan="1" class="close"
                                                        *ngIf="referralGroup.get('addresses').value.length  > 1"><i
                                                            nz-icon nzType="close" nzTheme="outline"
                                                            (click)="deleteAdd(i)"></i>
                                                    </div>
                                                </div>
                                                <div nz-row nzGutter="16">
                                                    
                                                        <div class="form-group" nz-col nzSpan="4">
                                                            <label for="">Address</label>
                                                        </div>
                                                        <div class="form-group" nz-col nzSpan="16">
                                                            <input nz-input formControlName="address1"
                                                                autocomplete="nofill"
                                                                oninput="this.value = this.value.toUpperCase()" />
                                                        </div>
                                                        <div class="form-group" nz-col nzSpan="3"></div>
                                                    

                                                </div>
                                                <div nz-row nzGutter="16">

                                                        <div class="form-group" nz-col nzSpan="4">
                                                            <label for="">Suburb & Postcode</label>
                                                        </div>
                                                        <div class="form-group" nz-col nzSpan="16">
                                                            <suburb formControlName="suburb"></suburb>
                                                        </div>
                                                        <div class="form-group" nz-col nzSpan="3"></div>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </nz-tab>
                            </nz-tabset>
                        </div>

                    </div>
                </div>


                <div nz-row *ngIf="current == 4">
                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="gpDetails"
                            *ngFor="let item of referralGroup.get('gpDetails')['controls']; let i = index;">
                            <div class="ref-form" [formGroupName]="i">

                                <div class="close"><i nz-icon nzType="close" nzTheme="outline"
                                        (click)="deleteOther(i)"></i>
                                </div>


                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Contact Group</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%"
                                                formControlName="contactGroup" nzShowSearch nzAllowClear
                                                 (ngModelChange)="GPcontactGroupChange(referralGroup.get('gpDetails')['controls'],i)"
                                                nzPlaceHolder="Select a Contact Group">
                                                <nz-option *ngFor="let d of contactGroups" [nzLabel]="d"
                                                    [nzValue]="d"></nz-option>
                                            </nz-select>

                                            <!-- <nz-select nzAllowClear formControlName="contactGroup">
                                                <nz-option *ngFor="let l of branches" [nzLabel]="l" [nzValue]="l"></nz-option>
                                            </nz-select> -->
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="8">
                                        <div class="form-group">
                                            <label for="">Type</label>
                                            <!-- <input nz-input formControlName="type" readonly autocomplete="nofill"
                                                oninput="this.value = this.value.toUpperCase()" /> -->

                                                <nz-select formControlName="type" nzShowSearch nzAllowClear>
                                                    <nz-option
                                                        *ngFor="let d of referralGroup.get('gpDetails')?.controls[i]?.get('contactList')?.value"
                                                        [nzLabel]="d" [nzValue]="d"></nz-option>
                                                </nz-select>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="16">
                                        <div class="form-group">
                                            <label for="">Name</label>

                                            <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%"
                                                formControlName="name"
                                                (ngModelChange)="nameGroupChange(referralGroup.get('gpDetails')['controls'],i)"
                                                nzShowSearch nzAllowClear nzPlaceHolder="Select a Name">
                                                <nz-option *ngFor="let d of medicalList" [nzLabel]="d.name"
                                                    [nzValue]="d.name"></nz-option>
                                            </nz-select>

                                            <!-- <input nz-input formControlName="name" autocomplete="nofill" oninput="this.value = this.value.toUpperCase()" /> -->
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 1</label>
                                            <input nz-input formControlName="address1" autocomplete="nofill"
                                                oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Address 2</label>
                                            <input nz-input formControlName="address2" autocomplete="nofill"
                                                oninput="this.value = this.value.toUpperCase()" />
                                        </div>
                                    </div>
                                </div>


                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Suburb</label>
                                            <suburb formControlName="suburb"></suburb>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="24">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input nz-input formControlName="email" autocomplete="nofill" />
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 1</label>
                                            <app-phonefax formControlName="phone1"></app-phonefax>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Phone 2</label>
                                            <app-phonefax formControlName="phone2"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row nzGutter="12">
                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Mobile</label>
                                            <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="12">
                                        <div class="form-group">
                                            <label for="">Fax</label>
                                            <app-phonefax formControlName="fax"></app-phonefax>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 5">
                    <button class="botton success" (click)="addOtherContacts()">Add Other Contacts</button>



                    <div [formGroup]="referralGroup">
                        <div nz-row formArrayName="otherContacts"
                            style="height:fit-content; width: 600px; overflow-x:auto">
                            <!--*ngFor="let item of referralGroup.get('otherContacts')['controls']; let i = index;" -->
                            <nz-tabset style="margin-top:10px; " [(nzSelectedIndex)]="index">
                                <nz-tab *ngFor="let tab of tabs; let i=index" [nzTitle]="tabs.length>0 ? tab.title : ''"
                                    (nzClick)="view(i)">

                                    <div class="ref-form" [formGroupName]="i">

                                        <div nz-row>
                                            <div nz-col nzSpan="22">
                                                <label for="">Contact Group<span class="asterisk_input"> </span></label>
                                            </div>
                                            <div nz-col nzSpan="1" class="close" *ngIf="tabs.length>1">
                                                <i nz-icon nzType="close" nzTheme="outline"
                                                    (click)="deleteOther(i)"></i>
                                            </div>
                                        </div>
                                        <div nz-row>

                                            <div nz-col nzSpan="24">
                                                <div class="form-group">

                                                    <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%"
                                                        formControlName="contactGroup"
                                                        (ngModelChange)="contactGroupChange(referralGroup.get('otherContacts')['controls'],i)"
                                                        nzShowSearch nzAllowClear
                                                        nzPlaceHolder="Select a Contact Group">
                                                        <nz-option *ngFor="let d of contactGroups" [nzLabel]="d"
                                                            [nzValue]="d"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div nz-row nzGutter="12">
                                            <div nz-col nzSpan="8">
                                                <div class="form-group">
                                                    <label for="">Type<span class="asterisk_input"> </span></label>

                                                    <nz-select formControlName="type" nzShowSearch nzAllowClear>
                                                        <nz-option
                                                            *ngFor="let d of referralGroup.get('otherContacts')?.controls[i]?.get('contactList')?.value"
                                                            [nzLabel]="d" [nzValue]="d"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>

                                            <div nz-col nzSpan="16">
                                                <div class="form-group">
                                                    <label for="">Name<span class="asterisk_input"> </span></label>
                                                    <ng-container
                                                        *ngIf="referralGroup.get('otherContacts')?.controls[i]?.get('type')?.value != 'DOCTORS'">
                                                        <input nz-input formControlName="name" autocomplete="nofill"
                                                            oninput="this.value = this.value.toUpperCase()" />
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="referralGroup.get('otherContacts')?.controls[i]?.get('type')?.value == 'DOCTORS'">
                                                        <nz-select [nzDropdownMatchSelectWidth]="false"
                                                            style="width:100%" formControlName="name"
                                                            (ngModelChange)="doctorChange(referralGroup.get('otherContacts')['controls'],i, $event)"
                                                            nzShowSearch nzAllowClear nzPlaceHolder="Select a Doctor">
                                                            <nz-option *ngFor="let d of doctors" [nzLabel]="d.name"
                                                                [nzValue]="d"></nz-option>
                                                        </nz-select>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>


                                        <div nz-row nzGutter="12">
                                            <div nz-col nzSpan="24">
                                                <div class="form-group">
                                                    <label for="">Address 1<span class="asterisk_input"> </span></label>
                                                    <input nz-input formControlName="address1" autocomplete="nofill"
                                                        oninput="this.value = this.value.toUpperCase()" />
                                                </div>
                                            </div>

                                            <div nz-col nzSpan="24">
                                                <div class="form-group">
                                                    <label for="">Address 2</label>
                                                    <input nz-input formControlName="address1" autocomplete="nofill"
                                                        oninput="this.value = this.value.toUpperCase()" />
                                                </div>
                                            </div>
                                        </div>


                                        <div nz-row nzGutter="12">
                                            <div nz-col nzSpan="24">
                                                <div class="form-group">
                                                    <label for="">Suburb<span class="asterisk_input"> </span></label>
                                                    <suburb formControlName="suburb"></suburb>
                                                </div>
                                            </div>

                                            <div nz-col nzSpan="24">
                                                <div class="form-group">
                                                    <label for="">Email</label>
                                                    <input nz-input formControlName="email" autocomplete="nofill" />
                                                </div>
                                            </div>
                                        </div>

                                        <div nz-row nzGutter="12">
                                            <div nz-col nzSpan="12">
                                                <div class="form-group">
                                                    <label for="">Phone 1</label>
                                                    <app-phonefax formControlName="phone1"></app-phonefax>
                                                </div>
                                            </div>

                                            <div nz-col nzSpan="12">
                                                <div class="form-group">
                                                    <label for="">Phone 2</label>
                                                    <app-phonefax formControlName="phone2"></app-phonefax>
                                                </div>
                                            </div>
                                        </div>

                                        <div nz-row nzGutter="12">
                                            <div nz-col nzSpan="12">
                                                <div class="form-group">
                                                    <label for="">Mobile</label>
                                                    <app-phonefax [isMobile]="true"
                                                        formControlName="mobile"></app-phonefax>
                                                </div>
                                            </div>

                                            <div nz-col nzSpan="12">
                                                <div class="form-group">
                                                    <label for="">Fax</label>
                                                    <app-phonefax formControlName="fax"></app-phonefax>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </nz-tab>
                            </nz-tabset>
                        </div>
                    </div>
                </div>




                <!-- <div nz-row *ngIf="current == 6">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">  
                            <label for="">Notifications</label>

                            
                            <nz-checkbox-group [(ngModel)]="notifCheckBoxes" (ngModelChange)="notif(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                   
                            
                        </div>
                        
                    </div>
                </div>

                <div nz-row *ngIf="current == 7">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Followup</label>
                  
                            <nz-checkbox-group [(ngModel)]="notifFollowUpGroup" (ngModelChange)="followup(notifFollowUpGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 8">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Documents</label>

                            <nz-checkbox-group [(ngModel)]="notifDocumentsGroup" (ngModelChange)="doc(notifDocumentsGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>

                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="current == 9">
                    <div [formGroup]="referralGroup">
                        <div class="form-group">
                            <label for="">Data List</label>
                      
                            <div *ngFor="let l of datalist"> 
                                <a [href]="l.link" target="_blank">{{l.form}}</a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 5" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" (click)="add()" *ngIf="current === 5" [disabled]="!canBeDone"
                [nzLoading]="loadPostReferral">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal>