.account-name{
    font-size: 13px;
    font-weight: 500;
}
.edit{
    color:#565656 !important;
    font-size: 12px; 
    font-weight: 500;
    margin-left:1rem;
    cursor:pointer;
}
.cancel-edit{
    cursor:pointer;
    margin-left:1rem;
}
.accountStr{
    width: 50%;
    font-weight: 500;
}
.available{
    color:#2fc22c !important;
}
.edit:hover{
    text-decoration: underline;    
}
.error{
    color:#ff5959 !important;
}
.message{
    font-size: 9px;
    color: #2fc22c;
}
[nz-radio]{
    display: block;
    height: 32px;
    line-height: 32px;
}
.ref-form{
    padding: 1rem;
    border-bottom: 1px solid beige;
    display: inline-block;
    width: 100%;
}
.ref-form div > label{
    color: #5d5d5d;
}
nz-radio-group{
    margin-left:1rem;
}
nz-select{
    width:100%;
}
.close{
    position: relative;
    float:right;
    top: 0rem;
}
  
.close i{
    color:#9d9d9d;
    cursor:pointer;
}
.close i:hover{
    color:#151515;
}

nz-checkbox-group >>> label{
    display:block;
}
.primary{
    color:#1790ff !important;
}
.primary-icon{
    color: gainsboro;
    font-size: 1.4rem;
    cursor:pointer;

}
.required {
    content:" *";
   
    background-color: #f8d7da;
  }
  .required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.asterisk_input::after {
    content:" *"; 
    color: #e32;
    position: absolute; 
    margin-left: 5px; 
    font-size: large; 
    padding: 0 5px 0 0; 
    
}
.info-icon {
    cursor: pointer;
    border-bottom: 1px dotted black;
  }