<nz-modal [(nzVisible)]="openModel" [nzStyle]="topBelow" [nzWidth]="800" [nzTitle]="'View Package'"
    (nzOnCancel)="handleCancel()">

    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
        <nz-tab nzTitle="Package Detail/s" (nzClick)="tabFindChange(0)"> </nz-tab>
        <nz-tab nzTitle="Statement" (nzClick)="tabFindChange(1)"> </nz-tab>
        <nz-tab nzTitle="Other" (nzClick)="tabFindChange(2)"> </nz-tab>
        <nz-tab nzTitle="Supplements/Fees" (nzClick)="tabFindChange(3)" *ngIf="IS_CDC"></nz-tab>
    </nz-tabset>

    <div *ngIf="tabFindIndex == 0" class="tab">
        <form nz-form [formGroup]="packageDetailForm">
            <div nz-row nzGutter="24">

                <nz-card [nzBodyStyle]="{'padding':'5px'}" class="mrg-btm">
                    <div nz-row nz-col nzSpan="23" style="margin-left:20px">
                        <div nz-col nzSpan="5" class="mrg-btm">
                            <label nzRequired nzFor="Name">Name/ID</label>
                        </div>
                        <div nz-col nzSpan="19" class="mrg-btm">
                            <div *ngIf="addOREdit == 1">
                                <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzShowSearch
                                    formControlName="program">
                                    <nz-option *ngFor="let prog of programsNames" [nzLabel]="prog"
                                        [nzValue]="prog"></nz-option>
                                </nz-select>
                            </div>
                            <div *ngIf="addOREdit == 2">
                                <input nz-input formControlName="program" disabled />
                            </div>
                        </div>

                    </div>
                    <nz-divider style="margin: 8px 0 !important;"></nz-divider>
                    <div nz-row nz-col nzSpan="23" style="margin-left:20px">
                        <div nz-col nzSpan="5" nzGutter="8">
                            <label nzRequired nzFor="Type">Package Type</label>
                        </div>
                        <div nz-col nzSpan="5" nzGutter="8">
                            <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="packageType">
                                <nz-option *ngFor="let typ of type" [nzLabel]="typ" [nzValue]="typ"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="4" nzGutter="8">
                            <div nz-col> <!--*ngIf="IS_CDC"-->
                                <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzShowSearch
                                    formControlName="packageLevel">
                                    <nz-option *ngFor="let level of levels" [nzLabel]="level"
                                        [nzValue]="level"></nz-option>
                                </nz-select>
                            </div>

                        </div>
                        <div nz-col nzSpan="3" class="mrg-btm" style="padding-left:5px">

                            <label nz-checkbox [(ngModel)]="OptIn" formControlName="hcpOptIn">Opt In</label>
                        </div>
                        <div nz-col nzSpan="2">
                            <label nzRequired nzFor="Status">Status</label>
                        </div>
                        <div nz-col nzSpan="5">
                            <nz-select style="width:100%" [nzSize]="'default'" nzErrorTip="Status is required"
                                nzAllowClear nzPlaceHolder="" formControlName="programStatus">
                                <nz-option *ngFor="let stat of status" [nzLabel]="stat" [nzValue]="stat"></nz-option>
                            </nz-select>
                        </div>

                    </div>
                    <nz-divider style="margin: 8px 0 !important;"></nz-divider>
                    <div nz-row>

                        <div style="margin:20px"> <label for=""><b>Roster Alerts Thresholds</b></label> </div>

                        <div nz-col nzSpan="20" style="padding: 0px 20px;">

                            <div nz-row class="mrg-btm">
                                <div nz-col nzSpan="6">
                                    <label nzFor="Allowed">Measured In:</label>
                                </div>
                                <div nz-col nzSpan="6" class="pad-r-5">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                        formControlName="aP_CostType" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let alert of alerts" [nzLabel]="alert"
                                            [nzValue]="alert"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="6">
                                    <!-- <label nz-checkbox formControlName="shared"
                                    nzDisabled="this.packageDetailForm.get('alertStartDate').value">Shared</label> -->
                                </div>
                            </div>
                            <div nz-row class="mrg-btm">
                                <div nz-col nzSpan="6">
                                    <label nzFor="Allowed">Allowed:</label>
                                </div>
                                <div nz-col nzSpan="6" class="pad-r-5">
                                    <nz-input-number style="width:100%" formControlName="aP_BasedOn" [nzMin]="1"
                                        [nzStep]="1" [nzFormatter]="formatterDollar"
                                        [nzParser]="parserDollar"></nz-input-number>
                                    <!--Disabled="!this.packageDetailForm.get('alertStartDate').value"-->
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="shared">Shared</label>
                                    <!--Disabled="!this.packageDetailForm.get('alertStartDate').value"-->
                                </div>
                            </div>
                            <div nz-row class="mrg-btm">

                                <div nz-col nzSpan="6">
                                    <label nzFor="Yellow">Minimum Desirable:</label>
                                </div>
                                <div nz-col nzSpan="6" class="pad-r-5">
                                    <nz-input-number style="width:100%" formControlName="aP_OrangeQty" [nzMin]="1"
                                        [nzStep]="1" [nzFormatter]="formatterDollar"
                                        [nzParser]="parserDollar"></nz-input-number>
                                    <!--   <input nz-input [nzSize]="'default'" formControlName="aP_YellowQty"  /> Disabled="!this.packageDetailForm.get('alertStartDate').value"-->
                                </div>
                            </div>
                            <div nz-row class="mrg-btm">
                                <div nz-col nzSpan="6">
                                    <label nzFor="green">Maximum Desirable:</label>
                                </div>
                                <div nz-col nzSpan="6" class="pad-r-5">
                                    <nz-input-number style="width:100%" formControlName="aP_RedQty" [nzMin]="1"
                                        [nzStep]="1" [nzFormatter]="formatterDollar"
                                        [nzParser]="parserDollar"></nz-input-number>
                                    <!-- <input nz-input [nzSize]="'default'" formControlName="aP_OrangeQty"  /> Disabled="!this.packageDetailForm.get('alertStartDate').value"-->
                                </div>
                            </div>
                            <!--  <div nz-col nzSpan="24" class="mrg-btm-one-third">
                                <div nz-col nzSpan="11" >
                                    <label nzFor="Red"><b>Red:</b></label>
                                </div>
                                <div nz-col nzSpan="13" class="pad-r-5">
                                    <input nz-input [nzSize]="'small'" formControlName="aP_RedQty" Disabled="!this.packageDetailForm.get('alertStartDate').value" />
                                </div>
                            </div>-->

                            <!--  <div nz-col nzSpan="6">
                            <textarea rows="5" style="width:100%;"></textarea>
                        </div>-->
                        </div>
                        <div nz-row nzSpan="20" style="padding: 0px 20px;">
                            <div nz-col nzSpan="24" class="mrg-btm">
                                <div nz-col nzSpan="5">
                                    <label nzFor="cycle">Alert Cycle : </label>
                                </div>
                                <div nz-col nzSpan="5">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                        formControlName="aP_PerUnit" nzShowSearch nzAllowClear style="width:95%;">
                                        <nz-option *ngFor="let term of alertCycle" [nzLabel]="term.label"
                                            [nzValue]="term.label"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="5" style="margin-left:10px">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                        formControlName="aP_Period" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let term of DefPeriod" [nzLabel]="term"
                                            [nzValue]="term"></nz-option>
                                    </nz-select>
                                </div>

                                <div nz-col nzSpan="6">
                                    <div style="display:flex; flex-direction:row">
                                        <label nzFor="alertStartDate"
                                            style="margin-left:10px; margin-right:3px">Starting:</label>
                                        <nz-date-picker [nzSize]="'default'" formControlName="alertStartDate"
                                            [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
                <!-- <nz-card [nzBodyStyle]="{'padding':'0px'}" class="mrg-btm-one-third">
                <div nz-row nzJustify>
                    <div nz-col nzSpan="4" class="text-center space-top-2" style="padding: 0px 10px;">
                        <label for="" style="font-size:18px;font-weight:700;">Contribution <br>&<br>Contingencies</label>
                    </div>
                    <div nz-col nzSpan="20">
                        <nz-table nzBordered nzTemplateMode [nzSize]="'small'" style="margin-top:10px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Daily</th>
                                    <th>Monthly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic Care Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyBasicCareFee" /></td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="clientCont" /></td>  
                                </tr>
                                <tr>
                                    <td>Income Tested Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyIncomeTestedFee" /></td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="incomeTestedFee" /></td>  
                                </tr>
                            </tbody>
                        </nz-table>
                        <div nz-row nzJustify style="margin-top:5px;">
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Contingency:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="contingency_Start" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Per Day Billing To:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="contingency" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Currently Banked:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="currentlyBanked" /></label>
                            </div>
                        </div>
                    </div>                                                      
                </div>
            </nz-card>        
            <nz-card [nzBodyStyle]="{'padding':'5px'}">
                <div nz-row nzJustify class="mrg-btm-one-third">
                    <div nz-col nzSpan="12">
                        <div nz-col nzSpan="16" >
                            <label nzFor="Start of Current Plan Funcding">Start of Current Plan Funding:</label>
                        </div>
                        <div nz-col nzSpan="8" >
                            <nz-date-picker  [nzSize]="'small'"  formControlName="startDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div nz-col nzSpan="8" class="text-center pad-r-5">
                            <label nzFor="Package Term:">Package Term:</label>
                        </div>
                        <div nz-col nzSpan="16" >
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="packageTermType"  nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let term of packageTerm" [nzLabel]="term" [nzValue]="term"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm-one-third">
                    <div nz-col nzSpan="12">
                        <div nz-col nzSpan="16" >
                            <label nzFor="Start of Current Plan Funcding">End of Current Plan Funding:</label>
                        </div>
                        <div nz-col nzSpan="8" >
                            <nz-date-picker  [nzSize]="'small'"  formControlName="expiryDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div nz-col nzSpan="8" class="text-center pad-r-5">
                            <label nzFor="Package Term:">Reminder Date:</label>
                        </div>
                        <div nz-col nzSpan="16" class="pad-r-5">
                            <nz-date-picker  [nzSize]="'small'"  formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                </div>
                <div nz-row nzJustify class="text-center" *ngIf="!IS_CDC"> 
                    <div nz-col nzSpan="8">
                        Auto Renew On Expiry : <label nz-checkbox formControlName="autoRenew"></label>
                    </div>
                    <div nz-col nzSpan="8">
                        Rollover Remaining Funding : <label nz-checkbox formControlName="rolloverRemainder"></label>
                    </div>
                    <div nz-col nzSpan="8">
                        Deactivate On Expiry : <label nz-checkbox formControlName="deactivateOnExpiry"></label>
                    </div>
                </div>    
            </nz-card>    -->
            </div>
        </form>
    </div>
    <div *ngIf="tabFindIndex == 1" class="tab">
        <form nz-form [formGroup]="packageDetailForm">

            <div nz-row nzGutter="24">


                <!-- <nz-card [nzBodyStyle]="{'padding':'0px'}" class="mrg-btm-one-third">
                <div nz-row nzJustify>
                    <div nz-col nzSpan="4" class="text-center space-top-2" style="padding: 0px 10px;">
                        <label for="" style="font-size:18px;font-weight:700;">Contribution <br>&<br>Contingencies</label>
                    </div>
                    <div nz-col nzSpan="20">
                        <nz-table nzBordered nzTemplateMode [nzSize]="'small'" style="margin-top:10px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Daily</th>
                                    <th>Monthly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic Care Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyBasicCareFee" /></td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="clientCont" /></td>  
                                </tr>
                                <tr>
                                    <td>Income Tested Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyIncomeTestedFee" /></td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="incomeTestedFee" /></td>  
                                </tr>
                            </tbody>
                        </nz-table>
                        <div nz-row nzJustify style="margin-top:5px;">
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Contingency:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="contingency_Start" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Per Day Billing To:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="contingency" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Currently Banked:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="currentlyBanked" /></label>
                            </div>
                        </div>
                    </div>                                                      
                </div>
            </nz-card>         -->
                <nz-card [nzBodyStyle]="{'padding':'5px'}">

                    <div nz-row nzJustify class="mrg-btm-one-third">

                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="6">
                                <label nzFor="For Period">For Period:</label>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-date-picker [nzSize]="'default'" formControlName="startPDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                            <div nz-col nzSpan="2" style="text-align: center;">
                                <label nzFor="">to</label>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-date-picker [nzSize]="'default'" formControlName="endPDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="16" class="text-center pad-r-5">
                                <label style="margin:5px" nzFor="Package Term:">Available at Start of Period:</label>
                            </div>
                            <div nz-col nzSpan="6" class="box2">
                                ${{PackageBalance}}
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin: 8px 0 !important;"></nz-divider>

                    <div nz-row nzGutter="24"
                        style="display:flex; flex-direction:row; padding-left:12px; padding-bottom:5px;  ">


                        <button nz-button nz-dropdown [nzDropdownMenu]="menu" class="btn">Options 
                            <span nz-icon nzType="down"></span> </button>

                        <nz-dropdown-menu #menu="nzDropdownMenu">
                           
                            <ul nz-menu>
                                <li nz-menu-item><label nz-checkbox [(ngModel)]="OptionsChecked[0]">Include Un-Approved
                                        Items/Services</label></li>
                                <li nz-menu-item><label nz-checkbox [(ngModel)]="OptionsChecked[1]">Include Zero Value
                                        Lines</label></li>
                                <li nz-menu-item><label nz-checkbox [(ngModel)]="OptionsChecked[2]">Include Staff Code
                                        in Print</label></li>
                                <li nz-menu-item><label nz-checkbox [(ngModel)]="OptionsChecked[3]">Include Common
                                        Wealth/Provider Split</label></li>
                                <li nz-menu-item>

                                    <div nz-col nzSpan="6">
                                        <nz-radio-group [(ngModel)]="OptionDate">
                                            <label nz-radio nzValue="By Date of Approved">By Date of Approved</label>
                                            <label nz-radio nzValue="By Date of Supply">By Date of Supply</label>
                                           
                                        </nz-radio-group>
                                    </div>
<!-- 
                                    <select  [(ngModel)]="OptionDate" style="height:30px; width:100%; border: 1px solid #d7dad6; padding:2px" id="select" #select
                                    (mouseenter)="openDropdown()" 
                                    (mouseleave)="closeDropdown()">
                                        <option [label]="'By Date Approved'"
                                            [value]="'By Date Approved'"></option>
                                        <option [label]="'By Date of Supply'"
                                            [value]="'By Date of Supply'"></option>

                                    </select> -->

                                </li>
                                <li nz-menu-item>
                                    <button nz-button nzType="default" class="btnlightorange" (click)="openPackageBalance()">Adjust Last
                                        Balance</button>
                                </li>
                            </ul>
                       
                   
                        </nz-dropdown-menu>

                        <div style="margin-left:200px; ">
                            <label nzFor="" style="color:rgb(235, 49, 49)">Money Spent on goods and services $</label>
                        </div>
                        <div style="margin-left:100px; ; right:5px">
                            <label nzFor="" style=" font-weight:bold; color:rgb(173, 11, 11)">{{MoneySpend | number :
                                '00.00'}}</label>
                        </div>



                    </div>

                    <div nz-row nzJustify class="mrg-btm-one-third" style="height:230px">
                        <nz-table #basicFundTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                            [nzFrontPagination]="false" [nzData]="fundingData" style="width:100%; "
                            nzTableLayout="fixed" [nzScroll]="{  y: '200px' }">

                            <thead>
                                <tr>
                                    <th nzWidth="10%">Date</th>
                                    <th nzWidth="60%">Description</th>
                                    <th nzWidth="20%">Usage Details</th>
                                    <th nzWidth="10%">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of basicFundTable.data">



                                    <tr>

                                        <td colspan="4">
                                            <span *ngIf="!showRows || showId!=data.id" nz-icon nzType="plus-square" nzTheme="outline"
                                                (click)="show_Rows(data)"></span>
                                            <span *ngIf="showRows && showId==data.id" nz-icon nzType="minus-square" nzTheme="outline"
                                                (click)="show_Rows(data)"></span>
                                            {{ data.description }} {{data.children.length}}
                                        </td>
                                        <!-- <td colspan="4" [nzExpand]="expandSet.has(data.id)" [nzExpandIcon]="expandIcon">{{ data.description }}</td>  -->
                                    </tr>
                                    <ng-container *ngFor="let item of data.children">
                                        <tr *ngIf="showRows && showId ==item.id">
                                            <td> {{item.date}}</td>
                                            <td> {{item.description}}</td>
                                            <td> {{item.usageDetails}}</td>
                                            <td> {{item.amount}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #expandIcon>
                                        <span nz-icon *ngIf="!expandSet.has(data.id)" nzType="plus-circle"
                                            nzTheme="outline" (click)="onExpandChange(data.id, true)"></span>
                                        <span nz-icon *ngIf="expandSet.has(data.id)" nzType="minus-circle"
                                            nzTheme="outline" (click)="onExpandChange(data.id, false)"></span>
                                    </ng-template>


                                    <!--  <tr>
                                <td  [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"><span nz-icon nzType="plus-square" nzTheme="outline"></span></td>
                                
                            [nzExpand]<tr *ngFor="let data of basicFundTable.data;let i = index"> 
                             
                                <td colSpan="3"> {{data.id}} {{data.description}}</td>
                              
                            </tr>
                            <tr [nzExpand]="expandSet.has(data.id)">
                                <td> {{data.date}}</td>
                                <td> {{data.description}}</td>
                                <td> {{data.usageDetails}}</td>
                                <td> {{data.amount}}</td>
                              </tr>
                            </ng-container>-->
                                </ng-container>
                            </tbody>
                        </nz-table>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <div nz-col nzSpan="20">
                            <label nzFor=""
                                style="margin:10px; font-size:14px; font-weight:600; text-align:right">Payment & Credits
                                Received</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <label nzFor=""
                                style="margin:10px; font-size:14px; font-weight:600; text-align:right">{{fundingPaymentTotal
                                | number : '00.00'}}</label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-one-third" >
                        <nz-table #basicFundTable2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                            [nzFrontPagination]="false" [nzData]="fundingPayments" style="width:100%; "
                            [nzScroll]="{  y: '200px' }">
                            <thead>
                                <tr>
                                    <th nzWidth="10%">Date</th>
                                    <th nzWidth="40%">Description</th>
                                    <th nzWidth="10%">Ref #</th>
                                    <th nzWidth="10%">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of basicFundTable2.data;let i = index">
                                    <td> {{data.date | date:'dd/MM/yyyy'}}</td>
                                    <td> {{data.description}}</td>
                                    <td> {{data.refNo}}</td>
                                    <td> {{data.amount}}</td>
                                </tr>

                            </tbody>
                        </nz-table>
                    </div>
                    <div style="display:block; position: relative; float: right; ">
                        <div class="mrg-right ">
                            <div style="display:flex; flex-direction:row">
                                <div style="width:200px; text-align:right; margin-right: 10px;  ">
                                    <label nzFor="" style="font-size:14px">Administration Charges:</label>
                                </div>
                                <div class="pad-r-5" class="box">
                                    <span>{{BudgetDetail.gAdmin | number : '00.00'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="mrg-right ">
                            <div style="display:flex; flex-direction:row; ">
                                <div style="width:200px;text-align:right; margin-right: 10px;">
                                    <label nzFor="" style="font-size:14px">Available at end of period:</label>
                                </div>
                                <div class="pad-r-5" class="box">
                                    <span>{{Final_Balance | number : '00.00'}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
        </form>
    </div>
    <div *ngIf="tabFindIndex == 2" class="tab">
        <form nz-form [formGroup]="packageDetailForm">

            <div nz-row nzGutter="24">

                <nz-card [nzBodyStyle]="{'padding':'5px'}" class="mrg-btm-one-third">
                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <div nz-col nzSpan="4">
                            <label for="" style="font-weight:bold">Funding</label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label for="">Amount</label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <input nz-input placeholder="" [nzSize]="'default'" formControlName="quantity" />
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <!-- <label for="">Cost Type</label> -->
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                    formControlName="itemUnit" nzShowSearch nzAllowClear
                                    style="width:100%;margin: 0 0 0 0px;">
                                    <nz-option *ngFor="let alert of alerts" [nzLabel]="alert"
                                        [nzValue]="alert"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <!-- <label for="">Per Unit</label> -->
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                    formControlName="perUnit" nzShowSearch nzAllowClear
                                    style="width:100%;margin: 0 0 0 0px;">
                                    <nz-option *ngFor="let unit of unitsArray" [nzLabel]="unit"
                                        [nzValue]="unit"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <!-- <label for="">Period</label> -->
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                    formControlName="period" nzShowSearch nzAllowClear
                                    style="width:100%;margin: 0 0 0 0px;">
                                    <nz-option *ngFor="let def of DefPeriod" [nzLabel]="def"
                                        [nzValue]="def"></nz-option>
                                </nz-select>
                            </div>
                            <div nz-col nzSpan="4">
                                <!-- <label for="">Length</label> -->
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                    formControlName="timeUnit" nzShowSearch nzAllowClear
                                    style="width:100%;margin: 0 0 0 0px;">
                                    <nz-option *ngFor="let def of DefPeriod" [nzLabel]="def"
                                        [nzValue]="def"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>

                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <div nz-col nzSpan="24" class="mrg-btm-one-third">
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label for="">Expire Using </label>
                            </div>
                            <div nz-col nzSpan="6" class="pad-r-5" class="mrg-btm-one-third">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'default'"
                                    formControlName="expireUsing" nzShowSearch nzAllowClear
                                    style="width:100%;margin: 0 0 0 0px;">
                                    <nz-option *ngFor="let def of expireUsing" [nzLabel]="def"
                                        [nzValue]="def"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>

                    <!-- <nz-divider style="margin: 8px 0 !important;"></nz-divider> -->

                    <!--<nz-card [nzBodyStyle]="{'padding':'0px'}" class="mrg-btm-one-third">
                <div nz-row nzJustify>
                    <div nz-col nzSpan="4" class="text-center space-top-2" style="padding: 0px 10px;">
                        <label for="" style="font-size:18px;font-weight:700;">Contribution
                            <br>&<br>Contingencies</label>
                    </div>
                    <div nz-col nzSpan="20">
                        <nz-table nzBordered nzTemplateMode [nzSize]="'small'" style="margin-top:10px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Daily</th>
                                    <th>Monthly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic Care Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyBasicCareFee" />
                                    </td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="clientCont" /></td>
                                </tr>
                                <tr>
                                    <td>Income Tested Fee</td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="dailyIncomeTestedFee" />
                                    </td>
                                    <td><input nz-input [nzSize]="'small'" formControlName="incomeTestedFee" /></td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <div nz-row nzJustify style="margin-top:5px;">
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Contingency:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'"
                                        formControlName="contingency_Start" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Per Day Billing To:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'" formControlName="contingency" /></label>
                            </div>
                            <div nz-col nzSpan="4" class="pad-r-5">
                                <label>Currently Banked:</label>
                            </div>
                            <div nz-col nzSpan="3" class="pad-r-5">
                                <label><input nz-input [nzSize]="'small'"
                                        formControlName="currentlyBanked" /></label>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card> -->

                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <div nz-col nzSpan="10">
                            <div nz-col nzSpan="10">
                                <label nzFor="Funding Start">Funding Start:</label>
                            </div>
                            <div nz-col nzSpan="10" style="margin-left:-2px">
                                <nz-date-picker [nzSize]="'default'" formControlName="startDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                        </div>


                        <div nz-col nzSpan="6">
                            <div nz-col nzSpan="8">
                                <label nzFor="">End </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <nz-date-picker [nzSize]="'default'" formControlName="expiryDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div nz-col nzSpan="10" class="text-center pad-r-5">
                                <label nzFor="Package Term:">Reminder:</label>
                            </div>
                            <div nz-col nzSpan="14" class="pad-r-5">
                                <nz-date-picker [nzSize]="'default'" formControlName="reminderDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify class="text-center" *ngIf="!IS_CDC">
                        <div nz-col nzSpan="8">
                            Auto Renew On Expiry : <label nz-checkbox formControlName="autoRenew"></label>
                        </div>
                        <div nz-col nzSpan="8">
                            Rollover Remaining Funding : <label nz-checkbox formControlName="rolloverRemainder"></label>
                        </div>
                        <div nz-col nzSpan="8">
                            Deactivate On Expiry : <label nz-checkbox formControlName="deactivateOnExpiry"></label>
                        </div>
                    </div>

                </nz-card>
                <!-- <nz-divider style="margin: 8px 0 !important;"></nz-divider> -->
                <nz-card [nzBodyStyle]="{'padding':'5px'}">
                    <div nz-row nzJustify class="mrg-btm-one-third">
                        <nz-table #basicFundTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                            [nzFrontPagination]="false" [nzData]="fundingData2" style="width:100%; "
                            [nzScroll]="{  y: '400px' }">

                            <thead>
                                <tr>
                                    <th nzWidth="10%">Date</th>
                                    <th nzWidth="60%">Description</th>
                                    <th nzWidth="20%">Usage Details</th>
                                    <th nzWidth="10%">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of basicFundTable.data;let i = index">
                                    <td> {{data.date}}</td>
                                    <td> {{data.description}}</td>
                                    <td> {{data.usageDetails}}</td>
                                    <td> {{data.amount}}</td>
                                </tr>

                            </tbody>
                        </nz-table>
                    </div>
                </nz-card>
            </div>
        </form>
    </div>
    <div *ngIf="tabFindIndex == 3" class="tab">
        <form nz-form [formGroup]="supplements">
            <nz-card>
                <div nz-row nzGutter="16">
                    <div nz-row>
                        <div nz-col nzSpan="14" nzOffset="4">

                            <div nz-col nzSpan="16">
                                <div nz-col nzSpan="22">Dementia/Cognition/Veterans Supplement</div>
                                <label nz-checkbox formControlName="domentica"
                                    (change)="domenticaChange($event)"></label>
                            </div>
                            <div nz-col nzSpan="2"></div>
                            <div nz-col nzSpan="6">
                                <nz-radio-group formControlName="levelSupplement">
                                    <label nz-radio nzValue="LEVEL 1"
                                        [nzDisabled]="!this.supplements.get('domentica').value">LEVEL 1</label>
                                    <label nz-radio nzValue="LEVEL 2"
                                        [nzDisabled]="!this.supplements.get('domentica').value">LEVEL 2</label>
                                    <label nz-radio nzValue="LEVEL 3"
                                        [nzDisabled]="!this.supplements.get('domentica').value">LEVEL 3</label>
                                    <label nz-radio nzValue="LEVEL 4"
                                        [nzDisabled]="!this.supplements.get('domentica').value">LEVEL 4</label>
                                </nz-radio-group>
                            </div>

                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <div nz-row>
                        <div nz-col nzSpan="14" nzOffset="4">

                            <div nz-col nzSpan="18">
                                <div nz-col nzSpan="20">Enteral Feeding Supplement</div>
                                <label nz-checkbox formControlName="feedingSuplement"></label>
                            </div>
                            <div nz-col nzSpan="2"></div>
                            <div nz-col nzSpan="6">
                                <nz-radio-group formControlName="feedingSupplementLevel">
                                    <label nz-radio nzValue="Bolus"
                                        [nzDisabled]="!this.supplements.get('feedingSuplement').value">Bolus</label>
                                    <label nz-radio nzValue="Non-Bolus"
                                        [nzDisabled]="!this.supplements.get('feedingSuplement').value">Non-Bolus</label>
                                </nz-radio-group>
                            </div>

                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="14" nzOffset="4">
                            <div nz-row nz-col nzSpan="18">
                                <div nz-col nzSpan="20">EACHD Top Up Suplemment</div>
                                <label nz-checkbox formControlName="EACHD"></label>
                            </div>
                            <div nz-row nz-col nzSpan="18" style="margin-top:10px">
                                <div nz-col nzSpan="20"> Oxygen Supplement</div>
                                <label nz-checkbox formControlName="oxygen"></label>
                            </div>

                        </div>
                    </div>
                    <nz-divider></nz-divider>

                    <div nz-row class="mrg-btm">
                        <div nz-col nzSpan="14" nzOffset="4">

                            <div nz-col nzSpan="14">
                                Home Care Viability Supplement
                                <label nz-checkbox formControlName="visibilitySuplement"
                                    style="margin-left:10px"></label>

                            </div>
                            <div nz-col nzSpan="6">
                                <nz-select [nzSize]="'default'" style="width:10%"
                                    formControlName="supplementVisibilityOption">
                                    <nz-option [nzLabel]="'MM'" [nzValue]="'MM'">MM</nz-option>
                                    <nz-option [nzLabel]="'ARIA'" [nzValue]="'ARIA'">ARIA</nz-option>
                                </nz-select>

                            </div>
                            <!-- [nzDisabled]="!this.supplements.get('visibilitySuplement').value" -->
                            <div nz-col nzSpan="4" *ngIf="SupplementVisibility=='MM'">
                                <nz-radio-group formControlName="visibilitySuplementLevel">
                                    <label nz-radio nzValue="MMM 1">MMM 1</label>
                                    <label nz-radio nzValue="MMM 2">MMM 2</label>
                                    <label nz-radio nzValue="MMM 3">MMM 3</label>
                                    <label nz-radio nzValue="MMM 4">MMM 4</label>
                                    <label nz-radio nzValue="MMM 5">MMM 5</label>
                                    <label nz-radio nzValue="MMM 6">MMM 6</label>
                                    <label nz-radio nzValue="MMM 7">MMM 7</label>
                                </nz-radio-group>
                            </div>
                            <div nz-col nzSpan="4" *ngIf="SupplementVisibility=='ARIA'">

                                <nz-radio-group formControlName="visibilitySuplementLevel2">
                                    <label *ngFor="let option of fundingAriaList" nz-radio
                                        [nzValue]="option.description">
                                        {{ option.description }}
                                    </label>
                                </nz-radio-group>

                            </div>
                            <!-- <div nz-col nzSpan="4" *ngIf="SupplementVisibility=='ARIA'">
                            <nz-radio-group formControlName="visibilitySuplementLevel2">
                                <label nz-radio nzValue="ARIA SCORE 0 TO 3.51">ARIA SCORE 0 TO 3.51</label>
                                <label nz-radio nzValue="ARIA SCORE 3.52 TO 4.66">ARIA SCORE 3.52 TO 4.66</label>
                                <label nz-radio nzValue="ARIA SCORE 4.67 TO 5.80">MARIA SCORE 4.67 TO 5.80</label>
                                <label nz-radio nzValue="ARIA SCORE 5.81 TO 7.44">ARIA SCORE 5.81 TO 7.44</label>
                                <label nz-radio nzValue="ARIA SCORE 7.45 to 9.08">ARIA SCORE 7.45 to 9.08</label>
                                <label nz-radio nzValue="ARIA SCORE 9.09 to 10.54">ARIA SCORE 9.09 to 10.54</label>
                                <label nz-radio nzValue="ARIA SCORE 10.55 to 12.00">ARIA SCORE 10.55 to 12.00</label>
                            </nz-radio-group>
                        </div> -->








                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <div nz-row>
                        <div nz-col nzSpan="14" nzOffset="4">

                            <div nz-row nz-col nzSpan="12">
                                Daily Hardship Supplement
                            </div>
                            <div nz-row nz-col nzSpan="4" [formGroup]="packageDetailForm">
                                <div> <input nz-input nzSize="default" formControlName="hardShipSupplement" /></div>
                            </div>
                            <div nz-col nzSpan="4" style="margin-left:10px">
                                Per Day
                            </div>

                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <div nz-row>
                        <div nz-col nzSpan="14" nzOffset="4">

                            <div nz-row nz-col nzSpan="14" style="margin-left:-10px">
                                <label><b>Fees</b></label>
                            </div>
                            <div nz-row nz-col nzSpan="18" style="margin-top:5px; margin-bottom:5px">
                                <div nz-col nzSpan="16">
                                    Daily Basic Care Fee
                                </div>
                                <div nz-col nzSpan="6" [formGroup]="packageDetailForm">
                                    <input nz-input [nzSize]="'default'" formControlName="dailyBasicCareFee" />
                                </div>
                            </div>

                            <div nz-row nz-col nzSpan="18">
                                <div nz-col nzSpan="16">
                                    Income Tested Fee
                                </div>
                                <div nz-col nzSpan="6" [formGroup]="packageDetailForm">
                                    <input nz-input [nzSize]="'default'" formControlName="dailyIncomeTestedFee" />
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </nz-card>
        </form>
    </div>

    <div *nzModalFooter>
        <ng-container>

            <button nz-button nzType="primary" (click)="save()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>





<nz-modal [(nzVisible)]="openPackageBalanceModel" [nzTitle]="'Adjust Last Balance'" (nzOnCancel)="openPackageBalanceModel=false">
    <div [formGroup]="PackageBalanceForm">
        <div nz-row nzGutter="16" style="margin:5px">
            <div nz-col nzSpan="15">
                <select formControlName="balance"   style="height:30px; width:100%; border: 1px solid #d7dad6; padding:2px">
                    <option *ngFor="let d of balances" [value]="d" [label]="d">
                    <option>
                </select>
            </div>

            <div nz-col nzSpan="6" [formGroup]="PackageBalanceForm">
                <span type="number"  style="font-weight:bold"  >  {{PackageBalance}}</span>
            </div>

        </div>

    <div nz-row nzGutter="16">
        <div class="form-group" style="margin:5px">
            <div nz-col nzSpan="14">
                <label for="">Commonwealth - Provider Held Balance</label>
            </div>
            <div nz-col nzSpan="6" [formGroup]="PackageBalanceForm">
                <input type="number" formControlName="commonBalProvider" class="box2" />
            </div>
        </div>
    </div>
    <div nz-row nzGutter="16">
        <div class="form-group" style="margin:5px">
            <div nz-col nzSpan="14">
                <label for="">Commonwealth - Commonwealth</label>
            </div>
            <div nz-col nzSpan="6" [formGroup]="PackageBalanceForm">
                <input type="number" formControlName="commonWealth" class="box2" />
            </div>
        </div>
    </div>
    <div nz-row nzGutter="16">
        <div style="margin:5px">
            <div nz-col nzSpan="14">
                <label for="">Client Provider Held Balance</label>
            </div>
            <div nz-col nzSpan="6" [formGroup]="PackageBalanceForm">
                <input type="number" formControlName="clientBalance" class="box2" />
            </div>
        </div>
    </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="openPackageBalanceModel=false">Cancel</button>
        <button nz-button nzType="primary" (click)="updateprogramPackageBalance()" [nzLoading]="loading">Update</button>
    </div>
</nz-modal>


<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>