.ant-divider, .ant-divider-vertical{
    margin:4px ​0 !important;
}
nz-form-item.ant-form-item{
    margin:0 ​0 0 0 !important;
}
nz-table th{
        font-weight: 600;
        font-family: 'Segoe UI';
        font-size: 14px;
        border: 1px solid #f3f3f3;
    }

    nz-table tr{
      
        font-family: 'Segoe UI';
        font-size: 14px;
        font-weight: 300;
    }
    
label{
    font-family: 'Segoe UI';
        font-size: 14px;
        font-weight: 500;
       
}
.mrg-right{
    display:block;
    position:relative;
    text-align: right;
    right: 0;
    margin-bottom: 10px;
}

.tab{
    margin-top: -5px;
    margin-left: 11px;
    font-weight: 600;
}
.btn {
    background:#85B9D5;
    color:white;
    border: 1px solid #85B9D5;
}

nzDropdownMenu{
    background:#85B9D5; 
}

.box{
    background:white;
    color:black;
    border: 1px solid #b8b8b8;
    padding:3px;
    margin: 3px;
    margin-bottom: 2px;
    width: 120px;
    height: 30px;

}

.box2{
    background:white;
    color:black;
    border: 1px solid #b8b8b8;
    padding:3px;
    margin: 3px;
    margin-bottom: 2px;
    text-align: center;
    height: 30px;

}
/* ------------------------------- */
