<clr-wizard #Booking [(clrWizardOpen)]="abliha" [clrWizardSize]="'lg'" [clrWizardPreventModalAnimation]="false"
  class="clr-wizard--inline clr-wizard--no-shadow clr-wizard--no-title" style="height: 60vh;min-height: 25rem">

  <clr-wizard-title>Inline Wizard</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Submit</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Booking Details</ng-template>

    <div class="col-md-6 col-md-offset-2">
      <div class="booking-wrapper">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>Start Time*</label>
              <timepicker [(ngModel)]="startTime" (ngModelChange)="bookStream.next($event)"></timepicker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>End Time*</label>
              <timepicker [(ngModel)]="endTime" (ngModelChange)="bookStream.next($event)"></timepicker>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label for="formFields_1">Date *</label>
              <datepicker [(ngModel)]="date" (ngModelChange)="bookStream.next($event)"></datepicker>
            </div>
          </div>
          <div>

            <div class="form-group col-md-6">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="options" [(ngModel)]="once"
                  (ngModelChange)="change($event,'once')" />
                <label>Once Only</label>
              </clr-checkbox-wrapper>
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="options" [(ngModel)]="permanent"
                  (ngModelChange)="change($event,'permanent')" />
                <label>Permanent</label>
              </clr-checkbox-wrapper>
              <div class="col-md-offset-2" *ngIf="permanent">

                <clr-select-container>
                  <label>Time Intervals</label>
                  <select clrSelect name="options" [(ngModel)]="weekly">
                    <option [value]="'Weekly'">Weekly</option>
                    <option [value]="'Fortnightly'">Fortnightly</option>
                    <option [value]="'FourWeekly'">4 Weekly</option>
                  </select>
                </clr-select-container>

                <!-- <clr-radio-wrapper>
                  <input type="radio" clrRadio [(ngModel)]="weekly" value="Weekly" name="options" />
                  <label>Week 1</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [(ngModel)]="weekly" value="Fortnightly" name="options" />
                  <label>Week 2</label>
                </clr-radio-wrapper> -->

              </div>
            </div>

            <div class="form-group col-md-6" *ngIf="canChooseProvider">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="b" [(ngModel)]="aprovider"
                  (ngModelChange)="change($event,'aprov')" />
                <label>Any Provider</label>
              </clr-checkbox-wrapper>

              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="b" [(ngModel)]="cprovider"
                  (ngModelChange)="change($event,'cprov')" />
                <label>Pick Provider</label>
              </clr-checkbox-wrapper>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template clrPageButtons>
      <button class="btn btn-primary" (click)="customClick('next', 1)">Next</button>
    </ng-template>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!selectedService">
    <ng-template clrPageTitle>Services</ng-template>

    <div class="col-md-11">
      <ng-container *ngFor="let service of services">
        <div class="col-md-4" *ngIf="!service.excludeFromClientPortal">

          <div class="book-wrapper" [class.pick]="isPicked(service)">
            <div class="book-image" [style.background-position]="getPositionImg(service)"></div>
            <h6><span data-toggle="tooltip" data-placement="top"
                title="{{ service.serviceName | uppercase }}">{{ (service.serviceName.length > 45 ? (service.serviceName | slice:0:45) + '...' : service.serviceName) | uppercase }}</span>
            </h6>
            <p class="serviceType">{{service.serviceType}}</p>
            <p>{{ service.serviceProgram}}</p>
            <article class="staff">
              <p class="price">{{ service.serviceBillRate | currency: 'USD' }}</p>
              <i class="material-icons" *ngIf="!isPicked(service)" (click)="add(service)"> add </i>
              <i class="material-icons deselect" *ngIf="isPicked(service)" (click)="add(service)"> remove </i>
            </article>
          </div>

        </div>
      </ng-container>

      <intake-no-data [loading]="loadServices"></intake-no-data>
    </div>

    <ng-template clrPageButtons>
      <button class="btn btn-link" (click)="customClick('cancel')">Cancel</button>
      <button class="btn btn-info-outline" (click)="customClick('back')">Back</button>
      <button class="btn btn-primary" (click)="customClick('next')" [disabled]="!selectedService">Next</button>
    </ng-template>

  </clr-wizard-page>

  <clr-wizard-page *ngIf="cprovider" [clrWizardPageNextDisabled]="!selectedStaff">
    <ng-template clrPageTitle>Staff</ng-template>

    <div class="col-md-12">
      <qualified-staff [(ngModel)]="selectedStaff" [inputParams]="selectedInputParams" [hideFilter]="true">
      </qualified-staff>
    </div>

    <ng-template clrPageButtons>
      <button class="btn btn-link" (click)="customClick('cancel')">Cancel</button>
      <button class="btn btn-info-outline" (click)="customClick('back')">Back</button>
      <button class="btn btn-primary" (click)="customClick('next')" [disabled]="!selectedStaff">Next</button>
    </ng-template>

  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Notes</ng-template>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea [(ngModel)]="notes"></textarea>
      </div>
    </div>

    <ng-template clrPageButtons>
      <button class="btn btn-warning" (click)="customClick('cancel')">Cancel</button>
      <button class="btn btn-primary" (click)="customClick('book')">Submit</button>
    </ng-template>

  </clr-wizard-page>
</clr-wizard>


<clr-modal [(clrModalOpen)]="bookingModalOpen">
  <h3 class="modal-title">Booking Details</h3>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <div *ngIf="selectedService">
        <div class="book-image" [style.background-position]="getPositionImg(selectedService)"></div>
        <section class="form-block">

          <div class="row">
            <div class="col-md-offset-3 col-md-6 __date">
              <div class="form-inline">
                <label>Date</label>
                <span>{{ date | date: 'MMM dd, yyyy' }}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label>Start Time</label>
              <div class="form-group">
                <span>{{ startTime }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <label>End Time</label>
              <div class="form-group">
                <span>{{ endTime }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Duration</label>
              <div class="form-group">
                <span>{{ computeDuration(startTime,endTime).durationStr }}</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-inline">
                <label>Service Name</label>
                <span>{{ selectedService.serviceName}}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-inline">
                <label>Program</label>
                <span>{{ selectedService.serviceProgram}}</span>
              </div>
            </div>
            <div class="col-md-12" *ngIf="selectedStaff">
              <div class="form-inline">
                <label>Staff</label>
                <span>{{ selectedStaff?.firstName}}</span>
              </div>
            </div>
          </div>

          <div class="row total-container">
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4 form-inline">
                <label>Rate</label>
                <span>{{ selectedService.serviceBillRate | currency: 'USD': number : '1.2-2' }}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4 form-inline">
                <label>Duration</label>
                <span>{{ computeDuration(startTime,endTime).durationInHours | number : '1.2-2' }}</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4 form-inline total">
                <label>Total</label>
                <span>{{ selectedService.serviceBillRate * computeDuration(startTime,endTime).durationInHours | currency: 'USD' : number : '1.2-2' }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Notes</label>
              <textarea readonly [ngModel]="notes"></textarea>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="bookingModalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="book();bookingModalOpen = false">Book</button>
  </div>
</clr-modal>