<div class="col-md-10 col-md-offset-1" style="margin-top:15px">
  <div>
    <div class="clr-toggle-wrapper">
      <input type="checkbox" id="toggle1" name="toggle-basic" value="option1" class="clr-toggle"
        [(ngModel)]="toggleAdminFees" (ngModelChange)="toggle($event)">
      <label for="toggle1">Admin Fees</label>
    </div>
  </div>
  <br>
  <!-- <ng-template #modalContent let-close="close">
                <div class="modal-header">
                    <h5 class="modal-title">Event action occurred</h5>
                    <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                    Action:
                    <pre>{{ modalData?.action }}</pre>
                    </div>
                    <div>
                    Event:
                    <pre>{{ modalData?.event | json }}</pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                </div>
            </ng-template> -->

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="dateChanged($event,view);activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="dateChanged($event,view);activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="view = 'month';dateChanged(viewDate)" [class.active]="view === 'month'">
          Month
        </div>
        <div class="btn btn-primary" (click)="view = 'week';dateChanged(viewDate)" [class.active]="view === 'week'">
          Week
        </div>
        <div class="btn btn-primary" (click)="view = 'day';dateChanged(viewDate)" [class.active]="view === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group time-segment" *ngIf="view === 'day'">
    <label for="timeSeg">Time Intervals</label>
    <select id="timeSeg" [(ngModel)]="minuteInterval" (ngModelChange)="timeSegChange($event)">
      <option *ngFor="let time of timeArray" [value]="time">{{ time }} minutes</option>
    </select>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [hourSegments]="hourSegments" [dayStartHour]="6" [hourSegmentHeight]="20"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

</div>


<bs-modal #roster>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">{{ title }}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="col-md-12" *ngIf="rosterData">

      <div class="col-md-offset-3 col-md-3 form-group">
        <label for="">Start Time</label>
        <input type="text" [ngModel]="rosterData.startTime" disabled>
      </div>
      <div class="col-md-3 form-group">
        <label for="">End Time</label>
        <input type="text" [ngModel]="rosterData.endTime" disabled>
      </div>
      <div class="col-md-6 form-group">
        <label for="">Client Code</label>
        <input type="text" [ngModel]="rosterData.client" disabled>
      </div>
      <div class="col-md-6 form-group">
        <label for="">Carer Code</label>
        <input type="text" [ngModel]="rosterData.carer" disabled>
      </div>
      <div class="col-md-12 form-group">
        <label for="">Service Type</label>
        <input type="text" [ngModel]="rosterData.service" disabled>
      </div>
      <div class="col-md-12 form-group">
        <label for="">Notes</label>
        <textarea readonly [ngModel]="rosterData?.notes"></textarea>
      </div>




    </div>
  </bs-modal-body>
  <bs-modal-footer [showDefaultButtons]="false">
    <button type="button" class="btn btn-primary" (click)="roster.close()">Ok</button>
  </bs-modal-footer>
</bs-modal>