<div>
  <div class="col-md-4">
    <dragdrop [personId]="token?.uniqueID" (success)="reload()"></dragdrop>
  </div>
  <div class="col-md-8">
    <ul style="margin:1rem">
      <li *ngFor="let op of tableData">
        <section>
          <div class="filetype-logo" [style.background-position]="getPositionImg(op.fileType)"></div>
          <h5>{{ op.title }}</h5>
          <div>
            <span *ngIf="op.fileSize != 0">{{ op.fileSize |  fileSizeFilter }}</span>
            <span class="not-found" *ngIf="op.fileSize == 0">FILE NOT FOUND!</span>
          </div>
          <div class="options">
            <i class="material-icons edit" *ngIf="op.fileSize != 0" (click)="previewDocument(op)">remove_red_eye</i>
            <i class="material-icons edit" *ngIf="op.fileSize != 0" (click)="downloadFile(op)">cloud_download</i>
            <i class="material-icons delete" (click)="deleteFile(op)">delete</i>
          </div>
        </section>
      </li>
    </ul>
  </div>
</div>


<bs-modal class="xhlg-modal" #preview [size]="'lg'">
  <bs-modal-header [showDismiss]="true">
    <h5 class="modal-title">{{ fileDocumentName }}</h5>
  </bs-modal-header>
  <bs-modal-body>
    <div class="col-md-12" style="height:90%">
      <div class="document-wrapper">
        <iframe class="doc" *ngIf="!loadFile" [src]="sanitizer.bypassSecurityTrustResourceUrl(urlFile)"></iframe>
        <div class="loading" *ngIf="loadFile">
          <span class="spinner spinner-md">
            Loading...
          </span>
        </div>
      </div>
    </div>
  </bs-modal-body>
</bs-modal>