<div>


    <div class="col-md-2 col-xs-6 col-fl">
        <div class="form-group">
            <label>Start Date *</label>
            <datepicker [(ngModel)]="sDate" (ngModelChange)="dateStream.next($event)"></datepicker>
        </div>
    </div>
    <div class="col-md-2 col-xs-6 col-fl">
        <div class="form-group">
            <label>End Date *</label>
            <datepicker [(ngModel)]="eDate" (ngModelChange)="dateStream.next($event)"></datepicker>
        </div>
    </div>

    
    <div class="col-md-12">
        <div class="web-first" style="margin-bottom: 1rem;">
            <table class="table table-compact no-margin">
                <thead>
                    <tr>
                        <th>Shift No</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th>Provider</th>
                        <th>Program</th>
                        <th>Activity</th>
                        <th>Bill Quantity</th>
                        <th>Bill Rate</th>
                        <th>Total Billing</th>
                        <th>App</th>
                        <th>Bill TO</th>
                        <th style="width:10rem">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ts of timesheets">
                        <td>{{ ts.shiftbookNo}}</td>
                        <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                        <td>{{ ts.activity_Time.calculated_Duration}}</td>
                        <td>{{ ts.carer_Code}}</td>
                        <td>{{ ts.program.title }}</td>
                        <td>{{ ts.activity.name }}</td>
                        <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                        <td>{{ ts.bill.bill_Rate | currency: 'USD' }}</td>
                        <td>{{ ts.bill.quantity * ts.bill.bill_Rate | currency: 'USD'  }}</td>
                        <td>
                        <clr-checkbox-wrapper>
                            <input type="checkbox" clrCheckbox value="option1" name="options" [(ngModel)]="ts.approved" [disabled]="true"/>
                        </clr-checkbox-wrapper>
                            <!--<clr-checkbox
                                [clrDisabled]="true"
                                [(ngModel)]="ts.approved">
                            </clr-checkbox>-->
                        </td>
                        <td>{{ ts.billedTo.accountNo }}</td>
                        <td>{{ ts.note }}</td>
                    </tr>
                </tbody>
            </table>      
    </div>


    <div class="mobile-first">
            <div class="stackview">
                <clr-stack-view>            
                    <clr-stack-block [clrSbExpanded]="true" *ngFor="let ts of timesheets">
                        <clr-stack-label>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</clr-stack-label>
                        <clr-stack-content>{{ ts.activity_Time.start_time | date: 'HH:mm' }} ({{ ts.activity_Time.calculated_Duration}})</clr-stack-content>
                        <clr-stack-block>
                            <clr-stack-label>Provider</clr-stack-label>
                            <clr-stack-content>{{ ts.carer_Code}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Program</clr-stack-label>
                            <clr-stack-content>{{ ts.program.title}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Activity</clr-stack-label>
                            <clr-stack-content>{{ ts.activity.name}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Bill Quantity</clr-stack-label>
                            <clr-stack-content>{{ ts.bill.quantity | number: '1.2-2'}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Bill Rate</clr-stack-label>
                            <clr-stack-content>{{ ts.bill.bill_Rate | currency: 'USD'}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Total Billing</clr-stack-label>
                            <clr-stack-content>{{ ts.bill.quantity * ts.bill.bill_Rate | currency: 'USD' }}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Bill To</clr-stack-label>
                            <clr-stack-content>{{ ts.billedTo.accountNo}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Notes</clr-stack-label>
                            <clr-stack-content>{{ ts.note}}</clr-stack-content>
                        </clr-stack-block>
                    </clr-stack-block>  
                  
                </clr-stack-view>
            </div>
        </div>



        <div *ngIf="!loading && timesheets?.length == 0" class="alert alert-app-level alert-danger" style="margin-bottom:24px;padding:0">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <div class="alert-text">
                        No Data
                    </div>
                </div>
            </div>
        </div>
        <div class="loading" *ngIf="loading">
            <span class="spinner spinner-md">
                Loading...
            </span>
        </div>

        
    </div>

   



</div>
