<clr-main-container class="main-container">
    <headernav></headernav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <sidenav></sidenav>
    </div>
</clr-main-container>