<div class="col-md-12">
    <div class="tabs-vertical">
        <ul id="demoTabs" class="nav" role="tablist">
            <li role="presentation" class="nav-item">
                <button (click)="view.next(1)" id="tab1" class="btn btn-link nav-link" [class.active]="viewNo == 1" aria-controls="panel1"
                        aria-selected="false" type="button">OP Notes</button>
            </li>
            <li role="presentation" class="nav-item">
                <button (click)="view.next(2)" id="tab2" class="btn btn-link nav-link" [class.active]="viewNo == 2" aria-controls="panel2"
                        aria-selected="true" type="button">Shift Notes</button>
            </li>
        </ul>

        <section id="panel1" role="tabpanel" aria-labelledby="tab1" [attr.aria-hidden]="!(viewNo == 1)">
            <div class="col-md-6">
                    <table class="table table-compact table-noborder package-table">
                        <thead>
                            <tr>
                                <th class="align-left">Details</th>
                                <th class="align-left">Date</th>
                                <th class="align-left">Creator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let op of tableData">
                                <td class="left">{{ op.detail  }}</td>
                                <td class="align-left">{{ op.detailDate | date: 'dd/MM/y' }}</td>
                                <td class="align-left">{{ op.creator || '-' | uppercase  }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <intake-no-data [data]="tableData?.length" [loading]="loading"></intake-no-data>
            </div>
        </section>


        <section id="panel2" role="tabpanel" aria-labelledby="tab2" [attr.aria-hidden]="!(viewNo == 2)">

                <div class="col-md-2 col-xs-6 col-fl">
                    <div class="form-group">
                        <label>Start Date *</label>
                        <datepicker [(ngModel)]="sDate" (ngModelChange)="dateStream.next($event)"></datepicker>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 col-fl">
                    <div class="form-group">
                        <label>End Date *</label>
                        <datepicker [(ngModel)]="eDate" (ngModelChange)="dateStream.next($event)"></datepicker>
                    </div>
                </div>
                
               <div class="col-md-12">
                    <table class="table table-compact table-noborder package-table">
                        <thead>
                            <tr>
                                <th style="width:5rem" class="align-left">Date</th>
                                <th style="width:4rem" class="align-left">Start Time</th>
                                <th style="width:6rem" class="align-left">Service Type</th>
                                <th style="width:6rem" class="align-left">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of tableData let i = index">
                                <tr [class.even]="isEven(i)">
                                    <td class="left"><span class="date">{{ data.key  }}</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let val of data.value" [class.even]="isEven(i)">
                                    <td></td>
                                    <td class="align-left">{{ val.StartTime }}</td>
                                    <td class="align-left">{{ val.ServiceType }}</td>
                                    <td class="align-left">{{ val.Note || '-' }}</td>
                                </tr>
                            </ng-container>                              
                        </tbody>
                    </table>    
                    <intake-no-data [data]="tableData?.length" [loading]="loading"></intake-no-data>
               </div>
        </section>

    </div>
</div>