<div class="col-md-12">
    <div *ngIf="programs?.length > 0">
        <div class="col-md-3">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="formFields_1">Program *</label>
                    <select style="display:block;width:100%" [(ngModel)]="program"
                        (ngModelChange)="programChanges($event)">
                        <option *ngFor="let program of programs">{{program}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="formFields_1">Date *</label>
                    <monthpicker [(ngModel)]="date" (ngModelChange)="dateChanges($event)"></monthpicker>
                </div>
            </div>
            <div class="col-md-12">
                <p class="notice">
                    <strong>Note</strong>: This statement includes an amount for government contribution and basic daily
                    fee that may not have been paid at the date of issue. Please refer to your invoice for any
                    outstanding amounts.
                </p>
            </div>
            <div class="col-md-12">
                <table class="table table-vertical">
                    <tbody>
                        <tr>
                            <th style="background:#e4f3ff">OPENING BALANCE</th>
                            <td>{{ openB | currency: 'USD' || '--' }}</td>
                        </tr>
                        <tr *ngFor="let tab of table?.list">
                            <th style="background:#ffe4e4">{{ tab?.name }}</th>
                            <td>{{ tab?.total | currency: 'USD' || '--' }}</td>
                        </tr>
                        <tr>
                            <th>CLOSING BALANCE</th>
                            <td>{{ closeB | currency: 'USD' || '--' }}</td>

                        </tr>
                        <tr>
                            <th>CONTINGENCY BALANCE</th>
                            <td>{{ continB | currency: 'USD' || '--' }}</td>

                        </tr>
                        <tr>
                            <th style="background:#e4ffee">TOTAL AVAILABLE BALANCE</th>
                            <td>{{ closeB + continB | currency: 'USD' || '--'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-md-12">
                <section class="form-block user-container">
                    <div class="form-group">
                        <label for="aForm_1" style="float:left">Recipient</label>
                        <div class="user-wrapper">
                            <p>{{ user?.title }} {{ user?.firstName }} {{ user?.surnameOrg }}</p>
                            <ul *ngIf="user">
                                <li *ngFor="let address of user.addresses">
                                    <label>{{ address?.description | removefirstlast }}</label>
                                    <span>{{ address?.address1 }} {{ address?.suburb }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="aForm_1">Customer</label>
                        <div class="user-wrapper">
                            <p>{{ user?.accountNo || '-'}}</p>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="aForm_1">Billing Client</label>
                        <div class="user-wrapper">
                            <p>{{ user?.accountNo || '-' }}</p>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="aForm_1">Statement Period</label>
                        <div class="user-wrapper">
                            <p>{{ date | monthPeriodFilter }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-9">
            <div style="float:right">
                <a target="_blank" [href]="URL" class="btn btn-primary print"><i class="fa fa-print"
                        aria-hidden="true"></i> Print Preview</a>
            </div>
            <table class="table table-compact table-noborder package-table">
                <thead>
                    <tr>
                        <th class="left">Description</th>
                        <th style="width:5rem" class="align-left">Date</th>
                        <th style="width:4rem" class="align-right">Quantity</th>
                        <th style="width:6rem" class="align-right">Unit Price</th>
                        <th style="width:6rem" class="align-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let tab of table">
                        <tr>
                            <td class="left" colspan="5">
                                <p class="package-header">{{ tab?.name }}</p>
                            </td>
                        </tr>
                        <tr class="table-content" *ngFor="let samp of tab?.list">
                            <td class="left">{{samp?.billText | uppercase }}</td>
                            <td class="align-left">{{samp?.date}}</td>
                            <td class="align-right">{{samp?.billQuant | number : '1.2-2' }}</td>
                            <td class="align-right">{{samp?.unitBillRate | currency: 'USD' }}</td>
                            <td class="align-right">{{samp?.serviceCharge | currency: 'USD' }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="total-title align-right">Sub Total</td>
                            <td class="total-price align-right">{{ tab?.total | currency: 'USD' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <intake-no-data [loading]="loading" [data]="table?.length"></intake-no-data>
        </div>
    </div>

</div>