<div class="col-md-12">
    <div class="col-md-3">
        <div>
            <h3>Your Preferences</h3>
            <ul class="list-pref-prim">
                <ng-container *ngFor="let list of lists">
                    <li *ngIf="ifShow(list)">                       
                        <label for="">{{ list.groupName }}</label>
                        <ng-container *ngFor="let clist of list.competenciesList">
                            <div class="list" *ngIf="clist.selected">
                                <clr-checkbox-wrapper>
                                    <input type="checkbox" clrCheckbox name="options" value="option1" [(ngModel)]="clist.selected"  />
                                    <label> {{ clist.description}}</label>
                                </clr-checkbox-wrapper>
                            </div>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
            
            <div class="alert alert-warning" role="alert" *ngIf="listThatAreChecked">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text"><b>NO COMPETENCIES!</b></span>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" (click)="postpreference()">Save</button>
        </div>       
    </div>
    <div class="col-md-1">
       <div class="switch">
            <clr-icon shape="switch" size="50" style="color:#007cbb"></clr-icon>
       </div>
    </div>
    <div class="col-md-8">
       <div>
           <h3>List of Preferences</h3>
            <ul class="list-pref">
                <li *ngFor="let list of lists">
                    <label for="">{{ list.groupName }}</label>
                    <ng-container *ngFor="let clist of list.competenciesList">
                        <div class="list">
                            <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="options" value="option1" [(ngModel)]="clist.selected"  />
                                <label> {{ clist.description}}</label>
                            </clr-checkbox-wrapper>
                        </div>
                    </ng-container>
                </li>
            </ul>
       </div>
    </div>
</div>