<div class="container" style="margin-top:1rem">
    <div class="settings" *ngFor="let setting of settings">
        <div>{{ setting.key | uppercase }}</div>
        <div>
            <!-- {{ setting.value | uppercase }} -->
            <i *ngIf="show(setting.value) == 1" class="material-icons check">check</i>
            <i *ngIf="show(setting.value) == 0" class="material-icons exit">close</i>
            <span *ngIf="show(setting.value) == -1">{{ setting.value | uppercase }}</span>
        </div>

    </div>
</div>