<div class="col-md-12">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="tabStream.next(0)"><span class="badge">|</span>Pending</button>
      <clr-tab-content *clrIfActive="tabActive == 0">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                     <!-- <th style="width:0rem"></th>-->
                      <th>Shift/Booking #</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th style="width:11rem">Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets;let i=index">
                    <!--  <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td>-->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <td><button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button></td>
                    </tr>
                  </tbody>
                </table>
          </div>

          <div class="mobile-first">
              <div class="stackview" *ngIf="timesheets?.length > 0">
                  <clr-stack-view>            
                      <clr-stack-block [clrSbExpanded]="true" *ngFor="let ts of timesheets">
                          <clr-stack-label>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</clr-stack-label>
                          <clr-stack-content>{{ ts.activity_Time.start_time | date: 'HH:mm' }} ({{ ts.activity_Time.calculated_Duration}})</clr-stack-content>
                          <clr-stack-block>
                              <clr-stack-label>Recipient or Location</clr-stack-label>
                              <clr-stack-content>{{ ts.recipientLocation}}</clr-stack-content>
                          </clr-stack-block>
                          <clr-stack-block>
                              <clr-stack-label>Activity</clr-stack-label>
                              <clr-stack-content>{{ ts.activity.name}}</clr-stack-content>
                          </clr-stack-block>                        
                          <clr-stack-block>
                              <clr-stack-label>Pay Type</clr-stack-label>
                              <clr-stack-content>{{ ts.payType.paytype }}</clr-stack-content>
                          </clr-stack-block>
                          <clr-stack-block>
                              <clr-stack-label>Pay Quantity</clr-stack-label>
                              <clr-stack-content>{{ ts.pay.quantity | number: '1.2-2' }}</clr-stack-content>
                          </clr-stack-block>
                          <clr-stack-block>
                              <clr-stack-label>Notes</clr-stack-label>
                              <clr-stack-content>{{ ts.note}}</clr-stack-content>
                          </clr-stack-block>
                      </clr-stack-block>  
                    
                  </clr-stack-view>
              </div>
          </div>

      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="tabStream.next(1)"><span class="badge badge-info">|</span>Accepted</button>
      <clr-tab-content *clrIfActive="tabActive == 1">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                      <!-- <th style="width:0rem"></th> -->
                      <th>Shift/Booking No</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th>Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets">
                      <!-- <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td> -->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <!-- <td><button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button></td> -->
                    </tr>
                  </tbody>
                </table>
          </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="tabStream.next(2)"><span class="badge badge-success">|</span>Completed</button>
      <clr-tab-content *clrIfActive="tabActive == 2">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                      <!-- <th style="width:0rem"></th> -->
                      <th>Shift/Booking No</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th>Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <th>Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets">
                      <!-- <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td> -->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <td><button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button></td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="tabStream.next(3)"><span class="badge badge-2">|</span>Approved</button>
      <clr-tab-content *clrIfActive="tabActive == 3">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                      <!-- <th style="width:0rem"></th> -->
                      <th>Shift/Booking No</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th>Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <th>Reason</th>
                      <th>Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets">
                      <!-- <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td> -->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <td><button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button></td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="tabStream.next(4)"><span class="badge badge-warning">|</span>Query</button>
      <clr-tab-content *clrIfActive="tabActive == 4">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                      <!-- <th style="width:0rem"></th> -->
                      <th>Shift/Booking No</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th>Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <th>Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets">
                      <!-- <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td> -->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <td>
                        <button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (click)="tabStream.next(5)"><span class="badge badge-3">|</span>Billed</button>
      <clr-tab-content *clrIfActive="tabActive == 5">
          <div class="web-first">
              <table class="table table-compact">
                  <thead>
                    <tr>
                      <!-- <th style="width:0rem"></th> -->
                      <th>Shift/Booking No</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>Duration</th>
                      <th>Provider</th>
                      <th>Program</th>
                      <th>Activity</th>
                      <th>Bill Quantity</th>
                      <th>Bill Rate</th>
                      <th>Bill To</th>
                      <th>Notes</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ts of timesheets">
                      <!-- <td><action [in_data]="ts" [disableBtns]="settings" (out_data)="out_data($event)" (click)="index = i" ngDefaultControl></action></td> -->
                      <td>{{ ts.shiftbookNo}}</td>
                      <td>{{ ts.activityDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ ts.activity_Time.start_time | date: 'HH:mm' }}</td>
                      <td>{{ ts.activity_Time.calculated_Duration}}</td>
                      <td>{{ ts.carer_Code}}</td>
                      <td>{{ ts.program.title }}</td>
                      <td>{{ ts.activity.name }}</td>
                      <td>{{ ts.bill.quantity | number: '1.2-2' }}</td>
                      <td>{{ ts.bill.bill_Rate | currency: 'AUD' }}</td>
                      <td>{{ ts.billedTo.accountNo }}</td>
                      <td>{{ ts.note }}</td>
                      <td><button class="cancel-btn" (click)="setShift(ts,i)">Cancel</button></td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>


  
  <div *ngIf="!loading && timesheets && timesheets.length == 0" class="alert alert-app-level alert-danger" style="margin:15px 0;padding:0">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <div class="alert-text">
          No Data
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading">
    <intake-no-data></intake-no-data>
  </div>

</div>



<clr-modal [(clrModalOpen)]="show" class="no-overflow">
  <h3 class="modal-title">{{ pickedAction?.title }}</h3>
  <div class="modal-body">
    <div class="col-md-12" *ngIf="pickedAction?.option == 'tclaim' ">
      <div class="row tclaim">
        <i class="material-icons"> card_travel </i>
        <span [class.pref]="!travelDefault.TravelType" class="option">Travel Between</span>
        <div class="toggle-switch">
          <input type="checkbox" id="toggle_5" [(ngModel)]="travelDefault.TravelType">
          <label for="toggle_5"></label>
        </div>
        <span [class.pref]="travelDefault.TravelType" class="option">Travel Within</span>
      </div>
      <div class="row tclaim">
        <i class="material-icons"> attach_money </i>
        <span [class.pref]="!travelDefault.ChargeType" class="option">Don't Charge Client</span>
        <div class="toggle-switch">
          <input type="checkbox" id="toggle_6" [(ngModel)]="travelDefault.ChargeType">
          <label for="toggle_6"></label>
        </div>
        <span [class.pref]="travelDefault.ChargeType" class="option">Charge Client</span>
      </div>
      <div class="row tclaim">
        <i class="material-icons"> directions_car </i>
        <span [class.pref]="!travelDefault.VehicleType" class="option">Owned Vehicle</span>
        <div class="toggle-switch">
          <input type="checkbox" id="toggle_7" [(ngModel)]="travelDefault.VehicleType">
          <label for="toggle_7"></label>
        </div>
        <span [class.pref]="travelDefault.VehicleType" class="option">Agency Vehicle</span>
      </div>
      <div class="row tclaim-var">
        <div class="form-group col-md-offset-2 col-md-4">
          <label for="">Start KM</label>
          <input type="number" [(ngModel)]="travelDefault.StartKM">
        </div>
        <div class="form-group col-md-4">
          <label for="">End KM</label>
          <input type="number" [(ngModel)]="travelDefault.EndKM">
        </div>
        <div class="form-group col-md-offset-2 col-md-8">
          <label for="">Notes</label>
          <textarea [(ngModel)]="travelDefault.Notes"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="pickedAction?.option == 'claim' ">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="">Job ID</label>
          <span>{{ pickedAction?.value.shiftbookNo }}</span>
        </div>
        <div class="form-group col-md-3">
          <label for="">Date</label>
          <span>{{ pickedAction?.value.activityDate | date:'dd/MM/yyyy'  }}</span>
        </div>
        <div class="form-group col-md-offset-1 col-md-5">
          <label>Status</label>
          <span *ngIf="pickedAction?.value.approved"><span class="badge badge-success">|</span> Approved</span>
          <span *ngIf="!(pickedAction?.value.approved)"><span class="badge badge-danger">|</span>  Unapproved</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="">Start Time</label>
          <timepicker [(ngModel)]="pickedAction.value.activity_Time.start_time" (ngModelChange)="computeTime()"></timepicker>
        </div>
        <div class="form-group col-md-3">
          <label for="">End Time</label>
          <timepicker [(ngModel)]="pickedAction.value.activityTime.end_Time" (ngModelChange)="computeTime()"></timepicker>
        </div>
        <div class="form-group col-md-offset-1 col-md-4">
          <label>Duration</label>
          <span>{{ timeDuration }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="pickedAction?.option == 'rnote' ">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">Roster Details</label>
          <textarea [(ngModel)]="rosternote" name="description" required></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="pickedAction?.option == 'opnote' ">

      <div class="form-group col-md-4">
        <label for="">Job ID</label>
        <span>{{ pickedAction?.value.shiftbookNo }}</span>
      </div>
      <div class="form-group col-md-4">
        <label for="">Recipient/Location</label>
        <span>{{ pickedAction?.value.recipient }}</span>
      </div>
      <div class="form-group col-md-12">
        <label for="">OP Details</label>
        <textarea [(ngModel)]="opnote" name="description" required></textarea>
      </div>

    </div>
    <div class="col-md-12" *ngIf="pickedAction?.option == 'casenote' ">
      <div class="form-group col-md-4">
        <label for="">Job ID</label>
        <span>{{ pickedAction?.value.shiftbookNo }}</span>
      </div>
      <div class="form-group col-md-4">
        <label for="">Recipient/Location</label>
        <span>{{ pickedAction?.value.recipient }}</span>
      </div>
      <div class="col-md-12">
        <label for="">Case Details</label>
        <textarea [(ngModel)]="casenote" name="description" required></textarea>
      </div>
    </div>
    <div class="col-md-12" *ngIf="pickedAction?.option == 'rincident'" [formGroup]="rosterIncidentForms">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="incidenttype">Incident Type</label>
          <select formControlName="incidentType">
            <option selected value=""></option>
            <option *ngFor="let type of incidentTypes">{{ type }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="">Incident Severity</label>
          <select formControlName="incidentSeverity">
            <option selected value=""></option>
            <option *ngFor="let severity of incidentSeverity">{{ severity }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">Incident Location</label>
          <select formControlName="incidentLocation">
            <option selected value=""></option>
            <option *ngFor="let location of incidentLocation | async">{{ location }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>No Recipient Involved</label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox value="option2" name="options" formControlName="boolRecipient" />
          </clr-checkbox-wrapper>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">Incident Detail</label>
          <textarea formControlName="incidentDetail" name="description" required></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="show = false">Cancel</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="cancelBookingAlertOpen">
    <h3 class="modal-title">Booking Cancellation</h3>
    <div class="modal-body">
        <div class="col-md-12" class="cancel-container">
            <h3>{{ bookingCancellationLabel }}</h3>

            <div class="form-group cancel-wrapper-data">
                <div>
                    <div class="form-inline">
                        <label for="" class="nth">Date: </label>
                        <span class="nth">{{ currentShift?.date_Value }}</span>
                    </div>
                    <div class="form-inline">
                        <label for="" class="nth">Service Type: </label>
                        <span class="nth">{{ currentShift?.activity.name }}</span>
                    </div>
                </div>
                <div>
                    <div class="form-inline">
                        <label for="" class="nth">Time: </label>
                        <span class="nth">{{ currentShift?.activity_Time.time_Value }}</span>
                    </div>
                    <div class="form-inline">
                        <label for="" class="nth">Duration: </label>
                        <span class="nth">{{ currentShift?.activity_Time.calculated_Duration }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelBookingAlertOpen = false">Close</button>
        <button type="button" class="btn btn-primary" (click)="cancelBooking()">Cancel Booking</button>
    </div>
</clr-modal>