<div nz-row>
  <div nz-row nz-col class="mrg-btm">
  
    <label style="font-size:16px; font-family:'Segoe UI'">Health Behaviors</label>
</div>
  <div nz-col class="heading-div">
    
      <label >Health Checks</label>
  </div>
</div>
<div nz-row [formGroup]="healthBehaviorForm">   

  <!-- <nz-divider nzText="General Activation Information" nzOrientation="left"></nz-divider> -->

  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Regular Health Check? </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <nz-select formControlName="hbP_HealthChecks" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
          </nz-select>
      </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Date Last Health Check? </label>
    </div>
    <div nz-col nzSpan="10" class="input">     
        <input type="text" formControlName="hbP_HealthChecks_Last" nz-input nzSize="default" >
    </div>
</div>

<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Health Screen Last 2 Years? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
    <textarea rows="6" nz-input formControlName="hbP_HealthChecks_List" style="width: 100%;" class="input"></textarea>
  </div>
</div>

<div nz-row class="row">
<div nz-col class="heading-div">
  
    <label >Smoking</label>
</div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Smoking? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Smoking" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of smoking" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">if quit, record when? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
    <input type="text" formControlName="hbP_Smoking_Quit" nz-input nzSize="default" >
     
  </div>
</div>
<div nz-col class="heading-div">
  
  <label >Alcohol</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">How often? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Alchohol" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of alcohol" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">How many typical consumed? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
    
      <input type="text" formControlName="hbP_Alchohol_NoDrinks" nz-input nzSize="default" >
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">How often more than 6 Std drinks? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Alchohol_BingeNo" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of alcohol" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-col class="heading-div">
  
  <label >Malnutrition</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Lost Weight Without Trying? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Malnutrition_LostWeight" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of yesNo" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Eating Poorly due to Decreased Appetite? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Malnutrition_PoorEating" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of yesNo" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Weight Lost? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Malnutrition_LostWeightAmount" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of weightlost" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Malnutrition Score? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
    
      <input type="text" formControlName="hbP_Malnutrition_Score" nz-input nzSize="default" >
  </div>
</div>
<div nz-col class="heading-div">
  
  <label >Hydration</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Regularly drinks 2 Litre a Day? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Hydration_AdequateFluid" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">How Fluid Intake Recently Decreased? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Hydration_DecreasedFluid" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-col class="heading-div">
  
  <label >Wight and Physical Activity</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Weight? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_Weight" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of weight" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Does Daily 30 min Moderate Activity? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_PhysicalActivity" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Hardest Activity for 2 min in Last 4 Weeks? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="hbP_PhysicalFitness" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of fitness" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Comments </label>
  </div>
  <div nz-col nzSpan="10" class="input">
    <textarea rows="6" nz-input formControlName="hbP_Comments" style="width: 100%;" class="input"></textarea>
    
  </div>
</div>
</div>
<!-- 
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Autocreate Rosters</label>
      </div>
      <div nz-col nzSpan="10" >
          <label nz-checkbox formControlName="acceptsReferrals"></label>
      </div>
  </div>
  
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Last Activated </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <input type="text" formControlName="admissionDate" nz-input nzSize="default" readonly>
      </div>
  </div>
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Last Activated by</label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <input type="text" formControlName="admittedBy" nz-input nzSize="default" readonly>
         
      </div>
  </div>
   -->



