<div nz-row>
  <div nz-row nz-col class="mrg-btm">
  
    <label style="font-size:16px; font-family:'Segoe UI'">Mental Health </label>
</div>
  <div nz-col class="heading-div">
    
      <label >K 10 Depression Scale</label>
  </div>
</div>
<div nz-row [formGroup]="mentalHealthForm">   

  <!-- <nz-divider nzText="General Activation Information" nzOrientation="left"></nz-divider> -->

  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Tired out with no good reason? </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <nz-select formControlName="pP_K10_1" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
          </nz-select>
      </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Nervous? </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="pP_K10_2" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
</div>

<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">So nervous nothing could calm person down? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_3" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Hopeless </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_4" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Restless or Fidgety? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_5" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">So restless you could not sit still? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_6" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Depressed? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_7" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Feeling that everything was an effort? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_8" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">so sad that could not be cheered up by anything? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_9" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Worthless? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_K10_10" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of timeReasons" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
    <label>Overall K 10 Score</label>
  </div>
  <div nz-col nzSpan="10" class="input">
    <input nz-input formControlName="pP_K10_Score">
  </div>
</div>
<div nz-row class="row">
  <div nz-col class="heading-div">      
     <label>Other</label>
  </div>
 
</div>

<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Difficulty Sleeping? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_SleepingDifficulty" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Comments? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
        <textarea rows="6" nz-input formControlName="pP_SleepingDifficultyComments" style="width: 100%;" class="input"></textarea>
  </div>
</div>

<div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Support Availability? </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="pP_PersonalSupport" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Comments? </label>
    </div>
    <div nz-col nzSpan="10" class="input">
          <textarea rows="6" nz-input formControlName="pP_PersonalSupportComments" style="width: 100%;" class="input"></textarea>
    </div>
  </div>
<div nz-row class="row">
  <div nz-col class="heading-div">      
     <label>Friends And Personal</label>
  </div>
 
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Keeping Friendship? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_Relationships_KeepUp" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of friendship" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Problem with Others? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="pP_Relationships_Problem" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of problems" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Comments? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
       <textarea rows="6" nz-input formControlName="pP_RelationshipsComments" style="width: 100%;" class="input"></textarea>
  </div>
</div>

  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Provider Mistrust</label>
      </div>
      <div nz-col nzSpan="10" >
        
          <nz-select formControlName="pP_Relationships_SP" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of surity" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
      </div>
  </div>
  
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Comments? </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <textarea rows="6" nz-input formControlName="pP_Relationships_SPComments" style="width: 100%;" class="input"></textarea>
    </div>
  </div>
  



</div>