<div class="col-md-12" style="margin-bottom:10px">
    <div class="col-md-12">
        <h5>Permanently Rostered Staff</h5>
        <table-nested>
            <div class="table-title header-title" style="padding-right: 17px">
                <div>Start Time</div>
                <div>Duration</div>
                <div>Activity</div>
                <div>Staff</div>
                <div>Analysis</div>
                <div>Program</div>
                <div>Dataset Type</div>
                <div>Service Cost</div>
            </div>
            <div class="table-toggle-container">                
                <ng-container *ngFor="let perm of result?.permStaff">
                        <table-body [title]="perm.key">
                            <div class="table-toggle-wrapper" *ngFor="let value of perm.value">
                                <div>{{ value.StartTime }}</div>
                                <div>{{ value.Duration }}</div>
                                <div>{{ value.Activity }}</div>
                                <div>{{ value.Staff }}</div>
                                <div>{{ value.Analysis }}</div>
                                <div>{{ value.Program }}</div>
                                <div>{{ value.DatasetType }}</div>
                                <div>{{ value.ServiceCost }}</div>
                            </div>
                        </table-body>
                </ng-container>            
            </div>
        </table-nested>
    </div>

   <div class="col-md-12">
        <h5>Rostered Staff in Period</h5>
        <div class="table-mark" *ngIf="result?.rosterStaff.length > 0">
                <div class="table-title">
                    <div>Date</div>
                    <div>Start Time</div>
                    <div>Staff</div>
                    <div>Duration</div>
                    <div>Activity</div>
                    <div>Anaylsis</div>
                    <div>Program</div>
                    <div>Dataset Type</div>
                    <div>Service Cost</div>
                </div>
                <div class="table-body-container">
                    <div class="table-data" *ngFor="let worker of result?.rosterStaff">
                        <div>{{ worker?.date }}</div>
                        <div>{{ worker?.startTime }}</div>
                        <div>{{ worker?.staff }}</div>
                        <div>{{ worker?.duration }}</div>
                        <div>{{ worker?.activity }}</div>
                        <div>{{ worker?.analysis }}</div>
                        <div>{{ worker?.program }}</div>
                        <div>{{ worker?.dataSetType }}</div>
                        <div>{{ worker?.serviceCost }}</div>
                    </div>
                </div>       
            </div>
   </div>
</div>
