<div class="col-md-6">

    <h5>Approved Programs</h5>
    <div class="table-mark" *ngIf="result?.approvedPrograms.length > 0">
        <div class="table-title">
            <div>Funding Source</div>
            <div>Program</div>
            <div>Status</div>
            <div>Coordinator</div>
        </div>
        <div class="table-body">
            <div class="table-data" *ngFor="let program of result?.approvedPrograms">
                <div>{{ program?.type }}</div>
                <div>{{ program?.program }}</div>
                <div>{{ program?.status }}</div>
                <div>{{ program?.coordinator }}</div>
            </div>
        </div>       
    </div>   
    <intake-no-data [loading]="loading" [data]="result?.approvedPrograms.length"></intake-no-data>
    
    <h5>Approved Services</h5>
    <div class="table-mark" *ngIf="result?.approvedServices.length > 0">
        <div class="table-title">
            <div>Activity</div>
            <div>Funded Under</div>
        </div>
        <div class="table-body">
            <div class="table-data" *ngFor="let service of result?.approvedServices">
                <div>{{ service?.serviceType }}</div>
                <div>{{ service?.serviceProgram }}</div>
            </div>
        </div>
    </div>
    <intake-no-data [loading]="loading" [data]="result?.approvedServices.length"></intake-no-data>
</div>

<div class="col-md-6">
    <h5>Current Service Plans</h5>
    <div class="table-frame" *ngIf="result?.servicePlan.length > 0">
        <div class="shadow" *ngFor="let plan of result?.servicePlan">
            <div class="title">{{ plan.planCreator | uppercase }}</div>
            <div class="body">
                <div class="date">
                    <div>Start Date: {{ plan.planStartDate }}</div>
                    <div>End Date: {{ plan.planEndDate }}</div>
                    <div>Co-Pay Amount: {{ plan.planCoPayAmount }}</div>
                </div>
                <div class="detail">{{ plan.planDetail }}</div>
            </div>
        </div>        
    </div>    
    <intake-no-data [loading]="loading" [data]="result?.servicePlan.length"></intake-no-data>    
</div>
