<ng-container>
    <div class="col-md-4">
        <div style="height: 13.9rem; overflow-y: auto;">
                <div class="col-md-12">
                        <div class="flex-box">
                                <div class="icon">
                                    <i class="material-icons"> location_on </i>
                                    <div>Address</div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li *ngFor="let address of results?.addresses">
                                            <div>
                                                <div>{{ address.address1 }} {{ address.suburb }} {{ address.postCode }}</div>
                                                <div class="type"><span>{{ address.description }}</span></div>
                                                <div class="primary" *ngIf="address.primaryAddress"><span class="badge badge-blue">|</span></div>
                                            </div>
                                        </li>             
                                    </ul>
                                </div>
                            </div>
                </div>
                <div class="col-md-12">
                        <div class="flex-box">
                                <div class="icon">
                                        <i class="material-icons"> perm_contact_calendar </i>
                                        <div>Contacts</div>
                                    </div>
                            <div class="content">
                                    <ul>
                                        <li *ngFor="let contact of results?.contacts">
                                            <div>
                                                <div>{{ contact.detail }}</div>
                                                <div class="type"><span>{{ contact.type }}</span></div>
                                                <div class="primary" *ngIf="contact.primaryPhone"><span class="badge badge-blue">|</span></div>
                                            </div>
                                        </li>                                   
                                    </ul>
                            </div>
                        </div>    
                </div>  
        </div> 
    </div>

    <div class="col-md-4">
        <div class="col-md-12">
            <div class="flex-box">           
                <div class="note-area">
                    <label for="">Roster Alerts</label>
                    <textarea readonly>{{ results?.alerts.notes }}</textarea>
                </div>                
            </div>
        </div>
        <div class="col-md-12">
            <div class="flex-box">           
                <div class="note-area">
                    <label for="">Runsheet Alerts</label>
                    <textarea readonly>{{ results?.alerts.specialConsiderations }}</textarea>
                </div>                
            </div>
        </div>
        <div class="col-md-12">
            <div class="flex-box">           
                <div class="note-area">
                    <label for="">Contact Issues</label>
                    <textarea readonly>{{ results?.alerts.contactIssues }}</textarea>
                </div>                
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="col-md-12">
            <div class="flex-box">           
                <div class="note-area">
                    <label for="">Service Tasklist</label>
                    <ul>
                        <li *ngFor="let task of results?.serviceTaskList">{{ task.serviceType }}</li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
    
</ng-container>