<div style="margin-top:10px">
    <div class="col-md-2">
        <button class="add"><i class="material-icons insert">add</i> Add Case Note</button>
    </div>
    <div class="col-md-8">
        <div class="table-frame" *ngIf="result?.length > 0" >
            <div class="shadow" *ngFor="let notes of result">
                <div class="title">{{ notes.creator | uppercase}}</div>
                <div class="body">
                    <div class="date">
                        <div>{{ notes.detailDate }}</div>
                        <div>{{ notes.detailTime }}</div>
                    </div>
                    <div class="detail">
                        {{ notes.detail }}
                    </div>
                </div>
            </div>
        </div>
        <intake-no-data [data]="result?.length"></intake-no-data>    
    </div>
</div>

