﻿<html>
<head>
    <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <table class="table table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Items)
            {
                <tr class="item-group">
                    <td colspan="100%">
                        @group.GroupName
                    </td>
                </tr>
                @foreach (var item in group.Items)
                {
                    <tr class="item">
                        <td>
                            @item.Column1
                        </td>
                        <td>
                            @item.Column2
                        </td>
                        <td>
                            @item.Column3
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>