@model Adamas.Model.Report.StaffListingModel

<html>
<head>
     <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/invoice.css" type="text/css" rel="stylesheet" />

</head>
<body>
    @* <ul>
        <li>@Model.CompanyName</li>
    </ul> *@

    <h2>Staff Listing</h2>

    <div>
        <table class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        DMIN
                    </th>
                    <th>
                        DMAX
                    </th>
                    <th>
                        WMIN
                    </th>
                    <th>
                        WMAX
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Data)
                {
                    <tr class="item-group">
                        <td>
                            @group.Name
                        </td>
                        <td>
                            @group.StartDate
                        </td>
                        <td>
                            @group.Phone
                        </td>
                        <td>
                            @group.Address
                        </td>
                        <td>
                            @group.DMin
                        </td>
                        <td>
                            @group.DMax
                        </td>
                        <td>
                            @group.WMin
                        </td>
                        <td>
                            @group.WMax
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
