.weekend{
    background: #ffdfdf;
}
input{
    text-align: right;
}
h4{
    text-align: center;
    margin: 0;
}
timepicker{
    width: 2.5rem;
}
clr-radio-wrapper.week-option{
    position: absolute;
    left: 5px;
}