<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'">
        <h3 class="modal-title">Edit Quote Line Details</h3>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="display-table">
                        <div [formGroup]="quoteDetailsGroup">
                            <div><label for="">Charge Type:</label></div>
                            <div>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio [value]="1" formControlName="chargeType" />
                                    <label>Service</label>
                                </clr-radio-wrapper>                     
                            </div>
                            <div>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio [value]="2" formControlName="chargeType"/>
                                    <label>Item</label>
                                </clr-radio-wrapper>
                            </div>
                            <div>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio [value]="3" formControlName="chargeType"/>
                                    <label>Admin Charge</label>
                                </clr-radio-wrapper>
                            </div>
                            <div>
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio [value]="4" formControlName="chargeType"/>
                                    <label>Package/Case Management</label>
                                </clr-radio-wrapper>
                            </div>
                        </div>              
                    </div>
                </div>
                <div class="col-md-8" [formGroup]="quoteDetailsGroup" *ngIf="quoteDetailsGroup.get('chargeType').value">
                    <div class="col-md-offset-1 col-md-9">
                        <div class="form-inline">
                            <label for="" class="nth-20">Item Code</label>
                            <select-custom class="nth-50" *ngIf="itemCodeList.length > 0" formControlName="itemCode" [lists]="itemCodeList"></select-custom>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-9">
                        <div class="form-inline">
                            <label for="" class="nth-20">Strategy</label>
                            <select formControlName="strategy" class="nth-50">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-9">              
                        <div class="form-inline">
                            <label for="" class="nth-20">Display Text</label>
                            <input type="text" class="nth-50" formControlName="displayText">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-9" *ngIf="quoteDetailsGroup.get('itemCode').value">
                    <div class="display-table space-bottom">
                            <div [formGroup]="quoteDetailsGroup">
                                <div><label for="">Roster:</label></div>
                                <div>
                                    <clr-radio-wrapper>
                                        <input type="radio" clrRadio  [value]="'WEEKLY'" formControlName="frequency" />
                                        <label>Weekly</label>
                                    </clr-radio-wrapper>                     
                                </div>
                                <div>
                                    <clr-radio-wrapper>
                                        <input type="radio" clrRadio [value]="'FORTNIGHTLY'" formControlName="frequency" />
                                        <label>Fortnightly</label>
                                    </clr-radio-wrapper>
                                </div>
                                <div>
                                    <clr-radio-wrapper>
                                        <input type="radio" clrRadio [value]="'MONTHLY'" formControlName="frequency" />
                                        <label>Monthly</label>
                                    </clr-radio-wrapper>
                                </div>
                                <div>
                                    <clr-radio-wrapper>
                                        <input type="radio" clrRadio [value]="'DAILY'" formControlName="frequency" />
                                        <label>None</label>
                                    </clr-radio-wrapper>
                                </div>
                            </div>              
                        </div>               
                    <div class="display-table space-bottom" style="font-size: 11px;">
                        <div>
                            <ng-container *ngIf="!(quoteDetailsGroup.get('frequency').value == 'DAILY')" [formGroup]="quoteDetailsGroup">
                                    <div formArrayName="timeSlots" *ngFor="let slot of quoteDetailsGroup.get('timeSlots')['controls']; let i = index;">
                                        <h4>WEEK {{ i + 1}}</h4>
                                        <div class="display-table minimize" [formGroupName]="i">
                                                <div formGroupName="monday">
                                                    <div>M</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="tuesday">
                                                    <div>T</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="wednesday">
                                                    <div>W</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="thursday">
                                                    <div>Th</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="friday">
                                                    <div>F</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="saturday" class="weekend">
                                                    <div>Sa</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                                <div formGroupName="sunday" class="weekend">
                                                    <div>Su</div>
                                                    <div><timepicker [interval]="5" formControlName="time"></timepicker></div>
                                                    <div><input type="number" formControlName="quantity"></div>
                                                </div>
                                            </div>
                                    </div>
                                </ng-container>
                        </div>
                    </div>
         
                    <div class="col-md-8">
                        <div class="display-table" [formGroup]="quoteDetailsGroup">
                            <div>
                                <div><input type="number" formControlName="quantity"></div>
                                <div>
                                    <select>
                                        <option value="">SERVICE</option>
                                    </select>
                                </div>
                                <div>
                                    <select>
                                        <option value="">MONTHLY</option>
                                    </select>
                                </div>
                                <div>X</div>
                                <div><input type="text" formControlName="lengthInWeeks"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="display-table" [formGroup]="quoteDetailsGroup">
                            <div>
                                <div>
                                    <clr-radio-wrapper class="week-option">
                                        <input type="radio" clrRadio value="option1" name="options" />
                                        <label></label>
                                    </clr-radio-wrapper>
                                </div>
                                <div><input type="text" formControlName="rate"></div>
                                <div>Min:</div>
                                <div>GST</div>
                                <div><input type="number" ></div>
                            </div>
                        </div>
                        <div class="display-table" [formGroup]="quoteDetailsGroup">
                            <div>
                                <div>
                                    <clr-radio-wrapper class="week-option">
                                        <input type="radio" clrRadio value="option1" name="options" />
                                        <label></label>
                                    </clr-radio-wrapper>
                                </div>
                                <div><input type="text"></div>
                                <div>% of Quote Value</div>
                            </div>
                        </div>
                        <div class="display-table space-bottom" [formGroup]="quoteDetailsGroup">
                            <div>
                                <div>
                                    <clr-radio-wrapper class="week-option">
                                        <input type="radio" clrRadio value="option1" name="options" />
                                        <label></label>
                                    </clr-radio-wrapper>
                                </div>
                                <div><input type="text" formControlName="budgetPercentage"></div>
                                <div>% of Quote Budget</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Notes</label>
                            <textarea style="height:3rem"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" *ngIf="quoteDetailsGroup.get('itemCode').value" [formGroup]="quoteDetailsGroup">
                   <div style="margin-top:2rem">
                        <div *ngIf="!(quoteDetailsGroup.get('frequency').value == 'DAILY')">
                            <select>
                                <option [value]=""></option>
                                <option *ngFor="let d of cycles" [value]="d">{{d}}</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" formControlName="quoteQuantity">
                        </div>
                        <div>
                            <input type="text" formControlName="total">
                        </div>
                   </div>
                </div>
            
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </clr-modal>