<nz-modal [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()" nzWidth="100%"
    [nzStyle]="{ top: '10px' }">
    <div style="padding:8px; height: 780px;">
        <div nz-row>
            <div nz-col>
                <!-- <button class="headers-botton recordHeaderMainButtons" (click)="enterFullscreen()"> <i nz-icon nzType="plus"></i> Add Award Ruleset </button> -->
                <button class="headers-botton recordHeaderMainButtons"> <i nz-icon nzType="plus"></i> Add Award Ruleset
                </button>
                <!-- <label nz-checkbox id="columnstoSee" style="padding-left: 30%;"> Columns to See
                </label> -->
                <!-- <div nz-col nzSpan="8"><label nz-checkbox [(ngModel)]="columnstoSee"
                    [ngModelOptions]="{standalone: true}">Columns to See</label>
                </div> -->
                <button nz-button nzType="primary" style="float: right;"> <i nz-icon nzType="file-pdf"></i> Print
                </button>
                <!-- <div>
                            <div class="example-container" style="margin-top:1rem">
                                <ul
                                    cdkDropList
                                    cdkDropListOrientation="horizontal"
                                    #todoList="cdkDropList"
                                    [cdkDropListData]="dragOrigin"
                                    [cdkDropListConnectedTo]="[doneList]"
                                    class="drag-list"
                                    (cdkDropListDropped)="drop($event)">
                                    
                                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                                        <div>
                                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzLoading]="loading" [nzData]="awardListData">
                    <thead>
                        <tr>
                            <th class="left">Code</th>
                            <th class="left">Description</th>
                            <th class="left">Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data;let i = index;">
                            <td class="left">{{ data.code }} </td>
                            <td class="left">{{ data.description }} </td>
                            <td class="left">{{ data.category }} </td>
                            <td *ngIf="!data.is_deleted">
                                <a (click)="showEditModal(i)">Update</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="delete(data)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>
</nz-modal>