<div style="padding:8px;">


    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
            <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
            <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
            <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-table #basicTable nzBordered [nzShowPagination]="false" [nzPageSize]="20" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th nzLeft>Title</th>
                        <th nzLeft>Roaster Group</th>
                        <th nzLeft>Sub Group</th>
                        <th nzLeft>DataSet</th>
                        <th nzLeft>DataSet Code</th>
                        <th nzLeft>Outlet ID</th>
                        <th nzLeft>DataSet Group</th>
                        <th nzLeft>NDIA ID</th>
                        <th nzLeft>Accounting Code</th>
                        <th nzLeft>Bill Amount</th>
                        <th nzLeft>Bill Unit</th>
                        <th nzLeft>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;" [contextMenu]="basicMenu" [contextMenuSubject]="data" [class.highlighted]="isSelected(data)"  
                    (click)="onRowClick($event, data)" [class.highlight]="currentIndex === i">
                        <td nzBreakWord>{{data.title}}</td>
                        <td nzBreakWord>{{data.rosterGroupD}}</td>
                        <td nzBreakWord>{{data.subGroup}}</td>
                        <td nzBreakWord>{{data.dataSet}}</td>
                        <td nzBreakWord>{{data.datasetCode}}</td>
                        <td nzBreakWord>{{data.outletID}}</td>
                        <td nzBreakWord>{{data.datasetGroup}}</td>
                        <td nzBreakWord>{{data.ndiaid}}</td>
                        <td nzBreakWord>{{data.accountingCode}}</td>
                        <td nzBreakWord>{{data.billAmount}}</td>
                        <td nzBreakWord>{{data.billUnit}}</td>
                        <td nzBreakWord>{{data.endDate | date: 'dd/MM/y' }}</td>
                        <td nzBreakWord><a (click)="showEditModal(data.row_num)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Item Consumable List ?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <nz-modal [nzWidth]="1050" [nzStyle]="{ top: '20px' }" [nzBodyStyle]="{'height':'80vh'}" [nzBodyStyle]="{'padding':'0px 24px'}" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
            <div class="">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'">
                    <nz-tab nzTitle="General" (nzClick)="view(0)"></nz-tab>
                    <nz-tab nzTitle="DataSet" (nzClick)="view(1)"></nz-tab>
                    <nz-tab nzTitle="Roster" (nzClick)="view(3)"></nz-tab>
                    <nz-tab nzTitle="Timesheet" (nzClick)="view(4)"></nz-tab>
                    <nz-tab nzTitle="Pricing & 3rd Party Acc. Info" (nzClick)="view(2)"></nz-tab>
                    <nz-tab nzTitle="MTA" (nzClick)="view(6)"></nz-tab>
                    <nz-tab nzTitle="Travel" (nzClick)="view(9)"></nz-tab>
                    <nz-tab nzTitle="Award" (nzClick)="view(10)"></nz-tab>
                    <nz-tab nzTitle="Programs" (nzClick)="view(5)"></nz-tab>
                    <nz-tab nzTitle="Comp" (nzClick)="view(7)"></nz-tab>
                    <nz-tab nzTitle="ChkLst" (nzClick)="view(8)"></nz-tab>
                </nz-tabset>
                <div *ngIf="inputForm" [formGroup]="inputForm" id="main-wrapper">
                    <div *ngIf="current == 0">
                        <div class="mrg-btm">
                            <div nz-col nzSpan="24" class="mrg-btm">
                                <div nz-col nzSpan="24" class="mrg-btm">
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Title : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="16" class="text-right pad-r-5"> 
                                            <input nz-input [nzSize]="'small'"  formControlName="title" style="text-transform: uppercase;"  />
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Billing Text : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="20" class="text-right pad-r-5"> 
                                            <textarea rows="2" nz-input formControlName="billText" style="text-transform: uppercase;" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm">    
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Main Group : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="rosterGroup"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let main of mainGroupList | keyvalue" [nzValue]="main.key" [nzLabel]="main.value"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Sub Group : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="10" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="minorGroup" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let subGroup of subGroupList" [nzLabel]="subGroup" [nzValue]="subGroup"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Status : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="10" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="status"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let st of status" [nzLabel]="st" [nzValue]="st"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                                <label>Charge Rate 1 : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                            </div>
                                            <div nz-col nzSpan="6" class="text-right pad-r-5"> 
                                                <input nz-input  [nzSize]="'small'" formControlName="amount" />
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Unit : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="unit"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let unit of units" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Life Cycle Event : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="8" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="lifecycle"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let clycle of lifeCycleList" [nzLabel]="clycle.description" [nzValue]="clycle.description"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Budget Group : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="8" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="budgetGroup"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let budget of budgetGroupList" [nzLabel]="budget.description" [nzValue]="budget.description"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Dicipline : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="6" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="dataSet" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let dicipline of diciplineList" [nzLabel]="dicipline.description" [nzValue]="dicipline.description"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label>Color Code : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="4" class="text-right pad-r-5"> 
                                            <input nz-input [nzSize]="'small'"  formControlName="colorCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="current == 1">
                        <div nz-row nzGutter="24" class="mrg-btm">
                            <div nz-col nzSpan="24" class="mrg-btm">
                                <div nz-col nzSpan="24" class="mrg-btm">
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> DataSet : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="4" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="iT_Dataset" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let dataset of datasetList" [nzLabel]="dataset" [nzValue]="dataset"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" *ngIf="inputForm.get('iT_Dataset').value != 'NDIS'">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> Group : <span class="redColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="8" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="datasetGroup"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let group of dataset_group" [nzLabel]="group" [nzValue]="group"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div *ngIf="inputForm.get('iT_Dataset').value != 'NDIS'" nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> Type : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="haccType"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let type of dataset_type" [nzLabel]="type" [nzValue]="type"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'" nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> Item : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="haccType"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let item of ndiaItemss" [nzLabel]="item" [nzValue]="item"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'" nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> NDIA ID : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="8" class="text-right pad-r-5"> 
                                            <input nz-input [nzSize]="'small'"  formControlName="colorCode" /> 
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="inputForm.get('iT_Dataset').value == 'DEX'" nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label> DEX ID : <span class="whiteColor"><i nz-icon nzType="check" nzTheme="outline"></i></span></label>
                                        </div>
                                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                                            <input nz-input [nzSize]="'small'"  formControlName="colorCode" /> 
                                        </div> 
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            price Type :
                                        </div>
                                        <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiaPriceType"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let khali of emptyList" [nzLabel]="khali" [nzValue]="khali"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                                            NDIA Reason Code if Applicable :
                                        </div>
                                        <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiaClaimType"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let khali of emptyList" [nzLabel]="khali" [nzValue]="khali"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'">
                                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                                            Activity Code For Non Labour Travel KM :
                                        </div>
                                        <div nz-col nzSpan="12"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ALT_NDIANonLabTravelKmActivity"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let codes of travelandAlernatelist" [nzLabel]="codes" [nzValue]="codes"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                        </div>
                                        <div nz-col nzSpan="20" class="pad-r-5"> 
                                            <label nz-checkbox  class="mrg-btm" formControlName="ndiaTravel"></label> NDIA Travel Before KM Claiming Applicable 
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" style="display:none;">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            Level 2 :
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiA_LEVEL2"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ndia of ndiaItems" [nzLabel]="ndia" [nzValue]="ndia"></nz-option>
                                            </nz-select> 
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" style="display:none;">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            Level 3 :
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiA_LEVEL3"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ndia of ndiaItems" [nzLabel]="ndia" [nzValue]="ndia"></nz-option>
                                            </nz-select> 
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm" *ngIf="inputForm.get('iT_Dataset').value == 'NDIS'">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            Level 4 :
                                        </div>
                                        <div nz-col nzSpan="12" class="text-right pad-r-5"> 
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiA_LEVEL4"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ndia of ndiaItems" [nzLabel]="ndia" [nzValue]="ndia"></nz-option>
                                            </nz-select> 
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div *ngIf="current == 2">
                        
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Accounting Code : </label>
                            </div>
                            <div nz-col nzSpan="10">
                                <input nz-col nzSpan="16" nz-input [nzSize]="'small'" placeholder=""  formControlName="accountingIdentifier" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Gl Revenue Account 1: </label>
                            </div>
                            <div nz-col nzSpan="7">
                                <input nz-col nzSpan="16" nz-input [nzSize]="'small'"  formControlName="glRevenue" />
                            </div>
                            <div nz-col nzSpan="2" class="text-center">
                                <label for=""> 2: </label>
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-col nzSpan="16" nz-input [nzSize]="'small'"  formControlName="job" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">GL Cost Account : </label>
                            </div>
                            <div nz-col nzSpan="7">
                                <input nz-col nzSpan="16" nz-input [nzSize]="'small'"  formControlName="glCost" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Budget U.O.M : </label>
                            </div>
                            <div nz-col nzSpan="7">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="unitCostUOM"  nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let uom of budgetUomList" [nzLabel]="uom" [nzValue]="uom"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Budget Unit Cost : </label>
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-col nzSpan="16" nz-input [nzSize]="'small'"  formControlName="unitCost" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">CDC/NDIA Group: </label>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ndiA_ID"  nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let nida of ndiaList" [nzLabel]="nida" [nzValue]="nida"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Exclude From Export: </label>
                            </div>
                            <div nz-col nzSpan="2">
                                <label nz-checkbox  class="mrg-btm" formControlName="excludeFromPayExport"></label>
                            </div>
                            <div nz-col nzSpan="7">
                                Exclude From Usage And Package Statement :
                            </div>
                            <div nz-col nzSpan="2">
                                <label nz-checkbox  formControlName="excludeFromUsageStatements"> </label>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Commercial : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input  [nzSize]="'small'" placeholder=""  formControlName="amount" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Level 1 : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input [nzSize]="'small'" placeholder="$0.00"  formControlName="price2" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Level 2 : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input [nzSize]="'small'" placeholder="$0.00"  formControlName="price3" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Level 3 : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input [nzSize]="'small'" placeholder="$0.00"  formControlName="price4" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Level 4 : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input [nzSize]="'small'" placeholder="$0.00"  formControlName="price5" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Level 5 : </label>
                            </div>
                            <div nz-col nzSpan="3">
                                <input  nz-input [nzSize]="'small'" placeholder="$0.00"  formControlName="price6" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label for="">Minimum Charge Rate : </label>
                            </div>
                            <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                                <input nz-input [nzSize]="'small'" formControlName="minChargeRate" />
                            </div>
                        </div>
                    </div>
                    <div *ngIf="current == 3">
                        <div nz-row nzGutter=24>
                            <div nz-col nzSpan="24" class="mrg-btm">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-left pad-l-10">
                                        <label for="Limit To">Limit To :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        Mon <label nz-checkbox  formControlName="noMonday"></label>
                                        Tue <label nz-checkbox  formControlName="noTuesday"></label>
                                        Wed <label nz-checkbox  formControlName="noWednesday"></label>
                                        Thu <label nz-checkbox  formControlName="noThursday"></label>
                                        Fri <label nz-checkbox  formControlName="noFriday"></label>
                                        Sat <label nz-checkbox  formControlName="noSaturday"></label>
                                        Sun <label nz-checkbox  formControlName="noSunday"></label>
                                        Pub Hol <label nz-checkbox  formControlName="noPubHol"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="pad-l-10 pad-r-5">
                                        <label for="Between">Between :</label>
                                    </div>
                                    <div nz-col nzSpan="2" class="text-center">
                                        <nz-select 	[nzDropdownMatchSelectWidth]="false" formControlName="startTimeLimit" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let time of timesteps" [nzLabel]="time" [nzValue]="time"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="1" class="text-center">
                                        <label> & </label>
                                    </div>
                                    <div nz-col nzSpan="2" class="text-center">
                                        <nz-select  [nzDropdownMatchSelectWidth]="false" formControlName="endTimeLimit" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let time of timesteps" [nzLabel]="time" [nzValue]="time"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="3" class="text-center">
                                        <label>Min Duration:</label>
                                    </div>
                                    <div nz-col nzSpan="1">
                                        <input nz-input [nzSize]="'small'" nz-value="0" formControlName="minDurtn" />
                                    </div>
                                    <div nz-col nzSpan="3" class="text-center">
                                        <label>Max Duration:</label>
                                    </div>
                                    <div nz-col nzSpan="1">
                                        <input nz-input [nzSize]="'small'" nz-value="0" formControlName="maxDurtn" />
                                    </div>
                                    <div nz-col nzSpan="3" class="text-center">
                                        <label>Force Roasted Time: </label>
                                    </div>
                                    <div nz-col nzSpan="1"> 
                                        <input nz-input [nzSize]="'small'" nz-value="0" formControlName="fixedTime" />
                                    </div>
                                </div>    
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-left pad-l-10">
                                        <label for="Cannot Change">Cannot Change :</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <div>    
                                            <label nz-checkbox formControlName="noChangeDate">Rosted Day</label>
                                        </div>
                                        <div>
                                            <label nz-checkbox formControlName="noChangeTime">Rosted Time</label>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <span>Time Must Be withIn:</span>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <input nz-input [nzSize]="'small'" nz-value="0" formControlName="timeChangeLimit"/>
                                    </div> 
                                    <div nz-col nzSpan="6" style="text-align: center;">
                                        <span>Minutes of Orignal Start</span>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-left pad-l-10">
                                        Can Conflict:
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <label nz-checkbox formControlName="excludeFromConflicts"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-left pad-l-10">
                                        <label>Public Holiday Treatment:</label>
                                    </div>
                                    <div nz-col nzSpan="6" class="text-center">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="PHAction" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let address of addressTypes" [nzLabel]="address.description" [nzValue]="address.description"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="6" class="text-center">
                                        <label>Public Holiday Code:</label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="ALT_PHActivityCode" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let address of addressTypes" [nzLabel]="address.description" [nzValue]="address.description"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-left pad-l-10">
                                        <label>Exculde From Recipient <br> Roster Print:</label>
                                    </div>
                                    <div nz-col nzSpan="1">
                                        <br>
                                        <label nz-checkbox formControlName="noChangeDate"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm" style="padding:10px">
                                    <div class="custom-field">
                                        <h1>
                                            <span>
                                                Recipient Phone and Address Treatment
                                            </span>
                                        </h1>
                                        <div nz-col nzSpan="24" class="mrg-btm">
                                            <label nz-checkbox formControlName="excludeFromConflicts">Auto Include Recipient Phone and Address In Roster Notes</label>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <label for="">Address To Include: </label>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="defaultAddress" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let address of addressTypes" [nzLabel]="address.description" [nzValue]="address.description"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div nz-col nzSpan="6" class="text-center">
                                            <label for=""> Phone To Include: </label>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="defaultPhone" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let contact of contactTypes" [nzLabel]="contact.description" [nzValue]="contact.description"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>    
                                </div>
                                <div nz-row nzJustify class="mrg-btm" style="padding:10px;">
                                    <section class="custom-field">
                                        <h1> <span> Auto Shift Notes / Instructions </span> </h1>
                                        <div nz-col nzSpan="1">
                                            <label nz-checkbox formControlName="autoActivityNotes"></label>
                                        </div>
                                        <div nz-col nzSpan="11">
                                            <label for=""> : Auto Display Notes After Service Creation </label>
                                        </div>
                                        <div nz-col nzSpan="1">
                                            <label nz-checkbox  formControlName="jobSheetPrompt"> </label>
                                        </div>
                                        <div nz-col nzSpan="9">
                                            : Prompt For Job Sheet Print 
                                        </div>
                                        <div class="" nz-col nzSpan="24">
                                            <textarea rows="3" nz-input formControlName="activityNotes"></textarea>
                                        </div>
                                    </section>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div *ngIf="current == 4">
                        <div nz-row nzGutter="24" class="mrg-btm">
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    Auto Approve:
                                </div>
                                <div nz-col nzSpan="2" class=""> 
                                    <label nz-checkbox  formControlName="autoApprove"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="current == 5">
                        <div nz-row nzGutter=24>
                            
                            <div nz-col nzSpan="8">
                                <div nz-col nzSpan="12"><button (click)="selectProgram()" nzSize="small" style="background-color:#87d068;color:white;" class="btn-staff" nz-button nzType="success">Select All </button></div>
                                <div nz-col nzSpan="12"><button (click)="clearPrograms()" nzSize="small" class="btn-staff" nz-button nzType="danger">Unselect All </button></div>
                            </div>
                            <div nz-col nzSpan="16">
                                <div class="staff-wrapper" style="height: 20rem;
                                width: 100%;
                                overflow: auto;
                                padding: .5rem 1rem;
                                border: 1px solid #e9e9e9;
                                border-radius: 3px;">
                                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                                    <div nz-row>
                                        <div nz-col nzSpan="24" *ngFor="let prog of programz">
                                            <label nz-checkbox [nzValue]="prog.name" [(ngModel)]="prog.checked" [ngModelOptions]="{standalone: true}">{{ prog.name }}</label>
                                        </div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 6">
                    <div nz-row nzGutter=24 style="margin:0px;top: -15px;">
                        <div id="mta-btn-group">
                            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'small'">       
                                <nz-tab nzTitle="Roster & App" (nzClick)="viewMTA(0)"></nz-tab>
                                <nz-tab nzTitle="App Alert Profile" (nzClick)="viewMTA(1)"></nz-tab>
                            </nz-tabset>
                        </div>
                        <div *ngIf="current_mta== 0">
                            
                            <div nz-row nzGutter="24" class="mrg-btm1point5">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">MTA Display Text :</label>
                                    </div>
                                    <div nz-col nzSpan="10">
                                        <input nz-input [nzSize]="'small'" nz-value="0" formControlName="mtacode" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8">
                                        <label for="App KM Within Activity Code" class="mrg-btm text-right">App KM Within Activity Code : </label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="ALT_AppKmWithinActivity"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let codes of travelandAlernatelist" [nzLabel]="codes" [nzValue]="codes"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8">
                                        <label for="Mobile Log App Mode" class="mrg-btm text-right">Mobile Log App Mode : </label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="tA_LOGINMODE" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let mode of mobileLogModes | keyvalue ;let i = index" [nzLabel]="mode.value" [nzValue]="mode.key"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>  
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Exculde Time and Attendence Display : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <label nz-checkbox formControlName="taexclude1"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Exculde From Mobile App Dairy Display : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <label nz-checkbox formControlName="appExclude1"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Exculde From Geo Locating : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <label nz-checkbox formControlName="tA_EXCLUDEGEOLOCATION"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Exculde From Google KM Calculations : </label>
                                    </div>
                                    <div nz-col nzSpan="2" >
                                        <label nz-checkbox formControlName="excludeFromTravelCalc"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Exculde From Client Portal Display : </label>
                                    </div>
                                    <div nz-col nzSpan="2" >
                                        <label nz-checkbox formControlName="excludeFromClientPortalDisplay"></label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right">
                                        <label for="Mobile Log App Mode">Disable App Logon/off : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <label nz-checkbox formControlName="ExcludeFromAppLogging"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="current_mta== 1">
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4"></div>
                                <div nz-col nzSpan="3" class="text-center">Min</div>
                                <div nz-col nzSpan="14">Select ALert Recipient From Drop Down list or a valid Email Address</div>
                                <div nz-col nzSpan="3" class="text-center"> Resend Delay</div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> Early Start: <label nz-checkbox formControlName="taEarlyStartTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taEarlyStartTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taEarlyStartTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3"></div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> Late Start: <label nz-checkbox formControlName="taLateStartTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taLateStartTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taLateStartTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3">
                                    <input nz-input [nzSize]="'small'" nz-value="0" formControlName="taNoGoResend" />
                                </div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right">Early Finish : <label nz-checkbox formControlName="taEarlyFinishTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taEarlyFinishTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taEarlyFinishTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3"></div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> Late Finish : <label nz-checkbox formControlName="taLateFinishTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taLateFinishTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taLateFinishTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3">
                                    <input nz-input [nzSize]="'small'" nz-value="0" formControlName="taNoShowResend" />
                                </div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> OverStay : <label nz-checkbox formControlName="taOverstayTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taOverstayTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taOverstayTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3"></div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> UnderStay : <label nz-checkbox formControlName="taUnderstayTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taUnderstayTH" /></div>
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taUnderstayTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select></div>
                                <div nz-col nzSpan="3"></div>
                            </div>
                            <div nz-col nzSpan="20" class="mrg-btm1point5">
                                <div nz-col nzSpan="4" class="text-right"> No Work : <label nz-checkbox formControlName="taNoWorkTHEmail"></label> </div>
                                <div nz-col nzSpan="3"><input nz-input [nzSize]="'small'" nz-value="0" formControlName="taNoWorkTH" /></div>                                    
                                <div nz-col nzSpan="14"><nz-select [nzDropdownMatchSelectWidth]="false" formControlName="taNoWorkTHWho" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let mta of mtaAlerts" [nzLabel]="mta" [nzValue]="mta"></nz-option>
                                </nz-select>
                                <div nz-col nzSpan="3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 7">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-row nzGutter=24>
                            <div nz-col nzSpan="24">
                                <div style="margin-left:10px;">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showCompetencyModal()" style="margin-right:10px;">Competencies</button>
                                    <button class="headers-botton recordHeaderMainButtons">print</button>
                                </div>
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="checkedList">
                                    <thead>
                                        <tr>
                                            <th class="left">Competency</th>
                                            <th class="left">Mandatory</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let list of checkedList;let j = index;">
                                            <td>{{list.competency}}</td>
                                            <td><label nz-checkbox nzDisabled [ngModel]="list.mandatory" nzDisabled [ngModelOptions]="{standalone: true}"></label></td>
                                            <td class="left"><a (click)="editCompetencyModal(list)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCompetency(list)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 8">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-row nzGutter=24>
                            <div nz-col nzSpan="24">
                                <div style="margin-left:10px;">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showChkLstModal()" style="margin-right:10px;">Checklist</button>
                                    <button class="headers-botton recordHeaderMainButtons">Print</button>
                                </div>
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="checkedList">
                                    <thead>
                                        <tr>
                                            <th class="left">CheckList Item</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let list of checkList;let j = index;">
                                            <td>{{list.checklist}}</td>
                                            <td class="left">
                                                <!-- <a (click)="editChecklistModal(list)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider> -->
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteChecklist(list)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 9">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="10" class="text-right pad-r-5">
                            Alternate Travel Code For Travel Interpretation :
                        </div>
                        <div nz-col nzSpan="12"> 
                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="unitCostUOM"  nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let codes of travelandAlernatelist" [nzLabel]="codes" [nzValue]="codes"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 10">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="Special Shift Type">Special Shift Type : </label>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="jobType" [nzSize]="'small'" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let shift of shiftTypes" [nzLabel]="shift" [nzValue]="shift"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="Exclude From Higher Rate Calculation ">Exclude From Higher Rate Calculation : </label>
                        </div>
                        <div nz-col nzSpan="1">
                            <label nz-checkbox formControlName="excludeFromHigherPayCalculation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="Exclude From Higher Rate Calculation ">Exclude From Higher Rate Calculation : </label>
                        </div>
                        <div nz-col nzSpan="1">
                            <label nz-checkbox formControlName="excludeFromHigherPayCalculation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="No Overtime Accoumnodation ">No Overtime Accoumnodation : </label>
                        </div>
                        <div nz-col nzSpan="1">
                            <label nz-checkbox formControlName="noOvertimeAccumulation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="Pay As Rostered ">Pay As Rostered : </label>
                        </div>
                        <div nz-col nzSpan="1">
                            <label nz-checkbox formControlName="payAsRostered"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            <label for="Exclude From Timeband Interpretation ">Exclude From Timeband Interpretation : </label>
                        </div>
                        <div nz-col nzSpan="1">
                            <label nz-checkbox formControlName="excludeFromTimebands"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            Exclude From All Interpretation:
                        </div>
                        <div nz-col nzSpan="1" class=""> 
                            <label nz-checkbox  formControlName="excludeFromInterpretation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            Exclude From Minimum Hours Calculation:
                        </div>
                        <div nz-col nzSpan="1" class=""> 
                            <label nz-checkbox  formControlName="excludeFromInterpretation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            Exclude From Broken Shift:
                        </div>
                        <div nz-col nzSpan="1" class=""> 
                            <label nz-checkbox  formControlName="excludeFromInterpretation"></label>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm1point5">
                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                            Informational Only:
                        </div>
                        <div nz-col nzSpan="1" class=""> 
                            <label nz-checkbox  formControlName="infoOnly"></label>
                        </div>
                    </div>
                </div>
            </div>        
            
            
            
            
            
            
            
            
            
            
            
            <div *nzModalFooter>
                <ng-container>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            End Date:
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                            <nz-date-picker  [nzSize]="'small'" formControlName="endDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                            <span>SAVE</span>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</nz-modal>
<context-menu>
    <ng-template contextMenuItem (execute)="showActivityMOdal($event.item,1)">
        Clone Activity
    </ng-template>
    <ng-template contextMenuItem let-item [enabled]="mergestatus" (execute)="selectCode()">
        Merge Histories
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="export()">
        Export To CSV File
    </ng-template>
</context-menu>
<nz-modal [nzWidth]="400" [(nzVisible)]="clonemodalOpen" [nzTitle]="'Clone Activity'" (nzOnCancel)="clonehandleCancel()">
    <div class="flexy">
        
        <div nz-row nzGutter class="mrg-btm">
            <label for="Enter The New Activity Code to Create">Enter The New Activity Code to Create :</label>
            <input nz-input  [(ngModel)]="activityCode" style="text-transform: uppercase;" required />
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!activityCode" (click)="clone()" *ngIf="current === 0">
                    <span>Done</span>
                </button>
            </ng-container>
        </div>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="mergeHistorymodalOpen" nzTitle="Merge Codes"   (nzOnCancel)="mergeHistorymodalOpen = false" >
    <div  class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="mergeactivitycodesList">
            <div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
            </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="mergeactivitycodesList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
            <thead>
                <tr>
                    <th class="left">Select Merge Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of mergeactivitycodesList;let i = index;" (click)="RecordClicked($event, data, i)" 
                (dblclick)="onItemDbClick(data,i)"
                [class.selected]="selectedmergecodes.includes(data.title)">
                <td class="left">                                     
                    {{ data.title  }}
                </td>
            </tr>
        </tbody>
    </nz-table> 
</div>            
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="mergehistories()">OK</button>
    <button nz-button nzType="default" (click)="mergeHistorymodalOpen=false">Cancel</button>
</div>
</nz-modal>
<nz-modal [nzWidth]="500"  [(nzVisible)]="competencymodal" nzTitle="COMPETENCIES" (nzOnCancel)="handleCompCancel()">
    <form nz-form [formGroup]="competencyForm" >
        <div nz-row>    
            <div *ngIf="addOrEdit == 0" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Competencies Required For Work in This Program</h4>
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs($event)">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let comp of competencyList">
                            <label nz-checkbox [nzValue]="comp.name" [(ngModel)]="comp.checked" [ngModelOptions]="{standalone: true}">{{ comp.name }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div class="form-group" *ngIf="addOrEdit == 1">
                <nz-form-label>Title</nz-form-label>
                <input nz-input formControlName="competencyValue" disabled />
            </div>
        </div>

        <div nz-row *ngIf="addOrEdit == 1">
            <nz-form-item>
                <nz-form-label>Mandatory</nz-form-label>
                <label nz-checkbox formControlName="mandatory"></label>                 
            </nz-form-item>
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" (click)="saveCompetency()">
                <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
            </button>
        </ng-container>
    </div>
</nz-modal>
<nz-modal [nzWidth]="500"  [(nzVisible)]="chklstmodal" nzTitle="CheckLists" (nzOnCancel)="handleChkLstCancel()">
    <form nz-form [formGroup]="chkListForm" >
        <div nz-row>    
            <div *ngIf="addOrEdit == 0" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Required CheckList Item</h4>
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="chklog($event)">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let chklst of chkList">
                            <label nz-checkbox [nzValue]="chklst.name" [(ngModel)]="chklst.checked" [ngModelOptions]="{standalone: true}">{{ chklst.name }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div class="form-group" *ngIf="addOrEdit == 1">
                <nz-form-label>Title</nz-form-label>
                <input nz-input formControlName="chkListValue" disabled />
            </div>
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" (click)="saveCheckList()">
                <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

    
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>
</div>    