<div style="position:relative" [class.admin]="isAdmin">
    <app-breadcrumbs *ngIf="!HIDE_CRUMBS"></app-breadcrumbs>
    <div class="menu-button">
        <div class="user-wrapper d-none d-sm-block"> Version: {{version}}</div>
        <div class="user-wrapper">{{ user?.user }}</div>
        <div class="nz-avatar-menu" click-outside (clickOutside)="onClickOutside($event)">
            <nz-avatar (click)="isVisible = true" nzIcon="user"></nz-avatar>
            <div *ngIf="isVisible" class="dropdown">
                <ul>
                    <li *ngIf="ifClientManager" (click)="settingsDrawerVisible = true">Settings</li>
                    <li *ngIf="tempRole == roles.admin" (click)="globalSettingsDrawerVisible = true">Settings</li>
                    <li (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i>Logout</li>
                </ul>
            </div>
        </div>
       
    </div>
</div>

<nz-drawer [nzClosable]="false" [nzWidth]="400" [nzVisible]="settingsDrawerVisible" nzPlacement="right" nzTitle="Basic Settings" (nzOnClose)="close()">
   <div nz-row>
       <label nz-checkbox [(ngModel)]="clientPortalMethod" (ngModelChange)="methodChange($event)">Enable ClientPortalManagerMethod </label>
   </div>
</nz-drawer>

<nz-drawer [nzClosable]="false" [nzWidth]="1024" [nzVisible]="globalSettingsDrawerVisible" nzPlacement="right" nzTitle="Global Portal Settings" (nzOnClose)="close()">
    <div nz-row>
        <ul>
            <li><label nz-checkbox>Populate Intake Email</label></li>
        </ul>
    </div>
 </nz-drawer>

 <nz-drawer [nzClosable]="true" [nzWidth]="500" [nzVisible]="emailTestingVisible" nzPlacement="right" nzTitle="Send Test Email" (nzOnClose)="closeEmail()">
    <div nz-row [formGroup]="contactForm">
        <div class="form-group">
            <label for="">Email Address</label>
            <input type="text" nz-input placeholder="Enter Email Address" formControlName="To">
        </div>
        <div class="form-group">
            <label for="">Subject</label>
            <input type="text" nz-input placeholder="Enter Subject" formControlName="Subject">
        </div>
        <div class="form-group">
            <label for="">Body</label>
            <textarea rows="4" nz-input placeholder="Enter Body" formControlName="Body"></textarea> 
        </div>
        <button nz-button nzType="primary" (click)="sendTestEmail()">Send Email</button>
    </div>
 </nz-drawer>