.form-all{
    max-width: 690px;
    width: 100%;    
}

.center{
    margin:0 auto;
}

.space-top{
    padding-top: 4rem;
}

.logo{
    text-align: center;
    margin-bottom: 3rem;
}

nz-select{
    min-width: 15rem;
}

.form-input{
    margin-bottom: 18px;

    label{
        font-weight: bold;
    }
}

.form-wrapper{
    border-top: 1px solid #e7e7e7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-flex{
    display: flex;

    input, div{
        margin-right:10px;
    }
}

.align-center{
    text-align: center;
}

input {
    margin-bottom: 10px;
}