.data-list{
    margin-top:20px;
    font-size: 13px;
    padding: 10px 0;
    position:relative;
    border-bottom: 1px solid #ececec;
}
.exit{
    position: absolute;
    top: -10px;
    right: 0px;
}
.exit i {
    cursor:pointer;
    background: #fff;
    border-radius: 50%;
}
.data-list div.form-group{
    margin-bottom:7px;
}

.accountname{
    font-size:0.8rem;
}

.operator{
    margin: 0 5px;
}

.available{
    color: #66ad66;
}

.taken{
    color: #ff3636;
}
.clr-form-control{
    margin-top:0;
}
.other-wrapper{
    margin-bottom: 10px;
    padding: 5px 15px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}
.other-wrapper div:first-child{
    margin-right: 1rem;
}