<clr-wizard #wizard [(clrWizardOpen)]="open" clrWizardSize="lg">
        <clr-wizard-title>Add New Referral</clr-wizard-title>

        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="add()">Finish</clr-wizard-button>

        <clr-wizard-page [clrWizardPageNextDisabled]="!referralGroup.get('confirmation').value">
            <ng-template clrPageTitle>Profile Information</ng-template>
            <div class="col-md-12" [formGroup]="referralGroup">
                <ng-container *ngIf="type === 'other'">
                   <div class="other-wrapper">
                        <div class="clr-radio-wrapper">
                            <input type="radio" id="ind" [value]="0" class="clr-radio" formControlName="type">
                            <label for="ind">Individual</label>
                        </div>
                        <div class="clr-radio-wrapper">
                            <input type="radio" id="org" [value]="1" class="clr-radio" formControlName="type">
                            <label for="org">Organisation</label>
                        </div>
                   </div>
                </ng-container>

                <ng-container *ngIf="referralGroup.get('type').value == 0">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Title</label>
                            <select formControlName="title">
                                <option *ngFor="let l of titlesArr" [value]="l">{{ l }}</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Gender</label>
                            <select formControlName="gender">
                                <option *ngFor="let l of genderArr" [value]="l">{{ l }}</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Birthdate</label>
                            <datepicker formControlName="dob"></datepicker>
                        </div>
                    </div>
    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Surname</label>
                            <input ExcludeNumber="true" type="text" formControlName="lastname" autocomplete="nofill" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Firstname</label>
                            <input ExcludeNumber="true" type="text" formControlName="firstname" autocomplete="nofill" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Middlename</label>
                            <input ExcludeNumber="true" type="text" formControlName="middlename" autocomplete="nofill" />
                        </div>
                    </div>
    
                    <div class="col-md-12" style="margin-top:1rem">
                        <div class="form-group" *ngIf="referralGroup.get('firstname').value != '' && referralGroup.get('lastname').value != ''">
                            <div>
                                <span class="accountname" [class.available]="!loading && referralGroup.get('confirmation').value" [class.taken]="!loading && referralGroup.get('confirmation').value != null &&!referralGroup.get('confirmation').value">{{ referralGroup.get('tempaccountName').value }}</span>
                                <input type="text" style="display: inline-block;width:15px;" formControlName="appendName" autocomplete="nofill" *ngIf="!loading && referralGroup.get('confirmation').value != null &&!referralGroup.get('confirmation').value && isNameDataValidated()" />

                                <div style="margin: 10px 0;">
                                  <button class="add" (click)="verify()"><i class="material-icons"> youtube_searched_for </i> Verify Account</button>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="alert alert-danger" role="alert" *ngIf="!loading && referralGroup.get('confirmation').value != null &&!referralGroup.get('confirmation').value">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        {{ errorStr }}
                                    </span>
                                </div>
                            </div>
                        </div>
    
                        <div class="alert alert-success" role="alert"*ngIf="!loading && referralGroup.get('confirmation').value">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        ACCOUNT IS AVAILABLE
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                

                <ng-container *ngIf="referralGroup.get('type').value == 1">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Organisation Name</label>
                            <input ExcludeNumber="true" type="text" formControlName="organisation" autocomplete="nofill" />
                        </div>
                    </div>

                   <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngIf="!loading && referralGroup.get('confirmation').value != null &&!referralGroup.get('confirmation').value">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        {{ errorStr }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-success" role="alert"*ngIf="!loading && referralGroup.get('confirmation').value">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        ACCOUNT IS AVAILABLE
                                    </span>
                                </div>
                            </div>
                        </div>
                   </div>
                    
                </ng-container>
            </div>

        </clr-wizard-page>

        <clr-wizard-page>
                <ng-template clrPageTitle>Contact Details</ng-template>
                <div class="col-md-12" [formGroup]="referralGroup">
                    <div>
                        <button class="add" (click)="addContact()"><i class="material-icons insert">add</i> Add Contacts</button>
                    </div>
                    <div class="col-md-12 data-list" formArrayName="contacts" *ngFor="let item of referralGroup.get('contacts')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                                <div class="exit"><i class="material-icons" (click)="deleteCont(i)"> clear </i></div>
                                <div class="col-sm-12 col-md-4">
                                    <div class="form-group">
                                        <clr-radio-container>
                                            <label>Type</label>
                                        <clr-radio-wrapper>
                                                <input type="radio" clrRadio [value]="'MOBILE'" formControlName="contacttype" (change)="contactTypeChange(i)" />
                                                <label>MOBILE</label>
                                            </clr-radio-wrapper>
                                            <clr-radio-wrapper>
                                              <input type="radio" clrRadio [value]="'EMAIL'" formControlName="contacttype" (change)="contactTypeChange(i)" />
                                              <label>EMAIL</label>
                                            </clr-radio-wrapper>
                                            <clr-radio-wrapper>
                                              <input type="radio" clrRadio [value]="'HOME'" formControlName="contacttype" (change)="contactTypeChange(i)" />
                                              <label>HOME</label>
                                            </clr-radio-wrapper>
                                            <clr-radio-wrapper>
                                                <input type="radio" clrRadio [value]="'WORK'" formControlName="contacttype" (change)="contactTypeChange(i)" />
                                                <label>WORK</label>
                                            </clr-radio-wrapper>
                                          </clr-radio-container>
                                          
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <label for="formFields_1">Detail</label>
                                        <input type="text" *ngIf="!isPhoneNumber(item)" formControlName="contact" autocomplete="nofill" />
                                        <phonefax *ngIf="isPhoneNumber(item)" [type]="item.value.contacttype" formControlName="contact"></phonefax>
                                    </div>
                                </div>
                        </ng-container>
                    </div>
                </div>
        </clr-wizard-page>

        <clr-wizard-page>
            <ng-template clrPageTitle>Address Details</ng-template>
            <div class="col-md-12" [formGroup]="referralGroup">
                <div>
                    <button class="add" (click)="addAddress()"><i class="material-icons insert">add</i> Add Address</button>
                </div>
                <div class="col-md-12 data-list" formArrayName="addresses" *ngFor="let item of referralGroup.get('addresses')['controls']; let i = index;">
                    <ng-container [formGroupName]="i">
                            <div class="exit"><i class="material-icons" (click)="deleteAdd(i)"> clear </i></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Decription</label>
                                    <select formControlName="type">
                                        <option value=""></option>
                                        <option value="" *ngFor="let _add of addressType" [value]="_add">{{ _add }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="formFields_1">Postcode, Suburb</label>
                                    <suburb formControlName="suburb"></suburb>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="formFields_1">Address</label>
                                    <input type="text" formControlName="address1" style="text-transform: uppercase" autocomplete="nofill">
                                </div>
                            </div>
                    </ng-container>
                </div>
            </div>
        </clr-wizard-page>        

        <!-- [clrWizardPageNextDisabled]="referralGroup.get('branch').value == '' || referralGroup.get('agency').value == '' || referralGroup.get('manager').value == ''" -->
        <clr-wizard-page [clrWizardPageNextDisabled]="referralGroup.get('branch').value == '' || referralGroup.get('agencyDefinedGroup').value == '' || referralGroup.get('recipientCoordinator').value == ''">
            <ng-template clrPageTitle>Other Details</ng-template>
            <div class="col-md-12" [formGroup]="referralGroup">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="">Branch</label>
                        <select formControlName="branch">
                            <option [value]=""></option>
                            <option *ngFor="let l of branches" [value]="l">{{ l }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="">Agency Category</label>
                        <select formControlName="agencyDefinedGroup">
                            <option [value]=""></option>
                            <option *ngFor="let l of agencies" [value]="l">{{ l }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="">Case Manager</label>
                        <select formControlName="recipientCoordinator">
                            <option [value]=""></option>
                            <option *ngFor="let l of managers;let i = index" [value]="i">{{ l.description }}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-md-7">
                    <div class="form-group">
                        <label for="">Presenting Issue / Referral Reason</label>
                        <select formControlName="referral">
                            <option [value]=""></option>
                            <option *ngFor="let l of managers" [value]="l">{{ l }}</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </clr-wizard-page>
    </clr-wizard>
