.chart-container{

    width: 100%;
    height: 100%;
}

.cell{
    display: block;
    font-size: 12px;
    width: 50px;
    height: 30px;   
    padding:2px;
    border: 1px solid #e5e5e5;
    text-align: center;
    
}

.rect{
    display: flex;
    flex-direction: row;
    font-size: 14px;   
    padding:2px;   
    text-align: left;
    
}
.cell-size{ 
     width:150px;
     padding-left:3px;  
     margin:1px;
     border: 1px solid #e5e5e5;

}
.cell-size2{ 
    width:150px;
    padding-left:3px;  
    
   

}