<nz-modal [(nzVisible)]="openModel" [nzStyle]="topBelow" [nzWidth]="1400" nzTitle="Usage Analysis for {{title}}"
    (nzOnCancel)="openModel=false">

    <div nz-row nzGutter="2">
        <div nz-col nzSpan="8">
            <div nz-row>
                <div class="rect">
                    <div class="cell-size">
                        <nz-label>
                            <span>Start Date:</span>
                        </nz-label>
                    </div>
                    <div class="cell-size2">
                        <nz-date-picker [(ngModel)]="startDate" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div class="rect">
                    <div class="cell-size">
                        <nz-label style="width:200px">
                            <span>Fortnightly Budget:</span>
                        </nz-label>
                    </div>
                    <div class="cell-size2">
                        <input nz-input readonly >
                    </div>
                </div>
            </div>
            <div nz-row>
                <div class="rect">
                    <div class="cell-size">
                    <nz-label >
                        <span>Starting Balance:</span>
                    </nz-label>
                    </div>
                    <div class="cell-size2">
                    <input nz-input readonly >
                    </div>
                </div>
            </div>
          
        </div>
        <div nz-row nz-col nzSpan="16" nzGutter="2">
            <div class="rect">
                
                <nz-label style="margin-left:5px; margin-right:15px; font-size:14px">NDIA Portal</nz-label>
                <nz-label style="margin-left:5px">
                    <span>Plan Start:</span>
                </nz-label>
                <nz-date-picker [(ngModel)]="startDate" [nzFormat]="dateFormat" style="margin-left:5px"></nz-date-picker>

                <nz-label style="margin-left:15px">
                    <span>Plan End:</span>
                </nz-label>

                <nz-date-picker [(ngModel)]="endDate" [nzFormat]="dateFormat" style="margin-left:5px"></nz-date-picker>

                <button nz-button nzType="primary" (click)="loadChart()" style="margin-left:5px">
                    <span>Refresh</span>
                </button>
            </div>
           
        </div>

    </div>
   
    <div nz-row nz-col nzSpan="24">
        <div style="display:flex; flex-direction:row; margin-left:50px; padding-left:5px">
            <div *ngFor="let d of labels" class="cell">
                {{d | date: 'dd/MM'}}
            </div>

        </div>
        <div style="display:flex; flex-direction:row; margin-left:50px; padding-left:5px">

            <div *ngFor="let d of funds" class="cell">
                {{d | number: '1.0-0'}}
            </div>

        </div>
        <div style="display:flex; flex-direction:row; margin-left:50px; padding-left:5px">

            <div *ngFor="let d of acb" class="cell">
                {{d | number: '1.0-0'}}
            </div>
        </div>
        <div class="chart-container">
            <canvas id="chartContainer" style="height: 500px; width: 100%;">{{ myChart }}</canvas>
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
        
            <button nz-button nzType="primary" (click)="openModel=false">
                <span>Cancel</span>
            </button> 
        </ng-container>
    </div>
</nz-modal>