body{
    background-color: #1e1e1e;
    color: #fff;
}

.div-resizable {
    border: 2px solid;
    border-color: #111010;
    padding-inline-start: 5px;
    resize: horizontal;
    overflow: auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    line-height: 20px;
    color:#fff;
  }

.daymanager-wrapper{
    box-shadow:1px 4px 4px 0px #131212;
    /* border: 1px solid #ededed ; */
    border : 1px solid #131212;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99%; 
    margin: 5px auto;
    background: #1e1e1e;
    overflow-y: unset;
    
}
.calendar-dates{
    line-height: 10px;
    margin: 6px 0;
   
   
}

.slant-position{
    transform: rotate(45deg);
 }

 .service-logo{
    background: #1e1e1e;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: px;
}
.approve-logo{   
    background-repeat: no-repeat;
    background-size: 150px;
    width: 20px;
    height: 20px;
    float: left;
}
.approve-logo i{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 58, 13);
}

.left:hover, .right:hover{
    transform: scale(1.1);
}
.left{
    position: absolute;
    font-size: 2rem;
    top: 4px;
    left: 0;
    cursor:pointer;
}
.right{
    position: absolute;
    font-size: 2rem;
    top: 4px;
    right: 0;
    cursor:pointer;
}


.icon{
    width: 18px;
    height: 18px;  
    font-size:12px;  
    /* position: relative;   
    display: inline-block; */
    background-color: #1e1e1e;
}
.icon2{
   
    width: 18px;
    height: 18px;  
    font-size:12px;  
    /* position: relative;   
    display: inline-block; */
    
    background-color: #1e1e1e;
}
.icon3{
    font-size:8px;    
    width: 16px;
    height: 16px;    
    background-color: #1e1e1e;
    /* position: relative;   
    display: inline-block; */
 }
 .icon4{
    font-size:7px;    
    width: 12px;
    height: 13px;    
    background-color: #1e1e1e;
    /* background-color: transparent;
    display: inline-block; */
 }

.time{
   margin-left: 4px;
   padding-left: 2px;
   font-size:12px;  
   white-space: nowrap;
   background-color :#1e1e1e;
   color: #fff;
   
    /*position: relative;   
   display: inline-block;*/
   
}

.time2{
    margin-left: 4px;
    padding-left: 2px;
    font-size:12px;
    white-space: nowrap;
    background-color :#1e1e1e;
    color: #fff;
    
  /*  position: relative;   
    display: inline-block;    
     overflow-wrap: break-word; */
}

.time3{
    padding-left: 2px;
    font-size:11px;
    white-space: nowrap;
    background-color :#1e1e1e;
    color: #fff;
    
    /* position: relative;   
    display: inline-block;    
    overflow-wrap: break-word; */
}

.time4{   
   
    font-size:9px;
    white-space: nowrap;
    background-color :#1e1e1e;
    color: #fff;
    
   /*  position: relative;   
    display: inline-block;
    inline-size: 50px;
    overflow-wrap: break-word; */
}


.details {
    
    font-weight: 500;
    line-height:16px;
    font-size:11px;
    position: relative;
    padding: 1px;
    width: auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background-color: #1e1e1e !important;
    border-color: #111010;
}

.detail-more {
    color: #fff;
    font-weight: 500;
    line-height:16px;
    font-size:10px;
    position: relative;   
    width: auto; 
    height: auto;
    background-color: #1e1e1e !important;
    white-space: break-spaces;
    overflow: unset;
    /* text-overflow: initial;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break:auto; */
}

.detail2 {   
    font-size:11px; 
    padding-left: 3px;
    background-color: #1e1e1e !important;
}

.detail3 {   
    font-size:10px;
    padding-left: 2px;
    background-color: #1e1e1e !important;
}
.detail4 {   
    font-size:9px;
    padding-left: 2px;
    background-color: #1e1e1e !important;
}

.header-wrapper{
    position: sticky;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -5px;
    border: 1px solid #727272;
    color:#000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;    
    background:#e5e5e5;
    z-index:2;
}
.body-wrapper{
    display: flex;
    width: 100%;
    color: #fff;
    padding:5px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #080808;
    
}
.body-wrapper:nth-child(even){
    /* background:#e4edee; */
    background:#1e1e1e; 
    border: 1px solid #0c0c0c;
}
.body-wrapper:last-child {
    border:none;
}
.body-wrapper .cell{
    padding:18px 3px;
    background-color: #1e1e1e !important;
}
.cell:nth-child(1){    
    display: flex;
    justify-content: left;
}
.cell{
    text-align: center;
    border-right:1px solid #727272;
    flex:1;
    
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    background: #000;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.seven{
    width:12.5%;
   
}
.five{
    width:16.66%;
   
}
.ten{
    width: 8.7%;
   
}
.fourteen{
    width: 6.21%;
  
}
.data{
    /* position:relative; */
    display:flex; flex-direction:row;
    padding: 1px 1px 1px 1px;
    margin: 1px;
    font-size: 12px;
    overflow: hidden;
    text-align: initial;
    border: 1px solid #080808;
    background-color: #1e1e1e !important;
    border-width: 1px; 
    border-radius: 5px; 
    margin-bottom: 2px;
   
    color:#fff(158, 17, 17)
}

.approve{
    position:relative;
    padding: 0 1px;
    margin: 0px;
    font-size: 12px;
    overflow: hidden;
    text-align: initial;
    border: 1px solid #f2f2f2;
    border-width: 1px; 
    border-radius: 5px; 
    margin-bottom: 2px;
    background:#3f3131;
    color:#fff(158, 17, 17);
    background: linear-gradient(to bottom, #33ccff 0%, #66ffff 100%); 
    
}
.highlight{
    background:#1e1e1e !important;
    color:#fff !important;
    border: 1px solid #0e0d0d !important;
   
}
.total{
    background:#000;
    color:#fff;
    font-weight: 700;
    text-align: left;
    padding:5px;   

}
i.option{
    position:absolute;
    top:0;
    right:0;
    
}
.showOption{
    cursor:pointer;
    font-size:16px;
    background:#000;
    color: #fff;
}
.showOption:hover{
    transform:scale(1.2);
    background:#000;
}
.listitem{
    border: 1px solid #111111;
    background-color: #1e1e1e;
}
.listitem-invisible{
   visibility: hidden;
}
.selected {
    background:#070707  !important;
}
.toCopy:hover{
    background:#DFDFDD;
    cursor:pointer;
}
.toCopy:hover::before{
    content: 'Paste Here'
}
.no-data{
    
    margin-top:10px;
    text-align:center;
}

.fixed{
    display: inline-block;
    width: 93.2%;
    position: sticky;
    z-index: 10;
    top: 6rem;
}
.col-highlght{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 10px;
    color:#fff;
    font-size: 15px;    
    background-color: #020202 !important;
}
.date-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 10px;
    color:#fff; 
    background-color: #1e1e1e;
   
    font-size:15px;
    width:99%;
   }

.dateweekend{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 10px;
    background-color: #000;
    color: #F18805;
    font-size:15px;
    height: 100%;
    width:100%;
   
}

.date-wrapper-master{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 20px;
    background-color: #141414; 
    font-size:15px;
}

.date-month-name{
    text-align: center;
    font-weight: 500;
    border-bottom:1px solid #0c0c0c;
}

h3{
    margin:0;
    color:#000;
    padding:8px;
    position: relative;
}

h5{
    font-weight: 500;
    margin-top:5px;
    color:#000;
}

.x-cancel{
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    color: #d4081b;
}

.x-cancel span{
    cursor:pointer;
}

.x-cancel span:hover{
    color:#d62535;
    text-decoration: underline;
}

.spinner{
    margin:1rem auto;
    width:1px;
}

.rectangle{
    margin-top: 5px;
    padding: 5px;     
    border-style: unset; 
    border-bottom: solid;
    border-width: 1px; 
    border-radius: 0px;  
    width: auto;
    border-color: rgb(207, 202, 202);
}

.header{
    display: flex; 
    flex-direction: row; 
    padding-top: 5px; 
    padding-left:10px;
    background-color: #1e1e1e /*#85B9D5*/; 
    color: #fff; 
    margin: 10px;
    border : 1px solid #e5e5e5;
    border-radius : 5px;

}

.header-search{
   
    color:#000;
    background-color: #1e1e1e;
    font-size:15px;
 
}

.dm-screen {
    height:74vh; 
    width:100%; 
    overflow-y:scroll; 
   }

   .first-col{
    min-width: 12.5% !important;
   }

   input{
    background-color: #313030 ;
    color: #fff;
    height: 32px !important;
  }
