<div class="daymanager-wrapper">
    <!-- <div style="display: block; width:100%;   background-color: #fff; border-bottom: 1px solid #6496b6; border-radius: 5px; ">
        
            <nz-select [disabled]="!checked" [(ngModel)]="personValue" (ngModelChange)="applyStaffFilters(personValue)" style="width:20vw; padding: 5px"  >
                    <nz-option *ngFor="let p of personsList" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
            <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="resetDayManager($event)"></label>  

    </div>  -->

    <div class="header-wrapper" [class.fixed]="fixedHeader">
        <!-- <h3 class="date-month-name noselect header-wrapper">
            <i class="material-icons left" (click)="previousDate()"> keyboard_arrow_left </i>

           <div *ngIf="!master">
                {{ startDate | date: 'MMMM yyyy' }}
            </div> 
           <div *ngIf="master">
                Master Rosters
            </div> 
            <i class="material-icons right" (click)="futureDate()"> keyboard_arrow_right </i>
        </h3> -->

        <div [class.date-wrapper]="!master" [class.date-wrapper-master]="master" >
            <div *ngFor="let day of days; let col=index" class="cell" [class.five]="dayView == 5 " [class.seven]="dayView == 7  "
                [class.ten]="dayView == 10  && col > 0" [class.fourteen]="dayView == 14  && col > 0" [class.first-col] ="col==0  && dayView > 7 " >

                <div  [class.date-wrapper]="!master" (click)="HighlightColum(col)"    [class.dateweekend]="((day| date: 'EEE') == 'Sat' || (day| date: 'EEE') == 'Sun') && HighlightColum_index!=col" >
                    <div *ngIf="day == null" class="calendar-dates"  >
                        <!-- <span *ngIf="akonani?.length > 0">{{ akonani?.length }} selected</span> -->
                        <div style="padding:5px" class="header-search" >
                            <nz-input-group [nzSuffix]="suffixIconSearch" class="header-search">
                                <input type="text" nz-input [(ngModel)]="personValue"  placeholder="Search" (input)="onKeyPress($event)"   />
                                <!-- (keypress)="onKeyPress($event)" -->
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <i nz-icon nzType="search" (click)="applyTextSearchFilters(personValue)"></i>
                            </ng-template>
                           
                        </div>
                    </div>
                    <div *ngIf="day" class="calendar-dates"  >
                        <!-- ng-style ="{ ' background-color' : (Weekday(day)=='sat')? '#73c7af' : '#ffffff' }" -->
                        <div *ngIf="!master">
                            <div ><span >{{ day | date: 'EEEE' }}</span></div>
                            <div  style="margin-top:5px;padding: 5px;"> 
                                <span >{{ day | date: 'dd/MM/yyyy' }}</span>
                            </div>
                           
                        </div>
                        <div *ngIf="master">
                            <div ><span >{{ day | date: 'EEEE' }}</span></div>
                            <div  style="margin-top:5px; padding: 5px;"> 
                                <span > Day {{ day | date: 'dd' }}</span>
                            </div>
                           
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class.dm-screen]="!loading">
    <ng-container *ngIf="!loading" >
       
        <div class="body-wrapper noselect"  *ngFor="let data of daymanager" >
            <ng-container *ngFor="let day of days; let i = index" >
                <div class="cell" [attr.date]="day" [class.roster-container]="i > 0" [class.five]="dayView == 5 "
                    [class.seven]="dayView == 7" [class.ten]="dayView == 10 && i > 0" [class.fourteen]="dayView == 14 && i > 0"
                    (mousedown)="deselect(null,$event)" (drop)="drop($event);$event.stopPropagation()"
                    (dragover)="dragOver($event)"  (contextmenu)="rightClickMenuOut($event,day, data.key)" 
                     [class.highlight]="HighlightColum_index==i " [class.first-col] ="i==0  && dayView > 7 "
                     (dragstart)="dragStart($event,data)" (dragend)="dragEnd($event)">
                    <div *ngIf="i == 0" [class.first-col] ="dayView>7">
                        <div style="font-size:14px; font-weight: bold; text-align: left;">
                            <span *ngIf="data?.key.indexOf('BOOKED') > -1">UNASSIGNED BOOKINGS</span>
                            <span *ngIf="!(data?.key.indexOf('BOOKED') > -1) ">{{ data?.key }}</span> 
                        </div>
                    
                     
                        <div style="font-size:12px; text-align: left " *ngIf="data?.key !='BOOKED'" >
                            <div *ngIf="!(currentFilter==3 || currentFilter==4  || currentFilter==7 ||  currentFilter==12)" >
                                <div>{{ getCategoryInfo(data?.key)}}</div>
                            
                                <!-- <div>{{ data?.value[0].staffCategory}}</div>
                                <div>{{ data?.value[0].staffPhone}}</div> -->
                            </div>
                            <div *ngIf="currentFilter==3 || currentFilter==4  || currentFilter==7 ||  currentFilter==12">
                                <div>{{ getCategoryInfo(data?.key)}}</div>
                        
                            </div>
                            <div *ngIf="!optionsList[0].checked">
                                <div>HRS: FN : {{ getWorkHours(data?.key ,'F')}} W1: {{ getWorkHours(data?.key ,'W1') }} W2 : {{ getWorkHours(data?.key ,'W2') }}</div>
                                <div> WKD : {{ getWorkHours(data?.key ,'P') }}</div>                             
                                <div> {{getFortnightly_Min_Max(data?.key)}} </div>
                                <div>{{ getGenderInfo(data?.key)}}</div>
                                 
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="i > 0" >
                        <ng-container *ngFor="let value of data.value | dmz: day;  " >
                           
                            <div class="spinner" *ngIf="change_loading && value.isSelected">
                                <nz-spin  nzSimple [nzSize]="'small'"></nz-spin>
                               
                            </div>
                            <div *ngIf="!change_loading || !value.isSelected" >
                                <div class="data" *ngIf="!value.isLast && !value.isNone "
                                    (dragstart)="dragStart($event,value)" (dragend)="dragEnd($event)"
                                    (dblclick)="mousedblclick($event,value)"                              
                                    (mouseenter)="mouseenter($event, value)"
                                    (mousedown)="mousedown($event,value)" 
                                    [class.selected]="value.isSelected"
                                    (contextmenu)="rightClickMenu($event,value, menu)"
                                    [class.highlight]="HighlightColum_index==i"                               
                                    (mousemove)="mousemove($event,value)"
                                    (click)="RosterClick($event,value)"
                                    [ngStyle]="{'background-color': (value.isSelected ) ?  '' : '#'+value.dmColor }"
                                >
                              
                                    <div style="display:flex; flex-direction:row; ">
                                        <div style="display:flex;">
                                            <i nz-icon *ngIf="value.status==2" [nzType]="'check'" [nzTheme]="'outline'" class="icon"  style="margin-top:3px; font-size: 10px; font-weight:bold; color:rgb(81, 255, 0)" ></i>
                                                
                                        </div>
                                        <div class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10" [class.icon4]="dayView === 14"
                                            style="display:flex; flex-direction:row;">
                                        
                                            <img id="icon-1" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14 " *ngIf="value.type==1" src="/media/r1.png" />                                         
                                            <img id="icon-2" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==2 " src="/media/r2.png" />
                                            <img id="icon-3" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==3" src="/media/r3.png" />
                                            <img id="icon-4" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==4" src="/media/r4.png" />
                                            <img id="icon-5" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==5" src="/media/r5.png" />
                                            <img id="icon-6" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==6" src="/media/r6.png" />
                                            <img id="icon-7" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==7" src="/media/r7.png" />
                                            <img id="icon-8" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==8" src="/media/r8.png" />
                                            <img id="icon-9" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==9" src="/media/r9.png" />
                                            <img id="icon-10" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==10" src="/media/r10.png" />
                                            <img id="icon-11" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==11" src="/media/r11.png" />
                                            <img id="icon-12" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==12" src="/media/r12.png" />
                                            <img id="icon-13" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==13" src="/media/r13.png" />
                                            <img id="icon-14" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==14" src="/media/r14.png" />
                                            <img id="icon-15" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==15" src="/media/r15.png" />
                                            <img id="icon-20" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==20" src="/media/r20.png" />
                                            <img id="icon-21" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==21" src="/media/r21.jpg" />
                                            <img id="icon-22" class="icon" [class.icon2]="dayView===7" [class.icon3]="dayView === 10"
                                                [class.icon4]="dayView === 14" *ngIf=" getRosterGroup(value)==22" src="/media/r22.jpg" />
                                            
                                            
                                            <!-- <i class="material-icons option showOption icon" option-click 
                                                                            (mousedownEmit)="mouseEmitter(value)" (click)="optionEmitter(value)"> more_horiz
                                                                        </i> -->
                                        </div>
                                        <div *ngIf="value.type==1 " style="margin-left:13px;background-color: #313030; "></div>
                                        <div style="display:flex; flex-direction:row; ">
                                            <div [class.time]="dayView ==5" [class.time2]="dayView ==7" [class.time3]="dayView == 10"
                                                [class.time4]="dayView == 14" style="display:flex; flex-direction:row; ">
                                        
                                                <div *ngIf="dmType=='1'"> [{{value.shiftname}}] </div>
                                                <div title="{{ value.startTime}}-{{ value.endTime }}">{{ value.startTime}}-{{ value.endTime }} </div>
                                                <div *ngIf="optionsList[1].checked && dayView <=5"> ({{ BlockToTime(value.duration)}})</div>
                                            </div>
                                            <div *ngIf="optionsList[1].checked && dayView >5" [class.time]="dayView ==5" [class.time2]="dayView ==7"
                                                [class.time3]="dayView == 10" [class.time4]="dayView == 14">
                                                <span style="margin-left: 12px;"> ({{ BlockToTime(value.duration)}})</span>
                                            </div>
                                        </div>
                                    
                                    <div class="details" title=" {{ value.startTime}}-{{ value.endTime }} * {{ value.recipient}} * {{ value.activity}} * {{value.snotes.toUpperCase()}}"   [class.detail-more]="selectedRecordNo==value.recordno" ngbTooltip=""
                                            (click)="viewText(value)"  [class.detail2]="dayView == 7" [class.detail3]="dayView == 10" [class.detail4]="dayView == 14"  >
                                            <!-- <i nz-icon *ngIf="value.status==2" style="color: #52c41a; font-family:  Tahoma, Geneva, Verdana, sans-serif; font-size: 12px; font-weight: bold;"  nzType="check" nzTheme="outline"></i> -->
                                            <span style="width: 10px; text-align:center">:</span>
                                            <span>    {{ value.recipient}} * {{ value.activity}} </span>
                                            
                                            <span *ngIf="optionsList[3].checked">
                                                {{value.snotes.toUpperCase()}} 
                                            </span>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                               
                            <div class="total" *ngIf="value.isLast && !value.isNone " >                                
                                <span *ngIf="dayView!=14" >DLY HRS: {{ workedHours(data.value,day) }} </span>
                                    <!-- <span>Total Hours: {{ value.total | number: '1.2-2'}} </span> -->
                                <span *ngIf="dayView>=14" >DLY HRS: {{ workedHours(data.value,day) }} </span>                                 
                               
                            </div>
                           
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
    </div>
  
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu class="dropdown-menu">
            <li nz-menu-item class="listitem">{{shiftMenuDetail}}</li>
            <li nz-menu-item class="has-submenu">
                Send Message <i nz-icon nzType="right" nzTheme="outline" class="icon-submenu"></i>
                <ul class="submenu">
                    <li nz-menu-item (click)="menuclick($event,1)" class="has-submenu2">Client <i class="icon-submenu"
                            nz-icon nzType="right" nzTheme="outline"></i>
                        <ul class="submenu2">
                            <li nz-menu-item (click)="menuclick($event,101)" class="listitem">Email</li>
                            <li nz-menu-item (click)="menuclick($event,102)" class="listitem">SMS</li>
    
                        </ul>
                    </li>
                    <li nz-menu-item  class="has-submenu2">Staff <i class="icon-submenu"
                            nz-icon nzType="right" nzTheme="outline"></i>
                        <ul class="submenu2">
                            <li nz-menu-item (click)="menuclick($event,201)" class="listitem">Email</li>
                            <li nz-menu-item (click)="menuclick($event,202)" class="listitem">SMS</li>
    
                        </ul>
                    </li>
    
                </ul>
            </li>
            <li nz-menu-item (click)="menuclick($event,3)" class="listitem">Route Map </li>
            <li nz-menu-item (click)="menuclick($event,4)" class="listitem">Client Details</li>
            <li nz-menu-item (click)="menuclick($event,5)" class="listitem">Client Notes</li>
            <li nz-menu-item (click)="menuclick($event,6)" class="listitem" 
                *ngIf="selectedStaff!='BOOKED' && selectedStaff!='!INTERNAL' && selectedStaff!='!MULTIPLE'">Staff Details</li>           
            <li nz-menu-item (click)="menuclick($event,7)" class="listitem"
            *ngIf="selectedStaff!='BOOKED' && selectedStaff!='!INTERNAL' && selectedStaff!='!MULTIPLE'">Staff Notes</li>
            <li nz-menu-item (click)="menuclick($event,8)" class="listitem li-divider">Service/Shift Notes</li>
    
            <li nz-menu-item (click)="menuclick($event,31)" class="listitem li-divider" *ngIf="selectedStaff=='BOOKED' ">AI Assistant Allocate</li>
    
            <li nz-menu-item (click)="menuclick($event,32)" class="listitem" *ngIf="selectedStaff=='BOOKED'">Worker Rejected Shift</li>
            <li nz-menu-item (click)="menuclick($event,9)" class="listitem" *ngIf="selectedStaff!='BOOKED'">Unallocate Staff</li>
            <li nz-menu-item (click)="menuclick($event,10)" class="listitem" *ngIf="selectedStaff=='BOOKED'">Allocate Staff</li>
            <li nz-menu-item (click)="menuclick($event,10)" class="listitem" *ngIf="selectedStaff!='BOOKED'">Reallocate Staff</li>
            <li nz-menu-item (click)="menuclick($event,11)" class="listitem li-divider">Cancel Shift (RECIPIENT)</li>
    
            <li nz-menu-item (click)="menuclick($event,12)" class="listitem">Add NEW Staff Activity/View Shifts and Gaps</li>
            <li nz-menu-item (click)="menuclick($event,13)" class="listitem li-divider">Add NEW Recipient Activity/View Daily
                Services</li>
            <li nz-menu-item (click)="menuclick($event,14)" class="listitem li-divider">View Gaps(STAFF)</li>
            <li nz-menu-item (click)="menuclick($event,15)" class="listitem">Set Caseload Name</li>
            <li nz-menu-item (click)="menuclick($event,16)" class="listitem">Mark in Progress</li>
            <li nz-menu-item (click)="menuclick($event,17)" class="listitem">Clear in Progress Status</li>
            <li nz-menu-item (click)="menuclick($event,18)" class="listitem li-divider">Allocate Resource</li>
            <li nz-menu-item class="has-submenu li-divider">
                Change <i nz-icon nzType="right" nzTheme="outline" class="icon-submenu"></i>
                <ul class="submenu">
                    <li nz-menu-item (click)="menuclick($event,1901)" class="listitem">Change Output Type</li>
                    <li nz-menu-item (click)="menuclick($event,1902)" class="listitem">Change Program</li>
                    <li nz-menu-item (click)="menuclick($event,1903)" class="listitem">Change Activity</li>
                    <li nz-menu-item (click)="menuclick($event,1904)" class="listitem">Change Pay Type</li>
                    <li nz-menu-item (click)="menuclick($event,1905)" class="listitem">Change Pay Quantity</li>
                    <li nz-menu-item (click)="menuclick($event,1906)" class="listitem">Set Unit Cost</li>
                    <li nz-menu-item (click)="menuclick($event,1907)" class="listitem">Change Debtor</li>
                    <li nz-menu-item (click)="menuclick($event,1908)" class="listitem">Change Bill Amount</li>
                    <li nz-menu-item (click)="menuclick($event,1909)" class="listitem">Change Bill Quantity</li>
                    <li nz-menu-item (click)="menuclick($event,1910)" class="listitem">Change Dataset Quantity</li>
                </ul>
            </li>
    
            <li nz-menu-item class="has-submenu li-divider">
                View <i nz-icon nzType="right" nzTheme="outline" class="icon-submenu"></i>
                <ul class="submenu">
                    <li nz-menu-item (click)="menuclick($event,2001)" class="listitem">View Recipient Details</li>
                    <li nz-menu-item (click)="menuclick($event,2004)" class="listitem ">View Shift/Service Details</li>
                    <!-- <li nz-menu-item (click)="menuclick($event,2002)" class="listitem ">View Staff Details</li> -->
                    <li nz-menu-item (click)="menuclick($event,2003)" class="listitem ">View Extra/Additional Info</li>
                    <li nz-menu-item (click)="menuclick($event,2005)" class="listitem ">View Recipient Roster</li>
                    <li nz-menu-item (click)="menuclick($event,2006)" class="listitem ">View Staff Roster</li>
                  
                </ul>
            </li>
            <li nz-menu-item (click)="menuclick($event,21)" class="listitem">Nudge Up</li>
            <li nz-menu-item (click)="menuclick($event,22)" class="listitem">Nudge Down</li>
            <li nz-menu-item (click)="menuclick($event,23)" class="listitem">Copy</li>
            <li nz-menu-item (click)="menuclick($event,24)" class="listitem">Cut</li>
    
            <li nz-menu-item (click)="menuclick($event,25)" class="listitem">Paste (Retain Notes)</li>
            <li nz-menu-item (click)="menuclick($event,26)" class="listitem">Paste (Without Notes)</li>
            <li nz-menu-item (click)="menuclick($event,27)" class="listitem" *ngIf="selectedStaff!='BOOKED'">Approve</li>
            <li nz-menu-item (click)="menuclick($event,28)" class="listitem li-divider" *ngIf="selectedStaff!='BOOKED'">UnApprove</li>
            <li nz-menu-item (click)="menuclick($event,29)" class="listitem">DELETE SHIFT/SERVICE</li>
            <li nz-menu-item (click)="menuclick($event,30)" class="listitem li-divider">Delete Additional Information/Xtra
                info</li>
        </ul>
    </nz-dropdown-menu>
      
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    
    <div class="col-md-12 no-data" *ngIf="daymanager.length == 0 && !loading">
        <clr-alert [clrAlertClosable]="false">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                    No shifts currently!
                </span>
            </div>
        </clr-alert>
    </div>

    <nz-modal  [nzStyle]="{ top: '100px' }" hasBackdrop [nzWidth]="400" [(nzVisible)]="AutoPreviewNotes" nzTitle="Service Summary"   (nzOnCancel)="AutoPreviewNotes = false" >
        <div  class="flexy" style="min-height:15rem; margin-top: 2px;" >
            <div nz-row >
                <div nz-row >
                    <div nz-col *ngIf="clickedRoster" nzSpan="24">
                           <div class="rectangle">
                                Shift#   :   <span>{{clickedRoster.recordno}}</span>
                            </div> 
                            <div class="rectangle">
                                Client   :   <span>{{clickedRoster.recipient}}</span>
                            </div>
                            <div class="rectangle">
                                Staff    :   <span>{{clickedRoster.carercode}}</span>
                            </div> 
                            <div class="rectangle">
                                Location :   <span>{{clickedRoster.servicesetting}}</span>
                            </div>
                            <div class="rectangle">
                                Activity :   <span>{{clickedRoster.activity}}</span>
                            </div>
                            <div >
                                Extr Info :   
                            </div>
                            <div>
                                 <span>{{clickedRoster.notes.toUpperCase()}}</span>
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div *nzModalFooter>
            <button  nz-button nzType="default" (click)="AutoPreviewNotes=false">OK</button>
            <button  nz-button nzType="default" (click)="AutoPreviewNotes=false">Cancel</button>
        </div>
    </nz-modal>                 

</div>