@import "../../../../node_modules/bootstrap-css-only/css/bootstrap.min.css";


.loading-wrapper{
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: no-drop;
    height: 35rem;
}

.loading-wrapper nz-spin{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}