<div nz-row style="margin-left:10px">
    <label for="">Nursing Diagnosis</label>
    <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

        <button class="btnlevel2navy"
            *ngIf="getPermisson(51) == '1'   "
            (click)="showAddModal()">Add</button>
        <button class="btnlevel2navy"
            *ngIf="getPermisson(52) == '1' "  
            (click)="updateprocedure(activeRowData)">Edit</button>
        <button class="btnlevel2orange"
            *ngIf="getPermisson(53) == '1' " nz-popconfirm
            nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm(2,{})">Del</button>
            <button class="btnlevel2navy"                
            (click)="generatePdf()">Print</button>
            <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
    </div>
    <div nz-col nzSpan="24">
        <!-- <button class="botton success" (click)="showAddModal()">Add Procedure</button> -->
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="procedureList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ICDCODE</th>
                    <th>Description</th>
                    <!-- <th class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn"  (click)="onItemSlelect(data,i)"  (dblclick)="updateprocedure(data)">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.icdcode}}</td>
                    <td> {{ data.description }}</td>
                    <!-- <td>
                        <a (click)="updateprocedure(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Procedure from the List?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deleteconsent(data)">Delete</a>
                    </td> -->
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="consentOpen" [nzTitle]="addOREdit == 0 ? 'Add Procedure' : 'Edit Procedure'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" 
[nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div [formGroup]="inputForm">
        
        <div nz-row nzGutter="16" *ngIf="addOREdit == 0">
            <div nz-col nzSpan="24">
                <nz-form-label>ICD10 Procedures</nz-form-label>
                <ng-select
                    formControlName="list" 
                    [items]="lists"
                    [virtualScroll]="true"
                    [placeholder]="'Medical Procedure'"
                    [loading]="loading"
                >
                </ng-select>
            </div>
        </div>
        <div class="form-group" *ngIf="addOREdit == 1">
            <nz-form-label>ICD10 Procedure</nz-form-label>
            <input nz-input formControlName="list" disabled />
        </div>
        <div class="form-group" *ngIf="addOREdit == 1">
            <nz-form-label>USER CODE</nz-form-label>
            <input nz-input formControlName="usercode"/>
        </div>
        <div class="form-group" *ngIf="addOREdit == 1">
            <nz-form-label>ICD10/NANDA</nz-form-label>
            <input nz-input formControlName="icdcode"/>
        </div>

        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel()">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="consentProcess()" [disabled]="!this.inputForm.get('list').value">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>

  <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>            
  <div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
  </div>    
  </nz-drawer>