<div nz-row style="padding: 10px 0px">
    <div nz-col>
        <!-- <div nz-row>
            <button *ngIf="getPermisson(79) == '1'" class="botton success" (click)="save()" [disabled]="!inputForm?.dirty">Save Changes</button>
        </div> -->
        <div nz-row [formGroup]="inputForm">
            <div nz-col nzSpan="16">
                <h2>Rostering</h2>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="IsRosterable">Staff Can Be Rostered</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="excludeFromConflictChecking">Allow Roster Overlaps</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="emailTimesheet">Email Roster</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="excludeFromLogDisplay">Exclude From MTA Dashboard</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="excludeFromTravelInterpretation">Exclude From Travel interpretation</label>
            </div> 
            <div nz-col nzSpan="16">
                <div nz-col nzSpan="12">
                    <label>Cancel Pay Type</label>
                </div>
                <div nz-col nzSpan="12">
                    
                </div>
            </div>
            <div nz-col nzSpan="16">
                <h2>Mobile App</h2>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="excludeShiftAlerts">Exclude From Generating Late,Early,Short Long Shift Alerts</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="rosterPublish">Send Message On Master Roster Creation</label>
            </div>
            <div nz-col nzSpan="16">
                <label nz-checkbox formControlName="shiftChange">Send Message On Shift Changes</label>
            </div>
            <div nz-col nzSpan="16">
                <div nz-col nzSpan="3">
                    <label>Send Message As :</label>
                </div>
                <div nz-col nzSpan="4">
                    App Messgae <label nz-checkbox formControlName="inAppMessage"></label>                
                </div>
                <div nz-col nzSpan="4">
                    Email SMS <label nz-checkbox formControlName="smsMessage"></label>                
                </div>
                <div nz-col nzSpan="4">
                    Email <label nz-checkbox formControlName="emailMessage"></label>                
                </div>
            </div>
            <div nz-col nzSpan="16">
                <div nz-col nzSpan="3">
                    <label for="">Pin Number</label>
                </div>
                <div nz-col nzSpan="4">
                    <input nz-input formControlName="pin" (keypress)="onKeyPress($event)" />
                </div>
            </div>
            <div nz-col nzSpan="16">
                <div nz-col nzSpan="3">
                    <label for="">Auto Logout Time</label>
                </div>
                <div nz-col nzSpan="4">
                    <input nz-input formControlName="autoLogout" (keypress)="onKeyPress($event)" />
                </div>
            </div>
            <div nz-col nzSpan="16">
                <div nz-col nzSpan="3">
                    <label for="">Time Zone Offset</label>
                </div>
                <div nz-col nzSpan="4">
                    <input nz-input formControlName="staffTimezoneOffset" (keypress)="onKeyPress($event)" />
                </div>
            </div>
        </div>
    </div>
</div>