<div nz-row nzGutter="16">
    <nz-tabset [nzTabPosition]="position">
        <nz-tab [nzTitle]="'Competencies'">
            <div>
                <div nz-row class="tableheaderactions" [formGroup]="skillsForm">
                    <div nz-col nzSpan="5">
                        <button class="btnlevel2navy" (click)="showAddModal(1)" >Add</button>
                        <button class="btnlevel2navy"   (click)="showEditModal(1)">Edit</button>
                        <button class="btnlevel2orange"    (nzOnConfirm)="delete()"  nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this from the List?">Delete</button>
                        <button class="btnlevel2navy" (click)="InitiatePrint(0)">Print</button>
                    </div>
                    <div nz-col nzSpan="12" style="padding-top: 10px;">
                        <label nz-checkbox formControlName="EmailCompetencyReminders" (change)="changeStatus($event,2)">Email Competency Reminder</label>
                        <label nz-checkbox formControlName="CompetencyException" (change)="changeStatus($event,1)">Exclude From Mandatory Competency Checking </label>
                    </div>
                </div>
                <div nz-row>
                    <nz-table style="max-height:650px;overflow-y:auto;width:100%;" #headerTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="tableData">
                    <thead>
                        <tr>
                            <th>Competency</th>
                            <th>Mandatory</th>
                            <th>Expiry Date</th>
                            <th>Reminder Date</th>
                            <th>Cert/Reg.No</th>
                            <th>Completion Date</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                            <td>{{ data.competency  }}</td>
                            <td>
                                <label nz-checkbox nzDisabled [ngModel]="data.mandatory" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                            </td>
                            <td>{{ data.expiryDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ data.reminderDate | date: 'dd/MM/yyyy'  }}</td>
                            <td>{{ data.certReg }}</td>
                            <td>{{ data.completionDate | date: 'dd/MM/yyyy'  }}</td>
                            <td>{{ data.notes }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        </nz-tab>
        <nz-tab [nzTitle]="'Informal Attributes'">
            <div>
                <div nz-row class="tableheaderactions">
                    <div nz-col nzSpan="5">
                        <button class="btnlevel2navy" (click)="showAddModal(2)">Add</button>
                        <button class="btnlevel2navy" (click)="showEditModal(2)">Edit</button>
                        <button class="btnlevel2orange"    (nzOnConfirm)="deleteAttribute()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this from the List?">Delete</button>
                        <button class="btnlevel2navy" (click)="InitiatePrint(1)">Print</button>
                    </div>
                </div>
                <div nz-row>
                    <nz-table style="max-height:650px;overflow-y:auto;width:100%;" #headerTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="informalAttributes">
                    <thead>
                        <tr>
                            <th>Competency</th>
                            <th>Mandatory</th>
                            <th>Expiry Date</th>
                            <th>Reminder Date</th>
                            <th>Cert/Reg.No</th>
                            <th>Completion Date</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of informalAttributes;let i = index;trackBy: trackByFn" (click)="selectedAttributeItemGroup(data,i);" [class.selecteditem]="selectedRowattributes == i">
                            <td>{{ data.competency  }}</td>
                            <td>
                                <label nz-checkbox nzDisabled [ngModel]="data.mandatory" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                            </td>
                            <td>{{ data.expiryDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ data.reminderDate | date: 'dd/MM/yyyy'  }}</td>
                            <td>{{ data.certReg }}</td>
                            <td>{{ data.completionDate | date: 'dd/MM/yyyy'  }}</td>
                            <td>{{ data.notes }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="'Simple Skills'">
            <div>
                <div nz-row [formGroup]="skillsForm">
                    <div nz-col nzSpan="20" nzGutter="16" style="padding:20px 0px">
                        <div nz-col nzSpan="6"  *ngFor="let skill of skillsModified;let i = index" style="cursor: pointer;">
                            <div nz-col nzSpan="16" class="text-left">
                                <span (click)="showUpdateModal(skill)">{{skill.text}}</span>
                            </div>
                            <div nz-col nzSpan="3" class="text-left">
                                <label formControlName="SB{{skill.title}}" (change)="changeSbField($event,skill,i)" nz-checkbox> </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</div>

<nz-modal [nzWidth]="350" [(nzVisible)]="skillModal" [nzTitle]="'Update Skill Title'" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <div nz-row nzGutter="24" class="mrg-btm-2" [formGroup]="titleskillsForm">
            <div class="form-group" nz-col nzSpan="24" style="width:100%;">
                <label for="">Title</label>
                <input type="text" formControlName="identifer" nz-input  style="width:100%;"/>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="updateSkills()">
                <span>UPDATE</span>
            </button>
        </ng-container>
    </div> 
</nz-modal>

<nz-modal [nzWidth]="520" [(nzVisible)]="modalOpen" [nzTitle]="modaltitle" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="addOREdit == 1">
                <div  class="flexy" style="min-height:20rem;" hasBackdrop>
                    <div *ngIf="dropdowonlisting">
                        <div>
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)" [ngModelOptions]="{ standalone: true }" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <i nz-icon nzType="search"></i>
                            </ng-template>
                        </div>
                        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                        [nzData]="dropdowonlisting"  style="height: 600px; width: 480px;"  [nzScroll]="{ y: '580px'}">
                        <tbody>
                            <tr *ngFor="let data of dropdowonlisting;let i = index;" (click)="RecordClicked($event, data, i)" 
                            (dblclick)="onItemDbClick(data,i)"
                            [class.selected]="selectedcompetencies.includes(data)">
                            <td class="left">                                     
                                {{ data }}
                            </td>
                        </tr>
                    </tbody>
                </nz-table> 
            </div>            
        </div>
    </div>
    <div *ngIf="addOREdit == 0">
        <div nz-row nzGutter="2" class="mrg-btm-2">
            <div nz-col nzSpan="5">
                <label for="competency">Competency</label>
            </div>
            <div nz-col nzSpan="19">
                <input nz-input formControlName="competency" />
            </div>
        </div>
        <div nz-row nzGutter="2" class="mrg-btm-2">
            <div nz-col nzSpan="5">
                <label for="Expiry">Expiry</label>
            </div>
            <div nz-col nzSpan="7">
                <nz-date-picker  formControlName="expiryDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <div nz-col nzSpan="4" class="text-right" style="padding:0px;">
                <label for="Reminder">Reminder</label>
            </div>
            <div nz-col nzSpan="8">
                <nz-date-picker  formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="2" class="mrg-btm-2">
            <div nz-col nzSpan="5">
                <label for="Cert/Reg #">Cert/Reg #</label>
            </div>
            <div nz-col nzSpan="7">
                <input nz-input  formControlName="certReg" />
            </div>
            <div nz-col nzSpan="4" class="text-right" style="padding-left:0px !important;">
                <label for="Completion">Completion</label>
            </div>
            <div nz-col nzSpan="8">
                <nz-date-picker  formControlName="completionDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="2" class="mrg-btm-2">
            <div nz-col nzSpan="5">
            </div>
            <div nz-col nzSpan="7">
                <label nz-checkbox formControlName="mandatory">: Mandatory</label>
            </div>
        </div>
        <div nz-row nzGutter="2" class="mrg-btm-2">
            <div nz-col nzSpan="5">
                <label for="Notes">Notes</label>
            </div>
            <div nz-col nzSpan="19">
                <textarea  rows="4" nz-input  formControlName="notes"></textarea>
            </div>
        </div>
    </div>
</div>
</div>
<div *nzModalFooter>
    <ng-container>
        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
            <span>Done</span>
        </button>
    </ng-container>
</div>
</nz-modal>
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>