<div nz-row>
    <div nz-col>
        <div class="tableheaderactions">
            <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">ADD</button>
            <button class="btnlevel2navy" (click)="viewFile()" >OPEN</button>
            <button class="btnlevel2orange"    (nzOnConfirm)="delete()"  nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this?">DELETE</button>
            <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
            <app-upload-shared *ngIf="showUpload" [(ngModel)]="user" (reload)="reload($event)"></app-upload-shared>
        </div>
        <div nz-row>
            <div class="example-container">
                <ul
                cdkDropList
                cdkDropListOrientation="horizontal"
                #todoList="cdkDropList"
                [cdkDropListData]="dragOrigin"
                [cdkDropListConnectedTo]="[doneList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                    <div>
                        {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
        [nzData]="tableData">
        <thead>
            <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                <th nzLeft cdkDrag [cdkDragData]="'Document Name'">Document Name</th>
                <th nzLeft cdkDrag [cdkDragData]="'created By'">Created</th>
                <th nzLeft cdkDrag [cdkDragData]="'status'">Status</th>
                <th nzLeft cdkDrag [cdkDragData]="'Care Domain'">Care Domain</th>
                <th nzLeft cdkDrag [cdkDragData]="'Dicipline'">Dicipline</th>
                <th nzLeft cdkDrag [cdkDragData]="'Program'">Program</th>
                <th nzLeft cdkDrag [cdkDragData]="'Class'">Class.</th>
                <th nzLeft cdkDrag [cdkDragData]="'Category'">Cat.</th>
                <th nzLeft cdkDrag [cdkDragData]="'Modified'">Modified</th>
                <th nzLeft cdkDrag [cdkDragData]="'filename'">Filename</th>
                <th nzLeft cdkDrag [cdkDragData]="'Created'">Created</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="isSome(tableData)">
                <ng-container *ngFor="let titleData of tableData;">
                    <tr  *ngIf="!isArray(titleData)">
                        <td colspan="9">
                            <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                        </td>
                    </tr>
                    
                    <ng-container *ngIf="isArray(titleData)">
                        <tr style="background: #d9efff;"  [contextMenu]="basicMenu" [contextMenuSubject]="data" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (dblclick)="OpenSelectedItem(data,i)" (click)="OnItemSelected(data,i)"
                        [class.selecteditem]="selectedRow == i">
                            <td nzBreakWord class="left">{{ data.title  }}</td>
                            <td>{{ data.author }}</td>
                            <td>{{ data.status }}</td>
                            <td>{{ data.careDomain }}</td>
                            <td>{{ data.discipline }}</td>
                            <td>{{ data.program }}</td>
                            <td>{{ data.classification }}</td>
                            <td>{{ data.category }}</td>
                            <td nzBreakWord>{{ data.modified }}</td>
                            <td nzBreakWord>{{ data.filename }}</td>
                            <td nzBreakWord>{{ data.created | date: 'd/M/yyyy'  }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isSome(tableData)">
                <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" [contextMenu]="basicMenu" [contextMenuSubject]="data" (dblclick)="OpenSelectedItem(data,i)" (click)="OnItemSelected(data,i)"
                [class.selecteditem]="selectedRow == i">
                            <td nzBreakWord class="left">{{ data.title  }}</td>
                            <td>{{ data.author }}</td>
                            <td>{{ data.status }}</td>
                            <td>{{ data.careDomain }}</td>
                            <td>{{ data.discipline }}</td>
                            <td>{{ data.program }}</td>
                            <td>{{ data.classification }}</td>
                            <td>{{ data.category }}</td>
                            <td nzBreakWord>{{ data.modified }}</td>
                            <td nzBreakWord>{{ data.filename }}</td>
                            <td nzBreakWord>{{ data.created | date: 'd/M/yyyy'  }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>
</div>
</div>


<nz-modal [(nzVisible)]="addDocumentModal" [nzWidth]="700" [nzStyle]="{ 'top': '20px' }" nzTitle="Add Document" (nzOnCancel)="handleCancel()">
    
    <div class="flexy">
        
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Templates" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Pick Filename" nzDescription=""></nz-step>
        </nz-steps>
        
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
        <div class="steps-content" *ngIf="inputForm">
            <div *ngIf="current == 0"  style="max-height: 700px; overflow-y: auto;">
                <ul>
                    <li [class.active]="i == selectedIndex" *ngFor="let template of templates$ | async;let i = index" (click)="selectDocument(template, i)">
                        <div [class.exist]="template?.exists" [class.not-exist]="!template?.exists">
                            <i nz-icon nzType="info-circle" *ngIf="!template?.exists"  nzTheme="outline"></i>
                            <i nz-icon nzType="check-circle" *ngIf="template?.exists" nzTheme="outline"></i>                     
                            {{ template.name }}
                        </div>
                    </li>
                </ul>
            </div>
            <div nz-row *ngIf="current == 1">
                <div nz-col nzSpan="24">
                    <label for="">Enter New Filename</label>
                    <input nz-input [ngModel]="fileObject?.newFile" (ngModelChange)="fileObject?.newFile ? fileObject.newFile = $event : null"  />
                </div>
            </div>
        </div>
        
    </div>
    
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <!-- <button nz-button nzType="default" (click)="next()" *ngIf="current < 1" >
                <span>Next</span>
            </button> -->
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()" *ngIf="current === 1">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
    
</nz-modal>
<nz-modal [nzWidth]="600" [(nzVisible)]="showDocProperties" nzTitle="Add New Document"
    (nzOnCancel)="showDocProperties=false" [nzMask]="true" [nzMaskClosable]="false"  [nzClosable]="true">
    <div class="flexy" style="min-height:5rem; ">
    <div [formGroup]="inputForm" style="min-width:500px; ">
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Name</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <input nz-input formControlName="title" />
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Discipline</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="discipline" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of disciplines" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Program</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="program" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of programs" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Care Domain</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="caredomain" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of caredomains" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Classification</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="classification" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of classifications" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Category</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="category" nzAllowClear nzPlaceHolder="category" style="width:100%">
                        <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Reminder Date</label>
            </div>
            <div nz-col nzSpan="6">

                <div class="form-group" >
                    <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <div nz-col nzSpan="10" >

                <div class="form-group">
                    <label nz-checkbox formControlName="publishToApp" style="padding-left: 8px">Publish To App</label>
                </div>
            </div> 
         

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Reminder Text</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <input nz-input formControlName="reminderText" />
                </div>

            </div>

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Document Notes</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <textarea rows="4" nz-input formControlName="notes"></textarea>
                </div>
            </div>
        </div>


    </div>

</div>
    <div *nzModalFooter>       

            <button nz-button nzType="default" class="btnlightblue" (click)=" save()">Save</button>
       
    </div>
</nz-modal>
<context-menu>
    <ng-template contextMenuItem let-item (execute)="showAcceptModal($event.item,1)">
        Properties
    </ng-template>
</context-menu>

<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>