<div nz-row nzGutter="16">
    <nz-tabset [nzTabPosition]="position" >
        <nz-tab [nzTitle]="'Mailing Groups'">
            <div>
                <div nz-row class="tableheaderactions">
                    <button class="btnlevel2navy" (click)="showAddModal(1)">Add</button>
                    <button class="btnlevel2navy" (click)="showEditModal(1)">Edit</button>
                    <button class="btnlevel2orange"   nz-popconfirm (nzOnConfirm)="delete(1)" nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this group?">Del</button>
                    <button class="btnlevel2navy" (click)="InitiatePrint(0)">Print</button>
                </div>
                <div nz-row>
                    <nz-table #basicTable  [nzShowPagination]="false" [nzLoading]="loading" [nzBordered]="true" [nzScroll]="{y: '65vh' }" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="userdefined1">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="30%" nzLeft>Group</th>
                                <th nzLeft nzWidth="70%" nzLeft>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i"> 
                                <td>{{data.group}}</td>
                                <td>{{data.notes}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="'Preference Groups'">
            <div>
                <div nz-row class="tableheaderactions">
                    <!-- *ngIf="getPermisson(78) == '1'" -->
                    <button class="btnlevel2navy" (click)="showAddModal(2)">Add</button>
                    <button class="btnlevel2navy" (click)="showEditModal(2)">Edit</button>
                    <button class="btnlevel2orange"  nz-popconfirm (nzOnConfirm)="delete(2)" nzPopconfirmPlacement="bottom" nzPopconfirmTitle="Are you sure delete this preference?">Del</button>
                    <button class="btnlevel2navy" (click)="InitiatePrint(1)">Print</button>
                </div>
                <nz-table  #tb2 [nzShowPagination]="false" [nzLoading]="loading" [nzBordered]="true" [nzScroll]="{y: '65vh' }" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="userdefined2">
                    <thead>
                        <tr> 
                            <th nzLeft nzWidth="30%">Preference</th>
                            <th nzLeft nzWidth="70%">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of tb2.data;let i=index;trackBy: trackByFn" (click)="selectedItemPreference(data,i);" [class.selecteditem]="selectedRowp == i">
                            <td>{{data.preference}}</td>
                            <td>{{data.notes}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>    
        </nz-tab>
    </nz-tabset>
</div>
<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()" >
    <div nz-row [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label>{{ whatView == 1 ? 'Group' :  'Preference'}}</nz-form-label>
                <nz-form-control nzErrorTip="Required Field">
                    <nz-select formControlName="list" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of listArray" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-row>
        <nz-form-item>
            <nz-form-label>Notes</nz-form-label>
            <nz-form-control nzErrorTip="Required Field">
                <textarea rows="4" nz-input formControlName="notes"></textarea>                    
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="processBtn()" [nzLoading]="isLoading">Save</button>
</div>
</nz-modal>
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>