<div nz-row>
    <div nz-col>
        <div>
            <div class="tableheaderactions">
                <button class="btnlevel2navy" (click)="handleOkTop() " style="margin-left:0px;">Print</button>
                <button class="btnlevel2navy" (click)="refresh()">Refresh</button>
                <span style="margin:0px 15px">Display Last</span>
                <input type="number" style="width:65px;text-align:center;" nz-input [(ngModel)]="limit"  (ngModelChange)="onModelChange()" />
            </div>
            <div nz-row>
                <div class="example-container">
                    <ul
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #todoList="cdkDropList"
                    [cdkDropListData]="dragOrigin"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="drag-list"
                    (cdkDropListDropped)="drop($event)">
                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                        <div>
                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div>
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzBordered]="true" [nzScroll]="{y: '60vh' }" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                        <thead>
                        <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                            <th nzLeft nzWidth="20%" cdkDrag [cdkDragData]="'date'">Date</th>
                            <th nzLeft nzWidth="10%" cdkDrag [cdkDragData]="'startTime'">Start Time</th>
                            <th nzLeft nzWidth="10%" cdkDrag [cdkDragData]="'duration'">Duration</th>
                            <th nzLeft nzWidth="10%" cdkDrag [cdkDragData]="'recipient'">Recipient</th>
                            <th nzLeft nzWidth="50%" cdkDrag [cdkDragData]="'activity'">Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="isSome(tableData)">
                                <ng-container *ngFor="let titleData of tableData;">
                                    <tr  *ngIf="!isArray(titleData)">
                                        <td colspan="9">
                                            <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                                        </td>
                                    </tr>
                                    
                                    <ng-container *ngIf="isArray(titleData)">
                                        <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                            <td>{{data.date | date: 'dd/MM/yyyy'  }}</td>
                                            <td>{{data.startTime}}</td>
                                            <td>{{data.duration}}</td>
                                            <td>{{data.recipient}}</td>
                                            <td>{{data.activity}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!isSome(tableData)">
                                <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                            <td>{{ data.date  | date: 'dd/MM/yyyy'   }}</td>
                                            <td>{{data.startTime}}</td>
                                            <td>{{data.duration}}</td>
                                            <td>{{data.recipient}}</td>
                                            <td>{{data.activity}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </nz-table>
            </div>
        </div>
    </div>
</div>

<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>