<div nz-row>
    <div nz-col>
        
        <div class="tableheaderactions">
            <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">ADD</button>
            <button class="btnlevel2navy" (click)="showEditModal()">Edit</button>
            <button class="btnlevel2orange"    (nzOnConfirm)="closed()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure you want to close this ?">CLOSE</button>
            <button class="btnlevel2navy" (click)="handleOkTop()">Print</button>
        </div>
        
        <div>
            
        </div>
    </div>
</div>

<div nz-row>
    <div class="example-container">
        <ul
        cdkDropList
        cdkDropListOrientation="horizontal"
        #todoList="cdkDropList"
        [cdkDropListData]="dragOrigin"
        [cdkDropListConnectedTo]="[doneList]"
        class="drag-list"
        (cdkDropListDropped)="drop($event)">
        <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
            <div>
                {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
            </div>
        </li>
    </ul>
</div>
</div>
<div nz-row>
    <div nz-col>        
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
        [nzData]="tableData">
        <thead>
            <!-- <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Assigned To</th>
                <th>Action</th>
            </tr> -->
            
            <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                <th cdkDrag [cdkDragData]="'status'" class="left" style="width: 50%">Status</th>
                <th cdkDrag [cdkDragData]="'date'">Date</th>
                <th cdkDrag [cdkDragData]="'type'">Type</th>
                <th cdkDrag [cdkDragData]="'description'">Description</th>
                <th cdkDrag [cdkDragData]="'assigned'">Assigned To</th>
                <!-- <th><th> -->
                </tr>
                
            </thead>
            <tbody>
                
                <!-- <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.status  }}</td>
                    <td>{{ data.date | date: 'd/MM/y'  }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.assigned }}</td>
                    <td>
                        <a (click)="showEditModal(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Incident from the list?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="closed(i)">Close</a>
                    </td>
                </tr> -->
                
                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn">
                                <td>{{ data.status  }}</td>
                                <td>{{ data.date | date: 'd/MM/y'  }}</td>
                                <td>{{ data.type }}</td>
                                <td>{{ data.description }}</td>
                                <td>{{ data.assigned }}</td>
                                <!-- <td>
                                    <a *ngIf="getPermisson(60) == '1'" (click)="showEditModal(data)">Update</a>
                                    <nz-divider *ngIf="getPermisson(60) == '1'" nzType="vertical"></nz-divider>
                                    <a *ngIf="getPermisson(61) == '1'" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Incident from the list?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="closed(i)">Close</a>
                                </td> -->
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                        <td>{{ data.status  }}</td>
                        <td>{{ data.date | date: 'd/MM/y'  }}</td>
                        <td>{{ data.type }}</td>
                        <td>{{ data.description }}</td>
                        <td>{{ data.assigned }}</td>
                        <!-- <td>
                            <a *ngIf="getPermisson(60) == '1'" (click)="showEditModal(data)">Update</a>
                            <nz-divider *ngIf="getPermisson(60) == '1'"nzType="vertical"></nz-divider>
                            <a *ngIf="getPermisson(61) == '1'" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Incident from the list?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="closed(i)">Close</a>
                        </td> -->
                    </tr>
                </ng-container>
                
            </tbody>
        </nz-table>
    </div>
</div>

<app-incident-post [open]="incidentOpen" [operation]="operation" (reload)="reload($event)" [(ngModel)]="incidentRecipient"></app-incident-post>
<div> 
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>
</div>

<!-- <nz-modal [nzWidth]="1200" [nzStyle]="{ top: '20px' }" [(nzVisible)]="modalOpen" [nzTitle]="'Add Incident'" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Incident Type" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Step 1" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Step 2" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Step 3" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Step 4-5" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Step 6-7" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Office Use" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Ongoing Notes" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
        </nz-steps>
        
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        
        <div class="steps-content" [formGroup]="incidentForm">
            <div *ngIf="current == 0">
                <label for="">Incident Type</label>
                <nz-select class="nzselect-min" formControlName="incidentType" [nzDropdownMatchSelectWidth]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select an incident type" >
                    <nz-option *ngFor="let d of incidentTypeList" [nzLabel]="d" [nzValue]="d"></nz-option>
                </nz-select>
            </div>
            <div *ngIf="current == 1">
                <app-incident-profile [(ngModel)]="user" [ngModelOptions]="{standalone: true}"></app-incident-profile>
            </div>
            <div *ngIf="current == 2">
                <div nz-row>
                    <div nz-col nzSpan="8" class="options">
                        <div>
                            <label nz-checkbox >Medication not given/taken as prescribed</label>
                        </div>
                        <div>
                            <label nz-checkbox >Wrong medication does given to client</label>
                        </div>
                        <div>
                            <label nz-checkbox >Physical Injury</label>
                        </div>
                        <div>
                            <label nz-checkbox >Criminal Activity</label>
                        </div>
                        <div>
                            <label nz-checkbox >Inappropriate Sexual Behavior</label>
                        </div>
                        <div>
                            <label nz-checkbox >Property Damage</label>
                        </div>                        
                        <div>
                            <label nz-checkbox >Financial</label>
                        </div>                
                    </div>
                    <div nz-col nzSpan="8" class="options">
                        <div>
                            <label nz-checkbox >Medication was given to wrong client</label>
                        </div>
                        <div>
                            <label nz-checkbox >Medication given at wrong time</label>
                        </div>
                        <div>
                            <label nz-checkbox >Death</label>
                        </div>
                        <div>
                            <label nz-checkbox >Emergency situation</label>
                        </div>
                        <div>
                            <label nz-checkbox >Motor Vehicle Accident</label>
                        </div>
                        <div>
                            <label nz-checkbox >Sexual Assault</label>
                        </div>
                        <div>
                            <label nz-checkbox >Physical</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="options">
                        <div>
                            <label nz-checkbox >Wrong medication was given to client</label>
                        </div>
                        <div>
                            <label nz-checkbox >Medication given by the wrong route</label>
                        </div>
                        <div>
                            <label nz-checkbox >Service User Missing</label>
                        </div>
                        <div>
                            <label nz-checkbox >Theft or Fraud</label>
                        </div>
                        <div>
                            <label nz-checkbox >Negative interaction with others</label>
                        </div>
                        <div>
                            <label nz-checkbox >Emotional</label>
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="24" class="options">
                        <div>
                            <label nz-checkbox >Alleged aggressive behaviour by the carer, member of the public or service worker</label>
                        </div>
                        <div style="display: flex;">
                            <label nz-checkbox >Others</label>  <input style="width: 15rem;" nz-input nzSize="small" />
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="15">
                        <label for="">Incident Summary</label>
                        <textarea rows="4" nz-input ></textarea>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="15">
                        <label for="">Incident Description</label>
                        <textarea rows="4" nz-input ></textarea>
                    </div>
                </div>
                
            </div>
            
            <div *ngIf="current == 3">
                
            </div>
            
            <div *ngIf="current == 4">
                <div nz-row nzGutter="32">
                    <div nz-col nzSpan="24">
                        <h4>Step 4: Where did it happen?</h4>
                        <div class="form-group pad-15">
                            <label for="">Be specific about the area/location (e.g in the kitchen near the fridge)</label>
                            <input style="width: 15rem;" nz-input />
                        </div>
                    </div>
                </div>
                <div nz-row nzGutter="32">
                    <div nz-col>
                        <h4>Step 5: What occurred leading up to the incident?</h4>
                    </div>
                    <div nz-col class="pad-15">
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Describe the mood of the person (describe what you could see or hear)</label>
                                    <textarea rows="4" nz-input ></textarea>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">What activity were you doing right before the incident occured? (e.g any change to routine, any)</label>
                                    <textarea rows="4" nz-input ></textarea>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Any environment irritants or other identifiable</label>
                                    <textarea rows="4" nz-input ></textarea>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Describe the mood of the person</label>
                                    <textarea rows="4" nz-input ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div *ngIf="current == 5">
                <div nz-row nzGutter="32">
                    <div nz-col nzSpan="24">
                        <h4>Step 6: Follow up Actions and Strategies?</h4>
                        <div nz-row class="form-group pad-15">
                            <h5 for="">Who was contacted in regards to the incident? Include date & time. Select all appropriate.</h5>
                            <div nz-col nzSpan="12">
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Ambulance</label>
                                </div>
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Dial a Doctor</label>
                                </div>
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Registered Nurse</label>
                                </div>
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Poisons Information</label>
                                </div>
                                <div>
                                    <label nz-checkbox >Other Specify</label>
                                </div>
                            </div>
                            <div nz-col nzSpan="12">
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Client Service Facilitator</label>
                                </div>
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Client Service Planner</label>
                                </div>
                                <div class="margin-btm-10">
                                    <label nz-checkbox >Regional Community Services Manager</label>
                                </div>
                                <div>
                                    <label nz-checkbox >Police</label>
                                </div>
                            </div>
                        </div>
                        <div nz-row class="form-group pad-15">
                            <h5>Relevant information after the incident. Brief points only</h5>
                            <textarea rows="4" nz-input ></textarea>
                        </div>
                    </div>                    
                </div>
                
                <div nz-row nzGutter="32">                                   
                    <div nz-col>
                        <h4>Step 7: Supervisor Comments</h4>
                        <div nz-row class="pad-15">
                            <h5>What has been implemented to prevent this, or a similar incident from occuring in the future</h5>
                            <textarea rows="4" nz-input ></textarea>
                        </div>
                    </div>            
                </div>
                
            </div>
            
            
            <div *ngIf="current == 6">
                <div nz-row nzGutter="32">                                   
                    <div nz-col>
                        <h4>Supervisor - Office Use Only</h4>
                        <div nz-row class="pad-15">
                            <div nz-col nzSpan="9">
                                <div class="check-oneline">
                                    <label for="">Incident has been entered into TRACCS</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">Received within 24 hours</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                            </div>
                            <div nz-col nzOffset="1" nzSpan="12">
                                <div class="form-group">
                                    <label for="">Report entered on TRACCS by (Name)</label>
                                    <input type="text" nz-input />
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                
                <div nz-row nzGutter="32">                                   
                    <div nz-col>
                        <h4>Is this a reportable Incident to the Commission?</h4>
                        <div nz-row class="pad-15">
                            <div nz-col nzSpan="9">
                                <div class="check-oneline">
                                    <label for="">Complete the 5 day notification form</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">Age Care Complaints Commission</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">NDIS Commission</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">Uploaded Incident</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">Reportable Incident</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                            </div>
                            <div nz-col nzOffset="1" nzSpan="12">
                                <div class="form-group">
                                    <label for="">Community Service Facilitator</label>
                                    <input type="text" nz-input />
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                
                <div nz-row nzGutter="32">                                   
                    <div nz-col>
                        <h4>Management</h4>
                        <div nz-row class="pad-15">
                            <div nz-col nzSpan="9">
                                <div class="check-oneline">
                                    <label for="">Review Incident</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                                <div class="check-oneline">
                                    <label for="">Closed Incident on TRACCS</label>
                                    <label nz-checkbox >Yes</label>
                                </div>
                            </div>
                            <div nz-col nzOffset="1" nzSpan="12">
                                <div class="form-group">
                                    <label for="">Regional Community Service Manager</label>
                                    <input type="text" nz-input />
                                </div>
                                <div class="form-group">
                                    <label for="">Comments if required</label>
                                    <textarea rows="4" nz-input ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                
            </div>
            
        </div>
        
    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 9" [disabled]="!nextRequired">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()" *ngIf="current == 9" >
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal> -->