<div nz-row>
    <div nz-col>
        <div class="tableheaderactions">
            <button class="btnlevel2navy" (click)="edit()" style="margin-left:0px;">Edit</button>
            <button class="btnlevel2navy" (click)="save()">Save</button>
        </div>
        <div nz-row [formGroup]="inputForm">
            <div class="form-group">
                <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
            </div>
        </div>
    </div>
</div>
