<div nz-row>
    <div nz-col>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-row nz-col nzSpan="24" class="tableheaderactions">
                    <div nz-col nzSpan="5">   
                        
                        <!-- <button class="btnlevel2navy" (click)="showAddModal()" *ngIf="getPermisson(43) == '1'">Add</button>
                            <button class="btnlevel2navy"  *ngIf="getPermisson(44) == '1'" (click)="showEditModal(44)">Edit</button>
                            <button class="btnlevel2orange"    (nzOnConfirm)="delete(2)" *ngIf="getPermisson(46) == '1'" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this Leave from the List?">Delete</button> -->
                            
                            <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">Add</button>
                            <button class="btnlevel2navy" (click)="showLeaveEditModal()">Edit</button>
                            <button class="btnlevel2orange"    (nzOnConfirm)="delete(2)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this Leave from the List?">Cancel</button>
                            <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
                        </div>
                        <div nz-col nzSpan="7" [formGroup]="defaultLeaveForm" style="height:40px;padding-left:20px">
                            <div  style="padding-top:10px;">
                                <div nz-col nzSpan="9">
                                    <label for="">Default Leave Activity&nbsp;</label>
                                </div>
                                <div nz-col nzSpan="13">
                                    <nz-select  nzAllowClear nzShowSearch [nzSize]="'small'" (ngModelChange)="leaveactivityChanged()" formControlName="defaultUnallocateLeaveActivity">
                                        <nz-option *ngFor="let paytype of leavepaytypes" [nzValue]="paytype" [nzLabel]="paytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="5" [formGroup]="defaultLeaveForm" style="height:40px;">
                            <div  style="padding-top:10px;">
                                <div nz-col nzSpan="5" style="text-align:left;">
                                    <label for="">PayType &nbsp;</label>
                                </div>
                                <div nz-col nzSpan="19">
                                    <nz-select  nzAllowClear nzShowSearch [nzSize]="'small'" (ngModelChange)="leavepaytypechanged()" formControlName="defaultUnallocateLeavePayType">
                                        <nz-option *ngFor="let activity of leaveactivities;" [nzValue]="activity" [nzLabel]="activity"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="4" [formGroup]="defaultLeaveForm">
                            <div  style="padding-top:10px;">
                                <div nz-col nzSpan="">
                                    <label nz-checkbox formControlName="cancelledApplications" (change)="changeStatus($event,2)" style="padding-left: 20px">View Cancelled Applications</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div nz-row>
                <div class="example-container">
                    <ul
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #todoList="cdkDropList"
                    [cdkDropListData]="dragOrigin"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="drag-list"
                    (cdkDropListDropped)="drop($event)">
                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                        <div>
                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="tableData">
            
            <thead>
                <!-- <tr>
                    <th class="left">Leave Type</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Notes</th>
                    <th>Reminder Date</th>
                    <th>Approved</th>
                    <th>Action</th>
                </tr> -->
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th cdkDrag [cdkDragData]="'leaveType'" class="left">Leave Type</th>
                    <th cdkDrag [cdkDragData]="'startDate'">Start</th>
                    <th cdkDrag [cdkDragData]="'endDate'">End</th>
                    <th cdkDrag [cdkDragData]="'notes'">Notes</th>
                    <th cdkDrag [cdkDragData]="'reminderDate'">Reminder Date</th>
                    <th cdkDrag [cdkDragData]="'requestedDate'">Requested Date</th>
                    <th>Approved</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            
            <tbody>
                
                <!-- <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.leaveType  }}</td>
                    <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.notes  }}</td>
                    <td>{{ data.reminderDate }}</td>
                    <td>
                        <label nz-checkbox nzDisabled [ngModel]="data.approved" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                    </td>
                    <td>
                        <a *ngIf="isUpdateValid(i)" (click)="showEditModal(data)">Update</a>
                        <nz-divider *ngIf="isUpdateValid(i)" nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Leave from the List?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                    </td>
                </tr> -->
                
                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                <td class="left">{{ data.leaveType  }}</td>
                                <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.notes  }}</td>
                                <td>{{ data.reminderDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.requestedDate | date: 'dd/MM/y' }}</td>
                                <td>
                                    <label nz-checkbox nzDisabled [ngModel]="data.approved" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i" [contextMenu]="basicMenu" [contextMenuSubject]="data">
                        <td class="left">{{ data.leaveType  }}</td>
                        <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.notes  }}</td>
                        <td>{{ data.reminderDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.requestedDate | date: 'dd/MM/y' }}</td>
                        <td>
                            <label nz-checkbox nzDisabled [ngModel]="data.approved" nzDisabled [ngModelOptions]="{standalone: true}"></label>
                        </td>
                        <!-- <td>
                            <span *ngIf="getPermisson(44) == '1'"><a *ngIf="isUpdateValid(i)" (click)="showEditModal(data)">Update</a></span>
                            <nz-divider *ngIf="isUpdateValid(i) && getPermisson(44) == '1'" nzType="vertical"></nz-divider>
                            <a *ngIf="getPermisson(46) == '1'" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Leave from the List?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td> -->
                    </tr>
                </ng-container>
                
            </tbody>
        </nz-table>
    </div>
</div>
</div>
<!-- <app-leave-application *ngIf="user" [open]="putonLeaveModal" [operation]="operation" [user]="user" (refresh)="reload($event)"></app-leave-application> -->
<!-- <ng-container #dynamicUnallocateStaff></ng-container> -->
<unallocate-staff  [findModalOpen]="putonLeaveModal" [loadUnallocateStaff]="loadUnallocateStaff" (Done)="UnallocateStaffDone($event)" ></unallocate-staff>
<context-menu>
    <ng-template contextMenuItem (execute)="editLeaveApplication($event.item,1)">
        Edit Notes
    </ng-template>
    
    <ng-template contextMenuItem let-item (execute)="editLeaveApplication($event.item,2)">
        Change Start Date
    </ng-template>
    
    <ng-template contextMenuItem let-item (execute)="editLeaveApplication($event.item,3)">
        Change End Date
    </ng-template>
</context-menu>
<div>   
    <nz-modal [nzWidth]="550" [(nzVisible)]="addchangeleave" [nzTitle]="'Add Change Leave Application'" (nzOnCancel)="handleCanceledit()">
            <div nz-row nzJustify [formGroup]="leaveGroup">
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="text-left">
                        <label nzFor="">Name</label>
                    </div>
                    <div nz-col nzSpan="15">
                        <div class="form-group" style="margin-bottom: 7px">
                            <input nz-input formControlName="name" />
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="text-left">
                        <label nzFor="">Start Date</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group" style="margin-bottom: 7px">
                            <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="text-left">
                        <label nzFor="">End Date</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="5" class="text-center">
                        <label nzFor="" style="margin-top: 5px">Reminder Date</label>
                    </div>
                    <div nz-col nzSpan="7">
                        <div class="form-group" style="margin-bottom:7px">
                            <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="text-left">
                        <label nzFor=""></label>
                    </div>
                    <div nz-col nzSpan="20">
                        <div class="form-group" style="margin-bottom: 7px">
                            <label nz-checkbox formControlName="approved">Approved</label>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-col nzSpan="4" class="text-left">
                        <label nzFor="">Notes</label>
                    </div>
                    <div nz-col nzSpan="20">
                        <div class="form-group" style="margin-bottom: 7px">
                            <textarea rows="4" nz-input formControlName="notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
    </nz-modal>    
    <nz-modal [nzWidth]="350" [(nzVisible)]="editModalOpen" [nzTitle]="'Edit For Staff Leave Application Register'" (nzOnCancel)="handleCanceledit()">
        
        <div *ngIf="editoperation==2" [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
            <span style="font-family: 'Segoe UI';font-weight: bold;font-size: 14px;">Start Date</span>
            <nz-calendar
            [(ngModel)]="startDate"
            [nzFullscreen]="false"
            (nzSelectChange)="onValueChange($event)"
            ></nz-calendar>
        </div>
        <div *ngIf="editoperation==3" [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
            <span style="font-family: 'Segoe UI';font-weight: bold;font-size: 14px;">End Date</span>
            <nz-calendar
            [(ngModel)]="endDate"
            [nzFullscreen]="false"
            (nzSelectChange)="onValueChange($event)"
            ></nz-calendar>
        </div>
        <div *ngIf="editoperation==1">
            <span style="font-family: 'Segoe UI';font-weight: bold;font-size: 14px;">Notes</span>
            <textarea rows="8" nz-input [(ngModel)]="notes"></textarea>
        </div>
    </nz-modal>
    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>