<div nz-row>
    <div>
        <!-- <button class="btnlevel2navy" (click)="showAddModal(2)" *ngIf="getPermisson(40) == '1'">Add</button>
            <button class="btnlevel2navy" (click)="showEditModal(2,41)" *ngIf="getPermisson(41) == '1'">Edit</button>
            <button class="btnlevel2orange"    (nzOnConfirm)="delete(2)" *ngIf="getPermisson(42) == '1'" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure you want to delete this Item?">Delete</button> -->
        <div class="tableheaderactions">
            <button class="btnlevel2navy" (click)="showAddModal(2)" style="margin-left:0px;">Add</button>
            <button class="btnlevel2navy" (click)="showEditModal(2,41)" >Edit</button>
            <button class="btnlevel2orange"    (nzOnConfirm)="delete(2)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure you want to delete this Item?">Delete</button>
            <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
        </div>
        <div nz-row>
            <div class="example-container">
                <ul
                cdkDropList
                cdkDropListOrientation="horizontal"
                #todoList="cdkDropList"
                [cdkDropListData]="dragOrigin"
                [cdkDropListConnectedTo]="[doneList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                    <div>
                        {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
        [nzData]="notesloans">
        <thead>
            <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                <th cdkDrag [cdkDragData]="'name'" class="left">Name</th>
                <th cdkDrag [cdkDragData]="'date1'">Date Loaned</th>
                <th cdkDrag [cdkDragData]="'date2'">Collected</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="isSome(notesloans)">
                <ng-container *ngFor="let titleData of notesloans;">
                    <tr  *ngIf="!isArray(titleData)">
                        <td colspan="9">
                            <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                        </td>
                    </tr>
                    <ng-container *ngIf="isArray(titleData)">
                        <tr style="background: #D9EFFF;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                            <td class="left">{{ data.name  }}</td>
                            <td> {{ data.date1 | date: 'dd/MM/y' }}</td>
                            <td> {{ data.date2 | date: 'dd/MM/y' }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isSome(notesloans)">
                <tr *ngFor="let data of notesloans;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                    <td class="left">{{ data.name  }}</td>
                    <td> {{ data.date1 | date: 'dd/MM/y' }}</td>
                    <td> {{ data.date2 | date: 'dd/MM/y' }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>
</div>
</div>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()" >
    <div nz-row [formGroup]="inputForm">
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
                <label nzFor="Type">Type  </label>
            </div>
            <div nz-col nzSpan="18">
                <nz-select formControlName="name" nzAllowClear nzShowSearch
                [nzDropdownMatchSelectWidth]="false">
                <nz-option *ngFor="let list of loantypesarr" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row nzJustify class="mrg-btm-half">
        <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
            <label nzFor="Item ID">Item ID  </label>
        </div>
        <div nz-col nzSpan="18">
            <nz-select formControlName="type" nzAllowClear nzShowSearch
            [nzDropdownMatchSelectWidth]="false">
            <nz-option *ngFor="let loantype of typesarr" [nzValue]="loantype" [nzLabel]="loantype"></nz-option>
        </nz-select>
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Loaned">Loaned  </label>
    </div>
    <div nz-col nzSpan="7">
        <nz-date-picker  formControlName="date1" [nzAllowClear]="false" [nzFormat]="dateFormat"></nz-date-picker>
    </div>
    <div nz-col nzSpan="4" class="text-right pad-r-5">
        <label nzFor="Date Installed" style="margin-top: 5px;padding-right: 10px;">Installed</label>
    </div>
    <div nz-col nzSpan="7">
        <!-- <nz-form-item>
            <nz-form-control>
              <label nz-checkbox [(ngModel)]="isDateEnabled" (ngModelChange)="toggleDatePicker()" style="display:inline;"></label>
              <nz-date-picker 
                formControlName="dateInstalled" 
                [nzFormat]="dateFormat" 
                [disabled]="!isDateEnabled">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item> -->
        <nz-date-picker  formControlName="dateInstalled"  [nzFormat]="dateFormat"></nz-date-picker>
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Collected">Collected  </label>
    </div>
    <div nz-col nzSpan="7">
        <nz-date-picker  formControlName="date2" [nzFormat]="dateFormat"></nz-date-picker>
    </div>
</div>


<div nz-row nzJustify class="mrg-btm-half">
    
    
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="program">Program  </label>
    </div>


    <div nz-col nzSpan="18" style="margin-right: 2px;">

        <nz-select formControlName="address1" nzAllowClear nzShowSearch
                [nzDropdownMatchSelectWidth]="false">
                <nz-option *ngFor="let prog of progarr" [nzValue]="prog" [nzLabel]="prog"></nz-option>
        </nz-select>
    
    </div>
</div>


<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Equip Code">Equip Code</label>
    </div>
    <div nz-col nzSpan="18">
        <input nz-input  formControlName="equipmentCode" />
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Serial No">Serial No  </label>
    </div>
    <div nz-col nzSpan="18">
        <input nz-input  formControlName="serialNumber" />
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Purchase Date">Purchase Date  </label>
    </div>
    <div nz-col nzSpan="18">
        <nz-date-picker  formControlName="purchaseDate" [nzFormat]="dateFormat"></nz-date-picker>
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Type">Purchase $  </label>
    </div>
    <div nz-col nzSpan="18">
        <input nz-input  formControlName="purchaseAmount" />
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Type">Lockbox Loctn  </label>
    </div>
    <div nz-col nzSpan="18">
        <input nz-input  formControlName="lockBoxLocation" />
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label nzFor="Type">Lockbox Code  </label>
    </div>
    <div nz-col nzSpan="18">
        <input nz-input  formControlName="lockBoxCode" />
    </div>
</div>
<div nz-row nzJustify class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5">
        <label nzFor="Type">Notes  </label>
    </div>
    <div nz-col nzSpan="18">
        <nz-form-control nzErrorTip="Required Field">
            <textarea rows="4" nz-input formControlName="notes"></textarea>
        </nz-form-control>
    </div>
</div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="processBtn()" [nzLoading]="isLoading">Save</button>
</div>
</nz-modal>





<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row  >
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe>
        </div>
    </nz-drawer>
</div>