<div class="tableheaderactions">
    <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">Add</button>
    <button class="btnlevel2navy" (click)="showEditModal()">Edit</button>
    <button class="btnlevel2orange" (nzOnConfirm)="delete()"  nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this?">Delete</button>
    <button class="btnlevel2navy" (click)="handleOkTop()">Print</button>
</div>
<div nz-row>
    <div class="example-container">
        <ul
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="dragOrigin"
            [cdkDropListConnectedTo]="[doneList]"
            class="drag-list"
            (cdkDropListDropped)="drop($event)">
            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                <div>
                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div nz-row>
    <div nz-col>
        
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzScroll]="{y: '55vh' }" [nzLoading]="isLoading"
            [nzData]="tableData">
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th nzWidth="70%" cdkDrag [cdkDragData]="'detail'" class="left" style="width: 50%">Details</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'detailDate'">Category</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'creator'">Detail Date</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'creator'">Creator</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn">
                                <td class="left">{{ isRTF(data.detail,data.detail2) | getTextFromHtml }}</td>
                                <td>{{ data.category}}</td>
                                <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.creator || '-' }}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                        <td class="left">{{ isRTF(data.detail,data.detail2) | getTextFromHtml }}</td>
                        <td>{{ data.category}}</td>
                        <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.creator || '-' }}</td>
                    </tr>
                </ng-container>


            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="modalOpen" nzWidth="960" [nzStyle]="{ top: '20px' }" [nzTitle]="addOREdit == 1 ? 'Add OP Note' : 'Edit OP Note'" (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">Category</nz-form-label>
                <nz-form-control nzErrorTip="Category is required!">
                    <nz-select formControlName="category" nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="12">
            <!-- <div nz-col nzSpan="12" class="form-group">
                <label for="">Reminder Date</label>
                <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div> -->
            <!-- <div nz-col nzSpan="12">
                <label class="chk" nz-checkbox formControlName="isPrivate">Private</label>
            </div> -->
        </div>
        <div nz-row>
            <div class="form-group">
                <nz-radio-group formControlName="restrictionsStr">
                    <label nz-radio nzValue="public">Public</label>
                    <label nz-radio nzValue="workgroup">Workgroup Only</label>
                    <label nz-radio nzValue="restrict">Restrict To</label>
                </nz-radio-group>
            </div>
        </div>
        <div nz-row class="overflow-list" *ngIf="inputForm.get('restrictionsStr').value == 'restrict'">
            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
                <div nz-row *ngFor="let list of mlist; let i = index">
                    <div class="chkboxes" nz-col nzOffset="2" nzSpan="22">
                        
                        <label nz-checkbox [nzValue]="list.name" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.name }}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>
        </div>
        <div nz-row>
            <div class="form-group">
                <label for="">Notes</label>
                <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
                <!-- <textarea rows="4" nz-input formControlName="notes"></textarea> -->
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">Save</button>
    </div>
</nz-modal>
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>
<!--Mufeed 16 April 2024-->
<nz-modal
    nzWidth="600px"
    [nzStyle]="{ top: '0px' }"
    [nzBodyStyle]=  "bodystyle"
    [(nzVisible)]="isVisibleTop"
    nzTitle="Traccs"
    (nzOnCancel)="handleCancelTop()"
    (nzOnOk)="generatePdf()"
    nzOkText="Print">
    <div nz-row >
        <div nz-col nzSpan="20">
            <label><i nz-icon nzType="calendar" nzTheme="outline"></i> Date </label>
            <nz-date-picker [(ngModel)]="startdate" nzPlaceHolder = "Start Date" [nzFormat]="dateFormat" ></nz-date-picker>
                <nz-date-picker [(ngModel)]="enddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker>                                 
        </div>
    </div>
    <div nz-row [formGroup]="inputForm">
        <div nz-col nzSpan="20">
         <nz-select formControlName="orderArr">
            <nz-option *ngFor="let option of orderArr" [nzLabel]="option" [nzValue]="option"></nz-option>            
        </nz-select>
        </div>
    </div>
    
    </nz-modal>