<div style="padding:10px 0px">
    <div nz-col [formGroup]="payGroup">
        <!-- <div nz-row>
            <button class="botton success" (click)="updateWorkHours()" [disabled]="!payGroup?.dirty">Save Changes</button>
        </div> -->
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Staff #</label>
                </div>
            </div>
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <input type="text" maxlength="15" nz-input formControlName="stf_Code">
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Start</label>
                </div>
            </div>
            <div nz-col nzSpan="3">
                <div class="form-group">
                    <nz-date-picker formControlName="commencementDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <div nz-col nzSpan="2">
                <div class="form-group text-right">
                    <label for="" class="bold" style="margin-top:5px;">End Date</label>
                </div>
            </div>
            <div nz-col nzSpan="3">
                <div class="form-group">
                    <nz-date-picker formControlName="terminationDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Employee Of</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <nz-select formControlName="employeeOf">
                        <nz-option *ngFor="let employee of employeeArr" [nzValue]="employee" [nzLabel]="employee"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Job Title</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <input type="text" nz-input formControlName="jobTitle">
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Job Status</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <nz-select formControlName="jobStatus">
                        <nz-option *ngFor="let status of statuses" [nzValue]="status" [nzLabel]="status"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="2">
                <div class="form-group text-right">
                    <label for="" class="bold">Weighting</label>
                </div>
            </div>
            <div nz-col nzSpan="1">
                <div class="form-group">
                    <input type="text" nz-input numeric formControlName="jobWeighting" (keypress)="onKeyPress($event)"  maxlength="10">
                </div>
            </div>
            <div nz-col nzSpan="1">
                <div class="form-group text-right">
                    <label for="" class="bold">FTE</label>
                </div>
            </div>
            <div nz-col nzSpan="1">
                <div class="form-group">
                    <input type="text" nz-input numeric formControlName="jobFTE" (keypress)="onKeyPress($event)"  maxlength="10">              
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Award</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <nz-select formControlName="award">
                        <nz-option *ngFor="let award of awardsArr" [nzValue]="award" [nzLabel]="award"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="2">
                <div class="form-group text-right">
                    <label for="" class="bold">Level</label>
                </div>
            </div>
            <div nz-col nzSpan="1">
                <div class="form-group">
                    <input type="text" nz-input numeric formControlName="awardLevel" (keypress)="onKeyPress($event)"  maxlength="10">
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="includeUniform">Uniform Allowance</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="includeLaundry">Laundry Allowance</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="excludeFromAwardInterpretation">Exclude From Award interpretation</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="caseManager">Can Do Case Management</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="excludeClientAdminFromPay">Exclude Client Admin From Payroll</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="excludeFromTravelInterpretation">Exclude from travel interpretation</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for=""></label>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label nz-checkbox formControlName="excludeFromPayExport">Exclude All Shift from Pay Export</label>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Export </label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <input type="text" maxlength="15" nz-input formControlName="payGroup">
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">Super Fund</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <input type="text" maxlength="15" numeric nz-input  formControlName="superFund">
                </div>
            </div>
            <div nz-col nzSpan="2">
                <div class="form-group text-right">
                    <label for="" class="bold">Super %</label>
                </div>
            </div>
            <div nz-col nzSpan="1">
                <div class="form-group">
                    <input type="text" maxlength="15" numeric nz-input (keypress)="onKeyPress($event)" formControlName="superPercent">
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-col nzSpan="2">
                <div class="form-group">
                    <label for="" class="bold">PH Region</label>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <input type="text" maxlength="15" nz-input formcontrolName="publicHolidayRegion">
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div nz-row nz-col nzSpan="16" nzGutter="8">
            <div nz-col nzSpan="3">
                <div class="form-group">
                    <h2>Work Hours</h2>
                </div>
            </div>
            <div nz-col nzSpan="4">
            </div>
        </div>
        
        <div nz-row nz-col nzSpan="24" nzGutter="8">
            <div nz-row nz-col nzSpan="6" nzGutter="8">
                <div nz-row nz-col nzSpan="24" nzGutter="8">
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="text-center">
                        <label>Min</label>
                    </div>
                    <div nz-col nzSpan="8" class="text-center">
                        <label>Max</label>
                    </div>
                </div>
                <div nz-row nz-col nzSpan="24" nzGutter="8">
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <label>Daily</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_DAILY_MIN" (keypress)="onKeyPress($event)"  maxlength="5">
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_DAILY_MAX" (keypress)="onKeyPress($event)" maxlength="5">
                        </div>
                    </div>
                </div>
                <div nz-row nz-col nzSpan="24" nzGutter="8">
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <label>Weekly</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_WEEKLY_MIN" (keypress)="onKeyPress($event)"  maxlength="5">
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_WEEKLY_MAX" (keypress)="onKeyPress($event)" maxlength="5">
                        </div>
                    </div>
                </div>
                <div nz-row nz-col nzSpan="24" nzGutter="8">
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <label>Pay Period</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_FNIGHTLY_MIN" (keypress)="onKeyPress($event)"  maxlength="5">
                        </div>
                    </div>
                    <div nz-col nzSpan="8">
                        <div class="form-group">
                            <input type="text" nz-input numeric formControlName="hrS_FNIGHTLY_MAX" (keypress)="onKeyPress($event)" maxlength="5">
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row nz-col nzSpan="16" nzGutter="8">
                <div nz-row nz-col nzSpan="24">
                    <div nz-col nzSpan="8">
                        <label>Contracted Daily Hours</label>
                    </div>
                </div>
                <table>
                    <tbody class="work-chart">
                        <tr style="background: #c6dfff;">
                            <td>Day</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr style="background:#8cbeff">
                            <td>Week</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" nz-input formControlName="cH_1_1" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_2" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_3" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_4" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_5" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_6" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_1_7" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_1" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_2" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_3" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_4" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_5" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_6" numeric maxlength="5"></td>
                            <td><input type="text" nz-input formControlName="cH_2_7" numeric maxlength="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
