<div nz-row>
    <div nz-col>
            <div>
                <div class="tableheaderactions">                    
                    <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">Add</button>
                    <button class="btnlevel2navy" (click)="showEditModal(71)">Edit</button>
                    <button class="btnlevel2orange"    (nzOnConfirm)="delete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this?">Delete</button>
                    <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
                </div>
                <div nz-row>
                    <div class="example-container">
                        <ul
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        #todoList="cdkDropList"
                        [cdkDropListData]="dragOrigin"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="drag-list"
                        (cdkDropListDropped)="drop($event)">
                        <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                            <div>
                                {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                <div style="height:58vh;">
                    <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'" [nzBordered]="true" [nzScroll]="{y: '60vh' }" [nzFrontPagination]="false" [nzData]="tableData" style="height:50vh;">
                        <thead>
                            <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                                <th nzLeft cdkDrag [cdkDragData]="'position'" nzWidth="20%">Position</th>
                                <th nzLeft cdkDrag [cdkDragData]="'startDate'" nzWidth="10%">Start Date</th>
                                <th nzLeft cdkDrag [cdkDragData]="'endDate'" nzWidth="10%">End Date</th>
                                <th nzLeft cdkDrag [cdkDragData]="'positionID'" nzWidth="10%">Position ID</th>
                                <th nzLeft cdkDrag [cdkDragData]="'notes'" nzWidth="50%">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="isSome(tableData)">
                                <ng-container *ngFor="let titleData of tableData;">
                                    <tr  *ngIf="!isArray(titleData)">
                                        <td colspan="9">
                                            <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                                        </td>
                                    </tr>
                                    
                                    <ng-container *ngIf="isArray(titleData)">
                                        <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                        <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                            <td>{{data.position}}</td>
                                            <td>{{data.startDate | date: 'd/MM/y'}}</td>
                                            <td>{{data.endDate | date: 'd/MM/y'}}</td>
                                            <td>{{data.positionID}}</td>
                                            <td>{{data.notes}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!isSome(tableData)">
                                <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                    <td>{{data.position}}</td>
                                    <td>{{data.startDate | date: 'd/MM/y'}}</td>
                                    <td>{{data.endDate | date: 'd/MM/y'}}</td>
                                    <td>{{data.positionID}}</td>
                                    <td>{{data.notes}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
    
    <nz-modal [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()">
        <div nz-row [formGroup]="inputForm" nz-form [nzLayout]="'horizontal'">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" >Date Range</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Date range is required">
                        <nz-range-picker [nzFormat]="dateFormat" formControlName="dates">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired >Position</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Required Field">
                        <nz-select formControlName="position" nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Position ID</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Required Field">
                    <input nz-input type="text" formControlName="positionID">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Notes</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Required Field">
                    <textarea rows="4" nz-input formControlName="notes"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">Save</button>
    </div>
</nz-modal>
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>