<div class="tableheaderactions">
    <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">Add</button>
    <button class="btnlevel2navy" (click)="showEditModal()" >View</button>
    <button class="btnlevel2orange"    (nzOnConfirm)="archive()"  nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure Archive this?">Arch</button>
    <button class="btnlevel2navy" (click)="handleOkTop()">Print</button>
    <label  style="margin-left:30px;" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)"></label> &nbsp;View Archived Notes 
</div>
<div nz-row>
    <div class="example-container">
        <ul
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="dragOrigin"
            [cdkDropListConnectedTo]="[doneList]"
            class="drag-list"
            (cdkDropListDropped)="drop($event)">
            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                <div>
                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                </div>
            </li>
        </ul>
    </div>
</div>


<div nz-row>
    <div nz-col>
        <!-- <button nz-button nzType="primary" (click)="handleOkTop()" style="float: right;"> <i nz-icon nzType="file-pdf"></i> Print </button> -->
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" style="height:55vh;" [nzScroll]="{y: '55vh' }" [nzFrontPagination]="false" [nzLoadingDelay]="100" [nzLoading]="loading"
            [nzData]="tableData">
            <thead>
                <!-- <tr>
                    <th class="left" style="width: 40rem" >Detail</th>
                    <th>Category</th>
                    <th>Detail Date</th>
                    <th>Creator</th>
                    <th>Action</th>
                </tr> -->
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th nzWidth="70%" cdkDrag [cdkDragData]="'detail'" class="left" style="width: 50%">Details</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'detailDate'">Category</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'creator'">Detail Date</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'creator'">Creator</th>
                    <!-- <th><th> -->
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.detail | getTextFromHtml  }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.detailDate | date: 'dd/MM/y'  }}</td>
                    <td>{{ data.creator || '-' }}</td>
                    <td>
                        <a (click)="showEditModal(i)">View</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a *ngIf="!data.is_deleted" nz-popconfirm 
                        nzPopconfirmTitle="DELETE HR NOTE? (NB - This will not physically delete the note. This will flag the note as deleted so it doesent appear on the this screen or report unless you ask to show archived notes. ??"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr> -->

                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn">
                                <!-- <td class="left">{{ data.detail | getTextFromHtml  }}</td> -->
                                <td class="left">{{ isRTF(data.detail,data.detail2) | getTextFromHtml  }}</td>
                                <td>{{ data.category}}</td>
                                <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.creator || '-' }}</td>
                                <!-- <td>
                                    <a *ngIf="getPermisson(54) == '1'" (click)="showEditModal(i)">Update</a>
                                    <nz-divider *ngIf="getPermisson(54) == '1'" nzType="vertical"></nz-divider>
                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                                </td> -->
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                        <!-- <td class="left">{{ data.detail | getTextFromHtml  }}</td> -->
                        <td class="left">{{ isRTF(data.detail,data.detail2) | getTextFromHtml  }}</td>
                        <td>{{ data.category}}</td>
                        <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.creator || '-' }}</td>
                        <!-- <td>
                            <a (click)="showEditModal(i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this group?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                        </td> -->
                    </tr>
                </ng-container>

                
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="modalOpen" nzWidth="960" [nzStyle]="{ top: '20px' }" [nzTitle]="addORView == 1 ? 'Add HR Note' : 'View HR Note'"  (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label  [nzNoColon]="true">Category</nz-form-label>
                <nz-form-control nzErrorTip="Category is required!">
                    <nz-select formControlName="category" nzAllowClear [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row [nzGutter]="12">
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Reminder Date</label>
                <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <!-- <div nz-col nzSpan="12">
                <label class="chk" nz-checkbox formControlName="isPrivate">Private</label>
            </div> -->
        </div>
        <div nz-row>
            <div class="form-group">
                <nz-radio-group formControlName="restrictionsStr">
                    <label nz-radio nzValue="public">Public</label>
                    <label nz-radio nzValue="workgroup">Workgroup Only</label>
                    <label nz-radio nzValue="restrict">Restrict To</label>
                </nz-radio-group>
            </div>
        </div>
        <div nz-row class="overflow-list" *ngIf="inputForm.get('restrictionsStr').value == 'restrict'">
            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
                <div nz-row *ngFor="let list of mlist; let i = index">
                    <div class="chkboxes" nz-col nzOffset="2" nzSpan="22"><label nz-checkbox
                            [nzValue]="list">{{ list }}</label></div>
                </div>
            </nz-checkbox-wrapper>
        </div>
        <div nz-row>
        <div class="form-group">
                <label for="">Notes</label>
                <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
        </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" *ngIf="addORView == 1" (click)="save()" [nzLoading]="isLoading">Save</button>
    </div>
</nz-modal>
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>
<!--Mufeed 16 April 2024-->
<nz-modal
    nzWidth="600px"
    [nzStyle]="{ top: '0px' }"
    [nzBodyStyle]=  "bodystyle"
    [(nzVisible)]="isVisibleTop"
    nzTitle="Traccs"
    (nzOnCancel)="handleCancelTop()"
    (nzOnOk)="generatePdf()"
    nzOkText="Print">
    <div nz-row >
        <div nz-col nzSpan="20">
            <label><i nz-icon nzType="calendar" nzTheme="outline"></i> Date </label>
            <nz-date-picker [(ngModel)]="startdate" nzPlaceHolder = "Start Date" [nzFormat]="dateFormat" ></nz-date-picker>
                <nz-date-picker [(ngModel)]="enddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker>                                 
        </div>
    </div>
    <div nz-row [formGroup]="inputForm">
        <div nz-col nzSpan="20">
         <nz-select formControlName="orderArr">
            <nz-option *ngFor="let option of orderArr" [nzLabel]="option" [nzValue]="option"></nz-option>            
        </nz-select>
        </div>
    </div>
    
    </nz-modal>