<!-- 
<div nz-row>
    <button class="btnlevel2navy" (click)="showAddModal()" *ngIf="getPermisson(47) == '1'">Add</button>
    <button class="btnlevel2navy" (click)="showEditModal(48)" *ngIf="getPermisson(48) == '1'">Edit</button>
    <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" *ngIf="getPermisson(49) == '1'" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
</div> -->

<div nz-row>
        <div>    
            <div class="tableheaderactions">
                <button class="btnlevel2navy" (click)="showAddModal()" style="margin-left:0px;">Add</button>
                <button class="btnlevel2navy" (click)="showEditModal(48)">Edit</button>
                <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
            </div>
            <div nz-row>
                <div class="example-container">
                    <ul
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #todoList="cdkDropList"
                    [cdkDropListData]="dragOrigin"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="drag-list"
                    (cdkDropListDropped)="drop($event)">
                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                        <div>
                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzLoading]="isLoading" [nzBordered]="true" [nzScroll]="{y: '60vh' }" [nzFrontPagination]="false" [nzData]="tableData">
                <thead>
                    <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                        <th nzLeft nzWidth="20%" cdkDrag [cdkDragData]="'alert'">Alert</th>
                        <th nzLeft nzWidth="10%" cdkDrag [cdkDragData]="'reminderDate'">Reminder Date</th>
                        <th nzLeft nzWidth="10%" cdkDrag [cdkDragData]="'dueDate'">Expiry Date</th>
                        <th nzLeft nzWidth="60%" cdkDrag [cdkDragData]="'notes'">Notes</th>
                        <!-- <th><th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="isSome(tableData)">
                            <ng-container *ngFor="let titleData of tableData;">
                                <tr  *ngIf="!isArray(titleData)">
                                    <td colspan="9">
                                        <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                                    </td>
                                </tr>
                                
                                <ng-container *ngIf="isArray(titleData)">
                                    <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn" >
                                        <td class="left">{{ data.alert  }}</td>
                                        <td>{{ data.reminderDate | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ data.dueDate | date: 'dd/MM/yyyy'  }}</td>
                                        <td>{{ data.notes || '-' }}</td>
                                        <!-- <td>
                                            <a *ngIf="getPermisson(48) == '1'" (click)="showEditModal(i)">Update</a>
                                            <nz-divider *ngIf="getPermisson(48) == '1'" nzType="vertical"></nz-divider>
                                            <a *ngIf="getPermisson(49) == '1'" nz-popconfirm nzPopconfirmTitle="Are you sure delete this reminder"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                                        </td> -->
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        
                        <ng-container *ngIf="!isSome(tableData)">
                            <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                <td class="left">{{ data.alert  }}</td>
                                <td>{{ data.reminderDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.dueDate | date: 'dd/MM/yyyy'  }}</td>
                                <td>{{ data.notes || '-' }}</td>
                                <!-- <td>
                                    <a *ngIf="getPermisson(48) == '1'" (click)="showEditModal(i)">Update</a>
                                    <nz-divider *ngIf="getPermisson(48) == '1'" nzType="vertical"></nz-divider>
                                    <a *ngIf="getPermisson(49) == '1'" nz-popconfirm nzPopconfirmTitle="Are you sure delete this reminder"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(i)">Delete</a>
                                </td> -->
                            </tr>
                        </ng-container>
                        
                    </tbody>
                </nz-table>
            </div>
        </div>
</div>



<div nz-row>
    <nz-modal [nzWidth]="600" [nzStyle]="{ top: '20px' }" [(nzVisible)]="modalOpen" [nzTitle]="addOREdit ? 'Add Reminder' : 'Edit Reminder'"
    (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        
        <!-- <div nz-row>
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">Reminder</nz-form-label>
                <nz-form-control nzErrorTip="Reminder is required!">
                    <nz-select formControlName="staffAlert" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let d of lists" [nzValue]="d" [nzLabel]="d"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div> -->
    
    <div nz-row nzJustify class="mrg-btm-half">
        <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
            <label nzFor="staffAlert">Reminder</label>
        </div>
        <div nz-col nzSpan="18">
            <nz-select formControlName="staffAlert" nzAllowClear nzPlaceHolder=""
            [nzDropdownMatchSelectWidth]="false">
            <nz-option *ngFor="let d of lists" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
</div>

<!-- <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12" class="form-group">
        <label for="">Reminder Date</label>
        <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
    </div>
    <div nz-col nzSpan="12" class="form-group">
        <label for="">Due Date</label>
        <nz-date-picker formControlName="dueDate" [nzFormat]="dateFormat"></nz-date-picker>
    </div>
</div> -->

<div nz-row class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label for="reminderDate">Reminder Date</label>
    </div>
    <div nz-col nzSpan="18">
        <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat" [nzDisabledDate]="disabledDate"></nz-date-picker>
    </div>
</div>

<div nz-row class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <label for="dueDate">Due Date</label>
    </div>
    <div nz-col nzSpan="18">
        <nz-date-picker formControlName="dueDate" [nzFormat]="dateFormat" [nzDisabledDate]="disabledDate"></nz-date-picker>
    </div>
</div>

<div nz-row class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <!-- Empty first column -->
    </div>
    <div nz-col nzSpan="18">
        <label nz-checkbox formControlName="recurring">Recurring</label>
    </div>
</div>


<div  *ngIf="inputForm.get('recurring').value" nz-row class="mrg-btm-half">
    <!-- <div nz-col nzSpan="5" class="form-group">
        <label for="">Recurring</label>
        <label style="margin: 10px;" nz-checkbox formControlName="recurring"></label>
    </div> -->
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
        <!-- Empty first column -->
    </div>
    <div nz-row class="mrg-btm-half">
        <div nz-col nzSpan="12" style="padding-right: 0; display: flex; gap:0px;">
            <!-- First dropdown -->

            <label nz-col nzSpan="12" for="recurrence" class="margin-top-5px">recurrence : Every</label>

            <nz-select formControlName="recurrInt" nzAllowClear nzPlaceHolder=""  [nzDropdownStyle]="{ 'width': '100px' }" [nzDropdownMatchSelectWidth]="true" style="flex-grow: 1;">
                <nz-option *ngFor="let d of dayInt" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
            <!-- Second dropdown -->
            <nz-select formControlName="recurrStr" nzAllowClear nzPlaceHolder="" [nzDropdownStyle]="{ 'width': '200px' }" [nzDropdownMatchSelectWidth]="true" style="flex-grow: 1;">
                <nz-option *ngFor="let d of dayStr" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </div>
    </div>
</div>
<div *ngIf="inputForm.get('recurring').value" nz-row class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
    </div>
    <div nz-col nzSpan="18">
        On Same Day of Month <label nz-checkbox formControlName="sameDay"></label>
    </div>
</div>
<div *ngIf="inputForm.get('recurring').value" nz-row class="mrg-btm-half">
    <div nz-col nzSpan="5" class="text-left pad-r-5 margin-top-5px">
    </div>
    <div nz-col nzSpan="18">
        On Same Date of Month <label nz-checkbox formControlName="sameDate"></label>
    </div>
</div>

<!-- <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="8" class="form-group">
        <label for="">List Order</label>
        <input nz-input formControlName="listOrder" />
    </div>
    <div nz-col nzSpan="16" class="form-group">
        <nz-form-item>
            <nz-form-label [nzNoColon]="true">Follow-up Email</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid email address!">
                <nz-input-group>
                    <input type="text" nz-input formControlName="followUpEmail" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
</div> -->
<div nz-row>
    <div class="form-group">
        <label for="">Notes</label>
        <textarea rows="4" nz-input formControlName="notes"></textarea>
    </div>
</div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">Save</button>
</div>
</nz-modal>
</div>

<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>