<div>
    <div style="display:flex; flex-direction: row;">
        <shiftdetail (timesheetDone)="shiftChanged($event)"></shiftdetail>
        <div
            style="width:25vw; padding:15px;border-right: 1px solid #ededed;height: calc(100vh - 75px);overflow: auto; font-size:0.75rem">
            <div nz-row>
                <nz-date-picker [(ngModel)]="date" [nzFormat]="dateFormat2"></nz-date-picker>



            </div>
            <div nz-row>
                <div class="checkbox-group">
                    <label nz-checkbox [(ngModel)]="allCheckedBranches" (ngModelChange)="updateAllBranches()"
                        [nzIndeterminate]="indeterminateBranch">All Branches</label>

                    <nz-checkbox-group [(ngModel)]="branches"
                        (ngModelChange)="updateSingleCheckedBranches()"></nz-checkbox-group>
                </div>
            </div>

            <div nz-row>
                <div class="checkbox-group">
                    <label nz-checkbox [(ngModel)]="allCheckedTeams" (ngModelChange)="updateAllTeams()"
                        [nzIndeterminate]="indeterminateTeams">All Teams/Areas</label>

                    <nz-checkbox-group [(ngModel)]="teams"
                        (ngModelChange)="updateSingleCheckedTeams()"></nz-checkbox-group>
                </div>
            </div>

            <div nz-row>
                <div class="checkbox-group">
                    <label nz-checkbox [(ngModel)]="allCheckedCategories" (ngModelChange)="updateAllCategories()"
                        [nzIndeterminate]="indeterminateCategories">All Categories</label>

                    <nz-checkbox-group [(ngModel)]="categories"
                        (ngModelChange)="updateSingleCheckedCategories()"></nz-checkbox-group>
                </div>
            </div>

            <div nz-row>
                <div class="checkbox-group">
                    <label nz-checkbox [(ngModel)]="allCheckedCoordinators" (ngModelChange)="updateAllCoordinators()"
                        [nzIndeterminate]="indeterminateCoordinators">All Coordinators</label>

                    <nz-checkbox-group [(ngModel)]="coordinators"
                        (ngModelChange)="updateSingleCheckedCoordinators()"></nz-checkbox-group>
                </div>
            </div>
        </div>
        <div style="padding:15px">

            <div nz-row>

            </div>
            <div nz-row class="main" style="color:#d6eaf75d">
                <div class="header">
                    <i nz-icon nzType="sync" (click)="reload()" nzTheme="outline" style="color: #082f78; "></i>
                    <i nz-icon nzType="check-square" (click)="Approve()" nzTheme="outline" style="color: #082f78; "></i>
                    <i nz-icon nzType="printer" (click)="generatePdf()" nzTheme="outline" style="color: #082f78; "></i>
                   
                </div>
               
                <nz-tabset [nzTabPosition]="'top'" [nzSelectedIndex]="nzSelectedIndex" [nzType]="'card'">
                    <nz-tab nzTitle="Pending" (nzClick)="view(0)" > </nz-tab>
                    <nz-tab nzTitle="Active" (nzClick)="view(1)"> </nz-tab>
                    <nz-tab nzTitle="Completed" (nzClick)="view(2)"></nz-tab>
                    <nz-tab nzTitle="Alert Log" (nzClick)="view(3)"> </nz-tab>
                    <nz-tab nzTitle="Settings" (nzClick)="view(4)"> </nz-tab>
                  
                </nz-tabset>
                
                <div style="margin-top: 5px;">
                    <div *ngIf="nzSelectedIndex == 0">
                        <nz-table #virtualTable nzVirtualScroll [nzData]="dataSet" [nzSize]="'small'"
                            [nzLoading]="loadingPending" [nzBordered]="true" [nzVirtualForTrackBy]="trackByIndex"
                            [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzShowPagination]="false"
                            [nzScroll]="{ x: '55vw', y: '72vh' }">
                            <thead>
                                <tr>
                                    <th style="width:200px;">Staff</th>
                                    <th style="width:200px">Recipient</th>
                                    <th style="width:250px">Service Type</th>
                                    <th style="width:90px">Roster Start</th>
                                    <th style="width:80px">Duration</th>
                                    <th style="width:80px">Roster End</th>
                                    <th style="width:100px">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template nz-virtual-scroll let-data let-index="index">
                                    <tr (contextmenu)="rightClickMenu($event, data)"
                                        (dblclick)="mousedblclick($event,data)">

                                        <td style="width:200px">{{data.staff}}</td>
                                        <td style="width:200px">{{data.recipient}}</td>
                                        <td style="width:250px">{{data.serviceType}}</td>
                                        <td style="width:90px">{{data.rosterStart}}</td>
                                        <td style="width:80px">{{data.duration}}</td>
                                        <td style="width:80px">{{data.rosterEnd}}</td>
                                        <td style="width:100px">{{data.taMultishift}}</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </nz-table>
                    </div>

                    <div *ngIf="nzSelectedIndex == 1">
                        <nz-table #virtualTable nzVirtualScroll [nzData]="dataSet" [nzSize]="'small'"
                            [nzLoading]="loadingPending" [nzBordered]="true" [nzVirtualForTrackBy]="trackByIndex"
                            [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzShowPagination]="false"
                            [nzScroll]="{ x: '1100px', y: 'calc(100vh - 238px)' }">
                            <thead>
                                <tr>
                                    <th style="width:150px">Staff</th>
                                    <th style="width:150px">Recipient</th>
                                    <th style="width:200px">Service Type</th>
                                    <th style="width:100px">Roster Start</th>
                                    <th style="width:100px">Actual Start</th>
                                    <th style="width:50px">+/-</th>
                                    <th style="width:100px">Roster End</th>
                                    <th style="width:100px">Duration</th>
                                    <th style="width:150px">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template nz-virtual-scroll let-data let-index="index">
                                    <tr (contextmenu)="rightClickMenu($event, data)"
                                        (dblclick)="mousedblclick($event,data)">
                                        <td style="width:150px">{{data.staff}}</td>
                                        <td style="width:150px">{{data.recipient}}</td>
                                        <td style="width:200px">{{data.serviceType}} </td>
                                        <td style="width:100px">{{data.rosterStart}}</td>
                                        <td style="width:100px">{{data.actualStart | date : 'HH:mm'}}</td>
                                        <td style="width:50px">{{TimeDifference(data)}}</td>
                                        <td style="width:100px">{{data.rosterEnd}}</td>
                                        <td style="width:100px">{{data.duration}}</td>
                                        <td style="width:150px">{{data.s1}}</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </nz-table>
                    </div>

                    <div *ngIf="nzSelectedIndex == 2">
                        <nz-table #virtualTable nzVirtualScroll [nzData]="dataSet" [nzSize]="'small'"
                            [nzLoading]="loadingPending" [nzBordered]="true" [nzVirtualForTrackBy]="trackByIndex"
                            [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzShowPagination]="false"
                            [nzScroll]="{ x: '1400px', y: 'calc(100vh - 238px)' }">
                            <thead>
                                <tr>
                                    <th style="width:150px">Staff</th>
                                    <th style="width:150px">Recipient</th>
                                    <th style="width:200px">Service Type</th>
                                    <th style="width:100px">Roster Start</th>
                                    <th style="width:100px">Actual Start</th>
                                    <th style="width:50px">+/-</th>
                                    <th style="width:100px">Roster End</th>
                                    <th style="width:100px">Actual End</th>
                                    <th style="width:50px">+/-</th>
                                    <th style="width:80px">Duration</th>
                                    <th style="width:50px">Pay</th>
                                    <th style="width:50px">Bill</th>
                                    <th style="width:220px">Completion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template nz-virtual-scroll let-data let-index="index">
                                    <tr (contextmenu)="rightClickMenu($event, data)"
                                        (dblclick)="mousedblclick($event,data)">
                                        <td style="width:150px">{{data.staff}}</td>
                                        <td style="width:150px">{{data.recipient}}</td>
                                        <td style="width:200px">{{data.serviceType}} </td>
                                        <td style="width:100px">{{data.rosterStart}}</td>
                                        <td style="width:100px">{{data.actualStart | date : 'HH:mm'}}</td>
                                        <td style="width:50px">{{TimeDifference(data)}}</td>
                                        <td style="width:100px">{{data.rosterEnd}}</td>
                                        <td style="width:100px">{{data.actualEnd | date : 'HH:mm'}}</td>
                                        <td style="width:50px">{{TimeDifference(data,1)}}</td>
                                        <td style="width:80px">{{data.duration}}</td>
                                        <td style="width:50px">{{data.pay | number : '1.2-2' }}</td>
                                        <td style="width:50px">{{data.bill | number : '1.2-2' }}</td>
                                        <td style="width:220px">{{data.completionStatus}}</td>

                                    </tr>
                                </ng-template>
                            </tbody>
                        </nz-table>
                    </div>

                    <div *ngIf="nzSelectedIndex == 3">
                        <nz-table #virtualTable nzVirtualScroll [nzData]="dataSet" [nzSize]="'small'"
                            [nzLoading]="loadingPending" [nzBordered]="true" [nzVirtualForTrackBy]="trackByIndex"
                            [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzShowPagination]="false"
                            [nzScroll]="{ x: '1200px', y: 'calc(100vh - 238px)' }">
                            <thead>
                                <tr>
                                    <th style="width:200px">Staff</th>
                                    <th style="width:200px">Recipient</th>
                                    <th style="width:200px">Service Type</th>
                                    <th style="width:100px">Roster Start</th>
                                    <th style="width:100px">Duration</th>
                                    <th style="width:100px">Roster End</th>
                                    <th style="width:100px">Actual Start</th>
                                    <th style="width:100px">Actual End</th>
                                    <th style="width:100px">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template nz-virtual-scroll let-data let-index="index">
                                    <tr>
                                        <td style="width:200px">{{data.staff}}</td>
                                        <td style="width:200px">{{data.recipient}}</td>
                                        <td style="width:200px">{{data.serviceType}}</td>

                                        <td style="width:100px">{{data.rosterStart}}</td>
                                        <td style="width:100px">{{data.duration}}</td>
                                        <td style="width:100px">{{data.rosterEnd}}</td>
                                        <td style="width:100px">{{data.actualStart | date : 'HH:MM'}}</td>
                                        <td style="width:100px">{{data.actualEnd | date : 'HH:MM'}}</td>
                                        <td style="width:100px">{{data.taMultishift}}</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </nz-table>
                    </div>

                    <div *ngIf="nzSelectedIndex == 4">

                        Settings
                        <div nz-row nzGutter="8">
                            <div nz-row class="rectangle" nzGutter="8">
                                <div nz-col nzSpan="24" nzGutter="8">
                                    <div nz-col nzSpan="8" style="text-align: right;">
                                        <label for="">Alet Server </label>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <label nz-checkbox [(ngModel)]="AlertServer" (ngModelChange)="setSetting()"
                                            style="margin-right: 10px;"></label>
                                    </div>

                                </div>
                                <div nz-col nzSpan="24" nzGutter="8">
                                    <div nz-col nzSpan="8" style="text-align: right;">
                                        <label for="">Enable Alert Audit </label>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <label nz-checkbox [(ngModel)]="AlertAudit" (ngModelChange)="setSetting()"
                                            style="margin-right: 10px;"></label>
                                    </div>

                                </div>
                            </div>
                            <div nz-row class="rectangle" nzGutter="8">
                                <div nz-col nzSpan="24" nzGutter="8">
                                    <div nz-col nzSpan="8" style="text-align: right;">
                                        <label for="">Local Refresh Interval (Seconds) </label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <nz-input-number [(ngModel)]="Interval" [nzMin]="0" [nzStep]="1"
                                            (ngModelChange)="setSetting()"></nz-input-number>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" nzGutter="8">
                                    <div nz-col nzSpan="8" style="text-align: right;">
                                        <label for="">Alert Refresh Interval (Minutes) </label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <nz-input-number [(ngModel)]="AlertInterval" [nzMin]="0" [nzStep]="1"
                                            (ngModelChange)="setSetting()"></nz-input-number>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" nzGutter="8">
                                    <div nz-col nzSpan="8" style="text-align: right;">
                                        <label for="">Local Timezone Offset (Minutes) </label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <nz-input-number [(ngModel)]="TimeZoneOffset" [nzMin]="0" [nzStep]="1"
                                            (ngModelChange)="setSetting()"></nz-input-number>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nz-modal class="options" [nzStyle]="{ top: '250px', left :'150px' }" [(nzVisible)]="optionMenuDisplayed"
        nzTitle="Time & Attendance" (nzOnCancel)="optionMenuDisplayed = false"
        style="background-color: #002060; margin-top: 5px; color: white;">

        <div nz-row style="background-color: #fff; margin-top: 5px; ">


            <ul>
                <li *ngIf="nzSelectedIndex==0" class="listitem" (click)="menu.next(1)">Force Shift Logon</li>
                <li *ngIf="nzSelectedIndex==1" class="listitem" (click)="menu.next(2)">Force Shift Logoff</li>
                <li *ngIf="nzSelectedIndex==2 " class="listitem" (click)="menu.next(3)">Manually Edit Timelog Entry</li>
                <li *ngIf="nzSelectedIndex==2" class="listitem" (click)="menu.next(4)">Manually Edit Associated Roster
                    Entry</li>
                <li *ngIf="nzSelectedIndex<=1" class="listitem" (click)="menu.next(5)">Force Finalisation of ALL
                    selected</li>
                <li class="listitem" (click)="menu.next(6)">Reset To Pending</li>
                <hr />
                <li class="listitem" (click)="menu.next(7)">eMail</li>
                <li class="listitem" (click)="menu.next(8)">SMS</li>
            </ul>

        </div>
        <div *nzModalFooter>
            <!-- <button  nz-button nzType="default" (click)="menuAction()">Save & Apply</button>
                <button  nz-button nzType="default" (click)="optionMenuDisplayed=false">Cancel</button> -->
        </div>
    </nz-modal>
    <nz-modal [nzStyle]="{ top: '100px' }" [nzWidth]="nzWidth" [(nzVisible)]="TimeAttendnaceModal"
        nzTitle="{{TimeAttendnaceLable}}" (nzOnCancel)="TimeAttendnaceModal = false">

        <div class="flexy" style="min-height:15rem;">


            <!--    <div nz-row nzGutter="8" > 
                    <div>Enter the Logon Time to record for the shift</div>
               </div> -->

            <div nz-row nzGutter="8">
                <div nz-row nzGutter="8" class="rectangle">
                    <div nz-col nzSpan="4">
                        <i nz-icon nzType="calendar" [nzTheme]="'outline'" style="font-size: 32px;"></i>
                    </div>
                    <div nz-col nzSpan="20" style="font-size: 18px; font-weight: bold;">
                        {{TimeAttendnaceLable}}
                    </div>

                </div>
                <div *ngIf="nzSelectedIndex==2" nz-row class="rectangle" nzGutter="8">
                    <div nz-col nzSpan="20" *ngIf="clickedData">
                        {{clickedData.rosterStart}} - {{clickedData.staff}} goes to {{clickedData.serviceType}}
                    </div>
                </div>
                <div nz-row [formGroup]="DateTimeForm" class="rectangle" nzGutter="8">
                    <div nz-col nzSpan="6">
                        <div class="form-group">
                            <label for="">Date</label>
                            <nz-date-picker [nzDisabled]="true" [nzFormat]="dateFormat"
                                formControlName="rdate"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="2" *ngIf="nzSelectedIndex==0">
                    </div>
                    <div nz-col nzSpan="6">

                        <div class="form-group">
                            <label for="">Start Time</label>
                            <nz-time-picker [nzDisabled]="nzSelectedIndex==1" [(ngModel)]="defaultStartTime"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="ngModelChangeStart($event)"
                                nzFormat="HH:mm"></nz-time-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" *ngIf="nzSelectedIndex>=1">
                        <div class="form-group">
                            <label for="">End Time</label>
                            <nz-time-picker [(ngModel)]="defaultEndTime" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="ngModelChangeEnd($event)" nzFormat="HH:mm"></nz-time-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" *ngIf="nzSelectedIndex>=1">
                        <div class="form-group">
                            <label for="">Duration</label>
                            <nz-alert *ngIf="durationObject?.error" nzType="error"
                                [nzMessage]="durationObject?.durationStr"></nz-alert>
                            <nz-alert *ngIf="!durationObject?.error" nzType="success"
                                [nzMessage]="durationObject?.durationStr"></nz-alert>
                        </div>
                    </div>

                </div>
                <div nz-row nzGutter="8" [formGroup]="DateTimeForm" class="rectangle" *ngIf="nzSelectedIndex==1">
                    <div>
                        <div class="form-group" nz-col nzSpan="5">
                            <label for="">Pay Qty</label>
                            <nz-input-number formControlName="payQty" [nzMin]="0" [nzStep]="1"></nz-input-number>
                        </div>
                        <div class="form-group" nz-col nzSpan="5">
                            <label for="">Bill Qty</label>
                            <nz-input-number formControlName="billQty" [nzMin]="0" [nzStep]="1"></nz-input-number>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *nzModalFooter>
            <button nz-button nzType="default" (click)="menuAction()">OK</button>
            <button nz-button nzType="default" (click)="TimeAttendnaceModal=false">Cancel</button>
        </div>
    </nz-modal>
    <div>
        <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
            <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>                
            <div nz-row>   
                <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
            </div>
            
        </nz-drawer>
    </div>