<div nz-layout>
    <div nz-row>
        <div nz-row class="title-block" style="margin-top: 3%;">
            <div nz-col nzSpan="24">
                <div class="tab-title" style="width: 110px;">
                    <label class="fade-in-text"> Bill Processing </label>
                </div>
            </div>
        </div>
        <div nz-row>
            <div class="main-box">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="10">
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="1">
                            <div style="margin-top: 61px;"></div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                END OF BILLING PERIOD
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ReviewUnapprvdClientHour"
                                    (click)="billingEvent(this.id)">
                                    REVIEW UNAPPROVED CLIENT HOURS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-DoBillingIntegrityCheck"
                                    (click)="billingEvent(this.id)">
                                    DO BILLING INTEGRITY CHECK
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-CloseRostersForEditing"
                                    (click)="billingEvent(this.id)">
                                    CLOSE ROSTERS FOR EDITING
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ProcessBillingUpdate"
                                    (click)="billingEvent(this.id)">
                                    PROCESS BILLING UPDATE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-PrintEmailInvoices"
                                    (click)="billingEvent(this.id)">
                                    PRINT / EMAIL INVOICES
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-dark-orange">
                                MAINTENANCE
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-BulkPriceUpdate"
                                    (click)="billingEvent(this.id)">
                                    BULK PRICE UPDATE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ImportReceipts"
                                    (click)="billingEvent(this.id)">
                                    IMPORT RECEIPTS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-RollbackBillingUpdateBatch"
                                    (click)="billingEvent(this.id)">
                                    ROLLBACK BILLING UPDATE BATCH
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                REPORTS
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-BillingSummary"
                                    (click)="billingEvent(this.id)">
                                    BILLING SUMMARY (BATCH REGISTER)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="2"></div>
            </div>
        </div>
    </div>

    <app-unApproved-client-hours [open]="unApprovedClientHours"></app-unApproved-client-hours>
    <app-billing-integrity-check [open]="doBillingIntegrityCheck"></app-billing-integrity-check>
    <app-close-billing-roster-period [open]="closeBillingRosterPeriod"></app-close-billing-roster-period>
    <app-debtor-update [open]="debtorUpdate"></app-debtor-update>
    <app-print-email-invoices [open]="printEmailInvoices"></app-print-email-invoices>
    <app-bulk-price-update [open]="bulkPriceUpdate"><app-bulk-price-update>
            <app-rollback-invoice-batch [open]="rollbackInvoiceBatch"></app-rollback-invoice-batch>
            <app-import-receipts [open]="importReceipts"><app-import-receipts>
                    <div>
                        <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible"
                            nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
                            <div class="col-md-12 spinner" *ngIf="loading">
                                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
                            </div>
                            <div nz-row>
                                <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto"
                                    width="100%" height="650px"></iframe>
                            </div>
                        </nz-drawer>
                    </div>
                    <div>
                        <nz-modal nzWidth="50%" [nzStyle]="{ top: '50px' }" [(nzVisible)]="isvisibleBatchModal"
                            nzTitle="Invoice Batch Register" (nzOnCancel)="handleCancelTop()" (nzOnOk)="handleOkTop()">
                            <div nz-row>
                                <div nz-col nzSpan="20" class="form-group" [formGroup]="inputForm">
                                    <label><i nz-icon nzType="environment" nzTheme="outline"></i>Select Batch to
                                        Print</label>
                                </div>
                            </div>
                            <div nz-row [formGroup]="inputForm">
                                <div nz-col nzSpan="20" class="form-group">
                                    <nz-select formControlName="batchNoArr">
                                        <nz-option *ngFor="let option of batchNoArr" [nzLabel]="option"
                                            [nzValue]="option"></nz-option>
                                    </nz-select>
                                </div>
                            </div>

                        </nz-modal>
                    </div>