.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    height: 90vh;
    width: 90vw;
    margin: auto;
}

.main-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 62%;
    max-width: 90vw;
    height: auto;
    min-height: 65vh;
    border: 2px solid #85B9D5;
    border-radius: 5px;
    background-color: white;
    padding: 25px 10px;
    flex-wrap: wrap !important;
    margin: auto;
    column-gap: 3vw !important;
    column-fill: balance;
}
.title-block {
    display: block; 
    width: 62%;
    max-width: 90vw;
    margin: auto;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.tab-title {
    /* display: inline-block; */
    /* position: relative; */
    /* align-items: left; */
    height: 25px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    font-family: Segoe UI;
    color: #002060;
    /* color: #85B9D5; */
    border: 1px solid #d0d2d6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-wrap: nowrap;
    /* width: 125px; */
    text-align: left;
}

::ng-deep .progress-circle {
    margin-top: 3px !important;
    margin-right: 5px !important;
}

::ng-deep .ant-progress-text {
    font-size: 16px !important;
    line-height: 16px !important;
    color: #f18805 !important;
    font-weight: bold !important;
}

::ng-deep .progress-circle .ant-progress-circle-path {
    stroke-width: 10px !important;
}


.fade-in-text {
    font-family: Segoe UI;
    font-size: 14px;
    animation: fadeIn 1.5s infinite alternate;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.progress-text {
    color: #f18805 !important;
    font-size: large !important;
}

.ant-progress-circle.ant-progress-status-success .ant-progress-text {
    color: #f18805 !important;
    font-size: large !important;
}

.progress-circle {
    text-align: center;
    vertical-align: middle;
}

.arrow-down1 {
    /* margin-left: 0px !important;  */
    margin-left: -4px;
    /* margin-top: 1px; */
    font-size: 16px;
    /* text-align: left !important; */
    /* vertical-align: top !important; */
    height: 20px;
}

.circle-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.div-margin {
    margin-top: 18px;
}

.arrow-down {
    font-size: 18px;
    /* height: 1pc;
    margin-bottom: 2px; */
}

.button1 {
    justify-content: center;
    align-content: center;
    align-items: stretch;
    text-align: left !important;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #b3b5b5;
    font-family: Segoe UI;
    opacity: 0.9;
    transition: 0.2s;
    width: 100% !important;
    height: 28px !important;
    font-size: 0.8vw;
    font-family: Segoe UI;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    /* white-space: normal; */
    /* word-break: break-word; */
    /* line-height: 1.2; */
}

.button2 {
    width: 19vw !important;
    height: 3vh !important;
    text-align: left !important;
    text-transform: uppercase;
    background-color: white;
    /*#dcdcde*/
    ;
    border: 1px solid #b3b5b5;
    font-size: 14px;
    font-family: Segoe UI;
    color: #494a4b;
    opacity: 0.9;
    transition: 0.2s;
}

.button3 {
    width: 19vw !important;
    height: 4vh !important;
    text-align: left !important;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #b3b5b5;
    font-size: 14px;
    font-family: Segoe UI;
    /* font-weight: bold; */
    color: #494a4b;
    margin-top: 5px;
    opacity: 0.9;
    transition: 0.2s;
    /* border-radius: 5px !important; */
}

.conf-header {
    background-color: #85B9D5;
    color: #fff;
    padding: 10px;
    border-color: #85B9D5;
}

.conf-header-darkorange {
    line-height: 1;
    background-color: #f18805;
    color: #fff;
    padding: 10px;
    border-color: #f18805;
}

.conf-header-orange {
    line-height: 1;
    background-color: #ffba08;
    color: #fff;
    padding: 10px;
    border-color: #ffba08;
}

.header-powder-blue {
    background-color: #85B9D5;
    border-color: #85B9D5;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    width: 100% !important;
    font-size: 0.8vw;
    font-family: Segoe UI;
    /* font-weight: bold; */
}

.header-dark-orange {
    background-color: #f18805;
    border-color: #f18805;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    width: 100% !important;
    font-size: 0.8vw;
    font-family: Segoe UI;
    /* font-weight: bold; */
}

.header-orange {
    color: #fff;
    padding: 10px;
    line-height: 1;
    background-color: #ffba08;
    border-color: #ffba08;
}

.dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    min-width: 200px;
    max-width: 80vw;
}

.tab {
    display: block;
    border: 2px solid #85B9D5;
    border-radius: 5px;
    background-color: white;
    height: 74vh;
    padding: 5px;
    margin-top: -28px;
    overflow-y: auto;
    width: auto;
}

.box {
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.box2 {
    display: flex;
    position: relative;
    float: left;
    margin-top: 0;

}

.v-box {
    display: inline-block;
    border: 1px solid #d1d1d1;
    height: auto;
    position: relative;

}

section {
    display: flex;
    border-bottom: 2px solid #d1d1d1;
    width: 55vw;
    height: auto;
    background-color: white;
    margin: 3px;
    padding: 10px;
}

.checkbox {
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: normal;
    color: rgb(19, 19, 122);
    forced-color-adjust: #282b79;
}

.button:hover {
    background-color: #e2e7f0;
    color: #084d73;
}

.btn {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #85B9D5;
    color: white;
    padding: 5px 7px;
    border-radius: 7px !important;
    text-align: center !important;
    width: 100px !important;
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: bold;
}

.btn-rounded {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #282b79;
    color: white;
    padding: 5px 7px;
    border-radius: 7px;
    text-align: center !important;
}

.btn-circled {
    border: 1px sold #c6cdd2;
    cursor: pointer;
    background-color: #c6cdd2;
    color: rgb(17, 16, 16);
    border-radius: 50px;
    text-align: center !important;
    width: 40px !important;
    height: 40px !important;
}

button.success {
    background-color: #85B9D5 !important;
    color: #fff !important;
    border-color: #85B9D5 !important;
}

.clearfix {
    display: block;
}

label {
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
}

nz-select {
    width: 100%;

}

label.checks {
    margin-top: 4px;
    font-weight: 300 !important;
}

nz-table tr th,
nz-table tr td {
    text-align: left;
    padding: 1px 1px;
    text-wrap: wrap;
}

nz-date-picker {
    margin: 5pt;
}

.frm_number {
    width: 250px;
    height: 32px;

}

.frm_AgingNumber {
    width: 50px;
    height: 32px;
}

.spinner {
    margin: 1rem auto;
    width: 1px;
}

.custom-btn {
    background: #f7f7f7;
}

.ant-menu-horizontal {
    line-height: 28px;
}

nz-tabset::ngdeep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
    line-height: 24px;
    background: #fff;
    height: 25px;
    border-radius: 15px 15px 0 0;
    margin: 0 0px 0 0;
    text-align: center;
    border-color: #85B9D5;
}

nz-tabset::ngdeep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active {
    background: #85B9D5;
    color: #fff;
}

nz-container::ngdeep nz-tabset::ngdeep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {

    min-width: auto;
}

nz-tabset::ngdeep .ant-tabs-bar {
    border-bottom: 0px;
}

.SingleInputNo {
    width: 50px;
    height: 32px;
}

.ant-btn {
    height: auto;
    border-radius: 0px;
}

.btn-darkorange {
    line-height: 1;
    background-color: #f18805;
    color: #fff;
    border-color: #f18805;
    cursor: pointer;
    outline: none;
    transition: background-color 0.5s ease;
    padding: 5px 7px;
    border-radius: 3px;
    text-align: center !important;
    width: 150px !important;
}

:host ::ng-deep nz-tab {
    color: red !important;
    background-color: #85B9D5 !important;
}

@media (min-width:300px) and (max-width:700px) {

    .main {

        /* padding : 14px;          */
        margin: 4px;
    }

    .main-box {
        flex-direction: column;
        height: 90vh;
        padding: 5px !important;
        align-items: center !important;
    }

    .button {
        width: 60vw !important;
        font-size: 14px !important;
        margin-top: 2px !important;
    }


    .header-powder-blue {
        width: 60vw !important;
        font-size: 14px !important;
    }

    .header-dark-orange {
        width: 60vw !important;
        font-size: 14px !important;
    }

    #block1,
    #block2,
    #block3 {
        margin-top: 2px !important;
    }

    #ps1 {
        display: none !important;
    }

    #block0 {
        margin-left: 22px !important;
    }

    .tab {
        height: 90vh;
    }

    :host ::ng-deep nz-tab {
        color: red;
    }
}