
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-tabset  [nzTabPosition]="'top'" [nzType]="'card'" >            
            <nz-tab nzTitle="CHSP/DEX">
                <div nz row>
                    <div nz-col [nzSpan]="24">
                        <div nz-col [nzSpan]="6">
                            <ul nz-menu nzMode="horizontal">
                                <li>
                                    <div>                                        
                                        <button nz-button nzType="default" id="btn-absentclient" (click)="openModal('dex')">
                                        <i nz-icon nzType="printer"></i>
                                            DEX Upload
                                        </button> 
                                    </div>
                                    <div>                                        
                                        <button nz-button nzType="default" id="btn-absentclient">
                                        <i nz-icon nzType="printer"></i>
                                            Rollback DEX Update
                                        </button> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
</div>




<app-dex-upload [open]="open"></app-dex-upload>