
<div nz-layout>
    <div nz-row>
        <div nz-row>
            <div nz-col nzSpan="2"></div>
            <div nz-col nzSpan="2">
                <div class="tab-title">
                    <label class="fade-in-text"> Dashboard </label>
                </div>
            </div>
            <div nz-col nzSpan="16"></div>
            <div nz-col nzSpan="2"></div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="2"></div>
            <div nz-col nzSpan="18" class="main-box">
                <div nz-row >
                    <div nzSpan="24" style="margin-top: 40px;"></div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="18" >
                        <div class="text-center header-powder-blue">
                            DASHBOARDS
                        </div>
                        <div style="height: 2pc; margin-top: 5px;">
                            <button nz-button nzType="default" class="button1" (click)="view(1)">
                                At a Glance Dashboard
                            </button>
                        </div>
                        <div style="height: 2pc; margin-top: 5px;">
                            <button nz-button nzType="default" class="button1"  (click)="view(2)">
                                Budgeting and Analysis
                            </button>
                        </div>
                        <div style="height: 2pc; margin-top: 5px;">
                            <button nz-button nzType="default" class="button1" (click)="view(3)">
                                Budgeting and Analysis
                            </button>
                        </div>
                    </div>
                    <div nz-col nzSpan="2"></div>
                </div>
            </div>
            <div nz-col nzSpan="2"></div>
        </div>
    </div>

    </div>