<div nz-layout>
    <div nz-row>
        <div nz-row class="title-block" style="margin-top: 3%;">
            <div nz-col nzSpan="24">
                <div class="tab-title" style="width: 218px;">
                    <label class="fade-in-text"> Support At Home End Of Period </label>
                </div>
            </div>
        </div>
        <div nz-row>
            <div class="main-box">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="10">
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="1">
                            <div style="margin-top: 61px;"></div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format6" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format7" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format8" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format9" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                END OF CLAIM PERIOD
                            </div>
                            <!-- <div class="div-margin">
                            <button nz-button nzType="default" class="button1" id="btn-FeeVerification" (click) = "HCP_Modal(this.id)">
                                FEE VERIFICATION REPORT
                            </button>
                        </div> -->
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ClaimVerification"
                                    (click)="HCP_Modal(this.id)">
                                    CLAIM VERIFICATION REPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-LeaveVerification"
                                    (click)="HCP_Modal(this.id)">
                                    LEAVE VERIFICATION REPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-HCPUnApprovedServices"
                                    (click)="HCP_Modal(this.id)">
                                    REVIEW UNAPPROVED SERVICES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-hcpClaimPreparation"
                                    (click)="hcpEvent(this.id)">
                                    PROCESS GOVT CONTRIBUTIONS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-hcpAgeBalances"
                                    (click)="hcpEvent(this.id)">
                                    UPDATE PACKAGE BALANCES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-hcpBalanceExport"
                                    (click)="hcpEvent(this.id)">
                                    BALANCE REPORT/EXPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-hcpCreateClaimUpload"
                                    (click)="hcpEvent(this.id)">
                                    CREATE CLAIM UPLOAD FILE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-HCPStatement"
                                    (click)="HCP_Modal(this.id)">
                                    PRINT PACKAGE STATEMENTS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-HCPClientBilling"
                                    (click)="HCP_Modal(this.id)">
                                    SUPPORT AT HOME CLIENT BILLING
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-dark-orange">
                                MAINTENANCE
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-rollbackClaimPrepBatch"
                                    (click)="hcpEvent(this.id)">
                                    ROLLBACK CLAIM PREPARATION BATCH
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-rollbackHcpAging"
                                    (click)="hcpEvent(this.id)">
                                    ROLLBACK HCP AGING
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-rollbackClaimUploadBatch"
                                    (click)="hcpEvent(this.id)">
                                    ROLLBACK CLAIM UPLOAD BATCH
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-setHcpRates"
                                    (click)="hcpEvent(this.id)">
                                    SET HCP RATES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-importPriceGuide"
                                    (click)="hcpEvent(this.id)">
                                    IMPORT PRICE GUIDE
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                OTHER
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-updateHcpRates"
                                    (click)="hcpEvent(this.id)">
                                    UPDATE CLAIM RATES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-bulkBalanceEdit"
                                    (click)="hcpEvent(this.id)">
                                    BULK BALANCE EDIT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-hcpDataCheck"
                                    (click)="hcpEvent(this.id)">
                                    DATA INTEGRITY CHECK
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-packageAuditReport"
                                    (click)="hcpEvent(this.id)">
                                    PACKAGE AUDIT REPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-packageStatusSummary"
                                    (click)="hcpEvent(this.id)">
                                    PACKAGE STATUS SUMMARY
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DELET FROM BELOW -->

    <!-- <div>

        <div id="block0" style="display: block; width: 75vw; margin: auto;  ">
            <div class="tab-title">
                <label class="fade-in-text"> HCP Claiming </label>
            </div>
        </div>
        <div class="main-box">
            <div>
                <div nz-row nz-col style="margin-top: 3px;">
                    <div class="text-center header-powder-blue" style="margin-left: 9%;">
                        END OF CLAIM PERIOD
                    </div>
                    <div style="height: 2pc; margin-top: 2%;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-FeeVerification" (click) = "HCP_Modal(this.id)">
                            FEE VERIFICATION REPORT
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-ClaimVerification" (click) = "HCP_Modal(this.id)">
                            CLAIM VERIFICATION REPORT
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-LeaveVerification" (click) = "HCP_Modal(this.id)">
                            LEAVE VERIFICATION REPORT
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-HCPUnApprovedServices" (click) = "HCP_Modal(this.id)">
                            REVIEW UNAPPROVED HCP SERVICES
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-hcpClaimPreparation" (click) = "hcpEvent(this.id)">
                            HCP CLAIMS PREPARATION
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format6" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1">
                            AGE HCP BALANCES
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format7" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-hcpBalanceExport" (click) = "hcpEvent(this.id)">
                            HCP BALANCE REPORT/EXPORT
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format8" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-hcpCreateClaimUpload" (click) = "hcpEvent(this.id)">
                            CREATE CLAIM UPLOAD FILE
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format9" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-HCPStatement" (click) = "HCP_Modal(this.id)">
                            PRINT HCP STATEMENTS
                        </button>
                    </div>

                </div>
            </div>

            <div>
                <div>
                    <div class="text-center header-dark-orange">
                        MAINTENANCE
                    </div>
                    <div style="height: 2pc; margin-top: 5px;">
                        <button nz-button nzType="default" class="button1" id="btn-rollbackClaimPrepBatch" (click) = "hcpEvent(this.id)">
                            ROLLBACK CLAIM PREPARATION BATCH
                        </button>
                    </div>
                    <div style="height: 2pc;">
                        <button nz-button nzType="default" class="button1" id="btn-rollbackHcpAging" (click) = "hcpEvent(this.id)">
                            ROLLBACK HCP AGING
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-rollbackClaimUploadBatch" (click) = "hcpEvent(this.id)">
                            ROLLBACK CLAIM UPLOAD BATCH
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-setHcpRates" (click) = "hcpEvent(this.id)">
                            SET HCP RATES
                        </button>
                    </div>
                </div>

                <div style="margin-top: 22px;">
                    <div class="text-center header-powder-blue">
                        OTHER
                    </div>
                    <div style="height: 2pc; margin-top: 5px;">
                        <button nz-button nzType="default" class="button1" id="btn-updateHcpRates" (click) = "hcpEvent(this.id)">
                            UPDATE HCP RATES
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-bulkBalanceEdit" (click) = "hcpEvent(this.id)">
                            BULK BALANCE EDIT
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-hcpDataCheck" (click) = "hcpEvent(this.id)">
                            HCP DATA CHECK
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-packageAuditReport" (click) = "hcpEvent(this.id)">
                            PACKAGE AUDIT REPORT
                        </button>
                    </div>
                    <div style="height: 2pc; ">
                        <button nz-button nzType="default" class="button1" id="btn-packageStatusSummary" (click) = "hcpEvent(this.id)">
                            PACKAGE STATUS SUMMARY
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div> -->
</div>
<!--Mufeed-->
<div nz-layout>
    <nz-modal [nzStyle]="{ top: '0px' }" [nzBodyStyle]="HCP_modalbodystyle" [(nzVisible)]="HCP_isVisibleTop"
        [(nzTitle)]="HCP_ModalName" (nzOnCancel)="HCP_MOdalCancel()" (nzOnOk)="HCP_MOdalOk()">
        <div nz-row *ngIf="frm_Date">
            <div nz-col nzSpan="20">
                <label><i nz-icon nzType="calendar" nzTheme="outline"></i> Date </label>
                <nz-date-picker [(ngModel)]="startdate" nzPlaceHolder="Start Date"
                    [nzFormat]="dateFormat"></nz-date-picker>
                <nz-date-picker [(ngModel)]="enddate" nzPlaceHolder="End Date" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row [formGroup]="inputForm">
            <div nz-row *ngIf="frm_BatchNo">
                <div nz-col nzSpan="20">
                    <div class="form-group" [formGroup]="inputForm">
                        <label><i nz-icon nzType="environment" nzTheme="outline"></i>Select Batch to Print</label>
                        <nz-select formControlName="batchNoArr">
                            <nz-option *ngFor="let option of batchNoArr" [nzLabel]="option"
                                [nzValue]="option"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row *ngIf="frm_Branches">
                <div nz-col nzSpan="20">
                    <div class="form-group">
                        <label><i nz-icon nzType="environment" nzTheme="outline"></i> Branches</label>
                        <label class="checks" nz-checkbox formControlName="allBranches">All Branches</label>
                        <nz-select formControlName="branchesArr" nzMode="multiple"
                            [nzDisabled]="inputForm.value.allBranches">
                            <nz-option *ngFor="let option of branchesArr" [nzLabel]="option"
                                [nzValue]="option"></nz-option>
                        </nz-select>

                    </div>
                </div>
            </div>
            <div nz-row *ngIf="frm_Programs">
                <div nz-col nzSpan="20">
                    <div class="form-group">
                        <label><i nz-icon nzType="solution" nzTheme="outline"></i> Programs </label>
                        <label class="checks" nz-checkbox formControlName="allPrograms">All Programs</label>
                        <nz-select formControlName="programsArr" nzMode="multiple"
                            [nzDisabled]="inputForm.value.allPrograms">
                            <nz-option *ngFor="let option of programsArr" [nzLabel]="option"
                                [nzValue]="option"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row *ngIf="frm_Managers">
                <div nz-col nzSpan="20">
                    <div class="form-group">
                        <label><i nz-icon nzType="user" nzTheme="outline"></i> Manager </label>
                        <label class="checks" nz-checkbox formControlName="allManager">All Managers</label>
                        <label class="checks" nz-checkbox formControlName="RecipientCoordinator"
                            [nzDisabled]="inputForm.value.allManager">Recipient Coordinator</label>
                        <div *ngIf="inputForm.value.allManager || !inputForm.value.RecipientCoordinator">
                            <nz-select formControlName="managersArr" nzMode="multiple"
                                [nzDisabled]="inputForm.value.allManager">
                                <nz-option *ngFor="let option of managersArr" [nzLabel]="option"
                                    [nzValue]="option"></nz-option>
                            </nz-select>
                        </div>
                        <div *ngIf="!inputForm.value.allManager && inputForm.value.RecipientCoordinator">
                            <nz-select formControlName="recipientmanagersArr" nzMode="multiple"
                                [nzDisabled]="!inputForm.value.RecipientCoordinator">
                                <nz-option *ngFor="let option of recipientmanagersArr" [nzLabel]="option"
                                    [nzValue]="option"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row *ngIf="frm_Categories">
                <div nz-col nzSpan="20">
                    <div class="form-group">
                        <label><i nz-icon nzType="apartment" nzTheme="outline"></i> Category </label>
                        <label class="checks" nz-checkbox formControlName="allCategories">All Categories</label>
                        <nz-select formControlName="categoriesArr" nzMode="multiple"
                            [nzDisabled]="inputForm.value.allCategories">
                            <nz-option *ngFor="let option of categoriesArr" [nzLabel]="option"
                                [nzValue]="option"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row *ngIf="frm_Packages">
                <div nz-col nzSpan="20">
                    <div class="form-group">
                        <label><i nz-icon nzType="bank" nzTheme="outline"></i> Packages </label>
                        <label class="checks" nz-checkbox formControlName="allPackages">All Packages </label>
                        <nz-select formControlName="packagesArr" nzMaxTagCount="4" nzMode="multiple" nzShowSearch="true"
                            [nzDisabled]="inputForm.value.allPackages">
                            <nz-option *ngFor="let option of packagesArr" [nzLabel]="option"
                                [nzValue]="option"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col nzSpan="20" *ngIf="chkbx_grpbyCaseManagers"><label class="checks" nz-checkbox
                    formControlName="groupbyCaseManagers">Group by CaseManagers</label></div>
        </div>



    </nz-modal>

    <div>
        <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
            [nzTitle]="pdfTitle" (nzOnClose)="HCP_MOdalCancel()">
            <div class="col-md-12 spinner" *ngIf="loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>

            <div nz-row>
                <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                    height="650px"></iframe>
            </div>

        </nz-drawer>
    </div>

</div>
<!--END-->

<app-hcp-rollback-claimPrep [open]="hcpRollbackClaimPrep"></app-hcp-rollback-claimPrep>
<app-hcp-rollback-aging [open]="hcpRollbackAging"></app-hcp-rollback-aging>
<app-hcp-rollback-claimUpload [open]="hcpRollbackClaimUpload"></app-hcp-rollback-claimUpload>
<app-hcp-rates-list [open]="setHcpRates"></app-hcp-rates-list>
<app-hcp-claim-rate-update [open]="hcpClaimRateUpdate"></app-hcp-claim-rate-update>
<app-hcp-bulk-balance-edit [open]="hcpBulkBalanceEdit"></app-hcp-bulk-balance-edit>
<app-hcp-data-check [open]="hcpDataCheck"></app-hcp-data-check>
<app-hcp-package-audit-report [open]="hcpPackageAuditReport"></app-hcp-package-audit-report>
<app-hcp-package-status-summary [open]="hcpPackageStatusSummary"></app-hcp-package-status-summary>
<app-hcp-create-claim-upload [open]="hcpCreateClaimUpload"></app-hcp-create-claim-upload>
<app-hcp-claim-preparation [open]="hcpClaimPreparation"></app-hcp-claim-preparation>
<app-hcp-import-price-guide [open]="importPriceGuide"></app-hcp-import-price-guide>
<app-hcp-balance-export [open]="hcpBalanceExport"></app-hcp-balance-export>