<nz-layout>


    <nz-sider *ngIf="isSidebarLayout" [nzCollapsible]="true" [class.none]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0" [nzZeroTrigger]="zeroTrigger">
        <ng-container>
          <div class="logo"></div>
          <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" class="main-list">
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/landing')"><i nz-icon nzType="home" nzTheme="outline"></i> Home</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/daymanager-main')"><i nz-icon class="material-icons"> date_range </i> Day Manager</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/recipient')"><i nz-icon class="material-icons"> people_alt </i> Recipients</li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/staff')"><i class="fas fa-user-nurse staff-icon-fix"></i> Staff</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/rostermain')"><i class="far fa-address-card" style="margin-right: 10px; margin-left: 1px;"></i> Rosters</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS && SPECIAL_ROUTE_GUARDS?.mmTimesheetProcessing == 1" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/pays')"><i nz-icon nzType="audit" nzTheme="outline"></i> Pays </li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS && SPECIAL_ROUTE_GUARDS?.mmBilling == 1" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/billing')"><i nz-icon nzType="reconciliation" nzTheme="outline"></i> Billing </li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS && SPECIAL_ROUTE_GUARDS?.accessCDC" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/hcp')"><i nz-icon nzType="interaction" nzTheme="outline"></i> Support At Home </li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS && SPECIAL_ROUTE_GUARDS?.mmndia == 1" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/ndia')"><i nz-icon nzType="build" nzTheme="outline"></i> NDIA </li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS && SPECIAL_ROUTE_GUARDS?.mmAtAGlance" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/dashboards')"><i nz-icon nzType="dashboard" nzTheme="outline"></i> Dashboards </li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/timesheet')"><i nz-icon nzType="read" nzTheme="outline" style="margin-right: 15px;"></i>Timesheets</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/time-attendance')"><i nz-icon nzType="clock-circle" nzTheme="outline" style="margin-right: 15px;"></i>Time & Attendance</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/reports')"><i nz-icon class="material-icons"> poll </i> Reports</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && SPECIAL_ROUTE_GUARDS?.mmAccounting" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/accounting')"><i nz-icon class="material-icons"> poll </i> Accounting</li>
            <li nz-menu-item *ngIf="!ISTAFF_BYPASS && !HIDE_SPECIAL_OPTIONS" routerLinkActive="ant-menu-item-selected" (click)="onMenuClick('/admin/configuration')"><i nz-icon class="material-icons"> settings_applications </i> Configuration</li>
          </ul>
        </ng-container>
      </nz-sider>

    <nz-layout>
        <nz-header>
            <app-header-nav></app-header-nav>
        </nz-header>

        <nz-content>
            <ng-container *ngIf="!ISTAFF_BYPASS">
                <!-- <app-breadcrumbs></app-breadcrumbs> -->
            </ng-container>
            <!-- <nz-breadcrumb>
                <nz-breadcrumb-item (click)="toHome()">Home</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngFor="let crumb of breadcrumbs" [routerLink]="[crumb.url]">{{  crumb.label }}</nz-breadcrumb-item>
            </nz-breadcrumb> -->
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>

        </nz-content>

        <app-global-alerts></app-global-alerts>
        <!-- <nz-footer>Put footer here</nz-footer> -->
    </nz-layout>
</nz-layout>

<ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>

</ng-template>



