<style>
    .material-icons, .fas, .far {
        font-family: 'Material Icons', 'Font Awesome 5 Free', 'Font Awesome 5 Pro', 'Font Awesome 5 Brands';
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .material-icons, .fas, .far, .anticon {
        visibility: hidden;
    }

    .material-icons-loaded .material-icons, 
    .font-awesome-loaded .fas, 
    .font-awesome-loaded .far, 
    .anticon-loaded .anticon {
        visibility: visible;
    }
</style>
<div class="bg">
    <div class="landing-container">

        <figure routerLink="/admin/daymanager-main">
            <i class="material-icons"> date_range </i>
            <figcaption>Day Manager</figcaption>
        </figure>
    
        <figure routerLink="/admin/recipient">
            <span class="material-icons">people</span>                
            <figcaption>Recipients</figcaption>
        </figure>
    
        <figure routerLink="/admin/staff"> 
            <i class="fas fa-user-nurse"></i>
            <figcaption>Staff</figcaption>
        </figure>
    
        <figure routerLink="/admin/rosters">
            <i class="far fa-address-card"></i>
            <figcaption>Rosters</figcaption>
        </figure>
    
        <figure routerLink="/admin/timesheet">
            <i class="material-icons"> menu_book </i>
            <figcaption>Timesheets</figcaption>
        </figure>
    
        <figure routerLink="/admin/time-attendance">
            <i class="far fa-clock"></i>
            <figcaption>Time & Attendance</figcaption>
        </figure>
    
        <figure routerLink="/admin/reports">
            <i class="material-icons"> poll </i>
            <figcaption>Reports</figcaption>
        </figure>
    
        <figure  *ngIf="SPECIAL_ROUTE_GUARDS?.mmAnalyseBudget" routerLink="/admin/budget">
            <i class="material-icons"> show_chart </i>
            <figcaption>Analyze & Budget</figcaption>
        </figure>
    
        <figure *ngIf="SPECIAL_ROUTE_GUARDS?.mmAtAGlance">
            <i class="material-icons"> search </i>
            <figcaption>At A Glance</figcaption>
        </figure>
        
         <!-- Custom Scripts -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.fonts.ready.then(function () {
                    document.body.classList.add("material-icons-loaded");
                    document.body.classList.add("font-awesome-loaded");
                    document.body.classList.add("anticon-loaded");
                });
            });
        </script>
    </div>
</div>