<div nz-layout>
    <div nz-row>
        <div nz-row class="title-block" style="margin-top: 3%;">
            <div nz-col nzSpan="24">
                <div class="tab-title" style="width: 110px;">
                    <label class="fade-in-text"> NDIA Claiming </label>
                </div>
            </div>
        </div>
        <div nz-row>
            <div class="main-box">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="10">
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="1">
                            <div style="margin-top: 61px;"></div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format6" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                END OF CLAIM PERIOD
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-reviewUnclaimedSvc"
                                    (click)="Prompt_NDIA_Modal(this.id)">
                                    REVIEW UNCLAIMED SERVICES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-createClaimUpload"
                                    (click)="clickEvent(this.id)">
                                    CREATE CLAIM UPLOAD FILE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1">
                                    IMPORT PAYMENT REQUEST
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-createNDIAInvoice"
                                    (click)="clickEvent(this.id)">
                                    CREATE NDIA INVOICE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ageMonthlyBalances"
                                    (click)="clickEvent(this.id)">
                                    AGE MONTHLY BALANCES
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1">
                                    PRINT STATEMENTS
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-dark-orange">
                                MAINTENANCE
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-importPriceGuide"
                                    (click)="clickEvent(this.id)">
                                    IMPORT NDIA PRICE GUIDE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-rollbackClaimBatch"
                                    (click)="clickEvent(this.id)">
                                    ROLLBACK CLAIM BATCH
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-rollbackAgingBatch"
                                    (click)="clickEvent(this.id)">
                                    ROLLBACK AGING BATCH
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                REPORTS
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ndiaBatchRegister"
                                    (click)="Prompt_NDIA_Modal(this.id)">
                                    NDIA BATCH REGISTER
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ndiaPackageBalanceSummary"
                                    (click)="Prompt_NDIA_Modal(this.id)">
                                    NDIA PACKAGE BALANCE SUMMARY
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DELETE FROM BELOW -->
<!-- <div>
    <div id="block0" style="display: block; width: 75vw; margin: auto;  ">
        <div class="tab-title">
            <label class="fade-in-text"> NDIA Claiming </label>
        </div>
    </div>
    <div class="main-box">
        <div>
                <div nz-row nz-col style="margin-top: 3px;">
                    <div class="text-center header-powder-blue" style="margin-left: 9%;">
                        END OF CLAIM PERIOD
                    </div>
                    <div style="height: 2pc; margin-top: 2%;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-reviewUnclaimedSvc" (click)="Prompt_NDIA_Modal(this.id)">
                            REVIEW UNCLAIMED SERVICES
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-createClaimUpload" (click)="clickEvent(this.id)">
                            CREATE CLAIM UPLOAD FILE
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1">
                            IMPORT PAYMENT REQUEST
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-createNDIAInvoice" (click)="clickEvent(this.id)">
                            CREATE NDIA INVOICE
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc; ">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1" id="btn-ageMonthlyBalances" (click)="clickEvent(this.id)">
                            AGE MONTHLY BALANCES
                        </button>
                    </div>
                    <div class="arrow-down">
                        <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i> 
                    </div>
                    <div style="height: 2pc;">
                        <nz-progress class="progress-circle" nzType="circle" [nzWidth]="30" [nzFormat]="format6" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }"> </nz-progress>
                        <button nz-button nzType="default" class="button1">
                            PRINT STATEMENTS
                        </button>
                    </div>
                </div>
            </div>
        <div>
            <div>
                <div class="text-center header-dark-orange">
                    MAINTENANCE
                </div>
                <div style="height: 2pc; margin-top: 5px;">
                    <button nz-button nzType="default" class="button1" id="btn-importPriceGuide"
                        (click)="clickEvent(this.id)">
                        IMPORT NDIA PRICE GUIDE
                    </button>
                </div>
                <div style="height: 2pc;">
                    <button nz-button nzType="default" class="button1" id="btn-rollbackClaimBatch"
                        (click)="clickEvent(this.id)">
                        ROLLBACK CLAIM BATCH
                    </button>
                </div>
                <div style="height: 2pc; ">
                    <button nz-button nzType="default" class="button1" id="btn-rollbackAgingBatch"
                        (click)="clickEvent(this.id)">
                        ROLLBACK AGING BATCH
                    </button>
                </div>
            </div>

            <div style="margin-top: 22px;">
                <div class="text-center header-powder-blue">
                    REPORTS
                </div>
                <div style="height: 2pc; margin-top: 5px;">
                    <button nz-button nzType="default" class="button1" id="btn-ndiaBatchRegister"
                        (click)="Prompt_NDIA_Modal(this.id)">
                        NDIA BATCH REGISTER
                    </button>
                </div>
                <div style="height: 2pc; ">
                    <button nz-button nzType="default" class="button1" id="btn-ndiaPackageBalanceSummary"
                        (click)="Prompt_NDIA_Modal(this.id)">
                        NDIA PACKAGE BALANCE SUMMARY
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-ndia-rollback-claim [open]="rollbackClaimBatch"></app-ndia-rollback-claim>
<app-ndia-rollback-aging [open]="rollbackAgingBatch"></app-ndia-rollback-aging>
<app-ndia-claim-update [open]="ndiaClaimUpdateOpen"></app-ndia-claim-update>
<app-ndia-create-claim-upload [open]="createClaimUpload"> </app-ndia-create-claim-upload>
<app-ndia-age-monthly-balances [open]="ageMonthlyBalances"> </app-ndia-age-monthly-balances>
<app-create-ndia-invoice [open]="createNDIAInvoice"> </app-create-ndia-invoice>
<app-ndia-import-price-guide [open]="importPriceGuide"> </app-ndia-import-price-guide>

<!--Mufeed-->
<nz-modal [nzStyle]="{ top: '0px' }" [nzBodyStyle]="NDIA_modalbodystyle" [(nzVisible)]="NDIA_isVisibleTop"
    [(nzTitle)]="NDIA_ModalName" (nzOnCancel)="NDIA_MOdalCancel()" (nzOnOk)="NDIA_MOdalOk()">
    <div nz-row *ngIf="frm_Date">
        <div nz-col nzSpan="20">
            <label><i nz-icon nzType="calendar" nzTheme="outline"></i> Date </label>
            <nz-date-picker [(ngModel)]="startdate" nzPlaceHolder="Start Date" [nzFormat]="dateFormat"></nz-date-picker>
            <nz-date-picker [(ngModel)]="enddate" nzPlaceHolder="End Date" [nzFormat]="dateFormat"></nz-date-picker>
        </div>
    </div>
    <div nz-row [formGroup]="inputForm">
        <div nz-row *ngIf="frm_InpBatchNo">
            <div nz-col nzSpan="20" [formGroup]="inputForm">
                <label>Enter Batch Number to Print</label>
                <nz-input-number class="frm_number" formControlName="inputBatchnNumber"></nz-input-number>
            </div>
        </div>
        <div nz-row *ngIf="frm_BatchNo">
            <div nz-col nzSpan="20">
                <div class="form-group" [formGroup]="inputForm">
                    <label><i nz-icon nzType="environment" nzTheme="outline"></i>Select Batch to Print</label>
                    <nz-select formControlName="batchNoArr">
                        <nz-option *ngFor="let option of batchNoArr" [nzLabel]="option" [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-row *ngIf="frm_Branches">
            <div nz-col nzSpan="20">
                <div class="form-group">
                    <label><i nz-icon nzType="environment" nzTheme="outline"></i> Branches</label>
                    <label class="checks" nz-checkbox formControlName="allBranches">All Branches</label>
                    <nz-select formControlName="branchesArr" nzMode="multiple"
                        [nzDisabled]="inputForm.value.allBranches">
                        <nz-option *ngFor="let option of branchesArr" [nzLabel]="option" [nzValue]="option"></nz-option>
                    </nz-select>

                </div>
            </div>
        </div>
        <div nz-row *ngIf="frm_Recipients">
            <div nz-col nzSpan="20">
                <div class="form-group">
                    <label><i nz-icon nzType="bank" nzTheme="outline"></i> Recipients </label>
                    <label class="checks" nz-checkbox formControlName="allRecipients">All Recipients </label>
                    <nz-select formControlName="recipientArr" nzMaxTagCount="4" nzMode="multiple" nzShowSearch="true"
                        [nzDisabled]="inputForm.value.allRecipients">
                        <nz-option *ngFor="let option of recipientArr" [nzLabel]="option"
                            [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-row *ngIf="frm_Packages">
            <div nz-col nzSpan="20">
                <div class="form-group">
                    <label><i nz-icon nzType="bank" nzTheme="outline"></i> Packages </label>
                    <label class="checks" nz-checkbox formControlName="allPackages">All Packages </label>
                    <nz-select formControlName="packagesArr" nzMaxTagCount="4" nzMode="multiple" nzShowSearch="true"
                        [nzDisabled]="inputForm.value.allPackages">
                        <nz-option *ngFor="let option of packagesArr" [nzLabel]="option" [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

    </div>



</nz-modal>

<div>
    <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
        [nzTitle]="pdfTitle" (nzOnClose)="NDIA_MOdalCancel()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>

        <div nz-row>
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                height="650px"></iframe>
        </div>

    </nz-drawer>
</div>

<!---->