<div nz-layout>
    <div nz-row>
        <div nz-row class="title-block" style="margin-top: 3%;">
            <div nz-col nzSpan="24">
                <div class="tab-title" style="width: 110px;">
                    <label class="fade-in-text"> Pay Processing </label>
                </div>
            </div>
        </div>
        <div nz-row>
            <div class="main-box">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="10">
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="1">
                            <div style="margin-top: 61px;"></div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format1" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format2" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format3" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format4" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format5" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                                <div class="arrow-down1">
                                    <i nz-icon nzType="arrow-down" nzTheme="outline" style="color: #f18805; "></i>
                                </div>
                            </div>
                            <div class="circle-arrow">
                                <div>
                                    <nz-progress class="progress-circle" nzType="circle" [nzWidth]="CircleSize"
                                        [nzFormat]="format6" [nzPercent]="100" [nzStrokeColor]="{ '100%': '#f18805' }">
                                    </nz-progress>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                END OF PAY PERIOD
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ReviewUnapprvdWorkHour"
                                    (click)="payEvent(this.id)">
                                    REVIEW UNAPPROVED WORK HOURS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-DoPayIntegrityCheck"
                                    (click)="payEvent(this.id)">
                                    DO PAY INTEGRITY CHECK
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-CloseRostersForEditing"
                                    (click)="payEvent(this.id)">
                                    CLOSE ROSTERS FOR EDITING
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-SetPayPeriodEndDate"
                                    (click)="payEvent(this.id)">
                                    SET PAY PERIOD END DATE
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ProcessTravelBetweenClaims"
                                    (click)="payEvent(this.id)">
                                    PROCESS TRAVEL BETWEEN CLAIMS
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-ProcessPayUpdate"
                                    (click)="payEvent(this.id)">
                                    PROCESS PAY UPDATE
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-dark-orange">
                                MAINTENANCE
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-RollbackPayUpdateBatch"
                                    (click)="payEvent(this.id)">
                                    ROLLBACK PAY UPDATE BATCH
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="7">
                            <div class="text-center header-powder-blue">
                                REPORTS
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-NonAwardIntPayReprt"
                                    (click)="payEvent(this.id)">
                                    NON AWARD INTERPRETED PAY REPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-AwardIntPayReprt"
                                    (click)="payEvent(this.id)">
                                    AWARD INTERPRETED PAY REPORT
                                </button>
                            </div>
                            <div class="div-margin">
                                <button nz-button nzType="default" class="button1" id="btn-Timesheets"
                                    (click)="payEvent(this.id)">
                                    PRINT TIMESHEETS
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-unApproved-work-hours [open]="unApprovedWorkHours"></app-unApproved-work-hours>
<app-pay-integrity-check [open]="doPayIntegrityCheck"></app-pay-integrity-check>
<app-close-pay-roster-period [open]="closePayRosterPeriod"></app-close-pay-roster-period>
<app-set-payperiod-date [open]="setPayPeriodDate"></app-set-payperiod-date>
<app-process-travel-interpreter [open]="processTravelInterpreter"></app-process-travel-interpreter>
<app-process-pay-update [open]="processPayUpdate"></app-process-pay-update>
<app-rollback-payroll-batch [open]="rollbackPayrollBatchOpen"></app-rollback-payroll-batch>

<nz-modal [nzStyle]="{ top: '0px' }" [(nzVisible)]="isVisibleTop" nzTitle="TRACCS" (nzOnCancel)="handleCancelTop()"
    (nzOnOk)="ModalOk()">
    <div nz-row [formGroup]="inputForm">
        <div nz-row>
            <div nz-col nzSpan="20" [formGroup]="inputForm">
                <label>Enter Batch Number to Print</label>
                <nz-input-number class="frm_number" formControlName="inputBatchnNumber"></nz-input-number>
            </div>
        </div>
    </div>
</nz-modal>
<div>
    <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
        [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
        <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                height="650px"></iframe>
        </div>

    </nz-drawer>
</div>