<div nz-layout>
    <!--
        <div [formGroup]="inputForm">
            <label><i nz-icon nzType="solution" nzTheme="outline"></i> Print Format </label>        
            <nz-select formControlName="Printtype" nzMode="default"   >
                <nz-option *ngFor="let option of Printtype" [nzLabel]="option" [nzValue]="option"></nz-option> 
            </nz-select>
        </div> 
    -->
    <div>     
        <nz-modal
            [nzClosable]="true"
            [nzWidth]="width" 
            [(nzVisible)]="ShowModal" 
            [nzTitle]="title" 
            (nzOnCancel)="handleCancel()"             
            >
            <div class="dialog">
                        
                <div *ngIf="Addresslbl" >
                    <span>Please Clcik on Print Button to Print Labels</span>
                </div>
                <div *ngIf="IDlbl" >
                    <span>Please Clcik on Print Button to Print Labels</span>
                </div>
                <div *ngIf="sheet" >  
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="10" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="NameContactDetail">Name and Contact Details</label>                   
                                <label class="checks" nz-checkbox formControlName="FNameHeader">Use First Name in Header</label>
                            </div>
                            <div nz-col nzSpan="14" [formGroup]="inputForm">                                                                                                    
                                    <label> Hide : </label> 
                                    <label class="checks" nz-checkbox formControlName="HidePhoto">Photo</label>
                                    <label class="checks" nz-checkbox formControlName="HidePhones">Phones</label>
                                    <label class="checks" nz-checkbox formControlName="HideAddress">Address</label>
                                    <label class="checks" nz-checkbox formControlName="HideGenderDOB">Gender & DOB </label>                                                                         
                            </div>
                        </div>
                    </div>
                    <div nz-row>             
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                      
                                <label class="checks" nz-checkbox formControlName="ContactIssues">Contact issues</label>
                            </div>
                        </div>
                    </div>
                        
                    
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="OtherContacts">Next of kin/Other Contacts</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                      
                                <label class="checks" nz-checkbox formControlName="TimesheetAlert">Timesheet Alerts</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                      
                                <label class="checks" nz-checkbox formControlName="RosterAlert">Roster Alerts</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Occupational_Saftey">Occupational Health and Safety</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Reminder_Reviews">Reminder and Reviews</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Consents">Consents</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="ApprovedFundingSummary">Approved Funding Summary</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="AccInfo">Account Information</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="ApprovedServiceSummary">Approved Service Summary</label>
                            </div>
                        </div>
                    </div>
                            <div nz-col nzSpan="16" [formGroup]="inputForm">                    
                                <label class="checks" nz-checkbox formControlName="GoalsofCare">Goals of Care</label>                   
                                <label class="checks" nz-checkbox formControlName="showstrategies" *ngIf="inputForm.value.GoalsofCare">Show Strategies</label> 
                            </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="CarePlan">Care Plan</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="ServiceOverview">Service Overview</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="ServiceContent">Service Content</label>
                            </div>
                        </div>
                    </div>
                            <div nz-col nzSpan="16" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Roster">Roster</label> 
                                <label class="checks" nz-checkbox formControlName="AddlInfo" *ngIf="inputForm.value.Roster">Show Additional Info when Printing Roster/Service Overview</label>
                            </div>
            
                    
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                    
                                <label class="checks" nz-checkbox formControlName="CaseSummary">Case Summary</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="DemographicSummary">Demographic Summary</label>
                            </div>
                        </div>
                    </div>
                            <div nz-col nzSpan="24" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="ClinicalSummary">Clinical Summary</label>  
                                <label class="checks" nz-checkbox formControlName="NursingDiag" *ngIf="inputForm.value.ClinicalSummary">Nursing Diagnoses</label>                   
                                <label class="checks" nz-checkbox formControlName="MedicalDiag" *ngIf="inputForm.value.ClinicalSummary">Medical Diagnoses</label>                   
                                <label class="checks" nz-checkbox formControlName="MedicalProcedures" *ngIf="inputForm.value.ClinicalSummary">Medical Procedures</label>                   
                                <label class="checks" nz-checkbox formControlName="Medications" *ngIf="inputForm.value.ClinicalSummary">Medications</label>                   
                                <label class="checks" nz-checkbox formControlName="ClinicalNotes" *ngIf="inputForm.value.ClinicalSummary">Clinical Notes</label>                                    
                            </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="LoanItems">Item on Loan</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Will_Legal">Will and Other Legal Summary</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="Insurance_Pension">Insurance and Pension Summary</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                     
                                <label class="checks" nz-checkbox formControlName="MiscNotes">Miscellaneous Notes</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">
                                <label class="checks" nz-checkbox formControlName="OPNotes">Operational Notes</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">
                                        <label class="checks" nz-checkbox formControlName="CaseProgressNotes">Case/Progress Notes</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">                   
                                <label class="checks" nz-checkbox formControlName="CaseAgencyStaff">Case/Agency Staff</label>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" [formGroup]="inputForm">
                                <label class="checks" nz-checkbox formControlName="AddlNotes">Additional Notes</label>                                     
                                <textarea nz-input rows="2" style="width:100%" formControlName="txtAddlNotes" ></textarea>                                                                
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr style="border-top: 3px solid #bbb;"> 
                    </div>
                    <div>
                        <div nz-row *ngIf="inputForm.value.CarePlan"   class="divborder">
                                                                                        
                            <div nz-col nzSpan="24">                                
                                <div nz-col nzSpan="8" [formGroup]="inputForm">
                                    <label class="label" >Care Plans</label>  
                                    <label class="checks" nz-checkbox formControlName="Sepratepg">Print on Seprate Page</label>                                 
                                </div>                               
                            </div>
                        </div>
                        <div nz-row class="divborder" *ngIf="inputForm.value.CaseProgressNotes || inputForm.value.OPNotes">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="12" *ngIf="inputForm.value.OPNotes" >
                                    <label class="label" >Case OP Notes Dates</label>                                     
                                    <div><span> Start Date:</span> <nz-date-picker [(ngModel)]="OPstartdate" nzPlaceHolder = "Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                    <div><span> End Date :</span>     <nz-date-picker [(ngModel)]="OPenddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                </div>                              
                                <div nz-col nzSpan="12" *ngIf="inputForm.value.CaseProgressNotes">
                                    <label class="label" >Case Progress Notes Dates</label>                                     
                                    <div> <span> Start Date:</span><nz-date-picker [(ngModel)]="Pstartdate" nzPlaceHolder = "Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                    <div><span> End Date :</span>    <nz-date-picker [(ngModel)]="Penddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                </div>
                            </div>
                        </div>
                        <div nz-row class="divborder"  *ngIf="inputForm.value.Roster">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="16" [formGroup]="inputForm">
                                    <label class="label" >Roster</label>
                                     
                                    <nz-select formControlName="Roster_inclusion" nzMode="default" >
                                        <nz-option *ngFor="let option of Roster_inclusion" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select>
                                     

                                    
                                    <nz-select formControlName="Roster_staffinclusion" nzMode="default" >
                                        <nz-option *ngFor="let option of Roster_staffinclusion" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select> 
                                    <div>
                                        <label class="checks" nz-checkbox formControlName="hideRosterActivity">Hide Activity</label>
                                        <label class="checks" nz-checkbox formControlName="hideRosterDuration">Hide Duration</label>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8">
                                <div><span> Start Date:</span>    <nz-date-picker [(ngModel)]="Rstartdate" nzPlaceHolder = "Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                <div><span> End Date :</span>    <nz-date-picker [(ngModel)]="Renddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker></div>
                                    
                                </div>
                            </div>
                        </div>
                        <div nz-row class="divborder" *ngIf= "inputForm.value.ServiceOverview">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="20" [formGroup]="inputForm">
                                    <label class="label" >Service Overview</label>
                                    <nz-select formControlName="Roster_inclusion" nzMode="default" >
                                        <nz-option *ngFor="let option of Roster_inclusion" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select>

                                    
                                    <nz-select formControlName="Roster_staffinclusion" nzMode="default" >
                                        <nz-option *ngFor="let option of Roster_staffinclusion" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select> 

                                    <label class="checks" nz-checkbox formControlName="SvcOvrDisplay">Display Contribution Text</label>
                                    <label class="checks" nz-checkbox formControlName="SvcOvrPrintSeppg">Print on Seprate Page</label>
                                
                                    <nz-select formControlName="Cycles" nzMode="default" >
                                        <nz-option *ngFor="let option of Cycles" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select>
                                    <span> Starting  </span>
                                    <nz-select formControlName="DayNames" nzMode="default" >
                                        <nz-option *ngFor="let option of DayNames" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select>
                                    <span> for </span>
                                    <nz-select formControlName="fDays" nzMode="default" >
                                        <nz-option *ngFor="let option of fDays" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                    </nz-select>
                                    
                                </div>
                            </div>
                        </div>
                   
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="8" [formGroup]="inputForm">
                                <!--    <label class="checks" nz-checkbox formControlName="fontsize" disabled >Font Size </label>  -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div> <!--sub container-->
                    
                </div>
            </div>                                        
            <div *nzModalFooter>
                    <ng-container>
                        <div nz-row>
                            <div nz-col nzSpan="16" class="footerleft"  [formGroup]="inputForm" >
                                <div *ngIf = "SummarySfooter">                                    
                                <div> <label class="checks" nz-checkbox formControlName="SheetSig">Client & Agency Signature at the end of Sheet </label></div>
                                <div><label class="checks" nz-checkbox formControlName="pgSignature">Client & Agency Signature at each sheet </label></div>
                                <div><label class="checks" nz-checkbox formControlName="logo">Display Company logo</label></div>                             
                            </div>
                            </div>                        
                            <div nz-col nzSpan="8"   >
                                <button nz-button nzType="primary" class="btn" (click)="handleOk(1)">Preview</button>
                                <button nz-button nzType="primary" class="btn" (click)="handleOk(2)">Print</button>
                            </div>
                        </div>
                        
                    </ng-container>
            </div>                
        </nz-modal>
        <nz-drawer nzHeight="100vh"[nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
            <div class="col-md-12 spinner" *ngIf="loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
            <div nz-row>
                <iframe *ngIf="tryDoctype" [src]="tryDoctype" width="100%" height="650px"></iframe> 
            </div>
        </nz-drawer>  
    </div>
</div>