<!-- <head>
    <link id="app-theme" type="text/scss" rel="stylesheet" href="src\sass\styles.scss">
</head> -->

<div style="display: flex; flex-direction: column; align-content:normal">

    <!-- <div nz-row class="vh-5"> -->
    <div style="display: block;  margin-top:5px " (keydown)="onKeyPress($event)">
        <div style="display: flex; flex-direction: row; " class="staff-controls leveloneblockRecipient">
            <div style="display: flex; flex-direction: row; vertical-align: middle; align-items: center;">
                <!-- <button class="special-btn recordHeaderMainButtons" (click)="newReferralModal = !newReferralModal">New</button> -->
                <div class="special-btn recordHeaderMainButtons" (clickOutside)="clickOutsideMenuReferel($event)"
                    (click)="showSubMenureferel = !showSubMenureferel">
                    <span>New</span>
                    <div [class.hide]="!showSubMenureferel" style="width: 120px; margin-top:3px;">
                        <ul class="sub-menu">
                            <li (click)="newReferralModal = !newReferralModal" style="background:#F18805;">Referral</li>
                            <li (click)="newReferralOther()" style="background:#F18805;">Other</li>
                        </ul>
                    </div>
                </div>
                <button class="special-btn recordHeaderMainButtons" (click)="SaveAll_Changes()">Save</button>
                <button class="special-btn recordHeaderMainButtons" (click)="openFindModal()">Find</button>
                <div class="special-btn recordHeaderMainButtons" (clickOutside)="clickOutsideMenu($event)" (click)="showSubMenu = !showSubMenu">
                    <span>Actions</span>
                    <div [class.hide]="!showSubMenu" style=" margin-top:3px;">
                        <ul class="sub-menu">
                            <!-- <li (click)="newReferralModal = !newReferralModal">New Referral</li>
                                <li (click)="openFindModal()">Find</li> -->
                            <!-- <li (click)="newQuoteModal = !newQuoteModal">Budget</li> -->
                            <!-- <li (click)="clicky(12)" [class.disabled]="status?.b_IsDead  || status == null">Print</li> -->
                         
                            <!-- <li (click)="user != null && currentMonthRoster()" [class.disabled]="user == null">{{
                                longMonth }} Roster</li>
                            <li (click)="user != null && rosterMaster()" [class.disabled]="user == null">Master Roster
                            </li> -->
                            <li (click)="clicky(0)" [class.disabled]="status?.b_IsDead || status == null">New Referral
                            </li>
                            <li (click)="clicky(14)">RANI </li> 
                            <li (click)="clicky(1)" [class.disabled]="status?.b_IsDead  || status == null">Refer On</li>
                            <li (click)="clicky(2)" [class.disabled]="status?.b_IsDead || !status?.b_HasReferrals">Not
                                Proceed</li>
                            <li (click)="clicky(3)" [class.disabled]="status?.b_IsDead || !status?.b_HasReferrals" >
                                Assess</li>
                            <li (click)="clicky(4)" [class.disabled]="status?.b_IsDead || !status?.b_HasReferrals">Admit
                            </li>
                            <li (click)="clicky(5)" [class.disabled]="status?.b_IsDead || !status?.b_HasActivePrograms">
                                Wait List</li>
                            <li (click)="clicky(7)" [class.disabled]="status?.b_IsDead || !status?.b_HasActivePrograms">
                                    Suspend</li>
                             <li (click)="clicky(8)"
                                    [class.disabled]="status?.b_IsDead || (!status?.b_HasOnHoldPrograms && !status?.b_HasOnHoldServices)">
                                    Reinstate</li>
                            <li (click)="clicky(6)" [class.disabled]="status?.b_IsDead || !status?.b_HasActivePrograms">
                                Discharge</li>
                           
                          
                            <li (click)="clicky(9)" [class.disabled]="status?.b_IsDead  || status == null">Decease</li>
                            <li (click)="clicky(11)" [class.disabled]="status?.b_IsDead  || status == null">Supply Item</li>
                            <li (click)="clicky(12)" [class.disabled]="status?.b_IsDead  || status == null">Print   </li>
                            <li (click)="clicky(13)" [class.disabled]="status?.b_IsDead  || status == null">Print ONI  </li>
                            <li (click)="clicky(10)" [class.disabled]="status?.b_IsDead || status == null" (mouseover)="isSubMenuOpen=true" (mouseleave)="isSubMenuOpen=false" >
                                Administration     
                                <ul class="sub-menu2"  [class.show]="isSubMenuOpen" >
                                    <li (click)="clicky(101)" [class.disabled]="status?.b_IsDead || status == null">Force Activation</li>
                                    <li (click)="clicky(102)" [class.disabled]="status?.b_IsDead || status == null">Force Deactivation</li>
                                    <li (click)="clicky(103)" [class.disabled]="status?.b_IsDead || status == null">Change Account Code</li>
                                    <li (click)="clicky(104)" [class.disabled]="status?.b_IsDead || status == null">Delete Record</li>
                                  </ul>
                            </li> 
                            
                        </ul>
                       
                    </div>
                </div>

                <button class="special-btn recordHeaderMainButtons" (click)="openBudgetModal()">Budget</button>
                <button class="special-btn recordHeaderMainButtons" (click)="clicky(10)"
                    [class.disabled]="status == null">Admin</button>

                    <div class="togglediv">
                        <div >
                            <label for="" [class.active]="!activeInactive" class="switch-label">All</label>
                        </div>
                        <div style="display:flex; flex-direction:row; justify-content:space-between; width:40px">
                            
                            <button class="togglebutton" nz-button (click)="changeStatusBool(true)"  style="width:50%;"> <i nz-icon nzType="caret-left" nzTheme="outline"></i>  </button>
                
                            <button class="togglebutton" nz-button (click)="changeStatusBool(false)" style="width:50%;"> <i nz-icon nzType="caret-right" nzTheme="outline"></i> </button>
                           
                        </div>
                        <div  style="margin-left:1px;">
                            <label for="" [class.active]="activeInactive"  class="switch-label2">Active</label>
                        </div>
                      </div>
          
                <button class="special-btn recordHeaderMainButtons " [class.green-btn]="recipientStatus == 'active'" [class.red-btn]="recipientStatus != 'active'" style="text-transform: uppercase;"><span
                        *ngIf="user">{{recipientStatus}} {{recipientType}}</span></button>
                <div class="special-btn recordHeaderMainButtons " (clickOutside)="clickOutsideMenuRoster($event)"
                    (click)="showSubMenuroster = !showSubMenuroster">
                    <span>Roster</span>
                    <div [class.hide]="!showSubMenuroster" style="width: 100px; margin-top:3px;">
                        <ul class="sub-menu" >
                            <li (click)="user != null && currentMonthRoster()" [class.disabled]="user == null"
                                style="background:#F18805;">{{ longMonth }}</li>
                            <li (click)="user != null && rosterMaster()" [class.disabled]="user == null"
                                style="background:#F18805;">Master</li>
                        </ul>
                    </div>
                </div>
               
                <div class="special-btn recordHeaderMainButtons orange-btn" 
                (click)="showRecipientAlert = !showRecipientAlert" *ngIf="groupAlerts">
                <span  style="text-transform: uppercase;">Alerts</span>
                <div [class.hide]="!showRecipientAlert" style="width: 255px; margin-top:3px; ">
                    <div style="background:#F18805; padding-bottom:20px; border:1px solid #F18805; border-radius:5px; margin-top:2px;" >
                        <div style="display:flex; flex-direction:row; justify-content:space-between; border:1px solid #F18805; ">
                            <label style="font-weight:bold; color:#fff; text-align:center; padding:3px" (click)="onCloseClick($event)">ALERTS</label>
                            <i style="color:white; cursor: pointer" nz-icon nzType="close" nzTheme="outline" (click)="onCloseClick($event)"></i>
                        </div>
                        <ul nz-menu class="blank-list">
                            <li class="custom-dropdown-item" *ngFor="let alert of recipientAlerts" style="background:#fff;">{{ alert }}</li>
                        
                        </ul>
                    </div>
                </div>
            </div>
                <!-- <button  nz-button nz-dropdown [nzDropdownMenu]="menu" class="special-btn recordHeaderMainButtons orange-btn"   nzTrigger="click"  *ngIf="groupAlerts"
                    style="text-transform: uppercase;" (click)="showRecipientAlerts()">Alerts</button>
                    <nz-dropdown-menu #menu="nzDropdownMenu" [nzVisible]="isDropdownVisible" (nzVisibleChange)="onDropdownVisibleChange($event)">
                        <div style="background:#F18805; padding-bottom:20px; border:1px solid #F18805; border-radius:5px; " >
                            <div style="display:flex; flex-direction:row; justify-content:space-between; border:1px solid #F18805; ">
                                <label style="font-weight:bold; color:#fff; text-align:center; padding:3px" (click)="onCloseClick($event)">ALERTS</label>
                                <i style="color:white; cursor: pointer" nz-icon nzType="close" nzTheme="outline" (click)="onCloseClick($event)"></i>
                            </div>
                            <ul nz-menu class="blank-list">
                                <li class="custom-dropdown-item" *ngFor="let alert of recipientAlerts" style="background:#fff;">{{ alert }}</li>
                            
                            </ul>
                        </div>
                    </nz-dropdown-menu> -->
                  
                </div>
             
        </div>

        <div nz-row class="text-left">
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="3">
                </div>
                <div nz-col nzSpan="20" style="padding:5px 0px 5px 5px; height:30px;">
                    <!-- <p style="margin:0px;padding-left:45px;">{{ activePrograms }} <span *ngIf="user"> {{user.code}} {{user.id}}</span></p> -->
                    <p style="margin:0px;padding-left:45px;">{{ activePrograms }} </p>
                </div>
            </div>
        </div>


        <div nz-row class="height-main-container height-main-properties">
            <!-- <div *ngIf="selectedRecipient" class="popup" >
   
            <span id="msPopup" class="popup popuptext" [class.hide]="hide" [class.show]="show"  style="margin-left: 10px; ">
                {{onCallText}}        
                <i style="margin-left:10px;" nz-icon nzType="close-circle" nzTheme="outline" (click)="closePop()"></i>
            </span>
            
        </div> -->
            <div class="recipient-search">
                <!-- <div *ngIf="recipientType" class="status-program" ><i (click)="programModalOpen = true;loadPrograms()" style="font-size:2.3rem;" nz-icon nzType="dollar" nzTheme="outline"></i></div> -->
                <app-search-list #SearchListComponent [iconClasses]="['phone-search']"
                    [classes]="['ng-dropdown-panel-items-full-length']" [isOpen]="true" [view]="0" [(ngModel)]="sample"
                    [searched]="searched" (ngModelChange)="listChange($event)" (emitEvent)="emitEvent($event)"></app-search-list>
            </div>
            <div class="recipient-tabs" style="background : #002060;">
                <nz-sider [nzCollapsible]="true" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0">
                    <ng-container>
                        <div class="logo"></div>
                        <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" class="main-list ">
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/personal" (click)="tab('Personal')"> Personal</li>
                            <li nz-submenu nzTitle="Clinical" class="ant-menu-submenu-ul" routerLinkActive="ant-menu-item-selected" 
                            (mouseover)="onHover(true)" >
                                <ul (click)="tab('Clinical Detail')" style="background : #002060 !important;" 
                                (mouseover)="onHover(true)" >

                                    <li nz-menu-item routerLinkActive="ant-menu-item-selected" 
                                        routerLink="/admin/recipient/clinical/history">Clinical History</li>
                                    <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                        routerLink="/admin/recipient/clinical/primary-issues">Primary Issues & Daily
                                        Living
                                    </li>
                                    <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                        routerLink="/admin/recipient/clinical/physical-health">Physical Health</li>
                                    <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                        routerLink="/admin/recipient/clinical/health-behaviours">Mental Health & Health
                                        Behaviors</li>
                                    <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                        routerLink="/admin/recipient/clinical/reminder">Clinical Admin & Progress Notes
                                    </li>
                                </ul>                                
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/contacts" (click)="tab('Contacts')">Contacts</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/intake" (click)="tab('Intake Details')">Intake Details</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/quotes" (click)="tab('Budget')">
                                Budget</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/reminders" (click)="tab('Reminders')">Reminders</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/documents" (click)="tab('Documents')">Documents</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/suspensions" (click)="tab('Suspensions')">Suspensions</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/history" (click)="tab('Service History')">Service History
                            </li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/shift-reports" (click)="tab('Shift Reports')">Shift Reports
                            </li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/perm-roster" (click)="tab('Permanent Roster')">Permanent
                                Roster</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/opnote" (click)="tab('OP Notes')">
                                OP Notes</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/casenote" (click)="tab('Case Notes')">Case Notes</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/incidents" (click)="tab('Incidents')">Incidents</li>
                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/attendance" (click)="tab('Roster/Mobile App')">
                                Roster/Mobile App</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/accounting" (click)="tab('Accounting')">Accounting</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/insurance-pension" (click)="tab('Insurance/Pension')">
                                Insurance/Pension</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/dataset" (click)="tab('Datasets')">Datasets</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/others" (click)="tab('Other')">
                                Other</li>

                            <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                routerLink="/admin/recipient/loans" (click)="tab('Loans')">
                                Loans</li>



                        </ul>
                    </ng-container>
                </nz-sider>

                <!-- <i *ngIf="recipientType" class="special-btn" (click)="programModalOpen = true;loadPrograms()" nz-icon nzType="dollar" nzTheme="outline"></i> -->





                <!-- <div class="status-wrapper" *ngIf="recipientType">
                    <span class="status active" *ngIf="recipientStatus && recipientStatus == 'active'"> ACTIVE </span>
                    <span class="status inactive" *ngIf="recipientStatus && recipientStatus == 'inactive'"> INACTIVE </span>
                    <span class="status type">{{ recipientType }} </span>
                </div> -->
            </div>
            <div id="recipient-main-block" class="recipient-main-container">
                <div style="display:block" id="recpt-main-block">
                    <div class="outer-div">
                        <div style="display:flex; flex-direction:column ">
                            <div *ngIf="!headerInformation" class="top-blank"></div>
                            <div *ngIf="headerInformation" class="top-text">{{headerInformation}}</div>
                            <div class="inner-div">
                                <router-outlet></router-outlet>
                                <!-- <app-profile-page></app-profile-page> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--  <app-add-quote [open]="newQuoteModal" [user]="user" [option]="option"></app-add-quote>-->
    <app-add-quote [open]="newQuoteModal" [user]="user" [option]="option" [record]="record" 
        (refresh)="refreshQuote($event)"></app-add-quote>

    <app-add-referral [open]="newReferralModal" [type]="'referral'" 
        (openRefer)="openReferModal($event)"></app-add-referral>

    <app-refer-in [open]="openReferInModal" [loadOption]="loadOption"></app-refer-in>

    <app-recipients-options [open]="recipientOptionOpen" [option]="recipientOption" [user]="user" 
        [from]="from" [loadOption]="loadOption"></app-recipients-options>


    <nz-modal [(nzVisible)]="programModalOpen" nzWidth="920" nzTitle="Alert Status and Usage Analysis"
        (nzOnCancel)="closeProgram()" (nzOnOk)="closeProgram()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
        <div nz-row>
            <div nz-row>
                <nz-table #fixedTable [nzData]="programs" nzSize="small" [nzScroll]="{ x: '1150px', y: '340px' }">
                    <thead>
                        <tr>
                            <th nzWidth="150px" nzLeft="0px">Program</th>
                            <th nzWidth="100px" nzLeft="150px">Allowed</th>
                            <th nzWidth="100px">Used</th>
                            <th nzWidth="100px">Balance</th>
                            <th nzWidth="100px">Red Alert</th>
                            <th nzWidth="100px">Yellow Alert</th>
                            <th nzWidth="100px">Green Alert</th>
                            <th nzWidth="100px">Expires On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of fixedTable.data">
                            <td nzLeft="0px">{{ data.program }}</td>
                            <td nzLeft="150px">{{ data.allowed }}</td>
                            <td>{{ data.address }}</td>
                            <td>{{ data.balance }}</td>
                            <td>{{ data.redAmount }}</td>
                            <td>{{ data.yellowAmount }}</td>
                            <td>{{ data.greenAmount }}</td>
                            <td>{{ data.alertStartDate }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </nz-modal>

    <!-- <recipient-search [findModalOpen]="findModalOpen" [bookingData]="selectedRecipient"
    (searchDone)="onRecipientSearch($event)"></recipient-search> -->

   <app-recipient-search  [bookingData]="bookingData" (searchDone)="AllocateRecipient($event)"></app-recipient-search>


   <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="450" [(nzVisible)]="modalOpen"
   nzTitle="Select a Program to Attach Quote " (nzOnCancel)="modalOpen = false" [nzMask]="true"
   [nzMaskClosable]="false" [nzClosable]="true">
   <div  style="min-height:45rem;">
       <div nz-row>
           <nz-input-group [nzSuffix]="suffixIconSearch">
               <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Program')"
                   placeholder="input search text" (change)="onTextChangeEvent($event,'Program')" />
           </nz-input-group>
           <ng-template #suffixIconSearch>
               <i nz-icon nzType="search"></i>
           </ng-template>
           <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
       </div>
       <div nz-row>
                   <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                       [nzBordered]="true" [nzScroll]="{ y: alist.length > 15 ? '66vh' : null }" [nzFrontPagination]="false" [nzData]="alist">
                       <thead>
                           <tr>
                               <th nzLeft nzWidth="15%">Service Agreement Group</th>

                           </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor="let data of alist;let i = index;" (click)="selectProgram(data,i);"
                               (dblclick)="AllocateProgram(data,i);" [class.selected]="HighlightRow2==i">
                               <td style="width:600px">{{data.program}}</td>

                           </tr>
                       </tbody>
                   </nz-table>
</div>
   </div>
   <div *nzModalFooter style="display:flex; flex-direction:row">
       
       <button nz-button nzType="default"  class="btnlightblue">Print</button>
       <button nz-button nzType="default"  class="btnlightblue">Export</button>
       <div style="margin-left:80px"></div>
       <button nz-button nzType="default" (click)="modalOpen=false" class="btnlightorange">Cancel</button>
       <button nz-button nzType="default" (click)="AllocateProgram(activeRowData,selectedRowIndex)" class="btnlightblue">OK</button>
   </div>
</nz-modal>

    <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="modalOpen2"
        nzTitle="Select a Service Agreement " (nzOnCancel)="modalOpen2 = false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
        <div  style="min-height:45rem;">
            <div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Service')"
                        placeholder="input search text" (onKePress)="onTextChangeEvent($event,'Service')" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
            </div>
              
                    <div class="form-group" nz-col nzSpan="24">

                        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                            [nzBordered]="true" [nzScroll]="{ y: alist2.length > 15 ? '66vh' : null }" [nzFrontPagination]="false" [nzData]="alist2"
                            [nzLoading]="loading2">
                            <thead>
                                <tr>
                                    <th nzLeft nzWidth="15%">Service Agreement Group</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of alist2;let i = index;" (click)="selectService(data,i);"
                                    (dblclick)="AllocateServiceAgreeement(data,i);" [class.exists]="!data.exists" [class.selected]="HighLightRow2==i">
                                    <td style="width:600px">{{data.title}}</td>

                                </tr>
                            </tbody>
                        </nz-table>


                    </div>


        </div>
        <div *nzModalFooter style="display:flex; flex-direction:row">
        
            <button nz-button nzType="default"  class="btnlightblue">Print</button>
            <button nz-button nzType="default"  class="btnlightblue">Export</button>
            <div style="margin-left:4rem"></div>
            <button nz-button nzType="default" (click)="modalOpen2=false" class="btnlightorange">Cancel</button>
            <button nz-button nzType="default"
                (click)="AllocateServiceAgreeement(activeRowData,selectedRowIndex)" class="btnlightblue">OK</button>
           
        </div>
    </nz-modal>

    <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="500" [(nzVisible)]="modalPrintONI" [nzTitle]="modalTitle"
        (nzOnCancel)="modalPrintONI = false"  [nzCloseIcon]="customCloseIcon">
        <ng-template #modalTitle>
            <div nz-row>
                <div nz-col nzSpan="1" style="color:#fff; text-align:left; cursor:pointer">
                    <i nz-icon nzType="left" nzTheme="outline" (click)="modalPrintONI = false"></i>
                </div>
                <div nz-col nzSpan="5"></div>
                <div nz-col nzSpan="12" class="title">
                    <label for="">Print ONI Profiles</label>
                </div>
                <div nz-col nzSpan="6"></div>
               
            </div>
        </ng-template>
        <ng-template #customCloseIcon>
            <i nz-icon nzType="close" nzTheme="outline" style="color: #fff;"></i>
          </ng-template>
        <div class="" [formGroup]="inputForm">
            <div><label class="checks" nz-checkbox formControlName="coreONI">Core ONI</label></div>
            <div><label class="checks" nz-checkbox formControlName="functionalProfile">Functional Profile</label></div>
            <div><label class="checks" nz-checkbox formControlName="carerProfile">Carer Profile </label></div>
            <div><label class="checks" nz-checkbox formControlName="livingArrangements">Living Arrangements</label>
            </div>
            <div><label class="checks" nz-checkbox formControlName="culturalProfile">Cultural/Language Profile</label>
            </div>
            <div><label class="checks" nz-checkbox formControlName="healthConditionsProfile">Health Conditions
                    Profile</label></div>
            <div><label class="checks" nz-checkbox formControlName="psychoSocialProfile">PsychoSocial Profile</label>
            </div>
            <div><label class="checks" nz-checkbox formControlName="DSQ">DSQ (CSTDA) ONI format (supplementary
                    items)</label></div>
            <div><label class="checks" nz-checkbox formControlName="allProfiles">All Profiles</label></div>

        </div>
        <div class="" [formGroup]="inputForm">
            <div class="form-group">
                <span style="margin-left: 5px;"><i nz-icon nzType="apartment" nzTheme="outline"></i> Name</span>
                <input nz-input placeholder="Sysmgr" formControlName="name" />
            </div>
            <div class="form-group">
                <label><i nz-icon nzType="apartment" nzTheme="outline"></i> Agency</label>
                <input nz-input placeholder="Agency" formControlName="agency" />
            </div>
            <div class="form-group">
                <label><i nz-icon nzType="apartment" nzTheme="outline"></i> Designation</label>
                <input nz-input placeholder="Coordinator" formControlName="designation" />
            </div>
            <div class="form-group">
                <label><i nz-icon nzType="apartment" nzTheme="outline"></i> Phone Number</label>
                <input nz-input placeholder="" formControlName="phoneNumber" />
            </div>
            <div class="form-group">
                <label><i nz-icon nzType="apartment" nzTheme="outline"></i> Date</label>
                <input nz-input placeholder="06/06/2024" formControlName="date" />
            </div>

        </div>
        <div *nzModalFooter>
            <button nz-button nzType="default" (click)="initiateReport(0)">Print Blank ONI</button>
            <button nz-button nzType="default" (click)="initiateReport(1)">Print</button>
            <button nz-button nzType="default" (click)="modalPrintONI=false">Exit</button>
        </div>
    </nz-modal>
    
<!-- DECEASE -->

<nz-modal [(nzVisible)]="changeCodeOpen" [nzStyle]="topBelow" [nzWidth]="400" [nzTitle]="modalTitle3" [nzMask]="true"
[nzMaskClosable]="false" [nzClosable]="true" (nzOnCancel)="changeCodeOpen=false" (nzOnOk)="handleOk()"
(nzAfterClose)="handleClose()" [nzCloseIcon]="customCloseIcon">
<ng-template #modalTitle3>
    <div nz-row>
        <div nz-col nzSpan="1" style="color:#fff; text-align:left; cursor:pointer">
            <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="changeCodeOpen=false"></i>
        </div>
        <!-- <div nz-col nzSpan="1"></div> -->
        <div nz-col nzSpan="22" class="title custom-modal-style">

            <label for=""> New Account Code (Mandatory) </label>
        </div>
        <div nz-col nzSpan="1"></div>

    </div>
</ng-template>
<ng-template #customCloseIcon>
    <i nz-icon nzType="close" nzTheme="outline" style="color: #fff;"></i>
</ng-template>
<div nz-row *ngIf="changeCodeOpen" style="height:25rem">

        <div nz-row>
            <div nz-row [nzGutter]="8" style=" margin-top:20px;text-align:center;  padding: 5px 5px 5px 5px">            

               <input nz-input placeholder="Code" [(ngModel)]="RecipientCode" style="width:22rem; height:50px; font-size:18px"  (ngModelChange)="RecipientCode = RecipientCode.toUpperCase()"/>
            </div>
            <div nz-row style="margin-top:20px; height:250px;  text-align:justify; border: 1px solid #cdcfce; padding: 5px 5px 5px 5px">
                <span  >
                    A suggested UNIAUE Code is displayed above. Accept or modify the code as required. You cannot use punctuation characters such as inverted commas, commas, apostrophe's or any special character
                </span>
            </div>

        </div>


    </div>


<div *nzModalFooter>
    <ng-container>
        <button nz-button nzType="primary" (click)="changeCodeOpen=false" class="btnlevel2orange">
            <span>Cancel</span>
        </button>
        <button nz-button nzType="primary" (click)="changeRecipientCode()" class="btnlevel2blue"
          >
            <span>Accept</span>
        </button>
    </ng-container>
</div>
</nz-modal>

    <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
        [nzTitle]="pdfTitle" (nzOnClose)="handleCancel()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                height="650px"></iframe>
        </div>
    </nz-drawer>