body{
    font-family:Segoe UI Regular;
    }
button {
    width: 20rem !important;
    text-align: left !important;  
    background:#f7f7f7;  
    font-family: 'Segoe UI Regular';      
}      
span#title{
    display: none !important;
}         
.inner-content{
    padding: 0px !important;
}
.fontsettings{
font-family:Segoe UI Regular;
font-size: small
}
label,span{
font-family:Segoe UI Regular;
font-size: 12 point
}
fieldset{            
    color: rgb (89,89,89) ! important;
    font-size: 8pt;            
}

.ant-menu  {
    
    background-color: transparent !important;
    height: fit-content !important;
    overflow-y: 85vh !important;
}
/* ant-menu-root ant-menu-light ant-menu-horizontal */
.btn{
    border:none;
    cursor:pointer;
    outline:none;
    transition: background-color 0.5s ease;
    padding: 5px 7px;
    border-radius: 3px;
    text-align: center !important;        
    width: 88px !important;            
    height: 33px;
    margin:6px;
    background-color: #D6D3D3;
}
.btn-orange{
    background: #f18805 !important;
}
.btn-Powderblue{
    background: #85b9d5 !important;
}       
.ant-modal-header{           
    background:#85b9d5 !important;           
}    
.modalFooter{
    align-content: center;
    text-align: center;
    vertical-align: center;
}
label{
    font-weight: bold; 
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    
}
.horizontal_Date{
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */justify-content: center; 
    width: 75%;
    
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-wrap: nowrap;
}
.form-group label{
    font-weight: bold;
}
.dialog{
    width: 100% !important;
    height: fit-content !important;
    margin: 5px !important;
    border: 0.5px solid #696c6d;
    padding: 5px !important;
}
.budget_rpt_select{
    width:120px;
}
nz-select{
    width:100%;        
}
label.checks{
    margin-top: 4px;
    font-weight: 300 !important;
}
nz-date-picker{
    margin:5pt;
}
.inner-content[_ngcontent-wws-c367] {
    padding: 0px !important;
}
.spinner{
    margin:1rem auto;
    width:1px;
}    
.mta_minutes_frm{
    width:65px;
    height:30px;

}
.span{
    font-weight: 300 !important;
}        
.drawer{
   
    padding: 0px;
    width:100%
}           

.ant-menu-horizontal {         
    line-height: 2.5 !important;  
}               
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #85B9D5;
    color: #fff;
    line-height: 1.5;                                  
    border-radius: 10px 10px 0 0;
    margin: 10px 2px 0 -1px;            
    text-align: center;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    padding-top:5px;       
}
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 1.5;
    background: #fff;            
    border-radius: 10px 10px 0 0;
    margin: 10px 2px 0 -1px;            
    text-align: center;
    color:#524f4f; 
    border-color:#e5e5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
    padding-top:5px;           
}
::ng-deep .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {     
    background-color: #fff;
    margin-top: 1px;
    padding-left: 5px;
    height:45px;
    border-bottom: 0.5px solid #0e5b85 !important;; 
}
/* nz-header{
    height: 5vh !important;
} */
.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: none;
}
/* .ant-tabs-nav-container {    
            
    position: relative;
    line-height: 1.5;
    overflow: hidden;            
    white-space: nowrap;
} */
nz-tabset ::ng-deep .ant-tabs-bar {
             
    margin: 5px 5px 5px;
    
}
/* .tabset{
    background-color: #f7f7f7;
    margin-top: 5px  !important;
    border: 0.5px solid #0e5b85 !important;
} */
.tab{
    background-color: #85B9D5;
    margin-top: 5px  !important;
    border: 0.5px solid #0e5b85 !important;
}
.main-box{
          
   
     height: 48rem;
     padding: 5px !important;
     border: 0.5px solid #696c6d;
     margin-left: 5px;
     margin-bottom: 5px;
     overflow-y: auto;
  
    
 }

.main-heading{
    display:flex; 
    flex-direction:row; 
    align-items:flex-start;    
    margin: 15px 15px 5px 5px;
    padding-left:2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #000;
}
.heading{
    font-weight: bold;
    line-height:16px;
    font-size:14px;
    padding: 5px;
    width: auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color:#F0F0F0 ;
    ;
}

.data{    
    font-size:12px;
    padding: 1px;
    width: auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table{
    background-color: #FFFFFF;
}
.table tr:nth-child(odd){background-color: #E9F7FF;}

.table tr:hover {background-color: #85B9D5;}

label{
    margin-left:5px;
}
i{
    margin-top:5px; 
}
::ng-deep div > .ant-select {
    margin-left: 5px !important;
    
    width: 98%!important;
}
.div-ant-select  {
    width: 100% !important;
}
::ng-deep .ant-select {
    margin-left: 5px;
    width: 100% !important;
}
.vertical-align-container {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Centers items vertically */
    gap: 2px;  
}

.vertical-align-item {
    display: flex; /* Enables Flexbox for individual columns */
    align-items: center; /* Vertically aligns child content */
}

@media only screen and (max-width: 3200px) and (min-width: 1919px) {
.iframe {
height:calc(100vh-30vh);
width :100%;
margin: 0;
padding:0;
}
}
