<div class="bg">
    <div class="landing-container">

        <figure routerLink="/admin/daymanager-main">
            <i class="material-icons"> date_range </i>
            <figcaption>Day Manager</figcaption>
        </figure>
    
        <figure routerLink="/admin/recipient">
            <span class="material-icons">people</span>
            <figcaption>Recipients</figcaption>
        </figure>
    
        <figure routerLink="/admin/staff"> 
            <i class="fas fa-user-nurse"></i>
            <figcaption>Staff</figcaption>
        </figure>
    
        <figure routerLink="/admin/rosters">
            <i class="far fa-address-card"></i>
            <figcaption>Rosters</figcaption>
        </figure>
    
        <figure routerLink="/admin/timesheet">
            <span class="material-icons"> description </span>
            <figcaption>Timesheets</figcaption>
        </figure>
    
        <figure routerLink="/admin/time-attendance">
            <i class="far fa-clock"></i>
            <figcaption>Time & Attendance</figcaption>
        </figure>
    
        <figure routerLink="/admin/reports">
            <i class="material-icons"> poll </i>
            <figcaption>Reports</figcaption>
        </figure>
    
        <figure *ngIf="SPECIAL_ROUTE_GUARDS?.mmAnalyseBudget" routerLink="/admin/analyse-budget">
            <i class="material-icons"> show_chart </i>
            <figcaption>Analyze & Budget</figcaption>
        </figure>
    
        <figure *ngIf="SPECIAL_ROUTE_GUARDS?.mmAtAGlance" routerLink="/admin/glance">
            <i class="material-icons"> search </i>
            <figcaption>At A Glance</figcaption>
        </figure>
        <figure routerLink="/admin/purcahse-order">
            <i class="fas fa-file"></i>
            <figcaption>Purchase Order</figcaption>
        </figure>
        <figure routerLink="/admin/transport">
            <i class="fas fa-car"></i>
            <figcaption>Transports</figcaption>
        </figure>
        <figure routerLink="/admin/XeroProcesses">
            <a href="http://www.adamas.net.au"></a>
            <i nz-icon nzType="appstore" nzTheme="outline"></i>
            <figcaption>Adamas Products</figcaption>
        </figure>

       
    </div>
    <div class="chaticon fade-in-text" *ngIf="!showChat">
        <img src="../../../assets/media/bot/chatbot2.png" alt="🔯" (click)="showChat=true"/>

    </div>
    <div class="chatbox" id="chatbox" *ngIf="showChat" >
      <div class="header">
        <img src="../../../assets/media/bot/chatbot2.png" alt="🔯"  (click)="showChat=true" class="icon"/>
        <label style="margin-left:5px; ">Welcome to Adamas Support!  </label>
        <div style="margin-left:80px; height:30px; position:relative">
            <i  nz-icon nzType="close" nzTheme="outline" (click)="showChat=false"></i>
        </div>
       
      </div>
                    
        <app-chat></app-chat>
       
    </div>
</div>