<div style="display: flex; flex-direction: column">
  <div>
    <!-- <div nz-row *ngIf="userview?.staff >= 951">
      <div nz-col nzSpan="12">
        <button class="headers-botton recordHeaderMainButtons" (click)="newStaffModal = !newStaffModal" ><i nz-icon nzType="plus" nzTheme="outline"></i> New Staff</button>
        <button class="botton color-powder-blue" (click)="openFindModal()" style="color: #fff;background-color: #85B9D5 !important; border-color: #85B9D5 !important;margin:0 1rem"><i nz-icon nzType="search" nzTheme="outline"></i> Find</button>
      </div>
    </div> -->
    
    <div style="display:flex; flex-direction:row" class="staff-controls leveloneblock">
      
      <button class="headers-botton recordHeaderMainButtons" (click)="newStaffModal = !newStaffModal">New</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="SaveAll_Changes()" [class.disabled]="!user">Save</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="openFindModal()">Find</button>
      <div nz-row style="display:flex; flex-direction:row;width:200px; ">
        <div >
          <label for="" [class.active]="!activeInactive" [class.switch-label]="activeInactive">All</label>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:space-around; width:40px">
          
          <button  nz-button (click)="changeStatusBool(true)" class="togglebutton"  style="width:50%;"> <i nz-icon nzType="caret-left" nzTheme="outline"></i>  </button>
          
          <button  nz-button (click)="changeStatusBool(false)" class="togglebutton"  style="width:50%;margin-left:-5px"> <i nz-icon nzType="caret-right" nzTheme="outline"></i> </button>
          
        </div>
        <div style="margin-left:-5px" >
          <label for="" [class.active]="activeInactive"  [class.switch-label2]="!activeInactive">Active</label>
        </div>
      </div>
      
      
      <div style="width:20vw"></div>
      <div style="width:18vw;padding-top:5px;text-align:left;"><span class="title" style="color:black;">{{headerTitle}}</span></div>
    </div>
    
    <div style="display:flex; flex-direction:row; margin:1px;" class="level2controls">
      <div style="width:15vw"></div>
      <div style="width:10vw;padding-top:5px;margin-left:1px;"><span class="code">{{headerCode}}</span></div>
      <button class="headers-botton recordHeaderMainButtons" (click)="user && showLeaveModal()" [class.disabled]="!user">PUT ON LEAVE</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="user && printSummaryModalOpen()" [class.disabled]="!user">PRINT</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="user && currentMonthRoster()" [class.disabled]="!user">{{ longMonth }} Roster</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="user && rosterMaster()" [class.disabled]="!user">Master</button>
      <button class="headers-botton recordHeaderMainButtons" (click)="user && terminateModalOpen()" [class.disabled]="!user">Terminate</button>
      
    </div>
    
    <div class="height-main-container height-main-properties">
      <ng-container *ngIf="userview?.staff >= 951">
        <div class="recipient-search">
          <app-search-list [reload]="reloadVal" [view]="1" [(ngModel)]="sample" #SearchListComponent [iconClasses]="['phone-search']" [isOpen]="true" [classes]="['ng-dropdown-panel-items-full-length']" (ngModelChange)="listChange($event)" (emitEvent)="emitEvent($event)"></app-search-list>
        </div>
        <div class="recipient-tabs">
          <!-- <div class="special-btn" (clickOutside)="clickOutsideMenu($event)" (click)="showSubMenuStaff = !showSubMenuStaff">
            <span>Menu</span>
            <div [class.hide]="!showSubMenuStaff">
              <ul class="sub-menu"> -->
                <!-- <li (click)="newStaffModal = !newStaffModal">New Staff</li>
                <li (click)="openFindModal()">Find</li> -->
                <!-- <li (click)="changeStaffModalOpen()" [class.disabled]="user == null">Change Staff Code</li> -->
                <!-- <li nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Staff?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete()" [class.disabled]="user == null">Delete Staff</li> -->
                <!-- <li (click)="terminateModalOpen()" [class.disabled]="user == null">Terminate</li> -->
                <!-- <li (click)="showLeaveModal()" [class.disabled]="user == null">Put on Leave</li>
                <li (click)="user && printSummaryModalOpen()" [class.disabled]="user == null">Print</li>
                <li (click)="user && currentMonthRoster()" [class.disabled]="user == null">{{ longMonth }} Roster</li> -->
                <!-- <li (click)="user && rosterMaster()" [class.disabled]="user == null">Master Roster</li> -->
              <!-- </ul>
            </div>
          </div> -->
          <!-- <ul class="old-list-wrapper">
            <li class="terminate" (click)="changeStaffModalOpen()"><div><i nz-icon nzType="edit" nzTheme="outline"></i></div>Change Staff Code</li>
            <li class="terminate" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Staff ?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete()"><div><i nz-icon nzType="delete" nzTheme="outline"></i></div>Delete Staff</li>
            <li class="terminate" (click)="terminateModalOpen()"><div><i nz-icon nzType="close" nzTheme="outline"></i></div>Terminate</li>
            <li class="leave" (click)="showLeaveModal()"><div><i nz-icon nzType="eye-invisible" nzTheme="outline"></i></div>Put On Leave</li>
          </ul> -->
        <!-- </div> -->
        <!-- <div nz-col nzSpan="10" *ngIf="user">
          <ul class="old-list-wrapper">
            <li class="terminate" (click)="printSummaryModalOpen()"><div><i nz-icon nzType="printer" nzTheme="outline"></i></div>Print</li>
            <li class="terminate" (click)="currentMonthRoster()"><div><i nz-icon nzType="calendar" nzTheme="outline"></i></div>{{longMonth}} Roster</li>
            <li class="leave" (click)="rosterMaster()"><div><i nz-icon nzType="calendar" nzTheme="outline"></i></div>Master</li>
          </ul>
        </div> -->
        
        <nz-sider *ngIf="userview"  [nzCollapsible]="true"  [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0">
          <ng-container>
            <div  class="logo"></div>
            <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" class="main-list">
              
              <li *ngIf="getPermisson(1) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/personal" (click)="tab('Personal')"> Personal</li>
              <li *ngIf="getPermisson(2) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/contacts" (click)="tab('Contacts')">Contacts</li>
              <li *ngIf="getPermisson(3) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/pay" (click)="tab('Payroll')">Payroll</li>
              <li *ngIf="getPermisson(4) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/loans" (click)="tab('Loans')">Loan Register</li>
              <li *ngIf="getPermisson(5) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/leave" (click)="tab('Leave Applications')">Leave Applications</li>
              <li *ngIf="getPermisson(6) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/reminders" (click)="tab('Reminders')">Reminders</li>
              <li *ngIf="getPermisson(7) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/op-note" (click)="tab('Operational Notes Editables')">OP Notes</li>
              <li *ngIf="getPermisson(8) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/hr-note" (click)="tab('Human Resource Notes Editables')">HR Notes</li>
              <li  nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/ps-note" (click)="tab('Practice Supervision')">Practice Supervision</li>
              <li *ngIf="getPermisson(9) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/competencies" (click)="tab('Competencies')">Competencies</li>
              <li *ngIf="getPermisson(10) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/training" (click)="tab('Staff Training')">Training Register</li>
              <li *ngIf="getPermisson(11) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/incident" (click)="tab('Incidents')">Incident Register</li>
              <li  nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/staff-history" (click)="tab('Work History')">History</li>
              <li *ngIf="getPermisson(13) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/document" (click)="tab('Documents')">Documents</li>
              <li *ngIf="getPermisson(15) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/staff-time-attendance" (click)="tab('Roster & Mobile App')">Roster/Mobile App</li>
              <li *ngIf="getPermisson(16) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/position" (click)="tab('Positions')">Position History</li>
              <li *ngIf="getPermisson(17) == '1'" nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/groupings-preferences" (click)="tab('Groups')">Mailing Groups</li>
              <li  nz-menu-item [class.disabledmenulist]="!user" routerLinkActive="ant-menu-item-selected" routerLink="/admin/staff/other-information" (click)="tab('Other')">Other Information</li>
            </ul>
          </ng-container>
        </nz-sider>
        
      </div>
      <div nz-col nzSpan="19" id="staff-main-blocka">
        <div class="outer-div">
          <div *ngIf="headerInformation" class="top-text">{{headerInformation}}</div>
          <div class="inner-div">
            <router-outlet></router-outlet>
            <nz-empty *ngIf="user == null" style="margin-top:8rem" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" [nzNotFoundContent]="contentTpl">
              <ng-template #contentTpl>
                <p>Select Staff</p>
              </ng-template>
            </nz-empty>
          </div>
        </div>
      </div>
    </ng-container>
  </div>      
  <ng-container *ngIf="userview?.staff < 951">
    <nz-result nzSubTitle="Sorry, you are not authorized to access the Staff function">
      <div nz-result-extra></div>
    </nz-result>
  </ng-container>
</div>
</div>

<nz-modal [nzWidth]="800" [nzStyle]="{ top: '20px' }" [(nzVisible)]="terminateModal" nzTitle="Termination" (nzOnCancel)="terminateModal = false">
  <div nz-row [formGroup]="terminateGroup">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="terminateGroup" >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email">Date of Termination</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Provide date of termination">
          <nz-date-picker formControlName="terminateDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item >
    </form>
    
    <div nz-row>
      <label for="">Current Leave Balances </label>
      <nz-table  nzSize="small" #basicTable [nzData]="leaveBalanceList">
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Leave Description</th>
            <th>Pro Rata Date</th>
            <th>Balance Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.leaveTypeCode }}</td>
            <td>{{ data.leaveDescription }}</td>
            <td>{{ data.proRataDate | date: 'M/d/yyyy'  }}</td>
            <td>{{ data.balanceHours }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    
    <div nz-row class="checks">
      <label nz-checkbox formControlName="deletePending">Delete any pending Leave Applications</label>
      <label nz-checkbox formControlName="unallocUnapproved">Unallocate any unapproved entries</label>
      <label nz-checkbox formControlName="unallocMaster">Unallocate Master Roster</label> 
    </div>
  </div>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="terminateModal = false">Cancel</button>
    <button nz-button nzType="primary" (click)="terminate()"  [nzLoading]="isConfirmLoading">Terminate</button>
  </div>
</nz-modal>
<!-- <nz-modal [nzZIndex]="1001" [nzWidth]="600" [(nzVisible)]="searchAvaibleModal" nzTitle="Change Day or Times" (nzOnCancel)="searchAvaibleModal = false">
  <nz-card nzTitle="Set Search Detail For Availability">
    <p class="text-center">Enter The Date, Start and End Time for Searching for Availble Staff</p>
  </nz-card>
  <form nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16" [formGroup]="avilibilityForm">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="Title">Date</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-date-picker   formControlName="date" [nzFormat]="dateFormat"></nz-date-picker>
          </nz-form-control>
        </nz-form-item >
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="Title">Start</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select [nzDropdownMatchSelectWidth]="false"  formControlName="start"  nzShowSearch nzAllowClear style="width:100%;">
              <nz-option *ngFor="let main of timeSteps" [nzLabel]="main"  [nzValue]="main"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="Title">End</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select [nzDropdownMatchSelectWidth]="false"  formControlName="end"  nzShowSearch nzAllowClear style="width:100%;">
              <nz-option *ngFor="let main of timeSteps" [nzLabel]="main"  [nzValue]="main"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item >
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="Title">Durat'n</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input type="text" formControlName="drtn" nz-input>
          </nz-form-control>
        </nz-form-item >
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="searchAvaibleModal = false">Cancel</button>
    <button nz-button nzType="primary" (click)="updateStaffCode()"  [nzLoading]="isConfirmLoading">Update Staff Code</button>
  </div>
</nz-modal> -->

<nz-modal
[(nzVisible)]="searchAvaibleModal"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
(nzOnCancel)="searchAvaibleModal = false"
>
<ng-template #modalTitle>Custom Modal Title</ng-template>
<ng-template #modalContent>
  <p>Modal Content</p>
  <p>Modal Content</p>
  <p>Modal Content</p>
  <p>Modal Content</p>
  <p>Modal Content</p>
</ng-template>
<ng-template #modalFooter>
  <span>Modal Footer:</span>
  <button nz-button nzType="default" (click)="searchAvaibleModal = false">Custom Callback</button>
</ng-template>
</nz-modal>

<nz-modal [nzWidth]="400" [(nzVisible)]="changeCodeModal" nzTitle="Agency Defined Code" (nzOnCancel)="changeCodeModal = false">
  <div nz-row [formGroup]="updateStaff">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="updateStaff" >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Title">Code</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input type="text" formControlName="staffCode" nz-input>
        </nz-form-control>
      </nz-form-item >
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="changeCodeModal = false">Cancel</button>
    <button nz-button nzType="primary" (click)="updateStaffCode()"  [nzLoading]="isConfirmLoading">Update Staff Code</button>
  </div>
</nz-modal>
<nz-modal
[nzWidth]="800"
[(nzVisible)]="isExportModalVisible"
nzTitle="User Defined Comma Separated Values Staff File Export"
(nzOnCancel)="handleCancelExport()"
>
<div>
  <div nz-row>
    <!-- Left Card: Fields To Export -->
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Fields To Export" [nzBodyStyle]="{ height: '500px', overflow: 'auto' }">
        <ul>
          <li *ngFor="let field of fields" (click)="addToSelected(field)">
            {{ field.title }}
          </li>
        </ul>
      </nz-card>
    </div>
    
    <!-- Right Card: Fields Selected -->
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Fields Selected" [nzBodyStyle]="{ height: '500px', overflow: 'auto' }">
        <ul>
          <li *ngFor="let field of selectedFields" (contextmenu)="removeFromSelected(field, $event)">
            {{ field.title }}
          </li>
        </ul>
      </nz-card>
    </div>
  </div>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancelExport()">Cancel</button>
  <button nz-button nzType="primary" (click)="handleExportOk()"    [disabled]="selectedFields.length < 1" [nzLoading]="isConfirmLoading">Export</button>
</div>
</nz-modal>


<nz-modal [nzWidth]="850" [nzStyle]="{ top: '20px' }" [(nzVisible)]="printSummaryModal" nzTitle="Print Staff Sheet Summary" (nzOnCancel)="printSummaryModal = false">
  <div nz-row [formGroup]="printSummaryGroup">
    <div nz-row class="checks" style="border: 1px solid;">
      <label nz-checkbox formControlName="fileLabels">File Labels (1 page - 30 Labels [Avery DL30) Stationary)</label>
    </div>
    <div nz-row class="checks">
      <div nz-row>
        <div nz-col nzSpan="10">
          <label nz-checkbox formControlName="nameandContacts">Name and Contact Details</label>
          <label nz-checkbox formControlName="contactIssue">Contact Issues</label>
          <label nz-checkbox formControlName="otherContact">Next of kin / Other Contacts</label> 
          <label nz-checkbox formControlName="otherInfo">Other Info</label> 
          <label nz-checkbox formControlName="payrollInfo">Payroll Info</label> 
          <label nz-checkbox formControlName="workhourInfo">Work Hours Info</label>
          <label nz-checkbox formControlName="copmpetencies">Competencies</label> 
          <label nz-checkbox formControlName="otherSkills">Other Skills</label>
          <label nz-checkbox formControlName="training">Training</label>
          <label nz-checkbox formControlName="roster">Roster</label>
          <label nz-checkbox formControlName="permanentRoster">Permanent Roster</label>
          <label nz-checkbox formControlName="miscellaneousNotes">Miscellaneous Notes</label>
          <label nz-checkbox formControlName="operationalNotes">Operational Notes</label>
          <label nz-checkbox formControlName="hrNotes">HR Notes</label>
          <label nz-checkbox formControlName="ItemsOnLoan">Items On Loan</label>
        </div>
        <div nz-col nzSpan="14">
          <label nz-checkbox formControlName="includeAdressress">Include All Addressess(Not Just primary,Usual,Contact)</label>
        </div>
      </div>
    </div>
    <div nz-row class="checks">
      <div nz-row nzJustify class="mrg-btm">
        <div nz-col nzSpan="5">
          <label nz-checkbox nzDisabled  formControlName="trainingchk">Training</label> 
        </div>
        <div *ngIf="this.printSummaryGroup.get('training').value">
          <div nz-col nzSpan="2">
            <label>From</label> 
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="trainingFrom"></nz-date-picker>
          </div>
          <div nz-col nzSpan="2" class="text-center">
            <label>To</label>
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="trainingTo"></nz-date-picker>
          </div>
        </div>
      </div>
      <div nz-row nzJustify class="mrg-btm">
        <div nz-col nzSpan="5">
          <label nz-checkbox nzDisabled  formControlName="opchk">OP Notes</label> 
        </div>
        <div *ngIf="this.printSummaryGroup.get('operationalNotes').value">
          <div nz-col nzSpan="2">
            <label>From</label> 
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="opnotesFrom" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
          <div nz-col nzSpan="2" class="text-center">
            <label>To</label>
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="opnotesTo" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
        </div>
      </div>         
      <div nz-row nzJustify class="mrg-btm">
        <div nz-col nzSpan="5">
          <label nz-checkbox nzDisabled  formControlName="hrchk">HR Notes</label> 
        </div>
        <div *ngIf="this.printSummaryGroup.get('hrNotes').value">
          <div nz-col nzSpan="2">
            <label>From</label> 
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="hrnotesFrom" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
          <div nz-col nzSpan="2" class="text-center">
            <label>To</label>
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="hrnotesTo" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
        </div>
      </div>
      <div nz-row nzJustify class="mrg-btm">
        <div nz-col nzSpan="5">
          <label nz-checkbox nzDisabled  formControlName="rosterchk">Roster</label> 
        </div>
        <div *ngIf="this.printSummaryGroup.get('roster').value">
          <div nz-col nzSpan="2">
            <label>From</label> 
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="rosterFrom" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
          <div nz-col nzSpan="2" class="text-center">
            <label>To</label>
          </div>
          <div nz-col nzSpan="4">
            <nz-date-picker formControlName="rosterTo" [nzFormat]="dateFormat"></nz-date-picker>
          </div>
          <div nz-col nzSpan="6" style="margin-left: 10px;">
            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="recepientSearc" nzShowSearch nzAllowClear style="width:100%;">
              <nz-option nzValue="Show RECIPIENT CODE" nzLabel="Show RECIPIENT CODE"></nz-option>
              <nz-option nzValue="Show RECIPIENT First Name" nzLabel="Show RECIPIENT First Name"></nz-option> 
              <nz-option nzValue="Show RECIPIENT File#" nzLabel="Show RECIPIENT File#"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-row nzJustify class="mrg-btm">
        <div nz-col nzSpan="5" style="margin-right: 10px;">
          <label nz-checkbox nzDisabled formControlName="prosterchk">Permanent Roster</label> 
        </div>
        <div *ngIf="this.printSummaryGroup.get('permanentRoster').value">
          <nz-select formControlName="Cycles" nzMode="default" >
            <nz-option *ngFor="let option of Cycles" [nzLabel]="option" [nzValue]="option"></nz-option> 
          </nz-select>
          <span> Starting  </span>
          <nz-select formControlName="DayNames" nzMode="default" >
            <nz-option *ngFor="let option of DayNames" [nzLabel]="option" [nzValue]="option"></nz-option> 
          </nz-select>              
          <nz-select formControlName="fDays" nzMode="default" >
            <nz-option *ngFor="let option of fDays" [nzLabel]="option" [nzValue]="option"></nz-option> 
          </nz-select>
          <nz-select style="margin-left: 10px;" [nzDropdownMatchSelectWidth]="false" formControlName="recepientSearc1" nzShowSearch nzAllowClear>
            <nz-option nzValue="Show RECIPIENT CODE" nzLabel="Show RECIPIENT CODE"></nz-option>
            <nz-option nzValue="Show RECIPIENT First Name" nzLabel="Show RECIPIENT First Name"></nz-option> 
            <nz-option nzValue="Show RECIPIENT File#" nzLabel="Show RECIPIENT File#"></nz-option>
          </nz-select>
          
        </div>
      </div>
      <div nz-row nzJustify class="mrg-btm" *ngIf="this.printSummaryGroup.get('permanentRoster').value">
        <div nz-col nzSpan="5">
        </div>
        <div nz-col nzSpan="6">
          <label nz-checkbox formControlName="printOnSamePage">Print On Seperate Page</label>
        </div>
      </div>
    </div>  
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="InitiatePreview(2)">Print</button>
    <button nz-button nzType="primary" (click)="InitiatePreview(1)">Preview</button>
    <button nz-button nzType="default" (click)="printSummaryModal = false">Cancel</button>                    
  </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="SummarydrawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
  <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>            
  <div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
  </div>    
</nz-drawer>
<nz-modal [nzWidth]="800" [nzStyle]="{ top: '20px' }" [(nzVisible)]="terminateModal" nzTitle="Termination" (nzOnCancel)="terminateModal = false">
  <div nz-row [formGroup]="terminateGroup">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="terminateGroup" >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email">Date of Termination</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Provide date of termination">
          <nz-date-picker formControlName="terminateDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item >
    </form>
    
    <div nz-row>
      <label for="">Current Leave Balances </label>
      <nz-table  nzSize="small" #basicTable [nzData]="leaveBalanceList">
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Leave Description</th>
            <th>Pro Rata Date</th>
            <th>Balance Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.leaveTypeCode }}</td>
            <td>{{ data.leaveDescription }}</td>
            <td>{{ data.proRataDate | date: 'M/d/yyyy'  }}</td>
            <td>{{ data.balanceHours }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    
    <div nz-row class="checks">
      <label nz-checkbox formControlName="deletePending">Delete any pending Leave Applications</label>
      <label nz-checkbox formControlName="unallocUnapproved">Unallocate any unapproved entries</label>
      <label nz-checkbox formControlName="unallocMaster">Unallocate Master Roster</label> 
    </div>
  </div>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="terminateModal = false">Cancel</button>
    <button nz-button nzType="primary" (click)="terminate()"  [nzLoading]="isConfirmLoading">Terminate</button>
  </div>
</nz-modal>

<!-- <app-leave-application *ngIf="user" [open]="putonLeaveModal" [user]="user" [operation]="operation"></app-leave-application> -->
<unallocate-staff  [findModalOpen]="putonLeaveModal" [loadUnallocateStaff]="loadUnallocateStaff" (Done)="UnallocateStaffDone($event)" ></unallocate-staff>

<app-add-staff [open]="newStaffModal" (reload)="reload($event)"></app-add-staff>

<nz-modal [(nzVisible)]="findModalOpen" [nzStyle]="{top: '20px'}" [nzBodyStyle]="{height: '85vh', overflow: 'hidden' }" [nzClassName]="'search-modal'" [nzWidth]="'95vw'" [nzZIndex]="1000" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div *ngIf="findModalOpen"> <!-- start of model -->
    <div nz-row>    <div nz-col nzSpan="4" [formGroup]="quicksearch" id="left-search-bar" style="background-color:#85B9D5;color:#fff;padding-left:10px;height:85vh;">
      <div nz-row style="padding:4px;">
        <div nz-row>
          <div nz-col [nzSpan]="6">
            <button class="left-back-btn" style="margin-left: -10px;">
              <span><i nz-icon="" class="anticon" (click)="handleCancel()"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
            </button>
          </div>
          <div nz-col [nzSpan]="18">
            <p class="text-left">Worker Search</p>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="availble" (change)="log($event,5)">
            <span><b>available</b></span>
          </label>
        </div>
        <div nz-col [nzSpan]="12" *ngIf="this.quicksearch.get('availble').value">
          <label nz-checkbox formControlName="option">
            <span><b>Option</b></span>
          </label>
        </div>
      </div>
      <div nz-row *ngIf="this.quicksearch.get('option').value" class="mrg-btm-half">
        <nz-card [nzBodyStyle]="{'padding':'8px'}" nzTitle="Availability Options" [nzSize]="'small'" [formGroup]="avilibilityForm">
          <div nz-row>
            <label nz-checkbox formControlName="conflict">
              <span><b>Conflict Tolerance</b></span>
            </label>
          </div>
          <div nz-row class="mrg-btm-half">
            <div nz-col [nzSpan]="12">
              <ng-select 
              formControlName="conflictminutes"
              [nzSize]="'small'"
              [items]="conflictpointList" 
              [virtualScroll]="true"
              [dropdownPosition]="'bottom'"
              [clearable]="false"
              [closeOnSelect]="true">
            </ng-select>
          </div>
          <div nz-col [nzSpan]="12" class="text-center">
            <label for="minutes">Minutes</label>
          </div>
        </div>
        <button nz-button nzType="primary" nzBlock>Reset Search Day/Time</button>
      </nz-card>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="20">
        <div class="form-group">
          <ng-select 
          formControlName="status"
          [nzSize]="'small'"
          [items]="statusList" 
          [virtualScroll]="true"
          [dropdownPosition]="'bottom'"
          [clearable]="false"
          [closeOnSelect]="true">
        </ng-select>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="20">
      <div class="form-group">
        <ng-select 
        formControlName="gender"
        [nzSize]="'small'"
        [items]="genderList" 
        [virtualScroll]="true"
        [dropdownPosition]="'bottom'"
        [clearable]="false"
        [closeOnSelect]="true">
      </ng-select>
    </div>
  </div>
</div>
<div nz-row>
  <div class="form-group">
    <label nz-checkbox  formControlName="staff">Staff</label>
    <br />
    <label nz-checkbox  formControlName="brokers">Brokers</label>
    <br />
    <label nz-checkbox  formControlName="volunteers">Volunteers</label>
    <br />
    <label nz-checkbox  formControlName="onleaveStaff">Include Staff On Leave</label>
    <br />
    <label nz-checkbox  formControlName="previousWork" *ngIf="this.quicksearch.get('availble').value">Previous Work</label>
  </div>
</div>
<div nz-row>      
  <div nz-row>
    <div nz-row>
      <label nz-checkbox
      [(ngModel)]="allProgarms"
      (ngModelChange)="updateAllCheckedFilters(2)"
      [nzIndeterminate]="allprogramIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Teams/Areas</b></label>
    </div>
    <div nz-col>
      <div class="staff-wrapper" style="height: 12rem; width: 100%; overflow: auto; padding:.2rem;">
        <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
          <div nz-row>
            <div nz-col nzSpan="24" *ngFor="let team of diciplineList">
              <label nz-checkbox  [nzValue]="team.value" [(ngModel)]="team.checked" (ngModelChange)="updateSingleCheckedFilters(2)" [ngModelOptions]="{standalone: true}">{{ team.label }}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
  <br>
  <div nz-row>
    <div nz-row>
      <label nz-checkbox
      [(ngModel)]="allcat"
      (ngModelChange)="updateAllCheckedFilters(4)"
      [nzIndeterminate]="allCatIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Job Categories</b></label>
    </div>
    <div nz-col>
      <div class="staff-wrapper" style="height: 12rem; width: 100%; overflow: auto;padding:.2rem;">
        <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,4)">
          <div nz-row>
            <div nz-col nzSpan="24" *ngFor="let category of categoriesList">
              <label nz-checkbox  [nzValue]="category.value" [(ngModel)]="category.checked" (ngModelChange)="updateSingleCheckedFilters(4)" [ngModelOptions]="{standalone: true}">{{ category.label }}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>
  </div>
</div>
</div><!-- end of 4 coulmns -->
<div nz-col nzSpan="20">
  <div nz-row>
    <div nz-col nzSpan="4">
      <button class="headers-botton refereshHeaderMainButton" (click)="searchData()" style="margin-left:10px;">Refresh</button>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text" nz-input formControlName="searchText" (keydown)="SearchOnEnter($event)" style="height:40px;" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="search" (click)="searchData()" style="font-size: 20px;color:#85B9D5"></i></ng-template>
    </div>
  </div>
  
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab nzTitle="Staff List" (nzClick)="tabFindChange(0)"> </nz-tab>
    <!-- <nz-tab nzTitle="Gap Analyser" (nzClick)="tabFindChange(1)"> </nz-tab> -->
    <nz-tab nzTitle="Competencies" (nzClick)="tabFindChange(2)"> </nz-tab>
    <nz-tab nzTitle="Approved/Excluded Staff" (nzClick)="tabFindChange(3)"></nz-tab>
    <nz-tab nzTitle="Filters" (nzClick)="tabFindChange(4)"> </nz-tab>
    <!-- <nz-tab nzTitle="Extended Search" (nzClick)="tabFindChange(9)"></nz-tab> -->
  </nz-tabset>
  <div *ngIf="tabFindIndex == 0">
    <div nz-row>
      <div class="custom-table-container">
        <!-- Loader -->
        <div class="loading-overlay" *ngIf="loading">
          <nz-spin nzTip=""></nz-spin>
        </div>
        <table class="custom-table">
          <thead>
            <tr>
              <th style="width: 30px;"></th>
              <th style="width: 30px;"></th>
              <th style="width: 50px;">MIN</th>
              <th style="width: 50px;">MAX</th>
              <th style="width: 50px;">WKD</th>
              <th style="width: 100px;">Staff Name</th>
              <th style="width: 50px;">Suburb</th>
              <th style="width: 50px;">Category</th>
              <th style="width: 80px;">Primary Phone</th>
              <th style="width: 50px;">Address</th>
              <th style="width: 50px;">Branch</th>
              <th style="width: 50px;">Team</th>
              <th style="width: 70px;">CoOrdinator</th>
              <th style="width: 50px;">Alerts</th>
              <th style="width: 80px;">Last Address</th>
              <th style="width: 50px;">Type</th>
              <th style="width: 50px;">KM</th>
              <th style="width: 50px;">Rating</th>
              <th style="width: 50px;">CW</th>
              <th style="width: 50px;">Preferred</th>
              <th style="width: 50px;">MakeUpPay</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of filteredResult" [contextMenu]="basicMenu" [contextMenuSubject]="result">
              <td></td>
              <td></td>
              <td>{{ result.hfmin }}</td>
              <td>{{ result.hfmax }}</td>
              <td>{{ result.wkd }}</td>
              <td>{{ result.name }}</td>
              <td>{{ result.suburb }}</td>
              <td>{{ result.category }}</td>
              <td>{{ result.contact }}</td>
              <td>{{ result.address }}</td>
              <td>{{ result.branch }}</td>
              <td>{{ result.team }}</td>
              <td>{{ result.coOrdinator }}</td>
              <td>{{ result.alerts }}</td>
              <td>{{ result.lastKnownLocation }}</td>
              <td>{{ result.type }}</td>
              <td>{{ result.km }}</td>
              <td>{{ result.rating }}</td>
              <td>{{ result.cw }}</td>
              <td>{{ result.preferred }}</td>
              <td>{{ result.makeUpPay }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
  <div *ngIf="tabFindIndex == 2">
    <div nz-row [nzGutter]="8">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div nz-row  style="border: 1px solid #e8e8e8;">
          <div nz-row style="background-color:#fafafa;padding:4px;">
            <label class="text-center"><b>Mandatory Competencies</b></label>
          </div>
          <div nz-row class="text-center">
            <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
            <button nz-button nzType="primary">Unselect All</button>
          </div>
          <div nz-col>
            <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
              <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)"> 
                <div nz-row>
                  <!-- <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                    <label nz-checkbox [nzValue]="branch.description" [(ngModel)]="branch.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ branch.description }}</label>
                  </div> -->
                </div>
              </nz-checkbox-wrapper>   
            </div>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div nz-row  style="border: 1px solid #e8e8e8;">
          <div nz-row style="background-color:#fafafa;padding:4px;">
            <label class="text-center"><b>Desirable Competencies</b></label>
          </div>
          <div nz-row class="text-center">
            <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
            <button nz-button nzType="primary">Unselect All</button>
          </div>
          <div nz-col>
            <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
              <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                <div nz-row>
                </div>
              </nz-checkbox-wrapper>
            </div>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div nz-row  style="border: 1px solid #e8e8e8;">
          <div nz-row style="background-color:#fafafa;padding:4px;">
            <label class="text-center"><b>Optional Competencies</b></label>
          </div>
          <div nz-row class="text-center">
            <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
            <button nz-button nzType="primary">Unselect All</button>
          </div>
          <div nz-col>
            <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
              <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                <div nz-row>
                </div>
              </nz-checkbox-wrapper>
            </div>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div nz-row  style="border: 1px solid #e8e8e8;">
          <div nz-row style="background-color:#fafafa;padding:4px;">
            <label class="text-center"><b>Other Skills</b></label>
          </div>
          <div nz-row class="text-center">
            <button nz-button nzType="primary" style="margin-right:8px;" (click)="allcompetencieschecked()">Select All</button>
            <button nz-button nzType="primary" (click)="allcompetenciesunchecked()">Unselect All</button>
          </div>
          <div nz-col>
            <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
              <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,7)">
                <div nz-row>
                  <div nz-col nzSpan="24" *ngFor="let skill of skillsList">
                    <label nz-checkbox  [nzValue]="skill.identifier" [(ngModel)]="skill.checked"  [ngModelOptions]="{standalone: true}">{{ skill.text }}</label>
                  </div>
                </div>
              </nz-checkbox-wrapper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <div nz-row *ngIf="tabFindIndex == 9" nzGutter="16" [formGroup]="extendedSearch">
    
    <div nz-col nzSpan="8" class="tree-overflow">
      <nz-tree [nzData]="nodelist" nzShowLine (nzClick)="nzEvent($event)"> </nz-tree>
    </div>
    
    <div nz-col nzSpan="16">
      <div nz-row>
        <div class="form-group">
          <input nz-input placeholder="" formControlName="title" />
        </div>
      </div>
      <div nz-row>
        <div class="form-group">
          <ng-select 
          formControlName="rule"
          [items]="sampleList" 
          [virtualScroll]="true"
          [dropdownPosition]="'bottom'"
          [clearable]="false"
          [closeOnSelect]="true"
          >
        </ng-select>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div *ngIf="this.extendedSearch.get('rule').value == 'EQUALS' || this.extendedSearch.get('rule').value == 'LESS THEN' || this.extendedSearch.get('rule').value == 'GREATER THAN' ||  this.extendedSearch.get('rule').value == 'NOT EQUAL TO' || this.extendedSearch.get('rule').value == 'BETWEEN' " nz-col class="gutter-row" nzSpan="10" class="form-group">
        <input nz-input formControlName="from" />
      </div>
      <div *ngIf="this.extendedSearch.get('rule').value == 'BETWEEN'" nz-col class="gutter-row text-center" nzSpan="2" class="form-group" style="text-align:center;">
        <label>AND</label>
      </div>
      <div *ngIf="this.extendedSearch.get('rule').value == 'BETWEEN'" nz-col class="gutter-row" nzSpan="10" class="form-group">
        <input nz-input formControlName="to"/>
      </div>
    </div>
    <div nz-row>
      <div class="form-group">
        <label class="columns" nz-checkbox formControlName="activeonly">Active</label>
      </div>
      <div class="form-group">
        <button nz-button nzType="primary" (click)="setCriteria()">Set Criteria</button>
      </div>
    </div>
    <div nz-row>
      <nz-table #smallTable nzSize="small" nzBordered class="custum-header">
        <thead>
          <tr>
            <th class="coulmn-color">Field/Item</th>
            <th class="coulmn-color">Search Type</th>
            <th class="coulmn-color">Text To Locate Search</th>
            <th class="coulmn-color">End Text For Between Search</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let criteria of cariteriaList">
            <td>{{criteria.fieldName}}</td>
            <td>{{criteria.searchType}}</td>
            <td>{{criteria.textToLoc}}</td>
            <td>{{criteria.endText}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div *ngIf="tabFindIndex == 3">
  <div nz-row [nzGutter]="8">
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;padding:4px;">
          <label class="text-center"><b>The Only Staff That Can Be Used</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)"> 
              <div nz-row>
                <!-- <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                  <label nz-checkbox [nzValue]="branch.description" [(ngModel)]="branch.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ branch.description }}</label>
                </div> -->
              </div>
            </nz-checkbox-wrapper>   
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;padding:4px;">
          <label class="text-center"><b>Staff Specifically Excludeed</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
              <div nz-row>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;padding:4px;">
          <label class="text-center"><b>Staff With Missing Or Expired Competency</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
              <div nz-row>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tabFindIndex == 4">
  <div nz-row [nzGutter]="8">
    <div nz-col class="gutter-row" [nzSpan]="5">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
          <label nz-checkbox
          [(ngModel)]="allBranches"
          (ngModelChange)="updateAllCheckedFilters(1)"
          [nzIndeterminate]="allBranchIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Branches</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)"> 
              <div nz-row>
                <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                  <label nz-checkbox [nzValue]="branch.value" [(ngModel)]="branch.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ branch.label }}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>   
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="7">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
          <label nz-checkbox
          [(ngModel)]="allProgarms"
          (ngModelChange)="updateAllCheckedFilters(2)"
          [nzIndeterminate]="allprogramIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Teams/Areas</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
              <div nz-row>
                <div nz-col nzSpan="24" *ngFor="let team of diciplineList">
                  <label nz-checkbox  [nzValue]="team.value" [(ngModel)]="team.checked" (ngModelChange)="updateSingleCheckedFilters(2)" [ngModelOptions]="{standalone: true}">{{ team.label }}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
          <label nz-checkbox
          [(ngModel)]="allcat"
          (ngModelChange)="updateAllCheckedFilters(4)"
          [nzIndeterminate]="allCatIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Job Categories</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,4)">
              <div nz-row>
                <div nz-col nzSpan="24" *ngFor="let category of categoriesList">
                  <label nz-checkbox  [nzValue]="category.value" [(ngModel)]="category.checked" (ngModelChange)="updateSingleCheckedFilters(4)" [ngModelOptions]="{standalone: true}">{{ category.label }}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div nz-row  style="border: 1px solid #e8e8e8;">
        <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
          <label nz-checkbox
          [(ngModel)]="allCordinatore"
          (ngModelChange)="updateAllCheckedFilters(3)"
          [nzIndeterminate]="allCordinatorIntermediate"
          [ngModelOptions]="{standalone: true}"><b>ALL Coordinators</b></label>
        </div>
        <div nz-col>
          <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,3)">
              <div nz-row>
                <div nz-col nzSpan="24" *ngFor="let manager of casemanagers">
                  <label nz-checkbox  [nzValue]="manager.value" [(ngModel)]="manager.checked" (ngModelChange)="updateSingleCheckedFilters(3)" [ngModelOptions]="{standalone: true}">{{ manager.label }}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <!-- end of 19 coulmns -->
</div>
</div> <!-- end of model -->
<div *nzModalFooter style="padding: 0px;"> </div>
</nz-modal>
<ng-template #modalTemplate>
  <div>
    <p>
      Enter an Agency Defined Staff Code. This can be any combination of letters and numbers up to 35 characters in length, but cannot include any punctuation or symbols like ~,-or'. Use something easy to remember when searching for staff. This code MUST be UNIQUE (e.g., surname and initial - BROWN B).
    </p>
    <input [(ngModel)]="inputValueStaffCode" nz-input placeholder="Enter code" />
  </div>
</ng-template>
<ng-template #modalTemplate1>
  <div>
    <input nz-input [(ngModel)]="exportFileName" placeholder="Enter file name" autofocus/>
  </div>
</ng-template>
<context-menu>
  <ng-template contextMenuItem          (execute)="menuAction($event.item,1)">
    View Map
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,2)">
    Map Last known Location to Job
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,1)">
    View Daily Gaps
  </ng-template>
  <ng-template contextMenuItem          (execute)="menuAction($event.item,1)">
    View Gaps Full Month
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,1)">
    Select All displayed Staff
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,1)">
    Email Selected Staff
  </ng-template>
  <ng-template contextMenuItem let-item [enabled]="emailJObqueryselectedstaff" (execute)="menuAction($event.item,1)">
    Email Job Query to Selected Staff
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,1)">
    SMS Selected Staff via SMSEmail
  </ng-template>
  <ng-template contextMenuItem let-item [enabled]="smsjobqueryselectedstaff" (execute)="menuAction($event.item,1)">
    SMS Job Query to Selected Staff via SMSEmail
  </ng-template>
  <ng-template contextMenuItem let-item [enabled]="tracssmessgage" (execute)="menuAction($event.item,1)">
    Send Traccs Message to Staff
  </ng-template>
  <ng-template contextMenuItem let-item [enabled]="outlookjobdairy" (execute)="menuAction($event.item,1)">
    Add Job to Outlook Diary
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="menuAction($event.item,12)">
    View Staff Profile
  </ng-template>
</context-menu>