<div nz-row style="padding:10px; overflow:hidden">
    
    <carer-search [findModalOpen]="searchStaff && view==0" (searchDone)="onStaffSearch($event)"></carer-search>
   <recipient-search [findModalOpen]="searchStaff && view==1" (searchDone)="onStaffSearch($event)"></recipient-search>

    <div style="display:flex; flex-direction:row; border:solid 1px #d5d1d4; border-radius:5px; margin:2px; padding:5px; " >
        <div  style="display:flex; flex-direction:column; margin-top:5px">
            <div style="display:flex; flex-direction:row">
                <app-search-timesheet [view]="view" (selected)="picked($event)" [defautValue]="defautValue" [reload]="reloadSearchList"></app-search-timesheet>
                <div class="icon-style" *ngIf="!selected" (click)="confirm(0)" nz-tooltip nzTooltipTitle="Search"><i nz-icon nzType="search" nzTheme="outline"></i></div>
            </div>     
            <div style="display:flex; flex-direction:column; border: solid 1px #d5d1d4; margin-top:5px; padding:6px;" *ngIf="selected">
                <label nz-checkbox for="" [(ngModel)]="ShowInfoOnly" (ngModelChange)="showInfoOnly_data()"  style="margin-left:8px">Show Info Only Lines</label>
                <label nz-checkbox for="" [(ngModel)]="IncludeHours" *ngIf="ShowInfoOnly">Include in hours</label>
                <label nz-checkbox for="" [(ngModel)]="IncludeShiftPrevPeriods" (ngModelChange)="openPayPeriod()">Include Shifts Paid in Previous Periods</label>
              
               
            </div>
        </div>
        
        <div style="display:flex; flex-direction:row;" *ngIf="selected"  >
            <div style="display:flex; flex-direction:column; border: solid 1px #d5d1d4; padding:3px; margin-left:3px">
            <div style="display:flex; flex-direction:row; " >
                
                   <div class="icon-style"  (click)="confirm(0)" nz-tooltip nzTooltipTitle="Search"><i nz-icon nzType="search" nzTheme="outline"></i></div>
                   
                    <div class="icon-style" (click)="confirm(1)" nz-tooltip nzTooltipTitle="Add Timesheet Line"><i nz-icon nzType="plus" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(2)" nz-tooltip nzTooltipTitle="Delete Timesheet Line"><i nz-icon nzType="minus" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(7)" nz-tooltip nzTooltipTitle="Edit Timesheet Line"><i nz-icon nzType="edit" nzTheme="outline"></i></div>
                                
                    <div class="icon-style" (click)="confirm(3)" nz-tooltip nzTooltipTitle="Delete All Unapproved"><i nz-icon nzType="delete" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(4)" nz-tooltip nzTooltipTitle="Remove Shift Overlap"><i nz-icon nzType="reconciliation" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(5)" nz-tooltip nzTooltipTitle="Approve All"><i nz-icon nzType="like" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(6)" nz-tooltip nzTooltipTitle="Unapprove All"><i nz-icon nzType="dislike" nzTheme="outline"></i></div>
                    
                    <div class="icon-style" (click)="confirm(8)" nz-tooltip nzTooltipTitle="Print Time Sheet" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(9)" nz-tooltip nzTooltipTitle="Refresh" (click)="refresh()"><i nz-icon nzType="reload" nzTheme="outline"></i></div>
                    <div class="icon-style" (click)="confirm(10)" nz-tooltip nzTooltipTitle="Award Interpreter" (click)="AwardInterpreter()">
                        <span style="font: size 22px; font-weight:500">A</span>
                    </div>
                    
            </div>
            <div style="display:flex; flex-direction:column; margin:5px; ">
                <label nz-checkbox for="" [(ngModel)]="UseExtended"  style="margin-left:8px">Use extended find</label>
                <div style="display:flex; flex-direction:row; margin-left:8px; margin-top:3px;  ">
                    <label style="margin-top:5px;" nz-checkbox for="" [(ngModel)]="Master" (ngModelChange)="loadMaster()" >Master</label>
                    <nz-select [(ngModel)]="Cycle" nzAllowClear (ngModelChange)="loadMaster()"  *ngIf="Master">
                        <nz-option *ngFor="let cycle of lstCycles" [nzValue]="cycle" [nzLabel]="cycle"></nz-option>
                        
                    </nz-select>
                </div>
               
            </div>
            </div>

            <div  style="display:flex; flex-direction:column; padding:3px; border: solid 1px #c8c9c5; margin-left:3px;">
                <div style="border: solid 1px #d0cfcc; font-size:14px; font-style:italic; padding:3px; color:black">Total Calculated Using GOOGLE....</div>
                <div style="display:flex; flex-direction:row;">
                    <label for="" style="background:#F18805; height:22px; width:150px; padding-left:3px; margin-top:2px; border:solid 0.5px #c06d09;" (click)="CalculateTravel()">Calculate Travel</label>
                    <input nz-input type="text" [(ngModel)]="Calc_KM"  style="width:50px; height:22px; margin:2px" > 
                    <label style="margin-top:3px" >KM</label>
                </div>
                <div style="display:flex; flex-direction:row;">
                    <label nz-checkbox for="" style=" height:22px; width:150px">Start From Branch</label>
                    <input nz-input type="text" [(ngModel)]="Calc_Time" style="width:50px; height:22px; margin:2px"> 
                    <label style="margin-top:3px" >TIME</label>
                </div>
                <div style="display:flex; flex-direction:row;">
                    <label nz-checkbox for="" style=" height:22px; width:150px">Finish at Branch</label>
                    <label style="background:#d5d4d3; border:solid 0.5px #b9bab8; padding:3px;" [class.disabled]="!enableAutoCreate" (click)="AutoCreateTravelItem()">Autocreate</label>
                </div>
            </div>
            <div class="header" style="display:flex; flex-direction:column; padding:3px; border: solid 1px #c8c9c5; margin-left:3px;">
                <div style="border: solid 1px #d0cfcc; font-size:14px; font-style:italic; padding:3px; color:black">Columns to Display</div>
                <div style="display:flex; flex-direction:row; padding-left:2px; ">
                    <div style="display:flex; flex-direction:column; ">
                        <label nz-checkbox for="" [(ngModel)]="BookingNo"  style="margin-left:8px">Shift/Booking #</label>
                        <label nz-checkbox for="" [(ngModel)]="Program">Program</label>
                        <label nz-checkbox for="" [(ngModel)]="Activity">Activity</label>
                        <label nz-checkbox for="" [(ngModel)]="DebtorCode">Debtor Code</label>
                       
                    </div>
                    <div style="display:flex; flex-direction:column;  ">
                        <label nz-checkbox for="" [(ngModel)]="Recipient" style="margin-left:8px">Recipient/Location</label>
                        <label nz-checkbox for="" [(ngModel)]="BillRate" >Bill Rate</label>
                        <label nz-checkbox for="" [(ngModel)]="PayRate">Pay Rate</label>
                        <label nz-checkbox for="" [(ngModel)]="BillQty">Bill Qty</label>
                       
                    </div>
                    <div style="display:flex; flex-direction:column;  ">
                        <label nz-checkbox for="" [(ngModel)]="PayQty" style="margin-left:8px">Pay Qty</label>
                        <label nz-checkbox for="" [(ngModel)]="PayRateTotal">Pay Rate Total</label>
                        <label nz-checkbox for="" [(ngModel)]="ClaimedStart" >Claimed Start</label>
                        <label nz-checkbox for="" [(ngModel)]="ClaimedEnd">Claimed End</label>
                       
                      
                    </div>
                    <div style="display:flex; flex-direction:column;  ">
                        <label nz-checkbox for="" [(ngModel)]="DecimalDuration" style="margin-left:8px">Decimal Duration</label>
                        <label nz-checkbox for="" [(ngModel)]="InvDate">Inv Date</label>
                        <label nz-checkbox for="" [(ngModel)]="InvRef">Inv Ref</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="false" nz-row style="margin-top:10px">
        <nz-table #fixedTable [nzData]="resultMapData" [nzSize]="'small'"  [nzScroll]="{ x: '2000px', y: '58vh' }" >
            <thead>
                <tr>
                    <th nzWidth="200px" nzLeft="0px" *ngIf="!BookingNo">Shift #</th>
                    <th nzWidth="100px" nzLeft="200px" >Date</th>
                    <th nzWidth="80px" nzLeft="300px">Start Time</th>
                    <th nzWidth="80px" nzLeft="380px">End Time</th>
                    <th nzWidth="80px">Duration</th>
                    <th nzWidth="160px">Recipient or Location</th>
                    <th nzWidth="160px" *ngIf="!Program">Program</th>
                    <th nzWidth="220px"*ngIf="!Activity">Activity</th>
                    <th nzWidth="90px" *ngIf="!DebtorCode">Pay Type</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of fixedTable.data">
                    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
                        <tr>
                            <!-- [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
                            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)" -->
                            <td nzWidth="200px" nzLeft="0px" [nzIndentSize]="item.level * 10">
                                {{ item.name || item.activity }}
                            </td>
                            <td  nzWidth="100px" nzLeft="200px">{{ item.activity }}</td>
                            <td  nzWidth="80px" nzLeft="300px">{{ item.activity }}</td>
                            <td  nzWidth="80px" nzLeft="380px">{{ item.activity }}</td>
                            <td  nzWidth="80px">{{ item.activity }}</td>
                            <td  nzWidth="160px">{{ item.activity }}</td>
                            <td  nzWidth="160px">{{ item.activity }}</td>
                            <td  nzWidth="220px">{{ item.activity }}</td>
                            <td  nzWidth="90px">{{ item.activity }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-table #sss [nzShowPagination]="true" [nzPageSize]="30" [nzLoading]="loading" [nzSize]="'small'"  [nzScroll]="{ x: '2000px', y: '58vh' }"
                [nzFrontPagination]="true" [nzData]="timesheets" >
                <thead>
                    <tr>
                        <th nzWidth="70px" nzLeft="0px" *ngIf="!BookingNo">Shift #</th>
                        <th nzWidth="95px" nzLeft="70px">Date</th>
                        <th nzWidth="70px" nzLeft="165px">Start Time</th>
                        <th nzWidth="70px" nzLeft="240px">End Time</th>
                        <th nzWidth="80px">Duration</th>
                        <th nzWidth="160px" *ngIf="!Recipient">Recipient or Location</th>
                        <th nzWidth="160px" *ngIf="!Program">Program</th>
                        <th nzWidth="220px" *ngIf="!Activity">Activity</th>
                        <th nzWidth="90px" *ngIf="!DebtorCode">Pay Type</th>
                        <th nzWidth="100px" [nzAlign]="'right'" *ngIf="!PayQty">Pay Quantity</th>
                        <th nzWidth="100px" [nzAlign]="'right'" *ngIf="!PayRate">Pay Rate</th>
                        <th nzWidth="100px" [nzAlign]="'right'" *ngIf="!BillQty">Bill Quantity</th>
                        <th nzWidth="100px" [nzAlign]="'right'" *ngIf="!BillRate">Bill Rate</th>
                        <th nzWidth="100px">Bill To</th>
                        <th nzWidth="70px" nzRight="220px">Approve</th> 
                        <th nzWidth="150px" nzRight="70px">Notes</th>
                        <th nzWidth="80px" nzRight="0px"><label nz-checkbox [(ngModel)]="selectAll" (ngModelChange)="selectAllChange($event)">Select</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn" [class.selected]="data.selected" (dblclick)="details(data)">
                        <td nzLeft="0px" *ngIf="!BookingNo">{{ data.shiftbookNo}}</td>
                        <td nzLeft="70px">{{ data.date | date: 'dd/MM/yyyy' }}</td>
                        <td nzLeft="165px">{{ data.startTime | date: 'HH:mm' }}</td>
                        <td nzLeft="240px">{{ data.endTime | date: 'HH:mm' }}</td>
                        <td nzWidth="80px">{{ data.duration }}</td>
                        <td nzWidth="160px">{{ data.recipient }}</td>
                        <td nzWidth="160px" *ngIf="!Program">{{ data.program }}</td>
                        <td nzWidth="220px" *ngIf="!Activity">{{ data.activity }}</td>
                        <td nzWidth="90px" *ngIf="!DebtorCode" >{{ data.paytype }}</td>
                        <td nzWidth="100px" [nzAlign]="'right'" *ngIf="!PayQty"> {{ data.payquant | number : '1.2-2' }}</td>
                        <td nzWidth="100px" [nzAlign]="'right'" *ngIf="!PayRate">{{ data.payrate }}</td>
                        <td nzWidth="100px" [nzAlign]="'right'" *ngIf="!BillQty">{{ data.billquant | number : '1.2-2' }}</td>
                        <td nzWidth="100px" [nzAlign]="'right'" *ngIf="!BillRate">{{ data.billrate | currency: 'USD' }}</td>
                        <td nzWidth="100px">{{ data.billto }}</td>
                        <td nzWidth="70px" nzRight="220px">
                            <label nz-checkbox [(ngModel)]="data.approved"  (ngModelChange)="checkBoxChange($event,data)"></label>
                        </td>
                        <td nzWidth="150px" nzRight="70px" >
                            <div nz-tooltip [nzTooltipTitle]="data.notes" nzTooltipPlacement="leftTop" [nzOverlayClassName]="'atay'" class="notes">
                                {{ data.notes }}
                            </div>
                        </td>
                        <td nzRight="0px" [nzAlign]="'left'">
                            <label nz-checkbox [(ngModel)]="data.selected" (ngModelChange)="selectedTimesheet($event,data)"></label>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>

    <div *ngIf="selected && timesheets?.length > 0" nz-row class="calculations">
        <nz-descriptions nzBordered [nzSize]="'small'" nzBordered nzLayout="horizontal">
            <nz-descriptions-item nzTitle="Total Time">{{ payTotal?.WorkedHours }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Hours & Minutes">{{ payTotal?.HoursAndMinutes }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total Paid as Hours">{{ payTotal?.PaidAsHours }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total Paid as Services">{{ payTotal?.PaidAsServices }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Recipient Attributable Hours">{{ payTotal?.WorkedAttributableHours }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total KM Allowance">{{ payTotal?.KMAllowancesQty }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Total Other Allowance" [nzSpan]="1">{{ payTotal?.AllowanceQty }}</nz-descriptions-item>
            <nz-descriptions-item class="total" nzTitle="Calculated Pay" [nzSpan]="2">{{ payTotal?.BilledAmount | currency: 'USD' }}</nz-descriptions-item>
        </nz-descriptions>
    </div>
    

</div>


<nz-modal [(nzVisible)]="overlapVisible" nzTitle="Automatic Overlap Removal" (nzOnCancel)="handleCancel()" (nzOnOk)="removeOverlap()">
    <div nz-row>
        <div nz-row class="boxy">
            This action will force any overlapping shifts to a later start time to remove the overlap. All entries must be either
            approved or unapproved. You cannot use this function if some entries are approved and others are not.
        </div>
        <div nz-row class="boxy">
            If you want to force a timegap between overlapping shifts - select 5 minutes from the drop down or if a gap is not
            needed accept the default of 0
        </div>
        <div nz-row style="text-align: center">
            <nz-select [(ngModel)]="overlapValue" nzAllowClear>
                <nz-option nzValue="0" nzLabel="0 minute"></nz-option>
                <nz-option nzValue="5" nzLabel="5 minute"></nz-option>
            </nz-select>
        </div>
    </div>
</nz-modal>

<!-- Add Timesheet -->

<nz-modal [(nzVisible)]="addTimesheetVisible" [nzStyle]="topMarginStyle" [nzWidth]="900" nzTitle="Add Timesheet"  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="min-height:21rem">

            <nz-steps [nzCurrent]="current" nzProgressDot nzDirection="vertical">
                <nz-step nzTitle="Service Type & Date"></nz-step>
                <nz-step nzTitle="Recipient Details"></nz-step>
                <nz-step nzTitle="Pay Details"></nz-step>
                <!-- <nz-step *ngIf="ifRosterGroupHasTimePayBills(rosterGroup)" nzTitle="Time"></nz-step> -->
                <nz-step *ngIf="ifRosterGroupHasTimePayBills(rosterGroup)" nzTitle="Pay"></nz-step>
                <nz-step *ngIf="ifRosterGroupHasTimePayBills(rosterGroup) && rosterGroup != 'ADMINISTRATION' "nzTitle="Bills"></nz-step>
            </nz-steps>
    
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
 
            <div class="steps-content">
                <div *ngIf="current == 0" [formGroup]="timesheetForm">
                    
                    <div nz-row>
                        <div class="form-group">
                            <label for="">Date</label>
                            <nz-date-picker [nzFormat]="dateFormat" formControlName="date"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-row>
                        <div class="form-group">
                            <label for="">Service Type</label>
                            <nz-select formControlName="serviceType" [nzDropdownMatchSelectWidth]="false" style="width:15rem">
                                <nz-option *ngFor="let list of modalTimesheetValues" [nzValue]="list.name" [nzLabel]="list.name"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                   
                    <div nz-row *ngIf="multipleRecipientShow">
                        <label for="">Multiple Recipients</label>
                        <nz-switch nzSize="small" formControlName="isMultipleRecipient"></nz-switch>
                    </div>
                    <div nz-row *ngIf="isTravelTimeChargeable">
                        <label for="">Is Travel Time Chargeable</label>
                        <nz-switch nzSize="small" formControlName="isTravelTimeChargeable"></nz-switch>
                    </div>
                    <div nz-row *ngIf="isSleepOver">
                        <label for="">Select the End Time on the following day for the sleepover</label>
                        <nz-time-picker formControlName="sleepOverTime" [nzDefaultOpenValue]="defaultOpenValue" nzFormat="HH:mm"></nz-time-picker>

                        <!-- <nz-time-picker formControlName="sleepOverTime" nzFormat="HH:mm"></nz-time-picker> -->
                        <!-- <nz-switch nzSize="small" formControlName="isTravelTimeChargeable"></nz-switch> -->
                    </div>
                    <div nz-row nzGutter="8" style="margin-top:1rem" *ngIf="showTime">
                        <div nz-col nzSpan="6">
                            <div class="form-group">
                                <label for="">Start Time</label>
                                <nz-time-picker [(ngModel)]="defaultStartTime" [ngModelOptions]="{standalone: true}" (ngModelChange)="ngModelChangeStart($event)"  nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="6">
                            <div class="form-group" *ngIf="showEndTime">
                                <label for="">End Time</label>
                                <nz-time-picker [(ngModel)]="defaultEndTime" [ngModelOptions]="{standalone: true}" (ngModelChange)="ngModelChangeEnd($event)" nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <label for="">Duration</label>
                                <nz-alert *ngIf="durationObject?.error" nzType="error" [nzMessage]="durationObject?.durationStr"></nz-alert>
                                <nz-alert *ngIf="!durationObject?.error" nzType="success" [nzMessage]="durationObject?.durationStr"></nz-alert>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 1" [formGroup]="timesheetForm">
                    <div class="form-group" *ngIf="showRecipient() && selected?.option === 0">
                        <label for="">Recipient</label>
                        <app-recipient-popup formControlName="recipientCode"></app-recipient-popup>
                    </div>
                    <div class="form-group" *ngIf="showRecipient() ">
                        <label for="">Debtor</label>
                        <app-recipient-popup formControlName="debtor"></app-recipient-popup>
                    </div>
                    <div class="form-group">
                        <label for="">Program</label>
                        <nz-select nzShowSearch nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false" style="width:15rem">
                            <nz-option *ngFor="let list of programsList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultProgram" [nzValue]="defaultProgram" nzHide></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label for="">Service/Activity/Item</label>
                        <nz-select nzShowSearch nzAllowClear formControlName="serviceActivity" [nzDropdownMatchSelectWidth]="false" style="width:15rem">
                            <nz-option *ngFor="let list of serviceActivityList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultActivity" [nzValue]="defaultActivity" nzHide></nz-option>
                        </nz-select>                        
                        <div>
                            <nz-alert style="margin-top:10px;width: 15rem;" *ngIf="timesheetForm.get('program').value && serviceActivityList?.length == 0 && defaultActivity != null" nzType="warning" nzMessage="No Activities found"></nz-alert>
                            <span style="font-size: 11px; color: #45be26; font-weight: 500;">{{ rosterGroup}}</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="selected?.option === 1">
                        <label for="">Staff/Contractor</label>
                        <app-staff-popup formControlName="staffCode"></app-staff-popup>
                    </div>
                </div>
                
                <div *ngIf="current == 2" [formGroup]="timesheetForm">
                    <div class="form-group">
                        <label for="">Pay Type</label>
                        <nz-select formControlName="payType"
                            [nzDropdownMatchSelectWidth]="false" style="width:15rem">
                            <nz-option *ngFor="let list of payTypeList" [nzValue]="list.title" [nzLabel]="list.title">
                            </nz-option>
                        </nz-select>
                    </div>

                    <div class="form-group">
                        <label for="">Category</label>
                        <nz-select formControlName="analysisCode"
                            [nzDropdownMatchSelectWidth]="false" style="width:15rem">
                            <nz-option *ngFor="let list of analysisCodeList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultCategory" [nzValue]="defaultCategory" nzHide></nz-option>
                        </nz-select>
                    </div>
                </div>

                <!-- <div nz-row nzSpan="24" nzGutter="8" *ngIf="current == 3" style="width: 30rem;">
                    <ng-container>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <label for="">Start Time</label>
                                <nz-time-picker [(ngModel)]="defaultStartTime" (ngModelChange)="ngModelChangeStart($event)"  nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <label for="">End Time</label>
                                <nz-time-picker [(ngModel)]="defaultEndTime" (ngModelChange)="ngModelChangeEnd($event)" nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="8">
                            <div class="form-group">
                                <label for="">Duration</label>
                                <p class="time-duration">{{ durationObject?.durationStr }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div> -->

                <div nz-row nzSpan="24" nzGutter="8" [formGroup]="timesheetForm" *ngIf="current == 3" style="width: 30rem;">
                    <ng-container formGroupName="pay">
                        <div nz-row>
                            <div nz-col nzSpan="10">
                                <div class="form-group">
                                    <label for="">Unit</label>
                                    <nz-select formControlName="unit" [nzDropdownMatchSelectWidth]="false">
                                        <nz-option *ngFor="let list of unitsArr" [nzValue]="list" [nzLabel]="list"></nz-option> 
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                       <div nz-row>
                            <div nz-col nzSpan="7">
                                <div class="form-group">
                                    <label for="">Rate</label>
                                    <nz-input-number formControlName="rate" [nzMin]="-1" [nzStep]="1" [nzFormatter]="formatterDollar"
                                        [nzParser]="parserDollar"></nz-input-number>
                                </div>
                            </div>
                            <div nz-col nzSpan="7">
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <nz-input-number formControlName="quantity" [nzMin]="0"  [nzStep]="1"></nz-input-number>
                                </div>
                            </div>
                       </div>
                    </ng-container>
                </div>

                <div nz-row nzSpan="24" nzGutter="8" *ngIf="current == 4" [formGroup]="timesheetForm" style="width: 30rem;">
                    <ng-container formGroupName="bill">
                        <div nz-row>
                            <div nz-col nzSpan="8">
                                <div class="form-group">
                                    <label for="">Unit</label>
                                    <nz-select formControlName="unit" [nzDropdownMatchSelectWidth]="false">
                                        <nz-option *ngFor="let list of unitsArr" [nzValue]="list" [nzLabel]="list">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                       <div nz-row>
                            <div nz-col nzSpan="7">
                                <div class="form-group">
                                    <label for="">Rate</label>
                                    <nz-input-number formControlName="rate" [nzMin]="0" [nzStep]="1" [nzFormatter]="formatterDollar"
                                        [nzParser]="parserDollar"></nz-input-number>
                                </div>
                            </div>
                            <div nz-col nzSpan="7">
                                <div class="form-group">
                                    <label for="">Quantity</label>
                                    <nz-input-number formControlName="quantity" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                </div>
                            </div>
                            <div nz-col nzSpan="7">
                                <div class="form-group">
                                    <label for="">Tax %</label>
                                    <nz-input-number formControlName="tax" [nzMin]="-1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent"
                                        [nzParser]="parserPercent"></nz-input-number>
                                </div>
                            </div>
                       </div>
                    </ng-container>
                </div>

            </div>
   
    </div>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>Previous</span>
        </button>
        <button nz-button nzType="default" (click)="next()" *ngIf="nextCondition" [disabled]="nextDisabled">
            <span>Next</span>
        </button>
        <button nz-button nzType="primary" (click)="done()" [disabled]="!isFormValid" *ngIf="showDone">
            <span>Done</span>
        </button>
        <!-- <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
    </ng-template>

</nz-modal>


<nz-modal [(nzVisible)]="prevPayPeriodModel" [nzStyle]="topBelow" [nzWidth]="500" [nzTitle]="'Pay Period Selection'"
    (nzOnCancel)="prevPayPeriodModel=false">


    <div style="display:flex; flex-direction:column; padding:10px;  " >

      

        <div style="display:flex; flex-direction:row; margin:5px; ">
            <label style="width:140px"> Start Date</label>
            <nz-date-picker [nzFormat]="dateFormat"  [(ngModel)]="Prev_startDate" ></nz-date-picker>
         
        </div>

        <div style="display:flex; flex-direction:row; margin:5px; ">
            <label style="width:140px"> End Date</label>
            <nz-date-picker [nzFormat]="dateFormat"  [(ngModel)]="Prev_endDate"></nz-date-picker>

        </div>

    </div>
    <div *nzModalFooter>
        <ng-container>

            <button nz-button nzType="primary" (click)="processPrevPayPeriod()">
                <span>OK</span>
            </button>
            <button nz-button nzType="primary" (click)="prevPayPeriodModel=false">
                <span>Cancel</span>
            </button>
        </ng-container>
    </div>
</nz-modal>
<nz-modal [(nzVisible)]="ViewTravelHistory" [nzStyle]=" { top: '5px', left:'-50px' }" [nzWidth]="600" [nzTitle]="'Travel History'"
    (nzOnCancel)="ViewTravelHistory=false">


    <div style="display:flex; flex-direction:column; padding:5px;  " >

        <nz-spin nzSimple="true" [nzSpinning]="loadingTrvl" style="margin: 10px;"></nz-spin>
      
        <nz-tree  #treeView [nzData]="nodes" [isLoading] ="loadingTrvl" nzBlockNode nzAsyncData nzShowIcon (nzClick)="nzEvent($event)" ></nz-tree>
           
</div>

<div *nzModalFooter>
    <ng-container>

        <button nz-button nzType="primary" (click)="UpdateNodes()">
            <span>refresh</span>
        </button>
        <button nz-button nzType="primary" (click)="ViewTravelHistory=false">
            <span>Cancel</span>
        </button>
    </ng-container>
</div>
</nz-modal>
<!-- Add Timesheet -->
<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
        <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>                
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
        </div>
        
    </nz-drawer>
</div>

