<div nz-layout style="margin-top: 20px;" *ngIf="frm_stdlayout">
    <div nz-row>
        <div nz-row>
            <div nz-col nzSpan="6" style="border: 2px solid #dbdee2">
                <fieldset>
                    <legend>Available Report Fields</legend>
                    <div class="tree_frame" >
                        <nz-tree [nzData]="nodes" nzAsyncData = "false" (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"> </nz-tree>         
                    </div>
                </fieldset>
            </div>
            <div nz-col nzSpan="6" style="border: 2px solid #dbdee2">
                <fieldset>
                    <legend>Selected Report Fields</legend>                
                    <div nz-row *ngIf="frm_nodelist"  >
                        <div nz-col nzSpan="24" class="list_frame">
                            <div>
                                <div *ngFor="let item of list;let indexofelement= index;"> 
                                    <div  nz-row>
                                        <div nz-col nzSpan="16">
                                            <span> {{item}} </span>
                                        </div>
                                        <div nz-col nzSpan="8" class="">
                                            <a  nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deletelistitem(indexofelement)">Delete</a>                                        
                                        </div>                                    
                                    </div>                                                                                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div nz-col nzSpan="12" style="border: 2px solid #dbdee2">
                <fieldset>
                    <legend style="text-align: center;align-content: center;float:center;">Report Filters</legend>
                    <div nz-row class="margin">
                        <div nz-col nzSpan="24"  >
                            <div class="form-group" class="margin" [formGroup]="inputForm">                                 
                                <label class="checks" nz-checkbox formControlName="activeonly">Active only</label>
                                <label class="checks" nz-checkbox formControlName="incl_internalCostclient">Include internal cost client</label>                                                              
                            </div>                                                                                                                                                               
                        </div>
                    </div>
                    <div nz-row class="margin">
                        <div nz-col nzSpan="24"  >
                            <div class="form-group"  [formGroup]="inputForm">
                                <nz-radio-group formControlName="radiofiletr">
                                    <label nz-radio nzValue="meet">Only Records that meet selection Criteria</label>
                                    <label nz-radio nzValue="donotmeet">Only Records that do not meet selection Criteria</label>                                                        
                                </nz-radio-group>
                            </div>
                        </div>
                    </div>
                    <div nz-row class="margin">                    
                        <div nz-col nzSpan="12" >
                            <div class="form-group" [formGroup]="inputForm">                                                                     
                                <nz-select formControlName="exportitemsArr"  (ngModelChange)= "EnablerAplyBtn()" [nzDisabled]="!list">
                                    <nz-option *ngFor="let option of exportitemsArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                </nz-select>                             
                            </div>
                            </div>                                       
                    </div>
                    <div nz-row class="margin">                         
                        <div nz-col nzSpan="12"  >
                            <div class="form-group"  [formGroup]="inputForm">                                 
                                <nz-select formControlName="criteriaArr" (ngModelChange)= "SetValueFrame()" [nzDisabled]="!exportitemsArr" >
                                    <nz-option *ngFor="let option of criteriaArr" [nzLabel]="option" [nzValue]="option"></nz-option> 
                                </nz-select>                                                               
                            </div>
                        </div>                        
                    </div>
                    <div nz-row class="margin">                            
                        <div nz-col nzSpan="12"  >
                            <div class="form-group"  [formGroup]="inputForm" *ngIf="criteriaArr"> 
                                <input nz-input placeholder=" Values"formControlName="valueArr" />                                                                                                                    
                            </div>
                        </div>                                               
                    </div>
                    <div nz-row class="margin">                                                    
                        <div nz-col nzSpan="2"   class="" *ngIf="frm_SecondValue">
                            <label>AND</label>
                        </div>
                    </div>
                    <div nz-row class="margin">                                                                            
                        <div nz-col nzSpan="12" *ngIf="frm_SecondValue">
                            <div class="form-group"  [formGroup]="inputForm">  
                                <input nz-input placeholder=" Values"formControlName="SecondvalueArr"   />                                                                                                               
                            </div>
                        </div> 
                    </div>
                    <div  nz-row class="margin">
                        <button nzType="default" class="btn btn-Powderblue " (click)="apply()" [disabled] = "Applybutton">Apply</button>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24"  class="criteria" >                       
                                <table>                            
                                        <tr>
                                            <td class="colwidth" >
                                                <span>Item/Field </span>
                                            </td>
                                            <td class="colwidth" >
                                                <span>Criteria </span>
                                            </td>
                                            <td class="colwidth" >
                                                <span> Values </span>
                                            </td>
                                            <td class="colwidth" >
                                                <div *ngIf="frm_SecondVal"> 
                                                    <span> Value </span>
                                                </div>                                            
                                            </td>
                                            <td class="colwidth"  >
                                                <span> Action </span>
                                            </td>
                                        </tr>                                                                                                  
                                        <tr > 
                                            <td>
                                                <nz-list [nzGrid] >
                                                    <nz-list-item *ngFor="let item of entity;let indexofelement= index;"> 
                                                        <span>{{item}}</span>                                                                                                                                                     
                                                    </nz-list-item>
                                                </nz-list>
                                            </td> 
                                            <td>
                                                <nz-list [nzGrid] >
                                                    <nz-list-item *ngFor="let item of condition;let indexofelement= index;"> 
                                                        <span>{{item}}</span>                                                                                                                                           
                                                    </nz-list-item>
                                                </nz-list>
                                            </td>
                                            <td>
                                                <nz-list [nzGrid] >
                                                    <nz-list-item *ngFor="let item of value;let indexofelement= index;"> 
                                                        <span>{{item}}</span>                                                                                                                                           
                                                    </nz-list-item>
                                                </nz-list>
                                            </td>
                                            <td  *ngIf="frm_SecondVal">
                                                <nz-list [nzGrid] >
                                                    <nz-list-item *ngFor="let item of Endvalue;let indexofelement= index;"> 
                                                        <span>{{item}}</span>                                                                                                                                           
                                                    </nz-list-item>
                                                </nz-list>
                                            </td>
                                            <td>
                                                <nz-list [nzGrid] >
                                                    <nz-list-item *ngFor="let item of value;let indexofelement= index;"> 
                                                        <div *ngIf="frm_delete"> <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(datarow)">Delete</a>                                            
                                                        </div>                                                                                                                                         
                                                    </nz-list-item>
                                                </nz-list>
                                            </td>                                        
                                            
                                            <!--<td class="colwidthentity"  *ngFor="let item of entity;let indexofelement= index;" >                                               
                                                <span>{{item}}</span>                                            
                                            </td>
                                            <td class="colwidth"  *ngFor="let item of condition;let indexofelement= index;" >                                               
                                                <span>{{item}}</span>                                            
                                            </td>
                                            <td class="colwidth"  *ngFor="let item of value;let indexofelement= index;" >                                               
                                                <span>{{item}}</span>                                                
                                            </td>
                                            <td  class="colwidth">
                                                <div *ngIf="frm_delete"> <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(datarow)">Delete</a>                                            
                                                </div>
                                            </td> -->
                                        </tr>                                                                
                                </table>                                               
                        </div>                                                                            
                    </div> 
                    <div nz-row>
                        <div class="form-group"  [formGroup]="inputForm" class="margin">
                            <label class="checks" nz-checkbox formControlName="csvExport"   >Only Export to CSV</label>
                        </div>
                    </div> 
                    <div nz-row>
                        <div class="form-group"  [formGroup]="inputForm" class="margin">
                            <label class="checks" nz-checkbox formControlName="tblView"   >Table View Report</label>
                        </div>
                    </div>
                    <div nz-row>
                        <div class="item-right">
                            <button nzType="primary" class="btn btn-orange" (click)="back2adminRpt()">Back</button> 
                            <button nzType="primary" class="btn" (click)="showprompt()">Save</button> 
                            <button nzType="primary" class="btn btn-Powderblue"  (click)="ShowReport()">Preview</button>                                               
                        </div>
                    </div>
                </fieldset>
            </div>
             
        </div>      
        <div nz-row>
            <nz-modal
                nzWidth="400px"
                [nzStyle]="{top: '50px',height:'300px', overflow: 'auto' }"         
                [(nzVisible)]="isVisibleprompt"
                nzTitle= "TRACCS"
                (nzOnCancel)="handleCancelTop()"
                (nzOnOk)="SaveReport()"
            >
            <div nz-row >
                <div nz-col nzSpan="20" >
                    <div class="form-group" [formGroup]="inputForm">                
                        <input nz-input placeholder="Report Name" formControlName="RptTitle"  />                                        
                    </div>      
                </div>
            </div>
            </nz-modal>
        </div> 
    </div>
    <div>
        <nz-modal 
    
        [(nzVisible)]="isVisibleprompt_IN" 
        [nzStyle]="{top: '20px'}" 
        [nzBodyStyle]=  "bodystyleModal_IN"
        nzWidth = "300px"      
        [nzTitle]="ModalTitle" 
        (nzOnCancel)="handleCancelTop()"
        >
            <div nz-layout>                 
                <div *ngFor="let item of UserRpt_IN_list;let indexofelement= index;">
                    <label class="checks" nz-checkbox  (click) ="customfunction(item)" >
                        {{item}}
                    </label>
                </div>            
            </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" class="btn btn-orange" (click)="handleCancelTop()">Cancel</button>
                <button nz-button nzType="primary" class="btn btn-Powderblue" (click)="applyIN()" >Apply</button>
            </ng-container> 
        </div>
        </nz-modal>
    </div>
</div>
<div nz-layout *ngIf="frm_Customlayout" style="margin-top: 20px;">
    <div class="form-group" [formGroup]="inputForm"> 
        <textarea rows="15" nz-input formControlName="SQLtxt" ></textarea>
    </div>
    <div>
        <button nz-button nzType="default" class="btn btn-orange" (click)="back2adminRpt()">Cancel</button>
        <button nz-button nzType="primary"  (click)="SaveCustomScript()">Save</button>
    </div> 

</div>
<div nz-layout>
    <nz-modal 
   
    [(nzVisible)]="isVisibleRptType" 
    [nzStyle]="{top: '100px'}"     
    [nzBodyStyle]=  "bodystyleModal_RptType"
    nzWidth = "330px"      
    nzTitle="TRACCS" 
    (nzOnCancel)="back2adminRpt()">
        <div nz-layout >                                 
            <div *ngIf="RecipRptBtn">
                <div>
                    <h5 class="center">Select Whether Report/Listing is to be Standard Recipient or Custom Listing</h5>
                </div>
                <div>
                    <button nz-button nzType="default" class="largebutton" id="btn-stand-RecpRpt" (click)="View(this.id)">Recipient</button>
                </div>
            </div>   
            <div *ngIf="StaffRptBtn">
                <div>
                    <h4>Select Whether Report/Listing is to be Standard Staff or Custom Listing</h4>
                </div>
                <div>
                    <button nz-button nzType="default" class="largebutton" id="btn-stand-StaffRpt" (click)="View(this.id)">Staff</button>
                </div>
            </div>  
            <div>
                <button nz-button nzType="default" class="largebutton" id="btn-CustmRpt" (click)="View(this.id)">Custom</button>
            </div>            
        </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" class="btn btn-orange" (click)="back2adminRpt()">Cancel</button>
            <button nz-button nzType="primary" class="btn btn-Powderblue" (click)="setvalue()" >OK</button>
        </ng-container> 
    </div>
    </nz-modal>
</div>
<div nz-layout>
    <nz-modal [(nzVisible)]="isVisible"  [nzMask]="true" [nzMaskClosable]="false"
    (nzOnCancel)="handleCancelTop()" nzWidth="100%" [nzStyle]="{ top: '10px' }" [nzClosable]="false"
    [nzTitle]="tableviewmodalTitle" [nzContent]="tableviewmodalContent" [nzFooter]="tableviewmodalFooter">
    
    <ng-template #tableviewmodalTitle>
        <div nz-row>
            <div nz-col nzSpan="2" class="title">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancelTop()"></i>
            </div>
            <div nz-col nzSpan="20" class="title">
                <label> {{ModalName}}</label>
            </div>
            <div nz-col nzSpan="2" class="title">
                <i nz-icon nzType="close" nzTheme="outline" (click)="handleCancelTop()"></i>                
            </div>
        </div>
    </ng-template>
    <ng-template #tableviewmodalContent>        
        <div>            
            <div >
              <label>Group by:</label>
              <div *ngFor="let group of selectedGroupColumns; let idx = index" >
                <select [(ngModel)]="group.selectedColumn" (change)="onGroupChange()">
                  <option *ngFor="let col of headings" [value]="col">{{ col }}</option>
                </select>
                <button (click)="removeGroupColumn(idx)">Remove</button>
              </div>
              <button (click)="addGroupColumn()">Add Group Column</button>
            </div>                        
            <div >
              <label>Sort by:</label>
              <div *ngFor="let sort of sortColumns; let idx = index" >
                <select [(ngModel)]="sort.column" (change)="onSortChange()">
                  <option *ngFor="let col of headings" [value]="col">{{ col }}</option>
                </select>
                <select [(ngModel)]="sort.direction" (change)="onSortChange()">
                  <option value="ascend">Ascending</option>
                  <option value="descend">Descending</option>
                  <option value="null">None</option>
                </select>
                <button (click)="removeSortColumn(idx)">Remove</button>
              </div>
              <button (click)="addSortColumn()">Add Sort Column</button>
            </div>
            <div>
                <nz-table
              style="margin-top: 0px;"
              [nzScroll]="{ y: 'calc(100vh - 100px)', x: '100vw' }"
              nzBordered
              [nzSize]="'small'"
              [nzFrontPagination]="false"
              [nzLoading]="loading"
              [nzData]="groupedAndSortedData"
            >
              <thead>
                <tr>
                  <th *ngFor="let data of headings; let i = index" class="colheading">
                    {{ data }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let group of groupedAndSortedData">
                  <tr *ngFor="let data of group">
                    <td *ngFor="let item of headings" class="data">
                      {{ data[item] }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
                </nz-table>
            </div>                                    
        </div>                                      
    </ng-template>
    <ng-template #tableviewmodalFooter>
    </ng-template> 
</nz-modal>
</div>
<div nz-layout>
    <nz-drawer nzHeight="100vh" [nzClosable]="true" [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" [src]="tryDoctype"  width="1280" height="650"></iframe> 
        </div>
    </nz-drawer>
</div>
