<div nz-layout>

    <div  class="header">

        <div id="block0" style="display: block; width: 75vw; margin: auto;  ">
        <div class="tab-title">
            <label class="fade-in-text"> Xero Processes </label>
        </div>
        </div>
        </div>
        <div class="main-box">
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="getUrl()" >connect with Xero </button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="addEmployee()" >Add Employee</button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="postTimeSheet()" >Add Timesheet</button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="getTimeSheets()"  >Export Timesheet</button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="getpayrollCalendar()" >Show PayCalader</button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="getemployees()" >Show Employees</button>
            </div>
            <div style="height: 2pc; margin-top: 5px;">
                <button class="btn-rounded" (click)="getpayitems()" >Show payitems</button>
            </div>
            <div>
                {{data }}
            </div>
         

        </div>
    
</div>

