<div nz-row nzGutter="18">
    <div nz-col nzSpan="4">
        <p routerLink="profile" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
            Profile
        </p>
        <nz-divider></nz-divider>
        <p routerLink="accounting" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
            All History
        </p>   
        <nz-divider></nz-divider>
        <p routerLink="invoices" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
            Invoices
        </p>     
        <nz-divider></nz-divider>
        <p routerLink="receipts" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
            Receipts & Adjustments
        </p>   
    </div>
    <div nz-col nzSpan="18" >
        <router-outlet></router-outlet>
    </div>
</div>