<div nz-row class="compartment">
    <div nz-row  [formGroup]="attendanceForm" >
        <div nz-row >
            <div nz-col nzSpan="8" >
                <!-- <label style="font-weight:bold">General App Setting</label>             -->
                <h3>General App Setting</h3>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">App Verification Method </label>
            </div>
            <div nz-col nzSpan="8" class="input">
                <nz-select nzSize="default" nzShowSearch  nzAllowClear formControlName="mtaMethod"  style="width:100%">
                    <nz-option *ngFor="let list of lstapp; let i=index" [nzValue]="list" [nzLabel]="list" class="input"  ></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Pin Code if Applicable </label>
            </div>
            <div nz-col nzSpan="8" class="input">
                <input type="text" nz-input nzSize="default"  maxlength="4" formControlName="pinCode">
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Time Zone Relative to Server</label>
            </div>
            <div nz-col nzSpan="8" class="input">
                <input type="text" nz-input nzSize="default" formControlName="timeZoneOffset">
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Portal Manager if Applicable</label>
            </div>
            <div nz-col nzSpan="8" class="input" >
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="recipienT_PARENT_SITE"
                    style="width:100%">
                    <nz-option *ngFor="let list of managers" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">SMS Reminder Service</label>
            </div>
            <div nz-col nzSpan="8">

                <label nz-checkbox formControlName="smsServiceReminders"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Use Signature Verification</label>
            </div>
            <div nz-col nzSpan="8">
                <label nz-checkbox formControlName="allowRegisterSignature"></label>
            </div>
        </div>


    </div>

    
    <div nz-row  [formGroup]="attendanceForm">
       
        <div nz-row  class="row">
            <h3>Alert Threshold Notification</h3>
    
        </div>
    <div nz-row class="row" >
        <div nz-col nzSpan="6" class="layer">
            <label>Early Start Threshold: </label>

            <!-- <span>in Min</span> -->
        </div>
        <div nz-col nzSpan="8" class="input">

            <input type="text" nz-input nzSize="default" formControlName="panearlystartth">
            <!-- <span>in Min</span> -->
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TAEarlyStartTHEmail">Email Alert</label>
        </div>
    </div>
    <div nz-row class="row" >

        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TAEarlyStartTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
        </div>
    </div>


    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Late Start Threshold: </label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panLateStartTH">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TALateStartTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TALateStartTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Early Finish Threshold: </label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panEarlyFinishTH">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TAEarlyFinishTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TAEarlyFinishTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>
    
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Late Finish Threshold: </label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panlatefinishth">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TALateFinishTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TALateFinishTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Over Stay Threshold:</label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panOverStayTH">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TAOverstayTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TAOverstayTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Under Stay Threshold: </label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panUnderStayTH">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TAUnderstayTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TAUnderstayTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>No Go Threshold: </label>
        </div>
        <div nz-col nzSpan="8" class="input">
                 <input type="text" nz-input nzSize="default" formControlName="panNoWorkTH">
            <!-- <span>in Min</span> -->
        </div>
        
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Email Alert</label>
        </div>
        <div nz-col nzSpan="6" class="layer">
            <label nz-checkbox formControlName="paN_TANoWorkTHEmail"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label>Who to Email Notify</label>
        </div>
        <div nz-col nzSpan="8"  class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="paN_TANoWorkTHWho" style="width:100%">
                <nz-option *ngFor="let list of lists" [nzValue]="list" [nzLabel]="list" ></nz-option>
            </nz-select>
        </div>
    </div>




</div>