<div nz-row nzGutter="16">
  <div nz-col nzSpan="4">
    <div id="tabs-blocks" *ngFor="let tab of tabs">
      <p   routerLinkActive="active-tab" routerLink="{{tab.link}}">
        {{tab.title}}
      </p>
      <nz-divider></nz-divider>
    </div>
  </div>
  <div nz-col nzSpan="20">
    <router-outlet></router-outlet>
  </div>
</div>