<div nz-row  nzSpan="24" >
    <div nz-col nzSpan="4">
        <p routerLink="contact-admin" routerLinkActive="active-tab" >
            <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
            Next of Kin & Contacts
        </p>
        <nz-divider></nz-divider>
        <p routerLink="others-contact" routerLinkActive="active-tab" >
            <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
            Other Parties
        </p>
       
    </div>
  
    <div nz-col nzSpan="20" style="padding-left: 10px;">        
        <router-outlet></router-outlet>
      
    </div> 
</div>