<div nz-row nzGutter="18">
    <div nz-col nzSpan="4">
        <p routerLink="chspdex" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
            CHSP/DEX
        </p>
        <nz-divider></nz-divider>
        <p routerLink="qcsshac" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
            QCSS/HACC
        </p>
     
<!--         
        <p routerLink="qccsmds" routerLinkActive="active-tab">
           
            QCCS MDS
        </p>
        <nz-divider></nz-divider>
        <p routerLink="childsafety" routerLinkActive="active-tab">
            
           CHILD SAFTY
        </p>
        <nz-divider></nz-divider>
        <p routerLink="dss" routerLinkActive="active-tab">
           
            QCSS/HACC
        </p>
        <nz-divider></nz-divider>
        <p routerLink="mentalhlth" routerLinkActive="active-tab">
            
            MENTAL HEALTH
        </p>-->
    </div> 
    <div nz-col nzSpan="18" nzOffset="1">
        <router-outlet></router-outlet>
    </div>
</div>