<div nz-row>

    <!-- <div>         -->
    <!-- <button class="botton success" (click)="showAddModal()">Add Document</button> -->
    <!-- <app-upload-shared *ngIf="showUpload" [(ngModel)]="user" (reload)="reload($event)"></app-upload-shared> -->
    <!-- <app-filter [LIMIT_TABS]="FILTERS"  [(ngModel)]="filters" [tabs]="'rdocuments'" (ngModelChange)="filterChange($event)"></app-filter> -->
    <!-- </div> -->

    <div nz-col>
        <div>
            <div style="margin-left:-2px; margin-top:5px;">
                <button class="btnlevel2navy" (click)="showAddModal()">Add</button>
                <button class="btnlevel2navy" (click)="downloadFile(selectedRow)">Edit</button>
                <button class="btnlevel2orange" (nzOnConfirm)="delete(selectedRow)" nz-popconfirm nzPopconfirmPlacement="top"
                    nzPopconfirmTitle="Are you sure to delete the document?">Delete</button>
                <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
                <app-upload-shared *ngIf="showUpload" [(ngModel)]="user" (reload)="reload($event)"></app-upload-shared>
                <button class="btnlevel2orange" (nzOnConfirm)="close(1)" nz-popconfirm nzPopconfirmPlacement="top"
                    nzPopconfirmTitle="Are you sure to close the form?">CLOSE</button>
                <button class="btnlevel2navy" (click)="refresh()">Refresh</button>
            </div>
            <div>
                <div>
                    <div class="example-container" style="margin-top:5px">
                        <ul cdkDropList cdkDropListOrientation="horizontal" #todoList="cdkDropList"
                            [cdkDropListData]="dragOrigin" [cdkDropListConnectedTo]="[doneList]" class="drag-list"
                            (cdkDropListDropped)="drop($event)">

                            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                                <div>
                                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close"
                                            nzTheme="outline"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <nz-table #columnTable [nzData]="tableData" [nzScroll]="{ y : '500px', x:'800px'}" [nzShowPagination]="false"
                    [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false" [nzNoResult]="null">
                    <thead>
                        <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination"
                            [cdkDropListConnectedTo]="[todoList]">
                            <th cdkDrag [cdkDragData]="'title'" nzWidth="220px" nzLeft="0px">Document Name</th>
                            <th cdkDrag [cdkDragData]="'created'" nzWidth="120px" >Created</th>
                            <th cdkDrag [cdkDragData]="'status'" nzWidth="20px" >St</th>
                            <th cdkDrag [cdkDragData]="'careDomain'" nzWidth="70px" >Care Domain</th>
                            <th cdkDrag [cdkDragData]="'discipline'" nzWidth="70px" >Discipline</th>
                            <th cdkDrag [cdkDragData]="'program'" nzWidth="70px" >Program</th>
                            <th cdkDrag [cdkDragData]="'classification'" nzWidth="70px" >Classification</th>
                            <th cdkDrag [cdkDragData]="'category'" nzWidth="70px">Category</th>   
                            <th cdkDrag [cdkDragData]="'modified'" nzWidth="70px">Modified</th>
                            <th cdkDrag [cdkDragData]="'filename'" nzWidth="70px">Filename</th>
                            <th cdkDrag [cdkDragData]="'dCreated'" nzWidth="70px">dCreated</th>
                            <th cdkDrag [cdkDragData]="'icon'" nzWidth="20px">icon</th>
                            <!-- <th nzWidth="180px" nzRight="0px">Action</th> -->
                        </tr>

                    </thead>
                    <tbody>

                        <ng-container *ngIf="isSome(tableData)">
                            <ng-container *ngFor="let titleData of tableData; let i = index">
                                <tr style="background: #d9efff; font-weight:bold" *ngIf="!isArray(titleData)">
                                    <td colspan="11">
                                        <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key
                                            }} </p>
                                    </td>
                                </tr>

                                <ng-container *ngIf="isArray(titleData)">

                                    <tr *ngFor="let data of titleData;let i = index" [contextMenu]="basicMenu"
                                        [contextMenuSubject]="data" (dblclick)="OpenSelectedItem(data,i)"
                                        (click)="OnItemSelected(data,i)" [class.selected]="selectedRow == i">
                                        <td nzBreakWord>{{ data.title }}</td>
                                        <td nzBreakWord>{{ data.created }}</td>
                                        <td nzBreakWord>{{ data.status }}</td>
                                        <td nzBreakWord>{{ data.careDomain }}</td>
                                        <td nzBreakWord>{{ data.discipline }}</td>
                                        <td nzBreakWord>{{ data.program }}</td>
                                        
                                        <td nzBreakWord>{{ data.classification }}</td>
                                        <td nzBreakWord>{{ data.category }}</td>

                                     
                                        <td nzBreakWord>{{ data.modified }}</td>
                                        <td nzBreakWord>{{ data.filename }}</td>
                                        <td nzBreakWord>{{ data.dCreated }}</td>
                                        <td nzBreakWord>
                                            <!-- {{ data.originalLocation }} -->
                                        </td>
                                        <!-- <td nzRight="0px">
                                            <a (click)="downloadFile(i)">Download</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a (click)="viewFile(i)">View</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Delete Document?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                                        </td> -->
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="!isSome(tableData)">
                            <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn"
                                [contextMenu]="basicMenu" [contextMenuSubject]="data"
                                (dblclick)="OpenSelectedItem(data,i)" (click)="OnItemSelected(data,i)"
                                [class.selected]="selectedRow == i">
                                <td nzBreakWord>{{ data.title }}</td>
                                <td nzBreakWord>{{ data.created }}</td>
                                <td nzBreakWord>{{ data.status }}</td>
                                <td nzBreakWord>{{ data.careDomain }}</td>
                                <td nzBreakWord>{{ data.discipline }}</td>
                                <td nzBreakWord>{{ data.program }}</td>
                                
                                <td nzBreakWord>{{ data.classification }}</td>
                                <td nzBreakWord>{{ data.category }}</td>

                             
                                <td nzBreakWord>{{ data.modified }}</td>
                                <td nzBreakWord>{{ data.filename }}</td>
                                <td nzBreakWord>{{ data.dCreated }}</td>
                                <td nzBreakWord>
                                    <!-- {{ data.originalLocation }} -->
                                </td>
                                <!-- <td nzRight="0px">
                                    <a (click)="downloadFile(i)">Download</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a (click)="viewFile(i)">View</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a nz-popconfirm nzPopconfirmTitle="Delete Document?" nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="delete(data)">Delete</a>
                                </td> -->
                            </tr>
                        </ng-container>

                        <!-- <tr *ngFor="let data of columnTable.data;let i = index;trackBy: trackByFn">

                <td nzLeft="0px" nzBreakWord>{{ data.title  }}</td>
                <td nzBreakWord>{{ data.status }}</td>
                <td nzBreakWord>{{ data.classification }}</td>
                <td nzBreakWord>{{ data.category }}</td>
                <td nzBreakWord>{{ data.created   }}</td>
                <td nzBreakWord>{{ data.author }}</td>
                <td nzBreakWord>{{ data.modified  }}</td>
                <td nzBreakWord>{{ data.filename }}</td>
                <td nzBreakWord>{{ data.type }}</td>
                <td nzBreakWord>                        
                        {{ data.originalLocation }}                     
                </td>
                <td nzRight="0px">
                    <a (click)="downloadFile(i)">Download</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="viewFile(i)">View</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Delete Document?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                </td>

              </tr> -->

                    </tbody>
                </nz-table>
            </div>
        </div>

        <nz-empty *ngIf="!(tableData?.length > 0)"></nz-empty>

    </div>
</div>


<nz-modal [(nzVisible)]="addDocumentModal"  [nzWidth]="430" nzTitle="Add Document" (nzOnCancel)="handleCancel()"
[nzMask]="true" [nzMaskClosable]="false"  [nzClosable]="true">

<div  style="min-height:40rem; ">
    <div nz-row >
        <div nz-row >
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="22" >
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'document')"
                        placeholder="input search text" (change)="onTextChangeEvent($event,'document')" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
            </div>
        </div>
        <!-- <nz-divider  nzType="horizontal"></nz-divider> -->
        <div nz-row  style="margin:5px;"></div>
        <div  nz-row *ngIf="inputForm">
            <div nz-col nzSpan="22"  style="height:38rem; overflow-y:scroll; ">
                <ul style="margin-left:-15px;">
                    <li [class.active]="i == selectedIndex" *ngFor="let template of templates$ ;let i = index"
                        (click)="selectDocument(template, i)">
                        <div [class.exist]="template?.exists" [class.not-exist]="!template?.exists">
                            <i nz-icon nzType="info-circle" *ngIf="!template?.exists" nzTheme="outline"></i>
                            <i nz-icon nzType="check-circle" *ngIf="template?.exists" nzTheme="outline"></i>
                            {{ template.name }}
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div nz-row *ngIf="current == 1">
                <div nz-col nzSpan="24">
                    <label for="">Enter New Filename</label>
                    <input nz-input [ngModel]="fileObject?.newFile"
                        (ngModelChange)="fileObject?.newFile ? fileObject.newFile = $event : null" />
                </div>
            </div> -->
        </div>
    </div>
</div>

    <div *nzModalFooter style="display:flex; flex-direction:row">
        <!-- <ng-container> -->
      
            <button nz-button nzType="default"  class="btnlightblue">Print</button>
            <button nz-button nzType="default"  class="btnlightblue">Export</button>
            <div style="margin-left:80px"></div>
            <button nz-button nzType="default" (click)="addDocumentModal=false" class="btnlightorange" >Cancel</button>
            <button nz-button nzType="default" class="btnlightblue"  (click)="save()">OK</button>
      
            <!-- <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 1">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()" *ngIf="current === 1">
                <span>Done</span>
            </button> -->
        <!-- </ng-container> -->
    </div>

</nz-modal>


<nz-modal [nzWidth]="600" [(nzVisible)]="showDocProperties" nzTitle="Add New Document"
    (nzOnCancel)="showDocProperties=false" [nzMask]="true" [nzMaskClosable]="false"  [nzClosable]="true">
    <div class="flexy" style="min-height:5rem; ">
    <div [formGroup]="inputForm" style="min-width:500px; ">
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Name</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <input nz-input formControlName="title" />
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Discipline</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="discipline" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of disciplines" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Program</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="program" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of programs" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Care Domain</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="caredomain" nzAllowClear nzPlaceHolder="" style="width:100%">
                        <nz-option *ngFor="let d of caredomains" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Classification</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="classification" nzAllowClear nzPlaceHolder="Code" style="width:100%">
                        <nz-option *ngFor="let d of classifications" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="6">
                <label nzFor="">Category</label>
            </div>
            <div nz-col nzSpan="18">

                <div class="form-group">
                    <nz-select formControlName="category" nzAllowClear nzPlaceHolder="category" style="width:100%">
                        <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Reminder Date</label>
            </div>
            <div nz-col nzSpan="6">

                <div class="form-group" >
                    <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
            <div nz-col nzSpan="10" >

                <div class="form-group">
                    <label nz-checkbox formControlName="publishToApp" style="padding-left: 8px">Publish To App</label>
                </div>
            </div> 
         

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Reminder Text</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <input nz-input formControlName="reminderText" />
                </div>

            </div>

        </div>

        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6">
                <label style="font-weight: bold;">Document Notes</label>
            </div>
            <div nz-col nzSpan="18">
                <div class="form-group" >
                    <textarea rows="4" nz-input formControlName="notes"></textarea>
                </div>
            </div>
        </div>


    </div>

</div>
    <div *nzModalFooter>       

            <button nz-button nzType="default" class="btnlightblue" (click)=" save()">Save</button>
       
    </div>
</nz-modal>

<nz-modal [nzWidth]="600" [(nzVisible)]="showDocRename" [nzStyle]="topBelow" nzTitle="Rename Document - Enter New"
    (nzOnCancel)="showDocRename=false" [nzMask]="true" [nzMaskClosable]="false"  [nzClosable]="true">
    <div [formGroup]="inputForm">
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="2">
                <!-- <label nzFor="">Name</label> -->
            </div>
            <div nz-col nzSpan="16">

                <div class="form-group">
                    <input nz-input formControlName="title" />
                </div>
            </div>

        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" class="btnlightblue" (click)="showDocRename=false">
                <span>Cancel</span>
            </button>
            <button nz-button nzType="default" class="btnlightblue" (click)="rename_document()">
                <span>Continue</span>
            </button>
        </ng-container>
    </div>
</nz-modal>


<context-menu>
    <ng-template contextMenuItem let-item (execute)="showAcceptModal($event.item,1)">
        Document Properties
    </ng-template>
    <hr />
    <ng-template contextMenuItem let-item (execute)="showAcceptModal($event.item,2)">
        Rename
    </ng-template>
    <hr />
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,3)">
        Send For Docusign
    </ng-template>
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,4)">
        Email
    </ng-template>
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,5)">
        Print
    </ng-template>
    <hr />
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,6)">
        Archive
    </ng-template>
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,7)">
        UnArchive
    </ng-template>
    <!-- <ng-template contextMenuItem let-item >
      Clone Quote to this Recipient
    </ng-template>

    <ng-template contextMenuItem let-item >
        Clone Quote to another Recipient
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="showDocument($event.item)">
        Open Service Agreement
    </ng-template> -->
</context-menu>

<!--Mufeed 9 April 2024-->
<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>