ul{
    list-style:none;
}

div.divider-subs div{
    margin-top:2rem;
}

th:hover{
    cursor:pointer;
}

.selected{
    background-color: #85B9D5;
    color: white;
}
nz-table th{
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
    border: 1px solid #f3f3f3;
}

