<div nz-row style="margin-left:-2px; margin-top:5px;">
    <div  nz-col nzSpan="6">
        <!-- <button class="btnlevel2navy" (click)="showAddModal()" >Add</button> -->
        <button class="btnlevel2navy" (click)="showEditModal(activeRowData, selectedRow)" >Open</button>
        <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
        <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
        <button class="btnlevel2orange"    (nzOnConfirm)="close(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure close this reminder?">CLOSE</button>
    </div>
    <div nz-col nzSpan="14">
        <app-filter [(ngModel)]="filterParameters" (ngModelChange)="filterChange($event)" [tabs]="'rhistory'" [LIMIT_TABS]="FILTERS"></app-filter>
    </div>
    
</div>

  <div class="example-container">
        <ul
            cdkDropList
            cdkDropListOrientation="horizontal"
            #todoList="cdkDropList"
            [cdkDropListData]="dragOrigin"
            [cdkDropListConnectedTo]="[doneList]"
            class="drag-list"
            (cdkDropListDropped)="drop($event)">
            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                <div>
                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                </div>
            </li>
        </ul>
  </div>

<div nz-row>
    <div nz-col>
        <!-- <div>
            <button nz-button nzType="primary"  (click)="InitiatePrint()"><i nz-icon nzType="printer" nzTheme="outline"></i> Print History</button>           
        </div> -->
      
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="tableData" [nzScroll]="{ y : '500px' }">
            
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]" >
                    <th cdkDrag [cdkDragData]="'Date'" class="left">Date</th>
                    <th cdkDrag [cdkDragData]="'Program'">Program</th>
                    <th cdkDrag [cdkDragData]="'Event'">Event</th>
                    <th cdkDrag [cdkDragData]="'Staff'">Staff</th>
                    <th cdkDrag [cdkDragData]="'Amount'">Amount</th>
                    <th cdkDrag [cdkDragData]="'Notes'">Notes</th>
                </tr>
            </thead>

            <tbody>

                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)" style="background: #d9efff;">
                            <td colspan="6">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr  *ngFor="let data of titleData; let i=index"  
                            (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data,i);" [class.selected]="selectedRow == i">
                                <td class="left">{{ data.date  }}</td>
                                <td>{{ data.program }}</td>
                                <td>{{ data.event }}</td>
                                <td>{{ data.staff }}</td>
                                <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                                <td>{{ data.notes }}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn"
                    (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data,i);" [class.selected]="selectedRow == i">
                        <td class="left">{{ data.date  }}</td>
                        <td>{{ data.program }}</td>
                        <td>{{ data.event }}</td>
                        <td>{{ data.staff }}</td>
                        <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                        <td>{{ data.notes }}</td>
                    </tr>
                </ng-container>
            
            
               
            </tbody>
        </nz-table>

    </div>
</div>
<shiftdetail  [timeSheetVisible]="timeSheetVisible" (timesheetDone)="shiftChanged($event)" ></shiftdetail>
<!--Mufeed 9 April 2024-->
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12" style="margin:1rem auto;width:1px;" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
    </div>