<!-- <div nz-row> -->
    <!-- <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button> -->
    <!-- <nz-divider nzType="vertical"></nz-divider> -->
    <!-- <button class="botton sea" id="incidentregister" (click)="Incidentlisting()">Incident listing</button>  -->
    <!-- <app-filter [LIMIT_TABS]="FILTERS"  [(ngModel)]="filters" [tabs]="'rincidents'" (ngModelChange)="filterChange($event)"></app-filter> -->
<!-- </div> -->
<div nz-row>
    <div nz-col>
        <div>
            <div class="tableheaderactions">
                <button class="btnlevel2navy" (click)="showAddModal()" >Add</button>
                <button class="btnlevel2navy" (click)="showEditModal(activeRowData)" >Edit</button>
                <button class="btnlevel2orange"    (nzOnConfirm)="delete(activeRowData)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure, you want to delete the selected incident?">Delete</button>
                <button class="btnlevel2navy" (click)="Incidentlisting()">Print</button>
                <button class="btnlevel2orange"    (click)="close()" >Close</button>
                <button class="btnlevel2navy" (click)="refresh()" >Refresh</button>
            </div>
            <div>
                
                <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzData]="tableData" [nzScroll]="{ y : '500px' }">
                <thead>
                    <tr>
                        <th class="left">Status</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Sub Category</th>
                        <th>Description</th>
                        <!-- <th class="action">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data)" [class.selected]="selectedRow == i">
                        <td class="left">{{ data.status  }}</td>
                        <td>{{ data.date | date: 'dd/MM/y' }}</td>
                        <td>{{ data.type }}</td>
                        <td>{{ data.subCategory }}</td>
                        <td>{{ data.description || '-' }}</td>
                        <!-- <td class="left" >
                            <a (click)="showEditModal(data)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure,you want to delete this Incident?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>                            
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure, you want Close this Incident?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="closeincidentstatus(data)">Close</a>
                            
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
</div>

<app-incident-post [open]="incidentOpen" [operation]="operation" (reload)="reload($event)" [(ngModel)]="incidentRecipient"></app-incident-post>