<div nz-row nzGutter="18">
    <div nz-col nzSpan="4">
        <p routerLink="branches" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
            Branches
        </p>
        <nz-divider></nz-divider>
        <p routerLink="funding" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
            Funding
        </p>
        <!-- <nz-divider></nz-divider>
        <p routerLink="goals" routerLinkActive="active-tab">
           <i nz-icon nzType="flag" nzTheme="outline"></i> 
            Goals
        </p> -->
        <nz-divider></nz-divider>
        <p routerLink="plans" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="audit" nzTheme="outline"></i> -->
            Plans
        </p>
        <nz-divider></nz-divider>
        <p routerLink="service-plans" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="audit" nzTheme="outline"></i> -->
            Service Plans
        </p>
        <nz-divider></nz-divider>
        <p routerLink="services" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="solution" nzTheme="outline"></i> -->
            Services
        </p>
        <nz-divider></nz-divider>
        <p routerLink="placements" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="user-add" nzTheme="outline"></i> -->
            Placements
        </p>
        <nz-divider></nz-divider>
        <p routerLink="staff" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="user-add" nzTheme="outline"></i> -->
            Excluded Staff
        </p>
        <nz-divider></nz-divider>
        <p routerLink="pref-staff" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="user-add" nzTheme="outline"></i> -->
            Preferred Staff
        </p>
        <!-- <nz-divider></nz-divider>
        <p routerLink="alerts" routerLinkActive="active-tab">
           <i nz-icon nzType="alert" nzTheme="outline"></i> 
            Alerts
        </p> -->
        <nz-divider></nz-divider>
        <p routerLink="competencies" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="user-add" nzTheme="outline"></i> -->
            Competencies
        </p>
        <nz-divider></nz-divider>
        <p routerLink="consents" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="eye" nzTheme="outline"></i> -->
            Consents
        </p>
        <nz-divider></nz-divider>
        <p routerLink="groups" routerLinkActive="active-tab">
            <!-- <i nz-icon nzType="usergroup-add" nzTheme="outline"></i> -->
            Groups & Alerts
        </p>
    </div>
    <div nz-col nzSpan="20" >
        <router-outlet></router-outlet>
    </div>
</div>