<div nz-row>
    <div nz-col nzSpan="24">
        <!-- <button class="botton success" (click)="showAddModal()">Add Plan</button> -->
        <label for="">Goods and Equipments On Loan To This Recipient </label>
        <div style="display:flex; flex-direction: row; margin:10px 0px 10px -2px; ">
           
            <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                (click)="showEditModal(selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
            <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
            <button class="btnlevel2orange" (click)="close()">close</button>
        </div>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="tableData" style="width:100%" [nzScroll]="{ y : '500px' }">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Name</th>
                    <th width="10%">Date Loaned</th>
                    <th width="10%">Collected</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"
                    (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(i)" [class.selected]="i==selectedRowIndex">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.name}}</td>
                    <td width="10%">{{ data.dateLoaned | date:'dd/MM/yyyy' }}</td>
                    <td width="10%">{{ data.collected | date:'dd/MM/yyyy'}}</td>

                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="modalOpen" nzTitle="Select Loan Type "
    (nzOnCancel)="modalOpen = false">
    <div class="flexy" style="min-height:45rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">

            </div>
            <div nz-row nzGutter="8" class="rectangle">


                <div class="form-group" nz-col nzSpan="24">

                    <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                        [nzBordered]="true" [nzScroll]="{y: '66vh' }" [nzFrontPagination]="false" [nzData]="alist">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="15%">Loan Type</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of alist;let i = index;" (click)="selectService(data,i);"
                                (dblclick)="AllocatePlan(data, i)" >
                                <td style="width:600px">{{data.title}}</td>

                            </tr>
                        </tbody>
                    </nz-table>


                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="AllocatePlan(selectedServiceAgreement,selectedRowIndex)">OK</button>
        <button nz-button nzType="default" (click)="modalOpen=false">Cancel</button>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="OpenAddModel" [nzTitle]="'Add Change Loan Details'" [nzWidth]="700"
    (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Type</label>  
            </div>
            <div nz-col nzSpan="16">
                <nz-select formControlName="Type" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width:100%">
                    <nz-option *ngFor="let d of alist2" [nzValue]="d.title" [nzLabel]="d.title">
                    </nz-option>
                </nz-select>

            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Item ID</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="ItemID" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="12" >
                <div nz-col nzSpan="10" class="layer">
                    <label for="">Loan Date</label>
                </div>
                <div nz-col nzSpan="10" class="input" >
                    <nz-date-picker formControlName="loanDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
               
            </div>
            <div nz-col nzSpan="12" >
                <div nz-col nzSpan="8" style="margin-top:-10px">
                    <label for="">Installed</label>
                </div>
                <div nz-col nzSpan="10" class="input">
                    <!-- <label nz-checkbox formControlName="chkLoanDate"></label> -->
                    <nz-date-picker formControlName="installed" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="10" class="layer">
                    <label for="">Collected</label>
                </div>
                <div nz-col nzSpan="10" class="input">
                      <!-- <label nz-checkbox formControlName="chkLoanDate"></label> -->
                    <nz-date-picker formControlName="collectionDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
          
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Program</label>  
            </div>
            <div nz-col nzSpan="16">
                <nz-select  nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false" style="width:100%">
                    <nz-option *ngFor="let d of lstprograms" [nzValue]="d" [nzLabel]="d">
                    </nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Equip. Code</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="EquipmentCode" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Serial No</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="SerialNo" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Purch. Date</label>
            </div>
            <div nz-col nzSpan="16">
                <nz-date-picker formControlName="purchaseDate" [nzFormat]="dateFormat"></nz-date-picker>
                <!-- <input nz-input formControlName="PurchDate" style="width:100%" /> -->
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Purchase $</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="PurchaseAmount" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Lockbox Loc.</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="lockboxLoc" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Lockbox Code</label>
            </div>
            <div nz-col nzSpan="16">

                <input nz-input formControlName="lockboxCode" style="width:100%" />
            </div>
        </div>
        <div nz-row nzSpan="24">
            <div nz-col nzSpan="5">
                <label for="">Notes</label>
            </div>
            <div nz-col nzSpan="16">
                <textarea rows="4" nz-input formControlName="notes" style="width:100%" ></textarea>
            </div>
        </div>  
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>