<!-- <div nz-row> -->
    <!-- <button class="botton success" (click)="showAddModal()">Add OP Note</button> -->
    <!-- <button nz-button nzType="primary" [nzLoading]="printLoad" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i></button> -->

    <!-- <app-filter [LIMIT_TABS]="FILTERS"  [(ngModel)]="filters" [tabs]="'ropnote'" (ngModelChange)="filterChange($event)"></app-filter> -->
<!-- </div> -->



<div nz-row>
    <div nz-col>
        <div>
            <div class="tableheaderactions">
                <button class="btnlevel2navy" (click)="showAddModal()" >Add</button>
                <button class="btnlevel2navy" (click)="showEditModal(activeRowData,48)" >Edit</button>
                <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this record?">Delete</button>
                <button class="btnlevel2navy" (click)="showmodal()" >Print</button>
                <!-- <button class="btnlevel2navy" (click)="print()">Print</button> -->
                <!-- <app-upload-shared *ngIf="showUpload" [(ngModel)]="user" (reload)="reload($event)"></app-upload-shared> -->
                <!-- <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">CLOSE</button> -->
                <!-- <button class="btnlevel2navy" (click)="refresh()" >Refresh</button> -->
            </div>
            <div nz-row>
                <div class="example-container">
                    <ul
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        #todoList="cdkDropList"
                        [cdkDropListData]="dragOrigin"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="drag-list"
                        (cdkDropListDropped)="drop($event)">
                        <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                            <div>
                                {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>

        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" style="height:55vh;" [nzScroll]="{ y : '500px' }" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th nzWidth="70%" cdkDrag [cdkDragData]="'detail'" >Details</th>
                    <th nzWidth="15%" cdkDrag [cdkDragData]="'detailDate'">Detail Date</th>
                    <th nzWidth="15%" cdkDrag [cdkDragData]="'creator'">Creator </th>
                    <th><th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.detail | getTextFromHtml  }}</td>
                    <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.creator || '-' | uppercase  }}</td>
                    <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)">Delete</a>
                    </td>
                </tr> -->

                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn">
                                <td class="left">{{ data.detail | getTextFromHtml  }}</td>
                                <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.creator || '-' | uppercase }}</td>
                                <!-- <td>
                                    <a (click)="showEditModal(i)">Update</a>
                                </td> -->
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data,i);"  [class.selected]="i==selectedRow" >
                        <td class="left">
                            {{ data.detail | getTextFromHtml  }}
                        </td>
                        <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.creator || '-' | uppercase }}</td>
                        <!-- <td>
                            <a (click)="showEditModal(i)">Update</a>
                        </td> -->
                    </tr>
                </ng-container>

            </tbody>
        </nz-table>
        </div>
        </div>
    </div>
</div>

<!--<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="addOrEdit == 1 ? 'Add OP Note' : 'Edit Case Note'" (nzOnCancel)="handleCancel()" nzWidth="800"-->
<nz-modal [(nzVisible)]="modalOpen" nzWidth="960" [nzTitle]="addOrEdit == 1 ? 'Add OP Note' : 'Edit OP Note'" (nzOnCancel)="handleCancel()"
    [nzStyle]="{ top: '20px' }">
    <div nz-row [formGroup]="caseFormGroup" nzGutter="16">
        <div nz-col nzSpan="7" [formGroup]="caseFormGroup">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Category</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="category" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of dlist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Program</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of alist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Discipline</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="discipline" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of blist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Care Domain</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="careDomain" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of clist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-col nzSpan="17">
            <div nz-row nzGutter="32" [formGroup]="caseFormGroup">
                <div nz-col nzSpan="12" class="form-group">
                    <label for="">Reminder Date</label>
                    <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="12" class="form-group">
                    <label formControlName="publishToApp" class="chk" nz-checkbox>Publish To Mobile App</label>
                </div>
            </div>
            <div nz-row>
                <div class="form-group" [formGroup]="caseFormGroup">
                    <nz-radio-group formControlName="restrictionsStr">
                        <label nz-radio nzValue="public">Public</label>
                        <label nz-radio nzValue="workgroup">Workgroup Only</label>
                        <label nz-radio nzValue="restrict">Restrict To</label>
                    </nz-radio-group>
                </div>
            </div>
            <div nz-row class="overflow-list" *ngIf="caseFormGroup.get('restrictionsStr').value == 'restrict'">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
                    <div nz-row *ngFor="let list of mlist; let i = index">
                        <div class="chkboxes" nz-col nzOffset="2" nzSpan="22">
                            <label nz-checkbox [nzValue]="list.name" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.name }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div nz-row [formGroup]="caseFormGroup">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
                        <!-- <textarea rows="4" nz-input formControlName="notes"></textarea> -->
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>

<!--Mufeed 10 April 2024-->
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
</div>
<!--Mufeed 11 April 2024-->
<nz-modal
    nzWidth="600px"
    [nzStyle]="{ top: '0px' }"
    [nzBodyStyle]=  "bodystyle"
    [(nzVisible)]="isVisibleTop"
    nzTitle="Traccs"
    (nzOnCancel)="handleCancelTop()"
    (nzOnOk)="InitiatePrint()"
    nzOkText="Print">
    <div nz-row >
        <div nz-col nzSpan="20">
            <label><i nz-icon nzType="calendar" nzTheme="outline"></i> Date </label>
            <nz-date-picker [(ngModel)]="startdate" nzPlaceHolder = "Start Date" [nzFormat]="dateFormat" ></nz-date-picker>
                <nz-date-picker [(ngModel)]="enddate" nzPlaceHolder= "End Date" [nzFormat]="dateFormat" ></nz-date-picker>                                 
        </div>
    </div>
    <div nz-row [formGroup]="inputForm">
        <div nz-col nzSpan="20">
         <nz-select formControlName="orderArr">
            <nz-option *ngFor="let option of orderArr" [nzLabel]="option" [nzValue]="option"></nz-option>            
        </nz-select>
        </div>
    </div>
    
    </nz-modal>