<div nz-row>
    <div nz-col class="mrg-btm">
        <!-- <button class="botton success" (click)="save()" [disabled]="!othersForm?.dirty">Save Changes</button>            -->
        <label style="font-size:16px; font-weight:bold; font-family:'Segoe UI'">Administration and Other Info</label>
    </div>
</div>
<div nz-row [formGroup]="othersForm">   

    <!-- <nz-divider nzText="General Activation Information" nzOrientation="left"></nz-divider> -->

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Record Type </label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="type" nzSize="default" style="width:100%">
                <nz-option *ngFor="let type of types" [nzValue]="type" [nzLabel]="type"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Company/Organisation</label>
        </div>
        <div nz-col nzSpan="8" >
            <label nz-checkbox formControlName="companyFlag"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Autocreate Rosters</label>
        </div>
        <div nz-col nzSpan="8" >
            <label nz-checkbox formControlName="acceptsReferrals"></label>
        </div>
    </div>
    

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Generates Referrals </label>
        </div>
        <div nz-col nzSpan="8" >
            <label nz-checkbox formControlName="generatesReferrals"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Exclude from Rosters </label>
        </div>
        <div nz-col nzSpan="8" >
            <label nz-checkbox formControlName="excludeFromRosterCopy"></label>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Main Support Worker </label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="mainSupportWorker" readonly nz-input nzSize="default" readonly>
           
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Admitting Branch </label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="branch" nzSize="default" style="width:100%">
                <nz-option *ngFor="let branch of branches" [nzValue]="branch" [nzLabel]="branch"></nz-option>
            </nz-select>
        </div>
    </div>
       
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Coordinator</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="recipient_Coordinator" nzSize="default" style="width:100%">
                <nz-option *ngFor="let case of casemanagers" [nzValue]="case" [nzLabel]="case"></nz-option>
            </nz-select>
        </div>
    </div>
   
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Last Activated </label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="admissionDate" nz-input nzSize="default" readonly>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Last Activated by</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="admittedBy" nz-input nzSize="default" readonly>
           
        </div>
    </div>
    

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Last Deactived</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="dischargeDate" nz-input nzSize="default" readonly>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Last Deactivated by</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="dischargedBy" nz-input nzSize="default" readonly>
        </div>
    </div>

    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Occupation</label>
        </div>
        <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="occupation" nzSize="default" style="width:100%">
                <nz-option [nzLabel]="occupationDefault" [nzValue]="occupationDefault"></nz-option>
            </nz-select>
        </div>
    </div>
    
    <div nz-row class="row">
        <div nz-col nzSpan="6" class="layer">
            <label for="">Financial Classification</label>
        </div>
        <div nz-col nzSpan="8" class="input">
           
            <nz-select formControlName="financialClass" nzSize="default" style="width:100%">
                <nz-option *ngFor="let d of lstFinancialClass" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </div>
    </div>
    
        <!-- <div nz-row nz-col>   
            <h3>General De-Activation Information</h3>
        </div> -->

     
<!-- 
    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Roster Alerts: </span>
            <label nz-checkbox formControlName="acceptsReferrals"></label>
        </div>
    </div>

    <div nz-row [formGroup]="othersForm">
        <div nz-col nzSpan="12" class="layer2">
            <span>Generates Referrals: </span>
            <label nz-checkbox formControlName="generatesReferrals"></label>
        </div>
    </div> -->


</div>