<div nz-row>
    <div nz-col>
        <div class="tableheaderactions">
           
            <button class="btnlevel2navy" (click)="showEditModal(activeRowData,selectedRowIndex)" >Open</button>
            <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
         </div>
         <div nz-row>
            <div class="example-container">
                <ul
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #todoList="cdkDropList"
                    [cdkDropListData]="dragOrigin"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="drag-list"
                    (cdkDropListDropped)="drop($event)">
                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                        <div>
                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData" [nzScroll]="{ y : '500px' }">
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'Start Time'" >Start Time</th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'Duration'">Duration</th>
                    <th nzWidth="20%" cdkDrag [cdkDragData]="'Activity'">Activity </th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'Staff'">Staff </th>
                    <th nzWidth="20%" cdkDrag [cdkDragData]="'Program'">Program </th>
                    <th nzWidth="20%" cdkDrag [cdkDragData]="'Dataset Type'">Dataset Type </th>
                    <th nzWidth="10%" cdkDrag [cdkDragData]="'Service Cost'">Service Cost </th>
                </tr>
            </thead>
            <!-- <thead>
                <tr>
                <th class="left">Start Time</th>
                <th>Duration</th>
                <th>Activity</th>
                <th>Staff/Location</th>
                <th>Program</th>
                <th>Dataset Type</th>
                <th>Service Cost</th>
                </tr>
            </thead> -->
            <tbody>
                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)" style="background: #d9efff;">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr *ngFor="let data of titleData;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex"
                        (click)="selectData(data, i)" (dblclick)="showEditModal(data,i)" >
                            <td class="left">{{ data.startTime  }}</td>
                            <td>{{ data.duration }}</td>
                            <td>{{ data.activity }}</td>
                            <td>{{ data.staffLocation }}</td>
                            <td>{{ data.program }}</td>
                            <td>{{ data.dataSet }}</td>
                            <td>{{ data.serviceCost }}</td>
                        </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex"
                (click)="selectData(data, i)" (dblclick)="showEditModal(data,i)">
                    <td class="left">{{ data.startTime  }}</td>
                    <td>{{ data.duration }}</td>
                    <td>{{ data.activity }}</td>
                    <td>{{ data.staffLocation }}</td>
                    <td>{{ data.program }}</td>
                    <td>{{ data.dataSet }}</td>
                    <td>{{ data.serviceCost }}</td>
                </tr>
                </ng-container>

               
            </tbody>
        </nz-table>
    </div>
</div>
<shiftdetail  [timeSheetVisible]="timeSheetVisible" (timesheetDone)="shiftChanged($event)" ></shiftdetail>
<!--Mufeed 10 April 2024-->
<div>    
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
    </div>