<div nz-row>
    <div nz-col nzSpan="12">
        <div>
            <div style="display:flex; flex-direction: row; margin-top:5px; margin-left:-2px; ">

                <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   "
                    (click)="openBudgetModal()">Add</button>
                <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                    (click)="updateQuoteModal(activeRowData)">Edit</button>
                <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="delBudget(activeRowData)">Archive</button>
                <button class="btnlevel2navy" (click)="print()">Print</button>
                <!-- <button class="btnlevel2navy" (click)="ImportData()">Import</button> -->
                <button class="btnlevel2orange" style="margin: left 50px;" (click)="signingStatus()">Signing
                    Status</button>
                <button class="btnlevel2navy" (click)="Refresh()">Refresh</button>
                <button class="btnlevel2navy" (click)="Filters()">Filters</button>
            </div>

            <!-- <button class="botton success" style="margin-right: 5px;" (click)="openBudgetModal()">Add Quote</button>
            <button nz-button nzType="primary" [nzLoading]="printLoad" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i> Print Quote</button>-->
        </div>

    </div>
    <div div nz-col nzSpan="1" ></div>
    <div div nz-col nzSpan="11" *ngIf="showFilters">
        <app-filter [(ngModel)]="filters" [LIMIT_TABS]="LIMIT_TABS" (ngModelChange)="filterChange($event)"></app-filter>
    </div>
</div>

<div nz-row>

    <div>
        <ul cdkDropList cdkDropListOrientation="horizontal" #todoList="cdkDropList" [cdkDropListData]="dragOrigin"
            [cdkDropListConnectedTo]="[doneList]" class="drag-list" (cdkDropListDropped)="drop($event)">
            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                <div>
                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                </div>
            </li>
        </ul>
    </div>

    <div nz-col>
        <div *ngIf="loadingQuote" class="loading-overlay">
            <nz-spin [nzTip]="'Loading... Please wait'"></nz-spin>
        </div>
        <!-- <span nz-icon nzType="fullscreen" nzTheme="outline" [class.selected]="viewTree" (click)="viewTree=!viewTree"></span> -->
        <nz-table #basicTable [nzLoading]="loading" [nzShowPagination]="false" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="tableData" [nzScroll]="{ y : '500px' }">
            <thead>
                <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination"
                    [cdkDropListConnectedTo]="[todoList]">
                    <th cdkDrag [cdkDragData]="'quoteNumber'">Quote#</th>
                    <th cdkDrag [cdkDragData]="'carePlan'">Name/Description</th>
                    <th cdkDrag [cdkDragData]="'planType'">Quote Type</th>
                    <th cdkDrag [cdkDragData]="'st'">St</th>
                    <th cdkDrag [cdkDragData]="'startDate'">Valid From</th>
                    <th cdkDrag [cdkDragData]="'endDate'">Valid To</th>
                    <th cdkDrag [cdkDragData]="'created'">Created</th>
                    <th cdkDrag [cdkDragData]="'modified'">Modified</th>
                    <th cdkDrag [cdkDragData]="'filename'">Related Careplan</th>
                    <!--<th></th> -->
                </tr>
            </thead>
            <tbody>

                <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr style="background: #d9efff; font-weight:bold" *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>

                        <ng-container *ngIf="isArray(titleData)" >
                            <tr *ngFor="let data of titleData ; let i=index" (click)="selectData(data,i)"
                                (dblclick)="updateQuoteModal(data)"
                                [class.selected]="i==selectedRowIndex && data==activeRowData">
                                <td class="left">{{ data.quoteNumber }}</td>
                                <td>{{ data.carePlan }}</td>
                                <td>{{ data.planType }}</td>
                                <td>{{ data.st }}</td>
                                <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.created }}</td>
                                <td>{{ data.modified }}</td>
                                <td>{{ data.filename }}</td>
                                <!--<td>
                                <a (click)="selectData(data)">Update</a>
                            </td>-->
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!-- [contextMenu]="basicMenu" [contextMenuSubject]="data"  -->
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index; "
                        (contextmenu)="contextMenu($event, menu, data)" [class.selected]="i==selectedRowIndex"
                        (click)="selectData(data, i)" (dblclick)="updateQuoteModal(data)">
                        <td class="left">{{ data.quoteNumber }}</td>
                        <td>{{ data.carePlan }}</td>
                        <td>{{ data.planType }}</td>
                        <td>{{ data.st }}</td>
                        <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.created }}</td>
                        <td>{{ data.modified }}</td>
                        <td>{{ data.filename }}</td>
                        <!--   <td>
                        <a (click)="updateQuoteModal(data)">Update</a>
                    </td> -->
                    </tr>
                </ng-container>

                <!-- <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" [contextMenu]="basicMenu" [contextMenuSubject]="data" >
                <td class="left">{{ data.quoteNumber  }}</td>
                <td>{{ data.carePlan }}</td>
                <td>{{ data.planType }}</td>
                <td>{{ data.st }}</td>
                <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                <td>{{ data.endDate | date: 'dd/MM/y' }}</td>
                <td>{{ data.created }}</td>
                <td>{{ data.modified }}</td>
                <td>{{ data.filename }}</td>
                <td>
                    <a (click)="updateQuoteModal(data)">Update</a>
                </td>
            </tr> -->
            </tbody>
        </nz-table>
    </div>
</div>


<app-add-quote [open]="newQuoteModal" [user]="user" [option]="option" [record]="record" 
    (refresh)="refreshQuote($event)"></app-add-quote>

<!-- <context-menu>
    <ng-template contextMenuItem (execute)="showAcceptModal($event.item,1)">
      Accept Budget
    </ng-template>
    <ng-template contextMenuItem let-item>
        Clone Budget 
        <ng-template contextMenuSubmenu   [menu]="cloneSubMenu">
        
        </ng-template>
    </ng-template>
    
    
    <ng-template contextMenuItem let-item (execute)="showDocument($event.item)">
        Open Service Agreement
    </ng-template>
    
</context-menu>
<ng-template #cloneSubMenu let-item="item" let-index="index">
    <ng-template contextMenuItem (execute)="cloneBudget(item,1)">
        To this Recipient
    </ng-template>
    <ng-template contextMenuItem (execute)="cloneBudget(item,2)">
        To another Recipient
    </ng-template>
</ng-template> -->

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu [nzMode]="'vertical'">
        <li nz-menu-item (click)="showAcceptModal($event,1)"> Accept Budget</li>
        <li nz-menu-divider></li>

        <li nz-menu>
            <ul nz-submenu nzTitle="Clone Budget">
                <li nz-menu-item nzSelected (click)="cloneBudget($event,1)"> To this Recipient</li>
                <li nz-menu-item (click)="cloneBudget($event,2)">To another Recipient</li>
            </ul>
        </li>
        <li nz-menu-item (click)="OpenServiceAgreement($event,4)">Open Service Agreement</li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="sendDocusignEnvelope(4)"> Send Agreement for Electronic Signing</li>
    </ul>
</nz-dropdown-menu>
<nz-modal [(nzVisible)]="inActiveOpen" [nzWidth]="850" [nzStyle]="{ top: '20px' }"
    [nzTitle]="'Auto Roster Creation - Date Selection'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div nz-row nzGutter="16">
        <div nz-row class="form-group" [formGroup]="inActiveForm">
            <label for="">Time Period</label>
            <nz-range-picker formControlName="timePeriod"></nz-range-picker>
        </div>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="activeOpen" [nzWidth]="850" [nzStyle]="{ top: '20px' }"
    [nzTitle]="'Fee and Price Update Options'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMask]="true"
    [nzMaskClosable]="false" [nzClosable]="true">
    <div nz-row nzGutter="16">
        <div nz-row>
            <div nz-col nzSpan="12" [formGroup]="activeForm">
                <h3>For The Master Roster</h3>
                <div class="form-group">
                    <label nz-checkbox formControlName="aUpdateActivities">Update prices for existing activities</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="aUpdateApplicable">Update/recalculate fees if applicable</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="aCreateBookings">Auto Create Master Roster Bookings</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="aDeleteActivities">Delete Existing Activities</label>
                </div>
            </div>

            <div nz-col nzSpan="12" [formGroup]="activeForm">
                <h3>For Existing Roster</h3>
                <div class="form-group">
                    <label nz-checkbox formControlName="bUpdateActivities">Update prices for existing activities</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="bUpdateApplicable">Update/recalculate fees if applicable</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="bCreateBookings">Auto Create Master Roster Bookings</label>
                </div>
                <div class="form-group">
                    <label nz-checkbox formControlName="bDeleteActivities">Delete Existing Activities</label>
                </div>
            </div>
        </div>
        <div nz-row class="form-group" [formGroup]="activeForm">
            <label for="">Time Period</label>
            <nz-range-picker formControlName="timePeriod"></nz-range-picker>
        </div>
    </div>
</nz-modal>

<!-- ADMIT -->
`<app-recipients-options [open]="recipientOptionOpen" [option]="recipientOption" [user]="user" [from]="from"
    [program]="program"></app-recipients-options>


<!-- <nz-modal [(nzVisible)]="admitOpen" [nzWidth]="800" [nzTitle]="Admission Wizard" (nzOnCancel)="handleCancel()">
    
    <div nz-row *ngIf="admitOpen">
        <div class="flexy">        
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Admission" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Notifications" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Followups" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Documents" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Additional Data" nzDescription=""></nz-step>
            </nz-steps>
            
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
            
            <div class="steps-content">
                <div nz-row *ngIf="current == 0" [formGroup]="admitGroup">
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzBodyStyle]="{'padding':'5px'}">
                            <div style="height: 10rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                                <nz-radio-group formControlName="programChecked">
                                    <label nz-radio *ngFor="let program of admitGroup.get('programs').value;let i = index" [nzValue]="program">{{ admitGroup.get('programs')['controls'][i].value.program }}</label>
                                </nz-radio-group>
                            </div>
                            <nz-spin nzSimple *ngIf="loadPrograms" [nzSize]="'small'"></nz-spin>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzBodyStyle]="{'padding':'5px'}">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="8">
                                    <label>Admission Type</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <nz-select formControlName="admisointype" nzAllowClear>
                                        <nz-option *ngFor="let admissionActivity of admissionActiviType" [nzValue]="admissionActivity" [nzLabel]="admissionActivity"></nz-option>
                                    </nz-select>
                                </div>
                            </div>    
                        </nz-card>
                    </div>  
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzBodyStyle]="{'padding':'5px'}">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="8">
                                    <label>Admission Date</label>
                                    <nz-date-picker formControlName="admissionDate"></nz-date-picker>
                                </div>
                                <div nz-col nzSpan="8" style="padding-right: 5px;">
                                    <label>Time</label>
                                    <nz-time-picker formControlName="time" nzFormat="HH:mm"></nz-time-picker>
                                </div>
                                <div nz-col nzSpan="8">
                                    <label>Time Spent</label>
                                    <nz-time-picker formControlName="timeSpent"  nzFormat="HH:mm"></nz-time-picker>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzBodyStyle]="{'padding':'5px'}">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="6">
                                    <label class="space-top-3">Note Type</label>
                                    <nz-radio-group formControlName="radioGroup" class="space-top">
                                        <label nz-radio [nzValue]="'case'">CASE NOTE</label>
                                        <label nz-radio [nzValue]="'op'">OP NOTE</label>
                                        <label nz-radio [nzValue]="'clinical'">CLINICAL NOTE</label>
                                    </nz-radio-group>
                                </div>
                                <div nz-col nzSpan="18">
                                    <label>CASE NOTE</label>
                                    <textarea rows="2" nz-input formControlName="notes" style="resize:none;height:10rem;" ></textarea>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="14">
                                    <div class="form-group">
                                        <nz-select formControlName="caseCategory" nzAllowClear>
                                            <nz-option [nzValue]="'ADMISSION'" [nzLabel]="'ADMISSION'"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" class="text-center">
                                    <div class="form-group">
                                        <label nz-checkbox formControlName="adminsssion" [nzDisabled]="admission"> Public To Mobile App </label>
                                    </div>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                    <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzBodyStyle]="{'padding':'5px'}">
                            <div nz-col nzSpan="24" class="mrg-btm-half">
                                <div nz-col nzSpan="8" class="">
                                    <div class="form-group">
                                        <label>TRACCS Reminder To</label>
                                        <nz-select formControlName="reminderTo" nzAllowClear style="width:8rem">
                                            <nz-option *ngFor="let data of remindersRecipientArray"  [nzValue]="data" [nzLabel]="data"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" class="text-center">
                                    <div class="form-group space-top">
                                        <label nz-checkbox formControlName="multipleStaff"> multipleStaff </label>
                                    </div>  
                                </div>
                                <div nz-col nzSpan="8" class="">
                                    <div class="form-group">
                                        <label> Reminder Date </label>
                                        <nz-date-picker formControlName="reminderDate" [nzPlaceHolder]="'Reminder Date'"></nz-date-picker>
                                    </div>  
                                </div>
                            </div>
                            <div nz-col nzSpan="24" class="mrg-btm-half">
                                <div nz-col nzSpan="16" class="">
                                    <div class="form-group">
                                        <label>Email Notification To</label>
                                        <nz-select formControlName="reminderTo" nzAllowClear style="width:8rem">
                                            <nz-option *ngFor="let data of remindersRecipientArray"  [nzValue]="data" [nzLabel]="data"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" class="text-center">
                                    <div class="form-group space-top">
                                        <label nz-checkbox formControlName="publishToApp" > multipleStaff </label>
                                    </div>  
                                </div>
                            </div>
                        </nz-card>
                    </div>                
                </div>
                <div nz-row *ngIf="current == 1">
                    <div [formGroup]="admitGroup">
                        <div class="form-group">  
                            <label for="">Notifications</label>
                            <nz-checkbox-group [(ngModel)]="notifCheckBoxes" (ngModelChange)="notif(notifCheckBoxes)"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        </div>
                        
                    </div>
                </div>
                
                <div nz-row *ngIf="current == 2">
                    <div [formGroup]="admitGroup">
                        <div class="form-group">
                            <label for="">Followup</label>
                            <nz-checkbox-group [(ngModel)]="notifFollowUpGroup" (ngModelChange)="followup(notifFollowUpGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        </div>
                    </div>
                </div>
                
                <div nz-row *ngIf="current == 3">
                    <div [formGroup]="admitGroup">
                        <div class="form-group">
                            <label for="">Documents</label>
                            <nz-checkbox-group [(ngModel)]="notifDocumentsGroup" (ngModelChange)="doc(notifDocumentsGroup)" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                        </div>
                    </div>
                </div>
                
                <div nz-row *ngIf="current == 4">
                    <div [formGroup]="admitGroup">
                        <div class="form-group">
                            <label for="">Data List</label>
                            <div *ngFor="let l of datalist"> 
                                <a [href]="l.link" target="_blank">{{l.form}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 4" [disabled]="!canGoNext">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" (click)="done()" [disabled]="!canBeDone">
                <span>Done</span>
            </button>
        </ng-container>
    </div>
</nz-modal> -->
<!-- end Admit -->
<nz-modal [(nzVisible)]="quotesOpen" [nzWidth]="1340" [nzStyle]="{ top: '20px' }" [nzTitle]="title"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div nz-row nzGutter="16">

        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
            <nz-tab nzTitle="General" (nzClick)="tabFindChange(0)"> </nz-tab>
            <nz-tab nzTitle="Goals & Strategies" (nzClick)="tabFindChange(1)"> </nz-tab>
            <nz-tab nzTitle="Quote" (nzClick)="tabFindChange(2)"></nz-tab>
            <nz-tab nzTitle="Supplements" (nzClick)="tabFindChange(3)" *ngIf="IS_CDC"></nz-tab>
        </nz-tabset>

        <div nzGutter="16">
            <div *ngIf="tabFindIndex == 0" [formGroup]="quoteGeneralForm">
                <div nz-row nzGutter="32" class="line">
                    <div nz-col nzSpan="12" nzOffset="6">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="10">
                                <div nz-col nzSpan="10" class="text-right pad-r-5">
                                    <label nzFor="ID">ID:</label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <div class="form-group">
                                        <input nz-input formControlName="id" nzSize="small" />
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="ID">Plan Type:</label>
                                </div>
                                <div nz-col nzSpan="16">
                                    <div class="form-group">
                                        <nz-select nzSize="small" formControlName="planType" nzAllowClear nzShowSearch>
                                            <nz-option *ngFor="let c of quotePlanType" [nzValue]="c"
                                                [nzLabel]="c"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Name">Name:</label>
                                </div>
                                <div nz-col nzSpan="20">
                                    <div class="form-group">
                                        <input nz-input formControlName="name" nzSize="small" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-row nzGutter="32" class="line">
                    <div nz-col nzSpan="12" nzOffset="6">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Care Domain">Care Domain:</label>
                                </div>
                                <div nz-col nzSpan="20">
                                    <div class="form-group">
                                        <nz-select nzSize="small" formControlName="careDomain" nzAllowClear
                                            nzShowSearch>
                                            <nz-option *ngFor="let c of careDomainList" [nzValue]="c"
                                                [nzLabel]="c"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Discipline">Discipline:</label>
                                </div>
                                <div nz-col nzSpan="20">
                                    <div class="form-group">
                                        <nz-select nzSize="small" formControlName="discipline" nzAllowClear
                                            nzShowSearch>
                                            <nz-option *ngFor="let d of disciplineList" [nzValue]="d"
                                                [nzLabel]="d"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Program">Program:</label>
                                </div>
                                <div nz-col nzSpan="20">
                                    <div class="form-group">
                                        <nz-select nzSize="small" formControlName="program" nzAllowClear nzShowSearch>
                                            <nz-option *ngFor="let list of programList" [nzValue]="list"
                                                [nzLabel]="list"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-row nzGutter="32" class="line">
                    <div nz-col nzSpan="12" nzOffset="6">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4">
                                    <div class="form-group" class="text-right pad-r-5">
                                        <label>Start Date:</label>
                                    </div>
                                </div>
                                <div nz-col nzSpan="4">
                                    <div class="form-group">
                                        <nz-date-picker nzSize="small" formControlName="starDate"
                                            [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                                <div nz-col nzSpan="4">
                                    <div class="form-group" class="text-right pad-r-5">
                                        <label>Sign Off Date:</label>
                                    </div>
                                </div>
                                <div nz-col nzSpan="4">
                                    <div class="form-group">
                                        <nz-date-picker nzSize="small" formControlName="signOfDate"
                                            [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" class="text-right">
                                    <div class="form-group">
                                        <label nz-checkbox>Publish to App</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Review Date">Review Date:</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <div class="form-group">
                                        <nz-date-picker nzSize="small" formControlName="reviewDate"
                                            [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label nzFor="Reminder Text">Reminder Text:</label>
                                </div>
                                <div nz-col nzSpan="20">
                                    <div class="form-group">
                                        <input nz-input nzSize="small" formControlName="rememberText" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tabFindIndex == 1">
                <div nz-row nzGutter="32">
                    <div nz-col nzSpan="12">
                        <div class="controls">
                            <div><i nz-icon nzType="plus" nzTheme="outline" (click)="showCarePlanStrategiesModal()"></i>
                            </div>
                            <div><i nz-icon nzType="printer" nzTheme="outline" (click)="handleOkTop(1)"></i></div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" nzOffset="4">
                        <div class="right">
                            <!-- <label nz-checkbox >Expand Goal Description</label> -->
                        </div>
                    </div>
                </div>

                <div nz-row>
                    <nz-table #headerTable [nzShowPagination]="false" [nzFrontPagination]="false" [nzLoading]="loading"
                        [nzData]="goalsAndStratergies" nzSize="small" [nzScroll]="{ y: '340px' }">
                        <thead>
                            <tr>
                                <th style="width:10%;">Ant Complete</th>
                                <th style="width:10%;">Last Review</th>
                                <th style="width:10%">%</th>
                                <th style="width:60%;">Goal</th>
                                <th style="width:10%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of headerTable.data">
                                <td style="width:10%;">{{data.achievementDate | date: 'dd/MM/y' }}</td>
                                <td style="width:10%;">{{data.lastReviewed | date: 'dd/MM/y' }}</td>
                                <td style="width:10%;">{{data.achievement }}</td>
                                <td style="width:60%;">{{data.goal}}</td>
                                <td style="width:10%;">
                                    <a (click)="showEditCarePlanModal(data)">Update</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a nz-popconfirm
                                        nzPopconfirmTitle="Are you sure you want to delete this from CarePlan Goal/s ?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="deleteCarePlanGoal(data)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>

            </div>




        </div>
        <div *ngIf="tabFindIndex == 2">

            <div nz-row nzGutter="32" [formGroup]="quoteForm">

                <div nz-col nzSpan="8">
                    <div class="form-group">
                        <nz-select formControlName="program" nzSize="small" [nzDropdownMatchSelectWidth]="false"
                            nzAllowClear nzPlaceHolder="Program">
                            <nz-option *ngFor="let list of quoteProgramList" [nzValue]="list"
                                [nzLabel]="list"></nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-col nzSpan="8">
                    <div class="form-group">
                        <nz-select formControlName="template" nzSize="small" [nzDropdownMatchSelectWidth]="false"
                            nzAllowClear nzPlaceHolder="Templates">
                            <nz-option *ngFor="let list of quoteTemplateList" [nzValue]="list"
                                [nzLabel]="list"></nz-option>
                        </nz-select>
                    </div>
                </div>

            </div>

            <div nz-row nzGutter="32" class="line" [formGroup]="quoteForm" *ngIf="quoteForm.get('program').value">
                <div nz-col nzSpan="6">
                    <input nz-input formControlName="no" placeholder="No" nzSize="small" />
                </div>
                <div nz-col nzSpan="6">
                    <nz-select class="select" formControlName="type" nzSize="small" nzAllowClear nzPlaceHolder="Type">
                    </nz-select>
                </div>
                <div nz-col nzSpan="8" nzOffset="4">
                    <div class="right">
                        <nz-range-picker nzSize="small" formControlName="period"></nz-range-picker>

                        <nz-select class="select" formControlName="basePeriod" nzSize="small" nzAllowClear
                            nzPlaceHolder="Base Period">
                            <nz-option *ngFor="let l of basePeriodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-row class="line" *ngIf="quoteForm.get('program').value">
                <div nz-col nzSpan="12">
                    <div class="controls">
                        <div><i nz-icon nzType="plus" nzTheme="outline" (click)="quoteLineModal()"></i></div>
                        <div><i nz-icon nzType="edit" nzTheme="outline"></i></div>
                        <div><i nz-icon nzType="close" nzTheme="outline"></i></div>
                        <div><i nz-icon nzType="printer" nzTheme="outline"></i></div>
                    </div>
                </div>
                <div nz-col nzSpan="8" nzOffset="4">
                    <div class="right">
                        <nz-select [(ngModel)]="value" nzSize="small" nzAllowClear nzPlaceHolder="Choose">
                            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                        </nz-select>
                        <button nz-button nzSize="small" nzType="primary">Primary</button>
                    </div>
                </div>
            </div>

            <div nz-row *ngIf="quoteForm.get('program').value">
                <nz-table #basicTable [nzData]="quoteLines" nzSize="small">
                    <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Bill Unit</th>
                            <th>Frequency</th>
                            <th>Total Qty</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>GST</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>{{data.code}}</td>
                            <td>{{data.displayText}}</td>
                            <td>{{data.quantity}}</td>

                            <td>{{data.billUnit}}</td>
                            <td>{{data.period}}</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.gst}}</td>
                            <td>{{data.quantity}}</td>
                            <td>
                                <!-- <a>Action 一 {{data.name}}</a>
                          <nz-divider nzType="vertical"></nz-divider> -->
                                <a>Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div nz-row class="line" nzGutter="16" *ngIf="quoteForm.get('program').value=='NULL'">
                <div nz-col nzSpan="18">
                    <div nz-row nzGutter="16">
                        <div nz-col nzSpan="12" class="inline" *ngIf="!IS_CDC" [formGroup]="quoteForm">
                            <span class="title">Initial Budget</span>
                            <input nz-input class="mini" placeholder="" nzSize="small"
                                formControlName="initialBudget" />
                        </div>
                        <div nz-col nzSpan="12" class="inline" *ngIf="IS_CDC" [formGroup]="quoteForm">
                            <span class="title">Gov't Contribution</span>
                            <input nz-input class="mini" placeholder="" nzSize="small" formControlName="govtContrib" />
                        </div>
                        <div nz-col nzSpan="12" class="inline" *ngIf="IS_CDC">
                            <span class="title">Centrelink Income Tested Fee</span>
                            <span>
                                <nz-select [(ngModel)]="value" nzSize="small" nzAllowClear nzPlaceHolder="Choose">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </span>
                            <span>{{atRate}}</span>
                            <span><input nz-input class="mini" placeholder="" nzSize="small"
                                    [(ngModel)]="value" /></span>
                            <span>=</span>
                            <span><input nz-input class="mini" placeholder="" nzSize="small"
                                    [(ngModel)]="value" /></span>
                        </div>
                    </div>
                    <div nz-row class="line" *ngIf="IS_CDC">
                        <div class="div-table">
                            <div>
                                <div></div>
                                <div>Annual Charge</div>
                                <div>Daily</div>
                                <div>Monthly</div>
                            </div>
                            <div>
                                <div>Agreed Basic Care Fee</div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                            </div>
                            <div>
                                <div>Agreed Income Tested Fee</div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                            </div>
                            <div>
                                <div></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                            </div>
                            <div>
                                <div>ADD Pro Rata Prev Balance</div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> </div>
                                <div> </div>
                            </div>
                            <div>
                                <div>Total Package Value</div>
                                <div> <input nz-input nzSize="small" [(ngModel)]="value" /></div>
                                <div> </div>
                                <div> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="6">
                    <div class="right">
                        <div class="div-table">
                            <div>
                                <div>Base Quote</div>
                                <div> <input nz-input placeholder="Basic usage" nzSize="small" [(ngModel)]="value" />
                                </div>
                            </div>
                            <div>
                                <div>Admin & Case Management</div>
                                <div> <input nz-input placeholder="Basic usage" nzSize="small" [(ngModel)]="value" />
                                </div>
                            </div>
                            <div>
                                <div>Total Quote</div>
                                <div> <input nz-input placeholder="Basic usage" nzSize="small" [(ngModel)]="value" />
                                </div>
                            </div>
                            <div>
                                <div>Remaining Funds</div>
                                <div> <input nz-input placeholder="Basic usage" nzSize="small" [(ngModel)]="value" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-row class="line" *ngIf="quoteForm.get('program').value">
                <textarea rows="4" nz-input [(ngModel)]="value" placeholder="Extra Information"></textarea>
            </div>
        </div>
        <div *ngIf="tabFindIndex == 3" [formGroup]="supplements">
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            Domentica/Congnition/Veterans's Supplement <label nz-checkbox
                                formControlName="domentica"></label>
                        </div>
                        <div nz-col nzSpan="6" class="text-center">
                            <nz-radio-group formControlName="levelSupplement">
                                <label nz-radio nzValue="Level 1"
                                    [nzDisabled]="!this.supplements.get('domentica').value">Level 1</label>
                                <label nz-radio nzValue="Level 2"
                                    [nzDisabled]="!this.supplements.get('domentica').value">Level 2</label>
                                <label nz-radio nzValue="Level 3"
                                    [nzDisabled]="!this.supplements.get('domentica').value">Level 3</label>
                                <label nz-radio nzValue="Level 4"
                                    [nzDisabled]="!this.supplements.get('domentica').value">Level 4</label>
                            </nz-radio-group>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            Oxygen Supplement <label nz-checkbox formControlName="oxygen"></label>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            Enteral Feeding Supplement <label nz-checkbox formControlName="feedingSuplement"></label>
                        </div>
                        <div nz-col nzSpan="6" class="text-center">
                            <nz-radio-group formControlName="feedingSupplement">
                                <label nz-radio nzValue="Bolus"
                                    [nzDisabled]="!this.supplements.get('feedingSuplement').value">Bolus</label>
                                <label nz-radio nzValue="Non-Bolus"
                                    [nzDisabled]="!this.supplements.get('feedingSuplement').value"
                                    style="padding-left:2.1rem;">Non-Bolus</label>
                            </nz-radio-group>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            EACHD Top Up Suplemment <label nz-checkbox formControlName="EACHD"></label>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            Home Care Viability Supplement <label nz-checkbox
                                formControlName="viabilitySuplement"></label>
                        </div>
                        <div nz-col nzSpan="6" class="text-center">
                            <nz-radio-group formControlName="viabilitySupplement">
                                <label nz-radio nzValue="Level 1"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 1</label>
                                <label nz-radio nzValue="Level 2"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 2</label>
                                <label nz-radio nzValue="Level 3"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 3</label>
                                <label nz-radio nzValue="Level 4"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 4</label>
                                <label nz-radio nzValue="Level 5"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 5</label>
                                <label nz-radio nzValue="Level 6"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 6</label>
                                <label nz-radio nzValue="Level 7"
                                    [nzDisabled]="!this.supplements.get('viabilitySuplement').value">Level 7</label>
                            </nz-radio-group>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="12" nzOffset="4">
                    <nz-card>
                        <div nz-col nzSpan="16" class="text-right pad-r-5">
                            Financial Hardship Supplement
                        </div>
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <div> <input nz-input nzSize="small" formControlName="financialSup" /></div>
                        </div>
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label>Per Day</label>
                        </div>
                    </nz-card>
                </div>
            </div>
        </div>
    </div>


    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveQuote()">Save</button>
    </div>

</nz-modal>



<nz-modal [(nzVisible)]="quoteLineOpen" [nzWidth]="1120" [nzStyle]="{ top: '25px' }" nzTitle="Add New Quote Line"
    (nzOnCancel)="handleCancelLine()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div nz-row>
        <div nz-row [formGroup]="quoteListForm">
            <span style="margin-right:2rem;font-weight:bold">Charge Type</span>
            <nz-radio-group formControlName="chargeType">
                <label nz-radio nzValue="1">Service</label>
                <label nz-radio nzValue="2">Item</label>
                <label nz-radio nzValue="3">Admin Charge</label>
                <label nz-radio nzValue="4">Package/Case Management</label>
            </nz-radio-group>
        </div>

        <div nz-row class="line" nzGutter="12">
            <div nz-col nzSpan="6" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">
                <div class="form-group">
                    <label for="">Activity Code</label>
                    <nz-select formControlName="code" nzSize="small" nzAllowClear nzPlaceHolder="Code">
                        <nz-option *ngFor="let d of codes" [nzValue]="d" [nzLabel]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div nz-col nzSpan="12" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">
                <div class="form-group">
                    <label for="">Display Text</label>
                    <input nz-input formControlName="displayText" placeholder="Display Text" nzSize="small" />
                </div>
            </div>

            <div nz-col nzSpan="6" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">
                <div class="right">
                    <label for="">Sequence #</label>
                    <input nz-input placeholder="Sequence Number" nzSize="small" formControlName="sequenceNo" />
                </div>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">
                <div class="form-group">
                    <label for="">Strategy</label>
                    <nz-select formControlName="strategy" nzSize="small" nzAllowClear nzPlaceHolder="Strategy">
                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

        <div nz-row class="line" *ngIf="quoteListForm.get('code').value">
            <div nz-row [formGroup]="quoteListForm">
                <nz-radio-group formControlName="roster">
                    <label nz-radio nzValue="Weekly">Weekly</label>
                    <label nz-radio nzValue="Fortnightly">Fortnightly</label>
                    <label nz-radio nzValue="Monthly">Monthly</label>
                    <label nz-radio nzValue="None">None</label>
                </nz-radio-group>
            </div>

            <div nz-row>

                <div nz-col nzSpan="15">
                    <app-interval-quote [(ngModel)]="slots" (ngModelChange)="slotsChange($event)" [interval]="weekly"
                        [mode]="'Booking'" [size]="'small'"></app-interval-quote>
                    <!-- {{ slots | json }} -->
                </div>

                <div nz-col nzSpan="9">
                    <div nz-row class="calc-wrapper" *ngIf="weekly" [formGroup]="quoteListForm">
                        <div class="spacing flex">
                            <nz-input-number [nzSize]="size" formControlName="quantity"></nz-input-number>
                            <nz-select nzSize="small" nzAllowClear [nzDropdownMatchSelectWidth]="false"
                                placeholder="Bill Unit" formControlName="billUnit">
                                <nz-option *ngFor="let l of billUnitArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                            </nz-select>
                            <nz-select nzSize="small" style="width:12rem" nzAllowClear
                                [nzDropdownMatchSelectWidth]="false" placeholder="Period" formControlName="period">
                                <nz-option *ngFor="let l of periodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                            </nz-select>
                            <span>X</span>
                            <nz-input-number [nzSize]="size" formControlName="weekNo"></nz-input-number>
                        </div>
                        <div class="flex">
                            <span>Price</span>
                            <input class="three-five" formControlName="price" nz-input nzSize="small" />
                            <span>Min</span>
                            <span><label nz-checkbox formControlName="min">GST</label></span>
                            <input class="three-five" nz-input nzSize="small" formControlName="gst" />
                        </div>
                        <div nz-row class="spacing">
                            <nz-input-number [nzSize]="size" formControlName="quoteValue"></nz-input-number>
                            <span>% of Quote Value</span>
                        </div>
                        <div nz-row class="spacing">
                            <nz-input-number [nzSize]="size" formControlName="quoteBudget"></nz-input-number>
                            <span>% of Quote Budget</span>
                        </div>
                    </div>
                </div>

                <div nz-col nzSpan="24" class="line">
                    <div class="form-group" [formGroup]="quoteListForm">
                        <textarea rows="4" nz-input formControlName="notes" placeholder="Notes"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancelLine()">Cancel</button>
        <button nz-button nzType="primary" (click)="GENERATE_QUOTE_LINE()">Save</button>
    </div>

</nz-modal>



<nz-modal [nzWidth]="1050" [(nzVisible)]="goalAndStrategiesmodal" nzTitle="Add/Change Recipient Goals"
    (nzOnCancel)="handlegoalsStarCancel()">
    <form nz-form [formGroup]="goalsAndStratergiesForm">
        <div nz-row nzGutter="24">
            <div *ngIf="!isUpdateGoal" class="staff-wrapper"
                style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="24">
                        <div class="form-group">
                            <label nzFor="Care Domain">Select Care Plan Goal:</label>
                            <nz-select nzSize="small" formControlName="goal" nzAllowClear nzShowSearch>
                                <nz-option *ngFor="let c of goalOfCarelist" [nzValue]="c" [nzLabel]="c"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isUpdateGoal">
                <div nz-row nzSpan="24" class="mrg-btm">
                    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFinderIndexbtn">
                        <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChangeStrategies(0)"> </nz-tab>
                        <nz-tab nzTitle="Strategies" (nzClick)="tabFindChangeStrategies(1)"> </nz-tab>
                    </nz-tabset>
                    <div>
                        <div *ngIf="tabFinderIndexbtn == 0" [formGroup]="goalsAndStratergiesForm">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="22" nzOffset="2">
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <input nz-input formControlName="title" nzSize="small" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor="">Goal : </label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <textarea rows="4" nz-input formControlName="goal"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Anticipated Achievement Date : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="achievementDate"
                                                        formControlName="achievementDate" nzSize="small"
                                                        [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Last Reviewed : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="small" formControlName="lastReviewed"
                                                        [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Date Achieved : </label>
                                            </div>
                                            <div nz-col nzSpan="6">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="small" formControlName="dateAchieved"
                                                        [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                            <div nz-col nzSpan="3" class="text-right pad-r-5">
                                                <label nzFor="">% Achieved : </label>
                                            </div>
                                            <div nz-col nzSpan="1">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <input nz-input formControlName="achievement" nzSize="small" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Achievement Index : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-select formControlName="achievementIndex" nzSize="small"
                                                        nzAllowClear nzPlaceHolder="Code">
                                                        <nz-option *ngFor="let d of plangoalachivementlis" [nzValue]="d"
                                                            [nzLabel]="d"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor="">Notes : </label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <textarea rows="4" nz-input formControlName="notes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="tabFinderIndexbtn == 1" [formGroup]="goalsAndStratergiesForm">
                            <div nz-row nzGutter="32">
                                <div nz-col nzSpan="12">
                                    <div class="controls">
                                        <div><i nz-icon nzType="plus" nzTheme="outline"
                                                (click)="showStrategiesModal()"></i></div>
                                        <div><i nz-icon nzType="printer" nzTheme="outline" (click)="handleOkTop(2)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" nzOffset="4">
                                    <div class="right">
                                        <!-- <label nz-checkbox >Expand Stretegy Details</label> -->
                                    </div>
                                </div>
                            </div>
                            <div nz-row>
                                <nz-table #headerTable [nzShowPagination]="false" [nzFrontPagination]="false"
                                    [nzLoading]="loading" [nzData]="stratergiesList" nzSize="small"
                                    [nzScroll]="{ y: '340px' }">
                                    <thead>
                                        <tr>
                                            <th style="width:50%;">Strategy</th>
                                            <th style="width:20%;">Achieved</th>
                                            <th style="width:10%">Contracted ID</th>
                                            <th style="width:10%;">DS Services</th>
                                            <th style="width:10%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of headerTable.data">
                                            <td style="width:50%;">{{data.strategy}}</td>
                                            <td style="width:20%;">{{data.achieved}}</td>
                                            <td style="width:10%;">{{data.contractedId}}</td>
                                            <td style="width:10%;">{{data.DsServices}}</td>
                                            <td style="width:10%;">
                                                <a (click)="showEditStrategyModal(data)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm
                                                    nzPopconfirmTitle="Are you sure you want to delete this from Strategy List ?"
                                                    nzPopconfirmPlacement="bottom"
                                                    (nzOnConfirm)="deleteCarePlanStrategy(data)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveCarePlan()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>

</nz-modal>

<nz-modal [nzWidth]="1050" [(nzVisible)]="strategiesmodal" nzTitle="Add/Change Plan Goal Stretegy"
    (nzOnCancel)="handleStarCancel()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <form nz-form [formGroup]="stratergiesForm">
        <div nz-row nzGutter="24">
            <div nz-row nzJustify>
                <div nz-col nzSpan="24">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4" class="text-right pad-r-5">
                                <label nzFor="">Strategy Detail : <br> Max 4000 characters</label>
                            </div>
                            <div nz-col nzSpan="20">
                                <div class="form-group" style="margin-bottom:7px;">
                                    <div class="form-group" style="margin-bottom:7px;">
                                        <textarea rows="4" nz-input formControlName="detail"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="">Expected Outcome : </label>
                            </div>
                            <div nz-col nzSpan="6" class="pad-r-5">
                                <div class="form-group" style="margin-bottom:7px;">
                                    <nz-select formControlName="outcome" nzSize="small" nzAllowClear
                                        nzPlaceHolder="Code">
                                        <nz-option *ngFor="let d of expecteOutcome" [nzValue]="d"
                                            [nzLabel]="d"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-col nzSpan="4">
                                Contracted Strategy ID :
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-input formControlName="strategyId" nzSize="small" />
                            </div>
                        </div>
                    </div>
                    <!-- <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4" class="text-right pad-r-5">
                                <label nzFor="">Service Types : </label>
                            </div>
                            <div nz-col nzSpan="20">
                                <div class="form-group" style="margin-bottom:7px;">
                                    <div class="form-group" style="margin-bottom:7px;">
                                        <textarea style="resize: none;" rows="12" nz-input  formControlName="serviceTypes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   -->
                </div>
            </div>
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveStrategy()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<!-- <app-print-pdf [reportData]="reportDataParent"></app-print-pdf> -->

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>


<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="450" [(nzVisible)]="modalOpen"
    nzTitle="Select a Program to Attach Quote " (nzOnCancel)="modalOpen = false" [nzMask]="true"
    [nzMaskClosable]="false" [nzClosable]="true">
    <div  style="min-height:45rem;">
        <div nz-row>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Program')"
                    placeholder="input search text" (change)="onTextChangeEvent($event,'Program')" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
        </div>
        <div nz-row>
                    <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                        [nzBordered]="true" [nzScroll]="{ y: alist.length > 15 ? '66vh' : null }" [nzFrontPagination]="false" [nzData]="alist">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="15%">Service Agreement Group</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of alist;let i = index;" (click)="selectProgram(data,i);"
                                (dblclick)="AllocateProgram(data,i);" [class.selected]="HighlightRow2==i">
                                <td style="width:600px">{{data.program}}</td>

                            </tr>
                        </tbody>
                    </nz-table>
</div>
    </div>
    <div *nzModalFooter style="display:flex; flex-direction:row">
        
        <button nz-button nzType="default"  class="btnlightblue">Print</button>
        <button nz-button nzType="default"  class="btnlightblue">Export</button>
        <div style="margin-left:80px"></div>
        <button nz-button nzType="default" (click)="modalOpen=false" class="btnlightorange">Cancel</button>
        <button nz-button nzType="default" (click)="AllocateProgram(activeRowData,selectedRowIndex)" class="btnlightblue">OK</button>
    </div>
</nz-modal>


<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="450" [(nzVisible)]="modalOpen2" nzTitle="Select a Service Agreement "
    (nzOnCancel)="modalOpen2 = false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div  style="min-height:45rem;">
        <div nz-row >
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Service')"
                    placeholder="input search text" (change)="onTextChangeEvent($event,'Service')" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
        </div>
        <div nz-row>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading2" [nzSize]="'small'" [nzBordered]="true"
        [nzScroll]="{ y: alist2.length > 15 ? '66vh' : null }" [nzFrontPagination]="false" [nzData]="alist2">
            <thead>
                <tr>
                    <th nzLeft nzWidth="15%">Service Agreement Group</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of alist2;let i = index;" (click)="selectService(data,i);"
                    [class.exists]="!data.exists" (dblclick)="AllocateServiceAgreeement(data,i);" [class.selected]="HighlightRow2==i">
                    <td style="width:600px">{{data.title}}</td>

                </tr>
            </tbody>
        </nz-table>
</div>


    </div>
    <div *nzModalFooter style="display:flex; flex-direction:row">
        
        <button nz-button nzType="default"  class="btnlightblue">Print</button>
        <button nz-button nzType="default"  class="btnlightblue">Export</button>
        <div style="margin-left:80px"></div>
        <button nz-button nzType="default" (click)="modalOpen2=false" class="btnlightorange" >Cancel</button>
        <button nz-button nzType="default" class="btnlightblue"
            (click)="AllocateServiceAgreeement(activeRowData,selectedRowIndex)">OK</button>
    
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="800" [(nzVisible)]="DocuSignModel" nzTitle="Document Status Summary "
    (nzOnCancel)="DocuSignModel = false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:25rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; right: 5px; ">
                <label nz-checkbox [(ngModel)]="showUnset" (ngModelChange)="showAllDocuments()">Include Unset</label>
            </div>

            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                [nzBordered]="true" [nzScroll]="{y: '350px', x:'750px' }" [nzFrontPagination]="false"
                [nzData]="doclist">
                <thead>
                    <tr>
                        <th nzLeft nzWidth="20%">Recipient</th>
                        <th nzLeft nzWidth="45%">Document Name</th>
                        <th nzLeft nzWidth="15%">DocuSign Status</th>
                        <th nzLeft nzWidth="15%">Traccs Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of doclist;let i = index;" (click)="selectDocusign(data,i)"
                        [class.selected]="i==selectedRow2">
                        <td nzWidth="20%">{{data.recipient}}</td>
                        <td nzWidth="45%">{{data.document}}</td>
                        <td nzWidth="15%">{{data.docusignStatus}}</td>
                        <td nzWidth="20%">{{data.traccsStatus}}</td>

                    </tr>
                </tbody>
            </nz-table>


        </div>
    </div>
    <div *nzModalFooter>

        <button nz-button nzType="default" (click)="DocuSignModel=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showRecipientList" nzTitle="Select a Recipient"
    (nzOnCancel)="showRecipientList = false" [nzWidth]="400" [nzMask]="true" [nzMaskClosable]="false"
    [nzClosable]="true">
    <div class="flexy" style="min-height:8rem; ">
        <div style=" align-items: center; ">
            <div *ngIf="RecipientList">
                <div style="width: 340px;">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Recipient')"
                            placeholder="input search text" (change)="onTextChangeEvent($event,'Recipient')" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
                </div>
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzLoading]="loading" [nzData]="RecipientList" style="height: 700px; width: 340px;"
                    [nzScroll]="{ y: '680px'}">
                    <thead>

                    </thead>
                    <tbody>
                        <tr *ngFor="let data of RecipientList;let i = index;" (click)="RecordClicked($event, data, i)"
                            (dblclick)="onItemDbClick(data,i)" [class.selected]="HighlightRow2==i">
                            <td class="left">
                                {{ data.accountNo }}

                            </td>
                        </tr>
                    </tbody>
                </nz-table>

            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="showConfirm()">OK</button>
        <button nz-button nzType="default" (click)="showRecipientList=false">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzWidth]="600" [(nzVisible)]="showDocRename" [nzStyle]="topBelow" nzTitle="Enter New File Name"
    (nzOnCancel)="showDocRename=false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div [formGroup]="inputForm">
        <div nz-row nzGutter="24">

            <div nz-col nzSpan="2">
                <!-- <label nzFor="">Name</label> -->
            </div>
            <div nz-col nzSpan="16">

                <div class="form-group">
                    <input nz-input formControlName="title" />
                </div>
            </div>

        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" class="btnlightblue" (click)="showDocRename=false">
                <span>Cancel</span>
            </button>
            <button nz-button nzType="default" class="btnlightblue" (click)="postCloneBudget()">
                <span>Continue</span>
            </button>
        </ng-container>
    </div>
</nz-modal>