
nz-table{
    margin-top:20px;
}        
app-filter{
    float:right;
}
ul{
    list-style:none;
}
.example-container{
    display:none;
}

.selected{
    color:#00da25;
}

nz-table th{
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
    border: 1px solid #f3f3f3;
}

nz-table tr{
  
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 300;
}

label{
font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
  }