<div nz-row>
    <div nz-col>
        <div>    
            <div style="margin-left:-2px; margin-top:5px;">
                <button class="btnlevel2navy" (click)="showAddModal()" >Add</button>
                <button class="btnlevel2navy" (click)="showEditModal(48)" >Edit</button>
                <button class="btnlevel2orange"    (nzOnConfirm)="delete(1)" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
            </div>
            <div>
                <div>
                    <div class="example-container" style="margin-top:1rem">
                        <ul
                            cdkDropList
                            cdkDropListOrientation="horizontal"
                            #todoList="cdkDropList"
                            [cdkDropListData]="dragOrigin"
                            [cdkDropListConnectedTo]="[doneList]"
                            class="drag-list"
                            (cdkDropListDropped)="drop($event)">
                            
                            <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                                <div>
                                    {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzScroll]="{ y : '500px' }" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzData]="tableData">
                <thead>
                    <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                        <th cdkDrag [cdkDragData]="'Alert'" nzWidth="20%">Alert</th>
                        <th cdkDrag [cdkDragData]="'Reminder Date'"  nzWidth="15%">Reminder Date</th>
                        <th cdkDrag [cdkDragData]="'Due Date'"  nzWidth="15%">Due Date</th>
                        <th cdkDrag [cdkDragData]="'Notes'"  nzWidth="50%">Notes</th>
                       
                    </tr>
                    <!-- <tr>
                        <th class="left">Alert/Review</th>
                        <th>Reminder Date</th>
                        <th>Due Date</th>
                        <th>Notes</th>
                     
                    </tr> -->
                </thead>
                <tbody>
                    <ng-container *ngIf="isSome(tableData)">
                        <ng-container *ngFor="let titleData of tableData; let i = index">
                            <tr style="background: #d9efff; font-weight:bold"  *ngIf="!isArray(titleData)" >
                                <td colspan="11">
                                    <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }} </p>
                                </td>
                            </tr>
                            
                            <ng-container *ngIf="isArray(titleData)">
                                
                                <tr  *ngFor="let data of titleData;let i = index"  
                                (dblclick)="showEditModal(i)" (click)="selectedItemGroup(data,i)" [class.selected]="selectedRow == i && data==activeRowData">
                                <td class="left">{{ data.name  }}</td>
                                <td>{{ data.date1 | date: 'dd/MM/y'}}</td>
                                <td>{{ data.date2 | date: 'dd/MM/y' }}</td>
                                <td>{{ data.notes || '-' }}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
        
                    <ng-container *ngIf="!isSome(tableData)">
                        <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" 
                        (dblclick)="showEditModal(i);" [class.selected]="selectedRow == i">
                            <td class="left">{{ data.name  }}</td>
                            <td>{{ data.date1 | date: 'dd/MM/y'}}</td>
                            <td>{{ data.date2 | date: 'dd/MM/y' }}</td>
                            <td>{{ data.notes || '-' }}</td>
                          
                        </tr>
                    </ng-container>

                  
                </tbody>
            </nz-table>
        </div>
        </div>
    </div>
</div>

<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add Reminder' : 'Edit Reminder'" (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">Reminders</nz-form-label>
                <nz-form-control nzErrorTip="Reminders is required!">
                    <nz-select formControlName="staffAlert" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let d of alist" [nzValue]="d" [nzLabel]="d"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12" class="form-group">
            <label for="">Reminder Date</label>
            <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
        </div>
        <div nz-col nzSpan="12" class="form-group">
            <label for="">Due Date</label>
            <nz-date-picker formControlName="dueDate" [nzFormat]="dateFormat"></nz-date-picker>
        </div>
    </div>
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="5" class="form-group">
            <label for="">Recurring</label>
            <label style="margin: 10px;" nz-checkbox formControlName="recurring"></label>
        </div>
        <div nz-col nzOffset="3" nzSpan="8">
            <nz-form-item style="margin: 0 0 1px">
                <nz-form-label [nzNoColon]="true">Recurring Every</nz-form-label>
                <nz-form-control nzErrorTip="Every Recurring is required!">
                    <nz-select formControlName="recurrInt" nzAllowClear nzPlaceHolder=""
                    [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let d of dayInt" [nzValue]="d" [nzLabel]="d"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
        <nz-form-item style="margin: 0 0 1px">
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
                <nz-select formControlName="recurrStr" nzAllowClear nzPlaceHolder=""
                [nzDropdownMatchSelectWidth]="false">
                <nz-option *ngFor="let d of dayStr" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</div>

</div>
<div nz-row [nzGutter]="12">
    <div nz-col nzSpan="8" class="form-group">
        <label for="">List Order</label>
        <input nz-input formControlName="listOrder" />
    </div>
    <div nz-col nzSpan="16" class="form-group">
        <nz-form-item>
            <nz-form-label [nzNoColon]="true">Follow-up Email</nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid email address!">
                <nz-input-group>
                    <input type="text" nz-input formControlName="followUpEmail" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
<div nz-row>
    <div class="form-group">
        <label for="">Notes</label>
        <textarea rows="4" nz-input formControlName="notes"></textarea>
    </div>
</div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">Save</button>
</div>
</nz-modal>


<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >    
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>