<div nz-row>
    <div nz-col>
        <div>
            <div style="margin-left:-2px; margin-top:5px;">
                <button class="btnlevel2navy" (click)="showAddModal()">Add</button>
                <button class="btnlevel2navy" (click)="showEditModal(activeRowData)">Edit</button>
                <button class="btnlevel2orange" (nzOnConfirm)="delete(1)" nz-popconfirm nzPopconfirmPlacement="top"
                    nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                <button class="btnlevel2navy" (click)="InitiatePrint()">Print</button>
                <button class="btnlevel2orange" (nzOnConfirm)="close(1)" nz-popconfirm nzPopconfirmPlacement="top"
                    nzPopconfirmTitle="Are you sure close this reminder?">CLOSE</button>
            </div>
            <div nz-row>
                <div class="example-container">
                    <ul
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #todoList="cdkDropList"
                    [cdkDropListData]="dragOrigin"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="drag-list"
                    (cdkDropListDropped)="drop($event)">
                    <li class="drag-box" *ngFor="let item of dragOrigin" [cdkDragDisabled]="true" cdkDrag>
                        <div>
                            {{item}} <span (click)="removeTodo(item)"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>

            <div>
                <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzScroll]="{ y : '500px' }"
                    [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="tableData">
                    <thead>
                        <tr cdkDropList #doneList="cdkDropList" [cdkDropListData]="dragDestination" [cdkDropListConnectedTo]="[todoList]">
                          
                            <th nzWidth="20%" cdkDrag [cdkDragData]="'Leave Type'">Leave Type</th>
                            <th nzWidth="10%" cdkDrag [cdkDragData]="'Start'">Start</th>
                            <th nzWidth="10%" cdkDrag [cdkDragData]="'End'">End</th>
                            <th nzWidth="35%" cdkDrag [cdkDragData]="'Notes'">Notes</th>
                            <th nzWidth="10%" cdkDrag [cdkDragData]="'Reminder Date'">Reminder Date</th>
                            <th nzWidth="5%" cdkDrag [cdkDragData]="'Approved'">Approved</th>
                         
                        </tr>
                       
                    </thead>
                    <tbody>
                        <ng-container *ngIf="isSome(tableData)">
                            <ng-container *ngFor="let titleData of tableData;">
                                <tr style="background: #d9efff; font-weight:bold"   *ngIf="!isArray(titleData)">
                                    <td colspan="9">
                                        <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                                    </td>
                                </tr>
                                
                                <ng-container *ngIf="isArray(titleData)">
                                    <tr *ngFor="let data of titleData;let i = index;trackBy: trackByFn"
                                        (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data);" [class.selected]="i==selectedRow && data==activeRowData">
                                       
                                        <td>{{ data.name }}</td>
                                        <td >{{ data.date1 | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ data.date2 | date:'dd/MM/yyyy'}}</td>
                                        <td>{{ data.notes || '-' }}</td>
                                        <td>{{ data.dateInstalled | date:'dd/MM/yyyy'}}</td>
                                        <td ><label nz-checkbox nzDisabled [nzValue]="data.recurring" style=" transform: scale(0.9); padding:0px; margin:0px; float:center"></label></td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
            
                        <ng-container *ngIf="!isSome(tableData)">
                            <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"
                            (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data);" [class.selected]="selectedRow == i">
                            <td>{{ data.name }}</td>
                            <td >{{ data.date1 | date:'dd/MM/yyyy' }}</td>
                            <td>{{ data.date2 | date:'dd/MM/yyyy'}}</td>
                            <td>{{ data.notes || '-' }}</td>
                            <td>{{ data.dateInstalled | date:'dd/MM/yyyy'}}</td>
                            <td ><label nzDisabled nz-checkbox [nzValue]="data.recurring" style=" transform: scale(0.9); padding:0px; margin:0px; float:center"></label></td>
                        </tr>
                        </ng-container>

                      
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
<!--Mufeed 9 April 2024-->
<div>
    <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
        [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                height="650px"></iframe>
        </div>
    </nz-drawer>
</div>

<nz-modal [nzWidth]="950" [(nzVisible)]="modalOpen" nzTitle="Service Suspension Wizard" (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row nzGutter="24" *ngIf="addOREdit==1">


            <div nz-col nzSpan="24">

                <div nz-col nzSpan="4">
                    <label nzFor="">Suspended Between</label>
                </div>
                <div nz-col nzSpan="4">

                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat"
                            (click)="loadAll()"></nz-date-picker>
                    </div>
                </div>
                <div nz-col nzSpan="2" style="margin-bottom: 7px">AND</div>
                <div nz-col nzSpan="4">

                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>

                <div nz-col nzSpan="10">
                    <label nz-checkbox formControlName="putMasterOnHold" style="padding-left: 8px">Put Master On
                        Hold</label>
                    <label nz-checkbox formControlName="recordFormalAbsence">Record Formal ABSENCE to replace rostered
                        shifts</label>
                    <label nz-checkbox formControlName="record24Absence">Record 24hr Absence each day</label>
                </div>
            </div>
        </div>

        <nz-divider *ngIf="addOREdit==1"></nz-divider>
        <div nz-row *ngIf="addOREdit==1">
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Services : </label>
                    <label nz-checkbox formControlName="allServices" (ngModelChange)="selectAllServices()"
                        style="margin:2px">Select All Services</label>
                </div>
                <div nz-col nzSpan="17">
                    <div class="form-group">

                        <nz-table #basicTable nzWidth="100%" style="margin-top: 0px;" [nzShowPagination]="false"
                            [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="alist"
                            [nzScroll]="{ y: '280px' }">
                            <!-- <thead>
                                <tr>
                                    <th nzWidth="10%"></th>
                                    <th nzWidth="70%"></th>


                                </tr>
                            </thead> -->
                            <tbody>
                                <tr *ngFor="let data of alist;let i = index;trackBy: trackByFn">
                                    <td> <label nz-checkbox style=" transform: scale(0.8); padding:0px; margin:0px"
                                            [(ngModel)]="data.selected" [ngModelOptions]="{standalone: true}"></label>
                                    </td>

                                    <td style="height:25px; padding:0px; margin:0px">{{ data.details}}</td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <!-- <div *ngFor="let item of alist">
                                
                                <label nz-checkbox formControlName="item.selected"></label>                           
                                <label> {{item.Title}}</label>
                            </div> -->

                    </div>
                </div>
            </div>
        </div>
        <nz-divider *ngIf="addOREdit==1"></nz-divider>

        <div nz-row *ngIf="addOREdit==1">
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Cancellation Details</label>
                </div>

                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="cancellation" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of cancelReason" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="cancellationcode" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of cancelcodes" [nzValue]="d.title"
                                [nzLabel]="d.title"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider *ngIf="addOREdit==2"></nz-divider>
        <div nz-row  *ngIf="addOREdit==2">
            <div nz-row nz-col nzSpan="24">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Suspension Type</label>
                </div>
                <div nz-col nzSpan="17">
                    <nz-select formControlName="cancellationcode" nzAllowClear nzPlaceHolder="Code">
                        <nz-option *ngFor="let d of cancelcodes" [nzValue]="d.title" [nzLabel]="d.title"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nz-col nzSpan="24" style="margin-top:10px">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Suspended Dates</label>
                </div>
                <div nz-col nzSpan="6">

                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat"
                            (click)="loadAll()"></nz-date-picker>
                    </div>
                </div>
                <div nz-col nzSpan="2" style="margin-bottom: 7px">To</div>
                <div nz-col nzSpan="6">

                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>
            </div>
            <div nz-row nz-col nzSpan="24">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Reason</label>
                </div>
                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="cancellation" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of cancelReason" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </div>

                </div>

            </div>
        </div>
        <nz-divider *ngIf="addOREdit==2"></nz-divider>

        <div nz-row *ngIf="addOREdit==2">
            <div nz-row  nzSpan="16">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Alternative Program</label>
                </div>

                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="altProgram" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of lstPrograms" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-row  nzSpan="16">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Activity</label>
                </div>
                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="activity" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of lstActivities" [nzValue]="d.title" [nzLabel]="d.title"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row nzSpan="16">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Billing/Dataset</label>
                </div>
                <div nz-col nzSpan="6">
                    <label nz-checkbox formControlName="billOriginalRate" >Bill Original
                        Rate</label>

                </div>
                <div nz-col nzSpan="6">
                    <label nz-checkbox formControlName="retainOriginalRate" style="padding-left: 8px">Retain Original
                        Rate</label>

                </div>
            </div>
            <div nz-row  nzSpan="16" style="margin: top 10px;">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Pay Type</label>
                </div>
                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <nz-select formControlName="payType" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of lstPaytypes" [nzValue]="d.title" [nzLabel]="d.title"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>


        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Notes : </label>
                </div>
                <div nz-col nzSpan="17">
                    <div class="form-group" style="margin-bottom: 7px">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div nz-row>
            <div nz-col nzSpan="4">

            </div>
            <div nz-col nzSpan="18" nzGutter="16">
                <div nz-row nz-col nzSpan="24" nzGutter="16">
                    <nz-radio-group formControlName="noteType" class="space-top">
                        <label nz-radio [nzValue]="'CASENOTE'">CASE NOTE</label>
                        <label nz-radio [nzValue]="'OPNOTE'">OP NOTE</label>
                        <label nz-radio [nzValue]="'CLINCNOTE'">CLINICAL NOTE</label>
                    </nz-radio-group>
                </div>

                <div nz-row nz-col nzSpan="24" nzGutter="8" style="margin-top:10px">
                    <div nz-row nz-col nzSpan="3">
                        <label>Category</label>
                    </div>
                    <div nz-row nz-col nzSpan="20" style="margin-left:5px">
                        <nz-select formControlName="category" nzAllowClear nzPlaceHolder="">
                            <nz-option *ngFor="let d of categories" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-row nz-col nzSpan="23" nzGutter="16" style="margin-top:10px">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Reminder</label>
                </div>
                <div nz-col nzSpan="19">
                    <div nz-col nzSpan="3">
                        <label>To</label>
                    </div>
                    <div nz-col nzSpan="14">
                        <nz-select formControlName="reminder" nzAllowClear nzPlaceHolder="">
                            <nz-option *ngFor="let d of users" [nzValue]="d" [nzLabel]="d"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="2">
                        <label>On</label>
                    </div>
                    <div nz-col nzSpan="5">
                        <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-row nz-col nzSpan="23" nzGutter="16" style="margin-top:10px">
                <div nz-col nzSpan="4">
                    <label style="font-weight: bold;">Notifications</label>
                </div>
                <div nz-col nzSpan="19">
                    <div nz-col nzSpan="3">
                        <label>Email</label>
                    </div>
                    <div nz-col nzSpan="21">
                        <input nz-input formControlName="email" />
                        <!-- <nz-select formControlName="email" nzAllowClear nzPlaceHolder="Code">
                            <nz-option *ngFor="let d of caseManagers" [nzValue]="d.title" [nzLabel]="d.title"></nz-option>
                        </nz-select> -->
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" class="btnblue" *ngIf="addOREdit==1">
                <span>Show Affected Staff</span>
            </button>
            <button nz-button nzType="default" class="btnlightblue" (click)="save()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>