<div>
    <!-- <button (click)="toPrint()">Print</button>
    <div>
        <aris-table [source]="source" [columns]="['Name', 'Activation Date','OP','Phone','Address','Last Service']"></aris-table>
    </div> -->

    <option-controls></option-controls>
</div>