<div class="budget-container">
    <div class="budget-wrapper">
        <h4><span>Saved Views</span></h4>
    </div>
    
     
    <div class="budget-wrapper-8">
        <h4>Dates & Filters</h4>

        <div class="budget-wrap">
            <div class="form-group col-md-3">
                <select name="" id="">
                    <option value="">Service Outputs</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <select name="" id="">
                    <option value="">Approved Only</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <datepicker></datepicker>
            </div>
            <div class="form-group col-md-3">
                <datepicker></datepicker>
            </div>
        </div>

        <div class="budget-wrap">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink id="link1">Branches, Regions</button>
                    <clr-tab-content id="content1" *clrIfActive>
                        <div class="budget-container">
                            <div class="budget-wrapper">
                                <h4><span>States</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let state of states" >
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ state }}</label>
                                          </div>
                                    </li>                                  
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Branches</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let branch of criteriaList?.branches"> 
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ branch }}</label>
                                          </div>
                                    </li>                          
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Service Areas/ Regions</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.serviceRegions">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                         
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Managers</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let manager of criteriaList?.managers">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ manager }}</label>
                                          </div>
                                    </li>                           
                                </ul>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Funder, Provider ID's & Programs</button>
                    <clr-tab-content >
                        <div class="budget-container">
                            <div class="budget-wrapper">
                                <h4><span>Funders</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">ACT</label>
                                          </div>
                                    </li>
                                    <li>
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="2" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="2">NSW</label>
                                          </div>
                                    </li>
                                    <li>
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="3" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="3">NT</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Funding Region</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let region of criteriaList?.fundingRegions">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ region }}</label>
                                          </div>
                                    </li>                             
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Service Provider ID</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.serviceProviderIds">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                          
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>DS Outlet ID</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">ANNE MILLER</label>
                                          </div>
                                    </li>                         
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Agency Programs</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.agencyPrograms">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                               
                                </ul>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Services, MDS Output Codes</button>
                    <clr-tab-content >
                        <div class="budget-container">
                            <div class="budget-wrapper">
                                <h4><span>Service Budget Codes</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.serviceBudgetCodes">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Funder Service Types</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.funderServiceTypes">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                          
                                </ul>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Other Domains</button>
                    <clr-tab-content>
                        <div class="budget-container">
                            <div class="budget-wrapper">
                                <h4><span>Care Domains</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.careDomains">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Disciplines</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.disciplines">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                            
                                </ul>
                            </div>
                            <div class="budget-wrapper">
                                <h4><span>Cost Centres</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.costCentres">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                          
                                </ul>
                            </div>
                            <div class="budget-wrapper" >
                                <h4><span>Environments</span></h4>
                                <div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">ALL</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                        <label for="1">Include INACTIVE</label>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let data of criteriaList?.environments">
                                        <div class="clr-checkbox-wrapper">
                                            <input type="checkbox" id="1" name="checkbox-basic" value="option1" class="clr-checkbox">
                                            <label for="1">{{ data }}</label>
                                          </div>
                                    </li>                             
                                </ul>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
            </clr-tabs>
        </div>
    </div>
</div>