<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Date</label>
                <datepicker [(ngModel)]="date"></datepicker>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="">Day View</label>
                <select [(ngModel)]="dayView">
                    <option *ngFor="let num of daynum">{{ num }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <dm-calendar 
            [startDate]="date" 
            [dayView]="dayView"
            [reload]="reload"
            [copyPaste]="toBePasted?.length > 0"
            (showDetail)="showDetail($event)"
            (showOptions)="showOptions($event)"
            (highlighted)="highlighted($event)"
            (data)="data($event)"
            (paste)="pasted($event)"></dm-calendar>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------------------------------>



<clr-modal [(clrModalOpen)]="controlModalOpen" class="no-overflow daymanager">

    <div class="modal-body">
        <ul class="right-click-menu">
            <li (click)="toMap()">Display Route Map</li>
            <li (click)="changeViewRecipientDetails.next(1)">View Recipient Details</li>
            <li *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="changeViewStaffDetails.next(1)">View Staff Details</li>
            <li (click)="shiftNotes()">View Service/Shift Notes</li>
            <hr />

            <li class="inactive" *ngIf="selectedOption?.carercode === 'BOOKED' && selectedOption?.type === 1" (click)="qikAllocateOpenModal()">Qik Allocate</li>
            <li class="inactive" *ngIf="selectedOption?.carercode === 'BOOKED' && selectedOption?.type === 1" (click)="allocStaff()">Allocate Staff</li>
            <li class="inactive" *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="openUnallocStaffModal()">Unallocate Staff</li>
            <li class="inactive" *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="reallocStaffOpen = true;loadModal()">Reallocate Staff</li>
            <li class="inactive" *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="cancelShiftOpen = true">Cancel Shift (Recipient)</li>
            <li (click)="openChangeDay()">Change Day or Times</li>

            <hr />

            <li class="inactive" (click)="openNewModal()">Add NEW Staff Activity / View Shifts and Gaps</li>
            <li class="inactive">Add NEW Recipient Activity / View Daily Services</li>

            <hr />

            <li class="inactive" (click)="openDiary()">My Diary / Appointments - Day View</li>
            <li  class="inactive" *ngIf="selectedOption?.carercode !== 'BOOKED'">View Gaps (STAFF)</li>

            <hr />

            <li (click)="caseLoadOpen = true">Set Caseload Name</li>
            <li (click)="allocateResourcesOpen = true;listResources();">Allocate Resource</li>
            <li>Change <span class="glyphicon glyphicon-triangle-right"></span>
                <ul>
                    <li (click)="changeModalView.next(1)">Change Output Type</li>
                    <li (click)="changeModalView.next(2)">Change Program</li>
                    <li (click)="changeModalView.next(3)">Change Activity</li>
                    <li (click)="changeModalView.next(4)">Change Pay Type</li>
                    <li (click)="changeModalView.next(5)">Change Bill Amount</li>
                    <li (click)="changeModalView.next(6)">Change Bill Quantity</li>
                    <li (click)="changeModalView.next(7)">Change Pay Quantity</li>
                    <li (click)="changeModalView.next(8)">Set Unit Cost</li>
                </ul>
            </li>
            <hr />

            <li>View <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <ul>
                    <li (click)="changeViewRecipientDetails.next(1)">View Recipient Details</li>
                    <li>View Shift/Service Details</li>
                    <li>View Extra/Additional Info</li>
                </ul>
            </li>

            <hr/>

            <li (click)="changeNudgeView.next(1)">Nudge Up</li>
            <li (click)="changeNudgeView.next(2)">Nudge Down</li>
            <li (click)="copy()">Copy</li>
            <li (click)="cut()">Cut</li>

            <hr />
            <li  *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="approve()">Approve</li>
            <li  *ngIf="selectedOption?.carercode !== 'BOOKED'" (click)="unapprove()">Unapprove</li>
            <li (click)="deleteRoster()">Delete Shift / Service</li>
            <!-- <li>Delete Additional Information</li> -->
        </ul>
    </div>
 
</clr-modal>


<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="optionModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">
        {{ selectedOption?.Recipient }} <span>Roster # {{ selectedOption?.recordno }}</span>
    </h3>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <clr-dropdown style="float:right" >
                    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                        More
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                        <button type="button" (click)="windowShow.next(1)" [class.active-tab]="window == 1" clrDropdownItem>Service Information</button>
                        <button type="button" (click)="windowShow.next(2)" [class.active-tab]="window == 2" clrDropdownItem>Tasks</button>
                        <button type="button" (click)="windowShow.next(3)" [class.active-tab]="window == 3" clrDropdownItem>Extra Information</button>
                        <button type="button" (click)="windowShow.next(4)" [class.active-tab]="window == 4" clrDropdownItem>Extra Charges</button>
                        <button type="button" (click)="windowShow.next(5)" [class.active-tab]="window == 5" clrDropdownItem>Service Notes</button>
                        <button type="button" (click)="windowShow.next(6)" [class.active-tab]="window == 6" clrDropdownItem>Dataset</button>
                        <button type="button" (click)="windowShow.next(7)" [class.active-tab]="window == 7" clrDropdownItem>Audit History</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 min-wrap" *ngIf="window == 1">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Service Information</button>
                        <ng-template [(clrIfActive)]="whoTab.sInfo">
                            <clr-tab-content>                               
                                <div *ngIf="selected" class="col-md-10 col-md-offset-1">
                                        <div class="col-md-12" style="margin-top:15px">
                                            <div class="col-md-3 form-group">                                        
                                                <label>Date</label>
                                                <datepicker [(ngModel)]="selectedOption.date"></datepicker>                                  
                                            </div>
                                            <div class="col-md-3 form-group">                                        
                                                <label>Start Time</label>
                                                <timepicker [(ngModel)]="selectedOption.StartTime" (ngModelChange)="serviceInfoDuration.next(1)"></timepicker>                                                                       
                                            </div>
                                            <div class="col-md-3 form-group">                                        
                                                <label>End Time</label>
                                                <timepicker [(ngModel)]="selectedOption.EndTime" (ngModelChange)="serviceInfoDuration.next(2)"></timepicker>                                                                       
                                            </div>
                                            <div class="col-md-3 form-group">                                        
                                                <label>Duration</label>
                                                <input type="text" [value]="duration" disabled>                                                                     
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6 form-group">                                        
                                                <label>Recipients</label>
                                                <input type="text" [(ngModel)]="selectedOption.Recipient">                                                                      
                                            </div>
                                            <div class="col-md-6 form-group">                                        
                                                <label>Category</label>
                                                <select [(ngModel)]="selectedOption.Category">
                                                    <option *ngFor="let category of categories" [selected]="selectedOption.Category == category.description">{{ category.description }}</option>
                                                </select>                                                                    
                                            </div>
                                            <div class="col-md-6 form-group">                                        
                                                <label>Staff/Broker</label>
                                                <input type="text" [(ngModel)]="selected.staff">                                                                      
                                            </div>
                                            <div class="col-md-6 form-group">                                        
                                                <label>Program</label>
                                                <select [(ngModel)]="selectedOption.rProgram">
                                                    <option *ngFor="let program of programs" [selected]="selectedOption.rProgram == program">{{ program }}</option>
                                                </select>                                                                       
                                            </div>
                                            <div class="col-md-4 form-group">                                        
                                                <label>Activity/Service</label>
                                                <select [(ngModel)]="selectedOption.Activity">
                                                    <option *ngFor="let activity of activities">{{ activity }}</option>
                                                </select>                                                                           
                                            </div>
                                            <div class="col-md-4 form-group">                                        
                                                <label>Location</label>
                                                <input type="text" [(ngModel)]="selectedOption['Setting/Location']">                                                                     
                                            </div>
                                            <div class="col-md-4 form-group">                                        
                                                <label>No of Attendees</label>
                                                <input type="text" [value]=0>                                                                     
                                            </div>
                                        </div>
                                </div>
                              
                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>
                
                    <clr-tab>
                        <button clrTabLink>Billing</button>
                        <ng-template [(clrIfActive)]="whoTab.billing">
                            <clr-tab-content>
                                maa
                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>
                
                    <clr-tab>
                        <button clrTabLink>Pay Information</button>
                        <ng-template [(clrIfActive)]="whoTab.payInfo">
                            <clr-tab-content>
                                pay info
                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>
                
                    <clr-tab>
                        <button clrTabLink>MTA Information</button>
                        <ng-template [(clrIfActive)]="whoTab.mta">
                            <clr-tab-content>
                                mia info
                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>
                </clr-tabs>
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 2">
                <dm-tasks [(ngModel)]="selectedOption"></dm-tasks>
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 3">
                <dm-extrainfo [(ngModel)]="selectedOption"></dm-extrainfo>
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 4">
                <!-- <dm-extrainfo [(ngModel)]="selectedOption"></dm-extrainfo> -->
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 5">
                <dm-servicenotes [(ngModel)]="selectedOption"></dm-servicenotes>
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 6">
                <dm-dataset [(ngModel)]="selectedOption"></dm-dataset>
            </div>
            <div class="col-md-12 min-wrap" *ngIf="window == 7">
                <dm-audit [(ngModel)]="selectedOption"></dm-audit>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="optionModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="optionModal = false">Ok</button>
    </div>
</clr-modal>


<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="viewRecipientDetailsOpen" class="large-modal btrap">
        <h3 class="modal-title">Recipient Details</h3>
        <div class="modal-body">
                <div class="col-md-12">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink (click)="changeViewRecipientDetails.next(1)">General</button>
                            <clr-tab-content *clrIfActive="tabvrd == 1">
                                <div class="recdetails">
                                <recipient-details [(ngModel)]="user"></recipient-details>
                                </div>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="changeViewRecipientDetails.next(2)">Funding, Agreed Services & Careplan</button>
                            <clr-tab-content *clrIfActive="tabvrd == 2">
                                <recipient-services [(ngModel)]="user"></recipient-services>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="changeViewRecipientDetails.next(3)">Case/ Progress Notes</button>
                            <clr-tab-content *clrIfActive="tabvrd == 3">
                                <recipient-casenote [(ngModel)]="user"></recipient-casenote>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="changeViewRecipientDetails.next(4)">Operational Notes</button>
                            <clr-tab-content *clrIfActive="tabvrd == 4">
                                <recipient-op [(ngModel)]="user"></recipient-op>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="changeViewRecipientDetails.next(5)">Support Workers</button>
                            <clr-tab-content *clrIfActive="tabvrd == 5">
                                <recipient-worker [(ngModel)]="user"></recipient-worker>
                            </clr-tab-content>
                        </clr-tab>
                    </clr-tabs>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="viewRecipientDetailsOpen = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="viewRecipientDetailsOpen = false">Ok</button>
        </div>
    </clr-modal>
    
    <bs-modal #viewrecipientdetails class="large-modal btrap" (onShow)="sample()">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">Recipient Details</h4>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink (click)="changeViewRecipientDetails.next(1)">General</button>
                        <clr-tab-content *clrIfActive="tabvrd == 1">
                           <div class="recdetails">
                            <recipient-details [(ngModel)]="user"></recipient-details>
                           </div>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink (click)="changeViewRecipientDetails.next(2)">Funding, Agreed Services & Careplan</button>
                        <clr-tab-content *clrIfActive="tabvrd == 2">
                            <recipient-services [(ngModel)]="user"></recipient-services>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink (click)="changeViewRecipientDetails.next(3)">Case/ Progress Notes</button>
                        <clr-tab-content *clrIfActive="tabvrd == 3">
                            <recipient-casenote [(ngModel)]="user"></recipient-casenote>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink (click)="changeViewRecipientDetails.next(4)">Operational Notes</button>
                        <clr-tab-content *clrIfActive="tabvrd == 4">
                            <recipient-op [(ngModel)]="user"></recipient-op>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink (click)="changeViewRecipientDetails.next(5)">Support Workers</button>
                        <clr-tab-content *clrIfActive="tabvrd == 5">
                            <recipient-worker [(ngModel)]="user"></recipient-worker>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false"></bs-modal-footer>
    </bs-modal>
    

<!------------------------------------------------------------------------------------------------------------------------------------------>


<clr-modal [(clrModalOpen)]="changeModal.show">
    <h3 class="modal-title">{{ changeModal?.title }}</h3>
    <div class="modal-body">
            <div class="col-md-12" *ngIf="changeModal.view == 1">
                <div class="form-group">
                    <label for="">Output Type</label>
                    <select [(ngModel)]="outputListModel">
                        <option value="">Please select ...</option>
                        <option *ngFor="let list of changeOutputList">{{ list.title | uppercase }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 2">
                <div class="form-group">
                    <label for="">Program Type</label>
                    <select [(ngModel)]="programListModel">
                        <option value="">Please select ...</option>
                        <option *ngFor="let list of changeProgramList">{{ list.name | uppercase }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 3">
                <div class="form-group">
                    <label for="">Activity Type</label>
                    <select [(ngModel)]="activityListModel">
                        <option value="">Please select ...</option>
                        <option *ngFor="let list of changeActivityList">{{ list.title | uppercase }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 4">
                <div class="form-group">
                    <label for="">Pay Type</label>
                    <select [(ngModel)]="payTypeListModel">
                        <option value="">Please select ...</option>
                        <option *ngFor="let list of changePayTypeList">{{ list.title | uppercase }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 5">
                <div class="form-group">
                    <label for="">Bill Amount</label>
                    <input [(ngModel)]="billAmountModel" placeholder="0.00" type="number">
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 6">
                <div class="form-group">
                    <label for="">Bill Quantity</label>
                    <input [(ngModel)]="billQuantityModel" placeholder="0.00" type="number">
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 7">
                <div class="form-group">
                    <label for="">Pay Quantity</label>
                    <input [(ngModel)]="payQuantityModel" placeholder="0.00" type="number">
                </div>
            </div>
            <div class="col-md-12" *ngIf="changeModal.view == 8">
                <div class="form-group">
                    <label for="">Set Unit Cost</label>
                    <input [(ngModel)]="setUnitCostModel" placeholder="0.00" type="number">
                </div>
            </div> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" (click)="changeModal.show = false" >Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
    </div>
</clr-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="notifier">
    <h3 class="modal-title">{{ notifierModal?.title }}</h3>
    <div class="modal-body">
        <div class="col-md-12 deleted" *ngFor="let data of _highlighted">
            <div><b>{{ data.recordno }}</b></div>
            <div>
                <span>{{ data.Recipient}}</span>
                <span style="float:right">{{data.Activity}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer no-modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteShifts();notifier=false">Yes</button>
        <button class="btn btn-warning-outline" (click)="notifier = false" >No</button>
    </div>
</clr-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="allocatestaffOpen">
    <h3 class="modal-title">Allocate Staff</h3>
    <div class="modal-body">
        <div class="col-md-12" style="height:60vh">
            <input type="text" placeholder="Search Staff">

            <div class="col-md-12" style="padding:15px;">
                    <h4 style="font-weight:500">Available Staff</h4>
                    <ul style="height: 14rem;overflow: auto;">
                        <li *ngFor="let alloc of _allocatedStaffArray" (click)="_selectedallocatedStaff = _selectedallocatedStaff == alloc ? '' : alloc">
                            {{ alloc.accountNo }} * {{ alloc.age}}
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="allocatestaffOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!_selectedallocatedStaff" (click)="allocate();allocatestaffOpen = false">Allocate</button>
    </div>
</clr-modal>

<!-- <bs-modal #allocatestaff [size]="'lg'" class="btrap">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Allocate Staff</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12" style="height:60vh">
            <input type="text" placeholder="Search Staff">

            <div class="col-md-12" style="padding:15px;">
                    <h4 style="font-weight:500">Available Staff</h4>
                    <ul style="height: 14rem;overflow: auto;">
                        <li *ngFor="let alloc of _allocatedStaffArray" (click)="_selectedallocatedStaff = _selectedallocatedStaff == alloc ? '' : alloc">
                            {{ alloc.accountNo }} * {{ alloc.age}}
                        </li>
                    </ul>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" [disabled]="!_selectedallocatedStaff" (click)="allocate()">Allocate</button>
            <button class="btn btn-warning-outline" (click)="allocatestaff.close()" >Close</button>
    </bs-modal-footer>
</bs-modal> -->

<!------------------------------------------------------------------------------------------------------------------------------------------>
<bs-modal #nudge class="btrap">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">{{ nudgeTimeModal?.title }}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4 form-group" *ngIf="nudgeTimeModal?.view == 1 || nudgeTimeModal?.view == 2">
                <label>Hour/Minutes *</label>
                <timepicker [(ngModel)]="nudgetime" [interval]="5" (ngModelChange)="nudgeTimeChanges(nudgetime)"></timepicker>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="nudgeProcess()">Ok</button>
            <button class="btn btn-warning-outline" (click)="nudge.close()" >Close</button>
    </bs-modal-footer>
</bs-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="allocateResourcesOpen">
    <h3 class="modal-title">Allocate Resource</h3>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form-group">
                <div class="list-notif-container">
                    <ul class="list-notif-style">
                        <li *ngFor="let resource of resourceList" (click)="pickResource(resource)" [class.selected]="resource == selectedResource">{{ resource | uppercase }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="allocateResourcesOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="allocateResourcesOpen = false">Ok</button>
    </div>
</clr-modal>


<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="caseLoadOpen">
    <h3 class="modal-title">Set Caseload Name</h3>
    <div class="modal-body">
        <div class="flexy-container">
            <div class="form-group col-md-12">
                <input type="text" [(ngModel)]="caseLoadInput" maxlength="49" placeholder="Enter Caseload"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="caseLoadOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="caseLoadProcess();caseLoadOpen = false">Ok</button>
    </div>
</clr-modal>
        
<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="viewStaffDetailsOpen" [clrModalSize]="'lg'">
    <h3 class="modal-title">Staff Details</h3>
    <div class="modal-body">
        <div class="flexy-container">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink (click)="changeViewStaffDetails.next(1)">General</button>
                    <clr-tab-content *clrIfActive="stafftab == 1">
                        <staff-details [(ngModel)]="staff"></staff-details>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink (click)="changeViewStaffDetails.next(2)">OP Notes</button>
                    <clr-tab-content *clrIfActive="stafftab == 2">
                        <staff-opnote [(ngModel)]="staff"></staff-opnote>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink (click)="changeViewStaffDetails.next(3)">Competencies</button>
                    <clr-tab-content *clrIfActive="stafftab == 3">
                        <staff-competencies [(ngModel)]="staff"></staff-competencies>
                    </clr-tab-content>
                </clr-tab>
                
            </clr-tabs>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="viewStaffDetailsOpen = false">Ok</button>
    </div>
</clr-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="unallocStaffModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">UnAllocate Staff</h3>
    <div class="modal-body">
            <div class="aris-container" [formGroup]="unallocateStaffGroup">
                <div class="form-group col-md-12">
                    <label for="">Current Leave Balances If Available</label>
                    <div class="table-mark">
                        <div class="table-title">
                            <div>Leave Type Code</div>
                            <div>Leave Desription</div>
                            <div>Pro Rata Date</div>
                            <div>Balance Hours</div>
                        </div>
                        <div class="table-body">
                        
                        </div>
                    </div>   
                    <intake-no-data [data]="leaveBalanceList?.length"></intake-no-data>             
                </div>
                <div class="form-group col-md-12 col-xs-12">
                    <div class="clr-checkbox-wrapper">
                        <input type="checkbox" id="mu" name="checkbox-disabled" value="option2" class="clr-checkbox" formControlName="makeUnavailable" >
                        <label for="mu" class="clr-control-label">Make Unavailable for balance of day</label>
                    </div>
                    <div class="clr-checkbox-wrapper">
                        <input type="checkbox" id="ua" name="checkbox-disabled" value="option2" class="clr-checkbox" formControlName="unallocAdmin">
                        <label for="ua" class="clr-control-label">Unallocate Admin Activities</label>
                    </div>
                </div>
    
                <div class="form-group col-xs-6">
                    <label for="">Reason For Unavailability</label>
                    <select name="" id="" formControlName="activityCode">
                        <option [value]=""></option>
                        <option *ngFor="let code of leave_dd?.leaveActivityCodes" [value]="code">{{ code}}</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="">Pay Code</label>
                    <select name="" id="" formControlName="payCode">
                        <option [value]=""></option>
                        <option *ngFor="let pcode of leave_dd?.paycode" [value]="pcode.title">{{pcode.title}}</option>
                    </select>
                </div>
    
                <div class="form-group col-xs-12">
                    <div class="clr-checkbox-wrapper">
                        <input type="checkbox" id="fp" name="checkbox-disabled" value="option2" class="clr-checkbox" [(ngModel)]="fp_hide" [ngModelOptions]="{standalone: true}">
                        <label for="fp" class="clr-control-label">Accept Program of Original Service As Program For Leave</label>
                    </div>
                </div>
    
                <div class="form-group col-md-12" *ngIf="fp_hide">
                    <label for="">Change Program For Leave To the Following Program</label>
                    <select formControlName="program">
                        <option [value]=""></option>
                        <option *ngFor="let program of leave_dd?.programs" [value]="program">{{ program }}</option>
                    </select>
                </div>
    
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="unallocStaffModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="unallocStaffModal = false">Ok</button>
    </div>
</clr-modal>


<!------------------------------------------------------------------------------------------------------------------------------------------>


<clr-modal [(clrModalOpen)]="reallocStaffOpen" [clrModalSize]="'lg'">
    <h3 class="modal-title">ReAllocate Staff</h3>
    <div class="modal-body">
        <div class="flexy-container">
            <qualified-staff *ngIf="loadModalInfos" [(ngModel)]="selectedQikAllocate" [inputParams]="selectedInputParams"></qualified-staff>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="reallocStaffOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="reallocStaffOpen = false">Ok</button>
    </div>
</clr-modal>

<bs-modal #reallocStaff [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Reallocate Staff</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="flexy-container">

        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="reallocStaff.close()">Cancel</button>
            <button class="btn btn-warning-outline" (click)="reallocStaff.close()" >Ok</button>
    </bs-modal-footer>
</bs-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="changeDayTimesOpen" [clrModalSize]="'lg'">
    <h3 class="modal-title">Change Day OR Time</h3>
    <div class="modal-body">
            <div class="flexy-container">
                <div class="col-md-12">
                    <div style="text-align: center">                    
                        <div class="data-infos">
                            <div><label>Staff: </label> {{ selectedOption?.Staff }}</div>
                            <div><label>Recipient: </label> {{ selectedOption?.Recipient }}</div>
                        </div>
                        <div class="data-infos">
                            <div><label for="">Shift Type:</label> {{ selectedOption?.ShiftType }}</div>
                            <div><label for="">Program:</label> {{ selectedOption?.rProgram }}</div>
                        </div>                    
                    </div>
                    <hr />
                    <div class="col-md-12" [formGroup]="changeDayOrTimeGroup">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="col-md-12 form-group">
                                <label for="">Date</label>
                                <datepicker formControlName="date"></datepicker>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="">Start Time</label>
                                <timepicker formControlName="startTime" [interval]="5" (ngModelChange)="timeDuration.next(1)"></timepicker>  
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="">End Time</label>
                                <timepicker formControlName="endTime" [interval]="5" (ngModelChange)="timeDuration.next(2)"></timepicker>  
                            </div>
                            <div class="col-md-4 form-group duration-wrapper">
                                <label for="">Duration</label>
                                <input type="text" [ngModel]="changeDayDuration?.durationStr" [ngModelOptions]="{standalone: true}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="">Pay Quantity</label>
                                <input type="text" formControlName="payQuant">
                            </div>
                            <div class="col-md-6">
                                <label for="">Bill Quantity</label>
                                <input type="text" formControlName="billQuant">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="changeDayTimesOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="changeDayTimeProcess();changeDayTimesOpen = false">Ok</button>
    </div>
</clr-modal>


<bs-modal #changeDayTimes [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Change Day OR Time</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="flexy-container">
            <div class="col-md-12">
                <div style="text-align: center">                    
                    <div class="data-infos">
                        <div><label>Staff: </label> {{ selectedOption?.Staff }}</div>
                        <div><label>Recipient: </label> {{ selectedOption?.Recipient }}</div>
                    </div>
                    <div class="data-infos">
                        <div><label for="">Shift Type:</label> {{ selectedOption?.ShiftType }}</div>
                        <div><label for="">Program:</label> {{ selectedOption?.rProgram }}</div>
                    </div>                    
                </div>
                <hr />
                <div class="col-md-12" [formGroup]="changeDayOrTimeGroup">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="col-md-12 form-group">
                            <label for="">Date</label>
                            <datepicker formControlName="date"></datepicker>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Start Time</label>
                            <timepicker formControlName="startTime" [interval]="5" (ngModelChange)="timeDuration.next(1)"></timepicker>  
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">End Time</label>
                            <timepicker formControlName="endTime" [interval]="5" (ngModelChange)="timeDuration.next(2)"></timepicker>  
                        </div>
                        <div class="col-md-4 form-group duration-wrapper">
                            <label for="">Duration</label>
                            <input type="text" [ngModel]="changeDayDuration?.durationStr" [ngModelOptions]="{standalone: true}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="">Pay Quantity</label>
                            <input type="text" formControlName="payQuant">
                        </div>
                        <div class="col-md-6">
                            <label for="">Bill Quantity</label>
                            <input type="text" formControlName="billQuant">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="changeDayTimes.close()">Cancel</button>
            <button class="btn btn-warning-outline" (click)="changeDayTimeProcess()" >Ok</button>
    </bs-modal-footer>
</bs-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="cancelShiftOpen" [clrModalSize]="'lg'" class="no-overflow">
        <h3 class="modal-title">Cancel Shift</h3>
        <div class="modal-body">
                <div class="aris-container">
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-offset-3">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                            <div class="col-md-8 col-md-offset-2 check-font">
                                <div class="checkbox chks">
                                    <input type="checkbox" id="bill">
                                    <label for="bill">Bill Original Activity Rate (NB If UNTICKED will Bill Default selected cancellation rate)</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2 check-font">
                                <div class="checkbox chks">
                                    <input type="checkbox" id="retain">
                                    <label for="retain">Retain Original NDIA/DATASET Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="note-container">
                                <div style="flex:20%">
                                        <div class="clr-form-control">
                                            <div class="clr-control-container">
                                                <div class="clr-radio-wrapper">
                                                <input type="radio" id="vertical-radio1" name="radio-full" value="option1" class="clr-radio">
                                                <label for="vertical-radio1" class="clr-control-label">Case Note</label>
                                                </div>
                                                <div class="clr-radio-wrapper">
                                                <input type="radio" id="vertical-radio2" name="radio-full" value="option2" class="clr-radio">
                                                <label for="vertical-radio2" class="clr-control-label">OP Note</label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div style="flex:80%">
                                    <textarea name="" id="" cols="30" rows="10" style="height: 3rem; margin-top: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11" style="margin-top:15px">
                                <div class="form-inline col-md-12">
                                    <label for="" class="nth-1">Category</label>
                                    <select name="" id="" class="nth">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                                <div class="form-inline col-md-4">
                                    <label for="" class="nth-4">Email To</label>
                                    <select name="" id="" class="nth">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                                <div class="form-inline col-md-4">
                                    <label for="" class="nth-4">Reminder</label>
                                    <select name="" id="" class="nth">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                                <div class="form-inline col-md-4">
                                    <label for="" class="nth-4">Date</label>
                                    <datepicker class="nth"></datepicker>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-2">
                                <div class="checkbox">
                                    <input type="checkbox" id="pstaff">
                                    <label for="pstaff">Pay Staff</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="checkbox">
                                    <input type="checkbox" id="fas">
                                    <label for="fas">Fill Available Staff Shift with Alternate Recipient</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-inline col-md-12">
                                <label for="" class="nth-4">Cancellation Code</label>
                                <select name="" id="" class="nth">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                            <div class="form-inline col-md-12">
                                <label for="" class="nth-4">Pay Type</label>
                                <select name="" id="" class="nth">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                            <div class="form-inline col-md-12">
                                <label for="" class="nth-4">Case Note</label>
                                <select name="" id="" class="nth">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                            <div class="form-inline col-md-12">
                                <label for="" class="nth-4">Duration</label>
                                <select name="" id="" class="nth">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>                                            
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="cancelShiftOpen = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="cancelShiftOpen = false">Ok</button>
        </div>
    </clr-modal>


<bs-modal #cancelShift [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Cancel Shift</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="aris-container">
            <div class="col-md-6">
                <div class="col-md-12">
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                </div>
                <div class="col-md-12 check-font">
                    <div class="checkbox">
                        <input type="checkbox" id="bill">
                        <label for="bill">Bill Original Activity Rate (NB If UNTICKED will Bill Default selected cancellation rate)</label>
                    </div>
                </div>
                <div class="form-group col-md-12 check-font">
                    <div class="checkbox">
                        <input type="checkbox" id="retain">
                        <label for="retain">Retain Original NDIA/DATASET Code</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" ></textarea>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="">Category</label>
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="">Email To</label>
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="">Reminder</label>
                <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="">Date</label>
                <datepicker></datepicker>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-2">
                    <label for="">Pay Staff</label>
                    <checkbox></checkbox>
                </div>
                <div class="form-group col-md-6">
                    <label for="">Fill Available Staff Shift With Alternate Recipient</label>
                    <checkbox></checkbox>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label for="">Cancellation Code</label>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">Pay Type</label>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">Case Note</label>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">Duration</label>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label for="">Duration</label>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="cancelShift.close()">Cancel</button>
            <button class="btn btn-warning-outline" (click)="cancelShift.close()" >Ok</button>
    </bs-modal-footer>
</bs-modal>
    
<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="myDiaryOpen" [clrModalSize]="'lg'">
        <h3 class="modal-title">My Diary | <span class="dayview-title">{{ selectedOption?.Staff }} - {{ selectedOption?.date }}</span> </h3>
        <div class="modal-body">
            <div style="display:flex">
                <div class="time-wrapper">
                    <div class="form-group time-segment" *ngIf="view === 'day'">
                        <label for="timeSeg">Time Intervals</label>
                        <select id="timeSeg" [(ngModel)]="minuteInterval" (ngModelChange)="timeSegChange($event)">
                            <option *ngFor="let time of timeArray" [value]="time">{{ time }} minutes</option>
                        </select>
                    </div>
                </div>
                
                <div [ngSwitch]="view" class="date-wrapper"> 
                    <!-- <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [hourSegments]="hourSegments"
                        [refresh]="refresh"
                        [dayStartHour]="dayStartHour"
                        [hourSegmentHeight]="20"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view> -->
                </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="qikAllocateOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="qikselect(selectedOption);qikAllocateOpen = false">Ok</button>
    </div>
</clr-modal>


<bs-modal #myDiary (onShow)="loadModal()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Manage</h4>
    </bs-modal-header>
    <bs-modal-body>
        <dayschedule  *ngIf="rosterInputs?.length"></dayschedule>      
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="myDiary.close()">Cancel</button>
            <button class="btn btn-warning-outline" (click)="myDiary.close()" >Ok</button>
    </bs-modal-footer>
</bs-modal>
    
<!------------------------------------------------------------------------------------------------------------------------------------------>

<clr-modal [(clrModalOpen)]="qikAllocateOpen" [clrModalSize]="'lg'">
    <h3 class="modal-title">Qik Allocate</h3>
    <div class="modal-body">
        <div class="flexy-container">
            <qualified-staff *ngIf="loadModalInfos" [(ngModel)]="selectedQikAllocate" [inputParams]="selectedInputParams"></qualified-staff>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="qikAllocateOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="qikselect(selectedOption);qikAllocateOpen = false">Ok</button>
    </div>
</clr-modal>

<bs-modal #qikAllocate (onShow)="loadModal()" [size]="'lg'" (onCLose)="closeModal()" (onDismiss)="closeModal()">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Qik Allocate</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="flexy-container">
            <qualified-staff *ngIf="loadModalInfos" [(ngModel)]="selectedQikAllocate" [inputParams]="selectedInputParams"></qualified-staff>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-primary" (click)="qikAllocate.close()">Cancel</button>
            <button class="btn btn-warning-outline" (click)="qikselect(selectedOption);qikAllocate.close()" >Ok</button>
    </bs-modal-footer>
</bs-modal>

<!------------------------------------------------------------------------------------------------------------------------------------------>
    
<clr-modal [(clrModalOpen)]="addNewStaffModal" [clrModalSize]="'lg'"> 
    <h3 class="modal-title">Day View | <span class="dayview-title">{{ selectedOption?.Staff }} - {{ selectedOption?.date }}</span> </h3>
    <div class="modal-body">
        <div style="display:flex">
            <!-- <ul class="dayview">
                <li *ngFor="let data of dayData">
                    <article>
                        <h6>{{ data.StartTime }} - {{ data.EndTime }}</h6>
                        <div>
                            <span class="hilight">{{ data.Recipient }}</span> <i class="material-icons"> brightness_1 </i> <span style="font-size:10px">{{ data.Activity }}</span>
                        </div>
                    </article>
                </li>
            </ul> -->    
            <div class="time-wrapper">
                <div class="form-group time-segment" *ngIf="view === 'day'">
                    <label for="timeSeg">Time Intervals</label>
                    <select id="timeSeg" [(ngModel)]="minuteInterval" (ngModelChange)="timeSegChange($event)">
                        <option *ngFor="let time of timeArray" [value]="time">{{ time }} minutes</option>
                    </select>
                </div>
            </div>
            
            <!-- <div [ngSwitch]="view" class="date-wrapper"> 
                <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [hourSegments]="hourSegments"
                    [refresh]="refresh"
                    [dayStartHour]="dayStartHour"
                    [hourSegmentHeight]="20"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="addNewStaffModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addNewStaffModal = false">Ok</button>
    </div>
</clr-modal>