<div class="col-md-12">
    <div class="container-fluid">



        <div class="form-group col-md-4">
            <label for="reports">Selected ActiveReports Report:</label>
            <select id="reports" class="combobox" [ngModel]="filePath" (ngModelChange)="modelChange($event)">
                <ng-template ngFor let-cat [ngForOf]="categories">
                    <optgroup *ngIf="cat.reports" label="{{cat.name}}">
                        <option *ngFor="let rep of cat.reports" [value]="rep.filePath">
                            {{rep.reportName}}
                        </option>
                    </optgroup>
                </ng-template>
            </select>
        </div>

        <div class="form-group">
            <label for="">.</label>
            <button class="btn btn-default" (click)="modal.open()">Open Modal</button>
           
            <div class="col-md-4">
                <div><button class="btn btn-default" (click)="modal.open()">Open Modal</button></div>
                <label for="reports">Selected ActiveReports Report:</label>
                <select id="reports" class="combobox" [ngModel]="filePath" (ngModelChange)="modelChange($event)">
                    <ng-template ngFor let-cat [ngForOf]="categories">
                        <optgroup *ngIf="cat.reports" label="{{cat.name}}">
                            <option *ngFor="let rep of cat.reports" [value]="rep.filePath">
                                {{rep.reportName}}
                            </option>
                        </optgroup>
                    </ng-template>
                </select>

                <wj-report-viewer
                [serviceUrl]="'http://45.77.37.207:8001/ActiveReports.ReportService.asmx'"
                [filePath]="filePath"
                [parameters]="parameters"
                >
                </wj-report-viewer>
                
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label for="">SQL</label>
                    <input type="text" [(ngModel)]="reportParameters.sql">
                </div>
                <div class="form-group">
                    <label for="">File Path</label>
                    <input type="text" [(ngModel)]="reportParameters.filePath">
                </div>
                <div class="form-group">
                    <label for="">Filename</label>
                    <input type="text" [(ngModel)]="reportParameters.fileName">
                </div>
                <button class="btn" (click)="goAhead()">Go Ahead</button>
            </div>

        </div>
    
        <wj-report-viewer
        [serviceUrl]="'http://45.77.37.207:8001/ActiveReports.ReportService.asmx'"
        [filePath]="filePath"
        [parameters]="parameters"
        >
        </wj-report-viewer>
    </div>
</div>


<bs-modal #modal class="no-overflow">
<bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">I'm a modal!</h4>
</bs-modal-header>
<bs-modal-body>
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label for="">Start Date</label>
            <datepicker [(ngModel)]="startDate"></datepicker>
        </div>
        <div class="form-group col-md-6">
            <label for="">End Date</label>
            <datepicker [(ngModel)]="endDate"></datepicker>
        </div>
    </div>
</bs-modal-body>
<bs-modal-footer [showDefaultButtons]="false">
    <button type="button" class="btn btn-primary" (click)="Go()">Go</button>
    <button class="btn btn-warning-outline" (click)="modal.close()" >Close</button>
</bs-modal-footer>
</bs-modal>

