<div>
    <div class="col-md-12">
        <div style="width: 15rem; margin: 0.5rem auto;">
            <div class="form-group">
                <search (pick)="recipientStream.next($event);"></search>
            </div>
        </div>
        <!-- <div class="col-md-1">
            <div class="form-group">
                <label>Date</label>
                <monthpicker [(ngModel)]="date" (ngModelChange)="dateStream.next($event)"></monthpicker>
            </div>
        </div> -->
        <!-- <button (click)="next()">next</button> -->
    </div>
    <div class="col-md-12">
        <!-- <roster-timeline [(ngModel)]="source"></roster-timeline> -->
        <div *ngIf="options?.show">

            <div class="calendar-title">
               
                <div>
                    <button (click)="prev()"><i class="material-icons left"> keyboard_arrow_left </i></button>
                </div>
                <div class="date-title">
                    {{ date | date: 'MMMM yyyy'}}
                </div>
                <div>
                    <button (click)="next()"><i class="material-icons right"> keyboard_arrow_right </i></button>
                </div>
       
                <!-- <button (click)="prev()">prev</button>
                <button (click)="next()">next</button> -->
            </div>


            <div class="calendar" *ngIf="options">
                <full-calendar

                    #calendar

                    (eventMouseEnter)="eventMouseEnter($event)"
                    
                    (eventMouseLeave)="eventMouseLeave($event)"

                    (eventClick)="handleDateClick($event)"

                    (eventDragStart)="eventDragStart($event)"

                    (eventDrop)="eventDrop($event)"

                    (eventRender)="eventRender($event)"

                    defaultView="timeGrid"

                    [plugins]="calendarPlugins"

                    [fixedWeekCount]="false"

                    [weekends]="true"

                    [editable]="false"
                    
                    [eventStartEditable]="false"

                    [eventResizableFromStart]="false"
                    
                    [eventResourceEditable]="false"

                    [duration] ="{
                        months: 1   
                    }"

                    [scrollToTime]="options.scrollTime"

                    [allDaySlot]="false"

                    [eventColor]="'#177dff'"                    

                    [columnHeaderFormat]="{
                        day: '2-digit', omitCommas: true
                    }"                       

                    [height]="'parent'"

                    [header]="{
                        left: '',
                        center: '',
                        right: ''
                    }"
    
                    [events]="options.events"></full-calendar>
                    
                    <div class="loading" *ngIf="loading">
                        <div class="spinner-wrap">
                            <span class="spinner spinner-md">
                                Loading...
                            </span>
                        </div>
                    </div>
            </div>

           
        </div>
    </div>
</div>

<modal-details [open]="basic" [data]="data"></modal-details>