<div>
    <button class="add" (click)="getUsers()"><i class="material-icons insert"> autorenew </i> Refresh</button>
    <ul>
        <li *ngFor="let user of users; let i = index">
            <article>
                <h4>{{ user.key }}</h4>
                <div>
                    <span class="user">{{ user.token.code }}</span>
                    <i class="material-icons spacer"> fiber_manual_record </i>
                    <span>{{ user.token.role }}</span>
                    
                    <button class="delete" (click)="logout(i)"><i class="material-icons"> exit_to_app </i> Logout</button>
                </div>
            </article>
        </li>
    </ul>
</div>