<div>
    <div class="row">
        <!-- <div class="col-md-1 option">
            <i class="material-icons"> add </i>
        </div>
        <div class="col-md-1 option">
            <i class="material-icons"> remove </i>
        </div>
        <div class="col-md-1 option">
            <i class="material-icons"> border_color </i>
        </div>
        <div class="col-md-1 option">
            <i class="material-icons"> clear </i>
        </div> -->
        <div class="search">
            <search-timesheet (selected)="picked($event)"></search-timesheet>
        </div>
        <!-- <div class="col-md-1 option">
            <i class="material-icons"> thumb_up </i>
        </div>
        <div class="col-md-1 option">
            <i class="material-icons"> thumb_down </i>
        </div>
        <div class="col-md-1 option">
            <i class="material-icons"> done_all </i>
        </div>
        <div class="col-md-1 option">
            <i class="material- icons"> compare_arrows </i>
        </div> -->
    </div>

    <!-- *ngIf="selected?.data" -->
    <div class="row" *ngIf="selected.data">
        <div class="col-md-6 col-md-offset-3">
            <ul>
                <li><i class="material-icons" (click)="whatView(6)" data-toggle="tooltip" data-placement="top" title="Add New Timesheet"> add </i></li>
                <li><i class="material-icons" (click)="whatView(4)" data-toggle="tooltip" data-placement="top" title="Delete Highlighted Shifts"> remove </i></li>
                <li><i class="material-icons" (click)="whatView(1)" data-toggle="tooltip" data-placement="top" title="Delete All Unapproved"> delete </i></li>
                <li><i class="material-icons" (click)="whatView(5)" data-toggle="tooltip" data-placement="top" title="Remove Shift Overlap"> remove_circle </i></li>
                <li><i class="material-icons" (click)="whatView(2)" data-toggle="tooltip" data-placement="top" title="Approve All"> thumb_up </i></li>
                <li><i class="material-icons" (click)="whatView(3)" data-toggle="tooltip" data-placement="top" title="Unapprove All"> thumb_down </i></li>
            </ul>
        </div>
    </div>
    <div *ngIf="loading">
       <div style="margin: 1rem auto; width: 1px;">
            <span class="spinner spinner-md">
                Loading...
            </span>
       </div>
    </div>
    <div *ngIf="!loading && timesheets?.length == 0" class="alert alert-app-level alert-warning" style="margin-top:1rem;padding:0">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    No Data
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-scroll" *ngIf="!loading && timesheets?.length > 0">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Shift #</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Recipient or Location</th>
                    <th>Program</th>
                    <th style="width:5rem">Activity</th>
                    <th>Pay Type</th>
                    <th class="align-right">Pay Quantity</th>
                    <th class="align-right">Pay Rate</th>
                    <th class="align-right">Bill Quantity</th>
                    <th class="align-right">Bill Rate</th>
                    <th>Approve</th>
                    <th class="align-left">Bill To</th>
                    <th class="align-left" style="width:8rem">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ts of timesheets; let i = index" class="timesheet-list" [class.selected]="ts.selected" (click)="selectedTimesheet(ts)" (dblclick)="details(i)">
                    <th class="align-left">{{ ts?.shiftbookNo }}</th>
                    <td class="align-left"><span>{{ ts?.date | date: 'dd/MM/yyyy' }}</span></td>
                    <td class="align-left"><span>{{ ts?.startTime | date: 'HH:mm' }}</span></td>
                    <td class="align-left"><span>{{ ts?.endTime | date: 'HH:mm' }}</span></td>
                    <td class="align-left"><span>{{ ts?.duration }}</span></td>
                    <td class="align-left"><span>{{ ts?.recipient }}</span></td>
                    <td class="align-left"><span>{{ ts?.program }}</span></td>
                    <td class="align-left"><span>{{ ts?.activity }}</span></td>
                    <td class="align-left"><span>{{ ts?.paytype }}</span></td>
                    <td class="align-right">{{ ts?.payquant | number : '1.2-2' }}</td>
                    <td class="align-right">{{ ts?.payrate }}</td>
                    <td class="align-right">{{ ts?.billquant | number : '1.2-2'  }}</td>
                    <td class="align-right">{{ ts?.billrate }}</td>
                    <td>
                        <clr-checkbox-wrapper>
                            <input type="checkbox" clrCheckbox value="option1" name="options" [(ngModel)]="ts.approved" (ngModelChange)="checkBoxChange($event,ts)" />                          
                        </clr-checkbox-wrapper>
                    </td>
                    <td class="align-left">{{ ts?.billto }}</td>
                    <td class="align-left">{{ ts?.notes }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!loading && timesheets == null"  class="timesheet-logo">
        <h4 style="color: #00acc1;">No one selected...</h4>
    </div>

    <div class="total-pay col-md-offset-1 col-md-10" *ngIf="!loading && timesheets?.length > 0">
        <div class="col-md-4">
            <div class="form-inline">
                <label for="serviceType">Total Time</label>
                <span class="nth-1">{{ payTotal?.WorkedHours }}</span>
            </div>  
            <div class="form-inline">
                <label for="serviceType">Hours and minutes</label>
                <span class="nth-1">{{ payTotal?.HoursAndMinutes}}</span>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="form-inline">
                <label for="serviceType">Total Paid As Hours</label>
                <span class="nth-1">{{ payTotal?.PaidAsHours}}</span>
            </div>    
            <div class="form-inline">
                <label for="serviceType">Total Paid As Services</label>
                <span class="nth-1">{{ payTotal?.PaidAsServices}}</span>
            </div>    
            <div class="form-inline">
                <label for="serviceType">Recipient Attributable Hours</label>
                <span class="nth-1">{{ payTotal?.WorkedAttributableHours}}</span>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="form-inline">
                <label for="serviceType">Total KM Allowance</label>
                <span class="nth-1">{{ payTotal?.KMAllowancesQty}}</span>
            </div>    
            <div class="form-inline">
                <label for="serviceType">Total Other Allowances</label>
                <span class="nth-1">{{ payTotal?.AllowanceQty}}</span>
            </div>    
            <div class="form-inline">
                <label for="serviceType">Calculated Pay</label>
                <span class="nth-1">{{ payTotal?.BilledAmount}}</span>
            </div>    
        </div>
    </div>
</div>



<bs-modal #shared>
    <bs-modal-header [show-close]="true">
      <h4 class="modal-title">{{ view?.header }}</h4>
    </bs-modal-header>
    <bs-modal-body>
      <div class="modal-form" >
          <div *ngIf="view?.view != -1 && view?.view != 5"class="form-group">{{ view?.body }}</div>
          <div *ngIf="view?.view == -1" class="alert alert-danger" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">{{ view?.body }}</span>
                    </div>
                </div>
          </div>
          <div *ngIf="view?.view == 5"class="form-group">
              <div class="notice">
                  This action will force any overlapping shifts to a later start time to remove the overlap. All entries must be either approved or unapproved. 
                  You cannot use this function if some entries are approved and others are not.
              </div>
              <div class="notice">
                  If you want to force a timegap between overlapping shifts - select 5 minutes from the drop down or if a gap is not needed accept the default of 0
              </div>
              <select class="select-notice" [(ngModel)]="overlapInterval">
                  <option [value]="0">0</option>
                  <option [value]="5">5 minute</option>
              </select>
          </div>
      </div>
    </bs-modal-body>
    <bs-modal-footer [show-default-buttons]="false">
        <button *ngIf="view?.view > 0" class="btn btn-default" (click)="shared.close()">No</button>
        <button *ngIf="view?.view > 0" class="btn btn-primary" (click)="sharedProcess();shared.dismiss()">Yes</button>

        <button *ngIf="view?.view == -1" class="btn btn-primary" (click)="shared.close()">OK</button>
    </bs-modal-footer>
  </bs-modal>


  <clr-wizard #timesheetModal [(clrWizardOpen)]="timesheetOpen" clrWizardSize="lg">
        <clr-wizard-title>Add Entry</clr-wizard-title>
    
        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="addTimesheet()">Finish</clr-wizard-button>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>Service Type & Date</ng-template>

            <div class="col-md-12" [formGroup]="addForm">
                <div class="form-group form-inline">
                    <label for="">Date</label>
                    <datepicker class="nth" formControlName="date"></datepicker>
                </div>
                <div class="form-group form-inline">
                    <label for="serviceType">Service Type</label>
                    <select class="nth" formControlName="serviceType">
                        <option [value]=""></option>
                        <option *ngFor="let type of serviceTypeList" [value]="type">{{ type }}</option>
                    </select>
                </div>                
            </div>
          
          
        </clr-wizard-page>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>Recipient Details</ng-template>
                <div class="col-md-12" [formGroup]="addForm">

                    <div class="form-group" style="margin-bottom:2rem" *ngIf="views.default">
                        <label for="serviceType">Multiple Recipients</label>
                        <div class="clr-toggle-wrapper" style="float:right;">
                            <input type="checkbox" id="tog1" name="toggle-basic" value="option1" class="clr-toggle" formControlName="isMultiple">
                            <label for="tog1"><span *ngIf="addForm.get('isMultiple').value">Yes</span> <span *ngIf="!addForm.get('isMultiple').value">No</span> </label>
                        </div>
                    </div>       
                    
                    <div class="form-group" style="margin-bottom:2rem" *ngIf="add_activity_value == 5">
                        <label for="serviceType">Is Chargeable</label>
                        <div class="clr-toggle-wrapper" style="float:right;">
                            <input type="checkbox" id="tog2" name="toggle-basic" value="option1" class="clr-toggle" formControlName="isChargeable">
                            <label for="tog2"><span *ngIf="addForm.get('isChargeable').value">Yes</span> <span *ngIf="!addForm.get('isChargeable').value">No</span> </label>
                        </div>
                    </div>   

                    <div class="form-group form-inline" *ngIf="!views.admin_act || views.charge.allNonCha || (views.default && !addForm.get('isMultiple').value) || views.others">
                        <label for="serviceType">Recipient Code</label>
                        <recipient-popup class="nth" formControlName="recipientCode"></recipient-popup> 
                    </div>

                    <div class="form-group form-inline" *ngIf="(!views.admin_act && !views.charge.allNonCha && (views.default && !addForm.get('isMultiple').value)) || views.others">
                        <label for="serviceType">Debtor</label>
                        <recipient-popup class="nth" formControlName="debtor"></recipient-popup>                    
                    </div> 

                    <div class="form-group form-inline">
                        <label for="program">Program</label>
                        <select class="nth" id="program" formControlName="program">
                            <option [value]=""></option>
                            <option *ngFor="let type of programsList" [value]="type">{{ type }}</option>
                        </select>
                    </div>            

                    <div class="form-group form-inline">
                        <label for="serviceType">Service/Activity/Item</label>
                        <select class="nth" id="serviceType" formControlName="service">
                            <option [value]=""></option>
                            <option *ngFor="let type of serviceList" [value]="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-group form-inline" *ngIf="!views.charge.allCha && !views.admin_act && !views.charge.allNonCha">
                        <label for="serviceType">Service Setting/Location</label>
                        <select class="nth" id="serviceType" formControlName="serviceSetting">
                            <option [value]=""></option>
                            <option *ngFor="let type of serviceSettingList" [value]="type">{{ type }}</option>
                        </select>
                    </div> 

                </div>
        </clr-wizard-page>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>Pay Details</ng-template>
                <div class="col-md-12" [formGroup]="addForm">
                    <div class="form-group form-inline">
                        <label for="serviceType">Pay Type</label>
                        <select class="nth" id="serviceType" formControlName="payType">
                            <option [value]=""></option>
                            <option *ngFor="let type of payTypeList" [value]="type">{{ type }}</option>
                        </select>
                    </div> 

                    <div class="form-group form-inline">
                        <label for="serviceType">Analysis Code</label>
                        <select class="nth" id="serviceType" formControlName="analysisCode">
                            <option [value]=""></option>
                            <option *ngFor="let type of analysisCodeList" [value]="type">{{ type }}</option>
                        </select>
                    </div>         
                </div>
        </clr-wizard-page>

         <clr-wizard-page *ngIf="views.admin_act || views.others || views.default || views.item">
            <ng-template clrPageTitle>Time</ng-template>
                <div class="col-md-12" [formGroup]="addForm">
                    <div formGroupName="time">
                            <div class="form-group col-md-4">
                                <label for="serviceType">Start Time</label>
                                <timepicker formControlName="startTime"></timepicker>
                            </div>   
                            <div class="form-group col-md-4" >
                                <label for="serviceType">End Time</label>
                                <timepicker formControlName="endTime"></timepicker>
                            </div> 
                            <div class="form-group col-md-4" >
                                <label for="serviceType">Duration</label>
                                <timepicker formControlName="endTime"></timepicker>
                            </div> 
                        </div>       
                </div>
        </clr-wizard-page>

        <clr-wizard-page *ngIf="(views.admin_act || views.others || views.charge.allNonCha || views.charge.allCha || views.default || views.item) && (!views.charge.allCha && !views.charge.allNonCha )">
            <ng-template clrPageTitle>Pay</ng-template>
                <div class="col-md-12" [formGroup]="addForm">
                    <ng-container formGroupName="pay">
                            <div class="form-group col-md-4">
                                <label for="serviceType">Unit</label>
                                <select class="nth" id="serviceType" formControlName="unit">
                                    <option [value]=""></option>
                                    <option *ngFor="let unit of unitList" [value]="unit">{{ unit }}</option>
                                </select>
                            </div>   
                            <div class="form-group col-md-4">
                                <label for="serviceType">Rate</label>
                                <input type="text" formControlName="rate">
                            </div>       
                            <div class="form-group col-md-4">
                                <label for="serviceType">Quantity</label>
                                <input type="text" formControlName="quantity">
                            </div>  
                            <div class="form-group col-md-8">
                                <label for="serviceType">Position</label>
                                <select class="nth" id="serviceType" formControlName="position">
                                    <option [value]=""></option>
                                    <option *ngFor="let type of serviceTypeList" [value]="type">{{ type }}</option>
                                </select>
                            </div>      
                    </ng-container>
                </div>
        </clr-wizard-page>

        <clr-wizard-page *ngIf="(views.others || views.charge.allNonCha || views.charge.allCha || views.default || views.item) && (!views.charge.allCha && !views.charge.allNonCha )">
            <ng-template clrPageTitle>Bills</ng-template>
            <div class="col-md-12" [formGroup]="addForm">
                    <ng-container formGroupName="bill">
                            <div class="form-group col-md-4">
                                <label for="serviceType">Unit</label>
                                <select class="nth" id="serviceType" formControlName="unit">
                                    <option [value]=""></option>
                                    <option *ngFor="let unit of unitList" [value]="unit">{{ unit }}</option>
                                </select>
                            </div>   
                            <div class="form-group col-md-4">
                                <label for="serviceType">Rate</label>
                                <input type="text" formControlName="rate">
                            </div>       
                            <div class="form-group col-md-4">
                                <label for="serviceType">Quantity</label>
                                <input type="text" formControlName="quantity">
                            </div>  
                            <div class="form-group col-md-8">
                                <label for="serviceType">Tax</label>
                                <input type="text" formControlName="tax">
                            </div>      
                    </ng-container>
            </div>
           
        </clr-wizard-page>

        <clr-wizard-page *ngIf="views.charge.allCha || views.charge.allNonCha">
            <ng-template clrPageTitle>Allowance</ng-template>
            ...
        </clr-wizard-page>
    </clr-wizard>


    <clr-modal [(clrModalOpen)]="recipientModal" [clrModalSize]="'xl'">
        <h3 class="modal-title">Recipient Search</h3>
        <div class="modal-body">
            <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <div class="col-md-4" class="searchbox">
                            <input type="text" placeholder="Search Recipient.." #recipient  (keyup.enter)="searchRecipient(recipient.value)" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="table-scroll"
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="onScroll()"
                        [scrollWindow]="false">
                                <table class="table table-compact list-select">
                                    <thead>
                                        <tr>
                                            <th>Account Name</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Address</th>
                                            <th>Contact</th>
                                            <th>Type</th>
                                            <th>Branch</th>
                                            <th>Suburb</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of recipientSearchList;let i = index" (click)="select(i)">
                                            <td>{{ data.accountNo }}</td>
                                            <td>{{ data.name }}</td>
                                            <td>{{ data.gender }}</td>
                                            <td>{{ data.address }}</td>
                                            <td>{{ data.contact }}</td>
                                            <td>{{ data.type }}</td>
                                            <td>{{ data.branch }}</td>
                                            <td>{{ data.suburb }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>           
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="recipientModal = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveRecipient();recipientModal = false">Ok</button>
        </div>
    </clr-modal>