<div nz-row>
  <div nz-col nzSpan="24" style="margin-left:10px">
    <!-- <button class="botton" (click)="showAddModal()">Add Branch</button> -->
    <label for="">Action Plan</label>
    <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

      <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
      <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
        (click)="showEditModal(activeRowData,selectedRowIndex)">Edit</button>
      <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
        nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirm(2,{})">Del</button>
      <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
      <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
    </div>

    <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
      [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
      <thead>
        <tr>
          <!-- <th class="left" style="width:10%;">#</th> -->

          <th style="width:10%">Health Professional</th>
          <th style="width:10%">For</th>
          <th style="width:24%">Consent</th>
          <th style="width:12%">Referral</th>
          <th style="width:12%">Transport</th>
          <th style="width:12%">Feedback</th>
          <th style="width:10%">Date</th>
          <th style="width:10%">Review</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex"
          (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(activeRowData,selectedRowIndex)"
          (contextmenu)="contextMenu($event, menu, data)">
          <!-- <td class="left" style="width:10%">{{ i+1  }}</td> -->

          <td>{{ data.healthProfessional }}</td>
          <td>{{ data.for }}</td>
          <td>{{ data.consent }}</td>
          <td>{{ data.referral }}</td>
          <td>{{ data.transport }}</td>
          <td>{{ data.feedback }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.review }}</td>

        </tr>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="menuclick($event,1)"> <span nz-icon nzType="edit" nzTheme="outline"></span>Edit
              Record</li>
            <li nz-menu-item (click)="menuclick($event,2)"><span nz-icon nzType="delete" nzTheme="outline"></span>Delete
              Record</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="menuclick($event,3)"><span nz-icon nzType="printer" nzTheme="outline"></span>Print
            </li>
            <li nz-menu-item (click)="menuclick($event,4)"><span nz-icon nzType="close" nzTheme="outline"></span>Close
            </li>
          </ul>
        </nz-dropdown-menu>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="form_title" (nzOnCancel)="handleCancel()" [nzWidth]="'800px'" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <div [formGroup]="inputForm">
    <div nz-row class="row">
      <div nz-col nzSpan="7">
        <label>Health Professional</label>
      </div>
      <div nz-col nzSpan="14">
        <input nz-input formControlName="healthProfessional" />
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="7">
        <label>For (Purpose of Referral)</label>
      </div>
      <div nz-col nzSpan="14">
        <textarea rows="4" nz-input formControlName="for"></textarea>
      </div>
    </div>
    <div nz-row class="row">     
        <div nz-col nzSpan="7">
          <label>Consumer Consent</label>
        </div>
        <div nz-col nzSpan="14">
          <nz-select formControlName="consent" nzAllowClear [nzDropdownMatchSelectWidth]="false">
            <nz-option *ngFor="let d of consumerConsent" [nzValue]="d" [nzLabel]="d">
            </nz-option>
          </nz-select>
      </div>
    </div>
    <div nz-row class="row" >      
        <div nz-col nzSpan="7">
          <label>Referral Method</label>
        </div>
        <div nz-col nzSpan="14">
          <nz-select formControlName="referral" nzAllowClear [nzDropdownMatchSelectWidth]="false">
            <nz-option *ngFor="let d of referralMethod" [nzValue]="d" [nzLabel]="d">
            </nz-option>
          </nz-select>      
      </div>
    </div>
    <div nz-row class="row" >      
      <div nz-col nzSpan="7">
        <label>Transport Method</label>
      </div>
      <div nz-col nzSpan="14">
        <nz-select formControlName="transport" nzAllowClear [nzDropdownMatchSelectWidth]="false">
          <nz-option *ngFor="let d of transportMethod" [nzValue]="d" [nzLabel]="d">
          </nz-option>
        </nz-select>      
    </div>
  </div>
  <div nz-row class="row" >      
    <div nz-col nzSpan="7">
      <label>Feedback Required</label>
    </div>
    <div nz-col nzSpan="14">
      <nz-select formControlName="feedback" nzAllowClear [nzDropdownMatchSelectWidth]="false">
        <nz-option *ngFor="let d of feedbackRequired" [nzValue]="d" [nzLabel]="d">
        </nz-option>
      </nz-select>      
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="7" class="form-group">
      <label for="">Actual Referral Date</label>
     
  </div>
  <div nz-col nzSpan="12" class="form-group">
    <nz-date-picker formControlName="date" [nzFormat]="dateFormat"></nz-date-picker>
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="7" class="form-group">
      <label for="">Review Date</label>
     
  </div>
  <div nz-col nzSpan="12" class="form-group">
    <nz-date-picker formControlName="review" [nzFormat]="dateFormat"></nz-date-picker>
  </div>
</div>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" class="btnlightorange" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" class="btnlightblue" (click)="save()" [nzLoading]="loading">Accept</button>
  </div>
</nz-modal>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
  [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
  <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <div nz-row>
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"></iframe>
  </div>
</nz-drawer>