<div nz-row>
  <div nz-row nz-col class="mrg-btm">
  
    <label style="font-size:15px; font-family:'Segoe UI'">Carer Status </label>
</div>
 
</div>
<div nz-row [formGroup]="carerstatusForm">   

  <div nz-col class="heading-div">
    
    <label >Carer availability and status details</label>
 </div>
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Client Carer Needed </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <nz-select formControlName="c_General_NeedForCarer" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of carerRequiredList" [nzValue]="d" [nzLabel]="d"></nz-option>
          </nz-select>
      </div>
  </div>
  <div nz-col class="heading-div">
    
    <label >Availability of Carer</label>
 </div>
 <div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Availability</label>
  </div>
  
      <div nz-col nzSpan="10" class="input">
          <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="carerAvailability" style="width:100%" >
              <nz-option *ngFor="let list of carerAvailabilityList" [nzValue]="list" [nzLabel]="list"></nz-option>
          </nz-select>
      </div>              
  
</div>

<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Sustainability </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="c_Issues_Sustainability" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of SustainabilityList" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Residency status</label>
  </div>
 
      <div nz-col nzSpan="10" class="input">
          <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="carerResidency" style="width:100%" >
              <nz-option *ngFor="let list of carerResidencyList" [nzValue]="list" [nzLabel]="list"></nz-option>
          </nz-select>
      </div>
    
  
</div>
<div nz-col class="heading-div">
    
  <label >Carer Support Issues</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Carer has someone to support them </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="c_Support_Help" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of supportIssues" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Carer receives Carer Payment or Allowance</label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="c_Support_Allowance" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of supportIssues" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Carer has been given info on support services </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="c_Support_Information" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of supportIssues" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Does carer need training (eg Lifting or Medication)</label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="c_Support_NeedTraining" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of supportIssues" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>

<div nz-col class="heading-div">
    
  <label >Threats to Career Management</label>
</div>

<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Carer - emotional stress and strain</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_Emotional"></label>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Carer -  acute physical exhaustion/illness</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_Physical"></label>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Carer - shows physical health deterioration</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_Physical_Slow"></label>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Carer - factors unrelated to care situation</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_Unrelated"></label>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Client - increasing needs</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_ConsumerNeeds"></label>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="6" class="layer">
      <label for="">Client - other facts</label>
  </div>
  <div nz-col nzSpan="12">

      <label nz-checkbox formControlName="c_Threats_ConsumerOther"></label>
  </div>
</div>
<div nz-col class="heading-div">
    
  <label >Comments</label>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Comments on Carer Sustainability & Threats</label>
  </div>
  <div nz-col nzSpan="10" class="input">
    <textarea rows="6" nz-input formControlName="c_Issues_Comments" style="width: 100%;" class="input"></textarea>
    
  </div>
</div>

  



</div>