<div nz-row>
  <div nz-row nz-col class="mrg-btm">
  
    <label style="font-size:16px; font-family:'Segoe UI'">Daily Living </label>
</div>
  <div nz-col class="heading-div">
    
      <label >Daily Living Functions</label>
  </div>
</div>
<div nz-row [formGroup]="dailyLivingForm">   

  <!-- <nz-divider nzText="General Activation Information" nzOrientation="left"></nz-divider> -->

  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Can do house work? </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <nz-select formControlName="fP1_Housework" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of housework" [nzValue]="d" [nzLabel]="d"></nz-option>
          </nz-select>
      </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Can get to places out of walking distance? </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="fP2_WalkingDistance" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of transport" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
</div>

<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can go shopping for groceries or clothes? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP3_Shopping" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of shopping" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can take own medicines? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP4_Medicine" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of medicines" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can handle own money? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP5_Money" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of money" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can walk? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP6_Walking" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of walk" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can take a bath o shower? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP7_Bathing" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of bathShower" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Money problem or confusion? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP8_Memory" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Behavioral issues (aggression, wanderin, agitation)? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fP9_Behaviour" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of behaviouralProblems" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can communicate? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fpA_Communication" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of communication" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can dress self? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fpA_Dressing" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of dressing" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can eat? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fpA_Eating" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of eating" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can go to toilet? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fpA_Toileting" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of toileting" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>
<div nz-row class="row">
  <div nz-col nzSpan="8" class="layer">
      <label for="">Can get up and move around? </label>
  </div>
  <div nz-col nzSpan="10" class="input">
      <nz-select formControlName="fpA_GetUp" nzSize="default" style="width:100%">
          <nz-option *ngFor="let d of gettingUp" [nzValue]="d" [nzLabel]="d"></nz-option>
      </nz-select>
  </div>
</div>

<!-- 
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Autocreate Rosters</label>
      </div>
      <div nz-col nzSpan="10" >
          <label nz-checkbox formControlName="acceptsReferrals"></label>
      </div>
  </div>
  
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Last Activated </label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <input type="text" formControlName="admissionDate" nz-input nzSize="default" readonly>
      </div>
  </div>
  <div nz-row class="row">
      <div nz-col nzSpan="8" class="layer">
          <label for="">Last Activated by</label>
      </div>
      <div nz-col nzSpan="10" class="input">
          <input type="text" formControlName="admittedBy" nz-input nzSize="default" readonly>
         
      </div>
  </div>
   -->



</div>