<div class="container-fluid">
    
<div class="row">
        <ul class="tabs-custom">
            <li [class.active]="tab == 1" (click)="tab = 1">Recipient Listings</li>
            <li [class.active]="tab == 2" (click)="tab = 2">Recipient Registers</li>
            <li [class.active]="tab == 3" (click)="tab = 3">Staff Listings</li>
            <li [class.active]="tab == 4" (click)="tab = 4">HR Reports</li>
            <li [class.active]="tab == 5" (click)="tab = 5">Financial/Output Reports</li>
            <li [class.active]="tab == 6" (click)="tab = 6">System Reports</li>
        </ul>   
</div>

<!-- <div class="col-md-4">
    <h4>Recipient Registers</h4>
    <ul>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
        <li><i class="material-icons"> local_printshop </i> </li>
    </ul>
</div> -->

<div class="row">
    <div *ngIf="tab == 1" class="col-md-12">
            <div class="col-md-4" *ngIf="true">
                <h4>Standard Listings</h4>
                <ul>
                    <li><i class="material-icons"> local_printshop </i> Referral list</li>
                    <li><i class="material-icons"> local_printshop </i> Waiting List</li>
                    <li><i class="material-icons"> local_printshop </i> Active Recipient List</li>
                    <li><i class="material-icons"> local_printshop </i>Inactive Recipient List</li>
                    <li><i class="material-icons"> local_printshop </i> Carer List</li>
                    <li><i class="material-icons"> local_printshop </i> Billing Client Only List</li>
                    <li><i class="material-icons"> local_printshop </i> Associate/Other List</li>
                    <li><i class="material-icons"> local_printshop </i> Referrals During Period</li>
                    <li><i class="material-icons"> local_printshop </i> Admissions During Period</li>
                    <li><i class="material-icons"> local_printshop </i> Discharges During Period</li>
                    <li><i class="material-icons"> local_printshop </i> Unfilled Bookings</li>
                    <li><i class="material-icons"> local_printshop </i> Recipient Roster</li>
                    <li><i class="material-icons"> local_printshop </i> Recipient Master Roster</li>
                    <li><i class="material-icons"> local_printshop </i> Absent Client Status Report</li>
                    <li><i class="material-icons"> local_printshop </i> Suspended Recipient Report</li>
                    <li><i class="material-icons"> local_printshop </i> Voucher Summary Report</li>
                    <li><i class="material-icons"> local_printshop </i> Transport Summary Report</li>
                    <li><i class="material-icons"> local_printshop </i> Package Usage Report</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Agency Listings</h4>
                <ul>
                    <li><i class="material-icons"> local_printshop </i> Active Clients</li>

                    <li><i class="material-icons"> local_printshop </i> Billing Emails</li>
                    <li><i class="material-icons"> local_printshop </i> Brokered Clients</li>
                    <li><i class="material-icons"> local_printshop </i> Brokered Clients & Services</li>
                    <li><i class="material-icons"> local_printshop </i> Client Billing Addresses</li>
                    <li><i class="material-icons"> local_printshop </i> Client List - DEMENTIA</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>User Listings</h4>
                <ul>
                    <li><i class="material-icons"> local_printshop </i> Clients Commonwealth HACC Over 65</li>
                    <li><i class="material-icons"> local_printshop </i> Clients Community Care Under 65</li>
                    <li><i class="material-icons"> local_printshop </i> Over 65 Clients</li>
                </ul>
            </div>
    </div>
    <div *ngIf="tab ==2" class="col-md-12">
        <div class="col-md-4">
            <h4>Recipient Registers</h4>
            <ul>
                <li><i class="material-icons"> local_printshop </i> Incident Register</li>
                <li><i class="material-icons"> local_printshop </i> Lag Time Register</li>
                <li><i class="material-icons"> local_printshop </i> Loans Register</li>
                <li><i class="material-icons"> local_printshop </i> Recipient Case/Progress Notes Register</li>
                <li><i class="material-icons"> local_printshop </i> Recipient Service Notes Register</li>
                <li><i class="material-icons"> local_printshop </i> Service Plans Register</li>
                <li><i class="material-icons"> local_printshop </i> Recipient Care Plan Status</li>
                <li><i class="material-icons"> local_printshop </i> Recipient OP Notes Register</li>
                <li><i class="material-icons"> local_printshop </i> CDC Package Balance Register</li>
                <li><i class="material-icons"> local_printshop </i> CDC Leave Report</li>
                <li><i class="material-icons"> local_printshop </i> HAS Report</li>
            </ul>
        </div>
    </div>
    <div *ngIf="tab ==3" class="col-md-12">
        <div class="col-md-4">
            <h4>Standard Listings</h4>
            <ul>
                <li><i class="material-icons"> local_printshop </i> Active Staff List</li>
                <li><i class="material-icons"> local_printshop </i> Active Brokerage/Contractor List</li>
                <li><i class="material-icons"> local_printshop </i> Active Volunteer</li>
                <li><i class="material-icons"> local_printshop </i> Inactive Staff List</li>
                <li><i class="material-icons"> local_printshop </i> Inactive Volunteer</li>
                <li><i class="material-icons"> local_printshop </i> Inactive Brokerage/Contractor List</li>
                <li><i class="material-icons"> local_printshop </i> Staff Unavailability</li>
                <li><i class="material-icons"> local_printshop </i> Staff Roster</li>
                <li><i class="material-icons"> local_printshop </i> Staff Master Roster</li>
                <li><i class="material-icons"> local_printshop </i> Staff Loans Register</li>
                <li><i class="material-icons"> local_printshop </i> Competency Renewal Report</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Agency Listings</h4>
            <ul>
                <li><i class="material-icons"> local_printshop </i> Create New Report</li>
                <li><i class="material-icons"> local_printshop </i> Disaster Staff List</li>
                <li><i class="material-icons"> local_printshop </i> Leave</li>
                <li><i class="material-icons"> local_printshop </i> Office Staff Leave</li>
                <li><i class="material-icons"> local_printshop </i> Staff & Vols Start Dates</li>
                <li><i class="material-icons"> local_printshop </i> Staff Emails</li>
                <li><i class="material-icons"> local_printshop </i> Staff List - STAT DEC AUST RES</li>

            </ul>
        </div>
        <div class="col-md-4">
            <h4>User Listings</h4>
            <ul>
                <li><i class="material-icons"> local_printshop </i> Create New Report</li>
            </ul>
        </div>
    </div>
    <div *ngIf="tab ==4" class="col-md-12">
        <div class="col-md-4">
            <h4>Human Resource Reports</h4>
            <ul>
                    <li (click)="modalEvent.next(2)"><i class="material-icons"> local_printshop </i> Staff Competencies Register</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Competency Renewal Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Training Register</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Incident Register</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Operational Notes Register</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> HR Notes Register</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Time & Attendance Time Comparison</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Availability Register</li>
            </ul>
        </div>
    </div>
    <div *ngIf="tab == 5" class="col-md-12">
            <div class="col-md-4">
                <h4>Program & Activity Reports</h4>
                <ul>
                    <li (click)="modalEvent.next(2)"><i class="material-icons"> local_printshop </i> Program Activity Spread</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Staff Utilized</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Recipients Serviced</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Billing Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Recipient Budget Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Budget Audit Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Program Summary Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Activity Recipient Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Activity Staff Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Activity Program Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Activity Group Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Dataset Activity Analysis Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Dataset Output Summary Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Dataset Recipient Unit Cost Report</li>
                    <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Unbilled Items Report</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Staff Reports</h4>
                <ul>
                        <li (click)="preview.open()"><i class="material-icons"> local_printshop </i> Staff Pays</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Program Pay Type</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Funder Payroll Type</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Funder Payroll Type</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Date Program</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Allowances</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Program Utilisation</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Clients Serviced</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Admin Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Activity Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Staff Daily Hours Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Award Staff Pay Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Award Staff Program Pay Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Paytype Program Report</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Recipient Reports</h4>
                <ul>
                        <li (click)="modalEvent.next(2)"><i class="material-icons"> local_printshop </i> Recipient Services Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Recipient Staff Usage Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Recipient Paytype Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Recipient Program Utilisation Report</li>
                        <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i> Recipient Unused Funding Report</li>
                </ul>
            </div>
    </div>
    <div *ngIf="tab == 6" class="col-md-12">
        <div class="col-md-4">
            <h4>System Reports</h4>
            <ul>
                <li (click)="modalEvent.next(2)"><i class="material-icons"> local_printshop </i> Audit Register</li>
                <li (click)="modalEvent.next(1)"><i class="material-icons"> local_printshop </i>Mobile Time And Attendance Report</li>
            </ul>
        </div>
    </div>
</div>


</div>


<bs-modal #modal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">{{ modalView?.title }}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div *ngIf="modalView?.contentNo == 1" class="col-md-12">
            <div class="col-md-6">
                    <div class="form-group">
                        <label>Start Date *</label>
                        <datepicker [(ngModel)]="startDate"></datepicker>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label>End Date *</label>
                        <datepicker [(ngModel)]="endDate"></datepicker>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Programs</label>
                    <select [(ngModel)]="selectedValue">
                        <option *ngFor="let s of list">{{ s }}</option>                    
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label>Coordinators</label>
                        <select [(ngModel)]="selectedValue">
                            <option *ngFor="let s of list">{{ s }}</option>                    
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Categories</label>
                        <select [(ngModel)]="selectedValue">
                            <option *ngFor="let s of list">{{ s }}</option>                    
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Recipients</label>
                        <select [(ngModel)]="selectedValue">
                            <option *ngFor="let s of list">{{ s }}</option>                    
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Staff</label>
                        <select [(ngModel)]="selectedValue">
                            <option *ngFor="let s of list">{{ s }}</option>                    
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Other Options</label>
                        <div class="checkbox">
                                <input type="checkbox" id="checkrads_1">
                                <label for="checkrads_1">Report those CW who were</label>
                            </div>
                        <div class="checkbox">
                            <input type="checkbox" id="checkrads_1">
                            <label for="checkrads_1">Report those CW who left</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="checkrads_1">
                            <label for="checkrads_1">Report those CW who overstayed the end of the shift by</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="checkrads_1">
                            <label for="checkrads_1">Report those CW did not logon to shift at all</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="checkrads_1">
                            <label for="checkrads_1">Report those CW who received a Forced Logon</label>
                        </div>
                    </div>
                </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="false">
        <button class="btn btn-primary">Preview</button>
        <button class="btn btn-warning" (click)="print()">Print</button>
    </bs-modal-footer>
</bs-modal>


<bs-modal class="roster-modal" #preview [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title"></h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-12">
                <div class="budget-container">
                        <div class="budget-wrapper">
                            <h4><span>Saved Views</span></h4>
                        </div>                       
                         
                        <div class="budget-wrapper-8" [formGroup]="criteriaListGroup">
                            <h4>Dates & Filters</h4>
                    
                            <div class="budget-wrap col-md-6">
                                <div class="col-md-12">                            
                                    <div class="form-group col-md-6">
                                        <label for="">Start Date</label>
                                        <datepicker formControlName="startDate"></datepicker>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">End Date</label>
                                        <datepicker formControlName="endDate"></datepicker>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="flex-wrapper">
                                        <div class="clr-radio-wrapper">
                                            <input type="radio" id="rad1" name="reportType" value="Detailed"  formControlName="reportType" class="clr-radio" >
                                            <label for="rad1">Detailed</label>
                                        </div>
                                        <div class="clr-radio-wrapper">
                                            <input type="radio" id="rad2" name="reportType" value="Standard"  formControlName="reportType"  class="clr-radio" >
                                            <label for="rad2">Standard</label>
                                        </div>
                                        <div class="clr-radio-wrapper">
                                            <input type="radio" id="rad3" name="reportType" value="Summary" formControlName="reportType"  class="clr-radio" >
                                            <label for="rad3">Summary</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <label for="">Data Type</label>
                                        <select name="dataType" id="dt" formControlName="dataType" >
                                            <option [value]=""></option>
                                            <option *ngFor="let d of dataTypes" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Status Category</label>
                                        <select name="statusCategory" id="stscat" formControlName="statusCategory">
                                            <option [value]=""></option>
                                            <option *ngFor="let d of statusCategories" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Branch Primacy</label>
                                        <select name="branchPrimary" id="brnchpr" formControlName="branchPrimary">
                                            <option [value]=""></option>
                                            <option *ngFor="let d of branchPrimacy" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Age/ATSI Status</label>
                                        <select name="ageStatus" id="agests" formControlName="ageStatus">
                                            <option [value]=""></option>
                                            <option *ngFor="let d of ageStatuses" [value]="d">{{ d }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">                                   
                                            
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="ch1" name="excludePageHeader" value="True"  formControlName="excludePageHeader"   class="clr-checkbox" >
                                        <label for="ch1">Exclude Page Headers & Footers</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="ch2" name="includeFinancials"  value="True"  formControlName="includeFinancials"  class="clr-checkbox">
                                        <label for="ch2">Include Financials</label>
                                    </div>                                         
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c1" name="includeRecipientLeave" formControlName="includeRecipientLeave" value="True" class="clr-checkbox">
                                        <label for="c1">Include Recipient Leave</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c2" name="includeRecipientUR" formControlName="includeRecipientUR" value="True" class="clr-checkbox">
                                        <label for="c2">Include Recipient UR or Staff # If Applicable</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c3" name="includeDateOfBirth" formControlName="includeDateOfBirth" value="True" class="clr-checkbox">
                                        <label for="c3">Include Date of Birth</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c4" name="splitCodeHyphen"  formControlName="splitCodeHyphen" value="True" class="clr-checkbox">
                                        <label for="c4">Split Code on Hyphen</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c5" name="includeAllowances" formControlName="includeAllowances" value="True" class="clr-checkbox">
                                        <label for="c5">Include Allowances</label>
                                    </div>
                                    <div class="clr-checkbox-wrapper">
                                        <input type="checkbox" id="c6" name="includeTraccsInternalCost" formControlName="includeTraccsInternalCost" value="True" class="clr-checkbox">
                                        <label for="c6">Include TRACCS Internal Cost Client/Staff</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                    <clr-tabs>
                                            <clr-tab>
                                                <button clrTabLink id="link1">Branches</button>
                                                <clr-tab-content id="content1" *clrIfActive="true">
                                                <div class="col-md-12" [formGroup]="criteriaListGroup" >
                                                    <div class="form-group">
                                                        <label for="">States</label>
                                                        <dropdown-report formControlName="state" [SQLSTATICLIST]="states"></dropdown-report>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Branches</label>
                                                        <dropdown-report *ngIf="branches?.length > 0" formControlName="branch" [SQLSTATICLIST]="branches"></dropdown-report>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Service Regions</label>
                                                        <dropdown-report *ngIf="serviceRegions?.length > 0" formControlName="serviceRegion" [SQLSTATICLIST]="serviceRegions"></dropdown-report>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Managers</label>
                                                        <dropdown-report *ngIf="managers?.length > 0" formControlName="manager" [SQLSTATICLIST]="managers"></dropdown-report>
                                                    </div>
                                                </div>
                                                </clr-tab-content>
                                            </clr-tab>
                                            <clr-tab>
                                                <button clrTabLink>Funder & Programs</button>
                                                <clr-tab-content >
                                                        <div class="col-md-12" [formGroup]="criteriaListGroup" >
                                                            <div class="form-group">
                                                                <label for="">Funders</label>
                                                                <dropdown-report *ngIf="funders?.length > 0" formControlName="funder" [SQLSTATICLIST]="funders"></dropdown-report>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Funding Regions</label>
                                                                <dropdown-report *ngIf="fundingRegions?.length > 0" formControlName="fundingRegion" [SQLSTATICLIST]="fundingRegions"></dropdown-report>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Service Provider Ids</label>
                                                                <dropdown-report *ngIf="serviceProviderIds?.length > 0" formControlName="serviceProviderId" [SQLSTATICLIST]="serviceProviderIds"></dropdown-report>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Agency Programs</label>
                                                                <dropdown-report *ngIf="agencyPrograms?.length > 0" formControlName="agencyProgram" [SQLSTATICLIST]="agencyPrograms"></dropdown-report>
                                                            </div>
                                                        </div>
                                                </clr-tab-content>
                                            </clr-tab>
                                            <clr-tab>
                                                <button clrTabLink>Services</button>
                                                <clr-tab-content >
                                                        <div class="col-md-12" [formGroup]="criteriaListGroup" >
                                                                <div class="form-group">
                                                                    <label for="">Service Budget Codes</label>
                                                                    <dropdown-report *ngIf="serviceBudgetCodes?.length > 0" formControlName="serviceBudgetCode" [SQLSTATICLIST]="serviceBudgetCodes"></dropdown-report>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Funder Service Types</label>
                                                                    <dropdown-report *ngIf="funderServiceTypes?.length > 0" formControlName="funderServiceType" [SQLSTATICLIST]="funderServiceTypes"></dropdown-report>
                                                                </div>     
                                                                <div class="form-group">
                                                                    <label for="">Dataset Type Start</label>
                                                                    <dropdown-report *ngIf="dataSetTypeStarts?.length > 0" formControlName="dataSetTypeStart" [SQLSTATICLIST]="dataSetTypeStarts"></dropdown-report>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Roster Type</label>
                                                                    <dropdown-report *ngIf="rosterTypes?.length > 0" formControlName="rosterType" [SQLSTATICLIST]="rosterTypes"></dropdown-report>
                                                                </div>                                                         
                                                            </div>
                                                </clr-tab-content>
                                            </clr-tab>
                                            <clr-tab>
                                                <button clrTabLink>Other Domains</button>
                                                <clr-tab-content>
                                                        <div class="col-md-12" [formGroup]="criteriaListGroup" >
                                                                <div class="form-group">
                                                                    <label for="">Care Domains</label>
                                                                    <dropdown-report *ngIf="careDomains?.length > 0" formControlName="careDomain" [SQLSTATICLIST]="careDomains"></dropdown-report>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Disciplines</label>
                                                                    <dropdown-report *ngIf="disciplines?.length > 0" formControlName="discipline" [SQLSTATICLIST]="disciplines"></dropdown-report>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Cost Centres</label>
                                                                    <dropdown-report *ngIf="costCentres?.length > 0" formControlName="costCentre" [SQLSTATICLIST]="costCentres"></dropdown-report>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Environments</label>
                                                                    <dropdown-report *ngIf="environments?.length > 0" formControlName="environment" [SQLSTATICLIST]="environments"></dropdown-report>
                                                                </div>
                                                            </div>
                                                </clr-tab-content>
                                            </clr-tab>

                                             <clr-tab>
                                                <button clrTabLink [clrTabLinkInOverflow]="true">Other Filters</button>
                                                <clr-tab-content>
                                                    <div class="col-md-12" [formGroup]="criteriaListGroup" >
                                                        <div class="form-group">
                                                            <label for="">Outlet ID</label>
                                                            <dropdown-report *ngIf="outletIds?.length > 0" formControlName="outletId" [SQLSTATICLIST]="outletIds"></dropdown-report>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Staff Type</label>
                                                            <dropdown-report *ngIf="staffTypes?.length > 0" formControlName="staffType" [SQLSTATICLIST]="staffTypes"></dropdown-report>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Staff Category</label>
                                                            <dropdown-report *ngIf="staffCategories?.length > 0" formControlName="staffCategory" [SQLSTATICLIST]="staffCategories"></dropdown-report>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Staff Team</label>
                                                            <dropdown-report *ngIf="staffTeams?.length > 0" formControlName="staffTeam" [SQLSTATICLIST]="staffTeams"></dropdown-report>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Pay Type</label>
                                                            <dropdown-report *ngIf="payTypes?.length > 0" formControlName="payType" [SQLSTATICLIST]="payTypes"></dropdown-report>
                                                        </div>                                                       
                                                    </div>
                                                </clr-tab-content>
                                            </clr-tab>

                                        </clr-tabs>
                                </div>
                        </div>
                    </div>
        </div>
    </bs-modal-body>   
    <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-primary" (click)="samokaaaa()">Preview</button>
        <button class="btn btn-warning-outline">Print</button>
    </bs-modal-footer>
</bs-modal>

    