nz-tabset{
    margin-top:1rem;
}
nz-tabset >>> div > div.ant-tabs-nav-container{
    height: 25px !important;
    font-size: 13px !important;
}

nz-tabset >>> div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 24px;
    height: 25px;
}
nz-tabset >>> div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #85B9D5;
    color: #fff;
}

.ant-modal-body{
    padding-top: 10px;
}

ul{
    list-style: none;
}

li i{
    font-size: 1.5rem;
    float: left;
    margin-right: 10px;
}
.note{
    font-size: 12px;
}