<nz-modal [(nzVisible)]="isVisible" nzTitle="CDC Claim Update" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1026">
    <div>
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab  nzTitle="Options" (nzClick)="view(0)"> </nz-tab>
            <nz-tab nzTitle="Batch History" (nzClick)="view(1)"> </nz-tab>          
        </nz-tabset>

        <div style="padding:1rem 2rem">
            <div *ngIf="index == 0">
                <div nz-row>
                    <div class="note">
                        Calculates Home Care Package claims for selected period, taking into account leave days and mid period admissions/discharges.
                        It also ages the package balances according to the claim period. After completion it will display an audis list of claims, and move the claim period to the next month. Batch
                        claim reports can be printed/reprinted anytime using the Summary of Detail Batch Print buttons
                    </div>
                </div>

                <hr />
                
                <div nz-row nzGutter="32">
                    <div nz-col nzSpan="12">
                        <div class="form-group">
                            <ul>
                                <li><i nz-icon nzType="folder-open" nzTheme="outline"></i>Service ID</li>
                            </ul>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="form-group">
                           <ul>
                               <li>12345</li>
                               <li>11111</li>
                           </ul>
                        </div>
                    </div>
                </div>

                <hr />

                <div nz-row nzGutter="32">
                    <label for="">Claim Period</label> 
                    <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
                </div>

            
            </div>

            <div *ngIf="index == 1">
                <nz-table #sss [nzShowPagination]="false" [nzSize]="'small'" [nzLoading]="loading" [nzFrontPagination]="false" [nzData]="tableData">
                    <thead>
                        <tr>
                            <th class="left">Operator ID</th>
                            <th>Date</th>
                            <th>Batch #</th>
                            <th>Detail</th>
                            <th>Type</th>
                            <th>Billed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn">
                            <td class="left">{{ data.detail | getTextFromHtml  }}</td>
                            <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                            <td>{{ data.creator || '-' | uppercase }}</td>
                          
                        </tr> -->
                    </tbody>
                </nz-table>
            </div>

        </div>
    </div>
</nz-modal>

