<div class="login-wrapper">
    <form class="login" *ngIf="ugroup" [formGroup]="ugroup" (ngSubmit)="login(ugroup)">
        <div class="logo"></div>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
                TRACCS Portal
            <h5 class="hint">Use your ID to sign in</h5>
        </label>
        <div class="login-group">
            <input class="username" type="search" formControlName="user" id="login_username" placeholder="Username" autocomplete="off">
            <input class="password" type="password" formControlName="password" id="login_password" placeholder="Password">
            <div class="active" style="text-align:center" *ngIf="loading">
                <span class="spinner spinner-md">
                    Loading...
                </span>
            </div>
            <div class="error active" *ngIf="unauthorized">
                {{ unauthorizedStr }}
            </div>
            <div class="error active" *ngIf="incomplete">
                Form is incomplete
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
            <!-- <a href="javascript://" class="signup">Sign up for a Company ID</a> -->

            <div class="socials">
                <a href="">
                    <div class="fb-logo socials-logo"></div>
                </a>
                <a href="">
                    <div class="twitter-logo socials-logo"></div>
                </a>
                <a href="">
                    <div class="youtube-logo socials-logo"></div>
                </a>
            </div>
        </div>
    </form>
    <div class="back-bg"></div>
</div> 