<div>
    <input type="text" [ngModel]="value" disabled>
    <i class="material-icons" (click)="openRecipientModal()"> more_vert </i>
</div>


<clr-modal [(clrModalOpen)]="recipientModal" [clrModalSize]="'xl'">
    <h3 class="modal-title">Recipient Search</h3>
    <div class="modal-body">
        <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <div class="col-md-4" class="searchbox">
                        <input type="text" placeholder="Search Recipient.." #recipient  (keyup.enter)="searchRecipient(recipient.value)" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="table-scroll"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()"
                    [scrollWindow]="false">
                            <table class="table table-compact list-select">
                                <thead>
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Type</th>
                                        <th>Branch</th>
                                        <th>Suburb</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of recipientSearchList;let i = index" [class.recselected]="i == index" (click)="select(i)">
                                        <td>{{ data.accountNo }}</td>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.gender }}</td>
                                        <td>{{ data.address }}</td>
                                        <td>{{ data.contact }}</td>
                                        <td>{{ data.type }}</td>
                                        <td>{{ data.branch }}</td>
                                        <td>{{ data.suburb }}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>           
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="recipientModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="emitRecipient();recipientModal = false">Ok</button>
    </div>
</clr-modal>