.modal-footer{
    padding: 25px !important;
}
div{
    position:relative;
}
.recselected{
    background:#dfe7ff;
}

i{
    color:#969696;
    cursor:pointer;
    position: absolute;
    right: 0;
    bottom: 4px;
}
i:hover{
    color:#676363 !important;
}

div.table-scroll {
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    max-height: 46vh;
    overflow-y: scroll;
    position: relative;
    border-bottom: 1px solid #c1c1c1;
  }
  
  div.table-scroll table {
    position: relative;
    border-collapse: collapse;
    margin-top:0;
  }
  
  div.table-scroll td, th {
    padding: 0.25em;
  }
  
  div.table-scroll thead th {
    position: -webkit-sticky; 
    position: sticky;
    top: -1px;
    background: #4571ed;
    color: #FFF;
  }
  
  div.table-scroll thead th:first-child {
    left: 0;
    z-index: 1;
  }
  
  div.table-scroll tbody th {
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
  }

  .list-select{
    cursor:pointer;
  }
  .list-select tr:hover:not(.recselected){
      background:#f5f5f5;
  }