.member-container{
    cursor:pointer;
    padding:15px;
}
.member-container h3{
    margin:0;
}
.member-container:hover{
    background:rgb(255, 255, 255);
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

h4{
    color: #c2c2c2;
    margin-bottom: 1rem;
}
.member-wrapper{
    overflow-y: auto;
    height: 70vh;
}

.search-input{
    max-width: 13rem;
    border: 1px solid #a9bfce;
    padding: 18px 14px;
    background: #fff !important;
}