<div class="container">
  <div>
    <h4><b>{{ members?.length }}</b> Client Members found</h4>
    <div class="clr-toggle-wrapper" style="float:right">
        <input type="checkbox" id="toggle1" name="toggle-basic" [ngModel]="isActive" (ngModelChange)="isActiveChanges($event)" value="option1" class="clr-toggle">
        <label for="toggle1">Include Inactive</label>
      </div>
    <div class="form-group">
        <input type="text" class="search-input" [ngModel]="search" (ngModelChange)="textChanges.next($event)" placeholder="SEARCH RECIPIENT">
    </div>
  </div>
  <div class="member-wrapper">
    
    <ng-container *ngIf="members?.length > 0">
        <section class="col-md-4" *ngFor="let member of members" (click)="toProfile(member)">
          <div class="member-container">
            <h3>{{ member.accountNo }}</h3>
            <div>
              {{ member.firstName }} {{ member.surname }}
            </div>
          </div>
      </section>
    </ng-container>

    <intake-no-data [loading]="!members"></intake-no-data>
  </div> 
</div>