.pfx-container{
    display: flex;
    max-width: 4rem;
    min-width: 8rem;
    position: relative;
}

span{
    font-size: 15px;
}

.pfx-container *{
    margin: 0px 1px;
}
.pfx-container > input{
    width: 1.6rem !important;
    min-width: auto;
    padding: 0;
    margin-top: 2px;
}

.prefix-no{
    width: 12px !important;
    padding: 0;
    min-width: auto;
}

.error input{
    background: linear-gradient(to bottom,transparent 95%,#d30000 95%) no-repeat !important;
    border-bottom: 1px solid #d30000;
}
