<div nz-row>
    <!-- <div nz-row class="row">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Accounting</nz-breadcrumb-item>
            <nz-breadcrumb-item>
            Application List
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div> -->
    <!-- <div class="controls">
        <button nz-button nzType="default" (click)="populateDropdownReceipt();receiptModal = true"><i nz-icon nzType="exception" nzTheme="outline"></i> Record Receipt</button>
        <button nz-button nzType="default" (click)="populateDropdownAdjustment(); adjustmentModal = true"><i nz-icon nzType="account-book" nzTheme="outline"></i> Record Adjustment</button>
    </div> -->
    <div nz-row class="row" nzGutter="18" style="padding:10px" >
        <label style="margin-left:2px">All History</label>
    </div>
    <div style="display:flex; flex-direction: row; margin:5px 0px 10px -2px; ">

        <!-- <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
        <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
            (click)="showEditModal(selectedRowIndex)">Edit</button>
        <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
            nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm(2,{})">Del</button> -->
        <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
        <button class="btnlevel2navy" (click)="Refresh()">Refresh</button>
        <button class="btnlevel2navy"  (click)="Filters()">Filters (All Dates, Top 20)</button>
    </div>
    <div nz-row nz-col nzSpan="24">
    <div   nz-col nzSpan="12"></div>
    <div  nz-col nzSpan="12" *ngIf="showFilters" >
        <app-filter [(ngModel)]="filters" [LIMIT_TABS]="LIMIT_TABS" (ngModelChange)="filterChange($event)"></app-filter>
    </div>
</div>

    <div nz-col>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Date</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Amount</th>
                    <th>GST</th>
                    <th>O/S</th>
                    <th>Package</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.date | date: 'dd/MM/yyyy'  }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.number }}</td>
                    <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.gst || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.os || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.package }}</td>
                    <td>{{ data.notes }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>



