 <div nz-row>
    <div nz-row class="row" nzGutter="18" style="padding:10px">
        <label style="margin-left:2px">Invoices</label>
    </div>
   
    <div style="display:flex; flex-direction: row; margin:5px 0px 10px -2px; ">

        <!-- <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
        <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
            (click)="showEditModal(selectedRowIndex)">Edit</button> -->
        <!-- <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
            nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm(2,{})">Del</button> -->
        <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
      
        <button class="btnlevel2navy" (click)="Refresh()">Refresh</button>
        <button class="btnlevel2navy"  (click)="Filters()">Filters (All Dates, Top 20)</button>
    </div>
    <div nz-row nz-col nzSpan="24">
        <div   nz-col nzSpan="12"></div>
        <div  nz-col nzSpan="12" *ngIf="showFilters" >
            <app-filter [(ngModel)]="filters" [LIMIT_TABS]="LIMIT_TABS" (ngModelChange)="filterChange($event)"></app-filter>
        </div>
    <div nz-col>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Date</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Amount</th>
                    <th>GST</th>
                    <th>O/S</th>
                    <th>Package</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ data.date | date: 'dd/MM/yyyy'  }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.number }}</td>
                    <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.gst || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.os || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.package }}</td>
                    <td>{{ data.notes }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div> 

<!-- 
<nz-modal [(nzVisible)]="receiptModal" [nzWidth]="900" nzTitle="Record Receipt" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
   <div nz-row>
        <div nz-col nzSpan="24" [formGroup]="recipientGroup">

            <div class="flex-wrapper">
                <label for="">Branch</label>
                <ng-select formControlName="branch" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Source</label>
                <ng-select formControlName="source" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let source of sources" [value]="source">{{ source }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Package Program</label>
                <ng-select formControlName="programs" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let program of programs" [value]="program">{{ program }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Type</label>
                <ng-select formControlName="type" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let type of types" [value]="type">{{ type }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Date</label>
                <nz-date-picker formControlName="date"></nz-date-picker>
            </div>

            <div class="flex-wrapper">
                <label for="">Amount</label>
                <nz-input-number formControlName="amount"></nz-input-number>
            </div>

            <div class="flex-wrapper">
                <label for="">Notes/Message</label>
                <textarea formControlName="notes" nz-input id="" cols="30" rows="10"></textarea>
            </div>

        </div>
   </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveRecipient()">Save</button>
    </div>

</nz-modal>


<nz-modal [(nzVisible)]="adjustmentModal" [nzWidth]="900" nzTitle="Record Adjustment" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div nz-row>
         <div nz-col nzSpan="24" [formGroup]="recipientGroup">
            
            <div class="flex-wrapper">
                <label for="">Branch</label>
                <ng-select formControlName="branch" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Source</label>
                <ng-select formControlName="source" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let source of sources" [value]="source">{{ source }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Package Program</label>
                <ng-select formControlName="programs" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let program of programs" [value]="program">{{ program }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Type</label>
                <ng-select formControlName="type" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let type of types" [value]="type">{{ type }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Date</label>
                <nz-date-picker formControlName="date"></nz-date-picker>
            </div>

            <div class="flex-wrapper">
                <label for="">Amount</label>
                <nz-input-number formControlName="amount"></nz-input-number>
            </div>

            <div class="flex-wrapper">
                <label for="">Notes/Message</label>
                <textarea formControlName="notes" nz-input id="" cols="30" rows="10"></textarea>
            </div>

        </div>
    </div>
 
     <div *nzModalFooter>
         <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
         <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveAdjustment()">Save</button>
     </div>
 
 </nz-modal> -->
 <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>