<!-- <div nz-row>
    <div nz-col nzOffset="1">
        <button class="botton success" (click)="save()" [disabled]="!profileForm?.dirty">Save Changes</button>           
    </div>
</div> -->

<div nz-row>

   
    <div nz-row class="row" nzGutter="18" style="padding:10px">
        <h3>General Accounting / Billing Information</h3>
    </div>
    <div nz-col nzSpan="24" [formGroup]="profileForm">
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">TRACCS Billing Client</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="billTo" nz-input>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Allow Different Biller</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="recipient_Split_Bill"></label>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Finance System Debtor Code</label>
            </div>

            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="accountingIdentifier" nz-input>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">BPay Reference</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="bPayRef" nz-input>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Contract ID #</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="orderNo" nz-input>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Billing Cycle</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <nz-select formControlName="billingCycle" style="width: 100%">
                    <nz-option *ngFor="let c of billingCycleList" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>
              
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Billing Rate Is</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <nz-select formControlName="billingMethod" style="width: 100%">
                    <nz-option *ngFor="let c of billingrateList" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>
              
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">OR % Commercial Rate</label>
    
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="percentageRate"  nz-input >
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label>Capped</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="capped"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label>Capped At</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="cappedAt"  nz-input >
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Contribution Activity Code</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <nz-select formControlName="title" style="width: 100%">
                    <nz-option *ngFor="let c of contributionActivities" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Email Invoices</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="emailInvoice"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Email Statement</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="emailStatement"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Hide Fare On Transparent</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="hideTransportFare"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label>Notes</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" formControlName="notes" readonly nz-input >
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Financially Dependent</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="fdp"></label>
            </div>
        </div>

      
        
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Direct Debit</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="directDebit"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">DVA Co-biller Debit</label>
            </div>
            <div nz-col nzSpan="10" >
                <label nz-checkbox formControlName="dvaCoBiller"></label>
               
            </div>
        </div>

      

         
        <div nz-row class="row" style="margin-top:10px">
            <h3>Credit Card Details</h3>
        </div>
       
        

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Credit Card Type</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <nz-select formControlName="creditCardType" style="width: 100%">
                    <nz-option *ngFor="let c of creditCardList" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>
            </div>
        </div>
 
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Other Type</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" nz-input formControlName="creditCardOtherType">
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Name of Credit Card</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" nz-input formControlName="creditCardName">
            </div>
        </div>
    
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Credit Card Number</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" nz-input formControlName="creditCardNumber">
            </div>
        </div>

     
    
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">CCV Number</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" nz-input formControlName="creditCardCCV">
            </div>
        </div>
    
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Expiry Date</label>
            </div>
            <div nz-col nzSpan="10" >
                <nz-date-picker formControlName="creditCardExpiry"></nz-date-picker>
            </div>
        </div>



    </div>

   
   
    

</div>
  <!-- <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Payment Terms</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <input type="text" nz-input>
            </div>
        </div>


        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="" class="col-md-2">Billing Profile</label>
            </div>
            <div nz-col nzSpan="10" class="input">
                <textarea nz-input formControlName="billProfile"></textarea>
            </div>
        </div>


<!-- <div>
    <div nz-row>
        <div nz-col nzSpan="18">
            <div nz-row [formGroup]="profileForm">
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>TRACCS Billing Client: </span>
                        <div>
                            <span class="client">{{ profileForm.get('billTo').value }}</span>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Accounting Debtor Code: </span>
                        <div>
                            <input nz-input type="text" formControlName="accountingIdentifier">
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Contract ID#: </span>
                        <div>
                            <input nz-input type="text" formControlName="orderNo">
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Billing Cycle: </span>
                        <div>
                            <nz-select></nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Billing Rate: </span>
                        <div>
                            <nz-select></nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Contribution Activity Code: </span>
                        <div>
                            <nz-select></nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Payment Terms: </span>
                        <div>
                            <nz-select></nz-select>
                        </div>
                    </div>
                </div>
        
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Checkboxes: </span>
                      
                    </div>
                </div>
        
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Billing Profile: </span>
                        <div>
                            <textarea nz-input></textarea>
                        </div>
                    </div>
                </div>
        
                <div nz-col nzSpan="24">
                    <div class="layer2">
                        <span>Checkboxes: </span>
                        <div>
                            <nz-select></nz-select>
                        </div>
                    </div>
                </div>
        
               

            </div>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="18">
            <div nz-row [formGroup]="profileForm">
                 
                <div nz-col nzSpan="24" [formGroup]="profileForm">
                    <div class="layer2">
                        <span>Credit Card Type: </span>
                        <div>
                            <nz-select formControlName="creditCardType"></nz-select>
                        </div>
                    </div>
                </div>   
        
                <div nz-col nzSpan="12">
                    <div class="layer2">
                        <span>Credit Card Number: </span>
                       <div>
                            <input nz-input type="text" formControlName="creditCardNumber">
                       </div>
                    </div>
                </div>
        
                <div nz-col nzSpan="12">
                    <div class="layer2">
                        <span>CCV Number: </span>
                        <div>
                            <input nz-input type="text" formControlName="creditCardCCV">
                       </div>
                    </div>
                </div>
        
                <div nz-col nzSpan="12">
                    <div class="layer2">
                        <span>Name of Credit Card: </span>
                        <div>
                            <input nz-input type="text" formControlName="creditCardName">
                       </div>
                    </div>
                </div>
        
                <div nz-col nzSpan="12">
                    <div class="layer2">
                        <span>Expiry Date: </span>
                        <div>
                            <nz-date-picker formControlName="creditCardExpiry"></nz-date-picker>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> -->