<div nz-row>
    <div nz-row class="row" nzGutter="18" style="padding:10px">
        <label style="margin-left:2px">Receipts & Adjustment</label>
    </div>
    <div style="display:flex; flex-direction: row; margin:5px 0px 10px -2px; ">


        <button class="btnMenu" *ngIf="getPermisson(51) == '1'  " nz-button nz-dropdown [nzDropdownMenu]="menu"
            (click)="menu">Add</button>

        <nz-dropdown-menu #menu="nzDropdownMenu" class="custom-dropdown-menu">
            <ul nz-menu>
                <li nz-menu-item (click)="showReceiptModal($event,1)">Receipt</li>
                <li nz-menu-item (click)="showReceiptModal($event,2)">Adjustment</li>

            </ul>
        </nz-dropdown-menu>
        <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
        <button class="btnlevel2navy" (click)="Refresh()">Refresh</button>
        <button class="btnlevel2navy" (click)="Filters()">Filters (All Dates, Top 20)</button>
    </div>
    <div nz-col>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Date</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Amount</th>
                    <th>GST</th>
                    <th>O/S</th>
                    <th>Package</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" >
                    <td class="left">{{ data.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.number }}</td>
                    <td>{{ data.amount || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.gst || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.os || '0' | number : '1.2-2' }}</td>
                    <td>{{ data.package }}</td>
                    <td>{{ data.notes }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<context-menu>
    <ng-template contextMenuItem let-item (execute)="showReceiptModal($event.item,1)">
        Add
    </ng-template>
    <nz-divider nzType="vertical"></nz-divider>
    <ng-template contextMenuItem let-item (execute)="showReceiptModal($event.item,2)">
        Update
    </ng-template>

</context-menu>

<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="'Receipt/Adjustment Details'" [nzWidth]="750" (nzOnCancel)="handleCancel()" [ngClass]="{ 'background-color': '#e6f7ff;' }">

  <form [formGroup]="recipientGroup" >
      <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="12" ></div>
            <div nz-col nzSpan="4" >
                <label for="">Current Balance</label>
            </div>
            <div nz-col nzSpan="6" >
               
                 <input nz-input formControlName="currentBalance" readonly />
            </div>
        </div>
        <nz-divider></nz-divider>
         <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Branch</label>
            </div>
            <div nz-col nzSpan="12" >
                 <nz-select formControlName="branch" nzPlaceHolder="Select an option"
                    style="width:100%">
                    <nz-option *ngFor="let d of branches" [nzValue]="d" [nzLabel]="d">
                    </nz-option>
                </nz-select> 

            </div>

        </div>
       <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Program</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="programs" [nzDropdownMatchSelectWidth]="false"
                    style="width:100%">
                    <nz-option *ngFor="let d of programs" [nzValue]="d.program" [nzLabel]="d.program">
                    </nz-option>
                </nz-select>

            </div>
            <div nz-col nzSpan="6">
                
                    <label nz-checkbox formControlName="includeInactive" (ngModelChange)="changeProgram($event)" >Include Inactive</label>
                
            </div>
        </div>
        <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Source</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select formControlName="source" nzAllowClear [nzDropdownMatchSelectWidth]="false"
                    style="width:100%">
                    <nz-option *ngFor="let d of sources" [nzValue]="d" [nzLabel]="d">
                    </nz-option>
                </nz-select>

            </div>
        </div>
        <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Type</label>
            </div>
            <div nz-col nzSpan="6">
                <input nz-input formControlName="type" style="width:100%" readonly />
               
            </div>
            <div nz-col nzSpan="6">
                
                <nz-select formControlName="paymentType" nzAllowClear [nzDropdownMatchSelectWidth]="false"
                    style="width:100%">
                    <nz-option *ngFor="let d of paymenttypes" [nzValue]="d" [nzLabel]="d">
                    </nz-option> 
                </nz-select>

            </div>
            <div nz-col nzSpan="3" *ngIf="receiptModal==1">
              
                    <label nz-checkbox  formControlName="bank">Bank</label>
                  

              
            </div>
        </div>
       <div nz-row nzSpan="24" class="row" *ngIf="bank">
            <div nz-col nzSpan="4">
            </div>
            <div nz-col nzSpan="16" >            
            <div class="box" [formGroup]="recipientGroup">
                <div nz-row class="row">
                    <div nz-col nzSpan="4">
                        <label for="">No:</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <input nz-input formControlName="bankAccountNo" style="width:100%" />
                    </div>
                </div>
                <div nz-row class="row">
                
                    <div nz-col nzSpan="4">
                        <label for="">Bank:</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <input nz-input formControlName="bankName" style="width:100%" />
                    </div>
                    <div nz-col nzSpan="4">
                        <label for="">Branch:</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <input nz-input formControlName="bankBranch" style="width:100%" />
                    </div>
                </div>
                <div nz-row class="row">
                
                    <div nz-col nzSpan="4">
                        <label for="">Drawer:</label>
                    </div>
                    <div nz-col nzSpan="20">
                        <input nz-input formControlName="drawer" style="width:100%" />
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Date</label>
            </div>
            <div nz-col nzSpan="6" class="input" [formGroup]="recipientGroup">
              
                <nz-date-picker formControlName="date" [nzFormat]="dateFormat"></nz-date-picker>
            </div>

        </div>

        <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Amount</label>
            </div>
            <div nz-col nzSpan="4" [formGroup]="recipientGroup">
                <nz-input-number [(ngModel)]="amount" formControlName="amount" [nzStep]="1"
                    [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
            
            </div>
            <div nz-col nzSpan="12" *ngIf="receiptModal==2" style="display:flex; flex-direction:row; align-content:space-between; ">
                <nz-radio-group [(ngModel)]="favorValue">
                    <label nz-radio nzValue="Client">In Clients Favor</label>
                    <label nz-radio nzValue="Agency">In Agencies Favor</label>
                
                </nz-radio-group>            
                
            </div>
        </div>

        <div nz-row nzSpan="24" class="row" *ngIf="amount>0">
            <div nz-col nzSpan="4">
                <label for="">Left to apply </label>
            </div>
            <div nz-col nzSpan="4" [formGroup]="recipientGroup"> 
                <nz-input-number [(ngModel)]="amountLeft" formControlName="amountLeft" [nzStep]="1"
                    [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
               
            </div>
            <div nz-col nzSpan="12"  style="display:flex; flex-direction:row; align-content:space-between; ">
               

                    <button  (click)="showConfirm(1)"  class="btnlightblue" >On Account</button>
             
               
                    <button nz-button nzType="primary" class="btnlightblue" (click)="showConfirm(2)"
                        [nzLoading]="loading" *ngIf="receiptModal==1">Apply to Selected</button>
                
                    <button nz-button nzType="primary" class="btnlightblue" (click)="showConfirm(3)"
                        [nzLoading]="loading" *ngIf="receiptModal==1">Auto Apply</button>
                
            </div>
        </div>
       
        <div nz-row nzSpan="24" class="row">
            <div nz-col nzSpan="4">
                <label for="">Notes/Messages</label>
            </div>
            <div nz-col nzSpan="16" [formGroup]="recipientGroup">
                <textarea rows="4" nz-input formControlName="notes" style="width:100%"></textarea>
            </div>
        </div>
    </form>     
        <div nz-row nzSpan="24" class="mrgn-top">
            <nz-table #basicTable2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzData]="invoiceHeader" [nzScroll]="{y:'150px'}">
                <thead>
                    <tr>
                        <th>S</th>
                        <th>Date</th>
                       
                        <th>Number</th>
                        <th>Amount</th>
                        <th>GST</th>
                        <th>O/S</th>
                     
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable2.data;let i = index;">
                       <td >
                        <label nz-checkbox [nzChecked]="setOfCheckedId.has(data.number)"  (nzCheckedChange)="onItemChecked(data.number, $event)" ></label>
                       </td>
                       
                        <td>{{ data.date | date: 'dd/MM/yyyy' }}</td>
                        
                        <td>{{ data.number }}</td>
                        <td>{{ data.amount || '0' | number : '1.2-2' }}</td> 
                        <td>{{ data.gst || '0' | number : '1.2-2' }}</td>
                        <td>{{ data.os || '0' | number : '1.2-2' }}</td>
                      
                        <td>{{ data.notes }}</td>
                    </tr>
                </tbody>
            </nz-table>

        </div>
    

    <div *nzModalFooter>
        <!-- <button nz-button nzType="default" (click)="handleCancel()">Cancel</button> -->
        <!-- <button nz-button nzType="primary" (click)="save(1)" [nzLoading]="loading">Save</button> -->
    </div>

</nz-modal>
<!--
<nz-modal [(nzVisible)]="receiptModal" [nzWidth]="900" nzTitle="Record Receipt" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div nz-row>
         <div nz-col nzSpan="24" [formGroup]="recipientGroup">
 
             <div class="flex-wrapper">
                 <label for="">Branch</label>
                 <ng-select formControlName="branch" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                     <ng-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</ng-option>
                 </ng-select>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Source</label>
                 <ng-select formControlName="source" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                     <ng-option *ngFor="let source of sources" [value]="source">{{ source }}</ng-option>
                 </ng-select>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Package Program</label>
                 <ng-select formControlName="programs" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                     <ng-option *ngFor="let program of programs" [value]="program">{{ program }}</ng-option>
                 </ng-select>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Type</label>
                 <ng-select formControlName="type" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                     <ng-option *ngFor="let type of types" [value]="type">{{ type }}</ng-option>
                 </ng-select>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Date</label>
                 <nz-date-picker formControlName="date"></nz-date-picker>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Amount</label>
                 <nz-input-number formControlName="amount"></nz-input-number>
             </div>
 
             <div class="flex-wrapper">
                 <label for="">Notes/Message</label>
                 <textarea formControlName="notes" nz-input id="" cols="30" rows="10"></textarea>
             </div>
 
         </div>
    </div>
 
     <div *nzModalFooter>
         <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
         <button nz-button nzType="primary" [nzLoading]="loading" (click)="save(1)">Save</button>
     </div>
 
 </nz-modal>

 
<nz-modal [(nzVisible)]="adjustmentModal" [nzWidth]="900" nzTitle="Record Adjustment" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div nz-row>
         <div nz-col nzSpan="24" [formGroup]="recipientGroup">
            
            <div class="flex-wrapper">
                <label for="">Branch</label>
                <ng-select formControlName="branch" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Source</label>
                <ng-select formControlName="source" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let source of sources" [value]="source">{{ source }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Package Program</label>
                <ng-select formControlName="programs" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let program of programs" [value]="program">{{ program }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Type</label>
                <ng-select formControlName="type" [nzSize]="'small'" [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                    <ng-option *ngFor="let type of types" [value]="type">{{ type }}</ng-option>
                </ng-select>
            </div>

            <div class="flex-wrapper">
                <label for="">Date</label>
                <nz-date-picker formControlName="date"></nz-date-picker>
            </div>

            <div class="flex-wrapper">
                <label for="">Amount</label>
                <nz-input-number formControlName="amount"></nz-input-number>
            </div>

            <div class="flex-wrapper">
                <label for="">Notes/Message</label>
                <textarea formControlName="notes" nz-input id="" cols="30" rows="10"></textarea>
            </div>

        </div>
    </div>
 
     <div *nzModalFooter>
         <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
         <button nz-button nzType="primary" [nzLoading]="loading" (click)="saveAdjustment()">Save</button>
     </div>
 
 </nz-modal>
 -->

 <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>