ul{
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    min-height: 37rem;
    max-height: 37rem;
    overflow: auto;
}
li{
    padding: 10px;
    cursor:pointer;
    color: #515151;
    font-size: 12px;
}
li:hover{
    color:#4d4d4d;
}
li:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
li.selected{
    background:#e0f2ff;
}
.switch-container{
    margin:7px;
}