<div class="id-container">
    <div nz-row nzGutter="16">
        <!-- <button (click)="go()">asd</button> -->
        <ng-container [formGroup]="quoteDetailsGroup">
            <div nz-col nzSpan="6" formArrayName="timeSlots" *ngFor="let slot of quoteDetailsGroup.get('timeSlots')['controls']; let i = index;">
                <div class="id-table" [formGroupName]="i">
                    <div formGroupName="monday">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Mo</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                    <div formGroupName="tuesday">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Tue</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                    </div>
                    <div formGroupName="wednesday">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Wed</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                    <div formGroupName="thursday">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Thu</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                    <div formGroupName="friday">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Fri</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                    <div formGroupName="saturday" class="weekend-clr">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Sat</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                    <div formGroupName="sunday" class="weekend-clr">
                        <div *ngIf="size != 'small' || (size == 'small' && i == 0)">Sun</div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                        </div>
                        <div>
                            <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker>
                            <!-- <nz-input-number formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>