<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'">
        <h3 class="modal-title">
            <span>Roster # {{ selectedOption?.recordno }}</span> | {{ selectedOption?.recipient }} 
        </h3>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <clr-dropdown style="float:right" >
                        <button type="button" class="btn btn-outline-primary" style="height:1rem;line-height:10px" clrDropdownTrigger>
                            More
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                            <button type="button" (click)="windowShow.next(1)" [class.active-tab]="window == 1" clrDropdownItem>Service Information</button>
                            <button type="button" (click)="windowShow.next(2)" [class.active-tab]="window == 2" clrDropdownItem>Tasks</button>
                            <button type="button" (click)="windowShow.next(3)" [class.active-tab]="window == 3" clrDropdownItem>Extra Information</button>
                            <button type="button" (click)="windowShow.next(4)" [class.active-tab]="window == 4" clrDropdownItem>Extra Charges</button>
                            <button type="button" (click)="windowShow.next(5)" [class.active-tab]="window == 5" clrDropdownItem>Service Notes</button>
                            <button type="button" (click)="windowShow.next(6)" [class.active-tab]="window == 6" clrDropdownItem>Dataset</button>
                            <button type="button" (click)="windowShow.next(7)" [class.active-tab]="window == 7" clrDropdownItem>Audit History</button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 min-wrap" *ngIf="window == 1">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink>Service Information</button>
                            <ng-template [(clrIfActive)]="whoTab.sInfo">
                                <clr-tab-content>                               
                                    <div class="details-wrapper">
                                        <div *ngIf="selectedOption" class="col-md-11 col-md-offset-1">
                                            <div class="col-md-12" style="margin-top:15px">
                                                <div class="col-md-12" style="margin:10px">
                                                    <div class="col-md-4 col-md-offset-4 form-group">                                        
                                                        <label>Date</label>
                                                        <datepicker [(ngModel)]="selectedOption.date"></datepicker>                                  
                                                    </div>                                            
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-3 col-md-offset-1 form-group">                                        
                                                        <label>Start Time</label>
                                                        <timepicker [(ngModel)]="selectedOption.starttime" (ngModelChange)="serviceInfoDuration.next(1)"></timepicker>                                                                       
                                                    </div>
                                                    <div class="col-md-3 form-group">                                        
                                                        <label>End Time</label>
                                                        <timepicker [(ngModel)]="selectedOption.endtime" (ngModelChange)="serviceInfoDuration.next(2)"></timepicker>                                                                       
                                                    </div>
                                                    <div class="col-md-3 col-md-offset-1 form-group">                                        
                                                        <label>Duration</label>
                                                        <input type="text" [value]="duration" disabled>                                                                     
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="col-md-6" style="background: #fbfbfb; padding: 4px">
                                                    <div class="col-md-12 form-group">                                        
                                                        <label>Recipients</label>
                                                        <input type="text" [(ngModel)]="selectedOption.recipient">                                                                      
                                                    </div>
                                                    <div class="col-md-12 form-group">                                        
                                                        <label>Category</label>
                                                        <select [(ngModel)]="selectedOption.category">
                                                            <option [value]=""></option>
                                                            <option *ngFor="let category of categories" [selected]="selectedOption.category == category.description">{{ category.description }}</option>
                                                        </select>                                                                    
                                                    </div>
                                                    <!-- <div class="col-md-6 form-group">                                        
                                                        <label>Staff/Broker</label>
                                                        <input type="text" [(ngModel)]="selected.staff">                                                                      
                                                    </div> -->
                                                    <div class="col-md-12 form-group">                                        
                                                        <label>Program</label>
                                                        <select [(ngModel)]="selectedOption.program">
                                                            <option [value]=""></option>
                                                            <option *ngFor="let program of programs" [selected]="selectedOption.program == program">{{ program }}</option>
                                                        </select>                                                                       
                                                    </div>
                                                    <div class="col-md-12 form-group">                                        
                                                        <label>Activity/Service</label>
                                                        <select [(ngModel)]="selectedOption.activity">
                                                            <option [value]=""></option>
                                                            <option *ngFor="let activity of activities" [selected]="selectedOption.activity == activity">{{ activity }}</option>
                                                        </select>                                                                           
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="padding: 3rem 2rem">
                                                    <div class="form-group">                                        
                                                        <label>Location</label>
                                                        <input type="text" [(ngModel)]="selectedOption.location">                                                                     
                                                    </div>
                                                    <div class="form-group">                                        
                                                        <label>No of Attendees</label>
                                                        <input type="text" [(ngModel)]="selectedOption.attendees">                                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>                              
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>
                    
                        <clr-tab>
                            <button clrTabLink>Billing</button>
                            <ng-template [(clrIfActive)]="whoTab.billing">
                                <clr-tab-content>
                                    <div class="details-wrapper">
                                            <div class="col-md-12 dataset-group">
                                                    <div>
                                                        <div><label for="">Debtor/Bill Code</label></div>
                                                        <div>
                                                            <select [(ngModel)]="selectedOption.activity">
                                                                <option [value]=""></option>
                                                                <option *ngFor="let activity of activities" [selected]="selectedOption.activity == activity">{{ activity }}</option>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div><label for="">Bill Quantity</label></div>
                                                        <div><input type="text" placeholder="My input" name="input" [(ngModel)]="input" /></div>
                                                    </div>
                                                    <div>
                                                        <div><label for="">Bill Unit</label></div>
                                                        <div>
                                                            <select [(ngModel)]="selectedOption.activity">
                                                                <option [value]=""></option>
                                                                <option *ngFor="let activity of activities" [selected]="selectedOption.activity == activity">{{ activity }}</option>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div><label for="">Tax Percentage</label></div>
                                                        <div><input type="text" placeholder="My input" name="input" [(ngModel)]="input" /></div>
                                                    </div>          
                                                    <div>
                                                        <div><label for="">Bill Rate</label></div>
                                                        <div><input type="text" placeholder="My input" name="input" [(ngModel)]="input" /></div>
                                                    </div>                                           
                                                </div>
                                    </div>
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>
                    
                        <clr-tab>
                            <button clrTabLink>Pay Information</button>
                            <ng-template [(clrIfActive)]="whoTab.payInfo">
                                <clr-tab-content>
                                    <div class="details-wrapper">
                                        pay info
                                    </div>
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>
                    
                        <clr-tab>
                            <button clrTabLink>MTA Information</button>
                            <ng-template [(clrIfActive)]="whoTab.mta">
                                <clr-tab-content>
                                    <div class="details-wrapper">
                                            <div class="col-md-12 dataset-group">
                                                <div>
                                                    <div><label for="">MTA Logging Mode</label></div>
                                                    <div>
                                                        <select [(ngModel)]="selectedOption.activity">
                                                            <option [value]=""></option>
                                                            <option *ngFor="let activity of activities" [selected]="selectedOption.activity == activity">{{ activity }}</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                                <div>
                                                    <div><label for="">MTA Multishift</label></div>
                                                    <div>
                                                        <clr-checkbox-wrapper>
                                                            <input type="checkbox" clrCheckbox value="option1" name="options" />
                                                        </clr-checkbox-wrapper>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div><label for="">Exclude from Mobile GEO Locating</label></div>
                                                    <div>
                                                        <clr-checkbox-wrapper>
                                                            <input type="checkbox" clrCheckbox value="option1" name="options" />
                                                        </clr-checkbox-wrapper>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div><label for="">Exclude From App Alerts</label></div>
                                                    <div>
                                                        <clr-checkbox-wrapper>
                                                            <input type="checkbox" clrCheckbox value="option1" name="options" />
                                                        </clr-checkbox-wrapper>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                    </div>
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>
                    </clr-tabs>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 2">
                    <div class="details-wrapper">
                        <dm-tasks [(ngModel)]="selectedOption"></dm-tasks>
                    </div>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 3">
                    <div class="details-wrapper">
                        <dm-extrainfo [(ngModel)]="selectedOption"></dm-extrainfo>
                    </div>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 4">
                    <div class="details-wrapper">
                        <!-- <dm-extrainfo [(ngModel)]="selectedOption"></dm-extrainfo> -->
                    </div>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 5">
                    <div class="details-wrapper">
                        <dm-servicenotes [(ngModel)]="selectedOption"></dm-servicenotes>
                    </div>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 6">
                    <div class="details-wrapper">
                        <dm-dataset [(ngModel)]="selectedOption"></dm-dataset>
                    </div>
                </div>
                <div class="col-md-12 min-wrap" *ngIf="window == 7">
                    <div class="details-wrapper">
                        <dm-audit [(ngModel)]="selectedOption"></dm-audit>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="open = false">Ok</button>
        </div>
    </clr-modal>
    