.details-wrapper{
    min-height:16rem;
}

.dataset-group > div{
    display: flex;
    height: 2rem;
    align-items: center;
}
.dataset-group > div:first-child{
    margin-top:1rem;
}
.dataset-group > div > div:first-child{
    flex: 2;
    text-align: right;
}
.dataset-group > div > div:last-child{
    display: flex;
    align-items: center;
    flex: 3;
    padding: 0 1rem;
}