nz-tabset {
    margin-top: 1rem;
  }

    nz-tabset ::ngdeep div > div.ant-tabs-nav-container {
    height: 25px !important;
    font-size: 13px !important;
  }

    nz-tabset ::ngdeep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab {
    line-height: 24px;
    height: 25px;
    border-radius: 15px 4px 0 0;
    margin: 0 -10px 0 0;
  }

    nz-tabset ::ngdeep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active {
    background: #85B9D5;
    color: #fff;
  }

  ul.options {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0 0;
  }

  ul.options li {
    display: inline-block;
    margin-right: 6px;
    padding: 5px 0;
    font-size: 13px;
  }

  .disabled {
    cursor: not-allowed;
    color: #cfccca;
  }

  ul.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:left;
    border : 1px solid #FF5F1F;
    border-radius: 5px;
    

  }

  ul.sub-menu li {
    font-size: 14px;
    font-family: 'Segoe UI';
    padding: 5px 15px;     
    background: #FF5F1F;
    
  }

  ul.sub-menu li:hover:not(.disabled) {
    color: black;
    background: #edf9ff;
  }

  li div {
    text-align: center;
  }

  .recipient-controls button {
    margin-right: 6px;
    height: 33px;
    width: 88px
  }

  nz-select {
    width: 100%;
  }

  .options button:disabled {
    color: #a3a3a3;
    cursor: no-drop;
  }

  .options button:hover:not([disabled]) {
    color: #85b9d5 !important;
    cursor: pointer;
  }

  ul li button {
    border: 0;
    background: #85b9d5;
    float: left;
  }

  div.special-btn {
    padding: 8px  !important;
    position: relative;
    display: inline-block;
    background-color: #85b9d5;
    color: #FFF;
    height: 36px;
    text-align: center;
    vertical-align: middle;     
    font-size: 14px;
    font-family: 'Segoe UI';
    margin-right: 5px;
  }

  div.special-btn > div {
    position: absolute;
    border: 1px solid #dfdfdf;
    background: #fff;
    z-index: 10;
    top: 34px;
    left: 0;
    width: 10rem;
    border-radius: 4px;
  }

  .special-btn2 {
    flex: 10%;
    font-size: 14px;
    font-family: 'Segoe UI';
    margin-right: 5px;
    cursor: pointer;
    color: #afafaf;
    border-radius: 3px;
    height:33px;
    text-align:center;
  }
  .special-btn{
    border:none;
    cursor:pointer;
    outline:none;
    transition: background-color 0.5s ease;
    height:35px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Segoe UI';
    margin-right: 5px;
  }

  /* Popup container */

  .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;

  }a

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: #cfe6f6; 
  border: 0.5px solid #6496b6;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;  
  width: 25vw;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 15px;
border-style: solid;
border-color: #cfe6f6 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
animation: hideAnimation 0s ease-in 5s;
/* -webkit-animation: fadeIn 1s;
animation: fadeIn .7s ease-in-out; */
}

.popup .hide {
  /* visibility: hidden; */
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;

  }
/* Add animation (fade in the popup) */
@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transition: .7s ease-in-out all;
  }
  100% {
    opacity: 1 !important;
  }
}

.hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

  /**
  .status {
      font-size: 11 px;
      padding: 3 px 5 px;
      border-radius: 11 px;
      color: #fff;
    margin-right: 10 px;
  }
  .status.active {
    background: #42ca46;
  }

  .status.inactive {
    background: #c70000;
  }
  .status.type {
    background: #c8f2ff;
    color: black;
  } */

  .status-program {
    display: inline-block;
    float: left;
  }

  .status-program i {
    font-size: 1.4rem;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
  }

  .status-program i:hover {
    color: #000;
  }

  .tree-overflow {
    max-height: 24rem;
    overflow: auto;
  }

  label.columns {
    display: block;
    margin: 0;
    padding-left:5px;
  }

  .ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-extra {
    margin-left: unset !important;
    float: none !important;
    color: green !important;
  }

  .ant-table-thead > tr > th {
    background: green;
  }

  .hide {
    display: none;
  }

  .status-wrapper {
    color: #fff;
    border-radius: 10px;
    background: #85b9d5;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
  }

  main-list {
    background: #002060 !important;
    color:white;
    
  }

  .switch {
    padding: 4px 9px;
    margin-left: 1px;
    background: #85b9d5;
    color: #fff;
    border-radius: 3px;
    width: 144px;
    display: inline-block;
    margin-right:6px
  }
  .switch > div > span {
    width: 5rem;
    text-align: center;
    margin: 3px 10px;
    font-weight: 500;
  }
  
  .selected{
      background-color: #85B9D5;
      color: white;
  }

:host   nz-switch  button.ant-switch-checked {
    background-color: #85b9d5 !important;
  }

 
  nz-sider {
    background: #002060;
    
   
  }

  :host  nz-sider  .ant-menu{
    background-color: #002060; 
    font-family: 'Segoe UI' ;
    font-size : 15px;
    font-weight: 400;
    color: #fff;
  }
  
  :host  nz-sider   .ant-menu-submenu:hover{
    background-color: #85B9D5 !important;
    color : white !important;
  }

 

  :host  nz-sider  .ant-menu-dark .ant-menu-title:hover {
    background-color: #85B9D5 !important;
    color : white !important;
  }



  :host  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #85B9D5 !important;
    color: white !important;      
    font-size:15px;
    font-weight: 500;
    color: #fff;
    
  }
/*
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected:first-child{
    background-color: #85B9D5 !important;
    color: white !important;
   
  
  }

 
  .ant-menu .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected i {
    color: #002060;


  }



  . ant-menu .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background: #002060;
   
  }
 
    */

  :host  nz-submenu .ant-menu-submenu-ul, .ant-menu-inline .ant-menu-item,  .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-item,   .ant-menu-vertical-right .ant-menu-item, .ant-menu-vertical-right .ant-menu-submenu .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu .ant-menu-submenu-title{
    height: 30px !important;
    line-height: 30px !important;
    color: #dfdfdf;
   
  }

   
  

  nz-submenu .ant-menu-submenu-ul .ant-menu-submenu-li{
    background: #002060;
    height: 30px !important;
    line-height: 30px !important;
  }


.outer-div {
   /* 5% of the viewport height for padding */
  border: 2px solid #85B9D5;
  display:block;
 
  align-items: left;
  width:calc(75vw - 10px);
  height:calc(85vh - 15px); /* 80vh;  90% of the viewport height for the outer div */
  padding: 2px;
  margin-left:-2px;
  margin-top :-2px;
}



.inner-div {
  border: 2px solid #dbdee2;
  display:block;
  margin-left: 20px;    
  margin-right: 20px;
  margin-bottom: 20px;
  padding:10px;
  width:72vw;
  height:calc(80vh - 20px); /* 80vh;  90% of the viewport height for the outer div */
  overflow-y: auto;
  overflow-x: hidden;
}

.top-text {
  margin-top: 10px;
  text-align: left;
  background-color: #e9f7ff;
  color : #635f5f;
  width: fit-content;
  font-family: 'Segoe UI' ;
  font-size : 15px;
  font-weight: 600;
  height: 30px;
  border : 1px solid #e9f7dd;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
}


@media (max-width: 767px) {
  .outer-div {
    padding: 10px;
    height: auto;
  }
  .inner-div {
    width: 100%; /* Make inner div 100% of parent width */
    height:auto
  }
}

 

  .recipient-search{      
    display: block;   
    position:relative;    
     width:15vw;
    height:calc(85vh - 15px); /* 80vh;  90% of the viewport height for the outer div */
    
   
  }
  .recipient-tabs{
    display:block;
    background : #002060;
    min-width: 10vw;      
    overflow: hidden;
    height:calc(85vh - 15px);
    border-right: 1px solid #e7e7e7;
   
  }

  .recipient-main-container{      
    display: flex; 
    flex-direction: column;    
    /* overflow: auto;*/
    padding: 2px;
    height:calc(85vh - 10px);
   
  }

  .height-main-container{      
    display: flex; 
    flex-direction: row;   
    
   
  }

  .height-main-properties{
    /* border: 1px solid #e7e7e7;*/
    overflow: hidden;
  }
  .staff-controls .recordHeaderMainButtons{
    margin-right:5px;
    height: 36px;
    width: 88px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px;
  }
  .staff-controls botton:disabled{
    background:#FFBA08;
  }
  .green-btn{
    min-width:180px;
    background-color:green;
    color:#fff;
    margin-right:5px;
    height: 36px;
    text-transformation:uppercase;
    font-size: 14px;  
    font-family: 'Segoe UI';
   
  }

  .orange-btn{
    width:120px;
    background-color:#F18805 !important;
    color:#fff;
    margin-right:5px;
    height: 40px;
    font-size: 14px;  
    font-family: 'Segoe UI';
  }
  .ng-dropdown-panel .ng-dropdown-panel-items{
    max-height: 80vh;
  }
  .spinner{
        margin:1rem auto;
        width:1px;
    }

    .exists{
      background-color: #fa9d9d;
      color: black;
  }

  .active-tab{
      background: #85B9D5;
      color: #fff;
      padding:10px;
      font-weight: 600;
  }

  .switch-label{
  background-color:  #F18805; 
  border : 1px solid #F68868;
  color: #fff;
  border-top-left-radius: 3px;   
  border-bottom-left-radius: 3px;    
  border-right: none;
  width:60px;
  height:36px !important;;
  font-size:14px;
  font-family: 'segoe ui';
  font-weight:bold;
  text-align: center;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}
.switch-label2{
  background-color:  #85B9D5; 
  border : 1px solid #95B9D9;     
  color: #fff;
  border-top-right-radius: 3px;    
  border-bottom-right-radius:3px;
  border-left: none;
  width:60px;
  height:36px !important;
  font-size:14px;
  font-family: 'segoe ui';
  font-weight:bold;
  text-align: center;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  
 
}

.deleted{
  background-color:  #85B9D5  ;
  padding-left: 2px; 
  padding-top: 4px; 
  color: white;  width:80px; text-align: center; vertical-align: middle; border-top-left-radius: 5px; border-bottom-left-radius: 3px; 
}
  .active{
    background-color:  #ebebeb; 
    border : 1px solid #D6D3D3;

    width:60px;
    height:36px !important;
    font-size:14px;
    font-family: 'segoe ui';     
    color: #fff;    
    border-top-left-radius: 3px;   
    border-bottom-left-radius: 3px;
    text-align: center;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
   
}
.togglediv{
  display:flex; 
  flex-direction:row;
  width:165px;
  margin-top:4px !important;
  height:40px !important; 
  margin-left:1px;
  margin-right:2px;
}  

.togglebutton{
   
    height: 36px !important;
    text-align: center;
    vertical-align: middle;     
    font-size: 10px;
    font-family: 'Segoe UI';
    border : 1px solid rgb(150, 148, 148);
    background-color: #e5e5e5;
    margin-left:1px;
    border-radius : 0px;
  
}
.blank-list {
  background-color: #FFF;
  color: #000;
  width: 100%;
}

.custom-dropdown-item {
   
    width: 100%  !important;
    min-width: 250px;
    font-size: 15px;
    color: #000;
    font-family: 'Segoe UI';
    padding:10px 5px 5px 5px;
    height: 30px;
    margin-top: 5px;
    border-bottom: 1px solid #c0bebe;
    text-align: left;
    vertical-align: middle;

}