                <div style="padding:8px">
                    <div nz-row class="backBox">
                        <button (click)="goBack()" class="right-back-btn">
                            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
                        </button>
                        <button (click)="goBack()" class="left-back-btn">
                            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
                        </button>
                    </div>
                    <div nz-row class="actionBox">
                        <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
                        <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
                        <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
                    </div>
                    <div nz-row>
                        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                        [nzLoading]="loading" [nzData]="awardListData">
                        <thead>
                            <tr>
                                <th class="left">Code</th>
                                <th class="left">Description</th>
                                <th class="left">Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data;let i = index;" [class.highlight]="currentIndex === i">
                                <td class="left">{{ data.code }} </td>
                                <td class="left">{{ data.description }} </td>
                                <td class="left">{{ data.category }} </td>
                                <td *ngIf="!data.is_deleted">
                                    <a (click)="showEditModal(i)">Update</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Award Setup List?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            <nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'53vw'"
            [(nzVisible)]="modalOpen" nzTitle="{{title}}" (nzOnCancel)="handleCancel()">
            <div class="flexy" style="display: flex;  height: 75vh;  ">
                <div>
                    <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="2">
                        <nz-tab nzTitle="General" (nzClick)="view(0)"></nz-tab>
                        <nz-tab nzTitle="Hours Of Work 1" (nzClick)="view(1)"></nz-tab>
                        <nz-tab nzTitle="Hours Of Work 2" (nzClick)="view(2)"></nz-tab>
                        <nz-tab nzTitle="Hours Of Work 3" (nzClick)="view(3)"></nz-tab>
                        <nz-tab nzTitle="Hours Of Work 4" (nzClick)="view(4)"></nz-tab>
                        <nz-tab nzTitle="Timebands" (nzClick)="view(5)"></nz-tab>
                        <nz-tab nzTitle="Allowances" (nzClick)="view(6)"></nz-tab>
                        <nz-tab nzTitle="Special Shifts" (nzClick)="view(7)"></nz-tab>
                    </nz-tabset>
                    <div *ngIf="inputForm"  id="main-wrapper">
                        <div class="tab" *ngIf="current == 0 " [formGroup]="inputForm">
                            <div nz-row style="margin-top: 0.4%;">
                                <div style="display: inline-block; position: relative; margin-top: 5px; ">
                                    <label style="font-size: 18px; font-weight: bold;"> General Information </label>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 4%;">
                                <div nz-col nzSpan="4">
                                    <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Code :
                                    </label>
                                </div>
                                <div nz-col nzSpan="8">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="code" style="text-align: left; width: 100%;">
                                        <nz-option *ngFor="let etype of codeList" [nzLabel]="etype.description"
                                        [nzValue]="etype.description">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Description :
                                </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="description"/>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Category :
                                </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="category" />
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Level : </label>
                            </div>
                            <div nz-col nzSpan="2">
                                <input nz-input formControlName="level" (keypress)="onKeyPress($event)" />
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Notes : </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="notes"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab" *ngIf="current == 1" [formGroup]="inputForm">
                        <div nz-row class="section">
                            <div nz-col [nzSpan]="24">
                                <label class="section-title">Hours of Work And Related Matters</label>
                            </div>
                        </div>
                        <div class="content-tab">
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="6">
                                    <label class="sub-section-title">Ordinary hours of work</label>
                                </div>
                                <div nz-col [nzSpan]="6" class="right-align">
                                    <label>Normal Pay Paytype:</label>
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear formControlName="basE_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:8%;">
                                    (a) The ordinary hours of work will be
                                    <input nz-input type="text"  formControlName="week_MaxOrdHr" class="input-small" /> hours per week, or an average of 
                                    <input nz-input type="text"  formControlName="week_MaxOrdHrNotFound" class="input-small" /> hours per of week,
                                </div>
                            </div> 
                            
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:9%;">
                                    worked  <input nz-input type="text"  formControlName="fN_MaxOrdHr" class="input-small" /> hours per Fortnight OR 
                                    <input nz-input type="text"     formControlName="w4_MaxOrdHours" class="input-small" /> hours per 4 Week.
                                </div>
                            </div>
                            
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left: 15%;">
                                    (i) in a week of
                                    <input nz-input type="text" formControlName="week_MaxOrdDays" class="input-small" /> days in shifts not exceeding 
                                    <input nz-input type="text" formControlName="day_MaxOrdHr" class="input-small" /> hours each;
                                </div>
                            </div>
                            
                            
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left: 15%;">
                                    (ii) in a fortnight of
                                    <input nz-input type="text" formControlName="fN_MaxOrdDays" class="input-small" /> days shifts not exceeding 
                                    <input nz-input type="text" formControlName="fN_MaxOrdHrsDay" class="input-small" /> hours each; or
                                </div>
                            </div> 
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left: 15%;">
                                    (iii) in a four week period
                                    <input nz-input type="text" formControlName="w4_MaxOrdDays" class="input-small" /> days to be worked as shifts of 
                                    <input nz-input type="text" formControlName="w4_MaxOrdHrsDay" class="input-small" /> hours.
                                </div>
                            </div>
                            <div nz-row class="section">
                                <div nz-col [nzSpan]="24">
                                    <label class="sub-section-title">Span of hours</label>
                                    <div>The ordinary hours of work for a day worker will be worked between 
                                        <input nz-input type="text" formControlName="ordHoursStartTime" class="input-small" /> and 
                                        <input nz-input type="text" formControlName="ordHoursEndTime" class="input-small" /> Monday to Friday.
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="section">
                                <div nz-col [nzSpan]="24">
                                    <label class="sub-section-title">Minimum Hours</label>
                                    <div nz-row class="row">If an employee works less than 
                                        <input nz-input type="text" formControlName="minHoursPerDay"  class="input-small" /> hours total in a day they are paid a minimum of 
                                        <input nz-input type="text" formControlName="minHoursPerDayDisabled" class="input-small" /> hours.
                                    </div>
                                    <div nz-row class="row">
                                        Minimum Engagement is 
                                        <input nz-input type="text"  formControlName="minHoursPerService" class="input-small" /> hours each &nbsp;&nbsp;
                                        <input type="checkbox"  formControlName="breakTimeWorked" /> &nbsp;&nbsp;Break time falling within min. engagement is time worked.
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="section">
                                <div nz-col [nzSpan]="24">
                                    <label class="sub-section-title">Rostered Days Off</label>
                                    <div>Employees, other than a casual employee, will be free from duty for not less than 
                                        <input nz-input type="text"  formControlName="week_MinFreeDays" class="input-small" /> full days in each week <br> 
                                        or &nbsp; <input nz-input type="text" formControlName="fN_FreeDays" class="input-small" /> full days in each fortnight, 
                                        <input nz-input type="text"  formControlName="w4_FreeDays" class="input-small" /> full days in each 28 day period.
                                    </div>
                                    <div>
                                        <label><input type="checkbox" formControlName="payOvertimeInsuficientMinDays" /> Pay Overtime On Insufficient Minimum Days</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" *ngIf="current == 2" [formGroup]="inputForm">
                        <div nz-row class="section">
                            <div nz-col [nzSpan]="24">
                                <label class="section-title">Hours of Work And Related Matters</label>
                            </div>
                        </div>
                        <div class="content-tab" style="padding-right: 20%;">
                            
                            <div nz-row [nzGutter]="24" style="margin-top: 1%;">
                                <div nz-col [nzSpan]="11">
                                    <label class="section-title">Rest breaks between rostered work</label>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <label nz-checkbox style="margin-top:10px;" formControlName="payOvertimeNoMinBreak">Pay Overtime On Insufficient Rest Breaks</label>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 0.8%;">
                                <div nz-col [nzSpan]="24" style="padding-left: 12%">
                                    <label>
                                        (a) An employee will be allowed a rest break of not less than 
                                        <input nz-input type="text" class="input-small" formControlName="minBetweenShiftBreak" /> hours between one shift or period of work and the start of another unless the before or after shift or period of work is a sleepover in case they will be allowed a rest break of not less than 
                                        <input nz-input type="text" class="input-small" formControlName="minBreakBetweenSleepovers" /> hours
                                    </label>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="12" style="padding-left: 12%">
                                    <label>No Minimum Break Paytype</label>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-select nzShowSearch nzAllowClear class="select-small" formControlName="minBreakPayType" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div> 
                            
                            <!-- Saturday, Sunday, and Public Holiday Rates Section -->
                            <div nz-row style="margin-top: 2%;">
                                <div nz-col [nzSpan]="24">
                                    <label class="section-title">Saturday, Sunday and Public Holiday Rates</label>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="24" style="padding-left:12%;">
                                    <div nz-col [nzSpan]="4" class="text-right">
                                        <label >Saturday</label>
                                    </div>
                                    <div nz-col [nzSpan]="14">
                                        <nz-select nzShowSearch nzAllowClear formControlName="day_SatOrdHr_PayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="24" style="padding-left:12%;">
                                    <div nz-col [nzSpan]="4" class="text-right">
                                        <label>Sunday</label>
                                    </div>
                                    <div nz-col [nzSpan]="14">
                                        <nz-select nzShowSearch nzAllowClear formControlName="day_SunOrdHr_PayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="24" style="padding-left:12%;">
                                    <div nz-col [nzSpan]="4" class="text-right">
                                        <label>Public Holiday</label>
                                    </div>
                                    <div nz-col [nzSpan]="14">
                                        <nz-select nzShowSearch nzAllowClear formControlName="day_PHOrdHr_PayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Higher Duties Section -->
                            <div nz-row style="margin-top: 2%;">
                                <div nz-col [nzSpan]="24">
                                    <label class="section-title">Higher Duties</label>
                                </div>
                            </div>
                            
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="24" style="padding-left: 12%;">
                                    <label>
                                        Paid at pro rata rate for up to 
                                        <input type="text" formControlName="higherDuttieshour" style="width: 50px;" /> hours and beyond this the whole worked day
                                    </label>
                                </div>
                            </div>
                            
                        </div>  
                    </div>
                    <div class="tab" *ngIf="current == 3" [formGroup]="inputForm">
                        <div nz-row class="section">
                            <div nz-col [nzSpan]="24">
                                <label class="section-title">Hours of Work And Related Matters</label>
                            </div>
                        </div>
                        <div class="content-tab">
                            
                            <div nz-row [nzGutter]="24" style="margin-top: 1%;">
                                <div nz-col [nzSpan]="11">
                                    <label class="section-title">Overtime and penalty Rates</label>
                                </div>
                            </div>    
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7">
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" formControlName="overtimeLeeway" />
                                </div>
                                <div nz-col [nzSpan]="7">
                                    O/T Leeway In MIN (If Applicable)
                                </div>
                                <div nz-col [nzSpan]="10">
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    TOIL Default Accurate Minutes
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text"  formControlName="toilDefaultAccrualMinutes" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    TOIL Default Accrual Paytype
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="toilDefaultAccrualPaytype" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Daily overtime up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text"   formControlName="day_MaxOrdHrWD1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear formControlName="day_MaxOrdHrWD1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Daily overtime over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text"   class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrWD2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Saturday up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text"  formControlName="day_MaxOrdHrSat1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrSat1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for  Saturday over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrSat2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Sunday overtime up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text"   formControlName="day_MaxOrdHrSun1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrSun1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Sunday overtime over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrSun2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for  Pub. Holiday overtime up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" formControlName="day_MaxOrdHrPH1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrPH1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Pub. Holiday overtime over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each day is
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="day_MaxOrdHrPH2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Weekly overtime up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" formControlName="week_MaxOrdHrWD1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each week
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear formControlName="week_MaxOrdHrWD1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Weekly overtime over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each Week
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="week_MaxOrdHrWD2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Fornightly overtime up to
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" formControlName="fN_MaxOrdHrWD1stOTBreak" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each fornight
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear formControlName="fN_MaxOrdHrWD1stOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row style="margin-top: 1%;">
                                <div nz-col [nzSpan]="7" class="text-right">
                                    Paytype for Fornightly overtime over
                                </div>
                                <div nz-col [nzSpan]="2">
                                    <input nz-input type="text" class="input-small" />
                                </div>
                                <div nz-col [nzSpan]="4" class="text-right">
                                    hours each fornight
                                </div>
                                <div nz-col [nzSpan]="10">
                                    <nz-select nzShowSearch nzAllowClear  formControlName="fN_MaxOrdHrWD2ndOTBreak_PayType" class="select-small" style="width: 100%;">
                                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab" *ngIf="current == 4" [formGroup]="inputForm">
                        <div nz-row class="section">
                            <div nz-col [nzSpan]="24">
                                <label class="section-title">Hours of Work And Related Matters</label>
                            </div>
                        </div>
                        <div class="content-tab">
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="6">
                                    <label class="sub-section-title">Broken Shifts</label>
                                </div>
                            </div> 
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <!-- <label nz-checkbox formControlName="disableBrokenShiftAllowance"> Broken Shift Not Applicable</label> -->
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    Broken shifts occurs where break between work greater than  <input nz-input type="text" class="input-small"  formControlName="brokenShiftAllowanceExtra_Threshold" /> minutes and less than   
                                    <input nz-input type="text" class="input-small" formControlName="brokenshiftLimit" /> hours and the total
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    work time is  greater than  <input nz-input type="text" class="input-small" formControlName="brokenShiftAllowanceExtra_Threshold1" /> hours
                                    <label nz-checkbox> Include Previous Day In Brokenshift Calculation</label>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24"  style="padding-left:6%;">
                                    <div nz-col [nzSpan]="7">
                                        <label>Paytime for Brokenshift shifts : </label>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <nz-select nzShowSearch nzAllowClear formControlName="brokenShiftAllowance_PayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="section">
                                <div nz-col [nzSpan]="24">
                                    <label class="sub-section-title">Meal Breaks</label>
                                </div>
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    Unpaid Meal Break of<input nz-input type="text"  formControlName="unpaidMealBreakMin" class="input-small" value="30" /> minutes is allowed after working
                                    <input nz-input type="text" class="input-small"  formControlName="unpaidMealBreakStartAt" value="5" /> hours 
                                </div>
                                <div nz-col [nzSpan]="24"  style="padding-left:6%;">
                                    <div nz-col [nzSpan]="12">
                                        <label>paytype for overtime hours worked past  start of meak break : </label>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <nz-select nzShowSearch formControlName="unpaidMealBreak_PayType" nzAllowClear class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    Paid Tea Break of<input nz-input formControlName="teaBreakPaidTime" type="text" class="input-small" value="10" /> minutes is allowed after working
                                    <input nz-input type="text" formControlName="teaBreakStartAt" class="input-small" value="4" /> hours 
                                </div>       
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    Additional Paid Tea Break of<input formControlName="teaBreakPaidTimeNext" nz-input type="text" class="input-small" value="10" /> minutes is allowed after working
                                    <input nz-input type="text" formControlName="teaBreakStartAtNext" class="input-small" value="7.6" /> hours 
                                </div>
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="7">
                                        <label nz-checkbox  formControlName="teaBreakPaidIncWkdHrs" >Tea Break counts toward worked time </label>
                                    </div>
                                    <div nz-col [nzSpan]="9">
                                        <label nz-checkbox formControlName="payOvertimeForTeaBreaks">Pay Overtime For Missed Teabreaks</label>
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24">
                                    <label class="sub-section-title">Recipient Cancellations</label>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="8" class="text-right">
                                        <label>Paid if cancelled with less than  </label>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <input nz-input type="text" formControlName="cancellationPayThreshold" class="input-small" value="7"/> days notice.
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="8" class="text-right">
                                        Pay/Makeup threshold :
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <input nz-input type="text" class="input-small" value="12" formControlName="makeUp_Pay_Threshold" /> hours
                                        &nbsp;&nbsp; Make up Expiry : <input nz-input type="text"  formControlName="makeUpLeadTime" class="input-small" value="42" /> days
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="8" class="text-right">
                                        Paytype For No Notice Cancellations :
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <nz-select nzShowSearch nzAllowClear formControlName="noNoticeCancelPayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="8" class="text-right">
                                        Paytype For Short Notice Cancellations :
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <nz-select nzShowSearch nzAllowClear formControlName="shtNoticeCancelPayType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div nz-row class="row">
                                <div nz-col [nzSpan]="24" style="padding-left:6%;">
                                    <div nz-col [nzSpan]="8" class="text-right">
                                        Paytype For KMAllowance :
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <nz-select nzShowSearch nzAllowClear formControlName="kmAllowanceType" class="select-small" style="width: 100%;">
                                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" *ngIf="current == 5">
                        <div nz-row style="margin-top: 0.4%;">
                            <div style="display: inline-block; position: relative; margin-top: 5px; ">
                                <label style="font-size: 18px; font-weight: bold;">Set Award Timebands</label>
                            </div>
                        </div>
                        <div nz-row>
                            <div class="tableheaderactions">
                                <button class="btnlevel2navy" (click)="showAddSubMbodal(1)">Add</button>
                                <button class="btnlevel2navy" (click)="showsubeditModal(1)">Edit</button>
                                <button class="btnlevel2orange"    (nzOnConfirm)="timebandsdelete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                            </div>
                        </div>            
                        <div nz-row>
                            <nz-table style="max-height:550px;overflow-y:auto;width:100%;" #headerTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                            [nzData]="timebandsList">
                            <thead>
                                <tr>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>PayType</th>
                                    <th>DayType</th>
                                    <th>Higher pay Or..</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFn" (click)="selectedItemGroup(data,i);" [class.selecteditem]="selectedRow == i">
                                    <td>{{ data.startTime  }}</td>
                                    <td>{{ data.endTime }}</td>
                                    <td>{{ data.payType}} </td>
                                    <td>{{data.dayType}}</td>
                                    <td>{{ data.higherpayrank }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div class="tab" *ngIf="current == 6">
                    <div nz-row style="margin-top: 0.4%;">
                        <div style="display: inline-block; position: relative; margin-top: 5px; ">
                            <label style="font-size: 18px; font-weight: bold;">Add Change/Award Allowances</label>
                        </div>
                    </div>
                    <div nz-row>
                        <div class="tableheaderactions">
                            <button class="btnlevel2navy" (click)="showAddSubMbodal(2)">Add</button>
                            <button class="btnlevel2navy" (click)="showsubeditModal(2)">Edit</button>
                            <button class="btnlevel2orange"    (nzOnConfirm)="allowncesdelete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                        </div>
                    </div>            
                    <div nz-row>
                        <nz-table style="max-height:550px;overflow-y:auto;width:100%;" #headerTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                        [nzData]="allowncesList">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category1</th>
                                <th>PayType</th>
                                <th>WorkType/Activity</th>
                                <th>Default Program</th>
                                <th>Default For Autocreate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFnallownces" (click)="selectedItemallownces(data,i);" [class.selecteditem]="selectedRowAllocance == i">
                                <td>{{ data.name  }}</td>
                                <td>{{ data.category1  }}</td>
                                <td>{{ data.payType }}</td>
                                <td>{{ data.higherpayrank  }}</td>
                                <td>{{ data.defaultProgram }}</td>
                                <td style="text-align:center;"><label nz-checkbox nzDisabled [ngModel]="data.autocreate" nzDisabled [ngModelOptions]="{standalone: true}"></label></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            <div class="tab" *ngIf="current == 7">
                <div nz-row style="margin-top: 0.4%;">
                    <div style="display: inline-block; position: relative; margin-top: 5px; ">
                        <label style="font-size: 18px; font-weight: bold;">Add Change/Special Shifts</label>
                    </div>
                </div>
                <div nz-row>
                    <div class="tableheaderactions">
                        <button class="btnlevel2navy" (click)="showAddSubMbodal(3)">Add</button>
                        <button class="btnlevel2navy" (click)="showsubeditModal(3)">Edit</button>
                        <button class="btnlevel2orange"    (nzOnConfirm)="shiftsdelete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                    </div>
                </div>            
                <div nz-row>
                    <nz-table style="max-height:550px;overflow-y:auto;width:100%;" #headerTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="specialShiftList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFnshifts" (click)="selectedItemshifts(data,i);" [class.selecteditem]="selectedshifts == i">
                            <td>{{ data.name }}</td>
                            <td>{{ data.notes}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
</div>

<div *nzModalFooter>
    <button (click)="save()" nz-button nzType="primary">SAVE</button>
</div>
</nz-modal>


<nz-modal [nzWidth]="750"  [(nzVisible)]="awardtimebandsallowncesshiftsmodal" nzTitle="{{subModaltitle}}" (nzOnCancel)="handleCancelSubModal()">
    <form nz-form [formGroup]="timebandsForm" *ngIf="submodalScreen == 1">
        <div nz-row>
            <div nz-row>
                <div nz-col nzSpan="3">
                    <label for="">Start Time</label>
                </div>
                <div nz-col nzSpan="9">
                    <div class="form-group">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="startTime" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of workStartHour" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col nzSpan="3">
                    <label class="text-right">End Time :</label>
                </div>
                <div nz-col nzSpan="9">
                    <div class="form-group">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="endTime" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of workStartHour" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row class="form-group">
                <div nz-col nzSpan="3">
                    <label for="">PayType</label>
                </div>
                <div nz-col nzSpan="16">
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="payType" nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row class="form-group">
                <div nz-col nzSpan="3">
                    <label for="">DayType</label>
                </div>
                <div nz-col nzSpan="16">
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="dayType" nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let d of daytypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row class="form-group">
                <div nz-col nzSpan="8">
                    <label for="">Precedence For Higher Pay Rate</label>
                </div>
                <div nz-col nzSpan="2">
                    <input nz-input formControlName="vRank" (keypress)="onKeyPress($event)" />
                </div>
            </div>
            
        </div>
    </form>
    <form nz-form [formGroup]="allowancesForm" *ngIf="submodalScreen == 2">
        <div nz-row>
            <div nz-col nzSpan="20">
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                        <label for="">Name:</label>
                    </div>
                    <div nz-col nzSpan="15">
                        <input nz-input formControlName="name" />
                    </div>
                </div>
                
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                        <label for="">PayType:</label>
                    </div>
                    <div nz-col nzSpan="15">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="payType" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                        <label for="">Work Type/Activity:</label>
                    </div>
                    <div nz-col nzSpan="15">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="serviceType" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of activityList" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                        <label for="">Default Program:</label>
                    </div>
                    <div nz-col nzSpan="15">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="program" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of programsList" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                        <label for="">Category: </label>
                    </div>
                    <div nz-col nzSpan="15">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="category1" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of categories" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="6">
                    </div>
                    <div nz-col nzSpan="15">
                        <label nz-checkbox  formControlName="default">Allowances Replaces Shifts</label><br>
                        <label nz-checkbox  formControlName="replaceActivitiesWithAllowance">Default Allowances For This Category</label>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="4">
                
            </div>
        </div>
    </form>
    <form nz-form [formGroup]="specialhiftsForm" *ngIf="submodalScreen == 3">
        <div nz-row>
            <div nz-col nzSpan="16">
                <div nz-row class="form-group">
                    <div nz-col nzSpan="10" class="text-right">
                        <label for="">Name:</label>
                    </div>
                    <div nz-col nzSpan="14">
                        <input nz-input formControlName="name"/>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="10" class="text-right">
                        <label for="">Work Type/Activity:</label>
                    </div>
                    <div nz-col nzSpan="14">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="activity" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of activityList" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="10" class="text-right">
                        <label for="">Special Shift Type:</label>
                    </div>
                    <div nz-col nzSpan="14">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="jobType" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of shiftTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="10" class="text-right">
                        <label for=""></label>
                    </div>
                    <div nz-col nzSpan="14">
                        <label nz-checkbox  formControlName="payBackToBack">Pay Back to Back Overtime</label><br>
                    </div>
                </div>
                <div nz-row class="form-group">
                    <div nz-col nzSpan="10" class="text-right">
                        <label for="">BackToBack PayType:</label>
                    </div>
                    <div nz-col nzSpan="14">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="backToBackPayType" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let d of travelPaytypeList" [nzLabel]="d.travelPaytype" [nzValue]="d.travelPaytype"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div *ngIf="submodalScreen == 3">
        <hr style="background-color:#ededed;margin-bottom:0px;">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="2">
            <nz-tab nzTitle="BreakDown" (nzClick)="viewBreakDown(0)"></nz-tab>
        </nz-tabset>    
        
        <div class="tab" *ngIf="currentBreak == 0">
            <div nz-row>
                <div class="tableheaderactions">
                    <button class="btnlevel2navy" (click)="showAddSubMbodal(3)">Add</button>
                    <button class="btnlevel2navy" (click)="showsubeditModal(3)">Edit</button>
                    <button class="btnlevel2orange"    (nzOnConfirm)="shiftsdelete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
                </div>
            </div>            
            <div nz-row>
                <nz-table style="max-height:550px;overflow-y:auto;width:100%;" #breakdowntable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="breakdownList">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Pay Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of breakdowntable.data;let i = index;trackBy: trackByFnshifts" (click)="selectedItemshifts(data,i);" [class.selecteditem]="selectedshifts == i">
                        <td>{{ data.startTime }}</td>
                        <td>{{ data.endTime}}</td>
                        <td>{{ data.payType}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    
</div>

<div *ngIf="submodalScreen == 2">
    <hr style="background-color:#ededed;margin-bottom:0px;">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="2">
        <nz-tab nzTitle="Rules" (nzClick)="viewAllownTabs(0)"></nz-tab>
        <nz-tab nzTitle="Inclusions" (nzClick)="viewAllownTabs(1)"></nz-tab>
        <nz-tab nzTitle="Exclusions" (nzClick)="viewAllownTabs(2)"></nz-tab>
    </nz-tabset>    
    
    <div class="tab" *ngIf="currentAllowance == 0">
        <div nz-row>
            <div class="tableheaderactions">
                <button class="btnlevel2navy" (click)="showAddSubMbodal(3)">Add</button>
                <button class="btnlevel2navy" (click)="showsubeditModal(3)">Edit</button>
                <button class="btnlevel2orange"    (nzOnConfirm)="shiftsdelete()" nz-popconfirm  nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure delete this reminder?">Delete</button>
            </div>
        </div>            
        <div nz-row>
            <nz-table style="max-height:550px;overflow-y:auto;width:100%;" #rulelistTable  [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="ruleList">
            <thead>
                <tr>
                    <th>Rule Type</th>
                    <th>Rule</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rulelistTable.data;let i = index;trackBy: trackByFnshifts" (click)="selectedItemshifts(data,i);" [class.selecteditem]="selectedshifts == i">
                    <td>{{ data.ruleType }}</td>
                    <td>{{ data.rule}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<div class="tab" *ngIf="currentAllowance == 1">
    <div nz-row>
        <div nz-col nzSpan="5">
            <nz-tabset [nzTabPosition]="'left'" [nzType]="'card'" [nzTabBarGutter]="1">
                <nz-tab nzTitle="Activities"   (nzClick)="viewAllownTabs(0)"></nz-tab>
                <nz-tab nzTitle="competencies" (nzClick)="viewAllownTabs(1)"></nz-tab>
            </nz-tabset>
        </div>
        <div nz-col nzSpan="19">
            
        </div>
    </div>
</div>
<div class="tab" *ngIf="currentAllowance == 2">
    <div nz-row>
        <div nz-col nzSpan="5">
            <nz-tabset [nzTabPosition]="'left'" [nzType]="'card'" [nzTabBarGutter]="1">
                <nz-tab nzTitle="Activities"   (nzClick)="viewAllownTabs(0)"></nz-tab>
                <nz-tab nzTitle="competencies" (nzClick)="viewAllownTabs(1)"></nz-tab>
            </nz-tabset>
        </div>
        <div nz-col nzSpan="19">
            
        </div>
    </div>
</div>






</div>



<div *nzModalFooter>
    <ng-container>
        <button nz-button nzType="primary" (click)="saveSubModal(submodalScreen)">
            <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
        </button>
    </ng-container>
</div>
</nz-modal>



<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>