<div style="padding:8px;">
    <div nz-row>
        <div nz-row class="backBox">
            <button (click)="goBack()" class="right-back-btn">
                <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
            </button>
            <button (click)="goBack()" class="left-back-btn">
                <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
            </button>
        </div>
        <div nz-row class="actionBox">
            <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
            <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
            <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
        </div>
        <div nz-row>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th class="left">Name</th>
                        <th class="left">Type</th>
                        <th class="left">Address</th>
                        <th class="left">Phone</th>
                        <th class="left">Fax</th>
                        <th class="left">Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;">
                        <td class="left">{{ data.name }} </td>
                        <td class="left">{{ data.type }} </td>
                        <td class="left">{{ data.address }} </td>
                        <td class="left">{{ data.phone1 }} </td>
                        <td class="left">{{ data.fax }} </td>
                        <td class="left">{{ data.email}}</td>
                        <td>
                            <!-- *ngIf="data.is_deleted == 'False' || data.is_deleted == 'false' || data.is_deleted == '' " -->
                            <a (click)="showEditModal(i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Destination Address List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td>
                        <td *ngIf="data.is_deleted == 'True' || data.is_deleted == 'true' ">
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in Destination Address List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="activateMedical(data)">Activate</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label nzFor="Type">Type:</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="type" nzPlaceHolder="Type" nzShowSearch nzAllowClear style="width:100%;" required>
                                <nz-option *ngFor="let destination of destype" [nzValue]="destination" [nzLabel]="destination"></nz-option> 
                                </nz-select>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label nzFor="Name">Name :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder="Name"  formControlName="name" style="text-transform: uppercase;" required />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label nzFor="Address 1">Address :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder="Address"  formControlName="address" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label nzFor="Suburb">Suburb :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <suburb formControlName="suburb" placeholder="Subrub"></suburb>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Phone 1">Phone 1:</label>
                            </div>
                            <div nz-col nzSpan="14">
                                <input nz-input placeholder="Phone 1"  formControlName="phone1" />
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Phone 2">Phone 2:</label>
                            </div>
                            <div nz-col nzSpan="12">
                                <input nz-input placeholder="Phone 2"  formControlName="phone2" />
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Mobile">Mobile:</label>
                            </div>
                            <div nz-col nzSpan="14">
                                <input nz-input placeholder="Mobile"  formControlName="mobile" />
                            </div>
                        </div>
                        <div nz-col nzSpan="12">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="fax">Fax:</label>
                            </div>
                            <div nz-col nzSpan="12">
                                <input nz-input placeholder="fax"  formControlName="fax" />
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                            <label nzFor="Email">Email:</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder="Email"  formControlName="email" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!inputForm.get('name').value"  (click)="save()" *ngIf="current === 0">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>