<div style="padding:8px;">
    <div nz-row>
        <div nz-row class="backBox">
            <button (click)="goBack()" class="right-back-btn">
                <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
            </button>
            <button (click)="goBack()" class="left-back-btn">
                <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
            </button>
        </div>
        <div nz-row class="actionBox">
            <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
            <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
            <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
        </div>
        <div nz-row>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th class="left">List Type</th>
                        <th class="left">Recepient</th>
                        <th class="left">Activity</th>
                        <th class="left">Location</th>
                        <th class="left">Program</th>
                        <th class="left">Staff</th>
                        <th class="left">Funding</th>
                        <th class="left">Severity</th>
                        <th class="left">End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;">
                        <td class="left">{{ data.ltype  }} </td>
                        <td class="left">{{ data.recipient  }} </td>
                        <td class="left">{{ data.activity  }} </td>
                        <td class="left">{{ data.location  }} </td>
                        <td class="left">{{ data.program  }} </td>
                        <td class="left">{{ data.staff  }} </td>
                        <td class="left">{{ data.funding_source  }} </td>
                        <td class="left">{{ data.severity  }} </td>
                        <td class="left">{{ data.end_date | date: 'dd/MM/y' }}</td>
                        <td *ngIf="data.is_deleted == 'False' || data.is_deleted == 'false' || data.is_deleted == '' ">
                            <a (click)="showEditModal(i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Distribution List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td>
                        <td *ngIf="data.is_deleted == 'True' || data.is_deleted == 'true' ">
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in Distribution List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="activateDomain(data)">Activate</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-modal [nzWidth]="850" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <div class="flexy">
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
            </nz-steps>
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
            <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
                <div *ngIf="current == 0">
                    
                    <div nz-row nzGutter="24">
                        <div nz-col class="gutter-row" [nzSpan]="12">
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" col nzSpan="6">List Type:</label>
                                <nz-select col nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="ltype" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let ltype of listType" [nzValue]="ltype" [nzLabel]="ltype"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" *ngIf="inputForm.get('ltype').value === 'EVENT'">
                                <label for="CDC Item" col nzSpan="6">Event:</label>
                                <nz-select col nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="event" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let e of events" [nzValue]="e" [nzLabel]="e"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Activity:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="service" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let service of services;let i = index;" [nzValue]="service.title" [nzLabel]="service.title"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Program:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="prgm" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let pro of program" [nzValue]="pro.name" [nzLabel]="pro.name"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Location:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="location" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let location of locations" [nzValue]="location.name" [nzLabel]="location.name"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Recipient:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="recepient" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let recipi of recipients" [nzValue]="recipi.name" [nzLabel]="recipi.name"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="Funding Source" nzSpan="6" >Funding Source:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="funding_source" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let funding of funding_source" [nzValue]="funding" [nzLabel]="funding"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="" *ngIf="inputForm.get('ltype').value == 'INCIDENT'">
                                <label for="CDC Item" nzSpan="6" >Severity:</label>
                                <nz-select nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="saverity" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let sever of severity" [nzValue]="sever" [nzLabel]="sever"></nz-option> 
                                </nz-select>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Notification Mandatory:</label>
                                <label nz-checkbox nzSpan="14"  formControlName="mandatory"><span class="small-font">Staff will be a mandatory notifyee for incidents linked to this list profile with no user choice</span></label>
                            </div>
                            <div nz-row nzGutter="24" class="" *ngIf="inputForm.get('ltype').value === 'INCIDENT'">
                                <label for="CDC Item" nzSpan="6" >Default Assignee:</label>
                                <label nz-checkbox nzSpan="14"  formControlName="assignee"><span class="small-font">Name will appear as default assignee for incidents linked to this list profile</span></label>
                            </div>
                            <div nz-row nzGutter="24" class="">
                                <label for="CDC Item" nzSpan="6" >Expiry Date:</label>
                                <nz-date-picker nzSpan="14" [nzPlaceHolder]="'Expiry Date'" formControlName="end_date" [nzFormat]="dateFormat"></nz-date-picker>
                            </div>    
                        </div>
                        
                        <div *ngIf="isUpdate == false" nz-col class="gutter-row" [nzSpan]="12" >
                            <div nz-row  style="border: 1px solid #e8e8e8;">
                                <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                    <label nz-checkbox
                                    [(ngModel)]="allStaff"
                                    (ngModelChange)="updateAllCheckedFilters(1)"
                                    [nzIndeterminate]="allstaffIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Staff Included In List</b></label>
                                </div>
                                <div nz-col>
                                    <div class="staff-wrapper" style="height: 25rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                                        <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                                            <div nz-row>
                                                <div nz-col nzSpan="24" *ngFor="let staff of staffList">
                                                    <label nz-checkbox  [nzValue]="staff.staffCode" [(ngModel)]="staff.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ staff.staffCode }}</label>
                                                </div>
                                            </div>
                                        </nz-checkbox-wrapper>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isUpdate == true" nz-col class="gutter-row" [nzSpan]="12" >
                            <label for="Staff" col nzSpan="6">Select Staff :</label>
                            <nz-select col nzSpan="14"  [nzDropdownMatchSelectWidth]="false" formControlName="staff" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let staff of staffList" [nzValue]="staff.staffCode" [nzLabel]="staff.staffCode"></nz-option> 
                            </nz-select>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
            <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]= "!inputForm.get('recepient').value " (click)="save()" *ngIf="current === 0">
                        <span>Save</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </nz-modal>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>