<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
       <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>
