<div nz-col nzSpan="24" *ngIf="inputForm" [formGroup]="inputForm">
    <div nz-col nzSpan="4" style="width: 14%;">
        <!-- <div nz-row style="margin-top: 3PC; text-align: center; font-size: 12pt;">
            <h3 style="color:#0E86D4; font-weight: bold;">Control Panel</h3>
        </div> -->
        <div nz-row>
            <h3 style="margin-top: 23%; margin-left: 16%; margin-bottom: auto; color:#0E86D4; font-size: 12pt;"> Status
            </h3>
        </div>
        <div nz-row style="text-align: center;">
            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="inputOutput" nzPlaceHolder="" nzShowSearch
                nzAllowClear style="margin-top: 6px; width: 10PC;">
                <nz-option *ngFor="let etype of dataInputOutput" [nzLabel]="etype" [nzValue]="etype">
                </nz-option>
            </nz-select>
        </div>
        <div nz-row>
            <h3 style="margin-top: 12%; margin-left: 16%; margin-bottom: auto; color:#0E86D4; font-size: 12pt;"> View
            </h3>
        </div>
        <div nz-row style="text-align: center;">
            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="inputOutput" nzPlaceHolder="" nzShowSearch
                nzAllowClear style="margin-top: 6px; width: 10PC;">
                <nz-option *ngFor="let etype of dataInputOutput" [nzLabel]="etype" [nzValue]="etype">
                </nz-option>
            </nz-select>
        </div>
        <div nz-row>
            <h3 style="margin-top: 12%; margin-left: 16%; margin-bottom: auto; color:#0E86D4; font-size: 12pt;">
                Starting </h3>
        </div>
        <div nz-row style="text-align: center;">
            <nz-date-picker style="width: 10PC;" nzPlaceHolder="Start Date" formControlName="dtpStartDate"
                [nzFormat]="dateFormat">
            </nz-date-picker>
        </div>
        <div nz-row>
            <h3 style="margin-top: 12%; margin-left: 16%; margin-bottom: auto; color:#0E86D4; font-size: 12pt;"> Ending
            </h3>
        </div>
        <div nz-row style="text-align: center;">
            <!-- <nz-date-picker style="width: 10PC; border: solid; border-color: #A4A4A4; border-width: 2px;"
                nzPlaceHolder="End Date" formControlName="dtpEndDate" [nzFormat]="dateFormat">
            </nz-date-picker> -->
            <nz-date-picker style="width: 10PC;" nzPlaceHolder="End Date" formControlName="dtpEndDate"
                [nzFormat]="dateFormat">
            </nz-date-picker>
        </div>
        <div nz-row style="margin-top: 40px; text-align:center;">
            <button nz-button nzType="default" (click)="refreshValues()"
                style="background-color: #85B9D5; width: 10PC; height: 3PC; color: white; font-size: 12pt; vertical-align: middle;">
                Refresh
            </button>
        </div>
        <!-- <div nz-row style="margin-top: 40px; text-align:center;">
            <button nz-button nzType="default" (click)="view(1)"
                style="font-size: 10pt; width: 10PC; border: solid; border-color: #A4A4A4; border-width: 2px;">
                Analyse
            </button>
        </div> -->
    </div>
    <div nz-col nzSpan="16"
        style="border-left: solid; border-right: solid; border-bottom: solid; border-color: #A4A4A4; border-width: 0.7PC;">
        <div nz-row [nzGutter]="6">
            <div nz-col>
                <h3
                    style="font-size: 18pt; margin-top: 1PC; margin-bottom: 0px; margin-left: 20px; font-weight: bold; color:#F18805;">
                    At A
                    Glance Dashboard </h3>
            </div>
        </div>
        <div nz-row [nzGutter]="6">
            <div nz-col>
                <div nz-row>
                    <h3 style="margin-bottom: 0px; margin-top: 8px; font-size: 12pt; margin-left: 20px; font-weight: bold; color:#0E86D4;"
                        *ngFor="let item of companyName"> {{item.companyName}}
                    </h3>
                </div>
                <div nz-row>
                    <p style="margin-top: 0px; font-size: 8pt; margin-left: 20px;"> Dashboard displays all data from the
                        selected Date range across business delivery outputs.</p>
                </div>
            </div>
        </div>
        <div nz-row [nzGutter]="6"
            style="height: 110px; border-top: solid; border-bottom: solid; border-color: #A4A4A4; border-width: 0.7PC;">
            <div nz-col nzSpan="4"
                style="width: 20%; background-color: #85B9D5; border-left: solid; border-color: #A4A4A4; border-width: 0.3PC;">
                <div nz-row style="height: 48px;">
                    <h3
                        style="text-align: center; font-size: 18pt; font-weight: bold; margin-top: 14px; margin-bottom: 0px; color: white;">
                        <span>{{totalOutHour}}</span>
                    </h3>
                </div>
                <div nz-row style="height: 42px;">
                    <label style="text-align: center; color: white;"> Total Output Hours </label>
                </div>
            </div>
            <div nz-col nzSpan="4"
                style="width: 20%; background-color: #FFBA08; border-left: solid; border-color: #A4A4A4; border-width: 0.7PC;">
                <div nz-row style="height: 48px;">
                    <h3
                        style="text-align: center; font-size: 18pt; font-weight: bold; margin-top: 14px; margin-bottom: 0px; color: white;">
                        <span>{{totalWorkHour}}</span>
                    </h3>
                </div>
                <div nz-row style="height: 42px;">
                    <label style="text-align: center;  color: white;"> Total Worked Hours </label>
                </div>
            </div>
            <div nz-col nzSpan="4"
                style="width: 20%; background-color: #F18805; border-left: solid; border-color: #A4A4A4; border-width: 0.7PC;">
                <div nz-row style="height: 48px;">
                    <h3
                        style="text-align: center; font-size: 18pt; font-weight: bold; margin-top: 14px; margin-bottom: 0px; color: white;">
                        <span>{{totalWorkAttrHour}}</span>
                    </h3>
                </div>
                <div nz-row style="height: 42px;">
                    <label style="text-align: center;  color: white;"> Total Worked Attributable Hours </label>
                </div>
            </div>
            <div nz-col nzSpan="4"
                style="width: 20%; background-color: #85B9D5; border-left: solid; border-color: #A4A4A4; border-width: 0.7PC;">
                <div nz-row style="height: 48px;">
                    <h3
                        style="text-align: center; font-size: 18pt; font-weight: bold; margin-top: 14px; margin-bottom: 0px; color: white;">
                        <span>{{noRecipient}}</span>
                    </h3>
                </div>
                <div nz-row style="height: 42px;">
                    <label style="text-align: center;  color: white;"> Total Recipient </label>
                </div>
            </div>
            <div nz-col nzSpan="4"
                style="width: 20%; background-color: #FFBA08; border-left: solid; border-color: #A4A4A4; border-width: 0.7PC;">
                <div nz-row style="height: 48px;">
                    <h3
                        style="text-align: center; font-size: 18pt; font-weight: bold; margin-top: 14px; margin-bottom: 0px; color: white;">
                        <span>{{noStaff}}</span>
                    </h3>
                </div>
                <div nz-row style="height: 42px;">
                    <label style="text-align: center;  color: white;"> Total Staff </label>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-table [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzData]="['']" nzBordered style="margin-top: 0px;">
                            <thead>
                                <tr>
                                    <th nzWidth="72%" nzLeft="0px" style="background-color: #85B9D5;">At A Glance</th>
                                    <th nzWidth="14%" nzLeft="70px" nzAlign="center" style="background-color: #85B9D5;">
                                        Total</th>
                                    <th nzWidth="14%" nzLeft="165px" nzAlign="center"
                                        style="background-color: #85B9D5;">Active</th>
                                </tr>
                            </thead>
                            <tbody style="line-height: 1;">
                                <tr>
                                    <!-- <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn" [class.selected]="data.selected" (dblclick)="details(data)"> -->
                                        <!-- [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData" -->
                                    <td nzLeft="0px">States</td>
                                    <td nzLeft="10px" nzAlign="center">{{ statesTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ statesAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Branches</td>
                                    <td nzLeft="10px" nzAlign="center">{{ branchesTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ branchesAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Service Regions</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceRegionTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceRegionAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Funding Regions</td>
                                    <td nzLeft="10px" nzAlign="center">{{ fundingTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ fundingAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Service Provider ID's (SPID)</td>
                                    <td nzLeft="10px" nzAlign="center">{{ sProviderTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ sProviderAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">DS Outlets</td>
                                    <td nzLeft="10px" nzAlign="center">{{ dsOutletTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ dsOutletAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Funding Type</td>
                                    <td nzLeft="10px" nzAlign="center">{{ fundingTypeTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ careDomainAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Programs</td>
                                    <td nzLeft="10px" nzAlign="center">{{ programTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ programAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Care Domains</td>
                                    <td nzLeft="10px" nzAlign="center">{{ careDomainTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ statesAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Service Budget Codes</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceBudgetTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceBudgetAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Service Disciplines</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceDispTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceDispAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Service Types</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceTypeTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ serviceTypeAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Coordinators/Staff Mgrs</td>
                                    <td nzLeft="10px" nzAlign="center">{{ coordnatorTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ coordnatorAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Cost Centers</td>
                                    <td nzLeft="10px" nzAlign="center">{{ costCenterTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ costCenterAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Recipients</td>
                                    <td nzLeft="10px" nzAlign="center">{{ recipientTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ recipientAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Staff Category</td>
                                    <td nzLeft="10px" nzAlign="center">{{ staffCategoryTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ staffCategoryAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Teams</td>
                                    <td nzLeft="10px" nzAlign="center">{{ teamTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ teamAIP }}</td>
                                </tr>
                                <tr>
                                    <td nzLeft="0px">Staff</td>
                                    <td nzLeft="10px" nzAlign="center">{{ staffTA }}</td>
                                    <td nzLeft="10px" nzAlign="center">{{ staffAIP }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

                <!-- <nz-row>
                    <div nz-col nzSpan="12" style="margin-top: 6px;">
                        <label style="text-align: left; margin-left: 20px;"> At A Glance
                        </label>
                    </div>
                    <div nz-col nzSpan="5" style="margin-top: 6px;">
                        <label style="text-align: center;"> Total Active
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px; margin-top: 6px;" nzSpan="5">
                        <label style="text-align: center;"> Active In Period </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            States </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{statesTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{statesAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Funding Regions </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{fundingTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{fundingAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Service Provider ID's
                            (SPID) </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{sProviderTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{sProviderAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> DS
                            Outlets </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{dsOutletTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{dsOutletAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Branches </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{branchesTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{branchesAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Funding Type </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{fundingTypeTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{fundingTypeAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> Care
                            Domains </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{careDomainTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{careDomainAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Service Budget Codes </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceBudgetTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceBudgetAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Service Disciplines </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceDispTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceDispAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Service Regions </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceRegionTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceRegionAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Service Types </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceTypeTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{serviceTypeAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Programs </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{programTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{programAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Coordinators/Staff
                            Mgrs </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{coordnatorTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{coordnatorAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> Cost
                            Centers </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{costCenterTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{costCenterAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;">
                            Recipients </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{recipientTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{recipientAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> Staff
                        </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{staffTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{staffAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> Staff
                            Category </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{staffCategoryTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{staffCategoryAIP}}</span>
                        </label>
                    </div>
                </nz-row>
                <nz-row style="margin-top: 2px;">
                    <div nz-col nzSpan="12">
                        <label style="text-align: left; margin-left: 20px; margin-top: 8px; font-weight: normal;"> Teams
                        </label>
                    </div>
                    <div nz-col nzSpan="5">
                        <label style="text-align: center; font-weight: normal; margin-top: 4px;">
                            <span>{{teamTA}}</span>
                        </label>
                    </div>
                    <div nz-col style="margin-left: 20px;" nzSpan="5">
                        <label style="text-align: center; margin-top: 4px; font-weight: normal;">
                            <span>{{teamAIP}}</span>
                        </label>
                    </div>
                </nz-row>
            </div> -->
                <!-- <div nz-col nzSpan="5" style="width: 18.7%; border-bottom: solid; border-color: #A4A4A4; border-width: 0.7PC;">
                <div nz-row style="margin-top: 2pc; text-align: center;">
                    <nz-progress [nzPercent]="staffUtilize" [nzStrokeWidth]="14" nzType="circle">
                    </nz-progress>
                </div>
                <div nz-row style="margin-top: 2px;">
                    <label style="text-align: center; margin-right: 3px; margin-top: 8px;"> % Staff Utilization</label>
                </div>
            </div> -->
            </div>
        </div>
    </div>
</div>