<button nz-button class="options" nzType="primary" [nzSize]="'small'"
    nz-popover
      nzPopoverTitle="Control Options"
      [(nzVisible)]="visible"
      nzPopoverTrigger="click"
      nzPopoverPlacement="leftBottom"
      [nzPopoverContent]="contentTemplate">
    <i nz-icon nzType="setting"
        nzTheme="outline"></i></button>

<ng-template #contentTemplate>
    <ul>
        <li *ngIf="status == 0" (click)="clickEvent(1)">Start Job</li>
        <li *ngIf="status == 1" (click)="clickEvent(2)">End Job</li>
        <li *ngIf="!data?.approved" (click)="clickEvent(3)">Claim Variation</li>
        <li *ngIf="settings?.allowTravelEntry == 'True'" (click)="clickEvent(4)" >Travel Claim</li>
        <li *ngIf="settings?.allowRosterNoteEntry == 'True'" (click)="clickEvent(5)">Shift Report</li>
        <li *ngIf="settings?.allowIncidentEntry == 'True'" (click)="clickEvent(6)">Record Incident</li>
        <li *ngIf="settings?.allowOPNote == 'True'" (click)="clickEvent(7)">OP Note</li>
        <li *ngIf="settings?.allowCaseNote == 'True'" (click)="clickEvent(8)">Case Note</li>
    </ul>
</ng-template>


<!-- FOR NOTES -->
<nz-modal [(nzVisible)]="notesIsOpen" [nzTitle]="whatNote == 1 ? 'Edit OP Note' : 'Edit Case Note'" (nzOnCancel)="handleCancel()">
    <div>
        <div nz-row [formGroup]="optionForm">
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Job ID</label>
                <p>{{ data.shiftbookNo }}</p>
            </div>
            <div nz-col nzSpan="12" class="form-group">
                <label for="">Recipient/Location</label>
                <p>{{ data.recipient }}</p>
            </div>
            <div nz-col nzSpan="24" class="form-group">
                <label for="">Details</label>
                <textarea nz-input rows="4" formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveNote(whatNote)" [nzLoading]="isConfirmLoading">Save</button>
    </div>
</nz-modal>

<!-- FOR CLAIM VARIATION -->
<nz-modal [(nzVisible)]="claimVariationOpen" nzTitle="Claim Variation" (nzOnCancel)="handleCancel()">
    <div>
       <div nz-row>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Job ID</label>
                    <p>{{ data.shiftbookNo }}</p>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Date</label>
                    <p>{{ data.activityDate | date:'dd/MM/yyyy' }}</p>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Status</label>
                    <p>
                        <nz-badge *ngIf="data.approved" nzColor="#87d068" nzText="Approved"></nz-badge>
                        <nz-badge *ngIf="!data.approved" nzColor="#f50" nzText="Unapproved"></nz-badge>
                    </p>
                </div>
            </div>
       </div>
       <div nz-row>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Start Time</label>
                    <nz-time-picker [(ngModel)]="startTime" nzFormat="HH:mm" (ngModelChange)="computeTime()"></nz-time-picker>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">End Time</label>
                    <nz-time-picker [(ngModel)]="endTime" nzFormat="HH:mm" (ngModelChange)="computeTime()"></nz-time-picker>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div class="form-group">
                    <label for="">Duration</label>
                    <p style="margin-top: 8px;">{{ timeDuration }}</p>
                </div>
            </div>
    </div>
    <div nz-row>
        <textarea rows="4" nz-input [(ngModel)]="data.note" ></textarea>
    </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="claimVariation()" [nzLoading]="isConfirmLoading">Process</button>
    </div>
</nz-modal>

<!-- FOR TRAVEL CLAIM -->
 <nz-modal [(nzVisible)]="travelClaimOpen" nzTitle="Travel Claim" (nzOnCancel)="handleCancel()">
    <div nz-row nzGutter="16">
        <div nz-row [formGroup]="optionForm">
           <div class="tclaims">
                <i nz-icon nzType="environment" nzTheme="outline"></i>
                <span [class.highlight]="!(optionForm?.get('travelType').value)">Travel Between</span>
                <nz-switch nzSize="small" formControlName="travelType"></nz-switch>
                <span [class.highlight]="(optionForm?.get('travelType').value)">Travel Within</span>
           </div>
           <div class="tclaims">
                <i nz-icon nzType="dollar" nzTheme="outline"></i>
                <span [class.highlight]="!(optionForm?.get('chargeClient').value)">Don't Charge Client</span>
                <nz-switch nzSize="small" formControlName="chargeClient"></nz-switch>
                <span [class.highlight]="(optionForm?.get('chargeClient').value)">Charge Client</span>
           </div>
           <div class="tclaims">
                <i nz-icon nzType="car" nzTheme="outline"></i>
                <span [class.highlight]="!(optionForm?.get('agencyVehicle').value)">Owned Vehicle</span>
                <nz-switch nzSize="small" formControlName="agencyVehicle"></nz-switch>
                <span [class.highlight]="(optionForm?.get('agencyVehicle').value)">Agency Vehicle</span>
           </div>
        </div>
        <div nz-row nzType="flex"  nzJustify="center" style="margin-top:1rem" [formGroup]="optionForm">    
            <div nz-col nzSpan="4">
                <div class="form-group">
                    <label for="">Start KM</label>
                    <nz-input-number formControlName="startKM" [nzFormatter]="formatter" [nzParser]="parser" [nzMin]="0" ></nz-input-number>
                </div>
            </div>
            <div nz-col nzSpan="4" nzOffset="2">
                <div class="form-group">
                    <label for="">End KM</label>
                    <nz-input-number formControlName="endKM" [nzFormatter]="formatter" [nzParser]="parser" [nzMin]="0" ></nz-input-number>
                </div>
            </div>
        </div>
        <div nz-row nzGutter="32" style="margin-top:1rem" [formGroup]="optionForm">
            <div nz-col nzOffset="1" nzSpan="22">
                <div class="form-group">
                    <label for="">Notes</label>
                    <textarea nz-input rows="4" style="width:100%" formControlName="notes" ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveTravelClaim()" [nzLoading]="isConfirmLoading">Save Travel Claim</button>
    </div>
</nz-modal>


<!-- FOR ROSTER NOTES -->
<nz-modal [(nzVisible)]="rosterNoteOpen" nzTitle="Roster Note" (nzOnCancel)="handleCancel()">
    <div nz-row nzGutter="16">
        <div nz-col nzSpan="24">
            <div class="form-group" [formGroup]="optionForm">
                <label for="">Roster Note</label>
                <textarea nz-input rows="4" formControlName="rosterNoteDetails" ></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveRosterNote()" [nzLoading]="isConfirmLoading">Ok</button>
    </div>
</nz-modal>



<!-- FOR RECORD INCIDENT -->
<nz-modal [(nzVisible)]="recordIncidentOpen" nzTitle="Record Incident" (nzOnCancel)="handleCancel()">
    <div [formGroup]="optionForm">
       <div nz-row nzGutter="16">
            <div nz-col nzSpan="12">
                <div class="form-group">
                    <label for="">Incident Type</label>
                    <nz-select formControlName="incidentType" nzAllowClear nzPlaceHolder="">
                        <nz-option *ngFor="let data of incidentTypes" [nzValue]="data" [nzLabel]="data"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div class="form-group">
                    <label for="">Incident Severity</label>
                    <nz-select formControlName="incidentSeverity" nzAllowClear nzPlaceHolder="">
                        <nz-option *ngFor="let data of incidentSeverity" [nzValue]="data" [nzLabel]="data"></nz-option>
                    </nz-select>
                </div>
            </div>
       </div>
       <div nz-row nzGutter="16">
            <div nz-col nzSpan="12">
                <div class="form-group">
                    <label for="">Incident Location</label>
                    <nz-select formControlName="incidentLocation" nzAllowClear nzPlaceHolder="" [nzDropdownMatchSelectWidth]="false"> 
                        <nz-option *ngFor="let data of incidentLocation | async" [nzValue]="data" [nzLabel]="data"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div class="form-group">
                    <label for="">No Recipient Involved</label>
                    <label nz-checkbox formControlName="noRecipient" style="margin-top: 5px;" ></label>
                </div>
            </div>
       </div>
       <div nz-row nzGutter="16">
            <div nz-col nzSpan="24">
                <div class="form-group">
                    <label for="">Incident Detail</label>
                    <textarea nz-input rows="4" formControlName="incidentDetails" ></textarea>
                </div>
            </div>
       </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveRecordIncident()" [nzLoading]="isConfirmLoading">Ok</button>
    </div>
</nz-modal>