<header></header>

<div class="login-session-container">
    <button class="add" (click)="getUsers()"><i class="material-icons insert"> autorenew </i> Refresh</button>
    <ul>
        <li *ngFor="let user of users; let i = index">
            <article class="effect1">
                <h4>{{ user.key }}</h4>
                <div>
                    <span class="user">{{ user.token.code }}</span>
                    <i class="material-icons spacer"> fiber_manual_record </i>
                    <span>{{ user.token.role }}</span>                    
                    <button class="out" (click)="logout(i)">Logout</button>
                </div>
            </article>
        </li>
    </ul>

    <div class="alert alert-warning" style="margin:24px 0" *ngIf="!loading && users.length == 0">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <div class="alert-text">
                    No Logged-in users
                </div>
            </div>
        </div>
    </div>

</div>