header{
    height: 50vh;
    background: linear-gradient(#2079ff, #43b1ff);
}

.login-session-container{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    background: #fff;
    border-radius: 3px;
    padding: 1rem;
    border: 1px solid #efefef;
}

span.user{
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

button.out{
    background: #ff4700d1;    
    color: #fff;
    border: 0;
}

button.out:hover{
    background:#ff4700;
}

article{
    padding: 10px;
    margin: 20px auto;
}

article div{
    display: flex;
    justify-content: space-between;
}

i.spacer{
    color:#0aff33
}

h4{
    margin:0;
}

ul{
    list-style: none;
}

.effect1{
    -webkit-box-shadow: 0 7px 24px -6px #48b2d2;
    -moz-box-shadow: 0 7px 24px -6px #48b2d2;
         box-shadow:0 7px 24px -6px #48b2d2;
}