.btn-group label{
    outline:none;
}

label.active{
    color:#fff;
    background-color: #204d74;
    border-color:#122b40;
}
.details{
    display: inline-block;
    width: 100%;
    margin-bottom: 5rem;
}

.details-title{
    display:flex;
    align-content: center;
}

h3 {
    margin:0;
}