
  <div class="col-md-12">

      <div class="col-md-10 col-md-offset-1">
            <div class="details-title">
                <button type="button" class="btn btn-sm btn-icon btn-primary" aria-label="home" routerLink="/client/members">
                    <clr-icon shape="angle" style="transform: rotate(-90deg);"></clr-icon> Back
                </button>
                <div style="margin:10px auto;">
                    <h3>{{ member.accountNo }}</h3>
                    <div>{{ member.firstName }} {{member.surname}}</div>
                </div>
            </div>
         
      </div>
      
      <div class="col-md-10 col-md-offset-1">
          <div class="details">
                <clr-tabs>
                        <clr-tab>
                            <button clrTabLink id="link1" (click)="view = 1">Profile</button>     
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <profile-page class="col-md-10 col-md-offset-1" [(ngModel)]="user" *ngIf="1 == view"></profile-page> 
                                </div>
                            </clr-tab-content>        
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="view = 2">Package</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <package-client [id]="member?.accountNo" [MINUS_MONTH]="1" *ngIf="2 == view"></package-client>
                                </div>
                            </clr-tab-content>       
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="view = 3">Booking</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group" style="margin-top:15px">
                                    <booking-client [inputUser]="member?.accountNo" *ngIf="3 == view"></booking-client>
                                </div>
                            </clr-tab-content>       
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="view = 4">Calendar</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <calendar [accountNo]="member?.accountNo" *ngIf="4 == view"></calendar>
                                </div>
                            </clr-tab-content>       
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink (click)="view = 5">History</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <history-client [id]="member?.accountNo" *ngIf="5 == view"></history-client>
                                </div>
                            </clr-tab-content>       
                        </clr-tab>
                        <!-- <clr-tab>
                            <button clrTabLink (click)="view = 6">Preferences</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <preferences-client [id]="member?.accountNo" *ngIf="6 == view"></preferences-client>
                                </div>
                            </clr-tab-content>       
                        </clr-tab> -->
                        <clr-tab>
                            <button clrTabLink (click)="view = 7">Manage Services</button>
                            <clr-tab-content id="content1" *clrIfActive>
                                <div class="form-group">
                                    <shift-client [id]="member?.accountNo" *ngIf="7 == view"></shift-client>
                                </div>
                            </clr-tab-content>       
                        </clr-tab>
                    </clr-tabs>
          </div>
      </div>    
  </div>

