<div class="id-container">
    <div nz-row nzGutter="24" *ngIf="period != 'None'">
        <ng-container [formGroup]="quoteDetailsGroup">
            <div nz-col>
                <div class="float" formArrayName="timeSlots" *ngFor="let slot of quoteDetailsGroup.get('timeSlots')['controls']; let i = index;">
                    <div class="weekTitle">Week-{{i+1}}</div>
                    <div class="id-table" [formGroupName]="i"  >
                        <!-- <nz-card nzTitle="Week" [nzBordered]="true"> -->
                            
                        <div formGroupName="monday" >
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr">Monday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoMon"></nz-time-picker>
                            </div>
                            <div>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoMon"></nz-input-number>
                            </div>
                        </div>
                        <div formGroupName="tuesday">
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr">Tuesday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoTue"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoTue"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                        <div formGroupName="wednesday">
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr">Wednesday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoWed"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoWed"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                        <div formGroupName="thursday">
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr">Thursday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoThu"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoThu"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                        <div formGroupName="friday">
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr">Friday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoFri"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoFri"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                        <div formGroupName="saturday" >
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr2">Saturday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoSat"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoSat" class="weekend-clr3"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                        <div formGroupName="sunday" >
                            <div *ngIf="size != 'small' || (size == 'small' && i == 0)" class="weekend-clr2">Sunday</div>
                            <div>
                                <nz-time-picker [nzSize]="size" formControlName="time" nzFormat="HH:mm" [nzMinuteStep]="5" [nzDisabled]="NoSun"></nz-time-picker>
                            </div>
                            <div>
                                <nz-input-number [nzSize]="size" formControlName="quantity" [nzMin]="0" [nzMax]="10" [nzStep]="1" [nzDisabled]="NoSun" class="weekend-clr3"></nz-input-number>
                                <!-- <nz-time-picker [nzSize]="size" formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="5"></nz-time-picker> -->
                            </div>
                        </div>
                    <!-- </nz-card> -->
                    </div>
               
                </div>
            </div>

            <!-- <div nz-col nzSpan="9" class="calc-wrapper" *ngIf="period && period != 'None'">
                <div class="spacing">
                    <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
                    <nz-select nzSize="small" nzAllowClear>
                        <nz-option *ngFor="let l of billUnitArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                    </nz-select>
                    <nz-select  nzSize="small" nzAllowClear>
                        <nz-option *ngFor="let l of periodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                    </nz-select>
                    <span>X</span>
                    <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </div>
                <div class="flex">
                    <span>Price</span>
                    <input class="three-wid" nz-input nzSize="small" />
                    <span>Min</span>
                    <span><label nz-checkbox >GST</label></span>
                    <input class="three-wid" nz-input nzSize="small" />
                </div>
                <div nz-row>
                    <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
                    <span>% of Quote Value</span>
                </div>
                <div nz-row>
                    <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
                    <span>% of Quote Budget</span>
                </div>
            </div> -->
        </ng-container>
    </div>
    

    <!-- <div nz-row class="calc-wrapper" *ngIf="period == 'None'">
        <div class="spacing">
            <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
            <nz-select nzSize="small" nzAllowClear>
                <nz-option *ngFor="let l of billUnitArr" [nzValue]="l" [nzLabel]="l"></nz-option>
            </nz-select>
            <nz-select  nzSize="small" nzAllowClear>
                <nz-option *ngFor="let l of periodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
            </nz-select>
            <span>X</span>
            <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </div>
        <div class="flex">
            <span>Price</span>
            <input class="three-wid" nz-input nzSize="small" />
            <span>Min</span>
            <span><label nz-checkbox >GST</label></span>
            <input class="three-wid" nz-input nzSize="small" />
        </div>
        <div nz-row>
            <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
            <span>% of Quote Value</span>
        </div>
        <div nz-row>
            <nz-input-number [nzSize]="size" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
            <span>% of Quote Budget</span>
        </div>
    </div> -->
</div>