
.id-container{
    margin-top:1rem;
    font-size:12px;
}
.id-table{
    display:table;
    border: 1px solid #c5c4c3;
    padding-top: 5px;
    padding-left: 2px;
    padding-top:10px;
}

.id-table > div { 
    display: table-row; 
}
.id-table > div > div { 
    display: table-cell;
    padding: 2px 5px;
}
nz-input-number{
    width:3rem;
}
nz-time-picker{
    width:5rem;
}
.float{
    float:left;
}
.spacing > *{
    margin-right:5px;
}
.calc-wrapper > div{
    margin-top:8px;
}
.three-wid{
    width:3rem;
}
.flex{
    display:flex;
}
.flex > *{
    margin-right:5px;
}
.weekend-clr{
    background: white;
    border: 1px solid #e7e2db;
    border-radius: 5px;
    margin-top:3px;
    font : 'Segoe UI';
    font-size: 14px;
}
.weekend-clr2{
    background: #f5ae04;
    border: 1px solid #e7e2db;
    border-radius: 5px;
    margin-top:2px;
    font : 'Segoe UI';
    font-size: 14px;
}
.weekend-clr3{
    background: #f5ae04;
 
}

.weekTitle{
    font-size: 14px;
    font-weight: bold;
    margin-left:20px;
    margin-top: -20px;   
    padding:10px;
    height:30px;
    text-align: center;
    display:block;
    background-color: #ffffff;
    position: absolute;
}
.custom-card {
    border: 1px solid #e7e2db;
    border-radius: 5px;
  }
  
  .card-title-on-border {
    position: absolute;
    top: -10px; /* Adjust this to set the title on the border */
    left: 20px; /* Adjust this to position horizontally */
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
  }