
h2{
    margin: 3px 15px;
    font-weight:500;
    color:#18486f;
}

h4{
    font-weight: 600;
    color: #2699e3;
    text-transform: uppercase;
    margin: 0;
}

.article div{
    margin-top: 15px;
    text-align: justify;
    font-size: 13px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    border-bottom: 1px solid #e3e6e8;
    padding:20px 0;
}

time{
    width: 80px;
    float: left;
    font-size: 11px;
    font-weight: 500;
    color: #70879a;
}

div.article{
    margin-left:80px;
}

.img-media {
    width: auto;
    max-height: 10rem;
}

video{
    height: 7rem;
    width: auto;
}
.video-container{
    width: 11rem; 
    overflow: hidden;
}
nz-select{
    width:100%;
}