<div class="form-all center space-top">
    <div class="logo"><img src="../../../../assets/selectability/main.png" alt=""></div>

    <div>
        <h2>SUPPORT COORDINATION INTAKE DOCUMENT</h2>
        <p>This document is to be used in the initial interview with the consumer. The parts to this document can be completed in stages ensuring the consumer is not overwhelmed.</p>
    </div>

    <div class="form-wrapper">
        <h2>Consumer Information/Demographics and Preferences</h2>
        
        <div class="form-input">
            <label for="region">Region</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
              </nz-select>
        </div>

        <div class="form-input">
            <label for="region">Source of Referral</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
              </nz-select>
        </div>

        <div class="form-input">
            <label for="region">Please specify details of referrer below:</label>
            <textarea rows="4" nz-input></textarea>
        </div>

        <div class="form-input">
            <label for="region">NDIS reference number (if applicable)</label>
            <input nz-input placeholder="Basic usage" />
        </div>

        <div class="form-input">
            <label for="region">Date</label>
            <nz-date-picker></nz-date-picker>
        </div>
    </div>


    <div class="form-wrapper">
        <h2>Consumer Details</h2>
        <div class="form-input">
            <label for="region">Full name</label>
            <div class="form-flex">
                <input nz-input placeholder="First name" />
                <input nz-input placeholder="Middle name" />
                <input nz-input placeholder="Last name" />
            </div>
        </div>
        <div class="form-input">
            <label for="region">Preferred Name</label>
            <div class="form-flex">
                <input nz-input placeholder="First name" />
                <input nz-input placeholder="Last name" />
            </div>
        </div>

        <div class="form-input">
            <label for="region">Do you need an interpreter?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Do you have an interpreter</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>
        <div class="form-input">
            <label for="region">Do you need help completing this form</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Date of Birth</label>
            <nz-date-picker></nz-date-picker>
        </div>

        <div class="form-input">
            <label for="region">Country of Birth</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
              </nz-select>
        </div>

        <div class="form-input">
            <label for="region">Contact Number</label>
            <div class="form-flex">
                <input nz-input placeholder="Area Code" />
                <span>-</span>
                <input nz-input placeholder="Phone Number" />
            </div>
        </div>

        <div class="form-input">
            <label for="region">Email Address</label>
            <input nz-input placeholder="Email Address" />
        </div>

        <div class="form-input">
            <label for="region">Residential and Postal Address</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" >
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
              </nz-select>
        </div>

        <div class="form-input">
            <label for="region">Next of Kin?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Emergency Contact?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Does the consumer have a representative / legal decision-maker?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>
    </div>

    <div class="form-wrapper">
        <h2>Consumer Details Continued</h2>
        <div>
            <div class="form-input">
                <label for="region">Do you wish to identify your gender?</label>
                <label nz-checkbox [ngStyle]="style">Male</label>
                <label nz-checkbox [ngStyle]="style">Female</label>
                <label nz-checkbox [ngStyle]="style">Unspecified</label>
                <label nz-checkbox [ngStyle]="style">Do not wish to disclose</label>
                <label nz-checkbox [ngStyle]="style">LGBTQIA+</label>
            </div>

            <div class="form-input">
                <label for="region">Cultural Background</label>
                <label nz-checkbox [ngStyle]="style">Does not identify as Aboriginal or Torrese Strait Islander</label>
                <label nz-checkbox [ngStyle]="style">Aboriginal</label>
                <label nz-checkbox [ngStyle]="style">Torres Strait Islander</label>
                <label nz-checkbox [ngStyle]="style">CALD (Culturally and Linguistically Diverse)</label>
                <label nz-checkbox [ngStyle]="style">LGBTQIA+</label>
            </div>

            <div class="form-input">
                <label for="region">Do you consider yourself to be spiritual?</label>
                <nz-radio-group>
                    <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">No</label>
                </nz-radio-group>
            </div>

            <div class="form-input">
                <label for="region">Select one of the following living arrangement options:</label>
                <nz-radio-group>
                    <label nz-radio [ngStyle]="style" nzValue="A">Home Owner</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">Institutional Setting</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">No fixed address - couch surfing/homeless</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">Private rental</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">Rental - Department of Housing</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">SIL - Supported Independent Living</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">Short-term crisis</label>
                    <label nz-radio [ngStyle]="style" nzValue="B">With relatives/friends</label>
                </nz-radio-group>
            </div>

            <div class="form-input">
                <label for="region">Please state if you live:</label>
                <label nz-checkbox [ngStyle]="style">On your own</label>
                <label nz-checkbox [ngStyle]="style">With Others</label>
                <label nz-checkbox [ngStyle]="style">With pets</label>
            </div>

            <div class="form-input">
                <label for="region">If living with others/pets: name and relationship, name and animal:</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <p>*Advise the consumer that we will need to undertake a Work Health and Safety Assessment of their home to ensure it is healthy and safe for both the consumer and their workers*</p>
            <div class="form-wrapper"></div>
            <p>Involved community supports/agencies</p>
            <div class="form-wrapper"></div>
            Please provide names of the following providers along with their contact details:
            
            <div class="form-input">
                <label for="region">Aboriginal and Torres Islander Support</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">CALD Support</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Community mental health case worker</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Doctor (GP)</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Employment Provider</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Financial Support/Income</label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Guardianship (Office Public Guardian) </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Legal authorities, probation and parole, Department of Justice </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">NDIS plan manager </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">NDIS service delivery </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">NDIS specialised support coordination </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">NDIS support coordination </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Other government agency </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Pharmacist/chemist </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">SIL package </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Specialist providers, private allied health, psychiatrists and psychologists </label>
                <textarea rows="4" nz-input></textarea>
            </div>

            <div class="form-input">
                <label for="region">Other </label>
                <textarea rows="4" nz-input></textarea>
            </div>
        </div>
    </div>

    <div class="form-wrapper">
        <h2>Referred Program</h2>
        
        <div class="form-input">
            <label for="region">NDIS funding  management</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">NDIA managed</label>
                <label nz-radio [ngStyle]="style" nzValue="B">Self Managed</label>
                <label nz-radio [ngStyle]="style" nzValue="B">Plan managed (please specify provider below)</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Details:</label>
            <textarea rows="4" nz-input></textarea>
        </div>

    </div>

    <div class="form-wrapper">
        <h2>Consultation</h2>

        <div>
            <h4>Discuss in detail:</h4>
            <ul>
                <li>The Support Coordination supports available through selectability (refer to the NDIS Participant Starting my Plan website page)</li>
                <li>Costs involved</li>
                <li>The role of the Individual Service Agreement (ISA) (use the Easy-to-Read Guide about the ISA, if necessary)</li>
            </ul>
        </div>

        <div class="form-input">
            <label for="region">Add comments:</label>
            <textarea rows="4" nz-input></textarea>
        </div>

        <div class="form-input">
            <label for="region">Have other agencies provided Support Coordination within this plan?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">Are you currently utilising any Core or Capacity Building budgets within your plan?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">Yes</label>
                <label nz-radio [ngStyle]="style" nzValue="B">No</label>
            </nz-radio-group>
        </div>

        <div class="form-input">
            <label for="region">If "Yes", list the current providers and NDIS budgets:</label>
            <textarea rows="4" nz-input></textarea>
        </div>
    </div>

    <div class="form-wrapper">
        <h2>Agreement to Proceed</h2>
        <p>If at this stage the consumer is happy to proceed ask them for a copy of their NDIS plan. Let the consumer know that they will need to enter in to an NDIS Service Agreement which will need to be signed. Explain the service agreement and show it to them and/or their representative. </p>
    </div> 

    <div class="form-wrapper">
        <p>**Note – Should consumer not wish to sign service agreement, selectability cannot offer supports**</p>
        <p>Ask the consumer if they wish to proceed and engage selectability as their Support Coordination provider, having received information about the services we can provide. </p>
    
        <div class="form-input">
            <label for="region">Has the consumer agreed to proceed?</label>
            <nz-radio-group>
                <label nz-radio [ngStyle]="style" nzValue="A">No (Thank consumer for their time, offer should they wish to discuss selectability services in the future and end consultation meeting)</label>
                <label nz-radio [ngStyle]="style" nzValue="B">Yes - (provide/email consumer with selectability Welcome Pack</label>
            </nz-radio-group>
        </div>
    </div>

</div>