<div class="form-all center space-top">
    <div class="logo"><img src="../../../../assets/selectability/main.png" alt=""></div>

    <div class="align-center">
        <h2>INDIVIDUAL SERVICE AGREEMENT</h2>
        <p>Version 2.0 - September 2023</p>
    </div>

    <div class="form-wrapper">
        <h2>1.) PARTIES</h2>
        <p>This service agreement is for</p>

        <div class="form-input">
            <label for="region">Participant Name</label>
            <div class="form-flex">
                <input nz-input placeholder="First name" />
                <input nz-input placeholder="Last name" />
            </div>
        </div>

        <div class="form-input">
            <label for="region">Participant/ Participant's Representative Name</label>
            <div class="form-flex">
                <input nz-input placeholder="First name" />
                <input nz-input placeholder="Last name" />
            </div>
        </div>
       
    </div>


    <div class="form-wrapper">
        <h2>2.) TERMS OF AGREEMENT</h2>
        <div class="form-input">
            
            <div class="form-flex">
                <div>
                    <label for="region">This agreement will commence on</label>
                    <nz-date-picker></nz-date-picker>
                </div>
                <div>
                    <label for="region">This agreement will end on</label>
                    <nz-date-picker></nz-date-picker>
                </div>
            </div>
        </div>       
    </div>

    <div class="form-wrapper">
        <h2>3.) CONTACT DETAILS</h2>
        <div>
            <div class="form-input">
                <label for="region">Email</label>
                <input nz-input placeholder="Email" />
            </div>

            <p>As consumer has been unable to provide valid email address, selectability have provided notice that consumer can request a copy of their service agreement form at any time</p>

            <div class="form-input">
                <label for="region">Home Address</label>
                <input nz-input placeholder="Street Address" />
                <input nz-input placeholder="Suburb" />
                <input nz-input placeholder="POst Code" />
            </div>

            <div class="form-flex">
                <div>
                    <label for="region">Alternate Contact Person</label>
                    <input nz-input placeholder="" />
                </div>
                <div>
                    <label for="region">Phone Number</label>
                    <input nz-input placeholder="" />
                </div>
            </div>

            <div class="form-input">
                <label for="region">Preferred Method of Contact</label>
                <label nz-checkbox [ngStyle]="style">PHone (Home)</label>
                <label nz-checkbox [ngStyle]="style">Mobile</label>
                <label nz-checkbox [ngStyle]="style">Email</label>
            </div>

        </div>
    </div>

    <div class="form-wrapper">
        <h2>SELECTABILITY CONTACT DETAILS</h2>
        <div class="form-input">
            <label for="region">Selectability Email</label>
            <input nz-input placeholder="" />
        </div>
        <p>Website: www.selectability.com.au</p>
    </div>

    <div class="form-wrapper">
        <h2>LOCATION OF SUPPORTS</h2>
        <div class="form-input">
            <label for="region">Main Location for Support/s</label>
            <input nz-input placeholder="" />
        </div>
        <div class="form-input">
            <label for="region">Alternative Location/s for Supports</label>
            <input nz-input placeholder="" />
        </div>
    </div>

    <div class="form-wrapper">
        <h2>4.) THE NDIS AND THIS SERVICE AGREEMENT</h2>

        <div>
            <p>4.1   This Service Agreement is made for the purpose of providing you supports under your NDIS plan.</p>
            <p>4.2   A copy of your NDIS plan is attached to this Service Agreement under Schedule 1.</p>
            <p>4.3   The parties agree that this Service Agreement is made in the context of the NDIS, which is a scheme that aims to:</p>
            
            <p>a)     Support the independence, social and economic participation of people with disability, and</p>
            <p>b)    Enable people with a disability to exercise choice and control in the pursuit of their goals and the planning and delivery of their supports.</p>
        </div>
    </div>

    <div class="form-wrapper">
        <h2>5.) SCHEDULE OF SUPPORTS </h2>

        <div>
            <p>5.1   As a provider of Services, SELECTABILITY agrees to provide you with services set out in clause 19 (Schedule of Supports), and such other Services as are agreed from time to time, in accordance with the terms of this agreement.</p>
            <p> 5.2   The supports and their prices are set out in clause 19 (Schedule of Supports). All prices are GST inclusive (if applicable) and include the cost of providing the supports.</p>
            <p> 5.3   Additional expenses (i.e. items or services that are not included as part of your NDIS supports) are your responsibility and are not included in clause 19 (Schedule of Supports). Examples include entrance fees, event tickets, mealtime resources etc.</p>
            <p>5.4   SELECTABILITY may charge you directly for any supports availed in addition to supports set out in clause 19 (Schedule of Supports) such as transport where not directly funded by NDIS. Costs for these supports will be invoiced to you directly.  </p>
            <p> 5.5   SELECTABILITY may charge for additional resources where they have been administrated for you. This will be charged at cost of resource or fifteen minute blocks.</p>
            <p> 5.6   SELECTABILITY agrees to deliver services to you at the location/s as outlined in clause 3 of this agreement.</p>
            <p> 5.7   SELECTABILITY benchmarks its prices against the NDIS Pricing Arrangements and Price Limits. The services and prices in the schedule of supports are subject to the NDIS terms of business and most recent Pricing Arrangements and Price Limits. Where the Temporary Transformation Payment (TTP) is available, selectability will benchmark their pricing from this line item.</p>
            <p> 5.8   SELECTABILITY will charge for all associated transport including activity based transport. Where transport funding is not available we will utilise associated transport activity lines.</p>
            <p>5.8.1  SELECTABILITY apply travel cost from appropriate budget for employees travel time traveling to and from consumer.</p>
            <p>5.9   Please refer to current NDIS Pricing Arrangements and Price Limits. <a href=" https://www.ndis.gov.au/providers/price-guides-and-pricing "> https://www.ndis.gov.au/providers/price-guides-and-pricing </a></p>
            <p>5.10   SELECTABILITY follow all updates and changes as outlined by the NDIS, consumers are to ensure they keep themselves up to date.  <a href="https://www.ndis.gov.au">https://www.ndis.gov.au</a> </p>
        </div>
    </div>


    <div class="form-wrapper">
        <h2>6.) SELECTABILITY RESPONSIBILITIES</h2>
    </div>


</div>