.outer-div {
    /* 5% of the viewport height for padding */
   border: 2px solid #d3d5d6;
   display:block;
   width: 80%;
  
   width:calc(45vw - 10px);
   height:calc(60vh - 30px); /* 80vh;  90% of the viewport height for the outer div */
   padding: 20px;
   margin:auto;
 }
.line{
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #dfd9d9;
    text-align: left;
    background-color: #fff;
}
.controls div{
    display: inline-block;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid #cecece;
    width: 24px;
    text-align: center;
    margin-right:10px;
}
.controls div i{
    cursor:pointer;
}
.controls div:hover{
    background:#d6d6d6;
}


.right{
    float:right;
}
.right >  * {        
    margin-right:5px;
}
nz-range-picker{
    width:15rem;
}
.div-table{
    display: table;
    line-height: 25px;
}
.div-table > div{
    display: table-row;
}
.div-table > div > div{
    display: table-cell;
    padding: 2px 5px;
}
.div-table > div > div:nth-child(2){
    width: 10rem;
}
.form-group nz-select{
    width:100%
}
nz-select.select{
    min-width:10rem;
}
.inline{
    display:flex;
}
.inline > *{
    display:flex;
    align-items: center;
    padding: 0 3px;
}
.inline > .title{
    font-size:12px;
    margin-right:5px;
}

.title{
    font-size:14px;
    margin-right:3px;
    font-weight: bold;
}
.mini{
    width:7rem;
}
.spacing > *{
    margin-right:5px;
}
.calc-wrapper > div{
    margin-top:8px;
}
.three-wid{
    width:3rem;
}
.three-five{
    width:5rem;
}
.six{
    width:6rem;
}
.seven{
    width:7rem;
}
.flex{
    display:flex;
}
.flex > *{
    margin-right:5px;
}

nz-tabset ::ng-deep div > div.ant-tabs-nav-container {
    height: 25px !important;
    font-size: 13px !important;
}

nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 24px;
    height: 25px;
}
 /* nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #717e94;
    color: #fff;
    
} */
.accept-admin{
   
    border-radius: 3px;
    height: 2rem;
    font-weight: bolder;
    color: #f34b4b;
   
}

.accept-admin.negative{
    color: #f34b4b;
    background: white;
}
.accept-admin.positive{
    color: black;
    background: white;
}

.remaining-fund{
    border : none;
    text-align: right !important;    
    margin:3px;
    padding-right: 5px;
    font-weight: bolder;
    color: red;
    background: white;
}
.number-field{
    border : none;
    text-align: right !important;    
    margin:3px;
    padding-right: 5px;
    font-weight: bolder;
}


.right-field{
    border : none;
    text-align: right !important;
    margin:3px;
   
}

.disabled:disabled{
    color: #8e8e8e;
    font-weight: bold;
    background-color: #e9e9e9;
}

nz-input-number{
    width:100%;
}
.templateLoading{
    display: inline-block;
    position: absolute;
    right: -20px;
}
.spinner{
    margin:1rem auto;
    width:1px;
} 

label{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight:500;
    color: rgb(49, 48, 48);
}

nz-table th{
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
    border: 1px solid #f3f3f3;
}

nz-table tr{
  
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 300;
}

.inline-items{
   display:flex;
   flex-direction:row;
   align-items: baseline;
  
  
}

.no-border-input{
    border: none;
    background: white;
    padding-left: 3px;
    color:black;
    width:120px
}
.doc-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:10px;
    font-size: 16px;
    font-weight: 600 ;
    color: #eb5353;
   
    
}


.selected{
    background-color: #85B9D5;
    color: white;
}

.customrow{
    margin:5px;
}

::ng-deep .nz-tab{
    margin:10px;
}

.q{
    font-weight:bold; 
    font:  'Segoe UI';
    font-size:16px; 
    background-color: #F18805; 
    width:40px; 
    height:30px;   
    border-radius: 5px; 
    color:white;
    text-align:center; 
}

.q2{
    font-weight:bold; 
    font:  'Segoe UI';
    font-size:16px; 
    background-color: White; 
   
   
    border-radius: 5px; 
    color:#F18805;
}

.q3{
    font-weight:bold; 
    font:  'Segoe UI';
    font-size:16px; 
    background-color: White; 
   
   
    border-radius: 5px; 
    color:#1e1669;
}
.input-cell{
    border: 1px solid #d9d9d9;
    border-radius: 5px; 
    margin-top: 3px;
    height: 30px;


}

inline-div{
    display: flex;   
    flex-direction: row;

}

input:invalid, nz-input-number:invalid{
    background-color: white; /* Light red for unfilled fields */
    border: 2px solid #ffcccced;
  }

  /* Optional: Style valid fields differently */
  input:valid, nz-input-number:valid{
    background-color: white; /* Light green for valid fields */
   
  }

  :host ::ng-deep .nz-modal-title {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    width: 100% !important;
  }

  .disabled-div {
    pointer-events: none;    /* Disables click, hover, etc. */
    opacity: 0.5;            /* Makes it look visually disabled */
  }
  
  ::ng-deep .ant-modal .ant-modal-header {
    background-color: #85B9D5 !important;
    
  }