<nz-modal [(nzVisible)]="inActiveOpen" [nzWidth]="850" [nzStyle]="{ top: '20px' }"
  [nzTitle]="'Auto Roster Creation - Date Selection'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div nz-row nzGutter="16">
    <div nz-row class="form-group" [formGroup]="inActiveForm">
      <label for="">Time Period</label>
      <nz-range-picker formControlName="timePeriod"></nz-range-picker>
    </div>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="activeOpen" [nzWidth]="850" [nzStyle]="{ top: '20px' }"
  [nzTitle]="'Fee and Price Update Options'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <div nz-row nzGutter="16">
    <div nz-row>
      <div nz-col nzSpan="12" [formGroup]="activeForm">
        <h3>For The Master Roster</h3>
        <div class="form-group">
          <label nz-checkbox formControlName="aUpdateActivities">Update prices for existing activities</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="aUpdateApplicable">Update/recalculate fees if applicable</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="aCreateBookings">Auto Create Master Roster Bookings</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="aDeleteActivities">Delete Existing Activities</label>
        </div>
      </div>

      <div nz-col nzSpan="12" [formGroup]="activeForm">
        <h3>For Existing Roster</h3>
        <div class="form-group">
          <label nz-checkbox formControlName="bUpdateActivities">Update prices for existing activities</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="bUpdateApplicable">Update/recalculate fees if applicable</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="bCreateBookings">Auto Create Master Roster Bookings</label>
        </div>
        <div class="form-group">
          <label nz-checkbox formControlName="bDeleteActivities">Delete Existing Activities</label>
        </div>
      </div>
    </div>

    <div nz-row class="form-group" [formGroup]="activeForm">
      <label for="">Time Period</label>
      <nz-range-picker formControlName="timePeriod"></nz-range-picker>
    </div>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="quotesOpen" [nzWidth]="1340" [nzStyle]="{ top: '10px' }" [nzTitle]="quote_label"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">

  <div nz-row nzGutter="16">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
      <nz-tab nzTitle="General" [nzDisabled]="disableAddTabs" (nzClick)="tabFindChange(0)"></nz-tab>
      <nz-tab nzTitle="Needs & Risks" (nzClick)="tabFindChange(1)"></nz-tab>
      <nz-tab nzTitle="Goals & Strategies" (nzClick)="tabFindChange(2)"></nz-tab>  
      <nz-tab nzTitle="Budget" (nzClick)="tabFindChange(3)"></nz-tab>
      <nz-tab nzTitle="Supplements" [nzDisabled]="disableAddTabs" (nzClick)="tabFindChange(4)"></nz-tab>

    </nz-tabset>
    <!--  *ngIf="IS_CDC" -->
    <div style="margin-top:-30px; float: right; display:flex; flex-direction:row; font-weight:bold">
      <label nzFor="" class="title">Number</label>
      <label nzFor="" class="doc-header">{{BudgetNo }}</label>
    </div>
    <div nz-row nzGutter="16">
      <div nz-row *ngIf="tabFindIndex == 0" [formGroup]="quoteGeneralForm" class="outer-div"
        style="min-height:60vh; margin-top:20px">
        <div nz-row nzGutter="18">
          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="8">
              <div nz-col nzSpan="11">
                <label nzFor="ID">ID:</label>
              </div>
              <div nz-col nzSpan="10" class="form-group">
                <input nz-input formControlName="id" disabled />
              </div>
            </div>
            <div nz-col nzSpan="14">
              <div nz-col nzSpan="4" style="margin-left:-2px;">
                <label nzFor="ID">Plan Type:</label>
              </div>
              <div nz-col nzSpan="17" class="form-group">
                <nz-select formControlName="planType" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let c of quotePlanType" [nzValue]="c" [nzLabel]="c"></nz-option>
                </nz-select>

              </div>
            </div>
          </div>

          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Name">Name:</label>
              </div>
              <div nz-col nzSpan="18">
                <div class="form-group">
                  <input nz-input formControlName="name" />
                </div>
              </div>
            </div>
          </div>

          <div nz-row nzSpan="20" nzOffset="3">

            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Care Domain">Care Domain:</label>
              </div>
              <div nz-col nzSpan="18">
                <div class="form-group">
                  <nz-select formControlName="careDomain" nzAllowClear nzShowSearch>
                    <nz-option *ngFor="let c of careDomainList" [nzValue]="c" [nzLabel]="c"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Discipline">Discipline:</label>
              </div>
              <div nz-col nzSpan="18">
                <div class="form-group">
                  <nz-select formControlName="discipline" nzAllowClear nzShowSearch>
                    <nz-option *ngFor="let d of disciplineList" [nzValue]="d" [nzLabel]="d"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Program">Program:</label>
              </div>
              <div nz-col nzSpan="18">
                <div class="form-group">
                  <input nz-input formControlName="program" [disabled]="disableProgram" *ngIf="disableProgram" />
                  <nz-select formControlName="program" nzAllowClear nzShowSearch *ngIf="!disableProgram">
                    <nz-option *ngFor="let list of programList" [nzValue]="list" [nzLabel]="list"></nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzGutter="18" class="line">
          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-row nzSpan="24">
              <div nz-col nzSpan="10">
                <div nz-col nzSpan="9" class="form-group">
                  <label>Start Date:</label>
                </div>
                <div nz-col nzSpan="14" class="form-group">
                  <nz-date-picker formControlName="starDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
              </div>
              <div nz-col nzSpan="8">
                <div nz-col nzSpan="8">

                  <label>Sign Off Date:</label>

                </div>
                <div nz-col nzSpan="12" class="form-group">

                  <nz-date-picker formControlName="signOfDate" [nzFormat]="dateFormat"></nz-date-picker>

                </div>
              </div>
              <div nz-col nzSpan="4">

                <div class="form-group">
                  <label nz-checkbox formControlName="publishToApp">Publish to App</label>
                </div>
              </div>
            </div>
          </div>


          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Review Date">Review Date:</label>
              </div>
              <div nz-col nzSpan="7">
                <div class="form-group">
                  <nz-date-picker formControlName="reviewDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
              </div>
            </div>
          </div>
          <div nz-row nzSpan="20" nzOffset="3">
            <div nz-col nzSpan="22">
              <div nz-col nzSpan="4">
                <label nzFor="Reminder Text">Reminder Text:</label>
              </div>
              <div nz-col nzSpan="18">
                <div class="form-group">
                  <input nz-input formControlName="rememberText" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabFindIndex == 1" style="min-height:60vh;">
        <needsrisks-component [ViewNeedsRisk]="ViewNeedsRisk" *ngIf="showNeedRisks"></needsrisks-component>
      </div>
      <div *ngIf="tabFindIndex == 2">
        <div *ngIf="!tableDocumentId">
          <div nz-row>
            <div nz-col nzSpan="8">
              <div class="form-group" *ngIf="option != 'update'" [formGroup]="quoteForm">
                <nz-select formControlName="template" [nzDropdownMatchSelectWidth]="false" nzAllowClear
                  nzPlaceHolder="Templates">
                  <nz-option *ngFor="let list of quoteTemplateList" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
                <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
                <nz-spin nzSimple *ngIf="templateLoading" class="templateLoading"
                  [nzIndicator]="indicatorTemplate"></nz-spin>
              </div>
            </div>
          </div>
          <div nz-row *ngIf="option != 'update'">
            <div nz-col nzSpan="8">
              <!-- <nz-alert nzType="warning" nzMessage="Select a Template first" nzShowIcon></nz-alert> -->
            </div>
          </div>
        </div>

        <div style="min-height:60vh; margin-top:10px">
          <div nz-row nzGutter="32">
            <div nz-col nzSpan="12">

              <!--  <div>
                  <i
                    nz-icon
                    nzType="plus"
                    nzTheme="outline"
                    (click)="showCarePlanStrategiesModal()"
                  ></i>
                </div>
                <div>
                  <i
                    nz-icon
                    nzType="printer"
                    nzTheme="outline"
                    (click)="handleOkTop(1)"
                  ></i>
                </div>-->
              <div style="display:flex; flex-direction: row; margin:5px; ">

                <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   "
                  (click)="showCarePlanStrategiesModal()">Add</button>
                <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                  (click)="showEditCarePlanModal(activeRowData)">Edit</button>
                <button class="btnlevel2orange" nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to archive this from CarePlan Goal/s ?"
                  nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCarePlanGoal(activeRowData)">Archive</button>
                <button class="btnlevel2navy" (click)="print()">Print</button>
                <div class="form-group" style="margin: 10px" [formGroup]="quoteForm">
                  <label nz-checkbox formControlName="chkExpandGoalDescription"> Expand Goal Description </label>
                </div>

              </div>

            </div>
          </div>

          <div nz-row>
            <nz-table #headerTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
              *ngIf="goalsAndStratergies!=null" [nzData]="goalsAndStratergies"
              [nzScroll]="{ y: goalsAndStratergies.length > 15 ? '340px' : null }">
              <thead>
                <tr>
                  <th style="width: 10%">Ant Complete</th>
                  <th style="width: 10%">Last Review</th>
                  <th style="width: 10%">%</th>
                  <th [nzWidth]="expandDescription ? '20%' : '60%'">Goal</th>
                  <th *ngIf="expandDescription"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of headerTable.data" (click)="selectCareplan(data)"
                  (dblclick)="showEditCarePlanModal(data)">
                  <td style="width: 10%">
                    {{ data.anticipated | date : "dd/MM/y" }}
                  </td>
                  <td style="width: 10%">
                    {{ data.lastReviewed | date : "dd/MM/y" }}
                  </td>
                  <td style="width: 10%">{{ data.achievement }}</td>
                  <td>{{ data.goal }}</td>
                  <td *ngIf="expandDescription"></td>
                  <!-- <td style="width: 10%">
                    <a (click)="showEditCarePlanModal(data)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure you want to delete this from CarePlan Goal/s ?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteCarePlanGoal(data)"
                      >Delete</a
                    >
                  </td>-->
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
   
    <div *ngIf="tabFindIndex == 3">
      <!-- <div nz-row nzGutter="16"  *ngIf="!selectedprogram">
        <div  nz-col nzSpan="8">
          <div class="form-group" [formGroup]="quoteForm">
            <nz-select formControlName="program" [nzDropdownMatchSelectWidth]="false" nzAllowClear
              nzPlaceHolder="Program">
              <nz-option *ngFor="let list of quoteProgramList" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
          </div>
        </div>

        <div  nz-col nzSpan="8">
          <div class="form-group" *ngIf="option != 'update'" [formGroup]="quoteForm">
            <nz-select formControlName="template" [nzDropdownMatchSelectWidth]="false" nzAllowClear
              nzPlaceHolder="Templates">
              <nz-option *ngFor="let list of quoteTemplateList" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
            <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
            <nz-spin nzSimple *ngIf="templateLoading" class="templateLoading"
              [nzIndicator]="indicatorTemplate"></nz-spin>
          </div>
        </div>
      </div> -->

      <div nz-row nzGutter="32" class="line">

        <div nz-col nzSpan="6">

          <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="quoteLineModal()">Add</button>
          <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
            (click)="showEditQuoteModal(activeRowData, activeRowIndex)">Edit</button>
          <button class="btnlevel2orange" nz-popconfirm
            nzPopconfirmTitle="Are you sure you want to archive this from CarePlan Goal/s ?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteQuoteList(activeRowData, activeRowIndex)">Archive</button>
          <button class="btnlevel2navy" (click)="print()">Print</button>
        </div>
        <div nz-col nzSpan="18" style="margin-top:10px">
          <div nz-row nzGutter="32" [formGroup]="quoteForm">
            <!-- *ngIf="hideQuoteDetails"-->
            <!-- <div nz-col nzSpan="4">
              <input nz-input formControlName="no" placeholder="Quote No" [disabled]="true" />
            </div> -->

            <div nz-col nzSpan="6" >
              <nz-select class="select" formControlName="type" nzAllowClear nzPlaceHolder="Type" style="width:100%">
                <nz-option *ngFor="let list of typeList" [nzValue]="list" [nzLabel]="list"></nz-option>
              </nz-select>
            </div>

            <div nz-col nzSpan="6" >
              <nz-range-picker formControlName="period" [nzFormat]="dateFormat"
                (nzOnCalendarChange)="setDates($event)"></nz-range-picker>
            </div>
            <div nz-col nzSpan="3" style="text-align:right;">
              <label for="basePeriod" style="text-align:right; margin:3px;">Print View</label>

            </div>
            <div nz-col nzSpan="4">

              <nz-select class="select" formControlName="basePeriod" nzAllowClear nzPlaceHolder="Base Period">

                <nz-option *ngFor="let l of basePeriodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="default" (click)="printQuoteLines()">Save View</button>
            </div>



            <!-- <div nz-row class="line" *ngIf="hideQuoteDetailsAnd">
              <div nz-col nzSpan="12">
               <div class="controls">
                    <div>
                      <i
                        nz-icon
                        nzType="plus"
                        nzTheme="outline"
                        (click)="quoteLineModal()"
                      ></i>
                    </div>
                  
                    <div>
                      <i
                        nz-icon
                        nzType="printer"
                        nzTheme="outline"
                        (click)="printQuoteLines()"
                      ></i>
                    </div>
                  </div>

              </div>
            </div> -->


          </div>
        </div>

      </div>


      <div nz-row class="line" nzGutter="32">

        <!-- <div nz-col nzSpan="6"><label>Initial Budget : </label></div> -->
        <!-- <div nz-col nzSpan="6"><label nz-checkbox>Accept Fee and Supplements</label></div>
        <div nz-col nzSpan="6"  [formGroup]="quoteForm" *ngIf="IS_HCP"  [hidden]="quoteForm.get('program').value == null"> 
         
        
        </div> -->

        <div nz-col nzSpan="5" class="inline-items" *ngIf="!IS_CDC" [formGroup]="quoteForm">
          <label class="title">Initial Budget</label>
          <input nz-input class="mini" placeholder="" formControlName="initialBudget" class="no-border-input" />
        </div>
        <div nz-col nzSpan="5" class="inline-items" *ngIf="IS_CDC" [formGroup]="quoteForm">
          <label class="title">Gov't Contribution</label>
          <nz-input-number nz-input class="mini disabled" [nzFormatter]="formatterDollar" placeholder=""
            class="no-border-input" formControlName="govtContribution" disabled></nz-input-number>
        </div>
        <div nz-col nzSpan="3" class="inline-items" *ngIf="IS_CDC">
          <label class="title"> + BDF</label>
          <span style="margin-left:5px">
            {{contribution | currency : 'USD' : 'symbol' : '1.2-2'}}
          </span>
          <!-- <span class="title">@</span> -->
          <!-- <span><nz-input-number nz-input class="mini" [nzMin]="0" [(ngModel)]="incomeTestedFee" class="no-border-input"
              [nzFormatter]="formatterDollar" (ngModelChange)="calculateIncomeTestedFee()"></nz-input-number>
          </span> -->
        </div>
        <div nz-col nzSpan="4" class="inline-items" *ngIf="IS_CDC">
          <label class="title"> + ITF</label>
          <span style="margin-left:5px">
            {{incomeTestedFee | currency : 'USD' : 'symbol' : '1.2-2'}}
          </span>
        </div>
        <div nz-col nzSpan="6" class="inline-items">
          <label nz-checkbox formControlName="feesAccepted" (change)="checkValue($event)"><span class="accept-admin">Accept Fee and Supplements</span></label>
        </div>
        <div nz-col nzSpan="6" class="inline-items">
          <label class="title"> Total Package Value</label>
          <label style="text-align:right; width: 120px;">{{totalPackageValue??0 | currency : 'USD' : 'symbol' :
            '1.2-2'}}</label>
        </div>
      </div>
      <nz-divider></nz-divider>

      <div nz-row>
        <nz-table #basicTable [nzSize]="'small'" [nzData]="quoteLines_display" [nzScroll]="{y:'350px'}">
          <thead>
            <tr>
              <th nzWidth="15%">Item Code</th>
              <th nzWidth="20%">Description</th>
              <th nzWidth="7%">Qty</th>

              <th nzWidth="8%">Bill Unit</th>
              <th nzWidth="8%">Frequency</th>
              <th nzWidth="8%" style="text-align:right">Total Qty</th>

              <th nzWidth="7%" style="text-align:right">Price</th>
              <th nzWidth="10%" style="text-align:right">Amount</th>
              <th nzWidth="7%" style="text-align:right">GST</th>
              <th nzWidth="10%" style="text-align:right">Total</th>
              <!--<th></th>-->
            </tr>
          </thead>
          <tbody>
           
            <ng-container *ngFor="let titleData of basicTable.data; let indx=index">
              <tr style="background: #f1f2f3; font-weight:bold" *ngIf="!isArray(titleData)">           

                <td colspan="10" >  
                  <div style="display:flex; flex-direction:row">
                          <i *ngIf="titleData.display" nz-icon nzType="minus-square"
                              nzTheme="outline" (click)="toggleTable(indx)"></i>
                          <i *ngIf="!titleData.display" nz-icon nzType="plus-square"
                              nzTheme="outline" (click)="toggleTable(indx)"></i> 
                
                          <p [ngStyle]="{'margin': '-5px 10px'}">{{ getChargeType_label(titleData.key) }}</p>
                          <p [ngStyle]="{'margin': '-5px 10px'}">{{ titleData.budget  | currency : 'USD' : 'symbol' : '1.2-2' }}</p>
                    </div>
                  </td>

              </tr>
           
              <!-- *ngIf="isArray(titleData)" -->
               <!-- {{titleData.display}} -->
               
            <ng-container *ngIf="isArray(titleData) && quoteLines_display[indx-1].display">
              {{setBudget(titleData, indx)}}
            <tr *ngFor="let data of titleData; let i = index; trackBy: trackByFn" (click)="selectQuoteLine(data, i)" (dblclick)="showEditQuoteModal(data, i); " >
              <td>{{ data.code }}</td>
              <td>{{ data.displayText }}</td>
              <td>{{ data.quantity }}</td>

              <td>{{ data.billUnit }}</td>
              <td>{{ data.frequency }}</td>
              <td style="text-align:right">{{ data.quoteQty }}</td>

              <td style="text-align:right">${{ data.price | number : "1.2-2" }}</td>
              <td style="text-align:right">
                ${{ amount(data.price, data.quoteQty) | number : "1.2-2" }}
              </td>
              <td style="text-align:right">{{ data.tax * (data.quoteQty / getViewFActor()) }}</td>
              <!-- <td>{{ data.price * (data.quoteQty / getViewFActor())  + (data.quoteQty / getViewFActor()) * data.tax | number : "1.2-2" }}</td> -->
              <td style="text-align:right">
                ${{
                totalamount(
                data.price,
                data.quoteQty,
                data.tax,
                data.quantity
                ) | number : "1.2-2"
                
                }}
              </td>
              <!--  <td>
                <a (click)="showEditQuoteModal(data, i)">Update</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to delete this from the Quote List ?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteQuoteList(data, i)"
                  >Delete</a
                >
              </td>-->
            </tr>
            </ng-container>
            </ng-container>
          </tbody>
        </nz-table>
      </div>

      <div nz-row class="line" nzGutter="16" >
        <div nz-col nzSpan="17" *ngIf="hideQuoteDetailsAnd ">
          <div nz-row nzGutter="16" *ngIf="tableDocumentId<0">
            <div nz-col nzSpan="10" class="inline" *ngIf="!IS_CDC" [formGroup]="quoteForm">
              <span class="title">Initial Budget</span>
              <input nz-input class="mini" placeholder="" formControlName="initialBudget" />
            </div>
            <div nz-col nzSpan="8" class="inline" *ngIf="IS_CDC" [formGroup]="quoteForm">
              <span class="title">Gov't Contribution</span>
              <nz-input-number nz-input class="mini disabled" [nzFormatter]="formatterDollar" placeholder=""
                formControlName="govtContrib" disabled></nz-input-number>
            </div>
            <div nz-col nzSpan="16" class="inline" *ngIf="IS_CDC">
              <span class="title">Centrelink Income Tested Fee</span>
              <span>
                <nz-select [(ngModel)]="centreLinkListDropdown" nzAllowClear disabled>
                  <nz-option nzValue="Daily" nzLabel="Daily"></nz-option>
                </nz-select>
              </span>
              <span>{{atRate}}</span>
              <span><nz-input-number nz-input class="mini" [nzMin]="0" [(ngModel)]="incomeTestedFee"
                  [nzFormatter]="formatterDollar" (ngModelChange)="calculateIncomeTestedFee()"></nz-input-number>
              </span>
              <span>=</span>
              <span><nz-input-number nz-input class="mini disabled" placeholder="" disabled
                  [(ngModel)]="incomeTestedFeeTotal" [nzFormatter]="formatterDollar"></nz-input-number></span>
            </div>
          </div>
          <div nz-row class="line" *ngIf="IS_CDC  && tableDocumentId<0" [formGroup]="quoteForm">
            <div class="div-table">
              <div>
                <div></div>
                <div>Annual Charge</div>
                <div>Daily</div>
                <div>Monthly</div>
              </div>
              <div [formGroup]="quoteForm">
                <div>Agreed Basic Care Fee</div>
                <div>
                  <nz-input-number nz-input [nzFormatter]="formatterDollar" class="disabled" disabled
                    formControlName="annualBasicCareFee"></nz-input-number>
                </div>
                <div>
                  <nz-input-number nz-input [nzFormatter]="formatterDollar" formControlName="dailyBasicCareFee"
                    (ngModelChange)="calculateBasicCareFee()"></nz-input-number>
                </div>
                <div>
                  <nz-input-number nz-input [nzFormatter]="formatterDollar" class="disabled" disabled
                    formControlName="monthlyBasicCareFee"></nz-input-number>
                </div>
              </div>
              <div [formGroup]="quoteForm">
                <div>Agreed Income Tested Fee</div>
                <div>
                  <nz-input-number nz-input class="disabled" [nzFormatter]="formatterDollar" disabled
                    formControlName="annualIncomeTestedFee"></nz-input-number>
                </div>
                <div>
                  <nz-input-number nz-input class="disabled" [nzFormatter]="formatterDollar" class="disabled"
                    formControlName="dailyIncomeTestedFee" disabled></nz-input-number>
                </div>
                <div>
                  <nz-input-number nz-input class="disabled" [nzFormatter]="formatterDollar" disabled
                    formControlName="monthlyIncomeTestedFee"></nz-input-number>
                </div>
              </div>
              <div>
                <div>Total Package Value</div>
                <div>
                  <nz-input-number nz-input [ngModel]="get_total_package_value" [nzFormatter]="formatterDollar"
                    disabled></nz-input-number>
                </div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="7" >
          <div nz-row>
              <div nz-row  *ngIf="total_admin>0">
                <div nz-col nzSpan="12" class="right-field">Base Quote</div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="10" class="number-field">
                  <span >
                    $ {{ total_base_quote | number : "1.2-2" }}
                  </span>
                </div>
              </div>
              <div  nz-row  *ngIf="total_admin>0">
                <div nz-col nzSpan="12" class="right-field">Admin & Case Management</div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="10" class="number-field">
                  <span > $ {{ total_admin | number : "1.2-2" }}</span>
                </div>
              </div>
              <div  nz-row>
                <div nz-col nzSpan="12" class="right-field">Total Quote</div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="10" class="number-field">
                  <span > $ {{ total_quote | number : "1.2-2" }} </span>
                </div>
              </div>
            
            </div>
          </div>
      </div>
      <div nz-row class="line"   >
        <div nz-col nzSpan="17" >
        </div>
        <div nz-col nzSpan="7" >
          <div nz-col nzSpan="12" class="right-field">Remaining Funds</div>
          <div nz-col nzSpan="1"></div>
          <div nz-col nzSpan="11">           
              <div *ngIf="remaining_fund>=0" class="number-field"> $ {{ remaining_fund | number : "1.2-2" }}</div>
              <div *ngIf="remaining_fund<0" [class.remaining-fund]="remaining_fund<0"> ($ {{ remaining_fund | number : "1.2-2" }})</div>
            
          </div>
      </div>
      </div>
      <div nz-row class="line" *ngIf="hideQuoteDetailsAnd" [formGroup]="quoteForm" style="margin-top:-5px;">
        <textarea rows="3" nz-input formControlName="basis" placeholder="Extra Information"></textarea>
      </div>
    </div>
    <div *ngIf="tabFindIndex == 4" [formGroup]="supplements">
      <!-- <form nz-form [formGroup]="supplements"> -->
      <nz-card style="min-height:60vh;">
        <div nz-row>
          <div nz-col nzSpan="2"></div>
          <div nz-col nzSpan="18" nzGutter="12">
            <div nz-row>
              <div nz-row nz-col nzSpan="14" >
                <label><b>Supplements</b></label>
              </div>
              <div nz-col nzSpan="14" nzOffset="4">

                <div nz-col nzSpan="18" style="margin:5px">
                  <div nz-col nzSpan="20">Dementia/Cognition/Veterans Supplement</div>
                  <label nz-checkbox formControlName="domentica" (change)="domenticaChange($event)"></label>
                </div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="4" [formGroup]="supplements">
                  <nz-radio-group formControlName="levelSupplement">
                    <label nz-radio nzValue="LEVEL 1" [nzDisabled]="!this.supplements.get('domentica').value">LEVEL
                      1</label>
                    <label nz-radio nzValue="LEVEL 2" [nzDisabled]="!this.supplements.get('domentica').value">LEVEL
                      2</label>
                    <label nz-radio nzValue="LEVEL 3" [nzDisabled]="!this.supplements.get('domentica').value">LEVEL
                      3</label>
                    <label nz-radio nzValue="LEVEL 4" [nzDisabled]="!this.supplements.get('domentica').value">LEVEL
                      4</label>
                  </nz-radio-group>
                </div>

              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col nzSpan="14" nzOffset="4">

                <div nz-col nzSpan="18" style="margin:5px">
                  <div nz-col nzSpan="20">Enteral Feeding Supplement</div>
                  <label nz-checkbox formControlName="feedingSuplement"></label>
                </div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="4" [formGroup]="supplements">
                  <nz-radio-group formControlName="feedingSupplementLevel">
                    <label nz-radio nzValue="Bolus"
                      [nzDisabled]="!this.supplements.get('feedingSuplement').value">Bolus</label>
                    <label nz-radio nzValue="Non-Bolus"
                      [nzDisabled]="!this.supplements.get('feedingSuplement').value">Non-Bolus</label>
                  </nz-radio-group>
                </div>

              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="14" nzOffset="4">
                <div nz-row nz-col nzSpan="18" style="margin:5px">
                  <div nz-col nzSpan="20">EACHD Top Up Supplement</div>
                  <label nz-checkbox formControlName="EACHD"></label>
                </div>
                <div nz-row nz-col nzSpan="18" style="margin:5px">
                  <div nz-col nzSpan="20"> Oxygen Supplement</div>
                  <label nz-checkbox formControlName="oxygen"></label>
                </div>

              </div>
            </div>
            <nz-divider></nz-divider>

            <div nz-row class="mrg-btm">
              <div nz-col nzSpan="17" nzOffset="4">

                <div nz-col nzSpan="12" [formGroup]="supplements">
                  Home Care Viability Supplement
                  <label nz-checkbox formControlName="visibilitySuplement" style="margin-left:10px"></label>

                </div>
                <div nz-col nzSpan="5" style="margin-left:10px" [formGroup]="supplements" [ngClass]="{'disabled-div': !supplements.get('visibilitySuplement').value}">
                  <nz-select [nzSize]="'default'" style="width:50%" formControlName="supplementVisibilityOption">
                    <nz-option [nzLabel]="'MM'" [nzValue]="'MM'">MM</nz-option>
                    <nz-option [nzLabel]="'ARIA'" [nzValue]="'ARIA'">ARIA</nz-option>
                  </nz-select>

                </div>
                <!-- [nzDisabled]="!this.supplements.get('visibilitySuplement').value" -->
                <div nz-col nzSpan="4" style="margin-left:10px" *ngIf="supplements.get('supplementVisibilityOption').value=='MM'" [formGroup]="supplements" 
                [ngClass]="{'disabled-div': !supplements.get('visibilitySuplement').value}">
                  <nz-radio-group formControlName="visibilitySuplementLevel">
                    <label nz-radio nzValue="MMM 1">MMM 1</label>
                    <label nz-radio nzValue="MMM 2">MMM 2</label>
                    <label nz-radio nzValue="MMM 3">MMM 3</label>
                    <label nz-radio nzValue="MMM 4">MMM 4</label>
                    <label nz-radio nzValue="MMM 5">MMM 5</label>
                    <label nz-radio nzValue="MMM 6">MMM 6</label>
                    <label nz-radio nzValue="MMM 7">MMM 7</label>
                  </nz-radio-group>
                </div>
                <div nz-col nzSpan="4" style="margin-left:10px" *ngIf="supplements.get('supplementVisibilityOption').value=='ARIA'" [formGroup]="supplements">

                  <nz-radio-group formControlName="visibilitySuplementLevel2">
                    <label *ngFor="let option of fundingAriaList" nz-radio [nzValue]="option.description">
                      {{ option.description }}
                    </label>
                  </nz-radio-group>

                </div>
                <!-- <div nz-col nzSpan="4" *ngIf="SupplementVisibility=='ARIA'">
                        <nz-radio-group formControlName="visibilitySuplementLevel2">
                            <label nz-radio nzValue="ARIA SCORE 0 TO 3.51">ARIA SCORE 0 TO 3.51</label>
                            <label nz-radio nzValue="ARIA SCORE 3.52 TO 4.66">ARIA SCORE 3.52 TO 4.66</label>
                            <label nz-radio nzValue="ARIA SCORE 4.67 TO 5.80">MARIA SCORE 4.67 TO 5.80</label>
                            <label nz-radio nzValue="ARIA SCORE 5.81 TO 7.44">ARIA SCORE 5.81 TO 7.44</label>
                            <label nz-radio nzValue="ARIA SCORE 7.45 to 9.08">ARIA SCORE 7.45 to 9.08</label>
                            <label nz-radio nzValue="ARIA SCORE 9.09 to 10.54">ARIA SCORE 9.09 to 10.54</label>
                            <label nz-radio nzValue="ARIA SCORE 10.55 to 12.00">ARIA SCORE 10.55 to 12.00</label>
                        </nz-radio-group>
                    </div> -->








              </div>
            </div>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col nzSpan="21" nzOffset="4">

                <div nz-row nz-col nzSpan="10">
                  Daily Hardship Supplement
                </div>
                <div nz-row nz-col nzSpan="3" [formGroup]="quoteForm">
                  <div> <input nz-input nzSize="default" formControlName="hardshipSupplement" /></div>
                </div>
                <div nz-col nzSpan="3" style="margin-left:10px">
                  Per Day
                </div>

              </div>
            </div>
            <div nz-row>
              <!-- <div nz-col nzSpan="2"></div> -->
              <div nz-col nzSpan="21">
                <div nz-row nz-col nzSpan="14">
                  <label><b>Fees</b></label>
                </div>
              </div>
            </div>
            <div nz-row nz-col nzSpan="21" nzOffset="4">
                
              <div nz-col nzSpan="10">
                Income Tested Fee
              </div>
              <div nz-col nzSpan="3" >
                <input nz-input [nzSize]="'default'" formControlName="dailyIncomeTestedFee" />
                <!-- {{annualIncomeTestedFee | currency : 'USD' : 'symbol' : '1.2-2'}} -->
              </div>
              <div nz-col nzSpan="3" style="margin-left:10px">
                Per Day
              </div>
            </div>
            <div nz-row nz-col nzSpan="21" nzOffset="4" style="margin-top:5px; " >
              <div nz-col nzSpan="10">
                 Basic Daily Fee
              </div>
              <div nz-col nzSpan="3" >
                <input nz-input [nzSize]="'default'" formControlName="dailyBasicCareFee" />
                <!-- {{dailyBasicCareFee | currency : 'USD' : 'symbol' : '1.2-2'}} -->
              </div>
              <div nz-col nzSpan="2" style="margin-left:10px">
                Per Day
              </div>
              <div nz-col nzSpan="2" style="text-align:center">
                Pension
             </div>
              <div nz-col nzSpan="5" >
                <nz-select [nzSize]="'default'" style="width:100%" formControlName="basePension">
                  <nz-option *ngFor="let l of Pensions" [nzValue]="l" [nzLabel]="l"></nz-option>
                </nz-select>
              </div>
            </div>

          </div>
          <div nz-col nzSpan="4"></div>
        </div>
       
      
       
      </nz-card>
      <!-- </form> -->

    </div>
   
  </div>
  <div *nzModalFooter>
    <div style="float:left; font-size:14px">
      <div>
        <span style="color: rgb(29, 27, 27)">Created : </span>
        <span style="margin-left:5px;">{{ Created?? Modified }} </span>
      </div>
      <div>
        <span style="color: rgb(29, 27, 27)">Modified : </span>
        <span style="margin-left:5px;">{{ Modified }} </span>
      </div>
    </div>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="saveQuote()" [nzLoading]="loadingSaveQuote"
      [disabled]="quoteLines.length<=0 && goalsAndStratergies.length<=0">
      Save
    </button>
  </div>
</nz-modal>

<!-- ADD QUOTE LINE -->
<nz-modal [(nzVisible)]="quoteLineOpen" [nzWidth]="1100" [nzStyle]="{ top: '5px' }" nzTitle="Add New Quote Line"
  (nzOnCancel)="handleCancelLine()"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <div style="min-height:77vh;" >
    <div nz-row [formGroup]="quoteListForm">
      <span style="margin-right: 2rem; font-weight: bold">Charge Type</span>
      <nz-radio-group formControlName="chargeType">
        <label nz-radio nzValue="1">Service</label>
        <label nz-radio nzValue="2">Item</label>
        <label nz-radio nzValue="3">Admin Charge</label>
        <label nz-radio nzValue="4">Package/Case Management</label>
      </nz-radio-group>
    </div>
    <nz-divider></nz-divider>
    <div nz-row class="line" nzGutter="[16, 16]" class="customrow">
      <div nz-col nzSpan="23" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">

        <div nz-col nzSpan="4">
          <label for="">Activity Code</label>
        </div>
        <div nz-col nzSpan="14">
          <nz-select formControlName="code" nzAllowClear nzPlaceHolder="Code" style="width:100%" [nzShowSearch]="true" [nzLoading]="loading"
            [nzAllowClear]="true" (nzOnSearch)="onSearch($event)">
            <nz-option *ngFor="let d of codes" [nzValue]="d" [nzLabel]="d"></nz-option>
          </nz-select>
        </div>

      </div>
    </div>
    <div nz-row nzGutter="[16, 16]">

      <div nz-row nz-col nzSpan="23" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value"
        class="customrow">

        <div nz-col nzSpan="4">
          <label for="displayText">Display Text</label>
        </div>
        <div nz-col nzSpan="18">
          <input nz-input formControlName="displayText" placeholder="Display Text" />
        </div>



        <div nz-col nzSpan="2" [formGroup]="quoteListForm" >
          <div class="right">
            <!-- <label for="">Sequence #</label> -->
            <input id="sortOrder" nz-input formControlName="sortOrder" required />
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="[16, 16]" class="customrow">
      <div nz-col nzSpan="23" [formGroup]="quoteListForm" *ngIf="quoteListForm.get('chargeType').value">

        <div nz-col nzSpan="4">
          <label for="">Strategy</label>
        </div>
        <div nz-col nzSpan="14">
          <nz-select formControlName="strategy" nzAllowClear nzPlaceHolder="Strategy" style="width:100%">
            <nz-option *ngFor="let d of strategies" [nzValue]="d.recordNumber" [nzLabel]="d.strategy"></nz-option>
          </nz-select>
        </div>

      </div>
    </div>

    <div nz-row nzSpan="24" class="line" *ngIf="quoteListForm.get('code').value">
      <div nz-row>
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="10" [formGroup]="quoteListForm" style="display:flex; flex-direction:row">
          <nz-radio-group formControlName="roster"  >
            <label nz-radio nzValue="WEEKLY">Weekly</label>
            <label nz-radio nzValue="FORTNIGHTLY">Fortnightly</label>
            <label nz-radio nzValue="MONTHLY">Monthly</label>
            <label nz-radio nzValue="NONE">None</label>
          </nz-radio-group>
          <label class="q">?</label>
       
        </div>
        <div nz-col nzSpan="4" [formGroup]="quoteListForm" style="display:flex; flex-direction:row">
          <input  formControlName="budgetCode" nz-input class="input-cell" />        
        </div>
        <div nz-col nzSpan="2" [formGroup]="quoteListForm" style="display:flex; flex-direction:row">         
          <input  formControlName="budgetUsage" nz-input class="input-cell" />
        </div>
        <div nz-col nzSpan="4"></div>
    </div>
      <div nz-row >
         <div nz-col nzSpan="24">
         
        <div nz-col nzSpan="24"  >
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="20" style="margin-top: 6px;">
          <app-interval-quote [(ngModel)]="slots" (ngModelChange)="slotsChange($event)" [interval]="weekly"
            [mode]="'Booking'" [size]="'small'" [NoMon]="recipientProperties?.noMonday"
            [NoTue]="recipientProperties?.noTuesday" [NoWed]="recipientProperties?.noWednesday"
            [NoThu]="recipientProperties?.noThursday" [NoFri]="recipientProperties?.noFriday"
            [NoSat]="recipientProperties?.noSaturday" [NoSun]="recipientProperties?.noSunday"
            [NoPub]="recipientProperties?.noPubHol"></app-interval-quote>
          <!-- {{ slots | json }} -->
            </div>
        </div>
        <div nz-col nzSpan="24">
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="12" >
            <div nz-row class="calc-wrapper" [hidden]="!weekly">
              <div class="spacing flex" [formGroup]="quoteListForm">
                <nz-input-number formControlName="quantity" [nzMin]="1" [nzStep]="1" [nzSize]="size"  [required]="true"></nz-input-number>
                <nz-select nzAllowClear [nzDropdownMatchSelectWidth]="false" placeholder="Bill Unit"
                  formControlName="billUnit">
                  <nz-option *ngFor="let l of billUnitArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                </nz-select>
                <nz-select style="width: 16rem" nzAllowClear [nzDropdownMatchSelectWidth]="false" placeholder="Period"
                  formControlName="frequency">
                  <nz-option *ngFor="let l of periodArr" [nzValue]="l" [nzLabel]="l"></nz-option>
                </nz-select>
                <span>X</span>
                <nz-input-number [nzStep]="0" [nzSize]="size" formControlName="weekNo"></nz-input-number>
              </div>
              <div class="flex" [formGroup]="quoteListForm">
                <span>Price</span>
                <input class="three-five" formControlName="price" nz-input required />
               
                <span><label nz-checkbox formControlName="min">GST</label></span>
                <span>Min : </span>
                <input class="three-five" nz-input formControlName="tax" />
              </div>

              <div nz-row class="spacing" [formGroup]="quoteListForm">
                <div nz-col nzSpan="10">
                  <nz-input-number [nzMin]="1" [nzStep]="1" [nzSize]="size"
                    formControlName="quotePerc"></nz-input-number>
                  <div>% of Quote Value</div>
                </div>

                <div nz-col nzSpan="10">
                  <nz-input-number [nzMin]="1" [nzStep]="1" [nzSize]="size"
                    formControlName="budgetPerc"></nz-input-number>
                  <div>% of Quote Budget</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div nz-col nzSpan="4" [ngStyle]="{'margin-left': marginLeftValue , 'margin-top': marginToValue}" >
          <div  [formGroup]="quoteListForm" style="display:flex; flex-direction:column" class="seven">
           
            <nz-select nzAllowClear [nzDropdownMatchSelectWidth]="false"  formControlName="interval" *ngIf="weekly!='NONE'">
              <nz-option *ngFor="let l of lstInterval" [nzValue]="l" [nzLabel]="l"></nz-option>
            </nz-select>
          
            <input  formControlName="quoteQty" nz-input class="input-cell q3" />
            <input  formControlName="bTotal" nz-input class="input-cell q2"    placeholder="$0.00"/>
            
           </div>
        </div>
      </div>
     
        <div nz-row>
          <div nz-col nzSpan="24" class="line">
            <div class="form-group" [formGroup]="quoteListForm">
              <textarea rows="4" nz-input formControlName="notes" placeholder="Notes"></textarea>
            </div>
          </div>
        </div>
     </div>
    </div>

    <div *nzModalFooter>
      <ng-container>
      <button nz-button nzType="default">
        <strong>Current Quote Value ${{ current_quote_value | number : "1.2-2" }}
        </strong>
      </button>
      <button nz-button nzType="default">
        <strong>
          Remaining Funds ${{
            (totalPackageValue - current_quote_value) | number : "1.2-2"
          }}
        </strong>
      </button>
      <button nz-button nzType="default" (click)="handleCancelLine()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="GENERATE_QUOTE_LINE()">
        Save
      </button>
    </ng-container>
    </div>
</nz-modal>

<nz-modal [nzWidth]="400" [(nzVisible)]="selectGoalModel" nzTitle="Select Recipient Goals" [nzStyle]="{ top: '5px' }"
  *ngIf="goalOfCarelist!=null" (nzOnCancel)="selectGoalModel=false"
  (nzAfterClose)="this.listCarePlanAndGolas(tableDocumentId)"
  [nzScroll]="{ y: goalOfCarelist.length > 15 ? '340px' : null }" [nzMask]="true" [nzMaskClosable]="false"
  [nzClosable]="true">
  <div>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event,'Goals')"
        placeholder="input search text" (change)="onTextChangeEvent($event,'Goals')" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
  </div>
  <div nz-row>
    <nz-table #fixedTable [nzData]="goalOfCarelist" nzSize="small" [nzScroll]="{ x: '300px', y: '650px' }"
      [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of goalOfCarelist; let i = index;" (click)="selectGoal($event,data,i)"
          (dblclick)="saveGoals(data)" [class.selected]=selectedGoals.includes(data)>
          <td>{{ data.label }}</td>

        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- <div class="form-group">
                          <nz-select formControlName="goal" nzShowSearch>
                            <nz-option *ngFor="let c of goalOfCarelist" [nzValue]="c.value" [nzLabel]="c.label"></nz-option>
                          </nz-select>
                        </div> -->


  <div *nzModalFooter>

    <div style="display:flex; flex-direction:row">
      <button nz-button nzType="default" class="btnlightblue">Print</button>
      <button nz-button nzType="default" class="btnlightblue">Export</button>
      <div style="margin-left:80px"></div>
      <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="selectGoalModel=false"
        class="btnlightorange">
        <span>Cancel</span>
      </button>
      <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveGoals(selectedGoal)"
        class="btnlightblue">
        <span>OK</span>
      </button>
    </div>

  </div>
</nz-modal>
<nz-modal [nzWidth]="750" [(nzVisible)]="goalAndStrategiesmodal" nzTitle="Add/Change Recipient Goals"
  (nzOnCancel)="handlegoalsStarCancel()" (nzAfterClose)="this.listCarePlanAndGolas(tableDocumentId)"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <form nz-form [formGroup]="goalsAndStratergiesForm">
    <div nz-row nzGutter="24">
      <div>
        <!-- <div nz-row nzSpan="24" >
          <nz-tabset *ngIf="goalAndStrategiesmodal" [nzTabPosition]="'top'" [nzType]="'card'"
            [nzSelectedIndex]="tabFinderIndexbtn">
            <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChangeStrategies(0)">
            </nz-tab>
            <nz-tab nzTitle="Strategies" (nzClick)="tabFindChangeStrategies(1)">
            </nz-tab>
          </nz-tabset>
        </div> -->

        <div *ngIf="tabFinderIndexbtn == 0" [formGroup]="goalsAndStratergiesForm">
          <!-- <div nz-row nzJustify>
                <div nz-col nzSpan="22" nzOffset="2">
                  <div nz-row nzJustify>
                    <div nz-col nzSpan="24">
                      <div nz-col nzSpan="2" class="text-right pad-r-5">
                        <label nzFor=""></label>
                      </div>
                      <div nz-col nzSpan="15">
                        <div class="form-group" style="margin-bottom: 7px">
                          <input nz-input formControlName="title" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div nz-row nzJustify>
                    <div nz-col nzSpan="24">
                      <div nz-col nzSpan="2" class="text-right pad-r-5">
                        <label nzFor="">Goal : </label>
                      </div>
                      <div nz-col nzSpan="15">
                        <div class="form-group">
                          <nz-select formControlName="goal" nzShowSearch>
                            <nz-option *ngFor="let c of goalOfCarelist" [nzValue]="c.value"
                              [nzLabel]="c.label"></nz-option>
                          </nz-select>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div> -->


          <div nz-row nzJustify *ngIf="isUpdateGoal">
            <div nz-col nzSpan="22" nzOffset="2" style="margin:10px">
            </div>
            <div nz-col nzSpan="22" nzOffset="2">

              <div nz-row nzJustify>
                <div nz-col nzSpan="24">
                  <div nz-col nzSpan="3">
                    <label nzFor="">Goal : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <textarea rows="4" nz-input formControlName="goal"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-row nzJustify>
                <div nz-col nzSpan="24">

                  <div nz-col nzSpan="3">
                    <label nzFor="">Anticipated : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <nz-date-picker nzSize="anticipated" formControlName="anticipated"
                        [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                  </div>
                </div>
              </div>

              <div nz-row nzJustify>
                <div nz-col nzSpan="24">

                  <div nz-col nzSpan="3">
                    <label nzFor="">Archived: </label>
                  </div>
                  <div nz-col nzSpan="8">
                    <div class="form-group" style="margin-bottom: 7px">
                      <nz-date-picker formControlName="dateArchived" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                  </div>
                  <div nz-col nzSpan="1" style="padding-left:10px">
                    <label nzFor="">%</label>
                  </div>
                  <div nz-col nzSpan="2">
                    <div class="form-group" style="margin-bottom: 7px">
                      <input nz-input formControlName="percent" />
                    </div>
                  </div>
                </div>
              </div>

              <div nz-row nzJustify>
                <div nz-col nzSpan="24">

                  <div nz-col nzSpan="3">
                    <label nzFor="">Level : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <nz-select formControlName="level" nzAllowClear nzPlaceHolder="Code">
                        <nz-option *ngFor="let d of plangoalachivementlis" [nzValue]="d" [nzLabel]="d"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-row nzJustify>
                <div nz-col nzSpan="24">
                  <!-- <div nz-col nzSpan="2" class="text-left">
                    <label nzFor=""></label>
                  </div> -->
                  <div nz-col nzSpan="3">
                    <label nzFor="">Last Review: </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <nz-date-picker formControlName="lastReviewed" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                  </div>
                </div>
              </div>

              <div nz-row nzJustify>
                <div nz-col nzSpan="24">
                  <div nz-col nzSpan="3">
                    <label nzFor="">Notes : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <textarea rows="4" nz-input formControlName="notes"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-row nzJustify>
                <div nz-col nzSpan="24">

                  <div nz-col nzSpan="3">
                    <label nzFor="">Strategies : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px">
                      <label nz-checkbox formControlName="chkStrategies">
                      </label>
                    </div>
                  </div>
                </div>
                <div *ngIf="chkStrategies" [formGroup]="goalsAndStratergiesForm">
                  <div nz-row>
                    <div nz-col nzSpan="3" nzGutter="32">

                      <button class="btnlevel2navy" (click)="showStrategiesModal()">Add</button>

                    </div>
                    <div nz-col nzSpan="18">
                      <nz-table #headerTable [nzSize]="'small'" [nzShowPagination]="false" [nzFrontPagination]="false"
                        *ngIf="strategiesList!=null" [nzLoading]="loading" [nzData]="strategiesList"
                        [nzScroll]="{ y: strategiesList.length > 15 ? '340px' : null }">
                        <thead>
                          <tr>
                            <th>Strategy</th>
                            <th style="width: 9rem">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of strategiesList; let i=index">
                            <td>{{ data.Detail }}</td>
                            <td style="width: 9rem">
                              <a (click)="showEditStrategyModal(data,i)">Update</a>
                              <nz-divider nzType="vertical"></nz-divider>
                              <a nz-popconfirm
                                nzPopconfirmTitle="Are you sure you want to delete this from Strategy List?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCarePlanStrategy(data)">Delete</a>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-row nzJustify>
                <div nz-col nzSpan="24">

                  <div nz-col nzSpan="3">
                    <label nzFor="">Documents : </label>
                  </div>
                  <div nz-col nzSpan="18">
                    <div class="form-group" style="margin-bottom: 7px" [formGroup]="goalsAndStratergiesForm">
                      <label nz-checkbox formControlName="chkDocuments">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="chkDocuments" [formGroup]="goalsAndStratergiesForm">
                <div nz-row nzSpan="24">

                  <div nz-col nzSpan="3">
                    <!-- <button class="btnlevel2navy"  (click)="ImportDocument()">Import</button> *ngIf="chkDocuments && pUser" -->
                    <app-upload-shared  [(ngModel)]="pUser" [user]="pUser" 
                      (reload)="reload($event)"></app-upload-shared>
                  </div>

                  <div nz-col nzSpan="18">
                    <nz-table #headerTable [nzSize]="'small'" [nzShowPagination]="false" [nzFrontPagination]="false"
                      *ngIf="documentList!=null" [nzLoading]="loading && chkDocuments" [nzData]="documentList"
                      [nzScroll]="{ y: documentList.length > 15 ? '340px' : null }">
                      <thead>
                        <tr>
                          <th>Document Name</th>
                          <th style="width: 9rem">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of headerTable.data">
                          <td>{{ data.title }}</td>
                          <td style="width: 9rem">
                            <a (click)="showEditDocumentModal(data)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm
                              nzPopconfirmTitle="Are you sure you want to delete this from Document?"
                              nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteDocument(data)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>



  </form>

  <div *nzModalFooter>
    <ng-container>
      <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveCarePlan()">
        <span>Save</span>
      </button>
    </ng-container>
  </div>
</nz-modal>
<app-document *ngIf="chkDocuments && showDocProperties" [user]="pUser" [viewData]="viewData" (callback)="DocCallback($event)"></app-document>

<nz-modal [nzWidth]="1050" [(nzVisible)]="strategiesmodal" nzTitle="Add/Change Plan Goal Strategy"
  (nzOnCancel)="handleStarCancel()"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <form nz-form [formGroup]="stratergiesForm">
    <div nz-row nzGutter="24">
      <div nz-row nzJustify>
        <div nz-col nzSpan="24">
          <div nz-row nzJustify>
            <div nz-col nzSpan="24">
              <div nz-col nzSpan="4" class="text-right pad-r-5">
                <label nzFor="">Strategy Detail : <br />
                  Max 4000 characters</label>
              </div>
              <div nz-col nzSpan="20">
                <div class="form-group" style="margin-bottom: 7px">
                  <div class="form-group" style="margin-bottom: 7px">
                    <textarea rows="4" nz-input formControlName="detail"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div nz-row nzJustify>
            <div nz-col nzSpan="24">
              <div nz-col nzSpan="8" class="text-right pad-r-5">
                <label nzFor="">Expected Outcome : </label>
              </div>
              <div nz-col nzSpan="6" class="pad-r-5">
                <div class="form-group" style="margin-bottom: 7px">
                  <nz-select formControlName="outcome" nzAllowClear nzPlaceHolder="Code">
                    <nz-option *ngFor="let d of expecteOutcome" [nzValue]="d" [nzLabel]="d"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-col nzSpan="4">Contracted Strategy ID :</div>
              <div nz-col nzSpan="6">
                <input nz-input formControlName="strategyId" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <ng-container>

      <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveStrategy()">
        <span>Save</span>
      </button>
    </ng-container>
  </div>
</nz-modal>


<!-- <app-print-pdf [reportData]="reportDataParent"></app-print-pdf> -->

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
  [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
  <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <div nz-row>
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"></iframe>
  </div>
</nz-drawer>

<nz-modal [(nzVisible)]="newFileNameOpen" [nzWidth]="450" [nzStyle]="{ top: '20px' }"
  [nzTitle]="'Enter New Filename for File already exists'" (nzOnCancel)="closeFileName()" (nzOnOk)="saveNewFilename()"  
  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
  <div nz-row nzGutter="16">
    <div nz-row class="form-group">
      <input nz-input placeholder="Filename..." [(ngModel)]="newFileName" />
    </div>
  </div>

  <div *nzModalFooter>
    <ng-container>

      <button nz-button nzType="primary" (click)="saveNewFilename()">
        <span>Proceed</span>
      </button>
    </ng-container>
  </div>
</nz-modal>