<div id="viewerPlaceHolder" class=theme-default></div>

<!-- <gc-activereports-viewer [height]="height" [availableExports]="availableExports" (documentLoaded)="onDocumentLoaded($event)" #reportviewer></gc-activereports-viewer> -->
