<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1010" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="height: 79vh;">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Price Update">
                <div class="tab">

                    <!-- <div style="height: 4pc;" nz-row></div> -->

                    <div nz-row style="height: 60px; margin-top: 2%;">
                        <div nz-col nzSpan="7">
                            <p> </p>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-radio-group formControlName="rdoUpdateType">
                                <label nz-radio nzValue="rdoPercentage">Update By Percentage</label>
                                <label nz-radio nzValue="rdoAmount">Update By Amount</label>
                            </nz-radio-group>
                        </div>
                        <div nz-col nzSpan="4" *ngIf="inputForm.get('rdoUpdateType').value == 'rdoPercentage'">
                            <label style="text-align: right; margin-top: 13px; margin-right: 5px;"> Percentage :</label>
                        </div>
                        <div nz-col nzSpan="4" *ngIf="inputForm.get('rdoUpdateType').value == 'rdoAmount'">
                            <label style="text-align: right; margin-top: 13px; margin-right: 5px;"> Amount :</label>
                        </div>
                        <div nz-col nzSpan="4">
                            <input nz-input placeholder="0.00" step="0.1" formControlName="inputValue" [(ngModel)]="inputValue" type="number" style="text-align: right; margin-top: 10px;"/>
                        </div>
                    </div>

                    <nz-divider nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="7">
                            <p> </p>
                        </div>
                        <div nz-col nzSpan="6">
                            <label nz-checkbox formControlName="chkUpdatePrices" style="margin-left: 8px;"> Update Special Prices </label>
                            <label nz-checkbox formControlName="chkUpdateQuotes"> Update Pending Quotes </label>
                        </div>
                        <div nz-col nzSpan="4">
                            <label style="text-align: right; margin-top: 5px; margin-right: 5px;"> Bill Unit : </label>
                        </div>
                        <div nz-col nzSpan="4">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="billUnit" nzPlaceHolder=""
                                nzShowSearch style="width:80%;">
                                <nz-option *ngFor="let data of billUnit" [nzLabel]="data" [nzValue]="data">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>

                    <nz-divider nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row style="height: 70px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-size: medium; text-align: right;">Update Roster History</p>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox formControlName="chkRosterDates" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: right; margin-left: 8px;">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                                [nzDisabled]="!this.inputForm.get('chkRosterDates').value"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="1">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: left;">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate"
                                [nzDisabled]="!this.inputForm.get('chkRosterDates').value" [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                        <div nz-col nzSpan="1">
                            <p style="text-align: center; margin-top: 5px;"> </p>
                        </div>
                        <div nz-col nzSpan="4">
                            <label nz-checkbox formControlName="chkRosterUnApproved"
                                [nzDisabled]="!this.inputForm.get('chkRosterDates').value"
                                style="margin-top: 5px; text-align: left; margin-left: 8px;"> UnApproved </label>
                            <label nz-checkbox formControlName="chkRosterApproved"
                                [nzDisabled]="!this.inputForm.get('chkRosterDates').value"
                                style="margin-top: 5px; text-align: left"> Approved </label>
                            <label nz-checkbox formControlName="chkRosterMaster"
                                [nzDisabled]="!this.inputForm.get('chkRosterDates').value"
                                style="margin-top: 5px; text-align: left"> Master </label>
                        </div>
                    </div>

                    <nz-divider nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row style="height: 180px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-size: medium; text-align: right;">Update Activity Master Table</p>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox formControlName="chkActMasTbl" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4">
                            <label nz-checkbox formControlName="chkActMasCom"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left; margin-left: 8px;"> Commercial </label>
                            <label nz-checkbox formControlName="chkActMasLvl1"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 1 </label>
                            <label nz-checkbox formControlName="chkActMasLvl2"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 2 </label>
                            <label nz-checkbox formControlName="chkActMasLvl3"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 3 </label>
                            <label nz-checkbox formControlName="chkActMasLvl4"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 4 </label>
                            <label nz-checkbox formControlName="chkActMasLvl5"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 5 </label>
                            <label nz-checkbox formControlName="chkActMasLvl6"
                                [nzDisabled]="!this.inputForm.get('chkActMasTbl').value"
                                style="margin-top: 5px; text-align: left"> Level 6 </label>
                        </div>
                    </div>

                    <nz-divider nzText="" nzOrientation="left"></nz-divider>

                </div>
            </nz-tab>
            <nz-tab nzTitle="Activities">
                <div class="tab">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Activities </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allActivitiesChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '680px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row
                                                                *ngFor="let list of ActivitiesList; let i = index">
                                                                <label nz-checkbox [disabled]="lockActivities == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.activityTitle }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>

            <nz-tab nzTitle="Other Selections">
                <div class="tab">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Funding Sources</p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All
                            </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(5)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(5)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,5)">
                                                            <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [disabled]="lockFunding == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.fundingDescription }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Item Subgroups </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(6)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allItemSubgroupsChecked" (ngModelChange)="checkAll(6)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedAdministration"
                                                                [ngModelOptions]="{standalone: true}"> ADMINISTRATION
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedOneonone"
                                                                [ngModelOptions]="{standalone: true}"> ONEONONE
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedGroupactivity"
                                                                [ngModelOptions]="{standalone: true}"> GROUPACTIVITY
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedCentrebased"
                                                                [ngModelOptions]="{standalone: true}"> CENTREBASED
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedTransport"
                                                                [ngModelOptions]="{standalone: true}"> TRANSPORT
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedRecptabsence"
                                                                [ngModelOptions]="{standalone: true}"> RECPTABSENCE
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedTraveltime"
                                                                [ngModelOptions]="{standalone: true}"> TRAVELTIME
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedSleepover"
                                                                [ngModelOptions]="{standalone: true}"> SLEEPOVER
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedAdmission"
                                                                [ngModelOptions]="{standalone: true}"> ADMISSION
                                                            </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockItemSubgroups == false"
                                                                [(ngModel)]="checkedItem"
                                                                [ngModelOptions]="{standalone: true}"> ITEM
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Programs </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '206px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row
                                                                *ngFor="let list of ProgramsList; let i = index">
                                                                <label nz-checkbox [disabled]="lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.programName }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Categories </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox [disabled]="lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.categoryDescription }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Selections 2">
                <div class="tab">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Recipients </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All
                            </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(4)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allRecipientsChecked" (ngModelChange)="checkAll(4)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '516px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,5)">
                                                            <div nz-row
                                                                *ngFor="let list of recipientsList; let i = index">
                                                                <label nz-checkbox [disabled]="lockRecipients == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.accountNumber }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Recipients Groups </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(7)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allRecipientsGroupsChecked" (ngModelChange)="checkAll(7)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="14" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '160px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,7)">
                                                            <div nz-row
                                                                *ngFor="let list of recipientsGroupsList; let i = index">
                                                                <label nz-checkbox
                                                                    [disabled]="lockRecipientsGroups == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.recipientsDescription }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Start </button>
        </ng-container>
    </div>
</nz-modal>