<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="isVisible" nzTitle="Batch Receipt Import"
    (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex;  height: 33em; ">
        <div style="display: block;" *ngIf="inputForm" [formGroup]="inputForm">
            <div style="display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                <div style="display: inline-block; width: 20%; padding: 5px;">
                    <nz-lable >File to Import : </nz-lable>
                </div>
                <div style="display: inline-block; padding-bottom: 10px; width: 60%; ">
                     <input type='file' (change)='convertFile(input)' id='fileInput' #input>
                </div>
            </div>
            <div style="margin-top: 10px; display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                <div style="display: inline-block; width: 20%; padding: 5px;">
                    <nz-lable >File Type : </nz-lable>
                </div>
                <div style="display: inline-block; width: 40%; padding-bottom: 10px;">
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="fileType"
                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let value of fileTypeList" [nzLabel]="value" [nzValue]="value">
                        </nz-option>
                    </nz-select>
                    <label nz-checkbox formControlName="chkUpdateClientPrices" style="margin-top: 5px;">Update Client Special Pricing</label>
                </div>
            </div>
            <div style=" padding-top: 10px; width: 760px; ">
                <textarea nz-input placeholder="Error Message" [nzAutosize]="{ minRows: 15, maxRows: 80 }">{{JSONData}}</textarea>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="Run_Process()" class="btn"  >Start</button>
        <button nz-button nzType="default" (click)="Run_Process()" class="btn" >Preview</button>
        <button nz-button nzType="default"  class="btn" calss="button">Export</button>
        <button nz-button nzType="default"  class="btn" >Email</button>
        <button nz-button nzType="default" (click)="print()" class="btn" >Print</button>
    </div>
</nz-modal>
