<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1140" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div style="height: 79vh;">
        <div *ngIf="inputForm" [formGroup]="inputForm">
            <div nz-col nzSpan="9">
                    <div nz-row>
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="displayInvDropList" nzPlaceHolder=""
                            nzShowSearch nzAllowClear style="width:94%;">
                            <nz-option *ngFor="let etype of displayInvDropList" [nzLabel]="etype" [nzValue]="etype">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <!-- <div nz-col nzSpan="6">
                            <p style="font-size: large;">Dates</p>
                        </div>
                        <div nz-col nzSpan="7" style="text-align: right;">
                            <label style="margin-top: 5px;"> Include All Dates </label>
                        </div> -->
                        <!-- <div nz-col nzSpan="2" style="text-align: center;">
                            <label nz-checkbox formControlName="chkAllDates" style="margin-top: 5px;"></label>
                        </div> -->
                        <div nz-col nzSpan="8" style="text-align: left">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="2">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="8" style="text-align: right;">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value" [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                    </div>
                    <div nz-row style="margin-top: 2%;">
                        <div nz-col nzSpan="24">
                            <nz-radio-group formControlName="rdoFilterType" style="height: 15px;">
                                <div nz-row style="margin-bottom: 10px;">
                                    <div nz-col nzSpan="24">
                                        <label nz-radio nzValue="rdoNoFilter">
                                            No Filters
                                        </label>
                                    </div>
                                </div>
                                <div nz-row style="margin-bottom: 10px;">
                                    <div nz-col nzSpan="24">
                                        <label nz-radio nzValue="rdoInvoiceNumber">
                                            Invoice Number
                                        </label>
                                        <input *ngIf="inputForm.get('rdoFilterType').value == 'rdoInvoiceNumber'" 
                                            nz-input placeholder="ALL" formControlName="inputValue" [(ngModel)]="inputValue" 
                                            type="text" style="margin-left: 10px; width: 150px;"/>
                                    </div>
                                </div>
                                <div nz-row style="margin-bottom: 10px;">
                                    <div nz-col nzSpan="24">
                                        <label nz-radio nzValue="rdoBatchNumber">
                                            Batch Number
                                        </label>
                                        <input *ngIf="inputForm.get('rdoFilterType').value == 'rdoBatchNumber'" 
                                            nz-input placeholder="ALL" formControlName="inputValue" [(ngModel)]="inputValue" 
                                            type="text" style="margin-left: 10px; width: 150px;"/>
                                    </div>
                                </div>
                                <div nz-row style="margin-bottom: 10px;">
                                    <div nz-col nzSpan="24">
                                        <label nz-radio nzValue="rdoDebtor">
                                            Debtor
                                        </label>
                                        <input *ngIf="inputForm.get('rdoFilterType').value == 'rdoDebtor'" 
                                            nz-input placeholder="ALL" formControlName="inputValue" [(ngModel)]="inputValue" 
                                            type="text" style="margin-left: 10px; width: 150px;"/>
                                    </div>
                                </div>
                                <div nz-row style="margin-bottom: 10px;">
                                    <div nz-col nzSpan="24">
                                        <label nz-radio nzValue="rdoRecipient">
                                            Recipient
                                        </label>
                                        <input *ngIf="inputForm.get('rdoFilterType').value == 'rdoRecipient'" 
                                            nz-input placeholder="ALL" formControlName="inputValue" [(ngModel)]="inputValue" 
                                            type="text" style="margin-left: 10px; width: 150px;"/>
                                    </div>
                                </div>
                            </nz-radio-group>
                        </div>
                    </div>
                    
                    <div nz-row style="margin-top: 150px; text-align: right">
                        <div nz-col nzSpan="22">
                            <button nz-button nzType="default" (click)="runProcess()" class="btn2"> Refresh </button>
                        </div>
                    </div>
                    
            </div>
            <div nz-col nzSpan="15">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                    <nz-tab nzTitle="Invocies">
                        <div nz-row nz-col nzSpan="24" class="tab">
                            <nz-table
                                [nzBordered]="true"
                                [nzScroll]="{ x: 'max-content', y: '634px' }"
                                [nzSize]="'small'"
                                [nzLoading]="loading"
                                [nzData]="tableData"
                                [nzShowPagination]="false"
                                >
                                <thead>
                                    <tr>
                                    <th nzWidth="100px" class="left">Branch</th>
                                    <th nzWidth="100px" class="left">Date</th>
                                    <th nzWidth="80px" class="left">Invoice#</th>
                                    <th nzWidth="200px" class="left">Recipient</th>
                                    <th nzWidth="80px" class="left">Amount</th>
                                    <th nzWidth="80px" class="left">Batch Number</th>
                                    <th nzWidth="150px" class="left">Type</th>
                                    <th nzWidth="200px" class="left">Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of invociesList">
                                    <td>{{ data.branch }}</td>
                                    <td>{{ data.date | date: 'dd/MM/y' }}</td>
                                    <td>{{ data.invoiceNumber }}</td>
                                    <td>{{ data.recipient }}</td>
                                    <td>{{ data.amount | number: '1.0-3' }}</td>
                                    <td>{{ data.batchNumber }}</td>
                                    <td>{{ data.type }}</td>
                                    <td>{{ data.notes }}</td>
                                    </tr>
                                </tbody>
                                </nz-table>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Other Options">
                        <div class="tab">
                        </div>
                    </nz-tab>
                </nz-tabset>                
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Preview </button>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Export </button>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Email </button>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Print </button>
        </ng-container>
    </div>
</nz-modal>