
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular7-primary: mat-palette($mat-indigo);
$angular7-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular7-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular7-theme: mat-light-theme((
  color: (
    primary: $angular7-primary,
    accent: $angular7-accent,
    warn: $angular7-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular7-theme);

@import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


// Global Variables
ul.list-wrapper{
  list-style: none;
  border: 1px solid #e1e1e1;
  padding: 0;

  li{
    padding: 5px;
    cursor: pointer;
  }

  li.selected{
    background-color: #e3f0ff;
  }

  li:hover{
    background-color: #e3f0ff;
  }
}

:root {
  --nz-select-bg-color: #cbe8f7;
}

body{
  font-family: 'segoe ui';
}
nz-modal > div > div.ant-modal-wrap > div.ant-modal > div.ant-modal-content  > div.ant-modal-header{           
  background:#85b9d5;           
}

nz-modal > div > div.ant-modal-wrap > div.ant-modal > div.ant-modal-content  > div.ant-modal-header{           
  background:#85b9d5;           
}

nz-modal.no-custom-color > div > div.ant-modal-wrap > div.ant-modal > div.ant-modal-content  > div.ant-modal-header{           
  background:inherit;           
}

.ant-modal {
  top:50px
}
div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div ul{
  background: #fff !important;
  border: 1px solid #c3c3c3;
  padding: 0;
  list-style: none;
  width: 15rem;
  border-radius:3px;
}

div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div li{
  cursor:pointer;
}
div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div li a{
  width: 100%;
  display: block;
  padding:6px 5px;
  color: #565656;
}

div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div li:hover{
  background:#e6e6e6;
}

div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div li.disabled {
  background: grey;
  color:white
}
div.cdk-overlay-container div.cdk-overlay-connected-position-bounding-box div context-menu-content div li.disabled:hover {
  background: grey;
  color:white
}

html{
  height:100%;
  
}
hr{
  height: 1px;
  background-color: #ededed;
  border: none;
  margin: 1rem;
}

.uppercase{
  text-transform: uppercase;
}

td, th{
  font-size:13px;
}
.mrg-btm-half{
  margin-bottom:.5rem;
}
.mrg-btm-one-third{
  margin-bottom:.3rem;
}
.mrg-btm{
  margin-bottom:1rem;
}
.mrg-btm1point5{
  margin-bottom:1.5rem;
}
.mrg-btm-2{
  margin-bottom:2rem;
}

.space-top{
  margin-top:1rem;
}

div > label{
  margin-bottom:4px;
  display:block;
}

.form-wrap label{
  font-weight: 500;
}

div.item{
  margin-bottom:7px;
  font-size: 13px;
}

div.item div{
  font-size:15px;
  color:#0d76c2;
}
div.button-actions button{
  margin-right: 10px;
}

div.form-group label{
  font-size: 14px;
  font-family: 'segoe ui';
}

div.form-group{
  margin-bottom:14px;
  font-family: 'segoe ui';
}

nz-select, nz-date-picker {
  min-width: 100px;
}

nz-form-label.ant-form-item-label{
  line-height:24px;
}
nz-form-item.ant-form-item{
  margin: 0 0 15px;
}
.clearfix::after { 
 content: " ";
 display: block; 
 height: 0; 
 clear: both;
}

td a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.error{
  color:#ff1515 !important;
  
}
.good{
  color:#56db79 !important;
}

.neutral{ 
  color:#7FC4FD !important;
}

.items li.ant-menu-submenu .ant-menu-submenu-title{    
  line-height: 30px;
  font-size: 12px;
}
.items li.ant-menu-submenu .ant-menu-submenu-title i{
  top:14px;
}
nz-header{
  height: 5vh !important;
}
nz-breadcrumb{
  margin: 5px 0 !important;
}

.botton{
  border:none;
  cursor:pointer;
  outline:none;
  transition: background-color 0.5s ease;
  padding: 5px 7px;
  border-radius: 3px;
}
.headers-botton{
  border:none;
  cursor:pointer;
  outline:none;
  transition: background-color 0.5s ease;
  padding: 5px 7px;
  border-radius: 3px;
}
.botton:disabled{
  color: rgba(0,0,0,.25);
  background-color: #D6D3D3;
  border-color: #d9d9d9;
  cursor:not-allowed;
}

button.success{
  background: #87d068;
  color: #fff;    
}
button.success:not(:disabled):hover{
  background:#68a94d;
}

button.sea{
  background: #85b9d5;
  color: #fff;    
}
button.sea:not(:disabled):hover{
  background:#6ba2c0;
}

button.warn{
  background: #ede04b;
  color: #fff;    
}
button.warn:not(:disabled):hover{
  background:#d6ca38;
}

button.other{
  background: #b74c4c;
  color: #fff;    
}

button.other:not(:disabled):hover{
  background:#e15a5a;
}
button.extra{
  background: #39B18A;
  color: #fff;    
}

button.extra:not(:disabled):hover{
  background:#39B18A;
}
button.find{
  background: #ff8787;
  color: #fff;
  width: 8rem;
  float:right;
}

button.find:not(:disabled):hover{
  background: #ff5f5f;
}

.flexy{
  display:flex;
}

nz-divider.full-height.ant-divider-vertical{
  height: auto;
  margin:0 1rem;
}

nz-step.mini .ant-steps-item-container > .ant-steps-item-content *{
  font-size:13px !important;
}

.space-top-2{
  margin-top: 2rem;
}
.space-top-3{
  margin-top: 2rem;
}
.word-break{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
  white-space: -pre-wrap;                 /* Opera 4-6 */
  white-space: -o-pre-wrap;               /* Opera 7 */
  white-space: pre-wrap;                  /* CSS3 */
  word-wrap: break-word;                  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

/* nz-table{
  margin-top:20px;
} */
.ant-tabs .ant-tabs-left-content{
  padding-left: 0px;
}
th.action{
  width: 7.5rem !important;
}

.boxy{
  border: 1px solid #ededed;
  padding: 5px;
  text-align: justify;
  font-size: 13px;
  margin-bottom: 10px;
}

.steps-content{
  display: block;
  width: 100%;
  flex: 2;
}
.spinner{
  margin:1rem auto;
  width:1px;
}
.drawer{      
  padding: 0px;
  width:100%
} 
.ant-btn-rpts {
          width: 200pt !important;
          text-align: left !important}

.ant-menu-horizontal {height: 750pt !important;border-bottom: 0px;}
.ant-menu-horizontal>.ant-menu-item-selected{
  border-bottom: 0px;
}
.ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-submenu-selected, .ant-menu-horizontal>.ant-menu-submenu:hover{border-bottom: 0px;}
.ant-progress {
  margin-right: 8px;
  margin-bottom: 8px;
  border-bottom: 0px;
  display: inline-block;
}
.ant-menu-horizontal>.ant-menu-item:hover{
  border-bottom: 0px;
}
.ant-menu-horizontal>.ant-menu-item{
  border-bottom: 0px;
  transition:none;
}

.nzselect-min{
    min-width: 15rem;
}

.margin-btm-10{
  margin-bottom:10px;
}
.pad-15{
  padding:15px;
}
.pad-r-5{
  padding-right: 5px;
}
.pad-l-10{
  padding-left: 10px;
}
.width-55{
  width:55%;
}

.text-upper{
  text-transform: uppercase;
}
.text-center{
text-align:center;   
}
.text-left{
  text-align:left;   
}
.text-right{
  text-align:right;   
}
.custum-header thead tr th{
  background: #fafafa;
}
.coulmn-color{
  background: #fafafa !important;
}
.color-powder-blue{
  background-color:#85B9D5 !important;
  color:#fff !important;
}
.recordHeaderMainButtons{
  background-color:#85B9D5;
  color:#fff;
  border-color: #85B9D5 ;
  width: 150px;
  height: 29px;
  margin-right: 6px;
  border: 1px solid #EFF;
  border-radius: 5px;
}
.recordHeaderMainButtons:disabled{
  color: rgba(0,0,0,.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  cursor:not-allowed;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
    
.pos-left{
  float:left;
}
.pos-right{
  float:right;
}



/* Defining a custom border on all
          sides except the top side */
          /* .custom-field {
              border: 1px solid #EFF;
              border-top: none;
              margin: 10px 2px;
              padding: 8px;
          } */
    
          /* Defining the style of the 
          heading/legend for custom fieldset */
          /* .custom-field h1 {
              font: 16px normal;
              margin: -16px -8px 0;
          } */
    
          /* Using float:left allows us to mimic
             the legend like fieldset. The 
             float:right property can also be 
             used to show the legend on right side */
    
          /* .custom-field h1 span {
              float: left;
          } */
    
          /* Creating the custom top border to make
              it look like fieldset defining small 
              border before the legend. The width 
              can be modified to change position 
              of the legend */
          /* .custom-field h1:before {
              border-top: 1px solid #85b9d5;
              content: ' ';
              float: left;
              margin: 8px 2px 0 -1px;
              width: 12px;
          } */
    
          /* Defining a long border after the 
          legend, using overflow hidden to 
          actually hide the line behind the 
          legend text. It can be removed
          for a different effect */
          /* .custom-field h1:after {
              border-top: 1px solid #85b9d5;
              content: ' ';
              display: block;
              height: 24px;
              left: 2px;
              margin: 0 1px 0 0;
              overflow: hidden;
              position: relative;
              top: 8px;
          } */












/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  width: 10rem;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: #000;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: "Segoe UI" !important; 
background-color: #fff;
color: #000;
}



/* DRAG-DROP FILTER */

.drag-list {   
  min-height: 60px;
  background: #f9f9f9;
  border: 1px solid #ededed;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  max-width: 50%;
  margin: 10px 0;
}

.drag-box {
  padding: 0px 5px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}

.drag-box::before{
  float: left;
  content:" \25B6";
  max-height: 100%;
  width: 20px;
  border: 1px solid transparent;
  margin-top: 0;
}




.drag-box > div{
    display: inline-block;
    background: #fff;
}

.drag-box > div > span{
  float: right;
  padding: 0 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* DRAG-DROP FILTER */

nz-layout{
  height: 100%;
}

.flex-wrapper{
  display: flex;
  margin-bottom: 10px;
}

.flex-wrapper > label {
  flex: 1;
  justify-content: end;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.flex-wrapper > *:nth-child(2){
  flex: 3;
  display: flex;
  align-items: center;
}

.d-none {
  display: none !important;
}

.leveloneblockRecipient{
  padding: 10px 6px;
  border-bottom: 2px solid grey;
}
.leveloneblock{
  padding-left:6px;
  margin-top: 11px;
}
.level2controls button{
  height:28px;
  width:150px;
  margin-right:6px;
}
.recipient-second-block{
  height:33px;
}
.ant-tabs .ant-tabs-left-bar {
  height:79vh;
  /* background: #1890ff; */
  border-right:2px solid #dbdee2;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab{
  text-align:left;
  margin: 0px;
}
.ant-tabs-bar {
  margin:0px !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
  /* background: aliceblue; */
  color:black;
}
.min-btn{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 5px;
  margin: 3px;
  height: 40px;
  width:40px;
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
}
.min-btn-orange{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 5px;
  margin: 3px;
  height: 40px;
  width:40px;
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
}
.btnlevel2navy{
  background-color: #002060;
  color: #000;
  border: 1px solid #002060 ;
  border-radius: 2px;
  margin: 3px;
  height: 40px;
  min-width:40px;
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
  border-radius: 5px;
}
.btnlevel2navymini{
  background: #fff;
  border: 1px solid #eff ;
  color:#000;
  font-family:'Segoe UI';
  font-size:9px;
  text-transform: uppercase;
  min-width:33px;
  height:40px;
  text-transform: uppercase;
  margin-right:2px;
  border-radius: 5px;
}
.btnlevel2orange{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 5px;
  margin: 2px;
  height: 40px;
  min-width:40px;
  font-family : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
}
.btnorange-sim{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 5px;
  font-family :  'Segoe UI' !important;
  font-size: 14px !important; 
  height: 35px !important; 

  
}
.btnblue-sim{
  background-color: #FFF;
  color: #000;
  border: 1px solid #EFF ;  
  border-radius: 5px;
  font-family :  'Segoe UI' !important;
  font-size: 14px !important; 
 
  
}

.btnlevel2blue{
  background-color: #FFF;
  color: #000;
  border: 1px solid #EFF ;
  border-radius: 5px;
  margin: 2px;
  height: 40px;
  min-width:40px;
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
}
.btnlevel2orangemini{
  background: #fff;
  color:#fff;
  font-family:'Segoe UI';
  font-size:9px;
  border-radius: 5px;
  min-width:33px;
  height:40px;
  text-transform: uppercase;
  margin-right:3px;
}
.btnblue{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 2px;
  margin: 3px;    
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
  border-radius: 5px;
}
.btnlightblue{
  background-color: #FFF;
  color: #000;
  border: 1px solid #EFF ;
  border-radius: 2px;
  margin: 3px;    
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
  border-radius: 5px;
}
.btnlightorange{
  background-color: #fff;
  color: #000;
  border: 1px solid #eff ;
  border-radius: 2px;
  margin: 3px;    
  font : 'Segoe UI';
  font-size: 12px; 
  text-transform: uppercase;
  border-radius: 5px;
}
.tableheaderactions{
  border: 1px solid #e8e8e8;
  padding:10px;
}
.selecteditem{
  background-color: #e6f7ff;
}
.selecteditem td{
  background-color: #e6f7ff;
}

.no-padding{
  padding: 0px;
}
.no-margin{
  margin: 0px !important;
}

@media (min-width: 576px) {
  .d-sm-block {
      display: block !important;
  }

  /* .ant-btn ::ng-deep > span{
      display:none;
  } */
}

@media (max-width: 576px) {
  /* .ant-btn > span{
      display:none;
  } */
}

.height-100{
  height: 100%;
}

.vh-5{
  height: 5vh;
}
.version-no{
  display: none;
}
.ng-dropdown-panel .ng-dropdown-panel-items{
  max-height: 80vh !important
}

.div-col{
  display: flex;
  flex-direction: column;
}

.div-row{
  display: flex;
  flex-direction: column;
}
#general-block{
  width:35vw;
  border:2px solid #dbdee2;
  padding: 10px;
  margin:auto;
}
#general-block label{
  font-size: 14px;
  font-family: 'Segoe UI';
  font-weight: 700;
}
.highlighted {
  background-color:#f0f8ff;
}
  .highlighted td{
      background-color: #e6f7ff;
  }
.ant-table-tbody > tr.highlighted {
  background-color: #f0f8ff !important;
  }
.ant-table-tbody > tr.highlighted > td{
      background-color: #f0f8ff !important;
  }
  .selected-tab {
      background-color: #DFEBF4; /* Light blue background */
      font-weight: bold;        /* Bold text */
  }
  .back-button {
      background-color: #007bff; /* Blue color for the button */
      color: #000;
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px; /* Space between icon and text */
      transition: background-color 0.3s ease;
  }
  
  .back-button i {
      font-size: 18px;
  }
  
  .back-button:hover {
      background-color: #0056b3; /* Darker blue on hover */
  }
  
  .back-button:active {
      background-color: #004085; /* Even darker blue on click */
  }



  .backBox{
      height: 40px; border-bottom:1px solid #e8e8e8;
  }

  .right-back-btn{
      background:transparent;border:none;float:right;
  }
  .left-back-btn{
      background:transparent;border:none;float:left;
  }

  .actionBox{
      padding:10px;
  }


  ::ng-deep .ant-modal-header {
      display: flex;
      justify-content: center;
    }
    
    ::ng-deep .ant-modal-title {
      text-align: center;
      width: 100%;
    }

