<div style="padding:8px;">
    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
            <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
            <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
            <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-table #basicTable nzBordered [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th nzLeft nzBreakWord>Name</th>
                        <th nzLeft nzBreakWord>Service</th>
                        <th nzLeft nzBreakWord>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;" [class.highlight]="currentIndex === i">
                        <td  nzBreakWord>{{ data.name  }} </td>
                        <td  nzBreakWord>{{ data.serviceOutletID  }} </td>
                        <td  nzBreakWord>{{ data.address  }} </td>
                        <td  nzBreakWord *ngIf="!data.is_deleted">
                            <a (click)="showEditModal(data.row_num)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Center/Facility/Location List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
                        </td>
                        <td  nzBreakWord *ngIf="data.is_deleted">
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="active(data)">Activate</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-modal [nzWidth]="900" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <div class="">
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
                <nz-step class="mini" nzTitle="General" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Time & Attendance" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Staff" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="competencies" nzDescription=""></nz-step>
            </nz-steps>
            <nz-divider class="full-height" nzType="horizontal" style="margin-right:0px;"></nz-divider>
            <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
                <div *ngIf="current == 0">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <div nz-col nzSpan="10" class="mrg-btm" style="text-align:center;">
                                <h2 style="color:#1890FF;">Item/Activity Details</h2>
                            </div>    
                            <div nz-col nzSpan="3" class="mrg-btm text-right pad-r-5" >
                                <label>Outlet ID:</label>
                            </div>
                            <div nz-col nzSpan="3" class="mrg-btm">
                                <input nz-input [nzSize]="'small'" formControlName="outletid" />
                            </div>   
                            <div nz-col nzSpan="4" class="mrg-btm">
                                CSTDA OUTLET: <label nz-checkbox  formControlName="cstdaoutlet"></label>
                            </div>
                            <div nz-col nzSpan="4" class="mrg-btm">
                                DCSI: <label nz-checkbox  formControlName="dsci"></label>
                            </div>
                        </div>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <div nz-col nzSpan="17" class="mrg-btm">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Branch">Branch:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="branch" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let l of branches" [nzLabel]="l.description" [nzValue]="l.description"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Name">Name:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input  [nzSize]="'small'" formControlName="name" [(ngModel)]="inputValue" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="places">places:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-input-number [nzSize]="'small'" formControlName="places" [nzMin]="0" style="width: 100%;"></nz-input-number>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Category">Category:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="category" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let cat of categoryList" [nzLabel]="cat.description" [nzValue]="cat.description"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Adress">Address:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input  [nzSize]="'small'" formControlName="adress" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Subrub">Suburb:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input [nzSize]="'small'"  formControlName="subrub" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="PostCode">PostCode:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input  nz-input [nzSize]="'small'" formControlName="postcode" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="SLA">SLA:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input  nz-input [nzSize]="'small'" formControlName="sla" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Agency Sector">Agency Sector:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="agencysector" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let agency of agencySector" [nzLabel]="agency.name" [nzValue]="agency.id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Service Type">Service Type:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="servicetype"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let service of serviceType" [nzLabel]="service" [nzValue]="service"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Funding Jurisdiction">Funding Jurisdiction:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="fundingjunc"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let juri of jurisdiction" [nzLabel]="juri.name" [nzValue]="juri.id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Funding Type">Funding Type:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="fundingtype"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let fun of fundTypes" [nzLabel]="fun" [nzValue]="fun"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label nzFor="Runsheet Alerts">Runsheet Alerts : </label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <textarea rows="4" nz-input  formControlName="sheetalert"></textarea>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label>Hours Per day : </label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select   [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="hour" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let numb of numbers" [nzLabel]="numb" [nzValue]="numb"></nz-option>
                                        </nz-select>
                                        
                                    </div>
                                    <div nz-col nzSpan="5" class="text-right">
                                        No Pattern : <label nz-checkbox formControlName="hourPatern"></label>
                                    </div>
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="No. Service Users">No. Service Users : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <input  nz-input  [nzSize]="'small'"  formControlName="serviceUsers" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label>Days Per week : </label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select   [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="day" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let days_per_w of numbers" [nzLabel]="days_per_w" [nzValue]="days_per_w"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="5" class="text-right">
                                        No Pattern : <label nz-checkbox formControlName="dayPatern"></label>
                                    </div>
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="No. Service Users">Service Anual Hours : </label>
                                    </div>
                                    <div nz-col nzSpan="2">
                                        <input  nz-input  [nzSize]="'small'"  formControlName="anualhours" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label>Weeks Per year : </label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select  [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="week" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let numb of numbers" [nzLabel]="numb" [nzValue]="numb"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="5" class="text-right">
                                        No Pattern : <label nz-checkbox formControlName="weekPatern"></label>
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="7" class="mrg-btm">
                                <div nz-row nzGutter="24" class="mrg-btm">
                                    <div nz-col nzSpan="24">
                                        <label for="Name" style="color:red;font-weight:700;">WEEKLY HOUR LIMITS:</label>
                                    </div>
                                    <nz-divider style="margin:4px 0px"></nz-divider>
                                    <div style="border:1px solid red;min-height:180px">
                                        <div nz-col nzSpan="24">
                                            <label for="Name" style="color:red">WEEKLY Service User Hours:</label>
                                        </div>
                                        <nz-divider style="margin:4px 0px"></nz-divider>
                                        <div nz-col nzSpan="12">
                                            <label for="Name" style="color:red">MINIMUM:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="minUserWeek" style="
                                            color: red;"/>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <label for="Name" style="color:red">MAXIMUM:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="maxUserWeek" />   
                                        </div>
                                        <div nz-col nzSpan="24">
                                            <label for="Name" style="color:red">WEEKLY Staff Hours:</label>
                                        </div>
                                        
                                        <div nz-col nzSpan="12">
                                            <label for="Name" style="color:red">MINIMUM:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="minStaffHour" style="
                                            color: red;"/>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <label for="Name" style="color:red">MAXIMUM:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="maxStaffHour" />   
                                        </div>
                                    </div> 
                                    <div style="border:1px solid;min-height:150px; margin-top:10px;">
                                        <div nz-col nzSpan="24">
                                            <label for="Name">GL REVENUE ACCOUNT:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="glRevene" style="
                                            color: red;"/>
                                        </div>
                                        <div nz-col nzSpan="24">
                                            <label for="Name">GL COST ACCOUNT:</label>
                                            <input  nz-input [nzSize]="'small'" placeholder=""  formControlName="glCost" />   
                                        </div>
                                        <div nz-col nzSpan="24">
                                            GL Override: <label nz-checkbox  formControlName="gloveride"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 1">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-tabset>
                                <nz-tab nzTitle="WORK HOURS">
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Early Start"  formControlName="earlyStart" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Late Start"  formControlName="lateStart" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Early Finish"  formControlName="earlyFinish" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Late Finish"  formControlName="lateFinish" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Overstay"  formControlName="overstay" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Understay"  formControlName="understay" />
                                    </div>
                                </nz-tab>
                                <nz-tab nzTitle="AFTER HOURS">
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Early Start"  formControlName="t2earlyStart" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Late Start"  formControlName="t2lateStart" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Early Finish"  formControlName="t2earlyFinish" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Late Finish"  formControlName="t2lateFinish" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Overstay"  formControlName="t2overstay" />
                                    </div>
                                    <div nz-col nzSpan="24" class="mrg-btm">
                                        <input nz-input placeholder="Understay"  formControlName="t2understay" />
                                    </div>
                                </nz-tab>
                            </nz-tabset>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 2">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="12">
                            <button class="headers-botton recordHeaderMainButtons" (click)="showstaffModal(1)">Approved Staff</button>
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="includedStaff">
                                <thead>
                                    <tr>
                                        <th class="left">Name</th>
                                        <th class="left">Notes</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let include of includedStaff;let l = index;">
                                        <td nzWidth="5%">{{  l+1  }}</td>
                                        <td nzWidth="20%">{{ include.name}}</td>
                                        <td nzWidth="55%">{{ include.notes }}</td>
                                        <td nzWidth="10%">
                                            <a (click)="staffEditModal(1,include)">Update</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this entry ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="staffDetlete(1,include)">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div nz-col nzSpan="12">
                            <button class="headers-botton recordHeaderMainButtons" (click)="showstaffModal(2)">Excluded Staff</button>
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="excludedStaff">
                                <thead>
                                    <tr>
                                        <th class="left">Name</th>
                                        <th class="left">Notes</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let excluded of excludedStaff;let l = index;">
                                        <td nzWidth="5%">{{ l+1  }}</td>
                                        <td nzWidth="20%">{{ excluded.name}}</td>
                                        <td nzWidth="55%">{{ excluded.notes }}</td>
                                        <td nzWidth="10%">
                                            <a (click)="staffEditModal(2,excluded)">Update</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this entry ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="staffDetlete(2,excluded)">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 3">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24">
                            <button class="headers-botton recordHeaderMainButtons" (click)="showCompetencyModal()">Required Competencies</button>
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="competencies">
                                <thead>
                                    <tr>
                                        <th class="left">Competency</th>
                                        <th class="left">Mandatory</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let competency of competencies;let j = index;">
                                        <td>{{competency.competency}}</td>
                                        <td><label nz-checkbox nzDisabled [ngModel]="competency.mandatory" nzDisabled ></label></td>
                                        <td class="left"><a (click)="editCompetencyModal(competency)">Update</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this entry ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCompetency()">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
                <div *nzModalFooter>
                    <ng-container *ngIf=" current == 0 || current == 1 ">
                        <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                            <span>Save</span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="400"  [(nzVisible)]="staffApproved" nzTitle="APPROVED STAFF" (nzOnCancel)="handleAprfCancel()">
        <form [formGroup]="staffForm" >
            <div nz-row>    
                <div *ngIf="addOrEdit == 0" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let staf of listStaff">
                                <label nz-checkbox [nzValue]="staf" (change)="onCheckboxapprovedChange(staf,$event)" >{{ staf }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div class="form-group" *ngIf="addOrEdit == 1">
                    <nz-form-label>Staff</nz-form-label>
                    <input nz-input formControlName="staffTitle" disabled />
                </div>
            </div>
            <div nz-row *ngIf="addOrEdit == 1">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>                    
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveStaff(1)">
                    <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="400"  [(nzVisible)]="staffUnApproved" nzTitle="EXCLUDED STAFF" (nzOnCancel)="handleUnAprfCancel()">
        <form  [formGroup]="staffForm">
            <div nz-row>    
                <div *ngIf="addOrEdit == 0" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let staf of listStaff">
                                <label nz-checkbox [nzValue]="staf" (change)="onCheckboxUnapprovedChange(staf,$event)" >{{ staf }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div class="form-group" *ngIf="addOrEdit == 1">
                    <nz-form-label>Staff</nz-form-label>
                    <input nz-input formControlName="staffTitle" disabled />
                </div>
            </div>
            <div nz-row *ngIf="addOrEdit == 1">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>                    
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveStaff(2)">
                    <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="500"  [(nzVisible)]="competencymodal" nzTitle="COMPETENCIES" (nzOnCancel)="handleCompCancel()">
        <form [formGroup]="competencyGroup" >
            <div nz-row>
                <div *ngIf="addOrEdit == 0" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let comptency of competencyList">
                                <label nz-checkbox [nzValue]="comptency.description" (change)="onCheckboxChange(comptency,$event)" >{{ comptency.description }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div class="form-group" *ngIf="addOrEdit == 1">
                    <nz-form-label>Title</nz-form-label>
                    <input nz-input formControlName="competencyValue" disabled />
                </div>
            </div>
            <div nz-row *ngIf="addOrEdit == 1">
                <nz-form-item>
                    <nz-form-label>Mandatory</nz-form-label>
                    <label nz-checkbox formControlName="mandatory"></label>                 
                </nz-form-item>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" (click)="saveCompetency()">
                    <span>{{(addOrEdit == 0) ? 'ADD' : 'Update'}}</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>
</div>            