<div style="padding:8px;">
    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
        <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
        <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
        <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th nzLeft nzBreakWord>Type</th>
                        <th nzLeft nzBreakWord>Item ID</th>
                        <th nzLeft nzBreakWord>Date Disposed</th>
                        <th nzLeft nzBreakWord>Last Service</th>
                        <th nzLeft nzBreakWord>Equip Code</th>
                        <th nzLeft nzBreakWord>Last Service</th>
                        <th nzLeft nzBreakWord>Lock Box Code</th>
                        <th nzLeft nzBreakWord>Lock Box Location</th>
                        <th nzLeft nzBreakWord>Purchase Date</th>
                        <th nzLeft nzBreakWord>Purchase Amount</th>
                        <th nzLeft nzBreakWord>Notes</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;" [class.highlight]="currentIndex === i">
                        <td  nzBreakWord>{{ data.type  }} </td>
                        <td  nzBreakWord>{{ data.itemID  }} </td>
                        <td  nzBreakWord>{{ data.dateDisposed | date:'dd/MM/y' }} </td>
                        <td  nzBreakWord>{{ data.lastService | date:'dd/MM/y' }} </td>
                        <td  nzBreakWord>{{ data.equipCode  }} </td>
                        <td  nzBreakWord>{{ data.lockBoxCode  }} </td>
                        <td  nzBreakWord>{{ data.lockBoxLocation  }} </td>
                        <td  nzBreakWord>{{ data.equipCode  }} </td>
                        <td  nzBreakWord>{{ data.purchaseDate | date:'dd/MM/y' }}</td>
                        <td  nzBreakWord>{{ data.purchaseAmount}}</td>
                        <td  nzBreakWord>{{ data.notes}}</td>
                        <td  nzBreakWord *ngIf="!data.is_deleted">
                            <a (click)="showEditModal(data.row_num)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the Equipments List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
                        </td>
                        <td  nzBreakWord *ngIf="data.is_deleted">
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="activateEquipment(data)">Activate</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    
    <nz-modal [nzWidth]="700" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <div class="flexy">
            <form nz-form [formGroup]="inputForm">
                <div nz-row nzGutter="24" class="mrg-btm" >
                    <nz-tabset>
                        <nz-tab nzTitle="ASSETTS/ITEM">
                            <div nz-row nzGutter="24" class="mrg-btm">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Type">Type:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzPlaceHolder]="'Type'" formControlName="type" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let group of groups" [nzValue]="group.description" [nzLabel]="group.description"></nz-option> 
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Description">Description:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input placeholder="Description" formControlName="description" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Asset No">Asset No:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input placeholder="Asset No" formControlName="asset_no"/>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Serial No">Serial No:</label>
                                    </div>
                                    <div nz-col nzSpan="17">
                                        <input nz-input placeholder="Serial No" formControlName="serial_no"/>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="12">
                                        <div nz-col nzSpan="10" class="text-right pad-r-5">
                                            <label nzFor="Purchase Date">Purchase Date:</label>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <nz-date-picker [nzPlaceHolder]="'purchase date'" formControlName="purchase_date" [nzFormat]="dateFormat"></nz-date-picker>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="12">
                                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                                            <label nzFor="Purchase $">Purchase $:</label>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <input nz-input placeholder="Purchase $" formControlName="purchase_am"/>
                                        </div>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Last Service">Last Service:</label>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <nz-date-picker [nzPlaceHolder]="'Last Service'" formControlName="last_service" [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="12">
                                        <div nz-col nzSpan="10" class="text-right pad-r-5">
                                            <label nzFor="lock Box Loctn">lock Box Loctn:</label>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <input nz-input placeholder="lock Box Loctn" formControlName="lockloct"/>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="12">
                                        <div nz-col nzSpan="8" class="text-right pad-r-5">
                                            <label nzFor="lock Box Code">lock Box Code:</label>
                                        </div>
                                        <div nz-col nzSpan="12">
                                            <input nz-input placeholder="lock Box Code" formControlName="lockcode"/>
                                        </div>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Disposal Date">Disposal Date:</label>
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <nz-date-picker [nzPlaceHolder]="'Disposal Date'" formControlName="disposal" [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Notes">Notes:</label>
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <textarea rows="6" nz-input  formControlName="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="SERVICE HISTORY">
                            <button class="headers-botton recordHeaderMainButtons" (click)="showServiceModal()">Add SERVICE HISTORY</button>
                            <nz-table #basicTable [nzData]="tableSData"  [nzShowPagination]="false" [nzFrontPagination]="false" [nzLoading]="loading">
                                <thead>
                                    <tr>
                                        <th nzLeft nzBreakWord>Category</th>
                                        <th nzLeft nzBreakWord>Details</th>
                                        <th nzLeft nzBreakWord>Service Date</th>
                                        <th nzLeft nzBreakWord>Reminder Date</th>
                                        <th nzLeft nzBreakWord>Due Date</th>
                                        <th nzLeft nzBreakWord>ItemID</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dataa of tableSData;let i = index;">
                                        <td nzLeft nzBreakWord>{{ dataa.category  }} </td>
                                        <td nzLeft nzBreakWord>{{ dataa.details  }} </td>
                                        <td nzLeft nzBreakWord>{{ dataa.serviceDate | date:'dd/MM/y'  }} </td>
                                        <td nzLeft nzBreakWord>{{ dataa.reminderDate | date:'dd/MM/y' }} </td>
                                        <td nzLeft nzBreakWord>{{ dataa.dueDate | date:'dd/MM/y'  }} </td>
                                        <td nzLeft nzBreakWord>{{ dataa.dueDate | date:'dd/MM/y'  }} </td>
                                        <td nzLeft nzBreakWord><a (click)="showEditServiceModal(i)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure You want to delete This Service History ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(dataa)"><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </nz-tab>
                        </nz-tabset>     
                    </div>
                </form>        
                <div *nzModalFooter>
                    <ng-container>
                        <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!this.inputForm.get('type').value || !this.inputForm.get('description').value" (click)="save()" *ngIf="current === 0">
                            <span>Save</span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </nz-modal>
        
        <nz-modal [nzWidth]="500"  [(nzVisible)]="isVisible" nzTitle="Service Detail ADD\CHANGE" (nzOnCancel)="handleSCancel()" (nzOnOk)="handleOk()">
            <form nz-form [formGroup]="serviceForm" >
                <div nz-row nzGutter="24">  
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="7" class="text-right pad-r-5">
                            <label nzFor="Category">Category:</label>
                        </div>
                        <div nz-col nzSpan="15">
                            <input nz-input placeholder="Category" formControlName="category"/>
                        </div>
                    </div>  
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="7" class="text-right pad-r-5">
                            <label nzFor="Service Date">Service Date:</label>
                        </div>
                        <div nz-col nzSpan="15">
                            <nz-date-picker [nzPlaceHolder]="'Service Date'" formControlName="service_date" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div> 
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="7" class="text-right pad-r-5">
                            <label nzFor="Reminder">Reminder Date:</label>
                        </div>
                        <div nz-col nzSpan="15">
                            <nz-date-picker [nzPlaceHolder]="'Reminder Date'" formControlName="reminder_date" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="7" class="text-right pad-r-5">
                            <label nzFor="Due">Due Date:</label>
                        </div>
                        <div nz-col nzSpan="15">
                            <nz-date-picker [nzPlaceHolder]="'Due Date'" formControlName="due_date" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="7" class="text-right pad-r-5">
                            <label nzFor="Details">Details:</label>
                        </div>
                        <div nz-col nzSpan="17">
                            <textarea rows="6" nz-input formControlName="details"></textarea>
                        </div>
                    </div> 
                </div>
            </form>
            <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveService()" [disabled]="!this.serviceForm.get('category').value">
                        <span>Save</span>
                    </button>
                </ng-container>
            </div>
        </nz-modal>
        <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
            <div class="col-md-12 spinner" *ngIf="loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>            
            <div nz-row  >   
                <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
            </div>    
        </nz-drawer>
    </div>        
    