<div style="padding:8px;">
    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
        <div nz-col nzSpan="24">
            <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
            <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
            <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
        </div>
    </div>
<div nz-row>
    <div nz-col>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Code</th>
                    <th class="left">Pay Category</th>
                    <th class="left">Sub Group</th>
                    <th class="left">Pay Amount</th>
                    <th class="left">Pay Unit</th>
                    <th class="left">End Date</th>
                    <th class="left">Description</th>
                    <th class="left">Pay ID</th>
                    <th class="left">Pay Group</th>
                    <th class="left">Pay Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;">
                    <td class="left">{{ data.code  }} </td>
                    <td class="left">{{ data.payCategory  }} </td>
                    <td class="left">{{ data.subGroup  }} </td>
                    <td class="left">{{ data.payAmount  }} </td>
                    <td class="left">{{ data.payUnit  }} </td>
                    <td class="left">{{ data.endDate | date:'dd/MM/y' }} </td>
                    <td class="left">{{ data.description  }} </td>
                    <td class="left">{{ data.payID  }} </td>
                    <td class="left">{{ data.payGroup  }} </td>
                    <td class="left">{{ data.payType  }} </td>
                    <td nzLeft nzBreakWord *ngIf="!data.is_deleted">
                        <a (click)="showEditModal(data.row_num)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from the PayTypes List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
                    </td>
                    <td nzLeft nzBreakWord *ngIf="data.is_deleted">
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="activatePaytype(data)">Activate</a>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-modal [nzWidth]="900" [nzBodyStyle]="{'height':'80vh'}" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <div class="flexy">
            <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
                <nz-step class="mini" nzTitle="General" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="3rd Party Payrool Info" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Act. 1" nzDescription=""></nz-step>
                <nz-step class="mini" nzTitle="Act. 2" nzDescription=""></nz-step>
            </nz-steps>
            <nz-divider class="full-height" nzType="vertical"></nz-divider>
            <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
                <div *ngIf="current == 0">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <h2 style="color:#1890FF;">Pay Type Details</h2>
                        </div>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <div nz-col nzSpan="18" class="mrg-btm">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Code">Code:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input placeholder="Code"  formControlName="code" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Code">Description:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <textarea rows="4" nz-input placeholder="Description" formControlName="description"></textarea>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Type">Type:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="type" nzPlaceHolder="Type" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let payt of paytypes" [nzLabel]="payt" [nzValue]="payt"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="SubGroup">SubGroup:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="subgroup" nzPlaceHolder="SubGroup" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub" [nzValue]="sub"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Pay Rate">Pay Rate:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input placeholder="Rate"  formControlName="payrate" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="Unit">Unit:</label>
                                    </div>
                                    <div nz-col nzSpan="7">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="unit" nzPlaceHolder="Unit" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let unit of units" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="10" class="mrg-btm" style="margin-left:20px;">
                                        <label nz-checkbox  formControlName="casuals">Applicable to Casuals</label>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                                        <label nzFor="End Date">End Date:</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <nz-date-picker [nzPlaceHolder]="'End Date'" formControlName="end" [nzFormat]="dateFormat"></nz-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 1">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <h2 style="color:#1890FF;">Other Payroll Information</h2>
                    </div>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="16" class="mrg-btm">
                            <div class="mrg-btm" nz-col nzSpan="16">
                                <label nzFor="Pay Code">Pay Code:</label>
                                <input nz-input placeholder="PAY CODE"  formControlName="payid" />
                            </div>
                            <div nz-col nzSpan="12">
                                <label nz-checkbox  formControlName="exportfrompay">EXCLUDE FROM PAY EXPORT</label>
                            </div>
                        </div>    
                    </div>
                </div>
                <div *ngIf="current == 2">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="12" class="">
                            <h2 style="color:#1890FF;">Roster Actions</h2>
                        </div>
                        <div nz-col nzSpan="" class="">
                            <label nz-checkbox formControlName="conflict">Can Conflict</label>
                        </div>
                    </div>
                    <nz-divider nzText="Roster Restrictions" nzOrientation="left"></nz-divider>
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="20" class="mrg-btm">
                            <div class="mrg-btm" nz-col nzSpan="24">
                                <label for="Can Only Be Roasted" class="mrg-btm">Can Only Be Roasted:</label> 
                                Mon <label nz-checkbox  formControlName="day1"></label>
                                Tue <label nz-checkbox  formControlName="day2"></label>
                                Wed <label nz-checkbox  formControlName="day3"></label>
                                Thu <label nz-checkbox  formControlName="day4"></label>
                                Fri <label nz-checkbox  formControlName="day5"></label>
                                Sat <label nz-checkbox  formControlName="day6"></label>
                                Sun <label nz-checkbox  formControlName="day7"></label>
                                Pub Hol <label nz-checkbox  formControlName="day0"></label>
                            </div>
                            <div nz-row nzSpan="24">
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="4">
                                        <label>Between</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="startTimeLimit" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let time of timesteps" [nzLabel]="time" [nzValue]="time"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">AND</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="endTimeLimit" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let time of timesteps" [nzLabel]="time" [nzValue]="time"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="4">
                                        <label>Min Duration</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <input nz-input placeholder="" nz-value="0" formControlName="min" />
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">Max Duration</label>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <input nz-input placeholder="" nz-value="0" formControlName="max" />
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label style="margin-left:20px;">Roasted Time</label>
                                    </div>
                                    <div nz-col nzSpan="4"> 
                                        <input nz-input placeholder="" nz-value="0" formControlName="forceRostedTime" />
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="6">
                                        Cannot Change:
                                    </div>
                                    <div nz-col nzSpan="16">
                                        <div>
                                            <label nz-checkbox formControlName="rostedDay">Rosted Day</label>
                                        </div>
                                        <div>
                                            <label nz-checkbox formControlName="rostedTime">Rosted Time</label>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col nzSpan="24" class="mrg-btm" style="padding-left: 13px !important;">
                                    <div nz-col nzSpan="8">
                                        <span>Time Must Be withIn:</span>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <input nz-input placeholder="" nz-value="0" formControlName="orignalminute" />
                                    </div>
                                    <div nz-col nzSpan="8" style="text-align: center;">
                                        <span>Minutes of Orignal Start</span>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
                <div *ngIf="current == 3">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="12" class="">
                            <h2 style="color:#1890FF;">Award Actions</h2>
                        </div>
                    </div>
                    <nz-divider nzText="Award Interpretation Options" nzOrientation="left"></nz-divider>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="14">
                            <div class="mrg-btm">
                            Exclude From Higher Rate Calculation : <label nz-checkbox formControlName="award1"></label><br>
                            </div>
                            <div class="mrg-btm">
                            No Overtime Accumulation : <label nz-checkbox formControlName="award2"></label><br>
                            </div>
                            <div class="mrg-btm">
                            Pay As Rostered : <label nz-checkbox formControlName="award3"></label><br>
                            </div>
                            <div class="mrg-btm">
                            Exclude From Timeband Interpretation : <label nz-checkbox formControlName="award4"></label><br>
                            </div>
                            <div class="mrg-btm">
                            Exclude From All Interpretation : <label nz-checkbox formControlName="award5"></label><br>
                            </div>
                        </div>
                        <div nz-col nzSpan="10">
                            <label for="Special Shift Type" class="mrg-btm">Special Shift Type:</label>
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="specialShift" nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let sub of subgroups" [nzLabel]="sub.description" [nzValue]="sub.description"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                    <div *nzModalFooter>
                        <ng-container>
                            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                                <span>Previous</span>
                            </button>
                            <button nz-button nzType="default" (click)="next()" *ngIf="current < 3" >
                                <span>Next</span>
                            </button>
                            <!-- *ngIf="current === 3" -->
                            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                                <span>SAVE</span>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </nz-modal>
        <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
            <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
        </nz-drawer>
</div>       