<div style="padding:8px;">
    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
        <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
        <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
        <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <div nz-col>
            <nz-table #basicTable nzBordered [nzShowPagination]="false" [nzSize]="'small'" [nzResponsive]="true" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                <thead>
                    <tr>
                        <th class="left">Title</th>
                        <th class="left">Funding Source</th>
                        <th class="left">AgencyID</th>
                        <th class="left">GST</th>
                        <th class="left">Rate</th>
                        <th class="left">Budget $</th>
                        <th class="left">Budget Hrs</th>
                        <th class="left">Budget Cycle</th>
                        <th class="left">GL EXP A/C</th>
                        <th class="left">GL EXP A/C</th>
                        <th class="left">GL Super A/C</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;" [contextMenu]="basicMenu" [contextMenuSubject]="data" [class.highlighted]="isSelected(data)"  
                    (click)="onRowClick($event, data)" [class.highlight]="currentIndex === i">
                    <td>{{ data.title  }} </td> 
                    <td nzBreakWord>{{ data.type  }} </td>
                    <td nzBreakWord>{{ data.agencyID  }} </td>
                    <td><label nz-checkbox nzDisabled [ngModel]="data.gst" nzDisabled ></label></td>
                    <td nzBreakWord>{{ data.rate  }} </td>
                    <td nzBreakWord >{{ data.budget$  }} </td>
                    <td nzBreakWord>{{ data.budgetHrs  }} </td>
                    <td nzBreakWord>{{ data.bgtCycle  }} </td>
                    <td nzBreakWord>{{ data.glExp  }} </td>
                    <td nzBreakWord>{{ data.gLRev  }} </td>
                    <td nzBreakWord>{{ data.gLSuper  }} </td>
                    <td><a (click)="showEditModal(data.row_num)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to  delete this from the Program/Packages List ?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-modal [nzWidth]="950" [nzBodyStyle]="{'height':'80vh'}" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
            <nz-step class="mini" nzTitle="General"       nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Profile"       nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Services"      nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Staff"         nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Competencies"  nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Default 1"     nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Default 2"     nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Travel KM"     nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Cancellations" nzDescription=""></nz-step>
        </nz-steps>
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-divider nzText="General" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>  
                    </div>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="16" class="mrg-btm"> 
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <nz-form-label nzRequired nzFor="Funding Source">Funding Source</nz-form-label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="funding_source" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let fsource of fundingSources" [nzLabel]="fsource.description" [nzValue]="fsource.description"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <nz-form-label nzRequired nzFor="Name">Name</nz-form-label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input  [nzSize]="'small'" formControlName="name" style="text-transform: uppercase;" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Agency ID">Agency ID:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input [nzSize]="'small'" formControlName="agency_id" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Reporting State">Reporting State:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" formControlName="state" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let stat of states" [nzLabel]="stat" [nzValue]="stat"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    GST:
                                </div>
                                <div nz-col nzSpan="2">
                                    <label nz-checkbox formControlName="gst"></label>
                                </div>
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    GST Percent:
                                </div>
                                <div nz-col nzSpan="5">
                                    <input nz-input [nzSize]="'small'" formControlName="gst_Percent"/>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Coordinator">Coordinator:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="coordinator" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let cord of programCordinates" [nzLabel]="cord.description" [nzValue]="cord.description"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="GL Revenue A/C">GL Revenue  A/C:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input [nzSize]="'small'" formControlName="glrev" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="GL Super A/C">GL Super A/C:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input [nzSize]="'small'" formControlName="glsuper" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="GL Expense A/C">GL Expense A/C:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input [nzSize]="'small'" formControlName="glexp" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    Budget Amount:
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input [nzSize]="'small'" formControlName="bamount" />
                                </div>
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    Period:
                                </div>
                                <div nz-col nzSpan="7">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="period" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let peri of period" [nzLabel]="peri" [nzValue]="peri"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Budget Hrs">Budget Hrs:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <input nz-input [nzSize]="'small'" formControlName="bhrs" />
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Care Domain">Care Domain:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzDropdownMatchSelectWidth]="false"  [nzSize]="'small'" formControlName="care" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let domain  of caredomain" [nzLabel]="domain" [nzValue]="domain"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Funding Region">Funding Region:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="funding_region" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let funregion of fundingRegion" [nzLabel]="funregion.description" [nzValue]="funregion.description"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Funding Type">Funding Type:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="funding_type" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let funtype of fundingTypes" [nzLabel]="funtype" [nzValue]="funtype"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row nzJustify class="mrg-btm">
                                <div nz-col nzSpan="8" class="text-right pad-r-5">
                                    <label nzFor="Roaster Close Prior To">Roaster Close Prior To:</label>
                                </div>
                                <div nz-col nzSpan="15">
                                    <nz-date-picker  [nzSize]="'small'" formControlName="close_date" [nzFormat]="dateFormat"></nz-date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 1">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-divider  nzText="Package Type Profile" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>  
                        </div> 
                        <div nz-col nzSpan="4" class="mrg-btm">
                            <nz-radio-group formControlName="radioValue" class="mrg-btm" [(ngModel)]="radioSelcted">
                                <label nz-radio nzValue="program">program</label><br>
                                <label nz-radio nzValue="job">job</label>
                            </nz-radio-group>
                            <div class="space-top">
                                <label nz-checkbox nzValue="template" formControlName="template">Template</label>
                            </div>   
                        </div>
                        <div nz-col nzSpan="6" class="mrg-btm" *ngIf="radioSelcted == 'program'">
                            <nz-radio-group formControlName="radioValue2">
                                <label nz-radio nzValue="non_specific">Non Specific</label><br>
                                <label nz-radio nzValue="meals">Meals</label><br>
                                <label nz-radio nzValue="transport">Transport</label><br>
                                <label nz-radio nzValue="act_center">Activity Center</label><br>
                                <label nz-radio nzValue="day_center">Day Center</label><br>
                                <label nz-radio nzValue="mods">Home Mods/Mait</label><br>
                                <label nz-radio nzValue="continguency">Continguency</label>
                            </nz-radio-group>
                        </div>
                        <div nz-col nzSpan="7" class="mrg-btm" style="padding-right:10px">
                            <div class="mrg-btm" *ngIf="radioSelcted == 'program'">
                                <label nz-checkbox  (change)="individual = !individual" formControlName="individual">Individually Funded</label>
                            </div>
                            <div class="mrg-btm invidual_funded_toggle" *ngIf="individual">
                                <label nz-checkbox (change)="aged = !aged" formControlName="aged">Aged Care Package</label>
                            </div>
                            <div *ngIf="aged"> <!--  toggle block -->
                                <div class="space-top">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="level" nzPlaceHolder="Level" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let level of levels" [nzLabel]="level" [nzValue]="level"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="space-top">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="target_g" nzPlaceHolder="Target Group" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let target of targetGroups" [nzLabel]="target.description" [nzValue]="target.description"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="space-top">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="contigency" nzPlaceHolder="Contingency" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let contigence Of contingency " [nzLabel]="contigence.name" [nzValue]="contigence.name"></nz-option>
                                    </nz-select>
                                </div>
                            </div> <!--  toggle block end-->
                        </div>
                        <div nz-col nzSpan="7" class="mrg-btm" *ngIf="individual">
                            <div class="space-top">
                            </div>
                            <div class="space-top">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="budget_enfor" nzPlaceHolder="Budget Enforcement" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let budgetenfor of budgetEnforcement" [nzLabel]="budgetenfor" [nzValue]="budgetenfor"></nz-option>
                                </nz-select>
                            </div>
                            <div class="space-top">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="roster_enfor" nzPlaceHolder="Budget Roster Enforcement" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let rosterEnforcement of budgetRoasterEnforcement" [nzLabel]="rosterEnforcement" [nzValue]="rosterEnforcement"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <nz-divider nzOrientation="left" style="color:#1890FF;margin:0px !important;"></nz-divider>  
                        <div class="mrg-btm" *ngIf="aged">
                            <button class="headers-botton recordHeaderMainButtons" (click)="showPackageLeaveModal()">Package Leave Type</button>
                            <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto;border: 1px solid #e9e9e9; border-radius: 3px;">
                                <nz-table #basicTablein [nzData]="tableData" [nzShowPagination]="false" style="margin-top:0px im !important;" [nzFrontPagination]="false" [nzLoading]="loading" [nzResponsive]="true">
                                    <thead>
                                        <tr>
                                            <th class="left">Leave Activity Code</th>
                                            <th class="left">Accumulated By</th>
                                            <th class="left">Max Days</th>
                                            <th class="left">Claim Reduced To</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let packageLeaveTypeList of tableDataPackageLeaveTypes;let j = index;">
                                            <td class="left">{{ packageLeaveTypeList.leaveActivityCode  }} </td>
                                            <td class="left">{{ packageLeaveTypeList.claimReducedTo}}</td>
                                            <td class="left">{{ packageLeaveTypeList.maxDays}}</td>
                                            <td class="left">{{packageLeaveTypeList.accumulatedBy}}</td>
                                            <td class="left"><a (click)="showPackageLeaveEditModal(j)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure You want to delete This Package Leave Type ?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deletePackageLeaveType(packageLeaveTypeList)">Delete</a></td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 2">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-divider nzText="package Type Profile" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                            <div nz-row nzGutter=24>
                                <div nz-col nzSpan="24">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showServicesModal()">Package Type Profile</button>
                                    <nz-table #headerTable   [nzScroll]="{ y: '240px' }" [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listApprovedServicesByPersonId">
                                        <thead>
                                            <tr>
                                                <th class="left" nzWidth="60%">Activity</th>
                                                <th class="left" nzWidth="20%">Status</th>
                                                <th class="left" nzWidth="20%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ApprovedServicesByPersonId of listApprovedServicesByPersonId;let j = index;">
                                                <td class="left">{{ApprovedServicesByPersonId.activity}}</td>
                                                <td class="left">{{ApprovedServicesByPersonId.status}}</td>
                                                <td class="left">
                                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteApprovedService(ApprovedServicesByPersonId)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 3">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-divider nzText="Approved /Exclude Staff" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                            <div nz-row nzGutter=24>
                                <div nz-col nzSpan="12">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showstaffApprovedModal()">Approved STAFF</button>
                                    <nz-table #headerTable   [nzScroll]="{ y: '240px' }" [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listApprovedStaffByPersonId">
                                        <thead>
                                            <tr> 
                                                <th class="left" nzWidth="60%">Name</th>
                                                <th class="left" nzWidth="20%">Notes</th>
                                                <th class="left" nzWidth="20%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let approvedlist of listApprovedStaffByPersonId;let k = index;">
                                                <td class="left">{{approvedlist.name}}</td>
                                                <td class="left">{{approvedlist.notes}}</td>
                                                <td class="left">
                                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteApprovedStaff(approvedlist)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                                <div nz-col nzSpan="12">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showstaffUnApprovedModal()">Excluded STAFF</button>
                                    <nz-table #headerTable   [nzScroll]="{ y: '240px' }" [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listExcludedStaffByPersonId">
                                        <thead>
                                            <tr>
                                                <th class="left" nzWidth="60%">Name</th>
                                                <th class="left" nzWidth="20%">Notes</th>
                                                <th class="left" nzWidth="20%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let excludedlist of listExcludedStaffByPersonId;let l = index;">
                                                <td class="left">{{excludedlist.name}}</td>
                                                <td class="left"></td>
                                                <td class="left">
                                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this entry?"
                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteExcludedStaff(excludedlist)">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="current == 4">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-divider nzText="Mandatory Or Optional Competencies" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                            <div nz-row nzGutter=24>
                                <div nz-col nzSpan="24">
                                    <button class="headers-botton recordHeaderMainButtons" (click)="showCompetencyModal()">Competencies</button>
                                    <!-- <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto;border: 1px solid #e9e9e9; border-radius: 3px;"> -->
                                        <nz-table #headerTable   [nzScroll]="{ y: '240px' }" [nzShowPagination]="false" [nzFrontPagination]="false" [nzSize]="'small'"  [nzLoading]="loading" [nzData]="listCompetencyByPersonId">
                                            <thead>
                                                <tr>
                                                    <th class="left" nzWidth="70%">Competency</th>
                                                    <th class="left" nzWidth="10%">Mandatory</th>
                                                    <th class="left" nzWidth="20%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let competencyListByPerson of listCompetencyByPersonId;let j = index;">
                                                    <td>{{competencyListByPerson.competency}}</td>
                                                    <td><label nz-checkbox nzDisabled [ngModel]="competencyListByPerson.mandatory" nzDisabled [ngModelOptions]="{standalone: true}"></label></td>
                                                    <td><a (click)="showComptencyEditModal(j)">Update</a>
                                                        <nz-divider nzType="vertical"></nz-divider>
                                                        <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this Competency?"
                                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCompetency(competencyListByPerson)">Delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div *ngIf="current == 5">
                    <div nz-row nzGutter=24>
                        <div nz-col nzSpan="24" class="mrg-btm">
                            <nz-divider nzText="Package Alerts and Fees Defaults" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                            <div nz-row nzGutter=24>
                                <div nz-col nzSpan="24">
                                    <div nz-col nzSpan="4">
                                        <div class="mrg-btm" style="text-align:center">
                                            <h3 style="margin-bottom:20px;">Alerts</h3>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="p_alert_type"  nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let alert of alerts" [nzLabel]="alert" [nzValue]="alert"></nz-option>
                                            </nz-select>
                                        </div>  
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <div nz-row nzJustify class="mrg-btm">
                                            <div nz-col nzSpan="4" class="text-right pad-r-5">
                                                <label for="BASE ON"><b>BASE ON</b></label>
                                            </div>
                                            <div nz-col nzSpan="10" class="text-center">
                                                <label nz-checkbox (change)="packgChange($event)"      formControlName="packg_balance">Package Balance</label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <label nz-checkbox (change)="recurrentChange($event)"  formControlName="recurant">Recurrent Usage</label>
                                            </div>
                                        </div>
                                        <div nz-row class="mrg-btm" *ngIf="visibleRecurrent">
                                            <div nz-col nzOffset = "6" nzSpan="8" class="pad-r-5">
                                                <label for="period">period</label>
                                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="p_alert_period"  nzShowSearch nzAllowClear style="width:100%;">
                                                    <nz-option *ngFor="let def of DefPeriod" [nzLabel]="def" [nzValue]="def"></nz-option>
                                                </nz-select>
                                            </div>
                                            <div nz-col nzSpan="8">
                                                <label for="Commencing">Commencing</label>
                                                <input nz-input placeholder="Package Start Date" [nzSize]="'small'" nzDisabled formControlName="name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <div nz-row nzJustify class="mrg-btm">
                                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                                <label nzFor="Allowed">Allowed:</label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <input nz-input [nzSize]="'small'" class="mrg-btm" formControlName="allowed" />
                                            </div>
                                        </div>
                                        <div nz-row nzJustify class="mrg-btm">
                                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                                <label nzFor="Yellow">Yellow:</label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <input nz-input [nzSize]="'small'" class="mrg-btm"  formControlName="yellow" />
                                            </div>
                                        </div>
                                        <div nz-row nzJustify class="mrg-btm">
                                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                                <label nzFor=" Alert"> Alert:</label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <input nz-input [nzSize]="'small'" class="mrg-btm"   formControlName="green" />
                                            </div>
                                        </div>
                                        <div nz-row nzJustify class="mrg-btm">
                                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                                <label nzFor="Red Alert">Red Alert:</label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <input nz-input [nzSize]="'small'" class=""  formControlName="red" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <nz-divider style="margin: 3px 0;"></nz-divider>
                                <div nz-col nzSpan="24">
                                    <div nz-col nzSpan="4">
                                        <label for="">Expire Using</label>
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="expire_using"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let usign of expireUsing" [nzLabel]="usign" [nzValue]="usign"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label for="">Amount</label>
                                        <input nz-input placeholder="" [nzSize]="'small'" formControlName="expire_amount" />
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label for="">Cost Type</label>
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="expire_costType"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let alert of alerts" [nzLabel]="alert" [nzValue]="alert"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label for="">Per Unit</label>
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="expire_unit"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let unit of unitsArray" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label for="">Period</label>
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="expire_period"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let def of DefPeriod" [nzLabel]="def" [nzValue]="def"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <label for="">Length</label>
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="expire_length"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let def of DefPeriod" [nzLabel]="def" [nzValue]="def"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                
                                <div nz-col nzSpan="24">
                                    <div nz-col nzSpan="5">
                                        <div style="text-align:center">
                                            <h3 style="margin-bottom:5px;margin-top:15px;line-height:1.5">Quotes- <br>Administration<br> and Case <br>Management</h3>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="19">
                                        <nz-table nzBordered nzTemplateMode [nzSize]="'small'">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="width: 30%;">Default Fee Code</th>
                                                    <th>%/Amt</th>
                                                    <th style="width: 30%;">Frequency</th>
                                                    <th>Daily Rate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Admin</td>
                                                    <td>
                                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="adminType"  nzShowSearch nzAllowClear style="width:100%;">
                                                            <nz-option *ngFor="let adminTypeAr of adminTypesArray" [nzLabel]="adminTypeAr.title" [nzValue]="adminTypeAr.title"></nz-option>
                                                        </nz-select>
                                                    </td>
                                                    <td>
                                                        <input nz-input  [nzSize]="'small'" formControlName="admin_parc_amt" />
                                                    </td>
                                                    <td><nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="adminFrequency"  nzShowSearch nzAllowClear style="width:100%;">
                                                        <nz-option *ngFor="let dail of dailyArry" [nzLabel]="dail" [nzValue]="dail"></nz-option>
                                                    </nz-select>
                                                </td>
                                                <td>
                                                    <input nz-input [nzSize]="'small'" formControlName="adminDay" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Case Mgt</td>
                                                <td><nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="admincmType"  nzShowSearch nzAllowClear style="width:100%;">
                                                    <nz-option *ngFor="let adminTypeArz of adminTypesArray" [nzLabel]="adminTypeArz.title" [nzValue]="adminTypeArz.title"></nz-option>
                                                </nz-select></td>
                                                <td><input nz-input  [nzSize]="'small'" formControlName="admin_cm_parc_amt" /></td>
                                                <td><nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="cmFrequency"  nzShowSearch nzAllowClear style="width:100%;">
                                                    <nz-option *ngFor="let dail of dailyArry" [nzLabel]="dail" [nzValue]="dail"></nz-option>
                                                </nz-select></td>
                                                <td>
                                                    <input nz-input [nzSize]="'small'"  formControlName="cmday" />
                                                </td>
                                            </tr>
                                        </tbody>    
                                    </nz-table>
                                </div>
                                <div nz-col nzSpan="5">
                                </div>
                                <div nz-col nzSpan="19">
                                    <div nz-col nzSpan="12" style="padding-left:0px !important;">
                                        <label style="font-size:9px;" nz-checkbox nzValue=""  formControlName="includetested">Include Income Tested Fee in Admin % Calculation</label>
                                    </div>
                                    <div nz-col nzSpan="12" style="padding-left:0px !important;">
                                        <label style="font-size:9px;margin-top:5px;" nz-checkbox nzValue=""  formControlName="includeClientFeesCont">Option to Delete Admin Lines on un acceptance of Fees</label>
                                    </div>
                                    <div nz-col nzSpan="12" style="padding-left:0px !important;">
                                        <label style="font-size:9px;" nz-checkbox nzValue=""  formControlName="IncludeCare">Include Basic Care Fee in Admin % Calculation</label>
                                    </div>
                                    <div nz-col nzSpan="12" style="padding-left:0px !important;">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cycle" nzPlaceHolder="Master Cycle For Fees" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let cycle of cycles" [nzLabel]="cycle" [nzValue]="cycle"></nz-option>
                                        </nz-select>
                                    </div>
                                    <div nz-col nzSpan="12" style="padding-left:0px !important;">
                                        <label style="font-size:9px;" nz-checkbox nzValue=""  formControlName="IncludeTopUp">Include Top Up Fee in Admin & Calculation</label>
                                    </div>
                                    <div nz-col nzSpan="12">
                                        
                                    </div>
                                    <div nz-col nzSpan="12">
                                        <input nz-input placeholder="Default Basic Care Fee"  formControlName="default_daily_fees" />
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <label for="tandard Quote Disclaimer">Standard Quote Disclaimer</label>
                                        <textarea rows="2" nz-input  formControlName="standard_quote"></textarea>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>    
                            <div nz-col nzSpan="24">
                                <nz-divider style="color:#1890FF;margin:3px 0px"></nz-divider>
                                <div nz-col nzSpan="5">
                                    <div style="text-align:center">
                                        <h3 style="margin-bottom:5px;margin-top:15px;">Quotes - Fees <br>& <br>Contingencies</h3>
                                    </div>
                                </div>
                                <div nz-col nzSpan="19">
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nzSpan="24">
                                            <div nz-col nzSpan="5" class="">
                                                <label nzFor="Max Continguency">Max Continguency:</label>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <input nz-input [nzSize]="'small'" placeholder=""  formControlName="max_contiguency" />
                                            </div>
                                            <div nz-col nzSpan="5" class="text-center">
                                                <label nzFor="% / Amount">% / Amount:</label>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <input nz-input [nzSize]="'small'"  formControlName="perc_amt" />
                                            </div>
                                            <div nz-col nzSpan="5" class="text-center">
                                                <label nzFor="Default Daily Fee">Default Daily Fee:</label>
                                            </div>
                                            <div nz-col nzSpan="3">
                                                <input nz-input [nzSize]="'small'"  formControlName="defaultbasiccarefee" />
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify class="mrg-btm">
                                        <div nz-col nzSpan="4" class="text-right pad-r-5">
                                            <label nzFor="quoute_template">quoute_template:</label>
                                        </div>
                                        <div nz-col nzSpan="20">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="quoute_template" nzPlaceHolder="Quote Template" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let temp of quoutetemplates" [nzLabel]="temp" [nzValue]="temp"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 6">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-divider nzText="Package Statement Text" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                        <div nz-row nzGutter=24>
                            <div nz-col nzSpan="24">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                                        <label nzFor="Name">Line 1:</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input nz-input  formControlName="line_1" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                                        <label nzFor="Name">Line 2:</label>
                                    </div>
                                    <div nz-col nzSpan="15">
                                        <input nz-input  formControlName="line_2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 7">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-divider nzText="Mobile App Travel Defaults" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                        <div nz-row nzGutter=24>
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="6">
                                    <div class="mrg-btm" style="text-align:center">
                                        <h2>provider Travel Between</h2>
                                    </div>  
                                </div>
                                <div nz-col nzSpan="18">
                                    <div col nzSpan="12">
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <label>Non Chargeable</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="nprogram" nzPlaceHolder="Program" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <label>Chargeable</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cprogram" nzPlaceHolder="Program" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="nactivity" nzPlaceHolder="Activity" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let activity of activities" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                            </nz-select>
                                        </div>
                                        
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cactivity" nzPlaceHolder="Activity" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let activity of activities" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="npay" nzPlaceHolder="Pay Type" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ptype of paytypes" [nzLabel]="ptype.code" [nzValue]="ptype.code"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="cpay" nzPlaceHolder="Pay Type" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ptype of paytypes" [nzLabel]="ptype.code" [nzValue]="ptype.code"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <nz-divider nzOrientation="left" style="color:#1890FF;"></nz-divider>
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="6">
                                    <div class="mrg-btm" style="text-align:center">
                                        <h2>provider Travel WithIn</h2>
                                    </div>  
                                </div>
                                <div nz-col nzSpan="18">
                                    <div col nzSpan="12">
                                        
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <label>Non Chargeable</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wnprogram" nzPlaceHolder="Program" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <label>Chargeable</label>
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wcprogram" nzPlaceHolder="Program" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wnactivity" nzPlaceHolder="Activity" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let activity of activities" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                            </nz-select>
                                        </div>
                                        
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wcactivity" nzPlaceHolder="Activity" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let activity of activities" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wnpay" nzPlaceHolder="Pay Type" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ptype of paytypes" [nzLabel]="ptype.code" [nzValue]="ptype.code"></nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="mrg-btm" nz-col nzSpan="12">
                                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="wcpay" nzPlaceHolder="Pay Type" nzShowSearch nzAllowClear style="width:100%;">
                                                <nz-option *ngFor="let ptype of paytypes" [nzLabel]="ptype.code" [nzValue]="ptype.code"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nz-divider nzOrientation="left" style="color:#1890FF;"></nz-divider>
                            <div nz-col nzSpan="24">
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="vehicledef">Vehicle Defaults to Own</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 8">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <div nz-row nzGutter=24>
                            <nz-divider nzText="Cancellation Defaults" nzOrientation="left" style="color:#1890FF;margin-top:0px !important;"></nz-divider>
                        </div>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4">
                                <div class="mrg-btm" style="text-align:center">
                                    <h2 style="margin-bottom:5px;">No Notice</h2>
                                    <label>Lead Time In Hours</label>
                                    <input nz-input placeholder="No Notice" [nzSize]="'small'" value="" formControlName="noNoticeLeadTime" />
                                </div>  
                            </div>
                            <div nz-col nzSpan="6">
                                <h4 style="text-align:center;">RECIPIENT</h4>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Client Cancel Activity Code">Client Cancel Activity Code:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultNoNoticeCancel" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let activity of activityTypes" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">Program:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultNoNoticeBillProgram"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="% To Bill">% To Bill:</label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <input nz-input [nzSize]="'small'" formControlName="noNoticeCancelRate" />
                                    </div>
                                </div>
                                <nz-divider nzDashed style="margin: 5px 0px;"></nz-divider>
                            </div>
                        </div>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4">
                            </div>
                            <div nz-col nzSpan="6">
                                <h4 style="text-align:center;">STAFF PAYROLL</h4>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Activity Code For TimeSheet">Activity Code For TimeSheet:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="noNoticeLeaveActivity" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let timsheet of activityTimeSheet" [nzLabel]="timsheet.title" [nzValue]="timsheet.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">Program:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultNoNoticePayProgram" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <nz-divider style="margin:5px 0px"></nz-divider>
                        </div>
                        
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4">
                                <div class="mrg-btm" style="text-align:center">
                                    <h2 style="margin-bottom:5px;">Short Notice</h2>
                                    <label>Lead Time In Hours</label>
                                    <input nz-input placeholder="Short Notice" [nzSize]="'small'" formControlName="shortNoticeLeadTime" />
                                </div>  
                            </div>
                            <div nz-col nzSpan="6">
                                <h4 style="text-align:center;">RECIPIENT</h4>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Client Cancel Activity Code">Client Cancel Activity Code:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultShortNoticeCancel" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let activity of activityTypes" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">Program:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultShortNoticeBillProgram" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">% To Bill:</label>
                                    </div>
                                    <div nz-col nzSpan="6">
                                        <input nz-input [nzSize]="'small'" formControlName="shortNoticeCancelRate" />
                                    </div>
                                </div>
                                <nz-divider nzDashed style="margin: 5px 0px;"></nz-divider>
                            </div>
                        </div>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4">
                            </div>
                            <div nz-col nzSpan="6">
                                <h4 style="text-align:center;">STAFF PAYROLL</h4>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Activity Code For TimeSheet">Activity Code For TimeSheet:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="shortNoticeLeaveActivity"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let timsheet of activityTimeSheet" [nzLabel]="timsheet.title" [nzValue]="timsheet.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">Program:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false"  [nzSize]="'small'" formControlName="defaultShortNoticePayProgram"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <nz-divider></nz-divider>
                        </div>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4">
                                <div class="mrg-btm" style="text-align:center">
                                    <h2 style="margin-bottom:5px;">With Notice</h2>
                                </div>  
                            </div>
                            <div nz-col nzSpan="6">
                                <h4 style="text-align:center;">RECIPIENT</h4>
                            </div>
                            <div nz-col nzSpan="14">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Client Cancel Activity Code">Client Cancel Activity Code:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultWithNoticeCancel" nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let activity of activityTypes" [nzLabel]="activity.title" [nzValue]="activity.title"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="10" class="text-right pad-r-5">
                                        <label nzFor="Program">Program:</label>
                                    </div>
                                    <div nz-col nzSpan="14">
                                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="defaultWithNoticeProgram"  nzShowSearch nzAllowClear style="width:100%;">
                                            <nz-option *ngFor="let pr of programz" [nzLabel]="pr.name" [nzValue]="pr.name"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *nzModalFooter>
                <ng-container>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            End Date:
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5"> 
                            <nz-date-picker  [nzSize]="'small'" formControlName="end_date" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!this.inputForm.get('funding_source').value || !this.inputForm.get('name').value" (click)="save()">
                            <span>SAVE</span>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </nz-modal>
    <!-- modal is for services tab -->
    <nz-modal [nzWidth]="400"  [(nzVisible)]="servicesModal" nzTitle="Approved Services (MANDATORY)" (nzOnCancel)="handleServicesCancel()">
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">
                <h3 style="text-align:center;color:#1890FF">Tick The Checkbox Next To the Service Approved For Use For The Displayed Program</h3>    
                <nz-input-group [nzSuffix]="suffixIconSearchh">
                    <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" [ngModelOptions]="{standalone: true}" (keyup)="searchApprovedServices($event)"/>
                </nz-input-group>
                <ng-template #suffixIconSearchh>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let services of packedTypeProfile">
                                <label nz-checkbox [nzValue]="services.title" [(ngModel)]="services.checked" (change)="onCheckboxServiceChange(services,$event)"  [ngModelOptions]="{standalone: true}">{{ services.title }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveApprovedServices()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <!-- // package leave type -->
    <nz-modal [nzWidth]="400"  [(nzVisible)]="packageLevel" nzTitle="Package Leave Types (MANDATORY)" (nzOnCancel)="handlePackageLevelCancel()">
        
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">    
                <div *ngIf="!isUpdatePackageType" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To  The leave Types To Use For Home Care Package Leaves</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearchh">
                        <input type="text" nz-input placeholder="search text" (keyup)="searchPackageLeaves($event)" />
                    </nz-input-group>
                    <ng-template #suffixIconSearchh>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let leavetype of leaveTypes">
                                <label nz-checkbox [nzValue]="leavetype.title" [(ngModel)]="leavetype.checked" (change)="onCheckboxChangePackageTypes(leavetype,$event)" [ngModelOptions]="{standalone: true}">{{ leavetype.title }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div *ngIf="isUpdatePackageType">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Leave Type">Leave Type:</label>
                            </div>
                            <div nz-col nzSpan="14">
                                <input nz-input formControlName="leaveActivityCode" style="text-transform: uppercase;" required readonly />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Accomulation Type">Accomulation Type:</label>
                            </div>
                            <div nz-col nzSpan="10">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="accumulatedBy" nzShowSearch nzAllowClear style="width:100%;" required>
                                    <nz-option *ngFor="let atype of accoumulationTypes" [nzValue]="atype" [nzLabel]="atype"></nz-option> 
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Reduce Claim After">Reduce Claim After:</label>
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-input formControlName="claimReducedTo" />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="Reduce Rate Percent">Reduce Rate Percent:</label>
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-input formControlName="maxDays" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="savePackageTypes()">
                    <span>SAVE</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="400"  [(nzVisible)]="staffApproved" nzTitle="Select Approved Staff (MANDATORY)" (nzOnCancel)="handleAprfCancel()">
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">    
                <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff To Be Approved For Use For The Displayed Program </h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchStaff($event)" [ngModelOptions]="{standalone: true}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let workers of careWorkers">
                                <label nz-checkbox [nzValue]="workers.accountno" [(ngModel)]="workers.checked" (change)="onCheckboxapprovedChange(workers,$event)" [ngModelOptions]="{standalone: true}">{{ workers.accountno }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveApprovedStaff()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="400"  [(nzVisible)]="staffUnApproved" nzTitle="Select Exclude Staff (MANDATORY)" (nzOnCancel)="handleUnAprfCancel()">
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">    
                <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff To Be Excluded From Use For The Displayed Program</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchStaffExcluded($event)" [ngModelOptions]="{standalone: true}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let workerz of careWorkersExcluded">
                                <label nz-checkbox [nzValue]="workerz.accountno" [(ngModel)]="workerz.checked" (change)="onCheckboxUnapprovedChange(workerz,$event)" [ngModelOptions]="{standalone: true}">{{ workerz.accountno }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveExcludeStaff()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-modal [nzWidth]="500"  [(nzVisible)]="competencymodal" nzTitle="Required Competencies (MANDATORY)" (nzOnCancel)="handleCompetencyCancel()">
        <form nz-form [formGroup]="inputForm" >
            <div nz-row nzGutter="24">    
                <div *ngIf="!isUpdatePackageType" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Competencies Required For Work in This Program</h4>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch" (keyup)="searchCompetenncy($event)" [ngModelOptions]="{standalone: true}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let comp of competencyList">
                                <label nz-checkbox [nzValue]="comp.name" [(ngModel)]="comp.checked" (change)="onCompetencyCheckboxChange(comp,$event)" [ngModelOptions]="{standalone: true}">{{ comp.name }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div *ngIf="isUpdatePackageType">
                    <div nz-row nzGutter="24" class="mrg-btm">
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Name / Title">Name / Title:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="competency" style="text-transform: uppercase;" required readonly />
                            </div>
                        </div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6" class="text-right pad-r-5">
                                <label nzFor="Mandatory">Mandatory:</label>
                            </div>
                            <div nz-col nzSpan="16">
                                <label nz-checkbox formControlName="mandatory"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveCompetency()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </nz-modal>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>            
        <div nz-row  >   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
        </div>    
    </nz-drawer>
    <context-menu>
        <ng-template contextMenuItem (execute)="showActivityMOdal($event.item,1)">
            Clone Program
        </ng-template>
        
        <ng-template contextMenuItem let-item [enabled]="mergestatus" (execute)="selectCode()">
            Merge Histories
        </ng-template>
        
        <ng-template contextMenuItem let-item (execute)="export()">
            Export To CSV File
        </ng-template>
        
        <!-- <ng-template contextMenuItem let-item >
            View Referrals
        </ng-template> -->
    </context-menu>
    <nz-modal [nzWidth]="400" [(nzVisible)]="clonemodalOpen" [nzTitle]="'Clone Program'" (nzOnCancel)="clonehandleCancel()">
        <div class="flexy">
            
            <div nz-row nzGutter class="mrg-btm">
                <label for="Enter The New Program to Create">Enter The New Program to Create :</label>
                <input nz-input  [(ngModel)]="activityCode" style="text-transform: uppercase;" required />
            </div>
            <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!activityCode" (click)="clone()">
                        <span>Done</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </nz-modal>
    
    <nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="mergeHistorymodalOpen" nzTitle="Merge Codes"   (nzOnCancel)="mergeHistoryModalClose()" >
        <div  class="flexy" style="min-height:20rem;" hasBackdrop>
            <div *ngIf="mergeactivitycodesList">
                <div>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="mergeactivitycodesList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
                <thead>
                    <tr>
                        <th class="left">Select Merge Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mergeactivitycodesList;let i = index;" (click)="RecordClicked($event, data, i)" 
                    (dblclick)="onItemDbClick(data,i)"
                    [class.selected]="selectedmergecodes.includes(data.title)">
                    <td class="left">                                     
                        {{ data.name  }}
                    </td>
                </tr>
            </tbody>
        </nz-table> 
    </div>            
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="mergehistories()">OK</button>
    <button nz-button nzType="default" (click)="mergeHistoryModalClose()">Cancel</button>
</div>
</nz-modal>

</div>
