ul{
    list-style:none;
    padding-left: 1rem;
}

h4{
    margin:0;
}

ul li div{
    padding:5px;
    border-bottom: 1px solid #ededed;
    max-width:12rem;
    cursor:pointer;
}
ul li div.active{
    background: #e2e2e2;
}
li div i{
    visibility: hidden;
}
ul li div.active i{
    float: right;
    margin-top: -7px;
    visibility: visible;
}
ul li div:hover{
    background: #e2e2e2;
}

ul li div span{
    font-size:10px;
}

nz-form-label{
    margin-top: 5px;
}
.contact label{
    font-size: 11px;
    font-weight: 500;
    color: #a3a3a3;
}
.spinner{
    margin:1rem auto;
    width:1px;
} 
nz-table th{
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
    border: 1px solid #f3f3f3;
}

tbody  tr:nth-child(odd) {
    background-color: #E9F7FF;
      }
tbody  tr:nth-child(even) {
    background-color: #fff;
  }