<!-- <div ng-row > -->

<div nz-row>
    <div *ngIf="group=='CONTACT'"  nz-row nz-col nzSpan="24" style="margin:10px; margin-left:2px; font-size:15px ">
        <span *ngIf="group=='CONTACT'">Next of Kin & Contacts</span>       
    </div>
    <div *ngIf="group=='ASSOCIATEDPARTY'"  nz-row nz-col nzSpan="24" style="margin:10px; margin-left:2px; font-size:15px ">     
        <span *ngIf="group=='ASSOCIATEDPARTY'">Other Parties</span>
    </div>
    <div  nz-row nz-col nzSpan="24" style="margin:10px 0px 10px 0px;">
        <button class="btnlevel2navy" (click)="showAddModal()" *ngIf="getPermisson(37) =='1'" style="margin-left: 0px;">Add</button>
        <button class="btnlevel2navy" (click)="showEditModal()" *ngIf="getPermisson(38) == '1'">Edit</button>
        <button class="btnlevel2orange" (nzOnConfirm)="delete()" *ngIf="getPermisson(39) == '1'" nz-popconfirm
            nzPopconfirmPlacement="top" nzPopconfirmTitle="Are you sure you want to delete contact?">Delete</button>
        <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
    </div>
    <div nz-row nz-col nzSpan="24" *ngIf="group!='ASSOCIATEDPARTY'">
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="group === 'CONTACT' ? 'default' : 'small'"
            [nzBordered]="true" [nzFrontPagination]="false" [nzData]="kinsArray" [nzScroll]="{x: '60vw'}">
            <thead>
                <tr>
                    <th nzWidth="12%">Type</th>
                    <th nzWidth="13%">Contact Type</th>
                    <th nzWidth="15%">Contact Name</th>
                    <th nzWidth="12%">Connected To</th>
                    <th nzWidth="13%">Phones</th>
                    <th nzWidth="20%">Address Details</th>
                    <th nzWidth="15%">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of kinsArray;let i = index;" (click)="selectedItemGroup(data,i);"
                    [class.selecteditem]="i==selectedRow" (dblclick)="showEditModal()">

                    <td>{{data.type}}</td>
                    <td >{{data.subType}}</td>
                    <td>{{data.name}}</td>
                    <td >{{data.connectedTo}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.details}}</td>
                    <td>{{data.notes}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-row nz-col nzSpan="24" *ngIf="group=='ASSOCIATEDPARTY'">
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'default'"
            [nzBordered]="true" [nzFrontPagination]="false" [nzData]="kinsArray" [nzScroll]="{x: '60vw'}">
            <thead>
                <tr>
                    <!-- <th nzWidth="12%">Type</th> -->
                    <th nzWidth="13%">Contact Type</th>
                    <th nzWidth="15%">Contact Name</th>
                    <!-- <th nzWidth="12%">Connected To</th> -->
                    <th nzWidth="13%">Phones</th>
                    <th nzWidth="20%">Address Details</th>
                    <!-- <th nzWidth="15%">Notes</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of kinsArray;let i = index;" (click)="selectedItemGroup(data,i);"
                    [class.selecteditem]="i==selectedRow" (dblclick)="showEditModal()">

                    <!-- <td>{{data.type}}</td> -->
                    <td>{{data.subType}}</td>
                    <td>{{data.name}}</td>
                    <!-- <td>{{data.connectedTo}}</td> -->
                    <td>{{data.phone}}</td>
                    <td>{{data.details}}</td>
                    <!-- <td>{{data.notes}}</td> -->
                </tr>
            </tbody>
        </nz-table>
    </div>


</div>


<!-- <div nz-row>
    <button  *ngIf="getStaffPermisson(37) == '1' " class="botton success" (click)="modalOpen = true;populate()">Add Contact</button>
    <button  nz-button nzType="primary" (click)="searchKin(user)">Refresh</button>
</div> -->

<!-- <div nz-row nzGutter="16" style="padding-top:2rem"> -->

<!-- <div *ngIf="loading" style="text-align:center">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div> -->

<!-- <ng-container *ngIf="kinsArray?.length > 0 && !loading"> -->
<!-- <div nz-col nzSpan="5">
            <ul>
                <li *ngFor="let list of kinsArray">
                    <div (click)="showDetails(list); selected = list" [class.active]="selected == list">
                        <h4>{{ list.name || '--' | uppercase  }}</h4>
                        <span>{{list.type || '--' | uppercase}}</span>
                        <i nz-icon nzType="right" nzTheme="outline"></i>
                    </div>
                </li>
            </ul>
        </div> -->

<!-- <div nz-col nzSpan="20">
            <div nz-col nzSpan="12">
                <form nz-form [nzNoColon]="true" [formGroup]="kindetailsGroup">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Type</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <input type="text" nz-input formControlName="type" />
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Name</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
                            <input type="text" nz-input formControlName="name" />
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Address 1</nz-form-label>
                        <nz-form-control [nzSpan]="19" >
                            <input type="text" nz-input formControlName="address1" />
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Address 2</nz-form-label>
                        <nz-form-control [nzSpan]="19" >
                            <input type="text" nz-input formControlName="address2" />
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Suburb</nz-form-label>
                        <nz-form-control [nzSpan]="19" >
                            <suburb formControlName="suburbcode"></suburb>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Phone 1</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <app-phonefax formControlName="phone1"></app-phonefax>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Phone 2</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <app-phonefax formControlName="phone2"></app-phonefax>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Mobile</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Fax</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <app-phonefax formControlName="fax"></app-phonefax>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-label [nzSpan]="5">Email</nz-form-label>
                        <nz-form-control [nzSpan]="19" >
                            <input type="text" nz-input formControlName="email" />
                        </nz-form-control>
                    </nz-form-item> -->

<!-- <nz-form-item>
                        <nz-form-label [nzSpan]="5">List Order</nz-form-label>
                        <nz-form-control [nzSpan]="5" >
                            <input type="text" nz-input formControlName="listOrder" />
                        </nz-form-control>
                    </nz-form-item> -->

<!-- <nz-form-item>
                        <nz-form-label [nzSpan]="5">Notes</nz-form-label>
                        <nz-form-control [nzSpan]="12" >
                            <textarea rows="4" nz-input formControlName="notes"></textarea>
                        </nz-form-control>
                    </nz-form-item> -->

<!-- </form>
                    </div> -->

<!-- <div nz-col nzOffset="2" nzSpan="10">
                        <div nz-row nzGutter="16">
                            <div nz-col>
                                <button nz-button nzType="primary" (click)="save()" *ngIf="getStaffPermisson(38) == '1' "><i nz-icon nzType="save"
                                    nzTheme="outline"></i>Save</button>
                                    <button *ngIf="getStaffPermisson(39) == '1' " nz-button nzType="default" nzDanger 
                                    nz-popconfirm
                                    nzPopconfirmTitle="Do you want to delete contact?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="delete()"
                                    ><i nz-icon nzType="delete"
                                    nzTheme="outline"></i>Delete</button>
                                </div>
                            </div>
                        </div> -->
<!-- </div>
                        </ng-container> -->
<!-- 
                            <ng-container>
                                <nz-empty *ngIf="kinsArray?.length == 0 && !loading"></nz-empty>
                            </ng-container> -->

<!-- </div>   
                            </div> -->


<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewContactGroup" nzTitle="Select a Contact Group "
    (nzOnCancel)="ViewContactGroup = false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:10rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">
            </div>
            <div nz-row nzGutter="8" class="rectangle">
                <div class="form-group" nz-col nzSpan="24">
                    <nz-table #basicTable  [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                        [nzBordered]="true" [nzScroll]="{y: '66vh' }" [nzFrontPagination]="false" [nzData]="contactGroups" [nzNoResult]="emptyTemplate">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="15%">Contact Group</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of contactGroups;let i = index;"
                                (click)="selectContactGroupItem(data,i);" (dblclick)="AllocateGroup(data, i)"
                                [class.selecteditem]="i==selectedRow2">
                                <td style="width:600px">{{data.type}}</td>

                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="AllocateGroup(selectedContactGroup,selectedRow2)">OK</button>
        <button nz-button nzType="default" (click)="ViewContactGroup=false">Cancel</button>
    </div>
</nz-modal>
<ng-template #emptyTemplate>
    <!-- This will prevent the "No Data" message from appearing -->
</ng-template>
<nz-modal [nzWidth]="600" [(nzVisible)]="modalOpen" [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy">

        <div [formGroup]="kindetailsGroup" style="margin:20px; ">

            <div nz-row *ngIf="this.user.view === 'recipient'">
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Group</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">

                    <!-- <label style="border: 1px solid #e7e7e3; height:35px;padding:5px"> {{selectedContactGroup}}</label> -->
                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="group" nzShowSearch nzAllowClear
                        nzPlaceHolder="Select a Contact Group" style="width: 100%;">
                        <nz-option *ngFor="let d of contactTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div *ngIf="this.user.view === 'staff'">
                <div nz-row>

                    <div nz-col nzSpan="4" class="form-group">
                        <label for="">Type</label>
                    </div>
                    <div nz-col nzSpan="20" class="form-group">
                        <nz-select [nzDropdownMatchSelectWidth]="false" style="width:100%" formControlName="type"
                            nzShowSearch nzAllowClear nzPlaceHolder="Select a Contact Type">
                            <nz-option *ngFor="let d of contactTypes" [nzLabel]="d" [nzValue]="d"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Name</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">
                    <ng-container *ngIf="kindetailsGroup?.get('type').value != 'DOCTORS' ">
                        <input type="text" class="uppercase" nz-input placeholder="Name" formControlName="name" />
                    </ng-container>
                </div>
            </div>
            <div nz-row>
                <ng-container *ngIf="kindetailsGroup?.get('type').value == 'DOCTORS' ">
                    <div nz-col nzSpan="4" class="form-group">
                        <label for="">Address</label>
                    </div>
                    <div nz-col nzSpan="20" class="form-group">
                        <label for="">
                            <Address></Address>
                        </label>
                        <nz-select [nzAutoClearSearchValue]="false" [ngModelOptions]="{standalone: true}"
                            [nzServerSearch]="false" [nzDropdownMatchSelectWidth]="false" style="width:100%"
                            [(ngModel)]="doctor" (ngModelChange)="doctorChangeEvent($event)" nzShowSearch nzAllowClear
                            nzPlaceHolder="Select a Doctor">
                            <nz-option *ngFor="let d of doctors" [nzLabel]="d.name" [nzValue]="d.name"></nz-option>
                        </nz-select>
                    </div>
                </ng-container>
            </div>
            <div nz-row>
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Address 1</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">
                    <input type="text" nz-input placeholder="Address 1" formControlName="address1" />
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Address 2</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">
                    <input type="text" nz-input placeholder="Address 2" formControlName="address2" />
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Suburb</label>
                </div>
                <!-- <suburb type="text" [placeholder]="'Suburb'" formControlName="suburbcode" ></suburb> -->
                <div nz-col nzSpan="20" class="form-group">
                    <suburb type="text" [placeholder]="'Suburb'" formControlName="suburb"></suburb>
                </div>
            </div>


            <div nz-row>
                <div nz-col class="form-group" nzSpan="4">
                    <label for="">Phone 1</label>
                </div>
                <div nz-col class="form-group" nzSpan="8">
                    <app-phonefax formControlName="phone1"></app-phonefax>
                </div>
                <div nz-col class="form-group" nzSpan="4">
                    <label for="">Phone 2</label>
                </div>
                <div nz-col class="form-group" nzSpan="8">
                    <app-phonefax formControlName="phone2"></app-phonefax>
                </div>
            </div>
            <div nz-row *ngIf="this.user.view === 'recipient'  || selectedContactGroup === 'NEXT OF KIN'">
                <div nz-col class="form-group" nzSpan="4">
                    <label for="">Mobile</label>
                </div>
                <div nz-col class="form-group" nzSpan="8">
                    <app-phonefax formControlName="mobile"></app-phonefax>
                </div>
                <div nz-col class="form-group" nzSpan="4">
                    <label for="">Fax</label>
                </div>
                <div nz-col class="form-group" nzSpan="8">
                    <app-phonefax formControlName="fax"></app-phonefax>
                </div>
            </div>

            <div nz-row *ngIf="this.user.view === 'recipient' || selectedContactGroup === 'NEXT OF KIN'">
                <div nz-col nzSpan="4">
                    <label for="">E-mail</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">
                    <input type="email" nz-input placeholder="e-mail" formControlName="email" />
                </div>
            </div>
            <div nz-row *ngIf="this.user.view === 'recipient'  || selectedContactGroup === 'NEXT OF KIN'">
                <div nz-col nzSpan="4" class="form-group">
                    <label for="">List Order</label>
                </div>
                <div nz-col nzSpan="6" class="form-group">
                    <input type="text" nz-input placeholder="" formControlName="listOrder" />

                </div>
            </div>
            <div nz-row *ngIf="this.user.view === 'recipient' || selectedContactGroup === 'NEXT OF KIN' ">
                <div nz-col nzSpan="4" class="form-group"></div>
                <div nz-col nzSpan="10" class="form-group">
                    <label nz-checkbox nzValue="true" formControlName="oni1">Person1</label>
                    <label nz-checkbox nzValue="true" formControlName="oni2">Person2</label>

                </div>
            </div>
            <div nz-row *ngIf="this.user.view === 'recipient' || selectedContactGroup === 'NEXT OF KIN' ">
                <div nz-col nzSpan="4" class="form-group"></div>
                <div nz-col nzSpan="10" class="form-group">

                    <label nz-checkbox formControlName="emergencyContact">Emergency Contact</label>
                </div>
            </div>
            <div nz-row>

                <div nz-col nzSpan="4" class="form-group">
                    <label for="">Notes</label>
                </div>
                <div nz-col nzSpan="20" class="form-group">
                    <textarea style="margin: 0" rows="4" nz-input placeholder="notes"
                        formControlName="notes"></textarea>
                </div>
            </div>
            <!-- <div nz-row  nzGutter="16">
                        <div nz-col class="contact" nzSpan="12">
                            <label for="">Mobile</label>
                            <app-phonefax [isMobile]="true" formControlName="mobile"></app-phonefax>
                        </div>
                        <div nz-col class="contact" nzSpan="12">
                            <label for="">Fax</label>
                            <app-phonefax formControlName="fax"></app-phonefax>
                        </div>
                    </div> -->
            <!-- <div nz-row  >
                        <div nz-col nzSpan="15">
                            <input type="text" nz-input placeholder="Email" formControlName="email" />
                        </div>
                    </div> -->
            <!-- <div nz-row nzSpan="12" >
                        <div nz-col nzSpan="10">
                            <input type="text" nz-input placeholder="List Order" formControlName="listOrder" />
                        </div>                    
                    </div> -->
        </div>
    </div>


    <div *nzModalFooter>
        <ng-container>

            <!-- <button nz-button nzType="default" (click)="pre()"  *ngIf="current > 0 && !isUpdate"> 
                        <span>Previous</span>
                    </button>
                    
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2 && !isUpdate"   [disabled]="!nextRequired">
                        <span>Next</span>
                    </button> -->
            <button *ngIf="!isUpdate" nz-button nzType="primary" [nzLoading]="postLoading" (click)="add()">
                <span>Save</span>
            </button>
            <button *ngIf="isUpdate" nz-button nzType="primary" [nzLoading]="postLoading" (click)="save()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>