<div nz-row >
    <div nz-row  [formGroup]="inputForm" nzGutter="16">
        <div nz-row >
            <div nz-col nzSpan="8" style="margin-bottom:20px">
                <label style="font-size:14px">National And State Datasets</label>     
                <label style="font-size:14px">National CHSP Dataset Information</label>            
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Referral Purpose </label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="referralPurpose" class="custom-background"
                    style="width:100%">
                    <nz-option  *ngFor="let list of referalPurposes" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Referral Source</label>
            </div>
            <div nz-col nzSpan="12" class="input">                
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="dexReferralSource" class="custom-background"
                style="width:100%">
                <nz-option  *ngFor="let list of referalSource" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Referral Type</label>
            </div>
            <div nz-col nzSpan="12" class="input">
              
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="referralType" class="custom-background"
                style="width:100%">
                    <nz-option  *ngFor="let list of referaltypes" [nzValue]="list" [nzLabel]="list"></nz-option>
                 </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <h3>Assistance Reasons</h3>
            </div>

       
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Age Appropriate Development</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="ageAppropriateDevelopment"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Community Participation & Network</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="communityParticipation"></label>
            </div>
        </div>
 
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Education & Participation</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="education"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Family Functioning</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="familyFunctioning"></label>
            </div>
        </div>
         
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Housing</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="housing"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Material Well being</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="material"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Mental Health</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="mental"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Money Management</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="moneyManagement"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Personal & Family Safety</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="personalSafety"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Physical Health</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="physicalHealth"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Unknown</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="unknown"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Primary Reason</label>
            </div>
            <div nz-col nzSpan="12" class="input">
               
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="assistanceReason" class="custom-background"
                style="width:100%">
                    <nz-option  *ngFor="let list of primaryReasons" [nzValue]="list" [nzLabel]="list"></nz-option>
                 </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                
            </div>
            <div nz-col nzSpan="12" class="input">
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Exit Reason if applicable</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                 
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="exitReasonCode" class="custom-background"
                style="width:100%">
                    <nz-option  *ngFor="let list of exitreasons" [nzValue]="list" [nzLabel]="list"></nz-option>
                 </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Indigenous Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
               
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="dexIndiginousStatus" class="custom-background"
                style="width:100%">
                    <nz-option  *ngFor="let list of indigniousStatus" [nzValue]="list" [nzLabel]="list"></nz-option>
                 </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">DVA Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
              
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="dexdvaCardholderStatus" class="custom-background"
                style="width:100%">
                    <nz-option  *ngFor="let list of dvaCardStatus" [nzValue]="list" [nzLabel]="list"></nz-option>
                 </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Has a Carer</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="hasCarer"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Country of Birth</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="countryOfBirth" style="width:100%">
                    <nz-option *ngFor="let list of countries" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Ancestry</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="ancestry" style="width:100%">
                    <nz-option *ngFor="let list of languages" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">First Arrival Year</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="firstArrivalYear" style="width:100%">
                    <nz-option *ngFor="let year of getYears()" [nzValue]="year" [nzLabel]="year"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">First Arrival Month</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="firstArrivalMonth" style="width:100%">
                    <nz-option *ngFor="let month of getMonths()" [nzValue]="month" [nzLabel]="month"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Visa Code</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <input type="text" nz-input nzSize="default" formControlName="visaCategory">
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Main Language</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="homeLanguage" style="width:100%">
                    <nz-option *ngFor="let list of languages" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Accomodation</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="dexAccomodation" style="width:100%">
                    <nz-option *ngFor="let list of accomodations" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Is Homeless</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <label nz-checkbox formControlName="isHomeless"></label>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">House Hold Composition</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="householdComposition" style="width:100%" >
                    <nz-option *ngFor="let list of householdCompositions" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Main Source of Income</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="mainIncomSource" style="width:100%" >
                    <nz-option *ngFor="let list of IncomeSource" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Income Frequency</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="incomFrequency" style="width:100%" >
                    <nz-option *ngFor="let list of IncomeFrequency" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Income Amount </label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <input type="text" nz-input nzSize="default" formControlName="incomeAmount">
            </div>
        </div>

        <div nz-row class="row">
            <h3>Disabilities</h3>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Intellectual Learning</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="intellectualLearning"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Psychiatric</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="psychiatric"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Sensory/Speech</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="sensory"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Physical/Diverse</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="physical"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Not Stated/Inadequately Described</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="inadequatelyDescribed"></label>
            </div>
        </div>

        <div nz-row class="row">
            <h3>Consents</h3>
        </div>
  
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Provide Information Consents</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="infoConsent"></label>
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Future Contact Consents</label>
            </div>
            <div nz-col nzSpan="12" class="input">

                <label nz-checkbox formControlName="contactConsent"></label>
            </div>
        </div>

    </div>
</div>