<div nz-row >
    <nz-tabset *ngIf="user" [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab nzTitle="General" (nzClick)="view(0)"> </nz-tab>
        <nz-tab nzTitle="Disabilities"    (nzClick)="view(1)"> </nz-tab>        
    </nz-tabset>
    <div *ngIf="tabFindIndexScope == 0" [formGroup]="inputForm">
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="12">
                <label><b>DSS Data Exchange</b></label>
            </div>
            <div nz-col nzSpan="11" class="text-right pad-r-5">
                <label class="redColor"><b>Exclude From Mds : </b></label>
            </div>
            <div nz-col nzSpan="1" class="text-right pad-r-5">
                <label nz-checkbox formControlName="flag"></label>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Referral Purpose :</label>
            </div>
            <div nz-col nzSpan="11">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5"  class="text-right pad-r-5">
                <label>Referral Source :</label>
            </div>
            <div nz-col nzSpan="11">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
            <div nz-col nzSpan="4" class="text-center">
                <label>Referral Type : </label>
            </div>
            <div nz-col nzSpan="4">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="10"  class="text-right pad-r-5">
                    <label>Assistance Reasons :</label>
                </div>
                <div nz-col nzSpan="14">
                    <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="12">
                <div nz-col nzSpan="11" class="text-center mrg-btm-2">
                    <label>prim Assistance Reasons : </label>
                </div>
                <div nz-col nzSpan="13" class="mrg-btm-2">
                    <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                    </nz-select>
                </div>
                <div nz-col nzSpan="11" class="text-center mrg-btm-2">
                    <label>Exit Reason if Applicable : </label>
                </div>
                <div nz-col nzSpan="13" class="mrg-btm-2">
                    <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
            </div>
            <div nz-col nzSpan="6">
                <label nz-checkbox formControlName="flag"> Consent To Provide Information</label>
            </div>
            <div nz-col nzSpan="6">
                <label nz-checkbox formControlName="flag"> Consent For Future Contact</label>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Sex : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="8">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Indeignous Status : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>DVA Status : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Has A Carer : </label>
            </div>
            <div nz-col nzSpan="1">
                <label nz-checkbox formControlName="flag"></label>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Country Of Birth : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>First Arrival Year : </label>
            </div>
            <div nz-col nzSpan="2">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
            <div nz-col nzSpan="2" class="text-right pad-r-5">
                <label> Month : </label>
            </div>
            <div nz-col nzSpan="2">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
            <div nz-col nzSpan="2" class="text-right pad-r-5">
                <label> Visa Code : </label>
            </div>
            <div nz-col nzSpan="2">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
            <div nz-col nzSpan="3" class="text-right pad-r-5">
                <label> Ancestory : </label>
            </div>
            <div nz-col nzSpan="6">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Main Language : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Accomodation : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Household Composition : <span class="redColor"><b>(M)</b></span> </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
            <div nz-col nzSpan="4" class="text-right pad-r-5">
                <label nz-checkbox formControlName="flag">Is Homeless</label>
            </div>
        </div>
        <div nz-row nzJustify class="mrg-btm-half">
            <div nz-col nzSpan="5" class="text-right pad-r-5">
                <label>Main Source Of Income : </label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                    <nz-option *ngFor="let list of branches" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                </nz-select>
            </div>
        </div>
    </div>
    <div *ngIf="tabFindIndexScope == 1">
        <div nz-row >
            <div nz-col nzSpan="24" [formGroup]="inputForm">
                <nz-divider nzText="Disabilities" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5" style="padding: 7px 0px;">
                        <label class="redColor"><b>(M)</b></label>
                    </div>
                    <div nz-col nzSpan="18" style="padding: .5rem 1rem;">
                        <label nz-checkbox formControlName="flag" disabled>Has Disabilities </label>
                    </div>
                </div>    
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6">
                        
                    </div>
                    <div nz-col nzSpan="12" style="border: 1px solid #e8e8e8;">
                        <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Psychiatric</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Sensory/Speech</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Physical/diverse</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Chronic</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Not Stated/Inadequately described</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>