<div nz-row >
    <nz-tabset *ngIf="user" [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab nzTitle="General Demographics" (nzClick)="view(0)"> </nz-tab>
        <nz-tab nzTitle="Functional Status"    (nzClick)="view(1)"> </nz-tab>
        <nz-tab nzTitle="Carer Date"      (nzClick)="view(2)"> </nz-tab>
        <nz-tab nzTitle="QCSS Data"      (nzClick)="view(3)"> </nz-tab>
    </nz-tabset>
    <div *ngIf="tabFindIndexScope == 0">
        <div nz-row >
            <div nz-col nzSpan="24" [formGroup]="inputForm">
                <nz-divider nzText="QCSS MDS - GENERAL" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label for="Name">First Given Name :</label>
                    </div>
                    <div nz-col nzSpan="6">
                        <input nz-input placeholder=""  formControlName="title" />
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label for="Family Name/Surname">Family Name/Surname :</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <input nz-input placeholder=""  formControlName="title" />
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label for="Date Of Birth">Date Of Birth :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-date-picker formControlName="title" [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Sex :</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of genderlist" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Country of Birth :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of countries" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Main Language At Home :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of languages" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Indeignous Status :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch  formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of indigniousStatus" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Living Arrangments:</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of livingArrangemnts" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Accomodation Setting :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of accomodationSetting" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Gov't Pension Status :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of pensionAll" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>DVA Card Holder Status :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of dvaCardStatus" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Suburb/Pcode :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <input nz-input placeholder=""  formControlName="title" readonly />
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Referral Source :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear nzShowSearch formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of referalSource" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
            </div>    
        </div>    
    </div>
    
    <div *ngIf="tabFindIndexScope == 1">
        <div nz-row >
            <div nz-col nzSpan="24" [formGroup]="inputForm">
                <nz-divider nzText="QCSS MDS - Functional Status" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Housework :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.housework" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Transport :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.transport" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Shopping :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.shopping" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Medication :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.medication" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Money :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.money" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Walking :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.walking" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Bath/Shower :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.bathShower" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Memory Probs/Confusion :</label>
                    </div>
                    <div nz-col nzSpan="4">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.confusion" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Behavioural Problems :</label>
                    </div>
                    <div nz-col nzSpan="4">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.behaviouralProblems" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Communication :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.communication" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Dressing :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.dressing" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Eating :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.eating" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Toileting :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.toileting" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label>Getting Up/Moving :</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select nzShowSearch nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of functionalStatus.gettingUp" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tabFindIndexScope == 2">
        <div nz-row >
            <div nz-col nzSpan="24" [formGroup]="inputForm">
                <nz-divider nzText="QCSS MDS - Carer Data" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label>Carer-Existance Of :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of carerRecipientList" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label>Primary Carer :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of carerAvailabilityList" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label>Residency Status :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of carerResidencyList" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label>Relationship to Recipient :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of carerRelationshipList" [nzValue]="list" [nzLabel]="list"></nz-option>                           
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label>Carer For More Than 1 :</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <label nz-checkbox formControlName="flag"></label>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div *ngIf="tabFindIndexScope == 3">
        <div nz-row >
            <div nz-col nzSpan="24" [formGroup]="inputForm">
                <nz-divider nzText="QCSS Data" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nz-checkbox formControlName="flag">Has Disabilities </label>
                    </div>
                    <div nz-col nzSpan="8" style="border: 1px solid #e8e8e8;">
                        <div class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Psychiatric</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Sensory</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Physical</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Chronic</label>
                            </div>
                            <div nz-col nzSpan="24">
                                <label nz-checkbox formControlName="flag">Not Stated/Inadequately described</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label> Residency Visa / Status : </label>
                    </div>
                    <div nz-col nzSpan="4">
                        <nz-select nzAllowClear formControlName="title" [nzDropdownMatchSelectWidth]="false">
                            <nz-option [nzValue]="'MEDICARE'" [nzLabel]="'MEDICARE'"></nz-option>
                            <nz-option [nzValue]="'VISA'" [nzLabel]="'VISA'"></nz-option>
                        </nz-select>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>