<div nz-row >
    <div nz-row  [formGroup]="inputForm" nzGutter="16">
        <div nz-row >
            <div nz-col nzSpan="10" style="margin-bottom:20px">
                <label style="font-size:14px">National And State Datasets</label>     
                <label style="font-size:14px">State QCCS/HACC Dataset Information</label>            
               
            </div>
        </div>
        <div nz-row class="row">
            <h3>General  Demographics</h3>
        </div>
      
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Referral Source</label>
            </div>
          
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="referralSource" style="width:100%">
                    <nz-option *ngFor="let list of referalSource" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Country of Birth</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="countryOfBirth" style="width:100%">
                    <nz-option *ngFor="let list of countries" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Main Language</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="homeLanguage" style="width:100%">
                    <nz-option *ngFor="let list of languages" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Indigenous Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="indiginousStatus" style="width:100%">
                    <nz-option *ngFor="let list of indigniousStatusList" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Living Arrangements</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="livingArrangements" style="width:100%">
                    <nz-option *ngFor="let list of livingArrangemntslist" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
          
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Accomodation Settings</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="dwellingAccomodation" style="width:100%">
                    <nz-option *ngFor="let list of accomodationSetting" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
          
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Pension Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="pensionStatus" style="width:100%">
                    <nz-option *ngFor="let list of pensionAll" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
          
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">DVA Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="haccdvaCardHolderStatus" style="width:100%">
                    <nz-option *ngFor="let list of dvaCardStatus" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
          
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Residency Status</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="residencyVisaStatus" style="width:100%">
                    <nz-option *ngFor="let list of residenyStatus" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
          
        </div>
        <div nz-row class="row">
            <h3>Daily Living</h3>
        </div>

       
       
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can do House Work? </label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP1_Housework" style="width:100%">
                    <nz-option *ngFor="let list of housework" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can Transport?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP2_WalkingDistance" style="width:100%">
                    <nz-option *ngFor="let list of transport" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can do Shopping?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP3_Shopping" style="width:100%">
                    <nz-option *ngFor="let list of shopping" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can take medication?</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP4_Medicine" style="width:100%">
                    <nz-option *ngFor="let list of medication" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can look after money?</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP5_Money" style="width:100%">
                    <nz-option *ngFor="let list of money" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can walk?</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP6_Walking" style="width:100%">
                    <nz-option *ngFor="let list of walking" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Can bath/shower</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP7_Bathing" style="width:100%">
                    <nz-option *ngFor="let list of bathShower" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">   
                <label for="">Has poor memory/confusion?</label>
            </div>
            <div nz-col nzSpan="12">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP8_Memory" style="width:100%">
                    <nz-option *ngFor="let list of confusion" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
               
            </div>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Has behavior problems</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fP9_Behaviour" style="width:100%" >
                    <nz-option *ngFor="let list of behaviouralProblems" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can Communicate?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fpA_Communication" style="width:100%" >
                    <nz-option *ngFor="let list of communication" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can dress self?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fpA_Dressing" style="width:100%" >
                    <nz-option *ngFor="let list of dressing" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can eat?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fpA_Eating" style="width:100%" >
                    <nz-option *ngFor="let list of eating" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can got to toilet?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fpA_Toileting" style="width:100%" >
                    <nz-option *ngFor="let list of toileting" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Can get up and move around?</label>
            </div>
            <div nz-col nzSpan="12" class="input">
                <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="fpA_GetUp" style="width:100%" >
                    <nz-option *ngFor="let list of gettingUp" [nzValue]="list" [nzLabel]="list"></nz-option>
                </nz-select>
            </div>
        </div>
     

        <div nz-row class="row">
            <h3>Carer Status</h3>
        </div>

        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Carer Availability</label>
            </div>
            
                <div nz-col nzSpan="12" class="input">
                    <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="carerAvailability" style="width:100%" >
                        <nz-option *ngFor="let list of carerAvailabilityList" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </div>              
            
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Primary Carer</label>
            </div>
           
                <div nz-col nzSpan="12" class="input">
                    <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="datasetCarer" style="width:100%" >
                        <nz-option *ngFor="let list of carerRecipientList" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </div>
              
            
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Carer residency status</label>
            </div>
           
                <div nz-col nzSpan="12" class="input">
                    <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="carerResidency" style="width:100%" >
                        <nz-option *ngFor="let list of carerResidencyList" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </div>
              
            
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Carer relationship</label>
            </div>
           
                <div nz-col nzSpan="12" class="input">
                    <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="carerRelationship" style="width:100%" >
                        <nz-option *ngFor="let list of carerRelationshipList" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>
                </div>
              
            
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Carer for more than one</label>
            </div>
           
                <div nz-col nzSpan="12" class="input">
                    <label nz-checkbox formControlName="careR_MORE_THAN_ONE"></label>
                  
                </div>
              
            
        </div>
        <div nz-row class="row">
            <h3>Disability if any </h3>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Psychiatric</label>
            </div>
            <div nz-col nzSpan="12">

                <label nz-checkbox formControlName="psychiatric"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Sensory</label>
            </div>
            <div nz-col nzSpan="12">

                <label nz-checkbox formControlName="sensory"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Physical</label>
            </div>
            <div nz-col nzSpan="12">

                <label nz-checkbox formControlName="physical"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Chronic</label>
            </div>
            <div nz-col nzSpan="12">

                <label nz-checkbox formControlName="chronic"></label>
            </div>
        </div>
        <div nz-row class="row">
            <div nz-col nzSpan="6" class="layer">
                <label for="">Not Stated/Inadequately Described</label>
            </div>
            <div nz-col nzSpan="12">

                <label nz-checkbox formControlName="inadequatelyDescribed"></label>
            </div>
        </div>

      
    </div>
</div>