/* You can add global styles to this file, and also import other style files */


/* Angular Calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* NGX Datatables */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

/* *{
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
} */


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



checkbox.chk-block{
    display:block;
}

.loader-container{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #585858;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }




textarea{
    resize:none !important;
    height:135px;
}

.home-wrapper{
    padding-top:12px;
}

ul.bullet-none{
    background:#fff;
    cursor:pointer;
}
ul.bullet-none li{
    height: 1rem;
    list-style: none;
    display: table;
    min-width: 3rem;
    width:100%;
    padding: 8px 10px;
}
ul.bullet-none li span{
    display:table-cell;
    vertical-align: middle;
}
.active-tab{
    background: #177dff !important;
    color: #fff !important;
}
.space-wrapper{
    background: #fff;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
}

.contact-list{
    padding: 7px;
    cursor:pointer;
    position:relative;
}
.contact-list.active{
    border:1px solid #e8e6e6;
    background:#fff;
}
.contact-list h4{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}
.contact-list p{
    font-size:12px;
    font-weight:500;
    margin:0;
}
.contact-list i{
    float: left;
    font-size: 14px;
    margin-right: 12px;
    margin-top:5px;
    color: #929292;
}
.contact-list span{
    font-size:12px;
}
.contact-list:hover{
    background:#fff;
}

.contact-list:hover div > .tab-controls{
    visibility: visible;
}
.tab-controls i{
    cursor:pointer;
}

button.custom-btn{
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding-right: 14px;   
}
button.custom-btn i{
    float:left;
    margin-right:10px;
}

button.custom-btn.warning{
    background: #ff8c16;
}
button.custom-btn.warning:hover{
    background:#ff9d38;
}

button.add{
    background: #76cd80;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding-right: 14px;    
}

button.edit{
    background: #ffd921;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding-right: 14px;    
}

button.delete{
    background: #ff6060;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding-right: 14px;    
}

button.add:disabled{
    background:#c6bcbc;
}
button.add:not([disabled]):hover{
    background:#61c46c;
}
button.add i{
    float: left;
}

.tab-controls{
    float:right;
    visibility: hidden;
}


i.edit{
    padding: 5px;
    color: #7e7e7e;
    font-size: 16px;
    border-radius: 50%;
    cursor:pointer;
    transition:0.1s;
}

i.edit:hover{
    color:#507ca2;
    background:#e2dfdf;
}

i.delete{
    padding: 5px;
    color: #7e7e7e;
    font-size: 16px;
    border-radius: 50%;
    cursor:pointer;
    transition:0.1s;
}
i.delete:hover{
    color:#ff6565;
    background:#e2dfdf;
}
.logo{
    background:url(./assets/logo/header-logo.png) no-repeat;
    background-size: contain;
    background-position:center;
    margin-bottom:1rem; 
    height: 2rem;
    width: 100%;
}
.logo-header{
    background:url(./assets/logo/header-logo.png) no-repeat;
    background-size: contain;
    margin-right: 15px;
    height: 30px;
    width: 65px;
}
.login-wrapper{
    background:linear-gradient(rgb(25, 164, 234), rgb(0, 82, 124)) !important;
}
.login-wrapper .login{
    z-index:1;
}
.back-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#0079b87a, #639ab7c7, #0079b88a), url(../../ClientApp/src/assets/bg.jpg) no-repeat center;
    background-size: cover;  
}
.alert{
    padding:0 !important;
}
table.table-controls th:last-child{
    width: 3rem;
    background: #e2e2e2;
}

table.table-controls td:last-child{
    background: #f3f3f3;
    width: 3rem;
}

div.content-area{
    padding:0 !important
}

.tabs-custom{
    list-style:none;
    white-space: nowrap;
}
.tabs-custom li{
    position:relative;
    display: inline-block;
    margin-right: 10px;
    padding: 0 8px;
}
.tabs-custom li:hover{
    background:#f4f4f4;
    cursor:pointer;
}
.tabs-custom li:hover > ul.sub-level{
    display:block;
}
.sub-level{
    display:none;
    position:absolute;
    background:#fff;
    right:0;
    z-index:10;
}
.sub-level li{
    display:block;      
    margin:0;      
}
.sub-level li.active{
    border-bottom:2px solid #41688a;
}

.modal-backdrop{
    background-color:#4f4f4f59 !important;
}

.no-modal-footer{
    border-top:none !important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

i.icons{
    font-size:16px !important;
}

label{
    font-weight:bold;
}
.col-fl{
    float:left;
}
input{
    width:100%;
}

body bs-modal.modal {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1050 !important;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch !important;
    outline: 0 !important;
}

.modal-cancel{
    overflow-x: inherit !important;
    overflow-y: inherit !important;
    display:inline-block !important;
}

.pad{
    padding:12px 0;
}

.tab-title{
    color: #563d3d; 
    margin: 0 0 1rem 0;
}

.profile-wrapper{
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    display:inline-block;
}

/* class inside recipient and staff html */
.data-contents {
    margin-top:10px;
}

.profile{
    /* background-image: url(./assets/logo/profile.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 3rem;
    margin: 0 auto;
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.row-wrap{
    margin:0.5rem 0;
}

.delete-i{
    background: #f23030;
    font-size:14px !important;
    cursor:pointer;
    color: #fff;
    border-radius: 50%;
}
.add-options{
    float:right;
}

.add-i{
    background: #63a263;
    font-size:16px !important;
    cursor:pointer;
    color: #fff;
    border-radius: 50%;
}

bs-modal.modal{
    padding:0;
}

/* alert */
.alert-notify{
    transform: translateY(50%);
    opacity:1 !important;
}
.alert-pos{
    position: fixed;
    width: 12rem;
    z-index: 5;
    left: 0;
    right: 0;
    top: 2rem;
    opacity:0;
    transition: opacity .3s,transform .4s;
    margin: 0% auto;
}
clr-alert > div{
    padding:0 !important;
}

tr > td {
    font-size:12px !important;
}


/* Colors Options */
.label-options{
    border:0;
    background:#948d8d;
    border:1px solid #fff !important;
    color:#fff !important;
    border-top-left-radius:7px !important;
    border-top-right-radius:7px !important;
    margin: 0 -7px !important;
}
.label-options:hover:not(.active){
    background:#808080 !important;
}
.label-options.active{
    background: #177dff;
    position: relative;
    font-size: 12px;
    height: 1.2rem;
}

.input-limit-width{
    max-width: 8rem;
    display: flex !important;
}

.form-group-flex{
    display: flex;
    padding-left: 3.4rem;
}

/* .form-group-flex select{
    margin:0 !important;
} */

.form-group-flex label{
    position: absolute;
    left:10px;
}

i.picked-contacted{
    position: absolute;
    top: 10px;
    font-size: 30px;
    right: -4px;
    background: #fff;
    display:none;
}
i.picked-contacted.active{
    display:block !important;
}
.staff-controls li a{
    padding:0 8px;
}

select{
    display:block;
    width:100%;
    font-size: 14px;
    height: 1rem;
}

select.bdate{
    display: unset;
    width: auto;
}

td{
    vertical-align:middle !important;
}

.margin-none{
    margin:0;
}

.table>thead>tr>th{
    vertical-align: middle !important;
    font-weight: 100;
}
i.ins-save{
    position: absolute;
    font-size: 25px;
    color: #c1c1c1;
    top: 0;
    right: 20px;
    padding: 5px;
    margin-top:7px;
    cursor: pointer;     
}
i.ins-save:hover{
    border-radius:50%;
    background:#d9e4ea ;
    color:#6f6d6d;
}

select:disabled{
    background: #f5f5f5;
    border: 0;    
    cursor: not-allowed;
}

.form-group input[type="text"]{
    height: 0.9rem;
}

.clr-vertical-nav{
    -webkit-box-shadow: 1px 0px 10px 0px rgb(223, 223, 223);
    -moz-box-shadow: 1px 0px 10px 0px rgb(223, 223, 223);
    box-shadow: 1px 0px 10px 0px rgb(223, 223, 223);
    background:#f6f6f6 !important;
}

table{
    table-layout: fixed;
}

table tr td{
    word-break: break-all;
}

.shadow{
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
}

.recurring-group{
    border: 1px solid #ececec;
    padding-top: 10px;
    border-radius: 3px;
}



.table-mark{
    border: 1px solid #cecece;
    border-radius: 3px;
    margin-top:10px;
}
.table-title{
    display: flex;
    background: #5681a5;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px solid #cecece;
    padding-right: 17px;
}

.table-title div{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    line-height: 1em;
    width: 100%;
    flex:1;
}

.table-body > div:nth-child(even){
    background: #fbfbfb;
    border-bottom: 1px solid #f1f1f1;
}

.table-body{
    overflow-y: scroll;
    max-height: 4rem;
}

.table-data{
    display: flex;
}
.table-data div{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1em;
    width: 100%;
    flex:1
}
.table-frame{
    max-height: 13.5rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}
.table-frame .title{
    border-bottom: 1px solid #e8e8e8;
    background: #2c4f6d;
    color: #fff;
    padding: 3px 5px;
    font-weight: 500;
}
.table-frame .body{
    display:flex
}
.table-frame .body .date{
    flex: 0 0 40%;
    padding:10px;
}
.table-frame .body .detail{
    flex: 0 0 60%;
    padding: 10px;
    border-left: 1px solid #e2e2e2;
}
.table-frame > div{
    margin: 10px 5px 5px 5px;
}


.table-toggle-wrapper{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #cacaca;
}
.table-toggle-wrapper div{
    flex:1;
    padding:3px 5px;
    border-left: 1px solid #cacaca;
}
.table-toggle-container{
    overflow-y: scroll;
    max-height: 10rem;
    border-bottom:1px solid #cacaca;
}
.flexy-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.aris-container{
    display: inline-block;
    width:100%;
    padding-bottom: 10px;
}

.flex-2{
    display: flex;
    flex:1;
}

.duration-wrapper{
    background: #f1f1f1;
    border: 1px solid #d6d6d6;
}

.btn-mark{
    background: #49d27e;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 8px;
    cursor:pointer;
}
.btn-mark:hover{
    background:#4fdf87;
}

table.selectable tbody tr{
    cursor:pointer;
}
table.selectable tbody tr:not(.selected):hover{
    background-color: #f5f5f5;
}
.group-wrap{
    display:inline-block;
    border-radius:3px;
    border: 1px solid #c1c1c1;
    padding:5px;
    width:100%;
}



/* ------------------- */

.package-header{
    font-size: 17px;
    padding: 5px;
    margin: 0;
    color: #3c507d;
}
.package-table th{
    font-size:15px;
    padding: 5px !important;
}
.package-table th:nth-child(even){
    background: #10a4d9 !important;
    color: #fff !important;
}
.package-table th:nth-child(odd){
    background: #12b6f1 !important;
    color: #fff !important;
}
.total-title{
    background: #81ff81;
    padding: 11px;
}
.total-price{
    background: #c5ffc5;
    padding:11px;
}
table.package-table tr.table-content td{
    padding-left:1rem;
}
table.package-table tr.table-content:hover{
    background:#cbeaff;
}
.table-vertical th,td{
    font-size:11px;
}

section.form-block div.form-group label{
    width: 7rem;
    display: inline-block;
}
.user-container{
    padding:0.5rem 0;
    font-size:12px;
}
.user-wrapper{
    display:inline-block;
    min-width:10rem;
}
.user-wrapper p {
    margin:0;
}
.user-wrapper ul {
    list-style:none;
}
.user-wrapper ul li{
    float:left;
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin:2px;
}
.user-wrapper ul li label{
    display:block;
}
.notice{
    font-size: 11px;
    padding: 5px;
    border: 1px solid #eeeeee;
}

bs-modal.no-overflow div.modal-dialog div.modal-content bs-modal-body div.modal-body{
    display: inline-block;
    width: 100%;
    overflow: inherit;
}

clr-modal.no-overflow div.modal-body{
    display: inline-block;
    width: 100%;
    overflow: inherit;
}

clr-modal.daymanager div.modal-content{
    padding: 6px 0 6px 1rem !important;
}

clr-modal.daymanager div.modal-header{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}


.form-inline{
    display:flex;
}
.form-inline label.align-right{
    text-align: right;
    margin-right: 10px;
}

.form-inline label{
    flex:1;
}

.form-inline .nth{
    flex:8;
}
.form-inline .nth-4{
    flex:4;
}

.form-inline .nth-1{
    flex:1;
}
.form-inline .nth-80{
    flex: 80%
}
.form-inline .nth-20{
    flex: 20%
}
.form-inline .nth-50{
    flex: 50%
}

bs-modal.super-lg div.modal-dialog{
    width:50rem !important;
}

bs-modal.hyper-lg div.modal-dialog{
    width:85% !important;
}

.table-wrap{
    max-height: 15rem; 
    overflow: auto; 
    margin-top: 10px;
}
.table-wrap tr th:first-child {
  border-left: 1px solid #dfdfdf;
}
.table-wrap tr td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-wrap tr td:nth-child(even){
    background:#f3f3f3;
}
.table-wrap tr th{
    position: sticky;
    top:0px;
    border-top: 1px solid #dfdfdf !important;
}

.stretch-table {
  width: inherit !important;
}

.sticky{
    position:sticky !important;
    top:0;
}


bs-modal.roster-modal .modal-dialog{
    width:90% !important;
}

bs-modal.roster-modal .modal-dialog{
    width: 85% !important;
    max-width: 55rem;
    height:90%;
}

bs-modal.xlg-modal .modal-dialog{
    width:90% !important;
}

bs-modal.xhlg-modal .modal-dialog{
    width: 75%!important;
    min-width: 50rem;
    height: 90%;
}

bs-modal.xhlg-modal .modal-dialog .modal-content{
    height:100%;
}

bs-modal.xhlg-modal .modal-dialog .modal-content bs-modal-body .modal-body{
    height:100%;
    max-height:none;
}

.pad{
    padding:15px;
}


.wj-viewer {
    width: 100%;
    display: block;
}

.report-names {
    margin: 10px;
}

@media print {
    .report-names {
        display: none;
    }
}

.chkbox-wrapper-parent{
    display:flex;
}

.chkbox-wrapper-child:nth-child(1){
    flex:2;
}

.chkbox-wrapper-child{
    flex:1;
}

.document-wrapper > iframe{
    width: 100%;
    height: 100%;
    border: 1px solid beige;
    outline: none;
}
.document-wrapper{
    height: 100%;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-top:15%;
}

div.searchbox{
    margin: 0 auto;
    width: 15rem;
}

div.searchbox input{
    padding-bottom: 8px;
    text-transform: uppercase;
}

.align-right{
    text-align:right !important;
}
.align-left{
    text-align:left !important;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50% !important;
}
.quote-options{
    display:flex;
    justify-content: space-between;
}
.quote-options input[type=text]{
    width: 2rem;
    min-width: inherit;
}
.form-inline select{
    min-width: 2rem;
}
tr.selected{
    background:#dfedff;
}


.display-table {
    display: table;
    line-height: 25px;
}
.display-table > div { 
    display: table-row; 
}
.display-table > div > div { 
    display: table-cell;
    padding: 2px 5px;
}
.display-table  > div > div:first-child{
    text-align: right;
}
.display-table input{
    max-width: 4rem;    
    min-width: auto;
    width:3rem;
}
.display-table input:disabled{
    width: 3rem;
    border: 0;
}
.display-table.minimize input{
    min-width: auto;
    width:2.3rem;
}
.space-bottom{
    margin-bottom:12px;
}
hr {
    display: inline-block;
    width: 100%;
    margin: 12px !important;
}

tr th{
    text-align:left !important;
}

tr td{
    text-align:left !important;
}

.money{
    width:4rem;
}
.index{
    width:1rem;
}