<div style="padding:8px;">



    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
        <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
        <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
        <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
            <thead>
                <tr>
                    <th class="left">Title</th>
                    <th class="left">Type</th>
                    <th class="left">Category</th>
                    <th class="left">Classification</th>
                    <th class="left">Template</th>
                    <th class="left">End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;" [class.highlight]="currentIndex === i">
                    <td class="left">{{ data.title  }} </td>
                    <td class="left">{{ data.type  }} </td>
                    <td class="left">{{ data.category  }} </td>
                    <td class="left">{{ data.description }} </td>
                    <td class="left">{{ data.template  }} </td>
                    <td class="left">{{ data.end_date | date: 'dd/MM/y' }}</td>
                    <td *ngIf="data.is_deleted == 'False' || data.is_deleted == 'false' || data.is_deleted == '' ">
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Document Template List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                    </td>
                    <td *ngIf="data.is_deleted == 'True' || data.is_deleted == 'true' ">
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in Document Template List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="activateDocument(data)">Activate</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzWidth]="700" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
        </nz-steps>
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                        <label nzFor="title">Title:</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <input nz-input [nzSize]="'small'" formControlName="title" required />
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                        <label nzFor="List Type">Type:</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="type" nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let ltype of listType" [nzValue]="ltype" [nzLabel]="ltype"></nz-option> 
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                        <label for="Filling Classification" >Classification:</label>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-select [nzDropdownMatchSelectWidth]="false"  [nzSize]="'small'" formControlName="description" nzShowSearch nzAllowClear style="width:100%;" ng-init="ALL = staff[0]" 
                        ng-model="ALL" > 
                        <nz-option *ngFor="let class of fileClass;let i = index;" [nzValue]="class.name" [nzLabel]="class.name" ></nz-option> 
                    </nz-select>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="5" class="text-right pad-r-5">
                    <label for="Document Category" >Category:</label>
                </div>
                <div nz-col nzSpan="12">
                    <nz-select   [nzDropdownMatchSelectWidth]="false" [nzSize]="'small'" formControlName="category" nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let cat of docCat;let i = index;" [nzValue]="cat.name" [nzLabel]="cat.name"></nz-option> 
                    </nz-select>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="5" class="text-right pad-r-5">
                    <label nz-checkbox   formControlName="can_create"></label>
                </div>
                <div nz-col nzSpan="12">
                    Can Create
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="5" class="text-right pad-r-5">
                    <label for="Template" >Template:</label>
                </div>
                
                <div nz-col nzSpan="11">
                    <textarea rows="2" nz-input  formControlName="template"></textarea>
                </div>
                <div nz-col nzSpan="3">
                    <app-upload-shared [(ngModel)]="user" (reload)="reload($event)" [ngModelOptions]="{standalone: true}"></app-upload-shared>
                </div>
            </div>
            <div nz-row nzJustify class="mrg-btm">
                <div nz-col nzSpan="5" class="text-right pad-r-5">
                    <label for="Template" >End Date:</label>
                </div>
                <div nz-col nzSpan="4">
                    <nz-date-picker [nzSize]="'small'" formControlName="end_date" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]= "!inputForm.get('title').value || !inputForm.get('type').value" (click)="save()" *ngIf="current === 0">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>