
<div class="daymanager-wrapper">
    <div class="header-wrapper" [class.fixed]="fixedHeader">
        <h3 class="date-month-name noselect">
            <i class="material-icons left" (click)="previousDate()"> keyboard_arrow_left </i>{{ startDate | date: 'MMMM yyyy' }} 
            <i class="material-icons right" (click)="futureDate()"> keyboard_arrow_right </i>
        </h3>
        <div class="date-wrapper">
            <div *ngFor="let day of days"
                    class="cell"
                    [class.five]="dayView == 5"
                    [class.seven]="dayView == 7"
                    [class.ten]="dayView == 10"
                    [class.fourteen]="dayView == 14">
                <div *ngIf="day == null" class="x-cancel">
                    <span *ngIf="akonani?.length > 0">{{ akonani?.length }} selected</span>
                </div>
                <div *ngIf="day">
                    <div><h5>{{ day | date: 'MMM dd' }}</h5></div>
                    <div><span>{{ day | date: 'EEE' }}</span></div>
                </div>
            </div>
        </div>
    </div>
        <ng-container *ngIf="!loading">
            <div class="body-wrapper noselect" *ngFor="let data of daymanager">
                <ng-container *ngFor="let day of days; let i = index">
                    <div class="cell"                              
                        [attr.date]="day"
                        [class.roster-container]="i > 0"
                        [class.five]="dayView == 5"
                        [class.seven]="dayView == 7"
                        [class.ten]="dayView == 10"
                        [class.fourteen]="dayView == 14"
                        (mousedown)="deselect(null,$event)"
                        (drop)="drop($event);$event.stopPropagation()"
                        (dragover)="dragOver($event)">
                        <div *ngIf="i == 0">
                            <div>
                                <span *ngIf="data?.key.indexOf('BOOKED') > -1">UNASSIGNED BOOKINGS</span>
                                <span *ngIf="!(data?.key.indexOf('BOOKED') > -1)">{{ data?.key }}</span>
                            </div>
                            <div style="font-size:10px;color:#16c516">{{ data?.value[0].StaffCategory}}</div>
                        </div>
                        <ng-container *ngIf="i > 0">
                            <ng-container *ngFor="let value of data.value | dmz: day ">
                                <div class="data" *ngIf="!value.isLast && !value.isNone"                         
                                    
                                    (dragstart)="dragStart($event,value)"
                                    (dragend)="dragEnd($event)"         
                                    (dblclick)="showDetail.emit(value)"
                                    (mouseenter)="mouseenter($event, value)"
                                    (mousedown)="mousedown($event,value)"
                                    (mousemove)="mousemove($event,value)"
                                    [class.selected]="value.isSelected">
                                    
                                    <div class="approve-logo"><i class="material-icons" *ngIf="value.status == '2'"> done </i></div>
                                    <div class="service-logo" [style.background-position]="getPositionImg(value)"></div>
                                    
                                    <strong>{{ value.StartTime}}-{{ value.EndTime }}</strong>
                                
                                    <i class="material-icons option showOption" option-click (mousedownEmit)="mouseEmitter(value)" (clickEmit)="optionEmitter(value)" > more_horiz </i>                                       
                               
                                    <div class="details">{{ value.Recipient}} * {{ value.Activity}}</div>
                                </div>
                                <div class="data total" *ngIf="value.isLast && !value.isNone">
                                    <span>Total Hours: {{ value.total | number: '1.2-2'}} </span>
                                </div>
                            </ng-container>                        
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <div class="col-md-12 no-data" *ngIf="loading">
            <span class="spinner spinner-md">
                Loading...
            </span>
        </div>
        <div class="col-md-12 no-data" *ngIf="daymanager.length == 0 && !loading">
            <clr-alert [clrAlertClosable]="false">
                <div clr-alert-item class="alert-item">
                    <span class="alert-text">
                        No shifts currently!
                    </span>
                </div>
            </clr-alert>
        </div>

</div>