<div nz-row nz-col>
  <div [formGroup]="NeedsRisksForm">

    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[0]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(0)"
          class="spantext"></span>
        <span *ngIf="showRows[0]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(0)"
          class="spantext"></span>
        <span class="spantext"> Personal Details</span>
      </div>
      <div *ngIf="showRows[0]" style="margin:10px; ">
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Name</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="name" nz-input nzSize="default">
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Address</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <input type="text" formControlName="address" nz-input nzSize="default">
          </div>
        </div>
      </div>
    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[1]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(1)"
          class="spantext"></span>
        <span *ngIf="showRows[1]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(1)"
          class="spantext"></span>
        <span class="spantext"> Gender and Cultural Consideration </span>
      </div>
      <div *ngIf="showRows[1]" style="margin:10px; ">
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Gender of Birth</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="genderOfBirth" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of Genders" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Identity As</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="identity" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of Identities" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Religion</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="religion" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of Religions" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Born in Australia</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="ausBirth" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of borns" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Arrival Year</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="arrivalYear" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of arrivals" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Citizenship Status Year</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="citizenship" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of citizenships" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Primary Language</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="primaryLanguage" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of languages" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Primary Language Fluency</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="primaryLanguageFluency" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of languages" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">Primary Language Literacy</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="primaryLanguageLiteracy" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of languages" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">English Fluency</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="englishFluency" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of languagesfluency" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="4" class="layer">
            <label for="">English Literacy</label>
          </div>
          <div nz-col nzSpan="8" class="input">
            <nz-select formControlName="englishLiteracy" nzSize="default" style="width:100%">
              <nz-option *ngFor="let d of languagesLiteracy" [nzLabel]="d" [nzValue]="d"></nz-option>
            </nz-select>
          </div>
        </div>


      </div>

    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[2]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(2)"
          class="spantext"></span>
        <span *ngIf="showRows[2]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(2)"
          class="spantext"></span>
        <span class="spantext" style="color:rgb(223, 22, 22)"> Alerts & High Risks </span>
      </div>
      <div *ngIf="showRows[2]" style="margin:10px; ">
      
      </div>
    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[3]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(3)"
          class="spantext"></span>
        <span *ngIf="showRows[3]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(3)"
          class="spantext"></span>
        <span class="spantext"> Daily Living </span>
      </div>
      <div *ngIf="showRows[3]" style="margin:10px; ">
        <div nz-row nz-col nzSpan="24" class="row">
          <table style="width:100%">
            <tr>
              <th></th>
              <th>Risks</th>
              <th>Likelihood</th>
              <th>Consequence</th>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can get to places out of walking distance?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="transport" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of transport" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="transportRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="transportLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="transportConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can go  shopping for groceries or clothes?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="shopping" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of shopping" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="shoppingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="shoppingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="shoppingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can take own medicines?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="medication" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of medication" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="medicationRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="medicationLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="medicationConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can handle own money?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="money" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of money" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="moneyRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="moneyLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="moneyConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can walk?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="walking" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of walking" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="walkingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="walkingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="walkingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can take a bath or shower?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="bathShower" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of bathShower" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="bathShowerRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="bathShowerLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="bathShowerConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Money problem or confusion?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="moneyconfusion" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of confusion" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="moneyconfusionRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="moneyconfusionLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="moneyconfusionConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Behavioural issues (aggression, wandering, agit.)?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="behaviouralProblem" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of behaviouralProblems" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="behaviouralProblemRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="behaviouralProblemLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="behaviouralProblemConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can communicate?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="communicate" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of communication" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="communicateRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="communicateLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="communicateConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can dress self?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="dressing" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of dressing" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="dressingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="dressingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="dressingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>

            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can eat?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="eating" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of eating" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="eatingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="eatingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="eatingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can eat?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="eating" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of eating" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="eatingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="eatingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="eatingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can go toilet?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="toileting" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of toileting" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="toiletingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="toiletingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="toiletingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can get up and move around?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="gettingUp" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of gettingUp" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="gettingUpRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="gettingUpLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="gettingUpConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>
            <tr>
              <td width="60%">
                <div style="display:flex; flex-direction:row; ">
                  <div class="layer" style="width:40%">
                    <label for="">Can groom self?</label>
                  </div>
                  <div class="input" style="width:60%">
                    <nz-select formControlName="grooming" nzSize="default" style="width:100%">
                      <nz-option *ngFor="let d of grooming" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                  </div>
                </div>
              </td>
              <td width="15%">
                <div >
                  <nz-select formControlName="groomingRisk" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of risks" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="10%">
                <div  >
                  <nz-select formControlName="groomingLikelihood" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of likelihood" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
              <td width ="15%">
                <div  >
                  <nz-select formControlName="groomingConsequences" nzSize="default" style="width:100%">
                    <nz-option *ngFor="let d of consequences" [nzLabel]="d" [nzValue]="d"></nz-option>
                  </nz-select>
                </div>
              </td>
            </tr>

          </table>
         </div>
         </div>
    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[4]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(4)"
          class="spantext"></span>
        <span *ngIf="showRows[4]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(4)"
          class="spantext"></span>
        <span class="spantext"> Carer Status </span>
      </div>
      <div *ngIf="showRows[4]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[5]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(5)"
          class="spantext"></span>
        <span *ngIf="showRows[5]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(5)"
          class="spantext"></span>
        <span class="spantext"> Living Arrangement, Social support & Emotional Wellbeing </span>
      </div>
      <div *ngIf="showRows[5]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>
    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[6]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(6)"
          class="spantext"></span>
        <span *ngIf="showRows[6]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(6)"
          class="spantext"></span>
        <span class="spantext"> Identified Needs, Current Services, Goals</span>
      </div>
      <div *ngIf="showRows[6]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>

    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[7]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(7)"
          class="spantext"></span>
        <span *ngIf="showRows[7]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(7)"
          class="spantext"></span>
        <span class="spantext"> Physical Health & Medical</span>
      </div>
      <div *ngIf="showRows[7]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>

    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[8]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(8)"
          class="spantext"></span>
        <span *ngIf="showRows[8]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(8)"
          class="spantext"></span>
        <span class="spantext"> Mental Health & Cognition</span>
      </div>
      <div *ngIf="showRows[8]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>

    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[9]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(9)"
          class="spantext"></span>
        <span *ngIf="showRows[9]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(9)"
          class="spantext"></span>
        <span class="spantext">  Health Behaviours</span>
      </div>
      <div *ngIf="showRows[9]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>

    <div nz-row style="margin:15px">
      <div>
        <span *ngIf="!showRows[10]" nz-icon nzType="plus" nzTheme="outline" (click)="show_Rows(10)"
          class="spantext"></span>
        <span *ngIf="showRows[10]" nz-icon nzType="minus" nzTheme="outline" (click)="show_Rows(10)"
          class="spantext"></span>
        <span class="spantext"> Home Safety</span>
      </div>
      <div *ngIf="showRows[10]" style="margin:10px; ">
        <div nz-row class="row">

        </div>
      </div>
    </div>

  </div>
</div>