

.spantext{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: bold;
}

.row{
    margin:5px;
}
nz-select  {
    width: 100%;
    background-color: #cbe8f7 !important;
}


input{
background-color: #cbe8f7;
}

input:focus {
    background-color: #85B9D5;
}   

nz-select:focus {
    background-color: #85B9D5;
}  



.input{
    background-color: #cbe8f7;
    border: 1px solid #cbe8f7;
}
.selected{
    background-color: #85B9D5;
    border: 1px solid #85B9D5;
}


ul{
    list-style:none;
}

div.divider-subs div{
    margin-top:2rem;
}

.layer2 > span{
    width:13rem;
    text-align:right;
}
.layer2 > input{
    width:4rem;
}
.layer2 {
    margin-bottom:5px;
}
.layer2 > *{
    display:inline-block;
    margin-right:5px;
    font-size:11px;
}
nz-select{
    width:12rem;
}

 /* Set background color for the dropdown options */
 :host ::ng-deep .nz-option {
background-color: #cbe8f7 !important; /* Change to your desired background color */
}

:host ::ng-deep  .ant-select-selection   {
    background-color: #cbe8f7 !important;
    }


    /* .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
        background-color: #cbe8f7 !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);
    } */