/* input{
    display:none;
} */

.list-scroll{
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 10;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;
}

.selected-list{
    height: 1rem;
    background: #fff;
    border: 1px solid #c7c7c7;
    cursor:pointer;
    overflow:hidden;
}
.selected-list ul{
    display:flex;
}
.selected-list ul li:first-child{
    margin-left: 5px;
}
.selected-list ul li{
    height: 19px;
    margin-top: 2px;
    border: 1px solid #9a9a9a;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.all{
    background: #0079b8;
    font-weight: bold;
    color: #fff;
}

ul{
    list-style: none;
    white-space: nowrap;
}

.list-scroll ul li{
    padding: 0 10px;
}

.list-scroll ul{
    max-height: 4rem;
    overflow-y: auto;
}

.dynamic-list{
    margin:0 10px;
}

.clr-checkbox-wrapper label{
    font-weight: 100;
}