<div>
    <div class="selected-list" (click)="isHide = !isHide" >
        <ul>
            <li *ngFor="let list of spliced">{{ list }}</li>
            <li *ngIf="showme">+ {{ spillValue }}</li>
            <li *ngIf="all" class="all">ALL</li>
        </ul>
    </div>

    <div class="list-scroll" *ngIf="isHide">
        <ul>
            <li>
                <div class="clr-checkbox-wrapper">
                    <input type="checkbox" id="checkbox1" name="checkbox-basic" value="option1" [ngModel]="all" class="clr-checkbox" (ngModelChange)="allCheckBoxChange($event)">
                    <label for="checkbox1">ALL</label>
                </div>
            </li>
            <li class="dynamic-list" *ngFor="let list of lists;let i = index">
                <div class="clr-checkbox-wrapper">
                    <input type="checkbox" [id]="i" name="checkbox-basic" [(ngModel)]="list.selected" class="clr-checkbox" (click)="onCheckBoxChange()">
                    <label [for]="i">{{ list.name }}</label>
                </div>
            </li>
        </ul>
    </div>

</div>