<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" class="text-center header" (nzOnCancel)="handleCancel()">
    <div class="flexy">
                <div *ngIf="inputForm" [formGroup]="inputForm" style="width: 100%;">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="text-align: left; margin-top: 5px; width: 108%;"> Close Date: </h3>
                        </div>                       
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="4">
                            <nz-date-picker nzPlaceHolder="Close Date" formControlName="dtpEndDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                    <div nz-col nzSpan="2"></div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4" class="text-right">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> All Block Funded </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="chkBlockFunded" (ngModelChange)="checkedStatus(11)" [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" class="text-right">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> All Individual Packages </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="chkIndividualPackages" (ngModelChange)="checkedStatus(12)" [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" class="text-right">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> NON CDC Packages </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="chkNonCDCPackages" (ngModelChange)="checkedStatus(13)" [disabled]="lockNonCDCPackages == true" [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" class="text-right">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> CDC Packages </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="chkCDCPackages" (ngModelChange)="checkedStatus(14)" [disabled]="lockCDCPackages == true" [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div> 
                    </div>

                    <nz-divider style="margin-top: 8px; margin-bottom: 8px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="text-align: left;"> Funding Bodies: </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;">Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" class="uns-button" (click)="uncheckAll(1)">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <!-- <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked" (change)="fetchAll($event)"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div> -->
                                                            <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [disabled]="lockFunding == true" [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="text-align: left;"> Programs: </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;">Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" class="uns-button" (click)="uncheckAll(2)">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col >
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox [disabled]="lockProgram == true" [nzValue]="list.ppName"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.ppName }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="21">
                            <p style="margin: 0px;"></p>
                        </div>
                        <div nz-col nzSpan="2">
                            <button nz-button nzType="primary" class="sav-button" (click)="checkValidation()">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>
    </div>

    <div *nzModalFooter>
        <ng-container>
        </ng-container>
    </div>

</nz-modal>