<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" style="width: 100%;">
            <nz-tab nzTitle="Pay Update">
                <div *ngIf="inputForm" [formGroup]="inputForm">
                    <div nz-row style="height: 30px;">
                        <div nz-col nzSpan="8">
                            <h3 style="color:#1890FF; line-height: 30px;">Timesheet Date:</h3>
                        </div>
                        <div nz-col nzSpan="10" class="text-right pad-r-5">
                            <p style="color:black; text-align: right; line-height: 30px;">Date to Appear on Timesheets :</p>
                        </div>
                        <div nz-col nzSpan="4">
                            <nz-date-picker [nzPlaceHolder]="'Timesheet Date'" formControlName="timesheetDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <div style="height: 14pc;" nz-row></div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-col nzSpan="24" class="mrg-btm" style="background-color:#A4A4A4;">
                        <p style="margin: 0px;"><b>Click Start to commence Update with the selected options ....</b>
                        </p>
                    </div>

                    <div style="height: 4pc;" nz-row></div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-col nzSpan="24" class="mrg-btm" style="background-color:#A4A4A4;">
                        <p style="margin: 0px;"><b>Anticipated Completion ....</b></p>
                    </div>

                    <div style="height: 4pc;" nz-row></div>

                    <nz-divider style="margin-top: 3px;" nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row>
                        <div nz-col nzSpan="21"></div>
                        <div nz-col nzSpan="3">
                            <button nz-button nzType="primary" (click)="startDebUpdate()"
                                style="font-size: 14pt; height: 2.5pc; width: 8pc; float: right;"> Start </button>
                        </div>
                    </div>
                </div>
            </nz-tab>

            <nz-tab nzTitle="Selection Option">

                <div *ngIf="inputForm">

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Dates </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="5" [formGroup]="inputForm">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="dtpStartDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="2">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="5" [formGroup]="inputForm">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="dtpEndDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Branches </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allBranchesChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row *ngFor="let list of branchList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBranches == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Programs </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox
                                                                    [disabled]="lockPrograms?.b_IsDead || lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.title }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Categories </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox
                                                                    [disabled]="lockCategories?.b_IsDead || lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Other Options">
                <div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6">
                            <h3 style="color:#1890FF;"> Other Selection Options </h3>
                        </div>
                    </div>
                </div>

                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>                

                <div style="height: 3pc;" nz-row></div>
                
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8"><label nz-checkbox [(ngModel)]="chkStaffPays"
                        [ngModelOptions]="{standalone: true}">Update Staff Services :</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox [(ngModel)]="chkPayBrokerage"
                        [ngModelOptions]="{standalone: true}">Update Brokered Services :</label>
                    </div>
                </div>
                
                <div style="height: 3pc;" nz-row></div>

            </nz-tab>
            <nz-tab nzTitle="Interface Options">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="10">
                        <h3 style="color:#1890FF;"> Payroll Interface Options </h3>
                    </div>
                    <div nz-col nzSpan="8" class="text-right pad-r-5">
                        <label nz-checkbox >Use Award Interpreted Export File</label>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nz-checkbox >Create Export File</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox >Include
                            Services/Shifts with 0 value</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label nz-checkbox >Include Services/Shifts with Activity coded as
                            RECIPIENT ADMINISTRATION</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label nz-checkbox >Include Services/Shifts with Pay Type coded as
                            ADMIN</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 10px; margin-bottom: 15px;" nzText="" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label style="margin-top: 4px;" >3rd Party Accounting Package : </label>
                    </div>
                    <div nz-col nzSpan="6">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="AccPackage" nzPlaceHolder=""
                            nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let etype of AccountPackage" [nzLabel]="etype" [nzValue]="etype">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="20">
                        <label style="margin-top: 10px; margin-bottom: 1px; font-size: 12pt;"
                            >Location and Name of Export File
                            :</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="20">
                        <input nz-input placeholder=""  />
                    </div>
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary"
                            style="font-size: 14pt; height: 2.4pc; width: 8pc; float: right;"> Save </button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Update History">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="18">
                        <h3 style="color:#1890FF;"> Batch History </h3>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nz-checkbox >Preview Detail</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                    <thead>
                        <tr>
                            <th style="width: 100px;" class="left">OperatorID</th>
                            <th style="width: 100px;" class="left">BatchDate</th>
                            <th style="width: 100px;" class="left">BatchNumber</th>
                            <th style="width: 400px;" class="left">BatchDetail</th>
                            <th style="width: 80px;" class="left">BatchType</th>
                            <th style="width: 100px;" class="left">CDCBilled</th>
                            <th style="width: 100px;" class="left">Date1</th>
                            <th style="width: 100px;" class="left">Date2</th>
                            <th style="width: 100px;" class="left">BillBatch</th>
                            <th style="width: 120px;" class="left">xDeletedRecord</th>
                            <th style="width: 120px;" class="left">xEndDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of batchHistoryList;let i = index;">
                            <td style="width: 100px;" class="left">{{ data.operatorID }} </td>
                            <td style="width: 100px;" class="left">{{ data.batchDate }} </td>
                            <td style="width: 100px;" class="left">{{ data.batchNumber }} </td>
                            <td style="width: 400px;" class="left">{{ data.batchDetail  }} </td>
                            <td style="width: 80px;" class="left">{{ data.batchType  }} </td>
                            <td style="width: 100px;" class="left">{{ data.cdcBilled  }} </td>
                            <td style="width: 100px;" class="left">{{ data.date1 | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.date2 | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.billBatch  }} </td>
                            <td style="width: 120px;" class="left">{{ data.xDeletedRecord  }} </td>
                            <td style="width: 120px;" class="left">{{ data.xEndDate  }} </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>

</nz-modal>