<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div *ngIf="inputForm" [formGroup]="inputForm" style="width: 100%">
        <div nz-row nzJustify class="mrg-btm">
            <div nz-col nzSpan="4" style="text-align: center;">
                <button nz-button nzType="primary"> Print </button>
            </div>
            <div nz-col nzSpan="2" >
                <label for="name" style="margin-top: 5px;"> Use Master</label>
            </div>
            <div nz-col nzSpan="1" style="text-align: left;">
                <label nz-checkbox formControlName="chkMaster" style="margin-top: 5px;"></label>
            </div>
            <div nz-col nzSpan="4" [formGroup]="inputForm">
                <nz-date-picker nzPlaceHolder="Start Date" formControlName="dtpStartDate"
                    [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <div nz-col nzSpan="1">
                <p style="text-align: center; margin-top: 5px;"> to </p>
            </div>
            <div nz-col nzSpan="4" [formGroup]="inputForm">
                <nz-date-picker nzPlaceHolder="End Date" formControlName="dtpEndDate"
                    [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <div nz-col nzSpan="4" style="text-align: center;">
                <button nz-button nzType="primary" (click)="loadPayIntegrity()"> Start </button>
            </div>
        </div>
        <!-- <div nz-row class="mrg-btm">
            <div nz-col nzSpan="8">
                <p style="margin-top: 5px; margin-bottom: 1px;">   To Search - Click on the list and type </p>
            </div>
        </div> -->
        <!-- <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider> -->
                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered
                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="tableData">
                    <thead>
                        <tr>
                            <th style="width: 100px;" class="left">CreatedBy</th>
                            <th style="width: 100px;" class="left">Editer</th>
                            <th style="width: 100px;" class="left">Shift#</th>
                            <th style="width: 100px;" class="left">Error Type</th>
                            <th style="width: 100px;" class="left">Status</th>
                            <th style="width: 100px;" class="left">Category</th>
                            <th style="width: 100px;" class="left">Branch</th>
                            <th style="width: 100px;" class="left">Staff</th>
                            <th style="width: 100px;" class="left">Date</th>
                            <th style="width: 100px;" class="left">Start Time</th>
                            <th style="width: 100px;" class="left">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of payIntegrityList;let i = index;">
                            <td style="width: 100px;" class="left">{{ data.createdBy }} </td>
                            <td style="width: 100px;" class="left">{{ data.editer }} </td>
                            <td style="width: 100px;" class="left">{{ data.shiftNumber }} </td>
                            <td style="width: 100px;" class="left">{{ data.errorType }} </td>
                            <td style="width: 100px;" class="left">{{ data.status }} </td>
                            <td style="width: 100px;" class="left">{{ data.category }} </td>
                            <td style="width: 100px;" class="left">{{ data.branch }}</td>
                            <td style="width: 100px;" class="left">{{ data.staff }} </td>
                            <td style="width: 100px;" class="left">{{ data.date | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.startTime }} </td>
                            <td style="width: 100px;" class="left">{{ data.program }} </td>
                        </tr>
                    </tbody>
                </nz-table>
    </div>

    <div *nzModalFooter>
        <ng-container>
        </ng-container>
    </div>

</nz-modal>