<nz-modal [nzWidth]="1150" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div>
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzType]="'card'">
            <nz-tab nzTitle="General">
                <div nz-row style="height: 40px;">
                    <div nz-col nzSpan="6">
                        <h3 style="color:#1890FF; line-height: 40px;"> Travel Update </h3>
                    </div>
                    <div nz-col nzSpan="5" class="text-right" style="margin-right: 2px;">
                        <label style="margin-top: 5px; font-size: 11pt;"> Date to Appear on Invoices: </label>
                    </div>
                    <div nz-col nzSpan="1">
                    </div>
                    <div nz-col nzSpan="4">
                        <nz-date-picker nzPlaceHolder="Invoice Date" formControlName="invoiceDate"
                            [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>

                <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                </nz-divider>

                <!-- style="border: solid; border-color: black; border-width: 4px;" -->

                <div nz-row style="height: 30px;">
                    <div nz-col nzSpan="6">
                        <h3 style="color:#1890FF;"> Dates </h3>
                    </div>
                    <div nz-col nzSpan="4" class="text-right pad-r-5">
                        <label style="margin-top: 5px; font-size: 11pt;"> Include All Dates </label>
                    </div>
                    <div nz-col nzSpan="1" style="text-align: center;">
                        <label nz-checkbox style="margin-top: 5px;"></label>
                    </div>
                    <div nz-col nzSpan="4" style="margin-left: 3pc;">
                        <nz-date-picker nzPlaceHolder="Start Date" formControlName="dtpStartDate"
                            [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="2">
                        <p style="text-align: center; margin-top: 5px;"> TO </p>
                    </div>
                    <div nz-col nzSpan="4">
                        <nz-date-picker nzPlaceHolder="End Date" formControlName="dtpEndDate" [nzFormat]="dateFormat">
                        </nz-date-picker>
                    </div>
                </div>

                <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                </nz-divider>

                <div nz-row style="height: 1.5pc;"></div>

                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div nz-col nzSpan="13">
                            <div nz-row style="height: 1pc;"></div>
                            <div nz-row>
                                <!-- <div nz-col nzSpan="22">
                                    <label nz-checkbox [(ngModel)]="modelAutoCreateKM" (ngModelChange)="checkAll(11)"
                                    [ngModelOptions]="{standalone: true}"> Auto Create KM Allowance </label>
                                </div> -->
                                <div nz-col nzSpan="22">
                                    <label nz-checkbox formControlName="chkAutoCreateKM"> Auto Create KM Allowance
                                    </label>
                                </div>
                            </div>
                            <div nz-row style="height: 2pc;"></div>
                            <div nz-row>
                                <div nz-col nzSpan="4">
                                    <label> Program: </label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelKMProgram"
                                        [disabled]="lockTravelKMProgram == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelProgramList" [nzLabel]="etype.travelProgram"
                                            [nzValue]="etype.travelProgram">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateKM').value"
                                        formControlName="cmbTravelProgram0" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelProgramList"
                                            [nzLabel]="etype.travelProgram" [nzValue]="etype.travelProgram">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="4">
                                    <label> Activity: </label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelKMActivity"
                                        [disabled]="lockTravelKMActivity == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelActivityList" [nzLabel]="etype.travelActivity"
                                            [nzValue]="etype.travelActivity">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateKM').value"
                                        formControlName="cmbTravelActivity0" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelActivityList"
                                            [nzLabel]="etype.travelActivity" [nzValue]="etype.travelActivity">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="4">
                                    <label> Paytype: </label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelKMPaytype"
                                        [disabled]="lockTravelKMPaytype == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList" [nzLabel]="etype.travelPaytype"
                                            [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateKM').value"
                                        formControlName="cmbTravelPaytype0" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList"
                                            [nzLabel]="etype.travelPaytype" [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>

                            <div nz-row style="height: 1.5pc;"></div>

                            <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                            </nz-divider>

                            <div nz-row style="height: 1.5pc;"></div>

                            <div nz-row class="wrap-container">
                                <div nz-col nzSpan="14">
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkSeperateClaim"> Seperate Claim Per
                                            Instance </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkClearTravelAudit"> Clear Travel Audit
                                        </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkDelExistingTravel"> Delete Existing
                                            Travel Within Time In Date Range </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkIncUnapprovedEntries"> Include Unapproved
                                            Entries </label>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8">
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkStartBranch"> Start From Branch </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkFinishBranch"> Finish At Branch </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkAvoidTolls"> Avoid Tolls </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkAvoidHighways"> Avoid Highways </label>
                                    </div>
                                    <div nz-row>
                                        <label nz-checkbox formControlName="chkAvoidFerries"> Avoid Ferries </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div nz-col nzSpan="1"></div>

                        <div nz-col nzSpan="10">
                            <div nz-row>
                                <!-- <div nz-col nzSpan="22">
                                    <label nz-checkbox [(ngModel)]="modelAutoCreateTime" (ngModelChange)="checkAll(21)"
                                    [ngModelOptions]="{standalone: true}"> Auto Create Travel Time Entry </label>
                                </div> -->
                                <div nz-col nzSpan="22">
                                    <label nz-checkbox formControlName="chkAutoCreateTime"> Auto Create Travel Time
                                        Entry </label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="20" style="margin-top: 5px;">
                                    <label nz-checkbox formControlName="chkAutoFillGap"> Auto-fill Gap Between Where
                                        Gap Less Than (Minutes)</label>
                                </div>
                                <div nz-col nzSpan="2" style="margin-left: 2px;">
                                    <input nz-input formControlName="name" (keypress)="onKeyPress($event)"/>
                                </div>
                            </div>
                            <div style="height: 1pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label> Program: </label>
                                </div>
                                <div nz-col nzSpan="18">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimeProgram"
                                        [disabled]="lockTravelTimeProgram == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelProgramList" [nzLabel]="etype.travelProgram"
                                            [nzValue]="etype.travelProgram">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelProgram1" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelProgramList"
                                            [nzLabel]="etype.travelProgram" [nzValue]="etype.travelProgram">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label> Activity: </label>
                                </div>
                                <div nz-col nzSpan="18">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimeActivity"
                                        [disabled]="lockTravelTimeActivity == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelActivityList" [nzLabel]="etype.travelActivity"
                                            [nzValue]="etype.travelActivity">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelActivity1" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelActivityList"
                                            [nzLabel]="etype.travelActivity" [nzValue]="etype.travelActivity">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6" style="text-align:right; padding-right: 14px;">
                                    <label>PayType: Weekday</label>
                                </div>
                                <!-- <div nz-col nzSpan="18">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimePaytypeWD"
                                        [disabled]="lockTravelTimePaytypeWD == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList" [nzLabel]="etype.travelPaytype"
                                            [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div> -->
                                <div nz-col nzSpan="18">
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelPaytype1" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList"
                                            [nzLabel]="etype.travelPaytype" [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6" style="text-align:right; padding-right: 14px;">
                                    <label> Saturday </label>
                                </div>
                                <div nz-col nzSpan="18">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimePaytypeSat"
                                        [disabled]="lockTravelTimeProgramSat == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList" [nzLabel]="etype.travelPaytype"
                                            [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelPaytype2" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList"
                                            [nzLabel]="etype.travelPaytype" [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6" style="text-align:right; padding-right: 14px;">
                                    <label> Sunday </label>
                                </div>
                                <div nz-col nzSpan="18">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimePaytypeSun"
                                        [disabled]="lockTravelTimeActivitySun == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList" [nzLabel]="etype.travelPaytype"
                                            [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelPaytype3" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList"
                                            [nzLabel]="etype.travelPaytype" [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                            <div nz-row>
                                <div nz-col nzSpan="6" style="text-align:right; padding-right: 14px;">
                                    <label> Public Holiday </label>
                                </div>
                                <div nz-col nzSpan="18">
                                    <!-- <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="modeltravelTimePaytypePH"
                                        [disabled]="lockTravelTimePaytypePH == false" 
                                        [ngModelOptions]="{standalone: true}"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList" [nzLabel]="etype.travelPaytype"
                                            [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select> -->
                                    <nz-select [nzDisabled]="!this.inputForm.get('chkAutoCreateTime').value"
                                        formControlName="cmbTravelPaytype4" nzShowSearch nzAllowClear
                                        style="width:100%;">
                                        <nz-option *ngFor="let etype of travelPaytypeList"
                                            [nzLabel]="etype.travelPaytype" [nzValue]="etype.travelPaytype">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div style="height: 0.4pc;" nz-row></div>
                        </div>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="16" Style="margin-top: 1pc;">
                        <label
                            style="font-size: 10pt; width: 100%; margin-bottom: 1px; font-style: italic;">{{panUpdatePercText}}</label>
                        <nz-progress style="margin-top: 1px;" [nzPercent]="processUpdatePerc" [nzStrokeWidth]="8"
                            nzType="line" [nzStrokeColor]="'#1890FF'" [nzShowInfo]="true" [nzStatus]="'active'">
                        </nz-progress>
                    </div>
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary" (click)="validateTravelUpdate()"
                            style="font-size: 14pt; height: 2.5pc; width: 8pc; float: right; margin-top: 1.5pc;"> Start
                        </button>
                    </div>
                </div>
            </nz-tab>
            <!-- <nz-tab nzTitle="Awards Details">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <button nz-button nzType="primary" (click)="processAwardInterpreter()"
                            style="font-size: 12pt; height: 2.5pc; width: 10pc; float: left; margin-top: 1.5pc;"> Award
                            Interpreter
                        </button>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <button nz-button nzType="primary" (click)="deleteAwardList()"
                            style="font-size: 12pt; height: 2.5pc; width: 10pc; float: left; margin-top: 1.5pc;"> Delete
                            Records
                        </button>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered
                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="tableData">
                    <thead>
                        <tr>
                            <th style="width: 80px;" class="left">RECNUM</th>
                            <th style="width: 80px;" class="left">AWARD</th>
                            <th style="width: 100px;" class="left">DATE</th>
                            <th style="width: 100px;" class="left">DURATION</th>
                            <th style="width: 150px;" class="left">PAYTYPE</th>
                            <th style="width: 180px;" class="left">RULETYPE</th>
                            <th style="width: 200px;" class="left">PROGRAM</th>
                            <th style="width: 140px;" class="left">ACTIVITY</th>
                            <th style="width: 140px;" class="left">ACTIVITY_TYPE</th>
                            <th style="width: 80px;" class="left">JOBTYPE</th>
                            <th style="width: 80px;" class="left">INFOONLY</th>
                            <th style="width: 80px;" class="left">NOOVER</th>
                            <th style="width: 80px;" class="left">ROS_DAY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of awardHistoryList;let i = index;">
                            <td style="width: 80px;" class="left">{{ data.recnum }} </td>
                            <td style="width: 80px;" class="left">{{ data.award }} </td>
                            <td style="width: 100px;" class="left">{{ data.date | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.duration }} </td>
                            <td style="width: 150px;" class="left">{{ data.paytype }} </td>
                            <td style="width: 180px;" class="left">{{ data.ruletype }} </td>
                            <td style="width: 200px;" class="left">{{ data.program }} </td>
                            <td style="width: 140px;" class="left">{{ data.activity }} </td>
                            <td style="width: 140px;" class="left">{{ data.activitY_TYPE }} </td>
                            <td style="width: 80px;" class="left">{{ data.jobtype }} </td>
                            <td style="width: 80px;" class="left">{{ data.infoonly }} </td>
                            <td style="width: 80px;" class="left">{{ data.noover }} </td>
                            <td style="width: 80px;" class="left">{{ data.roS_DAY }} </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab> -->
            <nz-tab nzTitle="Branches & Funding">
                <div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="color:#1890FF;"> Branches </h3>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Branches </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allBranchesChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <!-- <tr>
                                                <td>
                                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event , null)">
                                                    <div nz-row *ngFor="let list of branchList; let i = index">
                                                        <label nz-checkbox [nzValue]="list.description" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.description }}</label>
                                                    </div>
                                                </nz-checkbox-wrapper> -->
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row *ngFor="let list of branchList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBranches == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="color:#1890FF;"> Funding </h3>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Funding Sources
                            </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(5)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(5)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '220px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,5)">
                                                            <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [disabled]="lockFunding == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.fundingType }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="color:#1890FF;"> Categories </h3>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Categories </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '160px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox [disabled]="lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nz-tab>
            <nz-tab nzTitle="Programs">
                <div>
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="color:#1890FF;"> Programs </h3>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Programs </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '550px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox [disabled]="lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.programName }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Staff">
                <div>
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="2">
                            <h3 style="color:#1890FF;"> Staff </h3>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Staff </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(4)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allStaffsChecked" (ngModelChange)="checkAll(4)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '550px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,4)">
                                                            <div nz-row *ngFor="let list of staffList; let i = index">
                                                                <label nz-checkbox [disabled]="lockStaff == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.accountNumber }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>

</nz-modal>