<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div *ngIf="inputForm" [formGroup]="inputForm">
        <div nz-row nzJustify class="mrg-btm">
            <div nz-col nzSpan="18">
                <!-- <h3 style="color:#1890FF;"> Unapproved Shifts </h3> -->
                <button nz-button nzType="primary" [nzLoading]="printLoad"><i nz-icon nzType="printer" nzTheme="outline"></i> Print </button>
            </div>
            <!-- <div nz-col nzSpan="6" class="text-right pad-r-5">
                <label nz-checkbox>Columns to see</label>
            </div> -->
        </div>
        <!-- <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider> -->
        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered
            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
            [nzData]="tableData">
            <thead>
                <tr>
                    <!-- <th style="width: 120px;" class="left">RecordNumber</th> -->
                    <th style="width: 200px;" class="left">Recipient</th>
                    <th style="width: 120px;" class="left">Date</th>
                    <th style="width: 80px;" class="left">StartTime</th>
                    <th style="width: 250px;" class="left">ServiceType</th>
                    <th style="width: 200px;" class="left">Staff</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of unapprovedWorkHoursList;let i = index;">
                    <!-- <td style="width: 120px;" class="left">{{ data.recordNumber }} </td> -->
                    <td style="width: 200px;" class="left">{{ data.recipient }} </td>
                    <td style="width: 120px;" class="left">{{ data.date }} </td>
                    <td style="width: 80px;" class="left">{{ data.startTime }} </td>
                    <td style="width: 250px;" class="left">{{ data.serviceType }} </td>
                    <td style="width: 200px;" class="left">{{ data.staff }} </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>

</nz-modal>