<div nz-layout>



    <div nz-col nzSpan="24">
        <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
            <span class="title">Scheduling Brokerage</span>
        </div>
        <div class="main">

            <div class="main-box">


                <div style="height: 2pc; margin-top: 1PC; ">

                    <button [class.hover]="tab==1" nz-button nzType="default" (click)="view2(1)">
                        Step 1: Contact/Requestor
                    </button>
                </div>
                <div class="seprator">
                    <!-- <i nz-icon nzType="li" nzTheme="outline" style="color: #24187d; "></i> -->
                </div>
                <div style="height: 2pc;">

                    <button [class.hover]="tab==2" nz-button nzType="default" (click)="view2(2)">
                        Step 2: Select Client & Service/Item
                    </button>
                </div>
                <div class="seprator">
                    <!-- <i nz-icon nzType="li" nzTheme="outline" style="color: #24187d; "></i> -->
                </div>
                <div style="height: 2pc;">

                    <button [class.hover]="tab==3" nz-button nzType="default" (click)="view2(3)">
                        Step 3: Choose Supplier
                    </button>
                </div>
                <div class="seprator">
                    <!-- <i nz-icon nzType="li" nzTheme="outline" style="color: #24187d; "></i> -->
                </div>
                <div style="height: 2pc;">

                    <button [class.hover]="tab==4" nz-button nzType="default" (click)="view2(4)">
                        Step 4: Special Instructions
                    </button>
                </div>
                <div class="seprator">
                    <!-- <i nz-icon nzType="li" nzTheme="outline" style="color: #24187d; "></i> -->
                </div>
                <div style="height: 2pc;">

                    <button [class.hover]="tab==5" nz-button nzType="default" (click)="view2(5)">
                        Step 5: Review and Finalize
                    </button>
                </div>



            </div>
            <div class="main-box2">

                <div *ngIf="tab==1" class="tab">

                    <span class="heading">Contact Detail of Requestor</span>



                    <div class="input-block2">
                        <label style="width:80px" nzFor="Name">Name</label>
                        <input nz-input type="text" placeholder="Name" style="width:25vw;"
                            (change)="onValueChanges($event)" [(ngModel)]="Name" id="name">

                    </div>
                    <div class="input-block2">
                        <label style="width:80px" nzFor="email">E-mail</label>
                        <input nz-input type="text" placeholder="Email" style="width:25vw;"
                            (change)="onValueChanges($event)" [(ngModel)]="Email" id="email">
                    </div>
                    <div class="input-block2">
                        <label style="width:80px" nzFor="Phone">Phone</label>
                        <input nz-input type="tel" id="typePhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
                            style="width:25vw;" (change)="onValueChanges($event)" [(ngModel)]="Phone"
                            placeholder="Phone" id="Phone" />

                    </div>

                </div>

                <div *ngIf="tab==2" class="tab">
                    <span class="heading">Client and Service/Item Selection</span>
                    <div class="input-block">

                        <label for="recipient">For</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="recipient"
                            (ngModelChange)="load_Data('Program')">
                            <!-- <nz-option nzLabel="Jack" nzValue="jack"></nz-option> -->
                            <nz-option *ngFor="let item of lstRecipients" nzLabel="{{item.name}}"
                                nzValue="{{item.name}}">{{item.name}}</nz-option>

                        </nz-select>
                    </div>

                    <div class="input-block">
                        <nz-radio-group [(ngModel)]="PoType" (ngModelChange)="onPoChange($event)"
                            style="display: flex; flex-direction: column; justify-content: space-between; margin-left: 5px;">
                            <label nz-radio nzAutoFocus checked nzValue="{{Jobtype}}">{{Jobtype}}</label>
                            <label nz-radio nzValue="One Off Service">One Off Service</label>
                            <label nz-radio nzValue="Recurring Service">Recurring Service</label>

                        </nz-radio-group>

                    </div>
                    <div class="input-block">

                        <div *ngIf="PoType!='Recurring Service'" class="time-block ">
                            <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                                style="display: flex; width: 120px;"></nz-date-picker>
                        </div>
                        <div class="time-block " *ngIf="PoType!='Home modification job or equipement/supply purchase'">
                            <label for="" style="margin-right: 5px;">Start Time</label>
                            <nz-time-picker [(ngModel)]="defaultStartTime" (ngModelChange)="ngModelChangeStart($event)"
                                nzFormat="HH:mm"></nz-time-picker>
                        </div>

                        <div class="time-block " *ngIf="PoType!='Home modification job or equipement/supply purchase'">
                            <label for="" style="margin-right: 5px; margin-left: 5px;">Duration</label>
                            <nz-time-picker [(ngModel)]="defaultDuration"
                                (ngModelChange)="ngModelChangeDuration($event)" nzFormat="HH:mm"></nz-time-picker>
                        </div>

                    </div>
                    <div class="option-block" *ngIf="PoType=='Recurring Service'">
                        <div style=" display: flex; margin-left: 10px; width:30vw; ">
                            <label for="">Select Rostering Option</label>
                        </div>
                        <div style=" display: flex; margin-left: 10px; width:15vw; ">
                            <label for="">Populate Live Roster</label>
                        </div>
                    </div>
                    <div class="recurring-block" *ngIf="PoType=='Recurring Service'">
                        <div style="display: flex; flex-direction: row; border-right: 1px solid #cdd2cf; width:30vw">

                            <div style="display: flex; flex-direction: row; padding: 10px;">

                                <nz-radio-group [(ngModel)]="dayslected"
                                    style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label nz-radio nzValue="Monday">Monday</label>
                                    <label nz-radio nzValue="Tuesday">Tuesday</label>
                                    <label nz-radio nzValue="Wednesday">Wednesday</label>
                                    <label nz-radio nzValue="Thursday">Thursday</label>
                                    <label nz-radio nzValue="Friday">Friday</label>

                                </nz-radio-group>

                            </div>
                            <div style="display: flex; flex-direction: column;padding: 10px; width:10vw">
                                <nz-radio-group [(ngModel)]="period" (ngModelChange)="setNextButtonStatus()"
                                    style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label nz-radio nzValue="Weekly">Weekly</label>
                                    <label nz-radio nzValue="Fortnightly">Fortnightly</label>

                                </nz-radio-group>

                            </div>
                            <div *ngIf="period=='Fortnightly'"
                                style="display: flex; flex-direction: column;padding: 10px; width:10vw">
                                <nz-radio-group [(ngModel)]="Pattern" (ngModelChange)="setNextButtonStatus()"
                                    style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label nz-radio nzValue="First">First</label>
                                    <label nz-radio nzValue="Second">Second</label>

                                </nz-radio-group>

                            </div>
                        </div>

                        <div style="display: flex; flex-direction: column;  ">
                            <div>
                                <label for="" style="margin-left: 10px;">Service Start Date</label>
                                <nz-date-picker [(ngModel)]="sDate"></nz-date-picker>
                            </div>
                            <div>
                                <label for="" style="margin-left: 10px;">Service End Date</label>
                                <nz-date-picker [(ngModel)]="eDate"></nz-date-picker>
                            </div>
                            <label nz-checkbox [(ngModel)]="IsMaster" style="margin-left: 10px;">Add to Master
                                Roster</label>
                            <!-- <button type="button" class="btn-ok btn-primary" (click)="checkWeek()">OK</button> -->
                        </div>
                    </div>
                    <div style="display: flex;" *ngIf="!showProgram">
                        <button type="button" class="btn-ok btn-primary" (click)="showProgram=true">OK</button>

                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-evenly; "
                        *ngIf="showProgram">

                        <div style="margin-top:10px;">
                            <label style="margin-left:10px;" class="form-check-label" for="flexRadioDefault2">
                                Select Program
                            </label>
                            <div class="input-block2" *ngIf="PoType=='Recurring Service'">

                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Program" style="width:20vw"
                                    [(ngModel)]="selectedProgram" (ngModelChange)="load_Data('Service')">
                                    <nz-option *ngFor="let item of lstPrograms" nzLabel="{{item.name}}"
                                        nzValue="{{item.name}}">{{item.name}}</nz-option>
                                </nz-select>
                            </div>
                            <div *ngIf="PoType!='Recurring Service'" style="width:20vw">
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                    [nzFrontPagination]="false" [nzData]="lstPrograms" [nzBordered]="true"
                                    *ngIf="lstPrograms.length>0" [nzScroll]="{y: '230px'}"
                                    style="margin-left: 10px; margin-top:2px; ">
                                    <thead></thead>
                                    <tbody>
                                        <tr *ngFor="let data of lstPrograms;let i = index;"
                                            (click)="onItemSelected('Program',data,i)"
                                            [ngStyle]="{'backgroundColor': i == HighlightRow ? '#bbd7fa'  : 'white' }">
                                            <td> {{data.name}} </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                        <div style="margin-top:10px;" *ngIf="lstPrograms.length>0">
                            <label style="margin-left:10px;" class="form-check-label" for="flexRadioDefault2">
                                Select Item/Service
                            </label>
                            <div class="input-block2" *ngIf="PoType=='Recurring Service'">

                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Service" style="width:20vw"
                                    [(ngModel)]="selectedService" (ngModelChange)="setNextButtonStatus()" (click)="setNextButtonStatus()">
                                    <nz-option *ngFor="let item of lstServices" nzLabel="{{item.name}}"
                                        nzValue="{{item.name}}">{{item.name}}</nz-option>
                                </nz-select>
                            </div>
                            <div *ngIf="PoType!='Recurring Service'" style="width:20vw">
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                    [nzFrontPagination]="false" [nzData]="lstServices" *ngIf="lstServices.length>0"
                                    [nzScroll]="{y: '230px'}"
                                    style="display: flex; margin-top: 2px; margin-left: 10px; ">
                                    <thead></thead>
                                    <tbody>
                                        <tr *ngFor="let data of lstServices;let i = index;"
                                            (click)="onItemSelected('Service',data,i)"
                                            [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
                                            <td style="width:19vw"> {{data.name}} </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>

                        </div>

                    </div>
                </div>
                <div *ngIf="tab==3" class="tab">
                    <label class="heading">Choose Supplier :</label>
                    <div style="display: flex; flex-direction: column;">

                        <div style="display: flex; flex-direction: column; width: 25vw; align-items: start; ">
                            <div class="input-block2">
                                <label style="width:160px" nzFor="Supplier">Supplier :</label>

                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Supplier"
                                    [(ngModel)]="staffCode" (ngModelChange)="setNextButtonStatus()">
                                    <nz-option *ngFor="let item of lstStaff" nzLabel="{{item.name}}"
                                        nzValue="{{item.name}}">{{item.name}}</nz-option>
                                </nz-select>
                            </div>
                            <div class="input-block2">
                                <label style="width:160px" nzFor="FeeCode">Fee Code :</label>

                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Fee Code"
                                    [(ngModel)]="FeeCode" (ngModelChange)="setNextButtonStatus()">

                                    <nz-option *ngFor="let item of lstFeeCodes" nzLabel="{{item.name}}"
                                        nzValue="{{item.name}}"
                                        (change)="onValueChanges($event)">{{item.name}}</nz-option>
                                </nz-select>
                            </div>
                            <div class="input-block2">
                                <label style="width:160px" nzFor="SuppliedUnit">Supplied Unit :</label>
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Unit"
                                    [(ngModel)]="SuppliedUnit" (ngModelChange)="setNextButtonStatus()">
                                    <nz-option nzLabel="Item/Service" nzValue="Service">Item/Service</nz-option>
                                    <nz-option nzLabel="Hour" nzValue="Hour">Hour</nz-option>
                                </nz-select>
                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="SuppliedQty">Supplied Qty :</label>
                                <input nz-input type="number" placeholder="Qty" id="SuppliedQty"
                                    [(ngModel)]="SupplierQty" (ngModelChange)="calculate()">

                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="SupplierPrice">Supplier Price :</label>
                                <input nz-input type="number" class="form-control" placeholder="Price"
                                    [(ngModel)]="SupplierPrice" id="SupplierPrice" (ngModelChange)="calculate()">

                                <!-- <span class="input-block-text" id="basic-addon2">(EX GST)</span> -->
                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="SupplierTotal">Supplier Total :</label>
                                <input nz-input disabled type="number" class="form-control" placeholder="Total"
                                    id="SupplierTotal" [(ngModel)]="SupplierTotal" aria-describedby="basic-addon1">

                                <!-- <span class="input-block-text" id="basic-addon2">(EX GST)</span>                 -->

                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="Frequency">Frequency :</label>
                                <input nz-input type="text" class="form-control" placeholder="Frequency"
                                    [(ngModel)]="Frequency" (change)="onValueChanges($event)">

                            </div>
                            <div class="input-block2">
                                <label style="width:160px" nzFor="BilledUnit">Bill Unit :</label>
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Unit"
                                    [(ngModel)]="BilledUnit" (ngModelChange)="setNextButtonStatus()">
                                    <nz-option nzLabel="Item/Service" nzValue="Service">Item/Service</nz-option>
                                    <nz-option nzLabel="Hour" nzValue="Hour">Hour</nz-option>

                                </nz-select>

                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="SupplierQty">Client Bill Qty :</label>

                                <input nz-input type="number" [disabled]="true" [(ngModel)]="SupplierQty"
                                    class="form-control" aria-label="billQty" (change)="onValueChanges($event)">

                            </div>
                            <div class="input-block2">
                                <label style="width:110px" nzFor="billRate">Client Bill Rate :</label>

                                <input nz-input type="number" [(ngModel)]="billRate" class="form-control"
                                    aria-label="Amount" (change)="onValueChanges($event)">
                                <span class="input-block-text">$</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="tab==4" class="tab">
                    <!-- <span class="heading">Special Instructions</span> -->

                    <div style="display: block; width:35vw; text-align: center; ">
                        <span class="heading">Special Instructions</span>

                    </div>
                    <div style="display: block; width:35vw; ; margin: 20px; ">
                        <span class="heading2">Contact Detail for Job</span>

                    </div>
                    <div style="display: block; width:35vw;  ">


                        <div class="input-block2">
                            <label for="" style="width:120px">Name :</label>
                            <input nz-input type="text" [(ngModel)]="jobContactName" style="width:30vw" id="jName"
                                placeholder="Name" (change)="onValueChanges($event)" (change)="onValueChanges($event)">
                        </div>
                        <div class="input-block2">
                            <label for="" style="width:120px">Number :</label>

                            <input nz-input type="phone" [(ngModel)]="jobContactNo" style="width:30vw;"
                                placeholder="Contact Number" aria-label="Number" (change)="onValueChanges($event)"
                                (change)="onValueChanges($event)">

                        </div>
                    </div>
                    <div style="display: block; width:35vw;  ">
                        <div class="input-block2">
                            <label for="" style="width:120px">Billing Detail :</label>
                            <input nz-input type="text" [(ngModel)]="billingDetail" style="width:30vw;"
                                placeholder="Description" aria-label="Name" (change)="onValueChanges($event)">
                        </div>
                        <div class="input-block2">
                            <label for="" style="width:120px">Order Detail :</label>

                            <textarea class="form-control input-sm" rows="5" style="height:80%; width:30vw;"
                                [(ngModel)]="orderDetail" id="orderDetail" rows="3"
                                (change)="onValueChanges($event)"></textarea>
                        </div>
                        <div class="input-block2">

                            <label style="width:120px">Special Instruction : </label>
                            <textarea class="form-control input-sm" rows="5" style="height:80%; width:30vw;"
                                [(ngModel)]="specialInstrtuction" id="specialInstrtuction" rows="3"
                                (change)="onValueChanges($event)"></textarea>
                        </div>
                    </div>

                </div>
                <div *ngIf="tab==5">
                    <span class="heading">Review and Finalize</span>

                    <div class="mb-3"></div>
                    <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>

                            </div>
                        </div>
                    </div>



                    <div style="margin-top: 10px;">
                        <div class="input-block">
                            <label for="label2" class="item-group-text">Requester Name : </label>
                            <label for="label2" class="form-label">{{Name}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="item-group-text">Requester Email : </label>
                            <label for="label2" class="form-label">{{Email}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label">Requester Phone : </label>
                            <label for="label2" class="form-label">{{Phone}}</label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style="margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label">Job Contract Name : </label>
                            <label for="label2" class="form-label">{{jobContactName}}</label>
                        </div>

                        <div class="input-block">
                            <label for="label2" class="form-label">Job Contact Number : </label>
                            <label for="label2" class="form-label">{{jobContactNo}}</label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style="margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label">Recipient : </label>
                            <label for="label2" class="form-label">{{recipient}}</label>
                        </div>

                        <div class="input-block">
                            <label for="label2" class="form-label">Type : </label>
                            <label for="label2" class="form-label">{{Jobtype}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label">Item/Service : </label>
                            <label for="label2" class="form-label">{{selectedService}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label">Supplier : </label>
                            <label for="label2" class="form-label">{{staffCode}}</label>
                        </div>
                    </div>

                    <div class="line"></div>
                    <div style="margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label"> Billing Details : </label>
                            <label for="label2" class="form-label">{{ billingDetail}}</label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style="margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label"> Order Details : </label>
                            <label for="label2" class="form-label">{{orderDetail}}</label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style="margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label"> Special Instructions : </label>
                            <label for="label2" class="form-label">{{specialInstrtuction}}</label>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style=" display: flex; flex-direction: row; margin-top: 10px">
                        <div class="input-block">
                            <label for="label2" class="form-label"> Unit : </label>
                            <label for="label2" class="form-label">{{SuppliedUnit}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label"> Price : </label>
                            <label for="label2" class="form-label">{{SupplierPrice}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label"> BillQty : </label>
                            <label for="label2" class="form-label">{{SupplierQty}}</label>
                        </div>
                    </div>
                    <div style=" display: flex; flex-direction: row; margin-top: 10px">

                        <div class="input-block">
                            <label for="label2" class="form-label"> Frequency : </label>
                            <label for="label2" class="form-label">{{Frequency}}</label>
                        </div>
                        <div class="input-block">
                            <label for="label2" class="form-label"> Total : </label>
                            <label for="label2" class="form-label">{{SupplierTotal}}</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="btn-group" *ngIf="!done">
            <button type="button" class="btn header-orange" (click)="prevClick()" *ngIf="tab>1">Previous</button>
            <button type="button" class="btn btn-primary" [disabled]="!enableNext" (click)="nextClick()"
                *ngIf="tab<5">Next</button>
            <button type="button" class="btn btn-primary" (click)="ProcessPO()" *ngIf="tab==5">Process</button>

        </div>
        <div class="btn-group" *ngIf="done==true">
            <button type="button" class="btn btn-primary" (click)="showExport=true">Export</button>
            <button type="button" class="btn btn-primary" (click)="generatePdf()">Print</button>
        </div>
    </div>

</div>
<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showExport" nzTitle="Export File" (nzOnCancel)="closeExport()">
    <div class="flexy" style="min-height:5rem; width:20vw">
        <div nz-row>
            <div class="form-group">
                <label for="">Select File to Export Recipient Summary</label>
            </div>
            <div>
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzData]="lstFormats"
                    [nzBordered]="true" *ngIf="lstFormats.length>0" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Format</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of lstFormats;let i = index;" (click)="onFormatSelected(data,i)"
                            [ngStyle]="{'backgroundColor': i == HighlightRow3 ? '#bbd7fa'  : 'white' }">
                            <td> {{data.name}} </td>
                            <td> {{data.format}} </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </div>
    <div *nzModalFooter>
        <button type="button" class="btn btn-primary" (click)="export()">OK</button>
        <button type="button" class="btn btn-primary" (click)="closeExport()">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '25px' }" hasBackdrop [(nzVisible)]="refreshModel" nzTitle="Purcahse Order"
    (nzOnCancel)="refreshModel = false">
    <div class="flexy" style="min-height:2.5rem">
        <div nz-row>

            <div>
                <label style="font-size:14px; ">Do you want to refresh from? </label>

            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button type="button" class="btn btn-primary" (click)="refreshForm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="refreshModel=false">No</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '25px' }" hasBackdrop [(nzVisible)]="reportView" nzTitle="Purcahse Order"
    (nzOnCancel)="reportView = false" nzWidth="60vw">
    <div class="flexy" style="min-height:70vw; padding-left: 5vw;" id="reportPO">
        <div nz-row>

            <div class="reportbox" *ngFor="let data of lstOrderCreated;let i = index;">

                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzData]="lstOrderCreated" [nzBordered]="true" *ngIf="lstOrderCreated.length>0">
                    <thead>
                       
                    </thead>
                    <tbody>
                        <tr >
                            <td colspan="5" >
                                <div class="report-header">
                                    <div style="border-left:1px solid #939995; width:10vw">
                                        <img src='/dist/assets/media/OIP.jpg'><img>
                                        <label style="margin-left: 5px;">Integrated Living - ILA</label>
                                    </div>
                                    <div style=" text-align: center; padding:10px" >
                                        <label style="font-size:18px;  width:25vw;"> Purchase Order</label>
                                    </div>
                                    <div style="display:flex; flex-direction: column; width:10vw">
                                        <label style="font-size:12px; "> Po Box 889 </label>
                                        <label style="font-size:12px; "> GRFTON 2620</label>
                                        <label style="font-size:12px; "> ABN :123 456 262 120</label>
                                    </div>
                                </div>
                                <div style="display: block; height:2vh"></div>
                            </td>
                        </tr>

                        <tr >
                            <td> Order Number </td>
                            <td  style=" width:30vw" colspan="4"> {{data.poNo}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: #939995;"> SUPPLIER DETAILS </td>

                        </tr>
                        <tr>
                            <td> Supplier Name </td>
                            <td> {{data.supplier.name}} </td>
                            <td> Email Contact </td>
                            <td  colspan="2"> {{data.supplier.email}} </td>
                        </tr>
                        <tr>
                            <td> Telephone </td>
                            <td> {{data.supplier.telephone}} </td>
                            <td> Address </td>
                            <td  colspan="2"> {{data.supplier.address}} </td>
                        </tr>
                        <tr style="display: block; height:5vh; border-top: 1px solid #939995;"></tr>
                        <tr>
                            <td colspan="5" style="background-color: #b5bab7;"> REQUESTED BY </td>

                        </tr>
                        <tr>
                            <td> Name </td>
                            <td> {{data.requestor.name}} </td>
                            <td> Email Contact </td>
                            <td colspan="2"> {{data.requestor.email}} </td>
                        </tr>
                        <tr>
                            <td> Telephone </td>
                            <td> {{data.requestor.phone}} </td>
                            <td> Date/Time of Request </td>
                            <td style=" width:30vw" colspan="2"> {{data.date | date:'dd-MM-YYYY' }} {{s_StartTime}}
                            </td>
                        </tr>

                        <tr style="display: block; height:5vh; border-top: 1px solid #939995;"></tr>

                        <tr>
                            <td colspan="5" style="background-color: #939995;"> SERVICE / PRODUCTS FOR</td>

                        </tr>
                        <tr>
                            <td style=" width:12vw"> Client Name </td>
                            <td> {{data.recipient.name}} </td>
                            <td style=" width:13vw"> Email Content </td>
                            <td style=" width:25vw" colspan="2"> {{data.requestor.email}} </td>
                        </tr>
                        <tr>
                            <td style=" width:12vw"> Contact No. for Service Delivery </td>
                            <td> {{jobContactNo}} </td>
                            <td style=" width:13vw"> Address for Service Delivery </td>
                            <td style=" width:25vw" colspan="2"> {{jobContactName}} </td>

                        </tr>

                        <tr style="display: block; height:5vh; border-top: 1px solid #939995;"></tr>

                        <tr>
                            <td colspan="5" style="background-color: #939995;"> DESCRIPTION OF SERVICE /
                                PRODUCTS</td>

                        </tr>
                        <tr>
                            <td style=" width:15vw"> date required </td>
                            <td> {{data.date | date :'dd/MM/YYYY'}} </td>
                            <td> Duration </td>
                            <td style=" width:25vw" colspan="2"> {{defaultDuration | date: 'HH:MM'}} </td>

                        </tr>
                        <tr>
                            <td style=" width:15vw"> Time of Commencement </td>
                            <td> {{s_StartTime}} </td>
                            <td></td>
                            <td style=" width:25vw" colspan="2"></td>

                        </tr>
                        <tr style="display: block; height:5vh; border-top: 1px solid #939995;"></tr>
                        <tr>
                            <td colspan="5" style="background-color: #939995;"> ORDER DETAILS / SPECIAL
                                INSTRUCTIONS</td>

                        </tr>
                        <tr>
                            <td colspan="5"> {{billingDetail}} </td>
                        </tr>
                        <tr>
                            <td colspan="5"> {{orderDetail}} </td>
                        </tr>
                        <tr>
                            <td colspan="5"> {{specialInstrtuction}} </td>
                        </tr>
                        <tr >

                            <td style="width: 10vw;"> Unit Rate (GST Exclusive) </td>
                            <td style="width: 3vw;"> {{SupplierPrice}} </td>
                            <td style="width: 10vw;">Total Cost of Job (gst exclusive)</td>
                            <td style="width: 2vw;">{{SupplierTotal}}</td>

                            <td style="width: 20vw;">
                                <label nz-checkbox [ngModel]="this.BilledUnit=='Hour'" style="margin-left: 5px; font-weight: normal; font-size: 10pt;"> Charged by the hour</label>
                                <label nz-checkbox [ngModel]="this.BilledUnit=='Service'" style="margin-left: 5px;"> Charged by job / service or item</label>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="5" >
                                <label style="text-align: center;"> Please submit invoices to
                                    admin@cranes.org.au quoting the Order Number above on your invoice</label>

                            </td>
                        </tr> 

                    </tbody>
                    <footer>

                       
                    </footer>
                </nz-table>

            </div>

        </div>
    </div>
    <div *nzModalFooter>
        <button type="button" class="btn btn-primary" (click)="convetToPDF()">Print</button>
        <!-- <button type="button" class="btn btn-primary" (click)="convetToPDF()">Export</button> -->
    </div>
</nz-modal>
<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
        <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>                
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
        </div>
        
    </nz-drawer>
</div>