
*{
    font-family:   'Trebuchet MS',  Geneva, Verdana, sans-serif;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left; 
    padding : 5px;  
    height: 85vh;
    width: 85vw;
  
    border: 2px solid #85B9D5;
    border-radius: 5px;
    background-color: white;  
  
    /* flex-wrap: wrap !important; */
    margin: auto;
    
    column-fill: balance;
}

.main-box {
    display: flex;
    flex-direction: column;   
    background-color: #85B9D5;  
    padding : 5px; 
    flex-wrap: nowrap !important;
    height: 75vh;
    width: 20vw;

}
.main-box2 {
    display: flex;
    flex-direction: column;   
    background-color: white;  
    padding-left : 5vw; 
    flex-wrap: nowrap !important;
    height: 70vh;
    
}
.button-box{
    display: flex;
    flex-direction: row;   
    
}
.tab{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: -10px; */
}
.title{
    font-size: 20px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: #24187d;
    margin: 20px;
}
.heading{
    font-size: 18px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: #24187d;
    margin: 20px;
}
.heading2 {
    font-size: 16px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: #000;
    margin: 10px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}
.time-block{
    display: flex; 
    flex-direction: row; 
    align-items: baseline;
    
    
}
.option-block{
    display: flex;  
    flex-direction:row;
    border-top: 1px solid #cdd2cf;
     border-bottom: 1px solid #cdd2cf; 
    /* background-color: #f5ebf6;
    border-radius: 2%; */
    width: 45vw;
    margin-top: 2px;
}
.recurring-block{
    display: flex;  
    flex-direction:row;
    /* border-top: 1px solid #cdd2cf; */
    border-bottom: 1px solid #cdd2cf;
    width: 45vw;
    margin-top: 2px;
}
.input-block{
    display:flex;
    flex-direction: row;    
    width: 100%;
    margin : 5px;
    align-items: baseline;
}
.input-block2{
    display:flex;
    flex-direction: row;    
    width: 100%;
    margin : 2px;
    align-items: baseline;
}
button{
    width: 18.6vw;
    text-align: left !important;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-radius: 15%;
}
.hover{
    background-color: #f7f7f7;
}
.btn{
    border:none;
    cursor:pointer;
    outline:none;
    background-color: #85B9D5;
    padding: 5px 7px;
    border-radius: 3px;
    text-align: center !important;
    width: 100px !important;
    margin: 10px;
}
button.success{
    background-color: #85B9D5 !important;
    color: #fff !important;
    border-color: #85B9D5 !important;
}
.btn-group{
    display: flex;    
    margin-top: 50px;    
    position: absolute;
    bottom: 10px;   
    right: 100px;
    justify-content:space-between;
    
}
.btn-ok{
    border:none;
    cursor:pointer;
    outline:none;
    background-color: #369012;
    padding: 2px 2px;
    border-radius: 3px;
    text-align: center !important;
    width: 50px !important;
    margin: 10px;
}
label{
    font-weight: bold; 
    margin-right: 5px;
    width:fit-content;
}
.input-group-text{
    margin: 2px;
}
.seprator{
    display: block;
    margin-top: 5px; 
    margin-bottom: 3px; 
    border-top: 1px solid #ffffff;
    border-style: inset  ; 
    height: 1px;
}
.line{
    display: block; 
    border-top: 2px solid rgb(219, 223, 222);
}
.reduceadding {
    padding: -5 !important;
    margin: -5 !important;
 }
.form-group label{
    font-weight: bold;
}

input{
    margin: 5px;  
    padding: 2px;    
    width: auto;

}
nz-select {
    margin: 5px;
    padding: 2px;
    width: 100%;
    
}
textarea{
    margin: 5px;
    padding: 2px;
    width: 100%;
}
.reportbox{
    display: block;
    /* border: 1px solid #8f8b8b; */
    margin: 5px;
    page-break-after:always;
   
}
.report-header{
    display: flex;
    flex-direction: row;
    margin-top: 5px; 
    margin-bottom: 5px; 
     border: 1px solid #8f8b8b; 
    height: 15vh;    
   
}
td{
    border : 1px solid #939995;
    /* border-bottom : 1px solid #cdd2cf;    */
    padding:5px;
    width:8vw;
   
}

label.checks{
    margin-top: 4px;
    font-weight: 300 !important;
}
nz-date-picker{
    margin:5pt;
}
.frm_number{
    width:250px;
    height:32px;
    
}
.frm_AgingNumber{
    width:50px;
    height:32px;
}
.spinner{
    margin:1rem auto;
    width:1px;
}
.custom-btn{
    background:#f7f7f7;
}
.ant-menu-horizontal {
    line-height: 28px;
}
.header-powder-blue{
    background-color: #85B9D5;
    border-color: #85B9D5;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}    
.header-dark-orange{
    background-color: #f18805;
    border-color: #f18805;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}
.header-orange{
    color: #fff;
    padding: 10px;
    line-height: 1;
    background-color: #ffba08;
    border-color: #ffba08;
}
 :host nz-tabset  div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 24px;
    background: #fff;
    height: 25px;
    border-radius: 15px 15px 0 0;
    margin: 0 0px 0 0;
    min-width: 12rem;
    text-align: center;
    border-color:#85B9D5;
}
:host nz-tabset  div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #85B9D5;
    color: #fff;
}
:host nz-tabset  .ant-tabs-bar {
    border-bottom: 0px;
}
.ant-btn{
    height: 2pc;
    border-radius: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(176, 196, 224, 0.7);
  }
  .overlay__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
  }
.overlay__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    height: 15vh;
    width: 15vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    /* transform: translate(-50%, -50%); */
  }

  .spinner {
    position: absolute;
    z-index: 999;
    height: 15vh;
    width: 15vw;
    overflow: show;
    margin: auto;
    top: 10vh;
    left: 30vw;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

@media print
{

footer {page-break-after: always;}
}