<nz-card [nzSize]="'small'" nzTitle="NURSING AND MEDICAL DIAGNOSES">
    <nz-card [nzSize]="'small'" nzTitle="NANDA OR AGENCY NURSING DIAGNOSIS" style="border-color:#85B9D5;">
        <div nz-row class="mrg-btm">
            <div nz-col nzSpan="24">
                <button class="botton success" (click)="showAddModal(1)">Add Diagnosis</button>
                <nz-table #headerTable  [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzData]="nlist" [nzScroll]="{ y: '240px' }">
                <thead>
                    <tr>
                        <th nzWidth="5%">#</th>
                        <th nzWidth="15%">ICDCODE</th>
                        <th nzWidth="70%">Description</th>
                        <th nzWidth="10%" class="action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFn">
                        <td nzWidth="5%">{{ i+1  }}</td>
                        <td nzWidth="15%">{{data.icdcode}}</td>
                        <td nzWidth="70%">{{data.description}}</td>
                        <td nzWidth="10%">
                            <a (click)="showEditModal(1,i)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Entry from List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.recordNumber,1)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-card>
<nz-card [nzSize]="'small'" nzTitle="ICD 10 OR AGENCY MEDICAL DIAGNOSIS" style="border-color:#85B9D5;">
    <div nz-row>
        <div nz-col nzSpan="24">
            <button class="botton success" (click)="showAddModal(2)">Add Medical Diagnosis</button>
            <nz-table #headerTable2  [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="mlist" [nzScroll]="{ y: '240px' }">
            <thead>
                <tr>
                    <th nzWidth="5%">#</th>
                    <th nzWidth="15%">ICDCODE</th>
                    <th nzWidth="70%">Description</th>
                    <th nzWidth="10%" class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of headerTable2.data;let i = index;trackBy: trackByFn">
                    <td nzWidth="5%">{{ i+1  }}</td>
                    <td nzWidth="15%">{{data.icdcode}}</td>
                    <td nzWidth="70%">{{data.description}}</td>
                    <td nzWidth="10%">
                        <a (click)="showEditModal(2,i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Entry from List?"
                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.recordNumber,2)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
</nz-card>
</nz-card>
<nz-modal [nzWidth]="500" [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()" >
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
        <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChange(0)"> </nz-tab>
    </nz-tabset>
    <div *ngIf="tabFindIndex == 0">
        <div nz-row [formGroup]="inputForm">
            <div nz-row>
                <nz-form-item *ngIf="editOrAdd == 1">
                    <nz-form-label>NANDA CODES</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select formControlName="list" nzShowSearch nzAllowClear nzPlaceHolder=""
                        [nzDropdownMatchSelectWidth]="false" style="width: 100%;">
                        <nz-option *ngFor="let list of listDiagnosis" [nzValue]="list.description" [nzLabel]="list.description"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div class="form-group" *ngIf="editOrAdd == 2">
                <nz-form-label>NANDA CODE</nz-form-label>
                <input nz-input formControlName="list" disabled />
            </div>
            <div class="form-group" *ngIf="editOrAdd == 2">
                <nz-form-label>USER CODE</nz-form-label>
                <input nz-input formControlName="usercode"/>
            </div>
            <div class="form-group" *ngIf="editOrAdd == 2">
                <nz-form-label>ICD10/NANDA</nz-form-label>
                <input nz-input formControlName="icdcode"/>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="processBtn()" [disabled]="!this.inputForm.get('list').value" [nzLoading]="isLoading">Save</button>
    </div>
</div>
</nz-modal>