<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showAddModal()">Add Medication</button>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="medicationList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn">
                    <td class="left">{{ i+1  }}</td>
                    <td>{{ data.description }}</td>
                    <td>
                        <!-- <a (click)="updateconsentmodal(data)">Update</a> -->
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Medication from the List?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deleteconsent(data)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [nzWidth]="500" [(nzVisible)]="consentOpen" [nzTitle]="addOREdit == 0 ? 'Add Medication' : 'Edit Medication'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="24" [formGroup]="inputForm" *ngIf="addOREdit == 0">
                <nz-form-label>Item Name</nz-form-label>
                <nz-select style="width:100%" nzAllowClear formControlName="list">
                    <nz-option *ngFor="let data of lists"  [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="form-group" *ngIf="addOREdit == 1">
            <nz-form-label>Item Name</nz-form-label>
            <input nz-input formControlName="list" disabled />
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel()">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="mediactionProcess()" [disabled]="!this.inputForm.get('list').value">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>