<div nz-row>
    <div nz-col nzSpan="24">
        <!-- <button class="botton success" (click)="showAddModal()">Add Note</button> -->
         <div nz-row >
            <div nz-col nzSpan="10">
                <label for="">Notes</label>            
                <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">
    
                <button class="btnlevel2navy"
                    
                    (click)="showAddModal()">Add</button>
                <button class="btnlevel2navy"
                
                    (click)="showEditModal(activeRowData,selectedRowIndex)">Edit</button>
                <button class="btnlevel2orange"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="delete(activeRowData.recordNumber)">Del</button>
                    <button class="btnlevel2navy" (click)="generatePdf()">Print</button>
                    <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
                </div>
            </div>
            <div nz-col nzSpan="14">
            <!-- <button nz-button nzType="primary" [nzLoading]="printLoad" (click)="print()"><i nz-icon nzType="printer" nzTheme="outline"></i></button> -->
            <app-filter [tabs]="'OPNOTES'"  [(ngModel)]="filters" (ngModelChange)="filterChange($event)"></app-filter>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24">
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Note Detail</th>
                    <!-- <th class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn" (click)="onItemclick(data, i)" (dblclick)="showEditModal(data,i)">
                    <td>{{data.detailDate | date: 'dd/MM/y' }}</td>
                    <td>{{data.detail | getTextFromHtml }}</td>
                    <!-- <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure to delete this?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)">Delete</a>
                    </td> -->
                </tr>
            </tbody>
        </nz-table>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="modalOpen" nzWidth="960" [nzTitle]="addOrEdit == 1 ? 'Add Clinical Note' : 'Edit Clinical Note'" (nzOnCancel)="handleCancel()"
    [nzStyle]="{ top: '20px' }">
    <div nz-row [formGroup]="caseFormGroup" nzGutter="16">
        <div nz-col nzSpan="7" [formGroup]="caseFormGroup">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Category</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="category" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of dlist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Program</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of alist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Discipline</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="discipline" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of blist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Care Domain</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="careDomain" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of clist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-col nzSpan="17">
            <div nz-row nzGutter="32" [formGroup]="caseFormGroup">
                <div nz-col nzSpan="12" class="form-group">
                    <label for="">Reminder Date</label>
                    <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="12" class="form-group">
                    <label formControlName="publishToApp" class="chk" nz-checkbox>Publish To Mobile App</label>
                </div>
            </div>
            <div nz-row>
                <div class="form-group" [formGroup]="caseFormGroup">
                    <nz-radio-group formControlName="restrictionsStr">
                        <label nz-radio nzValue="public">Public</label>
                        <label nz-radio nzValue="workgroup">Workgroup Only</label>
                        <label nz-radio nzValue="restrict">Restrict To</label>
                    </nz-radio-group>
                </div>
            </div>
            <div nz-row class="overflow-list" *ngIf="caseFormGroup.get('restrictionsStr').value == 'restrict'">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
                    <div nz-row *ngFor="let list of mlist; let i = index">
                        <div class="chkboxes" nz-col nzOffset="2" nzSpan="22">
                            <label nz-checkbox [nzValue]="list.name" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.name }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div nz-row [formGroup]="caseFormGroup">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
                        <!-- <textarea rows="4" nz-input formControlName="notes"></textarea> -->
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>