<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'80vw'" [nzStyle]="{ top: '10px', left: '80px' }">


    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" class="title">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="9" class="title">
                <label> AI Assisted Allocation </label>
            </div>

        </div>
    </ng-template>

    <ng-template #modalContent>
        <div nz-row style="min-height:40rem;">
            <div nz-col nzSpan="24" style="text-align: center" *ngIf="Spiner_loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
            <div nz-col nzSpan="18" *ngIf="!Spiner_loading">
                <div style="display:flex; flex-direction:column; width:98%; ">

                    <!-- <label class="label">Permanently Rostered Staff</label> -->

                    <nz-table #basicTable [nzSize]="'small'" [nzLoading]="loading" [nzShowPagination]="false"
                        [nzData]="rosters_display" [nzScroll]="{x:'1000px', y:'500px' }" [nzBordered]="true">
                        <thead>
                            <tr>
                                <th nzWidth="10%">Caseload ID</th>
                                <th nzWidth="14%">Suggested Staff</th>
                                <th nzWidth="8%">Start Time</th>
                                <th nzWidth="8%">End Time</th>
                                <th nzWidth="14%">Client Code</th>
                                <th nzWidth="15%">Service Type</th>     
                                <th nzWidth="6%">KM</th>
                                <th nzWidth="25%">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                               <ng-container  style="margin:5px;">

                                    <tr *ngFor="let data of rosters_display; let i = index; ">

                                      
                                        <td>
                                            {{data.caseloadID}}
                                        </td>
                                        <td>
                                            {{data.suggestedStaff}}
                                        </td>
                                        <td>
                                            {{data.startTime}}
                                        </td>
                                        <td>
                                            {{data.endTime}}
                                        </td>
                                        <td>
                                            {{data.clientCode}}
                                        </td>
                                        <td>
                                            {{data.serviceType}}
                                        </td>
                                        <td>
                                            {{data.km}}
                                        </td>
                                        <td>
                                            {{data.notes}}
                                        </td>
                                    </tr>
                                </ng-container>
                          
                        </tbody>
                    </nz-table>


                </div>

            </div>
            <div nz-col nzSpan="6" formGroup="inputForm" *ngIf="!Spiner_loading">
                <div>
                    <label class="heading2"> Save As Default Settings</label>
                </div>
                <div style=" margin:5px">
                    <label nz-checkbox formControlName="partTime">Part time</label>
                    <label nz-checkbox formControlName="fullTime">Full time</label>
                    <label nz-checkbox formControlName="casual">Casual</label>

                </div>
                <div class="line"></div>
                <div style=" margin:5px">
                <div>
                    <label> Having</label>
                </div>
                <div style="display:flex; flex-direction:row; margin-top: 3px;">
                    <label nz-checkbox formControlName="allDesirableCompetencies">All desirable competencies</label>
                    <nz-input-number formControlName="duration" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                        style="width:60px; margin-left: 3px; margin-right: 3px;"></nz-input-number>
                    <label>months</label>
                </div>
                <div>
                    <label nz-checkbox formControlName="limitedPreferredStaff">Limit to Preferred Staff</label>
                </div>
            </div>
                <div class="line"></div>
                <div style=" margin:5px">
                    <div style="display:flex; flex-direction:row; margin-top:5px; align-items: center;">
                        <label style=" width:60px">Within</label>
                        <nz-input-number formControlName="WithinStraightLine" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                            style="width:60px; margin-left: 3px; margin-right: 5px;"></nz-input-number>
                        <label >Straight Line</label>
                    </div>
                    <div style="display:flex; flex-direction:row; margin-top:5px; align-items: center;">
                        <label style="width:60px">Allowing</label>
                        <nz-input-number formControlName="minFromKnownAddress" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                            style="width:60px; margin-left: 3px;  margin-right: 5px;"></nz-input-number>
                        <label>Min. from last known address</label>
                    </div>
                </div>
                <div class="line"></div>
                <div style=" margin:5px">
                    <div style="display:flex; flex-direction:row; margin-top:5px; align-items: center;">
                        <label style=" width:60px">Cost</label>
                        <nz-input-number formControlName="cost" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                            style="width:60px; margin-left: 3px; margin-right: 3px;"></nz-input-number>
                        <!-- <label>Straight Line</label> -->
                    </div>
                    <div style="display:flex; flex-direction:row; margin-top:5px; align-items: center;">
                        <label style="width:60px">Rating</label>
                        <nz-input-number formControlName="rating" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                            style="width:60px; margin: 3px;"></nz-input-number>
                        <!-- <label>Min. from last known address</label> -->
                    </div>
                    <div style="display:flex; flex-direction:row; margin-top:5px; align-items: center;">
                        <label style="width:60px">Distance</label>
                        <nz-input-number formControlName="distance" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                            style="width:60px; margin: 3px;"></nz-input-number>
                        <!-- <label>Min. from last known address</label> -->
                    </div>
                </div>
                <div class="line"></div>
                <div style=" margin-top:5px">
                    <div style="display:flex; flex-direction:row; margin:5px; align-items: center;">
                        <label nz-checkbox formControlName="autofillGapsTravelTime">Autofill Gaps With Travel
                            Time</label>
                    </div>
                    <div style="display:flex; flex-direction:column; margin-top:10px; margin-left:20px; ">
                       
                        <div style="display:flex; flex-direction:row; ">
                            <label style="width:80px;  margin: 5px;">Min Gap For</label>
                            <nz-input-number formControlName="minGapTravelTime" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                                style="width:60px; margin: 3px;"></nz-input-number>
                            <!-- <label>Min. from last known address</label> -->
                        </div>
                        <div style="display:flex; flex-direction:row;  ">
                            <label style="width:80px;  margin: 5px;">Max Gap Fill</label>
                            <nz-input-number formControlName="maxGapTravelTime" [nzMin]="1" [nzMax]="50" [nzStep]="1"
                                style="width:60px; margin: 3px;"></nz-input-number>
                            <!-- <label>Min. from last known address</label> -->
                        </div>
                       
                    </div>
                    <div style="display:flex; flex-direction:row; margin:5px; align-items: center;">
                        <label nz-checkbox formControlName="autofillRequiredBreaks">Autofill Required Breaks</label>
                    </div>
                </div>
                <div class="line"></div>
                <div style="display:flex; flex-direction:row; margin:5px; align-items: center;">
                    <label nz-checkbox formControlName="allJobCategory">All Jobs Categories</label>
                </div>

            </div>
        </div> <!--Modal Div-->
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button class="btnblue-sim" (click)="messageStaff()">
            <span>Message Staff</span>
        </button>

        <button nz-button  class="btnblue-sim" (click)="redo()">
            <span>Re Do</span>
        </button>
        <button nz-button  class="btnblue-sim" (click)="acceptRoster()">
            <span>ACCEPT</span>
        </button>
        <!-- <button nz-button nzType="default" (click)="handleCancel()">Cancel</button> -->



    </ng-template>
</nz-modal>