
nz-switch.master-class ::ngdeep button.ant-switch-checked{ background-color:#c07417; }

nz-modal{
    backdrop :'static';
    keyboard : false
}

.dm-input{
    margin-bottom:1rem;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-body{
    padding:0;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
    padding:0;
}
nz-menu{
    background-color: #85B9D5;  
}
ul{
    list-style: none;
    padding: 10px 10px 10px 15px;
    margin: 0;
    background-color: #85B9D5; 
    color: #292828;;
    
}
ul > label{
  font-weight: 800;
  color :#fff;
}
li {
    padding: 2px ;
    font-size: 14px;
    font-family: 'Segoe UI';
    position:relative;
    cursor:pointer;
    /* background-color: #85B9D5;  */
    color: #fff;
}
li:hover{
    background:#5aa3ce;
}
li i {
    float:right;
    margin-right:7px;
}
hr{
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 2px 0;
}
li > ul{
    position: absolute;
    display:none;         
    right: -192px;
    padding: 2px 5px;
    background: #85B9D5;
    top: -6px;
    width: 192px;
    transition: all 0.5s ease 3s;
}
li:hover > ul{          
    display:block;
    transition: all 0.5s ease 0s;
}

.blank-list {
  background-color: #FFF;
  color: #000;
  width: 100%;
}

.main-wrapper {
    position: sticky;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -5px;
    border-top: 1px solid #fff;
    color:#000;
    width: 100%;
    text-align: center;    
    background:  linear-gradient(0.25turn, #3f87a6, #a1ddf7, #fafcfc);  
    z-index:2;
}

.listitem {

    border: 1px solid #fff;
    background-color: #fff ;
    color: #413e3e;
    font-family: 'Segoe UI' !important;
    font-size: 14px !important;   

    & :hover {
      background:#e9e6e6 !important;
    }

}

.listitem > ul {
  background: #fff !important;
}



.resizable {
    background: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .resizable .resizers {
    width: 100%;
    height: 100%;
    border: 3px solid #4286f4;
  }

  .rectangle{
    margin-top: 10px; 
    padding-top: 10px; 
    padding-left: 5px; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 5px;  
    border-color: rgb(236, 236, 236);
}

.spinner{
margin:1rem auto;
width:1px;
}

.header {
 
  padding-top: 3px;
  margin-left: 5px ;    
  margin-bottom: 10px;
  background-color: #fff; /*#e5ecf1 #85B9D5*/ 
  color: black; 
  vertical-align: middle !important;
  border : 1px solid #F5F5F5;
  border-radius : 5px;
  box-shadow : 0 12px 24px rgba(0, 0, 0, 0.15);
/*   align-items:center;*/
  justify-content: space-around;
 
}


 label {
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
   
}

nz-date-picker {
    height: 32px !important;
}
select {
    height: 32px !important;
    /* background-color: #85B9D5 !important;  */
    color: #000 !important;
}

input{
    height: 32px !important;
}

.btn-orange{
    background: #F18805;
    color:#fff;
    font-family:'Segoe UI';
   
}

.custom-dropdown {
  padding-left:5px;
  padding-right:2px;
  border: 0.5px solid #d9d9d9;
  border-radius: 4px;
  display: block  !important;
  height: 33px  !important;
  width: 100%  !important;
  overflow: visible  !important;
  color: #000;
}
.custom-dropdown-item {
width: 100%  !important;
font-size: 15px;
color: #000;
font-family: 'Segoe UI';
}

body {
    background-color: #fff;
    color: black;
  }

  button {
    background-color: #85B9D5;
    color: #fff;
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
    text-align: center !important;
    margin-left : 5px;
    vertical-align: middle;
  }

  button:hover{
    background:#85B9D5;
    color: #fff;
}

.btn-orange{
  background-color: #F18805;
  color: white;
  border: 1px solid #F18805 ;
}
  .nz-select, .nz-dropdown-menu, .nz-switch {
    background-color: #ffffe0;
    color: black;
  }

  table {
    background-color: #fffff0;
    color: black;
  }
  


  .switch{
    
    background-color:  #fff; vertical-align: middle;  text-align: center;
    border : 1px solid #e5e5e5;     
    border-right: none;
    border-left: none;
    align-items: center;
              
  }
  .switch-label{
    
    background-color:  #fff; vertical-align: middle; height: 32px;    color: #000; padding: 5px; text-align: center;
    border : 1px solid #e5e5e5;  
   
    border-top-left-radius: 3px;   
    border-bottom-left-radius: 3px;    
    border-right: none;
    
  }

  .switch-label2{
    
    background-color:  #fff; vertical-align: middle; height: 32px;   color: #000; padding: 5px; text-align: center;
    border : 1px solid #e5e5e5;  
   
    border-end-end-radius: 3px;   
    border-top-right-radius: 3px;    
    border-left: none;
  }


  .deleted{
    background-color:  #85B9D5  ;
    padding-left: 2px; 
    padding-top: 4px; 
    color: white;  width:80px; text-align: center; vertical-align: middle; border-top-left-radius: 5px; border-bottom-left-radius: 3px; 
 }
 .ant-picker {
    background-color: #fff; /* Light black background */
    border-color: #edf3f3;    /* black border */
    border-radius: 8px;       /* Rounded corners */
    color: #222020 !important;  
    border: 1px solid #fff;
    font-size: 16px;      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   nz-divider{
    margin: 0;
}
p{
    margin: 0;
    cursor:pointer;
    padding:10px;
    height:50px;
    border: 1px solid #f3f3f3;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 300;
}
.active-tab{
    background: #85B9D5;
    color: #fff;
    padding:10px;
    font-weight: 600;
}

.box{
  display:block;
  border: 2px solid #efefef;
  min-height: 75vh;
}

.heading{
  
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 700;

}

.active{
    background-color: #d1eeff !important;
    color: #000 !important;
}

.person-combo{
  width:95%; 
  background-color: white; 
  color:#000;
  transition: all 0.3s ease;

  &:hover{
    background-color: #fff !important;
    color: #000 !important;
  }
}

