<!-- dynamic-tabs.component.html -->


<!-- <link id="daymanager-theme" type="text/scss" rel="stylesheet" href="./daymanager.css"> -->
<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(styleUrl)">

<div style=" display:flex; flex-direction: column; ">
    <div nz-row nz-col nzSpan="24" class="header">
        <div nz-col nzSpan="4">
            <!-- <label for="" > LIR2 </label> -->
            <!-- <nz-select  [(ngModel)]="selectedPersonType"  class="custom-select">
                        <nz-option *ngFor="let p of personTypeList" [nzValue]="p"  [nzLabel]="p"></nz-option>
                    </nz-select> -->

            <!-- <select nz-dropdown  [nzDropdownMenu]="menu" class="custom-dropdown" style="width:100%" [(ngModel)]="selectedPersonType" nzTrigger="click">
                <option  style=" background-color:white">{{ selectedPersonType }}</option>
            </select> -->

            <button  nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"  class="person-combo">{{ selectedPersonType }}
                <i nz-icon nzType="down" nzTheme="outline" style="cursor: pointer; float:right; padding:4px"  ></i>        
            </button>
             
             
            <nz-dropdown-menu #menu="nzDropdownMenu"  >

                <ul nz-menu class="blank-list">
                    <li class="custom-dropdown-item" *ngFor="let p of personTypeList"  
                        (click)="personTypeChange($event, p)" nz-menu-item nzTitle="p">{{p}}
                       
                    </li>
                   
                </ul>

            </nz-dropdown-menu>


        </div>
        <div nz-col nzSpan="3" id="divMaster">
            <div nz-row>
                <div nz-col nzSpan="8">
                    <label for="" [class.active]="master" class="switch-label">Master</label>
                </div>
                <div  nz-col nzSpan="7" style="text-align:center; ">
                       
                        <div nz-col nzSpan="10">
                            <button nz-button (click)="setMasterRoster(true)"> <i nz-icon nzType="left" nzTheme="outline"></i> </button>
                        </div>
                      
                        <div nz-col nzSpan="10" style="margin-left:2px">
                            <button nz-button (click)="setMasterRoster(false)"> <i nz-icon nzType="right" nzTheme="outline"></i> </button>
                        </div>
                    
                    <!-- <nz-switch [(ngModel)]="master" style="padding-left:4px;  vertical-align: middle; "
                        (ngModelChange)="setMasterRoster($event)"></nz-switch> -->
                </div>
                <div nz-col nzSpan="8">
                    <label for="" [class.active]="!master" class="switch-label2">Current</label>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="3">
            <div *ngIf="master">
                <!-- <label for="date"> Cycle</label> -->
                <nz-select style="width:100%; " [(ngModel)]="masterCycle" (ngModelChange)="setCycle()">
                    <nz-option *ngFor="let cl of cycles" [nzValue]="cl.cycle" [nzLabel]="cl.cycle"></nz-option>
                </nz-select>
            </div>
            <div *ngIf="!master" style="display:flex; flex-direction:row">
                <!-- <label for="date"> Date</label> -->
                <nz-date-picker *ngIf="Theme!='DARK'" nzMode="default" [nzFormat]="dateFormat" [(ngModel)]="date"
                    style="width:100%" class="ant-picker"></nz-date-picker>
                <input *ngIf="Theme=='DARK'" type="date" [(ngModel)]="date" class="ant-picker"
                    placeholder="'dd/MM/yyyy'" style="text-align:center" />
                    <div style="display:flex; flex-direction:row; margin-left:-2px; "> 
                    <button  nz-button (click)="previous()" > <i nz-icon nzType="left" nzTheme="outline"  ></i>  </button>
                    <button  nz-button (click)="next()" style="margin-left:-1px"> <i nz-icon nzType="right" nzTheme="outline" ></i> </button>
                     </div>
            </div>
        </div>
        <div nz-col nzSpan="1">
            <button nz-button nzType="default" (click)="load_rosters(true)" nz-tooltip class="btn-orange"
                nzTooltipTitle="Refresh the current Day Manager view">Refresh</button>

        </div>
        <div nz-col nzSpan="3" id="divM" style="margin-left:20px">
            <div nz-row>
                <div nz-col nzSpan="8">
                    <label for="" class="switch-label" [class.active]="deleted">Deleted</label>
                </div>
                <div  nz-col nzSpan="7">
                    <div nz-col nzSpan="10"> 
                        <button  nz-button (click)="setDeletesRoster(true)" > <i nz-icon nzType="left" nzTheme="outline"  ></i>  </button>
                    </div>
                    <div nz-col nzSpan="10" style="margin-left:2px;"> 
                        <button  nz-button (click)="setDeletesRoster(false)" > <i nz-icon nzType="right" nzTheme="outline"  ></i> </button>
                    </div>
                    <!-- <nz-switch [(ngModel)]="deleted" style="padding-left:4px;  vertical-align: middle; margin-top:3px"
                        (ngModelChange)="load_rosters($event)"></nz-switch> -->
                </div>
                <div nz-col nzSpan="8">
                    <label for="" class="switch-label2" [class.active]="!deleted">Active</label>
                </div>
            </div>
        </div>

        <div nz-col nzSpan="9">

            <div style="display: flex; flex-direction: row; margin-left:5px; ">
                <nz-divider [nzType]="'vertical'" style="height:40px"></nz-divider>
                <!-- <button nz-button nzType="default"  (click)="showCustomFilter()" [nzSize]="size" nzShape="rectangle" nz-tooltip nzTooltipTitle="Create a new custom filter to limit activities to operator requirements"><i nz-icon nzType="filter" nzTheme="outline" ></i></button> -->
                <!-- <button nz-button nzType="default"  (click)="removeCustomFilter()" [disabled]="CustomFilters.length<=0" [nzSize]="size" nzShape="circle" nz-tooltip nzTooltipTitle="Delete ALL custom filters"><i nz-icon nzType="close-circle" nzTheme="outline" ></i></button>
                        <button nz-button nzType="default"  (click)="ViewCustomFilter()" [disabled]="CustomFilters.length<=0" [nzSize]="size" nzShape="circle" nz-tooltip nzTooltipTitle="View existing custom filters"><i nz-icon nzType="question-circle" nzTheme="outline" ></i></button> -->
                <!-- <button nz-button nzType="default"  (click)="load_rosters(true)" [nzSize]="size" nzShape="rectangle" nz-tooltip nzTooltipTitle="Refresh the current Day Manager view"><i nz-icon nzType="reload" nzTheme="outline" ></i></button> -->
                <button nz-button nz-dropdown [nzDropdownMenu]="menuFilter" nz-tooltip
                    nzTooltipTitle="Quick Filters" nzTrigger="click">Filters</button>
                <!-- <button nz-button nzType="default" style="background-color: #85B9D5;" (click)="finalize_Query_preview()" [nzSize]="size" nzShape="rectangle" nz-tooltip nzTooltipTitle="Print the Day Manager"><i nz-icon nzType="printer" nzTheme="outline" ></i></button>                    -->
                <button nz-button nz-dropdown [nzDropdownMenu]="nzDropdownMenuInq" nzType="default" [nzSize]="size"
                    nzShape="rectangle" nz-tooltip  nzTrigger="click">Inquiries</button>
                <button nz-button nzType="default" (click)="openMenu()" [nzSize]="size" nzShape="rectangle" nz-tooltip
                    nzTooltipTitle="Set Viewing Options">Options</button>
                <!-- <button nz-button nzType="default" style="background-color: #85B9D5; color: white; height: 32px;" (click)="openMenu()"  [nzSize]="size" nzShape="rectangle"><i nz-icon nzType="menu" nzTheme="outline"></i></button> -->
                <nz-dropdown-menu #menuFilter="nzDropdownMenu" class="dropmenu" >
                    <ul nz-menu>
                        <li nz-menu-item nzTitle="" (click)="ViewQuickFilterDisplay()">Add/View Filters </li>

                        <li nz-menu-item nzTitle="" (click)="removeCustomFilter()">Clear Filter </li>
                        <hr />
                    </ul>

                </nz-dropdown-menu>

                <nz-dropdown-menu #nzDropdownMenuInq="nzDropdownMenu" >
                    <ul nz-menu >
                        <label for="">Staff</label>
                        <li nz-menu-item nzTitle="" (click)="openStaffModal(true)">General Inquiry </li>
                        <li nz-menu-item nzTitle="" (click)="showMakeUps()">Make Up Pays </li>
                        <hr />
                        <label for="">Recipients</label>
                        <li nz-menu-item nzTitle="" (click)="openRecipientModal(true)">General Inquiry </li>
                        <hr />
                        <label for="">Other</label>
                        <li nz-menu-item nzTitle="" (click)="openStaffAvailability()">Staff Availability Overview</li>
                        <li nz-menu-item nzTitle="" (click)="openVehicleAvailability()">Vehicle Availability</li>
                        <li nz-menu-item nzTitle="" (click)="openPublicHoliday()">Public Holidays</li>
                        <hr />
                        <li nz-menu-item nzTitle="" (click)="FinalizePreview()">Print Day Manager</li>
                        <hr />
                        <label for="">General Information</label>
                        <li *ngIf="token" nz-menu-item nzTitle="">User : {{token.user}}</li>
                        <li *ngIf="PayPeriod" nz-menu-item nzTitle="">Pay Period : {{PayPeriod.start_Date | date
                            :'dd/MM/yyyy'}} -
                            {{PayPeriod.end_Date | date :'dd/MM/yyyy'}}</li> 
                        <li nz-menu-item nzTitle="">Status : No Status </li>
                    </ul>
                </nz-dropdown-menu>

                <div style="margin-left:5px; ">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input [(ngModel)]="searchRecord" placeholder="Search"
                            (keypress)="onKeyPress($event)" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search" (click)="searchData()"></i>
                    </ng-template>

                </div>
            </div>
        </div>

    </div>
    <div nz-row style=" display:block; margin:-5px;  ">
        <dm-calendar [startDate]="date" [dayView]="dayView" [reload]="reload" [personType]="selectedPersonType"
            [refreshCalander]="refreshCalander" (showDetail)="showDetail($event)" (showOptions)="showOptions($event)"
            (highlighted)="highlighted($event)" [master]="master" (data)="data($event)"
            (paste)="pasteSelectedRecords($event)" [applyFilter]="applyFilter" [dmOptions]="dmOptions"
            [deleted]="deleted" (fireMenu)="fireMenu($event)"></dm-calendar>
    </div>

    <app-aiassistant *ngIf="viewAIAssistant" [isVisible]="viewAIAssistant" (AIRosterDone)="AIRosterDone($event)"  [loadData]="loadAIData" ></app-aiassistant> 
    <staffAvailability *ngIf="viewStaffAvailability" [isVisible]="viewStaffAvailability" [loadData]="loadStaffAvailabilityData"></staffAvailability>
    <vehicleAvailability *ngIf="viewVehicleAvailability" [isVisible]="viewVehicleAvailability" [loadData]="loadVehicleData"></vehicleAvailability>

    <!-- <nz-modal  [nzStyle]="{ top: '10px' }" hasBackdrop [nzWidth]="900" [(nzVisible)]="ViewExistingFilter" nzTitle="Day Manager Filters"   (nzOnCancel)="ViewExistingFilter = false" >

            <div  class="flexy" style="min-height:25rem; margin-top: 5px;" >
                <div nz-row >
                    <div nz-row *ngFor="let fltr of CustomFilters; let i=index">
                        <div>
                                {{i+1}} - {{fltr.key}} = {{fltr.value}}
                        </div>
                    </div>
                </div>
            </div>
            <div *nzModalFooter>
                <button  nz-button nzType="default" (click)="ViewExistingFilter=false">OK</button>
                <button  nz-button nzType="default" (click)="ViewExistingFilter=false">Cancel</button>
            </div>
        </nz-modal>                  -->

    <nz-modal [ngStyle]="modelStyle" hasBackdrop [nzWidth]="500" [(nzVisible)]="showMenu" nzTitle="Set Options"
        (nzOnCancel)="showMenu = false">
        <div style="min-height:25rem; margin-top: 5px; ">
            <div nz-row nz-col nzSpan="24">

                <div nz-col nzSpan="5" style=" margin-top: 5px; margin-bottom: 10px;">
                    <label for="dayview">Day View</label>

                </div>
                <div nz-col nzSpan="10">
                    <nz-select [(ngModel)]="dayViewValue">
                        <nz-option *ngFor="let no of dayViewArr" [nzValue]="no" [nzLabel]="no"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nz-col nzSpan="24">

                <div *ngFor="let opt of optionsList; let i=index">
                    <label nz-checkbox [(ngModel)]="optionsList[i].checked">{{opt.name}}</label>
                </div>


            </div>
            <div nz-row nz-col nzSpan="24" style=" margin: 3px;">
                <div nz-col nzSpan="10">
                    <label for="AILevel">AI Assistant Automation Level</label>
                </div>
                <div nz-col nzSpan="10">
                    <nz-input-number [(ngModel)]="AILevel" [nzMin]="1" [nzMax]="9" [nzStep]="1"></nz-input-number>
                </div>
            </div>


            <div nz-row nz-col nzSpan="24" style=" margin: 3px;">
                <div nz-col nzSpan="10">
                    <label for="">Set Rostering Pay Period</label>
                </div>
                <div nz-col nzSpan="10">
                    <nz-date-picker [(ngModel)]="PayPeriodEndDate" [nzFormat]="dateFormat"  ></nz-date-picker>
                </div>
            </div>
            <div nz-row nz-col nzSpan="24">
                <div nz-col nzSpan="14">
                    <button nz-button nzType="default" (click)="RollbackAIAllocation()" class="btnblue-sim">Rollback AI
                        Allocation for Batch</button>
                </div>
                <div nz-col nzSpan="8">
                    <nz-select>
                        <nz-option *ngFor="let no of themes" [nzValue]="" [nzLabel]=""></nz-option>
                    </nz-select>
                </div>

            </div>
           



        </div>
        <div *nzModalFooter>
            <ng-container>
                
                <div style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                    <div style="display: flex; flex-direction: row; align-items: center; ">
                        <label for="Theme" style=" margin-top:15px; margin-right:10px">THEME</label>
                        <nz-select [(ngModel)]="Theme">
                            <nz-option *ngFor="let no of themes" [nzValue]="no" [nzLabel]="no"></nz-option>
                        </nz-select>
                    </div>
                    
                    <div style="width:60px"></div>
                    <button nz-button nzType="default" style="width:80px" (click)="menuAction()" class="btnblue-sim">Save</button>
                </div>
                
              
                <!-- <button nz-button nzType="default" (click)="showMenu=false" class="btnblue-sim">Cancel</button> -->
            </ng-container>
        </div>
    </nz-modal>

    <nz-modal [nzStyle]="{ top: '10px' }" hasBackdrop [nzWidth]="1200" [(nzVisible)]="viewQuickFilter"
        nzTitle="User Defined Filters" (nzOnCancel)="viewQuickFilter = false">
        <div style="min-height:25rem; ">
            <div nz-row nzGutter="18">
                <div nz-col nzSpan="3">
                    <p (click)="setTab(0)" [class.active-tab]="tabIndex==0">
                        <!-- <i nz-icon nzType="shop" nzTheme="outline"></i> -->
                        Branches
                    </p>
                    <nz-divider></nz-divider>
                    <p (click)="setTab(1)" [class.active-tab]="tabIndex==1">
                        <!-- <i nz-icon nzType="dollar" nzTheme="outline"></i> -->
                        Funding
                    </p>

                    <nz-divider></nz-divider>
                    <p (click)="setTab(2)" [class.active-tab]="tabIndex==2">
                        <!-- <i nz-icon nzType="audit" nzTheme="outline"></i> -->
                        Programs
                    </p>
                    <nz-divider></nz-divider>
                    <p (click)="setTab(3)" [class.active-tab]="tabIndex==3">
                        <!-- <i nz-icon nzType="audit" nzTheme="outline"></i> -->
                        Teams
                    </p>
                    <nz-divider></nz-divider>
                    <p (click)="setTab(4)" [class.active-tab]="tabIndex==4">
                        <!-- <i nz-icon nzType="solution" nzTheme="outline"></i> -->
                        Activities
                    </p>

                </div>
                <div nz-col nzSpan="21">
                    <div nz-col nzSpan="10" class="box" nzGutter="4">

                        <div nz-col nzSpan="24" *ngIf="tabIndex==0">
                            <nz-table #basicTable [nzData]="branchesList" [nzShowPagination]="false" [nzBordered]="true"
                                 [nzScroll]="{ y:'74vh' }">
                                <thead>
                                    <tr>
                                        <!-- <th colSpan="2" style="font-weight: bold;">Branches</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colSpan="2">
                                            <label nz-checkbox [(ngModel)]="AllBranches"
                                                (nzCheckedChange)="onAllChecked($event,'Branch')">All Branches</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!AllBranches">
                                        <td>
                                    <tr *ngFor="let data of branchesList">
                                        <td nzWidth="100%">
                                            <label nz-checkbox [nzChecked]="this.selectedBranches.indexOf(data)>=0" style="width:30px"
                                                (nzCheckedChange)="onItemChecked(data, $event,'Branch')">
                                            </label>
                                        {{ data.title }}</td>

                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div nz-col nzSpan="24" *ngIf="tabIndex==1">
                            <nz-table #basicTable [nzData]="fundingList" [nzShowPagination]="false" [nzBordered]="true"
                                [nzScroll]="{ y:'74vh' }">
                                <thead>
                                    <tr>
                                        <!-- <th style="font-weight: bold;" colSpan="2">Funding Source</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colSpan="2">
                                            <label nz-checkbox [(ngModel)]="AllFundings"
                                                (nzCheckedChange)="onAllChecked($event,'Funding')">All Funding Source</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!AllFundings">
                                        <td>
                                    <tr *ngFor="let data of fundingList">
                                        <td  nzWidth="100%">
                                            <label nz-checkbox [nzChecked]="this.selectedFundings.indexOf(data)>=0" style="width:30px"
                                                (nzCheckedChange)="onItemChecked(data, $event,'Funding')"></label>
                                        {{ data.title }}</td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div nz-col nzSpan="24" *ngIf="tabIndex==2">
                            <nz-table #basicTable [nzData]="programsList" [nzShowPagination]="false" [nzBordered]="true"
                                 [nzScroll]="{ y:'74vh' }">
                                <thead>
                                    <tr>
                                        <!-- <th style="font-weight: bold;" colSpan="2">Program</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colSpan="2">
                                            <label nz-checkbox [(ngModel)]="AllPrograms"
                                                (nzCheckedChange)="onAllChecked($event,'Program')">All Programs</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!AllPrograms">
                                        <td>
                                    <tr *ngFor="let data of programsList">
                                        <td  nzWidth="100%">
                                            <label nz-checkbox [nzChecked]="this.selectedPrograms.indexOf(data)>=0" style="width:30px"
                                                (nzCheckedChange)="onItemChecked(data, $event,'Program')"></label>
                                        {{ data.title }}</td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div nz-col nzSpan="24" *ngIf="tabIndex==3">
                           <nz-table #basicTable [nzData]="teamList" [nzShowPagination]="false" [nzBordered]="true"
                                 [nzScroll]="{ y:'74vh' }">
                                <thead>
                                    <tr>
                                        <!-- <th style="font-weight: bold;" colSpan="2">Team</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colSpan="2">
                                            <label nz-checkbox [(ngModel)]="AllTeams"
                                                (nzCheckedChange)="onAllChecked($event,'Team')">All Teams</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!AllTeams">
                                        <td>
                                    <tr *ngFor="let data of teamList">
                                        <td  nzWidth="100%">
                                            <label nz-checkbox [nzChecked]="this.selectedTeams.indexOf(data)>=0" style="width:30px"
                                                (nzCheckedChange)="onItemChecked(data, $event,'Team')"></label>
                                             {{ data.title }}
                                        </td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div nz-col nzSpan="24" *ngIf="tabIndex==4">
                            <nz-table #basicTable [nzData]="activityList" [nzShowPagination]="false" [nzBordered]="true"
                                 [nzScroll]="{ y:'74vh' }">
                                <thead>
                                    <tr>
                                        <!-- <th style="font-weight: bold;" colSpan="2">Activities</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colSpan="2">
                                            <label nz-checkbox [(ngModel)]="AllActivities"
                                                (nzCheckedChange)="onAllChecked($event,'Activity')">All
                                                Activities</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!AllActivities">
                                        <td>
                                    <tr *ngFor="let data of activityList">

                                        <td  nzWidth="100%">
                                            <label nz-checkbox [nzChecked]="this.selectedActivities.indexOf(data)>=0" style="width:30px"
                                                (nzCheckedChange)="onItemChecked(data, $event,'Activity')"></label>
                                        {{ data.title }}</td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>

                    </div>
                    <div nz-col nzSpan="14" nzGutter="4">
                        <div nz-row >
                            <div nz-col nzSpan="22">
                                <label class="heading">Unassigned Booking Sort Order</label>
                                <nz-select [(ngModel)]="SortOrderBooking" style="width:100%">
                                    <nz-option *ngFor="let no of lstSortOrderBooking" [nzValue]="no" [nzLabel]="no"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div style="margin:5px"></div>
                        <nz-divider></nz-divider>
                        <div nz-row nzSpan="24">
                            <label class="heading">Service Group Display Inclusions</label>
                        </div>
                        <div nz-row nzSpan="24">

                            <div *ngFor="let opt of optionsList2; let i=index">
                                <div nz-col nzSpan="8">
                                    <label nz-checkbox [(ngModel)]="optionsList2[i].checked">{{opt.name}}</label>
                                </div>
                            </div>

                        </div>
                        <nz-divider></nz-divider>
                        <div nz-row nzSpan="24">
                            <div nz-col nzSpan="16" style="margin-top: 10px;">
                                <div nz-row style="margin-left: 2px;">
                                    <label for="" class="heading">User Filters</label>
                                    <label for="">Limit To</label>
                                    <nz-select [(ngModel)]="LimitTo" style="width: 100%;"
                                        (ngModelChange)="FillLimitTo()">
                                        <nz-option *ngFor="let grp of lstGroup" [nzValue]="grp"
                                            [nzLabel]="grp"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-row style="margin-left: 2px;">
                                    <label for="">Starting With</label>
                                    <nz-select [(ngModel)]="startWith" *ngIf="!showSimpleFilterInput"
                                        style="width: 100%;">
                                        <nz-option *ngFor="let t of lstStartWith" [nzValue]="t.title"
                                            [nzLabel]="t.title"></nz-option>
                                    </nz-select>
                                    <nz-input-group *ngIf="showSimpleFilterInput">
                                        <input nz-input placeholder="{{nzFilterPlaceHolder}}" [(ngModel)]="startWith"
                                            style="width: 100%;" />

                                        <!-- <button nz-button nzType="default"  (click)="AddCustomFilter()"  [nzSize]="'default'" nz-tooltip nzTooltipTitle="Add">
                                                <i nz-icon nzType="border-inner" nzTheme="outline" ></i>
                                            </button>
                                        -->
                                    </nz-input-group>
                                </div>

                                <div style="margin-top: 10px; text-align: center;">
                                    <!-- <label nz-checkbox [(ngModel)]="addInExisting" style="margin-right: 10px;">Add in existing filter</label>  -->

                                    <button nz-button nzType="default" style="background-color: #002060; color: white;"
                                        (click)="AddCustomFilter()">ADD</button>
                                    <button nz-button nzType="default" style="background-color: #F18805; color: white;"
                                        (click)="removeCustomFilter()">DEL</button>
                                    <!-- <button nz-button nzType="primary"  (click)="ViewCustomFilter()"  [nzSize]="'small'" nzShape="round"><i nz-icon nzType="view" nzTheme="outline"></i>View</button>  -->
                                </div>
                            </div>
                          
                            <div nz-col nzSpan="14" class="rectangle"
                                style="height:220px; width: 100%; margin-top: 5px;">
                                <div nz-row>
                                    <div nz-row *ngFor="let fltr of CustomFilters; let i=index">
                                        <div>
                                            {{i+1}} - {{fltr.key}} = {{fltr.value}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" style="background-color: #002060; color: white;"
        (click)="ApplyQuickFilter()">Apply</button>
    <button nz-button nzType="default" style="background-color: #F18805; color: white;"
        (click)="viewQuickFilter=false">Cancel</button>
</div>
</nz-modal>

</div>


<nz-modal [(nzVisible)]="workflowVisible" nzTitle="Worflow Modal" (nzOnCancel)="handleCancel()" nzWidth="1120">
    <div nz-row>
        <app-workflows></app-workflows>
    </div>
</nz-modal>



<!-- <recipientexternal [isVisible]="recipientexternal" [AccountNo]="selected_data" (recipientexternalDone)="cancelRecipientExternal($event)" *ngIf="recipientexternal"></recipientexternal> -->

<!-- <staffexternal [isVisible]="staffexternal" [AccountNo]="selected_data" (staffexternalDone)="cancelStaffExternal($event)" *ngIf="staffexternal"></staffexternal> -->
<!-- <shiftdetail  (timesheetDone)="shiftChanged($event)" ></shiftdetail> -->

<ng-container #dynamicContainerRecipientexternal></ng-container>
<ng-container #dynamicContainerStaffExternal></ng-container>
<ng-container #dynamicContainer></ng-container>
<ng-container #dynamicUnallocateStaff></ng-container>
<!-- <unallocate-staff  [findModalOpen]="OpenAllocateStaffComponent" [loadUnallocateStaff]="loadUnallocateStaff" (Done)="UnallocateStaffDone($event)" ></unallocate-staff> -->

<nz-modal class="options" [nzStyle]="{ top: '15px' }" [(nzVisible)]="optionsModal" nzTitle="" hasBackdrop [nzWidth]="400" (nzOnCancel)="optionsModal = false" >

    <div nz-row style="margin:-5px">
        <div nz-col nzSpan="24">
            <ul class="listitem">
                <li class="listitem" *ngIf="selectedOption" (click)="toMap(1)">Display Route Map</li>
                <li class="listitem" *ngIf="displayOption" (click)="ViewRecipientDetails.next(1)">Client Details</li>
                <li class="listitem" *ngIf="displayOption" (click)="ViewRecipientDetails.next(2)">Client Notes</li>
                <li *ngIf="selectedStaff!='BOOKED' && selectedStaff!='!INTERNAL' && selectedStaff!='!MULTIPLE'"
                    (click)="ViewDetails.next(2)">Staff Details</li>
    
                <hr />
                <li class="listitem" *ngIf="selectedStaff=='BOOKED' && displayOption " (click)="AllocateView.next(4)">
                    AI Assisted Allocation</li>
                <li class="listitem" *ngIf="selectedStaff!='BOOKED' && displayOption " (click)="AllocateView.next(1)">
                    Un-Allocate Staff</li>
                <li class="listitem" *ngIf="displayOption" (click)="AllocateView.next(2)">Re-Allocate Staff</li>
                <li class="listitem" *ngIf="ViewCancelShiftOption" (click)="AllocateView.next(3)"> Cancel Shift (Recipient)
                </li>
                <li class="listitem" *ngIf="displayOption" (click)="ViewChangeDayTime.next(1)"> Change Day or Times</li>
    
                <hr />
                <li class="listitem" (click)="AddRoster(1)">Add NEW Staff Activity / View Shift and Gaps</li>
                <li class="listitem" (click)="AddRoster(2)">Add NEW Recipient Activity / View Daily Services</li>
                <hr />
                <li class="listitem" (click)="AddRoster(3)">View Gaps(STAFF)</li>
                <hr *ngIf="mnuGroupShift && displayOption" />
                <li *ngIf="mnuGroupShift && displayOption" class="listitem" (click)="ViewGroupShift.next(1)">Add new
                    ATTENDEE</li>
                <li *ngIf="mnuGroupShift && displayOption" class="listitem" (click)="ViewGroupShift.next(2)">Add new STAFF
                    on Shift</li>
                <li *ngIf="mnuGroupShift && displayOption" class="listitem" (click)="ViewGroupShift.next(3)">View
                    Staff/Attendees - THIS TIMESLOT</li>
                <li *ngIf="mnuGroupShift && displayOption" class="listitem" (click)="ViewGroupShift.next(4)">View
                    Staff/Attendees - ALL DAY </li>
                <!-- <li *ngIf="mnuGroupShift && displayOption" class="listitem"  (click)="ViewGroupShift.next(5)">View Staff and Attendees </li> -->
    
                <hr />
                <li class="listitem" *ngIf="displayOption" (click)="openCaseLoad()">Set Caseload Name</li>
    
                <li class="listitem" *ngIf="displayOption && mnuMarkInProgress" (click)="ViewDMStatus.next(1)">Mark In
                    Progress </li>
                <li class="listitem" *ngIf="displayOption && mnuMarkInProgress" (click)="ViewDMStatus.next(2)">Clear In
                    Progress Status</li>
                <li class="listitem" *ngIf="displayOption" (click)="openAllocateResource()">Allocate Resource</li>
    
                <li class="listitem" *ngIf="displayOption">Change <i nz-icon nzType="right" nzTheme="outline"></i>
                    <ul class="listitem">
                        <li class="listitem" (click)="changeModalView.next(1)">Change Output Type</li>
                        <li class="listitem" (click)="changeModalView.next(2)">Change Program</li>
                        <li class="listitem" (click)="changeModalView.next(3)">Change Activity</li>
                        <li class="listitem" (click)="changeModalView.next(4)">Change Pay Type</li>
                        <li class="listitem" (click)="changeModalView.next(5)">Change Pay Quantity</li>
                        <li class="listitem" (click)="changeModalView.next(6)">Set Unit Cost</li>
                        <li class="listitem" (click)="changeModalView.next(7)">Change Debtor</li>
                        <li class="listitem" (click)="changeModalView.next(8)">Change Bill Amount</li>
                        <li class="listitem" (click)="changeModalView.next(9)">Change Bill Quantity</li>
                        <li class="listitem" (click)="changeModalView.next(10)">Change Dataset Quantity</li>
    
                    </ul>
                </li>
                <hr *ngIf="displayOption">
                <li *ngIf="displayOption" class="listitem">View <i nz-icon nzType="right" nzTheme="outline"></i>
                    <ul class="listitem">
                        <li class="listitem" (click)="ViewDetails.next(1)">View Recipient Details</li>
                        <li class="listitem"
                            *ngIf="selectedStaff!='BOOKED' && selectedStaff!='!INTERNAL' && selectedStaff!='!MULTIPLE'"
                            (click)="ViewDetails.next(2)">View Staff Details</li>
                        <li class="listitem" (click)="ViewDetails.next(3)">View Extra/Additional Info</li>
                        <li class="listitem" (click)="ViewDetails.next(4)">View Shift/Service Details</li>
    
                    </ul>
                </li>
                <hr>
                <li *ngIf="displayOption" class="listitem" (click)="ViewNudge.next(1)">Nudge Up</li>
                <li *ngIf="displayOption" class="listitem" (click)="ViewNudge.next(2)">Nudge Down</li>
                <li *ngIf="displayOption" class="listitem" (click)="OperationView.next(1)">Copy</li>
                <li *ngIf="displayOption" class="listitem" (click)="OperationView.next(2)">Cut</li>
                <li *ngIf="_highlighted.length>0" class="listitem" (click)="OperationView.next(3)">Paste</li>
                <li *ngIf="displayOption" class="listitem" (click)="OperationView.next(4)">Delete Shift/Service</li>
                <li *ngIf="displayOption" class="listitem" (click)="OperationView.next(5)">Delete Additional
                    Information(Xtra Info) </li>
                <hr>
                <li *ngIf="displayOption" class="listitem" (click)="ApproveView.next(1)">Approve</li>
                <li *ngIf="displayOption" class="listitem" (click)="ApproveView.next(2)">Un-Approve</li>
    
    
            </ul>
        </div>
    </div>
    <div *nzModalFooter>
        <!-- <span>Modal Footer: </span>
        <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
    </div>
</nz-modal>



<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="ViewAdditionalModal" nzTitle="View Additional Info"
    (nzOnCancel)="ViewAdditionalModal = false">
    <div nz-row>
        <!-- <div class="form-group" *ngIf="selected?.option === 1"> -->
        <label for=""> Date: {{date | date:'dd/MM/YYYY'}} Start Time: {{defaultStartTime}} Activity:
            {{serviceType}}</label>
        <!-- <input type="text" [value]="notes"  style="width:450px; height:200px" id="txtnotes" #box> box.value-->
        <textarea rows="4" nz-input [(ngModel)]="notes"></textarea>
        <!-- </div> -->
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveAdditionalInfo(notes)">Save</button>
        <button nz-button nzType="default" (click)="ViewAdditionalModal=false">Cancel</button>
    </div>
</nz-modal>


<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="recipientDetailsModal" nzTitle="Recipients Details"
    (nzOnCancel)="recipientDetailsModal = false">
    <div nz-row>
        sd
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="show_alert" nzTitle="Alert Staff"
    (nzOnCancel)="show_alert = false">

    <!-- <div class="flexy" style="min-width:21rem; padding-left:20px;">
            <form [formGroup]="AlertForm" class="form-group">
         -->
    <div nz-row>
        <div nz-col nzSpan="24" style="padding-left: 5px;">
            <nz-label style="padding: 2px;">Alert Staff: if Yes: Please review the following message to be sent:
            </nz-label>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24" style="padding-top: 10px; padding-left: 5px;">
            <nz-label style="margin-left: 3px;">Subject </nz-label>
            <input id="txtSubject" style="margin-top: 5px;" nz-input [(ngModel)]="txtAlertSubject" />
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24" style="padding-top: 10px; padding-left: 5px;">
            <nz-label style="margin-left: 3px;">Message </nz-label>
            <textarea id="txtMessage" style="margin-top: 5px; height:200px;" nz-input
                [(ngModel)]="txtAlertMessage"> </textarea>

        </div>
    </div>



    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="generate_alert()">Yes</button>
        <button nz-button nzType="default" (click)="show_alert=false">No</button>
    </div>

</nz-modal>
<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="breachRoster" nzTitle="Roster Validation"
    (nzOnCancel)="breachRoster = false">

    <div class="flexy" style="min-height:3rem">

        <div>
            <label style="font-size:14px; "> {{Error_Msg}} <br /> Are you sure you want to continue roster
                addition/change </label>

        </div>
    </div>


    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ProceedBreachRoster()">Yes</button>
        <button nz-button nzType="default" (click)="Cancel_ProceedBreachRoster()">No</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="AllocateStaffModal" nzTitle="Select Staff from below Staff List"
    (nzOnCancel)="AllocateStaffModal = false">
    <div class="flexy" style="min-height:10rem">
        <div nz-row>
            <div nz-col nzSpan="6" style="margin-top: 10px; margin-bottom: 20px; width:400px">

                <div>
                    <nz-input-group nzAddOnAfterIcon="search" (click)="openStaffModal()">
                        <input placeholder="Search Staff" type="text" nz-input [(ngModel)]="selectedCarer"
                            [disabled]="true" />
                    </nz-input-group>
                </div>

                <!-- <app-search-list [reload]="reloadVal" [view]="1" [(ngModel)]="sample" (ngModelChange)="listChange($event)"></app-search-list> -->


            </div>
            <div>
                <label *ngIf="selectedCarer">Re-Allocate Staff : </label>
                <label id="lblStaff">
                    {{selectedCarer}}
                </label>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="reAllocate()">Allocate</button>
        <button nz-button nzType="default" (click)="AllocateStaffModal=false">Cancel</button>
    </div>
</nz-modal>
<staff-search [findModalOpen]="openSearchStaffModal" [bookingData]="bookingData" (searchDone)="onStaffSearch($event)"
    [AllocateStaff]="AllocateStaff" (AllocatedStaff)="AddStaffInGroupShift($event)"></staff-search>
<!-- <recipient-search [findModalOpen]="openSearchRecipientModal" [bookingData]="bookingDataRecipient" (searchDone)="onRecipientSearch($event)"></recipient-search> -->

<!-- <ng-container #dynamicContainerStaffSearch></ng-container> -->
<ng-container #dynamicContainerRecipientSearch></ng-container>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="'65vw'" [(nzVisible)]="ViewServiceNoteModal"
    nzTitle="Service / Shift Notes " (nzOnCancel)="ViewServiceNoteModal = false">
    <div class="flexy" style="min-height:25rem;">
        <gnotes #gn [user]="Person" [loadNote]="loadingNote"></gnotes>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="gn.search(Person)">Refresh</button>
        <button nz-button nzType="default" (click)="ViewServiceNoteModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="600" [(nzVisible)]="ViewChangeDayTimeModal"
    nzTitle="Change Day / Time " (nzOnCancel)="ViewChangeDayTimeModal = false">
    <div class="flexy" style="min-height:15rem;" [formGroup]="DateTimeForm">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">
                <div nz-col nzSpan="24">
                    <nz-label style="margin-left: 3px;" *ngIf="selectedOption">{{selectedOption.startTime}} -
                        {{selectedOption.endTime}} * {{selectedOption.rProgram}} : {{selectedOption.activity}}
                    </nz-label>

                </div>
            </div>

            <div nz-row [formGroup]="DateTimeForm" class="rectangle">
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Date</label>
                        <nz-date-picker [nzFormat]="dateFormat" formControlName="rdate"></nz-date-picker>
                    </div>
                </div>
                <div nz-col nzSpan="6">

                    <div class="form-group">
                        <label for="">Start Time</label>
                        <nz-time-picker [(ngModel)]="defaultStartTime" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="ngModelChangeStart($event)" nzFormat="HH:mm"></nz-time-picker>
                    </div>
                </div>
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">End Time</label>
                        <nz-time-picker [(ngModel)]="defaultEndTime" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="ngModelChangeEnd($event)" nzFormat="HH:mm"></nz-time-picker>
                    </div>
                </div>
                <div nz-col nzSpan="6">
                    <div class="form-group">
                        <label for="">Duration</label>
                        <nz-alert *ngIf="durationObject?.error" nzType="error"
                            [nzMessage]="durationObject?.durationStr"></nz-alert>
                        <nz-alert *ngIf="!durationObject?.error" nzType="success"
                            [nzMessage]="durationObject?.durationStr"></nz-alert>
                    </div>
                </div>



            </div>
            <div nz-row nzGutter="8" class="rectangle">
                <div>
                    <div class="form-group" nz-col nzSpan="8">
                        <label for="">Pay Qty</label>
                        <nz-input-number formControlName="payQty" [nzMin]="0" [nzStep]="1"></nz-input-number>
                    </div>
                    <div class="form-group" nz-col nzSpan="8">
                        <label for="">Bill Qty</label>
                        <nz-input-number formControlName="billQty" [nzMin]="0" [nzStep]="1"></nz-input-number>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveDayTime()">OK</button>
        <button nz-button nzType="default" (click)="ViewChangeDayTimeModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewNudgeModal" nzTitle="Nudge  {{NudgeStatus}}"
    (nzOnCancel)="ViewNudgeModal = false">
    <div class="flexy" style="min-height:10rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">
                <div nz-col nzSpan="24">
                    <nz-label style="margin-left: 3px;" *ngIf="selectedOption">{{selectedOption.startTime}} -
                        {{selectedOption.endTime}} * {{selectedOption.rProgram}} : {{selectedOption.activity}}
                    </nz-label>

                </div>
                <div nz-col nzSpan="24" style="padding-top: 10px;">
                    <label for="">Enter the number of Minutes to Nudge {{NudgeStatus}}. Must be incrementof
                        minutes</label>
                </div>
            </div>
            <div nz-row nzGutter="8" style="padding-top: 10px; padding-left: 5px; ">

                <div class="form-group" nz-col nzSpan="12">
                    <nz-input-number [(ngModel)]="NudgeValue" [nzMin]="0" [nzStep]="5"></nz-input-number>
                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveNudgeUpDown()">OK</button>
        <button nz-button nzType="default" (click)="ViewNudgeModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewCaseLoadModal" nzTitle="Case Load Name"
    (nzOnCancel)="ViewCaseLoadModal = false">
    <div class="flexy" style="min-height:10rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">
                <!-- <div  nz-col  nzSpan="24" class="rectangle" >
                    <nz-label style="margin-left: 3px;" *ngIf="selectedOption">{{selectedOption.startTime}} - {{selectedOption.endTime}} * {{selectedOption.rProgram}} : {{selectedOption.activity}} </nz-label >                                
                                        
                </div>   -->

            </div>
            <div nz-row nzGutter="8" class="rectangle">

                <div nz-col nzSpan="24" style="padding-top: 10px;">
                    <label for="">Enter Case Load Name</label>
                </div>
                <div class="form-group" nz-col nzSpan="22">
                    <input nz-input placeholder="Case Load Name" [(ngModel)]="CaseLoadValue" />


                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveCaseLoad()">OK</button>
        <button nz-button nzType="default" (click)="ViewCaseLoadModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewDMStatusModal" nzTitle="Case Load Name"
    (nzOnCancel)="ViewDMStatusModal = false">
    <div class="flexy" style="min-height:10rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">
                <!-- <div  nz-col  nzSpan="24" class="rectangle" >
                    <nz-label style="margin-left: 3px;" *ngIf="selectedOption">{{selectedOption.startTime}} - {{selectedOption.endTime}} * {{selectedOption.rProgram}} : {{selectedOption.activity}} </nz-label >                                
                                        
                </div>   -->

            </div>
            <div nz-row nzGutter="8" class="rectangle">

                <div nz-col nzSpan="24" style="padding-top: 10px;">
                    <label for="">Enter In Progress Note</label>
                </div>
                <div class="form-group" nz-col nzSpan="22">
                    <input nz-input placeholder="Progress Note" [(ngModel)]="ProgressNote" />


                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveDMStatus()">OK</button>
        <button nz-button nzType="default" (click)="ViewDMStatusModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewAllocateResourceModal" nzTitle="Day Manager"
    (nzOnCancel)="ViewAllocateResourceModal = false">
    <div class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="serviceActivityList">
            <div>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)"
                        placeholder="input search text" (change)="onTextChangeEvent($event)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
            </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzLoading]="loading" [nzData]="serviceActivityList" style="height: 400px; width: 340px;"
                [nzScroll]="{ y: '380px'}">
                <thead>
                    <tr>
                        <th class="left">Select {{resourceType}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of serviceActivityList;let i = index;" (click)="onItemSelected(data,i)"
                        (dblclick)="onItemDbClick(data,i)"
                        [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
                        <td class="left">
                            {{ data.description }}

                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveAllocateResource()">OK</button>
        <button nz-button nzType="default" (click)="ViewAllocateResourceModal=false">Cancel</button>
    </div>
</nz-modal>


<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewAllocateResourceQtyModal"
    nzTitle="Day Manager " (nzOnCancel)="ViewAllocateResourceQtyModal = false">
    <div class="flexy" style="min-height:10rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">

            </div>
            <div nz-row nzGutter="8" class="rectangle">

                <div nz-col nzSpan="24" style="padding-top: 10px;">
                    <label for="">Enter new {{resourceType}}</label>
                </div>
                <div class="form-group" nz-col nzSpan="24">

                    <nz-input-number *ngIf="InputMode!='decimal'" placeholder="0" [(ngModel)]="ResourceValue"
                        [nzMin]="0" [nzStep]="1"></nz-input-number>


                    <input *ngIf="InputMode=='decimal'" nz-input style="width:100px" type="number" name="myDecimal"
                        placeholder="0.00" [(ngModel)]="ResourceValue" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                        step="0.1" />
                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveAllocateResource()">OK</button>
        <button nz-button nzType="default" (click)="ViewAllocateResourceQtyModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" hasBackdrop [nzWidth]="450" [(nzVisible)]="AddRosterModel" nzTitle="Day Manager "
    (nzOnCancel)="cancelDMRoster()">
    <div class="flexy" style="min-height:20rem;">
        <!-- <dm-roster  [loadRoster]="loadingRoster" (RosterDone)="load_rosters()"  (reLoadGrid)="reLoadGridRosterModel()" ></dm-roster>     -->

        <ng-container #dynamicRoster></ng-container>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="cancelDMRoster()">OK</button>
        <button nz-button nzType="default" (click)="cancelDMRoster()">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '30px' }" hasBackdrop [nzWidth]="700" [(nzVisible)]="viewMakeUps" nzTitle="Make Ups"
    (nzOnCancel)="viewMakeUps = false">
    <div class="flexy" style="min-height:15rem; margin-top: 5px;">
        <div nz-row nzSpan="24">


            <div>
                <nz-table #basicTable [nzData]="lstMakeUps" [nzShowPagination]="false" [nzBordered]="true"
                    [nzScroll]="{x:'650px', y:'450px' }">
                    <thead>
                        <tr>
                            <th nzWidth="30%" style="font-weight: bold;">Staff Code</th>
                            <th nzWidth="20%" style="font-weight: bold;">Expiry Date</th>
                            <th nzWidth="40%" style="font-weight: bold;">Time and Type</th>
                            <th nzWidth="10%" style="font-weight: bold;">Hours</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let data of lstMakeUps">
                            <td> {{data.staffCode}}</td>
                            <td> {{data.expiryDate}}</td>
                            <td> {{data.timebandType}}</td>
                            <td> {{data.payQty}}</td>
                        </tr>

                    </tbody>
                </nz-table>

            </div>
        </div>




    </div>
    <div *nzModalFooter>
        <!-- <button  nz-button nzType="default" (click)="menuAction()">Save </button> -->
        <button nz-button nzType="default" (click)="viewMakeUps=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showGroupShiftRecipient" nzTitle="Select Attendees"
    (nzOnCancel)="showGroupShiftRecipient = false">
    <div class="flexy" style="min-height:8rem; ">
        <div style=" align-items: center; width:100%">
            <nz-table #rowSelectionTable nzShowSizeChanger [nzShowPagination]="false" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="RecipientList"
                [nzScroll]="RecipientList.length>10 ? {y: '300px'} : 'none'">

                <thead style="margin-left: 20px; width:100%">
                    <tr>
                        <th style="background-color: #d6d3d3; width: 10%;" [nzChecked]="checked"
                            [nzIndeterminate]="indeterminate" (nzCheckedChange)="onGroupRecipientChecked($event)"></th>

                        <th style="background-color: #d6d3d3;" class="right">Attendees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of RecipientList; let i = index;">

                        <td nzShowCheckbox [nzChecked]="setOfCheckedId.has(data.accountNo)"
                            (nzCheckedChange)="onGroupItemChecked(data.accountNo, $event)"></td>

                        <td>
                            {{data.accountNo}}
                        </td>
                    </tr>
                </tbody>

            </nz-table>

        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="addGroupShiftRecipients()">OK</button>
        <button nz-button nzType="default" (click)="cancel_GroupShift()">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showGroupShiftAttendees" nzTitle="Select Attendees"
    (nzOnCancel)="showGroupShiftAttendees = false">
    <div class="flexy" style="min-height:8rem; display:flex; flex-direction:row">
        <div style=" align-items: center; width:50%">
            <nz-table #rowSelectionTable nzShowSizeChanger [nzShowPagination]="false" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="RecipientList"
                [nzScroll]="RecipientList.length>10 ? {y: '300px'} : 'none'">

                <thead style="margin-left: 20px; width:100%">
                    <tr>
                        <th style="background-color: #d6d3d3;" class="right">RECIPIENTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstRecipientInGroupShift; let i = index;">
                        <td>
                            {{data.clientName}}
                        </td>
                    </tr>
                </tbody>

            </nz-table>

        </div>
        <div style=" align-items: center; width:50%">
            <nz-table #rowSelectionTable nzShowSizeChanger [nzShowPagination]="false" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstStaffInGroupShift"
                [nzScroll]="lstStaffInGroupShift.length>10 ? {y: '300px'} : 'none'">

                <thead style="margin-left: 20px; width:100%">
                    <tr>

                        <th style="background-color: #d6d3d3;" class="right">STAFF/PROVIDER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstStaffInGroupShift; let i = index;">



                        <td>
                            {{data.staffName}}
                        </td>
                    </tr>
                </tbody>

            </nz-table>

        </div>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="showGroupShiftAttendees=false">OK</button>
        <button nz-button nzType="default" (click)="showGroupShiftAttendees=false">Cancel</button>
    </div>
</nz-modal>


<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="showPublicHoliday" nzTitle="Public Holiday" [nzWidth]="500"
    (nzOnCancel)="showPublicHoliday = false">
    <div class="flexy" style="min-height:18rem; display:flex; flex-direction:row">
        <div style=" align-items: center; width:100%">
            <nz-table #rowSelectionTable nzShowSizeChanger [nzShowPagination]="false" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstHolidays"
                [nzScroll]="lstHolidays.length>10 ? {y: '300px'} : 'none'">

                <thead style="margin-left: 20px; width:100%">
                    <tr>
                        <th style="background-color: #d6d3d3;" class="right">Holidays</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstHolidays; let i = index;">
                        <td>
                            {{data.ph}}
                        </td>
                    </tr>
                </tbody>

            </nz-table>

        </div>
        

        </div>

   
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="showPublicHoliday=false">OK</button>
        <button nz-button nzType="default" (click)="showPublicHoliday=false">Cancel</button>
    </div>
</nz-modal>

<app-recipients-options [open]="recipientOptionOpen" [option]="recipientOption" [user]="user" 
[from]="from" [loadOption]="loadOption"></app-recipients-options>


<!-- <cancel-shift  [view]="ViewCancelShiftModal" (Done)="CancelShiftDone($event)" [loadCancelShift]="loadCancelShift"></cancel-shift> -->
<ng-container #dynamicCancelShift></ng-container>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleDrawerCancel()">
    <div class="col-md-12 spinner" *ngIf="Spiner_loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="1280"
            height="650"></iframe>
    </div>
</nz-drawer>