

.master-class { background-color:#413a3a; }

nz-modal{
    backdrop :'static';
    keyboard : false
}

.dm-input{
    margin-bottom:1rem;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-body{
    padding:0;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
    padding:0;
}
nz-menu{
  background-color:  white;  
  width: 150px;
  color:white;
}
ul{
    list-style: none;
    padding: 10px 10px 10px 15px;
    margin: 0;
    background-color:  white; 
    color: black;
    font-family: 'Arial', Courier, monospace; 
    font-weight: bold;     
    margin:4px;
}
ul > label{
  font-weight: bold;
  font-size: 14px;
}
li {
    padding: 2px ;
    font-size: 13px;
    font-family: 'Segoe UI';
    position:relative;
    cursor:pointer;
    background-color:  white; 
    color: black;
    font-family: 'Arial', Courier, monospace; 
     
    margin:4px;
}
li:hover{
    background:#f2f2f2;
}
li i {
    float:right;
    margin-right:7px;
}
hr{
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 2px 0;
}
li > ul{
    position: absolute;
    display:none;         
    right: -192px;
    padding: 2px 5px;
    background: #fff;
    top: -6px;
    width: 192px;
    transition: all 0.5s ease 3s;
}
li:hover > ul{           
    display:block;
    transition: all 0.5s ease 0s;
}
.list-item{
    font-family: 'Arial', Courier, monospace; 
    font-weight: bold; 
    color: black;
    margin:4px;
    background-color:  white;
}
.main-wrapper{
    position: sticky;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -5px;
    border-top: 1px solid #fff;
    color:#000;
    width: 100%;
    text-align: center;    
    background:  linear-gradient(0.25turn, #8f9091, #c1c4c7, #e9ebeb);  
    z-index:2;
}


.listitem{
  border: 1px solid #fff;
  background-color: #fff ;
  color: #413e3e;
  font-family: 'Segoe UI';
  font-size: 14px;
  margin-top: 2px;
}
.listitem > ul{
background: #fff !important;
}

.listitem > ul:hover{
background:#b8d1e0;
}
.resizable {
    background: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .resizable .resizers{
    width: 100%;
    height: 100%;
    border: 3px solid #4286f4;
  }
  .rectangle{
    margin-top: 10px; 
    padding-top: 10px; 
    padding-left: 5px; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 5px;  
    border-color: rgb(70, 67, 67);
}

.spinner{
margin:1rem auto;
width:1px;
}
.header{

 
  background-color: white; /*#e5ecf1 #85B9D5*/ 
  color: #000; 
  margin-left: 5px ;    
  padding-top: 3px;
  margin-bottom: 10px;
  border : 1px solid #eff;
  border-radius : 5px;
  box-shadow : 0 12px 24px rgba(0, 0, 0, 0.15);
/*   align-items:center;*/
  justify-content: space-around;
}


.btn-orange{
    background: #F18805;
    color:#fff;
    font-family:'Segoe UI';
   
}



.custom-dropdown {
padding-left:5px;
padding-right:2px;
border: 0.5px solid #d9d9d9;
border-radius: 4px;
display: block  !important;
height: 33px  !important;
width: 100%  !important;
overflow: visible  !important;
color: #000;
background-color:  white;
}
.custom-dropdown-item {
width: 100%  !important;
font-size: 15px;
color: #000;
font-family: 'Segoe UI';
background-color: white;
}
body {
    background-color: white;
    color: #000;
  }
  button {
    background-color:  white;
    color: #000;
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
    text-align: center !important;
    margin-left : 5px;
    vertical-align: middle;
    border: none;
  }
  button:hover {
    background-color:#e6e6ee;
    transition: 0.7s;
    color:#000;
}
button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #e6e6ee;
  color:#000;
}
.btn-orange{
  background: #fff;
  color:#000;
  font-family:'Segoe UI';
 
}
  .nz-select, .nz-dropdown-menu, .nz-switch {
    background-color:  white ;
    color: #000;
  }
nz-select, nz-dropdown-menu, nz-switch {
    background-color:  white ;
    color: #000;
  }
  dropmenu{
    background-color:  white ;
    color: #000; 
  }
  table {
    background-color: black;
    color: #000;
  }

  div {
    background-color:  white ;
    color: #000;;
  }


  label{
    background-color:  white ;
    color: #000;
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
  }

  input{
    background-color:  white ;
    color: #000;
    height: 32px !important;
  }

  select{
    background-color:  white ;
    color: #000;
    height: 32px !important;
  }

  nz-dropdown, nz-dropdown-menu{
    background-color:  white ;
    color: #000;;
  }

/* Date picker container */
nz-date-picker {
  width: 250px; /* Adjust the width */
  background-color:  white ;
  height: 32px !important;
}

/* Input field styles */
nz-date-picker-input input {
  font-size: 16px; /* Change font size */
  color: #000; /* Change text color */
  background-color:  white ;
}

/* Hover effects */
nz-date-picker:hover {
  background-color:  white ;
}
  nz-select{
    background-color:  white ;
    color: #000;
  }
  ::ng-deep .ant-picker {
    background-color:  white; /* Light black background */
    border-color: #151616;    /* black border */
    border-radius: 8px;       /* Rounded corners */
  }
  
  ::ng-deep .ant-picker-input > input {
    color: #333;             /* Text color */
    font-size: 16px;         /* Font size */
  }
  

  .switch{
    
    background-color:  #fff; vertical-align: middle; height: 32px;  color: #e5e5e5; padding-left: 2px; text-align: center;
    border : 1px solid #e5e5e5;     
    border-right: none;
    border-left: none;
              
  }
  .switch-label{
    
    background-color:  #fff; vertical-align: middle; height: 32px;    color: #000; padding: 5px; text-align: center;
    border : 1px solid #e5e5e5;  
   
    border-top-left-radius: 3px;   
    border-bottom-left-radius: 3px;    
    border-right: none;
    
  }

  .switch-label2{
    
    background-color:  #fff; vertical-align: middle; height: 32px;   color: #000; padding: 5px; text-align: center;
    border : 1px solid #e5e5e5;  
   
    border-end-end-radius: 3px;   
    border-top-right-radius: 3px;    
    border-left: none;
  }
  .deleted{
    background-color:  white;
    padding-left: 2px; 
    padding-top: 4px; 
    color: white;  width:80px; text-align: center; vertical-align: middle; border-top-left-radius: 5px; border-bottom-left-radius: 3px; 
 }

 nz-divider{
  margin: 0;
}
p{
  margin: 0;
  cursor:pointer;
  padding:10px;
  height:50px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: 300;
}
.active-tab{
  background: #fff;
  color: #000;
  padding:10px;
  font-weight: 600;
}

.box{
display:block;
border: 2px solid #fff;
color: #000;
min-height: 75vh;
}
.heading{
  
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: 700;

}

.box{
  display:block;
  border: 2px solid #85B9D5;
  min-height: 75vh;
}

.heading{
  
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 700;

}

.active{
  background-color: #e6f6ff !important;
  color: #000 !important;
}

.person-combo{
  width:95%; 
  background-color: #fff; 
  color:#000;

& :hover{
  background-color: #fff !important;
  color: #000 !important;
}
}