
<!-- <button (click)="addTab()">Add Tab</button>
<button (click)="removeTab()">Remove Last Tab</button> -->
<div (contextmenu)="contextMenu($event, menu)"  >
  <div style="padding: 5px ">{{today | date:'dd/MM/yyyy'}} {{dmType}}</div>
  <div  class="field-title">Hours Alert Pay Ending : 
    {{payEndingDate | date :'dd/MM/yyyy'}}
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="menuclick($event,1)"> <span  nzTheme="outline">New</span>
      <li nz-menu-item (click)="menuclick($event,2)"><span  nzTheme="outline">Close</span>
    
    </ul>
  </nz-dropdown-menu>
</div>
<nz-tabset style="margin-top:-10px; " [(nzSelectedIndex)]="index">
  <nz-tab *ngFor="let tab of tabs; let i=index"  [nzTitle]="tabs.length>1 ? tab.title : ''" >  
<daymanager [loadMain]="loadMain" (dmTypeSelected)="onChangeDmtype($event)" (payperiodEmiter)="setpayperiod($event)"></daymanager>
</nz-tab>
</nz-tabset>
