body{
  background-color: white;
  color: #000;
}

.master-class { background-color:#413a3a; }

nz-modal{
    backdrop :'static';
    keyboard : false
}

.dm-input{
    margin-bottom:1rem;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-body{
    padding:0;
}
nz-modal.options ::ngdeep div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
    padding:0;
}
nz-menu{
  background-color: #313030;  
  width: 150px;
  color:white;
}
ul{
    list-style: none;
    padding: 10px 10px 10px 15px;
    margin: 0;
    background-color: #313030; 
    color: white;
    font-family: 'Arial', Courier, monospace; 
    font-weight: bold;     
    margin:4px;
}
ul > label{
  font-weight: bold;
}
li {
    padding: 2px ;
    font-size: 14px;
    font-family: 'Segoe UI';
    position:relative;
    cursor:pointer;
    background-color: #313030; color: white;
    font-family: 'Arial', Courier, monospace; 
    
    margin:4px;
}
li:hover{
    background:#474646;
}
li i {
    float:right;
    margin-right:7px;
}
hr{
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 2px 0;
}
li > ul{
    position: absolute;
    display:none;         
    right: -192px;
    padding: 2px 5px;
    background: #fff;
    top: -6px;
    width: 192px;
    transition: all 0.5s ease 3s;

}
li:hover > ul{           
    display:block;
    transition: all 0.5s ease 0s;
}
.main-wrapper{
    position: sticky;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -5px;
    border-top: 1px solid #fff;
    color:#000;
    width: 100%;
    text-align: center;    
    background:  linear-gradient(0.25turn, #8f9091, #c1c4c7, #e9ebeb);  
    z-index:2;
}

.listitem{
  border: 1px solid #413e3e;
  background-color: #413e3e ;
  color: #fff;
  font-family: 'Segoe UI';
  font-size: 14px;
  margin-top: 2px;
}
.listitem > ul{
background: #413e3e !important;
}

.listitem > ul:hover{
background:#161616;
}

.resizable {
    background: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .resizable .resizers{
    width: 100%;
    height: 100%;
    border: 3px solid #4286f4;
  }
  .rectangle{
    margin-top: 10px; 
    padding-top: 10px; 
    padding-left: 5px; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 5px;  
    border-color: rgb(70, 67, 67);
}

.spinner{
margin:1rem auto;
width:1px;
}
.header{

  padding-top: 3px; 
  margin-left: 5px ;   
  background-color: #313030; /*#e5ecf1 #85B9D5*/ 
  color: #fff; 
  margin-top: 3px ;    
  margin-bottom: 10px;
  border : 1px solid #313030;
  border-radius : 5px;
  box-shadow : 0 12px 24px #0e0d0d;
/*   align-items:center;*/
  justify-content: space-around;
}



.btn-orange{
    background: #F18805;
    color:#fff;
    font-family:'Segoe UI';
   
}



.custom-dropdown {
padding-left:5px;
padding-right:2px;
border: 0.5px solid #d9d9d9;
border-radius: 4px;
display: block  !important;
height: 33px  !important;
width: 100%  !important;
overflow: visible  !important;
color: #fff;
background-color: #313030;
}
.custom-dropdown-item {
width: 100%  !important;
font-size: 15px;
color: #fff;
font-family: 'Segoe UI';
background-color: 313030;
}
body {
    background-color: black;
    color: #f9f9f9;
  }
  button {
    background-color: #313030;
    color: #f9f9f9;
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
    text-align: center !important;
    margin-left : 5px;
    vertical-align: middle;
    border: none;
  }
  button:hover {
    background-color:#1d1d1f;
    transition: 0.7s;
    color:#fff;
}
button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #5a01a7;
  color:#fff;
}

.btn-orange{
  background: #313030;
  color:#fff;
  font-family:'Segoe UI';
 
}
  .nz-select, .nz-dropdown-menu, .nz-switch {
    background-color: #313030 ;
    color: #fff;
  }
nz-select, nz-dropdown-menu, nz-switch {
    background-color: #313030 ;
    color: #fff;
  }
  dropmenu{
    background-color: #313030 ;
    color: #fff; 
  }
  table {
    background-color: black;
    color: #fff;
  }

  div {
    background-color: #313030 ;
    color: #fff;;
  }


  label{
    background-color: #313030 ;
    color: #fff;
    font-family :  'Segoe UI' !important;;
    font-size: 14px !important;;
    height: 32px !important;
  }

  input{
    background-color: #313030 ;
    color: #fff;
    height: 32px !important;
  }

  select{
    background-color: #313030 ;
    color: #fff;
    height: 32px !important;
  }

  nz-dropdown, nz-dropdown-menu{
    background-color: #313030 ;
    color: #fff;;
  }
  nz-select{
    background-color: #313030 ;
    color: #fff;
  }


  .switch{
    
    background-color:  #313030; vertical-align: middle; height: 32px; width:45px;  color: #e5e5e5; padding-left: 2px; text-align: center;
    border : 1px solid #e5e5e5;     
    border-right: none;
    border-left: none;
              
  }
  .switch-label{
    
    background-color:  #313030; 
    vertical-align: middle; height: 32px;    color: #fff; padding: 5px; text-align: center;
    border : 1px solid #313030;  
   
    border-top-left-radius: 3px;   
    border-bottom-left-radius: 3px;    
    border-right: none;
    
  }

  .switch-label2{
    
    background-color:  #313030; 
    vertical-align: middle; height: 32px;   color: #fff; padding: 5px; text-align: center;
    border : 1px solid #313030;  
   
    border-end-end-radius: 3px;   
    border-top-right-radius: 3px;    
    border-left: none;
  }
  .deleted{
    background-color:  black;
    padding-left: 2px; 
    padding-top: 4px; 
    color: white;  width:80px; text-align: center; vertical-align: middle; border-top-left-radius: 5px; border-bottom-left-radius: 3px; 
 }

 /* Date picker container */
ngDeep::nz-date-picker {
  width: 250px; /* Adjust the width */
  background-color: #313030 ;
  color: #fff;
  height: 32px !important;
}

/* Input field styles */
ngDeep::nz-date-picker-input > input {
  font-size: 16px; /* Change font size */
  color: #fff; /* Change text color */
  background-color: #313030 ;
}

/* Hover effects */
ngDeep::nz-date-picker:hover {
  background-color: #181616 ;
}
 
::ng-deep nz-date-picker-dropdown {
  background-color: #181616; /* Light orange background for the dropdown */
  border: 1px solid #fff; /* Orange border */
}

::ng-deep nz-date-picker-cell-selected nz-date-picker-cell-inner {
  background-color: #181616 !important; /* Highlight selected cell */
  color: #fff !important;              /* White text */
}

 .ant-picker {
  background-color: #313030; /* Light black background */
  border-color: #151616;    /* black border */
  border-radius: 8px;       /* Rounded corners */
  color: #fff !important;  
  border: none;
  font-size: 16px;      
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .ant-picker-input > input {
  color: #333;             /* Text color */
  font-size: 16px;         /* Font size */
}
::ng-deep .ant-picker-dropdown {
  background-color: #313030; /* Light orange background for the dropdown */
  border: 1px solid #fff; /* Orange border */
}

::ng-deep .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #313030 !important; /* Highlight selected cell */
  color: #fff !important;              /* White text */
}

::ng-deep .ant-modal-content {
  background-color: #313030 !important; /* Highlight selected cell */
  color: #fff !important;              /* White text */
}
nz-divider{
  margin: 0;
}
p{
  margin: 0;
  cursor:pointer;
  padding:10px;
  height:50px;
  border: 1px solid #111111;
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: 300;
}
.active-tab{
  background: #313030;
  color: #fff;
  padding:10px;
  font-weight: 600;
}

.box{
display:block;
border: 2px solid #313030;
color: #fff;min-height: 75vh;
}
.heading{
  
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: 700;

}

.box{
  display:block;
  border: 2px solid #313030;
  min-height: 75vh;
}

.heading{
  
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 700;

}

.active{
  background-color: #1b1616 !important;
  color: #fff !important;
}

.person-combo{
  width:95%; 
  background-color: #1b1616; 
  color:#fff;
  transition: all 0.3s ease;

  &:hover{
    background-color: #000 !important;
    color: #fff !important;
  }
}
