
body{
    background-color: black;
    color: white;
}
div{
    background-color: black;
    color: white;
}
.field-title {
    font-size: 12px;        
    color: #F18805;
    display: flex;
    margin:3px;
    margin-bottom: 5px;
  }

  nz-tabset, nz-tab-body{
    background-color: black;
    color: white;
    border: none;
}

 nz-tab, nz-tab-label, nz-tab-link{
    background-color: black !important;
    color: white !important;
    border: none;
    
}


nzDropdownMenu, ul, li{
    background-color: black;
    color: white;
    border: none;
}