<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'80vw'" [nzStyle]="{ top: '10px', left: '80px' }">


    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" class="title">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="9" class="title">
                <label> Staff Availability Map </label>
            </div>

        </div>
    </ng-template>

    <ng-template #modalContent>
        <div>
            <div nz-row class="horizontal">
                <div nz-col nzSpan="4" class="horizontal">
                    <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" [(ngModel)]="branch"
                        style="width:100%">
                        <nz-option *ngFor="let list of lstbranches" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <nz-option [nzValue]="branch" [nzLabel]="branch"></nz-option>
                    </nz-select>

                </div>
                <div nz-col nzSpan="1">
                    <label class="day">Days</label>
                </div>
                <div nz-col nzSpan="19" class="horizontal">

                    <label nz-checkbox>Use Master</label>
                    <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" [(ngModel)]="cycle"
                        style="width:150px">
                        <nz-option *ngFor="let list of lstcycles" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <nz-option [nzValue]="cycle" [nzLabel]="cycle"></nz-option>
                    </nz-select>
                    <label style="margin:5px">Starting</label>
                    <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" [(ngModel)]="day">
                        <nz-option *ngFor="let list of lstDays" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <nz-option [nzValue]="day" [nzLabel]="day"></nz-option>
                    </nz-select>
                    <label style="margin:5px">Days</label>
                    <div style="margin-left:10px">
                        <button nz-button class="btnblue-sim" (click)="getStaffAvailability()">
                            <span>Refresh</span>
                        </button>
                    </div>
                    <label style=" margin-top:5px;margin-left:15px">Active Staff {{StaffList.length}}</label>
                </div>

            </div>
            <div nz-row *ngIf="loading">
                <div nz-col nzSpan="24" style="margin:20px">

                    <nz-spin *ngIf="loading" [nzSpinning]="loading" nzTip="Loading...">
                    </nz-spin>
                </div>
            </div>
            <div nz-row *ngIf="!loading">
                <div nz-col nzSpan="4">
                    <div class="horizontal">
                        <div class="box-gray"></div>
                        <div class="label">No Staff Rostered</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-90"></div>
                        <div class="label">91-100% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-80"></div>
                        <div class="label">81-90% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-70"></div>
                        <div class="label">71-80% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-60"></div>
                        <div class="label">61-70% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-50"></div>
                        <div class="label">51-60% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-40"></div>
                        <div class="label">41-50% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-30"></div>
                        <div class="label">31-40% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-20"></div>
                        <div class="label">21-30% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-10"></div>
                        <div class="label">11-20% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-1"></div>
                        <div class="label">1-10% Availability</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-0"></div>
                        <div class="label">0% Availability</div>
                    </div>
                </div>
                <div nz-col nzSpan="1">
                    <div class="header3"></div>
                    <div *ngFor="let t of timelist; let i=index" class="time-box" [class.time-box2]="t==30">{{t.label}}
                    </div>
                </div>
                <div class="main-wraper">
                    <div nz-col nzSpan="18" class="main-header">

                        <div *ngFor="let d of listDisctinctDates; let i=index" class="date-header">

                            <div class="horizontal">
                               
                                    <div style="text-align:center">{{d.weekDay.substring(0,2)}} W{{d.weekNo}}</div>

                             
                        </div>
                    </div>
                    </div>
                    <div nz-col nzSpan="18" class="detail">
                        <div *ngFor="let d of graphData; let i=index" class="horizontal">

                            <div class="vertical">
                              
                                    <div *ngFor="let t of d.timeData; let k=index" class="data1"
                                        [ngStyle]="{'background-color': t.backcolor}">
                                        <div></div>
                                    </div>
                            
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- <canvasjs-chart *ngIf="!loading"  [options]="chartOptions" style="height: 370px; width: 100%;"> </canvasjs-chart > -->

        <!-- <div style="display: block; width: 600px; height: 400px;">
    <canvasjs-chart 
      baseChart 
      [data]="barChartData" 
      [labels]="barChartLabels" 
      [options]="barChartOptions" 
      [type]="barChartType">
    </canvasjs-chart>
  </div> -->

    </ng-template>

    <ng-template #modalFooter>
        <!-- <button nz-button class="btnblue-sim" (click)="messageStaff()">
        <span>Message Staff</span>
    </button>

    <button nz-button  class="btnblue-sim" (click)="redo()">
        <span>Re Do</span>
    </button>
    <button nz-button  class="btnblue-sim" (click)="acceptRoster()">
        <span>ACCEPT</span>
    </button> -->
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>



    </ng-template>
</nz-modal>