<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'80vw'" [nzStyle]="{ top: '10px', left: '80px' }">


    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" class="title">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="9" class="title">
                <label> Staff Availability Map </label>
            </div>

        </div>
    </ng-template>

    <ng-template #modalContent>
      
        <div >
            <div nz-row class="horizontal">
                <div nz-col nzSpan="4" class="horizontal">
                    <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" [(ngModel)]="branch"
                        style="width:100%">
                        <nz-option *ngFor="let list of lstbranches" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <nz-option [nzValue]="branch" [nzLabel]="branch"></nz-option>
                    </nz-select>

                </div>
                <div nz-col nzSpan="1">
                    <label class="day">Days</label>
                </div>
                <div nz-col nzSpan="19" class="horizontal">

                    <label nz-checkbox>Use Master</label>
                    <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="startDate"></nz-date-picker>
                    <label style="margin:5px">To</label>
                    <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="endDate"></nz-date-picker>
                    <div style="margin-left:10px">
                        <button nz-button class="btnblue-sim" (click)="getStaffAvailability()">
                            <span>Refresh</span>
                        </button>
                    </div>
                </div>

            </div>
            <div nz-row *ngIf="loading">
                <div nz-col nzSpan="24" style="margin:20px">
    
                    <nz-spin *ngIf="loading" [nzSpinning]="loading" nzTip="Loading...">
                    </nz-spin>
                </div>
            </div>
            <div nz-row *ngIf="!loading">
                <div nz-col nzSpan="4">
                    <div class="horizontal">
                        <div class="box-gray"></div>
                        <div class="label">No Staff Rostered</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-available"></div>
                        <div class="label">Available</div>
                    </div>
                    <div class="horizontal">
                        <div class="box-booked"></div>
                        <div class="label">Booked</div>
                    </div>
                </div>
                <div nz-col nzSpan="1">
                    <div class="header3"></div>
                    <div *ngFor="let t of timelist; let i=index" class="time-box" [class.time-box2]="t==30">{{t.label}}</div>
                </div>
                <div class="main-wraper">
                <div nz-col nzSpan="18" class="main-header">

                    <div *ngFor="let d of listDisctinctDates; let i=index" class="date-header" >
                      
                        <div class="horizontal">
                        <div *ngFor="let v of vehicleList; let j=index" class="header2">
                           
                            <div *ngIf="j%2==0">{{d}}</div>                         
                           <div>{{v.vehicleName}}</div> 
                          
                        </div>
                        </div>
                     </div>
                </div>
                <div nz-col nzSpan="18" class="detail">
                    <div *ngFor="let d of graphData; let i=index" class="horizontal" >
                       
                        <div class="horizontal">
                        <div *ngFor="let v of d.vlist; let j=index" >                            
                            <div *ngFor="let t of v.timeData; let k=index" class="data1" [ngStyle]="{'background-color': t.backcolor}">                     
                                <div>{{v.vehicleName}}</div> 
                            </div>
                        </div>
                        </div>
                     </div>
                   
                </div>
             
            </div>
            </div>
        </div>
        <!-- <div *ngIf="!loading">
            <canvasjs-chart [options]="chartOptions" style="height: 370px; width: 100%;">
            </canvasjs-chart>
        </div> -->

    </ng-template>

    <ng-template #modalFooter>
        <!-- <button nz-button class="btnblue-sim" (click)="messageStaff()">
        <span>Message Staff</span>
    </button>

    <button nz-button  class="btnblue-sim" (click)="redo()">
        <span>Re Do</span>
    </button>
    <button nz-button  class="btnblue-sim" (click)="acceptRoster()">
        <span>ACCEPT</span>
    </button> -->
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>



    </ng-template>
</nz-modal>