
.main-wraper{
    display: flex;
    flex-direction: column;
    background-color: #f3f2f2;
    margin-left: 5px;
    width: 60vw;
    overflow-x: auto;
}
.main-header{
    display:flex;
    flex-direction: row;     
    margin-left: 5px;
    background-color: #f3f2f2;
   
}
.header1{
 
    background-color: #F18805;
    padding: 5px;
    border: 1px solid #bebdbd; 
   
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.header2{
      
    padding: 5px;
    border: 1px solid #bebdbd; 
   
    margin-left:2px;
    height: 60px;
    text-wrap: nowrap;
    text-align: center;
    vertical-align: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.date-header{
    display: flex; 
    flex-direction:row;
    background-color: #F18805;
}
.date-header:nth-child(even){    
    background:#85B9D5; 
   
}
.header3{
   
    background-color: #fcf9f9;
    padding: 5px;
    border: 1px solid #bebdbd;    
    border-radius: 2px;  
    margin-left:5px;
    margin-right:5px;
    height: 60px;
    width:60px;
}
.data1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3px;
    padding-left: 2px;
    /* border-left: 0.5px solid #646566; */
    border-right: 0.5px solid #646566;
    /* border-bottom: 0.5px solid #880b0b; */
    background-color: #ddf5ff; 
    color : transparent;
    height: 43px;
    font-size: 16px;
    text-wrap: nowrap;
    text-align: center;
}
.detail{
    display:flex;
    flex-direction: row;     
    margin-left: 5px;
    background-color: #ddf5ff;
    
}
.horizontal{
    display: flex; 
    flex-direction:row;
   
}
.vertical{
    display: flex; 
    flex-direction:column;
  
}
.day{
    font-size:16px; margin:5px; font-weight:bold;
    text-align: center;
}
.time-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px;
    padding: 10px;
    border: 1px solid #f7f3f3;
    border-radius: 2px;
    background-color: #fcf9f9;
    width:60px;
    height: 40px;
    font-size: 16px;
}
.time-box2{
   font-size: 12px;
}
.label{
    margin-top:20px; margin-left:2px
}
.box-gray{
    background-color: #ccc;
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.box-available{
    background-color: #ddf5ff;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddf5ff;
    border-radius: 5px;
    margin: 5px;
}
.box-booked{
    background-color: blue;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #021333;
    border-radius: 5px;
    margin: 5px;
}

.booked{
    background-color: #021333;
  
   
}