<div style="padding:8px">



    <div nz-row class="backBox">
        <button (click)="goBack()" class="right-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" fill="currentColor" width="1.5em" height="1.5em" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span>         
        </button>
        <button (click)="goBack()" class="left-back-btn">
            <span><i nz-icon="" class="anticon"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="arrow-left" aria-hidden="true"><path d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 000 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg></i></span>
        </button>
    </div>
    <div nz-row class="actionBox">
        <button class="headers-botton recordHeaderMainButtons" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add </button>
        <button class="headers-botton recordHeaderMainButtons" (click)="handleOkTop()">Print</button>
        <label *ngIf="userRole == 'ADMIN USER'" nz-checkbox id="IncludeDeleted"  [(ngModel)]="check" (change)="fetchAll($event)" style="padding-left: 30%;"> Include Deleted </label>
    </div>
    <div nz-row>
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
        [nzData]="tableData">
        <thead>
            <tr>
                <th class="left">Name</th>
                <th class="left">End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of branchList;let i = index;" [class.highlight]="currentIndex === i">
                <td class="left">{{ data.description  }}</td>
                <td class="left">{{ data.end_date | date: 'dd/MM/y' }}</td>
                <td *ngIf="!data.is_deleted">
                    <a (click)="showEditModal(i)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Branch List?"
                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                </td>
                <td *ngIf="data.is_deleted">
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to Include this in Branch List?"
                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="activateDomain(data)">Activate</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
</div>
<nz-modal [nzWidth]="700" [(nzVisible)]="modalOpen" [nzTitle]="'Add Branch'" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <nz-steps [nzSize]="'small'" [nzCurrent]="current" nzDirection="vertical">
            <nz-step class="mini" nzTitle="Details" nzDescription=""></nz-step>
            <nz-step class="mini" nzTitle="Time & Attendance" nzDescription=""></nz-step>
        </nz-steps>
        <nz-divider class="full-height" nzType="vertical"></nz-divider>
        <div class="steps-content" *ngIf="inputForm" [formGroup]="inputForm">
            <div *ngIf="current == 0">
                <div nz-row nzGutter="24" class="mrg-btm">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Name :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="name" style="text-transform: uppercase;" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">GL REVENUE A/C :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="glRevene" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">GL COST A/C :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="glCost" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Center Name :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="centerName" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Address Line 1 :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="addrLine1" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Address Line 2 :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="addrLine2" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Phone :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder=""  formControlName="Phone" />
                        </div>
                    </div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label for="Name">Expiry Date :</label>
                        </div>
                        <div nz-col nzSpan="18">
                            <nz-date-picker [nzPlaceHolder]="'Expiry Date'" formControlName="end_date" [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="current == 1">
                <div nz-row nzGutter=24>
                    <div nz-col nzSpan="12">
                        <div class="form-group">
                            <label for="">Work Hour Start</label>
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="startHour" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let d of workStartHour" [nzLabel]="d" [nzValue]="d"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="form-group">
                            <label for="">Work Hour Finish</label>
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="finishHour" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let d of workStartHour" [nzLabel]="d" [nzValue]="d"></nz-option> 
                            </nz-select>
                        </div>
                    </div>
                    <div nz-col nzSpan="24" class="mrg-btm">
                        <nz-tabset>
                            <nz-tab nzTitle="WORK HOURS">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Early Start :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="earlyStart" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Late Start :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="lateStart" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Early Finish :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="earlyFinish" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Late Finish :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="lateFinish" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Overstay :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="overstay" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Understay :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="understay" />
                                    </div>
                                </div>
                            </nz-tab>
                            <nz-tab nzTitle="AFTER HOURS">
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Early Start :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2earlyStart" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Late Start :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2lateStart" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Early Finish :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2earlyFinish" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Late Finish :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2lateFinish" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Overstay :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2overstay" />
                                    </div>
                                </div>
                                <div nz-row nzJustify class="mrg-btm">
                                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                                        <label for="Name">Understay :</label>
                                    </div>
                                    <div nz-col nzSpan="18">
                                        <input nz-input formControlName="t2understay" />
                                    </div>
                                </div>
                            </nz-tab>
                        </nz-tabset>
                    </div>
                </div>
            </div>
            <div *nzModalFooter>
                <ng-container>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                        <span>Previous</span>
                    </button>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 1" >
                        <span>Next</span>
                    </button>
                    <button nz-button nzType="primary" [nzLoading]="postLoading" [disabled]="!inputForm.get('name').value" (click)="save()" *ngIf="current === 1">
                        <span>Done</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>            
    <div nz-row  >   
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
    </div>    
</nz-drawer>
