img.side-img{
    width: 1.5rem;
    float: right;
    margin: 10px 0;
}
ul{
    list-style:none;
}
.form-bubble{
    border: 1px solid #ededed;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.program-wrapper{
    padding: 0 0 0 1.5rem; 
    border-top: 1px solid #e6e6e6;
    height: 6rem;
    overflow:hidden;
} 
.program-wrapper ul{
    overflow-y: auto;
    max-height: 100%;
    padding: 10px 0 0 15px;
}
.clr-checkbox-wrapper input[type=checkbox]+label.disabled::before{
    background: #e4e4e4;
    cursor: no-drop;
}
.notif-message{
    font-size: 11px;
    float: left;
    color: #fc4141;
}