<clr-wizard #wizard [(clrWizardOpen)]="open" clrWizardSize="xl">
        <clr-wizard-title><h5>{{ whatOptionVar?.title }}</h5></clr-wizard-title>
    
        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="accept()">Finish</clr-wizard-button>
    
        <!-- [clrWizardPageNextDisabled]="!programTicked" -->
        <clr-wizard-page [clrWizardPageNextDisabled]="!programTicked" (clrWizardPageCustomButton)="doCustomClick($event)">
            <ng-template clrPageTitle>Program - ({{ user?.code }})</ng-template>
            
            <div class="form-bubble">
                <div class="col-md-12">
                    <div> 
                        <div style="float:left;padding: 0 0 40px 0;">
                            <div class="clr-form-control">
                                <div class="clr-control-container clr-control-inline">
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio1" name="referralType" value="1" [(ngModel)]="referralType" (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                        <label for="vertical-radio1" class="clr-control-label">NDIA Referral</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio2" name="referralType" value="2" [(ngModel)]="referralType" (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                        <label for="vertical-radio2" class="clr-control-label">HCP Referral</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio3" name="referralType" value="3" [(ngModel)]="referralType" (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                        <label for="vertical-radio3" class="clr-control-label">DEX Referral</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio4" name="referralType" value="4" [(ngModel)]="referralType" (ngModelChange)="changeReferralType($event)" class="clr-radio">
                                        <label for="vertical-radio4" class="clr-control-label">OTHER</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img [src]="'assets/recipients/programs.png'" class="side-img" alt="">
                    </div>
                    <ul class="detail-list">
                       <ng-container *ngIf="referTab == 1">
                            <!-- <li><checkbox> Homecare Packages Only</checkbox></li>
                            <li><checkbox> Include Current And Past Programs For This Recipient</checkbox></li>
                            <li><checkbox> Include Packages Already On Referral</checkbox></li> -->
                       </ng-container>
                       <!-- <ng-container *ngIf="referTab == 2">
                            <li><checkbox [ngModel]="_prog1" (ngModelChange)="forceDisplay($event,i)"> Force Display of Programs</checkbox></li>
                       </ng-container>
                       <ng-container *ngIf="referTab == 4">
                            <li><checkbox [ngModel]="_prog1" (ngModelChange)="forceDisplay($event,i)"> Force Display of Programs</checkbox></li>
                            <li><checkbox> Include Current Programs For This Recipient</checkbox></li>
                       </ng-container> -->
                    </ul>
                </div>
                <div class="program-wrapper">
                    <ul>
                        <ng-container *ngIf="referTab == 1">
                            <!-- <li *ngFor="let program of whatOptionVar?.programsArr;let i = index">
                                <clr-checkbox-wrapper>
                                    <input type="checkbox" [id]="'checkbox'+i" clrCheckbox name="options" [(ngModel)]="program.status" [disabled]="program.disabled" (ngModelChange)="showWhenProgramIsTicked($event, i)" />
                                    <label [for]="'checkbox'+i" [class.disabled]="program.disabled">{{ program.program }}</label>
                                </clr-checkbox-wrapper>
                            </li> -->
                            <li *ngFor="let program of programs;let i= index">
                                <div class="clr-radio-wrapper">
                                    <input type="radio" [id]="'v'+i" name="radio-full" [value]="program" class="clr-radio" [(ngModel)]="program.status" (ngModelChange)="programCheckedChange(program.program)">
                                    <label [for]="'v'+i" class="clr-control-label">{{program.program}}</label>
                                </div>

                                <!-- <div class="clr-checkbox-wrapper">
                                    <input type="checkbox" [id]="'c'+i" name="checkbox-full" [value]="program" [(ngModel)]="program.status" (ngModelChange)="programCheckedChange($event)" class="clr-checkbox">
                                    <label [for]="'c'+i" class="clr-control-label">{{program.program}}</label>
                                </div> -->
                            </li>
                        </ng-container>
                        <!-- <ng-container *ngIf="referTab != 1">
                            <li *ngFor="let program of whatOptionVar?.programsArr;let i = index">
                                <clr-checkbox-wrapper>
                                    <input type="checkbox" clrCheckbox name="options" [(ngModel)]="program.status" (ngModelChange)="showWhenProgramIsTicked($event, i)" />
                                    <label>{{program.program}}</label>
                                </clr-checkbox-wrapper>
                            </li>
                        </ng-container> -->
                    </ul>
                    <intake-no-data [data]="whatOptionVar?.programsArr.length"></intake-no-data>                 
                </div>
                <div class="program-wrapper">
                   <div class="form" style="margin-top: 1rem;width:11rem">
                        <input type="text" [(ngModel)]="packageCode">
                        <div style="margin:0;">

                            <div *ngIf="error" class="alert alert-danger" role="alert">
                                <div class="alert-items">
                                    <div class="alert-item static">
                                        <div class="alert-icon-wrapper">
                                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                        </div>
                                        <span class="alert-text">
                                            Already Used
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>

            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
            </ng-template>

        </clr-wizard-page>
    
        <!-- [clrWizardPageNextDisabled]="referralGroup.value.referralSource == '' || referralGroup.value.referralType == ''" -->
        <clr-wizard-page *ngIf="referTab != 11">
            <ng-template clrPageTitle>Other Details</ng-template>
            <!-- TAB 7 | SUSPEND -->
            
            <!-- <div class="form-bubble pad" *ngIf="referTab == 7">
                <div class="form-group col-md-12 form-inline-group" [formGroup]="referralGroup">
                    <label for="">Referral Code</label>
                    <select formControlName="referralCode">
                        <option [value]=""></option>
                        <option value="" *ngFor="let program of referralVariables?.referralCodeArr" [value]="program">{{ program | uppercase }}</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <checkbox> Record Formal Recipient <b>ABSENCE</b> to replace rostered shifts</checkbox>
                </div>
                <div class="form-group col-md-12">
                    <checkbox> Record <b>24 hours</b> Absence each day</checkbox>
                </div>
            </div> -->
    

            <div class="form-bubble pad" [formGroup]="referralGroup" *ngIf="referTab != 3 && referTab != 4 && referTab != 7 && referTab != 8 && referTab != 9">
                <img [src]="'assets/recipients/hospital.png'" class="side-img" alt="">
                <div class="col-md-5" >
                    <div class="form-group form-inline-group" *ngIf="referTab != 5 && referTab != 8">
                        <label for="">Referral Source</label>
                        <select formControlName="referralSource">
                            <option [value]=""></option>
                            <option *ngFor="let program of referralVariables?.referralSourceArr" [value]="program.RecordNumber" >{{ program.Description | uppercase }}</option>
                        </select>
                    </div>
                    <div class="form-group form-inline-group" *ngIf="referTab != 6 && referTab != 8">
                        <label for="">Referral Code</label>                    
                        <select formControlName="referralCode">
                            <option [value]=""></option>
                            <option *ngFor="let program of referralVariables?.referralCodeArr" [value]="program">{{ program | uppercase }}</option>
                        </select>
                    </div>                   
                </div>
                <div class="form-inline-group notif-message">Select the Code from the drop down list that most appropriately describe the referral</div>
            </div>
    
            <div class="col-md-12 form-bubble pad" *ngIf="(referTab == 1 || referTab == 2 || referTab == 3 || referTab == 4 || referTab == 6 ||  referTab == 8 || referTab == 9)">
                <img [src]="'assets/recipients/referral.png'" class="side-img" alt="">
                <div class="col-md-10">             
                    <div class="form-group col-md-12" [class.form-inline-group]="referTab == 9">
                        <label for="">Referral Type</label>
                        <div *ngIf="referTab != 9">
                            <div class="col-md-5 col-md-offset-1" *ngFor="let program of checkedPrograms;let i=index">
                                <label for="">{{ program.program }} </label>                             
                                <select-list [(ngModel)]="program.selected" [programVariables]="checkedPrograms[i]" style="padding: 5px 0;"></select-list>
                            </div>
                        </div>
                        <div *ngIf="referTab == 9" style="flex:5" [formGroup]="referralGroup">                
                            <select formControlName="referralType">
                                <option [value]=""></option>
                                <option *ngFor="let referral of referralVariables?.referralTypeArr" [value]="referral.activity">{{ referral.activity }}</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="form-inline-group notif-message">Select the Code from the drop down list that most appropriately describe the referral</div>

                    <ng-container *ngIf="referTab == 9">
                       <div class="form-bubble pad" [formGroup]="referralGroup">
                            <div class="form-group col-md-5">
                                <label for="">Date</label>
                                <datepicker formControlName="suppDate"></datepicker>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="">Ref/No</label>
                                <input type="text" formControlName="suppRefNo">
                            </div>
                       </div>
                    </ng-container>

                    <ng-container *ngIf="referTab == 9">
                            <div class="form-bubble pad" [formGroup]="referralGroup">
                                <div class="col-md-12">
                                    <div class="form-group form-inline-group col-md-5">
                                        <label for="">Quantity</label>
                                        <select formControlName="quantity">
                                            <option [value]=""></option>  
                                            <option *ngFor="let num of quantity" [value]="num">{{ num }}</option>                             
                                        </select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <select formControlName="quantityTitle">
                                            <option [value]=""></option>      
                                            <option *ngFor="let name of title" [value]="name">{{ name }}</option>                        
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-inline-group col-md-5">
                                        <label for="">Charge</label>
                                        <input type="text" formControlName="charge">
                                    </div>
                                    <div class="form-group col-md-5">
                                        <clr-checkbox-wrapper>
                                            <input type="checkbox" clrCheckbox value="option1" name="options" formControlName="gst"/>
                                            <label>GST</label>
                                        </clr-checkbox-wrapper>
                                    </div>
                                </div>
                            </div>
                    </ng-container>

                </div>
            </div>
            
        </clr-wizard-page>
    
        <clr-wizard-page *ngIf="referTab != 11" (clrWizardPageCustomButton)="nextCustomClick($event)">
            <ng-template clrPageTitle>Date Details</ng-template>
                <div class="col-md-12 form-bubble pad" *ngIf="referralGroup">
                    <img [src]="'assets/recipients/calendar.png'" class="side-img" alt="">

                    <ng-container *ngIf="referTab != 7" [formGroup]="referralGroup">
                        <div class="col-md-10">
                            <div class="form-group col-md-6">
                                <label for="">Referral Date</label>
                                <datepicker formControlName="date"></datepicker>
                            </div>
                        </div>
                        <div class="col-md-10" *ngIf="referTab != 9">
                            <div class="form-group col-md-3">
                                <label for="">Time</label>
                                <timepicker [formControl]="referralGroup.controls['time']" [interval]="5"></timepicker>
                            </div>
                            <div class="form-group col-md-3" >
                                <label for="">Time Spent</label>
                                <timepicker [formControl]="referralGroup.controls['timeSpent']" [interval]="5"></timepicker>
                            </div>
                        </div>
                        <div class="form-inline-group notif-message">Select the Referral Date if not today, and how much time has been spent on the referral</div>
                    </ng-container>       

                    <ng-container *ngIf="referTab == 7" [formGroup]="referralGroup">
                        <label for="">Suspend Services</label>
                        <div class="col-md-12">
                            <div class="form-group col-md-5">
                                <datepicker formControlName="date"></datepicker>
                            </div>      
                            <div class="col-md-2" style="text-align: center">
                                <b>TO</b>
                            </div>                      
                            <div class="form-group col-md-5">               
                                <datepicker formControlName="date"></datepicker>
                            </div>
                        </div>
                    </ng-container>

                    <ng-template clrPageButtons>
                        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
                        <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
                    </ng-template>
                    
                </div> 
        </clr-wizard-page>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>Note Details</ng-template>
            <div class="col-md-12 form-bubble pad">
                <div>
                    <img [src]="'assets/recipients/note.png'" class="side-img" alt="">
                    <div class="val-options" style="flex:1">
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio [value]="0" name="options" [(ngModel)]="noteNumber" (ngModelChange)="noteChangeEvent(0)" />
                            <label>CASE NOTE</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio [value]="1" name="options" [(ngModel)]="noteNumber" (ngModelChange)="noteChangeEvent(1)"/>
                            <label>OP NOTE</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio [value]="2" name="options" [(ngModel)]="noteNumber" (ngModelChange)="noteChangeEvent(2)" />
                            <label>CLINICAL NOTE</label>
                        </clr-radio-wrapper>
                    </div>
                    <div style="flex:3" [formGroup]="referralGroup"> 
                        <textarea style="height:8rem" formControlName="notes"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-6" [formGroup]="referralGroup">             
                    <label for="">Case Note Category</label>
                    <input type="text" formControlName="noteCategory" *ngIf="!((showThisOnTab_A()) && referralGroup.value.notes != '') ">
                    <select formControlName="noteCategory" *ngIf="(showThisOnTab_A()) && referralGroup.value.notes != ''">
                        <option [value]=""></option>
                        <option *ngFor="let note of noteArray" [value]="note">{{ note }}</option>
                    </select>           
                </div>
                <div class="form-group col-md-6" [formGroup]="referralGroup">
                    <label for="">Publish To Mobile App</label>
                    <div><checkbox formControlName="publishToApp"></checkbox></div>
                </div>
            </div>

            <!-- <ng-template clrPageButtons>
                <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
                <clr-wizard-button [type]="'custom-danger'" (click)="accept()">Finish</clr-wizard-button>
            </ng-template> -->

        </clr-wizard-page>
    
        <clr-wizard-page>
            <ng-template clrPageTitle>Reminders</ng-template>
            <div class="col-md-12 form-bubble pad">
                <img [src]="'assets/recipients/alert.png'" class="side-img" alt="">
                <div class="col-md-8" [formGroup]="referralGroup">
                    <div class="form-group">
                        <label for="">Reminder Date</label>
                        <datepicker formControlName="reminderDate"></datepicker>
                    </div>
                    <div class="form-group">
                        <label for="">TRACCS Reminder To</label>
                        <select formControlName="reminderTo">
                            <option [value]=""></option>
                            <option *ngFor="let reminder of whatOptionVar?.reminderToArr" [value]="reminder">{{ reminder.Name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Email Notification To</label>
                        <select formControlName="notifTo">
                            <option [value]=""></option>
                            <option *ngFor="let program of whatOptionVar?.reminderToArr" [value]="program">{{ program.Name }}</option>
                        </select>
                    </div>    
                    <!-- <div class="form-group">
                        <label for="">Multiple Staff</label>
                        <button (click)="multipleStaffModal.open()">...</button>
                    </div>  -->
                </div>    
            </div>
            
            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
                <clr-wizard-button [type]="'custom-danger'" (click)="accept()">Finish</clr-wizard-button>
            </ng-template>
        </clr-wizard-page>
</clr-wizard>


<clr-modal [(clrModalOpen)]="packageTemplateOpen" [clrModalSize]="'xl'">
    <h3 class="modal-title">Pick a Template</h3>
    <div class="modal-body">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Package Templates</label>
                <ul>
                    <li *ngFor="let template of packageTemplates;let i =index">
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio [value]="template.status" name="templates" (change)="changeTemplate($event,i)" />
                            <label>{{ template.name }}</label>
                        </clr-radio-wrapper>
                    </li>
                </ul>
                <intake-no-data [data]="packageTemplates?.length"></intake-no-data> 
            </div>
        </div>
        <div class="col-md-4 sticky">
            <div class="form-group">
                <label for="">Package Code</label>
                <input type="text" [(ngModel)]="packageCode" (ngModelChange)="packageCodeChanges.next($event)">               
            </div>
            <div class="form-group">
                <div *ngIf="doPackageExist">
                    <div class="alert alert-danger" role="alert">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                    <b>PACKAGE</b> already exists!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!doPackageExist && packageCode">
                    <div class="alert alert-success" role="alert">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                    <b>PACKAGE</b> is available!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="packageTemplateOpen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveNewPackageName()">Ok</button>
    </div>
</clr-modal>