<div>  
  <select [(ngModel)]="value" (ngModelChange)="onClickHandler($event)" >
    <option [value]=""></option>
    <option *ngFor="let list of lists" [value]="list">{{ list }}</option>
  </select>
</div>