<div>
    <div class="col-md-3">
        <div *ngFor="let report of reports">
            <a [routerLink]='["/sample-reports/view", report]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> {{ report }}
            </a>
        </div>        
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
