nz-select{
    width:100%
  }
  nz-table th{
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 14px;
    border: 1px solid #f3f3f3;
  }
  
  nz-table tr{
  
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 300;
  }
  
  label{
  font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .selected{
  background-color: #85B9D5;
  color: white;
  }