<div nz-row>
    <div nz-row nz-col class="mrg-btm">
    
      <label style="font-size:15px; font-family:'Segoe UI'">Physical Health </label>
  </div>
   
  </div>
  <div nz-row [formGroup]="physicalHealthForm">   
  
    <div nz-col class="heading-div">
      
      <label >Overall Health</label>
   </div>
    <div nz-row class="row">
        <div nz-col nzSpan="8" class="layer">
            <label for="">In generally Daily Health is</label>
        </div>
        <div nz-col nzSpan="10" class="input">
            <nz-select formControlName="hC_Overall_General" nzSize="default" style="width:100%">
                <nz-option *ngFor="let d of generalCondition" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="8" class="layer">
            <label for="">Level of body pain in last 4 weeks</label>
        </div>
        <div nz-col nzSpan="10" class="input">
            <nz-select formControlName="hC_Overall_Pain" nzSize="default" style="width:100%">
                <nz-option *ngFor="let d of level" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row class="row">
        <div nz-col nzSpan="8" class="layer">
            <label for="">Level of normal activities affected in last 4 weeks</label>
        </div>
        <div nz-col nzSpan="10" class="input">
            <nz-select formControlName="hC_Overall_Interfere" nzSize="default" style="width:100%">
                <nz-option *ngFor="let d of level2" [nzValue]="d" [nzLabel]="d"></nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-col class="heading-div">      
      <label >Vision</label>
   </div>
   <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Eyesight for reading</label>
    </div>
    
        <div nz-col nzSpan="10" class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="hC_Vision_Reading" style="width:100%" >
                <nz-option *ngFor="let list of generalCondition" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
        </div>              
    
  </div>
  
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Eyesight for distance </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Vision_Long" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of generalCondition" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-col class="heading-div">      
    <label >Hearing</label>
 </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Hearing is</label>
    </div>
   
        <div nz-col nzSpan="10" class="input">
            <nz-select nzSize="default" nzShowSearch nzAllowClear formControlName="hC_Hearing" style="width:100%" >
                <nz-option *ngFor="let list of generalCondition" [nzValue]="list" [nzLabel]="list"></nz-option>
            </nz-select>
        </div>
      
    
  </div>
  <div nz-col class="heading-div">
      
    <label >Oral</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Problem with teeth, denture, gums </label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Oral" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_OralComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>
  <div nz-col class="heading-div">
      
    <label >Speech/Swallowing</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Problem with Speech or Swallowing</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Speech" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_SpeechComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>
  <div nz-col class="heading-div">      
    <label >Falls</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Fallen last 6 months</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Falls" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Number of times</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_FallsNumber" />
       
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_FallsComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>
  <div nz-col class="heading-div">      
    <label >Feet</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Problem with one or both feet</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Feet" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_FeetComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>
  

  <div nz-col class="heading-div">      
    <label >Driving</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Drives a motor vehicle</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Driving" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Fit to drives</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_FitToDrive" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_DrivingComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>



  <div nz-col class="heading-div">      
    <label >Continence</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Urine Leakage Frequency</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Continence_Urine" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of leakageFrequency" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Urine Leakage quantity</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Continence_Urine_Frequency" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of LeakageQuantity" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Urine Continence score</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Continence_Urine_Score" />
     
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Faecal Continence frequency</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Continence_Faecal" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of faecalFrequency" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Details</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_ContinenceComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>



  <div nz-col class="heading-div">      
    <label >Weight and Height</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Weight (kg)</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Weight" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Height (cm)</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Height" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">BMI</label>
    </div>
    <div nz-col nzSpan="10" class="input">
       <input nz-input class="input" formControlName="hC_BMI" />
    </div>
  </div>


  <div nz-col class="heading-div">      
    <label> Blood Pressure and Pulse</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Systolic BP</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_BP_Systolic" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Diastolic BP</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_BP_Diastolic" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Pulse Rate</label>
    </div>
    <div nz-col nzSpan="10" class="input">
       <input nz-input class="input" formControlName="hC_PulseRate" />
    </div>
  </div>

  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Pulse Regularity</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Pulse" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of regularity" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>

  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">check for postural hypotension?</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_PHCheck" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>

  

  <div nz-col class="heading-div">      
    <label >Cooperation with treatment</label>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Self medicate without reminding</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Med_TakeOwn" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of reliability" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Medication Score</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Med_TakeOwn_Score" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Willing to take prescribed medication</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Med_Willing" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of willingness" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Willingness score</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Med_Willing_Score" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Co-operates with health services</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Med_Coop" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of willingness" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Co-operates  score</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <input nz-input class="input" formControlName="hC_Med_Coop_Score" />
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Webster pack or similar use</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Med_Webster" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Medication Review recommended</label>
    </div>
    <div nz-col nzSpan="10" class="input">
        <nz-select formControlName="hC_Med_Review" nzSize="default" style="width:100%">
            <nz-option *ngFor="let d of confusion" [nzValue]="d" [nzLabel]="d"></nz-option>
        </nz-select>
    </div>
  </div>
  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Comments</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="hC_MedComments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>
  <div style="margin:20px"></div>

  <div nz-row class="row">
    <div nz-col nzSpan="8" class="layer">
        <label for="">Additional Comments</label>
    </div>
    <div nz-col nzSpan="10" class="input">
      <textarea rows="6" nz-input formControlName="c_Issues_Comments" style="width: 100%;" class="input"></textarea>
      
    </div>
  </div>

  
  </div>