<div class="background">
  <div class="container">

    <label for="loginForm">
      <div class="logo-container">
        <img [src]="logoPath" alt="">
      </div>
      <h2>Welcome to TRACCS PORTAL</h2>
      <h5>Use Traccs ID or Microsoft ID to sign in</h5>
    </label>

    <div *ngIf="processing" style=" text-align: center; background-color: transparent; ">
      <nz-spin nzSimple></nz-spin>
    </div>


    <form nz-form [formGroup]="loginForm" class="login-form" *ngIf="!processing">
   
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!" *ngIf="!isLoggedIn()">
          <nz-input-group nzPrefixIcon="user">
            <input  type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!" *ngIf="!isLoggedIn()">
          <nz-input-group nzPrefixIcon="lock">
            <input  type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
      </nz-form-item>
      
        <nz-form-control>
          <button (click)="login()" *ngIf="!isLoggedIn()" [nzLoading]="loading" nz-button class="login-form-button"
            [nzType]="'primary'">Log in</button>

          <button (click)="login_microsoft()" *ngIf="!isLoggedIn()" nz-button style="margin-left: 10px; "
            class="login-form-button" [nzType]="'primary'">Log in with microsoft account</button>

          <button (click)="logout()" *ngIf="isLoggedIn()" style=" padding-left : 10px;" nz-button
            class="login-form-button" [nzType]="'primary'">Log out (Microsoft)</button>
        </nz-form-control>
   

    </form>

    <div style="color:white;  text-align: center; margin-top: 20px; "> Version: {{version}}</div>

  </div>
</div>