h2{
    color:#fff;
}
h5{
    color:#fff;
}
.container {        
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 22vw;
}

div.background{
    background: linear-gradient(112deg, #7ccfff, #0c8dfb);
    height:100vh;
    text-align: center;
    
}
div.logo-container{
    text-align: center;
}

div.logo-container img{
    height:5rem;
    width: auto;
}

@media  (max-width:300px)   {
    .container {        
       
        width: 100vw;
    }
}

@media (min-width:301px) and (max-width:600px)   {
    .container {        
       
        width: 80vw;
    }
}
@media  (min-width:601px) and (max-width:700px)  {
    .container {        
       
        width: 60vw;
    }
}
@media  (min-width:701px) and (max-width:800px)  {
    .container {        
       
        width: 50vw;
    }
}
@media  (min-width:801px) and (max-width:1000px)  {
    .container {        
       
        width: 40vw;
    }
}
@media  (min-width:1001px) and (max-width:1200px)  {
    .container {        
       
        width: 30vw;
    }
}