<nz-modal [(nzVisible)]="isVisible" nzTitle="NDIA Claim Update" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1026">
    <div>
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab  nzTitle="Interface Options" (nzClick)="view(0)"> </nz-tab>
            <nz-tab nzTitle="Recipient Selection" (nzClick)="view(1)"> </nz-tab>          
        </nz-tabset>

        <div style="padding:1rem 2rem">
            <div *ngIf="index == 0">
               
                <div nz-row>
                        <div class="form-group">
                            <label for="">Dates</label> 
                            <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
                        </div>
                        <div style="margin-top:10px">
                            <label nz-checkbox [(ngModel)]="selectAll">Select All</label>
                        </div>
                </div>

                <hr />
                
                <div nz-row nzGutter="32">
                   
                   <div nz-col nzSpan="24" nzOffset="1">
                        <div class="form-inline mrg-btm">
                            <label for="email">Export Format:</label>
                        
                            <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                            </nz-select>                  
                        </div>
                   </div>

                   <div nz-col nzSpan="24" nzOffset="1">
                        <div class="form-inline">
                            <label for="email">Provider ID:</label>
                        
                            <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                            </nz-select>                  
                        </div>
                    </div>
                </div>

                <hr />

                <!-- <div nz-row nzGutter="32">
                    <label for="">Claim Period</label> 
                    <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
                </div> -->

            
            </div>

            <div nz-row *ngIf="index == 1">
                
                <div nz-col nzSpan="7">                    
                    <div style="margin-bottom:10px">
                        <label nz-checkbox [(ngModel)]="selectAll">Select All</label>
                    </div>
                    <button nz-button nzType="primary">Unselect All</button>
                </div>

                <div nz-col nzSpan="17">
                    <ul>
                        <li>
                            <label nz-checkbox>Sample</label>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nz-modal>

