<div class="img-wrapper">
    <!-- <img [src]="imageDestination" class="img-preview"> -->
    <div class="img-container">
        <img #image [src]="imageSource || '' " (error)="errorUrl($event)" crossorigin>
    </div>
    <!-- <intake-no-data [loading]="loading"></intake-no-data> -->
</div>