.img-wrapper{
    min-width: 15rem;
    margin: 0 auto;
}

.img-container {
    width: 320px;
    height: 240px;
    margin:0 auto;
}

.img-preview {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
}

