/* chat.component.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.chat-container {
   display: flex;
    flex-direction: column;
    height: 52vh;
    width:20.5vw;
    padding:5px;
    overflow-y: auto;
  }
  
  .message {
    padding: 5px;
    margin-bottom: 5px;
    
  }
  
  .user-message {
    background-color: #e8f1f8;
    /* background: var(--white); */
    border-radius: 0 .75rem .75rem .75rem;
    box-shadow: .25rem .25rem 1.5rem rgba(251, 236, 236, 0.05);
   
  }
  
  .bot-message {
    background-color: #aaecdf;
    align-self: flex-end;
    /* background: var(--blue); */
    /* color: var(--white); */
    border-radius: .75rem 0 .75rem .75rem;
  }
  
  .input-container {
    display: flex;
    margin: 10px;
  }
  input {
    flex: 1;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
 
