<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="chat-container">
  

  <div class="chatbox-header">
   
   
  </div>
  
  <div class="chat-container">
    <div *ngFor="let message of messages" class="message" [class.user-message]=" message.user === 'user'" [class.bot-message]="message.user === 'bot'">
      {{ message.content }}
    </div>
</div>
  <div class="input-container">
    <input   nz-input type="text" class="chatbox-message-input" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
    <button (click)="sendMessage()"><i class='bx bx-send' ></i></button>
  </div>
   </div>
