.inline{
    display:inline-block;
    margin-right: 8px;
    margin-bottom:8px;
}
span{
    font-size:12px;
    margin-right:1rem;
}
i{
    font-size: 1.5rem;
    cursor:pointer;
}

.box{
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 150px;
}

.checkbox-container {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  
  .checkbox-right {
    float: right;
  }
  
  .btn-blue{
    background-color: #85B9D5;
    color: white;
    border: 1px solid #85B9D5 ;
    border-radius: 5px;
    margin: 2px;
    height: 40px;
    min-width:40px;
    font : 'Segoe UI';
    font-size: 12px; 
    text-transform: uppercase;
}