<nz-modal [(nzVisible)]="openModel" [nzStyle]="topBelow" [nzWidth]="950"
    [nzTitle]="'Discharge Registration Wizard for {{accountNo}}'" (nzOnCancel)="handleCancel()">



    <div>
        <form nz-form [formGroup]="dischargeForm">
               <nz-card [nzBodyStyle]="{'padding':'5px'}" class="mrg-btm">
                    <div nz-row nz-col nzSpan="24" style="margin-left:5px; margin-bottom:10px">
                        <div nz-col nzSpan="12" class="mrg-btm">
                            <div>
                                <label nzRequired nzFor="Name">Programs:</label>
                                <span>Select the reason cessation for this Discharge from the drop dwon list</span>

                            </div>
                            <div>
                                <label nz-checkbox [(ngModel)]="allPrograms" (ngModelChange)="loadallPrograms()">Force
                                    Display for All Programs</label>
                            </div>
                        </div>
                        <div nz-col nzSpan="11" class="box">
                            <!-- <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff</h4> -->
                            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs($event)">
                                <div nz-row>
                                    <div *ngFor="let list of listPrograms" [class.selected]="list.checked">
                                        <label nz-checkbox [nzValue]="list.value" [(ngModel)]="list.checked"
                                            [ngModelOptions]="{standalone: true}">{{ list.label }}</label>
                                    </div>
                                </div>
                            </nz-checkbox-wrapper>
                        </div>

                    </div>
                    <nz-divider ></nz-divider>
                    <div nz-row nz-col nzSpan="24" style="margin-top:5px">
                        <div nz-col nzSpan="4" nzGutter="8">
                            <label nzRequired nzFor="Reason">Reason</label>
                        </div>
                        <div nz-col nzSpan="19" nzGutter="8">
                            <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="reason">
                                <nz-option *ngFor="let res of reasons" [nzLabel]="res" [nzValue]="res"></nz-option>
                            </nz-select>
                        </div>


                    </div>

                    <div nz-row nz-col nzSpan="24" style="margin-top:10px">
                        <div nz-col nzSpan="4" nzGutter="8">
                            <label nzRequired nzFor="Discharge">Discharge Type</label>
                        </div>
                        <div nz-col nzSpan="19" nzGutter="8">
                            <nz-select style="width:100%"  [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="dischargeType">
                                <nz-option *ngFor="let res of lstdischarge" [nzLabel]="res" [nzValue]="res"></nz-option>
                            </nz-select>
                        </div>


                    </div>
                    <div nz-row nz-col nzSpan="24" style="margin-top:10px">
                        <div nz-col nzSpan="4" >
                            <label nzRequired nzFor="Discharge">Discharge Date</label>
                        </div>
                        <div nz-col nzSpan="4" >
                            <nz-date-picker nzSize="default" formControlName="dischargeDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="3"  style="margin-left : 8px;">
                            <label for="">Discharge Time</label>
                        </div>
                        <div nz-col nzSpan="4" >
                            <nz-time-picker  formControlName="dischargeTime" [ngModelOptions]="{standalone: true}"  nzFormat="HH:mm"></nz-time-picker>
                        </div>
                        <div nz-col nzSpan="1" ></div>
                        <div nz-col nzSpan="3"  >
                            <label for="">Time Spent</label>
                        </div>
                        <div nz-col nzSpan="4" >                           
                            <nz-time-picker  formControlName="timeSpent" [ngModelOptions]="{standalone: true}"  nzFormat="HH:mm"></nz-time-picker>
                        </div>
                    </div>
                    
                    <div nz-row nz-col nzSpan="24" style="margin-top:15px">

                    <div nz-row nz-col nzSpan="8" >
                        <nz-radio-group formControlName="noteType" style="display:flex; flex-direction:row">
                         
                            <label nz-radio nzValue="CASENOTE">CASE NOTE</label>
                            <label nz-radio nzValue="OPNOTE">OP NOTE</label>
                            <label nz-radio nzValue="CLINNOTE">CLINICAL</label>
                          
                          </nz-radio-group>

                    </div>
                  
                    <div nz-row nz-col nzSpan="16" >
                        <div nz-col nzSpan="3" nzGutter="8">
                            <label nzRequired nzFor="Category">Category</label>
                        </div>
                        <div nz-col nzSpan="13" nzGutter="9">
                            <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="category">
                                <nz-option *ngFor="let res of lstCategory" [nzLabel]="res" [nzValue]="res"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="6" style="margin-left:5px; " >
                            <label nz-checkbox formControlName="publishToApp">Publish to App</label>
                           
                        </div>
                    </div>
                    </div>
                    <div nz-row nz-col nzSpan="24" style="margin-top:10px">
                    
                        <div nz-col nzSpan="4" style="margin-left:5px">
                            <label nzRequired nzFor="Discharge">Discharge Note</label>
                        </div>
                        <div nz-col nzSpan="19" nzGutter="8">
                            <textarea nz-input formControlName="dischargeNote" rows="6" nzSize="default" nzPlaceHolder="Discharge Note" style="width:100%"></textarea>
                        </div>
                    
                    </div>
                    <nz-divider style="margin-top: 8px !important;"></nz-divider>
                    <div nz-row nz-col nzSpan="24" >
                        <div nz-col nzSpan="4" nzGutter="8">
                            <label nzRequired nzFor="Reminder">Traccs Reminder To</label>
                        </div>
                        <div nz-col nzSpan="8" nzGutter="9">
                            <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="reminderTo">
                                <nz-option *ngFor="let res of lstUser" [nzLabel]="res" [nzValue]="res"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="4" style="margin-left:5px" >
                            <label nz-checkbox formControlName="multipleStaff">Multiple Staff</label>
                           
                        </div>
                        <div nz-col nzSpan="7" style="margin-left:2px" >
                            <div nz-col nzSpan="10" >
                                <label for="">Reminder Date</label>
                            </div>
                            <div nz-col nzSpan="12" >                           
                                <nz-time-picker  formControlName="reminderDate" [ngModelOptions]="{standalone: true}"  nzFormat="HH:mm"></nz-time-picker>
                            </div>
                           
                        </div>
                    </div>
                    <div nz-row nz-col nzSpan="24" style="margin-top:10px">
                        <div nz-col nzSpan="4" nzGutter="8">
                            <label nzRequired nzFor="Reminder">Email Notification To</label>
                        </div>
                        <div nz-col nzSpan="12" nzGutter="9">
                            <nz-select style="width:100%" [nzSize]="'default'" nzAllowClear nzPlaceHolder=""
                                formControlName="emailTo">
                                <nz-option *ngFor="let res of lstUser" [nzLabel]="res" [nzValue]="res"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="6" style="margin-left:5px" >
                            <label nz-checkbox formControlName="multipleEmail">Multiple Staff</label>
                        </div>
                    </div>
                </nz-card>
           
        </form>
    </div>


    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" (click)="handleCancel()" class="btnlevel2orange">
                CANCEL
            </button>
            <button nz-button nzType="primary" (click)="saveNewPrgram()" class="btn-blue">
                ACCEPT
            </button>
        </ng-container>
    </div>
</nz-modal>