nz-select {
  width: 25%;
  min-width: 18rem;
  
}
ng-select >>> div div div input {
  text-transform: uppercase !important;
  
}

.icon{
 left: 1px;
 z-index:3;
 
}

div {
  display: flex;  
  flex-direction: column;
}
  div.search-container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px; */
  
    background: #f9f9f9;
    color: #5d5d5d;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
 

}  

div.search-container ng-select {

  z-index: 1;
  height:auto;
  
  
}

/* div.search-container i {
  flex: 10%;
  font-size: 1.1rem;
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #dadada;
  border-radius: 7px;
  cursor: pointer;
  color: #afafaf;
  background-color: rgb(190, 221, 241);
} */



div.search-container:hover {
  background: #ececec;
  border-color: #cacaca;
  color: #5d5d5d;
}

ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  border-left: 1px solid #d2d2d2;
  border-radius: 3px;
  overflow: auto;
  max-height: 13rem;
}

li {
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
}

li:not(.selected):hover {
  background-color: #efefef;
}

li:last-child {
  border: 0;
}

button {
  margin-left: 10px;
}

.selected {
  background: #d2d2d2;
}

.special-btns {
  font-size: 13px;
  height: 1.7rem;
}


ul.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 8rem;
}

ul.sub-menu li {
  font-size: 12px;
  padding: 5px 15px;
}

ul.sub-menu li:hover:not(.disabled) {
  color: black;
  background: #edf9ff;
}

.special {
  position: relative;
}

.special > div {
  position: absolute;
  top: 35px;
  left: 11px;
  z-index: 100;
  background: #fff;
}

.hide {
  display: none;
}

.switch {
  padding: 6px 10px;
  margin-left: 10px;
  background: #85b9d5;
  color: #fff;
  border-radius: 5px;
  width: 12rem;
}

.switch > div > span {
  width: 5rem;
  text-align: center;
  margin: 3px 10px;
  font-weight: 500;
}

nz-switch >>> button.ant-switch-checked {
  background-color: #85b9d5 !important;
}
ng-select.ng-dropdown-panel-items-full-length >>> .ng-select-container {
  border-radius: 0px !important;
}

.phone-search {
 
  position: fixed;
  z-index: 2;
  right: 0;

  color: green !important;
  border:unset !important;
}

ng-select >>> .ng-select-container > span.ng-arrow-wrapper > span.ng-arrow {
  display: none !important;
}

/* ng-select.ng-dropdown-panel-items-full-length >>> ng-dropdown-panel div {
  overflow-y: auto;
  position: relative;
  height: 82vh;
} */


ng-select.custom >>> .ng-select-container {
  border: none;
}
.ng-select.custom .ng-select-container  {            
  min-height: 0px;
  border-radius: 0;
}

ng-select.custom >>> .ng-dropdown-panel >>> .ng-dropdown-panel-items{
  max-height: 90vh;
}
.ng-dropdown-panel .ng-dropdown-panel-items{
  max-height: 90vh;
}

.active{
  background: #0f3c77;
  color: #fff;
}
.table{
  background-color: #fff;
  border: .5px solid #cacaca;
  color: #000
 
 
}

td{
  padding: 2px;
  border: none;
  text-align: left;
  font-size: 14px !important;
  font-weight: 300 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td:hover{
  color: #000;
}