<!-- <nz-select nzShowSearch nzAllowClear [nzLoading]="loading" [nzPlaceHolder]="viewResult()" [nzMaxTagCount]="1000" [(ngModel)]="searchModel" (ngModelChange)="change($event)" >
    <nz-option *ngFor="let l of lists" [nzLabel]="l.accountNo" [nzValue]="l"></nz-option>
</nz-select> -->

<div class="search-container"  >
 
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input [ngModel]="searchModel" (ngModelChange)="textChange($event)"
            style="text-transform: uppercase"   (focus)="selectAll($event)"  />
              

        <!-- <ng-select
        [virtualScroll]="true"
        [dropdownPosition]="'bottom'"
        [closeOnSelect]="false"
        [isOpen]="true"
        (change)="change($event)"   
       
        (keydown)="onKeyPress($event)"
        [(ngModel)]="searchModel" (contextmenu)="menuclick($event,1)">
            <ng-option *ngFor="let list of lists" [value]="list"  >{{ list?.accountNo }}</ng-option>
           
    </ng-select>      -->
   
        <ng-template #suffixIconButton class="phone-search">    
        <i class="fa fa-phone icon" (click)="phoneModal=true" nz-tooltip nzTooltipTitle="Phone Search"></i>    
      </ng-template> 
      </nz-input-group> 
<nz-table #fixedTable [nzData]="lists" nzSize="small" [nzScroll]="{ x: '150px', y: '45.5rem' }"  [nzLoading]="loading" [nzShowPagination]="false" class="table" #listContainer>
    <tbody>
      <tr *ngFor="let item of lists; let i=index" (contextmenu)="contextMenu($event, menu, item)"   (click)="clickEvent($event, item,i)"   (change)="change(item)"          
         [class.active]="selectedIndex==i" (keydown)="onKeyPress($event)" (focus)="selectedIndex = i" tabindex="0"  #listItem>
            <td >{{ item.accountNo }}</td>
            <nz-dropdown-menu #menu="nzDropdownMenu" >
                <ul nz-menu [ngStyle]="{'font-size': '16px', 'color': '#555', 'overflow-y': 'hidden', 'max-height': '300px'}">
                  <li nz-menu-item (click)="menuclick($event,1)" [ngStyle]="{'border': 'none'}"> Create New {{ view == 0 ? 'Recipient' : 'Staff'}}</li>
                  <li nz-menu-item (click)="menuclick($event,2)">Save Current {{ view == 0 ? 'Recipient' : 'Staff'}}</li>
                 
                  <li nz-menu-item (click)="menuclick($event,3)"  [ngStyle]="{'border': 'none'}">Change Current {{ view == 0 ? 'Recipient' : 'Staff'}} Code</li>
                  <li nz-menu-item (click)="menuclick($event,4)">Delete Current {{ view == 0 ? 'Recipient' : 'Staff'}} Code</li>
                
                  <li nz-menu-item (click)="menuclick($event,5)">Export</li>
                 
                  <li nz-menu-item (click)="menuclick($event,6)">Exit</li>
                </ul>
              </nz-dropdown-menu>
          </tr>
        </tbody>
</nz-table>

        <!-- <i  nz-icon nzType="phone" nzTheme="outline" (click)="phoneModal=true" nz-tooltip nzTooltipTitle="Phone Search"></i> -->
    

      
  <!-- <i [classList]="iconClasses" nz-icon nzType="phone" nzTheme="outline" (click)="phoneModal=true" nz-tooltip nzTooltipTitle="Phone Search"></i> -->

    <!-- <div class="special" (clickOutside)="clickOutsideMenu($event)" (click)="showAll = !showAll">
        <i  nz-icon nzType="eye" nzTheme="outline"></i>
        <div [class.hide]="!showAll">
            <ul class="sub-menu" *ngIf="view == 0">
                <li [class.ant-btn-primary]="!activeInactive" (click)="changeStatus('A')">VIEW RECIPIENTS</li>
                <li [class.ant-btn-primary]="activeInactive" (click)="changeStatus('B')">VIEW ALL</li>
            </ul>
            <ul class="sub-menu" *ngIf="view == 1">
                <li [class.ant-btn-primary]="!activeInactive" (click)="changeStatus('A')">VIEW STAFF</li>
                <li [class.ant-btn-primary]="activeInactive" (click)="changeStatus('B')">VIEW ALL</li>
            </ul>
        </div>
    </div> -->

    <!-- <div class="switch" *ngIf="view == 1">

        <div *ngIf="view == 1">
            <span>{{ activeInactive ? 'VIEW ALL' : 'STAFF' }}</span>
            <nz-switch [(ngModel)]="activeInactive" (ngModelChange)="changeStatusBool($event)" class="staffSwitch"></nz-switch>
        </div>
    </div> -->
    <!-- <i nz-icon nzType="close-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Clear Phone Filter"></i> -->
</div>




<nz-modal [(nzVisible)]="phoneModal" nzTitle="Phone Search" [nzFooter]="modalFooter" (nzOnCancel)="clearPhoneModal()">
    <div nz-row>
        <input nz-input placeholder="Phone #" [(ngModel)]="phoneSearch"  (keyup.enter)="searchPhone()" />
        <button nz-button nzType="primary" (click)="searchPhone()" nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>

    <div nz-row>
        <ul *ngIf="listPhoneRecipientsList?.length > 0">
            <li *ngFor="let list of listPhoneRecipientsList;let i = index" (click)="selected(i)" [class.selected]="selectedIndex == i">{{ list.accountNo}}</li>
        </ul>
    </div>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="clearPhoneModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="gotoRecipient()">Select</button>
    </ng-template>
</nz-modal>
