<div class="media__wrapper">
    <div class="mediabar__header">
        <div class="mediabar__title">
            <button class="add" (click)="uploadModal = true" *ngIf="isAdmin"><clr-icon shape="add"></clr-icon> Upload Media</button>
            <h2>Notices</h2>
        </div>
        <div>
            <ul>
                <li *ngFor="let media of mediaList;let i = index">
                    <article>
                        <time>{{ media.startDate }}</time>                       
                        <div class="article">
                            <h4>{{ media.mediaDisplay }}</h4>
                            <div>
                                <ng-container *ngIf="(media.type).split('/')[1] == 'jpeg' || (media.type).split('/')[1] == 'png'"> 
                                    <div>
                                        <img src="{{ media.url || '' }}" class="img-media" onerror="this.src='assets/logo/noimage.jpg'" />
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="(media.type).split('/')[1] == 'mp4' || (media.type).split('/')[1] == 'mp3'"> 
                                    <div class="video-container">
                                        <video controls (click)="toggleVideo()" #videoPlayer>
                                                <source [src]="media.url || ''"  />
                                                Browser not supported
                                        </video>
                                    </div>
                                </ng-container>
                            </div>
                            <div>
                                {{ media.mediaText }}
                            </div>
                        </div>
                    </article>
                </li>               
            </ul>        
            <intake-no-data class="col-md-12" [data]="mediaList?.length" ></intake-no-data>    
        </div>
       
    </div>
</div>

<clr-modal [(clrModalOpen)]="uploadModal">
    <h3 class="modal-title">Upload Media</h3>
    <div class="modal-body">
       <div class="col-md-12">
            <div class="form-group">
                <input type="text" placeholder="Media Title" [(ngModel)]="title">
            </div>
            <div class="form-group">
                <dragdrop [standalone]="true" (fileData)="fileData($event)"></dragdrop>
            </div>
            <div class="form-group">
                <textarea placeholder="Media Description" maxlength="240"  [(ngModel)]="description"></textarea>
            </div>
       </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="uploadModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="upload()">Save</button>
    </div>
</clr-modal>
