.media__wrapper{
    background: #fff;
    height: 85vh;
    overflow: auto;
}

.mediabar__header{

}

.mediabar__title{
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

button{
    float:right;
    margin:15px;
}

h2{
    margin: 3px 15px;
    font-weight:500;
    color:#18486f;
}

h4{
    font-weight: 600;
    color: #2699e3;
    text-transform: uppercase;
    margin: 0;
}

.article div{
    margin-top: 15px;
    text-align: justify;
    font-size: 13px;
}
ul{
    list-style: none;
    margin: 0px 12px;
}

li{
    border-bottom: 1px solid #e3e6e8;
    padding:20px 10px;
}

time{
    width: 95px;
    float: left;
    font-size: 11px;
    font-weight: 500;
    color: #70879a;
}

div.article{
    margin-left:80px;
}

.img-media {
    width: auto;
    height: 6rem;
}

video{
    height: 7rem;
    width: auto;
}
.video-container{
    width: 11rem; 
    overflow: hidden;
}