<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <!-- <div class="logo"></div> -->
        <div style="min-height:46px">
            <img [src]="logoPath" class="logo-new" alt="">
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" class="main-list"[nzInlineCollapsed]="isCollapsed">
            <li *ngIf="pickedUser" class="logged-in-user">
                <div>
                    <div>You are Logged in as</div>
                    <div class="belongsto-user">{{ pickedUser.accountNo }}</div>
                    <i nz-icon nzType="close-circle" nzTheme="outline" (click)="toMemberPage()"></i>
                </div>
            </li>
            <li nz-menu-item  routerLink="/client/profile" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="user"></i>
                <span>Profile</span>
            </li>
            <li *ngIf="showNotes" nz-menu-item routerLink="/client/notes" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="read"></i>
                <span>Notes</span>
            </li>
            <li *ngIf="_settings?.VIEWPACKAGESTATEMENT()" nz-menu-item routerLink="/client/package" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="gift"></i>
                <span>Package</span>
            </li>
            <li *ngIf="_settings?.ALLOWBOOKING()" nz-menu-item routerLink="/client/booking" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="book"></i>
                <span>Booking</span>
            </li>
            <li nz-menu-item routerLink="/client/calendar" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="calendar"></i>
                <span>Calendar</span>
            </li>
            <li nz-menu-item routerLink="/client/history" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="history"></i>
                <span>History</span>
            </li>
            <li *ngIf="_settings?.CANMANAGEPREFERENCES()" nz-menu-item routerLink="/client/preferences" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="like"></i>
                <span>Preferences</span>
            </li>
            <!-- *ngIf="_settings?.CANMANAGESERVICES()" -->
            <li *ngIf="_settings?.CANMANAGESERVICES()" nz-menu-item routerLink="/client/manage-services" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="security-scan"></i>
                <span>Manage Services</span>
            </li>
            <li *ngIf="showDocuments" nz-menu-item routerLink="/client/document" routerLinkActive="ant-menu-item-selected">
                <i nz-icon nzType="file"></i>
                <span>Document</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i class="trigger hide-sidemenu-icon" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed" ></i>
            <app-header-nav></app-header-nav>
        </nz-header>
        <nz-content>
            <!-- <app-breadcrumbs></app-breadcrumbs> -->
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <!-- <nz-footer>Put footer here</nz-footer> -->
    </nz-layout>
</nz-layout>

<ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline">asdasd</i>
</ng-template>