<div>
    <app-profile-page [(ngModel)]="user" name="fieldName" ngDefaultControl></app-profile-page>

    <div *ngIf="_settings?.ALLOWMARKETING()" class="side-button" nz-button nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottomRight"
        (click)="showNotices()">
        <i nz-icon nzType="notification" nzTheme="outline"></i>
    </div>
</div>

<ng-template #contentTemplate>
    <div>
        <span>Show all notifications!</span>
    </div>
</ng-template>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Notices" [nzWidth]="360"
    (nzOnClose)="visible=false">
    <div>
        <app-media [personID]="personID"></app-media>
    </div>
</nz-drawer>

<nz-modal  [nzClosable]="false" [(nzVisible)]="passwordResetVisible" nzTitle="Required Password Change" class="no-custom-color">

    <div [formGroup]="changePasswordForm">
        <div class="form-group">
            <input nz-input type="password" formControlName="newPassword" placeholder="New Password" />
        </div>

        <div class="form-group">
            <input nz-input type="password" formControlName="newPasswordConfirm" placeholder="New Password Confirm" />
        </div>
    </div>

    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="changePass()"> Change Password</button>
    </div>
  </nz-modal>



  <app-add-referral [open]="newReferralModal" [type]="'referral'" (openRefer)="openReferModal($event)" ></app-add-referral>

  