<div>

    <nz-tabset class="medium" (nzSelectedIndexChange)="nzSelectedIndexChange($event)">
        <nz-tab [nzTitle]="pending">
            <ng-template #pending> <span class="dot pending"></span> Pending</ng-template>
            <div *ngIf="!loading">
                
                <nz-table #virtualTable nzVirtualScroll [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift No</th>
                            <th nzWidth="110px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="200px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="50px">Notes</th>
                            <th nzWidth="50px" nzRight="0px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="110px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td nzWidth="90px">{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td nzWidth="60px">{{ data.activity_Time.calculated_Duration }}</td>
                                <td nzWidth="110px">{{ data.carer_Code }}</td>
                                <td nzWidth="200px">{{ data.program.title }}</td>
                                <td nzWidth="100px">{{ data.activity.name }}</td>
                                <td nzWidth="100px">{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td nzWidth="100px">{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td nzWidth="100px">{{ data.billedTo.accountNo }}</td>
                                <td nzWidth="200px" nzRight="50px">{{ data.note }}</td>
                                <td nzWidth="50px"  nzRight="0px">
                                    <button nz-button nzType="danger" *ngIf="_settings.CANCANCELSERVICE()" class="cancel-btn" (click)="setShift(timesheets,index)" nzDanger="true">Cancel</button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>                
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="accepted">
            <ng-template #accepted> <span class="dot accepted"></span> Accepted</ng-template>
            <div *ngIf="!loading">
                
                <nz-table #virtualTable nzVirtualScroll [nzSize]="'middle'" [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift/Booking #</th>
                            <th nzWidth="120px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="280px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="0px">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="100px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ data.activity_Time.calculated_Duration }}</td>
                                <td>{{ data.carer_Code }}</td>
                                <td>{{ data.program.title }}</td>
                                <td>{{ data.activity.name }}</td>
                                <td>{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td>{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td>{{ data.billedTo.accountNo }}</td>
                                <td nzRight="0px">{{ data.note }}</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="completed">
            <ng-template #completed> <span class="dot completed"></span> Completed</ng-template>
            <div *ngIf="!loading">
                

                <nz-table #virtualTable nzVirtualScroll [nzSize]="'middle'" [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift/Booking #</th>
                            <th nzWidth="120px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="280px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="50px">Notes</th>
                            <th nzWidth="50px" nzRight="0px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="100px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ data.activity_Time.calculated_Duration }}</td>
                                <td>{{ data.carer_Code }}</td>
                                <td>{{ data.program.title }}</td>
                                <td>{{ data.activity.name }}</td>
                                <td>{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td>{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td>{{ data.billedTo.accountNo }}</td>
                                <td nzWidth="200px" nzRight="50px">{{ data.note }}</td>
                                <td nzWidth="50px" nzRight="0px">
                                    <button nz-button nzType="primary" 
                                        nz-popconfirm
                                        nzPopconfirmTitle="Are you sure approve this roster?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="approveShift(index)"
                                        class="cancel-btn" >Approve</button>
                                    <button nz-button *ngIf="_settings.CANQUERYSERVICE()"
                                    nz-popconfirm
                                    nzPopconfirmTitle="Are you sure query this roster?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="queryShift(index)"
                                    class="cancel-btn" class="cancel-btn" (click)="setShift(timesheets,index)">Query</button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="approved">
            <ng-template #approved> <span class="dot approved"></span> Approved</ng-template>
            <div *ngIf="!loading">
                

                <nz-table #virtualTable nzVirtualScroll [nzSize]="'middle'" [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift/Booking No</th>
                            <th nzWidth="120px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="280px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="0px">Notes</th>
                            <th>Approval</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="100px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ data.activity_Time.calculated_Duration }}</td>
                                <td>{{ data.carer_Code }}</td>
                                <td>{{ data.program.title }}</td>
                                <td>{{ data.activity.name }}</td>
                                <td>{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td>{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td>{{ data.billedTo.accountNo }}</td>
                                <td nzRight="0px">{{ data.note }}</td>
                                <td>
                                    <button class="cancel-btn" (click)="setShift(timesheets,index)">Cancel</button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="query">
            <ng-template #query> <span class="dot query"></span> Query</ng-template>
            <div *ngIf="!loading">
                
                <nz-table #virtualTable nzVirtualScroll [nzSize]="'middle'" [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift/Booking No</th>
                            <th nzWidth="120px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="280px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="0px">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="100px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ data.activity_Time.calculated_Duration }}</td>
                                <td>{{ data.carer_Code }}</td>
                                <td>{{ data.program.title }}</td>
                                <td>{{ data.activity.name }}</td>
                                <td>{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td>{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td>{{ data.billedTo.accountNo }}</td>
                                <td nzWidth="200px" nzRight="0px">{{ data.note }}</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>

            </div>
        </nz-tab>
        <nz-tab [nzTitle]="billed">
            <ng-template #billed> <span class="dot billed"></span> Billed</ng-template>
            <div *ngIf="!loading">
                
                
                <nz-table #virtualTable nzVirtualScroll [nzSize]="'middle'" [nzVirtualItemSize]="20" [nzData]="timesheets"
                    [nzLoading]="loading" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzSize]="'middle'"
                    [nzShowPagination]="false" [nzScroll]="{ x: '1700px', y: '520px' }">
                    <thead>
                        <tr>
                            <th nzWidth="100px" nzLeft="0px">Shift/Booking No</th>
                            <th nzWidth="120px" nzLeft="100px">Date</th>
                            <th nzWidth="90px">Start Time</th>
                            <th nzWidth="60px">Duration</th>
                            <th nzWidth="110px">Provider</th>
                            <th nzWidth="280px">Program</th>
                            <th nzWidth="100px">Activity</th>
                            <th nzWidth="100px">Bill Quantity</th>
                            <th nzWidth="100px">Bill Rate</th>
                            <th nzWidth="100px">Bill To</th>
                            <th nzWidth="200px" nzRight="0px">Notes</th>
                            <th>Approval</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr>
                                <td nzLeft="0px">{{ data.shiftbookNo }}</td>
                                <td nzLeft="100px">{{ data.activityDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.activity_Time.start_time | date: 'HH:mm' }}</td>
                                <td>{{ data.activity_Time.calculated_Duration }}</td>
                                <td>{{ data.carer_Code }}</td>
                                <td>{{ data.program.title }}</td>
                                <td>{{ data.activity.name }}</td>
                                <td>{{ data.bill.quantity | number: '1.2-2' }}</td>
                                <td>{{ data.bill.bill_Rate | currency: 'USD' }}</td>
                                <td>{{ (data.bill.quantity * data.bill.bill_Rate) | currency: 'USD' }}</td>
                                <td>{{ data.address }}</td>
                                <td>{{ data.billedTo.accountNo }}</td>
                                <td nzRight="0px">{{ data.note }}</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>

            </div>
        </nz-tab>
    </nz-tabset>

    <nz-spin *ngIf="loading" nzSimple></nz-spin>

    <nz-collapse class="small" [nzExpandIconPosition]="expandIconPosition">
        <nz-collapse-panel
          *ngFor="let timesheet of timesheets;let i = index"
    
          [nzHeader]="header"
          [nzActive]="timesheet.active"
          [nzExtra]="extraTpl"
          [nzDisabled]="timesheet.disabled"
        >

            <ng-template #header >           
                <div class="collapse-container">
                    <div>
                        <div><span class="tt-hl">Shift #:</span> {{ timesheet.shiftbookNo }}</div>
                        <div><span class="tt-hl">Date:</span> {{ timesheet.activityDate | date: 'dd/MM/yyyy'  }}</div>
                        <div><span class="tt-hl">Start:</span> {{ timesheet.activity_Time.start_time | date: 'HH:mm' }}</div>
                        <div><span class="tt-hl">Duration:</span> {{ timesheet.activity_Time.start_time | date: 'HH:mm' }}</div>
                    </div>
                </div>
            </ng-template>

            <div>
                <div><span class="tt-hl">Provider:</span> {{ timesheet.carer_Code }}</div>
                <div><span class="tt-hl">Program:</span> {{ timesheet.program.title }}</div>
                <div><span class="tt-hl">Activity:</span> {{ timesheet.activity.name }}</div>
                <div><span class="tt-hl">Bill Quantity:</span> {{ timesheet.bill.quantity | number: '1.2-2' }}</div>
                <div><span class="tt-hl">Bill Rate:</span> {{ timesheet.bill.bill_Rate | currency: 'USD' }}</div>
                <div><span class="tt-hl">Bill To:</span> {{ timesheet.billedTo.accountNo }}</div>
                <div><span class="tt-hl">Notes:</span> {{ timesheet.note }}</div>
            </div>


            <ng-template #extraTpl>
                <button class="delete-btn" *ngIf="_settings.CANCANCELSERVICE()" (click)="$event.stopPropagation();setShift(timesheets, i)" nz-button nzType="danger" nzShape="round"><span nz-icon nzType="delete"></span></button>
                <!-- <button nz-button nzType="danger" *ngIf="_settings.CANCANCELSERVICE()" class="cancel-btn" (click)="$event.stopPropagation();setShift(timesheets,1)" nzDanger="true">Cancel</button> -->
                <!-- <span nz-icon nzType="setting" (click)="$event.stopPropagation()"></span> -->
            </ng-template>

        </nz-collapse-panel>
      </nz-collapse>
</div>



<nz-modal [(nzVisible)]="cancelBookingModal" nzTitle="Booking Cancellation" (nzOnCancel)="handleCancel()" >
      <div>
          <div class="form-group cancel-wrapper-data">
                <h2 class="unalloc">UNALLOCATED BOOKING</h2>
                <div nz-row>
                    <div nz-col nzSpan="12" class="form-group">
                        <label for="" class="nth">Date: </label>
                        <span class="nth">{{ currentShift?.date_Value }}</span>
                    </div>
                    <div nz-col nzSpan="12" class="form-group">
                        <label for="" class="nth">Service Type: </label>
                        <span class="nth">{{ currentShift?.activity.name }}</span>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12"  class="form-group">
                        <label for="" class="nth">Time: </label>
                        <span class="nth">{{ currentShift?.activity_Time.time_Value }}</span>
                    </div>
                    <div nz-col nzSpan="12" class="form-group">
                        <label for="" class="nth">Duration: </label>
                        <span class="nth">{{ currentShift?.activity_Time.calculated_Duration }}</span>
                    </div>
                </div>
            </div>
      </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Exit</button>
        <button nz-button nzType="primary" (click)="cancelBooking()" [nzLoading]="isConfirmLoading">Cancel Booking</button>
    </div>
    </nz-modal>