<div class="col-md-12" style="padding:10px">
    <div class="col-md-7">
        <div class="row">
            <div class="profile"></div>
        </div>
        <div class="row">
            <div class="detail-container">
                <label for="">Address</label>
                <nav>
                    <div class="detail-data" *ngFor="let address of user?.Addresses">
                        <div>{{ address.description }}</div>
                        <div>{{ address.address1 }} {{ address.suburb}} <i class="material-icons" *ngIf="address.primaryAddress"> stars </i></div>
                        
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
                <div class="detail-container">
                    <label for="">Contacts</label>
                    <nav>
                        <div class="detail-data" *ngFor="let contact of user?.Contacts">
                            <div>{{ contact.type }}</div>
                            <div>{{ contact.detail }} <i class="material-icons" *ngIf="contact.primaryPhone"> stars </i></div>
                            
                        </div>
                    </nav>
                </div>
        </div>
    </div>
    <div class="col-md-5">
       <div class="infos-container">
            <div>
                <label for="">Work And Availability Preference</label>
                <textarea name="" id="" cols="30" rows="10" [value]="user?.Infos.Preference" readonly></textarea>
            </div>
            <div>
                <label for="">Miscellaneous Notes</label>
                <textarea name="" id="" cols="30" rows="10" [value]="user?.Infos.Miscellaneous" readonly></textarea>
            </div>
       </div>
    </div>
</div>