<div class="col-md-12" style="padding:10px">
    <button class="add" (click)="addopnoteModal.open();dbAction=0">Add OP Note</button>

   <ng-container *ngIf="notes?.length > 0">
        <div class="note-detail" *ngFor="let note of notes">        
            <div>
                <section><b>{{ note.creator | uppercase }}</b></section>
                <div>{{ note.date }} | {{ note.time }}</div>
            </div>
            <div>{{ note.detail }}</div> 
            <div>
                <i class="material-icons edit" (click)="updateopnote(note);dbAction=1">edit</i>
                <i class="material-icons delete" (click)="deleteopnote(note.recordNumber)">delete</i>
            </div>
        </div>
   </ng-container>
   <intake-no-data [data]="notes?.length"></intake-no-data> 
</div>

<bs-modal class="disableOverFlow" #addopnoteModal (onShow)="resetForm()" [size]="'lg'">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Add OP Note</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="col-md-4" [formGroup]="opGroup">
            <div class="col-md-12">    
                <div class="form-group">
                    <label>Category</label>
                    <select class="margin-space" formControlName="category">
                        <option [value]=""></option>
                        <option *ngFor="let category of opnoteModalObject?.category" [value]="category">{{ category | uppercase }}</option>
                    </select>      
                </div>
            </div>
            <div class="col-md-12">    
                <div class="form-group">
                    <label>Discipline</label>
                    <select class="margin-space"  formControlName="discipline">
                        <option *ngFor="let discipline of opnoteModalObject?.discipline" [value]="discipline">{{ discipline | uppercase}}</option>
                    </select>      
                </div>
            </div>   
            <div class="col-md-12">    
                <div class="form-group">
                    <label>Care Domain</label>
                    <select class="margin-space" formControlName="careDomain">
                        <option *ngFor="let care of opnoteModalObject?.caredomain" [value]="care">{{ care | uppercase }}</option>
                    </select>      
                </div>
            </div>   
        </div>
        <div class="col-md-8" [formGroup]="opGroup">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Reminder Date</label>
                    <datepicker formControlName="alarmDate"></datepicker>
                </div>
            </div>  
            <div class="col-md-12 grouping-checkbox">
                <div class="col-md-4">
                    <input type="radio" id="op_public" value="public" formControlName="restrictionsStr"> 
                    <label for="op_public">Public</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="op_workgroup" value="workgroup" formControlName="restrictionsStr">
                    <label for="op_workgroup">Workgroup Only</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="op_restrict" value="restrict" formControlName="restrictionsStr">
                    <label for="op_restrict">Restrict To</label>
                </div>
            </div>
            <div class="col-md-12" *ngIf="opGroup.value.restrictionsStr === 'restrict'">
                <div class="casemanager-list">
                    <ul>
                        <li *ngFor="let manager of opnoteModalObject?.manager" >                            
                            <div class="checkbox">
                                <input type="checkbox" [id]="manager" [checked]="checkManagerIsPresent(manager,'opnote')" [value]="manager" (change)="listChckBoxes($event.target.checked, manager)"><label [for]="manager">{{ manager }}</label>
                            </div>                      
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="col-md-12">
                <div class="form-group">
                    <label>Notes</label>
                    <textarea name="" id="" cols="30" rows="5" formControlName="notes"></textarea>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-primary" [disabled]="opGroup.value.category == ''" (click)="opNoteProcess();addopnoteModal.close()">Save</button>
        <button type="button" class="btn btn-danger" (click)="addopnoteModal.close()">Cancel</button>
    </bs-modal-footer>
</bs-modal>