<nz-modal [nzStyle]="{ top: '15px'}" [hasBackdrop]="true" [nzWidth]="'50vw'" [(nzVisible)]="view"
    nzTitle="{{Cancel_shift_Detail}}" (nzOnCancel)="DoneCancelShift()">
    <div *ngIf="loading" style="margin:100px"> <nz-spin nzSimple></nz-spin>
    </div>
    <div class="flexy" style="min-height:10rem; ">

        <div *ngIf="!loading" style="display:flex; flex-direction:column; margin-top:-10px; ">
            <div style="display:flex; flex-direction:column;">
                <!-- <div>
                        <label for="">Cancellation Details</label>
                        <div nz-col><label nz-checkbox nzValue="" *ngIf="1>2" [ngModel]="chk0"></label></div>
                    </div> -->
                
                <div *ngIf="showNSDF" style="display:flex; flex-direction:row; margin-top:5px;  width:38vw" >
                    <div style="padding: 3px; margin-left:100px; width:30vw">
                        <nz-select nzShowSearch nzAllowClear  [nzDropdownMatchSelectWidth]="false"
                            [(ngModel)]="reason" style="width:29.6vw">
                            <nz-option *ngFor="let list of lstReasons" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="reason" [nzValue]="reason" nzHide></nz-option>
                        </nz-select>
                    </div>
                    <div style="padding: 5px; color:red">
                        <label for="">MANDATORY</label>
                    </div>
                    
                </div>
            </div>


            <div style="padding: 3px; margin-left:100px; width:30vw">
                <nz-input-group (click)="ViewCancelListCode=true">
                    <input placeholder="Cancel Shift" type="text" nz-input [(ngModel)]="CancelCode" />
                </nz-input-group>
                <!-- <div nz-col><label nz-checkbox nzValue="A" *ngIf="chk3_Visible" [ngModel]="chk3">Manually select
                            Cancellation type for EACH shift cancelled</label></div> -->

            </div>
            <div style="padding: 3px; margin-left:100px">
                <div nz-col><label nz-checkbox nzValue="A" [ngModel]="BillOriginalActivity">Bill Original Activity
                        Rate. (NB If unticked will Bill default selected cancellation rate.)</label></div>
                <div nz-col><label nz-checkbox nzValue="B" [ngModel]="OriginalNDAI">Retain Original NDAI/Dataset
                        Code</label></div>

            </div>
            <div style="display:flex; flex-direction:row; margin-top:5px">
                <div style="display:flex; flex-direction:column; ">
                    <nz-radio-group [(ngModel)]="OpNote" (ngModelChange)="log($event)"
                        style="display:flex; flex-direction:column">

                        <label nz-radio nzValue="CASENOTE">Case Note</label>
                        <label nz-radio nzValue="OPNOTE">OP Note</label>
                    </nz-radio-group>
                </div>


                <div style="margin-top: 5px; ">
                    <textarea  nz-input [(ngModel)]="txtOPNote"
                        style="width: 38vw; height: 100px;"> </textarea>
                </div>
            </div>
            <div style=" display:flex; flex-direction:row;  margin-top:5px  ">
                <label style="width:100px">Category</label>
                <div style="padding-left:3px">
                    <nz-select nzShowSearch nzAllowClear [disabled]="enableCategory"
                        [nzDropdownMatchSelectWidth]="false" [(ngModel)]="selectedCategory" style="width:38vw">
                        <nz-option *ngFor="let list of lstcategory" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <!-- <nz-option [nzLabel]="selectedCategory" [nzValue]="selectedCategory" nzHide></nz-option> -->
                    </nz-select>
                </div>
            </div>
            <div style="display:flex; flex-direction:row;  margin-top:5px">
                <label style="width:100px;  ">Reminder</label>
                <div>
                    <nz-select nzShowSearch nzAllowClear [disabled]="txtOPNote==null "
                        [nzDropdownMatchSelectWidth]="false" [(ngModel)]="ReminderUser" style="width:15vw; padding:2px">
                        <nz-option *ngFor="let list of lstUsers" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <!-- <nz-option [nzLabel]="ReminderUser" [nzValue]="ReminderUser" nzHide></nz-option> -->
                    </nz-select>
                </div>
                <div style="margin-left: 5px; ; width: 8vw; pointer-events:none; padding-top:4px ">
                    <label nz-checkbox nzValue="MultipleEmail" [(ngModel)]="MultipleEmail"
                        (ngModelChange)="MultipleEmail_checked()">Multiple Staff</label>
                </div>
                <div style="display:flex; flex-direction:row; ">
                    <label style=" margin: 5px;">Date</label>

                    <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="reminderDate"
                        style="margin-left: 5px"></nz-date-picker>

                </div>
                <!-- <div style="margin-left: 5px; padding: 5px; width: 12vw">
                        <label nz-checkbox nzValue="MultipleReminder" [(ngModel)]="MultipleReminder"
                            (ngModelChange)="MultipleReminder_checked()">Multiple Reminder</label>
                    </div> -->
            </div>
            <div style="display:flex; flex-direction:row; margin-top:5px;  ">

                <label style="width:100px;">Email to</label>
                <div style="padding-left:2px">
                    <nz-select nzShowSearch nzAllowClear [disabled]="txtOPNote==null"
                        [nzDropdownMatchSelectWidth]="false" [(ngModel)]="EmailUser" style="width:38vw">
                        <nz-option *ngFor="let list of lstUsers" [nzValue]="list" [nzLabel]="list"></nz-option>
                        <!-- <nz-option [nzLabel]="defaultProgram" [nzValue]="defaultProgram" nzHide></nz-option> -->
                    </nz-select>
                </div>


            </div>
            <div style="display:flex; flex-direction:row; margin-top:5px;">
                <div>
                    <label nz-checkbox [(ngModel)]="PayStaff">{{PayStaffLabel}}</label>
                </div>
                <div *ngIf="!PayStaff" style="margin: 3px;">
                    <label nz-checkbox [(ngModel)]="FillStaff" (ngModelChange)="fillRecipient()">Fill available
                        staff with alternate recipient</label>
                </div>

            </div>
            <div style="display:flex; flex-direction:row; margin-top:5px;">
                
                <label nz-checkbox [(ngModel)]="TravelInterpreter" style="margin-left: 10px;">Pay KM to
                    Shift (Travel Interpreter)</label>

            </div>
            <div *ngIf="!PayStaff && FillStaff" style="display:flex; flex-direction:column;  margin-top: 5px; ">


                <div class="color-powder-blue" style="padding-left: 5px; ">
                    <label>Replacement Client</label>
                </div>
                <div style="display:flex; flex-direction:column; padding: 5px;">
                    <div style="display:flex; flex-direction:row; padding: 5px;">
                        <label>View Recipient List</label>
                      
                    </div>
                    <div>
                        <nz-input-group nzAddOnAfterIcon="appstore" (click)="ViewRecipeintList=true">
                            <input placeholder="Select Alternative Recipient For Activity" type="text" nz-input
                                [(ngModel)]="AlternativeRecipient" />
                        </nz-input-group>
                    </div>
                </div>

            </div>
            <div style="border-top: 1px solid #d2d0d5; margin-top:5px; " *ngIf="PayStaff"></div>
            <div *ngIf="PayStaff" style="display:flex; flex-direction:column;  margin-top: 5px; ">

                <div>
                    <label style=" margin-top:3px;"> Pay Details</label>
                </div>

                <div style="display:flex; flex-direction:row; margin-top: 5px;">
                    <div style="width:100px  ">
                        <label for="">Activity </label>
                    </div>

                    <div style="padding-left: 3px; ">
                        <nz-input-group nzAddOnAfterIcon="select" (click)="openList('ServiceType')">
                            <input placeholder="Select activity Code for replacemet  Activity" type="text" nz-input
                                [(ngModel)]="CancelShiftServiceType" style="width:35vw" />
                        </nz-input-group>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; margin-top:5px">
                    <div style="margin-left:100px; ">

                    </div>
                    <div style="padding-left: 3px; " *ngIf="chk5_Visible">
                        <label nz-checkbox [(ngModel)]="chkServiceType"
                            (ngModelChange)="setDefautlValue('ServiceType')">OR ..Select Activity Type for
                            EACH replacement activity created</label>
                    </div>
                </div>


                <div style="display:flex; flex-direction:row; margin-top:5px">
                    <div style=" width:100px ">
                        <label for="">PAY TYPE </label>
                    </div>

                    <div style="padding-left: 3px; ">
                        <nz-input-group nzAddOnAfterIcon="select" (click)="openList('PayType')">
                            <input placeholder="Select Paytype for replacemet  activities created" type="text" nz-input
                                [(ngModel)]="CancelPayType" style="width:35vw" />
                        </nz-input-group>
                    </div>

                </div>
                <div style="display:flex; flex-direction:row; margin-top:5px">

                    <div style="margin-left:100px; padding-left:3px" *ngIf="chk4_Visible">
                        <label nz-checkbox [(ngModel)]="chkPayType" (ngModelChange)="setDefautlValue('PayType')">OR ..
                            Select Pay Type for EACH
                            activity created</label>
                    </div>
                </div>
                <div style="border-top: 1px solid #c5c4c9; margin-top:5px;"></div>

                <div style="display:flex; flex-direction:row;  margin-top:8px;">

                    <div style="margin-left:100px; padding-left:3px">
                        <label nz-checkbox [(ngModel)]="FillProgram" (ngModelChange)="clearProgram()">Allocate
                            cancellation to alternate program</label>
                    </div>
                </div>

                <div style="display:flex; flex-direction:row; margin-top:5px;  ">
                    <div style=" width:100px ">
                        <label for="">PROGRAM </label>
                    </div>
                    <div style="padding-left: 3px;">
                        <nz-input-group nzAddOnAfterIcon="select" [disabled]="!FillProgram"
                            (click)="openList('Program')" >
                            <input placeholder="Select Program to apply Cancellation" [disabled]="!FillProgram"
                                type="text" nz-input [(ngModel)]="CancelShiftProgram" style="width:35vw"/>
                        </nz-input-group>
                    </div>
                </div>
                <div style="display:flex; flex-direction:row; margin-top:5px;  ">

                    <div style="padding-left: 3px; margin-left:100px;" *ngIf="chk7_Visible">
                        <label nz-checkbox [(ngModel)]="chkProgram" (ngModelChange)="setDefautlValue('Program')">OR
                            ..Manually select alternate
                            program for EACH shift cancelled</label>
                    </div>
                </div>

                <div style=" display:flex; flex-direction:row;  margin-top:5px;">
                    <div style="width:100px ">
                        <label for="">DURATION </label>
                    </div>
                    <div style="padding-left: 5x;" >
                        <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width:37.6vw">
                            <nz-option *ngFor="let list of lstDuration" [nzValue]="list" [nzLabel]="list"
                                [(ngModel)]="DefaultDuration"></nz-option>
                            <nz-option [nzLabel]="DefaultDuration" [nzValue]="DefaultDuration" nzHide></nz-option>
                        </nz-select>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveCancel_Shift()">OK</button>
        <button nz-button nzType="default" (click)="DoneCancelShift()">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewList" nzTitle="Day Manager"
    (nzOnCancel)="ViewList = false">
    <div class="flexy" style="min-height:20rem;">
        <div>

            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzLoading]="loading" [nzData]="datalist" style="height: 400px; width: 340px;"
                [nzScroll]="{ y: '380px'}">
                <thead>
                    <tr>
                        <th class="left">Select {{ListType}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datalist;let i = index;" (click)="onListlItemSelected(data,i)"
                        (dblclick)="onListItemDbClick(data,i)"
                        [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
                        <td class="left">
                            {{ data.title }}

                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ListSelectionDone()">OK</button>
        <button nz-button nzType="default" (click)="ViewList=false">Cancel</button>
    </div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewCancelListCode" nzTitle="Day Manager"
    (nzOnCancel)="ViewCancelListCode = false">
    <div class="flexy" style="min-height:20rem;">
        <div>

            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzLoading]="loading" [nzData]="lstCancelCodes" style="height: 400px; width: 340px;"
                [nzScroll]="{ y: '380px'}">
                <thead>
                    <tr>
                        <th class="left">Select Code</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstCancelCodes;let i = index;" (click)="onCancelItemSelected(data,i)"
                        (dblclick)="onCancelItemDbClick(data,i)"
                        [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
                        <td class="left">
                            {{ data.title }}

                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SetCancelCodeValue()">OK</button>
        <button nz-button nzType="default" (click)="ViewCancelListCode=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="600" [(nzVisible)]="ViewRecipeintList" nzTitle="Day Manager"
    (nzOnCancel)="ViewRecipeintList = false">
    <div class="flexy" style="min-height:20rem;">
        <div>

            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                [nzLoading]="loading" [nzData]="lstRecipient" style="height: 400px; width: 540px;"
                [nzScroll]="{ y: '380px'}">
                <thead>
                    <tr>
                        <th class="left">AccountNo</th>
                        <th class="left">Name</th>
                        <th class="left">Gender</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lstRecipient;let i = index;" (click)="onItemSelected(data,i)"
                        (dblclick)="onItemDbClick(data,i)"
                        [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
                        <td class="left">
                            {{ data.accountNo }}

                        </td>
                        <td class="left">
                            {{ data.name }}
                        </td>
                        <td class="left">
                            {{ data.gender }}
                        </td>
                    </tr>
                </tbody>
            </nz-table>

        </div>

    </div>
    <div *nzModalFooter>
        <button nz-button *ngIf="!NoPermission" nzType="default" (click)="SetViewRecipeint()">OK</button>
        <button nz-button nzType="default" (click)="ViewRecipeintList=false">Cancel</button>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="600" [(nzVisible)]="getNewReason" nzTitle="Cancellation Reason"
    (nzOnCancel)="getNewReason = false">
    <div class="flexy" style="min-height:20rem;">
        <div>Insert a short description of the reason for the cancellation</div>
        <div>
            <textarea style="margin-top: 5px; " nz-input [(ngModel)]="reason"> </textarea>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button *ngIf="!NoPermission" nzType="default" (click)="getNewReason=false">OK</button>
        <button nz-button nzType="default" (click)="getNewReason=false">Cancel</button>
    </div>
</nz-modal>