nz-switch.master-class ::ngdeep  button.ant-switch-checked{ background-color:#c07417; }
       
nz-table tbody tr.active  {  
    background-color:#48da24 !important;  
    color: white;  
  }   

  class.selected
  { 
    background-color:#B98F8F !important;  
    color: white; 

  } 

  .template{
    display:block;            
    border-bottom: 1px solid #7a7a73;          
    background-color: white;
    padding: 3px;
    font-size: 11px;
    font-family: Segoe UI;
    color : #F18805;
}

  .ant-drawer-content {
    height: 100%;
    overflow-y: scroll;
    
  }

  .btn-powder-blue{
    background-color:#85B9D5 !important;
    width:50px; 
    height: 33px;
    color:#fff !important;
    padding-left: none !important;
    margin-left: none !important;
    border :#85B9D5 !important;
    border-radius : 3px;
}
/* Popup container */

.popup {
position: relative;
display: inline-block;
cursor: pointer;
font-size: 14px;

}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    background-color: #cfe6f6; 
    border: 0.5px solid #6496b6;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;  
    width: 25vw;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 15px;
border-style: solid;
border-color: #cfe6f6 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
animation: hideAnimation 0s ease-in 5s;
/* -webkit-animation: fadeIn 1s;
animation: fadeIn .7s ease-in-out; */
}

.popup .hide {
    /* visibility: hidden; */
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  
    }
/* Add animation (fade in the popup) */
@keyframes anim {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      transition: .7s ease-in-out all;
    }
    100% {
      opacity: 1 !important;
    }
  }

  .hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
} 