<div nz-row class="header" *ngIf="!viewOnly">
    <!-- <button nz-button nzType="primary" class="btnlevel2navy" (click)="showAddModal()">Add</button> -->
   <div style="display:flex; flex-direction:row; ">
        <button class="btnlevel2navy" (click)="showAddModal()" >ADD</button>
        <button class="btnlevel2navy" (click)="showEditModal(activeRowIndex)" style="margin-left:-10px">EDIT</button>
       
        <button class="btnlevel2orange" nz-popconfirm
        nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="delete(activeRowIndex)" style="margin-left:-10px;">DEL</button>
        <button class="btnlevel2navy"                
        (click)=" generatePdf()" style="margin-left:-10px; ">Print</button>
        
    </div>
    <app-filter [tabs]="'OPNOTES'"  [(ngModel)]="filters" (ngModelChange)="filterChange($event)"></app-filter>
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="tableData" [nzScroll]="{y:'450px'}" [nzWidth]="'100vw'">
            <thead>
                <tr>
                    <th class="left"  style="width: 70%">Details</th>
                    <th class="left" style="width: 10%" >Detail Date</th>
                    <th class="left" style="width: 10%" >Creator </th>
                    <!-- <th class="left" style="width: 10%">Action</th> -->
                 
                </tr>
               
            </thead>
            <tbody>
               <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" (click)="onItemSelect(data,i)" (dblclick)="showEditModal(i)">    
                    <td class="left" style="width: 70%">
                        <div class="word-break">
                            {{ data.detail  }}
                        </div>
                    </td>
                    <td class="left" style="width: 10%">{{ data.detailDate | date: 'dd/MM/y' }}</td>
                    <td class="left" style="width: 10%">{{ data.creator || '-' | uppercase  }}</td>
                    <!-- <td class="left" style="width: 10%">
                        <a (click)="showEditModal(i)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                         <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this note?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></a> 
                    </td> -->
                </tr> 
              
                <!-- <ng-container *ngIf="isSome(tableData)">
                    <ng-container *ngFor="let titleData of tableData;">
                        <tr  *ngIf="!isArray(titleData)">
                            <td colspan="9">
                                <p [ngStyle]="{'margin': '0 0 0 '+titleData.counter + 'rem'}">{{ titleData.key }}</p>
                            </td>
                        </tr>
                        
                        <ng-container *ngIf="isArray(titleData)">
                            <tr style="background: #d9efff;" *ngFor="let data of titleData;let i = index;trackBy: trackByFn">
                                <td class="left">{{ data.detail | getTextFromHtml  }}</td>
                                <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                                <td>{{ data.creator || '-' | uppercase }}</td>
                                 <td>
                                    <a *ngIf="getPermisson(106) == '1'" (click)="showEditModal(i)">Update</a>
                                    
                                </td> 
                                
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf="!isSome(tableData)">
                    <tr *ngFor="let data of tableData;let i = index;trackBy: trackByFn">
                        <td class="left">
                            {{ data.detail | getTextFromHtml  }}
                        </td>
                        <td>{{ data.detailDate | date: 'dd/MM/y' }}</td>
                        <td>{{ data.creator || '-' | uppercase }}</td>
                         <td>
                            <a *ngIf="getPermisson(106) == '1'" (click)="showEditModal(i)">Update</a>
                        </td> 
                       
                    </tr>
                </ng-container> -->

            </tbody>
        </nz-table>
    </div>
</div>

<!--<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="addOrEdit == 1 ? 'Add OP Note' : 'Edit Case Note'" (nzOnCancel)="handleCancel()" nzWidth="800"-->
<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="(addOrEdit == 1 ? 'Add  Note' : 'Edit Note')  " (nzOnCancel)="handleCancel()" nzWidth="800"
    [nzStyle]="{ top: '20px' }">
    <div nz-row [formGroup]="caseFormGroup" nzGutter="16">
        <div nz-col nzSpan="7" [formGroup]="caseFormGroup">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Category</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="category" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of dlist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Program</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="program" [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of alist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Discipline</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="discipline" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of blist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label>Care Domain</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <nz-select nzAllowClear formControlName="careDomain" nzPlaceHolder=""
                            [nzDropdownMatchSelectWidth]="false">
                            <nz-option *ngFor="let list of clist" [nzValue]="list" [nzLabel]="list"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-col nzSpan="17">
            <div nz-row nzGutter="32" [formGroup]="caseFormGroup">
                <div nz-col nzSpan="12" class="form-group">
                    <label for="">Reminder Date</label>
                    <nz-date-picker formControlName="alarmDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="12" class="form-group">
                    <label formControlName="publishToApp" class="chk" nz-checkbox>Publish To Mobile App</label>
                </div>
            </div>
            <div nz-row>
                <div class="form-group" [formGroup]="caseFormGroup">
                    <nz-radio-group formControlName="restrictionsStr">
                        <label nz-radio nzValue="public">Public</label>
                        <label nz-radio nzValue="workgroup">Workgroup Only</label>
                        <label nz-radio nzValue="restrict">Restrict To</label>
                    </nz-radio-group>
                </div>
            </div>
            <div nz-row class="overflow-list" *ngIf="caseFormGroup.get('restrictionsStr').value == 'restrict'">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
                    <div nz-row *ngFor="let list of mlist; let i = index">
                        <div class="chkboxes" nz-col nzOffset="2" nzSpan="22"><label nz-checkbox
                                [nzValue]="list">{{ list }}</label></div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
            <div nz-row [formGroup]="caseFormGroup">
                <div nz-col nzSpan="24" >
                    <label for="">Notes</label>
                    <angular-editor  formControlName="notes" [config]="editorConfig"></angular-editor>
                    <!-- <textarea rows="4" nz-input formControlName="notes"></textarea> -->
                </div>
            </div>

            <!-- <div nz-row [formGroup]="caseFormGroup">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div> -->
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>
<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>                
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
        </div>
        
    </nz-drawer>
</div>

