   
        nz-switch.master-class ::ngdeep  button.ant-switch-checked{ background-color:red; }; 
       
        nz-table tbody tr.active  {  
            background-color:#48da24 !important;  
            color: white;  
          }   

          class.selected
          { 
            background-color:#B98F8F !important;  
            color: white; 
      
          }

          .ant-drawer-content {
            height: 100%;
            overflow-y: scroll;
            
          }
    