
ul{
    list-style:none;
}

nz-checkbox-group ::ngdeep  label {
    display: block;
    padding: 2px;
    font-size:0.75rem;
}
.checkbox-group{
    margin:8px;
}
.checkbox-group label{
    display: block;
}
.tbl{
    width:75vw; 
    height:10vh;    
    margin-top: 5px;
    overflow: auto;
    
}
td {
    padding: 5px;
    font-size: 0.75rem;
    font-family: 'Segoe UI';
    border: 0.5px solid #d0d4d573; 
}
 th{
    padding: 5px;
    border: 1px solid #9a9d9f73; 
    height: 30px;
    background-color: #e7e9ea73;
}
tr{
    border: 1px solid #bcbdbe73; 
    height: 30px;
}

tr:nth-child(odd) {
    background-color:#fff;
    color: black; 
}
  tr:nth-child(even) {
    background-color:#f0f8fd;
    color: black;  
    
 }  
p{
    margin: 0;
    cursor:pointer;
    padding:8px 5px;
}
.active-tab{
    background: #717e94;
    color: #fff;
}

.label{
    font-size: 1.05rem;
    font-family: 'Segoe UI';
    margin-top:10px;  
    background-color: #fff; 
    color: #000; 
    padding: 3px; 
    border: 0.5px solid #e5e5e5;
    border-radius: 3px;
    height: 30px;
    vertical-align: baseline;
}
nz-spin {
    display: inline-block;
    margin-right: 16px;
  }

  .header{
    display: flex; 
    flex-direction: row; 
    padding-top: 5px; 
    padding-left:10px;
    background-color: #fff /* #e5ecf1 #85B9D5*/; 
    color: black; 
    height:30px;
    border : 1px solid #e5e5e5;
    border-radius : 5px;
}

  nz-tabset  {
    margin-top:-10px;
     cursor: pointer;
    
   }



 nz-tabset ::ng-deep div > div.ant-tabs-nav-container {
    height: 25px !important;
    font-size: 13px !important;
}
 nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 24px;
    height: 25px;
    font-size: 13px !important;
     background-color: #fff !important;
    
}

 /* nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #fff;
    color: #1a1818;
}
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
  line-height: 24px;
  height: 25px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: rgb(48, 45, 45);
} */

.field2{
    display:flex;
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;   
    color: #7e7575;
    height:30px;
    width:50%;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-align: center;
    background-color: #fff;
   
}

.box{
    display:block;
    border: 2px solid #efefef;
    
  }