<nz-modal [(nzVisible)]="findModalOpen" [nzStyle]="{ top: '20px' }" nzWidth="1340" nzTitle="Change Service Profile" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
[nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div *ngIf="findModalOpen">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Quick Search" (nzClick)="tabFindChange(0)"> </nz-tab>
            <nz-tab nzTitle="Filters" (nzClick)="tabFindChange(1)"> </nz-tab>
            <nz-tab nzTitle="Extended Search" (nzClick)="tabFindChange(2)"></nz-tab>
        </nz-tabset>
        
        <div>
            <div *ngIf="tabFindIndex == 0"  nz-row nzGutter="32" [formGroup]="quicksearch">
                <div nz-col nzSpan="4">
                    <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="active">
                                <span><b>Active</b></span>
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="inactive">
                                <span><b>Inactive</b></span>
                            </label>
                        </div>
                    </div>
                    <div nz-row>      
                        <div nz-row  style="border: 1px solid #e8e8e8;">
                            <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                <label nz-checkbox
                                [(ngModel)]="allChecked"
                                (ngModelChange)="updateAllChecked()"
                                [nzIndeterminate]="indeterminate" [ngModelOptions]="{standalone: true}"><b>ALL Types</b></label>
                            </div>
                            <div nz-col>
                                <div class="staff-wrapper" style="padding:4px;">
                                    <div nz-row>
                                        <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'Surname'" [nzSize]="'small'">
                                <input nz-input [nzSize]="'small'" formControlName="surname" />
                            </nz-card>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'First Name'" [nzSize]="'small'">
                                <input nz-input [nzSize]="'small'" formControlName="firstname" />
                            </nz-card>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'Phone #'" [nzSize]="'small'">
                                <input nz-input [nzSize]="'small'" formControlName="phoneno" />
                            </nz-card>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'Suburb'" [nzSize]="'small'">
                                <input nz-input [nzSize]="'small'" formControlName="suburb" />
                            </nz-card>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'Date Of Birth'" [nzSize]="'small'">
                                <nz-date-picker  formControlName="dob"  [nzSize]="'small'" [nzFormat]="dateFormat"></nz-date-picker>
                            </nz-card>
                        </div>
                        <div nz-row>
                            <nz-card [nzBodyStyle]="{'padding':'1px'}" nzType="inner" [nzTitle]="'File #'" [nzSize]="'small'">
                                <input nz-input [nzSize]="'small'" formControlName="fileno" />
                            </nz-card>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="19">
                    <div nz-row>
                         <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">  <!--[(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" -->
                            <input type="text" nz-input  formControlName="searchText"    placeholder="Type SURNAME here and press enter" />
                        </nz-input-group>
                        
                        <ng-template #suffixButton>
                            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchData()">Search</button>
                        </ng-template>
                    </div>
                    <div nz-row>
                        <nz-table #fixedTable [nzLoading]="loading" [nzScroll]="{ x: '1900px', y: '440px' }" [nzData]="filteredResult" nzSize="small" nzBordered class="custum-header">
                            <thead>
                                <tr>
                                    <th  nzWidth="100px" nzLeft="0PX">Ur Number</th>
                                    <!-- <th  nzWidth="100px" nzLeft="100PX">Code</th> -->
                                    <th nzWidth="100px" nzLeft="100PX">Surname</th>
                                    <th nzWidth="200px">First Name</th>
                                    <th nzWidth="200px">Name</th>
                                    <th nzWidth="200px">D.O.B</th>
                                    <th nzWidth="200px">Address</th>
                                    <th nzWidth="200px">Type</th>
                                    <th nzWidth="200px">Alert</th>
                                    <th nzWidth="200px">Primary Code</th>
                                    <th nzWidth="100px">ONI Rating</th>
                                    <th nzWidth="150px" nzRight="0px">Activation Date</th>
                                    <!-- <th nzRight="0px">DeActivation Date</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of fixedTable.data" (click)="onItemSelected(result)" (dblclick)="onItemDbClick(result)">
                                    <td nzLeft="0PX">{{result.id}}</td>
                                    <!-- <td nzLeft="100PX">{{result.urNumber}}</td> -->
                                    <td nzLeft="100PX">{{result.surnameOrganisation}}</td>
                                    <td nzBreakWord>{{result.firstName}}</td>
                                    <td nzBreakWord>{{result.name}}</td>
                                    <td nzBreakWord>{{result.dob }}</td>
                                    <td nzBreakWord>{{result.address}}</td>
                                    <td nzBreakWord>{{result.type}}</td>
                                    <td nzBreakWord>{{result.alerts}}</td>
                                    <td nzBreakWord>{{result.primaryCoord}}</td>
                                    <td nzBreakWord>{{result.oniRating}}</td>
                                    <td nzRight="0px">{{result.activationDate }}</td>
                                    <!-- <td nzRight="0px">{{result.deActivationDate | date: 'dd/MM/y'}}</td> -->
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
            
            <div *ngIf="tabFindIndex == 1" nz-row nzGutter="16" [formGroup]="filters">
                <div nz-col nzSpan="4">
                    <label style="font-weight:bold; padding:5px;">Columns To Include</label>
                    <div style="border: 1px solid #e8e8e8; padding:4px;">
                        <label class="columns" nz-checkbox *ngFor="let list of columns" [ngModel]="list.checked"
                            [ngModelOptions]="{standalone: true}">{{ list.name }}</label>
                    </div>
                    <div style="border: 1px solid #e8e8e8; padding:4px; margin-top:5px;">
                        <label style="font-weight:bold; padding:5px;">Quicksearch Column</label>
                        <nz-select nzShowSearch  nzAllowClear [(ngModel)]="QuicksearchValue"   (ngModelChange)="ngModelQChange($event)" (nzOnSearch)="onSearch($event)"  [nzCustomContent]="true"  style="width:100%">
                            <nz-option *ngFor="let option of QuicksearchOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
                        </nz-select>
                        <label nz-checkbox style="font-weight:bold; padding:5px;" [(ngModel)]="QuicksearchType">Type Ahead on Quicksearch</label>
                    </div>
                </div>
                <div nz-col nzSpan="20">
                    <label style="font-weight:bold; padding:5px; border-bottom:1px solid #e5e5e5; font-size:16px">QUICK FILTERS</label>
                    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                        <nz-tab nzTitle="Branches" (nzClick)="filterChange(0)">
                            <div nz-row style="border: 1px solid #e8e8e8;">
                                <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                    <label nz-checkbox [(ngModel)]="allBranches"
                                        (ngModelChange)="updateAllCheckedFilters(1)"
                                        [nzIndeterminate]="allBranchIntermediate"
                                        [ngModelOptions]="{standalone: true}"><b>ALL Branches</b></label>
                                </div>
                                <div nz-col>
                                    <div class="staff-wrapper"
                                        style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                                        <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}"
                                            (nzOnChange)="log($event,1)">
                                            <div nz-row>
                                                <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                                                    <label nz-checkbox [nzValue]="branch.description"
                                                        [(ngModel)]="branch.checked"
                                                        (ngModelChange)="updateSingleCheckedFilters(1)"
                                                        [ngModelOptions]="{standalone: true}">{{ branch.description
                                                        }}</label>
                                                </div>
                                            </div>
                                        </nz-checkbox-wrapper>
                                    </div>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Programs" (nzClick)="filterChange(1)">
                            <div nz-row style="border: 1px solid #e8e8e8;">
                                <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                    <label nz-checkbox [(ngModel)]="allProgarms"
                                        (ngModelChange)="updateAllCheckedFilters(2)"
                                        [nzIndeterminate]="allprogramIntermediate"
                                        [ngModelOptions]="{standalone: true}"><b>ALL Programs</b></label>

                                    <label nz-checkbox formControlName="activeprogramsonly"><b>Search Recipient With
                                            Active Programs Only</b></label>
                                </div>
                                <div nz-col>
                                    <div class="staff-wrapper"
                                        style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                                        <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}"
                                            (nzOnChange)="log($event,2)">
                                            <div nz-row>
                                                <div nz-col nzSpan="24" *ngFor="let prog of programsList">
                                                    <label nz-checkbox [nzValue]="prog.name"
                                                        [(ngModel)]="prog.checked"
                                                        (ngModelChange)="updateSingleCheckedFilters(2)"
                                                        [ngModelOptions]="{standalone: true}">{{ prog.name
                                                        }}</label>
                                                </div>
                                            </div>
                                        </nz-checkbox-wrapper>
                                    </div>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Case Coordinators" (nzClick)="filterChange(2)">
                            <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                <label nz-checkbox [(ngModel)]="allCordinatore"
                                    (ngModelChange)="updateAllCheckedFilters(3)"
                                    [nzIndeterminate]="allCordinatorIntermediate"
                                    [ngModelOptions]="{standalone: true}"><b>ALL Case Coordinators</b></label>
                            </div>
                            <div nz-col>
                                <div class="staff-wrapper"
                                    style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}"
                                        (nzOnChange)="log($event,3)">
                                        <div nz-row>
                                            <div nz-col nzSpan="24" *ngFor="let manager of casemanagers">
                                                <label nz-checkbox [nzValue]="manager.accountNo"
                                                    [(ngModel)]="manager.checked"
                                                    (ngModelChange)="updateSingleCheckedFilters(3)"
                                                    [ngModelOptions]="{standalone: true}">{{ manager.accountNo
                                                    }}</label>
                                            </div>
                                        </div>
                                    </nz-checkbox-wrapper>
                                </div>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="Categories" (nzClick)="filterChange(3)">
                            <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                                <label nz-checkbox [(ngModel)]="allcat" (ngModelChange)="updateAllCheckedFilters(4)"
                                    [nzIndeterminate]="allCatIntermediate"
                                    [ngModelOptions]="{standalone: true}"><b>ALL Categories</b></label>
                            </div>
                            <div nz-col>
                                <div class="staff-wrapper"
                                    style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}"
                                        (nzOnChange)="log($event,4)">
                                        <div nz-row>
                                            <div nz-col nzSpan="24" *ngFor="let manager of categoriesList">
                                                <label nz-checkbox [nzValue]="manager.description"
                                                    [(ngModel)]="manager.checked"
                                                    (ngModelChange)="updateSingleCheckedFilters(4)"
                                                    [ngModelOptions]="{standalone: true}">{{ manager.description
                                                    }}</label>
                                            </div>
                                        </div>
                                    </nz-checkbox-wrapper>
                                </div>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </div>

            <div nz-row *ngIf="tabFindIndex == 2" nzGutter="16" [formGroup]="extendedSearch">

                <div nz-col nzSpan="6" class="tree-overflow">
                    <nz-tree [nzData]="nodelist" nzShowLine (nzClick)="nzEvent($event)"> </nz-tree>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="16">
                    <div nz-row style="margin-top:10px"></div>
                    <div nz-row >
                        <div nz-col nzSpan="10" class="form-group">
                            <input nz-input placeholder="" formControlName="title" />
                        </div>
                    </div>
                    <div nz-row >
                        <div nz-col nzSpan="10" class="form-group">
                            <ng-select formControlName="rule" [items]="sampleList" [virtualScroll]="true"
                                [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                            </ng-select>
                        </div>
                    </div>
               
                    <div nz-row >
                        <div *ngIf="this.extendedSearch.get('rule').value == 'EQUALS' || this.extendedSearch.get('rule').value == 'LESS THAN' || this.extendedSearch.get('rule').value == 'GREATER THAN' ||  this.extendedSearch.get('rule').value == 'NOT EQUAL TO' || this.extendedSearch.get('rule').value == 'BETWEEN' "
                            nz-col class="gutter-row" nzSpan="10" >
                            <input nz-input formControlName="from" />
                        </div>
                        <div *ngIf="this.extendedSearch.get('rule').value == 'BETWEEN'" nz-col
                            class="gutter-row text-center" nzSpan="2"  style="text-align:center;">
                            <label>AND</label>
                        </div>
                        <div *ngIf="this.extendedSearch.get('rule').value == 'BETWEEN'" nz-col class="gutter-row"
                            nzSpan="10">
                            <input nz-input formControlName="to" />
                        </div>
                    </div>
                    <div nz-row>
                        <div class="form-group">
                            <label class="columns" nz-checkbox formControlName="activeonly">Active</label>
                        </div>
                        <div class="form-group">
                            <button nz-button nzType="primary" (click)="setCriteria()">Apply</button>
                        </div>
                    </div>
                    <div nz-row>
                        <nz-table #smallTable nzSize="small" nzBordered class="custum-header">
                            <thead>
                                <tr>
                                    <th class="coulmn-color">Field/Item</th>
                                    <th class="coulmn-color">Search Type</th>
                                    <th class="coulmn-color">Text To Locate Search</th>
                                    <th class="coulmn-color">End Text For Between Search</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let criteria of cariteriaList; let i=index">
                                    <td>{{criteria.fieldName}}</td>
                                    <td>{{criteria.searchType}}</td>
                                    <td>{{criteria.textToLoc}}</td>
                                    <td>{{criteria.endText}}</td>
                                    <td><span nz-icon nzType="delete" nzTheme="outline"
                                            (click)="delCriteria(i)"></span></td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
    </div>
</div>
<div *nzModalFooter>
    <div style="float:left; height:50px">
        <button nz-button nzType="primary" (click)="printSearchList()" class="btnlevel2blue">Print</button>
        <button nz-button nzType="primary" (click)="searchData()" class="btnlevel2blue">Refresh</button>        
    </div>         
    <button nz-button nzType="primary" (click)="findModalOpen=false"  class="btnlevel2blue">Cancel</button>
    <button nz-button nzType="primary" (click)="AllocateRecipient(selectedRecipient)"  class="btnlevel2blue">Select</button>
</div>
</nz-modal>