<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'80vw'" [nzStyle]="{ top: '10px', left: '80px' }" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">


    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" class="title">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="9" class="title">
                <label> Recipient Details for {{AccountNo.data}} </label>
            </div>
            <div nz-col nzSpan="13"  >
                <label class="field2"> COORDINATOR : {{coordinator}} </label>
            </div>
        </div>
    </ng-template>

    <ng-template #modalContent>

        <div nz-row style="min-height:40rem;">
            <div nz-col nzSpan="22" style="text-align: center" *ngIf="Spiner_loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
            <div nz-col nzSpan="24" *ngIf="!Spiner_loading">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                    <nz-tab nzTitle="General" (nzClick)="view(0)"> </nz-tab>
                    <nz-tab nzTitle="Funding, Agreed Services, Careplan" (nzClick)="view(1)"> </nz-tab>
                    <nz-tab nzTitle="Case Notes" (nzClick)="view(2)"></nz-tab>
                    <nz-tab nzTitle="Operational Notes" (nzClick)="view(3)"> </nz-tab>
                    <nz-tab nzTitle="Support Workers" (nzClick)="view(4)"> </nz-tab>


                </nz-tabset>

 

                <div *ngIf="nzSelectedIndex==0">
                    <div style="display:flex; flex-direction:row; margin-top:10px ">
                        <div style="display:flex; flex-direction:column; width:40vw">
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstAddress"
                                [nzScroll]="{x:'20vw', y:'20vh'}">

                                <thead>
                                    <tr>
                                        <th colspan="3">Address Details </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstAddress;let i = index;"
                                        >

                                        <td [nzShowCheckbox]="true" [nzChecked]="data.primaryAddress=='1'"></td>
                                        <!-- <td><input type="checkbox" [checked]="data.primaryAddress=='1'"/></td> -->
                                        <td>
                                            {{data.type}}
                                        </td>
                                        <td>
                                            {{data.address}}
                                        </td>
                                    </tr>
                                </tbody>

                            </nz-table>
                            <nz-table ##basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                style="margin-top: 10px;" [nzFrontPagination]="false" [nzLoading]="loading"
                                [nzData]="lstphones" [nzScroll]="{x:'20vw', y:'20vh'}">

                                <thead>
                                    <tr >
                                        <th colspan="2">Phone & Contacts Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstphones;let i = index;"
                                        >


                                        <td [nzShowCheckbox]="true" [nzChecked]="data.primaryPhone=='True'"></td>
                                        <!-- <td><input type="checkbox" [checked]="data.primaryPhone=='True'"/></td> -->
                                        <td>
                                            {{data.type}}
                                        </td>
                                        <td>
                                            {{data.detail}}
                                        </td>
                                    </tr>
                                </tbody>

                            </nz-table>


                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                style="margin-top: 10px;" [nzFrontPagination]="false" [nzLoading]="loading"
                                [nzData]="lstNextOfKins" [nzScroll]="{ y:'20vh'}">
                                <thead>
                                    <tr>
                                        <th colspan="4">Next of Kin & Other Contacts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstNextOfKins;let i = index;"
                                        >

                                        <td>
                                            {{data.contact_Type}}
                                        </td>
                                        <td>
                                            {{data.contact_name}}
                                        </td>

                                        <td>
                                            {{data.phones}}
                                        </td>
                                        <td>
                                            {{data.addressDetails}}
                                        </td>
                                    </tr>
                            </nz-table>

                            <div style="margin-top: 10px;">

                                <div class="header">
                                    <div style="margin-right: 10px"> <i nz-icon nzType="alert" nzTheme="outline"></i>
                                    </div>
                                    Roster Alert
                                </div>


                                <div>
                                    <textarea style="background-color: white; color: black " [(ngModel)]="Notes"
                                        [disabled]="!editNote" rows="5" nz-input></textarea>
                                </div>

                            </div>
                        </div>
                        <div
                            style="display:flex; flex-direction:column; width:35vw; margin-left:10px; border-left: 1px solid #d0d4d5; padding-left:10px">

                            <div class="header">
                                <div style="margin-right: 10px"> <i nz-icon nzType="message" nzTheme="outline"></i>
                                </div>
                                Contact Issues
                            </div>

                            <div>
                                <textarea style="background-color: white; color: black ; " [(ngModel)]="ContactIssues"
                                    [disabled]="!editNote" rows="5" nz-input></textarea>
                            </div>


                            <div style="margin-top: 10px;">

                                <div class="header">
                                    <div style="margin-right: 10px"> <i nz-icon nzType="alert" nzTheme="outline"></i>
                                    </div>
                                    Runsheet Alerts
                                </div>
                                <div>
                                    <textarea style="background-color: white; color: black "
                                        [(ngModel)]="SpecialConsiderations" [disabled]="!editNote" rows="5"
                                        nz-input></textarea>
                                </div>

                            </div>

                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                style="margin-top: 10px;" [nzFrontPagination]="false" [nzLoading]="loading"
                                [nzData]="lstTasks" [nzScroll]="{ y: '30vh' }">
                                <thead>
                                    <tr>
                                        <th> <i nz-icon nzType="file-text" nzTheme="outline"> </i> Service Task List
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstTasks;let i = index;"
                                        >

                                        <td>
                                            {{data.service_Type}}
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>

                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="nzSelectedIndex==1" style="display:flex; flex-direction:column; margin-top:10px ">



                    <div nz-col nzSpan="24" style="display:flex; flex-direction:column; width:75vw; height: 20vh; ;">
                        <label class="label">Approved Programs</label>
                        <nz-table #basicTable [nzSize]="'small'" [nzLoading]="loading" [nzShowPagination]="false"
                            [nzData]="lstApprovedProgram" [nzScroll]="{x:'75vw', y:'250px' }" [nzBordered]="true">
                            <!--  style="width: 75vw; height: 30vh; overflow-y: scroll" [nzScroll]="{x:'75vw', y:'30vh' }"-->
                            <thead>
                                <tr>

                                    <th width="15%">Funding Source</th>
                                    <th width="15%">Program</th>
                                    <th width="07%">Status</th>
                                    <th width="13%">CoOrdinator</th>
                                    <th width="50%">Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of lstApprovedProgram;let i = index;"
                                    >

                                    <td width="15%">
                                        {{data.funding_Source}}
                                    </td>
                                    <td width="15%">
                                        {{data.program}}
                                    </td>
                                    <td width="7%">
                                        {{data.status}}
                                    </td>
                                    <td width="13%">
                                        {{data.coOrdinator}}
                                    </td>
                                    <td>
                                        {{data.details}}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <div nz-col nzSpan="24" style="display:flex; flex-direction:column; width: 75vw; height: 20vh; margin-top:10px  ">
                        <label class="label">Approved Services</label>

                        <nz-table #basicTable [nzSize]="'small'" [nzLoading]="loading" [nzShowPagination]="false"
                            [nzData]="lstApprovedServices" [nzScroll]="{x:'75vw', y:'250px' }" [nzBordered]="true">
                            <thead>
                                <tr>

                                    <th width="15%">Activity </th>
                                    <th width="15%">Funded Under </th>
                                    <th>Service Profile </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of lstApprovedServices;let i = index;"
                                    >

                                    <td width="15%">
                                        {{data.activity}}
                                    </td>
                                    <td width="15%">
                                        {{data.funded_Under}}
                                    </td>
                                    <td width="70%">
                                        {{data.service_Profile}}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                    <div nz-col nzSpan="24" style="display:flex; flex-direction:column; width: 75vw; height: 18vh; margin-top: 10px;">
                        <label class="label"> Current Carer plans</label>
                        <nz-table #basicTable [nzSize]="'small'" [nzLoading]="loading" [nzShowPagination]="false"
                            [nzData]="lstCarerPlans" [nzScroll]="{x:'1200px', y:'250px' }" [nzBordered]="true">

                            <thead>
                                <tr>
                                    <th>Paln No.</th>
                                    <th>Paln Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Co PayAmount</th>
                                    <th>Created By</th>
                                    <th>Detail</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of lstCarerPlans;let i = index;"
                                    >

                                    <ng-container>
                                        <td>{{data.planNumber}}</td>
                                        <td>{{data.planName}}</td>
                                        <td>{{data.planStartDate }}</td>
                                        <td>{{data.planEndDate }}</td>
                                        <td>{{data.planCoPayAmount}}</td>
                                        <td>{{data.planCreator}}</td>
                                        <td>{{data.planDetail}}</td>
                                        <td><a (click)="showEditModal(i)">Edit</a></td>
                                    </ng-container>

                                </tr>
                            </tbody>

                        </nz-table>
                    </div>

                </div>

                <div *ngIf="nzSelectedIndex==2" style="display:flex; flex-direction:column; margin-top:10px">
                    <div nz-col nzSpan="24">
                        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
                            [nzData]="lstCaseNotes" [nzScroll]="{y:'40rem'}" [nzWidth]="'100vw'">
                            <!-- <thead>
                                <tr>
                                    <th class="left"  style="width: 70%">Details</th>
                                    <th class="left" style="width: 10%" >Detail Date</th>
                                    <th class="left" style="width: 10%" >Creator </th>
                                    <th class="left" style="width: 10%">Action</th>
                                 
                                </tr>
                               
                            </thead> -->
                            <tbody>
                               <tr *ngFor="let data of basicTable.data;let i = index;">
                                   
                                    <td class="left" style="width: 10%">
                                        <div class="box">
                                           
                                            <div>{{ data.detailDate | date: 'dd/MM/y' }}</div>
                                            <div>{{ data.detailDate | date: 'hh:mm a' }}</div>
                                          
                                        </div>
                                        <div>
                                          <div>
                                            Created By : 
                                          </div>
                                            <div style="color:red">{{ data.creator || '-' | uppercase  }}</div>
                                        </div>
                                    </td>
                                    <td class="left" style="width: 90%">
                                        <div class="word-break">
                                            {{ data.detail  }}
                                        </div>
                                    </td>
                                    <!-- <td class="left" style="width: 10%">
                                        <a (click)="showEditModal(i)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                                         <nz-divider nzType="vertical"></nz-divider>
                                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this note?" nzPopconfirmPlacement="bottom"
                                            (nzOnConfirm)="delete(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></a> 
                                    </td> -->
                                </tr> 
                              
                            
                            </tbody>
                        </nz-table>
                    </div>
                   
                </div>
                <div nz-row *ngIf="nzSelectedIndex==3" style="display:flex; flex-direction:column; margin-top:10px">
                    
                        <label>Operational Notes</label>
                       
                        <div nz-col nzSpan="24">
                            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
                                [nzData]="lstOpNotes" [nzScroll]="{y:'40rem'}" [nzWidth]="'100vw'">
                                <!-- <thead>
                                    <tr>
                                        <th class="left"  style="width: 70%">Details</th>
                                        <th class="left" style="width: 10%" >Detail Date</th>
                                        <th class="left" style="width: 10%" >Creator </th>
                                        <th class="left" style="width: 10%">Action</th>
                                     
                                    </tr>
                                   
                                </thead> -->
                                <tbody>
                                    <tr *ngFor="let data of basicTable.data;let i = index;">
                                   
                                        <td class="left" style="width: 10%">
                                            <div class="box">
                                                <div>{{ data.detailDate | date: 'dd/MM/y' }}</div>
                                                <div>{{ data.detailDate | date: 'hh:mm a' }}</div>
                                              
                                            </div>
                                            <div>
                                              <div>
                                                Created By : 
                                              </div>
                                                <div style="color:red">{{ data.creator || '-' | uppercase  }}</div>
                                            </div>
                                        </td>
                                        <td class="left" style="width: 90%">
                                            <div class="word-break">
                                                {{ data.detail  }}
                                            </div>
                                        </td>
                                        <!-- <td class="left" style="width: 10%">
                                            <a (click)="showEditModal(i)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                                             <nz-divider nzType="vertical"></nz-divider>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this note?" nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="delete(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></a> 
                                        </td> -->
                                    </tr> 
                                  
                                
                                </tbody>
                            </nz-table>
                        </div>
                       

                </div>
                <div nz-row *ngIf="nzSelectedIndex==4" style="display:flex; flex-direction:column; margin-top:10px">
                    <div style="display:flex; flex-direction:row; width:75vw; ">
                        <div style="display:flex; flex-direction:column; width:55vw; ">

                            <label class="label">Permanently Rostered Staff</label>

                            <nz-table #basicTable [nzSize]="'small'" [nzLoading]="loading" [nzShowPagination]="false"
                                [nzData]="rosters_display" [nzScroll]="{x:'1200px', y:'250px' }"
                                [nzBordered]="true">
                                <!-- <thead>
                                    <tr>
                                        <th nzWidth="8%">Start Time</th>
                                        <th nzWidth="8%">Duration</th>
                                        <th nzWidth="20%">Activity</th>
                                        <th nzWidth="10%">Staff</th>
                                        <th nzWidth="10%">Analysis</th>
                                        <th nzWidth="20%">Program</th>
                                        <th nzWidth="14%">Dataset Type</th>
                                        <th nzWidth="10%">Service Cost</th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <ng-container *ngFor="let titleData of basicTable.data; let indx=index">
                                        <tr style="background: #fff; font-weight:bold" *ngIf="!isArray(titleData)">           
                          
                                          <td colspan="10" >  
                                            <div style="display:flex; flex-direction:row">
                                                <div>
                                                    <i *ngIf="titleData.display" nz-icon nzType="minus-square"
                                                        nzTheme="outline" (click)="toggleTable(indx)"></i>
                                                    <i *ngIf="!titleData.display" nz-icon nzType="plus-square"
                                                        nzTheme="outline" (click)="toggleTable(indx)"></i> 
                                                    </div>
                                                    <div style="margin-left:5px">{{ (titleData.key) }}</div>
                                                    <div style="margin-left:5px">{{ titleData.cycle}}</div>
                                              </div>
                                            </td>
                          
                                        </tr>
                                    
                                        <ng-container *ngIf="isArray(titleData) && rosters_display[indx-1].display" style="margin:5px;">
                                        
                                          <tr *ngFor="let data of titleData; let i = index; trackBy: trackByFn"  >
                                          
                                    <!-- <tr *ngFor="let data of lstPermanentRosters;let i = index;"> -->
                                        
                                        <td style="border:none; background-color:#fff"></td>
                                        <td>
                                            {{data.start_Time}}
                                        </td>
                                        <td>
                                            {{data.duration}}
                                        </td>
                                        <td>
                                            {{data.activity}}
                                        </td>
                                        <td>
                                            {{data.staff}}
                                        </td>
                                        <td>
                                            {{data.analysis}}
                                        </td>
                                        <td>
                                            {{data.program}}
                                        </td>
                                        <td>
                                            {{data.dataset_Type}}
                                        </td>
                                        <td>
                                            {{data.service_Cost}}
                                        </td>
                                    </tr>
                                </ng-container>
                                </ng-container>
                                </tbody>
                            </nz-table>

                            <div
                                style="padding:10px;  margin-top: 10px;  margin-bottom: 10px;  font-size: 16px;  display: flex; justify-content: left;">
                                <label >Currently Rostered Staff Starting
                                    From</label>
                                <!-- <nz-date-picker [nzFormat]="dateFormat" formControlName="date1"></nz-date-picker> -->
                                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date1"></nz-date-picker>
                                <label style="padding-left: 5px; padding-right: 5px;  width:30px">To</label>
                                <!-- <nz-date-picker [nzFormat]="dateFormat" formControlName="date2"></nz-date-picker> -->
                                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date2"></nz-date-picker>

                                <button type="button" (click)="load_roster()"><i nz-icon nzType="sync"
                                        nzTheme="outline"></i></button>
                            </div>
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstCurrentRosters"
                                [nzScroll]="{x:'1300px', y:'250px' }" [nzBordered]="true">
                                <!-- <thead>
                                    <tr>
                                        <th nzWidth="8%">Date
                                        </th>
                                        <th nzWidth="8%">Start
                                            Time</th>
                                        <th nzWidth="8%">Duration
                                        </th>
                                        <th nzWidth="15%">Activity
                                        </th>
                                        <th nzWidth="10%">Staff
                                        </th>
                                        <th nzWidth="10%">Analysis
                                        </th>
                                        <th nzWidth="15%">Program
                                        </th>
                                        <th nzWidth="15%">Dataset
                                            Type</th>
                                        <th nzWidth="12%">Service
                                            Cost</th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr *ngFor="let data of lstCurrentRosters;let i = index;"
                                        >

                                        <td>
                                            {{data.date }}
                                        </td>
                                        <td>
                                            {{data.start_Time}}
                                        </td>
                                        <td>
                                            {{data.duration}}
                                        </td>
                                        <td>
                                            {{data.activity}}
                                        </td>
                                        <td>
                                            {{data.staff}}
                                        </td>
                                        <td>
                                            {{data.analysis}}
                                        </td>
                                        <td>
                                            {{data.program}}
                                        </td>
                                        <td>
                                            {{data.dataset_Type}}
                                        </td>
                                        <td>
                                            {{data.service_Cost}}
                                        </td>

                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div
                            style="display:flex; flex-direction:column; width:20vw; border-left: 0.5px solid #d2d3d5; border-radius:5px; margin-left:10px; padding:10px; ">
                            <div>
                                <label class="label">Excluded Staff</label>
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                    [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstExcludedStaff"
                                    [nzScroll]="{x:'40vw', y:'250px' }" [nzBordered]="true">
                                    <thead>
                                        <tr>
                                            <th nzWidth="20%">Name </th>
                                            <th nzWidth="10%">Creator</th>
                                            <th nzWidth="15%">Date Created
                                            </th>
                                            <th nzWidth="55%">Notes
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of lstExcludedStaff;let i = index;"
                                            >

                                            <td>
                                                {{data.name }}
                                            </td>
                                            <td>
                                                {{data.creator}}
                                            </td>
                                            <td>
                                                {{data.datecreated | date:'dd/MM/YYYY' }} 
                                            </td>
                                            <td>
                                                {{data.notes}}
                                            </td>


                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                            <div>
                                <label class="label">Approved Staff</label>
                                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                    [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstApprovedStaff"
                                    [nzScroll]="{x:'40vw', y:'250px' }" [nzBordered]="true">
                                    <thead>
                                        <tr>
                                            <th nzWidth="20%">Name </th>
                                            <th nzWidth="10%">Creator</th>
                                            <th nzWidth="15%">Date Created
                                            </th>
                                            <th nzWidth="55%">Notes
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of lstApprovedStaff;let i = index;"
                                            >

                                            <td>
                                                {{data.name }}
                                            </td>
                                            <td>
                                                {{data.creator}}
                                            </td>
                                            <td>
                                                {{data.datecreated | date:'dd/MM/YYYY' }} 
                                            </td>
                                            <td>
                                                {{data.notes}}
                                            </td>


                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Tab Div-->
        </div> <!--Modal Div-->
    </ng-template>

    <ng-template #modalFooter>

        <button nz-button nzType="primary" (click)="doneUpdate()" *ngIf="editNote && nzSelectedIndex==0">
            <span>Save Notes</span>
        </button>
        <button nz-button nzType="primary" (click)="editNotes()" *ngIf="!editNote && nzSelectedIndex==0">
            <span>Edit Notes</span>
        </button>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>



    </ng-template>
</nz-modal>



<nz-modal [(nzVisible)]="isCarerPlanVisible" nzTitle="Care Plan" (nzOnCancel)="isCarerPlanVisible=false"
    (nzOnOk)="updatePlan()">
    <ng-container>


        <label
            style="padding:10px;  background-color: #002060; color: #ffffff; margin-right: 10px; font-size: 16px;">Care
            Plan Detail</label>

        <tr>
            <td>Plan Number : </td>
            <td>
                <input nz-input placeholder="Plan Number" [(ngModel)]="planNumber" />
            </td>
        </tr>
        <tr>
            <td>Plan Name : </td>
            <td>
                <input nz-input placeholder="plan Name" [(ngModel)]="planName" />
            </td>
        </tr>
        <tr>
            <td>Plan Start Date : </td>
            <td>
                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="planStartDate"></nz-date-picker>

            </td>
        </tr>
        <tr>
            <td>Plan End Date : </td>
            <td>
                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="planEndDate"></nz-date-picker>


            </td>
        </tr>
        <tr>
            <td>Plan CoPay Amount : </td>
            <td>
                <input nz-input placeholder="Pay Amount" [(ngModel)]="planCoPayAmount" />
            </td>
        </tr>
        <tr>
            <td>Details : </td>
            <td>
                <textarea rows="4" cols="4" nz-input [(ngModel)]="planDetail">
                    </textarea>
            </td>
        </tr>



    </ng-container>

</nz-modal>