<div nz-layout>

    <div  >

        <div id="block0" style="display: block; width: 75vw; margin: auto;  ">
        <div class="tab-title">
            <label class="fade-in-text"> Roster Processes </label>
        </div>
        </div>
        <div class="main-box">
            <div >
                <div nz-row nz-col style="margin-top: 3px;">

                    <div class="text-center header-powder-blue">
                        ROSTER TASKS
                    </div>
                    <div class="div-margin">
                        <button   class="button" (click)="view(0)">
                            MANUAL ROSTER PUBLISHIG
                        </button>
                    </div>


                </div>
                <div id="block1" style="margin-top: 22px;">

                    <div class="text-center header-powder-blue">
                        PRINTING/EMAILING
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(1)">
                            STAFF ROSTER
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(2)">
                            LOCATION ATTENDANCE LISTS
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(3)">
                            GROUP ACTIVITY ATTENDANCE LISTS
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(4)">
                            TRANSPORT RUNSHEET
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(5)">
                            MEAL RUNSHEET
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(6)">
                            SUPPLIER JOB SHEET/REQUEST
                        </button>
                    </div>

                </div>
            </div>
            <!-- <div id="sp2" style="width: 10vw;" ></div> -->
            <div id="block2">
                <div >
                    <div class="text-center header-dark-orange">
                        MAINTENANCE
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(7)">
                            ROLLBACK ROSTER BATCH
                        </button>
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(8)">
                            UPDATE ADDRESS GEO CODES
                        </button>

                    </div>
                </div>
                <div id="block3" style="margin-top: 22px;">

                    <div class="text-center header-powder-blue">
                        MANUAL FILE IMPORTS
                    </div>
                    <div class="div-margin">
                        <button   class="button"  (click)="view(9)">
                            ROSTER
                        </button>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false"  [nzWidth]="'60vw'" [(nzVisible)]="show_views" nzTitle="{{mainTitle}}"
    (nzOnCancel)="show_views = false">


    <div class="flexy" style="display: flex;  height: 80vh; align-content:center; justify-content:center ">
       
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]="2">
                <nz-tab nzTitle="{{tabTitle}}">
                    <div class="tab">
                        <section>
                            <div style="display: inline-block; position: relative; margin-top: 5px; ">
                                <label style="font-size: 16px;"> {{ index==0 ? 'Period to Create' : 'Dates: '}} </label>
                            </div>

                            <div class="box">
                                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date1"></nz-date-picker>
                            </div>
                            <div style="display: inline-block; position: relative; margin: 7px; "> <label for="">To</label> </div>
                            <div class="box">
                                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="date2"></nz-date-picker>
                            </div>
                            <div  style="margin-top: 6px;" *ngIf="index >= 1 && index <= 6">
                                <div class="box">
                                    <nz-time-picker  [(ngModel)]="startTime" [nzDefaultOpenValue]="defaultOpenValue" nzFormat="HH:mm"></nz-time-picker>
                                </div>
                                <div style="display: inline-block; position: relative; margin: 5px; padding: 2px;">
                                    <label >  to </label>
                                </div>
                                <div class="box">
                                    <nz-time-picker [(ngModel)]="endTime" [nzDefaultOpenValue]="defaultOpenValue" nzFormat="HH:mm"></nz-time-picker>
                                </div>
                            </div>
                        </section>
                        <section *ngIf="index==0">
                            <div style="display: flex; flex-direction: column; text-align: right;">
                                
                                    <label nz-checkbox class="checkbox" [(ngModel)]="autoLeave"
                                    style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                        (ngModelChange)="processLeave(0)" nzValue="c1">Auto leave option from original
                                        application</label>
                                
                                    <label nz-checkbox class="checkbox" [(ngModel)]="processUnAppLeave"
                                    style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                        (ngModelChange)="processLeave(1)" nzValue="c2">Process Unapproved Leave</label>
                               
                                    <label nz-checkbox class="checkbox" [(ngModel)]="delAdmin"
                                    style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                        (ngModelChange)="processLeave(2)" nzValue="c2">Delet Admin and Travel for expired
                                        competencies</label>
                               
                            </div>
                        </section>
                       
                        <section *ngIf="index==0">
                            <div style="display: block; border: 1px solid #d1d1d1; height: 30vh; width: 55vw"></div>
                        </section>
                        <section *ngIf="index >= 1 && index <= 6">
                            <div style="display: block; padding: 3px;  width:40vh; margin: auto;">
                                <nz-select [(ngModel)]="printOption" >
                                    <nz-option *ngFor="let list of lstPrintOptions" [nzValue]="list" 
                                        [nzLabel]="list">{{list}}</nz-option>
                                        
                                </nz-select>
                            </div>
                        </section>
                        <section *ngIf="index == 1 || index == 6">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 45vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Staff: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; padding:5px; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllStaffSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Staff')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 7px; text-align: right;">
                                        <button   (click)="selectAll('Staff')"
                                            class="btn">{{areAllStaffSelected?'Un-Select All':'Select All'}}</button>
                                    </div>
                                    <div style=" display:flex; flex-direction: column; text-align: right; padding:3px;  ">
                                        <label nz-checkbox class="checkbox" style="display: flex; flex-direction: row-reverse; margin: 5px;" [(ngModel)]="IncludeInActiveSatff">Include inactive staff</label>
                                        <label nz-checkbox class="checkbox" style="display: flex; flex-direction: row-reverse; margin: 5px;" [(ngModel)]="IncludeSatffForEmail">Select All Staff Flagged for Email</label>
                                        <label nz-checkbox class="checkbox" style="display: flex; flex-direction: row-reverse; margin: 5px;" [(ngModel)]="IncludeSatffNotForEmail">Select All Staff not Flagged for Email</label>
                                      
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 45vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstStaff; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section *ngIf="index == 2">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 45vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Locations : </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllLocationSelected"
                                            (ngModelChange)="toggleAllSelection('Location')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Location')"
                                            class="btn">{{areAllLocationSelected?'Un-Select All':'Select All'}}</button>
                                    </div>
                                    <div style="display: block; padding: 12px; text-align: left;">
                                        <nz-select [(ngModel)]="displayCode" style="width: auto;">
                                            <nz-option *ngFor="let list of lstdisplayCode" [nzValue]="list"
                                                [nzLabel]="list">DISPLAY BY STAFF CODE</nz-option>

                                        </nz-select>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 45vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstLocations; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section *ngIf="index == 3 || index == 5">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 45vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Group : </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllGroupSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Group')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Group')"
                                            class="btn">{{areAllGroupSelected?'Un-Select All':'Select All'}}</button>
                                    </div>
                                    <div style="display: block; padding: 12px; text-align: left;">
                                        <nz-select [(ngModel)]="displayCode" style="width: auto;">
                                            <nz-option *ngFor="let list of lstdisplayCode" [nzValue]="list"
                                                [nzLabel]="list">DISPLAY BY STAFF CODE</nz-option>

                                        </nz-select>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width:27vw; height: 45vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstGroups; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section *ngIf="index == 4">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 45vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Vehicle : </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllGroupSelected"
                                            (ngModelChange)="toggleAllSelection('Vehicle')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Vehicle')"
                                            class="btn">{{areAllVehicleSelected?'Un-Select All':'Select All'}}</button>
                                    </div>
                                    <div style="display: block; padding: 12px; text-align: left;">
                                        <nz-select [(ngModel)]="displayCode" style="width: auto;">
                                            <nz-option *ngFor="let list of lstdisplayCode" [nzValue]="list"
                                                [nzLabel]="list">DISPLAY BY STAFF CODE</nz-option>

                                        </nz-select>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 45vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstVehicles; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </nz-tab>
               <nz-tab nzTitle="Selection-1">
                    <div class="tab">
                        <section *ngIf="index==0">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 20vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Cycles: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right;">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Interval')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 3px; text-align: right;">
                                        <button   (click)="selectAll('Interval')"
                                            class="btn">{{areAllSelected?'Un-Select All':'Select All'}}</button>
                                    </div>
                                    <div style="display: block; padding: 3px; margin: auto;">
                                        <nz-select [(ngModel)]="day" style="width: auto;">
                                            <nz-option *ngFor="let list of lstdays" [nzValue]="list"
                                                [nzLabel]="list">Day 1</nz-option>

                                        </nz-select>
                                        <div style="display: inline-block; padding: 3px;">
                                            <nz-label> Master to: </nz-label>
                                            <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="masterdate"
                                                style="width: auto; font-size: 13px;"></nz-date-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 20vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstInterval; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 20vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Branches: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right;">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllBranchSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Branch')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Branch')"
                                            class="btn">{{areAllBranchSelected?'Un-Select All':'Select All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 20vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstBranches; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>
                                    </div>
                                </div>

                            </div>
                        </section>
                       
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 20vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Programs: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right;">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllProgramSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Program')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Program')"
                                            class="btn">{{areAllProgramSelected?'Un-Select All':'Select All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 20vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstPrograms; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section *ngIf="index >= 1 && index <= 6">
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 20vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Categories: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right;">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllCategorySelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Category')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Category')"
                                            class="btn">{{areAllCategorySelected?'Un-Select All':'Select All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 20vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstCategories; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Selection-2" *ngIf="index==0">
                    <div class="tab">
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 30vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Recipient: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllRecipientSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Recipient')" >Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Recipient')"
                                            class="btn">{{areAllRecipientSelected?'Un-Select All':'Select
                                            All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 30vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstRecipients; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 30vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Staff: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllStaffSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Staff')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Staff')"
                                            class="btn">{{areAllStaffSelected?'Un-Select All':'Select All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 30vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstStaff; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Selection-2" *ngIf="index >= 1 && index <= 6">
                    <div class="tab">
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 30vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Coordinator/Case Manager: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllCoordinatorSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('Coordinator')" >Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('Coordinator')"
                                            class="btn">{{areAllCoordinatorSelected?'Un-Select All':'Select
                                            All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 30vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstCoordinators; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <section>
                            <div class="v-box">
                                <div style="padding: 2px; width: 27vw; height: 30vh;  overflow-y: auto;">
                                    <div style="display: inline-block; padding: 5px;  ">
                                        <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">
                                            Team: </nz-label>
                                    </div>

                                    <div style="position: relative;float: right; ">
                                        <label nz-checkbox class="checkbox" [(ngModel)]="areAllteamSelected"
                                        style="display: flex; flex-direction: row-reverse; margin: 5px;"
                                            (ngModelChange)="toggleAllSelection('StaffTeam')">Select All</label>

                                    </div>
                                    <div style="display: block; padding: 2px; text-align: right;">
                                        <button   (click)="selectAll('StaffTeam')"
                                            class="btn">{{areAllteamSelected?'Un-Select All':'Select All'}}</button>
                                    </div>

                                </div>
                            </div>
                            <div class="v-box">
                                <div style="padding: 5px; width: 27vw; height: 30vh;  overflow-y: auto; ">

                                    <div *ngFor="let item of lstTeams; let i = index;">
                                        <label nz-checkbox class="checkbox"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Publishing History" *ngIf="index==0">
                    <div class="tab">
                        <section>
                             <div class="v-box">
                                <div style=" display: block; height: auto;   padding: 2px; position: relative; text-align: center;  ">
                                    <button   (click)="getHistory()" class="btn-circled" >
                                        <span nz-icon nzType="sync" nzTheme="outline" ></span>
                                    </button>  
                                </div>
                                <div style="margin-top: -15px;">
                                    <nz-table #fixedTable [nzShowPagination]="false" [nzSize]="'small'"
                                        [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstHistory"
                                        [nzLoadingDelay]="3000" [nzScroll]="{x:'54vw', y:'54vh'}" >

                                        <thead>
                                            <tr>
                                                <th nzWidth="5%" style="background-color: #dbdde1; color: balck;" class="left">#</th>
                                                <th nzWidth="15%" style="background-color: #dbdde1; color: balck;" class="left">Operator</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Date</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Branch</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Program</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Cycle</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Recipients</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Staff</th>                                               
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">Src Days</th>
                                                <th nzWidth="10%" style="background-color: #dbdde1; color: balck;" class="left">To Dates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of lstHistory;let i = index;"
                                                [style.background-color]="i == HighlightRow ? '#bbd7fa' : 'white'">

                                              
                                                <td class="left">
                                                    {{data.srNo}}
                                                </td>
                                                <td class="left">
                                                    {{data.operator}}
                                                </td>
                                                <td class="left">
                                                    {{data.date | date : 'dd/MM/yyyy'}}
                                                </td>
                                                <td class="left">
                                                    {{data.branch}}
                                                </td>
                                                <td class="left">
                                                    {{data.program}}
                                                </td>
                                                <td class="left">
                                                    {{data.cycle}}
                                                </td>
                                                <td class="left">
                                                    {{data.recipients}}
                                                </td>
                                                <td class="left">
                                                    {{data.staff}}
                                                </td>
                                                <td class="left">
                                                    {{data.sourceDays}}
                                                </td>
                                                <td class="left">
                                                    {{data.toDates}}
                                                </td>
                                            </tr>
                                        </tbody>

                                    </nz-table>
                                  
                                </div>

                            </div>
                        </section>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Layout" *ngIf="index >= 1 && index <= 6">
                    <div class="tab">
                        <section>
                             <div class="v-box" style="padding:5px; height:60vh; width:27vw; overflow-y: auto;">
                                <div style="display: flex; padding: 3px; width:25vw;  margin: auto;">
                                    <nz-lable style="width:22vh;">General Format:</nz-lable>
                                    <nz-select [(ngModel)]="generalFormat" >
                                        <nz-option *ngFor="let list of lstgeneralFormat" [nzValue]="list" 
                                            [nzLabel]="list">{{list}}</nz-option>
                                            
                                    </nz-select>
                                </div>
                                <div style="display: flex; padding: 3px; width:25vw;  margin: auto;">
                                    <nz-lable style="width:22vh;">Time Format:</nz-lable>
                                    <nz-select [(ngModel)]="timeFormat" >                                        
                                        <nz-option *ngFor="let list of lstTimeFormat" [nzValue]="list" 
                                            [nzLabel]="list">{{list}}</nz-option>
                                            
                                    </nz-select>
                                </div>
                                <div style="display: flex; padding: 3px;  width:25vw; margin: auto;">
                                    <nz-lable style="width:22vh;">Blank Shift Line:</nz-lable>
                                    <nz-select [(ngModel)]="blankShift" >
                                        <nz-option *ngFor="let list of lstBlankShift" [nzValue]="list" 
                                            [nzLabel]="list">{{list}}</nz-option>
                                            
                                    </nz-select>
                                </div>
                                <div style="display: flex; width:25vw; margin: auto; padding :5px">
                                   
                                        <nz-lable style="padding :5px">Font Size - Notes : </nz-lable>
                                        <nz-select [(ngModel)]="fontSizeNote" style="width:40px">
                                            <nz-option *ngFor="let list of lstFontSize" [nzValue]="list" 
                                                [nzLabel]="list">{{list}}</nz-option>
                                                
                                        </nz-select>
                                   
                                       <nz-lable style="padding :5px">Address:</nz-lable>
                                        <nz-select [(ngModel)]="fontSizeAddress" style="width:40px" >
                                            <nz-option *ngFor="let list of lstFontSize" [nzValue]="list" 
                                                [nzLabel]="list">{{list}}</nz-option>
                                                
                                        </nz-select>
                                    
                                </div>
                                <div style="display: flex; flex-direction: column; width:25vw; padding-left: 50px; padding :5px; ">
                                   
                                    <div >
                                        <nz-lable style="padding :5px">Line Spacing : </nz-lable>
                                        <nz-select [(ngModel)]="fontSizeNote" style="width:50px">
                                            <nz-option *ngFor="let t of [1.0, 1.25, 1.50, 1.75, 2.0,2.25, 2.50, 2.75,3.0]; let i = index;" [nzValue]="t" 
                                                [nzLabel]="t"></nz-option>
                                                
                                        </nz-select>
                                     </div>
                                    
                                     <div *ngFor="let item of OptionList; let i = index;" style="margin-left: 100px; margin-top: 5px; ">
                                        <label nz-checkbox class="checkbox" *ngIf="item.visible==true"
                                            [(ngModel)]="item.selected">{{item.name}}</label>

                                    </div>
                                
                            </div>
                            </div>
                            <div class="v-box" style="padding:10px;  height:60vh; width:27vw; overflow-y: auto;">
                                <div style="width:20vw; margin-left: 20px; ">                                  
                                    <nz-select [(ngModel)]="RecipientInfoOption" >
                                        <nz-option *ngFor="let list of lstRecipientInfoOption" [nzValue]="list" 
                                            [nzLabel]="list">{{list}}</nz-option>
                                            
                                    </nz-select>
                                </div>
                                <div *ngFor="let item of OptionList2; let i = index;" style="margin-left: 20px; margin-top: 5px; ">
                                    <label nz-checkbox class="checkbox" *ngIf="item.visible==true"
                                        [(ngModel)]="item.selected">{{item.name}}</label>

                                </div>

                            </div>
                           
                        </section>
                        <div style="display: flex; ">
                            <nz-label style=" margin-top: 10px; font-size: 16px; font-family: Segoe UI; font-weight: bold;">Message: </nz-label>
                          
                            <textarea nz-input placeholder="Message" [nzAutosize]="{ minRows: 1, maxRows: 15 }" style=" margin-top: 10px; font-size: 16px; font-family: Segoe UI; "></textarea>

                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Heading" *ngIf="index >= 1 && index <= 6">
                    <div class="tab">
                        <section>
                             <div style="display: block; width: 20vw; border-left: 1px #d1d1d1;">
                                <div>
                                    <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">Staff Timesheet : </nz-label>
                                 </div>
                                 <div style="padding-top: 10px;">
                                    <label nz-checkbox class="checkbox" [(ngModel)]="IncludeFareStaffTimeSheet">Include Fare/Bill Box</label>
                                 </div>
                             
                            </div>
                            <div style="display: flex; width: 30vw; ">
                                <div style="display: inline-block;">
                                    <div style="display: flex; padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 1 : </nz-label>
                                        <input type="text" nz-input placeholder="In" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 2 : </nz-label>
                                        <input type="text" nz-input placeholder="Out" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 3 : </nz-label>
                                        <input type="text" nz-input placeholder="Dur'n" style="width: 100px;"/>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-left: 5px;">
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 4 : </nz-label>
                                        <input type="text" nz-input placeholder="T/Time" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 5 : </nz-label>
                                        <input type="text" nz-input placeholder="Kms" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 6 : </nz-label>
                                        <input type="text" nz-input placeholder="Signature" style="width: 22vh;"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div style="display: block; width: 300px; border-left: 1px #d1d1d1;">
                                <div>
                                    <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">Transport Run Sheet : </nz-label>
                                </div>
                                <div style="padding-top: 10px;">
                                    <label nz-checkbox class="checkbox" [(ngModel)]="IncludeFareTransport">Include Fare/Bill Box</label>
                                </div>
                             </div>
                             <div style="display: flex; width: 27vw; ">
                                <div style="display: inline-block;">
                                    <div style="display: flex; padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 1 : </nz-label>
                                        <input type="text" nz-input placeholder="In" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 2 : </nz-label>
                                        <input type="text" nz-input placeholder="Out" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 3 : </nz-label>
                                        <input type="text" nz-input placeholder="Dur'n" style="width: 100px;"/>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-left: 5px;">
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 4 : </nz-label>
                                        <input type="text" nz-input placeholder="T/Time" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 5 : </nz-label>
                                        <input type="text" nz-input placeholder="Kms" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 6 : </nz-label>
                                        <input type="text" nz-input placeholder="Signature" style="width: 22vh;"/>
                                    </div>
                                </div>
                            </div>
                       </section>
                       <section>
                            <div style="display: block; width: 300px; border-left: 1px #d1d1d1;">
                                <div>
                                    <nz-label style="font-size: 16px; font-family: Segoe UI; font-weight: bold;">Groups && Facilities : </nz-label>
                                </div>
                                <div style="padding-top: 10px;">
                                    <label nz-checkbox class="checkbox" [(ngModel)]="IncludeFareGroups">Include Fare/Bill Box</label>
                                </div>                                
                             </div>
                             <div style="display: flex; width: 27vw; ">
                                <div style="display: inline-block;">
                                    <div style="display: flex; padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 1 : </nz-label>
                                        <input type="text" nz-input placeholder="In" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 2 : </nz-label>
                                        <input type="text" nz-input placeholder="Out" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 3 : </nz-label>
                                        <input type="text" nz-input placeholder="Dur'n" style="width: 100px;"/>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-left: 5px;">
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 4 : </nz-label>
                                        <input type="text" nz-input placeholder="T/Time" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 5 : </nz-label>
                                        <input type="text" nz-input placeholder="Kms" style="width: 100px;"/>
                                    </div>
                                    <div style="display: flex;  padding: 2px;">
                                        <nz-label style="width: 80px;" >Heading 6 : </nz-label>
                                        <input type="text" nz-input placeholder="Signature" style="width: 22vh;"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </nz-tab> 
            </nz-tabset>
       
    </div>

    <div *nzModalFooter>
        <button   (click)="Run_Process()" class="btn" *ngIf="index==0">Start</button>
        <button   (click)="Run_Process()" class="btn" *ngIf="index >= 1 && index <= 6">Preview</button>
        <button    class="btn" *ngIf="index >= 1 && index <= 6">Export</button>
        <button    class="btn" *ngIf="index >= 1 && index <= 6">Email</button>
        <button   (click)="generatePdf()" class="btn" *ngIf="index >= 1 && index <= 6">Print</button>
    </div>
</nz-modal>


<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="show_Importviews" nzTitle="Batch Roster Import"
    (nzOnCancel)="show_Importviews = false">
    <div class="flexy" style="display: flex;  height: 30em; ">
     
        <div style="display: block;">
            <div style="display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; " >
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>

                            </div>
                        </div>
                 </div>

                <div style="display: inline-block; width: 150px; padding: 5px;">
                    <nz-lable >File to Import : </nz-lable>
                </div>
                <div style="display: inline-block; padding: 5px;">
                  
                     <input type='file' (change)='convertFile(input)' id='fileInput' #input>
                       

                    <!-- <nz-upload
                         nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        [nzHeaders]="{ authorization: 'authorization-text' }"
                         (nzChange)="handleChange($event)"
                         >
                     <button  > <span nz-icon nzType="upload"></span> </button>
                </nz-upload>-->

                </div>
            </div>
            <div style=" padding-top: 10px; width: 700px; ">        
                <textarea nz-input placeholder="Error Message" [nzAutosize]="{ minRows: 15, maxRows: 80 }">{{JSONData}}</textarea>

            </div>

        </div>

      
    </div>
    <div *nzModalFooter>
        <button   (click)="Run_Process()" class="btn"  >Start</button>
        <button   (click)="Run_Process()" class="btn" >Preview</button>
        <button    class="btn" calss="button">Export</button>
        <button    class="btn" >Email</button>
        <button   (click)="print()" class="btn" >Print</button>
    </div>
</nz-modal>



<nz-modal [nzStyle]="{ top: '150px' }"  [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="450" [(nzVisible)]="show_RollbackRosterBatch" nzTitle="Rollback Roster-Copy Batch"
    (nzOnCancel)="show_RollbackRosterBatch = false">
    <div class="flexy" >
     
        <div style="display: flex; flex-direction:column;  height: 7rem; width:30vw ">
           
                <div style="display: inline-block;  padding: 5px; font-weight: bold;">
                    <nz-label >Select Batch Number From List </nz-label>
                </div>
               
                <div style="display: block; padding: 3px;  width:100%; margin: auto;">
                    <nz-select [(ngModel)]="batchSelected" >
                        <nz-option *ngFor="let list of lstBatches" [nzValue]="list" 
                            [nzLabel]="list.batch">{{list.batch}} </nz-option>
                            
                    </nz-select>
                </div>
        </div>

      
    </div>
    <div *nzModalFooter>
        <button   (click)="Run_Rollback()" class="btn"  >Rollback</button>
     
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>