<form [formGroup]="TransportForm" class="form-group">
    <div nz-row>  
        <div nz-col nzSpan="20"></div>
        <div nz-col nzSpan="2"> <nz-label style="margin-left: -5px;"> Zone </nz-label></div>
        <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="21">
            <div nz-row class="form-group">
                <div  nz-col nzSpan="3">
                    <nz-label style="padding: 2px;">Pickup From </nz-label>
                </div>
                <div nz-col nzSpan="19" style="padding-left: 12px;">

                    <nz-select formControlName="pickupFrom" [nzDropdownMatchSelectWidth]="false"
                        [nzDisabled]="!editRecord">
                        <nz-option *ngFor="let list of addressList" [nzValue]="list" [nzLabel]="list">
                        </nz-option>
                    </nz-select>
                </div>
                <!-- <div style="padding-left: 5px;" nz-col nzSpan="3">
                    <nz-label style="padding: 2px;" >Pickup Zone </nz-label >          
                </div> -->

                <div style="padding-left: 5px;" nz-col nzSpan="2">
                  
                    <input id="txtZipCode" nz-input formControlName="zipCodeFrom" [disabled]="!editRecord" />
                </div>

            </div>
            <div nz-row class="form-group">
                <div style="padding-left: 5px;" nz-col nzSpan="3">
                    <nz-label style="padding: 2px;">Take To </nz-label>
                </div>
                <div nz-col nzSpan="19" style="padding-left: 12px;">


                    <nz-select formControlName="pickupTo" [nzDropdownMatchSelectWidth]="false"
                        [nzDisabled]="!editRecord">
                        <nz-option *ngFor="let list of addressList" [nzValue]="list" [nzLabel]="list">
                        </nz-option>
                    </nz-select>
                </div>
                <!-- <div style="padding-left: 5px;" nz-col nzSpan="3">
                    <nz-label style="padding: 2px;" >Drop off Zone </nz-label >        
                </div> -->
                <div style="padding-left: 5px;" nz-col nzSpan="2">

                    <input id="txtZipCodeTo" nz-input formControlName="zipCodeTo" [disabled]="!editRecord" />
                </div>


            </div>
        </div>
        <div nz-col nzSpan="2">
            <button style="margin:2px; height:75px"  (click)="reverseAddress()">Reverse Address</button>

        </div>
    </div>
    <div nz-row class="form-group">
        <div nz-col nzSpan="3">
            <nz-label style="padding: 2px;">Apptmt Time </nz-label>
        </div>
        <div nz-col nzSpan="3">

            <nz-select formControlName="appmtTime" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!editRecord">
                <nz-option *ngFor="let list of timeList" [nzValue]="list" [nzLabel]="list">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="2">
            <nz-label class="lbl" style="padding: 6px;">Mobility </nz-label>
        </div>
        <div style="padding-left: 5px;" nz-col nzSpan="4">

            <nz-select formControlName="mobility" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!editRecord">
                <nz-option *ngFor="let list of mobilityList" [nzValue]="list" [nzLabel]="list">
                </nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="3">
            <nz-label class="lbl" style="padding: 6px;">Return Vehicle </nz-label>
        </div>
        <div style="padding-left: 5px;" nz-col nzSpan="8">

            <nz-select formControlName="returnVehicle" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!editRecord">
                <nz-option *ngFor="let list of ServiceGroups_list" [nzValue]="list" [nzLabel]="list">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <div nz-row class="form-group">
        <div nz-col nzSpan="3">
            <nz-label style="padding: 2px;">Start ODO </nz-label>
        </div>
        <div nz-col nzSpan="3">
            <!-- <nz-input formControlName="startOdo" ></nz-input> -->
            <nz-input-number formControlName="startOdo" [nzMin]="1" [nzMax]="5000" [nzStep]="1"
                [nzDisabled]="!editRecord" style="width:100%"></nz-input-number>

        </div>
        <div nz-col nzSpan="2">
            <nz-label class="lbl" style="padding-top: 6px; padding-left:4px ">END ODO </nz-label>
        </div>
        <div style="padding-left: 5px;" nz-col nzSpan="4">
            <!-- <nz-input formControlName="endOddo" ></nz-input> -->
            <nz-input-number formControlName="endOddo" [nzMin]="1" [nzMax]="5000" [nzStep]="1"
                [nzDisabled]="!editRecord" style="width:100%"></nz-input-number>
        </div>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="2">
            <nz-label style="padding-right: 4px; text-align:right">Live KM </nz-label>
        </div>
        <div style="padding-left: 5px;" nz-col nzSpan="3">

            <!-- <nz-input formControlName="liveKM" ></nz-input> -->
            <nz-input-number formControlName="liveKM" [nzMin]="1" [nzMax]="5000" [nzStep]="1" [nzDisabled]="!editRecord"
                style="width:100%"></nz-input-number>
        </div>
        <div nz-col nzSpan="2">
            <nz-label style="padding: 6px;">Dead KM </nz-label>
        </div>
        <div style="padding-left: 5px;" nz-col nzSpan="3">

            <!-- <nz-input formControlName="deadKM" ></nz-input> -->
            <nz-input-number formControlName="deadKM" [nzMin]="1" [nzMax]="5000" [nzStep]="1" [nzDisabled]="!editRecord"
                style="width:100%"></nz-input-number>
        </div>
    </div>
    <div nz-row class="form-group">
        <div nz-col nzSpan="3">
            <nz-label style="padding: 2px;">Trip Purpose </nz-label>
        </div>
        <div nz-col nzSpan="10">

            <nz-select formControlName="tripPurpose" [nzDropdownMatchSelectWidth]="true" [nzDisabled]="!editRecord">
                <nz-option *ngFor="let list of transportPurposeList" [nzValue]="list" [nzLabel]="list">
                </nz-option>

            </nz-select>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="3">
            <nz-label style="padding: 2px;">Notes</nz-label>
        </div>
        <div nz-col nzSpan="20">
            <textarea id="txtNote" nz-input formControlName="transportNote" rows="15"
                [disabled]="!editRecord"> </textarea>
        </div>

    </div>


</form>