body{
  background-color: #85B9D5 !important;
}
#divMaster{
    margin-left: 5px; 
    padding: 2px;        
    background-color:  #1E91E8; 
    vertical-align: middle; 
    height: 32px; 
    width:10vw;  
    border-radius: 3px; 
    margin-top: 10px;  
    color: grey;        
    text-align: center;
}
.header{
  display: flex; 
  flex-direction: row;   
  background-color: aliceblue; /*#e5ecf1 #85B9D5*/ 
  color: black; 
  margin-top: 5px;  
  padding:5px;
  border : 1px solid #6496b6;
  border-radius : 5px;
  justify-content: space-around;
  width:88vw;
}       
nz-switch.master-class ::ngdeep  button.ant-switch-checked{ background-color:#c07417;} 

    .template{
        display:block;            
        border-bottom: 1px solid #7a7a73;          
        background-color: white;
        padding: 3px;
        font-size: 11px;
        font-family: Segoe UI;
        color : #F18805;
    }
    .main{
        display: flex;
        margin-top: 10px;
        margin-left: 3px;
        padding:2px; 
        background-color: white;
    }
    .main-option{             
        display:flex;
        flex-direction: row;
        padding-left: 4px; 
    }
    .master-lebel{
        background-color: transparent; color: white; vertical-align: middle;
    }
    .date-container{
        display: flex; 
        flex-direction: row;
          text-align: center; 
          color: gray;  

          margin: 10px;
          
       }
    
     .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Adjust based on the number of columns */
        gap: 1px; /* Adjust the gap between cells */
      }
      
      .row {
        display: flex;
      }
      
      .cell {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        width:5vw;
        background-color: white;
      }

      .cell:active {
        background-color: lightblue; /* Add a background color when a cell is clicked */
        cursor: pointer;
      }
      
      .dragging {
        opacity: 0.5; /* Add opacity to indicate the dragging state */
        cursor: grabbing; /* Change cursor to grabbing during drag */
        background-color: #1E91E8;
      }



    @media (max-width:800px)    {

        .main{
            flex-direction: column;
        }

        .main-option {
           display: flex;
           flex-direction: column;
        }
        .date-container{
            width: 10vh;
        }
       
    }

    @media (max-width:1450px)   {

       
        .master-lebel{
            display : none;
        }
       
    }