<div style="padding:8px">
    <div nz-row>
        <div nz-col>
            <label for="" class="heading">Service Tasks</label>
            <div class="line"></div>
            <div style="display:flex; flex-direction: row; margin:5px; ">
    
                <button class="btnlevel2navy"                    
                    (click)="showAddModal()">Add</button>
                
                <button class="btnlevel2orange"
                     nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this task from list?" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="deleteSelectedRecords()">Del</button>
                    <button class="btnlevel2navy"                
                    (click)=" generatePdf()">Print</button>
                    <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
            </div>
            <!-- <button class="botton success" (click)="showAddModal()"> <i nz-icon nzType="plus"></i> Add Tasks </button>
            <button nz-button nzType="primary" (click)="handleOkTop()" style="float: right;" (click)="generatePdf()"> <i nz-icon nzType="file-pdf"></i> Print </button> -->

            <nz-table #basicTable [nzShowPagination]="false" *ngIf="tableData" [nzSize]="'middle'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">

                <thead>
                    <tr >
                        <th nzWidth="10%" >Comp</th>
                        <th nzWidth="90%">Name</th>                       
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData;let i = index;"  (click)="RecordClicked($event,data,i, true);"
                    [class.selected]="i==selectedIndex || selectedAllocatedTasks.indexOf(data)>-1" >
                        <td >
                            <label nz-checkbox [nzChecked]="data.taskComplete=='True'" style=" height:20px; font-weight:bold; color:#000" [nzDisabled]="'true'"></label>
                            
                        </td>                      
                        <td >{{data.taskNotes}}  </td>    
                    
                        <!-- <td>  
                           
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this task from list?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data)">Delete</a>
                        </td> -->
                      
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    </div>
    
    
<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewServiceTaskList" nzTitle="Service Tasks "   (nzOnCancel)="ViewServiceTaskList = false" >
    <div class="flexy" style="min-height:25rem;">
        
<div>
    <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
        [nzData]="listTasks"   [nzScroll]="listTasks.length>10 ? {y: '300px'} : 'none'">
        <thead>
            <tr >
                <th class="left" style="width: 350px">Tasks List</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of listTasks;let i = index;"  (click)="onItemSelected(data,i)" 
            (dblclick)="onItemDbClick(data,i)"  [class.selected]="i==HighlightRow || selectedTasks.indexOf(data)>-1">
                <td class="left">                                     
                        {{data.description}}     
                </td>
            </tr>
        </tbody>
    </nz-table> 

</div>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveSelected()">OK</button>
        <button nz-button nzType="default" (click)="ViewServiceTaskList=false">Cancel</button>
    </div>
</nz-modal>
<div>
    <nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >       
        <div class="col-md-12 spinner" *ngIf="loading" style="margin:1rem auto;width:1px;">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>                
        <div nz-row>   
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"  ></iframe> 
        </div>
        
    </nz-drawer>
</div>

