
.disabled{
    pointer-events:none;
  
  }
  .model-title{
    height: 40px;
    width: 100%;
    background-color: #0480be !important;
    color:#fff !important;
    padding: 5px 0 0 0;
    text-align: center;
  }

::ng-deep .ant-modal  {
background-color: transparent; 
}
::ng-deep .ant-modal-title {
    font-size: 16px;
    background-color: #85B9D5 !important; 
    color:#fff !important;
    }
::ng-deep .ant-modal-header {
    padding:10px 15px;
    text-align: center;
    border-bottom:1px solid #eee;
    background-color: #85B9D5 !important; 
    color:#fff !important;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 1px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 1px;
     border-top-left-radius: 1px;
     border-top-right-radius: 1px;
 }

::ng-deep .ant-modal-body
{
background-color: #FFFFFF;
}

::ng-deep .ant-modal-content
{
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
background-color: #FFFFFF;
}

/* ::ng-deep .ant-modal-footer 
{
border-bottom-left-radius: 1px;
border-bottom-right-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
-webkit-border-bottom-right-radius: 1px;
-moz-border-radius-bottomleft: 1px;
-moz-border-radius-bottomright: 1px;  
} */

button{
width: 60px;
height:40px;
background-color: #85B9D5;
border: 1px solid #85B9D5;
color: #fff;
border-radius: 5px;
}
.btn-delete{
    background-color: #F18805;
    color: #fff;
    border: 1px solid #F18805;
    border-radius: 5px;
    width: 60px;
    height:40px;
    
  }
a{
    color: #fff;
}
.field{
    padding: 2px;
    margin: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;   
    color: #000;
    height:30px;
    font-size: 14px;
    font-family: 'Segoe UI';
    text-align: center;
    height:25px;
   
}

.field2{
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;   
    color: #8a8888;
    height:32px;
    font-size: 14px;
    font-family: 'Segoe UI';
    text-align: center;
    background-color: #f7f4f4;
   
}
.line{
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading{
    font-size: 16px;
    font-family: 'Segoe UI';
    color: #665d5d;
    font-weight: bold;
    margin: 5px;
    
}

.centred{
    text-align: center;
}

.disabled-div {
    pointer-events: none; /* Disable interactions */
    opacity: 0.5;         /* Optional: Visual indication */
  }

  .booking{
   border: 1px solid #d64e4e;
   color: #d64e4e ;
   text-align: left;
   width: 100%;
   height: 33px;
   padding:2px;
  }

  .checkbox-label {
    display: inline-flex;
    align-items: center;
  }

  .checkbox-label span {
    margin-left: 8px; /* Adjust the spacing */
  }