<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzStyle]="{ top: '10px', width : tabindex==4 ? '1050px': '900px' }" [nzMask]="true"
    [nzMaskClosable]="false" [nzClosable]="true" [nzCloseIcon]="customCloseIcon">
    <ng-template #modalTitle>
        <div nz-row>
            <div nz-col nzSpan="1" style=" color:#fff; text-align:left; cursor:default">
                <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
            </div>
            <div nz-col nzSpan="4">
                <label for="">Service Details Form</label>
            </div>
            <div nz-col nzSpan="3" style="margin-left:8px;">
                <label for="" class="field">{{recordNo}}</label>
            </div>
            <div nz-col nzSpan="5">
                <label for="" class="field">{{Timesheet_label}}</label>
            </div>
            <div class="field" nz-col nzSpan="4">
                <label for=""></label>
            </div>
            <div class="field" nz-col nzSpan="4">
                <label for=""></label>
            </div>
            <div nz-col nzSpan="2" style=" text-align: center; margin:3px ">
                <a nz-dropdown [nzDropdownMenu]="menu">
                    <i nz-icon nzType="menu"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(0)"> Service Information </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(1)"> Tasks </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(2)"> Xtra Info </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(3)"> Xtra Charges </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(4)">Service Notes </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(5)"> Dataset </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item nzTitle="" (click)="ShowMoreOptions(6)"> Audit History </li>
                    </ul>

                </nz-dropdown-menu>
            </div>
        </div>
    </ng-template>
    <ng-template #customCloseIcon>
        <i nz-icon nzType="close" nzTheme="outline" style="color: #fff;"></i>
    </ng-template>
    <ng-template #modalContent>
        <div style="min-height:40rem">
            <div *ngIf="tabindex==0">

                <div nz-row>
                    <div nz-col nzSpan="6">
                        <label for="" class="heading">Service Information </label>
                    </div>
                    <div nz-col nzSpan="10" style="text-align: center;">
                        <label for="">{{rosterGroup}}</label>
                    </div>
                    <div nz-col nzSpan="8" style="text-align: right;">
                        <label for="">{{serviceGroup}}</label>
                    </div>

                </div>

                <div class="line"></div>


                <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4" class="form-group">
                        <label for="">Date / Time</label>
                    </div>
                    <div nz-col nzSpan="4" class="form-group">
                        <nz-date-picker [nzDisabled]="!editRecord || date<'2000/01/01'" [nzFormat]="dateFormat"
                            formControlName="date"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="1" class="form-group"></div>
                    <div nzSpan="12" *ngIf="showTime">
                        <div nz-col nzSpan="3">
                            <div class="form-group">

                                <nz-time-picker [nzDisabled]="!editRecord" [(ngModel)]="defaultStartTime"
                                    style="width:100px" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="ngModelChangeStart($event)" nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="3">
                            <div class="form-group" *ngIf="showEndTime">

                                <nz-time-picker [nzDisabled]="!editRecord" [(ngModel)]="defaultEndTime"
                                    style="width:100px" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="ngModelChangeEnd($event)" nzFormat="HH:mm"></nz-time-picker>
                            </div>
                        </div>
                        <div nz-col nzSpan="3">
                            <div class="form-group">
                                <!-- <nz-time-picker [nzDisabled]="'true'" [(ngModel)]="defaultDuration" style="width:80px"                            
                                [ngModelOptions]="{standalone: true}" nzFormat="HH:mm"></nz-time-picker> -->

                                <div class="field2" style="width:80px;">{{defaultDuration}}</div>
                                <nz-alert *ngIf="durationObject?.error" nzType="error" [nzMessage]="'00:00'"></nz-alert>
                                <!--   <nz-alert *ngIf="!durationObject?.error" nzType="success"
                                    [nzMessage]="durationObject?.durationStr"></nz-alert> -->
                            </div>
                        </div>
                        <div nz-col nzSpan="4">
                            <label nz-checkbox [(ngModel)]="lockDateTime" for="">Lock Date/Time</label>
                        </div>
                    </div>
                </div>
                <div nz-row [formGroup]="rosterForm" *ngIf="current>100">
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="4" class="form-group">
                        <label for="">Service Type</label>
                    </div>
                    <div nz-col nzSpan="16" class="form-group">
                        <nz-select formControlName="serviceType" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of modalTimesheetValues" [nzValue]="list.name"
                                [nzLabel]="list.name"></nz-option>
                        </nz-select>

                        <!-- <div nz-row *ngIf="multipleRecipientShow" >
                            <label for="">Multiple Recipients</label>
                            <nz-switch nzSize="small" formControlName="isMultipleRecipient"></nz-switch>
                        </div> -->
                        <div *ngIf="isTravelTimeChargeable">
                            <label for="">Is Travel Time Chargeable</label>
                            <nz-switch nzSize="small" formControlName="isTravelTimeChargeable"></nz-switch>
                        </div>
                        <div *ngIf="isSleepOver">
                            <label for="">Select the End Time on the following day for the sleepover</label>
                            <nz-time-picker formControlName="sleepOverTime" [nzDefaultOpenValue]="defaultOpenValue"
                                nzFormat="HH:mm"></nz-time-picker>

                            <!-- <nz-time-picker formControlName="sleepOverTime" nzFormat="HH:mm"></nz-time-picker> -->
                            <!-- <nz-switch nzSize="small" formControlName="isTravelTimeChargeable"></nz-switch> -->
                        </div>
                    </div>

                </div>
                <!-- <div nz-row [formGroup]="rosterForm" *ngIf="editRecord && showRecipient()">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Recipient</label>
                    </div>
                    <div nz-col nzSpan="17">
                        <app-recipient-popup formControlName="recipientCode" style="width:100%"></app-recipient-popup>
                    </div>
    
                </div> -->
                <div nz-row [formGroup]="rosterForm" *ngIf="showRecipient()">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Recipient</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="recipientCode" [nzDisabled]="!editRecord" style="width:100%">
                            <nz-option *ngFor="let list of RecipientList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzValue]="recipientCode" [nzLabel]="recipientCode"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="1" [ngClass]="{ 'disabled-div': !editRecord }">
                        <i style="margin-left:3px" nz-icon (click)="openRecipientModal()" nzType="more"
                            nzTheme="outline"></i>
                    </div>
                    <recipientexternal [isVisible]="recipientexternal" [AccountNo]="selected_data"
                        (recipientexternalDone)="cancelRecipientExternal($event)" *ngIf="recipientexternal">
                    </recipientexternal>
                </div>

                <div nz-row [formGroup]="rosterForm" style="margin-top:5px" *ngIf="showCategory()">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Category</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="analysisCode" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of analysisCodeList" [nzValue]="list"
                                [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultCategory" [nzValue]="defaultCategory" nzHide></nz-option>
                        </nz-select>

                    </div>

                </div>


                <!-- <div nz-row [formGroup]="rosterForm" style="margin-top:5px" *ngIf="showStaff() && editRecord">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Staff/Broker</label>
                    </div>
                    <div nz-col nzSpan="17">                   
                            <app-staff-popup formControlName="staffCode" style="width:100%"></app-staff-popup>                  
                    </div>
    
                </div> -->
                <div nz-row [formGroup]="rosterForm" *ngIf="showStaff() " style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Staff/Broker</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="staffCode" [nzDisabled]="!editRecord" style="width:100%"
                            *ngIf="staffCode!='BOOKED'">
                            <nz-option *ngFor="let list of staffList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzValue]="staffCode" [nzLabel]="staffCode"></nz-option>
                        </nz-select>
                        <div *ngIf="staffCode=='BOOKED'" class="booking">
                            <label for="">UNASSIGNED BOOKING</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="1" [ngClass]="{ 'disabled-div': !editRecord || staffCode=='BOOKED' }">
                        <i style="margin-left:3px" nz-icon (click)="openStaffModalExternal()" nzType="more"
                            nzTheme="outline"></i>
                    </div>
                    <staffexternal [isVisible]="staffexternal" [AccountNo]="selected_data"
                        (staffexternalDone)="cancelStaffExternal($event)" *ngIf="staffexternal"></staffexternal>

                </div>
                <!-- <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Debtor</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="debtor" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of programsList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="debtor" [nzValue]="debtor" nzHide></nz-option>
                        </nz-select>
                    </div>
    
                </div> -->


                <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Program</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="program" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of programsList" [nzValue]="list" [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultProgram" [nzValue]="defaultProgram" nzHide></nz-option>
                        </nz-select>
                    </div>

                </div>

                <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Service/Activity/Item</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="serviceActivity" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of serviceActivityList" [nzValue]="list"
                                [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="defaultActivity" [nzValue]="defaultActivity" nzHide></nz-option>
                        </nz-select>
                    </div>

                </div>

                <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">Location</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <nz-select formControlName="serviceSetting" [nzDisabled]="!editRecord"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of analysisCodeList" [nzValue]="list"
                                [nzLabel]="list"></nz-option>
                            <nz-option [nzLabel]="serviceSetting" [nzValue]="serviceSetting" nzHide></nz-option>
                        </nz-select>
                    </div>

                </div>
                <div nz-row [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="2" class="form-group"></div>
                    <div nz-col nzSpan="4">
                        <label for="">No Attendees</label>
                    </div>
                    <div nz-col nzSpan="3">
                        <input nz-input formControlName="attendees" [disabled]="!editRecord" style="margin-left:1px; width:100%">
                    </div>

                </div>
                <div *ngIf="showBilling()">
                    <div nz-row nzSpan="24" nzGutter="8">
                        <label for="" class="heading">Billing Information</label>
                    </div>

                    <div class="line"> </div>
                    <div nz-row style="margin-top:5px"></div>
                    <div nz-row nzGutter="8" [formGroup]="rosterForm" style="margin-top:5px">
                        <div nz-col nzSpan="8" class="form-group" [formGroup]="rosterForm">
                            <label for="">Debtor/Bill Code</label>
                            <nz-select formControlName="debtor" [nzDisabled]="!editRecord"
                                [nzDropdownMatchSelectWidth]="false" style="width:100%" [nzVirtualItemSize]="50"
                                [nzVirtualMaxBufferPx]="300" [nzVirtualMinBufferPx]="100" [nzShowSearch]="true"
                                [nzFilterOption]="false" (nzOnSearch)="onSearch($event)">
                                <nz-option *ngFor="let list of filteredList" [nzValue]="list"
                                    [nzLabel]="list"></nz-option>
                            </nz-select>



                        </div>
                        <div nz-col nzSpan="16">
                            <ng-container formGroupName="bill">
                                <div nz-row>

                                    <div nz-col nzSpan="4" class="centred">
                                        <label for="">Qty</label>
                                        <nz-input-number formControlName="quantity" [nzDisabled]="!editRecord"
                                            [nzMin]="0" [nzStep]="1"></nz-input-number>
                                    </div>
                                    <div nz-col nzSpan="4" class="centred">
                                        <label for="">DS</label>

                                        <nz-input-number formControlName="pay_ds" [nzDisabled]="!editRecord" [nzMin]="0"
                                            [nzStep]="1"></nz-input-number>
                                    </div>
                                    <div nz-col nzSpan="4">
                                        <div class="form-group centred">
                                            <label for="">Unit</label>
                                            <nz-select formControlName="pay_Unit" [nzDisabled]="!editRecord"
                                                [nzDropdownMatchSelectWidth]="false">
                                                <nz-option *ngFor="let list of unitsArr" [nzValue]="list"
                                                    [nzLabel]="list"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="3" style="margin-left: 10px;">
                                        <div class="form-group centred">
                                            <label for="">GST</label>

                                            <nz-input-number formControlName="tax" [nzDisabled]="!editRecord"
                                                [nzMin]="0" style="width:70px" [nzStep]="1"></nz-input-number>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="3">
                                        <div class="form-group centred">
                                            <label for="">Bill Rate</label>
                                            <nz-input-number formControlName="bill_Rate" [nzDisabled]="!editRecord"
                                                [nzMin]="0" style="width:70px" [nzStep]="1"
                                                [nzFormatter]="formatterDollar"
                                                [nzParser]="parserDollar"></nz-input-number>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="3">
                                        <div class="form-group centred">
                                            <label for="">Medicare</label>
                                            <div style="width:60px; margin:8px;">
                                                <label nz-checkbox formControlName="medicare"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngIf="showPayInfo()">
                    <div nz-row nzSpan="24" nzGutter="8">
                        <label for="" class="heading">Pay Information</label>
                    </div>
                    <div class="line"></div>
                    <div nz-row nzSpan="24" nzGutter="8" [formGroup]="rosterForm">
                        <div nz-col nzSpan="6" class="form-group ">
                            <label for="">Pay/Award Type</label>
                            <nz-select [nzDisabled]="!editRecord" formControlName="payType"
                                [nzDropdownMatchSelectWidth]="false" style="width:100%">
                                <nz-option *ngFor="let list of payTypeList" [nzValue]="list.title"
                                    [nzLabel]="list.title">
                                </nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="6" class="form-group centred">

                            <label for="">Position </label>
                            <nz-select [nzDisabled]="!editRecord" formControlName="staffPosition"
                                [nzDropdownMatchSelectWidth]="false" style="width:100%">
                                <nz-option *ngFor="let list of positionList" [nzValue]="list.name"
                                    [nzLabel]="list.name">
                                </nz-option>
                            </nz-select>

                        </div>
                        <div nz-col nzSpan="12">
                            <ng-container formGroupName="pay">

                                <div nz-row>


                                    <div nz-col nzSpan="8">
                                        <div class="form-group centred">
                                            <label for="">Pay Qty</label>
                                            <nz-input-number formControlName="quantity" [nzDisabled]="!editRecord"
                                                [nzMin]="0" [nzStep]="1"></nz-input-number>
                                        </div>
                                    </div>
                                    <div nz-col nzSpan="8">
                                        <div class="form-group centred">
                                            <label for="">Pay Unit</label>
                                            <nz-select formControlName="pay_Unit" [nzDisabled]="!editRecord"
                                                [nzDropdownMatchSelectWidth]="false">
                                                <nz-option *ngFor="let list of unitsArr" [nzValue]="list"
                                                    [nzLabel]="list">
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                    </div>

                                    <div nz-col nzSpan="8">
                                        <div class="form-group centred">
                                            <label for="">Pay Rate</label>
                                            <nz-input-number formControlName="pay_Rate" [nzDisabled]="!editRecord"
                                                [nzMin]="0" style="width:90px" [nzStep]="1"
                                                [nzFormatter]="formatterDollar"
                                                [nzParser]="parserDollar"></nz-input-number>
                                        </div>
                                    </div>

                                    <!-- <div nz-col nzSpan="4">
                                    <div class="form-group">
                                        <label for="">Tax %</label>
                                        <nz-input-number formControlName="tax" [nzMin]="-1" [nzDisabled]="!editRecord"
                                            [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent"
                                            [nzParser]="parserPercent"></nz-input-number>
                                    </div>
                                </div> -->
                                </div>


                            </ng-container>
                        </div>
                    </div>
                </div>
                <div nz-row nzSpan="24" nzGutter="8">
                    <label for="" class="heading">MTA Information</label>
                </div>
                <div class="line"></div>
                <div nz-row nzSpan="24" nzGutter="8" [formGroup]="rosterForm" style="margin-top:5px">
                    <div nz-col nzSpan="4" class="form-group">
                        <label for="">MTA Logging</label>
                        <nz-select [nzDisabled]="!editRecord" formControlName="mtaLogging"
                            [nzDropdownMatchSelectWidth]="false" style="width:100%">
                            <nz-option *ngFor="let list of payTypeList" [nzValue]="list.title" [nzLabel]="list.title">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzSpan="19">
                        <div nz-row nz-col nzSpan="24">
                            <label for="" style="height:25px"></label>
                        </div>
                        <div nz-row nzSpan="24">
                            <div nz-col nzSpan="5" style="display: inline-flex; align-items: center;">
                                <label> MTA Multishift</label>
                                <label nz-checkbox formControlName="mtaMultishift" style="margin-left:8px"> </label>
                            </div>
                            <div nz-col nzSpan="12" style="display: inline-flex; align-items: center;">
                                <label> Exclude from Mobile App Geo Location</label>
                                <label nz-checkbox formControlName="excludeMTAGeoLocation" style="margin-left:8px">
                                </label>
                            </div>
                            <div nz-col nzSpan="7" style="display: inline-flex; align-items: center;">
                                <label> Exclude from App Alerts</label>
                                <label nz-checkbox formControlName="excludeAppAlert" style="margin-left:8px"> </label>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div *ngIf="tabindex==1">
                <service-tasks [loadTasks]="loadingTasks"></service-tasks>
            </div>
            <div *ngIf="tabindex==2">
                <label for="" class="heading">Additional Service Information</label>
                <div class="line"></div>
                <roster-extrainfo #ext [loadExtraInfo]="loadingExtraInfo" [editRecord]="editRecord"></roster-extrainfo>
                <!-- <button nz-button nzType="default" (click)="ext.Save_Transport()">Save</button>
                    <button nz-button nzType="default" nz-popconfirm
                        nzPopconfirmTitle="Are you sure you want to delete this Extra Info?" nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="ext.delete()">Delete</button>
                
                <button nz-button nzType="default" (click)="ViewExtraInfoModal=false">Cancel</button> -->
            </div>
            <div *ngIf="tabindex==3">
                <label for="" class="heading"> Extra Charges</label>
                <div class="line"></div>
                <div nz-row nzGutter="8" style="padding-top: 10px;">

                    <button class="btnblue">Add</button>
                    <button class="btnblue">Edit</button>

                </div>
                <div class="line"></div>
                <div style="height:100%;">

                    <textarea id="txtNote" rows="20" nz-input> </textarea>

                </div>
                <!-- <div >
                    <button nz-button nzType="default" (click)="SaveExtraCharges()">Save</button>
                    <button nz-button nzType="default" (click)="ViewExtraChargeModal=false">Cancel</button>
                </div> -->
            </div>
            <div *ngIf="tabindex==4">
                <label for="" class="heading">Service Notes</label>
                <!-- <div class="line"></div> -->
                <div class="flexy" style="min-height:25rem;">
                    <gnotes #gn [user]="Person" [loadNote]="loadingNote"></gnotes>
                </div>
            </div>

            <div *ngIf="tabindex==5">
                <label for="" class="heading"> Dataset Information</label>
                <div class="line"></div>
                <div  nz-row *ngIf="loading" >
                    <nz-spin nzSimple [nzSpinning]="true"></nz-spin>
                </div>
                <div  nz-row *ngIf="dataset "  >
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="14" nzGutter="8" style="margin: 25px; ">
                     
                        <div nz-row nzGutter="8">
                            <div nz-col nzSpan="8" style=" text-align: right;">Program :</div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.program}}
                            </div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Funding Source :</div>
                            <div nz-col nzSpan="8" style=" font-weight: bold; text-align: left;">
                                {{dataset.fundingSource}}
                            </div>
                            <!-- <div nz-col nzSpan="8">
                                <span style=" padding-left: 5px; text-align: left;">Service OutletID (For CSTDA) :</span>
                                <span style="font-weight: bold; padding-left: 5px;">{{dataset.outletID}}</span>
                            </div> -->
                        </div>

                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Traccs Activity Code :</div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.activity}}
                            </div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style=" text-align: right;">Dataset this Activity will report Under :
                            </div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.dataset}}
                            </div>
                        </div>

                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Dataset Group :</div>
                            <div nz-col nzSpan="16" style="font-weight: bold;text-align: left;">{{dataset.datasetGroup}}
                            </div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Activity Code (For Dataset Reporting
                                Purpose) :</div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.haccType}}
                            </div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Carer (For Dataset Reporting Purpose) :
                            </div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.client}}
                            </div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">Reason for Cessation (if discharged) :
                            </div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">
                                {{dataset.cessationReason}}</div>
                        </div>
                        <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                            <div nz-col nzSpan="8" style="text-align: right;">NDIA/DEX/IHS ID :</div>
                            <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.ndiA_ID}}
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="8"></div>
                </div>
            </div>

            <div *ngIf="tabindex==6">
                <label for="" class="heading"> Audit History</label>
                <div class="line"></div>
                <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                    [nzLoading]="loading" [nzData]="listAuditHistory" *ngIf="listAuditHistory.length>0"
                    [nzScroll]="listAuditHistory.length>6 ? {y: '400px'} : 'none'">
                    <thead>
                        <tr>
                            <th class="left">Window User</th>
                            <th class="left">Traccs User</th>
                            <th class="left">Date</th>
                            <th class="left">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listAuditHistory;let i = index;" (click)="onAuditItemSelected(data,i)"
                            [ngStyle]="{'backgroundColor': i == HighlightRow ? '#bbd7fa'  : 'white' }">
                            <td class="left">
                                {{data.windowsUser}}
                            </td>
                            <td class="left">
                                {{data.traccsUser}}
                            </td>
                            <td class="left">
                                {{data.date}}
                            </td>
                            <td class="left">
                                {{data.detail}}
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div style="display: inline-flex;  text-align:right">
            <div  style="display: flex; flex-direction:row; margin-top:5px">
                <label> Approved</label>
                <label nz-checkbox [(ngModel)]="approveService" style="margin-left:8px" [nzDisabled]="!editRecord"> </label>

            </div>
            <div style="width:100px;"></div>
            <div  style="display: flex; flex-direction:row;">

                <button *ngIf="editRecord || this.whatProcess == 'UPDATE'" (click)="DeleteShift()"
                    class="btn-delete">Delete</button>
                <button *ngIf="!editRecord" (click)="enableEdit()" > <span>Edit</span></button>

                <button *ngIf="editRecord || this.whatProcess == 'ADD'" (click)="done()" [disabled]="!isFormValid"
                    >
                    <span>Save</span>
                </button>

            </div>
        </div>
        <!-- <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
    </ng-template>
</nz-modal>

<nz-modal [nzStyle]="{ top: '15px' }" [(nzVisible)]="breachRoster" nzTitle="Roster Validation"
    (nzOnCancel)="breachRoster = false" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:3rem">
        <div nz-row>

            <div>
                <label style="font-size:14px; "> {{Error_Msg}} <br /> Are you sure you want to continue roster
                    addition/change </label>

            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ProceedBreachRoster()">Yes</button>
        <button nz-button nzType="default" (click)="Cancel_ProceedBreachRoster()">No</button>
    </div>
</nz-modal>

<!-- <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="980" [(nzVisible)]="ViewServiceNoteModal"
    nzTitle="Service / Shift Notes " (nzOnCancel)="ViewServiceNoteModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:25rem;">
        <gnotes #gn [user]="Person" [loadNote]="loadingNote"></gnotes>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="gn.search(Person)">Refresh</button>
        <button nz-button nzType="default" (click)="ViewServiceNoteModal=false">Cancel</button>
    </div>
</nz-modal> -->
<!-- <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="ViewServiceTaskModal" nzTitle="Service Tasks "
    (nzOnCancel)="ViewServiceTaskModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:20rem;">
        <service-tasks [loadTasks]="loadingTasks"></service-tasks>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default">Refresh</button>
        <button nz-button nzType="default" (click)="ViewServiceTaskModal=false">Cancel</button>
    </div>
</nz-modal> -->
<!-- <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="600" [(nzVisible)]="ViewExtraInfoModal" nzTitle="Extra Info "
    (nzOnCancel)="ViewExtraInfoModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:20rem;">
        <roster-extrainfo #ext [loadExtraInfo]="loadingExtraInfo"></roster-extrainfo>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ext.Save_Transport()">Save</button>
        <button nz-button nzType="default" nz-popconfirm
            nzPopconfirmTitle="Are you sure you want to delete this from Task from List?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="ext.delete()">Delete</button>
     
        <button nz-button nzType="default" (click)="ViewExtraInfoModal=false">Cancel</button>
    </div>
</nz-modal> -->
<!-- <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="900" [(nzVisible)]="ViewAuditHistoryModal" nzTitle="Audit History "
    (nzOnCancel)="ViewAuditHistoryModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:25rem;">

        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzLoading]="loading" [nzData]="listAuditHistory" *ngIf="listAuditHistory.length>0"
            [nzScroll]="listAuditHistory.length>6 ? {y: '400px'} : 'none'">
            <thead>
                <tr>
                    <th class="left">Window User</th>
                    <th class="left">Traccs User</th>
                    <th class="left">Date</th>
                    <th class="left">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listAuditHistory;let i = index;" (click)="onAuditItemSelected(data,i)"
                    [ngStyle]="{'backgroundColor': i == HighlightRow ? '#bbd7fa'  : 'white' }">
                    <td class="left">
                        {{data.windowsUser}}
                    </td>
                    <td class="left">
                        {{data.traccsUser}}
                    </td>
                    <td class="left">
                        {{data.date}}
                    </td>
                    <td class="left">
                        {{data.detail}}
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ViewAuditHistoryModal=false">OK</button>
        <button nz-button nzType="default" (click)="ViewAuditHistoryModal=false">Cancel</button>
    </div>
</nz-modal> -->
<!-- 
<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="600" [(nzVisible)]="ViewExtraChargeModal" nzTitle="Extra Charges "
    (nzOnCancel)="ViewExtraChargeModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:20rem;">
        Extra Charges
        <textarea id="txtNote" nz-input> </textarea>

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="SaveExtraCharges()">Save</button>
        <button nz-button nzType="default" (click)="ViewExtraChargeModal=false">Cancel</button>
    </div>
</nz-modal> -->

<!-- <nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="900" [(nzVisible)]="ViewDatasetModal" nzTitle="Dataset Information "
    (nzOnCancel)="ViewDatasetModal = false"  [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div class="flexy" style="min-height:25rem;" *ngIf="dataset">
        <div nz-row nzGutter="8" style=" width:900px; padding-top: 5px;">

            <div nz-row nzGutter="8">
                <div nz-col nzSpan="8" style=" text-align: right;">Program :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.program}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Funding Source :</div>
                <div nz-col nzSpan="8" style=" font-weight: bold; text-align: left;">{{dataset.fundingSource}}
                </div>
                 <div nz-col nzSpan="8">
                    <span style=" padding-left: 5px; text-align: left;">Service OutletID (For CSTDA) :</span>
                    <span style="font-weight: bold; padding-left: 5px;">{{dataset.outletID}}</span>
                </div> 
            </div>

            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Traccs Activity Code :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.activity}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style=" text-align: right;">Dataset this Activity will report Under :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.dataset}}</div>
            </div>
           
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Dataset Group :</div>
                <div nz-col nzSpan="16" style="font-weight: bold;text-align: left;">{{dataset.datasetGroup}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Activity Code (For Dataset Reporting Purpose) :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.haccType}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Carer (For Dataset Reporting Purpose) :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.client}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">Reason for Cessation (if discharged) : </div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.cessationReason}}</div>
            </div>
            <div nz-row nz-row nzGutter="8" style="padding-top: 10px;">
                <div nz-col nzSpan="8" style="text-align: right;">NDIA/DEX/IHS ID :</div>
                <div nz-col nzSpan="16" style="font-weight: bold; text-align: left;">{{dataset.ndiA_ID}}</div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ViewDatasetModal=false">OK</button>
        <button nz-button nzType="default" (click)="ViewDatasetModal=false">Cancel</button>
    </div>
</nz-modal> -->