
ul{
    list-style:none;
}

nz-checkbox-group ::ngdeep  label {
    display: block;
    padding: 2px;
    font-size:0.75rem;
}
.checkbox-group{
    margin:8px;
}
.checkbox-group label{
    display: block;
}
.tbl{
    width:75vw; 
    height:10vh;    
    margin-top: 5px;
    overflow: auto;
    
}
.item{
   
    font-family: 'Segoe UI';
    font-size: 0.85rem;
}
td {
    padding: 5px;
    font-size: 0.75rem;
    font-family: 'Segoe UI';
    border: 0.5px solid #e5e5e5; 
}
 th{
    padding: 5px;
    border: 1px solid #e5e5e5; 
    height: 30px;
    background-color: #fff;
}
tr{
    border: 1px solid #e5e5e5; 
    height: 30px;
}
tr:nth-child(odd) {
    background-color:#fff;
    color: black; 
}
  tr:nth-child(even) {
    background-color:#ecf4f8;
    color: black;  
    
 }  
p{
    margin: 0;
    cursor:pointer;
    padding:8px 5px;
}
.active-tab{
    background: #d8dbdf;
    color: #fff;
}

.label{
    font-size: 1.05rem;
    font-family: 'Segoe UI';
    margin-top:10px;  
    background-color: #fff; 
    color: #000; 
    padding: 3px; 
    border: 0.5px solid #e5e5e5;
    border-radius: 3px;
    height: 30px;
    vertical-align: baseline;
   
}
nz-spin {
    display: inline-block;
    margin-right: 16px;
  }

  .header{
    display: flex; 
    flex-direction: row; 
    padding-top: 5px; 
    padding-left:10px;
    background-color:#fff /*#e5ecf1  #85B9D5*/; 
    color: black; 
    height:30px;
    border : 1px solid #e5e5e5;
    border-radius : 5px;
   
     
}

  nz-tabset  {
    margin-top:-10px;
     cursor: pointer;
    
   }

 nz-tabset ::ng-deep div > div.ant-tabs-nav-container{
     height: 30px !important;
     font-size: 13px !important;
   
 }

/* The CSS code you provided is styling the appearance of tabs within a `nz-tabset` component. */
 /* nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #002060;
    color: #fff;
}
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
  line-height: 24px;
  height: 25px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #053a6b;
  background: t;
  color: black;
} */