<nz-modal [(nzVisible)]="findModalOpen" [nzTitle]="modalTitle" [nzStyle]="{ top: '20px' }" nzWidth="90vw"
  [nzZIndex]="3" nzTitle="Staff Search" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">

  <ng-template #modalTitle>

    <div style="display:flex; flex-direction: row; ">
      <div style="width:50px; color:#fff">
        <i nz-icon nzType="left" nzTheme="outline" (click)="handleCancel()"></i>
      </div>
      <label style=" color:#fff">Worker Search</label>
      <nz-input-group nzSearch [nzPrefix]="suffixButton" style="width:300px;margin-left: 20px;">
        <input type="text" nz-input formControlName="searchText" />
      </nz-input-group>
      <ng-template #suffixButton>
        <i nz-icon nzType="primary" nzType="search" (click)="searchData()"></i>
      </ng-template>
      <div style="display:flex; flex-direction: row; margin-left:10px;">
        <button nz-button nzType="primary" nzSearch (click)="searchData()" class="btnblue-sim">Refresh</button>
        <button style="margin-left: 10px;" *ngIf="allocated_staff_list.length>0 && AllocateStaff" nz-button
          nzType="primary" (click)="Allocate()" class="btnblue-sim">Allocate</button>
        <button style="margin-left: 10px;" nz-button nzType="primary" nzSearch (click)="searchData()"
          class="btn-orange">DM Refresh</button>
      </div>
    </div>
  </ng-template>
  <div *ngIf="findModalOpen"> <!-- start of model -->

    <div nz-row>
      <div nz-col nzSpan="4" [formGroup]="quicksearch"
        style="margin-right: 5px; background-color:#f0ebeb;color: #fff;padding:4px;">
        <div style=" display:flex; flex-direction:column; ">
          <!-- <div  style="background: #002060;padding: 4px;">
              <h3 class="text-center" style="color:white">Worker Search</h3>
            </div> -->
          <div>
            <label nz-checkbox formControlName="availble" (change)="log($event,5)">
              <span><b>Available</b></span>
            </label>
          </div>
          <div *ngIf="this.quicksearch.get('availble').value">
            <label nz-checkbox formControlName="option">
              <span><b>Option</b></span>
            </label>
          </div>
        </div>

        <div nz-row *ngIf="this.quicksearch.get('option').value" class="mrg-btm-half">
          <nz-card [nzBodyStyle]="{'padding':'8px'}" nzTitle="Availability Options" [nzSize]="'small'"
            [formGroup]="avilibilityForm">
            <div nz-row>
              <label nz-checkbox formControlName="conflict">
                <span><b>Conflict Tolerance</b></span>
              </label>
            </div>
            <div nz-row class="mrg-btm-half">
              <div nz-col [nzSpan]="12">
                <ng-select formControlName="conflictminutes" [nzSize]="'small'" [items]="conflictpointList"
                  [virtualScroll]="true" [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
                </ng-select>
              </div>
              <div nz-col [nzSpan]="12" class="text-center">
                <label for="minutes">Minutes</label>
              </div>
            </div>
            <button nz-button nzType="primary" nzBlock>Reset Search Day/Time</button>
          </nz-card>
        </div>
        <div nz-row>
          <div class="form-group">
            <ng-select formControlName="status" [nzSize]="'small'" [items]="statusList" [virtualScroll]="true"
              [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
            </ng-select>
          </div>
        </div>
        <div nz-row>
          <div class="form-group">
            <ng-select formControlName="gender" [nzSize]="'small'" [items]="genderList" [virtualScroll]="true"
              [dropdownPosition]="'bottom'" [clearable]="false" [closeOnSelect]="true">
            </ng-select>
          </div>
        </div>
        <div nz-row>
          <div class="form-group">
            <label nz-checkbox formControlName="staff">Staff</label>
            <br />
            <label nz-checkbox formControlName="brokers">Brokers</label>
            <br />
            <label nz-checkbox formControlName="volunteers">Volunteers</label>
            <br />
            <label nz-checkbox formControlName="onleaveStaff">Include Staff On Leave</label>
            <br />
            <label nz-checkbox formControlName="previousWork" *ngIf="this.quicksearch.get('availble').value">Previous
              Work</label>
          </div>
        </div>
        <div nz-row>
          <div nz-row style="border: 1px solid #e8e8e8;">
            <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
              <label nz-checkbox [(ngModel)]="allProgarms" (ngModelChange)="updateAllCheckedFilters(2)"
                [nzIndeterminate]="allprogramIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL
                  Teams/Areas</b></label>
            </div>
            <div nz-col>
              <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto; padding:.2rem;">
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                  <div nz-row>
                    <div nz-col nzSpan="24" *ngFor="let team of diciplineList">
                      <label nz-checkbox [nzValue]="team.value" [(ngModel)]="team.checked"
                        (ngModelChange)="updateSingleCheckedFilters(2)" [ngModelOptions]="{standalone: true}">{{
                        team.label }}</label>
                    </div>
                  </div>
                </nz-checkbox-wrapper>
              </div>
            </div>
          </div>
          <br>
          <div nz-row style="border: 1px solid #e8e8e8;">
            <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
              <label nz-checkbox [(ngModel)]="allcat" (ngModelChange)="updateAllCheckedFilters(4)"
                [nzIndeterminate]="allCatIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Job
                  Categories</b></label>
            </div>
            <div nz-col>
              <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto;padding:.2rem;">
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,4)">
                  <div nz-row>
                    <div nz-col nzSpan="24" *ngFor="let category of categoriesList">
                      <label nz-checkbox [nzValue]="category.value" [(ngModel)]="category.checked"
                        (ngModelChange)="updateSingleCheckedFilters(4)" [ngModelOptions]="{standalone: true}">{{
                        category.label }}</label>
                    </div>
                  </div>
                </nz-checkbox-wrapper>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display:flex; flex-direction:column">


        <div style="display:block; margin-top:10px">
          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Staff List" (nzClick)="tabFindChange(0)"> </nz-tab>
            <nz-tab nzTitle="Competencies" (nzClick)="tabFindChange(1)"> </nz-tab>
            <nz-tab nzTitle="Excluded Preferred" (nzClick)="tabFindChange(2)"> </nz-tab>
            <nz-tab nzTitle="Filters" (nzClick)="tabFindChange(3)"></nz-tab>
            <nz-tab nzTitle="Gap" (nzClick)="tabFindChange(4)"></nz-tab>
          </nz-tabset>
          <div *ngIf="tabFindIndex == 0">
            <div style="margin-top:5px;">
              <nz-table #fixedTable [nzData]="filteredResult" [nzLoading]="loading"
                [nzScroll]="{ x: '50vw', y: '75vh' }" nzSize="large">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>MIN</th>
                    <th>MAX</th>
                    <th>Type</th>
                    <th>Staff Name</th>
                    <th>Suburb</th>
                    <th>Category</th>
                    <th>Primary Phone</th>
                    <th>Address</th>
                    <th>Branch</th>
                    <th>Team</th>
                    <th>CoOrdinator</th>
                    <th>Alerts</th>
                    <th>Last Address</th>
                    <th>Rating</th>
                    <th>CW</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of fixedTable.data" (click)="onItemSelected(result)"
                    (dblclick)="onItemDbClick(result)" (contextmenu)="rightClickMenu($event,result)"
                    [class.selected]="allocated_staff_list.indexOf(result.accountno)>-1">
                    <td>{{result.id}}</td>
                    <td>{{result.hfmin}}</td>
                    <td>{{result.hfmax}}</td>
                    <td>{{result.type}}</td>
                    <td>{{result.name}}</td>
                    <td>{{result.suburb}}</td>
                    <td>{{result.category}}</td>
                    <td>{{result.contact}}</td>
                    <td>{{result.address}}</td>
                    <td>{{result.branch}}</td>
                    <td>{{result.team}}</td>
                    <td>{{result.coOrdinator}}</td>
                    <td>{{result.alerts}}</td>
                    <td>{{result.lastKnownLocation}}</td>
                    <td>{{result.rating}}</td>
                    <td [class.selected]="selectAll">{{result.costFactor}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <div *ngIf="tabFindIndex == 1">
            <div nz-row [nzGutter]="8">
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Mandatory Competencies</b></label>
                  </div>
                  <div nz-row class="text-center">
                    <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
                    <button nz-button nzType="primary">Unselect All</button>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)">
                        <div nz-row>
                          <!-- <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                              <label nz-checkbox [nzValue]="branch.description" [(ngModel)]="branch.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ branch.description }}</label>
                            </div> -->
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Desirable Competencies</b></label>
                  </div>
                  <div nz-row class="text-center">
                    <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
                    <button nz-button nzType="primary">Unselect All</button>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                        <div nz-row>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Optional Competencies</b></label>
                  </div>
                  <div nz-row class="text-center">
                    <button nz-button nzType="primary" style="margin-right:8px;">Select All</button>
                    <button nz-button nzType="primary">Unselect All</button>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                        <div nz-row>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Other Skills</b></label>
                  </div>
                  <div nz-row class="text-center">
                    <button nz-button nzType="primary" style="margin-right:8px;"
                      (click)="allcompetencieschecked()">Select All</button>
                    <button nz-button nzType="primary" (click)="allcompetenciesunchecked()">Unselect All</button>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,7)">
                        <div nz-row>
                          <div nz-col nzSpan="24" *ngFor="let skill of skillsList">
                            <label nz-checkbox [nzValue]="skill.identifier" [(ngModel)]="skill.checked"
                              [ngModelOptions]="{standalone: true}">{{ skill.text }}</label>
                          </div>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tabFindIndex == 2">
            <div nz-row [nzGutter]="8">
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>The Only Staff That Can Be Used</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)">
                        <div nz-row>
                          <!-- <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                              <label nz-checkbox [nzValue]="branch.description" [(ngModel)]="branch.checked" (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{ branch.description }}</label>
                            </div> -->
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Staff Specifically Excludeed</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                        <div nz-row>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="12">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;padding:4px;">
                    <label class="text-center"><b>Staff With Missing Or Expired Competency</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                        <div nz-row>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tabFindIndex == 3">
            <div nz-row [nzGutter]="8">
              <div nz-col class="gutter-row" [nzSpan]="5">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                    <label nz-checkbox [(ngModel)]="allBranches" (ngModelChange)="updateAllCheckedFilters(1)"
                      [nzIndeterminate]="allBranchIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL
                        Branches</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,1)">
                        <div nz-row>
                          <div nz-col nzSpan="24" *ngFor="let branch of branchesList">
                            <label nz-checkbox [nzValue]="branch.value" [(ngModel)]="branch.checked"
                              (ngModelChange)="updateSingleCheckedFilters(1)" [ngModelOptions]="{standalone: true}">{{
                              branch.label }}</label>
                          </div>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="7">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                    <label nz-checkbox [(ngModel)]="allProgarms" (ngModelChange)="updateAllCheckedFilters(2)" class="checkbox"
                      [nzIndeterminate]="allprogramIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL
                        Teams/Areas</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,2)">
                        <div nz-row>
                          <div nz-col nzSpan="24" *ngFor="let team of diciplineList">
                            <label nz-checkbox [nzValue]="team.value" [(ngModel)]="team.checked" class="checkbox"
                              (ngModelChange)="updateSingleCheckedFilters(2)" [ngModelOptions]="{standalone: true}">{{
                              team.label }}</label>
                          </div>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                    <label nz-checkbox [(ngModel)]="allcat" (ngModelChange)="updateAllCheckedFilters(4)" class="checkbox"
                      [nzIndeterminate]="allCatIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL Job
                        Categories</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,4)">
                        <div nz-row>
                          <div nz-col nzSpan="24" *ngFor="let category of categoriesList">
                            <label nz-checkbox [nzValue]="category.value" [(ngModel)]="category.checked" class="checkbox"
                              (ngModelChange)="updateSingleCheckedFilters(4)" [ngModelOptions]="{standalone: true}">{{
                              category.label }}</label>
                          </div>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6">
                <div nz-row style="border: 1px solid #e8e8e8;">
                  <div nz-row style="background-color:#fafafa;color: white;padding:4px;">
                    <label nz-checkbox [(ngModel)]="allCordinatore" (ngModelChange)="updateAllCheckedFilters(3)" class="checkbox"
                      [nzIndeterminate]="allCordinatorIntermediate" [ngModelOptions]="{standalone: true}"><b>ALL
                        Coordinators</b></label>
                  </div>
                  <div nz-col>
                    <div class="staff-wrapper" style="height: 30rem; width: 100%; overflow: auto; padding: .5rem 1rem;">
                      <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,3)">
                        <div nz-row>
                          <div nz-col nzSpan="24" *ngFor="let manager of casemanagers">
                            <label nz-checkbox [nzValue]="manager.value" [(ngModel)]="manager.checked" class="checkbox"
                              (ngModelChange)="updateSingleCheckedFilters(3)" [ngModelOptions]="{standalone: true}">{{
                              manager.label }}</label>
                          </div>
                        </div>
                      </nz-checkbox-wrapper>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="tabFindIndex == 4" [formGroup]="extendedSearch">
            <div nz-row style="margin-top:10px;">
              <div nz-col nzSpan="3">
                <nz-date-picker nzMode="default" [nzFormat]="dateFormat" [(ngModel)]="fromDate" style="width:100%"
                  class="ant-picker"></nz-date-picker>
              </div>
              <div nz-col nzSpan="1" style="margin:2px; text-align:center">To</div>
              <div nz-col nzSpan="3">
                <nz-date-picker nzMode="default" [nzFormat]="dateFormat" [(ngModel)]="toDate" style="width:100%"
                  class="ant-picker"></nz-date-picker>
              </div>

              <div nz-col nzSpan="3" style="text-align:center;">
                <label nz-checkbox formControlName="useMaster" (change)="usingMaster($event)">
                  <span>Use Master</span>
                </label>
              </div>
              <div nz-col nzSpan="4">
                <label nz-checkbox formControlName="expandAllDays" (change)="exapndTable($event)">
                  <span>Collapse/Expand All Days</span>
                </label>
              </div>
              <div nz-col nzSpan="2" class="option-box">
                <div class="box" style="background:#85B9D5;"></div>
                <label>
                  <span>With Client/s</span>
                </label>
              </div>
              <div nz-col nzSpan="2" class="option-box">
                <div class="box" style="background:#a8a4a4;"></div>
                <label>
                  <span>Admin Time</span>
                </label>
              </div>
              <div nz-col nzSpan="2" class="option-box">
                <div class="box" style="background:#F18805;"></div>
                <label>
                  <span>Leave</span>
                </label>
              </div>
              <div nz-col nzSpan="2" class="option-box">
                <div class="box" style="background:#880404;"></div>
                <label>
                  <span>Unavailable</span>
                </label>
              </div>
            </div>
            <div nz-row style="margin:5px;"></div>
            <div nz-row>
              <nz-table #fixedTable style="height:20vh; width:70vw; " 
               [nzData]="gapList" [nzLoading]="loading" [nzScroll]="{y: '520px', x: '70vw' }"
              nzSize="small" [nzShowPagination]="'false'" >
                <thead> 
                  <tr>
                    <th class="tblheader" nzWidth="160px"></th>
                    <th class="tblheader" nzWidth="108px" *ngFor="let num of numbers" >{{num}}</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of gapList; let i=index" (click)="onItemSelected(item)"
                    (dblclick)="onItemDbClick(item)" (contextmenu)="rightClickMenu($event,item)">
                    <td class="td-style"  >{{item.accountNo}}  </td>
                    <td *ngFor="let num of item.durations;"  class="td-style"
                     >
                      <div style=" display:flex; flex-direction:row; margin:0px; padding:0px; border:none;">
                       
                        <div class="div-inner" *ngFor="let d of num; let j=index" [draggable]="true" (click)="onCellClick(item,num,j,i)" [ngStyle]="{'background-color': d}"
                        [class.activeCell]="column==num && j==activeCell && row==i">
                         <label></label>
                        </div>
                        <!-- 
                        [class.activeCell]="column==num && d==activeCell && row==i" class="div-inner"  
                        [ngStyle]="{'background-color': item.gaps[0].startBlock<=(num*12+d) && item.gaps[0].endBlock>=(num*12+d) ?item.color : 'white'}"
                       (dragover)="onDragOver($event)"  (dragstart)="onDragStart($event, item)" (drop)="onDrop($event, item)"  

                        <div *ngFor="let d of item.gaps" [draggable]="true" (click)="onCellClick(item,num,d,i)" 
                          style=" display:flex; flex-direction:row; margin:0px; padding:0px; border:none; width:108px">
                        
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+0) && d.endBlock>=(num*12+0) ?d.color : 'white'}"></div>                    
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+1) && d.endBlock>=(num*12+1) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+2) && d.endBlock>=(num*12+2) ?d.color : 'white'}"></div>                        
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+3) && d.endBlock>=(num*12+3) ?d.color : 'white'}"></div>

                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+4) && d.endBlock>=(num*12+4) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+5) && d.endBlock>=(num*12+5) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+6) && d.endBlock>=(num*12+6) ?d.color : 'white'}"></div>                         
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+7) && d.endBlock>=(num*12+7) ?d.color : 'white'}"></div>
                       
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+8) && d.endBlock>=(num*12+8) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+9) && d.endBlock>=(num*12+9) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+10) && d.endBlock>=(num*12+10) ?d.color : 'white'}"></div>
                        <div class="div-inner"  [ngStyle]="{'background-color': d.startBlock<=(num*12+11) && d.endBlock>=(num*12+11) ?d.color : 'white'}"></div> 
                      
                      </div>-->
                    </div>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>

          </div>
        </div> <!-- end of 19 coulmns -->
      </div>
    </div>
  </div> <!-- end of model -->
</nz-modal>

<nz-modal class="options" [nzStyle]="{ top: '15px' }" [(nzVisible)]="showMenu" nzTitle="Staff Search"
  (nzOnCancel)="showMenu = false" style="background-color: #002060; margin-top: 5px; color: white;">

  <div nz-row style="background-color: #fff; margin-top: 5px; ">
    <ul>
      <li class="listitem" (click)="menuItems.next(0)">View Map</li>
      <li class="listitem" (click)="menuItems.next(1)">Map Last known Location to Job</li>
      <li class="listitem" (click)="menuItems.next(2)">View Daily Gaps</li>
      <li class="listitem" (click)="menuItems.next(3)">View Gaps Full Month</li>
      <li class="listitem" (click)="menuItems.next(4)">Select All displayed Staff</li>
      <hr />
      <li class="listitem" (click)="menuItems.next(5)"> Email Selected Staff</li>
      <li class="listitem" (click)="menuItems.next(6)"> Email Job Query to Selected Staff</li>
      <li class="listitem" (click)="menuItems.next(7)"> SMS Selected Staff via SMSEmail</li>
      <li class="listitem" (click)="menuItems.next(8)"> SMS Job Query to Selected Staff via SMSEmail</li>
      <li class="listitem" (click)="menuItems.next(9)"> SMS Job Query to Selected Staff via Skype</li>
      <li class="listitem" (click)="menuItems.next(10)"> Send Traccs Message to Staff</li>
      <hr />
      <li class="listitem" (click)="menuItems.next(11)"> Add Job to Outlook Diary</li>
      <hr />
      <li class="listitem" (click)="menuItems.next(12)"> View Staff Profile</li>
    </ul>
  </div>
  <div *nzModalFooter>
    <!-- <span>Modal Footer: </span>
            <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
            <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button> -->
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="openRoster" [nzStyle]="{ top: '20px' }" nzWidth="1200" [nzZIndex]="1000" nzTitle=""
  (nzOnCancel)="openRoster=false">
  <!-- <div  class="flexy" style="min-height:20rem;" > -->
  <div style="background-color: white; min-height:40rem;">
    <roster-component [reloadRoster]="reloadRoster" [fixSize]="true"></roster-component>
    <!-- <ng-container #dynamicRoster></ng-container> -->
  </div>
  <div *nzModalFooter>
    <!-- <button nz-button nzType="default" (click)="openRoster=false">OK</button>
            <button nz-button nzType="default" (click)="openRoster=false">Cancel</button> -->
  </div>
</nz-modal>