
.disabled{
    pointer-events:none;
  
  }
 
  nz-tabset  {
    margin-top:-10px;
    cursor: pointer;
    
  }

nz-tabset ::ng-deep div > div.ant-tabs-nav-container{
    height: 30px !important;
    font-size: 13px !important;
  
}
/* 
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #002060;
    color: #fff;
}
nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
  line-height: 24px;
  height: 25px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #053a6b;
  background: #e5ecf1;
  color: black;
}
  nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-body{
    padding:0;
}
nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
    padding:0;
} */
ul{
    list-style: none;
    padding: 5px 0 5px 15px;
    margin: 0;
}
li {
    padding: 4px 0 4px 10px;
    font-size: 13px;
    position:relative;
    cursor:pointer;
}
li:hover{
    background:#f2f2f2;
}
li i {
    float:right;
    margin-right:7px;
}
hr{
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 2px 0;
}
li > ul{
    position: absolute;
    display:none;         
    right: -192px;
    padding: 2px 5px;
    background: #fff;
    top: -6px;
    width: 192px;
    transition: all 0.5s ease 3s;
}
li:hover > ul{           
    display:block;
    transition: all 0.5s ease 0s;
}

.selected{
  background:#75afe6;
}
 
table th  {  
  background-color:#85B9D5 !important;  
  border:1px solid #cfdcea;
  font-size: 0.80rem;
  text-align: center;
  color: white;  
  max-width: 8vw;
  min-width: 2vw; 
  }
td{
  font-size: 0.70rem;
  text-wrap: wrap;   
  padding: 2px;
  color: black;
  text-align: center;
  border:1px solid #cfdcea ;
  font-family: 'Segoe UI';
  padding-left: 2px !important; 
  padding-right: 2px !important;   
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8vw; 
   min-width: 2vw;    
  
 }

 th{
  background-color: #002060 !important;
  color: white !important;
 }

table tbody tr.active  {  
background-color:#6496b6 !important;  
color: white;  
}   

.even{
  background-color:#e5f1f8;
  color: black;   
  
}



 table {
  /* border:1px solid #bec1c2; */
  margin: 10px;
  border-radius: 5px;
  /* border-collapse: separate ; */   
  margin-top: 5px;
  overflow-x: auto;
  overflow-y: 50vw;
  
} 

.btn-orange{
      background: #F18805;
      color:#fff;
      font-family:'Segoe UI';
}

nz-checkbox-group ::ngdeep  label {
      display: block;
      padding: 2px;
      font-size:0.75rem;
  }
  checkbox-group{
      margin:2px;
  }
  checkbox-group label{
      display: block;
      font-size:10px;
  }

  .narrow{
    height: 10px;
    margin:0px;
    padding:0px;
    text-align: left;
    color : #636262;
  }

  .option-box{
    display:flex; flex-direction:row;  font-size: 12px !important;
  }

  .box{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: block;
    height: 20px;
    width: 20px;
    overflow: visible;
    color: #000;   
    margin-left:2px;
    margin-right:2px;
  }

 .checkbox{
    font-size:12px;
  }

.tblheader{
  background-color: #002060 !important;
  height: 15px;
  color: white !important;
  font-size: 0.80rem;
  text-align: center;
  font-family: 'Segoe UI';
   
}

.td-style{
 
  border-top : thin dotted #e5e5e5 !important; 
  border-bottom : thin dotted #e5e5e5 !important; 
  border-left : none;
  border-right: none;
  text-align: left;
  padding:0px 0px 0px 0px !important;
  margin:0px 0px 0px 0px !important;
  width:100px !important;
  height: 20px !important;
}

.div-inner{
 
  height: 20px !important;
  width:9px !important;
  padding:0px 0px 0px 0px !important;
  margin:0px 0px 0px 0px !important;
  border: none !important;
}
.activeCell{
  background-color: #e4eef5 !important;
  color: black !important;
  border: 1px solid #e5e5e5 !important;
}