<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'72vw'" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <ng-template #modalTitle>Staff Contact Details : {{AccountNo.data}}</ng-template>

    <ng-template #modalContent>
        <div class="flexy" style="min-height:21rem;">
            <div style="text-align: center" *ngIf="Spiner_loading">
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
            <div *ngIf="!Spiner_loading">

                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                    <nz-tab nzTitle="General" (nzClick)="view(0)"> </nz-tab>
                    <nz-tab nzTitle="Operational Notes & History" (nzClick)="view(1)"> </nz-tab>
                    <nz-tab nzTitle="Competencies" (nzClick)="view(2)"> </nz-tab>
                    <nz-tab nzTitle="Skills & Achievements" (nzClick)="view(3)"> </nz-tab>

                </nz-tabset>

                <div *ngIf="nzSelectedIndex==0" style="margin-top:10px;">
                    <div style="display:flex; flex-direction:row; width:70vw; height:50vh; ">
                        <div
                            style="display:flex; flex-direction:column; width:35vw; height:50vh; border: 1px solid #9a9d9f73; border-radius: 5px">
                            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstAddress"
                                [nzLoadingDelay]="3000" [nzScroll]="{x:'200px', y:'200px'}">

                                <thead>
                                    <tr>

                                        <th colspan="3">Address Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstAddress;let i = index;"
                                        >

                                        <td [nzShowCheckbox]="true" [nzChecked]="data.primaryAddress=='1'"></td>
                                        <td>
                                            {{data.type}}
                                        </td>
                                        <td>
                                            {{data.address}}
                                        </td>
                                    </tr>
                                </tbody>

                            </nz-table>
                            <nz-table ##basicTable [nzShowPagination]="false" [nzSize]="'small'"
                                [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="lstphones"
                                [nzLoadingDelay]="3000" [nzScroll]="{x:'200px', y:'200px'}" style="margin-top: 10px">

                                <thead>
                                    <tr>

                                        <th colspan="3">Contacts Details</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of lstphones;let i = index;"
                                        >


                                        <td [nzShowCheckbox]="true" [nzChecked]="data.primaryPhone=='True'"></td>
                                        <!-- <td><input type="checkbox" [checked]="data.primaryPhone=='True'"/></td> -->
                                        <td>
                                            {{data.type}}
                                        </td>
                                        <td>
                                            {{data.detail}}
                                        </td>
                                    </tr>
                                </tbody>

                            </nz-table>
                        </div>
                        <div
                            style="display:flex; flex-direction:column ; width:32vw; height:50vh; margin-left: 10px; border: 1px solid #9a9d9f73; border-radius: 5px ">


                            <div class="header"> Misc Notes</div>

                            <div>
                                <textarea style="background-color: white; color: black ; " [(ngModel)]="Notes"
                                    [disabled]="!editNote" rows="5" nz-input></textarea>
                            </div>


                            <div style="margin-top: 10px;">

                                <div class="header"> Work and Preferability Preferences </div>


                                <div>
                                    <textarea style="background-color: white; color: black " [(ngModel)]="ContactIssues"
                                        [disabled]="!editNote" rows="5" nz-input></textarea>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="nzSelectedIndex==1" style="margin-top:10px;">
                    <gnotes [user]="Person"></gnotes>

                </div>

                <div *ngIf="nzSelectedIndex==2" style="margin-top:10px;">
                    <div style="display:flex; flex-direction:column; width:70vw; ">
                        <label class="header">Staff Competencies</label>
                        <nz-table #basicTable [nzSize]="'small'" [nzScroll]="{x:'68vw', y:'50vh'}" [nzBordered]="true"
                            [nzShowPagination]="false" [nzLoading]="loading" [nzData]="lstCompetencies">
                            <!-- [nzFrontPagination]="true" [nzShowSizeChanger]="true" [nzPaginationPosition]="'top'" [nzPageSizeOptions]="[5, 10, 20,25, 30]" -->
                            <thead>
                                <tr>
                                    <th nzWidth="25%" >Competency</th>
                                    <th nzWidth="10%" >Expiry Date</th>
                                    <th nzWidth="10%" >Reminder Date</th>
                                    <th nzWidth="10%" >Mandatory</th>
                                    <th nzWidth="10%" >Cert./Reg. No.</th>
                                    <th nzWidth="10%" >Completion Date</th>
                                    <th >Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of lstCompetencies;let i = index;"
                                    >

                                    <td>
                                        {{data.competency}}
                                    </td>
                                    <td>
                                        <!-- {{data.expiry_Date | date: 'dd'}}/{{data.expiry_Date | date:'MM'}}/{{data.expiry_Date | date: 'yyyy'}}                            -->
                                        {{data.expiry_Date | date}}
                                    </td>
                                    <td>
                                        {{data.reminder_Date | date}}
                                        <!-- {{data.reminder_Date | date: 'dd'}}/{{data.reminder_Date | date:'MM'}}/{{data.reminder_Date | date: 'yyyy'}}                            -->

                                    </td>

                                    <td [nzShowCheckbox]="true" [nzChecked]="data.mandatory=='True'">

                                    </td>
                                    <td>
                                        {{data.address1}}
                                    </td>
                                    <td>
                                        {{data.completion_Date}}
                                    </td>
                                    <td>
                                        {{data.notes}}
                                    </td>

                                </tr>
                            </tbody>

                        </nz-table>
                    </div>

                </div>

                <div *ngIf="nzSelectedIndex==3" style="margin-top:10px;">
                    <div style="display:flex; flex-direction:column; width:70vw; ">

                        <label class="header">Other Skills & Achievements</label>
                       
                          <div style="display: flex; flex-direction: row; background-color: #ffffff; border: 1px solid #e5e5e5; border-radius:5px">

                            <div style="display: flex; flex-direction: column; flex-wrap: wrap; height:50vh; ">
                                <tr *ngFor="let skill of skillsList, let i=index" style=" padding:3px; margin:5px; border: 1px solid #e5e5e5; border-radius:5px; background-color: transparent;">
                                    <label  nz-checkbox (ngModelChange)="setSkillStatus(i,skill)"
                                        [nzValue]="skill.identifier" [(ngModel)]="skill.checked"
                                        [ngModelOptions]="{standalone: true}" class="item">{{ skill.text }}</label>
                                </tr>

                            </div>
                            <!-- <div>
                                    <tr *ngFor="let skill of skillsList, let i=index">
                                        <label *ngIf="23>i && i>13" nz-checkbox
                                            (ngModelChange)="setSkillStatus(i,skill)" [nzValue]="skill.identifier"
                                            [(ngModel)]="skill.checked" [ngModelOptions]="{standalone: true}">{{
                                            skill.text }}</label>
                                    </tr>

                                </div>
                                <div>
                                    <tr *ngFor="let skill of skillsList, let i=index">
                                        <label *ngIf=" i>22" nz-checkbox (ngModelChange)="setSkillStatus(i,skill)"
                                            [nzValue]="skill.identifier" [(ngModel)]="skill.checked"
                                            [ngModelOptions]="{standalone: true}">{{ skill.text }}</label>
                                    </tr>
                                </div> -->
                              
                            </div>

                        <!-- </nz-table> -->
                    </div>

                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalFooter>

        <button nz-button nzType="primary" (click)="doneUpdate()" *ngIf="editNote && nzSelectedIndex==0">
            <span>Save Notes</span>
        </button>
        <button nz-button nzType="primary" (click)="editNotes()" *ngIf="!editNote && nzSelectedIndex==0">
            <span>Edit Notes</span>
        </button>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>

    </ng-template>
</nz-modal>