.disabled{
    pointer-events:none;
  
  }
  nz-tabset{
    margin-top:1rem;
  }
  nz-tabset ::ng-deep div > div.ant-tabs-nav-container{
    height: 25px !important;
    font-size: 13px !important;
  }
  
  nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    line-height: 24px;
    height: 25px;
  }
  nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab.ant-tabs-tab-active{
    background: #85B9D5;
    color: #fff;
  }
  nz-tabset ::ng-deep div div.ant-tabs-nav-container div.ant-tabs-nav-wrap div.ant-tabs-nav-scroll div.ant-tabs-nav div div.ant-tabs-tab{
    border-radius: 4px 4px 0 0;
  }
  nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-body{
    padding:0;
}
nz-modal.options ::ngdeep  div div div.ant-modal div.ant-modal-content div.ant-modal-footer{
    padding:0;
}
ul{
    list-style: none;
    padding: 5px 0 5px 15px;
    margin: 0;
}
li {
    padding: 4px 0 4px 10px;
    font-size: 13px;
    position:relative;
    cursor:pointer;
}
li:hover{
    background:#f2f2f2;
}
li i {
    float:right;
    margin-right:7px;
}
hr{
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 2px 0;
}
li > ul{
    position: absolute;
    display:none;         
    right: -192px;
    padding: 2px 5px;
    background: #fff;
    top: -6px;
    width: 192px;
    transition: all 0.5s ease 3s;
}
li:hover > ul{           
    display:block;
    transition: all 0.5s ease 0s;
}

.selected{
  background:#75afe6;
}
  
.rectangle{
  width: 100%;
  margin-top: 10px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-left: 5px; 
  border-style:solid; 
  border-width: 2px; 
  border-radius: 5px;  
  border-color: rgb(236, 236, 236);
}
.custom-table {
height: 6rem !important;
overflow: auto !important; /* Prevent clipping of content */
}

.custom-table tbody {
height:  5rem;
}

.custom-table thead,
.custom-table tbody tr {
line-height: 1.5; /* Adjust line-height for better fit */
}
.custom-table .ant-empty {
visibility: hidden; /* Hides the entire "No Data" block */
}

.custom-table .ant-empty-description {
display: none; /* Hides the "No Data" message */
}