<nz-modal [(nzVisible)]="findModalOpen" [nzStyle]="{ top: '5px' }" nzWidth="700" [nzZIndex]="1000"
nzTitle="{{Main_Title}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMask]="true" [nzMaskClosable]="false"
[nzClosable]="true">
<div *ngIf="findModalOpen"> <!-- start of model -->
  
  <div nz-col nzSpan="24" style="text-align: center" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <div *ngIf="!loading">
    <div nz-row>
      <div nz-row *ngIf="AddLeave">
        <div nz-col nzSpan="5">
          <label for="">Leave Dates From</label>
          
        </div>
        <div nz-col nzSpan="7">
          
          <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="startDate"></nz-date-picker>
        </div>
        <div nz-col nzSpan="1">
          <label for="">To</label>
          
        </div>
        <div nz-col nzSpan="6">
          
          <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="endDate"></nz-date-picker>
        </div>
      </div>
      
      <div nz-row>
        <div nz-row
        style="background-color:#fafafa;color: rgb(18, 16, 16); padding:2px; margin-top: 5px;  font-size: 15px;">
        <label>Current Leave Balance if Available</label>
      </div>
      <div nz-row >
        <div nz-col nzSpan="24" >
          <label>Leave Type</label>
          <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
          [nzLoading]="loading" [nzData]="leaveData"   [nzBordered]="false" [nzScroll]="{ y: '150px'}">
          
          <thead>
            
            <tr>
              <th nzWidth="20%">Leave Type Code</th>
              <th nzWidth="40%">Leave Description</th>
              <th nzWidth="20%">Pro Data Rate</th>
              <th nzWidth="20%">Balance Hours</th>
              
            </tr>
          </thead>
          <tbody >
            
            <tr *ngFor="let result of leaveData" (click)="onItemSelected(result)"
            (dblclick)="onItemDbClick(result)">
            <td>{{result.leaveTypeCode}}</td>
            <td>{{result.leaveDescription}}</td>
            <td>{{result.proRataDate}}</td>
            <td>{{result.balanceHours}}</td>
            
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
</div>
<div nz-row>
  <!-- <div nz-row style="background-color:#fafafa;color: rgb(18, 16, 16); padding:4px; font-size: 15px;">
    <label>How to treat exiting shifts</label>
  </div> -->
  <div nz-row>
    <div nz-col nz-col nzSpan="5">
      <button nz-button nzType="primary" (click)="openRecipient()"
      style="height: 25px; background-color: #5695e2; font-size: 12px;">Show Recipient</button>
    </div>
    <div nz-col nz-col nzSpan="12">
      <label style="color: rgb(236, 64, 64); font-size: 12px">View/print list of recipients affected by this
        action</label>
      </div>
    </div>
    <div nz-row style="margin-top: 3px; display:flex; flex-direction:column">
      <label nz-checkbox [(ngModel)]="UnavailableForBalanceDays">Make UNAVAILABLE for balance of days</label>
      <div style="margin-top: 3px; display:flex; flex-direction:row">
        <label nz-checkbox [(ngModel)]="UnallocateAdminActivities">Unallocate admin activities</label>
        <label nz-checkbox [(ngModel)]="UnallocateMaster">Unallocate Master roster entries</label>
      </div>
      <label nz-checkbox [(ngModel)]="UnallocateAny">Unallocate any Un-Approved roster entries</label>
      
    </div>
  </div>
  
  
  <div nz-row>
    <div nz-row style="border: 1px solid #e8e8e8;">
      <div nz-row style="background-color:#fafafa;color: rgb(18, 16, 16); padding:4px;">
        <label><b>Reasons for Unavailability</b></label>
        <!-- <label nz-checkbox   [(ngModel)]="chkReason">Select separate reason for each shift</label> -->
      </div>
      <div nz-row>
        <div class="staff-wrapper" style="height: 8rem; width: 100%; overflow: auto; padding:.2rem;">
          <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event,0)">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let data of unavailabilityList; let i = index;">
                <label nz-checkbox [nzValue]="data.value" [(ngModel)]="data.checked"
                (ngModelChange)="updateSingleCheckedFilters(i)" [ngModelOptions]="{standalone: true}">{{
                  data.label }}</label>
                </div>
              </div>
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </div>
    
    
    <div nz-row>
      <div nz-row style="background-color:#fafafa;color: rgb(18, 16, 16); padding:4px;">
        <div nz-row nz-col nzSpan="12">
          <label><b>Pay Code</b></label>
        </div>
        <div nz-row nz-col nzSpan="12">
          <label nz-checkbox [(ngModel)]="chkPayCode" (ngModelChange)="setPayType($event)">Select Pay Type for EACH
            activity created</label>
          </div>
        </div>
        <div nz-row nz-col nzSpan="24">
          <div nz-row nz-col nzSpan="16" style="padding: 5px;">
            <nz-input-group nzAddOnAfterIcon="select" (click)="openList('PayType')" [nzDisabled]="chkPayCode">
              <input placeholder="Select......." type="text" nz-input [(ngModel)]="s_LeavePayType" />
            </nz-input-group>
          </div>
          
        </div>
        
      </div>
      <div nz-row class="rectangle">
        
        <nz-radio-group [(ngModel)]="serviceDuration" (ngModelChange)="logDuration($event)">
          <label nz-radio nzValue="'1'">Pay original service duration</label>
          <label nz-radio nzValue="'2'">Set Pay Duration</label>
          
        </nz-radio-group>
      </div>
      <div nz-row class="rectangle">
        
        <label nz-checkbox [(ngModel)]="chkProgram" (ngModelChange)="setProgram($event)">Accept program of original
          service as program for leave</label>
          
          <div nz-row style="background-color:#fafafa;color: rgb(18, 16, 16); padding:4px;">
            <label>Change program for leave to the folllowing program</label>
          </div>
          <div nz-row nz-col nzSpan="24">
            <div nz-row nz-col nzSpan="16" style="padding: 5px;">
              <nz-input-group nzAddOnAfterIcon="select" (click)="openList('Program')" [nzDisabled]="chkProgram">
                <input placeholder="Select......." type="text" nz-input [(ngModel)]="Program" />
              </nz-input-group>
            </div>
            
          </div>
          
        </div>
      </div>
    </div> <!-- end of model -->
    <div *nzModalFooter>
      <button nz-button style="margin-right: 300px;" nzType="default" (click)="DontRecord()" *ngIf="!loading">Don't Record
        Leave/Absence</button>
        <button nz-button nzType="default" (click)="handleOk()" *ngIf="!loading">OK</button>
        <button nz-button nzType="default" (click)="handleCancel()" *ngIf="!loading">Cancel</button>
      </div>
    </nz-modal>
    
    <nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewList" nzTitle="Day Manager"
    (nzOnCancel)="ViewList = false">
    <div class="flexy" style="min-height:20rem;">
      <div>
        
        <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
        [nzLoading]="loading" [nzData]="datalist" style="height: 400px; width: 340px;" [nzScroll]="{ y: '380px'}">
        <thead>
          <tr>
            <th class="left">Select {{ListType}}</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datalist;let i = index;" (click)="onListlItemSelected(data,i)"
          (dblclick)="onListItemDbClick(data,i)"
          [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
          <td class="left">
            {{ data.title }}
            
          </td>
        </tr>
      </tbody>
    </nz-table>
    
  </div>
  
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="ListSelectionDone()">OK</button>
  <button nz-button nzType="default" (click)="ViewList=false">Cancel</button>
</div>
</nz-modal>
<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="1000" [(nzVisible)]="openRosterList" nzTitle="Day Manager"
(nzOnCancel)="openRosterList = false">
<div class="flexy" style="min-height:20rem;">
  <div>
    
    <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
    [nzLoading]="loading" [nzData]="lstRosters" style="height: 400px; width: 960px;" [nzScroll]="{ y: '600px'}">
    <thead>
      <tr>
        <th nzWidth="10%" class="left">Date</th>
        <th nzWidth="10%" class="left">Start Time</th>
        <th nzWidth="20%" class="left">Staff</th>
        <th nzWidth="30%" class="left">Activity</th>
        <th nzWidth="30%" class="left">PayType</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lstRosters;let i = index;"
      [ngStyle]="{'backgroundColor': i == HighlightRow2 ? '#bbd7fa'  : 'white' }">
      
      <td class="left">{{data.date}}</td>
      <td class="left">{{data.startTime}}</td>
      <td class="left">{{data.staff}}</td>
      <td class="left">{{data.activity}}</td>
      <td class="left">
        <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="data.payType"
        (ngModelChange)="logPayType($event)">
        <nz-option *ngFor="let list of lstPayTypes" [nzValue]="list.title" [nzLabel]="list.title">
        </nz-option>
      </nz-select>
    </td>
  </tr>
</tbody>
</nz-table>

</div>

</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="RosterListDone()">OK</button>
  <button nz-button nzType="default" (click)="openRosterList=false">Cancel</button>
</div>
</nz-modal>