<div nz-row nzGutter="16">
    <div nz-col nzSpan="12" >
        <div class="form-group" [formGroup]="alertGroup">            
            <button class="botton success" (click)="updateHealthAlert()">Save</button>
            <label for=""><h4>Health & Safety Alerts</h4></label>
            <textarea rows="4" formControlName="safetyAlert" nz-input></textarea>
        </div>
    </div>
    <div nz-col nzSpan="12">
        <div class="form-group" [formGroup]="alertGroup">
            <button class="botton success" (click)="updateRosterAlert()">Save</button>
            <label for=""><h4>Roster Alerts</h4></label>            
            <textarea rows="4" formControlName="rosterAlert" nz-input></textarea>
        </div>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <button class="botton success" (click)="showAddModal()">Add Required Competency</button>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="competencies">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Competency</th>
                    <th>Mandatory</th>
                    <th>Notes</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.competency}}</td>
                    <td> <label nz-checkbox [(ngModel)]="data.mandatory" nzDisabled ></label></td>
                    <td>{{ data.notes }}</td>
                    <td>
                        <a (click)="updatecompetency(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Competency?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deletecompetency(data)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!--<nz-modal [(nzVisible)]="alertOpen" nzTitle="Add Competency" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">-->
<nz-modal [(nzVisible)]="alertOpen" [nzTitle]="addOREdit == 0 ? 'Add Competency' : 'Edit Competency'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="12" [formGroup]="competencyGroup">
                <nz-select style="width:100%" nzAllowClear formControlName="competencyValue"  nzPlaceHolder="Competencies">
                    <nz-option *ngFor="let data of competenciesListArr"  [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>
            </div>
            <div nz-col nzSpan="12" [formGroup]="competencyGroup">
                <label nz-checkbox formControlName="mandatory">Mandatory</label>
            </div>
        </div>
        <div nz-row nzGutter="16" >
            <div nz-col [formGroup]="competencyGroup">
                <label for=""><h4>Notes</h4></label>
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>

        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel()">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="competencyProcess()" [disabled]="!this.competencyGroup.get('competencyValue').value">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>