<div nz-row>
    <div nz-col nzSpan="24" style="text-align:left" >
        <!-- <button class="botton" (click)="showAddModal()">Add Branch</button> -->
    
         <div nz-row><label for="">Branches</label></div>
        <div nz-row style="display:flex; flex-direction: row; margin-top:5px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy"
                *ngIf="getPermisson(51) == '1'   "
                (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy"
                *ngIf="getPermisson(52) == '1' "  
                (click)="showEditModal(selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange"
                *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(2,{})">Del</button>
                <button class="btnlevel2navy"                
                (click)="generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
        <div nz-row>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
            <thead>
                <tr>
                    <!-- <th class="left" style="width:10%;">#</th> -->
                    <th style="width:20%">Branch</th>
                    <th style="width:70%">Notes</th>
                    <!-- <th class="action">Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"  [class.selected]="i==selectedRowIndex"
                (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(i)" (contextmenu)="contextMenu($event, menu, data)">
                    <!-- <td class="left" style="width:10%">{{ i+1  }}</td> -->
                    <td style="width:20%">{{ data.branch }}</td>
                    <td style="width:70%">{{ data.notes }}</td>
                    <!-- <td>
                        <a (click)="showEditModal(i)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete the branch?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(i)">Delete</a>
                    </td> -->
                </tr>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="menuclick($event,1)"> <span nz-icon nzType="edit" nzTheme="outline"></span>Edit Record</li>
                      <li nz-menu-item (click)="menuclick($event,2)"><span nz-icon nzType="delete" nzTheme="outline"></span>Delete Record</li>
                      <li nz-menu-divider></li>
                      <li nz-menu-item (click)="menuclick($event,3)"><span nz-icon nzType="printer" nzTheme="outline"></span>Print</li>
                      <li nz-menu-item (click)="menuclick($event,4)"><span nz-icon nzType="close" nzTheme="outline"></span>Close</li>
                    </ul>
                  </nz-dropdown-menu>
            </tbody>
        </nz-table>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add Branch' : 'Edit Branch'" (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item *ngIf="addOREdit == 1">
                <nz-form-label [nzNoColon]="true">Branch</nz-form-label>
                <nz-form-control nzErrorTip="Branch is required!">
                    <nz-select formControlName="branch" nzAllowClear [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of branches" [nzValue]="d" [nzLabel]="d">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div class="form-group" *ngIf="addOREdit == 2">
                <label for="">Branch</label>
                <input nz-input formControlName="branch" disabled />
            </div>
        </div>
        <div nz-row>
            <div class="form-group">
                <label for="">Notes</label>
                <textarea rows="4" nz-input formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>