
    

<div nz-row >
    <div nz-col nzSpan="24" >
       <!--<button class="botton success" (click)="showAddModal(2)">Add Recipient competency</button>--> 
        <label for="">Competencies</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy"
                *ngIf="getPermisson(51) == '1'   "
                (click)="showAddModal(1)">Add</button>
            <button class="btnlevel2navy"
                *ngIf="getPermisson(52) == '1' "  
                (click)="showEditModal(activeRowData)">Edit</button>
            <button class="btnlevel2orange"
                *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
                <button class="btnlevel2navy"                
                (click)=" generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
        <nz-table #ss2 [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="lstCompetencies">
            <thead>
                <tr>
                    <!-- <th>Record #</th> -->
                    <th>Competency</th>
                    <th>Mandatory</th>
                    <th>Notes</th>
                  
                <!--  <th>Actions</th>--> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of lstCompetencies;let i = index;trackBy: trackByFn"   [class.selected]="i==selectedRowIndex || selectedcompetencies.indexOf(data)>-1"
                (click)="RecordClicked($event,data,i, true);" (dblclick)="showEditModal(data)">
                    <!-- <td class="left">{{ data.recordNumber  }}</td> -->
                    <td>{{ data.competency}}</td>
                    <td> <label nz-checkbox [(ngModel)]="data.mandatory"></label></td>
                    <td>{{ data.notes }}</td>
                  <!-- <td>
                        <a (click)="updatecompetency(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want delete this Recipient competency From List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deletecompetency(data)">Delete</a>
                    </td> --> 
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- <nz-modal [(nzVisible)]="definedOpen" [nzTitle]="addOREdit == 1 ? 'Add User Group' : 'Update User Group'" (nzOnCancel)="handleCancel(1)" (nzOnOk)="handleOk()">
    <div>
        
        <div nz-row nzGutter="16" class="mrg-btm" >
            <div nz-col nzSpan="24" *ngIf="addOREdit == 1">
                <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Group</h4>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let data of dropDowns?.userGroups">
                                <label nz-checkbox [nzValue]="data.value" [(ngModel)]="data.checked" [ngModelOptions]="{standalone: true}">{{ data.label }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
            </div>
            <div nz-col nzSpan="12" [formGroup]="userGroupForm" *ngIf="addOREdit == 2">
                <label for="">Group</label>
                <input nz-input formControlName="group" disabled />
            </div>
            <div nz-col nzSpan="12" [formGroup]="userGroupForm">
                <label for=""></label>
                <label nz-checkbox formControlName="alert" style="margin-top: 20px;">Display Alert on Mobile App</label>
            </div>
        </div>
        <div nz-row nzGutter="16" class="mrg-btm">
            <div nz-col nzSpan="12" [formGroup]="userGroupForm">  
                <label for="">Start Date:</label>              
                <nz-date-picker formControlName="date1" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
            <div nz-col nzSpan="12" [formGroup]="userGroupForm">  
                <label for="">End Date:</label>              
                <nz-date-picker formControlName="date2" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="16" class="mrg-btm">
            <div nz-col nzSpan="24" [formGroup]="userGroupForm">  
            <label for="">Email:</label>
            <input nz-input  formControlName="email" />
            </div>
        </div>
        <div nz-row nzGutter="16" >
            <div nz-col [formGroup]="userGroupForm">
                <label for=""><h4>Notes</h4></label>
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel(1)">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="userGroupProcess()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal> -->
  <nz-modal [(nzVisible)]="competencyOpen" [nzTitle]="addOREdit == 1 ? 'Add Competency' : 'Update Competency'" (nzOnCancel)="handleCancel(2)" (nzOnOk)="handleOk()">
    <div style="display:flex; flex-direction:column">
        <div nz-row nzGutter="16">
            <!-- <div nz-col nzSpan="24" *ngIf="addOREdit == 1">
                <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The competency</h4>
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs2($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let data of dropDowns?.competencys">
                                <label nz-checkbox [nzValue]="data.value" [(ngModel)]="data.checked" [ngModelOptions]="{standalone: true}">{{ data.label }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
            </div> -->
            <div nz-col nzSpan="12" [formGroup]="competencyForm" >
                <label for="">competency</label>
                <input nz-input formControlName="competencyValue" disabled />
            </div>
           
        </div>
        <div nz-row nzGutter="16" >
            <div nz-col  [formGroup]="competencyForm" >
                <label nz-checkbox formControlName="mandatory">Mandatory</label>
              
            </div>
        </div>
        <div nz-row nzGutter="16" >
            <div nz-col [formGroup]="competencyForm">
                <label for=""><h4>Notes</h4></label>
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>

        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel(2)">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="competencyProcess()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>
  
<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewAllocateResourceModal" nzTitle="Competencies"   (nzOnCancel)="ViewAllocateResourceModal = false" >
    <div  class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="serviceActivityList">
           <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
           </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="serviceActivityList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
                <thead>
                    <tr>
                        <th class="left">Select Competency</th>                                 
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of serviceActivityList;let i = index;" (click)="RecordClicked($event, data, i, false)" 
                    (dblclick)="onItemDbClick(data,i)"
                    [class.selected]="selectedcompetencies.includes(data)">
                        <td class="left">                                     
                                {{ data  }}                                      
                           
                        </td>
                    </tr>
                </tbody>
            </nz-table> 
        
    </div>            
    
</div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="save()">OK</button>
        <button nz-button nzType="default" (click)="ViewAllocateResourceModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>