<div nz-row>
    <div nz-col nzSpan="24" >
    <!--    <button class="botton success" (click)="showAddModal()">Add Consent</button>-->
        <label for="">Consent</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy"
                *ngIf="getPermisson(51) == '1'   "
                (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy"
                *ngIf="getPermisson(52) == '1' "  
                (click)="showEditModal(activeRowData)">Edit</button>
            <button class="btnlevel2orange"
                *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
                <button class="btnlevel2navy"                
                (click)=" generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="consents">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Consent</th>
                    <th>Start Date</th>
                    <th>Expiry</th>
                    <th>Notes</th>
                 <!--   <th class="action">Actions</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex || selectedconsents.indexOf(data)>-1"
                (click)="RecordClicked($event,data,i, true);" (dblclick)="showEditModal(data)">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.consent}}</td>
                    <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                    <td> {{ data.expiryDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.notes }}</td>
                 <!--  <td>
                        <a (click)="showEditModal(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this consent from the List?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deleteconsent(data)">Delete</a>
                    </td>--> 
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="consentOpen" [nzTitle]="addOREdit == 0 ? 'Add Consent' : 'Edit Consent'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>
        <div nz-row nzGutter="16" *ngIf="addOREdit == 0">
            <div class="staff-wrapper" style="height: 10rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Consent</h4>
                <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs($event)">
                    <div nz-row>
                        <div nz-col nzSpan="24" *ngFor="let list of lists">
                            <label nz-checkbox [nzValue]="list.value" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.label }}</label>
                        </div>
                    </div>
                </nz-checkbox-wrapper>
            </div>
        </div>
        <div nz-row nzGutter="16" *ngIf="addOREdit == 1">
            <div nz-col nzSpan="12" [formGroup]="consentGroup">
                <!-- <nz-select style="width:100%" nzAllowClear formControlName="consent"  nzPlaceHolder="Consent">
                    <nz-option *ngFor="let data of consents"  [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select> -->
                <input type="text" formControlName="consent" disabled style="border: 1px solid #e9e9e9; width:100%; height:40px"/>
               
            </div>
        </div>
        <div nz-row nzGutter="16">
            <div nz-col [formGroup]="consentGroup">
                <label for=""><h4>Start Date</h4></label>                
                <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat" nzPlaceHolder="Start Date"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="16">
            <div nz-col [formGroup]="consentGroup">
                <label for=""><h4>Expiry Date</h4></label>                
                <nz-date-picker formControlName="expiryDate" [nzFormat]="dateFormat" nzPlaceHolder="Expiry Date"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="16" >
            <div nz-col [formGroup]="consentGroup">
                <label for=""><h4>Notes</h4></label>
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>

        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel()">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="consentProcess()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>

  <nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewAllocateResourceModal" nzTitle="Consents"   (nzOnCancel)="ViewAllocateResourceModal = false" >
    <div  class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="serviceActivityList">
           <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
           </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="serviceActivityList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
                <thead>
                    <tr>
                        <th class="left">Select Competency</th>                                 
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of serviceActivityList;let i = index;"  (click)="RecordClicked($event, data, i, false)" 
                    (dblclick)="onItemDbClick(data,i)" 
                    [class.selected]="selectedconsents.includes(data)">
                        <td class="left">                                     
                                {{ data  }}                                      
                           
                        </td>
                    </tr>
                </tbody>
            </nz-table> 
        
    </div>            
    
</div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="save()">OK</button>
        <button nz-button nzType="default" (click)="ViewAllocateResourceModal=false">Cancel</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>