<div nz-row>
    <div nz-col nzSpan="24" >
        <!-- <button class="botton success" (click)="showAddModal()">Add Funding</button> -->
        <label for="" >Funding</label>
        <div style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <!-- <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button> -->
            <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                (click)="showEditModal(selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(2,{})">Del</button>
            <button class="btnlevel2navy" (click)=" generatePdf()">Print</button>
            <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>

        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
            <thead>
                <tr>
                    <!-- <th class="left">#</th> -->
                    <th>Source</th>
                    <th>Program</th>
                    <th>Status</th>
                    <th>Case Manager</th>
                    <th>Details</th>
                    <!-- <th class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex"
                    (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(i)" (contextmenu)="contextMenu($event, menu, data)">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.source }}</td>
                    <td>{{ data.program }}</td>
                    <td>{{ data.status }}</td>
                    <td>{{ data.cm }}</td>
                    <td>{{ data.details }}</td>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item (click)="menuclick($event,1)"> Transition Program</li>
                          <!-- <li nz-menu-item (click)="menuclick($event,2)"><span nz-icon nzType="delete" nzTheme="outline"></span>Delete Record</li> -->
                         
                        </ul>
                      </nz-dropdown-menu>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<package-view [ViewPackage]="ViewPackage"></package-view>


<nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="showProgramList" nzTitle="Select a New Program"   (nzOnCancel)="showProgramList = false" >
    <div  class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="ProgramList">
           <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
           </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="ProgramList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
                <thead>
                    <tr>
                        <th class="left">Select Program</th>                                 
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of ProgramList;let i = index;" (click)="RecordClicked($event, data, i)" 
                    (dblclick)="onItemDbClick(data,i)" [class.selected]="i==HighlightRow2">
                        <td class="left">                                     
                                {{ data  }}                                      
                           
                        </td>
                    </tr>
                </tbody>
            </nz-table> 
        
    </div>            
    
</div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="allocateNewProgram()">OK</button>
        <button nz-button nzType="default" (click)="showProgramList=false">Cancel</button>
    </div>
</nz-modal>


<nz-modal [(nzVisible)]="showDateModal" [nzWidth]="450" [nzStyle]="{ top: '20px' }"
  [nzTitle]="'Enter New Filename for File already exists'" (nzOnCancel)="showDateModal=false" (nzOnOk)="setDate()">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="14"> <label>Move Services from Date </label></div>
    <div nz-col nzSpan="10" class="form-group">
       
        <div class="form-group">
            <nz-date-picker nzSize="default" [(ngModel)]="startDate" [nzFormat]="dateFormat"></nz-date-picker>
        </div>
    </div>
  </div>

  <div *nzModalFooter>
    <ng-container>

      <button nz-button nzType="primary" (click)="setDate()">
        <span>OK</span>
      </button>
      <button nz-button nzType="primary" (click)="showDateModal=false">
        <span>Cancel</span>
      </button>
    </ng-container>
  </div>
</nz-modal>


<discharge-program [ViewDischarge]="ViewDischarge"></discharge-program>


<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>
