<div nz-row>
    <div nz-col nzSpan="24" >
        <button class="botton success" (click)="showCarePlanStrategiesModal()">Add Goal</button>
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
            [nzFrontPagination]="false" [nzData]="tableData">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Anticipated Date</th>
                    <th>Last Review</th>
                    <th>Completed</th>
                    <th>%</th>
                    <th style="width:15rem">Goals</th>
                    <!-- <th class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn" >
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.achievementDate | date: 'dd/MM/y' }}</td>
                    <td>{{ data.lastReviewed | date: 'd/M/yyyy' }}</td>
                    <td>{{ data.dateAchieved | date: 'dd/MM/y' }}</td>
                    <td>{{ data.achievement }}</td>
                    <td>{{ data.goal }}</td>
                    <!-- <td>
                        <a (click)="showEditCarePlanModal(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this From Goal list?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deleteCarePlanGoal(data)">Delete</a>
                    </td> -->
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzWidth]="1050"  [(nzVisible)]="goalAndStrategiesmodal" nzTitle="Add/Change Goals" (nzOnCancel)="handlegoalsStarCancel()">
    <form nz-form [formGroup]="goalsAndStratergiesForm" >
        <div nz-row nzGutter="24">
            <div *ngIf="!isUpdateGoal" class="staff-wrapper" style="height: 20rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="24">
                        <div class="form-group">    
                            <label nzFor="Care Domain">Select Care Plan Goal:</label>
                            <nz-select  nzSize="small" formControlName="goal" nzAllowClear nzShowSearch>
                                <nz-option *ngFor="let c of goalOfCarelist" [nzValue]="c" [nzLabel]="c"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isUpdateGoal">
                <div nz-row nzSpan="24" class="mrg-btm">
                    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFinderIndexbtn">
                        <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChangeStrategies(0)"> </nz-tab>
                        <nz-tab nzTitle="Strategies" (nzClick)="tabFindChangeStrategies(1)"> </nz-tab>
                    </nz-tabset>
                    <div>
                        <div *ngIf="tabFinderIndexbtn == 0"  [formGroup]="goalsAndStratergiesForm">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="22" nzOffset="2">
                                    <!-- <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <input nz-input formControlName="title" nzSize="small"  />
                                                </div>
                                            </div>
                                        </div>
                                    </div>  -->
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor="">Goal : </label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <textarea rows="4" nz-input  formControlName="goal"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Anticipated Achivement Date : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="achievementDate" formControlName="achievementDate" nzSize="small" [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Last Reviewd : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="small" formControlName="lastReviewed" [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Date Achived : </label>
                                            </div>
                                            <div nz-col nzSpan="6">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-date-picker nzSize="small" formControlName="dateAchieved" [nzFormat]="dateFormat"></nz-date-picker>
                                                </div>
                                            </div>
                                            <div nz-col nzSpan="3" class="text-right pad-r-5">
                                                <label nzFor="">% Achived : </label>
                                            </div>
                                            <div nz-col nzSpan="1">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <input nz-input formControlName="achievement" nzSize="small"  />
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right">
                                                <label nzFor=""></label>
                                            </div>
                                            <div nz-col nzSpan="5" class="text-right pad-r-5">
                                                <label nzFor="">Achivement Index : </label>
                                            </div>
                                            <div nz-col nzSpan="10">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <nz-select formControlName="achievementIndex" nzSize="small" nzAllowClear nzPlaceHolder="Code">
                                                        <nz-option *ngFor="let d of plangoalachivementlis" [nzValue]="d" [nzLabel]="d"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-row nzJustify>
                                        <div nz-col nzSpan="24">
                                            <div nz-col nzSpan="2" class="text-right pad-r-5">
                                                <label nzFor="">Notes : </label>
                                            </div>
                                            <div nz-col nzSpan="15">
                                                <div class="form-group" style="margin-bottom:7px;">
                                                    <textarea rows="4" nz-input  formControlName="notes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tabFinderIndexbtn == 1"  [formGroup]="goalsAndStratergiesForm">
                            <div nz-row nzGutter="32">
                                <div nz-col nzSpan="12">
                                    <div class="controls">
                                        <button class="botton success" (click)="showStrategiesModal()">Add Strategy</button>
                                    </div>
                                </div>
                                <div nz-col nzSpan="8" nzOffset="4">
                                    <div class="right">
                                        <!-- <label nz-checkbox >Expand Stretegy Details</label> -->
                                    </div>
                                </div>
                            </div>
                            <div nz-row>
                                <nz-table #headerTable [nzShowPagination]="false" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="stratergiesList" nzSize="small" [nzScroll]="{ y: '340px' }">
                                    <thead>
                                        <tr>
                                            <th style="width:50%;">Strategy</th>
                                            <th style="width:20%;">Achived</th>
                                            <th style="width:10%">Contracted ID</th>
                                            <th style="width:10%;">DS Services</th>
                                            <th style="width:10%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of headerTable.data">
                                            <td style="width:50%;">{{data.strategy}}</td>
                                            <td style="width:20%;">{{data.achieved}}</td>
                                            <td style="width:10%;">{{data.contractedId}}</td>
                                            <td style="width:10%;">{{data.DsServices}}</td>
                                            <td style="width:10%;">
                                                <a (click)="showEditStrategyModal(data)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this from Strategy List ?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteCarePlanStrategy(data)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveCarePlan()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>

</nz-modal>

<nz-modal [nzWidth]="900"  [(nzVisible)]="strategiesmodal" nzTitle="Add/Change Plan Goal Stretegy" (nzOnCancel)="handleStarCancel()">
    <form nz-form [formGroup]="stratergiesForm" >
        <div nz-row nzGutter="24">
            <div nz-row nzJustify>
                <div nz-col nzSpan="24">
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="4" class="text-right pad-r-5">
                                <label nzFor="">Strategy Detail : <br> Max 4000 characters</label>
                            </div>
                            <div nz-col nzSpan="20">
                                <div class="form-group" style="margin-bottom:7px;">
                                    <div class="form-group" style="margin-bottom:7px;">
                                        <textarea rows="4" nz-input  formControlName="detail"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <div nz-col nzSpan="8" class="text-right pad-r-5">
                                <label nzFor="">Expected Outcome : </label>
                            </div>
                            <div nz-col nzSpan="6" class="pad-r-5">
                                <div class="form-group" style="margin-bottom:7px;">
                                    <nz-select formControlName="outcome" nzSize="small" nzAllowClear nzPlaceHolder="Code">
                                        <nz-option *ngFor="let d of expecteOutcome" [nzValue]="d" [nzLabel]="d"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-col nzSpan="4">
                                Contracted Strategy ID : 
                            </div>
                            <div nz-col nzSpan="6">
                                <input nz-input formControlName="strategyId" nzSize="small"  />
                            </div>
                        </div>
                    </div>  
                </div>
            </div>    
        </div>
    </form>
    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="primary" [nzLoading]="postLoading" (click)="saveStrategy()">
                <span>Save</span>
            </button>
        </ng-container>
    </div>
</nz-modal>           
<!-- <nz-modal [(nzVisible)]="modalOpen" [nzTitle]="addOREdit == 1 ? 'Add Branch' : 'Edit Branch'"
    (nzOnCancel)="handleCancel()">
    <div [formGroup]="inputForm">
        <div nz-row>
            <nz-form-item *ngIf="addOREdit == 1">
                <nz-form-label [nzNoColon]="true">Branch</nz-form-label>
                <nz-form-control nzErrorTip="Branch is required!">
                    <nz-select formControlName="branch" nzAllowClear [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of alist" [nzValue]="d" [nzLabel]="d">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <div class="form-group" *ngIf="addOREdit == 2">
                <label for="">Branch</label>
                <input nz-input formControlName="branch" disabled />
            </div>
        </div>
        <div nz-row>
            <div class="form-group">
                <label for="">Notes</label>
                <textarea rows="4" nz-input formControlName="notes"></textarea>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal> -->

