<div nz-row>
    <div nz-col nzSpan="24" >
      <!--<button class="botton success" (click)="showAddModal(1)">Add Recipient Group</button>-->  
        <label for="">Group & Alerts</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy"
                *ngIf="getPermisson(51) == '1'   "
                (click)="showAddModal(1)">Add</button>
            <button class="btnlevel2navy"
                *ngIf="getPermisson(52) == '1' "  
                (click)="showEditModal(activeRowData)">Edit</button>
            <button class="btnlevel2orange"
                *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
                <button class="btnlevel2navy"                
                (click)=" generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange"  (click)="close()">close</button> -->
        </div>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="groupTypes">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Group</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Mobile Alert</th>
                    <!-- <th>Client Alert</th> -->
                    <th nzWidth="50%">Notes</th>
                    <!-- <th class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex || selectedGroups.indexOf(data)>-1"
                (click)="RecordClicked($event,data,i,true);" (dblclick)="showEditModal(data)">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.name}}</td>
                    <td>{{ data.date1 | date : 'dd/MM/yy'}}</td>
                    <td>{{ data.date2 | date : 'dd/MM/yy'}}</td>
                    <td><label nz-checkbox nzDisabled [ngModel]="data.mobileAlert" nzDisabled ></label></td>
                    <!-- <td><label nz-checkbox nzDisabled [ngModel]="data.recurring" nzDisabled ></label></td> -->
                    <td nzWidth="50%">{{ data.notes }}</td>
                 <!--  <td class="action">
                        <a (click)="showEditModal(data)">Update</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Recipient Group From the List?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteUserGroup(data)">Delete</a>
                    </td>--> 
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="definedOpen" [nzTitle]="addOREdit == 1 ? 'Add User Group' : 'Update User Group'" (nzOnCancel)="handleCancel(1)" (nzOnOk)="handleOk()">
    <div [formGroup]="userGroupForm">
        
        <div nz-row nzGutter="24"  >
            <div nz-col nzSpan="6"  >
                <label for="">Group</label>
               
            </div>
            <div nz-col nzSpan="18" >
                <input nz-input formControlName="group" disabled />
            </div>
          
        </div>
        <div nz-row nzGutter="24"  >
          
            <div nz-col nzSpan="6" >
                <label for="">App Alert</label>
            </div>
             <div nz-col nzSpan="18" >
                <label nz-checkbox formControlName="mobileAlert" ></label>
            </div>
        </div>
        <div nz-row nzGutter="24"  >
          
            <div nz-col nzSpan="6" >
                <label for="">Client Alert</label>
            </div>
            <div nz-col nzSpan="18" >
                <label nz-checkbox formControlName="recurring" ></label>
            </div>
        </div>
        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6" >  
                <label for="">Start Date:</label>    
            </div>
            <div nz-col nzSpan="18" >          
                <nz-date-picker formControlName="date1" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="24"  >
            <div nz-col nzSpan="6" >  
                <label for="">End Date:</label>    
            </div>
            <div nz-col nzSpan="18" >          
                <nz-date-picker formControlName="date2" [nzFormat]="dateFormat"></nz-date-picker>
            </div>
        </div>
        <!-- <div nz-row nzGutter="18" >
            <div nz-col nzSpan="24" [formGroup]="userGroupForm">  
            <label for="">Email:</label>
            <input nz-input  formControlName="email" />
            </div>
        </div> -->
        <div nz-row nzGutter="24" >
            <div nz-col nzSpan="6" >
                <label for=""><h4>Notes</h4></label>
            </div>
            <div nz-col nzSpan="18" >
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>
        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel(1)">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="userGroupProcess()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
  </nz-modal>

  <nz-modal [nzStyle]="{ top: '5px' }" [nzWidth]="400" [(nzVisible)]="ViewAllocateResourceModal" nzTitle="Consents"   (nzOnCancel)="ViewAllocateResourceModal = false" >
    <div  class="flexy" style="min-height:20rem;" hasBackdrop>
        <div *ngIf="serviceActivityList">
           <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch" (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text" (change)="onTextChangeEvent($event)"/>
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
           </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                [nzData]="serviceActivityList"  style="height: 700px; width: 340px;"  [nzScroll]="{ y: '680px'}">
                <thead>
                    <tr>
                        <th class="left">Select Competency</th>                                 
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of serviceActivityList;let i = index;"  (click)="RecordClicked($event, data, i, false)" 
                    (dblclick)="onItemDbClick(data,i)" 
                    [class.selected]="selectedGroups.includes(data)">
                        <td class="left">                                     
                                {{ data  }}                                      
                           
                        </td>
                    </tr>
                </tbody>
            </nz-table> 
        
    </div>            
    
</div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="save()">OK</button>
        <button nz-button nzType="default" (click)="ViewAllocateResourceModal=false">Cancel</button>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>