<div nz-row>
    <div nz-col nzSpan="24" >
        <!--    <button class="botton success" (click)="showAddModal()">Add placement</button>-->
        <label for="">Placement</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                (click)="showEditModal(activeRowData)">Edit</button>
            <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
            <button class="btnlevel2navy" (click)=" generatePdf()">Print</button>
            <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
        <nz-table #sss [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
            [nzData]="placementData">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Type</th>
                    <th>Carer Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Referral</th>
                    <th>ATC</th>
                    <th>Notes</th>
                    <!--   <th class="action">Actions</th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sss.data;let i = index;trackBy: trackByFn"
                    [class.selected]="i==selectedRowIndex || selectedplacements.indexOf(data)>-1"
                    (click)="RecordClicked($event,data,i, true);" (dblclick)="showEditModal(data)">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.type}}</td>
                    <td>{{ data.carer}}</td>
                    <td>{{ data.startDate | date: 'dd/MM/y' }}</td>
                    <td> {{ data.endDate | date: 'dd/MM/y' }}</td>
                    <td> <label nz-checkbox [(ngModel)]="data.referral"></label></td>
                    <td> <label nz-checkbox [(ngModel)]="data.atc"></label></td>
                    <td>{{ data.notes }}</td>

                </tr>
            </tbody>
        </nz-table>
    </div>
</div>




<nz-modal [(nzVisible)]="placementOpen" [nzTitle]="addOREdit == 0 ? 'Add placement' : 'Edit placement'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div>

        <div nz-row nzGutter="16" [formGroup]="placementGroup">

            <div nz-col nzSpan="6"><label for="">
                    <h4>Type</h4>
                </label> </div>
            <div nz-col nzSpan="16">
                <nz-select style="width:100%" nzAllowClear formControlName="type" nzPlaceHolder="placement">
                    <nz-option *ngFor="let data of placements" [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>

            </div>
        </div>
        <div nz-row nzGutter="16" [formGroup]="placementGroup">

            <div nz-col nzSpan="6"> <label for="">
                    <h4>Carer</h4>
                </label> </div>
            <div nz-col nzSpan="16">
                <input type="text" formControlName="name" 
                    style="border: 1px solid #e9e9e9; width:100%; height:40px" />

            </div>
        </div>
        <div nz-row nzGutter="16" [formGroup]="placementGroup">
            <div nz-col nzSpan="6">
                <label for="">
                    <h4>Start Date</h4>
                </label>
            </div>
            <div nz-col nzSpan="16">
                <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat"
                    nzPlaceHolder="Start Date"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="16" [formGroup]="placementGroup">
            <div nz-col nzSpan="6">
                <label for="">
                    <h4>End Date</h4>
                </label>
            </div>
            <div nz-col nzSpan="16">
                <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat"
                    nzPlaceHolder="Expiry Date"></nz-date-picker>
            </div>
        </div>
        <div nz-row nzGutter="16" [formGroup]="placementGroup">
            <div nz-col nzSpan="6">
                <label for="">
                    <h4>On File</h4>
                </label>
            </div>
            <label nz-checkbox formControlName="referral">(Referral Matching Tool on File)</label>
            <!-- <div nz-col nzSpan="16" >
                <div   [formGroup]="placementGroup" >
                    <label nz-checkbox formControlName="referral">(Referral Matching Tool on File)</label>
                  
                </div>
            </div> -->
            
        </div>
        <div nz-row  nzGutter="16" [formGroup]="placementGroup">
            <div nz-col nzSpan="6">
                <label for="">
                    <h4>ATC</h4>
                </label>
            </div>
            <label nz-checkbox formControlName="atc">ATC</label>
            <!-- <div nz-col nzSpan="16" >
                <div   [formGroup]="placementGroup" >
                    <label nz-checkbox formControlName="atc">ATC</label>
                  
                </div>
            </div> -->
           
        </div>
        <div nz-row nzGutter="16" [formGroup]="placementGroup">
            <div nz-col nzSpan="6">
                <label for="">
                    <h4>Notes</h4>
                </label>
            </div>
            <div nz-col nzSpan="16">
                <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
            </div>
        </div>

        <div *nzModalFooter>
            <ng-container>
                <button nz-button nzType="default" (click)="handleCancel()">
                    <span>Cancel</span>
                </button>
                <button nz-button nzType="primary" (click)="save()">
                    <span>Save</span>
                </button>
            </ng-container>
        </div>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>