<div nz-row>

    <div nz-col nzSpan="24" >
        <!-- <button class="botton success" (click)="showAddModal()">Add Plan</button> -->
        <label for="" >Plans</label>


        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
            <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                (click)="showEditModal(selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Archive</button>
            <button class="btnlevel2navy" (click)=" generatePdf()">Print</button>
            <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->

            <button class="btnlightorange" style="margin-left:50px" (click)="signingStatus()">Signing Status</button>
            <button class="btnlevel2navy" (click)="search(user)">refresh</button>
            <button class="btnlevel2navy" (click)="ViewFilters()">Filters (All Dates, Top 20)</button>
        </div>


    </div>
</div>
<div nz-row>
    <div div nz-col nzSpan="24" *ngIf="showFilters">
        <app-filter [(ngModel)]="filters" [LIMIT_TABS]="LIMIT_TABS" (ngModelChange)="filterChange($event)"></app-filter>
    </div>
</div>
<div nz-row>
    <div >
        <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Name/Description</th>
                    <th>Plan Type</th>
                    <th>St</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Filename</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"
                    [class.selected]="i==selectedRowIndex" (click)="selectedItemGroup(data,i);"
                    (dblclick)="showEditModal(i)">
                    <!-- <td class="left">{{ i+1  }}</td> -->
                    <td>{{ data.carePlan}}</td>
                    <td>{{ data.planType }}</td>
                    <td>{{ data.st }}</td>
                    <td>{{ data.startDate | date: 'd/M/yyyy' }}</td>
                    <td>{{ data.endDate | date: 'd/M/yyyy' }}</td>
                    <td>{{ data.created }}</td>
                    <td>{{ data.modified }}</td>
                    <td>{{ data.filename }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="400" [(nzVisible)]="modalOpen" nzTitle="Select a Service Agreement "
    (nzOnCancel)="modalOpen = false">
    <div class="flexy" style="min-height:45rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; padding-left: 5px; ">

            </div>
            <div nz-row nzGutter="8" class="rectangle">


                <div class="form-group" nz-col nzSpan="24">

                    <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                        [nzBordered]="true" [nzScroll]="{y: '66vh' }" [nzFrontPagination]="false" [nzData]="alist">
                        <thead>
                            <tr>
                                <th nzLeft nzWidth="15%">Service Agreement Group</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of alist;let i = index;" (click)="selectService(data,i);"
                                (dblclick)="AllocatePlan(data, i)">
                                <td style="width:600px">{{data.title}}</td>

                            </tr>
                        </tbody>
                    </nz-table>


                </div>


            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="AllocatePlan(selectedServiceAgreement,selectedRowIndex)">OK</button>
        <button nz-button nzType="default" (click)="modalOpen=false">Cancel</button>
    </div>
</nz-modal>

<app-add-quote [open]="newQuoteModal" [user]="user" [option]="option" [record]="record"
    (refresh)="refreshQuote($event)"></app-add-quote>

<nz-modal [nzStyle]="{ top: '15px' }" [nzWidth]="800" [(nzVisible)]="DocusingModel" nzTitle="Document Status Summary "
    (nzOnCancel)="DocusingModel = false">
    <div class="flexy" style="min-height:25rem;">
        <div nz-row nzGutter="8">
            <div nz-row style="padding-top: 10px; right: 5px; ">
                <label nz-checkbox [(ngModel)]="showUnset" (ngModelChange)="showAllDocuments()">Include Unset</label>
            </div>

            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="isLoading" [nzSize]="'small'"
                [nzBordered]="true" [nzScroll]="{y: '350px', x:'750px' }" [nzFrontPagination]="false"
                [nzData]="doclist">
                <thead>
                    <tr>
                        <th nzLeft nzWidth="20%">Recipient</th>
                        <th nzLeft nzWidth="45%">Document Name</th>
                        <th nzLeft nzWidth="15%">DocuSign Status</th>
                        <th nzLeft nzWidth="15%">Traccs Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of doclist;let i = index;" (click)="selectDcocusign(data,i)"
                        [class.selected]="i==selectedRow2">
                        <td nzWidth="20%">{{data.recipient}}</td>
                        <td nzWidth="45%">{{data.document}}</td>
                        <td nzWidth="15%">{{data.docusignStatus}}</td>
                        <td nzWidth="20%">{{data.traccsStatus}}</td>

                    </tr>
                </tbody>
            </nz-table>


        </div>
    </div>
    <div *nzModalFooter>

        <button nz-button nzType="default" (click)="DocusingModel=false">Cancel</button>
    </div>
</nz-modal>

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>