<div nz-row>
    <div nz-col nzSpan="24" >
    <div nz-col nzSpan="24" >
        <div nz-col nzSpan="24">
            <!-- <button class="botton success" (click)="showAddModal()">Add Service</button> -->
            <label for="">Services</label>
            <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

                <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
                <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                    (click)="showEditModal(activeRowData)">Edit</button>
                <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="confirm(activeRowData)">Archive</button>
                <!-- <button class="btnlevel2navy" (click)="print()">Print</button> -->
                <!-- <button class="btnlevel2orange"    (click)="close()">close</button> -->
            </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzData]="tableData" style="width:100%">
                <thead>

                    <tr>
                        <!-- <th>Plan #</th> -->
                        <!-- <th>Plan Name</th>                      
                        <th>Creator</th>
                        <th>End Date</th>
                        <th>Copay Amount</th>
                        <th>Detail</th>
                        <th>Reminder Date</th>
                        <th>Reminder Text</th> -->

                        <!-- <th class="action">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"
                        (click)="selectedItemGroup(data,i);" (dblclick)="showEditModal(data)">
                        <div
                            style="display:flex; flex-direction:row; background-color: #c9d6dd; padding:5px 5px 5px 5px;">
                            <span style="width: 50px; padding-left:3px">ID #</span>
                            <input nz-input nzSize="small" [(ngModel)]="data.plannumber" style="width: 100px;" />
                            <span style="width: 50px; padding-left:3px">Name</span>
                            <input nz-input nzSize="small" [(ngModel)]="data.planname" style="width: 350px;" />
                        </div>
                        <div style="display:flex; flex-direction:row; font: size 12px; ">
                            <div style="display:flex; flex-direction:column; ">
                                <div style="display:flex; flex-direction:row; margin:2px ">
                                    <span style="width: 100px;">Start Date</span>
                                    <input nz-input nzSize="small" [(ngModel)]="data.planstartdate"
                                        style="width: 100px;" />
                                </div>
                                <div style="display:flex; flex-direction:row; margin:2px ">
                                    <span style="width: 100px;">End Date</span>
                                    <input nz-input nzSize="small" [(ngModel)]="data.planenddate"
                                        style="width: 100px;" />
                                </div>
                                <div style="display:flex; flex-direction:row; margin:2px ">
                                    <span style="width: 100px;">Co-Pay Amount</span>
                                    <input nz-input nzSize="small" [(ngModel)]="data.plancopayamount"
                                        style="width: 100px;" />
                                </div>
                                <div style="display:flex; flex-direction:column; ">
                                    <span for="">Created By</span>
                                    <input nz-input nzSize="small" [(ngModel)]="data.plancreator" class="creator" />
                                </div>
                            </div>
                            <div style="padding:5px; width: 100%; border: 1px solid #dcdddf; ">
                                <!-- <textarea nz-input [(ngModel)]="data.plandetail" style="width: 100%;"></textarea> -->
                                {{data.plandetail}}
                            </div>
                        </div>
                        <!-- <td class="left">{{ data.plannumber  }}</td> -->
                        <!-- <td>{{ data.planname}}</td>
                        <td>{{ data.plancreator}}</td>
                        <td>{{ data.planenddate }}</td>
                        <td>{{ data.plancopayamount }}</td>
                        <td>{{ data.plandetail}}</td>
                        <td>{{ data.planreminderdate}}</td>
                        <td>{{ data.planremindertext}}</td> -->
                        <!-- <td>
                            <a (click)="showEditModal(data)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this service from List?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(data)">Delete</a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="modalOpen" nzWidth="960" [nzStyle]="{ top: '20px' }"
    [nzTitle]="'Add Change Service Plan Detail'" (nzOnCancel)="handleCancel()">
    <div nz-row nzGutter="16">
        <div nz-row nz-col nzSpan="24" [formGroup]="ServiceFormGroup">
            <div nz-row>

                <div nz-col nzSpan="9" style="display: flex; flex-direction:row">
                    <span style="width:100px; padding:3px">Plan Name</span>
                    <nz-select nzAllowClear formControlName="planName" [nzDropdownMatchSelectWidth]="false" nzShowSearch
                        style="width:100%">
                        <nz-option *ngFor="let list of alist" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>

                </div>

                <div nz-col nzSpan="4" style="display: flex; flex-direction:row">
                    <span  style="width:50px; padding:3px">Plan Id</span>
                    <input nz-input formControlName="planNumber" style="width:100px"/>

                </div>

                <div nz-col nzSpan="5" style="display: flex; flex-direction:row">
                    <span style="width:100px; padding:5px">DVA Period</span>
                    <nz-select nzAllowClear formControlName="dvaPeriod" [nzDropdownMatchSelectWidth]="false" style="width:50px">
                        <nz-option *ngFor="let list of alist2" [nzValue]="list" [nzLabel]="list"></nz-option>
                    </nz-select>

                </div>

                <div nz-col nzSpan="6" style="display: flex; flex-direction:row">
                    <span style="width:100px; padding:5px">Co-Payment</span>
                    <input nz-input formControlName="coPayAmount" style="width:100px" />

                </div>

            </div>
        </div>
        <div nz-row nz-col nzSpan="24" style="margin:10px;">
            <div nz-row nzGutter="32" [formGroup]="ServiceFormGroup">
                <div nz-col nzSpan="7" nz-col style="display: flex; flex-direction:row">
                    <span style="margin:5px;">Start Date</span>
                    <nz-date-picker formControlName="startDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
                <div nz-col nzSpan="7" nz-col style="display: flex; flex-direction:row">
                    <span style="margin:5px;">End Date</span>
                    <nz-date-picker formControlName="endDate" [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>

        </div>
        <div nz-row nz-col nzSpan="24"  style=" margin:10px;">
            <div nz-row [formGroup]="ServiceFormGroup">
                <div>
                    <span>Details</span>
                    <nz-form-control nzErrorTip="Required Field">
                        <angular-editor formControlName="notes" [config]="editorConfig"></angular-editor>
                        <!-- <textarea rows="4" nz-input formControlName="notes"></textarea> -->
                    </nz-form-control>
                </div>
            </div>
        </div>
        <div nz-row nz-col nzSpan="24" [formGroup]="ServiceFormGroup">

            <div nz-col nzSpan="8" nz-col style="display: flex; flex-direction:row; margin:5px;">
                <span style="width:100px; margin:5px;">Reminder Date</span>
                <nz-date-picker formControlName="reminderDate" [nzFormat]="dateFormat"></nz-date-picker>
            </div>

            <div nz-col nzSpan="14" style="display: flex; flex-direction:row; margin:5px;">
                <span style=" width:80px; margin:5px;">Reminder</span>               
                    <input nz-input formControlName="reminderText" style="width:400px" />
              
            </div>

        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
    </div>
</nz-modal>