<div nz-row>
    <div nz-col nzSpan="24">
        <div nz-col nzSpan="24">
            <!-- <button class="botton success" (click)="showAddModal()">Add Service</button> -->
            <label for="">Services</label>
            <div nz-row
                style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

                <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal()">Add</button>
                <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                    (click)="showEditModal(activeRowData)">Edit</button>
                <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                    nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="confirm(activeRowData)">Del</button>
                <button class="btnlevel2navy" (click)=" generatePdf()">Print</button>
                <!-- <button class="btnlevel2orange"  (click)="close()">close</button> -->
            </div>
            <nz-table #basicTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'small'"
                [nzFrontPagination]="false" [nzData]="tableData">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Activity</th>
                        <th>Funded Under</th>
                        <th>Status</th>
                        <th>Service Profile</th>
                        <!-- <th class="action">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data;let i = index;trackBy: trackByFn"
                        [class.selected]="i==selectedRowIndex" (click)="selectedItemGroup(data,i);"
                        (dblclick)="showEditModal(data)">
                        <!-- <td class="left">{{ i+1  }}</td> -->
                        <td>{{ data.activity}}</td>
                        <td>{{ data.funding }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.serviceProfile}}</td>
                        <!-- <td>
                            <a (click)="showEditModal(data)">Update</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this service from List?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="delete(data)">Delete</a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<nz-modal [nzWidth]="800" [nzStyle]="{ top: '15px' }" [(nzVisible)]="modalOpen"
    [nzTitle]="addOREdit == 1 ? 'Add New Service Profile Detail' : 'Edit Service Profile Detail'"
    (nzOnCancel)="handleCancel()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div [formGroup]="inputForm"
        style="height: 45rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">


        <div nz-row nzSpan="24">

            <div nz-row nzGutter="10">
                <div nz-col nzSpan="3">
                    <label nzFor="Status" style="font-weight:bold">Status : </label>
                </div>
                <div nz-col nzSpan="10">
                    <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false" formControlName="status"
                        nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let stat of status" [nzLabel]="stat" [nzValue]="stat"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nzGutter="16">
                <div nz-col nzSpan="3">
                    <label nzFor="Status" style="font-weight:bold">Program :</label>
                </div>
                <div nz-col nzSpan="14">
                    <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false" formControlName="program"
                        nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let prog of program" [nzLabel]="prog" [nzValue]="prog"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div nz-row nzGutter="16">
                <div nz-col nzSpan="3">
                    <label nzFor="Status" style="font-weight:bold">Activity : </label>
                </div>
                <div nz-col nzSpan="14">
                    <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false" formControlName="activity"
                        nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let d of activities" [nzLabel]="d" [nzValue]="d"></nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="7">
                    <label style="font-size:13px" nz-checkbox formControlName="includeCaseManagement">Include
                        Case Management</label>
                </div>
            </div>
            <div nz-row>
                <div nz-row nz-col nzSpan="3">
                    <label for="" style="font-weight:bold">Pricing</label>
                </div>
                <div nz-row nz-col nzSpan="14">
                    <label nz-checkbox style="font-size:13px" formControlName="specialPricing"
                        (change)="checkValueChange($event)">Non Standard Billing Arrangement Apply</label>
                </div>
            </div>

        </div>
        <div class="line" *ngIf="this.inputForm.get('specialPricing').value"></div>
        <div nz-row nzSpan="24" *ngIf="this.inputForm.get('specialPricing').value">
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="16">
               
            <div nz-row>
                <div nz-row nz-col nzSpan="24" class="text-left pad-r-5">
                    <div nz-col nzSpan="5">
                        <label for="Bill To">Bill To</label>
                    </div>
                    <div nz-col nzSpan="18">
                        <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false"
                            formControlName="serviceBiller" [nzDisabled]="!this.inputForm.get('specialPricing').value"
                            nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let recip of listRecipients" [nzLabel]="recip.accountNo"
                                [nzValue]="recip.accountNo"></nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-row nz-col nzSpan="24" class="text-left pad-r-5">
                    <div nz-col nzSpan="5">
                        <label for="Amount">Amount</label>
                    </div>
                    <div nz-col nzSpan="5">
                        <input nz-input [nzSize]="'default'" [disabled]="!this.inputForm.get('specialPricing').value"
                            formControlName="namount" />
                    </div>
                    <div nz-col nzSpan="5"></div>
                    <div nz-col nzSpan="8" style="padding-left: 5px; display:flex; justify-content: space-between; align-items: center;">
                        <label >Exclude From Price</label>
                        <label nz-checkbox formControlName="excludeFromNDIAPriceUpdates" ></label>
                      </div>
                </div>
                <div nz-row nz-col nzSpan="24" class="text-left pad-r-5">
                    <div nz-col nzSpan="5">
                        <label for="Bill Unit">Bill Unit</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false"
                            [nzDisabled]="!this.inputForm.get('specialPricing').value" formControlName="billunit"
                            nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let unit of billunit" [nzLabel]="unit" [nzValue]="unit"></nz-option>
                        </nz-select>
                    </div>
                  
                    <div nz-col nzSpan="3" style="padding-left: 10px; display:flex; justify-content: space-between; align-items: center;">
                        <label >GST</label>
                        <label nz-checkbox formControlName="gst" [nzDisabled]="!this.inputForm.get('specialPricing').value"></label>
                      </div>
                      
                </div>
                <div nz-row nz-col nzSpan="24" class="text-left pad-r-5">
                    <div nz-col nzSpan="5" class="text-left pad-r-5">
                        <label for="EffectiveFrom">Effective</label>
                    </div>
    
                    <div nz-col nzSpan="7" class="text-left pad-r-5">
                        <nz-date-picker formControlName="EffectiveFrom" [nzSize]="'default'"
                            [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                    <div nz-col nzSpan="3" style=" display: flex; justify-content: center;align-items: center;">
                        <label for="EffectiveTo" >To</label>
                    </div>
    
                    <div nz-col nzSpan="7" class="text-left pad-r-5">
                        <nz-date-picker formControlName="EffectiveTo" [nzSize]="'default'"
                            [nzFormat]="dateFormat"></nz-date-picker>
                    </div>
                </div>

            </div>
            </div>

            <ng-template #extraTemplate>
                <label nz-checkbox formControlName="specialPricing" (change)="checkValueChange($event)">Non Standard
                    Billing Arrangement Apply</label>
            </ng-template>
        </div>
        <div class="line"></div>
        <!-- <div nz-row nzJustify class="mrg-btm-half">
                        <nz-card [nzSize]="'small'" nzTitle="Frequency and Duration">
                            <div nz-row nzJustify>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Freq">Freq</label>
                                    <input nz-input [nzSize]="'small'" formControlName="freq" [disabled]="!this.inputForm.get('activity').value" />
                                </div>
                                <div nz-col nzSpan="8" class="text-left pad-r-5">
                                    <label for="Period">Period</label>
                                    <nz-select [nzSize]="'small'" [nzDropdownMatchSelectWidth]="false" [nzDisabled]="!this.inputForm.get('activity').value" formControlName="period" nzShowSearch nzAllowClear style="width:100%;">
                                        <nz-option *ngFor="let period of periods" [nzLabel]="period" [nzValue]="period"></nz-option>
                                    </nz-select>
                                </div>
                                <div nz-col nzSpan="3" class="text-left pad-r-5">
                                    <label for="Dur'n">Dur'n</label>
                                    <input nz-input [nzSize]="'small'" [disabled]="!this.inputForm.get('activity').value" formControlName="duration" />
                                </div>
                            </div>
                        </nz-card>
                    </div> -->
        <div nz-row>
            <!-- <nz-divider *ngIf="!this.inputForm.get('specialPricing').value"></nz-divider> -->
            <label for="" style="font-weight:bold; ">Budget</label>
            <div nz-row class="line"></div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="14">
            <div nz-row>
                <div nz-col nzSpan="5" class="text-left pad-r-5">
                    <label for="Type">Type</label>
                </div>
                <div nz-col nzSpan="12" class="text-left pad-r-5">
                    <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false" formControlName="budgetType"
                        nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let type of budgetTypes" [nzLabel]="type" [nzValue]="type"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="5" class="text-left pad-r-5">
                    <label for="Amount">Amount</label>
                </div>
                <div nz-col nzSpan="12" class="text-left pad-r-5">
                    <input nz-input [nzSize]="'default'" formControlName="bamount" />
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="5" class="text-left pad-r-5">
                    <label for="Enforcement">Set As</label>
                </div>
                <div nz-col nzSpan="12" class="text-left pad-r-5">
                    <nz-select [nzSize]="'default'" [nzDropdownMatchSelectWidth]="false" formControlName="enforcement"
                        nzShowSearch nzAllowClear style="width:100%;">
                        <nz-option *ngFor="let enforc of enforcement" [nzLabel]="enforc" [nzValue]="enforc"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row nzJustify>
                <div nz-col nzSpan="5" class="text-left pad-r-5">
                    <label for="Starting">Starting</label>
                </div>

                <div nz-col nzSpan="12" class="text-left pad-r-5">
                    <nz-date-picker formControlName="starting" [nzSize]="'default'"
                        [nzFormat]="dateFormat"></nz-date-picker>
                </div>
            </div>
        </div>
    </div>



        <div nz-row>
            <div nz-col nzSpan="24">

                <div nz-row>
                    <div nz-row nz-col nzSpan="16">
                        <label style="font-weight: bold;" for="">Required/Desirable Competencies and
                            Attributes</label>
                    </div>

                </div>
                <div class="line"></div>
                <div style="height:300px;overflow:scroll;">
                    <div style="display:flex; flex-direction: row; margin:5px; ">

                        <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   "
                            (click)="showCompetencyModal()">Add</button>

                        <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                            nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deletecompetency(selectedComptency)">Del</button>

                        <!-- <button class="btnlevel2orange"  (click)="close()">close</button> -->
                    </div>
                    <div nz-row nzSpan="24">
                        <div nz-col nzSpan="20" style="width:100%;">
                            <nz-table #basicTable nzWidth="100%" style="margin-top: 0px;" [nzShowPagination]="false"
                                [nzLoading]="loading" [nzSize]="'small'" [nzFrontPagination]="false"
                                [nzData]="listCompetencyByPersonId">
                                <thead>
                                    <tr>
                                        <th nzWidth="70%">Competency</th>
                                        <th nzWidth="10%">Mandatory</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listCompetencyByPersonId;let i = index;"
                                        (click)="onItemClick(data,i)" (dblclick)="onItemDblClick(data,i)"
                                        [class.selected]="i==selectedRow">
                                        <td style="height:25px; padding:0px; margin:0px">{{ data.competency}}
                                        </td>
                                        <td> <label nz-checkbox style=" transform: scale(0.8); padding:0px; margin:0px"
                                                [(ngModel)]="data.mandatory" nzDisabled
                                                [ngModelOptions]="{standalone: true}"></label></td>
                                        <!-- <td>
                                                <a (click)="showComptencyEditModal(data)">Update</a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Service Competency?" nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="deletecompetency(data)">Delete</a>
                                            </td> -->
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>

                </div>
                <!-- <ng-template #extraTemplatebtn>
                        <button class="botton success" (click)="showCompetencyModal()">ADD</button>
                    </ng-template> -->
                <div class="line"></div>
                <div nz-row nzJustify>
                    <nz-card [nzSize]="'small'" nzTitle="" [nzExtra]="extraTemplatetwo">
                        <textarea rows="6" nz-input formControlName="activityBreakDown"
                            style="resize: none;"></textarea>
                    </nz-card>
                </div>
                <ng-template #extraTemplatetwo>

                    <span style="font-weight:bold; text-align:left; margin-right:350px">Automatic Notes and
                        Instruction
                    </span>
                    <label nz-checkbox style="font-size:13px" formControlName="autoInsertNotes">Auto Insert
                        Notes To
                        Roster</label>
                </ng-template>

            </div>

        </div>
    </div>
    <div *nzModalFooter>
       
      
        <button nz-button nzType="default" (click)="handleCancel()" class="btnlightorange">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading" class="btnlightblue"
            [disabled]="!this.inputForm.get('status').value || !this.inputForm.get('program').value || !this.inputForm.get('activity').value ">Save</button>
    </div>
</nz-modal>

<nz-modal [nzWidth]="450" [(nzVisible)]="competencymodal"
    [nzTitle]="isUpdateCompetency == true ? 'EDIT REQUIRED COMPETENCIES' : 'SELECT REQUIRED COMPETENCIES'"
    (nzOnCancel)="handleCompetencyCancel()" [nzMask]="true" [nzMaskClosable]="false" [nzClosable]="true">
    <div [formGroup]="competencyForm"
        style="height: 40rem; width: 25rem; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">

        <div *ngIf="!isUpdateCompetency" class="staff-wrapper">

            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="search text" [(ngModel)]="inputvalueSearch"
                    (keyup)="searchCompetenncy($event)" [ngModelOptions]="{standalone: true}" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
            <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="log($event)">
                <div nz-row>
                    <div nz-col nzSpan="24" *ngFor="let comp of competencyList">
                        <label nz-checkbox [nzValue]="comp.name" [(ngModel)]="comp.checked"
                            (change)="onCompetencyCheckboxChange(comp,$event)" [ngModelOptions]="{standalone: true}">{{
                            comp.name }}</label>
                    </div>
                </div>
            </nz-checkbox-wrapper>
        </div>
        <div *ngIf="isUpdateCompetency">
            <div nz-row nzGutter="24" class="mrg-btm">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nzFor="Name / Title">Name / Title:</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <input nz-input formControlName="competency" style="text-transform: uppercase;" required
                            readonly />
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nzFor="Mandatory">Mandatory:</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <label nz-checkbox formControlName="mandatory"></label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nzFor="Notes">Notes:</label>
                    </div>
                    <div nz-col nzSpan="16">
                        <textarea nz-input cols="30" rows="5" formControlName="notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *nzModalFooter style="display:flex; flex-direction:row">
        <ng-container>
            <button nz-button nzType="default"  class="btnlightblue">Print</button>
            <button nz-button nzType="default"  class="btnlightblue">Export</button>

            <div style="margin-left:4rem"></div>
            <button nz-button nzType="default" (click)="handleCancel()" class="btnlightorange">Cancel</button>
            <button nz-button nzType="default" [nzLoading]="postLoading" (click)="saveCompetency()" class="btnlightblue">
                <span>OK</span>
            </button>
        </ng-container>
    </div>
</nz-modal>

<nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div nz-row>
        <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
            height="650px"></iframe>
    </div>
</nz-drawer>