<div nz-row>
    <div nz-col nzSpan="24" >
        <!-- <button class="botton success" (click)="showAddModal(1)">Add Excluded Staff</button>-->
        <label for="">Excluded Staff</label>
        <div nz-row style="display:flex; flex-direction: row; margin-top:10px; margin-bottom:10px; margin-left:-2px">

            <button class="btnlevel2navy" *ngIf="getPermisson(51) == '1'   " (click)="showAddModal(1)">Add</button>
            <button class="btnlevel2navy" *ngIf="getPermisson(52) == '1' "
                (click)="showEditModal(activeRowData,selectedRowIndex)">Edit</button>
            <button class="btnlevel2orange" *ngIf="getPermisson(53) == '1' " nz-popconfirm
                nzPopconfirmTitle="Are you sure, you want to delete record?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(activeRowData)">Del</button>
            <button class="btnlevel2navy" (click)=" generatePdf()">Print</button>
            <!-- <button class="btnlevel2orange" (click)="close()">close</button> -->
        </div>
        <nz-table #headerTable [nzShowPagination]="false" [nzLoading]="loading" [nzSize]="'large'"
            [nzFrontPagination]="false" [nzData]="excludedStaff" [nzScroll]="{ y: '840px' }" style="width:100%">
            <thead>
                <tr>
                    <!-- <th nzWidth="5%">#</th> -->
                    <th nzWidth="15%">Name</th>
                    <th nzWidth="10%">Creator</th>
                    <th nzWidth="10%">Date Created</th>
                    <th nzWidth="50%">Notes</th>
                    <!-- <th nzWidth="10%" class="action">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of headerTable.data;let i = index;trackBy: trackByFn" [class.selected]="i==selectedRowIndex || lstSelected.indexOf(data)>-1"
                     (click)="selectedItemGroup($event,data,i);" (dblclick)="showEditModal(data,i)">
                    <!-- <td>{{ i+1  }}</td> -->
                    <td>{{ data.name}}</td>
                    <td>{{ data.creator }}</td>
                    <td>{{ data.date1 | date: 'dd/MM/y'}}</td>
                    <td>{{ data.notes }}</td>
                    <!-- <td>
                    <a (click)="showEditModal(i)">Update</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this Entry from Excluded Staff List?"
                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(data.recordNumber)">Delete</a>
                </td> -->
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="modalOpen" [nzTitle]="title" (nzOnCancel)="handleCancel()" [nzWidth]="'20vw'">
    <!-- <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabFindIndex">
        <nz-tab nzTitle="Detail/s" (nzClick)="tabFindChange(0)"> </nz-tab>
    </nz-tabset> -->
    <div>
        <div *ngIf="editOrAdd == 1">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [(ngModel)]="txtSearch"
                    (ngModelChange)="onTextChangeEvent($event)" placeholder="input search text"
                    (change)="onTextChangeEvent($event)" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search" (click)="onTextChangeEvent(txtSearch)"></i>
            </ng-template>

            <!-- <input id="txtSubject"  style="margin-top: 5px;" nz-input [(ngModel)]="txtSearch"/> -->
        </div>
        <div nz-row [formGroup]="inputForm">
            <div nz-row>
                <div *ngIf="editOrAdd == 1" class="staff-wrapper"
                    style="height: 40rem; width: 100%; overflow: auto; padding: .5rem 1rem; border: 1px solid #e9e9e9; border-radius: 3px;">
                    <!-- <h4 style="text-align:center;color:#1890FF">Tick The Checkbox Next To The Staff</h4> -->
                    {{txtSearch}}
                    
                    <nz-checkbox-wrapper [ngModelOptions]="{standalone: true}" (nzOnChange)="logs($event)">
                        <div nz-row>
                            <div nz-col nzSpan="24" *ngFor="let list of listStaff" [class.selected]="list.checked">
                                <label nz-checkbox [nzValue]="list.value" [(ngModel)]="list.checked"
                                    [ngModelOptions]="{standalone: true}">{{ list.label }}</label>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                </div>
                <div class="form-group" *ngIf="editOrAdd == 2">
                    <nz-form-label>{{ whatView == 1 ? 'Staff' : 'Staff'}}</nz-form-label>
                    <input nz-input formControlName="list" disabled />
                </div>
            </div>
            <div nz-row *ngIf="editOrAdd == 2">
                <nz-form-item>
                    <nz-form-label>Notes</nz-form-label>
                    <nz-form-control nzErrorTip="Required Field">
                        <textarea rows="4" nz-input formControlName="notes"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div *nzModalFooter>
            <div style="display:flex; flex-direction:row">
                <div style="width:300px; text-align:left">
                    <button nz-button nzType="default" class="btnlightblue" (click)="print()">Print</button>
                    <button nz-button nzType="primary" class="btnlightblue" (click)="export()"
                        [nzLoading]="isLoading">Export</button>
                </div>
                <button nz-button nzType="default" class="btnlightorange" (click)="handleCancel()">Cancel</button>
                <button nz-button nzType="primary" class="btnlightblue" (click)="processBtn()"
                    [nzLoading]="isLoading">OK</button>
            </div>
        </div>

    </div>
</nz-modal> 

<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>