<nz-breadcrumb>
    <nz-breadcrumb-item (click)="toHome()"><a [class.admin]="isAdmin">Home</a></nz-breadcrumb-item>  
    <nz-breadcrumb-item *ngFor="let crumb of breadcrumbs" (click)="show(crumb)"><a [class.admin]="isAdmin">{{  crumb.label }}</a></nz-breadcrumb-item>    
</nz-breadcrumb>
