<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'53vw'"
    [(nzVisible)]="isVisible" nzTitle="{{mainTitle}}" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex;  height: 75vh;  ">
        <div>
            <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'"
                [nzTabBarGutter]="2">
                <nz-tab nzTitle="General">
                    <div class="tab">
                        <div nz-row style="margin-top: 0.4%;">
                            <div style="display: inline-block; position: relative; margin-top: 5px; ">
                                <label style="font-size: 18px; font-weight: bold;"> General Information </label>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 4%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Code :
                                </label>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-select nzShowSearch nzAllowClear style="text-align: left; width: 100%;">
                                    <nz-option *ngFor="let etype of codeList" [nzLabel]="etype.description"
                                        [nzValue]="etype.description">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Description :
                                </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="name" (keypress)="onKeyPress($event)" />
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Category :
                                </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="name" (keypress)="onKeyPress($event)" />
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Level : </label>
                            </div>
                            <div nz-col nzSpan="2">
                                <input nz-input formControlName="name" (keypress)="onKeyPress($event)" />
                            </div>
                        </div>
                        <div nz-row style="margin-top: 2%;">
                            <div nz-col nzSpan="4">
                                <label style="font-size: 16px; text-align: right; margin-right: 10%;"> Notes : </label>
                            </div>
                            <div nz-col nzSpan="16">
                                <input nz-input formControlName="name" (keypress)="onKeyPress($event)"/>
                            </div>
                        </div>
                    </div>

                </nz-tab>
                <nz-tab nzTitle="Hours Of Work 1">
                </nz-tab>
                <nz-tab nzTitle="Hours Of Work 2">
                </nz-tab>
                <nz-tab nzTitle="Hours Of Work 3">
                </nz-tab>
                <nz-tab nzTitle="Hours Of Work 4">
                </nz-tab>
                <nz-tab nzTitle="Timebands">
                </nz-tab>
                <nz-tab nzTitle="Allowances">
                </nz-tab>
                <nz-tab nzTitle="Special Shifts">
                </nz-tab>
            </nz-tabset>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="runProcess()" class="btn">Start</button>
    </div>
</nz-modal>