<nz-modal [nzWidth]="1000" [(nzVisible)]="modalOpen" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <nz-tabset style="width: 100%;">
            <nz-tab nzTitle="General">
                <div *ngIf="inputForm" [formGroup]="inputForm">
                    <div nz-row style="height: 30px;">
                        <div nz-col nzSpan="8">
                            <h3 style="color:#1890FF; line-height: 30px;">Transaction Date:</h3>
                        </div>
                        <div nz-col nzSpan="10" class="text-right pad-r-5">
                            <p style="color:black; text-align: right; line-height: 30px;">Date to Record as Invoice Date
                                or Recipient Date:</p>
                        </div>
                        <div nz-col nzSpan="4">
                            <nz-date-picker [nzPlaceHolder]="'Invoice Date'" formControlName="invoiceDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <nz-divider nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row nzGutter=24>
                        <div>
                            <div nz-col nzSpan="2"></div>
                            <div nz-col nzSpan="12">
                                <p nz-checkbox style="color:black" formControlName="billingUpdate">Billing / Invoice
                                    Update </p>
                            </div>
                            <div nz nz-col nzSpan="2">
                                <!-- <label nz-checkbox formControlName="allWeeksChecked" (click)="checkedStatus()"> All </label> -->
                                <label nz-checkbox [(ngModel)]="allWeeksChecked" (ngModelChange)="checkedStatus()"
                                    [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"> All </label>
                            </div>
                            <div nz-col style="border-left: solid; border-left-color: #A4A4A4; border-left-width: 2px;"
                                nzSpan="6" class="wrap-container">
                                <div nz-row nzSpan="6">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockBillingCycle == false" [(ngModel)]="checkedWeekly" [ngModelOptions]="{standalone: true}"> &lt;WEEKLY&gt; </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockBillingCycle == false" [(ngModel)]="checkedFornightly" [ngModelOptions]="{standalone: true}"> &lt;FORTNIGHTLY&gt; </label>
                                                        </div>
                                                        <div nz-row>
                                                            <label nz-checkbox [disabled]="lockBillingCycle == false" [(ngModel)]="checkedMonthly" [ngModelOptions]="{standalone: true}"> &lt;MONTHLY&gt; </label>
                                                        </div>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,4)">
                                                            <div nz-row
                                                                *ngFor="let list of billingCycleList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBillingCycle == false" [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                                <!-- <label nz-checkbox [(ngModel)]="checkedWeekly" [ngModelOptions]="{standalone: true}">
                                    &lt;WEEKLY&gt; </label>
                                <div nz-row nzSpan="6">
                                    <label nz-checkbox [(ngModel)]="checkedFornightly"
                                        [ngModelOptions]="{standalone: true}"> &lt;FORTNIGHTLY&gt; </label>
                                </div>
                                <div nz-row nzSpan="6">
                                    <label nz-checkbox [(ngModel)]="checkedMonthly"
                                        [ngModelOptions]="{standalone: true}"> &lt;MONTHLY&gt; </label>
                                </div> 
                                <div nz-row nzSpan="6">
                                    <label nz-checkbox  [(ngModel)]="checked4Weekly" [ngModelOptions]="{standalone: true}"> 4 WEEKLY </label>
                                </div>
                                <div nz-row nzSpan="6">
                                    <label nz-checkbox  [(ngModel)]="checkedMonthly1" [ngModelOptions]="{standalone: true}"> MONTHLY </label>
                                </div>
                                <div nz-row nzSpan="6">
                                    <label nz-checkbox  [(ngModel)]="checkedWeekly1" [ngModelOptions]="{standalone: true}"> WEEKLY </label>
                                </div> -->
                            </div>
                            <!-- <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                                <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                                    [nzIndeterminate]="indeterminate" [ngModelOptions]="{standalone: true}">
                                    Check all
                                </label>
                            </div>
                            <br />
                            <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"
                                [ngModelOptions]="{standalone: true}"></nz-checkbox-group> -->
                        </div>
                    </div>
                    <div nz-row nzGutter=24>
                        <div>
                            <div nz-col nzSpan="2"></div>
                            <div nz-col nzSpan="12">
                                <div nz-row nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="name"> Receipt Update
                                    </p>
                                </div>
                                <div nz-row nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="name"> Debtor Masterfile Export
                                    </p>
                                </div>
                                <div nz-row nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="name"> Force All Debtors </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-col nzSpan="24" class="mrg-btm" style="background-color:#A4A4A4;">
                        <p style="margin: 0px;"><b>Click Start to commence Update with the selected options ....</b>
                        </p>
                    </div>

                    <div style="height: 3pc;" nz-row></div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-col nzSpan="24" class="mrg-btm" style="background-color:#A4A4A4;">
                        <p style="margin: 0px;"><b>Anticipated Completion ....</b></p>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="6">
                            <div style="height: 0.5pc;" nz-row></div>
                            <h3 style="color:#1890FF;">Billing Mode</h3>
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="billingMode"
                                nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let etype of billingType" [nzLabel]="etype" [nzValue]="etype">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 3px;" nzText="" nzOrientation="left"></nz-divider>

                    <div nz-row>
                        <div nz-col nzSpan="21"></div>
                        <div nz-col nzSpan="3">
                            <button nz-button nzType="primary" (click)="startDebUpdate()"
                                style="font-size: 14pt; height: 2.5pc; width: 8pc; float: right;"> Start </button>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Selection Option">

                <div *ngIf="inputForm">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6">
                            <h3 style="color:#1890FF;">Invoice Types</h3>
                        </div>
                        <div nz-col nzSpan="8" [formGroup]="inputForm">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="invType" nzPlaceHolder=""
                                nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let etype of invType" [nzLabel]="etype" [nzValue]="etype">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Dates </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="5" [formGroup]="inputForm">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="dtpStartDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="2">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="5" [formGroup]="inputForm">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="dtpEndDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Branches </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allBranchesChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row *ngFor="let list of branchList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBranches == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Programs </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox
                                                                    [disabled]="lockPrograms?.b_IsDead || lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.title }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="4">
                            <h3 style="color:#1890FF;"> Categories </h3>
                        </div>
                        <div nz-col nzSpan="3" class="text-right pad-r-5">
                            <label for="Name" style="margin-top: 5px; font-size: 11pt;"> Select All</label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="16" class="mrg-btm">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox
                                                                    [disabled]="lockCategories?.b_IsDead || lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tbody>
                                                <tr *ngFor="let data of categoriesList;let i = index;">
                                                    <td style="width: 4px;" class="right">
                                                        <label nz-checkbox></label>
                                                    </td>
                                                    <td class="left">{{ data.description }}</td>
                                                </tr>
                                            </tbody> -->
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </nz-tab>
            <nz-tab nzTitle="Invoice Presentation">
                <div>
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="6">
                            <h3 style="color:#1890FF;"> Other Selection Options </h3>
                        </div>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <p style="color:#1890FF; font-size: 11pt; margin-top: 10px; margin-bottom: 1px;"> Invoice
                                Terms / Messages: </p>
                            <input nz-input placeholder="" />
                            <input nz-input placeholder="" />
                            <p style="color:#1890FF; font-size: 11pt; margin-top: 10px; margin-bottom: 1px;">
                                Contribution Line Text: </p>
                            <input nz-input value="Contribution as agreed" placeholder="" />
                        </div>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="24">
                            <p style="color:#1890FF; font-size: 11pt; margin-top: 10px; margin-bottom: 1px;"> Bank
                                Details For Direct Deposit: </p>
                            <input nz-input value="Bank:  BSB:  Account Name:  A/c#: " placeholder="" />
                        </div>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="4">
                            <p style="color:#1890FF; font-size: 11pt; margin-top: 10px; margin-bottom: 1px;"> Other
                                General Options: </p>
                        </div>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Print ZERO value Invoices</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Include Staff Code on Invoice</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Print ZERO value Invoice Line</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox [(ngModel)]="sepInvRecipient"
                        [ngModelOptions]="{standalone: true}">Seperate Invoice Per Recipient</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Use Recipients Preferred Name</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Seperate Pages Per Recipient</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Include Start and End Time in description</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Generate INTERNAL Invoice</label>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Include Credit Card Payment Details</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Update Brokered Services</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Bill Recipient Absences</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Group By Location/Group</label>
                    </div>
                    <div nz-col nzSpan="9">
                        <label nz-checkbox>Display Invoice Amount in Credit Card Payment
                            Box</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Exclude Recipient From Invoice Body</label>
                    </div>
                    <div nz-col nzSpan="5" class="text-right pad-r-5">
                        <label>Number of Copies to Printer : </label>
                    </div>
                    <div nz-col nzSpan="2">
                        <label nz-checkbox></label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Include Following Day for Overnight</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="4">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label nz-checkbox>Include Following Day for Overnight</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="8">
                        <label style="font-size: 12pt;">Location and Name of Logo File
                            :</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="18">
                        <input nz-input placeholder="" />
                    </div>
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary"
                            style="font-size: 14pt; height: 2.4pc; width: 8pc; float: right;"> Save </button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Interface">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="18">
                        <h3 style="color:#1890FF;"> Accounting Interface Options </h3>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nz-checkbox>Create Export File</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox>Include
                            Services/Shifts with 0 value</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label nz-checkbox>Include Services/Shifts with Activity coded as
                            RECIPIENT ADMINISTRATION</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="18">
                        <label nz-checkbox>Include Services/Shifts with Pay Type coded as
                            ADMIN</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 10px; margin-bottom: 15px;" nzText="" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label style="margin-top: 4px;">3rd Party Accounting Package : </label>
                    </div>
                    <div nz-col nzSpan="6" [formGroup]="inputForm">
                        <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="AccPackage" nzPlaceHolder=""
                            nzShowSearch nzAllowClear style="width:100%;">
                            <nz-option *ngFor="let etype of AccountPackage" [nzLabel]="etype" [nzValue]="etype">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="20">
                        <label style="margin-top: 10px; margin-bottom: 1px; font-size: 12pt;">Location and Name of
                            Export File
                            :</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="20">
                        <input nz-input placeholder="" />
                    </div>
                    <div nz-col nzSpan="2">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary"
                            style="font-size: 14pt; height: 2.4pc; width: 8pc; float: right;"> Save </button>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="CDC Options">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="6">
                        <h3 style="color:#1890FF;"> CDC Billing Options </h3>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="6">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="12">
                        <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox>Exempt
                            CDC Social Leave Days From Billing</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="6">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="12">
                        <label nz-checkbox>Exempt CDC Hospital Leave Days From Billing</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="6">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="12">
                        <label nz-checkbox>Exclude Income Tested Fees for Leave days</label>
                    </div>
                </div>
                <div nz-row nzJustify>
                    <div nz-col nzSpan="6">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="12">
                        <label nz-checkbox>Exclude Top Up Fees for Leave days</label>
                    </div>
                </div>
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="21">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="2">
                        <button nz-button nzType="primary"
                            style="font-size: 14pt; height: 2.4pc; width: 8pc; float: right;"> Save </button>
                    </div>
                </div>
            </nz-tab>
            <!-- <nz-tab nzTitle="Debtor Records">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="18">
                        <h3 style="color:#1890FF;"> Debtor Records (for testing purpose) </h3>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered
                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="tableData">
                    <thead>
                        <tr>
                            <th style="width: 100px;" class="left">RecordNo</th>
                            <th style="width: 80px;" class="left">Type</th>
                            <th style="width: 100px;" class="left">Anal</th>
                            <th style="width: 120px;" class="left">ClientCode</th>
                            <th style="width: 110px;" class="left">BillTo</th>
                            <th style="width: 110px;" class="left">Date</th>
                            <th style="width: 100px;" class="left">StartTime</th>
                            <th style="width: 80px;" class="left">DateNo</th>
                            <th style="width: 80px;" class="left">MonthNo</th>
                            <th style="width: 80px;" class="left">YearNo</th>
                            <th style="width: 100px;" class="left">ServiceType</th>
                            <th style="width: 110px;" class="left">CarerCode</th>
                            <th style="width: 130px;" class="left">ServiceDescription</th>
                            <th style="width: 130px;" class="left">Programe</th>
                            <th style="width: 100px;" class="left">Duration</th>
                            <th style="width: 100px;" class="left">UnitBillRate</th>
                            <th style="width: 100px;" class="left">TaxAmount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of debtorRecordList;let i = index;">
                            <td style="width: 100px;" class="left">{{ data.recordNo }} </td>
                            <td style="width: 80px;" class="left">{{ data.type }} </td>
                            <td style="width: 100px;" class="left">{{ data.anal }} </td>
                            <td style="width: 120px;" class="left">{{ data.clientCode }} </td>
                            <td style="width: 110px;" class="left">{{ data.billTo }} </td>
                            <td style="width: 110px;" class="left">{{ data.date }} </td>
                            <td style="width: 100px;" class="left">{{ data.startTime }} </td>
                            <td style="width: 80px;" class="left">{{ data.dayno }} </td>
                            <td style="width: 80px;" class="left">{{ data.monthno }} </td>
                            <td style="width: 80px;" class="left">{{ data.yearno }} </td>
                            <td style="width: 100px;" class="left">{{ data.servicetype }} </td>
                            <td style="width: 110px;" class="left">{{ data.carercode }} </td>
                            <td style="width: 130px;" class="left">{{ data.serviceDescription }} </td>
                            <td style="width: 130px;" class="left">{{ data.program }} </td>
                            <td style="width: 100px;" class="left">{{ data.duration }} </td>
                            <td style="width: 100px;" class="left">{{ data.unitBillRate }} </td>
                            <td style="width: 100px;" class="left">{{ data.taxamount }} </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab> -->
            <nz-tab nzTitle="Update History">
                <div nz-row nzJustify class="mrg-btm">
                    <div nz-col nzSpan="18">
                        <h3 style="color:#1890FF;"> Batch History </h3>
                    </div>
                    <div nz-col nzSpan="6" class="text-right pad-r-5">
                        <label nz-checkbox>Preview Detail</label>
                    </div>
                </div>
                <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left"></nz-divider>
                <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '500px', x: 'max-content' }" nzBordered
                    [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                    [nzData]="tableData">
                    <thead>
                        <tr>
                            <th style="width: 100px;" class="left">OperatorID</th>
                            <th style="width: 100px;" class="left">BatchDate</th>
                            <th style="width: 100px;" class="left">BatchNumber</th>
                            <th style="width: 400px;" class="left">BatchDetail</th>
                            <th style="width: 80px;" class="left">BatchType</th>
                            <th style="width: 100px;" class="left">CDCBilled</th>
                            <th style="width: 100px;" class="left">Date1</th>
                            <th style="width: 100px;" class="left">Date2</th>
                            <th style="width: 100px;" class="left">BillBatch</th>
                            <th style="width: 120px;" class="left">xDeletedRecord</th>
                            <th style="width: 120px;" class="left">xEndDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of batchHistoryList;let i = index;">
                            <td style="width: 100px;" class="left">{{ data.operatorID }} </td>
                            <td style="width: 100px;" class="left">{{ data.batchDate }} </td>
                            <td style="width: 100px;" class="left">{{ data.batchNumber }} </td>
                            <!-- <td style="width: 400px;" nzLeft nzBreakWord>{{ data.batchDetail  }} </td> -->
                            <td style="width: 400px;" class="left">{{ data.batchDetail }} </td>
                            <td style="width: 80px;" class="left">{{ data.batchType }} </td>
                            <td style="width: 100px;" class="left">{{ data.cdcBilled }} </td>
                            <td style="width: 100px;" class="left">{{ data.date1 | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.date2 | date: 'dd/MM/y' }}</td>
                            <td style="width: 100px;" class="left">{{ data.billBatch }} </td>
                            <td style="width: 120px;" class="left">{{ data.xDeletedRecord }} </td>
                            <td style="width: 120px;" class="left">{{ data.xEndDate }} </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <!-- <button nz-button nzType="default" (click)="handleCancel()">Start</button> -->
        </ng-container>
    </div>

</nz-modal>