<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'100vh'" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" nzTitle="Sales Journal Export" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="height: 74vh;">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Options">
                <div class="tab">
                    <div nz-row class="lineHeight" style="margin-top: 2%;">
                        <div nz-col nzSpan="6" style="margin-left: 50px;">
                            <p class="textStyle">Dates:</p>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: left;">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="1">
                            <p style="text-align: center; font-size: medium;"> to </p>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: left;">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate" [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                    </div>
                    <div nz-row class="lineHeight">
                        <div nz-col nzSpan="6" style="margin-left: 50px;">
                            <p class="textStyle">Branch:</p>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="branchList"
                                nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option nzLabel="ALL" nzValue="ALL"></nz-option>
                                <nz-option *ngFor="let value of branchList" [nzLabel]="value.branchDescription" [nzValue]="value.branchDescription">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div style="height: 150px;">
                        <div nz-row class="lineHeight">
                            <div nz-col nzSpan="6" style="margin-left: 50px;">
                                <p class="textStyle">Export Format:</p>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="exportFormat"
                                    nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                    <nz-option *ngFor="let value of exportFormat" [nzLabel]="value" [nzValue]="value">
                                    </nz-option>
                                </nz-select>
                            </div>
                            <!-- <div nz-col nzSpan="8" style="text-align: right;" *ngIf="inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 1' || inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 2'">
                                <p style="font-size: small;">Only CDC Homecare Packages:</p>
                            </div> -->
                        </div>
                        <div nz-row class="lineHeight" *ngIf="inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 1'">
                            <div nz-col nzSpan="6" style="margin-left: 50px;">
                                <p class="textStyle">Service Provider ID:</p>
                            </div>
                            <div nz-col nzSpan="2">
                                <nz-select [nzDropdownMatchSelectWidth]="false" [nzOptionHeightPx]="36"
                                    formControlName="serviceProviderID" nzPlaceHolder="" nzShowSearch nzAllowClear
                                    style="width:100%;">
                                    <nz-option *ngFor="let value of serviceProviderID" [nzLabel]="value.providerList"
                                        [nzValue]="value.providerList">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="lineHeight" *ngIf="inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 1'">
                            <div nz-col nzSpan="6" style="margin-left: 50px;">
                                <p class="textStyle">Unearned Income Amount:</p>
                            </div>
                            <div nz-col nzSpan="8">
                                <input nz-input placeholder="" style="width:100%; margin-left: 0px;" />
                            </div>
                        </div>
                        <div nz-row class="lineHeight" *ngIf="inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 2'">
                            <div nz-col nzSpan="6" style="margin-left: 50px;">
                                <p class="textStyle">Status:</p>
                            </div>
                            <div nz-col nzSpan="8">
                                <label nz-checkbox formControlName="chkUnapproved">Unapproved</label>
                                <label nz-checkbox formControlName="chkApproved">Approved</label>
                                <label nz-checkbox formControlName="chkBilled">Billed</label>
                            </div>
                        </div>
                        <div nz-row class="lineHeight" *ngIf="inputForm.get('exportFormat').value == 'HCP BALANCES FORMAT 2'">
                            <div nz-col nzSpan="6" style="margin-left: 50px;">
                                <p class="textStyle">Funding Source:</p>
                            </div>
                            <div nz-col nzSpan="8">
                                <label>DOHA</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div nz-row nzJustify>
                            <div nz-row>
                                <div nz-col nzSpan="20">
                                    <label style="font-size: 12pt;">Location and Name of
                                        Export File Name
                                        :</label>
                                </div>
                                <div nz-col nzSpan="1">
                                    <p></p>
                                </div>
                                <div nz-col nzSpan="2">
                                    <button nz-button nzType="default" class="btn2"> Save Setting </button>
                                </div>
                            </div>
                            <!-- <div nz-row>
                                <div nz-col nzSpan="25">
                                    <input nz-input placeholder="" />
                                    <button nz-button nzType="default" (click)="selectSavePath()">Select Save Path</button>
                                </div>
                            </div> -->
                            <div nz-row>
                                <div nz-col nzSpan="24">
                                    <nz-input-group>
                                        <input nz-input placeholder="Enter path" style="width: 93%;" formControlName="selectedDirectoryPath"/>
                                        <button nz-button nzType="default" (click)="selectSavePath()">...</button>
                                    </nz-input-group>
                                </div>
                            </div>
                            
                            <style>
                                .input-button {
                                    border-left: none; 
                                    border-radius: 0;  
                                    height: 100%;      
                                }
                            </style>                            
                        </div>
                    </div>

                    <!-- <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider> -->

                    <div style="height: 4pc;" nz-row></div>

                    <div nz-col nzSpan="24" style="background-color:#002060;">
                            <p style="margin: 0px; color: white;">Click Start to commence Export with the selected options ....</p>
                        </div>

                    <div style="height: 6pc;" nz-row></div>

                    <!-- <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider> -->

                    <div nz-col nzSpan="24" style="background-color:#002060;">
                            <p style="margin: 0px; color: white;">Anticipated Completion ....</p>
                        </div> 

                    <!-- <nz-divider style="margin-top: 3px;" nzText="" nzOrientation="left"></nz-divider> -->

                </div>
            </nz-tab>
            <nz-tab nzTitle="Recipient Selection">
                <div class="tab">
                    <div nz-row nzJustify>
                        <!-- <div nz-col nzSpan="4">
                            <p style="font-weight:bold; font-size: medium;"> Recipient Selection </p>
                        </div> -->
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allRecipientsChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="18" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '634px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row
                                                                *ngFor="let list of recipientsList; let i = index">
                                                                <label nz-checkbox [disabled]="lockRecipients == false"
                                                                    [nzValue]="list.recipientTitle"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.recipientTitle }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Start </button>
        </ng-container>
    </div>
</nz-modal>