<nz-modal [(nzVisible)]="isVisible" nzTitle="HCP PACKAGE INTEGRITY ERRORS" [nzMask]="true" [nzMaskClosable]="false"
  (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
  <div style="height: 82vh;">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div style="margin-bottom: 10px;">
          <button nz-button nzType="default" class="btn1" (click)="HCPBalance()" style="margin-bottom: 5px;">
            <i nz-icon nzType="file-pdf"></i> Print
          </button>
        </div>
        <div style="flex-grow: 1; overflow: auto;">
          <nz-table #basicTable [nzScroll]="{ y: '72vh', x: '100%' }" nzBordered [nzShowPagination]="false"
            [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listData" class="table"
            style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 18%;">ACCOUNTNO</th>
                <th style="width: 18%;">NAME</th>
                <th style="width: 8%;">DATE</th>
                <th style="width: 8%;">BALANCE</th>
                <th style="width: 8%;">CheckTotal</th>
                <th style="width: 8%;">Variance</th>
                <th style="width: 8%;">CWealth (Held By Provider)</th>
                <th style="width: 8%;">CWealth (Held By CWealth)</th>
                <th style="width: 8%;">Client (Held By Provider)</th>
                <th style="width: 8%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index;" class="editable-row">
                <td style="width: 18%;">{{ data.accountNumber }}</td>
                <td style="width: 18%;">{{ data.name }}</td>
                <td style="width: 8%;">{{ data.date | date:'dd/MM/yyyy' }}</td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.balance | number:'1.2-2' }}</div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.balance" />
                </td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.checkTotal | number:'1.2-2' }}</div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.checkTotal" />
                </td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.variance | number:'1.2-2' }}</div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.variance" />
                </td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.cWealthHeldByProvider | number:'1.2-2' }}
                  </div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.cWealthHeldByProvider" />
                </td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.cWealthHeldByCWealth | number:'1.2-2' }}</div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.cWealthHeldByCWealth" />
                </td>
                <td style="width: 8%;">
                  <div class="editable-cell" *ngIf="editId !== i">{{ data.clientHeldByProvider | number:'1.2-2' }}</div>
                  <input *ngIf="editId === i" type="number" nz-input [(ngModel)]="data.clientHeldByProvider" />
                </td>
                <td style="width: 8%;">
                  <a *ngIf="editId !== i" (click)="startEdit(i)">Edit</a>
                  <div *ngIf="editId === i">
                    <a (click)="saveEdit(i)">Save </a>
                    <nz-popconfirm nzTitle="Are you sure you want to cancel the changes?" (nzOnConfirm)="cancelEdit(i)"
                      nzOkText="Yes" nzCancelText="No">
                      <a nz-popconfirm>Cancel</a>
                    </nz-popconfirm>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>

  <div *nzModalFooter>
    <ng-container>
      <!-- Footer button here -->
    </ng-container>
  </div>

</nz-modal>

<div>
  <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div nz-row>
      <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
        height="650px"></iframe>
    </div>

  </nz-drawer>
</div>