<nz-modal [nzWidth]="700" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy">
        <div style="width: 100%;">
            <div nz-row>
                <div nz-col nzSpan="2" *ngIf="inputForm">
                </div>
                <div nz-col nzSpan="20" [formGroup]="inputForm">
                    <div style="height: 0.5pc;" nz-row></div>
                    <div nz-col nzSpan="22">
                        <div nz-row style="line-height: 2;">
                            <label nz-checkbox style="font-size: 12pt;" formControlName="chkDoUnAcceptedQuotes"> Update
                                Unaccepted Quote Pricing </label>
                        </div>
                        <div nz-row style="line-height: 2;">
                            <label nz-checkbox style="font-size: 12pt;" formControlName="chkDoAcceptedQuotes"> Update Accepted Quote Pricing
                            </label>
                        </div>
                        <div nz-row style="line-height: 2;">
                            <label nz-checkbox style="font-size: 12pt;" formControlName="chkDoQuoteAdmin"> Update Case Management && Admin Fees
                                in Quotes </label>
                        </div>
                        <div nz-row style="line-height: 2;">
                            <label nz-checkbox style="font-size: 12pt;" formControlName="chkDoMasterAdmin"> Update Case Management && Admin Fees
                                in Master Roster </label>
                        </div>
                        <div nz-row style="line-height: 2;">
                            <label nz-checkbox style="font-size: 12pt;" formControlName="chkDoCurrentAdmin"> Update Case Management && Admin Fees
                                in Current Rosters </label>
                        </div>
                        <div nz-row style="line-height: 2; margin-top: 4%;">
                            <div nz-col nzSpan="8">
                                <label style="font-size: 12pt; text-align: center;"> Starting Date: </label>
                            </div>
                            <div nz-col nzSpan="8">
                                <nz-date-picker nzPlaceHolder="Starting Date" formControlName="startingDate"
                                    [nzFormat]="dateFormat"></nz-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="2">
                </div>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="runProcess()" class="btn"> SAVE </button>
    </div>
</nz-modal>