<nz-modal [(nzVisible)]="isVisible" nzTitle="HCP PACKAGE INTEGRITY ERRORS" [nzMask]="true" [nzMaskClosable]="false"
    (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
    <div style="height: 82vh;">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div style="margin-bottom: 10px;">
                    <button nz-button nzType="default" class="btn1" (click)="HcpDataChecklisting()"
                        style="margin-bottom: 5px;">
                        <i nz-icon nzType="file-pdf"></i> Print
                    </button>
                </div>
                <div style="flex-grow: 1; overflow: auto;">
                    <nz-table #basicTable [nzScroll]="{ y: '72vh', x: '100%' }" nzBordered [nzShowPagination]="false"
                        [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listData"
                        class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 20%;" class="left">Package</th>
                                <th style="width: 11%;" class="left">Recipient</th>
                                <th style="width: 7%;" class="left">Status</th>
                                <th style="width: 30%;" class="left">Error</th>
                                <th style="width: 8%;" class="left">First Admission</th>
                                <th style="width: 8%;" class="left">First Service</th>
                                <th style="width: 8%;" class="left">Last Service</th>
                                <th style="width: 8%;" class="left">Last Discharge</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data; let i = index;">
                                <td style="width: 20%;" class="left">{{ data.package }} </td>
                                <td style="width: 11%;" class="left">{{ data.recipient }} </td>
                                <td style="width: 7%;" class="left">{{ data.status }} </td>
                                <td style="width: 30%;" class="left">{{ data.error }} </td>
                                <td style="width: 8%;" class="left">{{ data.firstAdmission }} </td>
                                <td style="width: 8%;" class="left">{{ data.firstService }} </td>
                                <td style="width: 8%;" class="left">{{ data.lastService }} </td>
                                <td style="width: 8%;" class="left">{{ data.lastDischarge }} </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <!-- Footer Button here -->
    </div>
</nz-modal>

<div>
    <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
        [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
        <div class="col-md-12 spinner" *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div nz-row>
            <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
                height="650px"></iframe>
        </div>

    </nz-drawer>
</div>