<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="isVisible" nzTitle="Import File"
    (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex;  height: 33em; ">
        <div style="display: block;" *ngIf="inputForm" [formGroup]="inputForm">
            <div style="display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                <div style="display: inline-block; width: 20%; padding: 5px;">
                    <nz-lable >File to Import : </nz-lable>
                </div>
                <div style="display: inline-block; padding-bottom: 10px; width: 60%; ">
                     <input type='file' (change)='convertFile(input)' id='fileInput' #input>
                </div>
            </div>
            <div style="margin-top: 10px; display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                 <div style="display: inline-block; width: 20%; padding: 5px;">
                     <nz-lable >Date of Receipts : </nz-lable>
                 </div>
                 <div style="display: inline-block; padding-bottom: 10px; width: 60%; ">
                    <nz-date-picker [nzPlaceHolder]="'Invoice Date'" formControlName="receiptDate"
                        [nzFormat]="dateFormat"></nz-date-picker>
                 </div>
            </div>
            <div style=" padding-top: 10px; width: 760px; ">
                <textarea nz-input placeholder="Error Message" [nzAutosize]="{ minRows: 15, maxRows: 80 }">{{JSONData}}</textarea>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="runProcess()" class="btn"  >Start</button>
        <button nz-button nzType="default" (click)="runProcess()" class="btn" >Preview</button>
        <button nz-button nzType="default"  class="btn" calss="button">Export</button>
        <button nz-button nzType="default"  class="btn" >Email</button>
        <button nz-button nzType="default" (click)="generatePdf()" class="btn" >Print</button>
    </div>
</nz-modal>
<nz-drawer  nzHeight="100vh"  [nzClosable]="true"  class="drawer"  [nzVisible]="drawerVisible" nzPlacement="top" [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()" >
    <div class="col-md-12 spinner" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>            
<div nz-row  >   
    <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%" height="650px"   ></iframe> 
</div>    
</nz-drawer>
