<nz-modal [(nzVisible)]="isVisible" nzTitle="PACKAGE STATUS SUMMARY" [nzMask]="true" [nzMaskClosable]="false"
  (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
  <div style="height: 82vh;">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="20" style="margin-bottom: 10px;">
            <button nz-button nzType="default" class="btn1" style="margin-right: 10px;" (click)="PackageStatusReport()">
              <i nz-icon nzType="file-pdf"></i> Print
            </button>
          </div>
          <div nz-col nzSpan="4">
            <label *ngIf="userRole === 'ADMIN USER'" nz-checkbox id="ShowInactivePackages" [(ngModel)]="check"
              (change)="fetchDetail($event)" style="margin-left: auto; padding-left: 30px;">
              Show Inactive Packages
            </label>
          </div>
        </div>
        <div nz-row style="flex-grow: 1; overflow: auto;">
          <nz-table #basicTable [nzScroll]="{ y: '72vh', x: '100%' }" nzBordered [nzShowPagination]="false"
            [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listData" class="table"
            style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 19%;">Package ID</th>
                <th style="width: 8%;">Type</th>
                <th style="width: 8%;">Level</th>
                <th style="width: 10%;">Status</th>
                <th style="width: 15%;">Allocated To</th>
                <th style="width: 8%;">Target Group</th>
                <th style="width: 8%;">GST</th>
                <th style="width: 8%;">GL Exp A/C</th>
                <th style="width: 8%;">GL Rev A/C</th>
                <th style="width: 8%;">Last Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index;">
                <td style="width: 19%;">{{ data.packageID }}</td>
                <td style="width: 8%;">{{ data.type }}</td>
                <td style="width: 8%;">{{ data.level }}</td>
                <td style="width: 10%;">{{ data.status }}</td>
                <td style="width: 15%;">{{ data.allocatedTo }}</td>
                <td style="width: 8%;">{{ data.targetGroup }}</td>
                <td style="width: 8%;">{{ data.gST }}</td>
                <td style="width: 8%;">{{ data.gLExpAC }}</td>
                <td style="width: 8%;">{{ data.gLRevAC }}</td>
                <td style="width: 8%;">{{ data.lastBalance }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <ng-container>
      <!-- Footer Button -->
    </ng-container>
  </div>
</nz-modal>

<!--Mufeed 19/4/24-->
<div>
  <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div nz-row>
      <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
        height="650px"></iframe>
    </div>

  </nz-drawer>
</div>