<nz-modal [(nzVisible)]="isVisible" nzTitle="PACKAGE AUDIT LIST" [nzMask]="true" [nzMaskClosable]="false"
  (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
  <div style="height: 82vh;">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="20" style="margin-bottom: 10px;">
            <button nz-button nzType="default" class="btn1" style="margin-right: 10px;" (click)="PackageAuditReport()">
              <i nz-icon nzType="file-pdf"></i> Print
            </button>
          </div>
          <div nz-col nzSpan="4">
            <label *ngIf="userRole === 'ADMIN USER'" nz-checkbox id="ActiveClientsOnly" [(ngModel)]="check"
              (change)="fetchDetail($event)" style="margin-left: auto; padding-left: 30px;">
              Active Clients Only
            </label>
          </div>
        </div>
        <div nz-row style="flex-grow: 1; overflow: auto;">
          <nz-table #basicTable [nzScroll]="{ y: '72vh', x: '100%' }" nzBordered [nzShowPagination]="false"
            [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listData" class="table"
            style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 14%;">Account No</th>
                <th style="width: 20%;">Package</th>
                <th style="width: 6%;">Status</th>
                <th style="width: 6%;">Level</th>
                <th style="width: 6%;">Daily Rate</th>
                <th style="width: 6%;">Admission Date</th>
                <th style="width: 6%;">Discharge Date</th>
                <th style="width: 6%;">Claim Frequency</th>
                <th style="width: 6%;">Daily Basic Fee</th>
                <th style="width: 6%;">Daily Income Tested Fee</th>
                <th style="width: 6%;">Daily TopUp Fee</th>
                <th style="width: 6%;">Contingency Rate Amount</th>
                <th style="width: 6%;">Max Contingency</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index;">
                <td style="width: 14%;">{{ data.accountNo }}</td>
                <td style="width: 20%;">{{ data.package }}</td>
                <td style="width: 6%;">{{ data.status }}</td>
                <td style="width: 6%;">{{ data.level }}</td>
                <td style="width: 6%;">{{ data.dailyRate }}</td>
                <td style="width: 6%;">{{ data.admissionDate }}</td>
                <td style="width: 6%;">{{ data.dischargeDate }}</td>
                <td style="width: 6%;">{{ data.claimFrequency }}</td>
                <td style="width: 6%;">{{ data.dailyBasicFee }}</td>
                <td style="width: 6%;">{{ data.dailyIncomeTestedFee }}</td>
                <td style="width: 6%;">{{ data.dailyTopUpFee }}</td>
                <td style="width: 6%;">{{ data.contingencyRateAmount }}</td>
                <td style="width: 6%;">{{ data.maxContingency }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <ng-container>
      <!-- Footer button -->
    </ng-container>
  </div>
</nz-modal>


<div>
  <nz-drawer nzHeight="100vh" [nzClosable]="true" class="drawer" [nzVisible]="drawerVisible" nzPlacement="top"
    [nzTitle]="pdfTitle" (nzOnClose)="handleCancelTop()">
    <div class="col-md-12 spinner" *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div nz-row>
      <iframe *ngIf="tryDoctype" class="iframe" [src]="tryDoctype" scrolling="auto" width="100%"
        height="650px"></iframe>
    </div>

  </nz-drawer>
</div>