<nz-modal [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" [nzMask]="true" [nzMaskClosable]="false"
    (nzOnCancel)="handleCancel()" nzWidth="98%" [nzStyle]="{ top: '10px' }">
    <div style="height: 82vh;">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div style="margin-bottom: 10px; display: flex; gap: 10px;">
                    <button nz-button nzType="default" (click)="showAddModal()" class="btn1">
                        <i nz-icon nzType="plus"></i> Add
                    </button>
                    <button nz-button nzType="default" class="btn1">
                        <i nz-icon nzType="file-pdf"></i> Print
                    </button>
                </div>
                <nz-table #basicTable [nzScroll]="{ y: '76vh', x: '100%' }" nzBordered [nzShowPagination]="false"
                    [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="listData"
                    style="margin-top: 0;">
                    <thead>
                        <tr>
                            <th nzWidth="70%">Claim Type</th>
                            <th nzWidth="15%">Rate</th>
                            <th nzWidth="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data; let i = index;">
                            <td>{{ data.claimType }}</td>
                            <td>{{ data.rate }}</td>
                            <td *ngIf="!data.is_deleted">
                                <a (click)="showEditModal(i)">Update</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="delete(data)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <ng-container>
            <!-- Footer buttons if needed -->
        </ng-container>
    </div>
</nz-modal>

<nz-modal [nzStyle]="{ top: '80px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="750" [(nzVisible)]="modalOpen"
    [nzTitle]="modelTitle" (nzOnCancel)="handleCancelModal()">
    <div style="display: flex; flex-direction: column; gap: 20px;">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Details">
                <div nz-row nz-col nzSpan="24" style="margin-bottom: 20px; align-items: center;">
                    <div nz-row>
                        <div nz-col nzSpan="6" style="text-align: right; padding-right: 10px;">
                            <label style="font-size: 16px;">CDC Item:</label>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-select nzShowSearch nzAllowClear [nzDisabled]="listDisable"
                                formControlName="selectedItem" style="width: 100%;">
                                <nz-option *ngFor="let data of listData" [nzLabel]="data.claimType"
                                    [nzValue]="data.claimType">
                                </nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="6">
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="6" style="text-align: right; padding-right: 10px;">
                            <label style="font-size: 16px;">Rate:</label>
                        </div>
                        <div nz-col nzSpan="12">
                            <input nz-input formControlName="enteredRate" (keypress)="keyPressDecimalNumbers($event)" />
                        </div>
                        <div nz-col nzSpan="6">
                            <label class="orange-text" style="font-size: 14px;">(10)</label>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="runProcess()" class="btn">SAVE</button>
    </div>
</nz-modal>