<div>
    <p>{{ program }}</p>
    <nz-select [(ngModel)]="value"  (ngModelChange)="onClickHandler($event)" [nzAllowClear]="true">
        <nz-option *ngFor="let list of lists$ | async" [ngValue]="list" [nzValue]="list" [nzLabel]="list"></nz-option>
    </nz-select>
</div>
