<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="966" [nzMask]="true"
    [nzMaskClosable]="false" [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div class="flexy" style="height: 78vh;">
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Options">
                <div class="tab">
                    
                    <div style="height: 4pc;" nz-row></div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;">End Date for Aging</p>
                        </div>
                        <div nz-col nzSpan="4" style="margin-left: 8px;">
                            <nz-date-picker nzPlaceHolder="Aging Date" formControlName="packageBalancesDate"
                                [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;">Package Types to Include</p>
                        </div>

                        <div nz-col nzSpan="8" style="text-align: right; margin-left: 8px; vertical-align: middle;">
                            <div nz-row nzSpan="6">
                                <div nz-col>
                                    <nz-table style="margin-top: 0px;" nzBordered
                                        [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                                        [nzData]="tableData">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div nz-row>
                                                        <label nz-checkbox [disabled]="lockpackageTypes == false"
                                                            [(ngModel)]="packageTypesChecked"
                                                            [ngModelOptions]="{standalone: true}"> NDIA
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div style="height: 4pc;" nz-row></div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                </div>
            </nz-tab>
            <nz-tab nzTitle="Batch History">
                <div class="tab">
                    <div nz-row nzJustify class="mrg-btm">
                        <div nz-col nzSpan="18">
                            <p style="font-weight:bold; font-size: large;">Batch History</p>
                        </div>
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label nz-checkbox>Preview Detail</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '570px', x: 'max-content' }" nzBordered
                        [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading"
                        [nzData]="tableData">
                        <thead>
                            <tr>
                                <th style="width: 100px;" class="left">OperatorID</th>
                                <th style="width: 100px;" class="left">BatchDate</th>
                                <th style="width: 100px;" class="left">BatchNumber</th>
                                <th style="width: 400px;" class="left">BatchDetail</th>
                                <th style="width: 80px;" class="left">BatchType</th>
                                <th style="width: 100px;" class="left">CDCBilled</th>
                                <th style="width: 100px;" class="left">Date1</th>
                                <th style="width: 100px;" class="left">Date2</th>
                                <th style="width: 100px;" class="left">BillBatch</th>
                                <th style="width: 120px;" class="left">xDeletedRecord</th>
                                <th style="width: 120px;" class="left">xEndDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of batchHistoryList;let i = index;">
                                <td style="width: 100px;" class="left">{{ data.operatorID }} </td>
                                <td style="width: 100px;" class="left">{{ data.batchDate }} </td>
                                <td style="width: 100px;" class="left">{{ data.batchNumber }} </td>
                                <td style="width: 400px;" class="left">{{ data.batchDetail }} </td>
                                <td style="width: 80px;" class="left">{{ data.batchType }} </td>
                                <td style="width: 100px;" class="left">{{ data.cdcBilled }} </td>
                                <td style="width: 100px;" class="left">{{ data.date1 | date: 'dd/MM/y' }}</td>
                                <td style="width: 100px;" class="left">{{ data.date2 | date: 'dd/MM/y' }}</td>
                                <td style="width: 100px;" class="left">{{ data.billBatch }} </td>
                                <td style="width: 120px;" class="left">{{ data.xDeletedRecord }} </td>
                                <td style="width: 120px;" class="left">{{ data.xEndDate }} </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="runProcess()" class="btn"> Start </button>
        </ng-container>
    </div>
</nz-modal>