<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1050"
    [(nzVisible)]="isVisible" [nzTitle]="loadTitle()" (nzOnCancel)="handleCancel()">
    <div style="height: 78vh;">
        <!-- <div nz-row nz-col nzSpan = "24"></div> -->
        <nz-tabset *ngIf="inputForm" [formGroup]="inputForm" [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="General">
                <div class="tab">
                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;">Transaction Date</p>
                        </div>
                        <div nz-col nzSpan="8" style="text-align: center;">
                            <p>Date to Record as Invoice Date
                                or Recipient Date :</p>
                        </div>
                        <div nz-col nzSpan="4" style="margin-left: 8px;">
                            <nz-date-picker [nzPlaceHolder]="'Invoice Date'" formControlName="invoiceDate"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-size: large;">Dates</p>
                        </div>
                        <div nz-col nzSpan="7" style="text-align: right;">
                            <label style="margin-top: 5px;"> Include All Dates </label>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox formControlName="chkAllDates" style="margin-top: 5px;"></label>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: right; margin-left: 8px;">
                            <nz-date-picker nzPlaceHolder="Start Date" formControlName="startDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value"
                                [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                        <div nz-col nzSpan="1">
                            <p style="text-align: center; margin-top: 5px;"> TO </p>
                        </div>
                        <div nz-col nzSpan="4" style="text-align: left;">
                            <nz-date-picker nzPlaceHolder="End Date" formControlName="endDate"
                                [nzDisabled]="this.inputForm.get('chkAllDates').value" [nzFormat]="dateFormat">
                            </nz-date-picker>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row style="height: 40px; margin-top: 2%;">
                        <div nz-col nzSpan="6">
                            <p style="font-size: large;">Billing Cycles</p>
                        </div>
                        <div nz-col nzSpan="7" style="text-align: right;">
                            <label style="margin-top: 5px;"> Include All Billing Cycles </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(6)"
                                    style="font-size: 10pt; text-align: right; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center;">
                            <label nz-checkbox [(ngModel)]="allWeeksChecked" (ngModelChange)="checkAll(6)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>

                        <div nz-col nzSpan="6" class="wrap-container" style="text-align: right; margin-left: 8px;">
                            <div nz-row nzSpan="6">
                                <div nz-col>
                                    <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '150px' }"
                                        [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                        [nzLoading]="loading" [nzData]="tableData">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div nz-row>
                                                        <label nz-checkbox [disabled]="lockBillingCycle == false"
                                                            [(ngModel)]="checkedWeekly"
                                                            [ngModelOptions]="{standalone: true}"> &lt;WEEKLY&gt;
                                                        </label>
                                                    </div>
                                                    <div nz-row>
                                                        <label nz-checkbox [disabled]="lockBillingCycle == false"
                                                            [(ngModel)]="checkedFornightly"
                                                            [ngModelOptions]="{standalone: true}"> &lt;FORTNIGHTLY&gt;
                                                        </label>
                                                    </div>
                                                    <div nz-row>
                                                        <label nz-checkbox [disabled]="lockBillingCycle == false"
                                                            [(ngModel)]="checkedMonthly"
                                                            [ngModelOptions]="{standalone: true}"> &lt;MONTHLY&gt;
                                                        </label>
                                                    </div>
                                                    <nz-checkbox-wrapper style="width: 100%;"
                                                        (nzOnChange)="log($event,4)">
                                                        <div nz-row
                                                            *ngFor="let list of billingCycleList; let i = index">
                                                            <label nz-checkbox [disabled]="lockBillingCycle == false"
                                                                [nzValue]="list.description" [(ngModel)]="list.checked"
                                                                [ngModelOptions]="{standalone: true}">{{
                                                                list.description }}</label>
                                                        </div>
                                                    </nz-checkbox-wrapper>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col style="margin-left: 4px;">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="chkDebtorUpdate"> Debtor Update
                                    </p>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="chkReceiptUpdate"> Receipt
                                        Update </p>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="chkOtherMasterFile"> Debtor
                                        Masterfile Export </p>
                                </div>
                                <div nz-col nzSpan="6">
                                    <p nz-checkbox style="color:black" formControlName="chkForceAllDeb"> Force All
                                        Debtors </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Branches & Funding">
                <div class="tab">
                    <div nz-row nzJustify class="mrg-btm" style="margin-top: 14px;">
                        <div nz-col nzSpan="6">
                            <p style="font-weight:bold; font-size: large;"> Invoice Types </p>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="invType" nzPlaceHolder=""
                                nzShowSearch nzAllowClear style="width:100%;" nzDisabled>
                                <nz-option *ngFor="let etype of invType" [nzLabel]="etype" [nzValue]="etype">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Branches </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Branches </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(1)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allBranchesChecked" (ngModelChange)="checkAll(1)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '220px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <!-- <tr>
                                                <td>
                                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event , null)">
                                                    <div nz-row *ngFor="let list of branchList; let i = index">
                                                        <label nz-checkbox [nzValue]="list.description" [(ngModel)]="list.checked" [ngModelOptions]="{standalone: true}">{{ list.description }}</label>
                                                    </div>
                                                </nz-checkbox-wrapper> -->
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,1)">
                                                            <div nz-row *ngFor="let list of branchList; let i = index">
                                                                <label nz-checkbox [disabled]="lockBranches == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Funding </p>
                        </div>
                        <!-- <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Funding Sources
                            </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(5)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allFundingChecked" (ngModelChange)="checkAll(5)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '250px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,5)">
                                                            <div nz-row *ngFor="let list of fundingList; let i = index">
                                                                <label nz-checkbox [disabled]="lockFunding == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.fundingType }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div nz-col nzSpan="6"></div>
                        <div nz-col nzSpan="14">
                            <div style="height: 200px;">
                                <label nz-checkbox [disabled]="true"
                                    [(ngModel)]="allFundingChecked"
                                    [ngModelOptions]="{standalone: true}"> NDIA
                                </label>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText="" nzOrientation="left">
                    </nz-divider>

                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Categories </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Categories </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(3)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px;">
                            <label nz-checkbox [(ngModel)]="allCategoriesChecked" (ngModelChange)="checkAll(3)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '240px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,3)">
                                                            <div nz-row
                                                                *ngFor="let list of categoriesList; let i = index">
                                                                <label nz-checkbox [disabled]="lockCategories == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.description }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nz-tab>
            <nz-tab nzTitle="Programs">
                <div class="tab">
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Programs </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Programs </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(2)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allProgramsChecked" (ngModelChange)="checkAll(2)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '650px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,2)">
                                                            <div nz-row *ngFor="let list of programList; let i = index">
                                                                <label nz-checkbox [disabled]="lockPrograms == false"
                                                                    [nzValue]="list.description"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.programName }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Recipients">
                <div class="tab">
                    <nz-divider style="margin-top: 6px; margin-bottom: 6px;" nzText="" nzOrientation="left">
                    </nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="3">
                            <p style="font-weight:bold; font-size: large;"> Recipients </p>
                        </div>
                        <div nz-col nzSpan="5" class="text-right pad-r-5">
                            <label style="margin-top: 5px; font-size: 11pt;"> Include All Recipients </label>
                            <div nz-col style="text-align: right;">
                                <button nz-button nzType="primary" (click)="uncheckAll(4)"
                                    style="font-size: 10pt; text-align: center; padding: 3px; height: 1.75pc; width: 5.5pc;">
                                    Un-Select All
                                </button>
                            </div>
                        </div>
                        <div nz-col nzSpan="1" style="text-align: center; margin-top: 2px">
                            <label nz-checkbox [(ngModel)]="allRecipientsChecked" (ngModelChange)="checkAll(4)"
                                [ngModelOptions]="{standalone: true}" style="margin-top: 5px;"></label>
                        </div>
                        <div>
                            <div nz-col nzSpan="15" style="margin-bottom:0.3rem">
                                <div nz-row style="line-height: 4pc;">
                                    <div nz-col>
                                        <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '650px' }"
                                            [nzShowPagination]="false" [nzSize]="'small'" [nzFrontPagination]="false"
                                            [nzLoading]="loading" [nzData]="tableData">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <nz-checkbox-wrapper style="width: 100%;"
                                                            (nzOnChange)="log($event,4)">
                                                            <div nz-row
                                                                *ngFor="let list of recipientsList; let i = index">
                                                                <label nz-checkbox [disabled]="lockRecipients == false"
                                                                    [nzValue]="list.accountNumber"
                                                                    [(ngModel)]="list.checked"
                                                                    [ngModelOptions]="{standalone: true}">{{
                                                                    list.accountNumber }}</label>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Interface">
                <div class="tab">
                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="10">
                            <p style="font-weight:bold; font-size: large;"> Accounting Interface Options </p>
                        </div>
                        <div nz-col nzSpan="4" style="margin-top: 5px;">
                            <label nz-checkbox formControlName="chkCreateExportFile">Create Export File</label>
                        </div>
                        <div nz-col nzSpan="5" style="margin-top: 5px; text-align: right;">
                            <label> Invoice Prefix If Applicable :</label>
                        </div>
                        <div nz-col nzSpan="1" style="margin-left: 2px;">
                            <input nz-input formControlName="invPrefix" (keypress)="onKeyPress($event)" />
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox>Include
                                Services/Shifts with 0 value</label>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label nz-checkbox>Include Services/Shifts with Activity coded as
                                RECIPIENT ADMINISTRATION</label>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-col nzSpan="18">
                            <label nz-checkbox>Include Services/Shifts with Pay Type coded as
                                ADMIN</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 10px; margin-bottom: 15px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div style="height: 450px;">
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="6">
                                <label style="margin-top: 4px;">3rd Party Accounting Package : </label>
                            </div>
                            <div nz-col nzSpan="6">
                                <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="selectedPackage"
                                    nzPlaceHolder="" [nzDisabled]="!this.inputForm.get('chkCreateExportFile').value"
                                    nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                    <nz-option *ngFor="let etype of AccountPackage" [nzLabel]="etype" [nzValue]="etype">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'ABM'"
                            nzValue="ABM">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Default Account :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Default Project :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Default Acitivity :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'ATTACHE'"
                            nzValue="ATTACHE">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>GST Setting :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="gstSet"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of gstSetting" [nzLabel]="value" [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Use TRACCS GL Code :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkTraccsGL"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Concatenate Date and Description :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkConDateDes"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Use Package/Activity GL Identifier :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkUsePkgGL"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Prefix GL with Alt GL :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkPrefGL"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8" class="accountMargins">
                                    <label style="text-align: center;">Attache User Defined Keystrokes :</label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <label></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8" class="accountMargins">
                                    <label>Start Of Invoice Line :</label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8" class="accountMargins">
                                    <label>End Of Invoice Line :</label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="8" class="accountMargins">
                                    <label>End Of Invoice :</label>
                                </div>
                                <div nz-col nzSpan="14">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'EPICOR'"
                            nzValue="EPICOR">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>EPICOR Company Code :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Append Date to Activity :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkAppendActy"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'EPICOR9'"
                            nzValue="EPICOR9">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>EPICOR Company Code :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label>Append Date to Activity :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkAppendActy"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight"
                            *ngIf="inputForm.get('selectedPackage').value == 'GREENTREE ACCOUNTING'"
                            nzValue="GREENTREEACCOUNTING">
                            <div nz-row>
                                <div nz-col nzSpan="6" class="text-right pad-r-5">
                                    <label>Line Code :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'MYOB'"
                            nzValue="MYOB">
                            <div nz-row>
                                <div nz-col nzSpan="6">
                                    <label></label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="myOB"
                                        nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%; margin-top: 2px;">
                                        <nz-option *ngFor="let value of myOB" [nzLabel]="value" [nzValue]="value">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="6" class="text-right pad-r-5">
                                    <label>Category :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="7">
                                    <label>Use TRACCS Invoice Date for MYOB :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkTraccsDateMyOB"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="7">
                                    <label>Exclude Client Code From Description :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkExcClientDesc"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="7">
                                    <label>Exclude Contract ID From Description :</label>
                                </div>
                                <div nz-col nzSpan="6">
                                    <label nz-checkbox formControlName="chkExcContIdDesc"></label>
                                </div>
                            </div>
                        </div>
                        <div nz-row nzJustify class="lineHeight" *ngIf="inputForm.get('selectedPackage').value == 'XERO ACCOUNTING'"
                            nzValue="XEROACCOUNTING">
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkHyphenatedGLAcc">Hyphenated GL Account, Tracking Option 1</label>
                                </div>
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label>Use Acitivity GL :</label>
                                </div>
                                <div nz-col nzSpan="2" style="text-align: left;">
                                    <label nz-checkbox formControlName="chkUseActivityGL"></label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkUseNDIAItem">Use NDIA Item Code when NDIA</label>
                                </div>
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label>Tracking Name 1 :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkUseNDIAClaim">Use NDIA Claim Ref as Invoice Number when NDIA</label>
                                </div>
                                <div nz-col nzSpan="4" class="text-right pad-r-5">
                                    <label>Tracking Name 2 :</label>
                                </div>
                                <div nz-col nzSpan="4">
                                    <input nz-input placeholder="" />
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkFirstNameSurNam">First Name, Surname format</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkAppendInvT">Append 'T' to InvoiceNo</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkRecipientTermDate">Recipient Terms as Due Date</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkBlankInventoryCode">Blank Inventory Code</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkAlternativeDesc">Alternative Description</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkBlankTrackingNamOpt">Blank Tracking Names and Options</label>
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col nzSpan="10">
                                    <label nz-checkbox formControlName="chkIncluEmailPosAdd">Include Email and Postal Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-row nzJustify>
                        <div nz-row>
                            <div nz-col nzSpan="20">
                                <label style="font-size: 12pt;">Location and Name of
                                    Export File
                                    :</label>
                            </div>
                            <div nz-col nzSpan="1">
                                <p></p>
                            </div>
                            <div nz-col nzSpan="2">
                                <button nz-button nzType="default" class="btn2"> Save Setting </button>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="25">
                                <nz-input-group>
                                    <input nz-input placeholder="Enter path" style="width: 95%;" formControlName="selectedDirectoryPath"/>
                                    <button nz-button nzType="default" (click)="selectSavePath()">...</button>
                                </nz-input-group>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Update History">
                <div class="tab">
                    <div nz-row nzJustify style="margin-bottom:0.3rem">
                        <div nz-col nzSpan="18">
                            <p style="font-weight:bold; font-size: large;"> Batch History </p>
                        </div>
                        <div nz-col nzSpan="6" class="text-right pad-r-5">
                            <label nz-checkbox>Expand Detail</label>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <nz-table style="margin-top: 0px;" [nzScroll]="{ y: '574px' }" nzBordered [nzShowPagination]="false"
                        [nzSize]="'small'" [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="tableData">
                        <thead>
                            <tr>
                                <th style="width: 10%;" class="left">OperatorID</th>
                                <th style="width: 20%;" class="left">BatchDate</th>
                                <th style="width: 10%;" class="left">BatchNumber</th>
                                <th style="width: 60%;" class="left">BatchDetail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of batchHistoryList;let i = index;">
                                <td style="width: 10%;" class="left">{{ data.operatorID }} </td>
                                <td style="width: 20%;" class="left">{{ data.batchDate }} </td>
                                <td style="width: 10%;" class="left">{{ data.batchNumber }} </td>
                                <td style="width: 60%;" class="left">{{ data.batchDetail }} </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-tab>
            <nz-tab nzTitle="HCP Options">
                <div class="tab">
                    <div nz-col nzSpan="8">
                        <p style="margin: 0px;"></p>
                    </div>
                    <div nz-col nzSpan="12">
                        <div nz-row nzJustify style="margin-top: 25%;" class="lineHeight">
                            <label style="margin-top: 10px; margin-bottom: 1px;" nz-checkbox>Exempt
                                HCP Social Leave Days From Billing</label>
                        </div>
                        <div nz-row nzJustify style="margin-top: 2%;" class="lineHeight">
                            <label nz-checkbox>Exempt HCP Hospital Leave Days From Billing</label>
                        </div>
                        <div nz-row nzJustify style="margin-top: 2%;" class="lineHeight">
                            <label nz-checkbox>Exclude Income Tested Fees for Leave days</label>
                        </div>
                        <div nz-row nzJustify style="margin-top: 2%;" class="lineHeight">
                            <label nz-checkbox>Exclude Top Up Fees for Leave days</label>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Invoice Presentation">
                <div class="tab">
                    <div>
                        <div nz-row nzJustify class="mrg-btm">
                            <div nz-col nzSpan="6">
                                <p style="font-weight:bold; font-size: large;">Other Selection Options</p>
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div>
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="24">
                                <p style="font-size: 11pt; margin-top: 10px; margin-bottom: 1px;">
                                    Invoice
                                    Terms / Messages: </p>
                                <input nz-input placeholder="" />
                                <input nz-input placeholder="" />
                                <p style="font-size: 11pt; margin-top: 20px; margin-bottom: 1px;">
                                    Contribution Line Text: </p>
                                <input nz-input value="Contribution as agreed" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>
                    <div>
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="24">
                                <p style="font-size: 11pt; margin-top: 40px; margin-bottom: 1px;"> Bank
                                    Details For Direct Deposit: </p>
                                <input nz-input placeholder="" formControlName="bankDetailsString" />
                            </div>
                        </div>
                    </div>

                    <nz-divider style="margin-top: 1px; margin-bottom: 1px;" nzText=""
                        nzOrientation="left"></nz-divider>

                    <div nz-col nzSpan="4">
                        <div nz-row nzJustify>
                            <p style="font-size: 11pt; margin-top: 10px; margin-bottom: 1px;"> Other
                                General Options: </p>
                        </div>
                    </div>
                    <div nz-col nzSpan="8" class="lineHeight" style="margin-top: 10px; margin-bottom: 1px;">
                        <div nz-row nzJustify>
                            <label nz-checkbox [disabled]="chkGenInternalInvoice == true" [(ngModel)]="chkPrintZeroInvoices" [ngModelOptions]="{standalone: true}">Print ZERO value Invoices</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox [disabled]="chkGenInternalInvoice == true" [(ngModel)]="chkPrintZeroInvoiceLine" [ngModelOptions]="{standalone: true}">Print ZERO value Invoice Line</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox formControlName="chkSepInvRecipient" [nzDisabled]="this.inputForm.get('chkSepPageRecipient').value">Seperate Invoice Per Recipient</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox formControlName="chkSepPageRecipient" [nzDisabled]="this.inputForm.get('chkSepInvRecipient').value">Seperate Pages Per Recipient</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox [(ngModel)]="chkGenInternalInvoice" (ngModelChange)="checkAll(7)" [ngModelOptions]="{standalone: true}">Generate INTERNAL Invoice</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox formControlName="chkUpdateBrokServ">Update Brokered Services</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox formControlName="chkBillRecAbsense">Bill Recipient Absences</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Group By Location/Group</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Exclude Recipient From Invoice Body</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Include Following Day for Overnight</label>
                        </div>
                    </div>
                    <div nz-col nzSpan="12" class="lineHeight" style="margin-top: 10px; margin-bottom: 1px;">
                        <div nz-row nzJustify style="height: 60px;">
                            <div nz-col nzSpan="12">
                                <label nz-checkbox formControlName="chkStaffCodeInv" >Include Staff Code on Invoice</label>
                            </div>
                            <div nz-col nzSpan="4" style="margin-left: 5px;">
                                <nz-radio-group formControlName="rdoStaffCodeInv" *ngIf="inputForm.get('chkStaffCodeInv').value == true">
                                    <label nz-radio nzValue="rdoAccountCode">Account Code</label>
                                    <label nz-radio nzValue="rdoFirstName">First Name Only</label>
                                </nz-radio-group>
                            </div>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Include Service Extra Info in details</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Use Recipients Preferred Name</label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Include Start and End Time in description</label>
                        </div>
                        <div nz-row nzJustify style="height: 80px;">
                            <label nz-checkbox>Include Credit Card Payment Details</label>
                        </div>
                        <div nz-row nzJustify>
                            <label> </label>
                        </div>
                        <div nz-row nzJustify>
                            <label> </label>
                        </div>
                        <div nz-row nzJustify>
                            <label nz-checkbox>Display Invoice Amount in Credit Card Payment
                                Box</label>
                        </div>
                        <div nz-row nzJustify>
                            <div nz-col nzSpan="3">
                                <input nz-input type="number" formControlName="printerCopies" step="1" (keypress)="onKeyPress($event)"/>
                            </div>
                            <div nz-col nzSpan="10" style="margin-left: 5px;">
                                <label>Number of Copies to Printer</label>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *nzModalFooter>
        <ng-container>
            <button nz-button nzType="default" (click)="startProcess()" class="btn"> Start </button>
        </ng-container>
    </div>
</nz-modal>