<nz-modal [nzStyle]="{ top: '10px' }" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [(nzVisible)]="isVisible" nzTitle="Batch NDIA Prices Update"
    (nzOnCancel)="handleCancel()">
    <div class="flexy" style="display: flex;  height: 33em; ">
        <div style="display: block;" *ngIf="inputForm" [formGroup]="inputForm">
            <div style="display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                <div style="display: inline-block; width: 20%; padding: 5px;">
                    <nz-lable >File to Import : </nz-lable>
                </div>
                <div style="display: inline-block; padding-bottom: 10px; width: 60%; ">
                     <input type='file' (change)='convertFile(input)' id='fileInput' #input>
                </div>
            </div>
            <div style="margin-top: 10px; display: flex; padding-top: 10px; border: 1px solid #d1d1d1;  background-color: white; width: 760px;">
                <div class="overlay" *ngIf="processing">
                        <div class="overlay__wrapper">
                            <div class="overlay__spinner" *ngIf="processing">
                                <nz-spin hasBackdrop nzTip=" Pleas wait while Processing...">
                                </nz-spin>
                            </div>
                        </div>
                 </div>
                 
                <div style="display: inline-block; width: 15%; padding: 5px;">
                    <nz-lable >File Type : </nz-lable>
                </div>
                <div style="display: inline-block; width: 100%; padding-bottom: 10px;">
                    <div nz-row>
                        <div style="display: inline-block; width: 30%;">
                            <nz-select [nzDropdownMatchSelectWidth]="false" formControlName="fileType"
                                nzPlaceHolder="" nzShowSearch nzAllowClear style="width:100%;">
                                <nz-option *ngFor="let value of fileTypeList" [nzLabel]="value" [nzValue]="value">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row>        
                        <div style="display: inline-block; width: 35%;">
                            <label nz-checkbox formControlName="chkUpdateClientPrices">Update Client Special Pricing</label>
                        </div>
                        <div style="display: inline-block; width: 25%;">
                            <label nz-checkbox formControlName="chkUpdateRosters">Update Rosters</label>
                        </div>
                        <div style="display: inline-block; width: 13%; text-align: center;">
                            <nz-lable >Starting At : </nz-lable>
                        </div>
                        <div style="display: inline-block; width: 20%; text-align: left;"><nz-date-picker [nzPlaceHolder]="'Starting Date'" formControlName="startingDate"
                            [nzFormat]="dateFormat"></nz-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div style=" padding-top: 10px; width: 760px; ">
                <textarea nz-input placeholder="Error Message" [nzAutosize]="{ minRows: 15, maxRows: 80 }">{{JSONData}}</textarea>
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="runProcess()" class="btn"  >Start</button>
        <button nz-button nzType="default" (click)="runProcess()" class="btn" >Preview</button>
        <button nz-button nzType="default"  class="btn" calss="button">Export</button>
        <button nz-button nzType="default"  class="btn" >Email</button>
        <button nz-button nzType="default" (click)="print()" class="btn" >Print</button>
    </div>
</nz-modal>
