<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'">
    <h3 class="modal-title">Edit Quote</h3>
    <div class="modal-body">
        <div style="min-height: 10rem; height: 21rem;">

            <div class="quote-options" [formGroup]="quoteGroup">
                <div class="form-inline">
                    <label for="" class="nth-1">No: </label>
                    <input type="text" maxlength="4" formControlName="no" />
                </div>
                <div class="form-inline">
                    <label for="" class="nth-50">Period</label>
                    <datepicker class="nth-50" formControlName="startDate"></datepicker>
                    <label for="" class="nth-50"  style="margin: 0 7px;">TO</label>
                    <datepicker class="nth-50" formControlName="endDate"></datepicker>
                </div>
        
                <div class="form-inline">
                    <label for="" class="nth-1"># of days: </label>
                    <input type="text" maxlength="4"  />
                </div>

                <div class="form-inline">
                    <label>Type:</label>
                    <select>
                        <option [value]="">SUPPORT PLAN</option>
                    </select> 
                </div>

                <div class="form-inline">
                    <label>Period:</label>
                    <select>
                        <option [value]="">ANNUALLY</option>
                    </select> 
                </div>                      
            </div>


            <div class="options-btns-group">
                <div><i class="material-icons" (click)="addItem()"> add </i></div>
                <div><i class="material-icons"> create </i></div>
                <div><i class="material-icons"> clear </i></div>
                <div><i class="material-icons"> local_printshop </i></div>
            </div>
                
          
            <div style="max-height: 6rem; overflow: auto;white-space: nowrap;">
                <table class="table table-compact selectable noselect" style="margin-top:0;">
                    <thead>
                        <tr>
                            <th class="left" style="width:5rem;">Item Code</th>
                            <th style="width:10rem;">Description</th>
                            <th>Quantity</th>
                            <th>Bill Unit</th>
                            <th>Frequency</th>
                            <th>Total Qty</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>GST</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let quote of documentQuote?.Quotes" (click)="openItem(quote)">
                            <td>{{ quote.ItemCode }}</td>
                            <td>{{ quote.Description }}</td>
                            <td>{{ quote.Qty }}</td>
                            <td>{{ quote.BillUnit }}</td>
                            <td>{{ quote.Frequency }}</td>
                            <td>{{ quote.TotalQty }}</td>
                            <td>{{ quote.Price | number : '1.2-2' }}</td>
                            <td>{{ quote.Amt | number : '1.2-2' }}</td>
                            <td>{{ quote.GST }}</td>
                            <td>{{ quote.Total | number : '1.2-2' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper" [formGroup]="quoteGroup">
                <div class="col-md-12 contrib">
                    <div class="display-table">
                        <div>
                            <div>Government Contribution: </div>
                            <div><input type="text" ></div>
                            <div>Centrelink Income Tested Fee: </div>
                            <div>
                                <select>
                                    <option value="">Daily</option>
                                </select>
                            </div>
                            <div>@</div>
                            <div><input type="text" ></div>
                            <div>=</div>
                            <div><input type="text" ></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
               
                        <div class="display-table">
                            <div>
                                <div></div>
                                <div>Annual</div>
                                <div>Daily</div>
                                <div>Monthly</div>
                            </div>
                            <div>
                                <div>Agreed Basic Care Fee: </div>
                                <div><input type="text" formControlName="basicCareAnnual"></div>
                                <div><input type="text" formControlName="basicCareDaily"></div>
                                <div><input type="text" formControlName="basicCareMonthly"></div>
                            </div>
                            <div>
                                <div>Agreed Income Tested Fee: </div>
                                <div><input type="text" formControlName="incomeTestedAnnual"></div>
                                <div><input type="text" formControlName="incomeTestedDaily"></div>
                                <div><input type="text" formControlName="incomeTestedMonthly"></div>
                            </div>
                            <div>
                                <div>Agreed Top Up: </div>
                                <div><input type="text" formControlName="topUpAnnual"></div>
                                <div><input type="text" formControlName="topUpDaily"></div>
                                <div><input type="text" formControlName="topUpMonthly"></div>
                            </div>
                        </div>
                        <div class="display-table">
                            <div>
                                <div>ADD Pro Rata Prev. Balance</div>
                                <div><input type="text" formControlName="proRata"></div>
                            </div>
                            <div>
                                <div>Total Package Value: </div>
                                <div><input type="text" formControlName="totalPackage"></div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="display-table">
                            <div>
                                <div>Base Quote</div>
                                <div><input type="text" formControlName="baseQuote"></div>
                            </div>
                            <div>
                                <div>Admin & Case Management: </div>
                                <div><input type="text" formControlName="admin"></div>
                            </div>
                            <div>
                                <div>Total Quote: </div>
                                <div><input type="text" formControlName="totalQuote"></div>
                            </div>
                            <div>
                                <div></div>
                                <div></div>
                            </div>
                            <div>
                                <div>Remaining Funds: </div>
                                <div><input type="text" formControlName="remainingFunds"></div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="display-table">
                    <div>
                        <div style="vertical-align: top;"><label for="" style="margin-top: 5px;">Base Quote</label></div>
                        <div><textarea name="" id="" cols="30" rows="5"></textarea></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="open = false">Ok</button>
    </div>
</clr-modal>

<document-edit-quote [open]="itemOpen" [data]="quoteDetailData" [program]="program"></document-edit-quote>
