
textarea{
    height:2rem;
}
.table-wrapper{
    display: inline-block;
    width: 100%;
}
.contrib{
    margin-bottom: 12px;
    background: #d2ffcb;
    border: 1px solid #dadada;
}
.form-inline{
    margin-bottom:10px;
}
.modal-body{
    max-height: 80vh;
}
.options-btns-group div{
    display: inline-block;
    margin: 10px 1rem 10px 0;
}
.options-btns-group div i {
    cursor:pointer;
}
.options-btns-group div i:hover{
    color:#2f8dc3;
}
datepicker{
    width:4.5rem;
}